@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin overflow-table($size) {
    height: $size;
    overflow-y: auto;
}


@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

// --> @include line-height(16px)
@mixin line-height($size) {
    // line-height: $size;
    line-height: calculateRem($size);
}

@mixin circle($size) {
    width: $size;
    height: $size;
    border-radius: #{ $size / 2 };
}

@mixin half-circle($height) {
    height: $height;
    border-radius: #{ $height / 2 };
}

// Bicolor "background color"
@mixin colors-bc($background, $color) {
    background-color: $background;
    color: $color;
}

// Tricolor "background color border-color"
@mixin colors-bcb($background, $color, $border-color: transparent) {
    background-color: $background;
    color: $color;
    border-color: $border-color;
}