.blank-page {
	height: 100%;
	background: $gray-300;
	position: relative;
	
	& .main-logo {
		position: absolute;
		top: 20px;
		left: 30px;
		width: 161px;
	}
	& .main-content {
		.logo {
			background: $white;
			margin-bottom: 3rem;
		}
		& .main-content-title {
			margin-bottom: 14px;
			& h2 {
				font-size: 1.5rem;
				line-height: 1.625rem;
				font-weight: bold;
				color: $black;
			}
		}
		& .main-content-desc {
			& p {
				font-size: 1.25rem;
				line-height: 1.375rem;
				font-weight: 300;
				color: $black;
				max-width: 440px;
			}
		}
		& .main-content-btn-access-my_account {
			& a {
				font-size: 1rem;
				@include line-height(17px);
				font-weight: bold;
			}
		}
		& .main-content-btn-create-new-session {
			& a {
				& img {
					margin-right: 6px;
				}
				& span {
					font-size: 1rem;
					@include line-height(17px);
					color: $black;
					font-weight: bold;
				}
			}
		}
		
	}
	& .main-header {
		background-color: $white;
		.square {
			min-width: 10rem;
			max-width: 10rem;
			text-align: center;
		}
		
		.main-header-logo img { max-height: 5rem; }
		h2 {
			@include font-size(20px);
			@include line-height(22px);
			font-weight: bold;
		}
		
		& .main-details {
			& .session-main-details__logo {
				margin-right: 22px;
			}
			& .main-details__infos {
				
				& div {
					margin-top: 5px;
				}
				& span,
				& button  {
					@include font-size(12px);
					@include line-height(13px);
				}
				& button {
					font-weight: bold;
				}
			}
		}
	}
	.blank-footer {
		position: fixed;
		bottom: 0;
		background-color: $modal-bg-col;
		width: 100%;
	}
}