.nq-stakeholders {
  ul li {
    .stakeholder-photo img {
      border-radius: 50%;
      background: #bebebe;
      width: 200px;
      height: 200px;
      max-width: 200px;
      object-fit: cover;
    }
  }
}

.nq-description {
  @include media-breakpoint-up(md) {
    width: 730px;
  }
  .nq-rte {
    b {
      font-weight: bold;
    }

    i {
      font-style: italic;
    }

    u {
      text-decoration: underline;
    }
  }
}
