<template>
  <div class="session-content-blocks">
    <div class="row">
      <div class="col-5">
        <div
          class="session-content-blocks__container"
        >
          <div class="searchbar-participants d-flex align-items-center mb-37">
            <img src="/build/static/icons/search.svg">
            <input
              id="participants-search"
              v-model="query"
              type="search"
              :placeholder="$translator.trans('Search for a member')"
              @input="updateMemberSearch"
            >
          </div>
          <available-member-group-list />
        </div>
      </div>
      <div class="col-1 container-add-participants text-center">
        <div @click="passSelectionAsMemberOfGroup">
          <img src="/build/static/icons/green-round-whith-chevron.svg">
        </div>
      </div>
      <div class="col-6">
        <div
          id="session-content-blocks-added-user"
          class="session-content-blocks__container"
        >
          <div class="title-selected-participants d-flex align-items-center mb-37">
            <h3 class="me-2">
              {{ $translator.trans( 'Selected members' ) }}
            </h3>
            <div
              :class="roundSize"
              class="d-flex align-items-center justify-content-center"
            >
              <span id="number-selected-timezones">{{ memberOfGroup.length }}</span>
            </div>
          </div>
          <div class="table-scroll-container">
            <members-group-list />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import _                    from 'lodash'
import { mapState }         from 'vuex'
import AvailableMemberGroupList from './AvailableMemberGroupList.vue'
import MembersGroupList from './MembersGroupList.vue'

export default {
  name:       'AdditionalMembersSelector',
  components: {
    MembersGroupList,
    AvailableMemberGroupList
  },
  props:      {
    groupParticipant: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      query: ''
    }
  },
  computed: {
    ...mapState('membersGroupSelector', ['memberOfGroup', 'users']),
    roundSize () {
      if (this.groupParticipant.users.length <= 99) {
        return 'ten'
      } else if (this.groupParticipant.users.length <= 999) {
        return 'hundred'
      } else {
        return 'thousand'
      }
    }
  },
  mounted () {
    this.$store.commit('membersGroupSelector/setMemberOfGroup', this.groupParticipant.users)
  },
  methods:  {
    updateMemberSearch: _.debounce(function () {
      this.$store.commit('membersGroupSelector/setQuery', this.query)
    }),
    passSelectionAsMemberOfGroup () {
      this.$store.dispatch('membersGroupSelector/passSelectionAsMemberOfGroup')
    }
  }
}
</script>

<style scoped>
.searchbar-participants {
  margin-top:    1px;
  margin-bottom: 31px;
}
</style>
