<template>
  <div style="height: 300px">
    <recycle-scroller
      class="vue-scroller"
      :items="usersToSelected"
      :item-size="58"
      :key-field="'value'"
    >
      <template #before>
        <div class="vue-scroller-header d-flex justify-content-around">
          <div class="vue-scroller-header-element">
            {{ $translator.trans('Full name') }}
          </div>
          <div class="vue-scroller-header-element">
            {{ $translator.trans('Email') }}
          </div>
        </div>
      </template>
      <template #default="{ item, index }">
        <available-member-group-list-item
          :user="item"
          :index="index"
          :is-selected="userInPartOfSelection(item)"
          @click="addOrRemoveUserInSelection"
        />
      </template>
    </recycle-scroller>
  </div>
</template>

<script>
import _                        from 'lodash'
import { mapState }             from 'vuex'
import { getMemberMatchWithSearchQuery } from '../../utils/group-members-selector.utils'
import AvailableMemberGroupListItem from './AvailableMemberGroupListItem'

export default {
  name:       'AvailableMemberGroupList',
  components: { AvailableMemberGroupListItem },
  computed:   {
    ...mapState('membersGroupSelector', ['memberOfGroup', 'users', 'query', 'currentSelection']),
    usersToSelected () {
      const receivedData = this.users
      const userDataWithoutMemberOfGroup = Object.keys(receivedData).map(key => ({
        email: receivedData[key].email,
        fullName: receivedData[key].fullName,
        value: key
      }))

      // Filter users who are not in memberOfGroup
      const filteredUsers = userDataWithoutMemberOfGroup.filter(user =>
        !this.memberOfGroup.some(member => member.email === user.email)
      )

      return getMemberMatchWithSearchQuery(filteredUsers, this.query)
    }
  },
  methods:    {
    addOrRemoveUserInSelection (user) {
      if (this.currentSelection.indexOf(user) >= 0) {
        this.currentSelection.splice(this.currentSelection.indexOf(user), 1)
      } else {
        this.currentSelection.push(user)
      }
    },
    userInPartOfSelection (user) {
      return _.find(this.currentSelection, function (userSelection) {
        return userSelection === user
      }) !== undefined
    }
  }
}
</script>

<style scoped>
.vue-scroller {
  height: 100%;
}

.vue-scroller-header {
  padding:     18px 20px;
  font-size:   0.875rem;
  line-height: 1rem;
  color:       rgba(66, 66, 72, 0.45);
  font-weight: bold;
}

.vue-scroller-header-element {
  flex: 1 1 0px;
}
</style>
