<template>
  <div>
    <div class="page-title">
      <h1>{{ $translator.trans('Groups') }}</h1>
    </div>
    <div class="col-md-12 mb-5">
      <em>
        {{ $translator.trans('Find here all the groups who are already present on your account. You can modify their information or delete them. You can also create new ones.') }}
      </em>
      <br>
    </div>
    <alert
      v-if="messageAlert"
      :text="$translator.trans(messageAlert)"
      :type="typeAlert"
    />
    <div class="d-flex justify-content-between align-content-center">
      <div class="page-options-bar">
        <div class="d-flex part-1">
          <div class="page-options-bar__item pr">
            <div class="page-options-bar__item__search with-result">
              <label for="searchInParticipant">
                <img src="/build/static/icons/search.svg">
              </label>
              <input
                id="searchInParticipant"
                v-model="globalGroupSearchInput"
                type="search"
                name="searchInParticipant"
                :placeholder="$translator.trans('Search for group.s')"
                @input="searchGroupsUpdated"
              >
              <div class="search-sessions-counter">
                <b>{{ countResult }}</b>
                &nbsp;&nbsp;{{ $translator.trans('found group.s') }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-group export-dropdown">
        <div
          class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
          role="button"
          data-bs-auto-close="outside"
          data-bs-toggle="modal"
          data-bs-target="#newGroupParticipantModal"
        >
          <img
            src="/build/static/icons/plus.svg"
            alt=""
          >
          <span class="d-sm-none d-md-block ms-2">{{ $translator.trans('Add new group') }}</span>
        </div>
      </div>
      <new-group-participant-modal
        :is-super-admin="isSuperAdmin"
        :clients="clients"
        @new-group-added="newGroupAdded"
      />
    </div>
    <section style="margin-top: 50px">
      <div class="table-participants data-list">
        <div class="data-list__header">
          <div class="data-list__header__item">
            {{ $translator.trans('Name') }}
          </div>
          <div
            v-if="isSuperAdmin"
            class="data-list__header__item"
          >
            {{ $translator.trans('Account') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Added on') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Last modified date') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Active/Inactive') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Number of participants') }}
          </div>
          <div class="data-list__header__item option" />
        </div>
        <div class="table-content">
          <group-list-item
            v-for="group in allGroups"
            :key="group.id"
            :group="group"
            :is-super-admin="isSuperAdmin"
            @error-delete="showErrorDelete"
            @group-deleted="groupDeleted"
          />
        </div>
        <section
          v-if="processing"
          class="d-flex justify-content-center align-items-center"
        >
          <loader class="mb-4 pb-4" />
        </section>
        <span
          v-else-if="noMoreResult"
          class="d-flex justify-content-end align-items-center text-muted"
        >
          {{ $translator.trans('End of result') }}
        </span>
      </div>
    </section>
  </div>
</template>

<script>
import Alert                    from '../ui/Alert.vue'
import Loader                   from '../ui/Loader'
import GroupListItem            from './GroupListItem.vue'
import _                        from 'lodash'
import NewGroupParticipantModal from './NewGroupParticipantModal.vue'

export default {
  components: { Alert, NewGroupParticipantModal, GroupListItem, Loader },
  props: {
    preSearch: {
      type: String,
      required: false,
      default: ''
    },
    isSuperAdmin: {
      type: Boolean,
      required: true
    },
    clients: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      globalGroupSearchInput: this.preSearch,
      allGroups: {},
      processing: false,
      countResult: 0,
      lastResult: 0,
      noMoreResult: false,
      messageAlert: null,
      typeAlert: null
    }
  },
  mounted () {
    this.newSearchGroups()
    window.onscroll = _.debounce(() => {
      const windowHeight = Math.ceil(document.documentElement.scrollTop + window.innerHeight)
      const offsetHeight  = document.documentElement.offsetHeight
      const bottomOfWindow = windowHeight >= offsetHeight

      if (bottomOfWindow && !this.noMoreResult) {
        this.fetchNewGroups()
      }
    }, 300)
  },
  methods: {
    newGroupAdded () {
      this.newSearchGroups()
      this.typeAlert = 'success'
      this.messageAlert = 'Group added successfully'
    },
    groupDeleted () {
      this.newSearchGroups()
      this.typeAlert = 'success'
      this.messageAlert = 'Group deleted successfully'
    },
    showErrorDelete (error) {
      this.typeAlert = 'danger'
      this.messageAlert = error
    },
    searchGroupsUpdated: _.debounce(function () {
      this.newSearchGroups()
    }, 300),
    newSearchGroups () {
      this.processing = true
      this.$axios.get(this.$routing.generate(
        '_fetch_group_list',
        { search: this.globalGroupSearchInput, firstResult: 0, needCount: 1 }
      )).then((response) => {
        this.allGroups = response.data.groups
        this.countResult = response.data.count
        this.lastResult = this.allGroups.length
        this.noMoreResult = false
        this.processing = false
      }).catch(() => {
        this.processing = false
      })
    },
    fetchNewGroups () {
      this.processing = true
      this.$axios.get(this.$routing.generate(
        '_fetch_group_list',
        { search: this.globalGroupSearchInput, firstResult: this.lastResult, needCount: 0 }
      )).then((response) => {
        if (response.data.groups.length === 0) {
          this.noMoreResult = true
        }
        this.allGroups = [...this.allGroups, ...response.data.groups]
        this.lastResult = this.allGroups.length
        this.processing = false
      }).catch(() => {
        this.processing = false
      })
    }
  }
}
</script>

<style scoped lang="css">
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
</style>
