<template>
  <div>
    <div class="wrapper-header d-flex align-items-start justify-content-between">
      <div class="wrapper-header__infos">
        <div class="wrapper-header__infos__title d-flex align-items-center">
          <h1>{{ group.name }}</h1>
        </div>
        <p class="wrapper-header__infos__desc" />
        <div class="wrapper-header__infos__updated">
          {{
            $translator.trans('Created on %created_at% - Modified on %updated_at%', {
              'created_at': humanizeCreatedDate,
              'updated_at': humanizeUpdatedDate
            })
          }}
        </div>
      </div>
      <div class="wrapper-header__actions d-flex flex-column align-items-end justify-content-between">
        <div class="wrapper-header__actions__save-and-more d-flex align-items-center">
          <submit-button
            class="primary-btn"
            :processing="processing"
            @click="saveGroupParticipant"
          >
            <img
              alt="check-white image"
              src="/build/static/icons/check-white.svg"
              class="me-2"
            >
            {{ $translator.trans('Save') }}
          </submit-button>
        </div>
      </div>
    </div>
    <alert
      v-if="messageContent"
      :text="$translator.trans(messageContent)"
      :type="messageType"
    />
    <div class="col-4 mb-4">
      <h3 class="mb-4">
        {{ $translator.trans('General') }}
      </h3>
      <div class="mb-3 form__item d-flex justify-content-between align-items-center">
        <div class="col-8">
          <label
            for="name"
            class="form-label required"
          >{{ $translator.trans('Name') }}</label>
          <input
            v-model="group.name"
            name="name"
            required="required"
            class="form-control"
          >
          <p
            v-if="errorMessage"
            class="text-danger"
          >
            {{ $translator.trans('Name is a required field') }}
          </p>
        </div>
        <div class="col-2">
          <label
            for="group"
            class="form-label required"
          >{{ $translator.trans('Active') }}</label>
          <div class="search-switch">
            <label
              class="switch"
              for="switch-group"
            >
              <input
                id="switch-group"
                v-model="group.active"
                type="checkbox"
                name="switch-group"
              >
              <span class="slider round" />
            </label>
          </div>
        </div>
      </div>
      <div
        v-if="Object.keys(clients).length > 1 && isSuperAdmin"
        class="mb-3 form__item admin-text-color"
      >
        <label
          for="client"
          class="form-label required"
        >{{ $translator.trans('Account') }}</label>
        <select
          v-model="group.client"
          name="client"
          required="required"
          class="form-control admin-border-color"
        >
          <option
            v-for="client in clients"
            :key="client.id"
            :value="client"
          >
            {{ client.name }}
          </option>
        </select>
      </div>
      <!--  <div class="mb-3 form__item">
        <label
          for="client"
          class="form-label required"
        >{{ $translator.trans('Parent') }}</label>
        <select
          v-model="group.parent"
          name="client"
          required="required"
          class="form-control"
        >
          <option
            :value="null"
          />
          <option
            v-for="groupParent in filteredGroups"
            :key="groupParent.id"
            :value="groupParent"
          >
            {{ groupParent.name }}
          </option>
        </select>
      </div>-->
    </div>
    <registered-participant-group-list :group-participant="groupParticipant" />
  </div>
</template>

<script>

import Alert         from '../ui/Alert.vue'
import SubmitButton  from '../ui/SubmitButton.vue'
import RegisteredParticipantGroupList from './RegisteredParticipantGroupList.vue'

export default {
  name: 'GroupParticipantEdit',
  components: {
    RegisteredParticipantGroupList,
    Alert,
    SubmitButton
  },
  props: {
    groupParticipant: {
      type: Object,
      required: true
    },
    clients: {
      type: Array,
      required: true
    },
    allUsers: {
      type: Array,
      required: true
    },
    isSuperAdmin: {
      type: Boolean,
      required: true
    },
    allGroupsClient: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      processing: false,
      messageContent: null,
      messageType: null,
      group: this.groupParticipant,
      errorMessage: null
    }
  },
  computed: {
    humanizeCreatedDate () {
      return this.$options.filters.formatDate(this.group.createdAt, 'datetime_med')
    },
    humanizeUpdatedDate () {
      return this.$options.filters.formatDate(this.group.lastUpdate, 'datetime_med')
    },
    filteredGroups () {
      return this.allGroupsClient.filter(group => group.id !== this.group.id)
    }
  },
  mounted () {
    this.$store.commit('membersGroupSelector/setMemberOfGroup', this.groupParticipant.users)
    this.$store.commit('membersGroupSelector/setUsers', this.allUsers)
  },
  methods: {
    saveGroupParticipant () {
      if (this.validateFiled()) {
        return
      }
      const groupInformation = {
        name: this.group.name,
        client: this.group.client.id,
        parent: this.group.parent?.id,
        active: this.group.active
      }
      this.processing = true
      this.$axios.post(
        this.$routing.generate('_update_group_participant', { id: this.groupParticipant.id }),
        groupInformation
      )
        .then(response => {
          this.messageContent = response.data.message
          this.messageType = 'success'
          this.processing = false
        })
        .catch((error) => {
          this.messageContent = error.response.data.message.text
          this.messageType = 'danger'
          this.processing = false
        })
    },
    validateFiled () {
      this.errorMessage = !this.group.name || this.group.name.trim() === ''
      return this.errorMessage
    }
  }
}
</script>

<style scoped lang="css">
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
</style>
