<template>
  <div>
    <div class="data-list__row">
      <div
        class="row__data"
        role="button"
        @click="goToGroup"
      >
        <span>{{ group.name }}</span>
      </div>
      <div
        v-if="isSuperAdmin"
        class="row__data"
        role="button"
        @click="goToGroup"
      >
        <span>{{ group.client.name }}</span>
      </div>
      <div
        class="row__data"
        role="button"
        @click="goToGroup"
      >
        <span>{{ group.createdAt|formatDate('datetime_med') }}</span>
      </div>
      <div
        class="row__data"
        role="button"
        @click="goToGroup"
      >
        <span>{{ group.lastUpdate|formatDate('datetime_med') }}</span>
      </div>
      <div
        class="row__data"
        role="button"
        @click="goToGroup"
      >
        <div class="badge bg-indicator">
          {{ humanizeStatus( group.active ) }}
        </div>
      </div>
      <div
        class="row__data"
        role="button"
        @click="goToGroup"
      >
        <span>{{ group.users.length }}</span>
      </div>

      <div class="row__data option">
        <div class="drop-menu-container">
          <div class="icn-option">
            <img src="/build/static/icons/options-white.svg">
          </div>
          <ul class="dropdown-menu-inner">
            <li>
              <a
                class="dropdown-item"
                role="button"
                @click="goToGroup"
              >
                <img
                  src="/build/static/icons/edit-small-green.svg"
                  class="me-2"
                >
                <b>{{ $translator.trans('Edit') }}</b>
              </a>
            </li>
            <li>
              <loader v-if="processing" />
              <a
                v-else
                class="dropdown-item"
                role="button"
                @click="deleteGroup"
              >
                <img
                  src="/build/static/icons/trash-small.svg"
                  class="me-2"
                >
                <b>{{ $translator.trans('Delete') }}</b>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import Loader from '../ui/Loader.vue'

export default {
  name: 'GroupListItem',
  components: { Loader },
  props: {
    group: {
      type: Object,
      required: true
    },
    isSuperAdmin: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  data () {
    return {
      processing: false
    }
  },
  methods: {
    humanizeStatus (status) {
      return status ? this.$translator.trans('Active') : this.$translator.trans('Inactive')
    },
    deleteGroup () {
      const route = this.$routing.generate('_group_delete', { id: this.group.id })
      this.processing = true
      this.$axios
        .post(route)
        .then(() => {
          this.processing = false
          this.$emit('group-deleted')
        })
        .catch((error) => {
          this.$emit('error-delete', error.response.data.message.text)
        })
        .finally(() => {
          this.processing = false
        })
    },
    goToGroup () {
      window.location.href = this.$routing.generate('_group_edit', { id: this.group.id })
    }
  }
}
</script>
