<template>
  <avatar
    :username="userName"
    :src="profilePicturePath"
    :size="size"
    :custom-style="customStyle"
    background-color="white"
    color="#212529"
  />
</template>

<script>
import Avatar from 'vue-avatar'

export default {
  components: {
    Avatar
  },
  props: {
    userName: {
      type: String,
      required: true
    },
    profilePicturePath: {
      type: String,
      required: false,
      default: () => null
    },
    size: {
      type: Number,
      required: false,
      default: () => 50
    }
  },
  computed: {
    customStyle () {
      return this.profilePicturePath
        ? {}
        : {
            border: '1px solid #80BC00'
          }
    }
  }
}
</script>

<style scoped>
  div {
    cursor: pointer;
  }
  .vue-avatar--wrapper {
    font: 16px / 50px "Nunito", sans-serif !important;
    font-weight: 600 !important;
  }
</style>
