<template>
  <table class="table-selected-participants">
    <thead>
      <tr>
        <th data-field="fullName">
          {{ $translator.trans( 'Full name' ) }}
        </th>
        <th data-field="email">
          {{ $translator.trans( 'Email' ) }}
        </th>
        <th data-field="email">
          {{ $translator.trans( 'Action' ) }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="(user) in memberOfGroup"
        :key="user.id"
      >
        <td>
          {{ user.fullName }}
        </td>
        <td>
          {{ user.email }}
        </td>
        <td>
          <div class="btn-unsubscribe">
            <img
              src="/build/static/icons/user-delete.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              :data-bs-original-title="$translator.trans('Unsubscribe')"
              :aria-label="$translator.trans('Unsubscribe')"
              width="15"
              alt=""
              @click="removeMember(user)"
            >
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>

import { mapState } from 'vuex'

export default {
  name:       'MembersGroupList',
  computed: {
    ...mapState('membersGroupSelector', ['loaded', 'memberOfGroup'])
  },
  methods: {
    removeMember (user) {
      const index = this.memberOfGroup.findIndex(u => u.id === user.id)
      if (index !== -1) {
        this.memberOfGroup.splice(index, 1)
      }
    }
  }
}
</script>
