<template>
  <div>
    <div
      v-for="(microsoftTeamsConfig, index) in configurationHolders"
      :key="microsoftTeamsConfig.id"
    >
      <div class="row">
        <div class="col-5">
          <div class="form-check">
            <input
              :id="'user-is-licence-for-microsoft-teams-' + microsoftTeamsConfig.id"
              type="checkbox"
              class="form-check-input check-microsoft-teams"
              :checked="userEmailIsALicence(index)"
              @input="addRemoveLicence(index, $event)"
            >
            <label
              :for="'user-is-licence-for-microsoft-teams-' + microsoftTeamsConfig.id"
              class="form-check-label"
            >
              {{ $translator.trans( 'Organizer for %client% account (%domain%)', {
                client: microsoftTeamsConfig.client.name,
                domain: microsoftTeamsConfig.domain
              } ) }}
            </label>
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="right"
              data-bs-toggle="tooltip"
              :title="$translator.trans('Every day at 11 p.m., the system checks the participants who have an account in your MS Teams organization to assign them an -Organizer- role in Mylivesession Manager')"
            >
          </div>
        </div>
        <div class="col-4" />
        <div class="col-3" />
      </div>
      <div
        v-if="userEmailIsALicence(index)"
        class="ms-3"
      >
        <div class="row">
          <div class="col-5">
            <div

              class="form-check"
            >
              <input
                :id="'user-is-licence-shared-' + microsoftTeamsConfig.id"
                v-model="microsoftTeamsConfig.licences[user.email].shared"
                type="checkbox"
                class="form-check-input check-microsoft-teams"
              >
              <label
                :for="'user-is-licence-shared-' + microsoftTeamsConfig.id"
                class="form-check-label"
              >
                {{ $translator.trans( 'Shared license' ) }}
              </label>
              <img
                src="/build/static/icons/question.svg"
                data-bs-placement="right"
                data-bs-toggle="tooltip"
                :title="$translator.trans('Shared licenses are used when no animator is selected or when an animator does not have an account on MS Teams.')"
              >
            </div>
          </div>
          <div class="col-7">
            <div
              class="mb-3 form__item"
            >
              <input
                :id="'user-is-licence-password-' + microsoftTeamsConfig.id"
                v-model="microsoftTeamsConfig.licences[user.email].password"
                name="'user-is-licence-password-' + microsoftTeamsConfig.id"
                :type="microsoftTeamsConfig.licences[user.email].shared ? 'text' : 'hidden'"
                class="form-control"
              >
              <label
                v-if="microsoftTeamsConfig.licences[user.email].shared"
                class="form-label"
                :for="'user-is-licence-password-' + microsoftTeamsConfig.id"
              >{{ $translator.trans( 'License password' ) }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mt-3">
      <input
        type="submit"
        class="btn btn-primary mb-3"
        name="save"
        :value="$translator.trans('Save')"
        @click="saveMicrosoftTeamsLicence"
      >
    </div>
  </div>
</template>

<script>

import {
  setIsLicenceMicrosoftTeams
} from '../../utils/microsoft-teams-configuration-holder.utils'

export default {
  props: {
    microsoftTeamsConfigurationHolders: {
      type: Array,
      required: false,
      default: () => []
    },
    user: {
      type: Object,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  data () {
    return { configurationHolders: this.microsoftTeamsConfigurationHolders }
  },
  methods: {
    addRemoveLicence (indexConfigurationHolder, event) {
      if (this.user.email in this.configurationHolders[indexConfigurationHolder].licences) {
        if (!event.target.checked) {
          delete this.configurationHolders[indexConfigurationHolder].licences[this.user.email]
        }
      } else {
        if (event.target.checked) {
          this.configurationHolders[indexConfigurationHolder].licences[this.user.email] = { private:'true', shared: 'false', password:'', user_id: this.user.id }
        }
      }
      this.configurationHolders[indexConfigurationHolder].licences = Object.assign({}, this.configurationHolders[indexConfigurationHolder].licences)
    },
    userEmailIsALicence (index) {
      return this.user.email in this.configurationHolders[index].licences
    },
    saveMicrosoftTeamsLicence (event) {
      const formData = new FormData()

      formData.append('microsoftTeamsLicences', JSON.stringify(this.configurationHolders))

      setIsLicenceMicrosoftTeams(formData)
        .then(() => window.location.reload())
        .catch(() => this.addFormError('An error occured, user not updated'))
    }
  }
}
</script>
