<template>
  <div>
    <div
      v-for="(microsoftTeamsEventConfig, index) in configurationHolders"
      :key="microsoftTeamsEventConfig.id"
    >
      <div class="row">
        <div class="col-5">
          <div class="form-check">
            <input
              :id="'user-is-licence-for-microsoft-teams-event-' + microsoftTeamsEventConfig.id"
              type="checkbox"
              class="form-check-input check-microsoft-teams-event"
              :checked="userEmailIsALicence(index)"
              @input="addRemoveLicence(index, $event)"
            >
            <label
              :for="'user-is-licence-for-microsoft-teams-event-' + microsoftTeamsEventConfig.id"
              class="form-check-label"
            >
              {{ $translator.trans( 'Organizer for %client% account (%domain%)', {
                client: microsoftTeamsEventConfig.client.name,
                domain: microsoftTeamsEventConfig.domain
              } ) }}
            </label>
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="right"
              data-bs-toggle="tooltip"
              :title="$translator.trans('Every day at 11 p.m., the system checks the participants who have an account in your MS Teams organization to assign them an -Organizer- role in Mylivesession Manager')"
            >
          </div>
        </div>
        <div class="col-4" />
        <div class="col-3" />
      </div>

      <div
        v-if="userEmailIsALicence(index)"
        class="ms-3"
      >
        <div class="row">
          <div class="col-5">
            <div
              class="form-check"
            >
              <input
                :id="'user-is-licence-shared-' + microsoftTeamsEventConfig.id"
                v-model="microsoftTeamsEventConfig.licences[user.email].shared"
                type="checkbox"
                class="form-check-input check-microsoft-teams-event"
                @change="changeLicenceNature('shared', index)"
              >
              <label
                :for="'user-is-licence-shared-' + microsoftTeamsEventConfig.id"
                class="form-check-label"
              >
                {{ $translator.trans( 'Shared license' ) }}
              </label>
              <img
                src="/build/static/icons/question.svg"
                data-bs-placement="right"
                data-bs-toggle="tooltip"
                :title="$translator.trans('Shared licenses are used when no animator is selected or when an animator does not have an account on MS Teams.')"
              >
            </div>
          </div>
          <div class="col-7">
            <div
              class="mb-3 form__item"
            >
              <input
                :id="'user-is-licence-password-' + microsoftTeamsEventConfig.id"
                v-model="microsoftTeamsEventConfig.licences[user.email].password"
                :name="'user-is-licence-password-' + microsoftTeamsEventConfig.id"
                :type="microsoftTeamsEventConfig.licences[user.email].shared ? 'text' : 'hidden'"
                class="form-control"
              >
              <label
                v-if="microsoftTeamsEventConfig.licences[user.email].shared"
                class="form-label"
                :for="'user-is-licence-password-' + microsoftTeamsEventConfig.id"
              >{{ $translator.trans( 'License password' ) }}</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <div
              class="form-check"
            >
              <input
                :id="'user-is-licence-attributed-' + microsoftTeamsEventConfig.id"
                v-model="microsoftTeamsEventConfig.licences[user.email].attributed"
                type="checkbox"
                class="form-check-input check-microsoft-teams-event"
                @change="changeLicenceNature('attributed', index)"
              >
              <label
                :for="'user-is-licence-attributed-' + microsoftTeamsEventConfig.id"
                class="form-check-label"
              >
                {{ $translator.trans( 'Attributed license' ) }}
              </label>
              <tooltip
                :text="$translator.trans('To optimize the organization of Teams sessions via Mylivesession Manager, please enter the e-mail address of the Microsoft Teams account, if different from the main e-mail address. This address will be used to schedule sessions when this participant is designated as the moderator. Important point: in Teams, only one person can be the moderator and organizer of the session. It is this person who will have the privilege of opening the session, even in the presence of other registered moderators.')"
              />
            </div>
          </div>
          <div class="col-4">
            <div
              class="mb-3 form__item"
            >
              <input
                :id="'user-is-licence-attributed-email-' + microsoftTeamsEventConfig.id"
                v-model="microsoftTeamsEventConfig.licences[user.email].licenceAttributed"
                :name="'user-is-licence-attributed-email-' + microsoftTeamsEventConfig.id"
                :type="microsoftTeamsEventConfig.licences[user.email].attributed ? 'text' : 'hidden'"
                class="form-control"
              >
              <label
                v-if="microsoftTeamsEventConfig.licences[user.email].attributed"
                class="form-label"
                :for="'user-is-licence-attributed-email-' + microsoftTeamsEventConfig.id"
              >{{ $translator.trans( 'License attributed email' ) }}</label>
            </div>
          </div>
          <div class="col-3">
            <div
              class="mb-3 form__item"
            >
              <input
                :id="'user-is-licence-attributed-password-' + microsoftTeamsEventConfig.id"
                v-model="microsoftTeamsEventConfig.licences[user.email].passwordAttributed"
                :name="'user-is-licence-attributed-password-' + microsoftTeamsEventConfig.id"
                :type="microsoftTeamsEventConfig.licences[user.email].attributed ? 'text' : 'hidden'"
                class="form-control"
              >
              <label
                v-if="microsoftTeamsEventConfig.licences[user.email].attributed"
                class="form-label"
                :for="'user-is-licence-attributed-password-' + microsoftTeamsEventConfig.id"
              >{{ $translator.trans( 'License attributed password' ) }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mt-3">
      <input
        type="submit"
        class="btn btn-primary mb-3"
        name="save"
        :value="$translator.trans('Save')"
        @click="saveMicrosoftTeamsEventLicence"
      >
    </div>
  </div>
</template>

<script>

import {
  setIsLicenceMicrosoftTeamsEvent
} from '../../utils/microsoft-teams-event-configuration-holder.utils'
import Tooltip from '../ui/Tooltip.vue'

export default {
  components: { Tooltip },
  props: {
    microsoftTeamsEventConfigurationHolders: {
      type: Array,
      required: false,
      default: () => []
    },
    user: {
      type: Object,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  data () {
    return { configurationHolders: this.microsoftTeamsEventConfigurationHolders }
  },
  methods: {
    addRemoveLicence (indexConfigurationHolder, event) {
      if (this.user.email in this.configurationHolders[indexConfigurationHolder].licences) {
        if (!event.target.checked) {
          delete this.configurationHolders[indexConfigurationHolder].licences[this.user.email]
        }
      } else {
        if (event.target.checked) {
          this.configurationHolders[indexConfigurationHolder].licences[this.user.email] = { private: true, shared: false, attributed: false, password:'', licenceAttributed: '', passwordAttributed: '', user_id: this.user.id }
        }
      }
      this.configurationHolders[indexConfigurationHolder].licences = Object.assign({}, this.configurationHolders[indexConfigurationHolder].licences)
    },
    userEmailIsALicence (index) {
      return this.user.email in this.configurationHolders[index].licences
    },
    saveMicrosoftTeamsEventLicence (event) {
      const formData = new FormData()

      formData.append('microsoftTeamsEventLicences', JSON.stringify(this.configurationHolders))

      setIsLicenceMicrosoftTeamsEvent(formData)
        .then(() => window.location.reload())
        .catch(() => this.addFormError('An error occured, user not updated'))
    },
    changeLicenceNature (nature, index) {
      if (nature === 'attributed') {
        if (this.configurationHolders[index].licences[this.user.email].attributed === true) {
          this.configurationHolders[index].licences[this.user.email].shared = false
          this.configurationHolders[index].licences[this.user.email].password = ''
        } else {
          this.configurationHolders[index].licences[this.user.email].licenceAttributed = ''
          this.configurationHolders[index].licences[this.user.email].passwordAttributed = ''
        }
      } else { // nature === 'shared'
        if (this.configurationHolders[index].licences[this.user.email].shared === true) {
          this.configurationHolders[index].licences[this.user.email].attributed = false
          this.configurationHolders[index].licences[this.user.email].licenceAttributed = ''
          this.configurationHolders[index].licences[this.user.email].passwordAttributed = ''
        } else {
          this.configurationHolders[index].licences[this.user.email].password = ''
        }
      }
    }
  }
}
</script>
