<template>
  <div
    id="newGroupParticipantModal"
    ref="newGroupParticipantModal"
    aria-hidden="true"
    class="modal fade show text-black"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header px-4 py-3">
          <h5
            id="exampleModalLabel"
            class="modal-title"
          >
            {{ $translator.trans( 'Add new group' ) }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div
          class="modal-body"
          style="text-align: left;"
        >
          <alert
            v-if="error"
            type="danger"
            :text="$translator.trans(error)"
          />
          <div class="col">
            <div class="mb-3 form__item">
              <label
                for="name"
                class="form-label required"
              >{{ $translator.trans('Name') }}</label>
              <input
                v-model="group.name"
                name="name"
                required="required"
                class="form-control"
              >
              <p
                v-if="errorMessage"
                class="text-danger"
              >
                {{ $translator.trans('Name is a required field') }}
              </p>
            </div>
            <div
              v-if="Object.keys(clients).length > 1 && isSuperAdmin"
              class="mb-3 form__item admin-text-color"
            >
              <label
                for="client"
                class="form-label required"
              >{{ $translator.trans('Account') }}</label>
              <select
                v-model="group.client"
                name="client"
                required="required"
                class="form-control admin-border-color "
              >
                <option
                  v-for="client in clients"
                  :key="client.id"
                  :value="client"
                >
                  {{ client.name }}
                </option>
              </select>
            </div>
            <!--            <div class="mb-3 form__item">
              <label
                for="client"
                class="form-label required"
              >{{ $translator.trans('Parent') }}</label>
              <select
                v-model="group.parent"
                name="client"
                required="required"
                class="form-control"
              >
                <option
                  :value="null"
                />
                <option
                  v-for="groupParent in filteredGroups"
                  :key="groupParent.id"
                  :value="groupParent"
                >
                  {{ groupParent.name }}
                </option>
              </select>
            </div>-->
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="d-flex btn btn-light"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            {{ $translator.trans('Cancel') }}
          </button>
          <div class="d-flex justify-content-end">
            <submit-button
              :processing="processing"
              @click="addNewGroup"
            >
              {{ $translator.trans( 'Add' ) }}
            </submit-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { mapState }          from 'vuex'
import Alert from '../ui/Alert.vue'
import SubmitButton from '../ui/SubmitButton.vue'

export default {
  name: 'NewGroupParticipantModal',
  components: { SubmitButton, Alert },
  props: {
    isSuperAdmin: {
      type: Boolean,
      required: true
    },
    clients: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      processing: false,
      error: null,
      errorMessage: null,
      modal: null,
      group: {
        name: '',
        active: true,
        parent: null,
        client: null
      }
    }
  },
  computed: {
    ...mapState('membersGroupSelector', ['memberOfGroup', 'users', 'query'])
  },
  mounted () {
    this.modal = this.$bootstrap.Modal.getOrCreateInstance(this.$refs.newGroupParticipantModal)
  },
  methods: {
    addNewGroup () {
      if (!this.group.name.trim()) {
        this.errorMessage = 'The name field is required.'
        return
      }
      this.errorMessage = null
      const route = this.$routing.generate('_new_group_participant')
      const groupData = this.group
      this.processing = true
      this.$axios
        .post(route, { groupData: groupData })
        .then(() => {
          this.processing = false
          this.error = null
          this.group = {
            name: '',
            active: true,
            parent: null,
            client: null
          }
          this.$emit('new-group-added')
          this.modal.hide()
        })
        .catch((error) => {
          this.error = error.response.data.message.text
        })
        .finally(() => {
          this.processing = false
        })
    }
  }
}
</script>

<style scoped>
input[name=switch-active-state] {
  height: auto !important;
}
</style>
