<template>
  <div class="pt-5">
    <div
      class="row pb-5"
    >
      <div class="col-12">
        {{ $translator.trans('To help you manage your activity, you can personalize your emails at any time. Here is the list of topics and triggers') }}:
      </div>
    </div>
    <div
      class="row pb-5"
    >
      <div
        class="form-check col-12 pb-3"
        style="margin-left: 10px;"
      >
        <input
          id="onlyForMySessions"
          v-model="preferencesData.EmailOnlyForMySessions"
          class="form-check-input"
          type="checkbox"
        >
        <label
          class="form-check-label pe-lg-1"
          for="onlyForMySessions"
        ><strong>{{ $translator.trans('Enable notification emails for my sessions only') }}</strong></label>
        <tooltip :text="$translator.trans('Only sessions that I have created or modified will be notified by email.')" />
      </div>
      <div class="col-9">
        {{ $translator.trans('There is no animator planned at a session') }}<br>
        <i class="text-muted">{{ $translator.trans('Every day at 5am, all sessions for the next %nbdays% days are checked to identify if a session has no animator.', {nbdays: preferencesDataClient.NotificationSessionWithoutAnimatorOptionTimeBefore}) }}</i>
      </div>
      <div class="col-3">
        <div class="search-switch ">
          <label
            class="switch"
            :for="emailSessionWithoutAnimator"
          >
            <input
              :id="emailSessionWithoutAnimator"
              v-model="preferencesData.EmailSessionWithoutAnimator"
              :disabled="!preferencesDataClient.NotificationSessionWithoutAnimator"
              type="checkbox"
              :name="emailSessionWithoutAnimator"
              class="switch-preference"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div
      class="row pb-5"
    >
      <div class="col-9">
        {{ $translator.trans('There is no animator with the host privilege') }}<br>
        <i class="text-muted">{{ $translator.trans('Every day at 5am, all sessions of the next %nbdays% are checked if they don\'t have an animator with the host privilege.', {nbdays: preferencesDataClient.NotificationNoAnimatorWithHostOnSessionOptionTimeBefore}) }}</i>
      </div>
      <div class="col-3">
        <div class="search-switch ">
          <label
            class="switch"
            :for="emailNoAnimatorWithHostOnSession"
          >
            <input
              :id="emailNoAnimatorWithHostOnSession"
              v-model="preferencesData.EmailNoAnimatorWithHostOnSession"
              type="checkbox"
              :disabled="!preferencesDataClient.NotificationNoAnimatorWithHostOnSession"
              :name="emailNoAnimatorWithHostOnSession"
              class="switch-preference"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div
      class="row pb-5"
    >
      <div class="col-9">
        {{ $translator.trans('There is no participant planned on a session') }}<br>
        <i class="text-muted">{{ $translator.trans('Every day at 5am, all sessions for the next %nbdays% are checked to identify if a session has no participants.', {nbdays: preferencesDataClient.NotificationSessionWithoutTraineeOptionTimeBefore}) }}</i>
      </div>
      <div class="col-3">
        <div class="search-switch ">
          <label
            class="switch"
            :for="emailSessionWithoutTrainee"
          >
            <input
              :id="emailSessionWithoutTrainee"
              v-model="preferencesData.EmailSessionWithoutTrainee"
              :disabled="!preferencesDataClient.NotificationSessionWithoutTrainee"
              type="checkbox"
              :name="emailSessionWithoutTrainee"
              class="switch-preference"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div
      class="row pb-5"
    >
      <div class="col-9">
        {{ $translator.trans('Cancellation of a given session') }}<br>
        <i class="text-muted">{{ $translator.trans('As soon as a session is cancelled, a notification is sent.') }}</i>
      </div>
      <div class="col-3">
        <div class="search-switch ">
          <label
            class="switch"
            :for="emailSessionCanceled"
          >
            <input
              :id="emailSessionCanceled"
              v-model="preferencesData.EmailSessionCanceled"
              type="checkbox"
              :name="emailSessionCanceled"
              class="switch-preference"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div
      class="row pb-5"
    >
      <div class="col-9">
        {{ $translator.trans('Uncancellation of a given session') }}<br>
        <i class="text-muted">{{ $translator.trans('As soon as a session is uncancelled, a notification is sent.') }}</i>
      </div>
      <div class="col-3">
        <div class="search-switch ">
          <label
            class="switch"
            :for="emailSessionUncanceled"
          >
            <input
              :id="emailSessionUncanceled"
              v-model="preferencesData.EmailSessionUncanceled"
              type="checkbox"
              :name="emailSessionUncanceled"
              class="switch-preference"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div
      class="row pb-5"
    >
      <div class="col-9">
        {{ $translator.trans('There is one animator planned on several sessions in the same time slot') }}<br>
        <i class="text-muted">{{ $translator.trans('Every day at 5am, all future sessions are checked to identify if a animator is already present for that same time slot on another session.') }}</i>
      </div>
      <div class="col-3">
        <div class="search-switch ">
          <label
            class="switch"
            :for="emailAnimatorOnSeveralSessions"
          >
            <input
              :id="emailAnimatorOnSeveralSessions"
              v-model="preferencesData.EmailAnimatorOnSeveralSessions"
              :disabled="!preferencesDataClient.NotificationAnimatorOnSeveralSessions"
              type="checkbox"
              :name="emailAnimatorOnSeveralSessions"
              class="switch-preference"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div
      class="row pb-5"
    >
      <div class="col-9">
        {{ $translator.trans('There is one participant planned on several sessions in the same time slot') }}<br>
        <i class="text-muted">{{ $translator.trans('Every day at 5am, all future sessions are checked to identify if a participant is already present for that same time slot on another session.') }}</i>
      </div>
      <div class="col-3">
        <div class="search-switch ">
          <label
            class="switch"
            :for="emailTraineeOnSeveralSessions"
          >
            <input
              :id="emailTraineeOnSeveralSessions"
              v-model="preferencesData.EmailTraineeOnSeveralSessions"
              :disabled="!preferencesDataClient.NotificationTraineeOnSeveralSessions"
              type="checkbox"
              :name="emailTraineeOnSeveralSessions"
              class="switch-preference"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div
      class="row pb-5"
    >
      <div class="col-9">
        {{ $translator.trans('Several animators on the same session') }}<br>
        <i class="text-muted">{{ $translator.trans('Every day at 5am, all sessions for the next %nbdays% days are checked to identify if a session has several animators.', {nbdays: preferencesDataClient.NotificationSeveralAnimatorsOnSameSessionOptionTimeBefore}) }}</i>
      </div>
      <div class="col-3">
        <div class="search-switch ">
          <label
            class="switch"
            :for="emailSeveralAnimatorsOnSameSession"
          >
            <input
              :id="emailSeveralAnimatorsOnSameSession"
              v-model="preferencesData.EmailSeveralAnimatorsOnSameSession"
              type="checkbox"
              :name="emailSeveralAnimatorsOnSameSession"
              :disabled="!preferencesDataClient.NotificationSeveralAnimatorsOnSameSession"
              class="switch-preference"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div
      class="row pb-5"
    >
      <div class="col-9">
        {{ $translator.trans('Invalid email') }}<br>
        <i class="text-muted">{{ $translator.trans('Email address identified as invalid by the mail server and no message was received by the user who owns this address') }}</i>
      </div>
      <div class="col-3">
        <div class="search-switch ">
          <label
            class="switch"
            :for="emailInvalidNotification"
          >
            <input
              :id="emailInvalidNotification"
              v-model="preferencesData.EmailInvalidNotification"
              type="checkbox"
              :name="emailInvalidNotification"
              class="switch-preference"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-9">
        {{ $translator.trans('Your credits are almost used up') }}<br>
        <i class="text-muted">{{ $translator.trans('When creating the session that leaves you with %credit% credits, a notification will be sent', {credit: preferencesDataClient.NotificationNoMoreCreditOptionLimit }) }}</i>
      </div>
      <div class="col-3">
        <div class="search-switch ">
          <label
            class="switch"
            :for="emailNoMoreCredit"
          >
            <input
              :id="emailNoMoreCredit"
              v-model="preferencesData.EmailNoMoreCredit"
              type="checkbox"
              :name="emailNoMoreCredit"
              class="switch-preference"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-9" />
      <div class="col-3">
        <input
          type="submit"
          class="btn btn-primary float-end mt-3"
          value="Modifier"
          @click="submitFile"
        >
      </div>
    </div>
  </div>
</template>

<script>
import {
  EMAIL_SESSION_WITHOUT_ANIMATOR,
  EMAIL_SESSION_WITHOUT_TRAINEE,
  EMAIL_SESSION_CANCELED,
  EMAIL_SESSION_UNCANCELED,
  EMAIL_ANIMATOR_ON_SEVERAL_SESSIONS,
  EMAIL_TRAINEE_ON_SEVERAL_SESSIONS,
  EMAIL_NO_ANIMATOR_WITH_HOST_ON_SESSION,
  EMAIL_SEVERAL_ANIMATORS_ON_SAME_SESSION,
  NOTIFICATION_SESSION_WITHOUT_ANIMATOR,
  NOTIFICATION_SESSION_WITHOUT_TRAINEE,
  NOTIFICATION_ANIMATOR_ON_SEVERAL_SESSIONS,
  NOTIFICATION_TRAINEE_ON_SEVERAL_SESSIONS,
  NOTIFICATION_NO_ANIMATOR_WITH_HOST_ON_SESSION,
  NOTIFICATION_NO_ANIMATOR_WITH_HOST_ON_SESSION_OPTION_TIME_BEFORE,
  NOTIFICATION_SESSION_WITHOUT_ANIMATOR_OPTION_TIME_BEFORE,
  NOTIFICATION_SESSION_WITHOUT_TRAINEE_OPTION_TIME_BEFORE,
  NOTIFICATION_SEVERAL_ANIMATORS_ON_SAME_SESSION,
  NOTIFICATION_SEVERAL_ANIMATORS_ON_SAME_SESSION_OPTION_TIME_BEFORE,
  EMAIL_INVALID_NOTIFICATION,
  EMAIL_NO_MORE_CREDIT,
  NOTIFICATION_NO_MORE_CREDIT,
  NOTIFICATION_NO_MORE_CREDIT_OPTION_LIMIT, EMAIL_ONLY_FOR_MY_SESSIONS
} from '../../utils/preferences.utils'
import Tooltip from '../ui/Tooltip'

export default {
  components: { Tooltip },
  props: {
    clientPreferences: {
      type: Object,
      required: true
    },
    userPreferences: {
      type: Object,
      required: true
    }
  },
  data () {
    const defaultDataClient = []
    defaultDataClient[NOTIFICATION_SESSION_WITHOUT_ANIMATOR] = true
    defaultDataClient[NOTIFICATION_SESSION_WITHOUT_TRAINEE] = true
    defaultDataClient[NOTIFICATION_ANIMATOR_ON_SEVERAL_SESSIONS] = true
    defaultDataClient[NOTIFICATION_TRAINEE_ON_SEVERAL_SESSIONS] = true
    defaultDataClient[NOTIFICATION_NO_ANIMATOR_WITH_HOST_ON_SESSION] = true
    defaultDataClient[NOTIFICATION_NO_ANIMATOR_WITH_HOST_ON_SESSION_OPTION_TIME_BEFORE] = 1
    defaultDataClient[NOTIFICATION_SEVERAL_ANIMATORS_ON_SAME_SESSION] = true
    defaultDataClient[NOTIFICATION_SEVERAL_ANIMATORS_ON_SAME_SESSION_OPTION_TIME_BEFORE] = 7
    defaultDataClient[NOTIFICATION_SESSION_WITHOUT_ANIMATOR_OPTION_TIME_BEFORE] = 7
    defaultDataClient[NOTIFICATION_SESSION_WITHOUT_TRAINEE_OPTION_TIME_BEFORE] = 7
    defaultDataClient[NOTIFICATION_NO_MORE_CREDIT] = true
    defaultDataClient[NOTIFICATION_NO_MORE_CREDIT_OPTION_LIMIT] = 10
    const preferencesDataClient = Object.assign({}, defaultDataClient, this.clientPreferences)

    const defaultData = []
    defaultData[EMAIL_SESSION_WITHOUT_ANIMATOR] = preferencesDataClient[NOTIFICATION_SESSION_WITHOUT_ANIMATOR]
    defaultData[EMAIL_SESSION_WITHOUT_TRAINEE] = preferencesDataClient[NOTIFICATION_SESSION_WITHOUT_TRAINEE]
    defaultData[EMAIL_SESSION_CANCELED] = true
    defaultData[EMAIL_SESSION_UNCANCELED] = true
    defaultData[EMAIL_ANIMATOR_ON_SEVERAL_SESSIONS] = preferencesDataClient[NOTIFICATION_ANIMATOR_ON_SEVERAL_SESSIONS]
    defaultData[EMAIL_TRAINEE_ON_SEVERAL_SESSIONS] = preferencesDataClient[NOTIFICATION_TRAINEE_ON_SEVERAL_SESSIONS]
    defaultData[EMAIL_NO_ANIMATOR_WITH_HOST_ON_SESSION] = preferencesDataClient[NOTIFICATION_NO_ANIMATOR_WITH_HOST_ON_SESSION]
    defaultData[EMAIL_SEVERAL_ANIMATORS_ON_SAME_SESSION] = preferencesDataClient[NOTIFICATION_SEVERAL_ANIMATORS_ON_SAME_SESSION]
    defaultData[EMAIL_INVALID_NOTIFICATION] = true
    defaultData[EMAIL_NO_MORE_CREDIT] = preferencesDataClient[NOTIFICATION_NO_MORE_CREDIT]

    const disablePreferencesData = []
    for (const pdc in defaultData) {
      if (!defaultData[pdc]) {
        disablePreferencesData[pdc] = false
      }
    }
    const preferencesData = Object.assign({}, defaultData, this.userPreferences, disablePreferencesData)

    return {
      preferencesDataClient: preferencesDataClient,
      preferencesData: preferencesData,
      emailOnlyForMySessions: EMAIL_ONLY_FOR_MY_SESSIONS,
      emailSessionWithoutAnimator: EMAIL_SESSION_WITHOUT_ANIMATOR,
      emailSessionWithoutTrainee: EMAIL_SESSION_WITHOUT_TRAINEE,
      emailSessionCanceled: EMAIL_SESSION_CANCELED,
      emailSessionUncanceled: EMAIL_SESSION_UNCANCELED,
      emailAnimatorOnSeveralSessions: EMAIL_ANIMATOR_ON_SEVERAL_SESSIONS,
      emailTraineeOnSeveralSessions: EMAIL_TRAINEE_ON_SEVERAL_SESSIONS,
      emailNoAnimatorWithHostOnSession: EMAIL_NO_ANIMATOR_WITH_HOST_ON_SESSION,
      emailSeveralAnimatorsOnSameSession: EMAIL_SEVERAL_ANIMATORS_ON_SAME_SESSION,
      emailInvalidNotification: EMAIL_INVALID_NOTIFICATION,
      emailNoMoreCredit: EMAIL_NO_MORE_CREDIT,
      notificationNoMoreCreditOptionLimit: NOTIFICATION_NO_MORE_CREDIT_OPTION_LIMIT
    }
  },
  methods: {
    submitFile () {
      const formData = new FormData()

      formData.append('preferencesProfil', JSON.stringify(this.preferencesData))

      this.$axios.post(this.$routing.generate('_user_preferences_profile'), formData)
        .then(() => { window.location.href = this.$routing.generate('_user_preferences_profile') })
    }
  }
}
</script>

<style scoped>
</style>
