<template>
  <div class="row">
    <div class="d-flex justify-content-between align-content-center">
      <h3 class="mb-4">
        {{ $translator.trans('Members to the group') }}
      </h3>
      <div class="btn-group export-dropdown">
        <div
          class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
          role="button"
          data-bs-auto-close="outside"
          data-bs-toggle="modal"
          data-bs-target="#RegisteredParticipantGroupModal"
        >
          <img
            src="/build/static/icons/plus.svg"
            alt=""
          >
          <span class="d-sm-none d-md-block ms-2">{{ $translator.trans('Manage') }}</span>
        </div>
      </div>
      <registered-participant-group-modal :group-participant="groupParticipant" />
    </div>
    <alert
      v-if="error"
      :text="error"
      type="danger"
    />
    <alert
      v-if="successMessage"
      :text="successMessage"
      type="success"
    />
    <div class="page-options-bar">
      <div class="d-flex part-1">
        <div class="page-options-bar__item pr">
          <div class="page-options-bar__item__search with-result">
            <label for="searchInParticipant">
              <img src="/build/static/icons/search.svg">
            </label>
            <input
              id="searchInParticipant"
              v-model="globalGroupSearchInput"
              type="search"
              name="searchInParticipant"
              :placeholder="$translator.trans('Search for user.s')"
              @input="searchUsers"
            >
            <div class="search-sessions-counter">
              <b>{{ countResult }}</b>
              &nbsp;&nbsp;{{ $translator.trans('found user.s') }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-content data-list data-list__row-small mt-4">
      <div class="data-list__header">
        <div class="data-list__header__item">
          {{ $translator.trans('Full name') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Email') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Reference') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Added on') }}
        </div>
        <!--        <div class="data-list__header__item option" />-->
      </div>
      <template v-for="user in filteredMembersGroup">
        <div
          :key="user.id"
          class="data-list__row"
        >
          <div class="row__data">
            {{ user.fullName }}
          </div>
          <div class="row__data">
            {{ user.email }}
          </div>
          <div class="row__data">
            {{ user.reference }}
          </div>
          <div class="row__data">
            {{ user.createdAt|formatDate("datetime_med") }}
          </div>
          <!--          <div class="row__data option">-->
          <!--            <div class="drop-menu-container">-->
          <!--              <div class="icn-option">-->
          <!--                <img src="/build/static/icons/options-white.svg">-->
          <!--              </div>-->
          <!--              <ul class="dropdown-menu-inner">-->
          <!--                <li v-if="processing">-->
          <!--                  <loader />-->
          <!--                </li>-->
          <!--                <li v-else>-->
          <!--                  <a-->
          <!--                    class="dropdown-item"-->
          <!--                    role="button"-->
          <!--                    @click="removeMember(user)"-->
          <!--                  >-->
          <!--                    <img-->
          <!--                      src="/build/static/icons/trash-small.svg"-->
          <!--                      class="me-2"-->
          <!--                    >-->
          <!--                    <b>{{ $translator.trans('Remove member') }}</b>-->
          <!--                  </a>-->
          <!--                </li>-->
          <!--              </ul>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
      </template>
    </div>
  </div>
</template>

<script>

import Alert from '../ui/Alert.vue'
import RegisteredParticipantGroupModal from './RegisteredParticipantGroupModal.vue'
import { mapState }             from 'vuex'

export default {
  name: 'RegisteredParticipantGroupList',
  components: { Alert, RegisteredParticipantGroupModal },
  props: {
    groupParticipant: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      processing: false,
      error: null,
      globalGroupSearchInput: null,
      filteredMembersGroup: this.groupParticipant.users,
      successMessage: null,
      membersGroup: this.groupParticipant.users
    }
  },
  computed: {
    ...mapState('membersGroupSelector', ['memberOfGroup', 'users', 'query']),
    countResult () {
      return this.filteredMembersGroup.length
    }
  },
  methods: {
    searchUsers () {
      if (this.globalGroupSearchInput) {
        this.filteredMembersGroup = this.membersGroup.filter(user =>
          user.fullName.toLowerCase().includes(this.globalGroupSearchInput.toLowerCase()) ||
            user.email.toLowerCase().includes(this.globalGroupSearchInput.toLowerCase())
        )
      } else {
        this.filteredMembersGroup = this.membersGroup
      }
    },
    removeMember (user) {
      this.processing = true
      this.$axios.post(this.$routing.generate('remove_member_from_group', { id : this.groupParticipant.id, idUser: user.id }))
        .catch((error) => {
          if ('message' in error.response.data) {
            this.error = this.$translator.trans(error.response.data.message.text)
          }
        })
        .then((response) => {
          this.successMessage = this.$translator.trans(response.data.message.message)
          const index = this.groupParticipant.users.findIndex(u => u.id === user.id)
          if (index !== -1) {
            this.membersGroup.splice(index, 1)
          }
          this.error = null
        })
        .finally(() => {
          this.processing = false
          this.error = null
        })
    }
  }

}
</script>

<style scoped>
.row__data.small {
  max-width: 6rem;
  min-width: 6rem;
}
</style>
