<template>
  <div
    id="RegisteredParticipantGroupModal"
    ref="registeredParticipantGroupModal"
    aria-hidden="true"
    class="modal fade show text-black"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header px-4 py-3">
          <h5
            id="exampleModalLabel"
            class="modal-title"
          >
            {{ $translator.trans( 'Manage members group' ) }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div
          class="modal-body"
          style="text-align: left;"
        >
          <alert
            v-if="error"
            type="danger"
            :text="error"
          />
          <alert
            v-if="successMessage"
            :text="successMessage"
            type="success"
          />
          <additional-members-selector
            :group-participant="groupParticipant"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="d-flex btn btn-light"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            {{ $translator.trans('Cancel') }}
          </button>
          <div class="d-flex justify-content-end">
            <submit-button
              :processing="processing"
              @click="addMembersToGroup"
            >
              {{ $translator.trans( 'Valid' ) }}
            </submit-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { mapState }          from 'vuex'
import Alert from '../ui/Alert.vue'
import SubmitButton from '../ui/SubmitButton.vue'
import AdditionalMembersSelector from './AdditionalMembersSelector.vue'

export default {
  name: 'RegisteredParticipantGroupModal',
  components: { AdditionalMembersSelector, SubmitButton, Alert },
  props: {
    groupParticipant: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      successMessage: null,
      processing: false,
      error: null,
      modal: null,
      categoryName: ''
    }
  },
  computed: {
    ...mapState('membersGroupSelector', ['memberOfGroup', 'users', 'query'])
  },
  mounted () {
    this.modal = this.$bootstrap.Modal.getOrCreateInstance(this.$refs.registeredParticipantGroupModal)
  },
  methods: {
    addMembersToGroup () {
      const route = this.$routing.generate('_group_update_member', { id: this.groupParticipant.id })
      const members = this.memberOfGroup
      this.processing = true
      this.$axios
        .post(route, { members: members })
        .then(() => {
          this.processing = false
          window.location.href = this.$routing.generate('_group_edit', { id: this.groupParticipant.id })
        })
        .catch(() => {
          alert(this.$translator.trans('Unable to save changes'))
        })
        .finally(() => {
          this.processing = false
        })
    }
  }
}
</script>

<style scoped>
input[name=switch-active-state] {
  height: auto !important;
}
</style>
