<template>
  <div class="card-body">
    <div v-if="!unsubscribeErrorState">
      <div v-if="unsubscribeSuccessState">
        <h4 class="card-title">
          {{ $translator.trans('UNSUBSCRIBE SUCCESSFUL') }} 😉 👌
        </h4>
        <h5 class="card-title">
          {{ $translator.trans('Your email address is removed from our mailing list and you will not receive any more emails from us.') }}
        </h5>
      </div>
      <div v-else>
        <h4 class="card-title">
          {{ $translator.trans('UNSUBSCRIBE CONFIRMATION') }} 😣 !
        </h4>
        <h5 class="card-title">
          {{ $translator.trans('You are about to unsubscribe from communications from this email address, would you like to unsubscribe?') }}
        </h5>
        <button
          v-if="!processing"
          class="btn btn-primary"
          @click="confirmUnsubscribe()"
        >
          {{ $translator.trans('Confirm unsubscription') }}
        </button>
        <loader v-else />
      </div>
    </div>
    <div v-else>
      <h4 class="card-title">
        {{ $translator.trans('ERROR') }} 😰!
      </h4>
      <h5 class="card-title">
        {{ $translator.trans('Error during unsubscribe, please try again!') }}
      </h5>
    </div>
    <br>
    <div style="color: #80bc00">
      <p class="card-text">
        {{ $translator.trans('Need for help') }} ?
      </p>
      <p class="card-text">
        {{ $translator.trans('Call or email us if you prefer') }} !
      </p>
      <p class="card-text">
        <a href="tel:+33 970 440 168"> {{ $translator.trans('Tel  +33 970 440 168') }} </a> | <a href="mailto:serviceclient@live-session.fr"> {{ $translator.trans('Email  serviceclient@live-session.fr') }}</a>
      </p>
    </div>
  </div>
</template>

<script>
import { routing } from '../../utils/app.utils'
import Loader from '../ui/Loader.vue'

export default {
  name: 'UnsubscribePage',
  components: { Loader },
  props: {
    guestId: {
      type: Number,
      required: true
    },
    unsubscribeSuccess: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      unsubscribeSuccessState: this.unsubscribeSuccess,
      unsubscribeErrorState: false,
      processing: false
    }
  },
  methods: {
    confirmUnsubscribe () {
      this.processing = true
      this.$axios.post(routing.generate('_guest_unsubscribe', { id: this.guestId }))
        .then((response) => {
          this.processing = false
          this.unsubscribeSuccessState = true
          this.unsubscribeErrorState = false
        })
        .catch(() => {
          this.processing = false
          this.unsubscribeSuccessState = false
          this.unsubscribeErrorState = true
        })
    }
  }
}
</script>
