<template>
  <div>
    <div class="col-md-12 mb-5">
      <em>
        {{ $translator.trans('Find here all the participants who are already present on your account. You can modify their information or delete them. You can also create new ones either individually or by import.') }}
      </em>
      <br>
    </div>
    <div class="page-options-bar">
      <div class="d-flex part-1">
        <div class="page-options-bar__item pr">
          <div class="page-options-bar__item__search with-result">
            <label for="searchInParticipant">
              <img src="/build/static/icons/search.svg">
            </label>
            <input
              id="searchInParticipant"
              v-model="globalParticipantSearchInput"
              type="search"
              name="searchInParticipant"
              :placeholder="$translator.trans('Search for participants')"
              @input="searchParticipantsUpdated"
            >
            <div class="search-sessions-counter">
              <b>{{ countResult }}</b>
              &nbsp;&nbsp;{{ $translator.trans('found participant.s') }}
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex part-2">
        <div class="btn-group export-dropdown">
          <div
            class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            role="button"
            data-bs-auto-close="outside"
          >
            <span class="d-sm-none d-md-block me-2">{{ $translator.trans( 'Import' ) }}</span>
            <img src="/build/static/icons/import.svg">
          </div>
          <users-upload-file
            :clients="clients"
            :referer="'/participant/list'"
            :restrictions="importRestrictions"
          />
        </div>
      </div>
    </div>
    <section>
      <div class="table-participants data-list">
        <div class="data-list__header">
          <div class="data-list__header__item">
            {{ $translator.trans('First name') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Last name') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Email') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Reference') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Account') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Added on') }}
          </div>
          <div class="data-list__header__item" />
          <div class="data-list__header__item option" />
        </div>
        <div class="table-content">
          <user-participant-list-item
            v-for="participant in allParticipants"
            :key="participant.id"
            :participant="participant"
            :has-bounce-alert="hasBounceAlert(participant)"
            :is-super-admin="isSuperAdmin"
          />
        </div>
        <section
          v-if="processing"
          class="d-flex justify-content-center align-items-center"
        >
          <loader class="mb-4 pb-4" />
        </section>
        <span
          v-else-if="noMoreResult"
          class="d-flex justify-content-end align-items-center text-muted"
        >
          {{ $translator.trans('End of result') }}
        </span>
      </div>
    </section>
  </div>
</template>

<script>
import Loader                  from '../ui/Loader'
import UserParticipantListItem from './UserParticipantListItem'
import _                       from 'lodash'
import UsersUploadFile         from './UsersUploadFile'

export default {
  components: { UserParticipantListItem, UsersUploadFile, Loader },
  props: {
    clients: {
      type: Array,
      required: false,
      default: () => []
    },
    importRestrictions: {
      type: Object,
      required: false,
      default: () => { return {} }
    },
    bouncedMails: {
      type: Array,
      required: false,
      default: () => []
    },
    preSearch: {
      type: String,
      required: false,
      default: ''
    },
    isSuperAdmin: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  data () {
    return {
      globalParticipantSearchInput: this.preSearch,
      allParticipants: {},
      processing: false,
      countResult: 0,
      lastResult: 0,
      noMoreResult: false
    }
  },
  mounted () {
    this.newSearchParticipants()
    window.onscroll = _.debounce(() => {
      const windowHeight = Math.ceil(document.documentElement.scrollTop + window.innerHeight)
      const offsetHeight  = document.documentElement.offsetHeight
      const bottomOfWindow = windowHeight >= offsetHeight

      if (bottomOfWindow && !this.noMoreResult) {
        this.fetchNewParticipants()
      }
    }, 300)
  },
  methods: {
    handleFileUpload () {
      this.file = this.$refs.file.files[0]
    },
    hasBounceAlert (participant) {
      for (let i = 0; i < this.bouncedMails.length; i++) {
        if (this.bouncedMails[i].email === participant.email) {
          return true
        }
      }

      return false
    },
    searchParticipantsUpdated: _.debounce(function () {
      this.newSearchParticipants()
    }, 300),
    newSearchParticipants () {
      this.processing = true
      this.$axios.get(this.$routing.generate(
        '_fetch_participant_list',
        { search: this.globalParticipantSearchInput, firstResult: 0, needCount: 1 }
      )).then((response) => {
        this.allParticipants = response.data.participants
        this.countResult = response.data.count
        this.lastResult = this.allParticipants.length
        this.noMoreResult = false
        this.processing = false
      }).catch(() => {
        this.processing = false
      })
    },
    fetchNewParticipants () {
      this.processing = true
      this.$axios.get(this.$routing.generate(
        '_fetch_participant_list',
        { search: this.globalParticipantSearchInput, firstResult: this.lastResult, needCount: 0 }
      )).then((response) => {
        if (response.data.participants.length === 0) {
          this.noMoreResult = true
        }
        this.allParticipants = [...this.allParticipants, ...response.data.participants]
        this.lastResult = this.allParticipants.length
        this.processing = false
      }).catch(() => {
        this.processing = false
      })
    }
  }
}
</script>

<style scoped lang="css">
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
</style>
