<template>
  <div>
    <confirmation-pop-in
      :id="participant.id.toString()"
      :title="$translator.trans('Anonymize')"
      :content="$translator.trans('The anonymization is final. Do you want to anonymize this user due to an RGPD request ?')"
      :confirm="anonymizeUser"
    />
    <a
      :href="$routing.generate( '_participant_edit', {id: participant.id} )"
      class="text-dark"
    >
      <div
        :class="['data-list__row', {
          'alert-session': alertInvalidEmail
        }]"
      >
        <div class="row__data"><span>{{ participant.firstName }}</span></div>
        <div class="row__data"><span>{{ participant.lastName }}</span></div>
        <div class="row__data"><span>{{ participant.email }}</span></div>
        <div class="row__data"><span>{{ participant.reference }}</span></div>
        <div class="row__data"><span>{{ participant.client.name }}</span></div>
        <div class="row__data"><span>{{ participant.createdAt|formatDate('datetime_med') }}</span></div>
        <div class="row__data d-flex align-items-end">
          <span
            v-if="participant.licence.length"
            class="badge bg-primary me-1 px-1"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            data-bs-html="true"
            :title="tooltipOrganizer"
          >
            {{ $translator.trans('Organizer') }}
          </span>
          <span
            v-if="participant.licenceShared.length"
            class="badge bg-primary me-1 px-1"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            data-bs-html="true"
            :title="tooltipMutualizedLicence"
          >
            {{ $translator.trans('Shared license') }}
          </span>
          <a
            v-if="alertInvalidEmail"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            class="session-alert"
            :title="$translator.trans('One or more emails were not received by the participant')"
            role="button"
            :href="$routing.generate('_bounce_list_user_filtered', {id: participant.id})"
          >
            <img src="/build/static/icons/alert-session.svg">
          </a>
        </div>

        <div class="row__data option">
          <div class="drop-menu-container">
            <div class="icn-option">
              <img src="/build/static/icons/options-white.svg">
            </div>
            <ul class="dropdown-menu-inner">
              <li>
                <a
                  class="dropdown-item"
                  :href="$routing.generate( '_participant_edit', {id: participant.id} )"
                >
                  <img
                    src="/build/static/icons/edit-small-green.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Edit') }}</b>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  :href="$routing.generate( '_user_delete', {id: participant.id} )"
                >
                  <img
                    src="/build/static/icons/trash-small.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Delete') }}</b>
                </a>
              </li>
              <li
                v-if="isSuperAdmin"
                class="admin-text-color"
              >
                <a
                  class="dropdown-item"
                  data-bs-toggle="modal"
                  :data-bs-target="'#confirmationPopIn_'+participant.id.toString()"
                  href="#"
                >
                  <img
                    src="/build/static/icons/user-anonymize-teal.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Anonymize') }}</b>
                </a>
              </li>
              <li
                v-if="isSuperAdmin"
                class="admin-text-color"
              >
                <a
                  class="dropdown-item"
                  :href="$routing.generate( '_user_rdpg_data_export', {id: participant.id} )"
                >
                  <img
                    src="/build/static/icons/user-rgpd-export.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Download the GDPR data') }}</b>
                </a>
              </li>
              <li
                v-if="isSuperAdmin"
                class="admin-text-color"
              >
                <a
                  class="dropdown-item"
                  :href="$routing.generate( '_user_edit', {id: participant.id} )"
                >
                  <img
                    src="/build/static/icons/edit-small-green.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Update the role') }}</b>
                </a>
              </li>
              <!--              <li><a
                class="dropdown-item"
                href="#"
              >
                <img
                  src="/build/static/icons/small-ban-green.svg"
                  class="me-2"
                >
                <b>{{ $translator.trans('Cancel') }}</b></a></li>-->
            </ul>
          </div>
        </div>
      </div>
    </a>
  </div>
</template>

<script>

import ConfirmationPopIn from '../ui/PopIn/ConfirmationPopIn.vue'

export default {
  components: { ConfirmationPopIn },
  props: {
    participant: {
      type: Object,
      required: true
    },
    hasBounceAlert: {
      type: Boolean,
      required: false,
      default: false
    },
    isSuperAdmin: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  computed: {
    alertInvalidEmail () {
      return this.hasBounceAlert
    },
    clientConfigurationHolders () {
      let tooltip = '<ul>'
      this.participant.client.configurationHolders.forEach((item, index) => {
        tooltip += '<li>&bull; ' + item.name + '</li>'
      })
      return tooltip + '</ul>'
    },
    tooltipMutualizedLicence () {
      return this.$translator.trans('This participant is in shared license for the connector-s:') + ' ' + this.participant.licenceShared.join(', ')
    },
    tooltipOrganizer () {
      return this.$translator.trans('This participant is an organizer for the connector-s:') + ' ' + this.participant.licence.join(', ')
    }
  },
  mounted () {
    this.$nextTick(() => {
      const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      tooltipTriggerList.map((tooltipTriggerEl) => {
        return new this.$bootstrap.Tooltip(tooltipTriggerEl)
      })
    })
  },
  methods: {
    anonymizeUser (data) {
      window.location = this.$routing.generate('_participant_anonymize', { id: this.participant.id })
    }
  }
}
</script>
