<template>
  <div>
    <confirmation-pop-in
      :id="'delete_admin'+user.id.toString()"
      :title="$translator.trans('Removal a administrator')"
      :content="$translator.trans('Do you want to delete this administrator?')"
      :confirm="deleteAdmin"
    />
    <a
      :href="$routing.generate( '_admin_edit', {id: user.id} )"
      class="text-dark"
    >
      <div class="data-list__row">

        <div class="row__data">
          {{ user.firstName }}
        </div>
        <div class="row__data">
          {{ user.lastName }}
        </div>
        <div class="row__data"><span>{{ user.email }}</span></div>
        <div class="row__data"><span>{{ user.reference }}</span></div>
        <div
          v-if="displayRole"
          class="row__data"
        >
          <ul>
            <li
              v-for="role in user.transform.roles_readable"
              :key="role"
            >{{ $translator.trans(role) }}</li>
          </ul>
        </div>
        <div class="row__data"><span>{{ user.client.name }}</span></div>
        <div class="row__data"><span>{{ user.createdAt | formatDate('datetime_med') }}</span></div>

        <div class="row__data option">
          <div class="drop-menu-container">
            <div class="icn-option">
              <img src="/build/static/icons/options-white.svg">
            </div>
            <ul class="dropdown-menu-inner">
              <li>
                <a
                  class="dropdown-item"
                  :href="$routing.generate( '_admin_edit', {id: user.id} )"
                >
                  <img
                    src="/build/static/icons/edit-small-green.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Edit') }}</b>
                </a>
              </li>
              <li
                v-if="user.anAdmin"
                class="admin-text-color"
              >
                <a
                  class="dropdown-item"
                  :href="$routing.generate( '_user_rdpg_data_export', {id: user.id} )"
                >
                  <img
                    src="/build/static/icons/user-rgpd-export.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Download the GDPR data') }}</b>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  :data-bs-target="'#confirmationPopIn_delete_admin'+user.id.toString()"
                  data-bs-toggle="modal"
                  href="#"
                >
                  <img
                    src="/build/static/icons/trash-small.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Delete') }}</b>
                </a>
              </li>
              <!--              <li><a
                class="dropdown-item"
                href="#"
              >
                <img
                  src="/build/static/icons/small-ban-green.svg"
                  class="me-2"
                >
                <b>{{ $translator.trans('Cancel') }}</b></a></li>-->
            </ul>
          </div>
        </div>
      </div>
    </a>
  </div>
</template>

<script>

import ConfirmationPopIn from '../ui/PopIn/ConfirmationPopIn.vue'

export default {
  components: { ConfirmationPopIn },
  props: {
    user: {
      type: Object,
      required: true
    },
    displayRole: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  methods: {
    deleteAdmin () {
      window.location.href = this.$routing.generate('_user_delete', { id: this.user.id })
    }
  }
}
</script>
