<template>
  <form class="form dropdown-menu export-dropdown__content">
    <div class="row px-2">
      <div
        v-if="clients.length > 1"
        class="form__item mb-2 col-12"
      >
        <label>{{ $translator.trans('Account') }}</label>
        <select
          v-model="selectedClient"
          name="client-id"
          class="form-select form-control w-100"
        >
          <option
            v-for="client in clientsData"
            :key="client.id"
            :value="client.id"
            :selected="selectedClient === client.id"
          >
            {{ client.name }}
          </option>
        </select>
      </div>
      <div class="form__item mb-3 col-12 justify-content-between">
        <div class="form__item mb-0">
          <label>{{ $translator.trans('File') }}</label>
        </div>
        <div
          v-if="isIfcamSelectedClient"
          class="form__item mb-0"
        >
          <a
            href="/archives/Model_Import_Participants_Ifcam.xlsx"
            target="_blank"
          >{{ $translator.trans('File template IFCAM') }}</a>
        </div>
        <div
          v-else
          class="form__item mb-0"
        >
          <a
            href="/archives/Model_Import_Participants_Standard.xlsx"
            target="_blank"
          >{{ $translator.trans('File template') }}</a>
        </div>
        <input
          id="exampleFormControlFile1"
          ref="file"
          class="form-control w-100"
          type="file"
          @change="handleFileUpload()"
        >
      </div>
    </div>
    <div class="row px-2">
      <small class="col-12 mb-3 restrictions">
        {{ $translator.trans('Maximum file size: %size%', {'size': maxFileSize }) }}<br>
        {{ $translator.trans('File format: %extensions%', {'extensions': allowedExtension }) }}<br>
        {{ $translator.trans('Maximum number of lines: %allowed%', {'allowed': allowedMaxRow}) }}<br><br>
      </small>
    </div>
    <div class="row export-dropdown__footer">
      <div class="col-12 p-0">
        <div class="d-flex justify-content-end align-items-center">
          <div
            v-if="showMessage"
            class="text-danger"
          >
            <span v-if="!readyToImport">{{ $translator.trans('Issue in the import file') }} </span>
            <span v-else-if="errorOccurred !== null">{{ $translator.trans(errorOccurred) }} </span>
          </div>
          <submit-button
            :disabled="!isValid"
            :processing="loaderSpinner"
            @click="submitFile"
          >
            {{ $translator.trans('Import') }}
          </submit-button>
        </div>
      </div>
    </div>
  </form>
</template>

<script>

import SubmitButton from '../ui/SubmitButton'
import {
  ID_CLIENT_IFCAM
} from '../../store/module/clientServices'

export default {
  components: { SubmitButton },
  props: {
    clients: {
      type: Array,
      required: false,
      default: () => []
    },
    referer: {
      type: String,
      required: true
    },
    restrictions: {
      type: Object,
      required: false,
      default: () => { return {} }
    }
  },
  data () {
    return {
      file: '',
      selectedClient: null,
      loaderSpinner: false,
      stateSubmitButton: true,
      showMessage: false,
      readyToImport: true,
      clientsData: this.clients,
      errorOccurred: null
    }
  },
  computed: {
    isIfcamSelectedClient () {
      return this.selectedClient === ID_CLIENT_IFCAM
    },
    maxFileSize () {
      if ('max_file_size' in this.restrictions) {
        return this.restrictions.max_file_size
      }

      return 5 + ' MB'
    },
    allowedExtension () {
      if ('allowed_extension' in this.restrictions) {
        return this.restrictions.allowed_extension.toUpperCase()
      }

      return 'XLS, XLSX'
    },
    allowedMaxRow () {
      if ('allowed_max_row' in this.restrictions) {
        return this.restrictions.allowed_max_row
      }

      return 2000
    },
    isValid () {
      return typeof this.file === 'object' && !this.loaderSpinner
    }
  },
  mounted () {
    this.selectedClient = this.clientsData[0].id
  },
  methods: {
    submitFile () {
      const formData = new FormData()
      formData.append('file', this.file)
      formData.append('client', this.selectedClient)

      this.loaderSpinner = true
      this.stateSubmitButton = false
      this.errorOccurred = null
      this.$axios.post(this.$routing.generate('_users_import_file'),
        formData,
        {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }
      )
        .then(() => { window.location.href = this.referer })
        .catch((error) => {
          this.errorOccurred = error.response.data
          throw new Error(error.response.data)
        })
        .finally(() => {
          this.loaderSpinner = false
          this.stateSubmitButton = true
          this.showMessage = true
        })
    },
    handleFileUpload () {
      this.file = this.$refs.file.files[0]
    }
  }
}
</script>

<style scoped>
.restrictions{
  font-size: .7rem;
}
</style>
