<template>
  <div>
    <div class="page-options-bar">
      <div class="d-flex part-1">
        <div class="page-options-bar__item pr">
          <div class="page-options-bar__item__search with-result">
            <label for="searchInUser">
              <img src="/build/static/icons/search.svg">
            </label>
            <input
              id="searchInUser"
              v-model="globalUserSearchInput"
              type="search"
              name="searchInUser"
              :placeholder="$translator.trans('Search for users')"
              @keydown="globalSearchUsers"
            >
            <div class="search-sessions-counter">
              <b>{{ usersData.length }}</b>&nbsp;&nbsp;{{ $translator.trans('found user.s') }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <section>
      <div class="data-list">
        <div class="data-list__header">
          <div class="data-list__header__item">
            {{ $translator.trans('First name') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Last name') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Email') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Reference') }}
          </div>
          <div
            v-if="displayRole"
            class="data-list__header__item"
          >
            {{ $translator.trans('Role') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Account') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Added on') }}
          </div>
          <div class="data-list__header__item option" />
        </div>
        <div class="table-content">
          <user-list-item
            v-for="user in usersData"
            :key="user.id"
            :user="user"
            :display-role="displayRole"
          />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import UserListItem from './UserListItem'
import _            from 'lodash'

export default {
  components: { UserListItem },
  props: {
    users: {
      type: Array,
      required: false,
      default: () => []
    },
    displayRole: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  data () {
    return {
      globalUserSearchInput: '',
      usersData: this.users
    }
  },
  methods: {
    globalSearchUsers: _.debounce(function () {
      this.$axios.get(`/user/global-search?context=administrator&q=${this.globalUserSearchInput}`)
        .then(response => {
          this.usersData = response.data
        })
    }, 250)
  }
}
</script>

<style scoped lang="css">
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
</style>
