<template>
  <div>
    <div
      v-for="webexConfig in webexConfigurationHolders"
      :key="webexConfig.id"
    >
      <div class="form-check">
        <input
          :id="'user-is-licence-for-webex-' + webexConfig.id"
          type="checkbox"
          class="form-check-input check-webex"
          :checked="userEmailIsALicence(webexConfig.licences)"
          :disabled="readOnly"
          :value="webexConfig.id"
        >
        <label
          :for="'user-is-licence-for-webex-' + webexConfig.id"
          class="form-check-label"
        >
          {{ $translator.trans( 'License for the account %client% (%domain%)', {
            client: webexConfig.client.name,
            domain: webexConfig.siteName
          } ) }}
        </label>
      </div>
    </div>

    <div class="col-12 mt-3">
      <input
        type="submit"
        class="btn btn-primary mb-3"
        name="save"
        :value="$translator.trans('Save')"
        @click="saveWebexLicence"
      >
    </div>
  </div>
</template>

<script>

import { setIsLicenceWebex } from '../../utils/cisco-webex-configuration-holder.utils'

export default {
  props: {
    webexConfigurationHolders: {
      type: Array,
      required: false,
      default: () => []
    },
    user: {
      type: Object,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  methods: {
    userEmailIsALicence (licences) {
      return Object.values(licences).includes(this.user.email)
    },
    saveWebexLicence (event) {
      const formData = new FormData()
      const webexLicences = []
      const checkboxes = document.getElementsByClassName('check-webex')

      Array.prototype.forEach.call(checkboxes, function (checkbox) {
        if (!checkbox.readonly) {
          const connector = {}
          connector.webexConfigHolder = checkbox.value
          connector.checkedAsLicence = checkbox.checked

          webexLicences.push(connector)
        }
      })

      formData.append('webexLicences', JSON.stringify(webexLicences))
      formData.append('email', this.user.email)

      setIsLicenceWebex(formData)
        .then(() => window.location.reload())
        .catch(() => this.addFormError('An error occured, user not updated'))
    }
  }
}
</script>
