<template>
  <div>
    <div
      v-for="webexRestConfig in webexRestConfigurationHolders"
      :key="webexRestConfig.id"
    >
      <div class="form-check">
        <input
          :id="'user-is-licence-for-webex-rest-' + webexRestConfig.id"
          type="checkbox"
          class="form-check-input check-webex"
          :checked="userEmailIsALicence(webexRestConfig.licences)"
          :disabled="readOnly"
          :value="webexRestConfig.id"
        >
        <label
          :for="'user-is-licence-for-webex-rest-' + webexRestConfig.id"
          class="form-check-label"
        >
          {{ $translator.trans( 'License for the account %client% (%domain%)', {
            client: webexRestConfig.client.name,
            domain: webexRestConfig.siteName
          } ) }}
        </label>
      </div>
    </div>

    <div class="col-12 mt-3">
      <input
        type="submit"
        class="btn btn-primary mb-3"
        name="save"
        :value="$translator.trans('Save')"
        @click="saveWebexRestLicence"
      >
    </div>
  </div>
</template>

<script>

import { setIsLicenceWebexRest } from '../../utils/cisco-webex-rest-configuration-holder.utils'

export default {
  props: {
    webexRestConfigurationHolders: {
      type: Array,
      required: false,
      default: () => []
    },
    user: {
      type: Object,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  methods: {
    userEmailIsALicence (licences) {
      return Object.values(licences).includes(this.user.email)
    },
    saveWebexRestLicence (event) {
      const formData = new FormData()
      const webexRestLicences = []
      const checkboxes = document.getElementsByClassName('check-webex')

      Array.prototype.forEach.call(checkboxes, function (checkbox) {
        if (!checkbox.readonly) {
          const connector = {}
          connector.webexRestConfigHolder = checkbox.value
          connector.checkedAsLicence = checkbox.checked

          webexRestLicences.push(connector)
        }
      })

      formData.append('webexRestLicences', JSON.stringify(webexRestLicences))
      formData.append('email', this.user.email)

      setIsLicenceWebexRest(formData)
        .then(() => window.location.reload())
        .catch(() => this.addFormError('An error occured, user not updated'))
    }
  }
}
</script>
