<template>
  <div />
</template>

<script>

export default {
  props: {
    whiteConfigurationHolders: {
      type: Array,
      required: false,
      default: () => []
    },
    user: {
      type: Object,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  data () {
    return { configurationHolders: this.whiteConfigurationHolders }
  },
  methods: {
  }
}
</script>
