#header {
  border-bottom: 1px solid #E6E6E6;

  .baseline {
    display: block;
    font-size: 20px;
    line-height: 24px;
    margin-top: 0.45rem;
    color: #54565A;
  }

  &.nq-header {
    background: var(--background-color-banner);

    .img-logo {
      max-height: 5.5rem;
      margin: 0;
    }

    #header-action {
      width: 13rem;
      background: white;

      &.bordered {
        border-left: 1px solid #E6E6E6 !important;
      }

      @include media-breakpoint-down(sm) {
        width: 100% !important;
        height: 50px !important;
        border-bottom: 1px solid #E6E6E6 !important;
      }

      ul li {
        a {
          border-bottom: 1px solid #E6E6E6;
          font-size: 13px;
          line-height: 16px;

          .logo {
          }

          svg, img {
            width: 24px;
            height: 24px;
          }
        }

        &:last-child > a {
          border: 0;

          @include media-breakpoint-down(sm) {
            border-left: 1px solid #E6E6E6 !important;
          }
        }
      }
    }
  }
}
