@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$card-border-radius: 1.5rem;
$card-box-shadow: 0 4px 20px 7px rgb(0 0 0 / 6%);
$card-spacer-y: 2rem;
$card-spacer-x: 2rem;
$card-title-spacer-y: 2rem;
