.btn-round-action {
  width: 3.2rem;
  height: 3.2rem;
  font-size: 1.8rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}

.btn.btn-module-main:hover {
  opacity: .8;
  transform: scale(1.025);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn.btn-module-main {
  background-color: #56E228;
  color: white;
}
