@import "variables";
@import "button";
@import "../styles";
@import "_header.scss";
@import "_resume.scss";
@import "_footer.scss";
@import "_not_found.scss";

$primary: var(--color-button);

a {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font: normal 14px/22px "Lato", sans-serif;
  color: #54565A;
}

.text {
  color: #54565A;
}

.text-primary {
  color: $primary !important;
}

.text-primary-hover {
  &:hover {
      color: $primary !important;
  }
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;

    &:hover {
      filter: brightness(80%);
    }
}

ul {
  list-style-type: disc;
  padding-left: 2rem;
  ul {
    list-style-type: circle;
    ul {
      list-style-type: square;
    }
  }
}
