{% extends "bootstrap_5_layout.html.twig" %}

{% block form_help -%}
	{% set row_class = row_attr.class|default('') %}
	{% set help_class = ' form-text' %}
	{% if 'input-group' in row_class %}
		{#- Hack to properly display help with input group   -#}
		{% set help_class = ' input-group-text' %}
	{% endif %}
	{%- if help is not empty -%}
		{%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ help_class ~ ' mb-0')|trim}) -%}
		<img {% with {attr: help_attr} %}{{ block('attributes') }}{% endwith %}
			src="{{ asset('build/static/icons/question.svg') }}"
			alt="{{ help | trans }}"
			title="{{ help | trans }}"
			data-bs-toggle="tooltip"
			data-bs-placement="right"
			data-bs-delay="300"
		/>
	{%- endif -%}
{%- endblock form_help %}

{%- block form_row -%}
	{%- set formItem = 'form__item' -%}
	{%- if compound is defined and compound -%}
		{%- set element = 'fieldset' -%}
		{%- set formItem = '' -%}
	{%- endif -%}
	{%- set widget_attr = {} -%}
	{%- if help is not empty -%}
		{%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
	{%- endif -%}
	{%- set row_class = row_class|default(row_attr.class|default('mb-3 ' ~ formItem)|trim) -%}
	<{{ element|default('div') }}{% with {attr: row_attr|merge({class: row_class})} %}{{ block('attributes') }}{% endwith %}>
	{%- if 'form-floating' in row_class -%}
		{{- form_widget(form, widget_attr) -}}
		{{- form_label(form) -}}
	{%- else -%}
		{{- form_label(form) -}}
		{{- form_widget(form, widget_attr) -}}
	{%- endif -%}
	{{- form_help(form) -}}
	{{- form_errors(form) -}}
	</{{ element|default('div') }}>
{%- endblock form_row %}

{% block file_widget -%}
	{% if not valid %}
		{% set attr = attr|merge({class: (attr.class|default('') ~ ' is-invalid')|trim}) -%}
		{% set valid = true %}
	{% endif %}
	<div class="file-upload-container">
		{{- block('form_widget') -}}
	</div>
{%- endblock file_widget %}

{% block schedule_widget -%}
	{% set attr = attr|merge({class: (attr.class|default('') ~ ' inline')|trim}) -%}

	{% if not valid %}
		{% set attr = attr|merge({class: (attr.class|default('') ~ ' is-invalid')|trim}) -%}
		{% set valid = true %}
	{% endif %}

<div class="d-flex align-items-start">
	<div class="col-lg-3 col-md-3">
		<div class="form__item schedule-field mb-0 align-items-start">
			<div class="input-group input-group-container">
				{{- form_widget(form.days) -}}
				<span class="input-group-text">{{ 'Drs' | trans }}</span>
			</div>
			{{- form_errors(form.days) -}}
		</div>
	</div>
	<div class="col-lg-3 col-md-3">
		<div class="form__item schedule-field mb-0 align-items-start">
			<div class="input-group input-group-container">
				{{- form_widget(form.hours) -}}
				<span class="input-group-text">{{ 'Hrs' | trans }}</span>
			</div>
			{{- form_errors(form.hours) -}}
		</div>
	</div>
	{% if form.minutes is defined %}
		<div class="col-lg-3 col-md-3">
			<div class="form__item schedule-field mb-0 align-items-start">
				<div class="input-group input-group-container">
					{{- form_widget(form.minutes) -}}
					<span class="input-group-text">{{ 'Min' | trans }}</span>
				</div>
				{{- form_errors(form.minutes) -}}
			</div>
		</div>
	{% endif %}

	{% if form.vars.help is defined %}
		{{ form.vars.help|trans }}
	{% endif %}

	{{- form_errors(form) -}}
</div>
{%- endblock schedule_widget %}

{% block tags_widget -%}
	{% if not valid %}
		{% set attr = attr|merge({class: (attr.class|default('') ~ ' is-invalid')|trim}) -%}
		{% set valid = true %}
	{% endif %}

	<div class="tags-input">
		<tags-input
			:name="'{{ form.vars.full_name }}'"
			:tags-in="{{ form.vars.value.tags | default( [] ) | serialize }}"
			{% if form.vars.attr.placeholder is defined %}
				:placeholder="'{{ form.vars.attr.placeholder }}'"
			{% endif %}
			{% if form.vars.disabled is defined %}
				:read-only="{{ form.vars.disabled is same as true ? 'true' : 'false' }}"
			{% endif %}
		/>

		{{- form_errors(form) -}}
		{{- form_help(form) -}}
	</div>

{%- endblock tags_widget %}

{% block collection_widget -%}
	{% if prototype is defined and not prototype.rendered %}
		{%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
	{% endif %}

	<div class="collection-type">
		<collection-type :current-collection="{{ form.vars.data | default( {} ) | serialize('json', { groups: 'collection:vuejs'}) }}">
			<template v-slot:prototype>
				{% if attr['data-prototype'] is defined %}
					{{ attr['data-prototype'] }}
				{% endif %}
			</template>

			<template v-slot:default>
				{% for widget in form.children %}
					<collection-type-item>
						{{ form_row(widget) }}
					</collection-type-item>
				{% endfor %}
			</template>
		</collection-type>
	</div>
{%- endblock collection_widget %}

{%- block tinymce_widget -%}
	{% set attr = attr|merge({class: (attr.class|default('') ~ ' tinymce-input')|trim}) %}

	<div {{ block('widget_attributes') }}>
		<tinymce-input :name="'{{ form.vars.full_name }}'" >
			<template v-slot:default-value>
				{{ value }}
			</template>
		</tinymce-input>
	</div>
{%- endblock tinymce_widget -%}

{#- Customization for VichUploader bundle #}
{%- block vich_file_row -%}
	{%- set force_error = true -%}
	{{- block('form_row') -}}
{%- endblock -%}

{% block vich_file_label %}
	<div class="form__item m-0"><label>{{ label|trans }}</label></div>
{% endblock %}

{% block vich_image_label %}
	<div class="form__item m-0"><label>{{ label|trans }}</label></div>
{% endblock %}

{%- block vich_file_widget -%}
	<div class="vich-widget vich-file  d-inline-block w-75">
		{%- if errors|length > 0 -%}
			{%- set attr = attr|merge({class: (attr.class|default('') ~ ' is-invalid')|trim}) -%}
		{%- endif -%}

		{%- if download_uri -%}
			<div class="vich-widget-preview">
				<div class="row">
					<div class="col-12 text-center">
						<div class="input-container d-flex align-items-center">
							<a href="{{ asset_helper is same as(true) ? asset(download_uri) : download_uri }}" download>
								{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}
							</a>
							{%- if form.delete is defined -%}
								<div class="input-actions">
									<div class="delete-holder">
										<img class="btn-delete" src="/build/static/icons/delete-filter.svg" alt="picto delete img" readonly="readonly">
										<div class="d-none">
											{{- form_row(form.delete) -}}
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		<div class="vich-widget-input{% if download_uri %} d-none{% endif %}">
			{{- form_widget(form.file, {attr: attr}) -}}
		</div>
	</div>
{%- endblock -%}

{%- block vich_image_row -%}
	{%- set force_error = true -%}
	{{- block('form_row') -}}
{%- endblock -%}

{%- block vich_image_widget -%}
	<div class="vich-widget vich-image d-inline-block w-75">
		{%- if errors|length > 0 -%}
			{%- set attr = attr|merge({class: (attr.class|default('') ~ ' is-invalid')|trim}) -%}
		{%- endif -%}

		{% if image_uri %}
			<div class="vich-widget-preview">
				<div class="row">
					{%- if download_uri -%}
						<div class="col-12 text-center">
							<a href="{{ asset_helper is same as(true) ? asset(download_uri) : download_uri }}" download>
								{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}
							</a>
						</div>
					{%- endif -%}
					<div class="col-12">
						<div class="input-container d-flex align-items-center">
							<a href="{{ asset_helper is same as(true) ? asset(image_uri) : image_uri }}" download>
								<img src="{{ asset_helper is same as(true) ? asset(image_uri) : image_uri }}" class="img-fluid" alt="" />
							</a>
							{%- if form.delete is defined -%}
								<div class="input-actions">
									<div class="delete-holder">
										<img class="btn-delete" src="/build/static/icons/delete-filter.svg" alt="picto delete img" readonly="readonly">
										<div class="d-none">
											{{- form_row(form.delete) -}}
										</div>
									</div>
								</div>
							{%- endif -%}
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		<div class="vich-widget-input{% if image_uri %} d-none{% endif %}">
			{{- form_widget(form.file, {attr: attr}) -}}
		</div>
	</div>
{%- endblock -%}
