<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    {% block metadata %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ session.name }}">
        <meta name="keywords" content="{{ session.name }}, {{ session.client.name }}">
        <meta name=”robots” content=”noindex,nofollow”>
        <meta name="theme-color" content="{{ template.blockGraphicalCharter.colorButton }}">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <meta property="og:type" content="article"/>
        <meta property="og:title" content="{{ session.name }}"/>
        <meta property="og:description" content="{{ session.providerSessionRegistrationPage.description2 }}"/>
        <meta property="og:site_name" content="{{ session.name }}"/>

        <meta name="twitter:title" content="{{ session.name }}">
        <meta name="twitter:description" content="{{ session.providerSessionRegistrationPage.description2 }}">

        <title>{% block title %}{{ session.name }}{% endblock %}</title>
    {% endblock %}

    {% block stylesheet %}
        <style>
            :root {
                --font: {{ template.blockGraphicalCharter.font }};
                --color-button: {{ template.blockGraphicalCharter.colorButton }};
                --background-color-banner: {{ template.blockGraphicalCharter.backgroundColorBanner }};

                --logo: url({{ registrationPageTemplateLogoUri ~ template.blockGraphicalCharter.logo }});
                --header-resume-webinar: url({{ registrationPageTemplateLogoUri ~ (isPreview ? template.blockGraphicalCharter.banner : session.registrationPageTemplateBanner) }});
                --drawing-resume-webinar: url({{ registrationPageTemplateLogoUri ~ (isPreview ? template.blockGraphicalCharter.illustration : session.registrationPageTemplateIllustration) }});
            }

            * {
                font-family: var(--font), sans-serif;
            }
        </style>
        {{ encore_entry_link_tags('base-registration-page') }}
        {{ encore_entry_link_tags('registration-page') }}
    {% endblock stylesheet %}
</head>
<body>

{% block body %}
    <div id="registration-page">
        <registration-page
                :template="{{ template|serialize('json', {'groups': 'ui:registration_page_template:read'}) }}"
                :session="{{ session|serialize('json', {'groups': 'ui:registration_page_template:read'}) }}"
                :is-preview='{{ isPreview|default(false) ? 'true' : 'false' }}'
                :is-replay='{{ isReplay|default(false) ? 'true' : 'false' }}'
        ></registration-page>
    </div>
{% endblock %}

{% block javascript %}
{{ encore_entry_script_tags('base-registration-page') }}
{{ encore_entry_script_tags('registration-page') }}
{% endblock javascript %}
</body>
</html>
