{% extends 'registration-page/page/base.html.twig' %}

{% block metadata %}
    <title>{% block title %} FAQ - {{ session.name }} {% endblock %}</title>
{% endblock %}


{% block body %}
    <div id="registration-page">
        <registration-page
                :template="{{ template|serialize('json', {'groups': 'ui:registration_page_template:read'}) }}"
                :session="{{ session|serialize('json', {'groups': 'ui:registration_page_template:read'}) }}"
                :is-preview='{{ isPreview|default(false) ? 'true' : 'false' }}'
                :is-replay='{{ isReplay|default(false) ? 'true' : 'false' }}'
                :is-faqs='{{ isFaqs|default(false) ? 'true' : 'false' }}'
        ></registration-page>
    </div>
{% endblock %}
