#footer .main-ls-footer {
  border-top: 1px solid #E6E6E6;
  background: #F8F8F8;

  .main-ls-footer-right .ls-footer-right-links {
    @include media-breakpoint-up(lg) {
      margin-right: 1rem;
    }

    @include media-breakpoint-down(lg) {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      text-align: center;
    }
  }
}

#footer {
  .nq-footer {
    background: var(--background-color-banner);
    border-top: 1px solid #E6E6E6;

    .nq-footer-table {
      min-height: 150px;

      @include media-breakpoint-down(lg) {
        display: block;
      }

      .nq-footer-table-cell {
        &.footer-left {
          .img-logo {
            max-width: 12rem;
            max-height: 5rem;
          }

          &.footer-left-pos {
            @include media-breakpoint-down(sm) {
              text-align: center;
            }
          }
        }

        &.footer-right {
          ul > li {

            img, svg {
              width: 25px;
            }
          }
        }
      }
    }
  }

}