@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap');

.landing-page {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  font-family: 'Fira Sans', sans-serif;

  .container-bg-img {
    background: url("../../static/base-not-found-registration.jpg") no-repeat 0 30%;
    background-size: cover;

    .content-main {
      max-width: 70%;

      .logo-container {
        margin: 0 auto 55px auto;
        width: 300px;
      }

      .heading-landing-1 {
        font-weight: 600;
        font-style: normal;
        letter-spacing: .05em;
        font-size: 33px;
        line-height: 1em;
        color: #48494D;
        text-align: center;
        margin-bottom: 24px;
      }
    }
  }
}

  /*



    .style-p {
      font-family: 'Roboto';
      font-weight: 300;
      letter-spacing: .05em;
      font-style: normal;
      font-size: 23px;
      line-height: normal;
      color: #48494d;
      text-align: center;
      width: 540px;
      max-width: 100%;
      margin: 0 auto 25px auto;
    }
  }*/
