.resume-webinar {
  background-size: cover !important;
  //background-position-y: -3rem;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background: var(--header-resume-webinar);


  .resume-webinar-container {
    margin: 90px 0;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.24);

    &.resume-with-illustration {
      @include media-breakpoint-up(sm) {
        width: 500px !important;
      }

      @include media-breakpoint-up(md) {
        width: 600px !important;
      }

      @include media-breakpoint-up(lg) {
        width: 800px !important;
      }
    }

    &:not(.resume-with-illustration) {
      width: 646px;
    }

    .resume-webinar-content {
      min-height: 300px;
      height: auto;

      .picture-webinar-container {
        @include media-breakpoint-down(sm) {
          height: 200px;
        }
        .picture-webinar-content {
          background: var(--drawing-resume-webinar) no-repeat center center;
          background-size: cover;
        }
      }
    }

    .resume-webinar-infos {
      padding: 33px 40px 40px;

      .heading-replay {
        position: relative;
        color: #D0021B;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
      }

      .resume-webinar-desc {
        h2 {
          font-size: 26px;
          line-height: 32px;
        }

        .infos ul {
          li {
            svg, img {
              width: 24px;
              height: 24px;
            }
          }
          .info-session i {
            font-size: 22px;
          }

          .text {
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
          }
        }
      }

      .resume-webinar-form {
        .form-group {
          border-radius: 10px;
          .input-group {
            .input-group-append {
              .event-subscribe-btn {
                border-radius: 0;
                padding: 10px;
                height: 45px;
              }
            }
          }
        }

      }
    }
  }
}


.about-part-webinar {
  .nq-container-webinar {
    @include media-breakpoint-up(md) {
      width: 730px;
    }

    @include media-breakpoint-up(xl) {
      width: 1200px;
    }
  }
}
