<template>
  <div>
    <div class="collection-type-prototype">
      <slot name="prototype" />
    </div>
    <div class="collection-children">
      <slot />
      <div
        v-for="child in children"
        :key="child.id"
      >
        <div class="d-flex align-items-center ">
          <collection-type-item>
            <div v-html="child.html" />
          </collection-type-item>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CollectionTypeItem from './CollectionTypeItem'
import eventBus           from '../../eventBus'

export default {
  components: { CollectionTypeItem },
  props: {
    currentCollection: {
      type: [Array, Object],
      required: true,
      default () { return {} }
    }
  },
  data () {
    return {
      children: {},
      itemCounter: 0,
      html: null
    }
  },
  mounted () {
    if (this.$slots.prototype === undefined || this.$slots.prototype.length === 0 || !Object.hasOwnProperty.call(this.$slots.prototype[0], 'text')) {
      return
    }
    this.html = this.$slots.prototype[0]?.text

    const collectionLength = (Array.isArray(this.currentCollection))
      ? this.currentCollection.length
      : Object.keys(this.currentCollection).length

    if (collectionLength === 0) {
      this.add()
    } else {
      this.itemCounter = collectionLength
    }

    eventBus.$on('collection-item-add', () => {
      this.add()
    })
  },
  beforeDestroy () {
    eventBus.$off('collection-item-add')
  },
  methods: {
    add () {
      this.itemCounter++
      const children = {}
      children[this.itemCounter] = {
        id: this.itemCounter,
        html: this.getHtmlForItem(this.itemCounter)
      }

      this.children = Object.assign({}, this.children, children)
    },
    remove (id) {
      const children = this.children
      delete children[id]
      this.children = Object.assign({}, children)
    },
    getHtmlForItem (id) {
      return this.html
        .replace(/__name__label__/g, '')
        .replace(/__name__/g, id)
    }
  }
}
</script>

<style lang="scss">
.collection-type-prototype {
  display: none;
}

.collection-buttons {
  min-width: 3rem;
  text-align: center;
}

.collection-children fieldset {
  margin-bottom: 0 !important;
}
</style>
