<template>
  <div
    v-if="show"
    class="d-flex align-items-center"
  >
    <slot />
    <div class="collection-buttons">
      <img
        src="/build/static/icons/delete-filter.svg"
        role="button"
        @click="show = false"
      >
      <img
        src="/build/static/icons/add-filter.svg"
        role="button"
        @click="add()"
      >
    </div>
  </div>
</template>

<script>
import eventBus from '../../eventBus'

export default {
  data () {
    return {
      show: true
    }
  },
  methods: {
    add () {
      eventBus.$emit('collection-item-add')
    }
  }
}
</script>
