<template>
  <datetime
    v-model="date"
    :type="type"
    :format="format"
    :phrases="{ok: $translator.trans( 'OK' ), cancel: $translator.trans( 'Cancel' )}"
    :use12-hour="false"
    auto
    class="input-group datetime-picker-primary"
    :placeholder="placeholder"
    input-class="date inline form-control form-control-sm"
    :disabled="disabled"
  >
    <template slot="after">
      <div class="input-group-text d-flex align-items-center justify-content-center">
        <img
          src="/build/static/icons/calendar-date-green.svg"
          class="calendar"
        >
      </div>
    </template>
  </datetime>
</template>

<script>
import { Datetime } from 'vue-datetime'
import { DateTime } from 'luxon'

export default {
  name: 'DateTimeInput',
  components: { Datetime },
  props: {
    value: {
      type: String,
      required: false,
      default: () => null
    },
    format: {
      type: Object,
      required: false,
      default: () => DateTime.DATE_MED
    },
    placeholder: {
      type: String,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false,
      required: false
    },
    type: {
      type: String,
      default: 'date',
      required: false
    }
  },
  computed: {
    date: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
        this.$emit('change', value)
      }
    }
  }
}
</script>
