<template>
  <ul>
    <li
      v-for="(option, _index) in options"
      :key="_index"
    >
      <label>
        <input
          :id="option.value"
          type="radio"
          :checked="option.value === defaultValue"
          :name="name"
          :value="option.value"
          @change="changeSelect(option)"
        >
        <button
          type="button"
          disabled="disabled"
          class="btn text-black"
        >
          {{ option.label }}
        </button>
      </label>
    </li>
  </ul>
</template>

<script>
export default  {
  name: 'InputSelectButton',
  props: {
    options: {
      type: Array,
      required: true
    },
    defaultValue: {
      type: String,
      required: false,
      default: null
    },
    name: {
      type: String,
      required: false,
      default: 'input-select-button'
    }
  },
  methods: {
    changeSelect (option) {
      this.$emit('change', option.value)
    }
  }
}
</script>

<style scoped>
ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  & li {
    position: relative;
    list-style: none;
    text-align: center;
    margin-right: 15px;

    & label {
      position: relative;
      cursor: pointer;

      & input[type="radio"] {
        display: none;
      }

      & button {
        border-width: 2px;
        border-color: #CACACA;
      }

      & :checked ~ button {
        border-color: #80BC00;
      }

      & .icon-box {
        width: 60px;
        height: 60px;
        background: #ebf5fc;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
        3px 3px 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
      }
    }
  }
}
</style>
