<template>
  <small
    style="font-size: 12px"
    :class="['', {
      'text-danger': current >= max
    }]"
  >{{ $translator.trans('Characters %current%/%max%', {
    'current': current,
    'max': max
  }) }}</small>
</template>

<script>
export default {
  name: 'MaxLengthInput',
  props: {
    value: {
      type: String,
      required: true
    },
    max: {
      type: String,
      required: true
    }
  },
  computed: {
    current () {
      return this.value.length
    }
  }
}
</script>
