<template>
  <button
    class="btn"
    :class="{
      [buttonClass]: !disabled && !processing,
      'btn-disabled': disabled || processing,
      'disabled': disabled || processing,
    }"
    :disabled="disabled || processing"
    @click.prevent="$emit('click')"
  >
    <loader
      v-if="processing"
      :color="loaderColor"
    />
    <span v-else><slot /></span>
  </button>
</template>

<script>
import Loader from './Loader'

export default {
  name: 'SubmitButton',
  components: { Loader },
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    processing: {
      type: Boolean,
      required: false,
      default: false
    },
    loaderColor: {
      type: String,
      required: false,
      default: '#80BC00'
    },
    buttonClass: {
      type: String,
      required: false,
      default: 'btn-primary'
    }
  }
}
</script>

<style scoped lang="scss">
  .btn-disabled {
    color: #bababa;
    background-color: #e5e5e5;
    border-color: #bababa;
    cursor: not-allowed;
  }
</style>
