<template>
  <div class="tags-input-wrapper">
    <vue-tags-input
      v-model="tag"
      :tags="tags"
      :placeholder="placeholder"
      :disabled="readOnly"
      @tags-changed="handleInput"
    />
    <input
      v-model="tagModel"
      type="hidden"
      :name="name + '[tags]'"
      :disabled="readOnly"
    >
  </div>
</template>

<script>
import { VueTagsInput } from '@johmun/vue-tags-input/vue-tags-input/publish'

export default {
  components: {
    VueTagsInput
  },
  props: {
    tagsIn: {
      type: Array,
      required: false,
      default: () => []
    },
    name: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      required: false,
      default:() => ''
    },
    readOnly: {
      type: Boolean,
      required: false,
      default:() => false
    }
  },
  data () {
    return {
      tag: '',
      tags: []
    }
  },
  computed: {
    tagModel () {
      return this.tags.map(tag => tag.text)
    }
  },
  mounted () {
    this.tags =
        (this.tagsIn === null || this.tagsIn.length === 0)
          ? []
          : this.tagsIn
            .filter(tag => tag.length > 0)
            .map(tag => {
              return { text: tag }
            })
  },
  methods: {
    handleInput (newTags) {
      this.tags = newTags
      this.$emit('input', this.tagModel)
    }
  }
}
</script>

<style scoped>
/deep/ .ti-new-tag-input {
  height: auto !important;
}
/deep/ .vue-tags-input {
  max-width: 100%;
}
/deep/.ti-tag {
  background-color: #a2d142;
}

.tags-input-wrapper {
  width: calc(100% - 26px);
}
</style>
