<template>
  <div>
    <div class="hide">
      <slot name="default-value" />
    </div>
    <editor
      :disabled="isDisabled"
      :name="name"
      api-key="ezpi6jkk8as92qn3gw1iulke3e7pyd1tud5lcyz8pe3pq71c"
      :initial-value="data"
      :init="{
        width: '100%',
        height: '355px',
        menubar: 'file edit view insert format table help',
        fontsize_formats: '8px 10px 12px 14px 18px 24px 36px',
        plugins: [
          'print preview paste importcss searchreplace autolink',
          'save directionality code visualblocks visualchars fullscreen image',
          'link template codesample table charmap hr pagebreak nonbreaking',
          'anchor insertdatetime advlist lists wordcount textpattern',
          'noneditable help charmap quickbars emoticons'
        ],
        toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
        toolbar_sticky: false,
        toolbar_mode: 'sliding',
        language: 'fr_FR',
        images_upload_handler: onSubmitImage,
        //image_list: loadListImages,
        relative_urls: false,
        remove_script_host : false,
        convert_urls: false
      }"
      @onFocusOut="onChangeCallback"
    />
  </div>
</template>

<script>
import Editor from '@tinymce/tinymce-vue'

export default {
  name: 'TinymceInput',
  components: {
    Editor
  },
  props: {
    name: {
      type: String,
      required: true
    },
    isDisabled: {
      type: Boolean,
      required: false,
      default: false
    },
    onChangeCallback: {
      type: Function,
      required: false,
      default: () => true
    }
  },
  data () {
    return {
      data: null
    }
  },
  mounted () {
    if (this.$slots['default-value'] === undefined || this.$slots['default-value'].length === 0 || !Object.hasOwnProperty.call(this.$slots['default-value'][0], 'text')) {
      this.data = ''
    } else {
      this.data = this.$slots['default-value'][0].text
    }
  },
  methods: {
    onSubmitImage (blobInfo, success, failure) {
      const data = new FormData()
      data.append('file', blobInfo.blob(), blobInfo.filename())
      this.$axios.post(this.$routing.generate('_file_upload'), data)
        .then(function (res) {
          success(res.data.location)
        })
        .catch(function (err) {
          failure('HTTP Error: ' + err.message)
        })
    },
    loadListImages (success, failure) {
      this.$axios.post(this.$routing.generate('_list_images'))
        .then(function (res) {
          success(res.data)
        })
        .catch(function (err) {
          failure('HTTP Error: ' + err.message)
        })
    }
  }
}

</script>
