<template>
  <img
    class="mb-0"
    src="/build/static/icons/question.svg"
    :alt="text"
    :data-bs-html="html"
    :title="text"
    data-bs-toggle="tooltip"
  >
</template>

<script>
export default {
  name: 'Tooltip',
  props: {
    text: {
      type: String,
      required: true
    },
    html: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  mounted () {
    this.$nextTick(() => {
      const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      tooltipTriggerList.map((tooltipTriggerEl) => {
        return new this.$bootstrap.Tooltip(tooltipTriggerEl)
      })
    })
  }
}
</script>

<style scoped>

</style>
