<template>
  <div>
    <div
      v-if="currentSession.length > 0"
      class="table-content"
    >
      <session-list-item
        v-for="session in currentSession"
        :key="session.id"
        :session="session"
        view="current_session"
      />
    </div>
    <div v-else>
      <alert
        type="info"
        :text="$translator.trans('No sessions to come')"
      />
    </div>
  </div>
</template>

<script>
import SessionListItem from '../sessions/list/SessionListItem'
import Alert           from '../ui/Alert'
import CurrentUserMixin       from '../../mixin/CurrentUserMixin'

export default {
  name: 'CurrentSession',
  components: { SessionListItem, Alert },
  mixins: [CurrentUserMixin],
  props: {
    currentSession: {
      type: Array,
      required: true
    }
  }
}
</script>
