<template>
  <section class="activity-log">
    <div class="activity-log__item">
      <br>
      <h2
        class="justify-content-end"
        style="padding-bottom: 10px"
      >
        {{ $translator.trans('News') }}
      </h2>
      <ul class="activity-log__list-container">
        <li
          v-for="widget in widgetNews"
          :key="widget.id"
          class="activity-log__list-item activity-log__list-item-information mb-42"
        >
          <time
            class="activity-log__list-hour"
          ><b>{{ widget.date|formatDate("dd MMMM") }}</b><br><span style="margin-right: 20px"> {{ $translator.trans('at') }} {{ widget.date|formatDate("HH:mm") }}</span></time>
          <div
            class="round d-flex align-items-center justify-content-center"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-original-title="Informations"
          >
            <div
              v-if="widget.color === 'green'"
              class="round__inside green"
            />
            <div
              v-else-if="widget.color === 'red'"
              class="round__inside red"
            />
            <div
              v-else
              class="round__inside blue"
            />
          </div>
          <div class="activity-log__list-txt-container">
            <h3>
              {{ widget.title }}
            </h3>
            <p>
              {{ $translator.trans('created by') }} : {{ widget.user.fullName }}
            </p>
            <br>
            <p
              class="activity-log__list-content"
              v-html="widget.content"
            />
          </div>
        </li>
        <a
          :href="$routing.generate( '_widget_news_index')"
        >{{ $translator.trans('See all news') }}</a>
      </ul>
    </div>
  </section>
</template>

<script>

export default {
  name: 'WidgetNews',
  props: {
    widgetNews: {
      type: Array,
      required: true
    },
    isAdmin: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      widgetNewsModal: {
        color : 'red',
        title : null,
        content : null,
        lang : 'fr'
      }
    }
  }
}
</script>
