<template>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable text-start modal-lg">
    <div class="modal-content">
      <div class="modal-header px-4 py-3">
        <h5
          id="exampleModalLabel"
          class="modal-title"
        >
          {{ $translator.trans( 'Add a news' ) }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        />
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8 col-lg-8">
            <div class="form__item">
              <label
                class="form-label"
                for="user-connecteurs-name"
              >{{ $translator.trans( 'Novelty title' ) }} <sup title="Obligatoire">*</sup></label>
              <input
                id="user-connecteurs-name"
                v-model="widgetNewsData.title"
                type="text"
                class="form-control"
                required
              >
            </div>
            <div class="form__item">
              <label for="user-global-model-convocation">{{ $translator.trans( 'Color' ) }} <sup title="Obligatoire">*</sup></label>
              <select
                id="user-global-model-convocation"
                v-model="widgetNewsData.color"
                required
              >
                <option
                  v-for="(color) in colorsWidget"
                  :key="color"
                  :value="color"
                >
                  {{ humanizeColor(color) }}
                </option>
              </select>
            </div>
            <div class="form__item">
              <label for="user-global-model-convocation">{{ $translator.trans( 'Language' ) }} <sup title="Obligatoire">*</sup></label>
              <select
                v-model="widgetNewsData.lang"
                class="form-control form-select pe-auto"
                required
              >
                <option value="fr">
                  {{ $translator.trans( 'French' ) }}
                </option>
                <option value="en">
                  {{ $translator.trans( 'English' ) }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form__item custom-block">
            <label for="user-convoc-custom-content">
              {{ $translator.trans( 'Message body' ) }}
              <sup title="Obligatoire">*</sup>
            </label>
            <TinymceInput
              id="widget-news-content"
              :name="'widget-news-content'"
              :on-change-callback="onChangePersonalizedContentCallback"
            >
              <template #default-value>
                {{ widgetNewsData.content }}
              </template>
            </TinymceInput>
          </div>
        </div>
        <alert
          v-if="errorMessage"
          type="danger"
          :text="errorMessage"
        />
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          {{ $translator.trans( 'Close' ) }}
        </button>
        <submit-button
          v-if="!isUpdate"
          :disabled="!isValid"
          :processing="processing"
          class="btn btn-primary"
          @click="addNews"
        >
          {{ $translator.trans( 'Add' ) }}
        </submit-button>
        <submit-button
          v-else
          :disabled="!isValid"
          :processing="processing"
          class="btn btn-primary"
          @click="updateNews"
        >
          {{ $translator.trans( 'Update' ) }}
        </submit-button>
      </div>
    </div>
  </div>
</template>

<script>

import SubmitButton from '../ui/SubmitButton.vue'
import TinymceInput from '../ui/TinymceInput.vue'
import Alert           from '../ui/Alert'

export default {
  name: 'WidgetNewsModal',
  components: { SubmitButton, TinymceInput, Alert },
  props: {
    widgetNews: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      colorsWidget : ['red', 'green', 'blue'],
      widgetNewsData : this.widgetNews,
      processing : false,
      isUpdate : false,
      errorMessage :null
    }
  },
  computed: {
    isValid () {
      return this.widgetNewsData.title !==
             null &&
             this.widgetNewsData.title !==
             '' &&
             this.widgetNewsData.color !==
             null &&
             this.widgetNewsData.lang !==
             null &&
             this.widgetNewsData.content !==
             null &&
             this.widgetNewsData.content !==
             '<p><br data-mce-bogus="1"></p>' &&
             this.widgetNewsData.content !==
             '<p><br></p>'
    }
  },
  watch: {
    widgetNews () {
      this.widgetNewsData.color = this.widgetNews.color
      this.widgetNewsData.title = this.widgetNews.title
      this.widgetNewsData.content = this.widgetNews.content
      this.widgetNewsData.lang = this.widgetNews.languages
      if (this.widgetNews.id) {
        this.isUpdate = true
      } else {
        this.isUpdate = false
      }
    }
  },
  methods: {
    onChangePersonalizedContentCallback (event, editor) {
      this.widgetNewsData.content = editor.getBody().innerHTML
    },
    humanizeColor (color) {
      switch (color) {
        case 'red': {
          return this.$translator.trans('Red')
        }
        case 'green': {
          return this.$translator.trans('Green')
        }
        case 'blue': {
          return this.$translator.trans('Blue')
        }
      }
    },
    addNews () {
      const route   = this.$routing.generate('_add_news_widget', { title: this.widgetNewsData.title, color: this.widgetNewsData.color, lang: this.widgetNewsData.lang, content : this.widgetNewsData.content })

      this.processing = true

      this.$axios
        .post(route)
        .then(() => {
          window.location.href = this.$routing.generate('_dashboard_index')
        })
        .catch((error) => {
          if (error.data) {
            this.errorMessage = error.response.data.message.text
          }
        })
        .finally(() => {
          this.processing = false
        })
    },
    updateNews () {
      const route   = this.$routing.generate('_update_news_widget', { id: this.widgetNews.id, title: this.widgetNewsData.title, color: this.widgetNewsData.color, lang: this.widgetNewsData.lang, content : this.widgetNewsData.content })

      this.processing = true

      this.$axios
        .post(route)
        .then(() => {
          window.location.href = this.$routing.generate('_dashboard_index')
        })
        .catch((error) => {
          if (error.data) {
            this.errorMessage = error.response.data.message.text
          }
        })
        .finally(() => {
          this.processing = false
        })
    }
  }

}
</script>
