<template>
  <fieldset class="form__fieldset">
    <legend class="mb-4">
      {{ $translator.trans('Form') }}
      <img
        src="/build/static/icons/question.svg"
        data-bs-placement="left"
        data-bs-toggle="tooltip"
        :title="$translator.trans('Customize your form by adjusting the settings according to your needs. You have the option to mark certain fields as mandatory or optional, to change the question titles to better match your inquiries, and to tweak other elements to create a form that precisely meets your criteria. Enjoy complete flexibility to design a tailor-made form.')"
      >
      <br><br>
      <transition name="slide-fade">
        <alert
          v-if="deletedQuestionSystem"
          :text="$translator.trans('It is not possible to delete this question')"
          type="danger"
        />
      </transition>
      <div class="col">
        <div class="row">
          <div
            class="col-1"
          />
          <div class="col">
            {{ $translator.trans('Question') }}
          </div>
          <div
            class="col-1"
            style="margin-right: 60px"
          >
            {{ $translator.trans('Obligatory') }}
          </div>
          <div
            class="col-1"
            style="margin-right: 60px"
          >
            {{ $translator.trans('Displayed') }}
          </div>
        </div>
        <hr>
        <draggable
          :list="module.registrationForm"
          group="questions"
        >
          <div
            v-if="module.registrationForm.length === 0"
            style="border-bottom: 2px dashed #c4c4c4; height: 70px; margin-left: 50px"
            class="text-center"
          >
            {{ $translator.trans('Drop your questions here') }}
          </div>
          <div
            v-for="(element, index) in module.registrationForm"
            v-else
            :key="element.name"
            class="row mb-2"
            style="cursor: move"
          >
            <span
              class="col-1"
              style="margin-top: 5px"
            >
              <img
                style="left: 0; top: 0; bottom: 0; margin: auto 0; width: 16px; height: 16px; opacity: .5"
                src="/build/static/icons/draggable.svg"
                alt=""
              >
            </span>
            <div class="col">
              <strong>{{ index + 1 }} . {{ labelOfQuestion(element) }}</strong>
              <button
                v-if="canUpdatePlaceholder(element.type)"
                class="btn px-2"
                @click="editFormItems(element.type)"
              >
                <img
                  src="/build/static/icons/edit-small-green.svg"
                  class="me-2"
                >
              </button>
              <span
                v-if="!element.standard"
                class="col-1 ms-1"
                data-bs-toggle="modal"
                data-bs-target="#addOrUpdateCustomQuestionModal"
                role="button"
                @click="showUpdateQuestion(index)"
              >
                <img
                  src="/build/static/icons/edit-small-green.svg"
                  alt=""
                >
              </span>
              <br>
              <p style="margin-left: 20px">
                {{ $translator.trans(utilHumanizeInputType(element.type)) }}
              </p>
              <div
                v-if="utilsIsAvailableOptions(element)"
                style="margin-left: 20px"
              >
                <strong>{{ $translator.trans('Options') }}:</strong>
                <ul>
                  <li
                    v-for="(optionRead, indexOption) in element.options"
                    :key="indexOption"
                    style="margin-left: 30px"
                  >
                    <span>{{ optionRead.response }}</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-2">
              <input
                v-model="element.obligatory"
                :disabled="isDisabledObligationType(element.type)"
                type="checkbox"
                class="form-check-input"
                @change="updateDisplayedElement(element)"
              >
            </div>
            <div class="col-2">
              <input
                v-model="element.displayed"
                :disabled="isDisabledDisplayedElement(element)"
                type="checkbox"
                class="form-check-input"
              >
            </div><hr>
          </div>
        </draggable>
      </div>
    </legend>
    <br><br>
    <div
      class="text-center"
      role="button"
    >
      <span
        v-if="module.registrationForm.length > 0"
        style="color: #6c757d; margin-right: 30px"
        @click="emptyFormQuestions()"
      > X {{ $translator.trans('Reset') }}</span>
      <img
        src="/build/static/icons/plus-green.svg"
        data-bs-toggle="modal"
        data-bs-target="#addOrUpdateCustomQuestionModal"
        alt=""
      >
      <span
        data-bs-toggle="modal"
        data-bs-target="#addOrUpdateCustomQuestionModal"
        style="color: #6cc91f"
      >{{ $translator.trans('Add a custom question') }}</span>
    </div>

    <edit-form-items-catalog-modal :field="field" />
  </fieldset>
</template>

<script>
import draggable from 'vuedraggable'
import {
  isDisabledObligationType,
  utilHumanizeInputType,
  utilsIsAvailableOptions,
  canUpdatePlaceholder
} from '../../../../../store/module/module'
import { mapState } from 'vuex'
import EditFormItemsCatalogModal from '../../../../ui/modal/EditFormItemsCatalogModal.vue'
import Alert from '../../../../ui/Alert.vue'
export default {
  name: 'FormCustom',
  components: { Alert, EditFormItemsCatalogModal, draggable },
  data () {
    return {
      deletedQuestionSystem: false,
      field: null,
      systemQuestions: [
        { type: 'firstName', order: 0, question: 'First name', displayed: true, obligatory: true, standard: true },
        { type: 'lastName', order: 1, question: 'Last name', displayed: true, obligatory: true, standard: true },
        { type: 'company', order: 2, question: 'Company', displayed: true, obligatory: false, standard: true },
        { type: 'phone_system', order: 3, question: 'Cellphone', displayed: false, obligatory: false, standard: true },
        { type: 'email_system', order: 4, question: 'Email address', displayed: true, obligatory: true, standard: true },
        { type: 'password', order: 5, question: 'Password', displayed: true, obligatory: true, standard: true }
      ]
    }
  },
  computed: {
    ...mapState('module', ['module'])
  },
  watch: {
    'module.registrationForm' () {
      this.validateAndRestoreSystemQuestions()
    }
  },
  methods: {
    utilsIsAvailableOptions,
    utilHumanizeInputType,
    showUpdateQuestion (questionIndex) {
      this.isUpdate = true
      this.newQuestion = this.module.registrationForm[questionIndex]
    },
    emptyFormQuestions () {
      this.$emit('empty-form-questions')
    },
    editFormItems (type) {
      this.field = type === 'company' ? 'company' : 'email'
      const modal = this.$bootstrap.Modal.getOrCreateInstance(document.getElementById('edit_form_items_catalog_modal_'))
      modal.show()
    },
    labelOfQuestion (element) {
      const getLabel = (label, obligatory) => obligatory ? `${label} *` : label
      switch (element.type) {
        case 'company':
          return getLabel(this.module.companyPlaceholder, element.obligatory)
        case 'email_system':
          return getLabel(this.module.emailPlaceholder, element.obligatory)
        case 'phone_system':
          return getLabel(this.$translator.trans('Cellphone'), element.obligatory)
        default:
          return getLabel(this.$translator.trans(element.question), element.obligatory)
      }
    },
    isDisabledDisplayedElement (element) {
      return element.obligatory
    },
    updateDisplayedElement (element) {
      if (element.obligatory) {
        element.displayed = true
      }
    },
    isDisabledObligationType,
    canUpdatePlaceholder,
    validateAndRestoreSystemQuestions () {
      this.systemQuestions.forEach(standardQuestion => {
        if (!this.module.registrationForm.some(question => question.type === standardQuestion.type)) {
          this.deletedQuestionSystem = true
          this.module.registrationForm.push({ ...standardQuestion })
          this.showAlertTemporarily()
        }
      })
    },
    showAlertTemporarily () {
      setTimeout(() => {
        this.deletedQuestionSystem = false
      }, 3000)
    }
  }
}
</script>

<style scoped>
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
</style>
