<template>
  <div class="row">
    <h3>{{ $translator.trans('Customize the registration form') }}</h3>
    <br><br>
    <div class="col-md-12 mb-28">
      <em>
        {{ $translator.trans("You can easily build your registration form using intuitive 'drag and drop' functionality to organize questions and add your own custom questions. You can customize each question field to suit your needs and save changes when you're done. With this feature, you can create a unique registration form for your business or organization, collecting the exact information you need from your customers") }}
      </em>
      <br>
    </div>
    <br><br><br>
    <div class="col-3">
      <standard-questions-form-custom />
    </div>
    <div
      class="col-4 mb-30"
      style="margin-right: 50px; margin-left: 20px"
    >
      <form-custom @empty-form-questions="emptyFormQuestions" />
    </div>
    <div class="col-4">
      <preview-form-custom />
    </div>
    <add-or-update-custom-question-modal
      :is-update="isUpdate"
      @update-update="updateUpdate"
    />
  </div>
</template>

<script>

import { mapState }            from 'vuex'
import PreviewFormCustom from './PreviewFormCustom.vue'
import AddOrUpdateCustomQuestionModal from '../../../../ui/modal/AddOrUpdateCustomQuestionModal.vue'
import { utilHumanizeInputType, utilsIsAvailableOptions } from '../../../../../store/module/module'
import StandardQuestionsFormCustom from './StandardQuestionsFormCustom.vue'
import FormCustom from './FormCustom.vue'
export default {
  name: 'FormCustomTab',
  components: {
    FormCustom,
    StandardQuestionsFormCustom,
    AddOrUpdateCustomQuestionModal,
    PreviewFormCustom
  },
  data () {
    return {
      isUpdate: false
    }
  },
  computed: {
    ...mapState('module', ['module']),
    ...mapState('template', ['template'])
  },
  methods: {
    utilsIsAvailableOptions,
    utilHumanizeInputType,
    updateUpdate (status) {
      this.isUpdate = status
    },
    emptyFormQuestions () {
      this.$emit('empty-form-questions')
    }
  }
}
</script>
