<template>
  <fieldset class="form__fieldset fieldset-secondary">
    <legend class="mb-4">
      {{ $translator.trans('Preview of the form') }}
      <img
        src="/icons/question.svg"
        data-bs-placement="left"
        data-bs-toggle="tooltip"
        :title="$translator.trans('This area displays a real-time preview of your form. Here, observe how changes made in the customization interface affect the final appearance of your form.')"
        alt=""
      >
      <br><br>
      <form class="form">
        <div
          v-for="(element, index) in module.registrationForm"
          :key="index"
        >
          <div
            v-if="element.type === 'firstName'"
            class="mb-3 form__item"
          >
            <label>
              {{ $translator.trans( 'Firstname' ) }}
              <sup
                class="required text-danger"
                :title="$translator.trans('Required')"
              >*</sup>
            </label>
            <input
              name="name"
              style="background: #f5f3f3;"
              :placeholder="$translator.trans('Firstname')+ ' *'"
              class="form-control"
            >
          </div>
          <div
            v-if="element.type === 'lastName'"
            class="mb-3 form__item"
          >
            <label>
              {{ $translator.trans( 'Lastname' ) }}
              <sup
                class="required text-danger"
                :title="$translator.trans('Required')"
              >*</sup>
            </label>
            <input
              name="name"
              style="background: #f5f3f3;"
              :placeholder="$translator.trans('Lastname')+ ' *'"
              class="form-control"
            >
          </div>
          <div
            v-if="element.type === 'company' && element.displayed"
            class="mb-3 form__item"
          >
            <label>
              {{ module.companyLabel }}
              <sup
                v-if="element.obligatory"
                class="required text-danger"
                :title="$translator.trans('Required')"
              >*</sup>
            </label>
            <input
              name="company"
              :placeholder="labelOfQuestion(element)"
              class="form-control"
            >
          </div>
          <div
            v-if="element.type === 'phone_system' && element.displayed"
            class="mb-3 form__item"
          >
            <label>
              {{ $translator.trans('Cellphone') }}
              <sup
                v-if="element.obligatory"
                class="required text-danger"
                :title="$translator.trans('Required')"
              >*</sup>
            </label>
            <input
              name="company"
              :placeholder="labelOfQuestion(element)"
              class="form-control"
            >
          </div>
          <div
            v-if="element.type === 'email_system'"
            class="mb-3 form__item"
          >
            <label>
              {{ module.emailLabel }}
              <sup
                v-if="element.obligatory"
                class="required text-danger"
                :title="$translator.trans('Required')"
              >*</sup>
            </label>
            <input
              name="email"
              type="email"
              style="background: #f5f3f3;"
              :placeholder="labelOfQuestion(element)"
              class="form-control"
            >
          </div>
          <div
            v-if="element.type === 'password'"
            class="mb-3 form__item"
          >
            <label>
              {{ $translator.trans('Password') }}
              <sup
                v-if="element.obligatory"
                class="required text-danger"
                :title="$translator.trans('Required')"
              >*</sup>
            </label>
            <input
              name="email"
              type="email"
              style="background: #f5f3f3;"
              :placeholder="$translator.trans('Password')+ ' *'"
              class="form-control"
            >
          </div>
          <div
            v-if="element.type === 'text' && element.displayed"
            class="form__item"
            style="margin-bottom: 12px"
          >
            <label>
              {{ $translator.trans(element.question) }}
              <sup
                v-if="element.obligatory"
                class="required text-danger"
                :title="$translator.trans('Required')"
              >*</sup>
            </label>
            <input
              :placeholder="labelOfQuestion(element)"
              class="form-control"
            >
          </div>
          <div
            v-if="element.type === 'textarea' && element.displayed"
            class="form__item"
            style="margin-bottom: 12px"
          >
            <label>
              {{ $translator.trans(element.question) }}
              <sup
                v-if="element.obligatory"
                class="required text-danger"
                :title="$translator.trans('Required')"
              >*</sup>
            </label>
            <textarea
              :placeholder="labelOfQuestion(element)"
              class="form-control"
              style="min-height: 80px"
            />
          </div>
          <div
            v-else-if="element.type === 'email' && element.displayed"
            class="form__item"
            style="margin-bottom: 12px"
          >
            <label>
              {{ $translator.trans(element.question) }}
              <sup
                v-if="element.obligatory"
                class="required text-danger"
                :title="$translator.trans('Required')"
              >*</sup>
            </label>
            <input
              :placeholder="labelOfQuestion(element)"
              type="email"
              class="form-control"
            >
          </div>
          <div
            v-else-if="element.type === 'number' && element.displayed"
            class="form__item"
            style="margin-bottom: 12px"
          >
            <label>
              {{ $translator.trans(element.question) }}
              <sup
                v-if="element.obligatory"
                class="required text-danger"
                :title="$translator.trans('Required')"
              >*</sup>
            </label>
            <input
              :placeholder="labelOfQuestion(element)"
              type="number"
              class="form-control"
            >
          </div>
          <div
            v-else-if="element.type === 'tel' && element.displayed"
            class="form__item"
            style="margin-bottom: 12px"
          >
            <label>
              {{ $translator.trans(element.question) }}
              <sup
                v-if="element.obligatory"
                class="required text-danger"
                :title="$translator.trans('Required')"
              >*</sup>
            </label>
            <input
              :placeholder="labelOfQuestion(element)"
              type="tel"
              class="form-control"
            >
          </div>
          <div
            v-else-if="element.type === 'date' && element.displayed"
            class="form__item col-6"
            style="margin-bottom: 12px"
          >
            <label>
              {{ $translator.trans(element.question) }}
              <sup
                v-if="element.obligatory"
                class="required text-danger"
                :title="$translator.trans('Required')"
              >*</sup>
            </label>
            <date-time-input
              :placeholder="labelOfQuestion(element)"
            />
          </div>
          <div
            v-else-if="element.type === 'select' && element.displayed"
            class="form__item"
            style="margin-bottom: 12px"
          >
            <label>
              {{ $translator.trans(element.question) }}
              <sup
                v-if="element.obligatory"
                class="required text-danger"
                :title="$translator.trans('Required')"
              >*</sup>
            </label>
            <select class="form-control">
              <option
                v-for="(value, indexValue) in element.options"
                :key="indexValue"
                :value="value.response"
              >
                {{ value.response }}
              </option>
            </select>
          </div>

          <div
            v-else-if="element.type === 'radio' && element.displayed"
            style="margin-left: 10px;margin-bottom: 12px"
          >
            <label>
              {{ $translator.trans(element.question) }}
              <sup
                v-if="element.obligatory"
                class="required text-danger"
                :title="$translator.trans('Required')"
              >*</sup>
            </label>
            <div
              v-for="(value, indexValue) in element.options"
              :key="indexValue"
              class="col"
              style="margin-left: 10px"
            >
              <input
                v-model="myRadioShow"
                type="radio"
                :value="value.response"
                class="form-check-input ms-1"
              >
              <label for="all-users">{{ $translator.trans( value.response) }}</label>
            </div>
          </div>
          <div
            v-else-if="element.type === 'checkbox' && element.displayed"
            style="margin-left: 10px;margin-bottom: 12px"
          >
            <label>
              {{ $translator.trans(element.question) }}
              <sup
                v-if="element.obligatory"
                class="required text-danger"
                :title="$translator.trans('Required')"
              >*</sup>
            </label>
            <div
              v-for="(value, indexValue) in element.options"
              :key="indexValue"
              class="col"
              style="margin-left: 10px"
            >
              <input
                v-model="selectedCheckboxShow"
                type="checkbox"
                :value="value.response"
                class="form-check-input ms-1"
              >
              <label>{{ $translator.trans( value.response) }}</label>
            </div>
          </div>
        </div>
        <div class="form-check">
          <input
            id="user-is-licence-for-webex"
            type="checkbox"
            class="form-check-input check-webex"
          >
          <label
            class="form-check-label"
            v-html="$translator.trans(messageAcceptCondition)"
          />
        </div>
      </form>
    </legend>
  </fieldset>
</template>

<script>
import DateTimeInput from '../../../../ui/DateTimeInput.vue'
import { mapState } from 'vuex'

export default {
  name: 'PreviewFormCustom',
  components: {
    DateTimeInput
  },
  data () {
    return {
      myRadioShow: null,
      selectedCheckboxShow: [],
      messageAcceptCondition: 'I agree to the <strong><a href="https://live-session.fr/confidentialite/" target="_blank"> Live Session Terms and Conditions </a></strong> and acknowledge that I have been informed and consent to the processing of my personal data detailed in the <strong><a href="https://live-session.fr/mentions-legales/" target="_blank"> Live Session Privacy Policy </a></strong>.'
    }
  },
  computed: {
    ...mapState('module', ['module'])
  },
  methods: {
    labelOfQuestion (element) {
      const getLabel = (label, obligatory) => obligatory ? `${label} *` : label
      switch (element.type) {
        case 'company':
          return getLabel(this.module.companyPlaceholder, element.obligatory)
        case 'email_system':
          return getLabel(this.module.emailPlaceholder, element.obligatory)
        case 'phone_system':
          return getLabel(this.$translator.trans('Cellphone'), element.obligatory)
        default:
          return getLabel(this.$translator.trans(element.question), element.obligatory)
      }
    }
  }
}
</script>

<style scoped>

</style>
