<template>
  <fieldset class="form__fieldset fieldset-secondary">
    <legend class="mb-4">
      {{ $translator.trans('Standard Questions') }}
      <img
        src="/build/static/icons/question.svg"
        data-bs-placement="left"
        data-bs-toggle="tooltip"
        :title="$translator.trans('Here, you have access to a selection of ready-to-use standard questions. You can easily integrate them into your form by dragging and dropping them into the desired area. Take advantage of this feature to quickly build your form with commonly used questions.')"
        alt=""
      >
      <br><br>
      <div>
        <draggable
          :list="standardQuestions"
          group="questions"
        >
          <div
            v-for="(element) in standardQuestions"
            :key="element.name"
            class="form-control position-relative"
            style="margin-bottom: 10px; height: 60px; cursor: move"
          >
            <img
              class="position-absolute"
              style="left: 1px; top: 0; bottom: 0; margin: auto 0; width: 16px; height: 16px; opacity: .5"
              src="/build/static/icons/draggable.svg"
              alt=""
            >
            <div>
              <div class="ms-3">
                <span>
                  <strong>{{ $translator.trans(element.question) }}</strong>
                </span>
                <p>{{ $translator.trans(utilHumanizeInputType(element.type)) }}</p>
              </div>
            </div>
          </div>
        </draggable>
      </div>
      <div
        v-if="standardQuestions.length > 0"
        class="text-center col"
        role="button"
        @click="addAllQuestions()"
      >
        <br><br>
        <img
          src="/build/static/icons/plus-green.svg"
          alt=""
        >
        <span style="color: #6cc91f">{{ $translator.trans('Add all questions') }}</span>
      </div>
    </legend>
  </fieldset>
</template>

<script>
import draggable               from 'vuedraggable'
import { utilHumanizeInputType } from '../../../../../store/module/module'
import { mapState } from 'vuex'

export default {
  name: 'StandardQuestionsFormCustom',
  components: { draggable },
  data () {
    return {
      standardQuestions: [
        { question: 'Professional phone', order: 1, response: '', type: 'tel', obligatory: false, displayed: true, standard: true, options: [{ response: '' }] },
        { question: 'Company Name', order: 2, response: '', type: 'text', obligatory: false, displayed: true, standard: true, options: [{ response: '' }] },
        { question: 'Fonction', order: 3, response: '', type: 'text', obligatory: false, displayed: true, standard: true, options: [{ response: '' }] },
        { question: 'Address 1', order: 4, response: '', type: 'text', obligatory: false, displayed: true, standard: true, options: [{ response: '' }] },
        { question: 'Address 2', order: 5, response: '', type: 'text', obligatory: false, displayed: true, standard: true, options: [{ response: '' }] },
        { question: 'City', order: 6, response: '', type: 'text', obligatory: false, displayed: true, standard: true, options: [{ response: '' }] },
        { question: 'Dept./Prov.', order: 7, response: '', type: 'text', obligatory: false, displayed: true, standard: true, options: [{ response: '' }] },
        { question: 'CP/Zip code', order: 8, response: '', type: 'text', obligatory: false, displayed: true, standard: true, options: [{ response: '' }] },
        { question: 'Country/region', order: 9, response: '', type: 'text', obligatory: false, displayed: true, standard: true, options: [{ response: '' }] },
        { question: 'Number of employees', order: 10, response: '', type: 'text', obligatory: false, displayed: true, standard: true, options: [{ response: '' }] }
      ],
      systemQuestions: [
        { type: 'firstName', order: 0, question: 'First name', displayed: true, obligatory: true, standard: true },
        { type: 'lastName', order: 1, question: 'Last name', displayed: true, obligatory: true, standard: true },
        { type: 'company', order: 2, question: 'Company', displayed: true, obligatory: false, standard: true },
        { type: 'phone_system', order: 3, question: 'Cellphone', displayed: false, obligatory: false, standard: true },
        { type: 'email_system', order: 4, question: 'Email address', displayed: true, obligatory: true, standard: true },
        { type: 'password', order: 5, question: 'Password', displayed: true, obligatory: true, standard: true }
      ]
    }
  },
  computed: {
    ...mapState('module', ['module'])
  },
  watch: {
    standardQuestions () {
      this.removeSystemQuestionsFromStandard()
    }
  },
  mounted () {
    this.$parent.$on('empty-form-questions', this.emptyFormQuestions)
  },
  methods: {
    utilHumanizeInputType,
    addAllQuestions () {
      this.module.registrationForm.splice(0, 0, ...this.standardQuestions)
      this.standardQuestions = []
    },
    emptyFormQuestions () {
      this.standardQuestions.splice(0, 0, ...this.module.registrationForm)
      this.module.registrationForm = []
    },
    removeSystemQuestionsFromStandard () {
      this.systemQuestions.forEach(sysQuestion => {
        const index = this.standardQuestions.findIndex(stdQuestion => stdQuestion.question === sysQuestion.question)
        if (index !== -1) {
          this.standardQuestions.splice(index, 1)
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
