<template>
  <div class="data-list__row">
    <confirmation-pop-in
      :id="'delete_news'+news.id.toString()"
      :title="$translator.trans('Deleting a new')"
      :content="$translator.trans('Do you really want to remove this new?')"
      :confirm="removeNews"
    />
    <div class="row__data">
      {{ news.date|formatDate("datetime_med") }}
    </div>
    <div class="row__data">
      {{ news.title }}
    </div>
    <div
      class="row__data widgetNews__content"
      v-html="news.content"
    />
    <div class="row__data">
      {{ news.user.fullName }}
    </div>
    <div class="row__data">
      {{ news.languages }}
    </div>
    <div class="row__data">
      {{ $translator.trans(news.color) }}
    </div>
    <div
      v-if="isAdmin"
      class="row__data option"
    >
      <div class="drop-menu-container">
        <div class="icn-option">
          <img src="/build/static/icons/options-white.svg">
        </div>
        <ul class="dropdown-menu-inner">
          <li v-if="isAdmin">
            <a
              class="dropdown-item admin-text-color"
              :href="$routing.generate('_widget_news_edit', {'id': news.id})"
            >
              <img
                src="/build/static/icons/edit-small-green.svg"
                class="me-2"
              >
              <b>{{ $translator.trans('Edit') }}</b>
            </a>
          </li>
          <li v-if="isAdmin">
            <a
              class="dropdown-item admin-text-color"
              href="#"
              @click="removeNews"
            >
              <img
                src="/build/static/icons/trash-small.svg"
                class="me-2"
              >
              <b>{{ $translator.trans('Delete') }}</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import ConfirmationPopIn from '../ui/PopIn/ConfirmationPopIn.vue'

export default {
  name: 'NewsListItem',
  components: { ConfirmationPopIn },
  props: {
    news: {
      type: Object,
      required: true
    },
    isAdmin: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  methods: {
    removeNews () {
      const route = this.$routing.generate('_widget_news_delete', { id: this.news.id })
      this.$axios
        .post(route)
        .then(() => {
          window.location.href = this.$routing.generate('_widget_news_index')
        })
        .catch(() => {
          const message = this.$translator.trans('Unable to delete widget news')
          alert(message)
        })
    }
  }
}
</script>
