<template>
  <div>
    <section>
      <div class="data-list">
        <div class="data-list__header justify-content-center">
          <div class="data-list__header__item">
            {{ $translator.trans('Date') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Title') }}
          </div>
          <div class="data-list__header__item widgetNews__content__header__item">
            {{ $translator.trans('Content') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('User') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Language') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Color') }}
          </div>
          <div class="data-list__header__item option" />
        </div>
        <div class="table-content">
          <widget-news-list-item
            v-for="_news in news"
            :key="_news.id"
            :news="_news"
            :is-admin="isAdmin"
          />
        </div>
      </div>
    </section>
  </div>
</template>

<script>

import WidgetNewsListItem from './WidgetNewsListItem.vue'

export default {
  name: 'WidgetNewsList',
  components: { WidgetNewsListItem },
  props: {
    news: {
      type: Array,
      required: false,
      default: () => []
    },
    isAdmin: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>

<style scoped>

</style>
