<template>
  <div>
    <div class="row m-6">
      <div class="col-12">
        <div class="mb-3 form__item">
          <label
            class="form-label"
            for="title"
          >{{ $translator.trans( 'Novelty title' ) }} <sup title="Obligatoire">*</sup></label>
          <input
            id="title"
            v-model="widgetNewsData.title"
            name="title"
            type="text"
            class="form-control"
            required
          >
        </div>
      </div>
    </div>
    <div class="row m-6">
      <div class="col-12 col-md-6">
        <div class="mb-3 form__item">
          <label for="languages">{{ $translator.trans( 'Language' ) }} <sup title="Obligatoire">*</sup></label>
          <select
            id="languages"
            v-model="widgetNewsData.languages"
            name="languages"
            class="form-control form-select pe-auto"
            required
          >
            <option value="fr">
              {{ $translator.trans( 'French' ) }}
            </option>
            <option value="en">
              {{ $translator.trans( 'English' ) }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3 form__item">
          <label for="color">{{ $translator.trans( 'Color' ) }} <sup title="Obligatoire">*</sup></label>
          <select
            id="color"
            v-model="widgetNewsData.color"
            name="color"
            required
          >
            <option
              v-for="(color) in colorsWidget"
              :key="color"
              :value="color"
            >
              {{ $translator.trans(color) }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row m-6">
      <div class="col-12">
        <div class="mb-3 form__item custom-block">
          <label for="content">
            {{ $translator.trans( 'Message body' ) }}
            <sup title="Obligatoire">*</sup>
          </label>
          <TinymceInput
            id="content"
            name="content"
            class="w-100"
            style="padding-right: 26px"
            :on-change-callback="onChangePersonalizedContentCallback"
          >
            <template #default-value>
              {{ widgetNewsData.content }}
            </template>
          </TinymceInput>
        </div>
      </div>
    </div>
    <alert
      v-if="errorMessage"
      type="danger"
      :text="errorMessage"
    />
    <submit-button
      :processing="processing"
      :disabled="!isValid"
      class="btn btn-primary"
      @click="addOrUpdateNews"
    >
      {{ $translator.trans( news ? 'Edit' : 'Add') }}
    </submit-button>
  </div>
</template>

<script>
import Alert from '../ui/Alert.vue'
import TinymceInput from '../ui/TinymceInput.vue'
import SubmitButton from '../ui/SubmitButton.vue'

export default {
  name: 'NewsCreateOrEdit',
  components: { SubmitButton, TinymceInput, Alert },
  props: {
    type: {
      type: String,
      required: true
    },
    news: {
      type: Object,
      require: false,
      default: null
    }
  },
  data () {
    return {
      colorsWidget : ['red', 'green', 'blue'],
      widgetNewsData : this.news ?? {
        color : 'red',
        title : null,
        content : null,
        languages : 'fr'
      },
      processing : false,
      isUpdate : false,
      errorMessage :null
    }
  },
  computed: {
    isValid () {
      return this.widgetNewsData.title !==
          null &&
          this.widgetNewsData.title !==
          '' &&
          this.widgetNewsData.color !==
          null &&
          this.widgetNewsData.languages !==
          null &&
          this.widgetNewsData.content !==
          null &&
          this.widgetNewsData.content !==
          '<p><br data-mce-bogus="1"></p>' &&
          this.widgetNewsData.content !==
          '<p><br></p>'
    }
  },
  methods: {
    onChangePersonalizedContentCallback (event, editor) {
      this.widgetNewsData.content = editor.getBody().innerHTML
    },
    addOrUpdateNews () {
      this.processing = true
      this.$axios({
        method: this.news ? 'PUT' : 'POST',
        url: this.$routing.generate('_widget_news_api_create_or_edit', { id: this.news ? this.news.id : null }),
        data: JSON.stringify(this.widgetNewsData)
      }).then(() => {
        window.location.href = this.$routing.generate('_widget_news_index')
      }).catch((error) => {
        if (error.data) {
          this.errorMessage = error.response.data.message.text
        }
      })
        .finally(() => {
          this.processing = false
        })
    }
  }
}
</script>

<style scoped>

</style>
