<template>
  <div>
    <div class="col-md-12 mb-5">
      <em>
        {{
          $translator.trans('Find here all the actions performed (creation, modification, deletion of session.s - addition, cancellation, removal of participants) and the messages of information, alert and error that result.')
        }}<br>
        {{ $translator.trans('Session data is retained for 90 days after the end of the session.') }}
      </em>
      <br>
    </div>
    <div class="page-options-bar">
      <div class="d-flex part-1">
        <div class="page-options-bar__item pr">
          <div class="page-options-bar__item__search with-result">
            <!--- with-result : si resultat de recherche -->
            <label for="searchInTable">
              <img src="/build/static/icons/search.svg">
            </label>
            <input
              id="searchInTable"
              v-model="message"
              type="search"
              name="searchInTable"
              :placeholder="$translator.trans('Search in my activities')"
              @input="onChange"
            >

            <!--- si resultat de recherche -->
            <div class="search-sessions-counter">
              <b>{{ count }}</b>&nbsp;{{ $translator.trans('Found activities') }}
            </div>
            <!-- end -->
          </div>
        </div>
        <div class="page-options-bar__item">
          <div class="dropdown">
            <div
              class="page-options-bar__item__filters"
              role="button"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
            >
              <img
                v-if="isActiveFilter"
                src="/build/static/icons/filter-primary.svg"
              >
              <img
                v-else
                src="/build/static/icons/filter.svg"
              >

              <img
                src="/build/static/icons/filter-opened.svg"
                class="ms-3"
              >
            </div>

            <div
              class="dropdown-menu dropdown-menu-end dropdown-menu-list dropdown-filter-activity-log overflow-hidden"
            >
              <!-- Contenu Filtre du journal  -->
              <fieldset class="row dropdown-filter-activity-log__checkbox-container">
                <div class="row">
                  <div class="col-6">
                    <div
                      v-for="aType in types()"
                      :key="aType"
                      class="form-check"
                      :class="`filter-${aType}`"
                    >
                      <div class="form-check">
                        <input
                          :id="`filter-${aType}-input`"
                          v-model="type"
                          :value="aType"
                          class="form-check-input"
                          type="radio"
                          @change="onChange"
                        >
                        <label
                          class="form-check-label"
                          :for="`filter-${aType}-input`"
                        >{{ humanizeType(aType) }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset class="row dropdown-filter-activity-log__date-container">
                <div class="col-6">
                  <input
                    id="all-users"
                    v-model="myActivity"
                    type="radio"
                    name="all-users"
                    :value="false"
                    class="form-check-input ms-4"
                    @change="onChange"
                  >
                  <label for="all-users">{{ $translator.trans( 'All the users' ) }}</label>

                  <input
                    id="my-activity"
                    v-model="myActivity"
                    type="radio"
                    name="my-activity"
                    :value="true"
                    class="form-check-input ms-4"
                    @change="onChange"
                  >
                  <label for="my-activity">{{ $translator.trans('My activities') }}</label>
                </div>
              </fieldset>
              <fieldset class="row dropdown-filter-activity-log__checkbox-container">
                <div class="row">
                  <div class="col-12">
                    <div class="row mb-2">
                      <div class="col-3">
                        {{ $translator.trans('Origin') }}
                      </div>
                      <div
                        class="col-8"
                      >
                        <select
                          v-model="origin"
                          class="form-control form-select-sm"
                          name="filter-origin"
                          @change="onChange"
                        >
                          <option
                            v-for="anOrigin in origins()"
                            :key="anOrigin"
                            :value="anOrigin"
                          >
                            {{ humanizeOrigin(anOrigin) }}
                          </option>
                        </select>
                      </div>
                      <div
                        v-if="origin"
                        class="input-actions col-1 d-flex justify-content-center align-items-center"
                        style="cursor: pointer"
                        @click="clearFilter('origin')"
                      >
                        <img
                          src="/build/static/icons/delete-filter.svg"
                          alt="picto delete filter cursor-pointer"
                        >
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-3">
                        {{ $translator.trans('Action') }}
                      </div>
                      <div class="col-8">
                        <select
                          v-model="action"
                          class="form-control form-select-sm w-100"
                          name="filter-action"
                          @change="onChange"
                        >
                          <option
                            v-for="anAction in actions()"
                            :key="anAction"
                            :value="anAction"
                          >
                            {{ humanizeAction(anAction) }}
                          </option>
                        </select>
                      </div>
                      <div
                        v-if="action"
                        class="input-actions col-1 d-flex justify-content-center align-items-center"
                        style="cursor: pointer"
                        @click="clearFilter('action')"
                      >
                        <img
                          src="/build/static/icons/delete-filter.svg"
                          alt="picto delete filter cursor-pointer"
                        >
                      </div>
                    </div>
                    <div
                      v-if="isAndAndNotSessionView"
                      class="row"
                    >
                      <div class="col-3 admin-text-color">
                        {{ $translator.trans('Account') }}
                      </div>
                      <div class="col-8">
                        <select
                          v-model="account"
                          class="form-control form-select-sm w-100 admin-border-color admin-text-color"
                          name="filter-account"
                          @change="onChange"
                        >
                          <option
                            v-for="_client in clients"
                            :key="_client.id"
                            :value="_client.id"
                          >
                            {{ _client.name }}
                          </option>
                        </select>
                      </div>
                      <div
                        v-if="account !== client.id"
                        class="input-actions col-1 d-flex justify-content-center align-items-center"
                        style="cursor: pointer"
                        @click="clearFilter('account', client.id)"
                      >
                        <img
                          src="/build/static/icons/delete-filter.svg"
                          alt="picto delete filter cursor-pointer"
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset class="row dropdown-filter-activity-log__date-container">
                <div class="input-group-date-horizontal">
                  <div class="row my-2">
                    <div :class="!isCurrentAccount ? 'col-12' : 'col-11'">
                      <date-time-input
                        v-model="from"
                        :placeholder="$translator.trans('From')"
                        type="datetime"
                        @change="onChange"
                      />
                    </div>
                    <div
                      v-if="from"
                      class="input-actions col-1 d-flex justify-content-center align-items-center"
                      style="cursor: pointer"
                      @click="clearFilter('from')"
                    >
                      <img
                        src="/build/static/icons/delete-filter.svg"
                        alt="picto delete filter cursor-pointer"
                      >
                    </div>
                  </div>
                  <div class="row my-2">
                    <div :class="!isCurrentAccount ? 'col-12' : 'col-11'">
                      <date-time-input
                        v-model="to"
                        :placeholder="$translator.trans('To')"
                        type="datetime"
                        @change="onChange"
                      />
                    </div>
                    <div
                      v-if="to"
                      class="input-actions col-1 d-flex justify-content-center align-items-center"
                      style="cursor: pointer"
                      @click="clearFilter('to')"
                    >
                      <img
                        src="/build/static/icons/delete-filter.svg"
                        alt="picto delete filter cursor-pointer"
                      >
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset class="row">
                <div class="export-dropdown__footer">
                  <button
                    class="export-dropdown__submit-btn"
                    @click="resetFilters"
                  >
                    {{ $translator.trans('Reset') }}
                  </button>
                </div>
              </fieldset>
              <!-- end  -->
            </div>
          </div>
          <!--- si filtre actif -->
          <div class="search-sessions-filter">
            {{ subFilter }}
          </div>
          <!-- end -->
        </div>
        <span class="evaluation-filter-help">
          <img
            src="/build/static/icons/question.svg"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            :title="$translator.trans('Search by dates')"
          >
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import {
  activityTypeToLabel,
  availableTypes,
  availableOrigins,
  activityOriginToLabel,
  availableActions,
  activityActionToLabel
} from '../../utils/activities.utils'
import DateTimeInput from '../ui/DateTimeInput'
import _ from 'lodash'
import { DateTime } from 'luxon'
import { getSearchParam } from '../../utils/session-viewer.utils'

export default {
  name: 'ActivitySearch',
  components: { DateTimeInput },
  props: {
    count: {
      type: Number,
      required: true
    },
    clients: {
      type: Array,
      required: false,
      default: () => []
    },
    client: {
      type: Object,
      required: false,
      default: () => {}
    },
    isSuperAdmin: {
      type: Boolean,
      required: false,
      default: () => false
    },
    view: {
      type: String,
      default: 'activities'
    }
  },
  data () {
    const initAccount = this.view === 'session' ? 0 : this.client.id
    return {
      initAccount: initAccount,
      message: null,
      type: this.selectTypes(),
      origin: null,
      action: null,
      myActivity: false,
      account: initAccount,
      from: null,
      to: null
    }
  },
  computed: {
    subFilter () {
      const activeFilters = []

      if (this.type !== null) {
        activeFilters.push(this.humanizeType(this.type))
      }

      if (this.origin !== null) {
        activeFilters.push(this.humanizeOrigin(this.origin))
      }

      if (this.action !== null) {
        activeFilters.push(this.humanizeAction(this.action))
      }

      if (this.myActivity !== null) {
        activeFilters.push(this.humanizeMyActivity())
      }

      if (this.view === 'activities' && (this.account !== null && this.isSuperAdmin)) {
        activeFilters.push(this.clients.find(client => client.id === this.account).name)
      }

      if (this.from !== null && this.from !== '') {
        const dateFrom = DateTime.fromISO(this.from)
          .toLocaleString(DateTime.DATE_SHORT)

        activeFilters.push(this.$translator.trans('from') + ' ' + dateFrom)
      }

      if (this.to !== null && this.to !== '') {
        const dateTo = DateTime.fromISO(this.to)
          .toLocaleString(DateTime.DATE_SHORT)

        activeFilters.push(this.$translator.trans('to') + ' ' + dateTo)
      }

      if (activeFilters.length === 0) {
        return this.$translator.trans('no filter')
      } else {
        return activeFilters.join(' - ')
      }
    },
    isActiveFilter () {
      return (
        this.message !== null ||
        this.type !== null ||
        this.origin !== null ||
        this.action !== null ||
        this.myActivity !== null ||
        this.account !== null ||
        (this.from !== null && this.from !== '') ||
        (this.to !== null && this.to !== '')
      )
    },
    isCurrentAccount () {
      return this.view !== 'session' && this.account === this.initAccount
    },
    isAndAndNotSessionView () {
      return this.isSuperAdmin && this.view !== 'session'
    }
  },
  methods: {
    selectTypes () {
      const filter = getSearchParam('filter')
      if (filter === 'notifications') {
        return ['alert', 'error']
      } else {
        return []
      }
    },
    types () {
      return availableTypes
    },
    humanizeType (type) {
      return this.$translator.trans(activityTypeToLabel(type))
    },
    origins () {
      return availableOrigins
    },
    humanizeOrigin (origin) {
      return this.$translator.trans(activityOriginToLabel(origin))
    },
    actions () {
      return availableActions
    },
    humanizeAction (action) {
      return this.$translator.trans(activityActionToLabel(action))
    },
    humanizeMyActivity () {
      if (this.myActivity) {
        return this.$translator.trans('My activities')
      }
      return this.$translator.trans('All the users')
    },
    clearFilter (field, val = null) {
      this[field] = val
      this.onChange()
    },
    onChange () {
      _.debounce(this.$emit('change', {
        search: {},
        filters: {
          message: this.message,
          severity: this.type,
          origin: this.origin,
          action: this.action,
          myActivity: this.myActivity,
          account: this.account,
          from: this.from,
          to: this.to
        }
      }), 300)
    },
    resetFilters () {
      this.message = null
      this.type = []
      this.origin = null
      this.action = null
      this.myActivity = false
      this.account = this.initAccount
      this.from = null
      this.to = null
      this.onChange()
    }
  }
}
</script>

<style scoped>
.dropdown-menu.dropdown-menu-list {
  overflow: inherit;
}
</style>
