<template>
  <li class="activity-log__list-item activity-log__list-item-information">
    <img
      :src="icon()"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      :data-bs-original-title="label()"
    >
    <div class="activity-log__list-txt-container">
      <p
        class="activity-log__list-content"
        v-html="message"
      />
      <small class="activity-log__list-contact">{{ $translator.trans('By') }} <span>{{ userFullName() }}</span></small>
    </div>
    <div
      v-if="hasLinks()"
      class="activity-log__list-btn-container"
    >
      <activity-links
        v-for="(link, index) in activity.infos.links"
        :key="index"
        :link="link"
        :activity="activity"
      />
    </div>
    <time
      :datetime="activity.createdAt"
      class="activity-log__list-hour"
    >{{ formatHour() }}</time>
  </li>
</template>

<script>
import { DateTime }                                from 'luxon'
import { activityTypeToIcon, activityTypeToLabel } from '../../utils/activities.utils'
import ActivityLinks                               from './ActivityLinks'

export default {
  name: 'ActivityItem',
  components: { ActivityLinks },
  props: {
    activity: {
      type: Object,
      required: true
    }
  },
  computed: {
    message () {
      const params = {}
      if (this.activity.infos.message) {
        for (const key in this.activity.infos.message.params) {
          params[key.replace(/%/g, '')] = this.activity.infos.message.params[key]
        }
        return this.$translator.trans(this.activity.infos.message.key, params)
      }
      return this.$translator.trans(this.activity.infos.message)
    }
  },
  methods: {
    formatHour () {
      return DateTime
        .fromISO(this.activity.createdAt)
        .toLocaleString(DateTime.TIME_24_SIMPLE)
    },
    icon () {
      return `/build/static/icons/${activityTypeToIcon(this.activity.severity)}.svg`
    },
    label () {
      return this.$translator.trans(activityTypeToLabel(this.activity.severity))
    },
    userFullName () {
      return (this.activity.user !== null)
        ? this.activity.user.fullName
        : this.$translator.trans('System')
    },
    hasLinks () {
      return 'links' in this.activity.infos && this.activity.infos.links.length > 0
    }
  }
}
</script>
