<template>
  <div>
    <activity-link-url
      v-if="link.type === 'link'"
      :link="link"
    />
    <component
      :is="link.name"
      v-if="link.type === 'component'"
      :activity="activity"
    />
  </div>
</template>

<script>
import ActivityLinkUrl from './links/ActivityLinkUrl'
import ModalSessionDeleteInfo from './links/components/ModalSessionDeleteInfo'
import ModalSessionUpdateInfo from './links/components/ModalSessionUpdateInfo'
import ModalImportInfo from './links/components/ModalImportInfo'
import ModalDeferredExportStatusInfo from './links/components/ModalDeferredExportStatusInfo'
import ModalEmailSendToParticipants from './links/components/ModalEmailSendToParticipants'

export default {
  name: 'ActivityLinks',
  components: { ActivityLinkUrl, ModalSessionDeleteInfo, ModalSessionUpdateInfo, ModalImportInfo, ModalDeferredExportStatusInfo, ModalEmailSendToParticipants },
  props: {
    link: {
      type: Object,
      required: true
    },
    activity: {
      type: Object,
      required: true
    }
  }
}
</script>
