<template>
  <div>
    <div
      v-if="view === 'activities'"
      class="page-title"
    >
      <h1>{{ $translator.trans('Activity log') }}</h1>
    </div>
    <activity-search
      :count="activitiesLength"
      :view="view"
      :clients="clients"
      :client="client"
      :is-super-admin="isSuperAdmin"
      @change="onSearchChange"
    />
    <section
      v-for="dayActivity in dayActivities"
      :key="dayActivity.dayOfCreation"
      class="activity-log"
    >
      <div class="activity-log__item">
        <h2
          v-if="activitiesByDay(dayActivity.dayOfCreation).length > 0"
          class="activity-log__list-title"
        >
          <time :datetime="dayActivity.dayOfCreation">{{ formatDay(dayActivity.dayOfCreation) }}</time>
        </h2>
        <ul class="activity-log__list-container">
          <activity-item
            v-for="(activity, index) in activitiesByDay(dayActivity.dayOfCreation)"
            :key="index"
            :activity="activity"
          />
        </ul>
      </div>
    </section>
    <p
      v-if="fetchingAllActivities"
      class="d-flex justify-content-end align-items-center text-muted"
    >
      {{ $translator.trans('End of result') }}
    </p>
    <section
      class="d-flex justify-content-center align-items-center"
    >
      <loader v-if="processing" />
    </section>
  </div>
</template>

<script>
import _ from 'lodash'
import { DateTime } from 'luxon'
import {
  getNextActivities,
  mergeActivities,
  retrieveDaysOfActivities,
  retrieveLatestActivity,
  filterActivities
} from '../../utils/activities.utils'
import Loader from '../ui/Loader'
import ActivityItem from './ActivityItem'
import ActivitySearch from './ActivitySearch'

export default {
  name: 'Activities',
  components: { ActivitySearch, ActivityItem, Loader },
  props: {
    route: {
      type: String,
      default: '_activity_list_next'
    },
    params: {
      type: Object,
      default: () => {
        return {}
      }
    },
    view: {
      type: String,
      default: 'activities'
    },
    clients: {
      type: Array,
      required: false,
      default: () => []
    },
    user: {
      type: Object,
      required: true
    },
    client: {
      type: Object,
      required: false,
      default: () => {}
    },
    isSuperAdmin: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  data () {
    return {
      lastActivityDate: null,
      activities: [],
      activitiesLength: 0,
      filters: {},
      processing: false,
      paramsData: this.params,
      fetchingMaxResults: false,
      fetchingAllActivities: false,
      clientId: this.view === 'session' ? 0 : this.client.id
    }
  },
  computed: {
    dayActivities () {
      return retrieveDaysOfActivities(this.activities)
    },
    filteredActivities () {
      return this.activities.filter((activity) => filterActivities(activity, this.filters, this.user))
    },
    activitiesByDay () {
      return (day) => {
        return this.filteredActivities.filter((activity) => filterActivities(activity, { dayOfCreation: day }, this.user))
      }
    }
  },
  mounted () {
    this.updateLatestActivity()
    this.fetchNextActivities(this.route, this.params)
    window.onscroll = _.debounce(() => {
      const windowHeight = Math.ceil(document.documentElement.scrollTop + window.innerHeight)
      const offsetHeight = document.documentElement.offsetHeight
      const bottomOfWindow = windowHeight >= offsetHeight

      if (bottomOfWindow && !this.fetchingMaxResults) {
        this.paramsData.last = this.lastActivityDate
        this.paramsData.account = this.clientId
        this.fetchNextActivities(this.route, this.paramsData)
      } else {
        this.processing = false
      }
      this.fetchingMaxResults = false
    }, 300)
  },
  methods: {
    formatDay (date) {
      return DateTime.fromISO(date)
        .toLocaleString(DateTime.DATE_MED)
    },
    updateLatestActivity () {
      const lastActivity = retrieveLatestActivity(this.activities)
      this.lastActivityDate = (lastActivity !== undefined)
        ? lastActivity.createdAt
        : undefined
    },
    onSearchChange (payload) {
      if (payload.filters.account !== this.clientId) {
        this.getNewDataClient(payload.filters.account)
      }
      this.filters = payload.filters
    },
    getNewDataClient (clientId) {
      this.activities = []
      this.clientId = clientId
      this.fetchNextActivities(this.route, Object.assign({}, this.paramsData, { account: clientId }))
    },
    fetchNextActivities (route, params) {
      this.processing = true
      getNextActivities(route, params)
        .then(data => {
          if (data.results.length > 0) {
            for (const activity of data.results) {
              if ('infos' in activity && 'message' in activity.infos) {
                const params = {}
                for (const key in activity.infos.message.params) {
                  params[key.replace(/%/g, '')] = activity.infos.message.params[key]
                }
                activity.message = this.$translator.trans(activity.infos.message.key, params)
              } else {
                activity.message = this.$translator.trans('Origin : %origin% - Action : %action', {
                  origin: activity.origin,
                  action: activity.action
                })
              }
            }

            this.activitiesLength = data.count
            this.activities = mergeActivities(this.activities, data.results)
            this.fetchingAllActivities = false
          }
          if (this.activities.length && data.results.length === 0) {
            this.fetchingAllActivities = true
          }
          this.fetchingMaxResults = true
        })
        .then(() => {
          this.updateLatestActivity()
        })
        .finally(() => {
          this.processing = false
        })
    }
  }
}
</script>
