<template>
  <div
    :id="'sessionIAModal'"
    class="modal fade wb-bw"
    tabindex="-1"
  >
    <div
      class="modal-dialog modal-dialog-centered modal-dialog-scrollable text-start modal-default"
      :class="{[`modal-${'normal'}`]: 'normal'}"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark">
            {{ $translator.trans('Ask artificial intelligence') }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div class="modal-body pb-0">
          <div
            id="nav-tab-ia"
            class="nav nav-tabs mb-3 justify-content-around"
            role="tablist"
          >
            <template v-for="(action, index) in actionList">
              <button
                :id="action.name.toLocaleLowerCase() + '-tab'"
                :key="index"
                data-bs-toggle="tab"
                :data-bs-target="'#-' + action.name.toLocaleLowerCase() + '-tab'"
                type="button"
                role="tab"
                class="nav-link ps-0"
                :class="[{
                  'active' : isActiveTab(action.component),
                  'disabled': !value
                }]"
                @click="changeActiveTab(action.component)"
              >
                {{ $translator.trans(action.name) }}
              </button>
            </template>
          </div>
        </div>
        <component
          :is="activeTab"
          class="tab"
          :initial-value="initValue"
          :create-session="createSession"
          :lang="lang"
          :category="category"
          @cancel="cancel"
          @validate="validate"
        />
      </div>
    </div>
  </div>
</template>

<script>
import SessionIAModalCorrect from './SessionIAModalCorrect.vue'
import SessionIAModalShorten from './SessionIAModalShorten.vue'
import SessionIAModalGenerate from './SessionIAModalGenerate.vue'
import { saveSession } from '../../../../repository/session'

export default {
  name: 'SessionIAModal',
  components: {
    SessionIAModalCorrect,
    SessionIAModalShorten,
    SessionIAModalGenerate
  },
  props: {
    sessionTitle: {
      type: String,
      default: null
    },
    createSession: {
      type: Boolean,
      default: false
    },
    lang: {
      type: String,
      required: true
    },
    category: {
      type: Number,
      required: false,
      default: 0
    }
  },
  data () {
    return {
      activeTab: this.sessionTitle ? 'SessionIAModalCorrect' : 'SessionIAModalGenerate',
      initValue: this.sessionTitle,
      value: this.sessionTitle
    }
  },
  computed: {
    actionList () {
      return [
        {
          name: 'Correct',
          component: 'SessionIAModalCorrect'
        },
        {
          name: 'Shorten',
          component: 'SessionIAModalShorten'
        },
        {
          name: 'Generate',
          component: 'SessionIAModalGenerate'
        }
      ]
    }
  },
  watch: {
    sessionTitle (value) {
      this.value = value
      this.initValue = value
    },
    'value' (newVal, oldVal) {
      if (newVal) {
        this.activeTab = 'SessionIAModalCorrect'
      }
    }
  },
  methods: {
    changeActiveTab (tabName) {
      this.activeTab = tabName
    },
    isActiveTab (tabName) {
      return this.activeTab === tabName
    },
    cancel () {
      this.$bootstrap.Modal.getOrCreateInstance('#sessionIAModal').hide()
    },
    validate (title) {
      this.$emit('choice-new-title', title)
      if (!this.createSession) {
        const session = this.$store.getters['session/getSession']
        saveSession(session, true).then(() => {
          window.location.href = this.$routing.generate('_session_get', { id: session.id, tabName: 'SessionGeneralTab', updateSuccessfully: true })
        })
      } else {
        this.$bootstrap.Modal.getOrCreateInstance('#sessionIAModal').hide()
      }
    }
  }
}
</script>
