<template>
  <div>
    <div class="modal-body pt-0">
      <form
        class="form"
        @submit.prevent="correctTitle"
      >
        <div class="row">
          <div
            class="form__item"
          >
            <label for="name required">
              {{ $translator.trans('Title of the session') }}
            </label>
            <div class="col-9">
              <input
                id="name"
                v-model="title"
                name="name"
                type="text"
              >
            </div>

            <div class="col-3">
              <div class="wrapper-header__actions d-flex flex-column align-items-end justify-content-between">
                <div class="wrapper-header__actions__save-and-more d-flex align-items-center">
                  <loader v-if="loading" />
                  <button
                    v-else
                    class="btn primary-btn btn-primary"
                  >
                    {{ $translator.trans('Correct') }}
                  </button>
                </div>
              </div>
            </div>

            <small>{{ $translator.trans('Initial value: %value%', {value: initialValue}) }}</small>
          </div>
        </div>

        <div v-if="success || error">
          <template v-for="(message, index) in actionMessage">
            <alert
              v-if="message.condition"
              :key="index"
              :type="message.type"
              :text="$translator.trans(message.text)"
            />
          </template>
        </div>
      </form>
    </div>
    <div class="modal-footer bg-transparent">
      <button
        type="button"
        class="btn btn-light"
        aria-label="Close"
        @click="cancel"
      >
        {{ $translator.trans('Cancel') }}
      </button>
      <loader v-if="loadingSessionSave" />
      <submit-button
        v-else
        type="button"
        class="btn btn-primary"
        :disabled="!success"
        @click="validate"
      >
        {{ $translator.trans('Valid') }}
      </submit-button>
    </div>
  </div>
</template>

<script>
import { correctTitle } from '../../../../repository/chatgpt'
import Loader from '../../../ui/Loader.vue'
import SubmitButton from '../../../ui/SubmitButton.vue'
import Alert from '../../../ui/Alert.vue'

export default {
  name: 'SessionIAModalCorrect',
  components: { Alert, SubmitButton, Loader },
  props: {
    initialValue: {
      type: String,
      default: null
    },
    createSession: {
      type: Boolean,
      default: false
    },
    lang: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      title: this.initialValue,
      loadingSessionSave: false,
      loading: false,
      success: false,
      error: null
    }
  },
  computed: {
    actionMessage () {
      return [
        {
          text: 'The text is perfect. No corrections at all!',
          type: 'info',
          condition: this.success && this.initialValue === this.title
        },
        {
          text: 'The text has been corrected. Click on "Validate" to update the session form field.',
          type: 'info',
          condition: this.success && this.initialValue !== this.title
        },
        {
          text: 'Sorry, the correction did not go as planned.Please try again',
          type: 'danger',
          condition: this.error
        }
      ]
    }
  },
  watch: {
    initialValue () {
      this.title = this.initialValue
    }
  },
  methods: {
    cancel () {
      this.$emit('cancel', this.title)
    },
    validate () {
      if (!this.createSession) {
        this.loadingSessionSave = true
      }
      this.$emit('validate', this.title)
    },
    correctTitle () {
      this.loading = true
      correctTitle(this.title, this.lang).then((response) => {
        this.loading = false
        this.success = true
        this.title = response
      }).catch(() => {
        this.loading = false
        this.error = true
      })
    }
  }
}
</script>
