<template>
  <div
    :id="'SessionRegistrationTemplateDescriptionIAModal'"
    class="modal fade wb-bw"
    tabindex="-1"
  >
    <div
      class="modal-dialog modal-dialog-centered modal-dialog-scrollable text-start modal-default"
      :class="{[`modal-${'normal'}`]: 'normal'}"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark">
            {{ $translator.trans('Generate your Program using artificial intelligence') }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>

        <form
          class="form"
          @submit.prevent="onSubmit"
        >
          <div class="modal-body">
            <small>{{ $translator.trans('Program generation takes into account your existing session data, as well as any additional information you may have provided.') }}</small>

            <div class="form__item mt-3">
              <label
                for="title"
                class="form-label disabled"
              >{{ $translator.trans('Title') }}</label>
              <input
                v-model="sessionTitle"
                name="title"
                class="disabled form-control"
                disabled
              >
            </div>

            <div class="form__item">
              <label
                for="description"
                class="form-label disabled"
              >
                {{ $translator.trans('Description') }}
              </label>
              <textarea
                v-model="session.providerSessionRegistrationPage.description2"
                name="description"
                rows="5"
                cols="33"
                style="height: 100px"
                class="disabled form-control"
                disabled
              />
            </div>

            <div class="row">
              <div class="col-6">
                <div class="form__item">
                  <label
                    for="date"
                    class="form-label disabled"
                  >{{ $translator.trans('Date') }}</label>
                  <input
                    v-model="readableDateStart"
                    name="date"
                    class="disabled form-control"
                    disabled
                  >
                </div>
              </div>
              <div class="col-6">
                <div class="form__item">
                  <label
                    for="duration"
                    class="form-label disabled"
                  >{{ $translator.trans('Duration') }}</label>
                  <input
                    v-model="readableDuration"
                    name="duration"
                    class="disabled form-control"
                    disabled
                  >
                </div>
              </div>
            </div>

            <div class="form__item">
              <label for="additionalInformation">{{ $translator.trans('Tell us more about it') }}</label>
              <textarea
                v-model="data.additionalInformation"
                name="additionalInformation"
                rows="5"
                cols="33"
                style="height: 100px"
              />
            </div>

            <div class="form__item">
              <label for="program_format required">
                {{ $translator.trans('Program format') }}
              </label>
              <input-select-button
                :options="optionsProgramFormat"
                :default-value="$translator.trans('Chapitré')"
                name="program_format"
                @change="changeInputSelectButtonProgramFormat"
              />
            </div>

            <div class="form__item">
              <label for="ton required">
                {{ $translator.trans('Choose your tone') }}
              </label>
              <input-select-button
                :options="options"
                :default-value="$translator.trans('Professional')"
                name="tone"
                @change="changeInputSelectButtonTone"
              />
            </div>

            <div class="row align-items-center">
              <div class="col-9">
                <div class="form__item d-flex mb-0">
                  <div class="me-2">
                    {{ $translator.trans('Using emoji') }}
                  </div>
                  <div class="search-switch d-flex">
                    <label
                      class="switch"
                      for="switch-active-state"
                      @click="changeActiveState"
                    >
                      <input
                        v-model="data.emoji"
                        type="checkbox"
                        name="switch-active-state"
                      >
                      <span class="slider round" />
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer bg-transparent">
            <button
              type="button"
              class="btn btn-light"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              {{ $translator.trans('Cancel') }}
            </button>
            <loader
              v-if="processing"
            />
            <button
              v-else
              class="btn btn-primary"
            >
              {{ $translator.trans('Generate') }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Loader from '../../../ui/Loader.vue'
import { generateSessionRegistrationProgram } from '../../../../repository/chatgpt'
import InputSelectButton from '../../../ui/InputSelectButton.vue'
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'SessionRegistrationTemplateDescriptionIAModal',
  components: { InputSelectButton, Loader },
  data () {
    return {
      data: {
        title: null,
        description: null,
        date: null,
        duration: null,
        additionalInformation: null,
        programFormat: 'Chapitré',
        tone: 'Professional',
        emoji: false
      },
      processing: false
    }
  },
  computed: {
    ...mapState('session', ['session']),
    ...mapGetters({
      readableDateStart: 'session/readableDateStart',
      readableDuration: 'session/readableDuration'
    }),
    options () {
      return [
        {
          label: this.$translator.trans('Professional'),
          value: this.$translator.trans('Professional')
        },
        {
          label: this.$translator.trans('Convivial'),
          value: this.$translator.trans('Convivial')
        },
        {
          label: this.$translator.trans('Courtois'),
          value: this.$translator.trans('Courtois')
        }
      ]
    },
    optionsProgramFormat () {
      return [
        {
          label: this.$translator.trans('Chapitré'),
          value: this.$translator.trans('Chapitré')
        },
        {
          label: this.$translator.trans('Detailed'),
          value: this.$translator.trans('Detailed')
        }
      ]
    },
    sessionTitle () {
      if (this.session.subject !== null) {
        return this.session.subject.name
      }
      return this.session.name
    }
  },
  methods: {
    onSubmit () {
      this.processing = true
      generateSessionRegistrationProgram(Object.assign(this.data, {
        title: this.sessionTitle,
        description: this.session.providerSessionRegistrationPage.description2,
        date: this.readableDateStart,
        duration: this.readableDuration
      }), this.session)
        .then((response) => {
          this.$emit('search-description', response)
          this.processing = false
        })
    },
    changeActiveState () {
      this.data.emoji = !this.data.emoji
    },
    changeInputSelectButtonProgramFormat (value) {
      this.data.programFormat = value
    },
    changeInputSelectButtonTone (value) {
      this.data.tone = value
    }
  }
}
</script>
