{% set body_classes = 'login-body' %}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}

{% block base_body %}
    <img class="login-photo" src="{{ asset('build/static/login-page-photo.jpg') }}">
    <header class="login-header">
        <a href="{{ url('_app_login') }}" class="login-header__logo main-logo">
            <img src="{{ asset('build/static/symbole-logo-live-session.svg') }}">
            <img src="{{ asset('build/static/logo-live-session.png') }}">
        </a>
        <div class="login-header__swap-language">
            <a href="{{ url('_change_locale', {'_locale': app.request.locale is same as 'fr' ? 'en' : 'fr'}) }}">
                <img src="{{ asset('build/static/icons/swap-horizontal.svg') }}">
            </a>
            <p>Langue (<span>{{ app.request.locale|upper }}</span>)</p>
        </div>
    </header>
    <main class="login-main">
        <div class="login-main__logo">
            <img src="{{ asset('build/static/single-logo.svg') }}">
        </div>

        {% block login_form %}
            {% for flash in app.flashes('success') %}
                {% include('flash_message.html.twig') with {type: 'success', text: (flash|trans|raw)} %}
            {% endfor %}

            {{ form_start(form, {'attr' : {'class' : 'login-main__form', 'id' : 'login-form'}}) }}
            <legend>{{ 'Log in' | trans }}</legend>

            {{ form_errors(form) }}

            <login-form last-username="{{ lastUsername }}"></login-form>

            <div class="login-main__helpers">
<!--                <div class="form-check login-main__user-saving-mail">
                    {#{{ form_widget(form._remember_me, {'attr' : {'class' : 'form-check-input'}}) }}
                    {{ form_label(form._remember_me, null, {'attr' : {'class' : 'form-check-label'}}) }}
                    {{ form_help(form._remember_me) }}#}
                </div>-->
                <div class="col-md-6 col-lg-6 pt-2">
                    <div class="form-check login-main__user-saving-mail">
                        {{ form_row(form._remember_me, {
                            'row_attr': {'class': 'form-check'},
                            'attr': {'class': 'form-check-input'},
                            'label_attr': {'class': 'form-check-label'},
                        }) }}
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 text-start">
                    <img
                            src="/build/static/icons/question.svg"
                            data-bs-toggle="tooltip"
                            data-bs-placement="left"
                            :title="$translator.trans('By checking this box, you will be automatically connected to the application for 24 hours without having to log in each time.')"
                    >
                </div>
                <div class="col-md-4 col-lg-4">
                    <a class="ogin-main__password-getter" href="{{ url('_password_reset_request') }}">{{ 'Forgot your password?' | trans }}</a>
                </div>
            </div>

            <input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}">

            {% do form.username.setRendered %}
            {% do form.password.setRendered %}

            {{ form_end(form) }}

            <p class="login-main__description">{{ 'With <b>Mylivesession Manager</b>, simplify and professionalize the management of your virtual classes: think, create, plan, automate and analyse your live video training projects!'|trans|raw }}</p>
        {% endblock login_form %}
    </main>
    <footer class="login-footer">
        <a
            href="/archives/PolitiqueRGPD-LIVESESSION-MLSM.pdf"
            target="_blank"
        >
            {{ 'Privacy' | trans }}
        </a>
        <hr/>
        <a
            href="https://live-session.fr/mentions-legales/"
            target="_blank"
        >
            {{ 'Legal notices' | trans }}
        </a>
    </footer>
{% endblock %}
