{% extends 'security/login.html.twig' %}

{% block login_form %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for flash in app.flashes('info') %}
                    {% include('flash_message.html.twig') with {type: 'info', text: (flash|trans|raw)} %}
                {% endfor %}
            </div>
            <div class="col-md-12">
                {{ form_start(form, {'attr' : {'class' : 'login-main__form'}}) }}
                <legend>{{ 'Request a password reset'|trans }}</legend>

                <div class="input-group-container">
                    <div class="input-group">
                        {{ form_widget(form.email) }}
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">{{ 'Send'|trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
