{% extends 'security/login.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('password-reset') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('password-reset') }}
{% endblock %}

{% block login_form %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for flash in app.flashes('info') %}
                    {% include('flash_message.html.twig') with {type: 'info', text: (flash|trans|raw)} %}
                {% endfor %}
            </div>
            <div class="col-md-12">
                <form name="reset_user_password_form" method="post" class="login-main__form">
                    <legend>{{ 'Reset your password'|trans }}</legend>

                    {{ form_errors(form.password.first) }}
                    <div id="password-reset-form">
                        <password-reset-form></password-reset-form>
                    </div>
                    {{ form_row(form._token) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
