<template>
  <div class="create-session-wizard session-content-blocks">
    <div class="alert alert-warning alert-dismissible container-md">
      {{ $translator.trans('Add your groups by searching for them by name.') }}
    </div>
    <div
      id="nav-tab-user"
      class="nav nav-tabs mb-3"
      role="tablist"
      style="border-bottom: 1px solid #E5E5E5;"
    >
      <button
        id="participants-tab"
        class="nav-link ps-0"
        :class="[{
          'active' : false
        }]"
        data-bs-toggle="tab"
        type="button"
        role="tab"
        @click="$emit('update-add-modal')"
      >
        {{ $translator.trans('Participant') }}
      </button>
      <button
        id="groups-tab"
        class="nav-link ps-0"
        :class="[{
          'active' : true
        }]"
        data-bs-toggle="tab"
        type="button"
        role="tab"
      >
        {{ $translator.trans('Groups') }}
      </button>
    </div>
    <div class="row">
      <div class="col-5">
        <div
          class="session-content-blocks__container"
        >
          <div class="searchbar-participants d-flex align-items-center mb-3">
            <img src="/build/static/icons/search.svg">
            <input
              id="participants-search"
              type="search"
              name="participants-search"
              :placeholder="$translator.trans('Search for a group')"
              :value="stepWizard.availableGroupSearch"
              @input="updateGroupSearch"
            >
          </div>
          <wizard-available-groups-table v-if="stepWizard.groupLoaded" />
          <div
            v-else
            class="d-flex justify-content-center align-items-center"
            style="height: 300px;"
          >
            <loader />
          </div>
        </div>
      </div>
      <div class="col-1 container-add-participants text-center">
        <div
          class="add-participants-btn"
          @click="addSubscribedGroup"
        >
          <img src="/build/static/icons/green-round-whith-chevron.svg">
        </div>
      </div>
      <div class="col-6">
        <div
          id="session-content-blocks-added-user"
          class="session-content-blocks__container"
        >
          <div class="title-selected-participants d-flex align-items-center mb-37">
            <h3 class="me-2">
              {{ $translator.trans( 'Selected groups' ) }}
            </h3>
            <div class="d-flex align-items-center justify-content-center">
              <span id="number-selected-participants">{{ Object.keys(allGroups).length }}</span>
            </div>
          </div>
          <div class="tag-information-container">
            <div class="tag-information d-flex align-items-center">
              <div class="tag-information d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <span class="group-info">{{ $translator.trans( 'Participants' ) }} ({{ allParticipants.length }})</span>
                </div>
              </div>
            </div>
          </div>
          <div class="table-scroll-container">
            <wizard-added-groups-table />
          </div>
        </div>
      </div>
    </div>
    <div class="session-btn-access-next-step d-flex justify-content-end">
      <div class="title-selected-participants d-flex align-items-center">
        <h6>
          {{ $translator.trans( 'Number of subscribers' ) }} <strong>({{ finalNumberSession }})</strong>
        </h6>
      </div>
      <tooltip
        class="mx-3"
        :text="$translator.trans('If a participant appears more than once in the list of participants and/or in one or more groups, he/she will only be counted once.')"
      />
      <a
        href="#"
        class="m-2"
        @click="stepWizardBackward()"
      >
        {{ $translator.trans('Back') }}
      </a>
      <button
        class="btn btn-primary"
        role="button"
        @click="stepWizardForward()"
      >
        {{ $translator.trans('Next') }}
      </button>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters }        from 'vuex'
import Loader              from '../../../ui/Loader'
import { PROVIDER_CISCO_WEBEX } from '../../../../utils/cisco-webex-configuration-holder.utils'
import { PROVIDER_CISCO_WEBEX_REST } from '../../../../utils/cisco-webex-rest-configuration-holder.utils'
import WizardAddedGroupsTable from './WizardAddedGroupsTable.vue'
import WizardAvailableGroupsTable from './WizardAvailableGroupsTable.vue'
import Tooltip from '../../../ui/Tooltip.vue'

export default {
  name: 'CreateSessionWizardSelectParticipantsGroups',
  components: {
    Tooltip,
    WizardAvailableGroupsTable,
    WizardAddedGroupsTable,
    Loader
  },
  data () {
    return {
      showSubmit: true,
      success: false,
      timeout: null
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'clientData', 'stepWizard', 'usersToAdd', 'groupsToAdd']),
    ...mapGetters('sessionWizard', ['allGroups', 'allParticipants', 'finalNumberSession'])
  },
  mounted () {
    if (!this.stepWizard.groupLoaded) {
      this.$store.dispatch('sessionWizard/loadGroups')
        .then(() => {
          if (this.clientData.provider.type === PROVIDER_CISCO_WEBEX) {
            this.$store.dispatch('sessionWizard/registerLicenceWebex')
          }
          if (this.clientData.provider.type === PROVIDER_CISCO_WEBEX_REST) {
            this.$store.dispatch('sessionWizard/registerLicenceWebexRest')
          }
        })
    } else {
      if (this.clientData.provider.type === PROVIDER_CISCO_WEBEX) {
        this.$store.dispatch('sessionWizard/registerLicenceWebex')
      }
      if (this.clientData.provider.type === PROVIDER_CISCO_WEBEX_REST) {
        this.$store.dispatch('sessionWizard/registerLicenceWebexRest')
      }
    }
  },
  methods: {
    updateGroupSearch (event) {
      if (this.timeout !== null) {
        clearTimeout(this.timeout)
      }
      this.timeout = setTimeout(() => {
        this.timeout = null
        this.stepWizard.availableGroupSearch = event.target.value
      }, 200)
    },
    addSubscribedGroup () {
      this.$store.dispatch('sessionWizard/addSubscribeUsers')
    },
    stepWizardForward () {
      this.stepWizard.current = 'validSession'
      this.stepWizard.previous = 'selectParticipants'
      this.stepWizard.bullet = {
        selectDate: true,
        createSession: true,
        selectParticipants: true,
        validSession: true
      }
    },
    stepWizardBackward () {
      this.stepWizard.current = 'createSession'
      this.stepWizard.previous = 'selectDate'
      this.stepWizard.bullet = {
        selectDate: true,
        createSession: true,
        selectParticipants: false,
        validSession: false
      }
    }
  }
}
</script>

<style scoped>
  .searchbar-participants {
    margin-top: 1px;
    margin-bottom: 31px;
  }
</style>
