<template>
  <tr>
    <td>{{ groupParticipant.name }}</td>
    <td>
      {{ groupParticipant.numberUsers }}
    </td>
    <td>
      <div class="btn-unsubscribe">
        <img
          role="button"
          src="/build/static/icons/user-delete.svg"
          width="15"
          @click="removeGroupAsAMemberOfSession"
        >
      </div>
    </td>
  </tr>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name:     'WizardAddedGroupLine',
  props:    {
    groupParticipant :{
      type: Object,
      required: true
    }
  },
  data () {
    return {
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'users'])
  },
  methods: {
    removeGroupAsAMemberOfSession () {
      this.$store.commit('sessionWizard/removeGroupFromSession', this.groupParticipant.group_id)
    }
  }
}
</script>

<style scoped>
.form-select {
  width: 120px;
}
</style>
