<template>
  <div style="height: 300px">
    <recycle-scroller
      class="vue-scroller"
      :items="filteredGroup"
      :item-size="58"
      key-field="id"
    >
      <template #before>
        <div class="vue-scroller-header d-flex justify-content-around">
          <div class="vue-scroller-header-element">
            {{ $translator.trans( 'Name' ) }}
          </div>
          <div class="vue-scroller-header-element">
            {{ $translator.trans( 'Number of participants' ) }}
          </div>
          <div class="option" />
        </div>
      </template>
      <template #default="{ item, index }">
        <wizard-available-group-line
          :group-participant="item"
          :index="index"
        />
      </template>
    </recycle-scroller>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import WizardAvailableGroupLine from './WizardAvailableGroupLine.vue'

export default {
  name:       'WizardAvailableGroupsTable',
  components: { WizardAvailableGroupLine },
  computed:   {
    ...mapGetters('sessionWizard', ['filteredGroup'])
  }
}
</script>

<style scoped>
  .vue-scroller {
    height: 100%;
  }
  .vue-scroller-header {
    padding: 18px 20px;
    font-size: 0.875rem;
    line-height: 1rem;
    color: rgba(66, 66, 72, 0.45);
    font-weight: bold;
  }
  .vue-scroller-header-element {
    flex: 1 1 0px;
  }
</style>
