<template>
  <div
    :class="['scroller-item d-flex justify-content-around', { 'highlight': isSelected, 'odd': (index%2!==0) }]"
  >
    <div
      class="scroller-element"
      @click="addOrRemoveUser"
    >
      {{ groupParticipant.name }}
    </div>
    <div
      class="scroller-element"
      style="padding-left: 20px"
      @click="$emit('click', groupParticipant.id)"
    >
      {{ groupParticipant.numberUsers }}
    </div>
    <div class="option">
      <a
        :href="$routing.generate('_group_edit', {id: groupParticipant.id})"
        target="_blank"
      >
        <img src="/build/static/icons/open-target.svg">
      </a>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name:  'WizardAvailableGroupLine',
  props: {
    index: {
      type: Number,
      required: true
    },
    groupParticipant: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'groupsToAdd']),
    isSelected () {
      return this.groupsToAdd.indexOf(this.groupParticipant) >= 0
    }
  },
  methods: {
    addOrRemoveUser () {
      if (this.groupsToAdd.indexOf(this.groupParticipant) >= 0) {
        this.groupsToAdd.splice(this.groupsToAdd.indexOf(this.groupParticipant), 1)
      } else {
        this.groupsToAdd.push(this.groupParticipant)
      }
    }
  }
}
</script>

<style>
.scroller-item {
  background-color: #F6F6F6;
  border-bottom: 1px solid #fff;

  padding: 18px 20px;
  display: flex;
  align-items: center;
  font-size: .875rem;
}
.scroller-item.odd {
  background-color: rgba(255, 255, 255, 0.2);
}
.scroller-item.highlight {
  background-color: rgba(128,188,0,0.2);
  border-bottom: 1px solid #fff;
}
.scroller-element {
  flex: 1 1 0px;
}
</style>
