<template>
  <table class="table-selected-participants">
    <thead>
      <tr>
        <th data-field="name">
          {{ $translator.trans( 'Name' ) }}
        </th>
        <th data-field="number">
          {{ $translator.trans( 'Number of participants' ) }}
        </th>
        <th />
      </tr>
    </thead>
    <tbody>
      <wizard-added-group-line
        v-for="group in allGroups"
        :key="group.group_id"
        :group-participant="group"
      />
    </tbody>
  </table>
</template>

<script>
import { mapGetters } from 'vuex'
import WizardAddedGroupLine from './WizardAddedGroupLine.vue'

export default {
  name:       'WizardAddedGroupsTable',
  components: { WizardAddedGroupLine },
  computed:   {
    ...mapGetters('sessionWizard', ['sessionToSaved', 'allGroups'])
  }
}
</script>
