<template>
  <div class="create-session-wizard session-content-blocks">
    <div
      class="alert alert-warning alert-dismissible container-md"
    >
      {{ $translator.trans('Add your participants by searching for them by last name, first name or email address. Once in the right-hand column, assign the role of animator to the trainer of the session.') }}
    </div>
    <div
      id="nav-tab-user"
      class="nav nav-tabs mb-3"
      role="tablist"
      style="border-bottom: 1px solid #E5E5E5;"
    >
      <button
        id="participants-tab"
        class="nav-link ps-0"
        :class="[{
          'active' : true
        }]"
        data-bs-toggle="tab"
        type="button"
        role="tab"
      >
        {{ $translator.trans('Participant') }}
      </button>
      <button
        id="groups-tab"
        class="nav-link ps-0"
        :class="[{
          'active' : false
        }]"
        data-bs-toggle="tab"
        type="button"
        role="tab"
        @click="$emit('update-add-modal')"
      >
        {{ $translator.trans('Groups') }}
      </button>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="session-content-blocks__container">
          <div class="searchbar-participants d-flex align-items-center mb-3">
            <img src="/build/static/icons/search.svg">
            <input
              id="participants-search"
              type="search"
              name="participants-search"
              :placeholder="$translator.trans('Search for a participant')"
              :value="stepWizard.availableUserSearch"
              @input="updateUserSearch"
            >
          </div>
          <wizard-available-users-table v-if="stepWizard.userLoaded" />
          <div
            v-else
            class="d-flex justify-content-center align-items-center"
            style="height: 300px;"
          >
            <loader />
          </div>
        </div>
      </div>
      <div class="col-1 container-add-participants text-center">
        <div
          class="add-participants-btn"
          @click="addSubscribedUser"
        >
          <img src="/build/static/icons/green-round-whith-chevron.svg">
        </div>
      </div>
      <div class="col-6">
        <div
          id="session-content-blocks-added-user"
          class="session-content-blocks__container"
        >
          <div class="title-selected-participants d-flex align-items-center mb-37">
            <h3 class="me-2">
              {{ $translator.trans('Selected participants') }}
            </h3>
            <div class="d-flex align-items-center justify-content-center">
              <span id="number-selected-participants">{{ Object.keys(sessionToSaved.participants).length }}</span>
            </div>
          </div>
          <div
            class="tag-information-container"
            :style="{ 'margin-bottom': allGroups.length > 0 ? '10px' : '38px' }"
          >
            <div
              v-for="group in allGroups"
              :key="group.id"
              class="tag-information d-flex align-items-center"
              style="margin-right: 10px"
            >
              <div class="tag-information d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <span class="group-info">{{ group.name }} ({{ group.numberUsers }})</span>
                  <img
                    style="margin-left: 5px"
                    role="button"
                    src="/build/static/icons/cross.svg"
                    width="10"
                    alt=""
                    @click="removeGroupAsAMemberOfSession(group.group_id)"
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="table-scroll-container">
            <wizard-added-users-table />
          </div>
        </div>
      </div>
    </div>
    <div class="session-btn-access-next-step d-flex justify-content-end">
      <div class="title-selected-participants d-flex align-items-center">
        <h6>
          {{ $translator.trans( 'Number of subscribers' ) }} <strong>({{ finalNumberSession }})</strong>
        </h6>
      </div>
      <tooltip
        class="mx-3"
        :text="$translator.trans('If a participant appears more than once in the list of participants and/or in one or more groups, he/she will only be counted once.')"
      />
      <a
        href="#"
        class="m-2"
        @click="stepWizardBackward()"
      >
        {{ $translator.trans('Back') }}
      </a>
      <button
        class="btn btn-primary"
        role="button"
        @click="stepWizardForward()"
      >
        {{ $translator.trans('Next') }}
      </button>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters }        from 'vuex'
import Loader              from '../../../ui/Loader'
import WizardAvailableUsersTable from './WizardAvailableUsersTable'
import WizardAddedUsersTable     from './WizardAddedUsersTable'
import { PROVIDER_CISCO_WEBEX } from '../../../../utils/cisco-webex-configuration-holder.utils'
import { PROVIDER_CISCO_WEBEX_REST } from '../../../../utils/cisco-webex-rest-configuration-holder.utils'
import { PROVIDER_MICROSOFT_TEAMS_EVENT } from '../../../../utils/microsoft-teams-event-configuration-holder.utils'
import Tooltip from '../../../ui/Tooltip.vue'

export default {
  name: 'CreateSessionWizardSelectParticipants',
  components: { Tooltip, WizardAddedUsersTable, WizardAvailableUsersTable, Loader },
  data () {
    return {
      showSubmit: true,
      success: false,
      timeout: null
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'clientData', 'stepWizard', 'groupsToAdd']),
    ...mapGetters('sessionWizard', ['allGroups', 'finalNumberSession'])
  },
  mounted () {
    if (!this.stepWizard.userLoaded) {
      this.$store.dispatch('sessionWizard/loadUsers')
        .then(() => {
          if (this.clientData.provider.type === PROVIDER_CISCO_WEBEX) {
            this.$store.dispatch('sessionWizard/registerLicenceWebex')
          }
          if (this.clientData.provider.type === PROVIDER_CISCO_WEBEX_REST) {
            this.$store.dispatch('sessionWizard/registerLicenceWebexRest')
          }
          if (this.clientData.provider.type === PROVIDER_MICROSOFT_TEAMS_EVENT) {
            this.$store.dispatch('sessionWizard/registerLicenceTeamsEvent')
          }
        })
    } else {
      if (this.clientData.provider.type === PROVIDER_CISCO_WEBEX) {
        this.$store.dispatch('sessionWizard/registerLicenceWebex')
      }
      if (this.clientData.provider.type === PROVIDER_CISCO_WEBEX_REST) {
        this.$store.dispatch('sessionWizard/registerLicenceWebexRest')
      }
      if (this.clientData.provider.type === PROVIDER_MICROSOFT_TEAMS_EVENT) {
        this.$store.dispatch('sessionWizard/registerLicenceTeamsEvent')
      }
    }
  },
  methods: {
    updateUserSearch (event) {
      if (this.timeout !== null) {
        clearTimeout(this.timeout)
      }
      this.timeout = setTimeout(() => {
        this.timeout = null
        this.stepWizard.availableUserSearch = event.target.value
      }, 200)
    },
    addSubscribedUser () {
      this.$store.dispatch('sessionWizard/addSubscribeUsers')
    },
    stepWizardForward () {
      this.stepWizard.current = 'validSession'
      this.stepWizard.previous = 'selectParticipants'
      this.stepWizard.bullet = {
        selectDate: true,
        createSession: true,
        selectParticipants: true,
        validSession: true
      }
    },
    stepWizardBackward () {
      this.stepWizard.current = 'createSession'
      this.stepWizard.previous = 'selectDate'
      this.stepWizard.bullet = {
        selectDate: true,
        createSession: true,
        selectParticipants: false,
        validSession: false
      }
    },
    removeGroupAsAMemberOfSession (groupId) {
      this.$store.commit('sessionWizard/removeGroupFromSession', groupId)
    }
  }
}
</script>

<style scoped>
  .searchbar-participants {
    margin-top: 1px;
    margin-bottom: 31px;
  }
</style>
