<template>
  <table class="table-selected-participants">
    <thead>
      <tr>
        <th data-field="fullname">
          {{ $translator.trans('Last name') }} {{ $translator.trans('First name') }}
        </th>
        <th data-field="email">
          {{ $translator.trans('Email') }}
        </th>
        <th data-field="role">
          {{ $translator.trans('Role') }}
        </th>
        <th
          v-if="parseInt(sessionToSaved.category) === categoryMixte"
          data-field="situation"
        >
          {{ $translator.trans('Blended training') }}
        </th>
        <th />
      </tr>
    </thead>
    <tbody>
      <wizard-added-user-line
        v-for="participant in allParticipants"
        :key="participant.user_id"
        :user-id="participant.user_id"
      />
    </tbody>
  </table>
</template>

<script>
import WizardAddedUserLine from './WizardAddedUserLine'
import { mapGetters } from 'vuex'
import {
  CATEGORY_SESSION_PRESENTIAL,
  CATEGORY_SESSION_MIXTE
} from '../../../../store/module/session'

export default {
  name:       'WizardAddedUsersTable',
  components: { WizardAddedUserLine },
  data () {
    return {
      categoryPresential: CATEGORY_SESSION_PRESENTIAL,
      categoryMixte: CATEGORY_SESSION_MIXTE
    }
  },
  computed:   {
    ...mapGetters('sessionWizard', ['sessionToSaved', 'allParticipants'])
  }
}
</script>
