<template>
  <div
    :class="['scroller-item d-flex justify-content-around', { 'highlight': isSelected, 'odd': (index%2!==0) }]"
    @click="addOrRemoveUser"
  >
    <div class="scroller-element">
      {{ user.lastName }} {{ user.firstName }}
    </div>
    <div class="scroller-element">
      <span class="d-block">{{ user.email }}</span>
      <span
        v-if="isOrganizerForThisConnector"
        class="badge bg-primary p-1"
      >{{ $translator.trans( 'Organizer' ) }} </span>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name:  'WizardAvailableUserLine',
  props: {
    userId: {
      type: Number,
      required: true
    },
    index: {
      type: Number,
      required: true
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'users', 'usersToAdd', 'clients']),
    isSelected () {
      return this.usersToAdd.indexOf(this.userId) >= 0
    },
    user () {
      return this.users[this.userId]
    },
    isOrganizerForThisConnector () {
      const client = this.clients.find((client) => client.id === this.sessionToSaved.clientId)
      if (client) {
        const configuration = client.configurationHolders.find((config) => config.id === this.sessionToSaved.configurationHolder)
        if (configuration) {
          return configuration?.licences?.[this.user.email] ?? false
        }
      }
      return false
    }
  },
  methods: {
    addOrRemoveUser () {
      if (this.usersToAdd.indexOf(this.userId) >= 0) {
        this.usersToAdd.splice(this.usersToAdd.indexOf(this.userId), 1)
      } else {
        this.usersToAdd.push(this.userId)
      }
    }
  }
}
</script>

<style>
.scroller-item {
  background-color: #F6F6F6;
  border-bottom: 1px solid #fff;

  padding: 18px 20px;
  display: flex;
  align-items: center;
  font-size: .875rem;
}
.scroller-item.odd {
  background-color: rgba(255, 255, 255, 0.2);
}
.scroller-item.highlight {
  background-color: rgba(128,188,0,0.2);
  border-bottom: 1px solid #fff;
}
.scroller-element {
  flex: 1 1 0px;
}
</style>
