<template>
  <tr>
    <td>{{ user.lastName }} {{ user.firstName }}</td>
    <td>
      {{ user.email }}
      <span
        v-if="isAWebexLicence"
        class="badge bg-primary p-1"
      >{{ $translator.trans( 'Licence' ) }}<br></span>
      <span
        v-if="isOrganizerForThisConnector && !isAWebexLicence"
        class="badge bg-primary p-1"
      >{{ $translator.trans( 'Organizer' ) }}<br></span>
    </td>
    <td>
      <select
        v-model="participant.role"
        class="form-select"
      >
        <option value="trainee">
          {{ $translator.trans('Participant') }}
        </option>
        <option value="animator">
          {{ $translator.trans('Animator') }}
        </option>
      </select>
    </td>
    <td v-if="parseInt(sessionToSaved.category) === categoryMixte">
      <select
        v-model="participant.situationMixte"
        class="form-select"
        name="participant-situation"
      >
        <option
          v-for="(index, value) in situationMixte"
          :key="index"
          :value="value"
        >
          {{ $translator.trans(index) }}
        </option>
      </select>
    </td>
    <td>
      <div class="btn-unsubscribe">
        <img
          src="/build/static/icons/user-delete.svg"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          :data-bs-original-title="$translator.trans('Unsubscribe')"
          :aria-label="$translator.trans('Allows you to cancel the registration of a participant selected in error')"
          width="15"
          @click="removeUserFromSession"
        >
      </div>
    </td>
  </tr>
</template>

<script>
import _            from 'lodash'
import { mapState } from 'vuex'
import {
  CATEGORY_SESSION_PRESENTIAL,
  CATEGORY_SESSION_MIXTE
} from '../../../../store/module/session'

export default {
  name:     'WizardAddedUserLine',
  props:    {
    userId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      situationMixte: {
        1: 'remotely',
        2: 'face-to-face'
      },
      categoryPresential: CATEGORY_SESSION_PRESENTIAL,
      categoryMixte: CATEGORY_SESSION_MIXTE
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'users', 'clients']),
    participant () {
      return _.find(this.sessionToSaved.participants, { user_id: this.userId })
    },
    user () {
      return this.users[this.userId]
    },
    isAWebexLicence () {
      return this.sessionToSaved.licence === this.user.email
    },
    isOrganizerForThisConnector () {
      const client = this.clients.find((client) => client.id === this.sessionToSaved.clientId)
      if (client) {
        const configuration = client.configurationHolders.find((config) => config.id === this.sessionToSaved.configurationHolder)
        if (configuration) {
          return configuration?.licences?.[this.user.email] ?? false
        }
      }
      return false
    }
  },
  methods: {
    removeUserFromSession () {
      this.$store.commit('sessionWizard/removeUserFromSession', this.userId)
    }
  }
}
</script>

<style scoped>
.form-select {
  width: 120px;
}
</style>
