<template>
  <div style="height: 300px">
    <dynamic-scroller
      class="vue-scroller"
      :items="filteredUser"
      :min-item-size="68"
      key-field="id"
    >
      <template #before>
        <div class="vue-scroller-header d-flex justify-content-around">
          <div class="vue-scroller-header-element">
            {{ $translator.trans('Last name') }} {{ $translator.trans('First name') }}
          </div>
          <div class="vue-scroller-header-element">
            {{ $translator.trans('Email') }}
          </div>
        </div>
      </template>
      <template #default="{ item, index, active }">
        <DynamicScrollerItem
          :item="item"
          :active="active"
          :data-index="index"
        >
          <wizard-available-user-line
            :user-id="item.id"
            :index="index"
          />
        </DynamicScrollerItem>
      </template>
    </dynamic-scroller>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import WizardAvailableUserLine from './WizardAvailableUserLine'

export default {
  name:       'WizardAvailableUsersTable',
  components: { WizardAvailableUserLine },
  computed:   {
    ...mapState('sessionWizard', ['users']),
    ...mapGetters('sessionWizard', ['filteredUser'])
  }
}
</script>

<style scoped>
  .vue-scroller {
    height: 100%;
  }
  .vue-scroller-header {
    padding: 18px 20px;
    font-size: 0.875rem;
    line-height: 1rem;
    color: rgba(66, 66, 72, 0.45);
    font-weight: bold;
  }
  .vue-scroller-header-element {
    flex: 1 1 0px;
  }
</style>
