<template>
  <div class="page-options-bar">
    <div class="d-flex part-1">
      <div class="page-options-bar__item pr">
        <div class="page-options-bar__item__search with-result">
          <label for="searchInSession">
            <img src="/build/static/icons/search.svg">
          </label>
          <input
            id="searchInSession"
            :placeholder="$translator.trans('Search in all registration page')"
            name="searchInSession"
            type="search"
            @input="updateSearch"
          >
          <div class="search-sessions-counter">
            <b>{{ filteredCount }}</b>
            &nbsp;{{ $translator.trans('registration.s page.s found.s') }}
          </div>
        </div>
      </div>
    </div>
    <div
      class="primary-btn cursor-pointer"
      @click="createRegistrationPage"
    >
      <img
        alt="plus icon"
        class="me-2"
        src="/build/static/icons/plus-white.svg"
      >
      {{ $translator.trans('New') }}
    </div>
    <registration-page-template-modale />
  </div>
</template>
<script>
import { mapState } from 'vuex'
import RegistrationPageTemplateModale from '../RegistrationPageTemplateModale.vue'

export default {
  name: 'RegistrationPageOption',
  components: { RegistrationPageTemplateModale },
  props: {
    filteredCount: {
      type: Number,
      required: false,
      default: 0
    }
  },
  computed: {
    ...mapState('process', ['saving'])
  },
  methods: {
    createRegistrationPage () {
      this.$store.commit('template/newTemplate')
    },
    updateSearch (event) {
      this.$emit('updateSearch', event.target.value)
    }
  }
}
</script>
