<template>
  <div>
    <h3 class="mb-3">
      {{ $translator.trans('Services') }}
    </h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" />
          <th scope="col">
            {{ $translator.trans('Help need') }}
          </th>
          <th scope="col">
            {{ $translator.trans('Staffed assistants') }}
          </th>
          <th scope="col">
            {{ $translator.trans('Hours') }}
          </th>
          <th scope="col">
            {{ $translator.trans('Non-staffed sessions') }}
          </th>
          <th scope="col">
            {{ $translator.trans('Internals') }}
          </th>
          <th scope="col">
            {{ $translator.trans('Externals') }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            {{ $translator.trans('Assistances') }}
          </th>
          <td>{{ statistics.nbrNeedAssistances }}</td>
          <td>{{ statistics.nbrTaskAssistances }}</td>
          <td>{{ statistics.nbrHoursOfAssistance }}</td>
          <td>{{ statistics.nbrSessionWithoutHelpTaskAssistance }}</td>
          <td>{{ statistics.nbrPersonInAssistanceIntern }} ({{ statistics.nbrAssistancePercentInterns }}%)</td>
          <td>{{ statistics.nbrPersonInAssistanceExtern }} ({{ statistics.nbrAssistancePercentExternes }}%)</td>
        </tr>
        <tr>
          <th scope="row">
            {{ $translator.trans('Supports') }}
          </th>
          <td>{{ statistics.nbrNeedSupports }}</td>
          <td>{{ statistics.nbrTaskSupports }}</td>
          <td>-</td>
          <td>{{ statistics.nbrSessionWithoutHelpTaskSupport }}</td>
          <td>{{ statistics.nbrPersonInSupportIntern }} ({{ statistics.nbrPercentInterns }}%)</td>
          <td>{{ statistics.nbrPersonInSupportExtern }} ({{ statistics.nbrPercentExterns }}%)</td>
        </tr>
        <tr>
          <th scope="row">
            {{ $translator.trans('Hotline') }}
          </th>
          <td>{{ statistics.nbrDirectNeedHotline }}</td>
          <td>{{ statistics.nbrTaskDirectNeedHotline }}</td>
          <td>{{ statistics.nbrHoursOfDirectNeedHotline }}</td>
          <td>{{ statistics.sessionWithoutDirectNeedHotline }}</td>
          <td>{{ statistics.nbrDirectNeedHotlineInSupportIntern }} ({{ statistics.nbrDirectNeedHotlinePercentIntern }}%)</td>
          <td>{{ statistics.nbrDirectNeedHotlineInExtern }} ({{ statistics.nbrDirectNeedHotlinePercentExternes }}%)</td>
        </tr>
        <tr>
          <th scope="row">
            {{ $translator.trans('CSC1') }}
          </th>
          <td>{{ statistics.nbrDirectNeedCSC1 }}</td>
          <td>{{ statistics.nbrTaskDirectNeedCSC1 }}</td>
          <td>{{ statistics.nbrHoursOfDirectNeedCSC1 }}</td>
          <td>{{ statistics.sessionWithoutDirectNeedCSC1 }}</td>
          <td>{{ statistics.nbrDirectNeedCSC1InSupportIntern }} ({{ statistics.nbrDirectNeedCSC1PercentIntern }}%)</td>
          <td>{{ statistics.nbrDirectNeedCSC1InExtern }} ({{ statistics.nbrDirectNeedCSC1PercentExternes }}%)</td>
        </tr>
        <tr>
          <th scope="row">
            {{ $translator.trans('CSC2') }}
          </th>
          <td>{{ statistics.nbrDirectNeedCSC2 }}</td>
          <td>{{ statistics.nbrTaskDirectNeedCSC2 }}</td>
          <td>{{ statistics.nbrHoursOfDirectNeedCSC2 }}</td>
          <td>{{ statistics.sessionWithoutDirectNeedCSC2 }}</td>
          <td>{{ statistics.nbrDirectNeedCSC2InSupportIntern }} ({{ statistics.nbrDirectNeedCSC2PercentIntern }}%)</td>
          <td>{{ statistics.nbrDirectNeedCSC2InExtern }} ({{ statistics.nbrDirectNeedCSC2PercentExternes }}%)</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'DashboardService',
  props: {
    statistics: {
      type: Object,
      default: () => ({}),
      require: true
    }
  }
}
</script>
