<template>
  <div class="w-100">
    <h6 class="mb-4">
      {{ $translator.trans('Speaker.s') }}
    </h6>
    <module-edit-subject-speakers-list
      :subject="subject"
      :speakers="speakers"
      @removeSpeaker="updateSpeakers"
    />
    <div>
      <div
        class="mt-4"
        :class="{ 'opacity-25': !subject.id }"
        :data-bs-toggle="subject.id ? 'modal' : null"
        :data-bs-target="subject.id ? '#create_speaker_' : null"
        role="button"
      >
        <img
          src="/build/static/icons/add-filter.svg"
          alt="picto add filter"
          class="add-filter ms-3"
          style="width:16px;"
        >
        {{ $translator.trans('Add a speaker') }}
      </div>
    </div>
    <module-edit-subject-speakers-modal
      id="create_speaker_"
      :subject="subject"
      @saveSpeaker="updateSpeakers"
    />

    <div
      v-if="!subject.id"
      class="alert alert-dismissible align-items-start d-flex fade justify-content-between p-3 show mt-3"
      :class="`alert-warning`"
      role="alert"
    >
      {{ $translator.trans('Contributors can be added at any time after the topic has been created.') }}
    </div>
  </div>
</template>
<script>
import ModuleEditSubjectSpeakersModal from './ModuleEditSubjectSpeakersModal.vue'
import ModuleEditSubjectSpeakersList from './ModuleEditSubjectSpeakersList.vue'

export default {
  name: 'ModuleEditSubjectSpeakers',
  components: {
    ModuleEditSubjectSpeakersList,
    ModuleEditSubjectSpeakersModal
  },
  props: {
    subject: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      speakers: this.subject.speakers
    }
  },
  methods: {
    updateSpeakers (speakers) {
      this.speakers = speakers
    }
  }
}
</script>
