<template>
  <div
    class="data-list__row"
    style="background-color: #FDFDFD"
  >
    <div class="row__data">
      <loader v-if="processing" />
      <img
        v-else
        src="/build/static/icons/delete-filter.svg"
        alt=""
        role="button"
        @click="removeSpeaker(speaker)"
      >
    </div>
    <div
      class="row__data"
      data-bs-toggle="modal"
      :data-bs-target="'#update_speaker_'+ speaker.id"
      role="button"
      @click="loadSpeaker(speaker)"
    >
      <div class="d-flex flex-column">
        <p class="fw-bold">
          <strong>{{ speaker.name }}</strong>
        </p>
        <small v-if="speaker.title">{{ speaker.title }}</small>
        <small
          v-if="speaker.information"
          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%"
        >{{ speaker.information }}</small>
      </div>
    </div>
    <div
      class="row__data"
      data-bs-toggle="modal"
      :data-bs-target="'#update_speaker_'+ speaker.id"
      role="button"
      @click="loadSpeaker(speaker)"
    >
      <img
        v-if="speaker.photo"
        :src="fullPathProfilePicture(speaker.photo)"
        class="rounded-circle module-logo"
        :alt="speaker.name"
        style="width: 3rem; max-height: 48px; max-width: 48px; height: 48px; object-fit: cover; object-position: center;"
      >
      <img
        v-else
        class="rounded-circle module-logo"
        style="background: #bebebe; width: 48px; height: 48px"
        :alt="speaker.name"
        src="/build/static/icons/avatar-default.svg"
      >
    </div>
    <module-edit-subject-speakers-modal
      :id="'update_speaker_'+ speaker.id"
      :subject="subject"
      :speaker="speaker"
      @saveSpeaker="updateSpeakers"
    />
  </div>
</template>
<script>
import Loader                         from '../../../../ui/Loader.vue'
import ModuleEditSubjectSpeakersModal from './ModuleEditSubjectSpeakersModal.vue'

export default {
  name: 'ModuleEditSubjectSpeakersListItem',
  components: { Loader, ModuleEditSubjectSpeakersModal },
  props: {
    speaker: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    subject: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      processing: false
    }
  },
  methods: {
    fullPathProfilePicture (photo) {
      return '/uploads/self_subscription_subject_speaker/' + photo
    },
    loadSpeaker (speaker) {
      return this.currentSpeaker = speaker
    },
    removeSpeaker (speaker) {
      this.processing = true
      this.$axios.post(this.$routing.generate('_subject_speaker_remove', { id: speaker.id }))
        .then((response) => {
          this.updateSpeakers(response.data.message[0])
        })
        .finally(() => {
          this.processing = false
        })
    },
    updateSpeakers (speakers) {
      this.$emit('updateSpeakers', speakers)
    }
  }
}
</script>
