<template>
  <pop-in
    :id="id"
    :title="$translator.trans('Addition of a speaker')"
  >
    <template #content>
      <form
        class="form"
      >
        <div class="mb-3 form__item">
          <label
            for="name"
            class="form-label required"
          >
            {{ $translator.trans("Speaker's name") }}
          </label>
          <input
            v-model="currentSpeaker.name"
            name="name"
            required="required"
            class="form-control"
          >
        </div>
        <div class="mb-3 form__item">
          <label
            for="title"
            class="form-label"
          >
            {{ $translator.trans("Speaker's title") }}
          </label>
          <input
            v-model="currentSpeaker.title"
            type="text"
            name="title"
            required="required"
            class="form-control"
          >
          <tooltip
            :text="$translator.trans('Title, Surname, First name, Function, mini biography...')"
          />
        </div>
        <div class="mb-3 form__item">
          <label
            for="information"
            class="form-label"
          >
            {{ $translator.trans("Speaker's informations") }}
          </label>
          <textarea
            v-model="currentSpeaker.information"
            name="information"
            required="required"
            class="form-control"
            style="height: 100px;"
          />
          <tooltip
            :text="$translator.trans('Title, Surname, First name, Function, mini biography...')"
          />
        </div>
        <loader v-if="loading.photo" />
        <template v-else>
          <div
            v-if="!currentSpeaker.photo"
            class="form__item mb-3 col-12 justify-content-between"
          >
            <label
              for="information"
              class="form__item mb-0"
            >
              {{ $translator.trans("Speaker's picture") }}
            </label>
            <input
              id="photo"
              ref="photo"
              class="form-control w-90"
              type="file"
              :accept="IMAGE_FORMATS_FORMATTED"
              @change="uploadFile($event,'photo')"
            >
            <tooltip
              :text="$translator.trans('The speaker\'s photo will be displayed on the registration page. Recommended size: 100x100 pixels')"
            />
          </div>
          <div
            v-else
            class="mb-0 form__item"
          >
            <img
              class="img-fluid"
              style="width:250px;"
              :src="photoUri"
            >
            <div
              class="text-center cursor-pointer mt-2"
              @click="changeFile('photo')"
            >
              <img src="/build/static/icons/delete-filter.svg">
              {{ $translator.trans('Change photo') }}
            </div>
          </div>
          <span
            class="mt-1"
            style="font-size: 14px"
          >{{ $translator.trans('File format:') }} {{ IMAGE_FORMATS_STRING }}</span>
          <div
            v-if="errors.photo"
            class="invalid-feedback d-block"
          >
            {{ errors.photo }}
          </div>
        </template>
      </form>
    </template>
    <template #footer>
      <button
        type="button"
        class="btn btn-light"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        {{ $translator.trans('Close') }}
      </button>
      &nbsp;
      <submit-button
        type="button"
        class="btn btn-primary"
        :processing="processing"
        @click="saveSpeaker"
      >
        {{ $translator.trans('Valid') }}
      </submit-button>
    </template>
  </pop-in>
</template>
<script>
import PopIn from '../../../../ui/PopIn/PopIn.vue'
import SubmitButton from '../../../../ui/SubmitButton.vue'
import Tooltip from '../../../../ui/Tooltip.vue'
import Loader from '../../../../ui/Loader.vue'
import { IMAGE_FORMATS, IMAGE_FORMATS_FORMATTED, IMAGE_FORMATS_STRING } from '../../../../../utils/fileUpload.utils'

export default {
  name: 'ModuleEditSubjectSpeakersModal',
  components: { Loader, Tooltip, PopIn, SubmitButton },
  props: {
    id: {
      type: String,
      required: true
    },
    subject: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    speaker: {
      type: Object,
      required: false,
      default: () => {
        return {
          name: null,
          information: null,
          photo: null
        }
      }
    }
  },
  data () {
    return {
      IMAGE_FORMATS: IMAGE_FORMATS,
      IMAGE_FORMATS_STRING: IMAGE_FORMATS_STRING,
      IMAGE_FORMATS_FORMATTED: IMAGE_FORMATS_FORMATTED,
      currentSpeaker: this.speaker,
      processing: false,
      modal: null,
      photo: null,
      loading: {
        photo: false
      },
      errors: {
        photo: false
      }
    }
  },
  computed: {
    photoUri: function () {
      return '/uploads/self_subscription_subject_speaker/' + this.currentSpeaker.photo
    }
  },
  watch: {
    speaker: function (val) {
      this.currentSpeaker = val
    }
  },
  mounted () {
    this.modal = new this.$bootstrap.Modal(document.getElementById(this.id))
  },
  methods: {
    saveSpeaker () {
      this.processing = true
      this.$axios.post(this.$routing.generate('_subject_speaker_save', { id: this.subject.id }), JSON.stringify({
        speakerId: this.currentSpeaker.id ?? null,
        speakerName: this.currentSpeaker.name ?? null,
        speakerInformation: this.currentSpeaker.information ?? null,
        speakerSubjectId: this.subject.id ?? null,
        speakerPhoto: this.currentSpeaker.photo ?? null,
        speakerTitle: this.currentSpeaker.title ?? null
      }))
        .then((response) => {
          this.currentSpeaker = {}
          this.$emit('saveSpeaker', response.data.message.speakers[0])
          this.modal.hide()
        })
        .finally(() => {
          this.processing = false
        })
    },
    updateFile (src, file) {
      switch (src) {
        case 'photo':
          this.currentSpeaker.photo = file
          break
      }
    },
    uploadFile (e, src) {
      this.loading[src] = true
      const files = e.target.files || e.dataTransfer.files
      if (files.length !== 1) {
        return
      }
      const formData = new FormData()
      formData.append('file', files[0])
      formData.append('format', IMAGE_FORMATS)
      const vm = this
      vm.error = null
      this.$axios.post(this.$routing.generate('_subject_speaker_upload_files'), formData, { headers: { 'Content-Type': 'multipart/form-data' } })
        .then((response) => {
          this.updateFile(src, response.data.message.filetarget)
          this.loading[src] = false
        }).catch((error) => {
          this.loading[src] = false
          if ('response' in error && 'data' in error.response && 'message' in error.response.data && 'text' in error.response.data.message) {
            vm.error = error.response.data.message.text
            this.errors[src] = error.response.data.message.text
          } else {
            vm.error = this.$translator.trans('The ' + src + ' cannot be put online for an unknown reason.')
          }
        })
    },
    changeFile (src) {
      this.updateFile(src, null)
    }
  }
}
</script>
