<template>
  <div class="data-list">
    <div class="data-list__header">
      <div class="data-list__header__item">
        {{ $translator.trans('Action') }}
      </div>
      <div class="data-list__header__item">
        {{ $translator.trans('Name') }}
      </div>
      <div class="data-list__header__item">
        {{ $translator.trans('Profile picture') }}
      </div>
    </div>
    <div class="table-content">
      <div
        v-for="speaker in speakersList"
        :key="speaker.id"
      >
        <module-edit-subject-speakers-list-item
          :speaker="speaker"
          :subject="subject"
          @updateSpeakers="updateSpeakers"
        />
      </div>
    </div>
  </div>
</template>
<script>

import ModuleEditSubjectSpeakersListItem from './ModuleEditSubjectSpeakersListItem.vue'

export default {
  name: 'ModuleEditSubjectSpeakersList',
  components: { ModuleEditSubjectSpeakersListItem },
  props: {
    speakers: {
      type: Array,
      required: false,
      default: () => []
    },
    subject: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      currentSpeaker: {},
      speakersList: this.speakers
    }
  },
  watch: {
    speakers (val) {
      this.speakersList = val
    }
  },
  methods: {
    updateSpeakers (val) {
      this.speakersList = val
    }
  }
}
</script>
