<template>
  <div class="col-md-6 col-lg-6 mb-3">
    <loader v-if="loading.logo" />
    <template v-else>
      <div
        :class="[
          {
            'mb-0 align-items-start justify-content-start flex-column': module.logo !== null && module.logo !== '',
            'justify-content-between': module.logo !== null && module.logo !== ''
          }
        ]"
        class="form__item mb-0 col-12"
      >
        <div class="d-flex align-items-start flex-column position-relative">
          <div class="d-flex align-items-center position-relative">
            <label class="form-label mb-0">{{ $translator.trans('Logo of catalog') }}</label>
            <span class="bubble-information ms-2">2</span>
          </div>
          <label for=""><small>{{ $translator.trans('Optional Elongated shape.') }}</small></label>
        </div>
        <template v-if="module.logo === null || module.logo === ''">
          <input
            id="registration-page-template-banner"
            ref="logo"
            class="form-control w-90"
            type="file"
            :accept="IMAGE_FORMATS_FORMATTED"
            @change="uploadFile($event,'logo')"
          >
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Recommended size L: 202px, H:35px')"
          >
        </template>
        <template v-else>
          <img
            class="img-fluid"
            style="width:250px;"
            :src="logoUri"
          >
          <div
            class="text-center cursor-pointer mt-2"
            @click="changeFile('logo')"
          >
            <img src="/build/static/icons/delete-filter.svg">
            {{ $translator.trans('Change logo') }}
          </div>
        </template>
      </div>
      <span
        class="mt-1"
        style="font-size: 14px"
      >{{ $translator.trans('File format:') }} {{ IMAGE_FORMATS_STRING }}</span>
      <div
        v-if="errorProcessing.logo"
        class="invalid-feedback d-block"
      >
        {{ errorProcessing.logo }}
      </div>
    </template>
  </div>
</template>

<script>
import Loader from '../../../../../ui/Loader.vue'
import { IMAGE_FORMATS, IMAGE_FORMATS_FORMATTED, IMAGE_FORMATS_STRING } from '../../../../../../utils/fileUpload.utils'
import { mapState } from 'vuex'

export default {
  name: 'GraphicChartAppearanceLogo',
  components: { Loader },
  data () {
    return {
      IMAGE_FORMATS: IMAGE_FORMATS,
      IMAGE_FORMATS_FORMATTED: IMAGE_FORMATS_FORMATTED,
      IMAGE_FORMATS_STRING: IMAGE_FORMATS_STRING,
      loading: {
        logo: false,
        banner: false
      },
      errorProcessing: {
        logo: false,
        banner: false
      }
    }
  },
  computed: {
    ...mapState('module', ['module', 'clients']),
    ...mapState('process', ['formErrors']),
    logoUri: function () {
      return this.module.logoUri
    },
    bannerUri: function () {
      return this.module.bannerUri
    },
    tooltip: function () {
      return this.$translator.trans('Maximum file size: %size%', { size: '2Mo.<br/>' }) +
          this.$translator.trans('File format: %extensions%', { extensions: IMAGE_FORMATS_STRING + '<br/>' }) +
          this.$translator.trans('Recommended width: %width%', { extensions: '455px' })
    }
  },
  methods: {
    updateFile (src, file, preview) {
      switch (src) {
        case 'logo':
          this.module.logo = file
          this.module.logoUri = preview
          break
      }
    },
    uploadFile (e, src) {
      this.loading[src] = true
      const files = e.target.files || e.dataTransfer.files

      if (files.length !== 1) {
        return
      }

      const formData = new FormData()
      formData.append('file', files[0])
      formData.append('format', IMAGE_FORMATS)

      const vm = this
      vm.error = null
      this.$axios.post(this.$routing.generate('_module_upload_files'), formData, { headers: { 'Content-Type': 'multipart/form-data' } })
        .then((response) => {
          this.updateFile(src, response.data.message.filetarget, response.data.message.previewUri)
          this.loading[src] = false
        }).catch((error) => {
          this.loading[src] = false
          if ('response' in error && 'data' in error.response && 'message' in error.response.data && 'text' in error.response.data.message) {
            vm.error = error.response.data.message.text
            this.errorProcessing[src] = error.response.data.message.text
          } else {
            vm.error = this.$translator.trans('The ' + src + ' cannot be put online for an unknown reason.')
          }
        })
    },
    changeFile (src) {
      this.updateFile(src, null)
    }
  }
}
</script>
