<template>
  <div class="row">
    <div class="col-6">
      <h3>{{ $translator.trans('Top banner') }}</h3>

      <div class="mb-1 mt-3 form__item d-flex align-content-center">
        <div class="me-2">
          {{ $translator.trans('Affichier le logo du compte') }} :
        </div>
        <label
          class="switch"
          for="switch-active-state"
          @click="() => module.showClientLogo = !module.showClientLogo"
        >
          <input
            v-model="module.showClientLogo"
            type="checkbox"
            name="switch-active-state"
          >
          <span class="slider round" />
        </label>
        <span class="bubble-information ms-2">1</span>
      </div>

      <div class="mb-0 form__item d-flex align-content-center">
        <div class="me-2">
          {{ $translator.trans('Affichier les coordonnées du support client') }} :
        </div>
        <label
          class="switch"
          for="switch-active-state"
          @click="() => module.showClientContactDetails = !module.showClientContactDetails"
        >
          <input
            v-model="module.showClientContactDetails"
            type="checkbox"
            name="switch-active-state"
          >
          <span class="slider round" />
        </label>
        <div class="d-block" />
      </div>
      <div class="mb-3">
        <small
          class="mt-1"
          style="font-size: 14px;"
        >
          {{ $translator.trans('This information comes from your account. To modify them, please contact Live Session customer service.') }}
        </small>
      </div>

      <div class="row mt-3">
        <!--        <div class="form__item mb-1">-->
        <!--          <div class="d-flex align-items-center position-relative">-->
        <!--            <label class="form-label mb-0">{{ $translator.trans('Account logo') }}</label>-->
        <!--            <span class="bubble-information ms-2">1</span>-->
        <!--          </div>-->
        <!--          <small class="w-100">{{ $translator.trans('If you wish to change it, please contact Live Session.') }}</small>-->
        <!--        </div>-->
        <graphic-chart-appearance-logo />
        <div class="form__item mb-3">
          <div class="d-flex align-items-center position-relative">
            <label
              for="description"
              class="form-label mb-0"
            >{{ $translator.trans('Catchphrase') }}</label>
            <span class="bubble-information ms-2">3</span>
          </div>
          <textarea
            v-model="module.description"
            name="description"
            class="form-control"
            style="height: 100px"
            maxlength="120"
          />
          <tooltip :text="$translator.trans('up to 120 characters')" />
          <div
            v-if="'description' in formErrors"
            class="invalid-feedback d-block"
          >
            {{ formErrors.description }}
          </div>
          <max-length-input
            max="120"
            :value="module.description"
          />
        </div>
      </div>
    </div>
    <div class="col-6">
      <img
        class="img-fluid"
        src="/build/static/self-subscription-hub/icons/top-banner.webp"
      >
    </div>
  </div>
</template>

<script>
import Tooltip from '../../../../../ui/Tooltip.vue'
import GraphicChartAppearanceLogo from './GraphicChartAppearanceLogo.vue'
import { mapState } from 'vuex'
import MaxLengthInput from '../../../../../ui/MaxLengthInput.vue'

export default {
  name: 'TopBannerPersonalization',
  components: { MaxLengthInput, GraphicChartAppearanceLogo, Tooltip },
  computed: {
    ...mapState('module', ['module', 'clients']),
    ...mapState('process', ['formErrors', 'saving'])
  }
}
</script>
