.wrapper-header,
.wrapper-content-dashboard-stats {
    color: $black;
}

.wrapper-header {
    & .wrapper-header__infos {
        color: #0A1629;
        & .wrapper-header__infos__title {
            & h1 {
                @include font-size(36px);
                @include line-height(39px);
                font-weight: bold;
            }
            & .page-options-bar__item {
                margin-left: 29px;
            }
        }
        & .wrapper-header__infos__custom-stats {
            cursor: pointer;
            & .wrapper-header__infos__custom-stats__label {
                @include font-size(16px);
                @include line-height(24px);
                font-weight: 700;
                color: #0A1629;
            }
            & .wrapper-header__infos__custom-stats__label.active {
                color: $green
            }
        }
    }
}

.wrapper-container {
    border: 1px solid #DEDEDE;
    background-color: #F6F6F6;
    border-radius: 4px;
    padding: 1.5rem;
    & .wrapper-content-dashboard-stats__session__title {
        & h2 {
            @include font-size(18px);
            @include line-height(16px);
            font-weight: 700;
        }
        & span {
            @include font-size(12px);
            @include line-height(16px); 
            font-weight: 300;
        }
    }
    & .wrapper-content-sessions__current-stats__infos__table {
        & table {
            border: 1px solid #DEDEDE;
            background-color: #fff;
            margin-bottom: 0;
            & tbody {
                & td {
                    & img {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.wrapper-content-dashboard-stats {
    & .wrapper-content-dashboard-stats__session__title {
        & .export-dropdown {
            & .page-options-bar__item {
                margin-right: 0;
                & span {
                    font-weight: 700;;
                    color: #0A1629
                }
            }
        }
    }
    & .wrapper-content-dashboard-stats__session__content {
        & .wrapper-content-dashboard-stats__session__content__count {
            & .wrapper-content-dashboard-stats__session__content__count__round {
                background-color: $green;
                @include circle(120px);
                margin: 12px auto;
                & span {
                    @include font-size(33px);
                    @include line-height(36px);
                    color: $white;
                    font-weight: 900;
                }
            }
            & .wrapper-content-dashboard-stats__session__content__count__total {
                @include font-size(12px);
                @include line-height(13px);
                color: rgba($color: #000000, $alpha: 0.9);
                font-weight: 700;
                text-align: center !important;
            }
        }
    }
    
    & .wrapper-content-dashboard-stats__participants-finished,
    & .wrapper-content-dashboard-stats__eval-formations, 
    & .wrapper-content-dashboard-stats__activities{
        & .wrapper-content-dashboard-stats__participants-finished__table,
        & .wrapper-content-dashboard-stats__eval-formations__table,
        & .wrapper-content-dashboard-stats__activities__table {
            & table {
                & thead {
                    & th {
                        padding-top: 28px;
                    }
                }
                & .green {
                    color: $green;
                    font-weight: 900;
                }
            }
        }
    }
}

.wrapper-content-dashboard-stats-custom {
    & .wrapper-content-dashboard-stats-custom__iframe {
        min-height: 1167px;
        position: relative;
        & .close-iframe {
            position: absolute;
            top: 16px;
            right: 20px;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .wrapper-content-dashboard-stats__session,
    .wrapper-margin-top {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1399px) {
    .wrapper-content-dashboard-stats__session__content {
        flex-direction: column;
    }
}

@media screen and (min-width: 1400px) {
    .wrapper-content-sessions__current-stats {
        & .wrapper-content-dashboard-stats__session__title {
            margin-bottom: 30px;
        }
    }
    .wrapper-content-dashboard-stats__session__content {
        & .wrapper-content-dashboard-stats__session__content__count {
            & .wrapper-content-dashboard-stats__session__content__count__total {
                text-align: left !important;
            }
        }
    }
}