<template>
  <form ref="profileForm">
    <profile-input
      field-name="firstName"
      :label="$translator.trans('Firstname')"
    />
    <profile-input
      field-name="lastName"
      :label="$translator.trans('Lastname')"
    />
    <profile-input
      field-name="company"
      :label="$translator.trans('Company')"
    />
    <profile-input
      field-name="email"
      :label="$translator.trans('Email')"
    />
    <div class="text-center">
      <loader v-if="saving" />
      <div
        v-else
        class="btn btn-module-main text-center"
        @click="save"
      >
        {{ $translator.trans('Save') }}
      </div>
      <alert
        v-if="error"
        type="danger"
        :text="error"
      />
    </div>
  </form>
</template>

<script>
import ProfileInput from './ProfileInput'
import { mapState } from 'vuex'
import Loader from '../../components/ui/Loader'
import Alert from '../../components/ui/Alert'
export default {
  name: 'ProfileForm',
  components: { Alert, Loader, ProfileInput },
  data () {
    return {
      saving: false,
      error: null
    }
  },
  computed: {
    ...mapState('selfSubscription', ['userForm', 'module'])
  },
  methods: {
    save () {
      this.saving = true
      this.error = null
      this.$axios.post(this.$routing.generate('_self_subscription_profile_update', { clientName: this.module.slugClient, domain: this.module.domain }), this.userForm)
        .then((response) => {
          this.saving = false
          this.$store.commit('selfSubscription/userField', this.userForm)
        }).catch((error) => {
          this.saving = false
          this.error = this.$translator.trans('An error occurred while updating your profile')
          if ('response' in error && 'data' in error.response && typeof error.response.data === 'object' && 'message' in error.response.data && 'text' in error.response.data.message) {
            this.error = error.response.data.message.text
          }
          setTimeout(() => { this.error = null }, 5000)
        })
    }
  }
}
</script>

<style scoped>

</style>
