<template>
  <div>
    <label
      :for="fieldName"
      class="form-label"
    >
      {{ label }}
    </label>
    <input
      v-model="field"
      :name="fieldName"
      :type="type"
      class="form-control mb-4"
    >
    <div
      v-if="fieldName in constraints"
      class="rules-visualizer row"
    >
      <div class="col-12">
        <ul>
          <li
            v-for="constraint in constraints[fieldName]"
            :key="constraint.messageKey"
            :class="{
              'text-muted': !constraint.valid,
              'text-success': constraint.valid
            }"
          >
            {{ $translator.trans(constraint.messageKey) }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'ProfileInput',
  props: {
    label: {
      type: String,
      required: true
    },
    fieldName: {
      type: String,
      required: true
    },
    type: {
      type: String,
      required: false,
      default: 'text'
    }
  },
  computed: {
    ...mapState('selfSubscription', ['userForm']),
    ...mapGetters({ constraints: 'selfSubscription/userFormConstraints' }),
    field: {
      get () {
        return this.userForm[this.fieldName]
      },
      set (newValue) {
        const field = {}
        field[this.fieldName] = newValue
        this.$store.commit('selfSubscription/userFormField', field)
      }
    }
  }
}
</script>

<style scoped>

</style>
