<template>
  <div class="d-flex justify-content-evenly align-items-center">
    <div>
      <img
        v-if="fullPathProfilePicture"
        class="img-fluid rounded-circle bg-light"
        :src="fullPathProfilePicture"
        style="width: 130px; height: 130px;"
      >
      <div
        v-else
        class="user-avatar"
      >
        <div
          aria-hidden="true"
          class="vue-avatar--wrapper d-flex align-items-center justify-content-center bg-white text-black fs-1 border-module-main"
          style="width: 130px; height: 130px; border-radius: 50%;"
        >
          <span>{{ userNameShorted }}</span>
        </div>
      </div>
    </div>
    <div class="text-center">
      <input
        ref="fileProfileImage"
        type="file"
        hidden
        :accept="IMAGE_FORMATS_FORMATTED"
        @change="updateProfileImage"
      >
      <loader v-if="saving" />
      <button
        v-else
        class="btn btn-module-main"
        @click="changeProfileImage"
      >
        {{ $translator.trans('Upload') }}
        <img
          class="mb-0"
          src="/build/static/icons/question.svg"
          :alt="requirements"
          data-bs-html="true"
          :title="requirements"
          data-bs-toggle="tooltip"
        >
      </button>
      <span
        class="mt-1"
        style="font-size: 14px"
      >{{ $translator.trans('File format:') }} {{ IMAGE_FORMATS_STRING }}</span>
      <div
        v-if="error"
        class="invalid-feedback d-block"
      >
        {{ error }}
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Loader from '../../components/ui/Loader'
import { IMAGE_FORMATS, IMAGE_FORMATS_FORMATTED, IMAGE_FORMATS_STRING } from '../../utils/fileUpload.utils'

export default {
  name: 'ProfileImage',
  components: { Loader },
  data () {
    return {
      IMAGE_FORMATS: IMAGE_FORMATS,
      IMAGE_FORMATS_STRING: IMAGE_FORMATS_STRING,
      IMAGE_FORMATS_FORMATTED: IMAGE_FORMATS_FORMATTED,
      saving: false,
      error: null
    }
  },
  computed: {
    ...mapState('selfSubscription', ['module', 'user']),
    requirements () {
      return this.$translator.trans('Maximum file size: %size%', { size: '2Mo.<br/>' }) +
          this.$translator.trans('File format: %extensions%', { extensions: IMAGE_FORMATS_STRING })
    },
    fullPathProfilePicture () {
      if (this.user.profilePictureFilename) {
        return '/uploads/profile_pictures/' + this.user.profilePictureFilename
      }
      return null
    },
    userNameShorted () {
      return this.user.firstName[0].toUpperCase() + this.user.lastName[0].toUpperCase()
    }
  },
  mounted () {
    this.$nextTick(() => {
      const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      tooltipTriggerList.map((tooltipTriggerEl) => {
        return new this.$bootstrap.Tooltip(tooltipTriggerEl)
      })
    })
  },
  methods: {
    changeProfileImage () {
      this.$refs.fileProfileImage.click()
    },
    updateProfileImage () {
      const formData = new FormData()
      formData.append('file', this.file = this.$refs.fileProfileImage.files[0])
      formData.append('format', IMAGE_FORMATS)

      this.saving = true
      this.error = null
      this.$axios.post(
        this.$routing.generate('_self_subscription_profile_upload_picture', { clientName: this.module.slugClient, domain: this.module.domain }),
        formData,
        { headers: { 'Content-Type': 'multipart/form-data' } }
      ).then(response => {
        this.saving = false
        this.$store.commit('selfSubscription/userField', { profilePictureFilename: response.data.message })
      }).catch(error => {
        this.saving = false
        this.error = this.$translator.trans('Picture upload failure', {}, 'self-subscription')
        if ('response' in error && 'data' in error.response && typeof error.response.data === 'object' && 'message' in error.response.data && 'text' in error.response.data.message) {
          this.error = error.response.data.message.text
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
