<template>
  <div class="login-content">
    <div class="input-group-container">
      <div class="input-group">
        <input
          id="username"
          v-model="email"
          type="email"
          name="username"
          required="required"
          :placeholder="$translator.trans('Email')"
          class="form-control"
          @keypress.prevent.enter="onClickNextStep()"
        >
      </div>
      <div
        v-show="isStepLogin"
        class="input-group login-main__input-password"
      >
        <input
          id="password"
          :type="displayPassword ? 'text' : 'password'"
          name="password"
          required="required"
          :placeholder="$translator.trans('Password')"
          class="form-control"
        >
        <img
          :src="displayPassword ? '/build/static/icons/eye-hide.svg' : '/build/static/icons/view.svg'"
          alt=""
          @click="onClickDisplayPassword()"
        >
      </div>
    </div>

    <div class="buttons">
      <button
        v-show="!isStepLogin"
        class="btn btn-primary"
        type="button"
        :disabled="!emailIsValid"
        @click="onClickNextStep()"
      >
        {{ $translator.trans('Next') }}
      </button>
      <button
        v-show="isStepLogin"
        class="btn btn-primary"
        type="submit"
      >
        {{ $translator.trans('Login') }}
      </button>
    </div>
  </div>
</template>

<script>
const STEP_EMAIL = 'email'
const STEP_LOGIN = 'login'

export default {
  props: {
    lastUsername: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      step: STEP_EMAIL,
      email: this.lastUsername,
      displayPassword: false
    }
  },
  computed: {
    isStepLogin () {
      return this.step === STEP_LOGIN
    },
    emailIsValid () {
      return this.email !== null &&
             this.email.length > 0
    }
  },
  methods: {
    onClickNextStep () {
      this.step = STEP_LOGIN
    },
    onClickDisplayPassword () {
      this.displayPassword = !this.displayPassword
    }
  }
}
</script>

<style scoped>
  .login-content { width: 100%; }
  .buttons{ text-align: right; }
  .login-main__input-password > img { z-index: 1200; }
</style>
