<template>
  <div
    v-if="userAvailableToSwitch"
  >
    <a
      class="user-nav__account-switch-link"
      href="#"
      @click="showSelect = !showSelect"
    >
      {{ $translator.trans('Change account') }}
    </a>

    <div
      v-if="showSelect"
      class="form__item"
    >
      <select
        v-model="selectedAccount"
        @change="switchAccount()"
      >
        <option
          v-for="(account, index) in accounts"
          :key="index"
          :value="account.id"
        >
          {{ account.client.name }}
        </option>
      </select>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SwitchAccountSelect',
  props: {
    availableAccounts: {
      type: Array,
      required: false,
      default: () => []
    },
    currentAccount: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      showSelect: false,
      accounts: this.availableAccounts,
      selectedAccount: this.currentAccount
    }
  },
  computed: {
    userAvailableToSwitch () {
      return this.accounts.length > 1
    }
  },
  methods: {
    switchAccount () {
      window.location.href = this.$routing.generate('_session_viewer') + '/?_switch_user=' + this.selectedAccount
    }
  }
}
</script>
