<template>
  <div>
    <div>
      <div>
        <input
          id="update_user_password_form_password_first"
          v-model="password"
          type="password"
          name="update_user_password_form[password][first]"
          required="required"
          :placeholder="$translator.trans('New password')"
          class="form-control mt-2"
        >
      </div>
      <div>
        <input
          id="update_user_password_form_password_second"
          v-model="passwordConfirmation"
          type="password"
          name="update_user_password_form[password][second]"
          required="required"
          :placeholder="$translator.trans('Re-enter your new password')"
          class="form-control mt-2"
        >
      </div>
    </div>
    <div class="row my-4">
      <div class="col-12 col-md-6">
        <ul>
          <li :class="matches(/[a-z]/)">
            {{ $translator.trans('One lowercase letter') }}
          </li>
          <li :class="matches(/[A-Z]/)">
            {{ $translator.trans('One uppercase letter') }}
          </li>
          <li :class="matches(/\d/)">
            {{ $translator.trans('One number') }}
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <ul>
          <li :class="matches(/[\\\/!\@\#\$\%\^\&\*\(\)\,\.\?\:\{\}\|\<\>]/)">
            {{ $translator.trans('One special character') }}
          </li>
          <li :class="passwordLengthCheck">
            {{ $translator.trans('8 characters minimum') }}
          </li>
        </ul>
      </div>
    </div>
    <div>
      <button
        class="btn btn-primary float-end"
        :class="{'disabled': !passwordIsValid}"
        type="submit"
      >
        {{ $translator.trans('Update the password') }}
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      password: '',
      passwordConfirmation: ''
    }
  },
  computed: {
    passwordLengthCheck () {
      return {
        'text-muted': this.password.length < 8,
        'text-success': this.password.length >= 8
      }
    },
    passwordIsValid () {
      return this.matches(/[a-z]/) &&
        this.matches(/[A-Z]/) &&
        this.matches(/\d/) &&
        this.matches(/[\\/!@#$%^&*(),.?:{}|<>]/) &&
        this.password.length >= 8 &&
        this.password === this.passwordConfirmation
    }
  },
  methods: {
    matches (regex) {
      const found = this.password.match(regex) !== null
      return {
        'text-muted': !found,
        'text-success': found
      }
    }
  }
}
</script>

<style scoped>
  ul {
    padding-left: 0;
  }

  li {
    text-align: left;
    list-style: none;
  }
</style>
