{% extends 'main_onhold.html.twig' %}

{#{% set provider = providerSession.provider %}#}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('base') }}
    {{ encore_entry_link_tags('on-hold-provider-session-viewer') }}
    {#{{ encore_entry_link_tags('session-header') }}#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('on-hold-provider-session-viewer') }}
    {#{{ encore_entry_script_tags('sessions-tabs') }}
    {{ encore_entry_script_tags('session-header') }}
    {{ encore_entry_script_tags('tags-input') }}#}
{% endblock %}

{% block main %}
    {#{% if disableNavigation is not defined or not disableNavigation  %}
        <a class="button" href="{{ url('_session_viewer') }}">
            {{ 'Back' | trans }}
        </a>
    {% endif %}#}

    <header>
        {#{% include 'sessions/top_infos.html.twig' %}#}
    </header>

<!--    <div class="col-md-12">
        {#{% include('flash_messages.html.twig') %}#}
    </div>-->
    {#{{ listNewTimezones | serialize }}#}
    <section>
        <div class="col-md-12">
            {% include('flash_messages.html.twig') %}
        </div>
        <div id="on-hold-provider-session-viewer">
            <on-hold-provider-session-viewer
                :on-hold-provider-session="{{ onHoldProviderSession | serialize('json', {'groups': 'read_on_hold_session'}) }}"
                :models-adobe-connect="{{ modelsAdobeConnect }}"
            >
            </on-hold-provider-session-viewer>
        </div>
    </section>
{% endblock %}
