<template>
  <div class="drop-menu-container">
    <confirmation-pop-in
      :id="'delete_session_'+session.id.toString()"
      :title="$translator.trans('Delete session')"
      :content="$translator.trans('Do you want to delete this session?')"
      :confirm="() => popInAction('_session_delete')"
    />
    <confirmation-pop-in
      :id="'uncancel_session_'+session.id.toString()"
      :title="$translator.trans('Uncancel session')"
      :content="$translator.trans('Do you want to uncancel this session?')"
      :confirm="() => popInAction('_session_uncancel')"
    />
    <confirmation-pop-in
      :id="'cancel_session_'+session.id.toString()"
      :title="$translator.trans('Cancel session')"
      :content="$translator.trans('Do you want to cancel this session?')"
      :confirm="() => popInAction('_session_cancel')"
    />
    <div class="icn-option">
      <img src="/build/static/icons/options-white.svg">
    </div>
    <ul class="dropdown-menu-inner">
      <li
        v-if="!session.cancelled"
      >
        <a
          class="dropdown-item"
          :href="$routing.generate( '_session_get', {id: session.id} )"
        >
          <img
            src="/build/static/icons/eye-green.svg"
            class="me-2"
          >
          <b>{{ $translator.trans('View') }}</b></a>
      </li>
      <li
        v-if="!session.cancelled"
      >
        <a
          class="dropdown-item"
          :href="$routing.generate( '_session_get', {id: session.id} )"
        >
          <img
            src="/build/static/icons/edit-small-green.svg"
            class="me-2"
          >
          <b>{{ $translator.trans('Edit') }}</b></a>
      </li>
      <li
        v-if="canDelete"
      >
        <a
          class="dropdown-item"
          data-bs-toggle="modal"
          :data-bs-target="'#confirmationPopIn_delete_session_'+session.id.toString()"
          href="#"
        >
          <img
            src="/build/static/icons/trash-small.svg"
            class="me-2"
          >
          <b>{{ $translator.trans('Delete') }}</b></a>
      </li>
      <li
        v-if="session.cancelled"
      >
        <a
          class="dropdown-item"
          data-bs-toggle="modal"
          :data-bs-target="'#confirmationPopIn_uncancel_session_'+session.id.toString()"
          href="#"
        >
          <img
            src="/build/static/icons/small-ban-green.svg"
            class="me-2"
          >
          <b>{{ $translator.trans('Uncancel') }}</b></a>
      </li>
      <li
        v-if="canCancel"
      >
        <a
          class="dropdown-item"
          data-bs-toggle="modal"
          :data-bs-target="'#confirmationPopIn_cancel_session_'+session.id.toString()"
          href="#"
        >
          <img
            src="/build/static/icons/small-ban-green.svg"
            class="me-2"
          >
          <b>{{ $translator.trans('Cancel') }}</b></a>
      </li>
    </ul>
  </div>
</template>

<script>

import ConfirmationPopIn from '../../ui/PopIn/ConfirmationPopIn.vue'

export default {
  name: 'SessionListItemDropdownMenu',
  components: { ConfirmationPopIn },
  props: {
    session: {
      type: Object,
      required: true
    },
    isAdmin: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  computed: {
    canDelete () {
      if (!this.session.aDraft && !this.session.scheduled) {
        return false
      }

      return this.canDeleteOrCancel
    },
    canCancel () {
      if (!this.session.scheduled) {
        return false
      }

      return this.canDeleteOrCancel
    },
    canDeleteOrCancel () {
      if (this.isAdmin) {
        return true
      }

      return !this.session.finished
    }
  },
  methods: {
    popInAction (action) {
      window.location = this.$routing.generate(action, { id: this.session.id })
    }
  }
}
</script>
