<template>
  <div>
    <div
      v-show="isOpen"
      class="opened-room"
      role="button"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title=""
      data-bs-original-title="Salle ouverte - 10 personnes"
    >
      <img
        src="/build/static/icons/room-open.svg"
        class="me-1"
      >
      10
    </div>
    <div
      v-show="hasPersonal"
      class="session-option warning"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title=""
      role="button"
      data-bs-original-title="Option salle"
    >
      <img src="/build/static/icons/personal.svg">
    </div>
    <div
      v-show="hasCall"
      class="session-option"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title=""
      role="button"
      data-bs-original-title="Option salle"
    >
      <img src="/build/static/icons/call.svg">
    </div>
    <a
      v-show="hasAlert"
      data-bs-toggle="tooltip"
      data-bs-placement="right"
      class="session-warning"
      :title="$translator.trans('One or more emails were not received by one or more participant')"
      role="button"
      :href="$routing.generate('_bounce_list_session_filtered', {id: session.id})"
      data-bs-original-title="Alerte"
    >
      <img src="/build/static/icons/alert-session.svg">
    </a>
    <a
      v-show="hasAlertWebinar"
      data-bs-toggle="tooltip"
      data-bs-placement="right"
      class="session-warning"
      :title="$translator.trans('Finalize the configuration of your session by adding a confirmation type communication.')"
      role="button"
      :href="$routing.generate('_session_get', {id: session.id, 'tabName': 'SessionCommunicationTab'})"
      data-bs-original-title="Alerte"
    >
      <img src="/build/static/icons/alert-session.svg">
    </a>
    <div
      v-show="isOpen"
      class="opened-room"
      role="button"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      data-bs-original-title="Salle ouverte - 10 personnes"
    >
      <img
        src="/build/static/icons/room-open.svg"
        class="me-1"
      >
      10
    </div>
    <div
      v-show="hasPersonal"
      class="session-option warning"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title=""
      role="button"
      data-bs-original-title="Option salle"
    >
      <img src="/build/static/icons/personal.svg">
    </div>
    <div
      v-show="hasCall"
      class="session-option"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title=""
      role="button"
      data-bs-original-title="Option salle"
    >
      <img src="/build/static/icons/call.svg">
    </div>
  </div>
</template>

<script>

export default {
  name: 'SessionListItemAction',
  props: {
    session: {
      type: Object,
      required: true
    },
    hasAlert: {
      type: Boolean,
      required: false,
      default: () => false
    },
    hasAlertWebinar: {
      type: Boolean,
      required: false,
      default: () => false
    },
    hasCall: {
      type: Boolean,
      required: false,
      default: () => false
    },
    hasPersonal: {
      type: Boolean,
      required: false,
      default: () => false
    },
    isOpen: {
      type: Boolean,
      required: false,
      default: () => false
    }
  }
}
</script>

<style scoped>

</style>
