<template>
  <section>
    <div class="data-list">
      <div class="data-list__header">
        <div class="data-list__header__item">
          {{ $translator.trans('Reference') }}
        </div>
        <div
          v-if="isAdmin"
          class="data-list__header__item"
        >
          {{ $translator.trans('Account') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Title') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Date') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Participants') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Connector') }}
        </div>
        <div class="data-list__header__item row" />
        <div class="data-list__header__item" />
        <div
          v-if="!isSessionView"
          class="data-list__header__item"
        />
        <div class="data-list__header__item option" />
      </div>
      <div class="table-content">
        <session-list-item
          v-for="session in sessions"
          :key="session.id"
          :session="session"
          :view="view"
          :user-session-role-mapping="userSessionRoleMapping"
          :bounced-mails="bouncedMails"
          :is-admin="isAdmin"
        />
      </div>
    </div>
  </section>
</template>

<script>
import SessionListItem from './SessionListItem'
import { mapGetters } from 'vuex'

export default {
  name: 'SessionsList',
  components: { SessionListItem },
  props: {
    sessions: {
      type: Array,
      required: false,
      default: () => []
    },
    view: {
      type: String,
      required: false,
      default: 'session'
    },
    userSessionRoleMapping: {
      type: Object,
      required: false,
      default: () => { return {} }
    },
    bouncedMails: {
      type: Array,
      required: false,
      default: () => []
    },
    isAdmin: {
      type: Boolean,
      required: false,
      default: () => false
    },
    connectorSelected: {
      type: String,
      required: false,
      default: null
    }
  },
  computed: {
    ...mapGetters({ currentUser: 'currentUser/getCurrentUser' }),
    isSessionView () {
      return this.view === 'session'
    }
  }
}
</script>

<style scoped lang="css">
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
</style>
