<template>
  <div>
    <div
      class="data-list__row"
      :class="{ 'alert-session': hasBounceAlert }"
    >
      <div class="row__data">
        <a
          :href="$routing.generate('_session_get', {id: session.id})"
          :title="session.ref"
        >{{ session.ref }}</a>
      </div>
      <div
        v-if="isAdmin"
        class="row__data"
      >
        <a
          :href="$routing.generate('_session_get', {id: session.id})"
          :title="session.client.name"
        >{{ session.client.name }}</a>
      </div>
      <div class="row__data">
        <a
          :href="$routing.generate('_session_get', {id: session.id})"
          :title="session.name"
        >{{ sessionTitle }}</a>
      </div>
      <div class="row__data date">
        <a
          :href="$routing.generate('_session_get', {id: session.id})"
        >
          {{ session.dateStart|formatDate('datetime_med') }}
          <!--          {{ this.session.dateStart|formatDate("dd MMM y '" + $translator.trans('at') + "' HH:mm") }}-->
          <br><small>
            {{ $translator.trans('Duration') + ' ' + session.datesDiffString }}
          </small>
        </a>
      </div>
      <div class="row__data">
        <a
          href="#"
          data-bs-toggle="modal"
          :data-bs-target="'#sessions-participants-' + session.id"
          @click="loadParticipants()"
        >
          <span v-if="session.traineesCount > 0">{{ session.traineesCount }}</span>
          <span v-if="session.traineesCount === 0">{{ $translator.trans('no participant') }}</span>
          <span v-else-if="session.traineesCount === 1">{{ $translator.trans('participant') }}</span>
          <span v-else>{{ $translator.trans('participants') }}</span>
          <br>
          <span v-if="session.animatorsCount > 0">{{ session.animatorsCount }}</span>
          <span v-if="session.animatorsCount === 0">{{ $translator.trans('no host') }}</span>
          <span v-else-if="session.animatorsCount === 1">{{ $translator.trans('host') }}</span>
          <span v-else>{{ $translator.trans('hosts') }}</span>
        </a>
      </div>
      <div class="row__data">
        <a
          :href="$routing.generate('_session_get', {id: session.id})"
          :title="session.client.name"
        >{{ session.abstractProviderConfigurationHolder.name }}</a>
      </div>
      <div class="row__data">
        <span
          class="badge"
          :class="{ 'bg-primary': isStatusPrimary, 'bg-program': isStatusProgram, 'bg-in-progress': isRunning }"
        >
          {{ $translator.trans(session.readableState) }}
        </span>

        <span
          v-if="session.sessionTest"
          class="btn btn-info btn-sm"
          data-bs-placement="left"
          data-bs-toggle="tooltip"
          :title="$translator.trans('This session is a test. It won t be billed or counted in statistics.')"
        >
          {{ $translator.trans('Test') }}
        </span>
        <span />
      </div>
      <div class="row__data row">
        <div
          :class="'session-option'"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          :title="$translator.trans(categoryIcons.title)"
          role="button"
          style="margin: 2px"
        >
          <img :src="categoryIcons.src">
        </div>
        <div
          v-if="session.supportType !== 0"
          :class="['session-option', getHelpTaskColorClass(session.supportStatus)]"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          :title="$translator.trans(getSupportHelpTaskBtnTitle)"
          role="button"
          style="margin: 2px"
          :data-bs-original-title="$translator.trans('Session with support')"
        >
          <img src="/build/static/icons/support-icn.svg">
        </div>
        <div
          v-if="session.assistanceType !== 0"
          :class="['session-option', getHelpTaskColorClass(session.assistanceStatus)]"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          :title="$translator.trans(getAssistanceHelpTaskBtnTitle)"
          role="button"
          style="margin: 2px"
          :data-bs-original-title="$translator.trans('Session with assistance')"
        >
          <img src="/build/static/icons/assistance-icn.svg">
        </div>
        <div
          v-if="session.subject"
          :class="'session-option'"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          :title="session.titleAttachementModuleThemeSubject"
          role="button"
          style="margin: 2px"
          :data-bs-original-title="session.titleAttachementModuleThemeSubject"
        >
          <img src="/build/static/icons/parcours-formation.svg">
        </div>
        <div
          v-if="session.additionalTimezones.length > 0"
          :class="'session-option'"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          :title="$translator.trans('international session')"
          role="button"
          style="width: 20px"
        >
          <img
            src="/build/static/icons/international_session.svg"
            alt="international_session"
          >
        </div>

        <div
          v-if="session.registrationPageTemplate"
          :class="'session-option'"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          :title="$translator.trans('Registration page')"
          role="button"
        >
          <img src="/build/static/icons/registration_black.svg">
        </div>
      </div>
      <div
        v-if="isParticipantView"
        class="row__data row"
      >
        <participant-session-list-item-action
          v-if="isParticipantView"
          :session="session"
          :session-role="sessionRole"
          :has-bounce-alert="hasBounceAlert"
        />
      </div>
      <div class="row__data option">
        <session-list-item-action
          v-if="isSessionView"
          :session="session"
          :has-alert="hasBounceAlert"
          :has-alert-webinar="hasWebinarAlert"
          :has-call="hasCall"
          :has-personal="hasPersonal"
          :is-open="isOpen"
        />
        <participant-session-list-item-dropdown-menu
          v-if="isParticipantView"
          :session="session"
          :session-role="sessionRole"
        />
        <session-list-item-dropdown-menu
          v-else-if="isSessionView"
          :session="session"
          :is-admin="isAdmin"
        />
      </div>
    </div>

    <div
      :id="'sessions-participants-' + session.id"
      class="modal fade"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              {{ $translator.trans('Participants list') }} <small>{{ session.ref }} -
                <span />{{ session.dateStart|formatDate('datetime_med') }}</small>
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            />
          </div>
          <div class="modal-body">
            <div
              v-if="animators.length > 0"
            >
              <h3 class="mb-3">
                {{ $translator.trans('Host') }}
              </h3>
              <table class="table table-striped mb-5">
                <tbody>
                  <tr
                    v-for="animator in animators"
                    :key="animator.id"
                  >
                    <th scope="row">
                      <a
                        class="text-dark"
                        href="#"
                      >
                        {{ animator.lastName }}
                        {{ animator.firstName }}
                      </a>
                    </th>
                    <td>
                      <a
                        class="text-dark"
                        href="#"
                      >
                        {{ animator.email }}
                      </a>
                    </td>
                  <!-- <td class="text-end d-flex justify-content-end align-items-center">
                    <div class="connected-indicator me-2" />
                    <div class="dropdown">
                      <div data-bs-toggle="dropdown">
                        <img src="/build/static/icons/options.svg">
                      </div>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                          <a
                            class="dropdown-item align-items-center"
                            href="#"
                          >
                            <img
                              src="/build/static/icons/edit-small-green.svg"
                              class="me-2"
                            >
                            <b>{{ $translator.trans('Edit') }}</b>
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item align-items-center"
                            href="#"
                          >
                            <img
                              src="/build/static/icons/trash-small.svg"
                              class="me-2"
                            >
                            <b>{{ $translator.trans('Delete') }}</b></a>
                        </li>
                        <li role="button">
                          <a
                            class="dropdown-item align-items-center"
                            href="#"
                          >
                            <img
                              src="/build/static/icons/small-ban-green.svg"
                              class="me-2"
                            >
                            <b>{{ $translator.trans('Cancel') }}</b>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
            <div v-else>
              <h3 class="mb-3">
                {{ $translator.trans('No host') }}
              </h3>
            </div>
            <div
              v-if="trainees.length > 0"
            >
              <h3 class="mb-3">
                {{ $translator.trans('Participants') }}
              </h3>
              <table class="table table-striped">
                <tbody>
                  <tr
                    v-for="trainee in trainees"
                    :key="trainee.id"
                  >
                    <th scope="row">
                      <a
                        class="text-dark"
                        href="#"
                      >
                        {{ trainee.lastName }}
                        {{ trainee.firstName }}
                      </a>
                    </th>
                    <td>
                      <a
                        class="text-dark"
                        href="#"
                      >
                        {{ trainee.email }}
                      </a>
                    </td>
                  <!-- <td class="text-end d-flex justify-content-end align-items-center">
                    <div class="connected-indicator me-2" />
                    <div class="dropdown">
                      <div data-bs-toggle="dropdown">
                        <img src="/build/static/icons/options.svg">
                      </div>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                          <a
                            class="dropdown-item align-items-center"
                            href="#"
                          >
                            <img
                              src="/build/static/icons/edit-small-green.svg"
                              class="me-2"
                            >
                            <b>{{ $translator.trans('Edit') }}</b>
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item align-items-center"
                            href="#"
                          >
                            <img
                              src="/build/static/icons/trash-small.svg"
                              class="me-2"
                            >
                            <b>{{ $translator.trans('Delete') }}</b></a>
                        </li>
                        <li role="button">
                          <a
                            class="dropdown-item align-items-center"
                            href="#"
                          >
                            <img
                              src="/build/static/icons/small-ban-green.svg"
                              class="me-2"
                            >
                            <b>{{ $translator.trans('Cancel') }}</b>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
            <div v-else>
              <h3 class="mb-3">
                {{ $translator.trans('No participant') }}
              </h3>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              {{ $translator.trans('Close') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SessionListItemDropdownMenu from './SessionListItemDropdownMenu'
import ParticipantSessionListItemDropdownMenu from '../ParticipantSessionListItemDropdownMenu'
import ParticipantSessionListItemAction from '../ParticipantSessionListItemAction'
import SessionListItemAction from './SessionListItemAction'
import { mapGetters } from 'vuex'
import {
  CATEGORY_SESSION_WEBINAR
} from '../../../store/module/session'

export default {
  components: {
    SessionListItemAction,
    ParticipantSessionListItemAction,
    ParticipantSessionListItemDropdownMenu,
    SessionListItemDropdownMenu
  },
  props: {
    session: {
      type: Object,
      required: true
    },
    view: {
      type: String,
      required: false,
      default: 'session'
    },
    userSessionRoleMapping: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    hasCall: {
      type: Boolean,
      required: false,
      default: () => false
    },
    hasPersonal: {
      type: Boolean,
      required: false,
      default: () => false
    },
    isOpen: {
      type: Boolean,
      required: false,
      default: () => false
    },
    bouncedMails: {
      type: Array,
      required: false,
      default: () => []
    },
    isAdmin: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  data () {
    return {
      animators: [],
      trainees: [],
      categoryIcons: {}
    }
  },
  computed: {
    ...mapGetters({ currentUser: 'currentUser/getCurrentUser' }),
    isParticipantView () {
      return this.view === 'participant'
    },
    isSessionView () {
      return this.view === 'session'
    },
    sessionRole () {
      return this.session.id in this.userSessionRoleMapping ? this.userSessionRoleMapping[this.session.id] : {}
    },
    isStatusPrimary () {
      return this.session.running || (this.session.scheduled && this.session.readableState === 'Sent')
    },
    isStatusProgram () {
      return this.session.scheduled && this.session.readableState !== 'Sent'
    },
    isRunning () {
      return this.session.running
    },
    hasBounceAlert () {
      for (let i = 0; i < this.bouncedMails.length; i++) {
        if (this.bouncedMails[i].session !== null && this.bouncedMails[i].session.id === this.session.id) {
          return true
        }
      }

      return false
    },
    hasWebinarAlert () {
      return this.session.category === CATEGORY_SESSION_WEBINAR && !this.session.webinarConvocation.filter(communication => communication.convocationType === 'confirmation').length
    },
    getAssistanceHelpTaskBtnTitle () {
      switch (this.session.assistanceStatus) {
        case 1:
          return 'Assistance started, the assistant is not yet present'
        case 2:
          return 'Assistance started, the assistant is present'
        case 3:
          return 'Assistance is finished'
        default:
          return 'Assistance is programmed'
      }
    },
    getSupportHelpTaskBtnTitle () {
      switch (this.session.supportStatus) {
        case 1:
          return 'Support available'
        case 3:
          return 'Support is finished'
        default:
          return 'Support is programmed'
      }
    },
    sessionTitle () {
      if (this.session.subject) {
        return this.session.titleAttachementSubject
      } else {
        return this.session.name
      }
    }
  },
  mounted () {
    this.categoryIcons = this.iconCategory()
  },
  methods: {
    iconCategory () {
      const categoryInfo = {}
      switch (this.session.category) {
        case 1: {
          categoryInfo.title = 'Training'
          categoryInfo.src = '/build/static/icons/computer.svg'
          break
        }
        case 2: {
          categoryInfo.title = 'Meeting'
          categoryInfo.src = '/build/static/icons/reunion.svg'
          break
        }
        case 4: {
          categoryInfo.title = 'face-to-face training'
          categoryInfo.src = '/build/static/icons/sursite.svg'
          break
        }
        case 6: {
          categoryInfo.title = 'Blended session'
          categoryInfo.src = '/build/static/icons/online-training.svg'
          break
        }
        case 7: {
          categoryInfo.title = 'Webinar'
          categoryInfo.src = '/build/static/icons/webinar.svg'
          break
        }
      }
      return categoryInfo
    },
    getHelpTaskColorClass (helpTaskStatus) {
      switch (helpTaskStatus) {
        case 1:
          return 'warning'
        case 2:
          return 'success'
        default:
          return ''
      }
    },
    loadParticipants () {
      if (this.animators.length === 0) {
        this.$axios.get(this.$routing.generate('_session_list_animators', { id: this.session.id }))
          .then(response => {
            this.animators = response.data.map(role => role.participant)
          })
      }

      if (this.trainees.length === 0) {
        this.$axios.get(this.$routing.generate('_session_list_trainees', { id: this.session.id }))
          .then(response => {
            this.trainees = response.data.map(role => role.participant)
          })
      }
    }
  }
}
</script>
