{% extends 'main.html.twig' %}
{% set routeActive = '_client_list' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('base') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tinymce-input') }}
    <script>

        const categoryTypeAudio = document.getElementById('convocation_form_categoryTypeAudio');
        const typeAudio = document.getElementById('convocation_form_typeAudio');
        const connectorType = document.getElementById('convocation_form_connectorType');

        window.addEventListener('load', function() {
            filterTypesAudio(connectorType.value);
        })

        disabledInputs();
        reloadTypesAudio(categoryTypeAudio.value);
        //Does not allow editing of some fields if the summon is already linked to existing sessions.
        function disabledInputs () {
            let countSessionsWithThisConvocation = 0;
            {% if(countSessionsWithThisConvocation is defined and countSessionsWithThisConvocation is not empty) %}
                countSessionsWithThisConvocation = parseInt('{{ countSessionsWithThisConvocation }}');
            {% endif %}

            if(countSessionsWithThisConvocation > 0){
                categoryTypeAudio.setAttribute("readonly", 'readonly');
                typeAudio.setAttribute("readonly", 'readonly');
                connectorType.setAttribute("readonly", 'readonly');
            }
        }

        function filterTypesAudio (value){
            if( value === '{{ constant('App\\Entity\\Convocation::TYPE_WHITE_CONNECTOR') }}'){
                categoryTypeAudio.remove(0);
                categoryTypeAudio.remove(1)
                categoryTypeAudio.setAttribute("readonly", 'readonly');
                typeAudio.setAttribute("readonly", 'readonly');
            } else{
                categoryTypeAudio.removeAttribute("readonly");
                typeAudio.removeAttribute("readonly");
            }
            disabledInputs();
        }

        function reloadTypesAudio (value){
            var options_computer = {
                'VOIP only' : '{{ constant('App\\Entity\\ConfigurationHolder\\AbstractProviderAudio::AUDIO_VOIP') }}'
            };
            var options_telephone = {
                'Intercall' : '{{ constant('App\\Entity\\ConfigurationHolder\\AbstractProviderAudio::AUDIO_INTERCALL') }}',
                'PGi NA' : '{{ constant('App\\Entity\\ConfigurationHolder\\AbstractProviderAudio::AUDIO_PGI') }}',
                'MeetingOne EMEA' : '{{ constant('App\\Entity\\ConfigurationHolder\\AbstractProviderAudio::AUDIO_MEETINGONE_EMEA') }}',
                'MeetingOne NA' : '{{ constant('App\\Entity\\ConfigurationHolder\\AbstractProviderAudio::AUDIO_MEETINGONE_NA') }}'
            };
            var options_hybrid = {
                'Intercall' : '{{ constant('App\\Entity\\ConfigurationHolder\\AbstractProviderAudio::AUDIO_INTERCALL') }}',
                'PGi NA' : '{{ constant('App\\Entity\\ConfigurationHolder\\AbstractProviderAudio::AUDIO_PGI') }}',
                'MeetingOne EMEA' : '{{ constant('App\\Entity\\ConfigurationHolder\\AbstractProviderAudio::AUDIO_MEETINGONE_EMEA') }}',
                'MeetingOne NA' : '{{ constant('App\\Entity\\ConfigurationHolder\\AbstractProviderAudio::AUDIO_MEETINGONE_NA') }}',
                'CALLIN' : '{{ constant('App\\Entity\\ConfigurationHolder\\AbstractProviderAudio::AUDIO_CALLIN') }}'
            };
            var options_presential = {};
            var options_select = {};
            switch(value) {
                case 'Telephone':
                    options_select = options_telephone;
                    break;
                case 'Computer':
                    options_select = options_computer;
                    break;
                case 'Hybrid':
                    options_select = options_hybrid;
                    break;
                case 'Presential':
                    options_select = options_presential;
                    break;
            }

            const initialValue = typeAudio.value
            typeAudio.innerHTML = '';
            for(index in options_select) {
                typeAudio.options[typeAudio.options.length] = new Option(options_select[index], index, initialValue === index, initialValue === index);
            }
            disabledInputs();
        }

    </script>
{% endblock %}

{% block main %}
    <div class="page-title">
        <h1>{{ title|trans }}</h1>
    </div>

    {% include 'flash_messages.html.twig' %}

    <section>
        <a class="button" href="{{ url('_client_edit', {'id': clientId, 'tab-name': 'clientEmailsForm'}) }}">
            {{ 'Back to the account edition page' | trans }}
        </a>

        {{ form_start(form, {'attr': {'class': 'form' ,'method': 'POST', 'action': formActionUrl }}) }}

        <div class="row m-6">
            <div class="col-12 col-md-6" >
                <hr/>
                {% if(countSessionsWithThisConvocation is defined and countSessionsWithThisConvocation is not empty) %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
                        <div class="alert__body">
                            {{ 'You cannot modify certain convocation fields because it is already linked to %nbr% session.s'|trans({'%nbr%': countSessionsWithThisConvocation }) }}
                        </div>
                    </div>
                {% endif %}

                {{ form_row(form.status, {'attr': {'class': 'inline'}}) }}
                {{ form_row(form.name) }}
                {{ form_row(form.subjectMail) }}
                {{ form_row(form.connectorType) }}
                {{ form_row(form.category) }}
                {{ form_row(form.languages) }}
                <a href="#" title="" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#convocationShortsCodesModal">
                    {{ 'See the shorts codes' | trans }}
                </a>
                {{ form_row(form.content) }}
                {{ form_row(form.categoryTypeAudio) }}
                {{ form_row(form.typeAudio) }}
                {{ form_row(form.ics, {'attr': {'class': 'inline'}}) }}

                <input type="submit" class="btn btn-primary mb-3" name="save" value="{{ 'Save'|trans }}">
            </div>
        </div>

        {{ form_end(form) }}
    </section>
{% endblock %}

{% block modals %}
    {% include 'convocations/modal_short_code.html.twig' %}
{% endblock %}
