{% extends 'emails/base_manager_client.html.twig' %}

{% block content %}
    <p>
        {% trans %}
            You're hosting a session with a Live Session expert.
        {% endtrans %}
    </p>
    <p>
        {% trans %}Please give us {% endtrans %} <a href="{{ end_point_domain~url }}"> {% trans %} your feedback {% endtrans %} </a> {% trans %} to help us improve (it only takes a few moments).{% endtrans %}
    </p>
    <p>
        {% trans %}Session{% endtrans %} : {{ sessionName }}
    </p>
    <p>
        {% trans %}Live Session Advisor {% endtrans %} : {{ providerName }}
    </p>
    <p>
    <p>
        {% trans %}If the link is broken, copy/paste the URL below into your browser{% endtrans %} : {{ end_point_domain~url }}
    </p>
    <p>
        {% trans %}If you think this email is an error or if you need additional information, please contact us {% endtrans %}
    </p>
{% endblock %}

{#// MANAGER#}
