@import "assets/scss/variables";

.calendar-session-detail {
	color: $black;
	
	.users-counter{
		margin-top: .5rem;
		padding: 0.4rem 0.5rem;
		background: $white;
		color: $black;
		border-radius: 1rem;
		
		img { width: .7rem; }
	}
}
