{% extends 'main.html.twig' %}

{% set routeActive = '_module_list' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('module-edit-subject') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('module-edit-subject') }}
{% endblock %}

{% block main %}
    <a class="button" href="{{ url('_module_edit', {id: module.id}) }}">
        {{ 'Back' | trans }}
    </a>

    <div class="col-md-12">
        {% include('flash_messages.html.twig') %}
    </div>

    <div id="module-edit-subject">
        <module-edit-subject
            :module="{{ module|serialize('json', {'groups': 'ui:edit:subject'}) }}"
            :subject="{{ subject|serialize('json', {'groups': 'ui:edit:subject'}) }}"
            :category-available="{{ app.user.client.categories|serialize }}">
        ></module-edit-subject>
    </div>
{% endblock %}
