{% extends 'main.html.twig' %}

{% set routeActive = '_module_list' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('module-editor') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('module-editor') }}
{% endblock %}

{% block main %}
    <a class="button" href="{{ url('_module_list') }}">
        {{ 'Back' | trans }}
    </a>

    <div id="module-editor">
        <module-editor
            :import-restrictions="{{ importRestrictions | serialize }}"
            :module="{{ module|serialize('json', {'groups': 'ui:module:read'}) }}"
            :statistics="{{ statistics | serialize }}"
            :display-client="{{ is_granted('ROLE_ADMIN') ? 'true' : 'false' }}"
            :view-tab="{{ viewTab|serialize }}"
            :category-available="{{ app.user.client.categories|serialize }}">
        </module-editor>
    </div>
{% endblock %}
