{% extends 'main.html.twig' %}

{% set routeActive = '_module_list' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('module-viewer') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('module-viewer') }}
{% endblock %}

{% block main %}
    <div class="page-title">
        <h1>{{ title|trans }}</h1>
    </div>
    <div id="module-viewer">
        <module-viewer :clients="{{ client|serialize }}"/>
    </div>
{% endblock %}