/** @doc https://fullcalendar.io/docs/css-customization */
:root {
	--fc-button-text-color: #000000;
	--fc-button-bg-color: #ebebeb;
	--fc-button-border-color: #ebebeb;
	--fc-button-hover-bg-color: #80BC00;
	--fc-button-hover-border-color: #80BC00;
	--fc-button-active-bg-color: #80BC00;
	--fc-button-active-border-color: #80BC00;
}
