@import "assets/scss/variables";
@import "variables";

.copy {
	cursor: pointer;
}
.copy-disabled:after {
	position: absolute;
	height: 16px;
	top: 33px;
}
.copy:after {
	content: url('../../../static/icons/copy-green.svg');
	width: 14px;
	right: 85px;
}
.copy-disabled:after {
	content: url('../../../static/icons/copy-grey.svg');
	width: 14px;
	right: 85px;
}

.ls-fullcalendar {
	max-height: 60rem;

	.fc-col-header-cell-cushion, .fc-daygrid-day-number {
		color: $black;

		&:hover, &:active {
			text-decoration: none !important;
		}
	}

	.fc-toolbar{
		.fc-button-group, .fc-button{
			border-radius: 1rem;
			border: 0;

			&:not(:disabled){
				&:hover, &:active, &.fc-button-active{
					color: $white;
				}
			}
		}
	}

	.fc-daygrid-event-harness, .fc-timegrid-event-harness {
		border-radius: .2rem;
		margin: .5rem;

		&:hover, &:active { z-index: 10000 !important; }
	}

	.fc-timegrid-event-harness{
		margin: 0 .5rem;

		.fc-event { padding-top: 0; padding-bottom: 0 }
	}

	.fc-event {
		@import "session-detail";

		overflow: hidden;
		padding: .5rem;
		background: $gray-400;
		border: 1px solid #d1d1d1;
		border-left: .5rem solid transparent;
		&.session-status-grey{ border-left-color: darken($gray-400, 50%); }
		&.session-status-primary{ border-left-color: $primary; }
		&.session-status-yellow{ border-left-color: $yellow; }
		&.session-status-cyan{ border-left-color: $cyan; }
	}
	
	.fc-event {
		overflow: hidden;
		text-line-through-color: $red;
		padding: .5rem;
		background: $gray-400;
		border: 1px solid #d1d1d1;
		border-left: .5rem solid transparent;
		&.time-slot-status-red{ border-left-color: $red; }
		&.time-slot-status-green{ border-left-color: $green; }
		&.time-slot-status-orange{ border-left-color: $orange; }
	}

	.fc-v-event .fc-event-main {
		 color: #80bc00
	 }
}
