{% extends 'blank_page_mockup.html.twig' %}

{% set userLang = providerSession.getLanguage()|default('fr') %}

{% block body_classes_block %}
    {{ parent() }}
    session-detail-signature
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if error is not defined %}{{ encore_entry_link_tags('evaluation-performance-animator') }}{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if error is not defined %}{{ encore_entry_script_tags('evaluation-performance-animator') }}{% endif %}
{% endblock %}

{% block header_title %}{{ title|trans(locale=userLang) }}{% endblock %}
{% block header_sub_title %}{{ 'Form'|trans(locale=userLang) }}{% endblock %}

{% block content_title %}{{ providerSession.name }}{% endblock %}
{% block content_sub_title %}
    {% set dateStartLocalized = providerSession.dateStart()|format_datetime('full', 'short', locale=userLang) %}
    <span>{{ 'Reference n° %field_1% - %field_2% - Duration %field_3%'|trans({'%field_1%': providerSession.ref, '%field_2%': dateStartLocalized, '%field_3%': providerSession.datesDiffString},locale=userLang) }}</span>
{% endblock %}

{% block content %}
    {% if answered %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading text-center">{{'Thank you!'| trans(locale=userLang)}}</h4>
            <p>{{ 'You have already responded to this evaluation.'|trans(locale=userLang) }}</p>
        </div>
    {% else %}
        <div class="alert alert-primary text-center" role="alert">
            {{ 'Thank you for taking a few minutes to fill out the assistance evaluation questionnaire. Your feedback is valuable to us.' |trans(locale=userLang) }}
        </div>
        <div id="evaluation-performance-animator">
            <evaluation-performance-animator
                evaluation-id="{{ evaluationAnimatorAnswer.id }}"
                survey-id="{{ evaluationAnimatorAnswer.surveyId }}"
                animator-token="{{ participantSessionRole.providerSessionAccessToken.token }}"
                answer="{{ answer }}"
                locale="{{ providerSession.language }}"
            />
        </div>
    {% endif %}
{% endblock %}
