{% extends 'main_service_client.html.twig' %}
{% set routeActive = '_billing_export_tpm' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_script_tags('link-export-sessions-viewer') }}
    {{ encore_entry_script_tags('billing-claimant-list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('link-export-sessions-viewer') }}
    {{ encore_entry_script_tags('billing-claimant-list') }}
{% endblock %}

{% block main %}
    <div class="text-center">
        <h1>{{ title | trans}}</h1>
    </div>
    <br>
    <h3>{{ 'Invoicing of clients'|trans }}</h3>
    <div class="row">
        <div class="col-12 mt-2">
            {{ 'You can extract the TPM to be able to invoice our customers monthly by clicking on "Export".'|trans }}
        </div>
    </div>
    <div class="row">
        <div class="col-12  d-flex flex-column align-items-end">
            <a id="link-export-sessions-viewer">
                <link-export-sessions-viewer
                        :is-admin="{{ is_granted('ROLE_ADMIN')?'true':'false' }}"
                        :user="{{ app.user | serialize('json', {'groups': 'read_user_session_list'}) }}"
                        user-token="{{ app.user.token }}"
                />
            </a>
        </div>
    </div>
    <br /><br /><hr /><br /><br />
    <h3>{{ 'Invoicing of service providers'|trans }}</h3>
    <div class="row">
        <div class="">
            <div id="col-12 align-items-xl-end">
                <div id="billing-claimant-list">
                    <billing-claimant-list
                            :all-data-billing-claimant="{{ allDataBillingClaimant|serialize('json') }}"
                            :is-admin="{{ is_granted('ROLE_ADMIN')?'true':'false' }}"
                            :query="{{ query|serialize('json') }}"
                            :route="'_billing_export_tpm'"
                    />
                </div>
            </div>
        </div>
    </div>


{% endblock %}
