{% extends 'main_service_client.html.twig' %}
{% set routeActive = '_billing_claimant' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_script_tags('billing-claimant-list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('billing-claimant-list') }}
{% endblock %}

{% block main %}
    <div class="text-center">
        <h1>{{ 'My activities' | trans}}</h1>
    </div>
    <div class="row">
        <div class="">
            <div id="col-12 align-items-xl-end">
                <div id="billing-claimant-list">
                    <billing-claimant-list
                            :all-data-billing-claimant="{{ allDataBillingClaimant|serialize('json') }}"
                            :is-admin="false"
                            :query="{{ query|serialize('json') }}"
                            :route="'_billing_claimant'"
                    />
                </div>
            </div>
        </div>
    </div>


{% endblock %}
