{% extends 'main_service_client.html.twig' %}
{% set routeActive = '_configuration_eval_logbook' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('evaluation-performance-logbook') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('evaluation-performance-logbook') }}
{% endblock %}

{% block main %}
    <div class="text-center">
        <h1>{{ title | trans}}</h1>
    </div>
    <br>
    <div class="row">
        <div id="evaluation-performance-logbook">
            <evaluation-performance-logbook
                :evaluation-performance="{{ evaluationPerformance | serialize }}"
                :evaluation-performance-English="{{ evaluationPerformanceEnglish | serialize }}"
                :log-book="{{ logBook | serialize }}"
                :zoho-desk-form="{{ zohoDeskForm | serialize }}"
                langue="{{ app.request.locale|upper }}"
            >
            </evaluation-performance-logbook>
        </div>
    </div>

{% endblock %}
