{% extends 'main_service_client.html.twig' %}
{% set routeActive = '_dashboard_sc' %}

{% block main %}
    <div class="page-title">
        <h1>{{ title | trans }}</h1>
    </div>
    <div class="col-md-12">
        {% include('flash_messages.html.twig') %}
    </div>
    <div id="customer-service-dashboard">
        <customer-service-dashboard
                :alerts="{{ data.alerts|serialize('json') }}"
                :general="{{ data.general|serialize('json') }}"
                :clients="{{ clients|serialize('json', {'groups': 'filter:view'}) }}"
                :query="{{ query|serialize('json') }}"
        >
        </customer-service-dashboard>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('customer-service-dashboard') }}
{% endblock %}