{% extends 'main_service_client.html.twig' %}
{% set routeActive = '_evaluation_animators_results' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('evaluation-performance-animator-answer-list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('evaluation-performance-animator-answer-list') }}
{% endblock %}

{% block main %}
    <div class="text-center">
        <h1>{{ title | trans}}</h1>
    </div>
    <br>
    <div class="row">
        <div id="evaluation-performance-animator-answer-list">
            <evaluation-performance-animator-answer-list
                :all-evaluation-performance-animator-answer="{{ allEvaluationPerformanceAnimatorAnswer |serialize('json', {'groups': 'read_evaluation_animator'}) }}"
                :answers="{{ answers |serialize }}"
                survey-id="{{ surveyId }}"
            >
            </evaluation-performance-animator-answer-list>
        </div>
    </div>

{% endblock %}
