{% extends 'main_service_client.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('help-task-details') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('help-task-details') }}
{% endblock %}

{% block main %}
    <div class="text-center">
        <h1>{{ title | trans}}</h1>
    </div>
    
    {% if helpTask.helpNeed.type == constant('App\\CustomerService\\Entity\\HelpNeed::TYPE_DIRECT_NEED') %}
        <div id="help-task-details">
            {% set session = helpTask.helpNeed.session %}
            <help-task-details
                :help-task="{{ helpTask | serialize('json', {'groups': 'help_task:read'}) }}"
                :client-services="{{ helpTask.helpNeed.client.getServices() | serialize('json', {'groups': 'read_client_services'}) }}"
                log-book-survey-id="{{ log_book_survey_id }}"
                :zoho-desk-form="{{ zohoDeskForm | serialize }}"
                :account-concerned="{{ accountConcerned | serialize }}"
                :session-nature-values="{{ getTrainingActionNatureEnumValues() | serialize }}"
                locale="{{ helpTask.helpNeed.client.defaultLang }}"
                :is-customer-service="{{ isCustomerService ? 'true' : 'false' }}"
                :is-admin="{{ isAdmin ? 'true' : 'false' }}"
            ></help-task-details>
        </div>
    {% else %}
        <div id="help-task-details">
            {% set session = helpTask.helpNeed.session %}
            <help-task-details
                :help-task="{{ helpTask | serialize('json', {'groups': 'help_task:read'}) }}"
                :session="{{ session | serialize('json', {'groups': 'read_session'}) }}"
                :session-nature-values="{{ getTrainingActionNatureEnumValues() | serialize }}"
                :client-services="{{ helpTask.helpNeed.client.getServices() | serialize('json', {'groups': 'read_client_services'}) }}"
                log-book-survey-id="{{ log_book_survey_id }}"
                locale="{{ session.language }}"
                answer="{{ answer|json_encode() }}"
                :is-customer-service="{{ isCustomerService ? 'true' : 'false' }}"
                :is-admin="{{ isAdmin ? 'true' : 'false' }}"
            ></help-task-details>
        </div>
    {% endif %}
    
{% endblock %}
