{% extends 'main_service_client.html.twig' %}
{% set routeActive = '_helper_list' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('users-helper-list') }}
    {{ encore_entry_link_tags('collection-type') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('users-helper-list') }}
    {{ encore_entry_script_tags('collection-type') }}
{% endblock %}

{% block main %}
    <div class="page-title">
        <h1>{{ title|trans }}</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="#" class="primary-btn" data-bs-toggle="modal" data-bs-target="#userServiceProviderFormModal">
                <img alt="plus white picto" src="{{ asset('build/static/icons/plus-white.svg') }}" class="me-2">
                {{ 'New'|trans }}
            </a>
        {% endif %}
    </div>
    <div class="col-md-12">
        {% include('flash_messages.html.twig') %}
    </div>
    <div id="users-helper-list">
        <users-helper-list
            :helpers="{{ helpers|serialize('json', {'groups': 'read_helpers'}) }}"
            {% if preSearch is defined and preSearch is not null %}
                :pre-search="'{{ preSearch }}'"
            {% endif %}
        />
    </div>

{% endblock %}

{% block modals %}
    {% if is_granted('ROLE_ADMIN') %}
        {{ render(controller('App\\CustomerService\\Controller\\HelperController::createUserHelper')) }}
    {% endif %}
{% endblock %}
