{% extends 'main_service_client.html.twig' %}
{% set routeActive = '_log_book_results' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('log-book-answer-list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('log-book-answer-list') }}
{% endblock %}

{% block main %}
    <div class="text-center">
        <h1>{{ title | trans}}</h1>
    </div>
    <br>
    <div class="row">
        <div id="log-book-answer-list">
            <log-book-answer-list
                :answers="{{ answers |serialize }}"
                survey-id="{{ surveyId }}"
            >
            </log-book-answer-list>
        </div>
    </div>

{% endblock %}
