{% extends 'main_service_client.html.twig' %}
{% set routeActive = '_help_task_calendar_personal' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('personal-calendar-availability-user') }}
    {{ encore_entry_link_tags('personal-calendar-select') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('personal-calendar-availability-user') }}
    {{ encore_entry_script_tags('personal-calendar-select') }}
{% endblock %}

{% block main %}
    <div class="page-title">
        <h1>{{ title|trans }}</h1>
    </div>
    <div class="col-md-12">
        {% include('flash_messages.html.twig') %}
    </div>
    <div id="personal-calendar-select">
        <personal-calendar-select
            select-view="{{ select }}"
        >
        </personal-calendar-select>
    </div>
    <div id="personal-calendar-availability-user">
        <personal-calendar-availability-user
            :costumer-providers="{{ costumerProviders|serialize('json', {'groups': 'customer-service:provider:view'}) }}"
            :is-admin="{{ is_granted('ROLE_ADMIN')?'true':'false' }}"
            :user-selected-id="{{ userSelectedId }}"
        >
        </personal-calendar-availability-user>
    </div>
{% endblock %}
