{% extends 'main_service_client.html.twig' %}
{% set routeActive = '_help_task_calendar_personal' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('personal-calendar-help-task') }}
    {{ encore_entry_link_tags('personal-calendar-select') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('personal-calendar-help-task') }}
    {{ encore_entry_script_tags('personal-calendar-select') }}
{% endblock %}

{% block main %}
    <div class="page-title">
        <h1>{{ title|trans }}</h1>
    </div>
    <div class="col-md-12">
        {% include('flash_messages.html.twig') %}
    </div>
    <div id="personal-calendar-select">
        <personal-calendar-select
            select-view="{{ select }}"
        >
        </personal-calendar-select>
    </div>
    <div id="personal-calendar-help-task">
        <personal-calendar-help-task
                user-token="{{ app.user.token }}"
        ></personal-calendar-help-task>
    </div>
{% endblock %}
