{% extends 'main_service_client.html.twig' %}
{% set routeActive = '_help_need_calendar' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('help-need') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('help-need') }}
{% endblock %}

{% block main %}
    <div class="page-title">
        <h1>{{ title|trans }}</h1>
    </div>
    <div class="col-md-12">
        {% include('flash_messages.html.twig') %}
    </div>
    <div id="help-need">
        <help-need
            :clients="{{ clients|serialize('json', {'groups': 'filter:view'}) }}"
            :helper-users="{{ providerServiceUser|serialize('json', {'groups': 'filter:view'}) }}"
            :costumer-providers="{{ costumerProviders|serialize }}"
            :event-sources-costumer-providers="{{ eventSources|serialize }}"
            :active-user="{{ activeUser ? 'true' : 'false'}}"
            :languages="{{ languages|serialize }}">
        </help-need>
    </div>
{% endblock %}
