{% extends 'main_service_client.html.twig' %}

{% set userLang = app.user.getPreferredLang() %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main %}
    {% if creationMode is not defined %}
        <div class="mb-2">
            <a class="button" href="{{ path('_helper_list') }}">
                {{ 'Back' | trans }}
            </a>
        </div>
    {% endif %}

    <header>
        <div class="wrapper-header d-flex align-items-start justify-content-between mb-4">
            <div class="wrapper-header__infos">
                  <h1>
                      {{ title|trans }}
                  </h1>
            </div>
        </div>
    </header>

    <section>
        <nav>
            <div class="nav nav-tabs mb-5" id="nav-tab-user" role="tablist">
                <a class="nav-item nav-link ps-0 active" id="nav-general-tab" data-toggle="tab"
                   href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">{{ 'General' | trans }}
                </a>
            </div>
        </nav>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% include 'flash_messages.html.twig' %}
        </div>
    </div>

    <div class="tab-content pb-4" id="nav-tab-client-form-tab">
        <div id="nav-general" class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav-general-tab" action="#general">
            <div class="col-md-12 mb-3">
                <em>
                    {{ "Find here all the information about the service provider" | trans }} <br/>
                </em>
            </div>
            {{ form_start(form, {'attr': {'class': 'form'}}) }}

            <div class="row m-6">
                <div class="col-12 col-md-6" >
                    {{ form_row(form.email) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.preferredLang) }}
                    {{ form_row(form.intern) }}
                    {% if form.client is defined %}
                        {{ form_row(form.client) }}
                    {% endif %}

                </div>
                <div class="col-12 col-md-6">
                    {{ form_row(form.reference) }}
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.phone) }}
                    {% if form.roles is defined %}
                        {{ form_row(form.roles) }}
                    {% endif %}
                </div>

                <div class="col-12 mt-3">
                    <input type="submit" class="btn btn-primary mb-3" name="save" value="{{ 'Save'|trans }}">
                </div>
            </div>

            {{ form_end(form)}}
        </div>
    </div>
{% endblock %}
