<template>
  <div class="data-list__row text-dark">
    <div class="row__data">
      <div class="d-flex align-items-center">
        <div
          class="badge badge-sm"
          :style="{ backgroundColor: badgeBackgroundColor(evaluationMail.evaluationType) }"
        >
          {{ evaluationType(evaluationMail.evaluationType) }}
        </div>
        <p
          v-if="showMessage"
          class="wrapper-presence__available text-primary"
          style="margin-left: 10px"
        >
          {{ $translator.trans( 'Modification saved' ) }} ✓
        </p>
      </div>
    </div>

    <div class="row__data">
      {{ humanizeLanguage(evaluationMail.language) }}
    </div>
    <div class="row__data">
      {{ evaluationMail.subjectMail }}
    </div>
    <div
      class="row__data option"
    >
      <div class="drop-menu-container">
        <div class="icn-option">
          <img src="/build/static/icons/options-white.svg">
        </div>
        <ul class="dropdown-menu-inner">
          <li>
            <a
              class="dropdown-item"
              :data-bs-target="'#mail-modal-'+ evaluationMail.id"
              data-bs-toggle="modal"
              role="button"
            >
              <img
                src="/build/static/icons/edit-small-green.svg"
                class="me-2"
              >
              <b>{{ $translator.trans('Edit') }}</b></a>
          </li>
        </ul>
      </div>
    </div>
    <div
      :id="'mail-modal-'+ evaluationMail.id"
      :ref="'mail-modal-'+ evaluationMail.id"
      class="modal fade"
      tabindex="-1"
    >
      <evaluation-mail-modal-update
        :evaluation-modal="evaluationMail"
        @updateEvaluationMail="closeModal()"
      />
    </div>
  </div>
</template>

<script>
import {
  EVALUATION_ACQUIRED,
  EVALUATION_COLD,
  EVALUATION_HOT,
  EVALUATION_KNOWLEDGE, EVALUATION_OTHER,
  EVALUATION_POSITIONING
} from '../../store/module/session'
import EvaluationMailModalUpdate from './EvaluationMailModalUpdate.vue'

export default {
  name: 'ClientEvaluationMailListItem',
  components: { EvaluationMailModalUpdate },
  props: {
    evaluationMail: {
      type: Object,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      showMessage: false
    }
  },
  methods: {
    badgeBackgroundColor (type) {
      switch (type) {
        case EVALUATION_KNOWLEDGE:
          return '#E98BA0'
        case EVALUATION_COLD:
          return '#b6743b'
        case EVALUATION_HOT:
          return '#b465e7'
        case EVALUATION_ACQUIRED :
          return '#fcdb04'
        case EVALUATION_POSITIONING :
          return '#c5d554'
        default:
          return '#98e898'
      }
    },
    evaluationType (type) {
      switch (type) {
        case EVALUATION_KNOWLEDGE:
          return this.$translator.trans('Knowledge')
        case EVALUATION_COLD:
          return this.$translator.trans('At cold')
        case EVALUATION_HOT:
          return this.$translator.trans('At hot')
        case EVALUATION_ACQUIRED :
          return this.$translator.trans('Acquired')
        case EVALUATION_POSITIONING :
          return this.$translator.trans('Positioning')
        case EVALUATION_OTHER :
          return this.$translator.trans('Other')
        default:
          return ''
      }
    },
    humanizeLanguage (language) {
      switch (language) {
        case 'fr': {
          return this.$translator.trans('French')
        }
        case 'en': {
          return this.$translator.trans('English')
        }
        default: {
          return language
        }
      }
    },
    closeModal () {
      const modal = this.$bootstrap.Modal.getOrCreateInstance(this.$refs[`mail-modal-${this.evaluationMail.id}`])
      if (modal) {
        modal.hide()
      }
      this.showMessage = true
      setTimeout(() => {
        this.showMessage = false
      }, 3000)
    }

  }
}
</script>

<style scoped>
.row__data.small {
  max-width: 5rem;
  min-width: 5rem;
}
</style>
