<template>
  <div>
    <confirmation-pop-in
      :id="'archive_client'+client.id.toString()"
      :title="$translator.trans('Archiving an account')"
      :content="$translator.trans('Do you want to archive this account?')"
      :confirm="archiveClient"
    />
    <a
      :href="$routing.generate( '_client_edit', {id: client.id} )"
      class="text-dark"
    >
      <div class="data-list__row">
        <div class="row__data"><span>{{ client.name }}</span></div>
        <div class="row__data"><span
          class="zonecolor"
          :style="'background-color: ' + client.color"
        /></div>
        <div class="row__data"><span>
          {{ client.createdAt|formatDate("datetime_med") }}
        </span></div>
        <div class="row__data"><span>{{
          client.active ? $translator.trans('Active') : $translator.trans('Inactive')
        }}</span></div>
        <div class="row__data option">
          <div class="drop-menu-container">
            <div class="icn-option">
              <img src="/build/static/icons/options-white.svg">
            </div>
            <ul class="dropdown-menu-inner">
              <li><a
                class="dropdown-item"
                :href="$routing.generate( '_client_edit', {id: client.id} )"
              >
                <img
                  src="/build/static/icons/edit-small-green.svg"
                  class="me-2"
                >
                <b>{{ $translator.trans('Edit') }}</b></a></li>
              <li><a
                class="dropdown-item"
                :data-bs-target="'#confirmationPopIn_archive_client'+client.id.toString()"
                data-bs-toggle="modal"
                href="#"
              >
                <img
                  src="/build/static/icons/small-ban-green.svg"
                  class="me-2"
                >
                <b>{{ $translator.trans('Archive') }}</b></a></li>
            </ul>
          </div>
        </div>
      </div>
    </a>
  </div>
</template>

<script>

import ConfirmationPopIn from '../ui/PopIn/ConfirmationPopIn.vue'

export default {
  components: { ConfirmationPopIn },
  props: {
    client: {
      type: Object,
      required: true
    }
  },
  methods: {
    archiveClient () {
      window.location.href = this.$routing.generate('_client_archive', { id: this.client.id })
    }
  }
}
</script>

<style scoped lang="css">
.zonecolor {
  display: block;
  width: 25px;
  height: 25px;
}
</style>
