<template>
  <div>
    <template v-if="initialized">
      <tailored-mode-form />
    </template>
  </div>
</template>

<script>
import TailoredModeForm from './tailored/TailoredModeForm'
import { mapState } from 'vuex'

export default {
  name: 'ClientTailored',
  components: { TailoredModeForm },
  props: {
    clientIn: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      initialized: false
    }
  },
  computed: {
    ...mapState('client', ['client'])
  },
  mounted () {
    this.$store.commit('client/setClient', this.clientIn)
    this.$nextTick(() => {
      this.initialized = true
    })
  }
}
</script>
