<template>
  <div class="border p-4 current-border-color">
    <div class="row d-flex justify-content-end align-items-center mb-4">
      <div class="col-5">
        <h6 class="fw-bold">
          {{ $translator.trans( 'Convocation template' ) }}
        </h6>
      </div>
      <div class="col-7">
        <div class="d-flex justify-content-end align-items-center">
          <div class="me-4">
            <b>{{ $translator.trans( 'Show active templates' ) }}</b>
            <label
              class="switch ms-1"
              for="template-active-switch"
            >
              <input
                id="template-active-switch"
                v-model="showOnlyActive"
                type="checkbox"
                name="template-active-switch"
              >
              <span class="slider round" />
            </label>
          </div>
          <div
            v-if="!readOnly"
            class="d-flex align-items-center"
            role="button"
          >
            <img
              src="/build/static/icons/plus.svg"
              class="me-1"
            >
            <span class="d-sm-none d-md-block">
              <a :href="'/convocation/create/' + client">{{ $translator.trans( 'Add' ) }}</a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="data-list">
      <div class="data-list__header">
        <div class="data-list__header__item ps-3">
          {{ $translator.trans( 'Name' ) }}
        </div>
        <div class="data-list__header__item small" />
        <div class="data-list__header__item">
          {{ $translator.trans( 'Connector Type' ) }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans( 'Languages' ) }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans( 'Status' ) }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans( 'Audio' ) }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans( 'subject of the e-mail' ) }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans( 'Category' ) }}
        </div>
        <div class="data-list__header__item option" />
      </div>
      <div class="table-content data-list__row-small">
        <client-convocation-list-item
          v-for="convocation in convocationsList"
          :key="convocation.id"
          :convocation="convocation"
          :read-only="readOnly"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ClientConvocationListItem from './ClientConvocationListItem'

export default {
  components: { ClientConvocationListItem },
  props: {
    client: {
      type: Number,
      required: true
    },
    convocations: {
      type: Array,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      showOnlyActive: true
    }
  },
  computed: {
    convocationsList () {
      return this.showOnlyActive
        ? this.convocations.filter(convocation => convocation.status === true)
        : this.convocations
    }
  }
}
</script>

<style scoped>
.data-list__header__item.small {
  max-width: 3rem;
  min-width: 3rem;
}
</style>
