<template>
  <div>
    <div class="row">
      <div class="col-12">
        <!--        <client-service-contractual-commitment
          :client-id="clientId"
          :client-services="clientServices"
        />-->
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <client-service-assistances
          :client-services="clientServices"
          :read-only="readOnly"
        />
      </div>
      <div class="col-4">
        <client-service-support-participants
          :client-services="clientServices"
          :read-only="readOnly"
        />
      </div>
      <div class="col-4">
        <client-service-support-dedicated
          :read-only="readOnly"
          :client-services="clientServices"
        />
      </div>
    </div>
    <div class="row text-end">
      <div
        class="col-12"
      >
        <button
          type="submit"
          class="primary-btn"
          @click="submitData"
        >
          <img src="/build/static/icons/check-white.svg"> &nbsp; {{ $translator.trans('Save') }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import ClientServiceAssistances from './services/ClientServiceAssistances'
import ClientServiceSupportParticipants from './services/ClientServiceSupportParticipants'
import ClientServiceSupportDedicated from './services/ClientServiceSupportDedicated.vue'
export default {
  components: {
    ClientServiceAssistances,
    ClientServiceSupportParticipants,
    ClientServiceSupportDedicated
  },
  props: {
    clientId: {
      type: Number,
      required: true
    },
    clientServices: {
      type: Object,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: true
    }
  },
  methods: {
    submitData () {
      this.$store.commit('client/setClientServices', this.clientServices)
      const formData = new FormData()
      formData.append('clientServices', JSON.stringify(this.clientServices))
      formData.append('clientId', this.clientId)

      this.$axios.post(this.$routing.generate('_client_update_services'), formData)
        .finally(() => {
          window.location.href = this.$routing.generate('_client_edit', { id: this.clientId, 'tab-name': 'clientServiceTab' })
        })
    }
  }
}
</script>

<style scoped>
</style>
