<template>
  <div>
    <div class="page-options-bar">
      <div class="d-flex part-1">
        <div class="page-options-bar__item pr">
          <div class="page-options-bar__item__search">
            <label for="searchInUsers">
              <img src="/build/static/icons/search.svg">
            </label>
            <input
              id="searchInUsers"
              v-model="globalUserSearchInput"
              type="search"
              name="searchInUsers"
              :placeholder="$translator.trans('Search for a user')"
              @keydown="globalSearchClients"
            >
          </div>
        </div>
      </div>
      <div
        v-if="!readOnly"
        class="d-flex part-2"
      >
        <!--
         <div class="btn-group export-dropdown">
          <div
            class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            role="button"
            data-bs-auto-close="outside"
          >
            <span class="d-sm-none d-md-block me-2">{{ $translator.trans( 'Import' ) }}</span>
            <img src="/build/static/icons/import.svg">
          </div>
          <users-upload-file
            :clients="clientsData"
            :referer="'/client/edit/'+client.id+'?tab-name=clientAccountManagerListTab'"
          />
        </div>
         -->
        <div
          class="page-options-bar__item d-flex align-items-center"
          data-bs-toggle="modal"
          data-bs-target="#addAccountUser"
          role="button"
        >
          <span class="d-sm-none d-md-block me-2">{{ $translator.trans('New user') }}</span>
          <img src="/build/static/icons/plus.svg">
        </div>
      </div>
    </div>

    <div class="data-list">
      <div class="data-list__header">
        <div class="data-list__header__item ps-3">
          {{ $translator.trans('Last name') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('First name') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Email') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Phone number') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Rights') }}
        </div>
        <div class="data-list__header__item small-item" />
      </div>
      <div class="table-content">
        <client-manager-list-item
          v-for="user in usersData"
          :key="user.id"
          :user="user"
          :read-only="readOnly"
        />
      </div>
    </div>
  </div>
</template>

<script>
import _                     from 'lodash'
import ClientManagerListItem from './ClientManagerListItem'
// import UsersUploadFile       from '../users/UsersUploadFile'

export default {
  components: { ClientManagerListItem },
  props: {
    users: {
      type: Array,
      required: false,
      default: () => []
    },
    client: {
      type: Object,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      globalUserSearchInput: '',
      usersData: this.users,
      clientsData: [this.client]
    }
  },
  methods: {
    globalSearchClients: _.debounce(function () {
      this.$axios.get(`/user/global-search?context=manager&client=${this.client.id}&q=${this.globalUserSearchInput}`)
        .then(response => {
          this.usersData = response.data
        })
    }, 250),
    handleFileUpload () {
      this.file = this.$refs.file.files[0]
    }
  }
}
</script>

<style scoped lang="css">
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
</style>
