<template>
  <div>
    <a
      :href="[ !readOnly ? $routing.generate( '_user_edit', {id: user.id} ) : '#']"
      class="text-dark"
    >
      <div class="data-list__row">
        <div class="row__data"> {{ user.lastName }}</div>
        <div class="row__data"> {{ user.firstName }}</div>
        <div class="row__data">{{ user.email }}</div>
        <div class="row__data">{{ user.phone }}</div>
        <div class="row__data">
          {{ user.transform.roles_readable.join( ' - ' ) }}
        </div>
        <div
          v-if="!readOnly"
          class="row__data option small-item"
        >
          <div class="drop-menu-container">
            <div class="icn-option">
              <img src="/build/static/icons/options-white.svg">
            </div>
            <ul class="dropdown-menu-inner">
              <li><a
                class="dropdown-item"
                :href="$routing.generate( '_user_edit', {id: user.id} )"
              >
                <img
                  src="/build/static/icons/edit-small-green.svg"
                  class="me-2"
                >
                <b>{{ $translator.trans( 'Edit' ) }}</b></a></li>
              <li><a
                class="dropdown-item"
                :href="$routing.generate( '_user_delete', {id: user.id} )"
              >
                <img
                  src="/build/static/icons/trash-small.svg"
                  class="me-2"
                >
                <b>{{ $translator.trans( 'Delete' ) }}</b></a></li>
            </ul>
          </div>
        </div>
      </div>
    </a>
  </div>
</template>

<script>
export default {
  props: {
    user: {
      type:     Object,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: true
    }
  }
}
</script>
