<template>
  <div class="data-list__row text-dark">
    <div
      class="row__data"
      @click="editConvocation"
    >
      {{ convocation.name }}
    </div>
    <div
      v-clipboard:copy="convocation.name"
      v-clipboard:success="onCopy"
      class="row__data small"
    >
      <span><img :src="copyIcon"></span>
    </div>
    <div
      class="row__data"
      @click="editConvocation"
    >
      {{ $translator.trans(convocation.connectorType) }}
    </div>
    <div
      class="row__data"
      @click="editConvocation"
    >
      {{ humanizeLanguage(convocation.languages) }}
    </div>
    <div
      class="row__data"
      @click="editConvocation"
    >
      <div class="badge bg-indicator">
        {{ humanizeStatus( convocation.status ) }}
      </div>
    </div>
    <div
      class="row__data"
      @click="editConvocation"
    >
      {{ $translator.trans(humanizeAudio(convocation.typeAudio)) }}
    </div>
    <div
      class="row__data"
      @click="editConvocation"
    >
      {{ convocation.subjectMail }}
    </div>
    <div
      class="row__data"
      @click="editConvocation"
    >
      {{ $translator.trans(humanizeCategory(convocation.category)) }}
    </div>
    <div
      v-if="!readOnly"
      class="row__data option"
    >
      <div class="drop-menu-container">
        <div class="icn-option">
          <img src="/build/static/icons/options-white.svg">
        </div>
        <ul class="dropdown-menu-inner">
          <li>
            <a
              class="dropdown-item"
              :href="$routing.generate( '_convocation_update', {id: convocation.id} )"
            >
              <img
                src="/build/static/icons/edit-small-green.svg"
                class="me-2"
              >
              <b>{{ $translator.trans('Edit') }}</b></a>
          </li>
          <li>
            <a
              v-if="convocation.status === true"
              class="dropdown-item"
              :href="$routing.generate( '_convocation_disable', {id: convocation.id} )"
            >
              <img
                src="/build/static/icons/small-ban-green.svg"
                class="me-2"
              >
              <b>{{ $translator.trans('Deactivate') }}</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    convocation: {
      type: Object,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      copyStatus: false
    }
  },
  computed: {
    copyIcon () {
      if (!this.copyStatus) {
        return '/build/static/icons/copy-black.svg'
      } else {
        return '/build/static/icons/copy-green.svg'
      }
    }
  },
  methods: {
    editConvocation (e) {
      if (!this.readOnly) {
        window.location.href = this.$routing.generate('_convocation_update', { id: this.convocation.id })
      }
    },
    onCopy (e) {
      this.copyStatus = true
      setTimeout(() => { this.copyStatus = false }, 5000)
    },
    languageToString (languages) {
      let str = ''

      // eslint-disable-next-line no-return-assign
      languages.forEach(language => str += this.$translator.trans(this.humanizeLanguage(language)))

      return str
    },
    humanizeLanguage (language) {
      switch (language) {
        case 'fr': {
          return this.$translator.trans('French')
        }
        case 'en': {
          return this.$translator.trans('English')
        }
        default: {
          return language
        }
      }
    },
    humanizeStatus (status) {
      if (status === false) { return 'Inactive' }

      if (status === true) { return 'Active' }
    },
    humanizeCategory (category) {
      switch (category) {
        case 1: {
          return 'Virtual Classroom'
        }
        case 2: {
          return 'Meeting'
        }
        case 3: {
          return 'Test'
        }
        case 4: {
          return 'Face-to-face training'
        }
        case 5: {
          return 'Service'
        }
        case 6: {
          return 'Blended training'
        }
        case 7: {
          return 'Webinar'
        }
      }
    },
    humanizeAudio (audio) {
      switch (audio) {
        case 'InterCall': {
          return 'AUDIO INTERCALL'
        }
        case 'PGi NA': {
          return 'AUDIO PGI'
        }
        case 'CALLIN': {
          return 'AUDIO CALLIN'
        }
        case 'PGi EMEA': {
          return 'PGi EMEA'
        }
        case 'MeetingOne EMEA': {
          return 'MeetingOne EMEA'
        }
        case 'MeetingOne Amérique du Nord':
        case 'MeetingOne NA': {
          return 'MeetingOne NA'
        }
        case 'VOIP only': {
          return 'VOIP only'
        }
        case null: {
          return '-'
        }
      }
    }
  }
}
</script>

<style scoped>
.row__data { cursor: pointer; }
.row__data.small {
  max-width: 3rem;
  min-width: 3rem;
}
</style>
