<template>
  <div class="border p-4 current-border-color mt-5">
    <div class="col-5">
      <h6 class="fw-bold">
        {{ $translator.trans( 'Evaluation mail template' ) }}
      </h6>
    </div>
    <div class="data-list mt-3">
      <div class="data-list__header">
        <div class="data-list__header__item ps-3">
          {{ $translator.trans( 'Type' ) }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans( 'Languages' ) }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans( 'subject of the e-mail' ) }}
        </div>
        <div class="data-list__header__item option" />
      </div>
      <div class="table-content data-list__row-small">
        <client-evaluation-mail-list-item
          v-for="evaluationMail in evaluationsModalMail"
          :key="evaluationMail.id"
          :evaluation-mail="evaluationMail"
          :read-only="readOnly"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ClientEvaluationMailListItem from './ClientEvaluationMailListItem'

export default {
  components: { ClientEvaluationMailListItem },
  props: {
    evaluationsModalMail: {
      type: Array,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      showOnlyActive: true
    }
  }
}
</script>

<style scoped>
.data-list__header__item.small {
  max-width: 5rem;
  min-width: 5rem;
}
</style>
