<template>
  <div>
    <div class="page-options-bar">
      <div class="d-flex part-1">
        <div class="page-options-bar__item pr">
          <div class="page-options-bar__item__search with-result">
            <label for="searchInClient">
              <img src="/build/static/icons/search.svg">
            </label>
            <input
              id="searchInClient"
              v-model="globalClientSearchInput"
              type="search"
              name="searchInClient"
              :placeholder="$translator.trans('Search for accounts')"
              @keydown="globalSearchClients"
            >
            <div class="search-sessions-counter">
              <b>{{ clientsData.length }}</b>&nbsp;&nbsp;{{ $translator.trans('account.s found') }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <section>
      <div class="data-list">
        <div class="data-list__header">
          <div class="data-list__header__item">
            {{ $translator.trans('Name') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Color') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Added on') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Status') }}
          </div>
          <div class="data-list__header__item option" />
        </div>
        <div class="table-content">
          <client-list-item
            v-for="client in clientsData"
            :key="client.id"
            :client="client"
          />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import ClientListItem from './ClientListItem'
import _              from 'lodash'

export default {
  components: { ClientListItem },
  props: {
    clients: {
      type: Array,
      required: false,
      default: () => []
    }
  },
  data () {
    return {
      globalClientSearchInput: '',
      clientsData: this.clients
    }
  },
  methods: {
    globalSearchClients: _.debounce(function () {
      this.$axios.get(`/client/global-search?q=${this.globalClientSearchInput}`)
        .then(response => {
          this.clientsData = response.data
        })
    }, 250)
  }
}
</script>

<style scoped lang="css">
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
</style>
