<template>
  <div>
    <template v-if="initialized">
      <billing-mode-form />
      <billing-statistics />
      <credit-history v-if="client.billingMode !== 0" />

      <hr>

      <div class="mt-3">
        <div class="row">
          <div class="col-12">
            <h6 class="mb-3 form-subtitle">
              {{ $translator.trans('SMS billing') }}
            </h6>
          </div>
        </div>
        <sms-billing-statistics />
        <sms-billing />
      </div>
    </template>
  </div>
</template>

<script>
import BillingModeForm from './billing/BillingModeForm'
import BillingStatistics from './billing/billingStatistics'
import { mapState } from 'vuex'
import CreditHistory from './billing/CreditHistory'
import SmsBilling from './billing/sms-billing/SmsBilling.vue'
import SmsBillingStatistics from './billing/sms-billing/SmsBillingStatistics.vue'

export default {
  name: 'ClientBilling',
  components: { SmsBillingStatistics, SmsBilling, CreditHistory, BillingStatistics, BillingModeForm },
  props: {
    clientIn: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      initialized: false
    }
  },
  computed: {
    ...mapState('client', ['client'])
  },
  mounted () {
    this.$store.commit('client/setClient', this.clientIn)
    this.$nextTick(() => {
      this.initialized = true
    })
  }
}
</script>
