<template>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" />
      </div>
      <div class="modal-body">
        <div>
          <div
            v-if="!showShortCode"
            class="text-start mb-4"
            role="button"
            @click="showWithDelay"
          >
            <a class="d-sm-none d-md-block me-3">{{ $translator.trans( 'Back' ) }}</a>
          </div>
          <div v-if="showShortCode">
            <div class="row">
              <div class="form__item col-7">
                <label
                  class="form-label"
                  for="user-connecteurs-name"
                >{{ $translator.trans( 'Subject of the e-mail' ) }}</label>
                <input
                  id="user-connecteurs-name"
                  v-model="evaluationItemModel.subjectMail"
                  :disabled="isCanUpdate"
                  type="text"
                  class="form-control"
                >
              </div>
            </div>
            <div
              class="page-options-bar__item d-flex align-items-center d-flex mb-3"
              role="button"
              @click="showWithDelay"
            >
              <span class="btn btn-primary btn-sm"><b>{{ $translator.trans( 'See the shorts codes' ) }}</b></span>
            </div>
            <div class="col">
              <div class="form__item custom-block">
                <label for="user-convoc-custom-content">
                  {{ $translator.trans( 'Message body' ) }}
                  <img
                    src="/build/static/icons/question.svg"
                    data-bs-placement="left"
                    data-bs-toggle="tooltip"
                    :title="$translator.trans('Compose the email for participants here. Include details by using shortcodes like {{session_name}}, {{session_date}}, etc. Place these shortcodes anywhere in your message to automatically insert session-specific information.')"
                  >
                </label>
                <TinymceInput
                  id="user-evaluation-session-custom-content"
                  :name="'user-evaluation-session-custom-content'"
                  :on-change-callback="onChangePersonalizedContentCallback"
                  :is-disabled="isCanUpdate"
                >
                  <template #default-value>
                    {{ evaluationItemModel.content }}
                  </template>
                </TinymceInput>
              </div>
              <div class="form__item col-10 mt-2">
                <label for="user-file">
                  {{ $translator.trans( 'Attachment' ) }} (20 Mo)
                </label>
                <loader v-if="loaderSpinner" />
                <div
                  v-else
                  class="input-container d-flex align-items-center col-8"
                >
                  <div class="input-group">
                    <div class="file-upload-container">
                      <input
                        id="user-file"
                        type="file"
                        class="form-control"
                        :disabled="isCanUpdate"
                        :accept="ALL_FORMATS_FORMATTED"
                        @change="onFileChange"
                      >
                    </div>
                  </div>
                  <div class="input-actions">
                    <img
                      src="/build/static/icons/question.svg"
                      data-bs-placement="left"
                      data-bs-toggle="tooltip"
                      :title="$translator.trans('The attachment will be added to the mail evaluation sent to participants. Maximum size: 20Mb. Allowed formats: xls, xlsx, csv, ods, doc, docx, txt, pdf, jpg, png, ppt, pptx  odp, zip, rar.')"
                    >
                  </div>
                </div>
                <span
                  class="mt-1"
                  style="font-size: 14px"
                >{{ $translator.trans('File format:') }} {{ ALL_FORMATS_STRING }}</span>
                <div
                  v-if="errorsAttachments !== null"
                  class="invalid-feedback d-block"
                />
                <div class="row">
                  <div
                    v-for="attachment in evaluationItemModel.attachments"
                    :key="attachment.id"
                    class="input-container d-flex align-items-center"
                  >
                    <div class="input-group">
                      <div class="col">
                        <a :href="$routing.generate('_session_attachment_download', { token: attachment.token })">{{ attachment.originalName }}</a>
                      </div>
                    </div>
                    <div class="input-actions">
                      <img
                        src="/build/static/icons/delete-filter.svg"
                        :title="$translator.trans('Remove the attachment')"
                        @click="removeAttachment(attachment.id)"
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <shorts-codes-evaluation-mail-modal v-else />
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-light"
          data-bs-dismiss="modal"
          type="button"
        >
          {{ $translator.trans('Exit') }}
        </button>
        <submit-button
          :processing="saving"
          @click="saveUpdateMailModal"
        >
          {{ $translator.trans('Save') }}
        </submit-button>
      </div>
    </div>
  </div>
</template>

<script>

import TinymceInput            from '../ui/TinymceInput.vue'
import axios from 'axios'
import { routing, translator } from '../../utils/app.utils'
import Loader from '../ui/Loader.vue'
import ShortsCodesEvaluationMailModal from '../sessions/view-tab/ShortsCodesEvaluationMailModal.vue'
import { ALL_FORMATS, ALL_FORMATS_FORMATTED, ALL_FORMATS_STRING } from '../../utils/fileUpload.utils'
import SubmitButton from '../ui/SubmitButton.vue'

export default {
  name: 'EvaluationMailModalUpdate',
  components: { SubmitButton, ShortsCodesEvaluationMailModal, TinymceInput, Loader },
  props: {
    evaluationModal: {
      type:     Object,
      required: true
    }
  },
  data () {
    return {
      saving: null,
      modalTitleSendMail : true,
      showShortCode : true,
      show : true,
      ALL_FORMATS_FORMATTED: ALL_FORMATS_FORMATTED,
      ALL_FORMATS_STRING: ALL_FORMATS_STRING,
      evaluationItemModel: this.evaluationModal,
      errorsAttachments : null,
      isCanUpdate: false,
      loaderSpinner: false
    }
  },
  methods: {
    saveUpdateMailModal () {
      this.saving = true
      axios.post(routing.generate('_session_evaluation_mail_update', { id: this.evaluationItemModel.id }), this.evaluationItemModel)
        .then(() => {
          this.saving = false
          this.$emit('updateEvaluationMail', this.evaluationItemModel)
          this.$emit('close')
        })
        .catch(() => {
          this.saving = false
        })
    },
    onChangePersonalizedContentCallback (event, editor) {
      this.evaluationItemModel.content = editor.getBody().innerHTML
    },
    addAttachments (attachmentFile) {
      this.loaderSpinner = true
      const formData = new FormData()
      formData.append('file', attachmentFile)
      formData.append('format', ALL_FORMATS)

      this.errorsAttachments = null

      axios.post(
        routing.generate('_session_attachment_upload'),
        formData,
        {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }
      ).then((response) => {
        this.evaluationItemModel.attachments.push(response.data.message)
        this.loaderSpinner = false
      }).catch((error) => {
        this.loaderSpinner = false
        if ('data' in error.response && 'message' in error.response.data && 'text' in error.response.data.message) {
          this.errorsAttachments = error.response.data.message.text
        } else {
          this.errorsAttachments = translator.trans('Attachment could not be uploaded for unknown reason.')
        }
      })
    },
    onFileChange (e) {
      const files = e.target.files || e.dataTransfer.files

      if (!files.length) {
        return
      }
      this.addAttachments(files[0])
    },
    removeAttachment (attachmentId) {
      const index = this.evaluationItemModel.attachments.findIndex((attachment) => {
        return attachment.id === attachmentId
      })
      if (index < 0) {
        return
      }
      axios.get(routing.generate('_session_attachment_delete_orphan', { id: attachmentId }))
        .then(() => {
          this.evaluationItemModel.attachments.splice(index, 1)
        })
    },
    showWithDelay () {
      this.showShortCode = !this.showShortCode
    }
  }
}
</script>
