<template>
  <div>
    <div
      class="row pb-5"
    >
      <div class="col-12">
        {{ $translator.trans("To help you drive your business, you can customize your account notifications. This configuration may have an impact on the activity log and on the customization of the alerts and notifications of the profile of the managing clients. Here is the list of topics and triggers:") }}
      </div>
    </div>
    <div
      class="row pb-5"
    >
      <div class="col-9">
        <div class="row">
          <div class="col-10">
            {{ $translator.trans('There is no animator planned at a session') }}<br>
            <p class="fz-14">
              <i class="text-muted">{{ $translator.trans('Every day at 5am, be warned the') }}</i> <input
                :id="notificationSessionWithoutAnimatorOptionTimeBefore"
                v-model="preferencesData.NotificationSessionWithoutAnimatorOptionTimeBefore"
                type="number"
                :name="notificationSessionWithoutAnimatorOptionTimeBefore"
                min="1"
                max="100"
                pattern=".{1,}"
                class="form-item-in-paragraph support-type-required inline form-control option-preference"
              > <i class="text-muted">{{ $translator.trans('days before the day of the start of the session.') }}</i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="search-switch ">
          <label
            class="switch"
            :for="notificationSessionWithoutAnimator"
          >
            <input
              :id="notificationSessionWithoutAnimator"
              v-model="preferencesData.NotificationSessionWithoutAnimator"
              type="checkbox"
              :name="notificationSessionWithoutAnimator"
              class="switch-preference"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div
      class="row pb-5"
    >
      <div class="col-9">
        <div class="row">
          <div class="col-10">
            {{ $translator.trans('There is no participant planned on a session') }}<br>
            <p class="fz-14">
              <i class="text-muted">{{ $translator.trans('Every day at 5am, be warned the') }}</i> <input
                :id="notificationSessionWithoutTraineeOptionTimeBefore"
                v-model="preferencesData.NotificationSessionWithoutTraineeOptionTimeBefore"
                type="number"
                :name="notificationSessionWithoutTraineeOptionTimeBefore"
                min="1"
                max="100"
                pattern=".{1,}"
                class="form-item-in-paragraph support-type-required inline form-control option-preference"
              > <i class="text-muted">{{ $translator.trans('days before the day of the start of the session.') }}</i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="search-switch ">
          <label
            class="switch"
            :for="notificationSessionWithoutTrainee"
          >
            <input
              :id="notificationSessionWithoutTrainee"
              v-model="preferencesData.NotificationSessionWithoutTrainee"
              type="checkbox"
              :name="notificationSessionWithoutTrainee"
              class="switch-preference"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div
      class="row pb-5"
    >
      <div class="col-9">
        <div class="row">
          <div class="col-10">
            {{ $translator.trans('There is one animator planned on several sessions in the same time slot') }}<br>
            <p class="fz-14">
              <i class="text-muted">
                {{ $translator.trans('Every day at 5am, all future sessions are checked to identify if a animator is already present for that same time slot on another session.') }}
              </i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="search-switch ">
          <label
            class="switch"
            :for="notificationAnimatorOnSeveralSessions"
          >
            <input
              :id="notificationAnimatorOnSeveralSessions"
              v-model="preferencesData.NotificationAnimatorOnSeveralSessions"
              type="checkbox"
              :name="notificationAnimatorOnSeveralSessions"
              class="switch-preference"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div
      class="row pb-5"
    >
      <div class="col-9">
        <div class="row">
          <div class="col-10">
            {{ $translator.trans('There is one participant planned on several sessions in the same time slot') }}<br>
            <p class="fz-14">
              <i class="text-muted">
                {{ $translator.trans('Every day at 5am, all future sessions are checked to identify if a participant is already present for that same time slot on another session.') }}
              </i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="search-switch ">
          <label
            class="switch"
            :for="notificationTraineeOnSeveralSessions"
          >
            <input
              :id="notificationTraineeOnSeveralSessions"
              v-model="preferencesData.NotificationTraineeOnSeveralSessions"
              type="checkbox"
              :name="notificationTraineeOnSeveralSessions"
              class="switch-preference"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div
      class="row pb-5"
    >
      <div class="col-9">
        <div class="row">
          <div class="col-10">
            {{ $translator.trans('There is several animators on the same session') }}<br>

            <p class="fz-14">
              <i class="text-muted">{{ $translator.trans('Every day at 5am, be warned the') }} </i>
              <input
                :id="notificationSeveralAnimatorsOnSameSessionOptionTimeBefore"
                v-model="preferencesData.NotificationSeveralAnimatorsOnSameSessionOptionTimeBefore"
                type="number"
                :name="notificationSeveralAnimatorsOnSameSessionOptionTimeBefore"
                min="1"
                max="100"
                pattern=".{1,}"
                class="form-item-in-paragraph support-type-required inline form-control option-preference"
              >
              <i class="text-muted"> {{ $translator.trans('days before the day of the start of the session.') }}</i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="search-switch ">
          <label
            class="switch"
            :for="notificationSeveralAnimatorsOnSameSession"
          >
            <input
              :id="notificationSeveralAnimatorsOnSameSession"
              v-model="preferencesData.NotificationSeveralAnimatorsOnSameSession"
              type="checkbox"
              :name="notificationSeveralAnimatorsOnSameSession"
              class="switch-preference"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div
      class="row pb-5"
    >
      <div class="col-9">
        <div class="row">
          <div class="col-10">
            {{ $translator.trans('There is no animator with the host privilege') }}<br>
            <p class="fz-14">
              <i class="text-muted">{{ $translator.trans('Every day at 5am, be warned the') }} </i>
              <input
                :id="notificationNoAnimatorWithHostOnSessionOptionTimeBefore"
                v-model="preferencesData.NotificationNoAnimatorWithHostOnSessionOptionTimeBefore"
                type="number"
                :name="notificationNoAnimatorWithHostOnSessionOptionTimeBefore"
                min="1"
                max="100"
                pattern=".{1,}"
                class="form-item-in-paragraph support-type-required inline form-control option-preference"
                value="7"
              >
              <i class="text-muted"> {{ $translator.trans('days before the day of the start of the session.') }}</i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="search-switch ">
          <label
            class="switch"
            :for="notificationNoAnimatorWithHostOnSession"
          >
            <input
              :id="notificationNoAnimatorWithHostOnSession"
              v-model="preferencesData.NotificationNoAnimatorWithHostOnSession"
              type="checkbox"
              :name="notificationNoAnimatorWithHostOnSession"
              class="switch-preference"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-9">
        <div class="row">
          <div class="col-10">
            {{ $translator.trans('Your credits are almost used up') }}<br>
            <p class="fz-14">
              <i class="text-muted">{{ $translator.trans('When creating the session that leaves you with') }}</i>
              <input
                :id="notificationNoMoreCreditOptionLimit"
                v-model="preferencesData.NotificationNoMoreCreditOptionLimit"
                type="number"
                :name="notificationNoMoreCreditOptionLimit"
                min="1"
                class="form-item-in-paragraph large support-type-required inline form-control option-preference"
              >
              <i class="text-muted">{{ $translator.trans('credits, a notification will be sent') }}</i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="search-switch ">
          <label
            class="switch"
            :for="notificationNoMoreCredit"
          >
            <input
              :id="notificationNoMoreCredit"
              v-model="preferencesData.NotificationNoMoreCredit"
              type="checkbox"
              :name="notificationNoMoreCredit"
              class="switch-preference"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-9" />
      <div
        class="col-3"
      >
        <button
          type="submit"
          class="primary-btn"
          @click="submitFile"
        >
          <img src="/build/static/icons/check-white.svg"> &nbsp; {{ $translator.trans('Save') }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import {
  NOTIFICATION_SESSION_WITHOUT_ANIMATOR,
  NOTIFICATION_SESSION_WITHOUT_ANIMATOR_OPTION_TIME_BEFORE,
  NOTIFICATION_SESSION_WITHOUT_TRAINEE,
  NOTIFICATION_SESSION_WITHOUT_TRAINEE_OPTION_TIME_BEFORE,
  NOTIFICATION_ANIMATOR_ON_SEVERAL_SESSIONS,
  NOTIFICATION_TRAINEE_ON_SEVERAL_SESSIONS,
  NOTIFICATION_SEVERAL_ANIMATORS_ON_SAME_SESSION,
  NOTIFICATION_SEVERAL_ANIMATORS_ON_SAME_SESSION_OPTION_TIME_BEFORE,
  NOTIFICATION_NO_ANIMATOR_WITH_HOST_ON_SESSION,
  NOTIFICATION_NO_ANIMATOR_WITH_HOST_ON_SESSION_OPTION_TIME_BEFORE,
  NOTIFICATION_NO_MORE_CREDIT,
  NOTIFICATION_NO_MORE_CREDIT_OPTION_LIMIT
}           from '../../utils/preferences.utils'

export default {
  components: {
  },
  props: {
    clientPreferences: {
      type: Object,
      required: true
    },
    clientId: {
      type: Number,
      required: true
    }
  },
  data () {
    const defaultData = []
    defaultData[NOTIFICATION_SESSION_WITHOUT_ANIMATOR] = true
    defaultData[NOTIFICATION_ANIMATOR_ON_SEVERAL_SESSIONS] = true
    defaultData[NOTIFICATION_TRAINEE_ON_SEVERAL_SESSIONS] = true
    defaultData[NOTIFICATION_NO_ANIMATOR_WITH_HOST_ON_SESSION] = true
    defaultData[NOTIFICATION_NO_ANIMATOR_WITH_HOST_ON_SESSION_OPTION_TIME_BEFORE] = 1
    defaultData[NOTIFICATION_SESSION_WITHOUT_ANIMATOR_OPTION_TIME_BEFORE] = 7
    defaultData[NOTIFICATION_SESSION_WITHOUT_TRAINEE_OPTION_TIME_BEFORE] = 7
    defaultData[NOTIFICATION_SEVERAL_ANIMATORS_ON_SAME_SESSION] = true
    defaultData[NOTIFICATION_SEVERAL_ANIMATORS_ON_SAME_SESSION_OPTION_TIME_BEFORE] = 7
    defaultData[NOTIFICATION_NO_MORE_CREDIT] = true
    defaultData[NOTIFICATION_NO_MORE_CREDIT_OPTION_LIMIT] = 10

    return {
      preferencesData: Object.assign({}, defaultData, this.clientPreferences),
      notificationSessionWithoutAnimator: NOTIFICATION_SESSION_WITHOUT_ANIMATOR,
      notificationSessionWithoutAnimatorOptionTimeBefore: NOTIFICATION_SESSION_WITHOUT_ANIMATOR_OPTION_TIME_BEFORE,
      notificationSessionWithoutTrainee: NOTIFICATION_SESSION_WITHOUT_TRAINEE,
      notificationSessionWithoutTraineeOptionTimeBefore: NOTIFICATION_SESSION_WITHOUT_TRAINEE_OPTION_TIME_BEFORE,
      notificationAnimatorOnSeveralSessions: NOTIFICATION_ANIMATOR_ON_SEVERAL_SESSIONS,
      notificationTraineeOnSeveralSessions: NOTIFICATION_TRAINEE_ON_SEVERAL_SESSIONS,
      notificationNoAnimatorWithHostOnSession: NOTIFICATION_NO_ANIMATOR_WITH_HOST_ON_SESSION,
      notificationNoAnimatorWithHostOnSessionOptionTimeBefore: NOTIFICATION_NO_ANIMATOR_WITH_HOST_ON_SESSION_OPTION_TIME_BEFORE,
      notificationSeveralAnimatorsOnSameSession: NOTIFICATION_SEVERAL_ANIMATORS_ON_SAME_SESSION,
      notificationSeveralAnimatorsOnSameSessionOptionTimeBefore: NOTIFICATION_SEVERAL_ANIMATORS_ON_SAME_SESSION_OPTION_TIME_BEFORE,
      notificationNoMoreCredit: NOTIFICATION_NO_MORE_CREDIT,
      notificationNoMoreCreditOptionLimit: NOTIFICATION_NO_MORE_CREDIT_OPTION_LIMIT
    }
  },
  methods: {
    submitFile () {
      const formData = new FormData()

      formData.append('preferencesClient', JSON.stringify(this.preferencesData))
      formData.append('clientId', this.clientId)

      this.$axios.post(this.$routing.generate('_client_preferences'), formData)
        .then(() => { window.location.href = this.$routing.generate('_client_edit', { id: this.clientId }) })
    }
  }
}
</script>

<style scoped>
</style>
