<template>
  <div
    class="row mt-4"
    style="padding-right: 25px; padding-left: 10px"
  >
    <div class="form__fieldset fieldset-secondary">
      <h6 class="mb-3 form-subtitle">
        {{ $translator.trans('Minimum connection time for Present status') }}
      </h6>
      <p class="fz-12 mb-3 text-muted">
        <i>
          {{ $translator.trans('In attendance reports, participants are assigned "Present" status once they have reached a minimum connection duration. This duration can be customized for each Connector, allowing you to adjust it according to your activities.') }}
          {{ $translator.trans("What's more, for each session, you can customize this minimum duration to suit the specific requirements of the event,") }}
          {{ $translator.trans('by accessing the "Attendance" tab directly.') }}
        </i>
      </p>
      <p class="fz-12 mb-3 text-muted">
        <i>
          {{ $translator.trans('Changing the minimum connection time to "present" will not affect past sessions.') }}
        </i>
      </p>
      <div
        v-for="configurationHolder in clientConfigurationHolder"
        :key="configurationHolder.id"
        class="mb-3"
      >
        <div class="mb-1">
          <span class="form-label m-lg-2">{{ configurationHolder.name }}</span>
        </div>
        <div class="row">
          <div style="margin-left: 10px; width: 170px">
            <div class="input-group">
              <input
                v-model="configurationHolder.percentageAttendance"
                type="number"
                class="form-control"
                :class="{'is-invalid': validityStates[configurationHolder.id]}"
                placeholder="70"
                @blur="validateInput(configurationHolder)"
              >
              <div class="input-group-append">
                <span class="input-group-text">%</span>
              </div>
              <img
                style="margin-left: 10px"
                src="/build/static/icons/question.svg"
                data-bs-placement="right"
                data-bs-toggle="tooltip"
                :title="$translator.trans('As % of scheduled session duration')"
              >
            </div>
          </div>
        </div>
        <div
          v-if="validityStates[configurationHolder.id]"
          class="invalid-feedback"
          style="display: block;margin-left: 10px"
        >
          {{ $translator.trans('The value must be between 0 and 100.') }}
        </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  components: {  },
  props: {
    clientConfigurationHolder: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      allConnectors: this.clientConfigurationHolder,
      validityStates: {}
    }
  },
  methods: {
    validateInput (configurationHolder) {
      const value = configurationHolder.percentageAttendance
      const isValid = !(value < 0 || value > 100 || isNaN(value) || value === '')
      this.$set(this.validityStates, configurationHolder.id, !isValid)

      if (isValid) {
        this.updatePercentageValue(configurationHolder)
      }
    },
    updatePercentageValue (configurationHolder) {
      if (!configurationHolder.isInvalid) {
        this.$axios.post(
          this.$routing.generate('_client_save_percentage_attendance', { id: configurationHolder.id }), { percentageAttendance: configurationHolder.percentageAttendance }
        ).catch(() => {
          this.$set(this.validityStates, configurationHolder.id, true)
        })
      }
    }
  }
}
</script>
<style scoped>
.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  color: #dc3545;
}
</style>
