<template>
  <div class="col">
    <div class="mb-3 row">
      <div class="col-6">
        <h5 class="fw-bold title-underline title-underline-primary">
          {{ $translator.trans('Video') }}
        </h5>
      </div>
      <div class="col-6">
        <div class="search-switch d-flex justify-content-end">
          <label
            class="switch"
            for="switch-active-state"
            @click="() => module.personalization.enabledReplay = !module.personalization.enabledReplay"
          >
            <input
              v-model="module.personalization.enabledReplay"
              type="checkbox"
              name="switch-active-state"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div class="mb-4 form__item">
      <label
        for="menu_item.replay"
        class="form-label"
        :class="[{
          'required': module.personalization.enabledReplay,
        }]"
      >{{ $translator.trans('Menu item name') }}</label>
      <input
        id="menu_item.replay"
        v-model="module.personalization.replayTitle"
        name="menu_item.replay"
        :required="module.personalization.enabledReplay"
        class="form-control w-100"
        :placeholder="$translator.trans('Replay')"
      >
      <div
        v-if="formErrors['AppearanceTab'] && 'menu_item.replay' in formErrors['AppearanceTab']"
        class="invalid-feedback d-block"
      >
        {{ formErrors['AppearanceTab']['menu_item.replay'] }}
      </div>
    </div>

    <div class="mb-3 form__item">
      <div class="d-flex align-items-start position-relative">
        <label
          for="menu_item.replay.banner"
          class="form-label mb-0"
        >{{ $translator.trans('Banner') }}</label>
        <span class="bubble-information ms-2">5</span>
      </div>
      <label for=""><small>{{ $translator.trans('Optional. On the small screen, keep:') }}</small></label>

      <ul class="d-flex justify-content-between w-100">
        <li class="form-check">
          <label
            class="form-check-label"
            for="menu_item.replay.right"
          >{{ $translator.trans('the right side') }}</label>
          <input
            id="menu_item.replay.right"
            v-model="module.personalization.replayBannerPosition"
            type="radio"
            name="menu_item.replay"
            class="form-check-input inline"
            value="right"
          >
        </li>
        <li class="form-check">
          <label
            class="form-check-label"
            for="menu_item.replay.center"
          >{{ $translator.trans('center') }}</label>
          <input
            id="menu_item.replay.center"
            v-model="module.personalization.replayBannerPosition"
            type="radio"
            name="menu_item.replay"
            class="form-check-input inline"
            value="center"
          >
        </li>
        <li class="form-check">
          <label
            class="form-check-label"
            for="menu_item.replay.left"
          >{{ $translator.trans('left') }}</label>
          <input
            id="menu_item.replay.left"
            v-model="module.personalization.replayBannerPosition"
            type="radio"
            name="menu_item.replay"
            class="form-check-input inline"
            value="left"
          >
        </li>
      </ul>

      <menu-personalization-replay-banner />
    </div>

    <div class="form__item mb-3">
      <div class="d-flex align-items-center position-relative">
        <label
          for="menu_item.replay.description"
          class="form-label mb-0"
        >{{ $translator.trans('Page description' ) }}</label>
        <span class="bubble-information ms-2">6</span>
      </div>
      <textarea
        v-model="module.personalization.replayDescription"
        name="menu_item.replay.description"
        class="form-control w-100"
        style="height: 100px"
        maxlength="200"
      />
      <small>{{ $translator.trans("To manage video, click on tab") }} "<span
        class="link-primary"
        style="cursor: pointer"
        @click="$store.commit('module/changeView', 'ReplayTab')"
      >{{ $translator.trans('Video') }}</span>"</small>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MenuPersonalizationReplayBanner from './MenuPersonalizationReplayBanner.vue'

export default {
  name: 'MenuPersonalizationReplay',
  components: { MenuPersonalizationReplayBanner },
  computed: {
    ...mapState('module', ['module', 'clients']),
    ...mapState('process', ['formErrors'])
  }
}
</script>
