<template>
  <a
    :href="url()"
    class="activity-log__list-btn btn-sm btn-primary"
  >
    {{ label() }}
  </a>
</template>

<script>
export default {
  name: 'ActivityLinkUrl',
  props: {
    link: {
      type: Object,
      required: true
    }
  },
  methods: {
    url () {
      return this.$routing.generate(this.link.routeKey, this.link.routeParam)
    },
    label () {
      return this.$translator.trans(this.link.transKey, this.link.transParam)
    }
  }
}
</script>

<style scoped>

</style>
