<template>
  <pop-in
    :id="'confirmationPopIn_'+id"
    :title="title"
    :size="size"
  >
    <template #content>
      <div v-html="content" />
    </template>
    <template #footer>
      <button
        type="button"
        class="btn btn-light"
        data-bs-dismiss="modal"
        @click="clickCancel"
      >
        {{ $translator.trans(cancelMessage) }}
      </button>
      &nbsp;
      <button
        type="button"
        class="btn btn-module-main btn-primary"
        data-bs-dismiss="modal"
        @click="clickConfirm"
      >
        {{ $translator.trans(confirmMessage) }}
      </button>
    </template>
  </pop-in>
</template>

<script>
import PopIn from './PopIn.vue'
export default {
  name: 'ConfirmationPopIn',
  components: { PopIn },
  props: {
    id: {
      type: String,
      require: true,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    content: {
      type: String,
      default: ''
    },
    confirm: {
      type: Function,
      default: () => {}
    },
    cancel: {
      type: Function,
      default: () => {}
    },
    cancelMessage: {
      type: String,
      default: 'Cancel'
    },
    confirmMessage: {
      type: String,
      default: 'Validate'
    },
    size: {
      type: String,
      require: false,
      default: 'normal'
    }
  },
  methods: {
    clickConfirm () {
      if (this.confirm) this.confirm()
    },
    clickCancel () {
      if (this.cancel) this.cancel()
    }
  }
}
</script>
