<template>
  <div
    :id="id"
    class="modal fade wb-bw"
    tabindex="-1"
  >
    <div
      class="modal-dialog modal-dialog-centered modal-dialog-scrollable text-start modal-default"
      :class="{[`modal-${size}`]: size}"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark">
            {{ title }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div class="modal-body">
          <slot name="content" />
        </div>
        <div class="modal-footer bg-transparent">
          <slot name="footer" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PopIn',
  props: {
    id: {
      type: String,
      require: true,
      default: ''
    },
    title: {
      type: String,
      require: true,
      default: ''
    },
    size: {
      type: String,
      require: false,
      default: 'normal'
    }
  }
}
</script>
