<template>
  <pop-in
    :id="'simple_pop_in_'+id"
    :title="title"
    style="color: red"
    :size="size"
  >
    <template #content>
      <slot name="content" />
    </template>
    <template #footer>
      <button
        type="button"
        class="btn btn-light"
        data-bs-dismiss="modal"
      >
        {{ $translator.trans('Close') }}
      </button>
    </template>
  </pop-in>
</template>

<script>
import PopIn from './PopIn.vue'

export default {
  name: 'SimplePopIn',
  components: { PopIn },
  props: {
    id: {
      type: String,
      require: true,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    size: {
      type: String,
      default: 'xl'
    }
  }
}
</script>

<style scoped>

</style>
