<template>
  <form
    class="form row"
  >
    <div
      class="table-content data-list data-list__row-small mb-3"
    >
      <div
        class="data-list__row"
        role="button"
        @click="toggleBlock"
      >
        <div class="row__data">
          {{ $translator.trans('Lower banner') }}
        </div>
        <div class="row__data option">
          <img
            v-if="isOpen"
            class="cursor-pointer"
            src="/build/static/icons/tree-closed.svg"
          >
          <img
            v-else
            class="cursor-pointer"
            src="/build/static/icons/tree-opened.svg"
          >
        </div>
      </div>

      <div
        v-if="isOpen"
      >
        <div class="row mt-3">
          <h4>
            {{ $translator.trans('Legal information') }}
          </h4>
        </div>

        <div class="mb-4 mt-3">
          <p class="mb-1">
            {{ $translator.trans('Confidentially') }}
          </p>

          <!-- START PRIVACY  -->
          <div class="row">
            <div class="row">
              <div class="col-md-1 col-lg-1 d-flex align-items-center justify-content-start">
                <div class="d-flex align-content-center">
                  <div class="search-switch mt-2">
                    <label
                      class="switch"
                      for="switch-lower-banner-privacy-check"
                    >
                      <input
                        id="switch-lower-banner-privacy-check"
                        v-model="template.blockLowerBanner.privacyCheck"
                        type="checkbox"
                        name="switch-lower-banner-privacy-check"
                      >
                      <span class="slider round" />
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-lg-5">
                <div class="form__item mb-0">
                  <input
                    id="registration-page-template-lower-banner-privacy-test"
                    v-model="template.blockLowerBanner.privacyText"
                    type="text"
                    value=""
                    :placeholder="$translator.trans('Privacy')"
                    class="form-control"
                    style=""
                  >
                  <img
                    src="/build/static/icons/question.svg"
                    data-bs-placement="left"
                    data-bs-toggle="tooltip"
                    :title="$translator.trans('If enabled, add text or file content')"
                  >
                </div>
              </div>
            </div>
          </div>

          <!-- PRIVACY LINK URL -->
          <div class="row mb-3 mt-3">
            <div class="row">
              <div class="col-md-1 col-lg-1 d-flex align-items-center justify-content-center">
                <label
                  class="mt-2"
                  for="switch-lower-banner-privacy-check-url"
                >
                  <input
                    id="switch-lower-banner-privacy-check-url"
                    v-model="radioConfidentiality"
                    class="form-check-input"
                    type="radio"
                    value="url"
                    @change="updateRadioConfidentiality('url')"
                  >
                </label>
              </div>
              <div class="col-md-5 col-lg-5">
                <div class="form__item mb-0">
                  <label
                    class="form-label"
                    for="registration-page-template-font"
                  >{{ $translator.trans('URL link') }}</label>
                  <input
                    id="registration-page-template-lower-banner-privacy-url"
                    v-model="template.blockLowerBanner.privacyUrl"
                    :disabled="template.blockLowerBanner.privacyFileCheck"
                    type="text"
                    value=""
                    placeholder="https://..."
                    class="form-control"
                    style=""
                    @change="validateField('lowerBannerPrivacy')"
                    @keyup="validateField('lowerBannerPrivacy')"
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- PRIVACY LINK URL -->

          <!-- PRIVACY FILE -->
          <div class="row mb-3 mt-3">
            <div class="row">
              <div class="col-md-1 col-lg-1 d-flex align-items-center justify-content-center">
                <label
                  class="mt-2"
                  for="switch-lower-banner-privacy-check-file"
                >
                  <input
                    id="switch-lower-banner-privacy-check-file"
                    v-model="radioConfidentiality"
                    class="form-check-input"
                    type="radio"
                    value="file"
                    @change="updateRadioConfidentiality('file')"
                  >
                </label>
              </div>
              <div class="col-md-5 col-lg-5">
                <div class="form__item mb-0">
                  <label
                    class="form-label"
                    for="registration-page-template-font"
                  >{{ $translator.trans('Attachment (20 MB)') }}</label>
                  <loader v-if="loading.privacyFile" />
                  <input
                    v-else
                    id="registration-page-template-lower-banner-privacy-file"
                    ref="privacyFile"
                    :disabled="template.blockLowerBanner.privacyUrlCheck"
                    type="file"
                    value=""
                    :placeholder="$translator.trans('Privacy')"
                    class="form-control"
                    style=""
                    :accept="DOCUMENT_FORMATS_FORMATTED"
                    @change="uploadFile($event,'privacyFile')"
                  >
                  <span
                    class="mt-1"
                    style="font-size: 14px"
                  >{{ $translator.trans('File format:') }} {{ DOCUMENT_FORMATS_STRING }}</span>
                  <div
                    v-if="errorProcessing.privacyFile"
                    class="invalid-feedback d-block"
                  >
                    {{ errorProcessing.privacyFile }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- PRIVACY FILE -->
        </div>
        <!-- END PRIVACY -->

        <div class="mt-3">
          <p class="mb-1">
            {{ $translator.trans('Legal notices') }}
          </p>

          <!-- START LEGAL NOTICE -->
          <div class="row">
            <div class="row">
              <div class="col-md-1 col-lg-1 d-flex align-items-center justify-content-start">
                <div class="d-flex align-content-center">
                  <div class="search-switch mt-2">
                    <label
                      class="switch"
                      for="switch-lower-banner-legal-notice-check"
                    >
                      <input
                        id="switch-lower-banner-legal-notice-check"
                        v-model="template.blockLowerBanner.legalNoticeCheck"
                        type="checkbox"
                        name="switch-lower-banner-legal-notice-check"
                      >
                      <span class="slider round" />
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-lg-5">
                <div class="form__item mb-0">
                  <input
                    id="registration-page-template-lower-banner-legal-notice"
                    v-model="template.blockLowerBanner.legalNoticeText"
                    type="text"
                    value=""
                    :placeholder="$translator.trans('Legal notices')"
                    class="form-control"
                    @change="validateField('lowerBannerLegalNotice')"
                    @keyup="validateField('lowerBannerLegalNotice')"
                  >
                  <img
                    src="/build/static/icons/question.svg"
                    data-bs-placement="left"
                    data-bs-toggle="tooltip"
                    :title="$translator.trans('If enabled, add text or file content')"
                  >
                </div>
              </div>
            </div>
          </div>

          <!-- LEGAL NOTICE LINK -->
          <div class="row mb-3 mt-3">
            <div class="row">
              <div class="col-md-1 col-lg-1 d-flex align-items-center justify-content-center">
                <label
                  class="mt-2"
                  for="switch-lower-banner-legal-notice-check-url"
                >
                  <input
                    id="switch-lower-banner-legal-notice-check-url"
                    v-model="radioLegalNotice"
                    class="form-check-input"
                    type="radio"
                    value="url"
                    @change="updateRadioLegalNotice('url')"
                  >
                </label>
              </div>
              <div class="col-md-5 col-lg-5">
                <div class="form__item mb-0">
                  <label
                    class="form-label"
                    for="registration-page-template-font"
                  >{{ $translator.trans('URL link') }}</label>
                  <input
                    id="registration-page-template-lower-banner-privacy-url"
                    v-model="template.blockLowerBanner.legalNoticeUrl"
                    :disabled="template.blockLowerBanner.legalNoticeFileCheck"
                    type="text"
                    value=""
                    placeholder="https://..."
                    class="form-control"
                    style=""
                    @change="validateField('lowerBannerPrivacy')"
                    @keyup="validateField('lowerBannerPrivacy')"
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- LEGAL NOTICE LINK URL -->

          <!-- LEGAL NOTICE FILE -->
          <div class="row mb-3 mt-3">
            <div class="row">
              <div class="col-md-1 col-lg-1 d-flex align-items-center justify-content-center">
                <label
                  class="mt-2"
                  for="switch-lower-banner-legal-notice-check-file"
                >
                  <input
                    id="switch-lower-banner-legal-notice-check-file"
                    v-model="radioLegalNotice"
                    class="form-check-input"
                    type="radio"
                    value="file"
                    @change="updateRadioLegalNotice('file')"
                  >
                </label>
              </div>
              <div class="col-md-5 col-lg-5">
                <div class="form__item mb-0">
                  <label
                    class="form-label"
                    for="registration-page-template-font"
                  >{{ $translator.trans('Attachment (20 MB)') }}</label>
                  <loader v-if="loading.legalNoticeFile" />
                  <input
                    v-else
                    id="registration-page-template-lower-banner-legal-notice-file"
                    ref="legalNoticeFile"
                    :disabled="template.blockLowerBanner.legalNoticeUrlCheck"
                    type="file"
                    :placeholder="$translator.trans('Legal notices')"
                    class="form-control"
                    :accept="DOCUMENT_FORMATS_FORMATTED"
                    @change="uploadFile($event,'legalNoticeFile')"
                  >
                  <span
                    class="mt-1"
                    style="font-size: 14px"
                  >{{ $translator.trans('File format:') }} {{ DOCUMENT_FORMATS_STRING }}</span>
                  <div
                    v-if="errorProcessing.legalNoticeFile"
                    class="invalid-feedback d-block"
                  >
                    {{ errorProcessing.legalNoticeFile }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- LEGAL NOTICE FILE -->
        </div>
        <!-- END LEGAL NOTICE -->
        <!-- START SOCIAL NETWORK -->
        <div class="mt-5">
          <div class="row">
            <div class="col-md-1 col-lg-1 d-flex align-items-center justify-content-start">
              <div class="d-flex align-content-center">
                <div class="search-switch">
                  <label
                    class="switch"
                    for="switch-lower-banner-social-networks-check"
                  >
                    <input
                      id="switch-lower-banner-social-networks-check"
                      v-model="template.blockLowerBanner.socialNetworksCheck"
                      type="checkbox"
                      name="switch-lower-banner-social-networks-check"
                    >
                    <span class="slider round" />
                  </label>
                </div>
              </div>
            </div>

            <div class="col-md-5 col-lg-5 d-flex align-items-center">
              <h4>{{ $translator.trans('Social networks') }}</h4>
            </div>
            <small class="mt-1">{{ $translator.trans('Enter the social network sharing link so that the logo appears on the registration page.') }}</small>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="mt-3 d-flex align-content-center">
                <img
                  src="/build/static/icons/facebook.svg"
                  style="width: 25px;"
                  :title="$translator.trans('')"
                >
                <div class="ms-3 mb-3 form__item">
                  <label
                    class="form-label"
                    for="registration-page-template-lower-banner-facebook"
                  >{{ $translator.trans( 'Facebook share link' ) }}</label>
                  <input
                    id="registration-page-template-lower-banner-facebook"
                    v-model="template.blockLowerBanner.facebookLink"
                    type="text"
                    value=""
                    class="form-control"
                    placeholder="https://www.facebook.com/..."
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="mt-3 d-flex align-content-center">
                <img
                  src="/build/static/icons/linkedin.svg"
                  style="width: 25px;"
                  :title="$translator.trans('')"
                >
                <div class="ms-3 mb-3 form__item">
                  <label
                    class="form-label"
                    for="registration-page-template-lower-banner-linkedin"
                  >{{ $translator.trans( 'LinkedIn share link' ) }}</label>
                  <input
                    id="registration-page-template-lower-banner-linkedin"
                    v-model="template.blockLowerBanner.linkedinLink"
                    type="text"
                    value=""
                    class="form-control"
                    placeholder="https://www.linkedin.com/..."
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="mt-3 d-flex align-content-center">
                <img
                  src="/build/static/icons/instagram.svg"
                  style="width: 25px;"
                  :title="$translator.trans('')"
                >
                <div class="ms-3 mb-3 form__item">
                  <label
                    class="form-label"
                    for="registration-page-template-lower-banner-instagram"
                  >{{ $translator.trans( 'Instagram share link' ) }}</label>
                  <input
                    id="registration-page-template-lower-banner-instagram"
                    v-model="template.blockLowerBanner.instagramLink"
                    type="text"
                    value=""
                    class="form-control"
                    placeholder="https://www.instagram.com/..."
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="mt-3 d-flex align-content-center">
                <img
                  src="/build/static/icons/twitter.svg"
                  style="width: 25px;"
                  :title="$translator.trans('')"
                >
                <div class="ms-3 mb-3 form__item">
                  <label
                    class="form-label"
                    for="registration-page-template-lower-banner-twitter"
                  >{{ $translator.trans( 'Twitter share link' ) }}</label>
                  <input
                    id="registration-page-template-lower-banner-twitter"
                    v-model="template.blockLowerBanner.twitterLink"
                    type="text"
                    value=""
                    class="form-control"
                    placeholder="https://twitter.com/..."
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import { mapState }     from 'vuex'
import Loader from '../../ui/Loader.vue'
import {
  DOCUMENT_FORMATS,
  DOCUMENT_FORMATS_FORMATTED,
  DOCUMENT_FORMATS_STRING
} from '../../../utils/fileUpload.utils'

export default {
  name: 'RegistrationPageTemplateLowerBanner',
  components: { Loader },
  data () {
    return {
      DOCUMENT_FORMATS: DOCUMENT_FORMATS,
      DOCUMENT_FORMATS_STRING: DOCUMENT_FORMATS_STRING,
      DOCUMENT_FORMATS_FORMATTED: DOCUMENT_FORMATS_FORMATTED,
      templateForm: null,
      errorLogo: null,
      radioConfidentiality: null,
      radioLegalNotice: null,
      loading: {
        privacyFile: false,
        legalNoticeFile: false
      },
      errorProcessing: {
        privacyFile: false,
        legalNoticeFile: false
      }
    }
  },
  computed: {
    ...mapState('template', ['template', 'contentTemplate', 'clients']),
    ...mapState('process', ['formErrors', 'saving']),
    isOpen () {
      return this.contentTemplate.openedBlocks.includes('LowerBanner')
    }
  },
  watch: {
    template (newValue, oldValue) {
      this.templateForm = newValue
    }
  },
  mounted () {
    this.templateForm = this.template
    this.radioConfidentiality = this.templateForm.blockLowerBanner.privacyFileCheck ? 'file' : 'url'
    this.radioLegalNotice = this.templateForm.blockLowerBanner.legalNoticeFileCheck ? 'file' : 'url'
  },
  methods: {
    toggleBlock () {
      this.$store.commit('template/toggleBLock', 'LowerBanner')
    },
    updateFile (src, file) {
      switch (src) {
        case 'privacyFile':
          this.templateForm.blockLowerBanner.privacyFile = file
          break
        case 'legalNoticeFile':
          this.templateForm.blockLowerBanner.legalNoticeFile = file
          break
      }
    },
    uploadFile (e, src) {
      this.loading[src] = true
      const files = e.target.files || e.dataTransfer.files

      if (files.length !== 1) {
        return
      }

      const formData = new FormData()
      formData.append('file', files[0])
      formData.append('format', DOCUMENT_FORMATS)

      const vm = this
      vm.error = null
      this.$axios.post(this.$routing.generate('_registration_page_template_upload_files'), formData, { headers: { 'Content-Type': 'multipart/form-data' } })
        .then((response) => {
          this.updateFile(src, response.data.message.filetarget)
          this.loading[src] = false
        }).catch((error) => {
          this.loading[src] = false
          if ('response' in error && 'data' in error.response && 'message' in error.response.data && 'text' in error.response.data.message) {
            vm.error = error.response.data.message.text
            this.errorProcessing[src] = error.response.data.message.text
          } else {
            vm.error = this.$translator.trans('The ' + src + ' cannot be put online for an unknown reason.')
          }
        })
    },
    changeFile (src) {
      this.updateFile(src, null)
    },
    updateRadioConfidentiality (value) {
      switch (value) {
        case 'url':
          this.templateForm.blockLowerBanner.privacyFileCheck = false
          this.templateForm.blockLowerBanner.privacyUrlCheck = true
          break
        case 'file':
          this.templateForm.blockLowerBanner.privacyFileCheck = true
          this.templateForm.blockLowerBanner.privacyUrlCheck = false
          break
      }
    },
    updateRadioLegalNotice (value) {
      switch (value) {
        case 'url':
          this.templateForm.blockLowerBanner.legalNoticeFileCheck = false
          this.templateForm.blockLowerBanner.legalNoticeUrlCheck = true
          break
        case 'file':
          this.templateForm.blockLowerBanner.legalNoticeFileCheck = true
          this.templateForm.blockLowerBanner.legalNoticeUrlCheck = false
          break
      }
    }
  }
}
</script>

<style scoped>
input[name=switch-active-state] {
  height: auto !important;
}
</style>
