<template>
  <form class="form row">
    <div class="table-content data-list data-list__row-small mb-3">
      <div
        class="data-list__row"
        role="button"
        @click="toggleBlock"
      >
        <div class="row__data">
          {{ $translator.trans('Upper banner') }}
        </div>
        <div class="row__data option">
          <img
            v-if="isOpen"
            class="cursor-pointer"
            src="/build/static/icons/tree-closed.svg"
            alt=""
          >
          <img
            v-else
            class="cursor-pointer"
            src="/build/static/icons/tree-opened.svg"
            alt=""
          >
        </div>
      </div>
      <div v-if="isOpen">
        <div class="row mt-1">
          <div class="col-md-6 col-lg-6">
            <div class="mb-3 form__item">
              <label
                class="form-label"
                for="registration-page-template-catchphrase"
              >{{ $translator.trans( 'Site catchphrase (155 characters max)' ) }}</label>
              <input
                id="registration-page-template-catchphrase"
                v-model="template.blockUpperBanner.catchphrase"
                type="text"
                value=""
                class="form-control"
              >
            </div>
          </div>
        </div>
        <div class="row mb-3 mt-1">
          <div class="col-md-1 col-lg-1 d-flex align-items-center justify-content-start">
            <div class="d-flex align-content-center">
              <div class="search-switch">
                <label
                  class="switch"
                  for="switch-upper-banner-information-support"
                >
                  <input
                    id="switch-upper-banner-information-support"
                    v-model="template.blockUpperBanner.needHelpCheck"
                    type="checkbox"
                    name="switch-upper-banner-information-support"
                  >
                  <span class="slider round" />
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-lg-5">
            <div class="form__item mb-0">
              <label
                class="form-label"
                for="registration-page-template-upper-banner-needhelp"
              >{{ $translator.trans('Need help') }}</label>
              <input
                id="registration-page-template-upper-banner-needhelp"
                v-model="template.blockUpperBanner.needHelp"
                type="text"
                value=""
                :placeholder="$translator.trans('Need help')"
                class="form-control"
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-6">
            <loader v-if="loading.needHelpIcon" />
            <template v-else>
              <div
                v-if="template.blockUpperBanner.needHelpIcon === null"
                class="form__item mb-0 col-12 justify-content-between"
              >
                <div class="form__item mb-0">
                  <label>{{ $translator.trans('Need help icon') }}</label>
                </div>
                <input
                  id="registration-page-template-need-help-logo"
                  ref="needHelpIcon"
                  class="form-control w-90"
                  type="file"
                  :accept="IMAGE_FORMATS_FORMATTED"
                  @change="uploadFile($event,'needHelpIcon')"
                >
                <img
                  src="/build/static/icons/question.svg"
                  data-bs-placement="left"
                  data-bs-toggle="tooltip"
                  :title="$translator.trans('Recommended size L: 18px, H: 18px')"
                  alt=""
                >
              </div>
              <div
                v-else
                class="mb-0 form__item"
              >
                <img
                  class="img-fluid"
                  style="width:64px;"
                  :src="needHelpIconUri"
                  alt=""
                >
                <div
                  class="text-center cursor-pointer mt-2"
                  @click="changeFile('needHelpIcon')"
                >
                  <img
                    src="/build/static/icons/delete-filter.svg"
                    alt=""
                  >
                  {{ $translator.trans('Change icon') }}
                </div>
              </div>
              <div class="mt-1 mb-3">
                <span
                  class="mt-1"
                  style="font-size: 14px"
                >{{ $translator.trans('File format:') }} {{ IMAGE_FORMATS_STRING }}</span>
                <div
                  v-if="errorProcessing.needHelpIcon"
                  class="invalid-feedback d-block"
                >
                  {{ errorProcessing.needHelpIcon }}
                </div>
              </div>
            </template>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="mb-3 form__item">
              <label
                class="form-label"
                for="template_upper_banner_phone_number"
              >{{ $translator.trans('Support coordinates') }}</label>
              <input
                id="template_upper_banner_phone_number"
                v-model="template.blockUpperBanner.supportCoordinates"
                name="template_upper_banner_phone_number"
                type="email"
                class="form-control"
                value=""
              >
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-md-1 col-lg-1 d-flex align-items-center justify-content-start">
            <div class="d-flex align-content-center">
              <div class="search-switch">
                <label
                  class="switch"
                  for="switch-upper-banner-faq"
                >
                  <input
                    id="switch-upper-banner-faq"
                    v-model="template.blockUpperBanner.connexionHelpCheck"
                    type="checkbox"
                    name="switch-upper-banner-faq"
                    :disabled="disableHelpToConnect"
                  >
                  <span class="slider round" />
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-lg-5">
            <div class="form__item mb-3">
              <label
                class="form-label"
                for="registration-page-template-upper-banner-connexionhelp"
              >{{ $translator.trans('Frequently Asked Questions') }}</label>
              <input
                id="registration-page-template-upper-banner-connexionhelp"
                v-model="template.blockUpperBanner.connexionHelp"
                type="text"
                value=""
                :placeholder="$translator.trans('Frequently Asked Questions')"
                class="form-control disabled"
                :disabled="disableHelpToConnect"
              >
            </div>
          </div>
          <p class="fst-italic mb-4">
            {{ $translator.trans('Add at least one question to the') }}
            <a
              role="button"
              style="text-decoration: underline; cursor: pointer;"
              @click="changeActiveTab('TemplateFaqTab')"
            > <strong>{{ $translator.trans('FAQ') }}</strong> </a>
            {{ $translator.trans('to activate it.') }}
          </p>
        </div>
        <!--        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="form__item mb-0">
              <label
                class="form-label"
                for="template_upper_banner_connexion_help_link"
              >{{ $translator.trans('Connexion help link') }}</label>
              <input
                id="template_upper_banner_connexion_help_link"
                v-model="template.blockUpperBanner.connexionHelpLink"
                name="template_upper_banner_connexion_help_link"
                type="text"
                class="form-control"
                value=""
              >
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </form>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import Loader from '../../ui/Loader.vue'
import { IMAGE_FORMATS, IMAGE_FORMATS_FORMATTED, IMAGE_FORMATS_STRING } from '../../../utils/fileUpload.utils'

export default {
  name: 'RegistrationPageTemplateUpperBanner',
  components: { Loader },
  data () {
    return {
      IMAGE_FORMATS: IMAGE_FORMATS,
      IMAGE_FORMATS_FORMATTED: IMAGE_FORMATS_FORMATTED,
      IMAGE_FORMATS_STRING: IMAGE_FORMATS_STRING,
      templateForm: null,
      errorLogo: null,
      loading: {
        needHelpIcon: false
      },
      errorProcessing: {
        needHelpIcon: false
      }
    }
  },
  computed: {
    ...mapState('template', ['template', 'contentTemplate', 'clients']),
    ...mapState('process', ['formErrors', 'saving']),
    ...mapGetters({ activeFaqs: 'template/activeFAQs' }),
    isOpen () {
      return this.contentTemplate.openedBlocks.includes('UpperBanner')
    },
    logoUri: function () {
      return this.template.blockUpperBanner.logoUri
    },
    needHelpIconUri: function () {
      return this.template.blockUpperBanner.needHelpIconUri
    },
    disableHelpToConnect: function () {
      if (this.activeFaqs.length === 0) {
        this.updateHelpToConnectValue()
      }
      return this.activeFaqs.length === 0
    }
  },
  watch: {
    template (newValue, oldValue) {
      this.templateForm = newValue
    }
  },
  mounted () {
    this.templateForm = this.template
  },
  methods: {
    changeActiveTab (tab) {
      this.$emit('tab-change', tab)
    },
    updateHelpToConnectValue () {
      this.template.blockUpperBanner.connexionHelpCheck = false
    },
    toggleBlock () {
      this.$store.commit('template/toggleBLock', 'UpperBanner')
    },
    updateFile (src, file) {
      switch (src) {
        case 'needHelpIcon':
          this.templateForm.blockUpperBanner.needHelpIcon = file
          break
      }
    },
    uploadFile (e, src) {
      this.loading[src] = true
      const files = e.target.files || e.dataTransfer.files

      if (files.length !== 1) {
        return
      }

      const formData = new FormData()
      formData.append('file', files[0])
      formData.append('format', IMAGE_FORMATS)

      const vm = this
      vm.error = null
      this.$axios.post(this.$routing.generate('_registration_page_template_upload_files'), formData, { headers: { 'Content-Type': 'multipart/form-data' } })
        .then((response) => {
          this.updateFile(src, response.data.message.filetarget)
          this.loading[src] = false
        }).catch((error) => {
          this.loading[src] = false
          if ('response' in error && 'data' in error.response && 'message' in error.response.data && 'text' in error.response.data.message) {
            vm.error = error.response.data.message.text
            this.errorProcessing[src] = error.response.data.message.text
          } else {
            vm.error = this.$translator.trans('The ' + src + ' cannot be put online for an unknown reason.')
          }
        })
    },
    changeFile (src) {
      this.updateFile(src, null)
    }
  }
}
</script>

<style scoped>
input[name=switch-active-state] {
  height: auto !important;
}
</style>
