<template>
  <form
    class="form row"
  >
    <div
      class="table-content data-list data-list__row-small mb-3"
    >
      <div
        class="data-list__row"
        role="button"
        @click="toggleBlock"
      >
        <div class="row__data">
          {{ $translator.trans('Description') }}
        </div>
        <div class="row__data option">
          <img
            v-if="isOpen"
            class="cursor-pointer"
            src="/build/static/icons/tree-closed.svg"
          >
          <img
            v-else
            class="cursor-pointer"
            src="/build/static/icons/tree-opened.svg"
          >
        </div>
      </div>

      <div
        v-if="isOpen"
      >
        <div class="row mt-2">
          <h5>
            {{ $translator.trans('Customization of titles') }}
          </h5>
          <small>{{ $translator.trans('View and customize titles. The content comes from the session file (registration tab)') }}</small>
        </div>

        <div class="row mb-3 mt-3">
          <div class="col-md-1 col-lg-1 d-flex align-items-center justify-content-start">
            <div class="d-flex align-content-center">
              <div class="search-switch mt-2">
                <label
                  class="switch"
                  for="switch-description-description-check"
                  @click="changeDescriptionDescriptionCheck"
                >
                  <input
                    id="switch-description-description-check"
                    v-model="template.blockDescription.descriptionCheck"
                    type="checkbox"
                    name="switch-description-description-check"
                  >
                  <span class="slider round" />
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-lg-5">
            <div class="form__item mb-0">
              <input
                id="registration-page-template-description-description"
                v-model="template.blockDescription.descriptionTitle"
                type="text"
                value=""
                :placeholder="$translator.trans('Description')"
                class="form-control"
                @change="validateField('descriptionDescription')"
                @keyup="validateField('descriptionDescription')"
              >
            </div>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-md-1 col-lg-1 d-flex align-items-center justify-content-start">
            <div class="d-flex align-content-center">
              <div class="search-switch mt-2">
                <label
                  class="switch"
                  for="switch-description-speakers-check"
                  @click="changeDescriptionSpeakersCheck"
                >
                  <input
                    id="switch-description-speakers-check"
                    v-model="template.blockDescription.speakersCheck"
                    type="checkbox"
                    name="switch-description-speakers-check"
                  >
                  <span class="slider round" />
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-lg-5">
            <div class="form__item mb-0">
              <input
                id="registration-page-template-description-speakers"
                v-model="template.blockDescription.speakerTitle"
                type="text"
                value=""
                :placeholder="$translator.trans('Speakers')"
                class="form-control"
                @change="validateField('descriptionSpeakers')"
                @keyup="validateField('descriptionSpeakers')"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import { mapState }     from 'vuex'

export default {
  name: 'RegistrationPageTemplateDescription',
  data () {
    return {
      templateForm: null,
      errorLogo: null
    }
  },
  computed: {
    ...mapState('template', ['template', 'contentTemplate', 'clients']),
    ...mapState('process', ['formErrors', 'saving']),
    isOpen () {
      return this.contentTemplate.openedBlocks.includes('Description')
    }
  },
  watch: {
    template (newValue, oldValue) {
      this.templateForm = newValue
    }
  },
  mounted () {
    this.templateForm = this.template
  },
  methods: {
    toggleBlock () {
      this.$store.commit('template/toggleBLock', 'Description')
    },
    changeDescriptionDescriptionCheck () {},
    changeDescriptionSpeakersCheck () {}
  }
}
</script>

<style scoped>
input[name=switch-active-state] {
  height: auto !important;
}
</style>
