<template>
  <form
    v-if="templateForm !== null"
    class="form"
  >
    <div
      v-if="Object.keys(clients).length > 1"
      class="mb-3 form__item"
    >
      <label
        for="client"
        class="form-label required"
      >{{ $translator.trans('Account') }}</label>
      <select
        v-model="templateForm.client.id"
        name="client"
        required="required"
        class="form-control"
      >
        <option
          v-for="client in clients"
          :key="client.id"
          :value="client.id"
        >
          {{ client.name }}
        </option>
      </select>
      <div
        v-if="'client' in formErrors"
        class="invalid-feedback d-block"
      >
        {{ formErrors.client }}
      </div>
    </div>
    <div class="mb-3 form__item">
      <label
        for="name"
        class="form-label required"
      >{{ $translator.trans('Name') }}</label>
      <input
        v-model="templateForm.name"
        name="name"
        required="required"
        class="form-control"
      >
      <div
        v-if="'name' in formErrors"
        class="invalid-feedback d-block"
      >
        {{ formErrors.name }}
      </div>
    </div>
    <div class="mb-3 form__item">
      <label
        for="description"
        class="form-label"
      >{{ $translator.trans('Description' ) }}</label>
      <textarea
        v-model="templateForm.description"
        name="description"
        class="form-control"
        style="height: 100px"
      />
      <tooltip :text="$translator.trans('up to 200 characters')" />
      <div
        v-if="'description' in formErrors"
        class="invalid-feedback d-block"
      >
        {{ formErrors.description }}
      </div>
    </div>

    <div class="mb-3 form__item">
      <label for="language">{{ $translator.trans( 'Language' ) }} <sup title="Obligatoire">*</sup></label>
      <select
        v-model="template.language"
        class="form-control form-select pe-auto"
        required
      >
        <option value="fr">
          {{ $translator.trans( 'French' ) }}
        </option>
        <option value="en">
          {{ $translator.trans( 'English' ) }}
        </option>
      </select>
    </div>
  </form>
</template>

<script>
import { mapState }     from 'vuex'
import Tooltip from '../../ui/Tooltip'

export default {
  name: 'RegistrationPageTemplateForm',
  components: { Tooltip },
  props: {
    canSwitchActiveState: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      templateForm: null,
      errorLogo: null
    }
  },
  computed: {
    ...mapState('template', ['template', 'clients']),
    ...mapState('process', ['formErrors', 'saving'])
  },
  watch: {
    template (newValue, oldValue) {
      this.templateForm = newValue
    }
  },
  mounted () {
    this.templateForm = this.template
  },
  methods: {
    changeActiveState () {
      this.templateForm.active = !this.templateForm.active
    },
    updateLogo (logo) {
      this.templateForm.logo = logo
    }
  }
}
</script>

<style scoped>
input[name=switch-active-state] {
  height: auto !important;
}
</style>
