<template>
  <form class="form row">
    <div class="table-content data-list data-list__row-small mb-3">
      <div
        class="data-list__row"
        role="button"
        @click="toggleBlock"
      >
        <div class="row__data">
          {{ $translator.trans('Graphic charter') }}
        </div>
        <div class="row__data option">
          <img
            v-if="isOpen"
            class="cursor-pointer"
            src="/build/static/icons/tree-closed.svg"
            alt="closed"
          >
          <img
            v-else
            class="cursor-pointer"
            src="/build/static/icons/tree-opened.svg"
            alt="opened"
          >
        </div>
      </div>

      <div v-if="isOpen">
        <div class="row mt-1">
          <div class="col-md-6 col-lg-6">
            <div class="mb-3 form__item">
              <label
                class="form-label"
                for="registration-page-template-font"
              >{{ $translator.trans('Font') }}</label>
              <input
                id="registration-page-template-font"
                v-model="template.blockGraphicalCharter.font"
                type="text"
                value=""
                class="form-control mb-2"
                @change="validateField('font')"
                @keyup="validateField('font')"
              >
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <loader
                v-if="loading.logo"
              />
              <template v-else>
                <div
                  v-if="template.blockGraphicalCharter.logo === null"
                  class="form__item mb-0 col-12 justify-content-between mb-0"
                >
                  <div class="form__item mb-0">
                    <label>{{ $translator.trans('Site logo') }}</label>
                  </div>
                  <input
                    id="registration-page-template-logo"
                    ref="logo"
                    class="form-control w-90"
                    type="file"
                    :accept="IMAGE_FORMATS_FORMATTED"
                    @change="uploadFile($event,'logo')"
                  >
                  <img
                    src="/build/static/icons/question.svg"
                    data-bs-placement="left"
                    data-bs-toggle="tooltip"
                    :title="$translator.trans('Recommended size L: 365px, H: 88px')"
                    alt="question"
                  >
                </div>
                <div
                  v-else
                  class="mb-0 form__item"
                >
                  <img
                    class="img-fluid"
                    style="width:250px;"
                    :src="logoUri"
                    alt="logo"
                  >
                  <div
                    class="text-center cursor-pointer mt-2"
                    @click="changeFile('logo')"
                  >
                    <img
                      src="/build/static/icons/delete-filter.svg"
                      alt="delete"
                    >
                    {{ $translator.trans('Change logo') }}
                  </div>
                </div>
                <div class="mt-1 mb-3">
                  <span
                    class="mt-1"
                    style="font-size: 14px"
                  >{{ $translator.trans('File format:') }} {{ IMAGE_FORMATS_STRING }}</span>
                  <div
                    v-if="errorProcessing.logo"
                    class="invalid-feedback d-block"
                  >
                    {{ errorProcessing.logo }}
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-lg-2">
            <div class="mb-3 form__item">
              <label
                for="registration-page-template-background-color-banner"
                class="form-label"
              >{{ $translator.trans('Background color of the banners') }}</label>
              <input
                id="registration-page-template-background-color-banner"
                v-model="template.blockGraphicalCharter.backgroundColorBanner"
                type="color"
                name="backgroundColorBanner"
                class="form-control"
              >
              <img
                src="/build/static/icons/question.svg"
                data-bs-placement="left"
                data-bs-toggle="tooltip"
                :title="$translator.trans('The background color will be the background color of the top banner and the bottom banner.')"
                alt="question"
              >
            </div>
          </div>
          <div class="col-md-2 col-lg-2">
            <div class="mb-3 form__item">
              <label
                for="registration-page-template-color-button"
                class="form-label"
              >{{ $translator.trans('Color buttons') }}</label>
              <input
                id="registration-page-template-color-button"
                v-model="template.blockGraphicalCharter.colorButton"
                type="color"
                name="registration-page-template-color-button"
                class="form-control"
              >
              <img
                src="/build/static/icons/question.svg"
                data-bs-placement="left"
                data-bs-toggle="tooltip"
                :title="$translator.trans('Color used for links, titles and buttons')"
                alt="question"
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <loader
              v-if="loading.banner"
            />
            <template v-else>
              <div
                v-if="template.blockGraphicalCharter.banner === null"
                class="form__item mb-0 col-12 justify-content-between"
              >
                <div class="form__item mb-0">
                  <label>{{ $translator.trans('Banner') }}</label>
                </div>
                <input
                  id="registration-page-template-banner"
                  ref="banner"
                  class="form-control w-90"
                  type="file"
                  :accept="IMAGE_FORMATS_FORMATTED"
                  @change="uploadFile($event,'banner')"
                >
                <img
                  src="/build/static/icons/question.svg"
                  data-bs-placement="left"
                  data-bs-toggle="tooltip"
                  :title="$translator.trans('Recommended size L: 1920px, H: 223px')"
                  alt="question"
                >
              </div>
              <div
                v-else
                class="mb-0 form__item"
              >
                <img
                  class="img-fluid"
                  style="width:250px;"
                  :src="bannerUri"
                  alt="banner"
                >
                <div
                  class="text-center cursor-pointer mt-2"
                  @click="changeFile('banner')"
                >
                  <img
                    src="/build/static/icons/delete-filter.svg"
                    alt="delete"
                  >
                  {{ $translator.trans('Delete banner') }}
                </div>
              </div>
              <div class="mt-1 mb-3">
                <span
                  class="mt-1"
                  style="font-size: 14px"
                >{{ $translator.trans('File format:') }} {{ IMAGE_FORMATS_STRING }}</span>
                <div
                  v-if="errorProcessing.banner"
                  class="invalid-feedback d-block"
                >
                  {{ errorProcessing.banner }}
                </div>
              </div>
            </template>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-6">
            <loader
              v-if="loading.illustration"
            />
            <template v-else>
              <div
                v-if="template.blockGraphicalCharter.illustration === null"
                class="form__item mb-0 col-12 justify-content-between"
              >
                <div class="form__item mb-0">
                  <label>{{ $translator.trans('Illustration') }}</label>
                </div>
                <input
                  id="registration-page-template-drawing"
                  ref="illustration"
                  class="form-control w-90"
                  type="file"
                  :accept="IMAGE_FORMATS_FORMATTED"
                  @change="uploadFile($event,'illustration')"
                >
                <img
                  src="/build/static/icons/question.svg"
                  data-bs-placement="left"
                  data-bs-toggle="tooltip"
                  :title="$translator.trans('Recommended size L: 200px, H: 358px')"
                  alt="question"
                >
              </div>
              <div
                v-else
                class="mb-0 form__item"
              >
                <img
                  class="img-fluid"
                  style="width:250px;"
                  :src="illustrationUri"
                  alt="illustration"
                >
                <div
                  class="text-center cursor-pointer mt-2"
                  @click="changeFile('illustration')"
                >
                  <img
                    src="/build/static/icons/delete-filter.svg"
                    alt="delete"
                  >
                  {{ $translator.trans('Change drawing') }}
                </div>
              </div>
              <div class="mt-1 mb-3">
                <span
                  class="mt-1"
                  style="font-size: 14px"
                >{{ $translator.trans('File format:') }} {{ IMAGE_FORMATS_STRING }}</span>
                <div
                  v-if="errorProcessing.illustration"
                  class="invalid-feedback d-block"
                >
                  {{ errorProcessing.illustration }}
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import { mapState } from 'vuex'
import Loader from '../../ui/Loader.vue'
import { IMAGE_FORMATS, IMAGE_FORMATS_FORMATTED, IMAGE_FORMATS_STRING } from '../../../utils/fileUpload.utils'

export default {
  name: 'RegistrationPageTemplateGraphicalCharter',
  components: { Loader },
  data () {
    return {
      IMAGE_FORMATS: IMAGE_FORMATS,
      IMAGE_FORMATS_FORMATTED: IMAGE_FORMATS_FORMATTED,
      IMAGE_FORMATS_STRING: IMAGE_FORMATS_STRING,
      logo: '',
      banner: '',
      illustration: '',
      templateForm: null,
      errorLogo: null,
      loading: {
        logo: false,
        banner: false,
        illustration: false
      },
      errorProcessing: {
        logo: false,
        banner: false,
        illustration: false
      }
    }
  },
  computed: {
    ...mapState('template', ['template', 'contentTemplate', 'clients']),
    ...mapState('process', ['formErrors', 'saving']),
    isOpen () {
      return this.contentTemplate.openedBlocks.includes('GraphicalCharter')
    },
    logoUri: function () {
      return this.template.blockGraphicalCharter.logoUri
    },
    bannerUri: function () {
      return this.template.blockGraphicalCharter.bannerUri
    },
    illustrationUri: function () {
      return this.template.blockGraphicalCharter.illustrationUri
    }
  },
  watch: {
    template (newValue) {
      this.templateForm = newValue
    }
  },
  mounted () {
    this.templateForm = this.template
  },
  methods: {
    toggleBlock () {
      this.$store.commit('template/toggleBLock', 'GraphicalCharter')
    },
    updateFile (src, file, preview) {
      switch (src) {
        case 'logo':
          this.templateForm.blockGraphicalCharter.logo = file
          this.templateForm.blockGraphicalCharter.logoUri = preview
          break
        case 'banner':
          this.templateForm.blockGraphicalCharter.banner = file
          this.templateForm.blockGraphicalCharter.bannerUri = preview
          break
        case 'illustration':
          this.templateForm.blockGraphicalCharter.illustration = file
          this.templateForm.blockGraphicalCharter.illustrationUri = preview
          break
      }
    },
    uploadFile (e, src) {
      this.loading[src] = true
      const files = e.target.files || e.dataTransfer.files

      if (files.length !== 1) {
        return
      }

      const formData = new FormData()
      formData.append('file', files[0])
      formData.append('format', IMAGE_FORMATS)

      const vm = this
      vm.error = null
      this.$axios.post(this.$routing.generate('_registration_page_template_upload_files'), formData, { headers: { 'Content-Type': 'multipart/form-data' } })
        .then((response) => {
          this.updateFile(src, response.data.message.filetarget, response.data.message.previewUri)
          this.loading[src] = false
        }).catch((error) => {
          this.loading[src] = false
          if ('response' in error && 'data' in error.response && 'message' in error.response.data && 'text' in error.response.data.message) {
            vm.error = error.response.data.message.text
            this.errorProcessing[src] = error.response.data.message.text
          } else {
            vm.error = this.$translator.trans('The ' + src + ' cannot be put online for an unknown reason.')
          }
        })
    },
    changeFile (src) {
      this.updateFile(src, null)
    },
    validateField (field) {
      switch (field) {
        case 'font':
          break
        default:
          break
      }
    }
  }
}
</script>

<style scoped>
input[name=switch-active-state] {
  height: auto !important;
}
</style>
