<template>
  <div class="d-flex flex-column calendar-session-detail">
    <small>{{ dateStart() }} - {{ args.event.extendedProps.datesDiffString }}</small>
    <b>{{ args.event.title }}</b>
    <span>
      <span v-if="currentUser.anAdmin">{{ args.event.extendedProps.client.name }} -</span>
      {{ $translator.trans(args.event.extendedProps.readableState) }}
    </span>
    <div>
      <div class="badge badge-pill users-counter d-inline-flex">
        <div class="d-flex justify-content-center align-items-center mx-2">
          <img
            src="/build/static/icons/profile-black.svg"
            class="mx-1"
          >
          <span>{{ args.event.extendedProps.animatorsCount }}</span>
        </div>

        <div class="d-flex justify-content-center align-items-center mx-2">
          <img
            src="/build/static/icons/groupe-black.svg"
            class="mx-1"
          >
          <span>{{ args.event.extendedProps.traineesCount }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { DateTime }   from 'luxon'
import { mapGetters } from 'vuex'

export default {
  name: 'SessionsCalendarDetail',
  props: {
    // See @doc here: https://fullcalendar.io/docs/event-render-hooks
    args: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters({ currentUser: 'currentUser/getCurrentUser' })
  },
  methods: {
    dateStart () {
      return DateTime
        .fromISO(this.args.event.extendedProps.dateStart)
        .toLocaleString(DateTime.TIME_SIMPLE)
    }
  }
}
</script>
