<template>
  <div>
    <full-calendar
      ref="fullCalendar"
      :options="calendarOptions"
      class="ls-fullcalendar"
    >
      <template #eventContent="args">
        <sessions-calendar-detail v-bind="{ args }" />
      </template>
    </full-calendar>

    <span
      class="d-flex w-100 p-3"
    >
      <img
        class="cursor-pointer p-2"
        src="/build/static/icons/calendar.svg"
      >
      <div
        class="pt-1 mr-20"
      >
        {{ webcalSessionURL }}
      </div>
      <span
        v-clipboard:copy="webcalSessionURL"
        v-clipboard:success="onCopy"
        class="copy mt-2"
        :class="{ 'copied' : copyStatus }"
      />
    </span>
  </div>
</template>

<script>
import FullCalendar, { BASE_OPTION_REFINERS }           from '@fullcalendar/vue'
import fullcalendarLocales    from '@fullcalendar/core/locales-all'
import dayGridPlugin          from '@fullcalendar/daygrid'
import timeGridPlugin         from '@fullcalendar/timegrid'
import interactionPlugin      from '@fullcalendar/interaction'
import SessionsCalendarDetail from './SessionsCalendarDetail'
import luxon2Plugin from '@fullcalendar/luxon2'

// @issue https://github.com/fullcalendar/fullcalendar/issues/5462#issuecomment-635022502
BASE_OPTION_REFINERS.schedulerLicenseKey = String

export default {
  name: 'SessionsCalendar',
  components: { FullCalendar, SessionsCalendarDetail },
  props: {
    sessions: {
      type: Array,
      required: true
    },
    userToken: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      locale: 'fr',
      copyStatus: false
    }
  },
  computed: {
    webcalSessionURL () {
      return this.$routing.generate('_webcal_upcoming_sessions', { token: this.userToken }, true).replace(/^https|http/g, 'webcal')
    },
    generateCalendarEventFlux () {
      return Array.from(this.sessions, (session) => {
        return {
          classNames: this.sessionStatusClass(session.readableState),
          title: session.name,
          start: session.dateStart,
          end: session.dateEnd,
          url: this.$routing.generate('_session_get', { id: session.id }),
          extendedProps: session
        }
      })
    },
    calendarOptions () {
      return {
        plugins: [luxon2Plugin, dayGridPlugin, timeGridPlugin, interactionPlugin],
        schedulerLicenseKey: '0104497368-fcs-1644222333',
        titleFormat: 'LLLL d, yyyy',
        locales: fullcalendarLocales,
        locale: this.locale,
        navLinks: true,
        nowIndicator: true,
        dayMaxEvents: true,
        weekNumbers: true,
        eventMaxStack: 4,
        eventMinHeight: 15,
        scrollTime: '08:00:00',
        scrollTimeReset: false,
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay' // timeGridWeek5Days
        },
        customButtons: {
          prev: { // this overrides the prev button
            click: () => {
              const calendarApi = this.$refs.fullCalendar.getApi()
              calendarApi.prev()
              this.onEventClick(calendarApi.currentData.dateProfile.currentRange)
            }
          },
          next: { // this overrides the next button
            click: () => {
              const calendarApi = this.$refs.fullCalendar.getApi()
              calendarApi.next()
              this.onEventClick(calendarApi.currentData.dateProfile.currentRange)
            }
          }
        },
        events: this.generateCalendarEventFlux,
        moreLinkContent: this.moreLinkContent
      }
    }
  },
  methods: {
    moreLinkContent ({ num }) {
      return `+${num} ${this.$translator.trans('Sessions')}`
    },
    sessionStatusClass (readableState) {
      switch (readableState) {
        case 'Running':
        case 'Sent':
          return ['session-status-primary']
        case 'Scheduled':
          return ['session-status-cyan']
        default:
          return ['session-status-grey']
      }
    },
    onCopy: function () {
      this.copyStatus = true
      setTimeout(() => { this.copyStatus = false }, 5000)
    },
    onEventClick: function (dates) {
      const startDate = new Date(dates.start)
      dates.start = startDate.toISOString()

      const endDate = new Date(startDate.getFullYear(), startDate.getMonth() + 1, 0)
      endDate.setUTCHours(23, 59, 59, 0)
      dates.end = endDate.toISOString()
      this.$emit('updateCalendarDate', dates)
    }
  }
}
</script>

<style lang="scss">
  @import "assets/scss/modules/fullcalendar/fullcalendar";
</style>

<style scoped>
.copy.copied:after {
  content: url('../../../../static/icons/copy-black.svg') !important;
}
</style>
