<template>
  <nav
    v-if="module.showClientContactDetails || module.showClientLogo"
    class="navbar bg-light p-0"
  >
    <div
      class="container-fluid justify-content-between flex-column flex-md-row p-2 p-sm-0"
      style="padding-left: 20px !important; padding-right: 20px !important;"
    >
      <img
        v-if="module.showClientLogo"
        class="img-fluid py-2"
        :src="fullPathLogo"
        :alt="'Logo ' + module.client.name"
        height="40"
      >
      <div
        class=""
        style="width: 50px;"
      />
      <div
        v-if="module.dedicatedSupportClient.isActive && module.showClientContactDetails"
        class="d-flex align-items-center justify-content-center flex-column flex-md-row mt-2 mt-sm-0"
        style="height: 40px"
      >
        <span class="d-inline-flex justify-content-start align-items-center me-sm-4">
          <i class="icon icon-header-phone me-2 text-primary" />
          <small><a
            :href="tel"
            class="link-dark"
          >{{ module.dedicatedSupportClient.phoneSupport }}</a></small>
        </span>
        <span class="d-inline-flex justify-content-start align-items-center">
          <i class="icon icon-header-mail me-2 text-primary" />
          <small><a
            :href="mailto"
            class="link-dark"
          >{{ module.dedicatedSupportClient.mailSupport }}</a></small>
        </span>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'LiveSessionInfo',
  computed: {
    ...mapState('selfSubscription', ['filter', 'module', 'user']),
    fullPathLogo () {
      return '/uploads/client_logo/' + this.module.pathLogoClient
    },
    mailto () {
      return 'mailto:' + this.module.dedicatedSupportClient.mailSupport
    },
    tel () {
      return 'tel:' + this.module.dedicatedSupportClient.phoneSupport
    }
  }
}
</script>

<style scoped>

</style>
