<template>
  <div
    v-if="module.personalization"
    id="navbarSupportedContent"
    class="collapse navbar-collapse h-100 mt-auto"
  >
    <hr>
    <div class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end w-100 position-relative">
      <module-info-items-navigation-button
        :title="module.personalization.trainingTitle"
        :class="{active: filter.view === 'Search'}"
        icon="icon-formation"
        view="Search"
      />
      <module-info-items-navigation-button
        v-if="module.personalization.enabledReplay"
        :title="module.personalization.replayTitle"
        :class="{active: filter.view === 'Replay'}"
        icon="icon-calendar"
        view="Replay"
      />
      <module-info-items-navigation-button
        v-if="module.personalization.enabledSessions"
        :title="module.personalization.sessionsTitle"
        :class="{active: filter.view === 'Current' || filter.view === 'Previous'}"
        icon="icon-calendar"
        view="Current"
      />
      <module-info-items-navigation-button
        v-if="module.personalization.enabledFaq"
        :class="{active: filter.view === 'FAQ'}"
        icon="icon-faq"
        view="FAQ"
        :title="module.personalization.faqTitle"
      />
      <module-info-user v-if="!user.isGuestUser" />
      <div
        v-else
        class="btn-navigation-module d-flex justify-content-start justify-content-lg-center align-items-center mx-0 mt-1 mt-lg-0 mx-lg-4"
        @click="login()"
      >
        <i :class="['icon icon-user me-3 text-module-main']" />
        <span>{{ $translator.trans('Login', {}, 'self-subscription') }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import ModuleInfoUser from './ModuleInfoUser.vue'
import ModuleInfoItemsNavigationButton from './ModuleInfoItemsNavigationButton.vue'

export default {
  name: 'ModuleInfoItems',
  components: { ModuleInfoItemsNavigationButton, ModuleInfoUser },
  computed: {
    ...mapState('selfSubscription', ['filter', 'module', 'user']),
    loginUrl () {
      return '/hub/' + this.module.slugClient + '/' + this.module.domain + '/login'
    }
  },
  methods: {
    changeView (view, event) {
      // TRICKY TRICKY | conflict with bootstrap dropdown
      setTimeout(() => this.$store.commit('selfSubscription/view', view), 1)
    },
    login () {
      window.location.href = this.loginUrl
    }
  }
}
</script>

<style scoped>
.m-w-300 {
  min-width: 300px;
}
</style>
