<template>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-white py-0"
  >
    <div
      class="container-fluid"
      style="padding-left: 20px !important; padding-right: 20px !important;"
    >
      <div
        :class="['d-flex col-12 col-lg-3 col-xl-4 my-1', {
          'flex-column': module.logoFormat === 'rectangle',
          'flex-lg-row flex-column align-items-lg-center': module.logoFormat === 'square',
        }]"
      >
        <div
          :class="['d-flex align-items-center', {
            'justify-content-between': module.logo,
            'justify-content-end': !module.logo,
          }]"
        >
          <a
            v-if="module.logo"
            class="navbar-brand"
            style="cursor: pointer"
            @click="changeView('Search')"
          >
            <img
              :src="fullPathLogo"
              alt="Logo LiveSession"
              class="img-fluid"
              height="80"
              style="width: 90%; max-height: 80px; object-fit: contain;"
            >
          </a>
          <button
            class="navbar-toggler float-end"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon" />
          </button>
        </div>
        <h6 class="text-muted mt-2 text-description mb-0">
          {{ module.description }}
        </h6>
      </div>
      <module-info-items />
    </div>
  </nav>
</template>

<script>
import { mapState } from 'vuex'
import ModuleInfoItems from './ModuleInfoItems.vue'

export default {
  name: 'ModuleInfo',
  components: { ModuleInfoItems },
  computed: {
    ...mapState('selfSubscription', ['filter', 'module', 'user']),
    fullPathLogo () {
      return '/uploads/self_subscription_logo/' + this.module.logo
    }
  },
  methods: {
    changeView (view, event) {
      // TRICKY TRICKY | conflict with bootstrap dropdown
      setTimeout(() => this.$store.commit('selfSubscription/view', view), 1)
    }
  }
}
</script>
