<template>
  <div
    ref="dropdownUser"
    class="nav-item dropdown dropdown-nav"
  >
    <div
      id="nav-user-menu"
      class="btn-navigation-module d-flex justify-content-start justify-content-lg-center align-items-center mx-0 mt-1 mt-lg-0 mx-lg-4"
      :class="{active: filter.view === 'Profile'}"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="icon icon-user me-3 text-module-main" />
      <span style="font-size: 18px">{{ user.firstName }}</span>
    </div>
    <div
      class="dropdown-menu p-4 dropdown-menu-end"
      aria-labelledby="nav-user-menu"
    >
      <div class="d-flex align-items-center m-w-300">
        <div>
          <img
            v-if="fullPathProfilePicture"
            :src="fullPathProfilePicture"
            class="profil rounded-circle me-4"
            alt=""
          >
          <div
            v-else
            class="user-avatar"
          >
            <div
              aria-hidden="true"
              class="vue-avatar--wrapper d-flex align-items-center justify-content-center bg-white text-black fs-4 me-4 border-module-main rounded-circle"
              style="width: 5rem; height: 5rem; border-radius: 50%;"
            >
              <span>{{ userNameShorted }}</span>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-start">
          <strong class="my-1">{{ user.firstName }} {{ user.lastName }}</strong>
          <span class="my-1">{{ user.email }}</span>
          <button
            class="btn btn-module-main btn-xs my-1"
            @click="changeView('Profile', $event)"
          >
            {{ $translator.trans('View profile', {}, 'self-subscription') }}
          </button>
        </div>
      </div>
      <div
        class="text-center"
      >
        <hr class="w-100">
        <a
          :href="logoutUrl"
          class="btn btn-xs text-danger d-flex justify-content-center align-items-center"
        >
          <i class="icon icon-danger icon-logout me-2" />
          {{ $translator.trans('Log out', {}, 'self-subscription') }}
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ModuleInfoUser',
  computed: {
    ...mapState('selfSubscription', ['filter', 'module', 'user']),
    logoutUrl () {
      return '/logout?domain=' + this.module.domain + '&slugclient=' + this.module.slugClient
    },
    loginUrl () {
      return '/hub/' + this.module.slugClient + '/' + this.module.domain + '/login'
    },
    fullPathProfilePicture () {
      if (this.user.profilePictureFilename) {
        return '/uploads/profile_pictures/' + this.user.profilePictureFilename
      }
      return null
    },
    userNameShorted () {
      if (!('lastName' in this.user)) {
        return ''
      }
      return this.user.firstName[0].toUpperCase() + this.user.lastName[0].toUpperCase()
    }
  },
  methods: {
    changeView (view, event) {
      // TRICKY TRICKY | conflict with bootstrap dropdown
      setTimeout(() => this.$store.commit('selfSubscription/view', view), 1)
    },
    login () {
      window.location.href = this.loginUrl
    }
  }
}
</script>

<style scoped>
.m-w-300 {
  min-width: 300px;
}
</style>
