<template>
  <div
    class="btn-navigation-module d-flex justify-content-start justify-content-lg-center align-items-center mx-0 mt-1 mt-lg-0 mx-lg-4"
    @click="changeView(view)"
  >
    <i :class="['icon me-3 text-module-main', { [icon]: icon }]" />
    <span style="font-size: 18px">{{ $translator.trans(title, {}, 'self-subscription') }}</span>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ModuleInfoItemsNavigationButton',
  props: {
    title: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true
    },
    view: {
      type: String,
      required: true
    }
  },
  computed: {
    ...mapState('selfSubscription', ['filter', 'module', 'user'])
  },
  methods: {
    changeView (view, event) {
      // TRICKY TRICKY | conflict with bootstrap dropdown
      setTimeout(() => this.$store.commit('selfSubscription/view', view), 1)
    }
  }
}
</script>

<style scoped>
.m-w-300 {
  min-width: 300px;
}
</style>
