<template>
  <div>
    <main class="session-main-content d-flex flex-column align-items-center">
      <div class="login-main__logo">
        <img src="/build/static/single-logo.svg">
      </div>
      <div class="session-title">
        <h2>{{ $translator.trans('Your session has been created!') }}</h2>
      </div>
      <div
        v-if="sessionToSaved.sessionTest"
        class="mb-2"
      >
        {{ $translator.trans('This session is a test. It won t be billed or counted in statistics.') }}
      </div>
      <div class="session-btn-access-my_account mb-24">
        <a
          :href="$routing.generate('_session_get', {id: sessionToSaved.id})"
          class="btn btn-primary"
          role="button"
        >{{ $translator.trans('Go to the session') }}</a>
      </div>
      <div class="session-btn-create-new-session">
        <a
          role="button"
          class="d-flex align-items-center pb-3"
          @click="createNewSession"
        >
          <img src="/build/static/icons/add-create-session.svg">
          <span>{{ $translator.trans('Create a new session') }}</span>
        </a>
      </div>
      <span
        v-for="warning in stepWizard.warnings"
        :key="warning"
      >
        <alert
          type="warning"
          :text="warning"
        />
      </span>
    </main>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import store from '../../../../store'
import Alert from '../../../ui/Alert'

export default {
  name: 'CreateSessionWizardSuccess',
  components: {
    Alert
  },
  data () {
    return {
      errorWarnings: []
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'stepWizard'])
  },
  methods: {
    createNewSession () {
      store.commit('sessionWizard/resetWizard')
    }
  }
}
</script>

<style scoped>

</style>
