{% extends 'blank_page_mockup.html.twig' %}

{% set userLang = app.user.getPreferredLang()|default('fr') %}

{% block body_classes_block %}
    {{ parent() }}
    session-detail-signature
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    {{ encore_entry_link_tags('session-documents-attendee-list') }}
    {{ encore_entry_link_tags('q-r-code-page') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('session-documents-attendee-list') }}
    {{ encore_entry_script_tags('q-r-code-page') }}
{% endblock %}

{% block header_title %}
    {{ providerSession.name }}
{% endblock %}

{% block header_sub_title %}
    {% set dateStartLocalized = providerSession.dateStart()|format_datetime('full', 'short', locale=userLang) %}
    {{ 'Reference n° %field_1% - %field_2% - Duration %field_3%'|trans({'%field_1%': providerSession.ref, '%field_2%': dateStartLocalized, '%field_3%': providerSession.datesDiffString}) }}
{% endblock %}

{% block content_title %}
    {{ title|trans }}
{% endblock %}

{% block content_sub_title %}
    <span>
       {{ 'Click on the signature button to the right of your name in the list to attest your presence'|trans }}
    </span>
     {% if not providerSession.running %}
        <span>
           {{ 'The signatures are accessible during the session and when it is over.'|trans }}
        </span>
     {% endif %}
{% endblock %}

{% block content %}
    
    {% if providerSession.client.fillEmail %}
        {% set class = "accordion accordion-signature-without-border d-flex flex-column" %}
    {% else %}
        {% set class = "accordion accordion-signature d-flex flex-column" %}
    {% endif %}
    
    <div
        id="session-documents-attendee-list"
        class="{{ class }}"
    >
        <sessions-documents-attendee-list
            :sessions-roles="{{ participantRoles | serialize('json', {'groups': 'read_lobby_signature'}) }}"
            :id-session="{{ providerSession.id  }}"
            :fill-email="{{ fillEmail| serialize  }}"
        />
    </div>
    <br>
    <span>
       {{ 'Scan the QR code to sign from your mobile'|trans }}
    </span><br>
    <div id="q-r-code-page">
        <q-r-code-page url="{{ end_point_domain ~ '/attendance/signature/lobby/' ~ providerSession.id }}"/>
    </div>

{% endblock %}
