{% extends 'blank_page_mockup.html.twig' %}

{% set userLang = app.user.getPreferredLang()|default('fr') %}

{% block body_classes_block %}
    {{ parent() }}
    session-detail-signature
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    {{ encore_entry_link_tags('q-r-code-page') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('q-r-code-page') }}
{% endblock %}

{% block header_title %}
    {{ providerSession.name }}
{% endblock %}

{% block header_sub_title %}
    {% set dateStartLocalized = providerSession.dateStart()|format_datetime('full', 'short', locale=userLang) %}
    {{ 'Reference n° %field_1% - %field_2% - Duration %field_3%'|trans({'%field_1%': providerSession.ref, '%field_2%': dateStartLocalized, '%field_3%': providerSession.datesDiffString}) }}
{% endblock %}

{% block content_title %}
    {{ title|trans }}
{% endblock %}

{% block content_sub_title %}
    <span>
       {{ 'Scan the QR Code with your smartphone'|trans }}
    </span>
{% endblock %}

{% block content %}
    <div
        id="q-r-code-page"
    >
        <q-r-code-page
              url="{{ end_point_domain ~ '/attendance/signature/lobby/' ~ providerSession.id }}"
        />
    </div>
{% endblock %}
