{% extends 'main.html.twig' %}
{% set routeActive = '_widget_news_create' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('widget-news-create-or-edit') }}
{% endblock %}

{% block main %}
    <div class="mb-2">
        <a class="button" href="{{ path('_widget_news_index') }}">
            {{ 'Back' |trans}}
        </a>
    </div>

    <header>
        <div class="wrapper-header d-flex align-items-start justify-content-between mb-4">
            <div class="wrapper-header__infos">
                <div class="wrapper-header__infos__title d-flex align-items-center">
                    <h1>{{ title|trans }}</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-md-12">
            {% include('flash_messages.html.twig') %}
        </div>
    </div>

    <div id="widget-news-create-or-edit">
        <widget-news-create-or-edit type="{{ type }}" :news="{{ widgetNews|serialize('json', {'groups': 'read_widget_news'})|default(null) }}"/>
    </div>
{% endblock %}
