{% extends 'main.html.twig' %}
{% set routeActive = '_news_dashboard_index' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="mb-2">
        <a class="button" href="{{ path('_widget_news_index') }}">
            {{ 'Back' |trans}}
        </a>
    </div>

   <header>
       <div class="wrapper-header d-flex align-items-start justify-content-between mb-4">
           <div class="wrapper-header__infos">
               <div class="wrapper-header__infos__title d-flex align-items-center">
                   <h1>{{ title|trans }}</h1>
               </div>
           </div>
       </div>
   </header>

    <div class="row">
        <div class="col-md-12">
            {% include('flash_messages.html.twig') %}
        </div>
    </div>

    {{ form_start(form, {'attr': {'class': 'form'}}) }}
    {{ form_row(form.title) }}

    <div class="row m-6">
        <div class="col-12 col-md-6">
            {{ form_row(form.languages) }}
        </div>
        <div class="col-12 col-md-6">
            {{ form_row(form.color) }}
        </div>
    </div>
    {{ form_rest(form) }}
    <input type="submit" class="btn btn-primary mb-3" name="save" value="Enregistrer">
    {{ form_end(form) }}
{% endblock %}
