{% extends 'main.html.twig' %}
{% set routeActive = '_news_dashboard_index' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('widget-news-list') }}
{% endblock %}

{% block main %}
    <div class="page-title">
        <h1>{{ title|trans }}</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('_widget_news_create') }}" class="primary-btn">
                <img alt="plus white picto" src="{{ asset('build/static/icons/plus-white.svg') }}" class="me-2">
                {{ 'New'|trans }}
            </a>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-12">
            {% include('flash_messages.html.twig') %}
        </div>
    </div>

    <div id="widget-news-list">
        <widget-news-list
            :is-admin="{{ is_granted('ROLE_ADMIN')?'true':'false' }}"
            :news="{{ news|serialize('json', {"groups": "read_widget_news"}) }}"
        />
    </div>
{% endblock %}
