.session-created-body {
    height: 100%;
    //background-color: $gray-300;
    & .session-main-header {
        background-color: $white;
        padding: 27px 36px 27px 33px;
        
        & .session-main-details {
            & .session-main-details__logo {
                margin-right: 22px;
            }
            & .session-main-details__infos {
                & h2 {
                    @include font-size(20px);
                    @include line-height(22px);
                    font-weight: bold;
                }
                & span {
                    @include font-size(12px);
                    @include line-height(13px);
                }
            }
        }

        & .session-main-cancel-creation {
            position: relative;
            top: unset;
            right: unset;
            & .cancel-link {
                & span {
                    margin-right: 10px;
                    @include font-size(16px);
                    @include line-height(17px);
                    font-weight: bold;
                    color: $black;
                }
                
            }
        }
    }
    
    & .session-main-content-session {
        padding-top: 60px;
        & .session-steps {
            margin-bottom: 130px;
            width: 100%;
            max-width: 1200px;
            & .session-steps__step {
                width: 100%;
                & img {
                    margin-bottom: 9px;
                }
                & span {
                    @include font-size(12px);
                    @include line-height(15px);
                    font-weight: 600;
                }
            }
            & .session-steps__step.active {
                & span {
                    font-weight: bold;
                }
            }
            & .sep {
                width: 100%;
                height: 1px;
                background-color: #D8D8D8;
                align-self: flex-start;
                margin-top: 12px;
            }
        }
        & .session-content {
            width: 100%;
            max-width: 600px;
            & .session-title,
            & .session-desc {
                max-width: 440px;
            }
            & .session-title {
                margin-bottom: 14px;
                & h2 {
                    @include font-size(24px);
                    @include line-height(26px);
                    font-weight: bold;
                    color: $black;
                }
            }
            & .session-desc {
                & p {
                    @include font-size($input-btn-font-size);
                    @include line-height(16px);
                    font-weight: 300;
                    color: $black;
                    & span {
                        font-weight: bold;
                    }
                }
            }
            & .session-encadre {
                background-color: rgba(63,140,255,0.1);
                border: 1px solid rgba(63,140,255,0.15);
                margin-bottom: 54px;
                & .session-encadre__info {
                    padding: 22px 60px 22px 22px;
                    & span {
                        @include font-size(16px);
                        @include line-height(17px);
                        font-weight: bold;
                        color: #1E55A8;
                        margin-bottom: 7px;
                    }
                    & p {
                        @include font-size($input-btn-font-size);
                        @include line-height(16px);
                        & span {
                            font-weight: bold;
                            color: $black;
                        }
                    }
                }
                & .session-encadre__add-session  {
                    border-left: 1px solid #CADCF8;
                    padding: 25px 25px 22px 22px;
                    cursor: pointer;
                    & img {
                        margin-right: 3px;
                    }
                    & p {
                        @include font-size(12px);
                        @include line-height(13px);
                        font-weight: bold;
                    }
                }
            }
            & .session-fields-date {
                border: 1px solid #E9E9E9;
                background-color: $white;

                & .session-fields-date__begin,
                & .session-fields-date__duration {
                    padding: 2rem;
                    position: relative;

                    & .picto-container {
                        & .picto {
                            position: absolute;
                            top: -22px;
                            @include circle(42px);
                            background-color: $white;
                            border: 1px solid #E9E9E9;
                        }
                        & .picto-clock {
                            top: -52px !important;
                        }
                    }

                    & span {
                        @include font-size($input-btn-font-size);
                        @include line-height(16px);
                        font-weight: bold;
                    }
                    & .form-block {
                        margin-top: 26px;
                        & label {
                            @include font-size($input-btn-font-size);
                            @include line-height(19px);
                            font-weight: bold;
                            margin-right: 1rem;
                        }
                        & label.user-time-label {
                            margin-left: 0.5rem;
                        }
                        & input {
                            border: none;
                            @include font-size(24px);
                            @include line-height(26px);
                            font-weight: bold;
                        }
                        & input#user-time,
                        & input#user-time-duration {
                            width: 75px;
                        }
                    }
                }

                & .session-fields-date__begin {
                    max-width: 380px;
                    & .form-block {
                        & input#user-date {
                            width: 130px;
                        }
                    }
                }

                & .session-fields-date__duration {
                    border-left: 1px solid #E9E9E9;
                    max-width: 220px;
                    
                    & label {
                        margin-right: 0;
                    }
                }
            }
            & .session-btn-access-next-step {
                & a {
                    @include font-size(16px);
                    @include line-height(17px);
                    font-weight: bold;
                }
            }   
        }
    }
}