{% extends 'emails/base_participant.html.twig' %}

{% block sessionIsTestInformation %}
	{% if session is defined and session.sessionTest %}
		{{ parent() }}
		<p><b>{{ 'This is the attendance signature link email generated for a participant.'|trans }}</b></p>
	{% endif %}
{% endblock %}

{% block content %}
	<p>
		{{ 'Thank you for attending the %name% session on %date% from %time%.'|trans({ '%name%': session.name, '%date%': session.dateStart|date('d/m/Y'), '%time%': session.dateStart|date('H:i') },null,lang) }}
		{{ 'Please take a few minutes to sign in for the session.'|trans({}, null, lang) }}
		{{ 'If the link is broken, please copy/paste the URL below into your browser:'|trans({}, null, lang) }}
	</p>
	<p>
		<a href="{{ url('_session_signature_lobby', {id: session.id}) }}" style=" color:#669600;">
			{{ end_point_domain ~ '/attendance/signature/lobby/' ~ session.id }}
		</a>
	</p>
{% endblock %}

{#// SUPPORT#}
