{% extends 'emails/base_convocation.html.twig' %}

{% block sessionIsTestInformation %}
	{% if session is defined and session.sessionTest %}
		{{ parent() }}
		{% if isAnimator %}
			<p><b>{{ 'This is the convocation email generated for a animator'|trans }}</b></p>
		{% else %}
			<p><b>{{ 'This is the convocation email generated for a participant'|trans }}</b></p>
		{% endif %}
	{% endif %}
{% endblock %}

{% block content %}
	{{ content | raw }}
{% endblock %}

{#// SUPPORT#}
