{% extends 'emails/base_participant_evaluation.html.twig' %}

{% block sessionIsTestInformation %}
	{% if session is defined and session.sessionTest %}
		{{ parent() }}
		<p><b>{{ 'This is the evaluation link email generated for a participant.'|trans }}</b></p>
	{% endif %}
{% endblock %}

{% block content %}
	<p>
		{{ 'Thank you for attending the %name% session on %date% from %time%.'|trans({ '%name%': session.name, '%date%': session.dateStart|date('d/m/Y'), '%time%': session.dateStart|date('H:i') },null,lang) }}
		{{ 'Please take a few minutes to complete the end-of-session evaluation survey.'|trans({}, null, lang) }}
		<br>
	</p>
	<div style="padding-left: 100px">
		<a href="{{ url('_session_evaluation_lobby', {id: session.id}) }}" class="button">
		<img  href="{{ url('_session_evaluation_lobby', {id: session.id}) }}" src="{{ end_point_domain ~ asset('build/static/email/button_answer-'~ lang ~ '.png' ) }}" alt="Answer the questionnaire" class="button" style="max-width: 220px">
		</a>
	</div>
	<br>
	<p>
		{{ 'If the link is broken, please copy/paste the URL below into your browser:'|trans({}, null, lang) }}
	</p>
	<div style="padding-left: 50px">
		<p>
			{{ end_point_domain ~ '/session/evaluation/lobby/' ~ session.id }}
		</p>
	</div>

{% endblock %}

{#// SUPPORT#}
