{% extends 'emails/base_convocation.html.twig' %}

{% block sessionIsTestInformation %}
	{% if session is defined and session.sessionTest %}
		{{ parent() }}
	{% endif %}
{% endblock %}

{% block content %}
	{{ content | raw }}
	<br><br>
	{% trans with {'%routeUnsubscribe%': end_point_domain ~ '/guest/unsubscribe-guest/' ~ token} into lang %}
		<a href="%routeUnsubscribe%"> I want to unsubscribe and not receive future communications from this address.</a>
	{% endtrans %}
{% endblock %}


{#// SUPPORT#}
