{% extends 'emails/base_convocation.html.twig' %}

{% block sessionIsTestInformation %}
	{% if session is defined and  session.sessionTest != true %}
		{{ parent() }}
		{% if isAnimator %}
			<p><b>{{ 'This is the convocation email generated for a animator'|trans }}</b></p>
		{% else %}
			<p><b>{{ 'This is the convocation email generated for a participant'|trans }}</b></p>
		{% endif %}
	{% endif %}
{% endblock %}

{% block content %}
	<p><b>{{ 'Warning, this is a test mail and the data may be wrong'|trans({}, null, lang) }}</b></p>
	{% if isAnimator %}
		<p><b>{{ 'This is the convocation email generated for a animator'|trans }}</b></p>
	{% else %}
		<p><b>{{ 'This is the convocation email generated for a participant'|trans }}</b></p>
	{% endif %}
	{{ content | raw }}
{% endblock %}

{#// SUPPORT#}
