{% extends 'emails/base_participant.html.twig' %}

{% block sessionIsTestInformation %}
	{% if session is defined and session.sessionTest %}
		{{ parent() }}
		<p><b>{{ "This is the session cancellation email  generated for a participant"|trans }}</b></p>
	{% endif %}
{% endblock %}

{% block content %}
	<p>
		{% trans with {'%meeting_name%': session.name, '%meeting_date%': session.dateStart | applyTimezone(clientTimeZone) | localizeDate(lang) } into lang %}
			Please be advised that your registration for the session "%meeting_name%" on %meeting_date% has been cancelled. The access information sent previously will no longer allow you to participate in the training.
		{% endtrans %}
	</p>
{% endblock %}

{#// SUPPORT#}
