{% extends 'emails/base_participant.html.twig' %}

{% block sessionIsTestInformation %}
	{% if session is defined and session.sessionTest %}
		{{ parent() }}
		<p><b>{{ "This is the session cancellation email  generated for a participant"|trans }}</b></p>
	{% endif %}
{% endblock %}

{% block content %}
	<p>
		{{ message }}
	</p>
{% endblock %}

{#// SUPPORT#}
