{% extends 'emails/base_convocation.html.twig' %}

{% block sessionIsTestInformation %}
    {% if session is defined and session.sessionTest %}
        {{ parent() }}
        <p><b>{{ 'This is the update email of a session generated for a participant'|trans }}</b></p>
    {% endif %}
{% endblock %}

{% block content %}
    <p>
        {% trans with {'%title%': session.name, '%date%': session.dateStart | applyTimezone(clientTimeZone) | dateOnly(lang), '%time%': session.dateStart| applyTimezone(clientTimeZone) | hourOnly(lang) } %}
        Important: the session "%title%" from %date% to %time% has been modified
        {% endtrans %},
    </p>
    <br/>

    {% if listChanges is not empty %}
        <p>
        <ul>
            {% for change in listChanges %}
                <li>
                    {% if (change.type == 'Date') %}
                        {{ change.title | trans }} - {{ change.new | applyTimezone(clientTimeZone) | localizeDate(lang) }} ({{ 'previously' | trans }}: {{ change.previous | applyTimezone(clientTimeZone) | localizeDate(lang) }})
                    {% elseif (change.type == 'Licence') %}
                        {{ change.title | trans }} - {{ change.new }}
                    {% else %}
                        {{ change.title | trans }} - {{ change.new }} ({{ 'previously' | trans }}: {{ change.previous }})
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        </p>
    {% endif %}

    <p>
        {% trans %}
            The content of the email below is updated:
        {% endtrans %}
    </p>

    {{ content | raw }}
{% endblock %}

{#// SUPPORT#}
