{% extends 'main.html.twig' %}

{% set routeActive = '_npai_list' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bounces-list') }}
{% endblock %}

{% block main %}
    <div class="page-title">
        <h1>{{ title|trans }}</h1>
    </div>

    <div class="col-md-12">
        {% include('flash_messages.html.twig') %}
    </div>

    <div class="col-md-12 mb-5">
        <em>
            {{ "Find here the emails that have not reached their recipients because the email address is incorrect or does not exist." | trans }} <br/>
            {{ "Click on the email to correct it and then send it back;" | trans }}
        </em>
        <br>
    </div>

    <div id="bounces-list">
        <bounces-list
            :bounces="{{ bounces|serialize('json', {'groups': 'read_bounce'}) }}"
            {% if preSearch is defined %}
                :pre-search="'{{ preSearch }}'"
            {% endif %}
        />
    </div>
{% endblock %}
