{% extends 'blank_page_lobby_webinar.html.twig' %}

{% set userLang = app.user.getPreferredLang()|default('fr') %}

{% block body_classes_block %}
    {{ parent() }}
    session-detail-signature
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_script_tags('evaluation-session-lobby') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('evaluation-session-lobby') }}
{% endblock %}

{% block header_title %}{{ title|trans }}{% endblock %}
{% block header_sub_title %}
    {% set dateStartLocalized = providerSession.dateStart()|format_datetime('full', 'short', locale=providerSession.language, timezone= providerSession.client.timezone) %}
    {{ 'Reference n° %field_1% - %field_2% - Duration %field_3%'|trans({'%field_1%': providerSession.ref, '%field_2%': dateStartLocalized, '%field_3%': providerSession.datesDiffString}) }}
{% endblock %}

{% block content_title %}{{ providerSession.name }}{% endblock %}
{% block content_sub_title %}
    {% if not providerSession.evaluationAvailable %}
        <div class="alert alert-warning alert-dismissible mt-5">
            {{ 'The evaluation is only available when the session is in progress or completed. Come back later to answer.'|trans }}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="evaluation-session-lobby">
        <evaluation-session-lobby
            :client="{{ client|serialize('json', {'groups': 'read_client'}) }}"
            :provider-session="{{ providerSession|serialize('json', {'groups': 'read_lobby_signature'}) }}"
            :evaluation-provider-session="{{ evaluationProviderSession|serialize('json', {'groups': 'read_lobby_evaluation'}) }}"
            :participant-roles="{{ participantRoles|serialize('json', {'groups': 'read_lobby_signature'}) }}">
        </evaluation-session-lobby>
    </div>
{% endblock %}