{% extends 'blank_page_mockup.html.twig' %}

{% set userLang = app.user.getPreferredLang()|default('fr') %}

{% block body_classes_block %}
    {{ parent() }}
    session-detail-signature
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block header_title %}{{ title|trans }}{% endblock %}
{% block header_sub_title %}{{ 'Form'|trans }}{% endblock %}

{% block content_title %}{{ providerSession.name }}{% endblock %}
{% block content_sub_title %}
    {% set dateStartLocalized = providerSession.dateStart()|format_datetime('full', 'short', locale=userLang) %}
    <span>{{ 'Reference n° %field_1% - %field_2% - Duration %field_3%'|trans({'%field_1%': providerSession.ref, '%field_2%': dateStartLocalized, '%field_3%': providerSession.datesDiffString}) }}</span>
    {% if not providerSession.evaluationAvailable %}
        <div class="alert alert-warning alert-dismissible mt-5">
            {{ 'The evaluation is only available when the session is in progress or completed. Come back later to answer.'|trans }}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="accordion accordion-signature d-flex flex-column" id="accordionSignature">
        {% for participantRole in participantRoles %}
            {% set participant = participantRole.participant %}
            {% set hasAnswer = false %}
            {% for answer in participantRole.evaluationSessionAnswers %}
                {% if answer.evaluationProviderSession.id == evaluationProviderSession.id %}
                    {% set hasAnswer = true %}
                {% endif %}
            {% endfor %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <span>{{ participant.fullName }}</span>
                        <div class="d-flex justify-content-end">
                            <div class="session-btn-form-eval-end-session">
                                    {% if hasAnswer %}
                                        {{ 'Answer sent'|trans }}
                                    {% elseif providerSession.evaluationAvailable %}
                                        <a href="{{ url('_participant_evaluation_session_answer', {'id': evaluationProviderSession.id ,'token': participantRole.providerSessionAccessToken.token }) }}" class="btn btn-primary d-flex align-items-center">
                                            <img src="/build/static/icons/open-target-white.svg" alt="picto open target white" class="me-2">
                                            <span>{{ 'End-of-session evaluation form'|trans }}</span>
                                        </a>
                                    {% else %}
                                        <a href="#" class="btn btn-light d-flex align-items-center">
                                            <img src="/build/static/icons/open-target-white.svg" alt="picto open target white" class="me-2">
                                            <span>{{ 'End-of-session evaluation form'|trans }}</span>
                                        </a>
                                    {% endif %}

                            </div>
                        </div>
                    </div>
                </h2>
            </div>
        {% endfor %}
    </div>
{% endblock %}
