{#{% extends 'emails/base_manager_client.html_alert.twig' %}#}

{% block content %}
    <p>
        <strong>Test vérification des données entrantes sur {{ end_point_domain }}/webhook-brevo/handle</strong><br><br>

        Date d'envoi de l'email : {{ dateSend }}<br><br>

        Détails de l'objet "Request" :<br><br>
    </p>
            <p>Méthode : {{ requestData.method }}</p>
            <p>URI : {{ requestData.uri }}</p>

            <h2>Headers :</h2>
            <ul>
                {% for key, value in requestData.headers %}
                    <li>{{ key }}: {{ value|join(', ') }}</li>
                {% endfor %}
            </ul>

            <h2>Cookies :</h2>
            <ul>
                {% for key, value in requestData.cookies %}
                    <li>{{ key }}: {{ value }}</li>
                {% endfor %}
            </ul>

            <h2>Paramètres de la requête :</h2>
            <ul>
                {% for key, value in requestData.parameters %}
                        {% if key != 'tags' %}
                                <li>{{ key }}: {{ value }}</li>
                        {% else %}
                                <li>tags:
                                    <ul>
                                            {% for tagvalue in value %}
                                                    <li>{{ tagvalue }}</li>
                                            {% endfor %}
                                    </ul>
                                </li>
                        {% endif %}
                {% endfor %}
            </ul>

            <h2>Fichiers :</h2>
            <ul>
                {% for key, value in requestData.files %}
                    <li>{{ key }}: {{ value }}</li>
                {% endfor %}
            </ul>

            <h2>Contenu :</h2>
            <pre>{{ requestData.content }}</pre>

            <h2>Attributs :</h2>
            <pre>{{ requestData.attributes|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>

            <h2>Paramètres de la requête GET :</h2>
            <ul>
                {% for key, value in requestData.query %}
                    <li>{{ key }}: {{ value }}</li>
                {% endfor %}
            </ul>

            <h2>Informations du serveur :</h2>
            <pre>{{ requestData.server|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
{% endblock %}
