{% extends 'emails/base_manager_client.html_alert.twig' %}

{% block content %}
    <p>
        {% trans with {'%remaining_credit%': client.remainingCredit} into lang %}
            Your account only has %remaining_credit%. You can contact your Live Session advisor  to add more.
        {% endtrans %}
    </p>
{% endblock %}

{#// MANAGER#}
