{% extends 'emails/base_manager_client.html_task.twig' %}

{% block content %}
    <p>
        {% trans into lang %}
            Your export has been successfully completed.
        {% endtrans %}
    </p>
    <p>
        {% trans with {'%linkFile%': linkFile} into lang %}
            You can download the file by clicking on this link <a href="%linkFile%">%linkFile%</a>.
        {% endtrans %}
    </p>
    <p>
        <i>
            - {% trans with {'%fileFilterFrom%': fileFilterFrom} into lang %}
                From: %fileFilterFrom%
            {% endtrans %}<br>
        </i>
        <i>
            - {% trans with {'%fileFilterTo%': fileFilterTo} into lang %}
                To: %fileFilterTo%
            {% endtrans %}<br>
        </i>
        <i>
            - {% trans with {'%fileFormat%': fileFormat} into lang %}
                File format: %fileFormat%
            {% endtrans %}<br>
        </i>
    </p>
    <p>
        {% trans into lang %}
            Your export is also available for download from your activity log.
        {% endtrans %}<br>
    </p>
    <p>
        {% trans into lang %}
            Files are retained for 30 days.
        {% endtrans %}
    </p>
{% endblock %}

{#// MANAGER#}
