{% extends 'emails/base_manager_client.html_task.twig' %}

{% block content %}
    <p>
        {% trans into lang %}
            Your request to export ratings has been processed but no data is available for the selected period
        {% endtrans %}
    </p>
    <p>
        <i>
            - {% trans with {'%fileFilterFrom%': fileFilterFrom} into lang %}
                From: %fileFilterFrom%
            {% endtrans %}<br>
        </i>
        <i>
            - {% trans with {'%fileFilterTo%': fileFilterTo} into lang %}
                To: %fileFilterTo%
            {% endtrans %}<br>
        </i>
        <i>
            - {% trans with {'%fileFormat%': fileFormat} into lang %}
                File format: %fileFormat%
            {% endtrans %}<br>
        </i>
    </p>
{% endblock %}

{#// MANAGER#}
