{% extends 'emails/base_manager_client.html_task.twig' %}

{% block content %}
    <p>
        {% trans with {'%error%': error} into lang %}
            Your export of assessments has failed: %error%
        {% endtrans %}
    </p>
    <p>
        {% if fileFilterFrom is defined and  fileFilterFrom is not null %}
        <i>
            - {% trans with {'%fileFilterFrom%': fileFilterFrom} into lang %}
                From: %fileFilterFrom%
            {% endtrans %}<br>
        </i>
        {% endif %}
        {% if fileFilterTo is defined and  fileFilterTo is not null %}
        <i>
            - {% trans with {'%fileFilterTo%': fileFilterTo} into lang %}
                To: %fileFilterTo%
            {% endtrans %}<br>
        </i>
        {% endif %}
        {% if fileFormat is defined and  fileFormat is not null %}
        <i>
            - {% trans with {'%fileFormat%': fileFormat} into lang %}
                File format: %fileFormat%
            {% endtrans %}<br>
        </i>
        {% endif %}
    </p>
{% endblock %}

{#// MANAGER#}
