{% extends 'emails/base_manager_client.html_alert.twig' %}

{% block content %}
    <p>
        {% trans into lang %}
            An error message was sent by the email server of one of the participants because it was impossible to find the recipient.
        {% endtrans %}
    </p>
    <p>
        <i>
            {{ 'First name'|trans }}: {{ userBounce.firstName }}.<br>
        </i>
        <i>
            {{ 'Last name'|trans }}: {{ userBounce.lastName }}.<br>
        </i>
        <i>
            {% trans with {'%email%': emailInvalid} into lang %}
                Email: %email%.<br>
            {% endtrans %}
        </i>
        <i>
            {% trans with {'%object%': objectInvalid} into lang %}
                Email subject: %object%<br>
            {% endtrans %}
        </i>
        <i>
            <a href="{{ url('_user_edit', {id: userBounce.id}) }}">{{ 'Link to correction page'|trans }}</a>
        </i>
    </p>
    <p>
        {% trans into lang %}
            Most likely, this is an email that does not exist or contains a "typo". Correct it in Mylivesession Manager and resend the email to the participant concerned.
        {% endtrans %}
    </p>
    <p>
        {% trans with {'%domain%': end_point_domain }%}
            At any time, you can choose whether or not to receive specific emails or notifications on your My Profile page | Notification Emails (%domain%)
        {% endtrans %}
    </p>
{% endblock %}

{#// MANAGER#}
