{% extends 'emails/base_manager_client.html_alert.twig' %}

{% block content %}
    <p>
        <i>
            {% trans with {'%session_name%': session.getName(), '%routeSession%': route, '%dateSession%': session.getDateStart()|date( 'Y/m/d H:i', 'UTC' )} into lang %}
                There is no animator with the host privilege planned on the session <a href="%routeSession%">%session_name%</a> on %dateSession%
            {% endtrans %}
        </i>
    </p>
{% endblock %}

{#// MANAGER#}
