{% extends 'emails/base_manager_client.html_alert.twig' %}

{% block content %}
    <p>
        {% if ppsr.getRole() == 'animator' %}
            {% trans with {'%session_name%': ppsr.getSession.getName(), '%participant_name%': ppsr.getParticipant().getUser().getFirstName()~' '~ppsr.getParticipant().getUser().getLastName(), '%routeSession%': routeSession} into lang %}
                The animator "%participant_name%" of the session "<a href="%routeSession%">%session_name%</a>" is already present for this same time slot on another session. Consider rescheduling one of the sessions.
            {% endtrans %}
        {% else %}
            {% trans with {'%session_name%': ppsr.getSession.getName(), '%participant_name%': ppsr.getParticipant().getUser().getFirstName()~' '~ppsr.getParticipant().getUser().getLastName(), '%routeSession%': routeSession} into lang %}
                The participant "%participant_name%" of the session "<a href="%routeSession%">%session_name%</a>" is already present for this same time slot on another session. Consider rescheduling one of the sessions.
            {% endtrans %}
        {% endif %}
    </p>
{% endblock %}

{#// MANAGER#}
