{% extends 'emails/base_email.html.twig' %}
{% set style = "overflow-wrap: anywhere; background-color: #fff; border: 1px solid #E9E9E9; padding:20px; font-size: 14px; line-height: 1.5; text-align: center;" %}

{% block core_email %}
    <p><b>Régénérer l'access token des connecteurs suivant :</b></p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="{{style}}">Nom du connecteur</th>
            <th style="{{style}}">Nom du compte</th>
            <th style="{{style}}">Expiration du Token</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td style="{{style}}">{{ item.name }}</td>
                <td style="{{style}}">{{ item.client }}</td>
                <td style="{{style}}">{{ item.expireAt|date('d/m/Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p style="margin-top: 20px;">
        Afin d'assurer la sécurité et la fiabilité de nos connecteurs sur la plateforme Webex, nous vous prions de régénérer <b>les access tokens</b> des connecteurs mentionnés ci-dessus.
    </p>

    <p style="margin-top: 20px;">
        Si vous êtes <b>le service client</b> en charge de la lecture de ce mail, veuillez contacter <b>le service IT</b> pour qu'ils effectuent <b>cette mise à jour</b> dans les meilleurs délais.
    </p>

    <p style="margin-top: 20px;">
        En revanche, si vous faites partie de <b>l'équipe IT</b>, nous vous remercions de procéder à <b>la mise à jour</b> des tokens des connecteurs sur la plateforme Webex. Après cette mise à jour, veuillez effectuer <b>les tests nécessaires</b> et  vous assurer du bon fonctionnement global.
    </p>

    <p style="margin-top: 20px;">
        Nous vous prions de bien vouloir accorder une attention particulière à cette action cruciale afin d'assurer la continuité et la sécurité de nos services.
    </p>

    <p style="margin-top: 20px;">
        Nous vous remercions pour votre coopération et votre dévouement.
    </p>

{% endblock %}
