{% extends 'emails/base_email.html.twig' %}
{% block body %}
    <p><b>Ligne.s non traitée.s ce jour pour Renault</b></p>
    <p>
        {% for info in infos %}
          - La ligne ({{ info.numRow }}) pour la référence Renault "{{ info.referenceRenault }}" prévue pour la date du {{ info.dateStart }}  n'a pas été traitée !<br>
        {% endfor %}
    </p>
{% endblock %}
