{% extends 'emails/base_manager_client.html_alert.twig' %}

{% block content %}
    <p>{{ 'Alerts and errors'|trans({}, null, lang) }} : </p>
    <p style="margin-left: 15px">
            {% if role == 'trainee' %}
                {% trans with {'%session%': session.getName(), '%route%': route} into lang %}
                    No participant planned at session <a href="%route%">%session%</a>!
                {% endtrans %}
            {% else %}
                {% trans with {'%session%': session.getName(), '%route%': route} into lang %}
                    No animator planned at session <a href="%route%">%session%</a>!
                {% endtrans %}
            {% endif %}
    </p>
    <br>
    <p><a href="{{ path('_home') }}">{{ 'Login to your account'|trans({}, null, lang) }}</a> {{ 'to address this issue.'|trans({}, null, lang) }} </p>
{% endblock %}

{#// MANAGER#}
