{% extends 'emails/base_manager_client.html_alert.twig' %}

{% block content %}
    <p>
        <i>
            {% trans with {'%session%': session.getName(), '%route%': route} into lang %}
                There are several animators on the session  "<a href="%route%">%session%</a>"!
            {% endtrans %}
        </i>
    </p>
{% endblock %}

{#// MANAGER#}
