{% extends 'blank_page.html.twig' %}

{% block blank_body %}
    {% set langSession = providerSession.language %}
    {% if providerSession is not empty %}
        <div class="col-12 p-4 text-center">
            <div title="Add to Calendar" class="addeventatc">
                {{ title | trans(locale=langSession) }}
                <span class="start">{{ providerSession.dateStart | date( 'Y/m/d H:i', providerSession.client.timezone ) }}</span>
                <span class="end">{{ providerSession.dateEnd | date( 'Y/m/d H:i', providerSession.client.timezone ) }}</span>
                <span class="timezone">{{ providerSession.client.timezone }}</span>
                <span class="title">{{ providerSession.name }}</span>
                {% if providerSession.category == constant('App\\Entity\\CategorySessionType::CATEGORY_SESSION_WEBINAR') %}
                    <span class="description">
						{{ 'Hello'| trans(locale=langSession) }} {{ ppsr.firstName }} {{ ppsr.lastName }}, <br/><br/>
                        {{ 'Thank you for registering for the webinar: "%title%" - On %date_start% at %time_start%.'|trans({'%title%': providerSession.name, '%date_start%': providerSession.dateStart | date( 'd/m/Y', providerSession.client.timezone), '%time_start%': providerSession.dateStart | date( 'H:i', providerSession.client.timezone )}, null, langSession) }} <br/><br/>
                        {{ "To access the webinar on the day, log in to the event's virtual room and activate the sound:"|trans(locale=langSession) }} <br/>
                        {{ url('_session_access_plateforme', {'token' : token}) }} <br/><br/>
                        {{ "Got a problem? Have a question? A doubt? Don't hesitate to contact us, and one of our advisors will be happy to help: serviceclient@live-session.fr / 0970 407 907."|trans(locale=langSession) }} <br/><br/>
                        {{ "We look forward to welcoming you to this webinar,"|trans(locale=langSession) }} <br/><br/>
                        {{ "The %client_name% team"|trans({'%client_name%': providerSession.client.name}, null, langSession) }}
					</span>
                {% else %}
                    <span class="description">
					{{ 'Hello'| trans(locale=langSession) }} {{ ppsr.firstName }} {{ ppsr.lastName }}, <br/><br/>
					{{ 'You are registered for the session'| trans(locale=langSession) }} : " {{ providerSession.name }}  {{ 'the'| trans(locale=langSession) }} {{ providerSession.dateStart | date( 'd/m/Y H:i', providerSession.client.timezone ) }} " {{ 'organized by'| trans(locale=langSession) }} {{ providerSession.client.name }} <br>
					{{ 'Follow the link to connect on the day J:'| trans(locale=langSession) }}
					{{ url('_session_access_plateforme', {'token' : token}) }}<br>
					{{ 'Find all the information in your invitation'|trans(locale=langSession) }} : {{ end_point_domain ~ path('_trainee_convocation_show', {'token': token}) }}<br>
					{{ 'For any changes to your registration, we invite you to contact your training manager to update your convocation.'|trans(locale=langSession) }}<br>
					{{ 'Good session'| trans(locale=langSession) }} , <br>
					{{ 'The team'| trans(locale=langSession) }} {{ providerSession.client.name }} <br>
				</span>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
{% endblock %}
