<h2> Salle </h2>
{{ form_row(form.type) }}
{{ form_row(form.admittedSession) }}
{{ form_row(form.roomModel) }}
{{ form_row(form.urlPath, { 'attr':{'disabled':'disabled'} }) }}
<br>
<br>
{{ form_row(form.providerAudio) }}