{% extends 'blank_page.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('session-access-request-password-tooltip') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('session-access-request-password-tooltip') }}
{% endblock %}

{% block blank_body %}
	<div style="max-width: 440px;">
		{{ 'Hello %username%'|trans({'%username%': participant.user.fullName}) }}, <br>
		{{ 'Please enter your login password for Adobe Connect.'|trans }}

		<span id="session-access-request-password-tooltip">
			<session-access-request-password-tooltip domain="{{ providerSession.abstractProviderConfigurationHolder.domain }}" />
		</span>

		<form method="post" style="width: 100%;" class="pt-2">
			{{ form_errors(form) }}
			{{ form_row(form.password) }}
			<div class="buttons float-end">
				<button type="submit" class="btn btn-primary primary-btn">{{ 'Send'|trans }}</button>
			</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
