{% set disableNavigation = not is_granted('ROLE_MANAGER') %}

{% extends 'main.html.twig' %}

{% set provider = providerSession.provider %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('base') }}
    {{ encore_entry_link_tags('sessions-tabs') }}
    {{ encore_entry_link_tags('session-header') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sessions-tabs') }}
    {{ encore_entry_script_tags('session-header') }}
    {{ encore_entry_script_tags('tags-input') }}
{% endblock %}

{% block main %}
    {% if disableNavigation is not defined or not disableNavigation  %}
        <a class="button" href="{{ url('_session_viewer') }}">
            {{ 'Back' | trans }}
        </a>
    {% endif %}

    <header>
        {% include 'sessions/top_infos.html.twig' %}
    </header>

    <div class="col-md-12">
        {% include('flash_messages.html.twig') %}
    </div>
    {#{{ listNewTimezones | serialize }}#}
    <section>
        <div class="col-md-12">
            {% include('flash_messages.html.twig') %}
        </div>
        <div id="sessions-tabs">
            <session-tabs
                tab-name="{{ tabName }}"
                :session-nature-values="{{ getTrainingActionNatureEnumValues() | serialize }}"
                :session="{{ providerSession | serialize('json', {'groups': 'read_session'}) }}"
                :bounced-mails="{{ bouncedMails|serialize('json', {'groups': 'read_participant'}) }}"
                :client-services="{{ providerSession.getClient().getServices() | serialize('json', {'groups': 'read_client_services'}) }}"
                :client-modules="{{ providerSession.getClient().getSelfSubscriptionModules() | serialize('json', {'groups': 'read_session'}) }}"
                :read-only="{{ readOnly ? 'true' : 'false' }}"
                :show-update-success = "{{ showUpdateSuccess is same as 'true' ? 'true' : 'false' }}"
                :user-actions="{{ userActions | serialize }}"
                :user="{{ app.user | serialize('json', {'groups': 'read_grouped_activities'}) }}"
                :list-new-timezones="{{ listNewTimezones | serialize }}"
                :import-restrictions="{{ importRestrictions | serialize }}"
            >
            </session-tabs>
        </div>
    </section>
{% endblock %}

{% block modals %}
    {% include 'sessions/modal_send_attendance_report_mail.html.twig' with {form: sendMailForm} %}
    {% include 'sessions/modal_send_training certificate_mail.html.twig' %}
    {% include 'sessions/modal_send_test_notification.html.twig' with {form: sendTestConvocationMailForm} %}
{% endblock %}
