{% extends 'main.html.twig' %}

{% set routeActive = '_session_viewer' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('sessions-viewer') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sessions-viewer') }}
{% endblock %}

{% block main %}
    <div class="page-title">
        <h1>{{ title|trans }}</h1>
        <a href="{{ url('_session_create_from_wizard') }}" title="" class="primary-btn">
            <img src="{{ asset('build/static/icons/plus-white.svg') }}" class="me-2">
            {{ 'New'|trans }}</a>
    </div>
    <div class="col-md-12">
        {% include('flash_messages.html.twig') %}
    </div>
    <div id="sessions-viewer">
        <sessions-viewer
            :is-admin="{{ is_granted('ROLE_HOTLINE_CUSTOMER_SERVICE')?'true':'false' }}"
            :user="{{ app.user | serialize('json', {'groups': 'read_user_session_list'}) }}"
            :clients="{{ clients | serialize('json', {'groups': 'read_session_list'}) }}"
            :import-restrictions="{{ importRestrictions | serialize }}"
            :all-configuration-holder="{{ allConfigurationHolder | serialize('json', {'groups': 'read_session_list'}) }}"
            :all-registration-page-templates="{{ allRegistrationPageTemplates | serialize('json', {'groups': 'read_session_list'}) }}"
            :all-catalogs="{{ allCatalogs | serialize('json', {'groups': 'read_session_list'}) }}"
            :bounced-mails="{{ bouncedMails|serialize('json', {'groups': 'read_bounce_session_list'}) }}"
            {% if preSearch is defined and preSearch is not null %}
                :pre-search="'{{ preSearch }}'"
            {% endif %}
            {% if allowOutdated is defined and allowOutdated is not null %}
                :allow-outdated="{{ allowOutdated ? 1 : 0 }}"
            {% endif %}
            user-token="{{ app.user.token }}"
        />
    </div>
{% endblock %}

{% block modals %}
{% endblock %}
