<div class="modal fade bd-example-modal-lg" id="sendTestNotificationMail" tabindex="-1" aria-labelledby="convocationShortsCodesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                {% if providerSession.category != constant('App\\Entity\\CategorySessionType::CATEGORY_SESSION_WEBINAR') %}
                    <h5 class="modal-title">{{ 'Test sending invitation' | trans }}</h5>
                {% else %}
                    <h5 class="modal-title">{{ 'Test sending communication' | trans }}</h5>
                {% endif %}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="modal-title">{{ 'Indicate the email addresses to which all emails to participants and facilitators will be sent for this test.' | trans }}</p>
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>