<div class="modal fade bd-example-modal-lg" id="sendTrainingCertificate" tabindex="-1" aria-labelledby="convocationShortsCodesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'An email will be sent to participants. Continue ?' | trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary" href="{{ url('_session_send_training_certificate', {'id': providerSession.id}) }}"> {{ 'Continue' | trans }} </a>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal"> {{ 'Cancel' | trans }}</button>
            </div>
        </div>
    </div>
</div>