<tr>
    <th scope="row">{{ participant.name }}</th>
    <td>{{ participant.email }}</td>
    <td class="text-end d-flex justify-content-end align-items-center">
        <div class="connected-indicator me-2"></div>
        <div class="dropdown">
            <div data-bs-toggle="dropdown">
                <img src="{{ asset('build/static/icons/options.svg') }}">
            </div>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item align-items-center" href="#">
                        <img src="{{ asset('build/static/icons/edit-small-green.svg') }}" class="me-2">
                        <b>{{ 'Edit'|trans }}</b>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item align-items-center" href="#">
                        <img src="{{ asset('build/static/icons/trash-small.svg') }}" class="me-2">
                        <b>{{ 'Delete'|trans }}</b></a>
                </li>
                <li role="button">
                    <a class="dropdown-item align-items-center" href="#">
                        <img src="{{ asset('build/static/icons/small-ban-green.svg') }}" class="me-2">
                        <b>{{ 'Cancel'|trans }}</b>
                    </a>
                </li>
            </ul>
        </div>
    </td>
</tr>