{% extends 'blank_page.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('session-evaluation-synthesis') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('session-evaluation-synthesis') }}
{% endblock %}
{% block blank_body %}
    {% if providerSession is not empty %}
        <div id="session-evaluation-synthesis">
            <session-evaluation-synthesis
                :session="{{ providerSession | serialize('json', {'groups': 'session:evaluation:synthesis'}) }}"
                :evaluation-provider-session="{{ evaluationProviderSession | serialize('json', {'groups': 'session:evaluation:synthesis'}) }}"
            >
            </session-evaluation-synthesis>
        </div>
    {% endif %}
{% endblock %}


