{% extends 'blank_page.html.twig' %}

{% block blank_body %}
	{% if providerSession is not empty %}
		<div class="col-12 p-4 text-center">
			<a href="#" class="btn btn-primary">{{ 'Try again' | trans }}</a>
		</div>
	{% endif %}
{% endblock %}
