{% set userLang = app.user.getPreferredLang() %}

<header>
    <div class="wrapper-header d-flex align-items-start justify-content-between mb-5">
        {% include "ui/confirmationPopIn.html.twig" with {
            'id': "validate_session",
            'title': "Validate the draft"|trans,
            'content': "Do you want to validate this session?"|trans,
            'confirmUrl': path('_session_validate', {'id': providerSession.id}),
        } %}
        {% include "ui/confirmationPopIn.html.twig" with {
            'id': "delete_session",
            'title': "Delete session"|trans,
            'content': "Do you want to delete this session?"|trans,
            'confirmUrl': path('_session_delete', {'id': providerSession.id}),
        } %}
        {% include "ui/confirmationPopIn.html.twig" with {
            'id': "cancel_session",
            'title': "Cancel session"|trans,
            'content': "Do you want to cancel this session?"|trans,
            'confirmUrl': path('_session_cancel', {'id': providerSession.id}),
        } %}

        {% include "ui/confirmationPopIn.html.twig" with {
            'id': "uncancel_session",
            'title': "Uncancel session"|trans,
            'content': "Do you want to uncancel this session?"|trans,
            'confirmUrl': path('_session_uncancel', {'id': providerSession.id}),
        } %}
        <div id="session-header">
            <session-header
                    :has-bounce="{{ bouncedMails|length }} > 0"
            ></session-header>
        </div>
        <div class="wrapper-header__actions d-flex flex-column align-items-end justify-content-between mt-3">
            <div class="wrapper-header__actions__save-and-more d-flex align-items-center">
                {% if not readOnly or hasACommunicationThankYouType %}
                    <div id="session-submit">
                        <session-submit/>
                    </div>
                {% endif %}

                <div role="button" class="more-btn mx-2" data-bs-toggle="dropdown"
                     aria-expanded="false"
                >
                    <img src="{{ asset('build/static/icons/more.svg') }}"/>
                </div>
                <ul class="dropdown-menu dropdown-menu-end">
                    {% if (providerSession.status() == constant('App\\Entity\\ProviderSession::STATUS_DRAFT')) and
                        (providerSession.category != constant('App\\Entity\\CategorySessionType::CATEGORY_SESSION_WEBINAR')) and
                        autorizedValidateDraft %}
                        <li>
                            <a
                                    class="dropdown-item d-flex align-items-center"
                                    type="button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#twigConfirmationPopIn_validate_session"
                            >
                                <img
                                        src="{{ asset('build/static/icons/validate.svg') }}"
                                        alt="picto save"
                                >
                                <span>
                                    {{ 'Validate the draft' | trans }}
                                </span>
                            </a>
                        </li>
                    {% endif %}
                    {% if not readOnly and is_granted('delete', providerSession) and not canDeleteSession %}
                        <li>
                            <a
                                    data-bs-toggle="modal"
                                    data-bs-target="#twigConfirmationPopIn_delete_session"
                                    class="dropdown-item d-flex align-items-center" type="button"
                            >
                                <img
                                        src="{{ asset('build/static/icons/trash-small.svg') }}"
                                        alt="picto trash small green"
                                >
                                <span>
                                    {{ 'Delete session' | trans }}
                                </span>
                            </a>
                        </li>
                    {% endif %}
                    {% if not readOnly and is_granted('cancel', providerSession) and not providerSession.isCancelled %}
                        <li>
                            <a
                                    class="dropdown-item d-flex align-items-center"
                                    data-bs-toggle="modal"
                                    data-bs-target="#twigConfirmationPopIn_cancel_session"
                                    type="button"
                            >
                                <img
                                        src="{{ asset('build/static/icons/small-ban-green.svg') }}"
                                        alt="picto cancel green"
                                >
                                <span>
                                    {{ 'Cancel session' | trans }}
                                </span>
                            </a>
                        </li>
                    {% endif %}
                    {% if not readOnly and providerSession.isCancelled %}
                        <li>
                            <a
                                    class="dropdown-item d-flex align-items-center"
                                    data-bs-toggle="modal"
                                    data-bs-target="#twigConfirmationPopIn_uncancel_session"
                                    type="button"
                            >
                                <img
                                        src="{{ asset('build/static/icons/small-ban-green.svg') }}"
                                        alt="picto cancel green"
                                >
                                <span>
                                    {{ 'Uncancel session' | trans }}
                                </span>
                            </a>
                        </li>
                    {% endif %}
                    {#                    <li><button class="dropdown-item d-flex align-items-center" type="button"><img src="{{ asset('build/static/icons/email-green-small.svg') }}" alt="picto test send email green"><span>{{ 'Test the email convocation' | trans }}</span></button></li> #}
                    {% if providerSession.category != constant('App\\Entity\\CategorySessionType::CATEGORY_SESSION_REUNION') %}
                        <li>
                            <button class="dropdown-item d-flex align-items-center"
                                    {% if not providerSession.attendanceReportAvailable %}
                                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
                                        title="{{ "The attendance report will be available 24 hours after the end of the session."|trans }}"
                                    {% else %}
                                        type="button" data-bs-toggle="modal" data-bs-target="#sendAttendanceReport"
                                    {% endif %}
                            >
                                <img src="{{ asset('build/static/icons/send-green.svg') }}" alt="picto send green"
                                     height="12px"
                                >
                                <span{% if not providerSession.attendanceReportAvailable %} class="text-muted"{% endif %}>{{ 'Send attendance reports' | trans }}</span>
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item d-flex align-items-center"
                                    {% if not providerSession.attendanceReportAvailable %}
                                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
                                        title="{{ "The attendance report will be available 24 hours after the end of the session."|trans }}"
                                    {% else %}
                                        type="button" data-bs-toggle="modal" data-bs-target="#sendTrainingCertificate"
                                    {% endif %}
                            >
                                <img src="{{ asset('build/static/icons/send-green.svg') }}" alt="picto send green"
                                     height="12px"
                                >
                                <span{% if not providerSession.attendanceReportAvailable %} class="text-muted"{% endif %}>{{ 'Send certificates to participants' | trans }}</span>
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item d-flex align-items-center" type="button" data-bs-toggle="modal"
                                    data-bs-target="#sendTestNotificationMail"
                            >
                                <img src="{{ asset('build/static/icons/send-green.svg') }}" alt="picto send green"
                                     height="12px"
                                >
                                {% if providerSession.category != constant('App\\Entity\\CategorySessionType::CATEGORY_SESSION_WEBINAR') %}
                                    <span class="text-black">{{ 'Test sending invitation' | trans }}</span>
                                {% else %}
                                    <span class="text-black">{{ 'Test sending communication' | trans }}</span>
                                {% endif %}
                            </button>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('_session_redirect_connector', {'id': providerSession.id}) }}"
                               class="dropdown-item d-flex align-items-center" type="button" target="_blank"
                            >
                                <img src="{{ asset('build/static/icons/arrow-blue.svg') }}"/>
                                <span>{{ 'Virtual room' | trans }}</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            {% if providerSession.category != constant('App\\Entity\\CategorySessionType::CATEGORY_SESSION_REUNION') %}
                <div class="wrapper-header__actions__download d-flex align-items-center" data-bs-toggle="dropdown"
                     aria-expanded="false" role="button" data-bs-auto-close="outside"
                >
                    <img src="{{ asset('build/static/icons/download.svg') }}" alt="picto download">
                    <span>{{ 'Download' | trans }}</span>
                </div>
                <form class="dropdown-menu export-dropdown__content" method="post"
                      action="{{ path('_session_download_export', {'id': providerSession.id}) }}" target="_blank"
                >
                    <div id="session-export-modal">
                        <session-export-modal
                                :attendance-report-available="{{ providerSession.attendanceReportAvailable is same as true ? 'true' : 'false' }}"
                                :session-is-finished="{{ providerSession.finished is same as true ? 'true' : 'false' }}"
                                :is-meeting-category-type="{{ providerSession.category is same as constant('App\\Entity\\CategorySessionType::CATEGORY_SESSION_REUNION') ? 'false' : 'true' }}"
                                :is-webinar-category-type="{{ providerSession.category is same as constant('App\\Entity\\CategorySessionType::CATEGORY_SESSION_WEBINAR') ? 'true' : 'false' }}"
                                :session-id="{{ providerSession.id }}"
                        ></session-export-modal>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</header>
