{% extends 'wizard.html.twig' %}

{% set routeActive = '_session_create_from_wizard' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('create-session-wizard') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('create-session-wizard') }}
{% endblock %}

{% block base_body %}

    <div id="create-session-wizard">
        <create-session-wizard
            :list-new-timezones="{{ listNewTimezones | serialize }}"
            :clients="{{ clients|serialize('json', {'groups': 'read_client'}) }}"
            :restrictions="{{ importRestrictions | serialize  }}"
            :user="{{ user|serialize('json', {'groups': 'read_user'}) }}"
            :target-client-for-current-user="{{ targetClientIdForCurrentUser }}"
            :session-nature-values="{{ getTrainingActionNatureEnumValues() | serialize }}">
        </create-session-wizard>
    </div>

{% endblock %}
