<template>
  <div>
    <p>{{ $translator.trans('Fields marked * are mandatory') }}</p>

    <div
      v-for="(element, index) in module.registrationForm"
      :key="index"
      class="mb-3"
    >
      <div
        v-if="element.type === 'firstName'"
        class="mb-3"
      >
        <label
          for="register-firstname"
          class="form-label"
        >
          {{ $translator.trans('Firstname') }}
          <sup
            class="required text-danger"
            :title="$translator.trans('Required')"
          >*</sup>
        </label>
        <input
          id="register-firstname"
          ref="firstname"
          name="register-firstname"
          type="text"
          required
          class="form-control mb-4"
          :placeholder="$translator.trans('Firstname')"
          @input="formValidation('firstname')"
        >
        <div
          v-if="isFirstNameEmpty"
          class="rules-visualizer row"
        >
          <div class="col-12">
            <ul>
              <li class="text-muted">
                {{ $translator.trans('Field can not be empty') }}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div
        v-if="element.type === 'lastName'"
        class="mb-3"
      >
        <label
          for="register-lastname"
          class="form-label"
        >
          {{ $translator.trans('Lastname') }}
          <sup
            class="required text-danger"
            :title="$translator.trans('Required')"
          >*</sup>
        </label>
        <input
          id="register-lastname"
          ref="lastname"
          name="register-lastname"
          type="text"
          required
          class="form-control mb-4"
          :placeholder="$translator.trans('Lastname')"
          @input="formValidation('lastname')"
        >
        <div
          v-if="isLastNameEmpty"
          class="rules-visualizer row"
        >
          <div class="col-12">
            <ul>
              <li class="text-muted">
                {{ $translator.trans('Field can not be empty') }}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div
        v-if="element.type === 'email_system'"
        class="mb-3"
      >
        <label
          for="register-email"
          class="form-label"
        >
          {{ module.emailLabel }}
          <sup
            class="required text-danger"
            :title="$translator.trans('Required')"
          >*</sup>
        </label>
        <div class="mb-4">
          <input
            id="register-email"
            ref="email"
            v-model="email"
            required
            name="register-email"
            type="email"
            class="form-control"
            :placeholder="module.emailPlaceholder"
            @input="formValidation('email')"
          >
        </div>
        <div
          v-if="isInvalidEmail"
          class="rules-visualizer row"
        >
          <div class="col-12">
            <ul>
              <li class="text-muted">
                {{ $translator.trans('Invalid email format') }}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div
        v-if="element.type === 'password'"
        class="mb-3"
      >
        <label
          for="register-password"
          class="form-label"
        >
          {{ $translator.trans('Password') }}
          <sup
            class="required text-danger"
            :title="$translator.trans('Required')"
          >*</sup>
        </label>
        <div class="input-group mb-4">
          <input
            id="register-password"
            ref="password"
            v-model="password"
            name="register-password"
            :type="passwordFieldType"
            required
            class="form-control"
            :placeholder="$translator.trans('Password')"
            @input="formValidation('password')"
          >
          <span
            class="input-group-text see-password"
            :class="{active: showPassword}"
            @click="showPassword = !showPassword"
          >
            <i class="icon icon-eye" />
          </span>
        </div>
        <PasswordRulesVisualizer :password="password" />
      </div>

      <div
        v-if="element.type === 'text' && element.displayed"
        class="form__item mb-4"
      >
        <label
          :for="'register-' + element.type + '-' + index"
          class="form-label"
        >
          {{ $translator.trans(element.question) }}
          <sup
            v-if="element.obligatory"
            class="required text-danger"
            :title="$translator.trans('Required')"
          >*</sup>
        </label>
        <input
          :id="'register-' + element.type + '-' + index"
          v-model="element.response"
          :required="element.obligatory"
          class="form-control"
          :placeholder="$translator.trans(element.question)"
          @input="isFormRegistrationValid()"
        >
      </div>

      <div
        v-if="element.type === 'company' && element.displayed"
        class="mb-3"
      >
        <label
          for="register-company"
          class="form-label"
        >{{ module.companyLabel }}</label>
        <sup
          v-if="element.obligatory"
          class="required text-danger"
          :title="$translator.trans('Required')"
        >*</sup>
        <div class="mb-4">
          <input
            id="register-company"
            ref="company"
            name="register-company"
            :required="element.obligatory"
            type="text"
            class="form-control"
            :placeholder="module.companyPlaceholder"
            @input="formValidation('company')"
          >
        </div>
      </div>

      <div
        v-if="element.type === 'phone_system' && element.displayed"
        class="mb-3"
      >
        <label
          for="register-phone-system"
          class="form-label"
        >
          {{ $translator.trans('Cellphone') }}
          <sup
            v-if="element.obligatory"
            class="required text-danger"
            :title="$translator.trans('Required')"
          >*</sup>
        </label>
        <input
          id="register-phone"
          ref="phone"
          v-model="phone"
          name="register-phone"
          :required="element.obligatory"
          type="tel"
          class="form-control mb-4"
          :placeholder="$translator.trans('Cellphone')"
          @input="formValidation('phone')"
        >
      </div>

      <div
        v-if="element.type === 'textarea' && element.displayed"
        class="form__item mb-4"
      >
        <label class="form-label">
          {{ $translator.trans(element.question) }}
          <sup
            v-if="element.obligatory"
            class="required text-danger"
            :title="$translator.trans('Required')"
          >*</sup>
        </label>
        <textarea
          v-model="element.response"
          :placeholder="$translator.trans(element.question)"
          class="form-control"
          :required="element.obligatory"
          style="min-height: 80px"
          @input="isFormRegistrationValid()"
        />
      </div>
      <div
        v-else-if="element.type === 'email' && element.displayed"
        class="form__item mb-4"
      >
        <label class="form-label">
          {{ $translator.trans(element.question) }}
          <sup
            v-if="element.obligatory"
            class="required text-danger"
            :title="$translator.trans('Required')"
          >*</sup>
        </label>
        <input
          v-model="element.response"
          :placeholder="$translator.trans(element.question)"
          class="form-control"
          type="email"
          :required="element.obligatory"
          @input="isFormRegistrationValid()"
        >
      </div>
      <div
        v-else-if="element.type === 'number' && element.displayed"
        class="form__item mb-4"
      >
        <label class="form-label">
          {{ $translator.trans(element.question) }}
          <sup
            v-if="element.obligatory"
            class="required text-danger"
            :title="$translator.trans('Required')"
          >*</sup>
        </label>
        <input
          v-model="element.response"
          :placeholder="$translator.trans(element.question)"
          class="form-control"
          type="number"
          :required="element.obligatory"
          @input="isFormRegistrationValid()"
        >
      </div>
      <div
        v-else-if="element.type === 'tel' && element.displayed"
        class="form__item mb-4"
      >
        <label class="form-label">
          {{ $translator.trans(element.question) }}
          <sup
            v-if="element.obligatory"
            class="required text-danger"
            :title="$translator.trans('Required')"
          >*</sup>
        </label>
        <input
          v-model="element.response"
          :placeholder="$translator.trans(element.question)"
          class="form-control"
          pattern="^(?:(?:\+|00)33|0)\s*[1-9](?:[\s.-]*\d{2}){4}$"
          :required="element.obligatory"
          type="tel"
          @input="isFormRegistrationValid()"
        >
      </div>
      <div
        v-else-if="element.type === 'date' && element.displayed"
        class="form__item col-8 mb-4"
      >
        <label class="form-label">
          {{ $translator.trans(element.question) }}
          <sup
            v-if="element.obligatory"
            class="required text-danger"
            :title="$translator.trans('Required')"
          >*</sup>
        </label>
        <datetime
          v-model="element.response"
          type="date"
          input-class="date inline form-control form-control-sm"
          class="input-group datetime-picker-primary"
          :required="element.obligatory"
          :placeholder="$translator.trans(element.question)"
          @input="isFormRegistrationValid()"
        >
          <template slot="after">
            <div
              class="ml-auto d-flex"
              style="margin-left: 10px;"
            >
              <img
                src="/icons/calendar-date-green.svg"
                class="calendar"
              >
            </div>
          </template>
        </datetime>
      </div>
      <div
        v-else-if="element.type === 'select' && element.displayed"
        class="form__item mb-4"
      >
        <label class="form-label">
          {{ $translator.trans(element.question) }}
          <sup
            v-if="element.obligatory"
            class="required text-danger"
            :title="$translator.trans('Required')"
          >*</sup>
        </label>
        <select
          v-model="element.response"
          class="form-control"
          :required="element.obligatory"
          @change="isFormRegistrationValid()"
        >
          <option
            v-for="(value, indexValue) in element.options"
            :key="indexValue"
            :value="value.response"
          >
            {{ $translator.trans(value.response) }}
          </option>
        </select>
      </div>
      <div
        v-else-if="element.type === 'radio' && element.displayed"
        class="mb-3"
        style="margin-left: 10px;"
      >
        <label class="form-label">
          {{ $translator.trans(element.question) }}
          <sup
            v-if="element.obligatory"
            class="required text-danger"
            :title="$translator.trans('Required')"
          >*</sup>
        </label>
        <div
          v-for="(value, indexValue) in element.options"
          :key="indexValue"
          class="col"
          style="margin-left: 10px"
        >
          <input
            v-model="myRadioShow[index]"
            :value="value.response"
            class="form-check-input ms-1"
            type="radio"
            @change="updateInputRadioBoxValue(element,index)"
          >
          <label for="all-users">{{ $translator.trans(value.response) }}</label>
        </div>
      </div>

      <div
        v-else-if="element.type === 'checkbox' && element.displayed"
        class="mb-3"
        style="margin-left: 10px;"
      >
        <label class="form-label">
          {{ $translator.trans(element.question) }}
          <sup
            v-if="element.obligatory"
            class="required text-danger"
            :title="$translator.trans('Required')"
          >*</sup>
        </label>
        <div
          v-for="(value, indexValue) in element.options"
          :key="indexValue+value"
          class="col"
          style="margin-left: 10px"
        >
          <input
            :id="'checkbox-'+indexValue"
            v-model="selectedCheckboxShow[index]"
            :value="value.response"
            class="form-check-input ms-1"
            type="checkbox"
            @change="updateInputCheckboxValue(element,index)"
          >
          <label>{{ $translator.trans(value.response) }}</label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PasswordRulesVisualizer from '../login-register/rules-visualizer/PasswordRulesVisualizer.vue'
import * as emailCheckerUtils from '../login-register/rules-visualizer/email-checker.utils'
import * as passwordCheckerUtils from '../login-register/rules-visualizer/password-checker.utils'

export default {
  name: 'RegisterFormPart',
  components: { PasswordRulesVisualizer },
  props: {
    module: {
      type: Object,
      required: true
    },
    defaultEmail: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      formRegistrationValid: false,
      showPassword: false,
      email: this.defaultEmail,
      phone: null,
      myRadioShow: {},
      selectedCheckboxShow: {},
      password: '',
      invalidFields: { lastname: 'invalid', firstname: 'invalid', email: 'invalid', password: 'invalid' }
    }
  },
  computed: {
    passwordFieldType () {
      return this.showPassword
        ? 'text'
        : 'password'
    },
    isFirstNameEmpty () {
      return 'firstname' in this.invalidFields && this.invalidFields.firstname === 'empty'
    },
    isLastNameEmpty () {
      return 'lastname' in this.invalidFields && this.invalidFields.lastname === 'empty'
    },
    isInvalidEmail () {
      return 'email' in this.invalidFields && this.invalidFields.email === 'invalid'
    }
  },
  watch () {
    this.$emit('subscribe-error', (this.invalidFields.lastname !== '' ||
            this.invalidFields.firstname !== '' ||
            this.invalidFields.email !== '' ||
            this.invalidFields.password !== '')    ||
        !this.isFormRegistrationValid())
  },
  mounted () {
    this.$parent.$on('submit-form', (data) => {
      data(!this.isFormRegistrationValid())
    })
  },
  methods: {
    ...emailCheckerUtils,
    ...passwordCheckerUtils,
    updateInputCheckboxValue (element, index) {
      element.response = this.selectedCheckboxShow[index]
      this.isFormRegistrationValid()
    },
    updateInputRadioBoxValue (element, index) {
      element.response = this.myRadioShow[index]
      this.isFormRegistrationValid()
    },
    formValidation (field) {
      if (this.$refs[field].value === '' || this.$refs[field].value === null) {
        this.invalidFields[field] = 'empty'
      } else {
        this.invalidFields[field] = ''
      }
      switch (field) {
        case 'email':
          if (!this.isValidEmail(this.email)) {
            this.invalidFields[field] = 'invalid'
          } else {
            this.invalidFields[field] = ''
          }
          break
        case 'password':
          if (!this.matchWithAllRequirements(this.password)) {
            this.invalidFields[field] = 'invalid'
          } else {
            this.invalidFields[field] = ''
          }
          break
        case 'lastname':
          if (this.$refs[field].value === '' || this.$refs[field].value === null) {
            this.invalidFields[field] = 'empty'
          } else {
            this.invalidFields[field] = ''
          }
          break
        case 'firstname':
          if (this.$refs[field].value === '' || this.$refs[field].value === null) {
            this.invalidFields[field] = 'empty'
          } else {
            this.invalidFields[field] = ''
          }
          break
        default:
          break
      }
      this.isFormRegistrationValid()
    },
    isFormRegistrationValid () {
      if (this.module.registrationForm) {
        const formRegistrationValid = []
        this.module.registrationForm.forEach((element, index) => {
          switch (element.type) {
            case 'radio':
              if (element.obligatory) {
                if (typeof this.myRadioShow[index] === 'undefined') {
                  formRegistrationValid[index] = false
                  return false
                } else {
                  formRegistrationValid[index] = this.myRadioShow[index] !== null
                }
              }
              break
            case 'checkbox':
              if (element.obligatory) {
                if (typeof this.selectedCheckboxShow[index] === 'undefined') {
                  formRegistrationValid[index] = false
                } else if (this.selectedCheckboxShow[index].length === 0) {
                  formRegistrationValid[index] = false
                } else {
                  formRegistrationValid[index] = this.selectedCheckboxShow[index].length > 0
                }
              }
              break
            case 'tel': {
              if (element.obligatory) {
                const regex = /^(?:(?:\+|00)33|0)\s*[1-9](?:[\s.-]*\d{2}){4}$/
                formRegistrationValid[index] = regex.test(element.response)
              }
              break
            }
            case 'email_system':
              formRegistrationValid[index] = this.isValidEmail(this.email)
              break
            case 'password':
              formRegistrationValid[index] = this.matchWithAllRequirements(this.password)
              break
            case 'lastName':
              formRegistrationValid[index] = this.invalidFields.lastname === ''
              break
            case 'firstName':
              formRegistrationValid[index] = this.invalidFields.firstname === ''
              break
            case 'phone_system':
              if (element.obligatory) {
                const regex = /^(?:(?:\+|00)33|0)\s*[1-9](?:[\s.-]*\d{2}){4}$/
                formRegistrationValid[index] = regex.test(this.phone)
              }
              break
            case 'company':
              if (element.obligatory) {
                formRegistrationValid[index] = this.invalidFields.company === ''
              }
              break
            default:
              if (element.obligatory) {
                if (element.response === '') {
                  formRegistrationValid[index] = false
                } else {
                  formRegistrationValid[index] = element.response !== ''
                }
              }
              break
          }
        })
        this.formRegistrationValid = !formRegistrationValid.includes(false)
      }
      return this.formRegistrationValid
    }
  }
}
</script>
