<template>
  <div class="session-steps d-flex">
    <select-date-bullet />
    <div
      class="sep"
      :class="{active: isStepActive('createSession')}"
    />
    <create-session-bullet />
    <div
      class="sep"
      :class="{active: isStepActive('selectParticipants')}"
    />
    <select-participant-bullet />
    <div
      class="sep"
      :class="{active: isStepActive('validSession')}"
    />
    <validate-session-bullet />
  </div>
</template>

<script>
import SelectDateBullet from './SelectDateBullet'
import SelectParticipantBullet from './SelectParticipantBullet'
import ValidateSessionBullet from './ValidateSessionBullet'
import CreateSessionBullet from './CreateSessionBullet'
import { mapState } from 'vuex'
export default {
  name: 'CreateSessionWizardBullets',
  components: { CreateSessionBullet, ValidateSessionBullet, SelectParticipantBullet, SelectDateBullet },
  computed: {
    ...mapState('sessionWizard', ['stepWizard'])
  },
  methods: {
    isStepActive (step) {
      return step in this.stepWizard.bullet && this.stepWizard.bullet[step]
    }
  }
}
</script>

<style scoped>

</style>
