<template>
  <div class="session-steps__step active d-flex flex-column align-items-center text-center">
    <img
      :src="sourceImage"
      width="24"
      :class="{'cursor-pointer': isEnabled}"
      @click="changeStepWizard"
    >
    <span>{{ $translator.trans('Select the participants') }}</span>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'SelectParticipantBullet',
  computed: {
    ...mapState('sessionWizard', ['stepWizard']),
    isEnabled () {
      return this.stepWizard.bullet.selectParticipants
    },
    sourceImage () {
      if (this.isEnabled) {
        return '/build/static/icons/create-session-check-active.svg'
      }
      return '/build/static/icons/create-session-check.svg'
    }
  },
  methods: {
    changeStepWizard () {
      this.stepWizard.current = 'selectParticipants'
      this.stepWizard.previous = 'createSession'
      this.stepWizard.bullet = {
        selectDate: true,
        createSession: true,
        selectParticipants: true,
        validSession: false
      }
    }
  }
}
</script>

<style scoped>
.cursor-pointer {
  cursor: pointer;
}
</style>
