<template>
  <div class="session-steps__step active d-flex flex-column align-items-center text-center">
    <img
      :src="sourceImage"
      width="24"
      :class="{'cursor-pointer': isEnabled}"
      @click="changeStepWizard"
    >
    <span>{{ $translator.trans('Select a date') }}</span>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'SelectDateBullet',
  computed: {
    ...mapState('sessionWizard', ['stepWizard']),
    isEnabled () {
      return this.stepWizard.bullet.selectDate
    },
    sourceImage () {
      if (this.isEnabled) {
        return '/build/static/icons/create-session-check-active.svg'
      }
      return '/build/static/icons/create-session-check.svg'
    }
  },
  methods: {
    changeStepWizard () {
      this.stepWizard.current = 'selectDate'
      this.stepWizard.previous = 'selectType'
      this.stepWizard.bullet = {
        selectDate: true,
        createSession: false,
        selectParticipants: false,
        validSession: false
      }
    }
  }
}
</script>

<style scoped>
  .cursor-pointer {
    cursor: pointer;
  }
</style>
