{% extends 'main.html.twig' %}

{% set routeActive = '_sessions_evaluations_home' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('statistics-evaluation') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('statistics-evaluation') }}
{% endblock %}

{% block main %}

    {% if surveysAvailable|length > 0 %}
        <div id="statistics-evaluations">
            <statistics-evaluations
                :answers="{{ evaluationsAnswer }}"
                date-start="{{ dateStart }}"
                date-end="{{ dateEnd }}"
                survey-id="{{ surveySelected }}"
                :surveys-available="{{ surveysAvailable|serialize('json', {'groups': 'read_evaluation'}) }}"
                :show-tabulator="{{ showTabulator is same as true ? 'true' : 'false' }}"
            />
        </div>
    {% else %}
        <div>
            <header>
                <div class="wrapper-header">
                    <div class="wrapper-header__infos d-flex align-items-center justify-content-between">
                        <div class="wrapper-header__infos__title d-flex align-items-center">
                            <div>
                                <div class="page-title">
                                    <h1>
                                        {{ 'Evaluations'|trans }}
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    {% include('flash_messages.html.twig') %}
                </div>
            </header>
            <div class="col-md-12 mb-1">
                <em>
                    <em>
                        {{ 'Find here, over a given period, once the sessions are completed, all the results of your satisfaction questonnaires in a graphical view. If you want to export them in Excel or csv format, click on the table view' | trans }}
                    </em>
                </em>
            </div>
        </div>
    {% endif %}
{% endblock %}
