{% extends 'main.html.twig' %}
{% set routeActive = '_statistics' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('statistics') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('statistics') }}
{% endblock %}

{% block main %}
    <div id="statistics">
        <statistics
            :statistics-session="{{ statisticsSessions  | serialize }}"
            :statistics-replays-videos="{{ statisticsReplaysVideos  | serialize }}"
            date-start="{{ dateStart  }}"
            date-end="{{ dateEnd  }}">
        </statistics>
    </div>
{% endblock %}
