<template>
  <div
    :class="['scroller-item d-flex justify-content-around', { 'highlight': isSelected, 'odd': (index%2!==0) }]"
  >
    <div
      class="scroller-element"
      @click="$emit('click', groupParticipant.id)"
    >
      {{ groupParticipant.name }}
    </div>
    <div
      class="scroller-element"
      style="padding-left: 20px"
      @click="$emit('click', groupParticipant.id)"
    >
      {{ groupParticipant.numberUsers }}
    </div>
    <div class="option">
      <a
        :href="$routing.generate('_group_edit', {id: groupParticipant.id})"
        target="_blank"
      >
        <img src="/build/static/icons/open-target.svg">
      </a>
    </div>
  </div>
</template>

<script>

export default {
  name:  'AvailableGroupsListItem',
  props: {
    groupParticipant: {
      type: Object,
      required: true
    },
    isSelected: {
      type: Boolean,
      required: true
    },
    index: {
      type: Number,
      required: true
    }
  }
}
</script>

<style>
.scroller-item {
  background-color: #F6F6F6;
  border-bottom: 1px solid #fff;

  padding: 18px 20px;
  display: flex;
  align-items: center;
  font-size: .875rem;
  cursor: pointer;
}
.scroller-item.odd {
  background-color: rgba(255, 255, 255, 0.2);
}
.scroller-item.highlight {
  background-color: rgba(128,188,0,0.2);
  border-bottom: 1px solid #fff;
}
.scroller-element {
  flex: 1 1 0px;
}
</style>
