<template>
  <div style="height: 300px">
    <recycle-scroller
      class="vue-scroller"
      :items="groups"
      :item-size="60"
      key-field="id"
    >
      <template #before>
        <div class="vue-scroller-header d-flex justify-content-around">
          <div class="vue-scroller-header-element">
            {{ $translator.trans( 'Name' ) }}
          </div>
          <div class="vue-scroller-header-element">
            {{ $translator.trans( 'Number of participants' ) }}
          </div>
          <div class="option" />
        </div>
      </template>
      <template #default="{ item, index }">
        <available-groups-list-item
          :group-participant="item"
          :index="index"
          :is-selected="groupInPartOfSelection(item.id)"
          @click="addOrRemoveGroupInSelection"
        />
      </template>
    </recycle-scroller>
  </div>
</template>

<script>
import _                        from 'lodash'
import { mapState }            from 'vuex'
import {
  getGroupsNotRegisteredOnSessionAndMatchWithSearchQuery, retrieveGroup
}                              from '../../../utils/session-groups-selector.utils'
import AvailableGroupsListItem from './AvailableGroupsListItem.vue'

export default {
  name:       'AvailableGroupsList',
  components: { AvailableGroupsListItem },
  computed:   {
    ...mapState('sessionMembersSelector', ['currentGroupSelection', 'groupsOfSession', 'groups', 'queryGroup']),
    groups () {
      return getGroupsNotRegisteredOnSessionAndMatchWithSearchQuery(this.groupsOfSession, this.queryGroup)
    }
  },
  methods:    {
    groupParticipant (groupID) { return retrieveGroup(groupID) },
    addOrRemoveGroupInSelection (groupId) {
      const index = this.currentGroupSelection.findIndex(group => group.id === groupId)
      if (index >= 0) {
        // If Group is found, remove it
        this.currentGroupSelection.splice(index, 1)
      } else {
        // If Group is not found, add it
        const groupToAdd = this.groupParticipant(groupId)
        if (groupToAdd) {
          this.currentGroupSelection.push(groupToAdd)
        }
      }
    },
    groupInPartOfSelection (groupId) {
      return _.find(this.currentGroupSelection, { id: groupId }) !== undefined
    }
  }
}
</script>

<style scoped>
.vue-scroller {
  height: 100%;
}

.vue-scroller-header {
  padding:     18px 20px;
  font-size:   0.875rem;
  line-height: 1rem;
  color:       rgba(66, 66, 72, 0.45);
  font-weight: bold;
}

.vue-scroller-header-element {
  flex: 1 1 0px;
}
</style>
