<template>
  <tr>
    <td>{{ groupParticipant.name }}</td>
    <td>
      {{ groupParticipant.numberUsers }}
    </td>
    <td>
      <div class="btn-unsubscribe">
        <img
          role="button"
          src="/build/static/icons/user-delete.svg"
          width="15"
          @click="removeGroupAsAMemberOfSession"
        >
      </div>
    </td>
  </tr>
</template>

<script>

export default {
  name:  'GroupsListItem',
  props: {
    groupParticipant: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
    }
  },
  methods: {
    removeGroupAsAMemberOfSession () {
      this.$store.commit('sessionMembersSelector/removeParticipantOfGroupSelected', this.groupParticipant.group_id)
      this.$store.commit('sessionMembersSelector/removeGroupAsAGroupOfSession', this.groupParticipant.group_id)
    }
  }
}
</script>

<style scoped>

</style>
