<template>
  <table class="table-selected-participants">
    <thead>
      <tr>
        <th data-field="name">
          {{ $translator.trans( 'Name' ) }}
        </th>
        <th data-field="number">
          {{ $translator.trans( 'Number of participants' ) }}
        </th>
        <th />
      </tr>
    </thead>
    <tbody>
      <groups-list-item
        v-for="group in groupsOfSession"
        :key="group.id"
        :group-participant="group"
      />
    </tbody>
  </table>
</template>

<script>
import { mapGetters }  from 'vuex'
import GroupsListItem from './GroupsListItem.vue'

export default {
  name:       'GroupsParticipantsList',
  components: { GroupsListItem },
  props:      {
  },
  computed:   {
    ...mapGetters('sessionMembersSelector', { groupsOfSession: 'getGroupsOfSession' })
  },
  methods:    {

  }
}
</script>
