<template>
  <div class="session-content-blocks">
    <div class="row">
      <div class="col-5">
        <div class="session-content-blocks__container">
          <div class="searchbar-participants d-flex align-items-center mb-3">
            <img src="/build/static/icons/search.svg">
            <input
              id="participants-search"
              v-model="queryGroup"
              type="search"
              :placeholder="$translator.trans('Search for a group')"
              @input="updateGroupSearch"
            >
          </div>
          <available-groups-list v-if="!loading" />
          <div
            v-else
            class="d-flex justify-content-center align-items-center"
            style="height: 300px;"
          >
            <loader />
          </div>
        </div>
      </div>
      <div class="col-1 container-add-participants text-center">
        <div
          class="add-participants-btn"
          @click="passSelectionAsGroupsOfSession"
        >
          <img src="/build/static/icons/green-round-whith-chevron.svg">
        </div>
      </div>
      <div class="col-6">
        <div
          id="session-content-blocks-added-user"
          class="session-content-blocks__container"
        >
          <div class="title-selected-participants d-flex align-items-center">
            <h3 class="me-2">
              {{ $translator.trans( 'Selected groups' ) }}
            </h3>
            <div
              :class="roundSize"
              class="d-flex align-items-center justify-content-center"
            >
              <span id="number-selected-participants">{{ groupsOfSession.length }}</span>
            </div>
          </div>
          <div class="tag-information-container">
            <div class="tag-information d-flex align-items-center">
              <div class="tag-information d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <span class="group-info">{{ $translator.trans( 'Participants' ) }} ({{ membersOfSession.length }})</span>
                </div>
              </div>
            </div>
          </div>
          <div class="table-scroll-container">
            <groups-participants-list />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _                    from 'lodash'
import { mapState }         from 'vuex'
import Loader              from '../../ui/Loader'
import GroupsParticipantsList         from './GroupsParticipantsList.vue'
import AvailableGroupsList from './AvailableGroupsList.vue'

export default {
  name:       'GroupsParticipantsSelector',
  components: { GroupsParticipantsList, AvailableGroupsList, Loader },
  props:      {
    loading: {
      type:    Boolean,
      default: true
    }
  },
  data () {
    return {
      queryGroup: ''
    }
  },
  computed: {
    ...mapState('sessionMembersSelector', ['groupsOfSession', 'membersOfSession']),
    roundSize () {
      if (this.groupsOfSession.length <= 99) {
        return 'ten'
      } else if (this.groupsOfSession.length <= 999) {
        return 'hundred'
      } else {
        return 'thousand'
      }
    }
  },
  methods:  {
    updateGroupSearch: _.debounce(function () {
      this.$store.commit('sessionMembersSelector/setQueryGroup', this.queryGroup)
    }),
    passSelectionAsGroupsOfSession () {
      this.$store.dispatch('sessionMembersSelector/passSelectionAsGroupsOfSession')
    }
  }
}
</script>

<style scoped>
.searchbar-participants {
  margin-top:    1px;
  margin-bottom: 31px;
}
</style>
