<template>
  <div
    ref="addToCalendarModal"
    aria-hidden="true"
    class="modal fade show text-black"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div
          v-if="null !== session && null !== subject"
          class="modal-body"
        >
          <alert
            v-if="error"
            type="danger"
            :text="error"
          />
          <div
            v-else-if="token"
            class="d-flex flex-column align-content-center justify-content-center text-center"
          >
            <div class="text-center">
              <img
                class="preview-module-logo mb-2"
                :src="fullPathLogo"
                alt="Logo LiveSession"
              >
            </div>

            <div class="mb-5 text-center">
              <div class="fs-4">
                {{ subject.name }}
              </div>
              <div class="fs-6">
                {{ $translator.trans('Session planned on %date%', {date: dateStartFormatted}, 'self-subscription') }}
              </div>
            </div>

            <div class="text-center">
              <div
                title="Add to Calendar"
                class="addeventatc"
              >
                {{ $translator.trans('Add session to your calendar', {}, 'self-subscription') }}
                <span class="start">{{ session.dateStart|formatDate('y/MM/dd HH:mm') }}</span>
                <span class="end">{{ session.dateEnd|formatDate('y/MM/dd HH:mm') }}</span>
                <span class="timezone">{{ session.client.timezone }}</span>
                <span class="title">{{ subject.name }} {{ session.client.name }}</span>
                <span class="description">
                  {{ $translator.trans('Hello') }}, <br>
                  {{ $translator.trans('You are registered for the session') }} : " {{ subject.name }}  {{ $translator.trans('the') }}  {{ dateStartFormatted }}" {{ $translator.trans('organized by') }} {{ session.client.name }} <br>
                  {{ $translator.trans('Follow the link to connect on the day J:') }}
                  {{ endPointDomain + $routing.generate('_session_access_plateforme', {token: token }) }}<br>
                  {{ $translator.trans('Manage your registrations by logging in to') }} : <br>
                  {{ endPointDomain + $routing.generate('_self_subscription_hub_home', {clientName: module.slugClient, domain: module.domain}) }}<br>
                  {{ $translator.trans('We wish you an excellent session!') }} <br>
                  {{ $translator.trans("The team") }} {{ session.client.name }} <br>
                </span>
                <span class="location">{{ eventLocation }}</span>
              </div>
            </div>
          </div>
          <loader
            v-else
            class="text-center"
          />
        </div>

        <div class="modal-footer">
          <button
            class="btn btn-module-main"
            type="button"
            @click="close"
          >
            {{ $translator.trans('Close') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Loader from '../../components/ui/Loader'
import Alert from '../../components/ui/Alert'
import { CATEGORY_SESSION_FORMATION } from '../../store/module/session'

export default {
  name: 'AddToCalendarModal',
  components: { Alert, Loader },
  data () {
    return {
      modal: null,
      subject: null,
      session: null,
      error: null,
      token: null,
      endPointDomain: null
    }
  },
  computed: {
    ...mapState('selfSubscription', ['module', 'sessionAddToCalendar']),
    fullPathLogo () {
      return '/uploads/self_subscription_logo/' + this.module.logo
    },
    dateStartFormatted () {
      return this.$options.filters.formatDate(this.session.dateStart, 'y/MM/dd \'à\' HH:mm')
    },
    eventLocation () {
      let location = this.endPointDomain + this.$routing.generate('_session_access_plateforme', { token: this.token })
      if (this.session.sessionPresential && this.session.location) {
        location = this.session.location
      } else if (this.session.sessionMixte) {
        location = `${this.session.abstractProviderConfigurationHolder.name} - ${this.session.location}`
      } else if (this.session.category === CATEGORY_SESSION_FORMATION) {
        location = this.session.abstractProviderConfigurationHolder.name
      }

      return location
    }
  },
  watch: {
    sessionAddToCalendar (newValue, oldValue) {
      if (newValue === null) {
        this.subject = null
        this.session = null
        this.modal.hide()
      } else if (oldValue === null) {
        this.subject = newValue.subject
        this.session = newValue.session
        this.error = null
        this.token = null
        this.endPointDomain = null
        this.$axios.get(this.$routing.generate('_self_subscription_hub_get_token', { clientName: this.module.slugClient, domain: this.module.domain, id: this.session.id }))
          .then((response) => {
            this.token = response.data.message.token
            this.endPointDomain = response.data.message.endPointDomain
            this.modal.show()
            this.$nextTick(() => {
              /* global addeventatc */
              addeventatc.refresh()
            })
          }).catch((error) => {
            this.error = this.$translator.trans('An unknown error occurred while fetching the convocation.', {}, 'self-subscription')
            if ('response' in error && 'data' in error.response && typeof error.response.data === 'object' && 'message' in error.response.data && 'text' in error.response.data.message) {
              this.error = error.response.data.message.text
            }
            this.modal.show()
          })
      }
    }
  },
  mounted () {
    this.modal = this.$bootstrap.Modal.getOrCreateInstance(this.$refs.addToCalendarModal)
    this.$refs.addToCalendarModal.addEventListener('hide.bs.modal', event => {
      this.$store.commit('selfSubscription/sessionAddToCalendar', null)
    })
  },
  methods: {
    close () {
      this.$store.commit('selfSubscription/sessionAddToCalendar', null)
    }
  }
}
</script>

<style scoped>

</style>
