<template>
  <div
    ref="convocationModal"
    aria-hidden="true"
    class="modal fade show text-black"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <alert
            v-if="error"
            type="danger"
            :text="error"
          />
          <div
            v-else-if="null !== content"
            v-html="content"
          />
          <loader
            v-else
            class="text-center"
          />
        </div>

        <div class="modal-footer">
          <button
            class="btn btn-module-main"
            type="button"
            @click="close"
          >
            {{ $translator.trans('Close') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Loader from '../../components/ui/Loader'
import Alert from '../../components/ui/Alert'

export default {
  name: 'ConvocationModal',
  components: { Alert, Loader },
  data () {
    return {
      modal: null,
      error: null,
      content: null
    }
  },
  computed: {
    ...mapState('selfSubscription', ['module', 'sessionConvocation'])
  },
  watch: {
    sessionConvocation (newValue, oldValue) {
      if (newValue === null) {
        this.modal.hide()
      } else if (oldValue === null) {
        this.error = null
        this.content = null
        this.$axios.get(this.$routing.generate('_self_subscription_hub_session_preview_convocation', { clientName: this.module.slugClient, domain: this.module.domain, id: this.sessionConvocation }))
          .then((response) => {
            this.content = response.data.message.content
          }).catch((error) => {
            this.error = this.$translator.trans('An unknown error occurred while fetching the convocation.', {}, 'self-subscription')
            if ('response' in error && 'data' in error.response && typeof error.response.data === 'object' && 'message' in error.response.data && 'text' in error.response.data.message) {
              this.error = error.response.data.message.text
            }
          })
        this.modal.show()
      }
    }
  },
  mounted () {
    this.modal = this.$bootstrap.Modal.getOrCreateInstance(this.$refs.convocationModal)
    this.$refs.convocationModal.addEventListener('hide.bs.modal', event => {
      this.$store.commit('selfSubscription/sessionConvocation', null)
    })
  },
  methods: {
    close () {
      this.$store.commit('selfSubscription/sessionConvocation', null)
    }
  }
}
</script>

<style scoped>

</style>
