<template>
  <div
    class="day-card p-4"
    :class="{
      active,
      'disabled': remainingSeats <= 0
    }"
    @click="findOneSession()"
  >
    <div>{{ dayDateFormat }}</div>
    <div class="number-of-day text-module-main">
      {{ date|formatDate('dd') }}
    </div>
    <div>{{ monthDateFormat }}</div>
    <hr class="w-100">
    <small class="duration d-flex justify-content-center align-items-center">
      <i class="icon icon-time me-2" />
      <strong>{{ subject.readableDuration }}</strong>
    </small>
    <hr class="w-100">
    <div
      v-if="availableSessions.length > 0"
      class="d-flex flex-column justify-content-center"
    >
      <span class="tiny-text">{{ $translator.trans('Choose the start time') }}</span>
      <div
        class="d-flex justify-content-center align-items-center"
      >
        <div class="hours">
          <div
            v-for="session in availableSessions"
            :key="session.id"
            class="my-auto"
          >
            <div
              v-if="session.availableSeats > 0 || maxPlace === 0"
              class="badge cursor-pointer outline-module-main mx-1 my-1 disabled"
              :class="{
                'bg-module-main text-white': (currentSessionSelected !== null && session.id === currentSessionSelected.id),
              }"
              @click="currentSessionSelected = session"
            >
              {{ session.dateStart|formatDate('hours_minutes') }}
            </div>
            <div
              v-else
              class="badge cursor-pointer outline-module-main mx-1 my-1"
              :class="{
                'bg-module-main text-white': (currentSessionSelected !== null && session.id === currentSessionSelected.id),
                'disabled': false
              }"
              style="background-color: #ccc; color: #666; cursor: not-allowed;"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title=" $translator.trans('Complete')"
            >
              {{ session.dateStart|formatDate('hours_minutes') }}
            </div>
          </div>
          <!--          <VueSlickCarousel
            v-bind="{
              dots: false,
              slidesToShow: 2,
              slidesToScroll: 1,
              centerMode: true,
              centerPadding: '10px',
            }"
          >
            <div
              v-for="session in availableSessions"
              :key="session.id"
              @click="currentSessionSelected = session"
            >
              <div
                class="badge cursor-pointer outline-module-main"
                :class="{
                  'bg-module-main text-white': (currentSessionSelected !== null && session.id === currentSessionSelected.id),
                }"
              >
                {{ session.dateStart|formatDate('hours_minutes') }}
              </div>
            </div>
          </VueSlickCarousel>-->
        </div>
      </div>
    </div>

    <div>
      <i
        class="icon icon-group text-primary"
        style="margin-right: 1rem"
      />
      <span
        v-if="remainingSeats <= 0 && maxPlace !== 0"
        class="tiny-text"
      >{{ $translator.trans('Complete') }}</span>
      <span
        v-else
        class="tiny-text"
      >{{ $translator.trans('Remaining seats') }}</span>
    </div>
    <div>
      <span
        v-if="maxPlace === 0"
        class="tiny-text"
      >
        <strong>{{ $translator.trans('Unlimited') }}</strong>
      </span>
      <span
        v-else
        class="tiny-text v-else"
      >
        {{ remainingSeatsInfo }}
      </span>
    </div>
    <div
      v-if="selectedAndClose"
    >
      <strong>{{ $translator.trans('Registration closed') }}</strong>
    </div>
    <button
      v-if="!selectedAndClose"
      class="action btn rounded-circle d-flex justify-content-center align-items-center"
      :class="{
        'btn-module-main': active,
        'btn-secondary': !active,
      }"
    >
      <i
        v-if="active"
        class="icon icon-check"
      />
      <i
        v-else
        class="icon icon-plus"
      />
    </button>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'DayCard',
  props: {
    subject: {
      type: Object,
      required: true
    },
    date: {
      type: String,
      required: true
    },
    maxPlace: {
      type: Number,
      required: true
    },
    countPlace: {
      type: Number,
      required: true
    },
    availableSessions: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      remainingSeats: this.maxPlace - this.countPlace
    }
  },
  computed: {
    ...mapState('selfSubscription', ['selectedSubscriptionBySubject']),
    active () {
      return this.currentSessionSelected !== null &&
        this.$options.filters.formatDate(this.date, 'ccccddLLL') === this.$options.filters.formatDate(this.currentSessionSelected.dateStart, 'ccccddLLL') // &&         !this.closeSubscriptionsAfterDate
    },
    currentSessionSelected: {
      get () {
        if (this.subject.id in this.selectedSubscriptionBySubject) {
          return this.selectedSubscriptionBySubject[this.subject.id]
        }
        return null
      },
      set (newValue) {
        this.$store.commit('selfSubscription/selectSession', { subject: this.subject, session: newValue })
      }
    },
    selectedAndClose () {
      if (this.currentSessionSelected !== null) {
        return !!(this.convertDate(this.currentSessionSelected.dateStart) === this.convertDate(this.date) && this.currentSessionSelected.closeSubscriptionsAfterDate)
      } else {
        return false
      }
    },
    remainingSeatsInfo () {
      return this.remainingSeats + ' / ' + this.maxPlace
    },
    dayDateFormat () {
      return this.$moment(this.date.toLocaleString()).format('dddd')
    },
    monthDateFormat () {
      return this.$moment(this.date.toLocaleString()).format('MMMM')
    }
  },
  created () {
    if (this.availableSessions.length === 1) {
      if (this.availableSessions[0].availableSeats > 0) {
        this.currentSessionSelected = this.availableSessions[0]
      }
    }
  },
  methods: {
    convertDate (date) {
      return this.$options.filters.formatDate(date, 'y/MM/dd')
    },
    findOneSession () {
      if (this.availableSessions.length === 1) {
        if (this.availableSessions[0].availableSeats > 0) {
          this.currentSessionSelected = this.availableSessions[0]
        }
      }
    }
  }
}
</script>
