<template>
  <div
    class="py-4 w-100"
  >
    <div class="d-flex justify-content-between align-items-center flex-column flex-lg-row">
      <div
        v-if="selectedSession !== null"
        class="d-block d-lg-none"
      >
        <span class="text-muted">{{ $translator.trans('Selected session: ') }}</span> {{ selectedSession.dateStart|formatDate('datetime_med') }}
      </div>
      <div class="d-flex justify-content-center align-items-center fs-5">
        <i
          v-if="navigMonthMinusDisabled()"
          class="icon icon-arrow-circle reverse p-1 cursor-pointer"
          @click="decrementMonthIndex"
        />
        <i
          v-else
          class="icon-disabled icon-arrow-circle reverse p-1"
        />
        <div class="month-nav mx-4 my-2 my-lg-0">
          {{ displayableMonth }}
        </div>
        <i
          v-if="navigMonthPlusDisabled()"
          class="icon icon-arrow-circle p-1 cursor-pointer"
          @click="incrementMonthIndex"
        />
        <i
          v-else
          class="icon-disabled icon-arrow-circle p-1"
        />
      </div>
      <div
        v-if="selectedSession !== null"
        class="d-none d-lg-block"
      >
        <span class="text-muted">{{ $translator.trans('Selected session: ') }}</span> {{ selectedSession.dateStart|formatDate('datetime_med') }}
      </div>
      <span><strong>{{ availableSessionInMonth }}</strong> {{ $translator.trans('available sessions in') }} {{ month }}</span>
    </div>
    <div
      class="days-wrapper w-100 text-center"
    >
      <div
        v-for="(day, key) in daysForSlider"
        :key="key"
      >
        <div
          v-if="lowerMonth === months[key]"
        >
          <VueSlickCarousel
            :id="carouselRef"
            :ref="carouselRef"
            class="day-carousel"
            v-bind="{
              dots: true,
              arrows: true,
              slidesToShow: 3,
              slidesToScroll: 2,
              infinite: false,
              centerMode: centerCards(day[1]),
              responsive: [
                {
                  breakpoint : 1200,
                  settings : {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: true,
                    settings: 'unslick',
                    centerMode: true,
                  }
                },
                {
                  breakpoint : 1024,
                  settings : {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: true,
                  }
                },
                {
                  breakpoint : 750,
                  settings : {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    centerMode: false,
                  }
                }
              ]
            }"
          >
            <div
              v-for="(monthday, key2) in day[1]"
              :key="key2+','+key"
            >
              <day-card
                :subject="subject"
                :date="monthday[1].date"
                :max-place="monthday[1].maxPlace"
                :count-place="monthday[1].countPlace"
                :available-sessions="monthday[1].sessions"
              />
            </div>

            <template #prevArrow="arrowOptions">
              <div class="custom-arrow cursor-pointer">
                <i
                  v-if="showPrevious(arrowOptions)"
                  class="icon icon-arrow-circle reverse p-1"
                  @click="showPrevious(arrowOptions)"
                />
                <i
                  v-else
                  class="icon-disabled icon-arrow-circle reverse p-1"
                />
              </div>
            </template>
            <template
              #nextArrow="arrowOptions"
              style="border: solid 1px #000000;"
            >
              <div class="custom-arrow cursor-pointer">
                <i
                  v-if="showNext(arrowOptions)"
                  class="icon icon-arrow-circle p-1"
                  @click="showNext(arrowOptions)"
                />
                <i
                  v-else
                  class="icon-disabled icon-arrow-circle p-1"
                />
              </div>
            </template>
          </VueSlickCarousel>
        </div>
      </div>
    </div>

    <login-self-subscription-modal
      v-if="selectedSession"
      :id="`login-self-subscription-modal-day-slicer-${selectedSession.id}`"
      :session="selectedSession"
      :module="module"
      :csrf-token="csrfToken"
      :subject="subject"
    />

    <div class="text-center">
      <div
        v-if="selectedSession === null"
        class="alert alert-info"
      >
        {{ $translator.trans('Select a session at the time you are interested in then click on "Register".') }}
      </div>
      <loader
        v-if="saving"
        class="d-inline-block"
      />
      <button
        v-else-if="!user.isGuestUser"
        class="btn btn-module-main"
        :disabled="isCloseSubscription || selectedSession === null"
        @click="validSubscription"
      >
        {{ $translator.trans('Register') }}
      </button>
      <button
        v-else-if="user.isGuestUser && !isEmbed && selectedSession"
        class="btn btn-module-main"
        :disabled="isCloseSubscription"
        data-bs-auto-close="outside"
        href="#"
        @click="openModal"
      >
        {{ $translator.trans('Register') }}
      </button>
      <button
        v-else-if="isEmbed"
        class="btn btn-module-main"
        :disabled="isCloseSubscription || selectedSession === null"
        @click="redirectToRealPage"
      >
        {{ $translator.trans('Register') }}
      </button>
      <button
        class="btn"
        @click="closeRegistration"
      >
        {{ $translator.trans('Cancel') }}
      </button>
      <alert
        v-if="error"
        type="danger"
        :text="error"
      />
    </div>
  </div>
</template>

<script>
import DayCard                    from './DayCard'
import VueSlickCarousel           from 'vue-slick-carousel'
import { mapGetters, mapState }   from 'vuex'
import Loader                     from '../../components/ui/Loader'
import Alert                      from '../../components/ui/Alert'
import _                          from 'lodash'
import LoginSelfSubscriptionModal from './LoginSelfSubscriptionModal.vue'

export default {
  name: 'DaysSlider',
  components: {
    LoginSelfSubscriptionModal,
    Loader,
    DayCard,
    VueSlickCarousel,
    Alert
  },
  props: {
    subjectIndex: {
      type: Number,
      required: true
    },
    module: {
      type: Object,
      required: true
    },
    csrfToken: {
      type: String,
      required: false,
      default: ''
    }
  },
  data () {
    return {
      monthIndex: 0
    }
  },
  computed: {
    ...mapGetters({ subjects: 'selfSubscription/filteredSubjects' }),
    ...mapState('selfSubscription', ['filter', 'currentSubscriptionBySubject', 'user', 'selectedSubscriptionBySubject', 'subscriptions', 'isEmbed']),
    ...mapState('process', ['saving', 'error']),
    carouselRef () {
      return 'carousel' + this.subject.id
    },
    subject () {
      return this.subjects[this.subjectIndex]
    },
    filteredSession () {
      const to = this.filter.to
      const from = this.filter.from
      const filteredSessions = this.subject.sessions.filter(session => {
        if (from && to) {
          // Both $from and to are provided
          return (
            new Date(session.dateEnd) >= new Date(from) &&
            new Date(session.dateStart) <= new Date(to)
          )
        } else if (from) {
          // Only from is provided
          return new Date(session.dateEnd) >= new Date(from)
        } else if (to) {
          // Only to is provided
          const toDate = new Date(to)
          toDate.setDate(toDate.getDate() + 1) // Add one day
          return new Date(session.dateStart) <= toDate
        }
        return true // No date range conditions provided, return all sessions
      })

      return filteredSessions
    },
    currentSessions () {
      const sessions = _.orderBy(this.filteredSession, 'dateStart', 'asc').filter(session => {
        return session.scheduled || session.running
      })
      return sessions
    },
    sessionsByMonthSort () {
      const byMonth = Object.entries(this.currentSessions)
      return byMonth
    },
    sessionsByMonth () {
      const byMonth = {}
      const byMonthArr = []

      this.currentSessions.forEach(session => {
        if (!session.running && !session.scheduled) {
          return
        }

        const month = this.$moment(session.dateStart).format('MMMM')
        const monthAndYear = month + ' ' + this.$options.filters.formatDate(session.dateStart, 'yyyy')
        const day = this.$options.filters.formatDate(session.dateStart, 'dd')
        if (!(monthAndYear in byMonth)) {
          byMonth[monthAndYear] = {}
        }
        if (!(day in byMonth[monthAndYear])) {
          byMonth[monthAndYear][day] = {
            date: session.dateStart,
            maxPlace: null,
            countPlace: 0,
            sessions: []
          }
        }
        byMonth[monthAndYear][day].sessions.push(session)
        if (session.subscriptionMax === 0) {
          byMonth[monthAndYear][day].maxPlace = 0
        } else {
          if (byMonth[monthAndYear][day].maxPlace === null) {
            byMonth[monthAndYear][day].maxPlace = 0
          }
          byMonth[monthAndYear][day].maxPlace += session.subscriptionMax
        }
        byMonth[monthAndYear][day].countPlace += session.traineesCount
        byMonthArr[monthAndYear] = Object.entries(byMonth[monthAndYear]).sort()
      })

      return byMonthArr
    },
    months () {
      return Object.keys(this.sessionsByMonth)
    },
    month () {
      return this.months[this.monthIndex]
    },
    displayableMonth () {
      return this.month[0].toUpperCase() + this.month.substring(1)
    },
    lowerMonth () {
      return this.month[0] + this.month.substring(1)
    },
    daysForSlider () {
      const sessions = (Object.entries(this.sessionsByMonth))
      return sessions
    },
    days () {
      return this.sessionsByMonth[this.month]
    },
    availableSessionInMonth () {
      let count = 0
      for (const dayIndex in this.days) {
        count += this.days[dayIndex][1].sessions.length
      }
      return count
    },
    selectedSession () {
      if (this.subject.id in this.selectedSubscriptionBySubject) {
        return this.selectedSubscriptionBySubject[this.subject.id]
      }
      if (this.subject.id in this.currentSubscriptionBySubject) {
        return this.currentSubscriptionBySubject[this.subject.id]
      }
      return null
    },
    isCloseSubscription () {
      if (this.selectedSession != null) {
        if (this.selectedSession.closeSubscriptionsAfterDate) {
          return true
        }
      }
      return false
    }
  },
  mounted () {
    const urlParams = new URL(window.location.href).searchParams
    const subject = parseInt(urlParams.get('subject'))
    const mountIndex = parseInt(urlParams.get('monthIndex'))
    const sessionID = parseInt(urlParams.get('session'))
    if (subject === this.subjectIndex && sessionID) {
      this.monthIndex = mountIndex
      const session = this.subject.sessions.find(session => session.id === sessionID)
      if (session) {
        this.$store.commit('selfSubscription/selectSession', { subject: this.subject, session: session })
        const modal = this.$bootstrap.Modal.getOrCreateInstance(document.getElementById(`login-self-subscription-modal-day-slicer-${session.id}`))
        modal.show()
      }
    }
  },
  methods: {
    validSubscription () {
      this.$emit('validSubscription', this.selectedSession)
    },
    closeRegistration () {
      this.$emit('closeRegistration')
    },
    incrementMonthIndex () {
      if (this.monthIndex === this.months.length - 1) {
        this.monthIndex = 0
      } else {
        this.monthIndex++
      }
    },
    decrementMonthIndex () {
      if (this.monthIndex === 0) {
        this.monthIndex = this.months.length - 1
      } else {
        this.monthIndex--
      }
    },
    navigMonthMinusDisabled () {
      return this.monthIndex !== 0
    },
    navigMonthPlusDisabled () {
      return this.monthIndex < this.months.length - 1
    },
    centerCards (day) {
      if (day.length < 2) {
        return true
      } else {
        return false
      }
    },
    showPrevious (options) {
      if (options.currentSlide === 0) {
        return false
      } else {
        return true
      }
    },
    showNext (options) {
      // if (typeof(this.$refs[this.carouselRef]) !== 'undefined') {
      const quotient = Math.floor(options.slideCount / options.currentSlide)
      if (quotient + options.currentSlide  === options.slideCount) {
        return false
      } else {
        return true
      }
      // }
      // return true
    },
    redirectToRealPage () {
      window.open(this.$routing.generate('_self_subscription_hub_home', {
        clientName: this.module.slugClient,
        domain: this.module.domain,
        subject: this.subjectIndex,
        monthIndex: this.monthIndex,
        session: this.selectedSession.id
      }))
    },
    openModal () {
      const modal = this.$bootstrap.Modal.getOrCreateInstance(document.getElementById(`login-self-subscription-modal-day-slicer-${this.selectedSession.id}`))
      modal.show()
    }
  }
}
</script>
