<template>
  <form
    :action="$routing.generate('_app_login')"
    method="post"
    class="mt-4 container"
  >
    <div class="col-md-12 mb-5">
      {{ $translator.trans('Congratulations ! You already have an account, all you need to do is enter your password and you will be able to view the content.') }}
      <br>
    </div>
    <div class="mb-3">
      <div class="input-group mb-2">
        <input
          id="login-email"
          :value="email"
          name="username"
          type="email"
          class="form-control"
          :placeholder="$translator.trans('My email address')"
          readonly
        >
        <span
          class="input-group-text see-password"
          role="button"
          @click="resetAll()"
        >
          <i class="icon icon-pen" />
        </span>
      </div>
    </div>
    <div class="mb-3">
      <div class="input-group mb-2">
        <input
          id="login-password"
          name="password"
          :type="passwordFieldType"
          class="form-control"
          :placeholder="$translator.trans('Password') "
        >
        <span
          class="input-group-text see-password"
          :class="{active: showPassword}"
          role="button"
          @click="showPassword = !showPassword"
        >
          <i class="icon icon-eye" />
        </span>
      </div>
      <small>
        <reset-password-link :module="module" />
      </small>
    </div>
    <div class="mb-3 text-center">
      <input
        type="hidden"
        name="csrf_token"
        :value="csrfToken"
      >
      <input
        type="hidden"
        name="domain"
        :value="module.domain"
      >
      <input
        type="hidden"
        name="slugclient"
        :value="module.slugClient"
      >
      <input
        type="hidden"
        name="replay"
        :value="true"
      >
      <loader
        v-if="processing"
        class="input-group-append"
      />
      <button
        v-else
        class="btn btn-module-main"
        type="submit"
      >
        {{ $translator.trans("Log in") }}
      </button>
      <br>
    </div>
  </form>
</template>

<script>

import ResetPasswordLink from '../login-register/ResetPasswordLink.vue'
import Loader from '../../components/ui/Loader.vue'

export default {
  name: 'LoginRegisteredUserSelfSubscriptionModal',
  components: {
    Loader,
    ResetPasswordLink
  },
  props: {
    module: {
      type: Object,
      default: () => ({})
    },
    csrfToken: {
      type: String,
      required: false,
      default: ''
    },
    email: {
      type: String,
      required: false,
      default: ''
    }
  },
  data () {
    return {
      showPassword: false,
      processing: false
    }
  },
  computed: {
    passwordFieldType () {
      return this.showPassword
        ? 'text'
        : 'password'
    }
  },
  methods: {
    resetAll () {
      this.$emit('reset-all')
    }
  }
}
</script>
