<template>
  <div
    :id="id"
    class="modal fade"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4
            v-if="isNewUser"
            class="d-flex mb-2 text-success"
          >
            {{ $translator.trans('I register and create my account') }}
          </h4>
          <h4
            v-else
            class="d-flex mb-2 text-success"
          >
            {{ $translator.trans(title) }}
          </h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="text-start">
              <h4 v-if="nameSession">
                {{ nameSession }}
              </h4>
              <p>{{ $translator.trans('The') }} {{ humanizeDateStart() }}</p>
            </div>
            <form
              v-if="!isNewUser && !isInscrit"
              class="form text-center"
              style="padding-bottom: 20px; padding-top: 15px"
            >
              <div class="row">
                <div class="col-9">
                  <input
                    v-model="email"
                    name="email"
                    required="required"
                    style="margin-right: 10px;"
                    :placeholder="$translator.trans('Email address')"
                    class="form-control"
                  >
                </div>
                <div class="col-2 d-flex align-items-center text-end">
                  <loader
                    v-if="processing"
                    class="input-group-append"
                  />
                  <button
                    v-else
                    class="btn btn-module-main btn-xs"
                    role="button"
                    :disabled="!isValidEmail(email)"
                    @click="checkInscritParticipant()"
                  >
                    {{ $translator.trans('Next') }}
                  </button>
                </div>
              </div>
            </form>
          </div>
          <login-registered-user-self-subscription-modal
            v-if="isInscrit"
            :session="session"
            :module="module"
            :csrf-token="csrfToken"
            :email="email"
          />
          <new-participant-self-subscription-modal
            v-else-if="isNewUser"
            :session="session"
            :module="module"
            :csrf-token="csrfToken"
            :first-email="email"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import moment from 'moment'
import Loader from '../../components/ui/Loader.vue'
import LoginRegisteredUserSelfSubscriptionModal from './LoginRegisteredUserSelfSubscriptionModal.vue'
import NewParticipantSelfSubscriptionModal from './NewParticipantSelfSubscriptionModal.vue'
import { isValidEmail } from '../login-register/rules-visualizer/email-checker.utils'

export default {
  name: 'LoginSelfSubscriptionModal',
  components: {
    Loader,
    LoginRegisteredUserSelfSubscriptionModal,
    NewParticipantSelfSubscriptionModal
  },
  props: {
    id: {
      type: String,
      required: true
    },
    session: {
      type: Object,
      default: () => ({})
    },
    module: {
      type: Object,
      default: () => ({})
    },
    csrfToken: {
      type: String,
      required: false,
      default: ''
    },
    subject: {
      type: Object,
      default: () => ({})
    }
  },
  data () {
    return {
      title: this.$translator.trans('I\'m registering'),
      email: '',
      processing: false,
      isInscrit: false,
      isNewUser: false,
      showPassword: false
    }
  },
  computed: {
    passwordFieldType () {
      return this.showPassword
        ? 'text'
        : 'password'
    },
    nameSession () {
      if (this.subject) {
        return this.subject.name
      }
      if (this.session) {
        return this.session.name
      }
      return false
    }
  },
  methods: {
    isValidEmail,
    humanizeDateStart () {
      if (this.session) {
        return moment(this.session.dateStart).format('dddd, Do MMMM YYYY, h:mm')
      }
      return false
    },
    checkInscritParticipant () {
      this.processing = true
      this.$axios.get(this.$routing.generate('_check_user_existe', {
        id: this.session.id,
        clientName: this.module.slugClient,
        domain: this.module.domain,
        email: this.email
      }))
        .then((response) => {
          this.processing = false
          this.errorMessage = null
          this.isInscrit = response.data.message.isInscrit
          this.isNewUser = !response.data.message.isInscrit
        }).catch(() => {
          this.processing = false
          this.errorMessage = this.$translator.trans('An error has occurred')
        })
    }
  }
}
</script>
