<template>
  <form
    :action="$routing.generate('_app_login')"
    method="post"
    class="mt-4 container"
  >
    <div class="col-md-12 mb-5">
      {{ $translator.trans('Congratulation ! You already have an account. Simply enter your credentials and you will be registered for the session.') }}
      <br>
    </div>
    <div class="mb-3">
      <input
        id="login-email"
        :value="email"
        name="username"
        type="email"
        class="form-control"
        :placeholder="$translator.trans('Email address')"
      >
    </div>
    <div class="mb-3">
      <div class="input-group mb-2">
        <input
          id="login-password"
          name="password"
          :type="passwordFieldType"
          class="form-control"
          :placeholder="$translator.trans('Password') "
        >
        <span
          class="input-group-text see-password"
          :class="{active: showPassword}"
          @click="showPassword = !showPassword"
        >
          <i class="icon icon-eye" />
        </span>
      </div>
      <small>
        <reset-password-link :module="module" />
      </small>
    </div>
    <div class="mb-3 text-center">
      <input
        type="hidden"
        name="csrf_token"
        :value="csrfToken"
      >
      <input
        type="hidden"
        name="domain"
        :value="module.domain"
      >
      <input
        type="hidden"
        name="slugclient"
        :value="module.slugClient"
      >
      <input
        type="hidden"
        name="sessionId"
        :value="session.id"
      >
      <button
        class="btn btn-module-main"
        type="submit"
      >
        {{ $translator.trans("I'm registering") }}
      </button>
      <br>
    </div>
  </form>
</template>

<script>

import ResetPasswordLink from '../login-register/ResetPasswordLink.vue'

export default {
  name: 'LoginRegisteredUserSelfSubscriptionModal',
  components: {
    ResetPasswordLink
  },
  props: {
    session: {
      type: Object,
      default: () => ({})
    },
    module: {
      type: Object,
      default: () => ({})
    },
    csrfToken: {
      type: String,
      required: false,
      default: ''
    },
    email: {
      type: String,
      required: false,
      default: ''
    }
  },
  data () {
    return {
      showPassword: false
    }
  },
  computed: {
    passwordFieldType () {
      return this.showPassword
        ? 'text'
        : 'password'
    }
  }
}
</script>
