<template>
  <div
    id="LoginReplaySelfSubscriptionModal"
    class="modal fade"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4
            v-if="isNewUser"
            class="d-flex mb-2 text-success"
          >
            {{ $translator.trans('Register') }}
          </h4>
          <h4
            v-else
            class="d-flex mb-2 text-success"
          >
            {{ $translator.trans(title) }}
          </h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            @click="resetAll()"
          />
        </div>
        <div class="modal-body">
          <div class="container">
            <form
              v-if="!isNewUser && !isInscrit"
              class="form text-center"
              style="padding-bottom: 20px; padding-top: 15px"
            >
              <div class="col-md-12 mb-3 text-start">
                {{ $translator.trans('Log in to the platform to view the content') }}
                <br>
              </div>
              <div class="row">
                <div class="col-9">
                  <input
                    v-model="email"
                    name="email"
                    required="required"
                    style="margin-right: 10px;"
                    :placeholder="$translator.trans('My email address')"
                    class="form-control"
                  >
                </div>
                <div class="col-2 d-flex align-items-center text-end">
                  <loader
                    v-if="processing"
                    class="input-group-append"
                  />
                  <button
                    v-else
                    class="btn btn-module-main btn-xs"
                    role="button"
                    :disabled="false"
                    @click="checkInscritParticipant()"
                  >
                    {{ $translator.trans('Next') }}
                  </button>
                </div>
              </div>
            </form>
          </div>
          <login-replay-registered-user-self-subscription-modal
            v-if="isInscrit"
            :module="module"
            :csrf-token="csrfToken"
            :email="email"
            @reset-all="resetAll()"
          />
          <new-participant-replay-self-subscription-modal
            v-else-if="isNewUser"
            :module="module"
            :csrf-token="csrfToken"
            :first-email="email"
            @reset-all="resetAll()"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import Loader from '../../components/ui/Loader.vue'
import LoginReplayRegisteredUserSelfSubscriptionModal from './LoginReplayRegisteredUserSelfSubscriptionModal.vue'
import NewParticipantReplaySelfSubscriptionModal from './NewParticipantReplaySelfSubscriptionModal.vue'

export default {
  name: 'LoginReplaySelfSubscriptionModal',
  components: {
    Loader,
    LoginReplayRegisteredUserSelfSubscriptionModal,
    NewParticipantReplaySelfSubscriptionModal
  },
  props: {
    module: {
      type: Object,
      default: () => ({})
    },
    csrfToken: {
      type: String,
      required: false,
      default: ''
    },
    redirectTo: {
      type: String,
      required: false,
      default: null
    }
  },
  data () {
    return {
      title: this.$translator.trans('Log in'),
      email: null,
      processing: false,
      isInscrit: false,
      isNewUser: false,
      showPassword: false
    }
  },
  mounted () {
    this.resetAll()
  },
  methods: {
    resetAll () {
      this.email = null
      this.processing = false
      this.isInscrit = false
      this.isNewUser = false
      this.showPassword = false
    },
    checkInscritParticipant () {
      this.processing = true
      this.$axios.get(this.$routing.generate('_check_user_existe_replay', {
        clientName: this.module.slugClient,
        domain: this.module.domain,
        email: this.email
      }))
        .then((response) => {
          this.processing = false
          this.errorMessage = null
          this.isInscrit = response.data.message.isInscrit
          this.isNewUser = !response.data.message.isInscrit
        }).catch(() => {
          this.processing = false
          this.errorMessage = this.$translator.trans('An error has occurred')
        })
    }
  }
}
</script>
