<template>
  <form
    ref="registrationForm"
    class="mt-4 container"
    @submit.prevent="submitRegistration"
  >
    <p class="mb-5">
      {{ $translator.trans('To participate and create an account on our site, please complete the following information') }}:
    </p>

    <register-form-part
      :module="module"
    />

    <alert
      v-if="errorMessage"
      type="danger"
      :text="$translator.trans(errorMessage)"
    />

    <div class="form-check">
      <input
        id="accept-condition"
        ref="condition"
        v-model="acceptCondition"
        name="accept-condition"
        required
        type="checkbox"
        class="form-check-input"
      >
      <label
        class="form-check-label"
        v-html="$translator.trans(messageAcceptCondition)"
      />
    </div>
    <br>
    <div class="text-center">
      <loader v-if="processing" />
      <button
        v-else
        type="submit"
        class="btn btn-module-main"
      >
        {{ $translator.trans("I register and create my account") }}
      </button>
    </div>
    <input
      type="hidden"
      name="sessionId"
      :value="session.id"
    >
  </form>
</template>

<script>

import Alert from '../../components/ui/Alert.vue'
import Loader from '../../components/ui/Loader.vue'
import RegisterFormPart from '../RegisterFormPart/RegisterFormPart.vue'

export default {
  name: 'NewParticipantSelfSubscriptionModal',
  components: {
    RegisterFormPart,
    Loader,
    Alert
  },
  props: {
    session: {
      type: Object,
      default: () => ({})
    },
    module: {
      type: Object,
      default: () => ({})
    },
    csrfToken: {
      type: String,
      required: false,
      default: ''
    },
    firstEmail: {
      type: String,
      required: false,
      default: ''
    }
  },
  data () {
    return {
      acceptCondition: false,
      processing: false,
      errorMessage: '',
      messageAcceptCondition: 'I agree to the <strong><a href="https://live-session.fr/confidentialite/" target="_blank"> Live Session Terms and Conditions </a></strong> and acknowledge that I have been informed and consent to the processing of my personal data detailed in the <strong><a href="https://live-session.fr/mentions-legales/" target="_blank"> Live Session Privacy Policy </a></strong>.'
    }
  },
  methods: {
    submitRegistration () {
      this.$emit('submit-form', (error) => {
        if (error || !this.acceptCondition) {
          this.errorMessage = 'Mandatory fields are missing.'
          return
        }

        this.processing = true
        const formData = new FormData(this.$refs.registrationForm)
        const registrationFormJson = JSON.stringify(this.module.registrationForm)
        formData.append('register-form-responses', registrationFormJson)
        this.$axios.post(this.$routing.generate('_self_subscription_hub_register_new_participant', {
          clientName: this.module.slugClient,
          sessionId: this.session.id,
          domain: this.module.domain
        }), formData)
          .then((response) => {
            this.processing = false
            window.location.href = this.$routing.generate('_self_subscription_hub_home', {
              clientName: this.module.slugClient,
              domain: this.module.domain
            })
          })
          .catch((error) => {
            this.processing = false
            if ('message' in error.response.data) {
              this.errorMessage = error.response.data.message.text
            }
          })
      })
    }
  }
}
</script>
