<template>
  <aside class="bg-light">
    <div class="container">
      <form class="row p-4 pt-3">
        <div class="col-12 col-lg mb-4 mb-sm-0">
          <label
            for="home-filter-search"
            class="form-label"
          >{{ $translator.trans('Search') }}</label>
          <input
            id="home-filter-search"
            v-model="filterReplay.text"
            type="text"
            class="form-control"
            :placeholder="$translator.trans('Search by keyword...')"
          >
        </div>
        <div class="col-12 col-lg mb-4 mb-sm-0">
          <label
            for="home-filter-theme"
            class="form-label"
          >{{ $translator.trans('Filter by category') }}</label>
          <select
            id="home-filter-theme"
            v-model="filterReplayCategory"
            type="text"
            class="form-select"
            @change="updateFilterCategory"
          >
            <option value="0">
              {{ $translator.trans('--CHOOSE--') }}
            </option>
            <option
              v-for="category in filteredCatalogsReplay"
              :key="category.id"
              :value="category.id"
            >
              {{ category.categoryName }}
            </option>
          </select>
        </div>
      </form>
      <div
        v-if="showActiveFilter"
        class="d-flex flex-column flex-sm-row"
      >
        <div class="col-12 col-sm-2">
          <label class="form-label">{{ $translator.trans('Active filters') }} :</label>
        </div>
        <div
          v-if="filterReplay.category.length > 0"
          class="col-auto"
        >
          <div
            v-for="selectedCategory in filterReplay.category"
            :key="selectedCategory"
            style="display: inline-block; margin-right: 10px;"
          >
            <img
              src="/build/static/icons/cross.svg"
              role="button"
              style="margin-right: 5px;"
              @click="resetFilter('category', selectedCategory)"
            >
            {{ getCategoryName(selectedCategory) }}
          </div>
        </div>
      </div>
      <div
        v-if="showActiveSearch"
        class="d-flex flex-column flex-sm-row"
      >
        <div class="col-12 col-sm-2">
          <label class="form-label">{{ $translator.trans('Active search') }} :</label>
        </div>
        <div class="col-10 text-wrap">
          <img
            src="/build/static/icons/cross.svg"
            role="button"
            style="margin-right: 10px"
            @click="resetFilter('text')"
          >
          {{ filterReplay.text }}
        </div>
      </div>
    </div>
  </aside>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ReplaySearchArea',
  components: {  },
  data () {
    return {
      filterReplayCategory: '0'
    }
  },
  computed: {
    ...mapState('selfSubscription', ['module', 'filterReplay']),
    filteredCatalogsReplay () {
      return this.module.catalogsReplay.filter(category => category.active && !this.filterReplay.category.includes(category.id))
    },
    showActiveSearch () {
      return this.filterReplay.text !== ''
    },
    showActiveFilter () {
      return (this.filterReplay.category.length > 0)
    }

  },
  methods: {
    updateFilterCategory () {
      if (!this.filterReplay.category.includes(this.filterReplayCategory)) {
        this.filterReplay.category.push(this.filterReplayCategory)
      }
      this.filterReplayCategory = '0'
    },
    resetFilter (filterReplay, selectedCategory) {
      switch (filterReplay) {
        case 'text' :
          this.filterReplay.text = ''
          break
        case 'category' :
          const index = this.filterReplay.category.indexOf(selectedCategory)
          if (index !== -1) {
            this.filterReplay.category.splice(index, 1)
          }
          break
      }
    },
    getCategoryName (categoryId) {
      const category = this.module.catalogsReplay.find(cat => cat.id === categoryId)
      return category ? category.categoryName : ''
    }
  }
}
</script>
