<template>
  <span
    class="fw-lighter ms-4 lh-lg"
    :class="{'cursor-pointer': !sent}"
    @click="resendConvocation"
  >
    <i class="icon icon-mail me-1 text-module-main" />
    <loader
      v-if="sending"
      class="d-inline-block"
    />
    <span
      v-else-if="error"
      class="text-danger"
    >{{ $translator.trans('Failure while sending', {}, 'self-subscription') }}</span>
    <span
      v-else-if="sent"
      class="text-success"
    >{{ $translator.trans('Convocation sent', {}, 'self-subscription') }}</span>
    <span
      v-else
      class="text-decoration-underline"
    >{{ $translator.trans('Resend convocation', {}, 'self-subscription') }}</span>
  </span>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import Loader from '../../components/ui/Loader'

export default {
  name: 'SendConvocationButton',
  components: { Loader },
  props: {
    subjectIndex: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      sent: false,
      sending: false,
      error: false
    }
  },
  computed: {
    ...mapGetters({ subjects: 'selfSubscription/filteredSubjects' }),
    ...mapState('selfSubscription', ['module', 'subscriptions', 'currentSubscriptionBySubject']),
    subject () {
      return this.subjects[this.subjectIndex]
    },
    session () {
      return this.subscriptions[this.currentSubscriptionBySubject[this.subject.id]]
    }
  },
  methods: {
    resendConvocation () {
      if (!this.sent) {
        this.sending = true
        this.sent = false
        this.error = false

        this.$axios.get(this.$routing.generate('_self_subscription_hub_session_send_convocation', { clientName: this.module.slugClient, domain: this.module.domain, id: this.session.id }))
          .then((response) => {
            this.sending = false
            this.sent = true
          }).catch((error) => {
            this.sending = false
            this.error = true
            if ('response' in error && 'data' in error.response && typeof error.response.data === 'object' && 'message' in error.response.data && 'text' in error.response.data.message) {
              this.error = true
            }
            setTimeout(() => { this.error = false }, 5000)
          })
      }
    }
  }
}
</script>

<style scoped>

</style>
