<template>
  <div
    id="ShowReplayVideoModal"
    ref="showReplayVideoModal"
    class="modal fade"
    tabindex="-1"
  >
    <div
      class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
      style="min-width: 60%;"
    >
      <div class="modal-content">
        <div class="modal-header">
          <div>
            <p class="mb-0">
              {{ videoTitle }}
            </p>
            <p class="mb-0">
              {{ videoDescription }}
            </p>
          </div>
          <button
            type="button"
            class="btn-close mb-auto"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div
          class="modal-body"
          :style="{ 'min-height': calculHauteurModal + 'px' }"
        >
          <iframe
            :src="linkToVideo"
            width="100%"
            :height="calculHauteurModal"
            allowfullscreen
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ShowReplayVideoModal',
  computed: {
    ...mapState('module', ['video', 'linkToVideo']),
    screenWidth () {
      return window.innerWidth
    },
    calculHauteurModal () {
      if (this.screenWidth < 500) {
        return ((this.screenWidth * 90) / 100) / (16 / 9) + 50
      }
      return ((this.screenWidth * 60) / 100) / (16 / 9)
    },
    videoTitle () {
      if (!this.video) {
        return ''
      }
      return this.video.title
    },
    videoDescription () {
      if (!this.video) {
        return ''
      }
      return this.video.description
    }
  },
  mounted () {
    this.$refs.showReplayVideoModal.addEventListener('hidden.bs.modal', function (event) {
      this.$store.commit('module/updateLinkToVideo', null)
      this.$store.commit('module/updateVideoSelected', null)
    }.bind(this))
  },
  methods: {}
}
</script>
