<template>
  <main class="row p-0 m-0">
    <div class="col">
      <div class="container">
        <p class="mb-4">
          <small class="text-muted">{{ $translator.trans('%subjectCount% subject(s) available', {subjectCount : subjects.length}) }}</small>
        </p>
        <subject-card
          v-for="(subject, subjectIndex) in subjects"
          :key="subject.id"
          :subject-index="subjectIndex"
          :subject="subject"
          :user="user"
          :module="module"
          :csrf-token="csrfToken"
        />
        <login-replay-self-subscription-modal
          :module="module"
          :csrf-token="csrfToken"
          redirect-to="formation-replay"
        />
        <show-replay-video-modal />
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import SubjectCard from './SubjectCard'
import LoginReplaySelfSubscriptionModal from './LoginReplaySelfSubscriptionModal.vue'
import ShowReplayVideoModal from './ShowReplayVideoModal.vue'

export default {
  name: 'SubjectList',
  components: {
    ShowReplayVideoModal,
    LoginReplaySelfSubscriptionModal,
    SubjectCard
  },
  props: {
    user: {
      type: Object,
      required: false,
      default: () => {
      }
    },
    module: {
      type: Object,
      required: true
    },
    csrfToken: {
      type: String,
      required: false,
      default: ''
    }
  },
  computed: {
    ...mapGetters({ subjects: 'selfSubscription/filteredSubjects' }),
    ...mapState('selfSubscription', ['filter', 'currentSubscriptionBySubject', 'previousSubscriptionBySubject'])

  }
}
</script>
