<template>
  <aside class="bg-light">
    <div class="container-fluid">
      <form
        :class="['row p-4 pt-3 justify-content-center', {
          'pb-1': showActiveSearch || showActiveFilter
        }]"
      >
        <div class="col-12 col-lg-2 mb-4 mb-sm-0">
          <label
            for="home-filter-search"
            class="form-label"
          >{{ $translator.trans('Search') }}</label>
          <input
            id="home-filter-search"
            v-model="filter.text"
            type="text"
            class="form-control fs-9"
            :placeholder="$translator.trans('Search by keyword...')"
          >
        </div>
        <div class="col-12 col-lg-2 mb-4 mb-sm-0">
          <label
            for="home-filter-theme"
            class="form-label"
          >{{ $translator.trans('Theme') }}</label>
          <select
            id="home-filter-theme"
            v-model="filter.theme"
            type="text"
            class="form-select fs-9"
          >
            <option value="0">
              {{ $translator.trans('--CHOOSE--') }}
            </option>
            <option
              v-for="theme in module.themes"
              :key="theme.id"
              :value="theme.id"
            >
              {{ theme.name }}
            </option>
          </select>
        </div>
        <div class="col-12 col-lg-2 mb-4 mb-sm-0">
          <label
            for="home-filter-modality"
            class="form-label"
          >{{ $translator.trans('Category') }}</label>
          <select
            id="home-filter-modality"
            v-model="filter.type"
            type="text"
            class="form-select fs-9"
          >
            <option value="both">
              {{ $translator.trans('--CHOOSE--') }}
            </option>
            <option
              v-for="category in sortedCategoryAvailableClient"
              :key="category"
              :value="category"
            >
              {{ $translator.trans(category) }}
            </option>
            <!--              <option value="onsite">-->
            <!--                {{ $translator.trans('Onsite') }}-->
            <!--              </option>-->
            <!--              <option value="virtual">-->
            <!--                {{ $translator.trans('Virtual classroom') }}-->
            <!--              </option>-->
          </select>
        </div>

        <div class="col-12 col-lg-2 mb-4 mb-sm-0">
          <label
            for="home-filter-dates"
            class="form-label"
          >{{ $translator.trans('Live / replay') }}</label>
          <div class="d-flex">
            <select
              id="home-filter-theme"
              v-model="filter.state"
              type="text"
              class="form-select fs-9"
            >
              <option value="both">
                {{ $translator.trans('Both') }}
              </option>
              <option value="live">
                {{ $translator.trans('Live') }}
              </option>
              <option value="replay">
                {{ $translator.trans('Replay') }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-12 col-lg-2 mb-4 mb-sm-0">
          <label
            for="home-filter-dates"
            class="form-label"
          >{{ $translator.trans('Dates') }}</label>
          <div class="d-flex">
            <datetime
              v-model="filter.from"
              type="date"
              :format="format"
              :phrases="{ok: $translator.trans( 'OK' ), cancel: $translator.trans( 'Cancel' )}"
              :use12-hour="false"
              auto
              class="input-group datetime-picker-primary flex-grow-1 me-1"
              input-class="date form-control fs-9"
              :placeholder="$translator.trans('From')"
            />
            <datetime
              v-model="filter.to"
              type="date"
              :format="format"
              :phrases="{ok: $translator.trans( 'OK' ), cancel: $translator.trans( 'Cancel' )}"
              :use12-hour="false"
              auto
              class="input-group datetime-picker-primary flex-grow-1 ms-1"
              input-class="date form-control fs-9"
              :placeholder="$translator.trans('To')"
            />
          </div>
        </div>

        <div class="col-12 col-lg-2 mb-4 mb-sm-0">
          <label
            for="home-filter-dates"
            class="form-label"
          >{{ $translator.trans('Sort by') }}</label>
          <select
            id="home-filter-theme"
            v-model="filter.sort"
            type="text"
            class="form-select fs-9"
          >
            <option
              v-for="{value, text} in sortOptionsByText"
              :key="value"
              :value="value"
            >
              {{ $translator.trans(text) }}
            </option>
          </select>
        </div>
      </form>
      <div
        v-if="showActiveFilter"
        class="text-start row container pb-1"
      >
        <div class="col-12 col-sm-2">
          <label
            class="form-label"
          >{{ $translator.trans('Active filters') }} :</label>
        </div>
        <div
          v-if="filter.theme !== '0'"
          class="col-auto"
        >
          <img
            src="/build/static/icons/cross.svg"
            role="button"
            style="margin-right: 10px"
            @click="resetFilter('theme')"
          >
          {{ filterThemeName }}
        </div>
        <div
          v-if="filter.type !== 'both'"
          class="col-auto"
        >
          <img
            src="/build/static/icons/cross.svg"
            role="button"
            style="margin-right: 10px"
            @click="resetFilter('type')"
          >
          {{ $translator.trans(filter.type) }}
        </div>
        <div
          v-if="filter.state !== 'both'"
          class="col-auto"
        >
          <img
            src="/build/static/icons/cross.svg"
            role="button"
            style="margin-right: 10px"
            @click="resetFilter('state')"
          >
          {{ $translator.trans(filter.state) }}
        </div>
        <div
          v-if="filter.from !== ''"
          class="col-auto"
        >
          <img
            src="/build/static/icons/cross.svg"
            role="button"
            style="margin-right: 10px"
            @click="resetFilter('from')"
          >
          {{ filter.from|formatDate('datetime_med') }}
        </div>
        <div
          v-if="filter.to !== ''"
          class="col-12 col-lg"
        >
          <img
            src="/build/static/icons/cross.svg"
            role="button"
            style="margin-right: 10px"
            @click="resetFilter('to')"
          >
          {{ filter.to|formatDate('datetime_med') }}
        </div>
      </div>

      <div
        v-if="showActiveSearch"
        class="text-start row container pb-1"
      >
        <div class="col-12 col-sm-2">
          <label class="form-label">{{ $translator.trans('Active search') }} :</label>
        </div>
        <div class="col-10 text-wrap">
          <img
            src="/build/static/icons/cross.svg"
            role="button"
            style="margin-right: 10px"
            @click="resetFilter('text')"
          >
          {{ filter.text }}
        </div>
      </div>
      <div
        v-if="filter.sort !== 'orderInModule'"
        class="text-start row container pb-1"
      >
        <div class="col-12 col-sm-2">
          <label class="form-label">{{ $translator.trans('Active sorting') }} :</label>
        </div>
        <div class="col-10 text-wrap">
          <img
            src="/build/static/icons/cross.svg"
            role="button"
            style="margin-right: 10px"
            @click="resetFilter('sort')"
          >
          {{ $translator.trans(filterSortName) }}
        </div>
      </div>
    </div>
  </aside>
</template>

<script>
import { mapState } from 'vuex'
import { Datetime } from 'vue-datetime'
import { DateTime } from 'luxon'

export default {
  name: 'SubjectSearchArea',
  components: { Datetime },
  computed: {
    ...mapState('selfSubscription', ['module', 'filter', 'sortOptions']),
    format () {
      return DateTime.DATE_MED
    },
    showActiveSearch () {
      return this.filter.text !== ''
    },
    showActiveFilter () {
      return (this.filter.theme !== '0' || this.filter.type !== 'both' || this.filter.state !== 'both' || this.filter.from !== '' || this.filter.to !== '')
    },
    filterThemeName () {
      const themeFiltered = this.module.themes.filter(theme => theme.id === this.filter.theme)[0]
      if (themeFiltered) {
        return themeFiltered.name
      }
      return ''
    },
    sortedCategoryAvailableClient () {
      return this.module.categoryAvailableClient.slice().sort()
    },
    filterSortName () {
      return this.sortOptions.filter(sort => sort.value === this.filter.sort)[0].text
    },
    sortOptionsByText () {
      return [...this.sortOptions].sort((a, b) => this.$translator.trans(a.text).localeCompare(this.$translator.trans(b.text)))
    }
  },
  methods: {
    resetFilter (filter) {
      switch (filter) {
        case 'text' :
          this.filter.text = ''
          break
        case 'theme' :
          this.filter.theme = '0'
          break
        case 'type' :
          this.filter.type = 'both'
          break
        case 'from' :
          this.filter.from = ''
          break
        case 'to' :
          this.filter.to = ''
          break
        case 'state' :
          this.filter.state = 'both'
          break
        case 'sort' :
          this.filter.sort = 'orderInModule'
          break
      }
      const searchURL = new URL(window.location)
      searchURL.searchParams.delete(filter)
      window.history.pushState({}, '', searchURL)
    }
  }
}
</script>
