<template>
  <li class="m-1">
    <div class="d-flex mb-3 mb-sm-0 flex-column flex-column-row p-2 mx-auto">
      <span class="stakeholder-photo text-center d-inline-block align-top">
        <img
          v-if="speaker.photo"
          :src="speaker.photoUri"
          :alt="speaker.name"
          class="img-fluid"
        >
        <img
          v-else
          :alt="speaker.name"
          src="/build/static/icons/avatar-default.svg"
        >
      </span>
      <span class="stakeholder-infos text-center d-inline-block align-top mt-1">
        <span
          v-if="speaker.name"
          class="d-block author fs-6  fw-bold"
        >
          <strong>{{ speaker.name }}</strong>
        </span>
        <span
          v-if="speaker.title"
          class="d-block"
        >
          {{ speaker.title }}
        </span>
        <span
          v-if="speaker.information"
          class="d-block job"
          style="font-size: 12px"
        >
          {{ speaker.information }}
        </span>
      </span>
    </div>
  </li>
</template>

<script>
export default {
  name: 'SubjectCardSpeakerListItem',
  props: {
    speaker: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
