<template>
  <section>
    <div
      v-if="module.personalization.trainingBanner"
      :class="['module-banner module-banner-training', {
        ['background-position-' + module.personalization.trainingBannerPosition]: module.personalization.trainingBannerPosition,
      }]"
    />

    <div
      :class="['col bg-light p-3 py-2 text-center d-block', {
        'd-lg-none': (!module.personalization.trainingTitle || !module.personalization.closeSubscriptions) && !module.closeSubscriptions,
      }]"
    >
      <h1 class="fw-bold mb-0 d-block d-lg-none">
        {{ $translator.trans(module.personalization.trainingTitle, {}, 'self-subscription') }}
      </h1>
      <aside v-if="module.personalization.trainingDescription">
        <div class="container pt-2">
          <div class="col-auto col-md-5 mx-auto">
            {{ $translator.trans(module.personalization.trainingDescription, {}, 'self-subscription') }}
          </div>
        </div>
      </aside>
      <aside
        v-if="module.closeSubscriptions"
        class="alert alert-warning alert-dismissible container text-center"
      >
        {{
          $translator.trans('Les inscriptions seront clôturées %nbrdays% jours avant le début de la session', {
            'nbrdays': module.closeSubscriptionsBeforeNbrDays
          })
        }}
        <tooltip
          :text="$translator.trans('The organizer has decided to close the registrations before the beginning of the sessions, to ensure their management.')"
        />
      </aside>
    </div>
  </section>
</template>

<script>

import tooltip from '../../components/ui/Tooltip'
import { mapState } from 'vuex'

export default {
  name: 'SubjectHeader',
  components: { tooltip },
  props: {
    module: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState('selfSubscription', ['filter', 'user'])
  },
  methods: {
    changeView (view, event) {
      setTimeout(() => this.$store.commit('selfSubscription/view', view), 1)
    }
  }
}
</script>

<style scoped>

</style>
