<template>
  <div
    v-if="showProgram"
    class="nq-description mx-auto mb-5"
  >
    <h2 class="nq-heading d-block text-center fs-3 lh-sm my-3 text-module-main">
      {{ $translator.trans('Program') }}
    </h2>
    <div class="nq-rte">
      <p
        style="margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-size: 14px; line-height: 1.5625rem; color: rgb(72, 73, 77); font-family: Roboto, sans-serif;"
        v-html="program.description"
      />
    </div>
    <slot name="chooseDate" />
  </div>
</template>

<script>
export default  {
  name: 'SubjectCardProgram',
  props: {
    program: {
      type: Object,
      required: true
    }
  },
  computed: {
    showProgram () {
      return this.program.description && this.program.description !== '<p><br data-mce-bogus="1"></p>'
    }
  }
}
</script>

<style scoped>

</style>
