<template>
  <div
    ref="card"
    class="card mb-4 subject-card overflow-hidden"
  >
    <confirmation-pop-in
      :id="'unsubscribe_session_'+subject.id.toString()"
      :title="$translator.trans('Unregister from a session')"
      :content="$translator.trans('Are your sure you want to unsubscribe ?')"
      :confirm="unsubscribe"
    />
    <div class="card-body p-0 ">
      <div class="d-flex flex-wrap">
        <div
          v-if="subject.program.illustrationUri"
          class="col-12 col-sm-2 p-0 m-0 p module-illustration-container"
        >
          <img
            class="module-illustration-content"
            :src="subject.program.illustrationUri"
            alt=""
          >
        </div>
        <div
          :class="subject.program.illustrationUri ? 'col-sm-10' : 'col-sm-12'"
          class="col-12 p-4"
        >
          <h3 class="card-title">
            {{ subject.name }}
          </h3>

          <div class="d-flex flex-column flex-lg-row justify-content-between w-100">
            <div class="card-subtitle g-4">
              <div class="d-flex flex-wrap">
                <span
                  class="m-1 ms-0 badge d-inline-flex justify-content-center align-items-center bg-module-main"
                >
                  <i class="icon icon-category me-2" />
                  {{ subject.theme.name }}
                </span>
                <span
                  class="m-1 ms-0 badge d-inline-flex justify-content-center align-items-center bg-module-main"
                >
                  <i class="mb-1 icon icon-time me-2" />
                  {{ subject.readableDuration }}
                </span>
                <span
                  class="m-1 ms-0 badge d-inline-flex justify-content-center align-items-center bg-module-main"
                >
                  <i
                    class="mb-1 icon me-2"
                    :class="iconSession"
                  />
                  {{ typeOfSession }}
                </span>
              </div>
              <div class="card-text mt-2">
                <p
                  class="m-0"
                  v-html="subject.description"
                />
              </div>
              <div
                v-if="showProgramSpeakers"
                class="fw-lighter cursor-pointer mx-auto mt-4 text-module-main"
                @click="openOrCloseProgram"
              >
                <p>
                  <strong> {{ $translator.trans('Program and speakers', {}, 'self-subscription') }} </strong>
                </p>
              </div>
            </div>
            <div
              v-if="filter.view === 'Previous'"
              class="d-flex flex-column flex-lg-row w-100 actions justify-content-center align-items-center ms-lg-4 g-1"
              style="min-width: 235px"
            >
              <div class="d-flex justify-content-center align-items-center flex-column w-100">
                <div
                  v-if="!isPresentInSession"
                  style="margin-bottom: 15px"
                >
                  <h6 style="color: red">
                    {{ $translator.trans('Absent.e') }}
                  </h6>
                </div>
                <div class="card border-module-main shadow-none">
                  <div class="card-body">
                    <div class="card-text text-center">
                      {{ $translator.trans('Subscribe on') }}<br>
                      <span class="text-module-main fw-bolder">{{ session.dateStart|formatDate('date_simple') }}</span>
                      {{ $translator.trans('at') }}
                      <span class="text-module-main fw-bolder">{{
                        session.dateStart|formatDate('hours_minutes')
                      }}</span>
                    </div>
                  </div>
                </div>
                <div
                  v-if="isPresentInSession"
                  class="mt-2"
                >
                  <a
                    class="fw-lighter cursor-pointer me-2"
                    :href="$routing.generate('_download_training_certificate_participant', { id: session.id, user: user.id })"
                    target="_blank"
                  >
                    <i class="icon icon-formation me-1 text-module-main" />
                    <span class="text-decoration-underline">{{ $translator.trans('Download my certificate') }}</span>
                  </a>
                </div>
              </div>
            </div>
            <div
              v-else
              class="d-flex flex-column flex-lg-row w-100 actions justify-content-center align-items-center ms-lg-4 g-1"
              style="min-width: 235px"
            >
              <div
                v-if="sessionCount >= 1"
                class="d-flex justify-content-center align-items-center flex-column w-100"
              >
                <span
                  v-if="sessionCount > 1 && !isSubscribe"
                  class="mb-2"
                ><strong>{{ sessionCount }}</strong> {{
                  $translator.trans('available sessions')
                }}</span>
                <button
                  v-if="!isSubscribe && sessionCount > 1"
                  class="btn btn-module-main"
                  type="button"
                  @click="closeProgram()"
                >
                  {{ $translator.trans('Choose a date') }}
                </button>
                <div v-else-if="!isSubscribe && sessionCount === 1 && currentSessions[0]">
                  <div class="d-flex border mb-2 align-items-center justify-content-between round w-100">
                    <div class="col-2 px-2">
                      <img
                        class="p-2"
                        src="/build/static/icons/calendar.svg"
                      >
                    </div>
                    <div class="col px-3 py-2">
                      <div class="d-flex flex-column">
                        <small>{{ ucFirst(DateTime.fromISO(currentSessions[0].dateStart).toLocaleString({weekday: 'long'})) }}</small>
                        <small><strong>{{ DateTime.fromISO(currentSessions[0].dateStart).toLocaleString(DATE_FULL) }}</strong></small>
                        <small>{{ sessionDuration({
                          dateStart: currentSessions[0].dateStart,
                          dateEnd: currentSessions[0].dateEnd
                        }) }}</small>
                      </div>
                    </div>
                  </div>
                  <loader
                    v-if="saving"
                    class="d-inline-block"
                  />
                  <button
                    v-else-if="!user.isGuestUser"
                    class="btn btn-module-main mx-auto d-block"
                    :disabled="isCloseSubscription"
                    @click="() => validSubscription(currentSessions[0])"
                  >
                    {{ $translator.trans('Register') }}
                  </button>
                  <button
                    v-else-if="user.isGuestUser && !isEmbed"
                    class="btn btn-module-main mx-auto d-block"
                    :disabled="isCloseSubscription"
                    data-bs-auto-close="outside"
                    href="#"
                    data-bs-toggle="modal"
                    :data-bs-target="`#login-self-subscription-modal-${currentSessions[0].id}`"
                  >
                    {{ $translator.trans('Register') }}
                  </button>
                  <button
                    v-else-if="isEmbed"
                    class="btn btn-module-main mx-auto d-block"
                    :disabled="isCloseSubscription"
                    @click="() => redirectToRealPage(currentSessions[0])"
                  >
                    {{ $translator.trans('Register') }}
                  </button>

                  <login-self-subscription-modal
                    :id="`login-self-subscription-modal-${currentSessions[0].id}`"
                    :session="currentSessions[0]"
                    :module="module"
                    :csrf-token="csrfToken"
                    :subject="subject"
                  />
                </div>
                <template v-else>
                  <div class="card border-module-main shadow-none">
                    <div class="card-body">
                      <div class="card-text text-center">
                        {{ $translator.trans('Subscribe on') }}<br>
                        <span class="text-module-main fw-bolder">{{
                          session.dateStart|formatDate('date_simple')
                        }}</span>
                        {{ $translator.trans('at') }}
                        <span class="text-module-main fw-bolder">{{
                          session.dateStart|formatDate('hours_minutes')
                        }}</span>
                      </div>
                    </div>
                  </div>
                  <div
                    v-if="!isClosed"
                    class="mt-3 mb-3 mb-lg-0 mt-lg-2"
                  >
                    <span
                      class="fw-lighter cursor-pointer me-2"
                      data-bs-toggle="modal"
                      :data-bs-target="'#confirmationPopIn_unsubscribe_session_'+subject.id.toString()"
                    >
                      <i class="icon icon-logout me-1 text-module-main" />
                      <span
                        class="text-decoration-underline text-module-main"
                      >{{ $translator.trans('Unsubscribe me', {}, 'self-subscription') }}</span>
                    </span>
                    <span class="fw-lighter cursor-pointer">
                      <i class="icon icon-pen me-1 text-module-main" />
                      <span
                        class="text-decoration-underline"
                        @click="showDaySlider =!showDaySlider"
                      >
                        {{ $translator.trans('Update', {}, 'self-subscription') }}
                      </span>
                    </span>
                  </div>
                  <div v-else>
                    <div class="alert alert-warning alert-dismissible">
                      {{
                        $translator.trans('Registrations are closed, it is no longer possible to modify your registration or to unsubscribe.')
                      }}
                    </div>
                  </div>
                </template>
              </div>
              <div
                v-else-if="subject.videoReplay && subject.videoReplay.published"
                class="d-flex justify-content-center align-items-center flex-column w-100 text-center"
              >
                <button
                  class="btn btn-module-main"
                  type="button"
                  data-bs-auto-close="outside"
                  data-bs-toggle="modal"
                  :data-bs-target="user.isGuestUser ? '#LoginReplaySelfSubscriptionModal' : '#ShowReplayVideoModal'"
                  @click="newViewerReplay"
                >
                  {{ $translator.trans('Watch the replay', {}, 'self-subscription') }}
                </button>
              </div>
              <div
                v-else
                class="d-flex justify-content-center align-items-center flex-column w-50 text-center"
              >
                <span
                  class="text-muted"
                >{{ $translator.trans('No session available for this topic', {}, 'self-subscription') }}</span>
              </div>
            </div>
          </div>
          <template v-if="filter.view === 'Current'">
            <div class="d-flex align-items-center flex-column flex-lg-row">
              <div
                class="btn btn-module-main"
                @click="displayConvocation"
              >
                {{ $translator.trans('My connection details', {}, 'self-subscription') }}
              </div>
              <div class="mt-3 mt-lg-0">
                <span
                  class="fw-lighter cursor-pointer ms-4 lh-lg"
                  @click="addToCalendar"
                >
                  <i class="icon icon-calendar me-1 text-module-main" />
                  <span class="text-decoration-underline">{{
                    $translator.trans('Add to my calendar', {}, 'self-subscription')
                  }}</span>
                </span>
                <send-convocation-button :subject-index="subjectIndex" />
              </div>
            </div>
          </template>
        </div>
        <div
          v-if="showMoreDetail"
          class="col"
        >
          <hr class="w-100 mt-0 pt-0 mb-4">
          <div class="col text-end">
            <button
              type="button"
              class="btn-close"
              style="padding-right: 50px"
              @click="() => showMoreDetail = !showMoreDetail"
            />
          </div>

          <div
            class="nq-container-webinar mx-auto p-4"
          >
            <subject-card-program :program="subject.program" />
            <subject-card-speaker :speakers="subject.speakers" />
            <button
              v-if="!isSubscribe && sessionCount >= 2"
              class="btn btn-module-main d-block ms-auto"
              type="button"
              @click="closeProgram()"
            >
              {{ $translator.trans('Choose a date') }}
            </button>

            <template v-if="!isSubscribe && sessionCount === 1 && currentSessions[0]">
              <loader
                v-if="saving"
                class="text-end"
              />
              <button
                v-else-if="!user.isGuestUser"
                class="btn btn-module-main d-block ms-auto"
                :disabled="isCloseSubscription"
                @click="() => validSubscription(currentSessions[0])"
              >
                {{ $translator.trans('Register') }}
              </button>
              <button
                v-else-if="user.isGuestUser && !isEmbed"
                class="btn btn-module-main d-block ms-auto"
                :disabled="isCloseSubscription"
                data-bs-auto-close="outside"
                href="#"
                data-bs-toggle="modal"
                :data-bs-target="`#login-self-subscription-modal-${currentSessions[0].id}`"
              >
                {{ $translator.trans('Register') }}
              </button>
              <button
                v-else-if="isEmbed"
                class="btn btn-module-main d-block ms-auto"
                :disabled="isCloseSubscription"
                @click="() => redirectToRealPage(currentSessions[0])"
              >
                {{ $translator.trans('Register') }}
              </button>
            </template>
          </div>
        </div>

        <template v-if="showDaySlider">
          <hr class="w-100 mt-0 pt-0 mb-4">
          <div class="col text-end">
            <button
              type="button"
              class="btn-close"
              style="padding-right: 50px"
              @click="() => showDaySlider = !showDaySlider"
            />
          </div>
          <div class="px-4 w-100">
            <days-slider
              :subject-index="subjectIndex"
              :module="module"
              :csrf-token="csrfToken"
              :subject="subject"
              @closeRegistration="closeRegistration"
              @validSubscription="validSubscription"
            />
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import DaysSlider from './DaysSlider'
import { mapGetters, mapState } from 'vuex'
import { subscribeUser, unsubscribeUser } from '../../repository/selfsubscriptionhub/session'
import SendConvocationButton from './SendConvocationButton'
import ConfirmationPopIn from '../../components/ui/PopIn/ConfirmationPopIn.vue'
import SubjectCardProgram from './SubjectCardProgram.vue'
import SubjectCardSpeaker from './SubjectCardSpeaker.vue'
import { newViewerReplay } from '../../repository/selfsubscription/video'
import { REPLAY_PLATFORM_OTHER, splitUrlKeyByPlatform } from '../../store/module/module'
import { DateTime } from 'luxon'
import { DATE_FULL } from 'luxon/src/impl/formats'
import Loader from '../../components/ui/Loader.vue'
import LoginSelfSubscriptionModal from './LoginSelfSubscriptionModal.vue'

export default {
  name: 'SubjectCard',
  components: {
    LoginSelfSubscriptionModal,
    Loader,
    SubjectCardSpeaker,
    SubjectCardProgram,
    ConfirmationPopIn,
    SendConvocationButton,
    DaysSlider
  },
  props: {
    subjectIndex: {
      type: Number,
      required: true
    },
    user: {
      type: Object,
      required: false,
      default: () => {
      }
    },
    module: {
      type: Object,
      required: true
    },
    csrfToken: {
      type: String,
      required: false,
      default: ''
    }
  },
  data () {
    return {
      showDaySlider: false,
      sending: false,
      isPresent: false,
      showMoreDetail: false
    }
  },
  computed: {
    DATE_FULL () {
      return DATE_FULL
    },
    DateTime () {
      return DateTime
    },
    ...mapGetters({ subjects: 'selfSubscription/filteredSubjects' }),
    ...mapGetters({ videoPlatforms: 'module/videoPlatforms' }),
    ...mapState('selfSubscription', ['filter', 'subscriptions', 'previousSubscriptionBySubject', 'currentSubscriptionBySubject', 'isEmbed', 'onlyOneSubject']),
    ...mapState('process', ['saving', 'error']),
    subject () {
      return this.subjects[this.subjectIndex]
    },
    isPresentInSession () {
      return this.checkPresence()
    },
    currentSessions () {
      const to = this.filter.to
      const from = this.filter.from
      return this.subject.sessions.filter(session => {
        const dateCondition =
            (!from || new Date(session.dateEnd) >= new Date(from)) &&
            (!to || new Date(session.dateStart) <= new Date(to))

        const statusCondition = session.scheduled || session.running

        return dateCondition && statusCondition
      })
    },
    sessionCount () {
      return this.currentSessions.length
    },
    isSubscribe () {
      return this.session !== null
    },
    session () {
      if (this.filter.view === 'Previous' && this.subject.id in this.previousSubscriptionBySubject) {
        return this.subscriptions[this.previousSubscriptionBySubject[this.subject.id]]
      } else if (this.filter.view !== 'Previous' && this.subject.id in this.currentSubscriptionBySubject) {
        return this.subscriptions[this.currentSubscriptionBySubject[this.subject.id]]
      }
      return null
    },
    iconSession () {
      return {
        'icon-virtual': this.subject.categorySession === 1 || this.subject.categorySession === 2,
        'icon-locator': this.subject.categorySession === 4,
        'icon-mixte': this.subject.categorySession === 6,
        'icon-webinar': this.subject.categorySession === 7
      }
    },
    typeOfSession () {
      switch (this.subject.categorySession) {
        case 1:
          return this.$translator.trans('Virtual classroom', {}, 'self-subscription')
        case 4:
          return this.$translator.trans('Onsite', {}, 'self-subscription')
        case 6:
          return this.$translator.trans('Mixte', {}, 'self-subscription')
        case 2:
          return this.$translator.trans('Meeting', {}, 'self-subscription')
        case 7:
          return this.$translator.trans('Webinar', {}, 'self-subscription')
        default:
          return ''
      }
    },
    isClosed () {
      if (this.isSubscribe) {
        if (this.session.closeSubscriptionsAfterDate) {
          return true
        } else {
          return false
        }
      } else {
        return false
      }
    },
    showProgramSpeakers () {
      return (this.subject.program.description && this.subject.program.description !== '<p><br data-mce-bogus="1"></p>') || this.subject.speakers.length > 0
    },
    currentPlatform () {
      return this.videoPlatforms.find(platform => platform.value === this.subject.videoReplay.platform)
    },
    linkToVideo () {
      if (this.subject.videoReplay.platform !== REPLAY_PLATFORM_OTHER && this.subject.videoReplay.urlKey !== '') {
        return this.currentPlatform.url + this.getCodeFromUrl
      } else {
        return this.subject.videoReplay.urlKey
      }
    },
    getCodeFromUrl () {
      return splitUrlKeyByPlatform(this.subject.videoReplay.urlKey, this.subject.videoReplay.platform)
    },
    isCloseSubscription () {
      if (this.currentSessions && this.currentSessions.length === 1) {
        return this.currentSessions[0].closeSubscriptionsAfterDate
      }
      return false
    }
  },
  mounted () {
    const urlParams = new URL(window.location.href).searchParams
    if (this.subjectIndex === parseInt(urlParams.get('subject'))) {
      this.showDaySlider = true
    }

    if ((this.subject.videoReplay && this.subject.videoReplay.published) && this.subject.videoReplay.id === parseInt(urlParams.get('trainingReplay'))) {
      this.newViewerReplay()
      this.$bootstrap.Modal.getOrCreateInstance('#ShowReplayVideoModal').show()

      const searchURL = new URL(window.location)
      searchURL.searchParams.delete('trainingReplay')
      window.history.pushState({}, '', searchURL)
    }

    const sessionID = parseInt(urlParams.get('session'))
    if (sessionID && !this.isSubscribe && this.sessionCount === 1 && this.currentSessions[0].id === sessionID) {
      this.$store.commit('selfSubscription/selectSession', { subject: this.subject, session: this.currentSessions[0] })
      const modal = this.$bootstrap.Modal.getOrCreateInstance(document.getElementById(`login-self-subscription-modal-${this.currentSessions[0].id}`))
      modal.show()
    }

    if ((this.onlyOneSubject && this.subject.id === this.onlyOneSubject.id) && this.showProgramSpeakers) {
      this.showMoreDetail = true
      this.$nextTick(() => {
        this.$refs.card.scrollIntoView({ behavior: 'smooth', block: 'center' })
      })
    }
  },
  methods: {
    unsubscribe () {
      unsubscribeUser(this.subject)
    },
    displayConvocation () {
      this.$store.commit('selfSubscription/sessionConvocation', this.session.id)
    },
    addToCalendar () {
      this.$store.commit('selfSubscription/sessionAddToCalendar', {
        subject: this.subject,
        session: this.session
      })
    },
    checkPresence () {
      this.$axios.get(this.$routing.generate('_is_present_in_session', {
        id: this.session.id,
        user: this.user.id
      }))
        .then((response) => {
          this.isPresent = response.data
        })
      return this.isPresent
    },
    closeProgram () {
      this.showDaySlider = !this.showDaySlider
      this.showMoreDetail = false
    },
    openOrCloseProgram () {
      this.showMoreDetail = !this.showMoreDetail
      this.showDaySlider = false
    },
    newViewerReplay () {
      this.$store.commit('module/updateLinkToVideo', this.linkToVideo)
      this.$store.commit('module/updateVideoSelected', this.subject.videoReplay)
      if (this.user.isGuestUser) return false
      newViewerReplay(this.subject.videoReplay)
    },
    ucFirst (word) {
      return word.charAt(0).toUpperCase() + word.slice(1)
    },
    sessionDuration (dates) {
      const dateStart = new Date(dates.dateStart)
      const dateEnd = new Date(dates.dateEnd)

      const formattedStartTime = `${('0' + dateStart.getHours()).slice(-2)}h${('0' + dateStart.getMinutes()).slice(-2)}`
      const formattedEndTime = `${('0' + dateEnd.getHours()).slice(-2)}h${('0' + dateEnd.getMinutes()).slice(-2)}`

      return  `${formattedStartTime} - ${formattedEndTime}`
    },
    validSubscription (session) {
      subscribeUser(this.subject, session)
        .then((response) => {
          if (this.error === null) {
            this.closeRegistration()
          }
        })
    },
    closeRegistration () {
      this.$store.commit('selfSubscription/selectSession', { subject: this.subject, session: null })
      this.$store.commit('process/resetSaving')
      this.showDaySlider = false
    },
    redirectToRealPage (session) {
      window.open(this.$routing.generate('_self_subscription_hub_home', {
        clientName: this.module.slugClient,
        domain: this.module.domain,
        session: session.id
      }))
    }
  }
}
</script>

<style scoped>
.cursor-pointer {
  cursor: pointer;
}
</style>
