<template>
  <article
    v-if="speakers.length"
    class="nq-wrapper-532 mx-auto mb-3 mb-sm-0 px-3 px-md-0 nq-stakeholders"
  >
    <h2 class="nq-heading d-block text-center fs-3 lh-sm my-3 text-module-main">
      {{ $translator.trans('Speaker.s') }}
    </h2>
    <ul
      class="d-block d-sm-flex flex-column flex-sm-row justify-content-center flex-wrap ps-0"
      style="list-style: none;"
    >
      <subject-card-speaker-list-item
        v-for="speaker in speakers"
        :key="speaker.id"
        :speaker="speaker"
      />
    </ul>
  </article>
</template>

<script>
import SubjectCardSpeakerListItem from './SubjectCardSpeakerListItem.vue'

export default {
  name: 'SubjectCardSpeaker',
  components: { SubjectCardSpeakerListItem },
  props: {
    speakers: {
      type: Array,
      required: true
    }
  }
}
</script>
<style scoped>

</style>
