<template>
  <div>
    <div class="align-content-center">
      <div class="col-12">
        <div class="row">
          <div class="col-5">
            {{ $translator.trans('This page displays the number of licenses available for the morning and afternoon slots') }}
          </div>
          <div class="col-1">
            <span class="evaluation-filter-help">
              <img
                src="/build/static/icons/question.svg"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                :title="$translator.trans('The count is done for both the morning and afternoon slots (the limit between the two is 1.00pm) for the current and future sessions. A session will occupy one license over the entire period even if it is scheduled for a short period. This is a display choice that does not impact the ability to schedule sessions. A session scheduled from 11am to 2pm will occupy a license in the morning and in the afternoon. The colors of the alerts (orange and red) depend on the thresholds set in your account. You can also set up a daily email alert to find out about the status of availability.')"
              >
            </span>
          </div>
        </div>
      </div>
      <br><br>
      <div class="col-6">
        <div class="row">
          <div class="col-2">
            {{ $translator.trans('Connector') }}
          </div>
          <div class="col-5">
            <select
              v-model="connectorSelected"
              class="form-control form-select-sm w-100"
              name="filter-action"
            >
              <option
                v-for="configurationHolder in configurationsHolder"
                :key="configurationHolder.id"
                :value="configurationHolder.id"
              >
                {{ configurationHolder.name }}
              </option>
            </select>
          </div>
          <div class="col-1">
            <span class="evaluation-filter-help">
              <img
                src="/build/static/icons/question.svg"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                :title="$translator.trans('Choose the connector')"
              >
            </span>
          </div>
        </div>
      </div>
    </div>
    <br>
    <full-calendar
      ref="calendar"
      :options="calendarOptions"
      class="ls-fullcalendar"
    />
  </div>
</template>

<script>
import FullCalendar, { BASE_OPTION_REFINERS } from '@fullcalendar/vue'
import fullcalendarLocales from '@fullcalendar/core/locales-all'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'
import luxon2Plugin from '@fullcalendar/luxon2'

BASE_OPTION_REFINERS.schedulerLicenseKey = String

export default {
  name: 'LicensesAvailable',
  components: { FullCalendar },
  props: {
    configurationsHolder: {
      type: Array,
      required: false,
      default: () => []
    }
  },
  data () {
    return {
      locale: 'fr',
      error: null,
      connectorSelected: null
    }
  },
  computed: {
    calendarOptions () {
      return {
        plugins: [luxon2Plugin, dayGridPlugin, timeGridPlugin, interactionPlugin],
        schedulerLicenseKey: '0104497368-fcs-1644222333',
        titleFormat: 'LLLL d, yyyy',
        locales: fullcalendarLocales,
        locale: this.locale,
        navLinks: true,
        nowIndicator: true,
        dayMaxEvents: true,
        weekNumbers: true,
        eventMaxStack: 2,
        eventMinHeight: 15,
        scrollTime: '08:00:00',
        scrollTimeReset: false,
        displayEventTime : false,
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        eventSources: this.eventSources
      }
    },
    eventSources () {
      if (this.connectorSelected) {
        const connectorSelected = this.connectorSelected
        const vm = this
        return [
          {
            events (event, callback) {
              vm.error = null
              vm.$axios.get(vm.$routing.generate('_time_slot_available', { start: event.startStr, end: event.endStr, connectorId: connectorSelected }))
                .then((response) => {
                  if ('data' in response && 'message' in response.data) {
                    callback(Array.from(response.data.message, (timeSlot) => {
                      return {
                        id: timeSlot.id,
                        classNames: vm.statusFromSlot(timeSlot).classe,
                        title: vm.statusFromSlot(timeSlot).emoji + ' ' + (timeSlot.numberLicensesAvailable),
                        start: timeSlot.start,
                        end: timeSlot.end,
                        color: vm.statusFromSlot(timeSlot).color,
                        extendedProps: timeSlot
                      }
                    }))
                  }
                }).catch((response) => {
                  vm.error = vm.$translator.trans('An error occurred during the display of timeSlot')
                })
            }
          }
        ]
      } else {
        return []
      }
    }
  },
  mounted () {
    if (this.configurationsHolder && this.configurationsHolder.length >= 1) {
      this.connectorSelected = this.configurationsHolder[0].id
    }
  },
  methods: {
    statusFromSlot (timeSlot) {
      if (timeSlot.numberLicensesAvailable > timeSlot.thresholdMiddle) {
        return  {
          classe : 'time-slot-status-green text-black',
          emoji: '😊 ',
          color: 'green'
        }
      } else if (timeSlot.numberLicensesAvailable <= timeSlot.thresholdMin) {
        return {
          classe : 'time-slot-status-red text-black',
          emoji: '😢 ',
          color: 'red'
        }
      } else {
        return {
          classe : 'time-slot-status-orange text-black',
          emoji: '😐 ',
          color: 'orange'
        }
      }
    }
  }
}
</script>

<style lang="scss">
@import "assets/scss/modules/fullcalendar/fullcalendar";
</style>
