{% extends 'emails/base_email.html.twig' %}
{% block body %}
    <p><b>Test email du transporteur</b></p>
    <p>
        {% set transporter = '' %}
        {% if client.senderTransporter is not null %}
            {% set transporter = client.senderTransporter  %}
        {% endif %}
        {{ client.name }} utilise ici le transporteur "{{ transporter }}"
    </p>
{% endblock %}
