<template>
  <fieldset class="form__fieldset wrapper-presence p-0">
    <div class="row mb-30">
      <div class="col-lg-8">
        <!--        <legend>{{ $translator.trans( 'Attendance' ) }}</legend>-->
        <p
          v-if="session.attendanceReportAvailable"
          class="wrapper-presence__available"
        >
          {{ $translator.trans( 'You can download the attendance report by clicking' ) }}.
          <a
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#download-presence"
          >
            {{ $translator.trans( 'here' ) }}.
          </a>
        </p><p
          v-else
          class="wrapper-presence__available"
        >
          {{ $translator.trans( 'Attendance reports will be available 24 hours after the end of the session' ) }}.
        </p>
        <div
          id="download-presence"
          class="modal fade"
          tabindex="-1"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                {{ $translator.trans('Attendance report') }}
              </div>
              <br>
              <form
                :action="$routing.generate('_session_download_export', { id: session.id })"
                method="post"
                target="_blank"
              >
                <fieldset>
                  <div class="export-dropdown__detail">
                    <div class="export-dropdown__file-type">
                      <input
                        id="exportImportExport"
                        class="form-check-input"
                        type="hidden"
                        name="export-type"
                        value="attendance_report"
                      >
                      <label>{{ $translator.trans('Format') }}</label>
                      <select
                        class="form-select"
                        name="export-format"
                      >
                        <option value="PDF">
                          PDF
                        </option>
                        <option value="XLSX">
                          XLSX
                        </option>
                      </select>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="col export-dropdown__footer">
                    <button
                      class="export-dropdown__submit-btn"
                      type="submit"
                    >
                      {{ $translator.trans('Download') }}
                    </button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <p
          v-if="!switchExternalPresence"
          id="wrapper-presence__info"
          class="wrapper-presence__available mt-10"
        >
          {{ $translator.trans( 'If you are missing a participant, you can add him from the' ) }}
          <a :href="$routing.generate('_session_get', {id: session.id, 'tabName': 'SessionParticipantsTab'})">
            {{ $translator.trans( 'list of participants' ) }}
          </a>
        </p>
      </div>
    </div>
    <div
      v-if="currentUser.anAdmin || currentUser.aManager"
    >
      <div class="row">
        <div class="col-xxl-5 col-xl-8">
          <legend style="font-size: 12px">
            {{ $translator.trans( 'Minimum connection time for Present status' ) }}
          </legend>
          <p class="wrapper-presence__available">
            {{ $translator.trans( 'Customize the minimum connection time for a participant status to be defined as present in downloadable reports. This does not affect cases where participants are manually marked as present, or where digital sign-in is used.' ) }}
          </p>
          <p class="wrapper-presence__available mt-2">
            {{ $translator.trans('For a %duration% session, the minimum connection time to be considered present is %time% minute.s.', {
              duration: session.datesDiffString,
              time: Math.round(session.percentageAttendance / 100 * session.duration)
            })
            }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-6 mb-4 mt-2">
          <div class="row">
            <div
              class="col-4"
              style="width: 170px"
            >
              <div class="input-group">
                <input
                  v-model="session.percentageAttendance"
                  type="number"
                  class="form-control"
                  :disabled="!session.canUpdatePercentageAttendance.status"
                  :class="{'is-invalid': errorPercentageAttendance}"
                  placeholder="70"
                  @input="validateInput(session)"
                >
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
                <img
                  v-if="isRenault"
                  style="margin-left: 10px"
                  src="/build/static/icons/question.svg"
                  data-bs-placement="right"
                  data-bs-toggle="tooltip"
                  :title="$translator.trans('Changes to the minimum duration must be made within 48 hours of the session to be included in the attendance file automatically generated for RCampus.')"
                >
                <img
                  v-else
                  style="margin-left: 10px"
                  src="/build/static/icons/question.svg"
                  data-bs-placement="right"
                  data-bs-toggle="tooltip"
                  :title="$translator.trans('Changes to the minimum duration must be made within 24 hours of the session to be included in the attendance file automatically.')"
                >
              </div>
            </div>
            <div class="col-6 mt-2">
              <loader v-if="loaderActive" />
              <p
                v-if="showMessage && !errorPercentageAttendance"
                class="wrapper-presence__available text-primary"
              >
                {{ $translator.trans( 'Modification saved' ) }} ✓
              </p>
            </div>
          </div>
          <div
            v-if="errorPercentageAttendance"
            class="invalid-feedback"
            style="display: block;margin-left: 10px"
          >
            {{ $translator.trans('The value must be between 0 and 100.') }}
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="!switchExternalPresence && remoteSignatureEnabled"
      id="form-presence-end-session"
      class="row mb-30"
    >
      <div class="col-lg-12">
        <div class="form__item">
          <label for="user-global-eval-end-session">
            {{ $translator.trans( 'Sign-in form' ) }}
          </label>
          <div class="d-flex align-items-center">
            <input
              id="user-global-eval-end-session"
              class="limit-text-display"
              type="text"
              :value="$routing.generate('_session_signature_lobby', {id: session.id}, true)"
            >
            <a
              class="qrCode"
              :href="$routing.generate('_session_signature_qrcode', {id: session.id}, true)"
              role="button"
            />
            <span
              v-clipboard:copy="$routing.generate('_session_signature_lobby', {id: session.id}, true)"
              v-clipboard:success="onCopy"
              class="copy"
              :class="{ 'copied' : copyStatus }"
            />
            <div
              class="input-group-text d-flex align-items-center justify-content-center"
              data-bs-toggle="modal"
              data-bs-target="#signature-modal-exemple"
            >
              <img
                src="/build/static/icons/view.svg"
                alt="picto view"
              >
            </div>
            <img
              src="/build/static/icons/question.svg"
              alt="Infobulle"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :data-bs-original-title="$translator.trans('The animator can give access to the sign-in form by several ways :  by displaying the QR code (screen or image sharing) that participants will scan with their smartphone or by sharing a link (by chat or email).')"
              aria-label="Tooltip"
            >
          </div>
        </div>
        <button
          type="button"
          class="d-flex align-items-center send-block ps-0 mt-10"
          data-bs-toggle="modal"
          data-bs-target="#send-email-signature"
        >
          <img
            src="/build/static/icons/send-green.svg"
            alt="picto send green"
            class="me-2"
          >
          <span>{{ $translator.trans( 'Send link to participants' ) }}</span>
        </button>
      </div>
    </div>

    <!-- Modal example Signature -->
    <div class="session-btn-signature-access d-flex align-items-center justify-content-center">
      <div
        id="signature-modal-exemple"
        class="modal fade"
        tabindex="-1"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <div class="d-flex flex-column align-items-start">
                <h5
                  id="exampleModalLabel"
                  class="modal-title"
                >
                  {{ $translator.trans(`%fullname%'s sign-up`, { fullname: 'John Doe' }) }}
                </h5>
                <span>
                  {{ formatExempleModalHeader }}
                </span>
              </div>
              <button
                aria-label="Close"
                class="btn-close"
                data-bs-dismiss="modal"
                type="button"
              />
            </div>
            <div class="modal-body">
              <div class="modal-body__signature d-flex align-items-center justify-content-center">
                <canvas
                  height="184"
                  width="483"
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                class="btn btn-primary"
                data-bs-dismiss="modal"
                type="button"
              >
                {{ $translator.trans('Undo') }}
              </button>
              <button
                class="btn btn-primary"
                data-bs-dismiss="modal"
                type="button"
              >
                {{ $translator.trans('Valid') }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal example Signature -->

    <!-- Modal Send link to participant -->
    <send-link-to-participant-present-modal
      id-modal="send-email-signature"
      :trainees="session.traineesOnly"
    />
    <!-- Modal Send link to participant -->

    <div
      v-if="!switchExternalPresence"
      id="table-participants-pres"
      class="row"
    >
      <div class="col-lg-12">
        <div class="data-list table-participants">
          <div class="table-content data-list__row-small">
            <session-participant-list-item
              v-for="participant in session.traineesOnly"
              :key="participant.id"
              :participant-role="participant"
              :full-display="false"
              :action-wheel="false"
              class="data-list__row"
            >
              <template #pictos-actions>
                <confirmation-pop-in
                  :id="'erase_signatures_'+participant.id.toString()"
                  :title="$translator.trans('Signature reset')"
                  :content="$translator.trans('Do you want to reset the signature.s?')"
                  :confirm="() => eraseSignatures(participant)"
                />
                <div class="row__data d-flex align-items-end justify-content-end">
                  <div>
                    <loader
                      v-if="sendingEmail[participant.id]"
                      style="margin-right: 1rem"
                    />
                    <template v-else>
                      <a
                        v-if="!participant.manualPresenceStatus"
                        role="button"
                        @click="manualPresenceOrNot(participant)"
                      >
                        <img
                          data-bs-toggle="tooltip"
                          data-bs-placement="right"
                          :title="$translator.trans('Mark as present')"
                          class="me-4"
                          src="/build/static/icons/user-add.svg"
                        >
                      </a>
                      <a
                        v-if="participant.manualPresenceStatus"
                        role="button"
                        @click="manualPresenceOrNot(participant)"
                      >
                        <img
                          data-bs-toggle="tooltip"
                          data-bs-placement="right"
                          :title="$translator.trans('Undo as present')"
                          class="me-4"
                          src="/build/static/icons/a-check.svg"
                        >
                      </a>
                    </template>
                  </div>
                  <div v-if="remoteSignatureEnabled">
                    <div
                      v-if="isSigned(participant) !== ''"
                      class="badge bg-indicator d-flex"
                    >
                      {{ isSigned(participant) }} <div
                        :data-bs-target="'#confirmationPopIn_erase_signatures_'+participant.id.toString()"
                        data-bs-toggle="modal"
                      >
                        <img
                          data-bs-toggle="tooltip"
                          data-bs-placement="right"
                          :title="$translator.trans('Reset signature.s')"
                          src="/build/static/icons/eraser.svg"
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </template>
            </session-participant-list-item>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</template>

<script>

import SessionParticipantListItem from './SessionParticipantListItem'
import { mapGetters } from 'vuex'
import { DateTime } from 'luxon'
import SendLinkToParticipantPresentModal from './SendLinkToParticipantPresentModal'
import {
  CATEGORY_SESSION_PRESENTIAL,
  CATEGORY_SESSION_MIXTE
} from '../../../store/module/session'
import ConfirmationPopIn from '../../ui/PopIn/ConfirmationPopIn.vue'
import Loader from '../../ui/Loader.vue'

export default {
  name: 'AttendanceBlock',
  components: {
    Loader,
    ConfirmationPopIn,
    SessionParticipantListItem,
    SendLinkToParticipantPresentModal
  },
  data () {
    return {
      errorPercentageAttendance: false,
      switchExternalPresence: false,
      loaderActive: false,
      showMessage: false,
      copyStatus: false,
      activeTab: 'SessionAttendanceEvaluationsTab',
      categoryPresential: CATEGORY_SESSION_PRESENTIAL,
      categoryMixte: CATEGORY_SESSION_MIXTE,
      sendingEmail : {}
    }
  },
  computed: {
    ...mapGetters({ session: 'session/getSession' }),
    ...mapGetters({ currentUser: 'currentUser/getCurrentUser' }),
    remoteSignatureEnabled () {
      return this.session.client.enableRemoteSignature || this.session.category === this.categoryPresential || this.session.category === this.categoryMixte
    },
    formatExempleModalHeader () {
      return this.session.ref + ' - ' + DateTime.fromISO(this.session.dateStart).toLocaleString(DateTime.DATE_FULL) + ' ' + this.$translator.trans('Morning (before 1pm)')
    },
    isRenault () {
      return this.session.client.name === 'Renault'
    }
  },
  mounted () {
    const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    const vm = this
    tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new vm.$bootstrap.Tooltip(tooltipTriggerEl)
    })
  },
  methods: {
    validateInput (session) {
      const value = session.percentageAttendance
      const isValid = !(value < 0 || value > 100 || isNaN(value) || value === '')
      this.errorPercentageAttendance = !isValid

      if (isValid && session.canUpdatePercentageAttendance.status) {
        this.updatePercentageValue(session)
      }
    },
    updatePercentageValue (session) {
      this.loaderActive = true
      this.showMessage = false
      if (!this.errorPercentageAttendance) {
        this.$axios.post(
          this.$routing.generate('_session_save_percentage_attendance', { id: session.id }), { percentageAttendance: session.percentageAttendance }
        ).catch(() => {
          this.errorPercentageAttendance = true
          this.loaderActive = false
        }).then(() => {
          if (!this.errorPercentageAttendance) {
            this.showMessage = true
          }
          this.loaderActive = false
        })
      }
    },
    isSigned (participant) {
      if (this.session.fullDaySession) {
        if (participant.signatures.length >= 2) {
          return this.$translator.trans('Signed %signed_by_day%', { signed_by_day: '2/2' })
        } else if (participant.signatures.length > 0) {
          return this.$translator.trans('To complete %signed_by_day%', { signed_by_day: '1/2' })
        }
      } else {
        if (participant.signatures.length > 0) {
          return this.$translator.trans('Signed')
        } else {
          return this.$translator.trans('To sign')
        }
      }

      return ''
    },
    onCopy: function () {
      this.copyStatus = true
      setTimeout(() => { this.copyStatus = false }, 5000)
    },
    eraseSignatures (participant) {
      this.$axios.get(this.$routing.generate('_session_signature_reset_lobby', { id: participant.id }))
        .then((response) => {
          window.location.href = this.$routing.generate('_session_get', { id: this.session.id, tabName: this.activeTab, updateSuccessfully: true })
        }).catch(() => {})
    },
    manualPresenceOrNot (participant) {
      this.$set(this.sendingEmail, participant.id, true)

      const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      tooltipTriggerList.forEach((tooltipTriggerEl) => {
        const tooltip = this.$bootstrap.Tooltip.getOrCreateInstance(tooltipTriggerEl)
        tooltip.hide()
      })

      this.$axios.get(this.$routing.generate('_participant_update_manual_presence_status', { id: participant.id, presence: !participant.manualPresenceStatus ? 1 : 0, tabName: 'SessionAttendanceEvaluationsTab' }))
        .then((response) => {
          participant.manualPresenceStatus = !participant.manualPresenceStatus
          this.$set(this.sendingEmail, participant.id, false)
        }).catch(() => {})
    }
  }
}
</script>

<style scoped>
.copy.copied:after {
  content: url('../../../../static/icons/copy-black.svg') !important;
}
</style>
