<template>
  <div class="table-content data-list data-list__row-small mb-3">
    <div class="data-list__row">
      <div class="row__data">
        <div class="badge badge-sm bg-primary">
          {{ typeConvocation(webinarConvocation.convocationType) }}
        </div>
        <img
          v-if="isConfirmationType"
          src="/build/static/icons/question.svg"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          :title="$translator.trans('Confirmation emails are sent from the date defined in response to a registration.')"
        >
      </div>
      <div class="row__data">
        <div
          v-if="isSmsType"
          class="overme"
        >
          {{ webinarConvocation.content }}
        </div>
        <template v-else>
          {{ webinarConvocation.subjectMail }}
        </template>
      </div>
      <div class="row__data" />
      <div class="row__data row">
        <div
          v-if="isPersonalizedContentEmpty"
          class="session-option"
          style="margin: 2px"
        >
          <img src="/build/static/icons/outils-de-travail.svg">
        </div>
        <div
          v-if="isAttachementsEmpty"
          class="session-option"
          style="margin: 2px"
        >
          <img src="/build/static/icons/add-files.svg">
        </div>
      </div>
      <div class="row__data">
        {{ webinarConvocation.convocationDate|formatDate("datetime_med") }}
      </div>
      <div class="row__data option">
        <div
          v-if="isThankYouType"
          class="badge badge-sm bg-info"
          style="margin-right: 10px"
        >
          <b>{{ sendCommunicationToBadge }}</b>
        </div>
        <div
          v-if="webinarConvocation.sent"
          class="badge badge-sm bg-primary"
        >
          <b>{{ $translator.trans('Sent') }}</b>
        </div>
        <div
          v-else
          class="badge badge-sm bg-program"
        >
          <b>{{ $translator.trans('Scheduled') }}</b>
        </div>
      </div>
      <div class="row__data option">
        <img
          v-if="isOpenItem"
          class="cursor-pointer"
          src="/build/static/icons/tree-closed.svg"
          @click="closeOrOpen"
        >
        <img
          v-else
          class="cursor-pointer"
          src="/build/static/icons/tree-opened.svg"
          @click="closeOrOpen"
        >
        <div class="drop-menu-container">
          <div class="icn-option">
            <img src="/build/static/icons/options-white.svg">
          </div>
          <ul class="dropdown-menu-inner">
            <li>
              <a
                class="dropdown-item"
                href="#"
                :data-bs-target="previewCommunication"
                data-bs-toggle="modal"
                @click="openCommunicationPreviewModal"
              >
                <img
                  src="/build/static/icons/eye-green.svg"
                  class="me-2"
                >
                <b>{{ $translator.trans('View') }}</b>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="#"
                @click="deleteCommunication(webinarConvocation.id, webinarConvocation.subjectMail)"
              >
                <img
                  src="/build/static/icons/trash-small.svg"
                  class="me-2"
                >
                <b>{{ $translator.trans('Delete') }}</b>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      :id="previewCommunicationId"
      class="modal fade wb-bw"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable text-start">
        <div class="modal-content">
          <div class="modal-header row align-items-center">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            />
            <h3
              id="exampleModalLabel"
              class="modal-title"
            >
              {{ $translator.trans('Overview the communication') }}
            </h3>
          </div>
          <div class="modal-body session-created-body">
            <div class="session-main-content-session pt-0 d-flex flex-column align-items-center">
              <div class="row">
                <p> {{ $translator.trans('Subject') }} : {{ webinarConvocation.subjectMail }} </p>
                <p> {{ $translator.trans('Email sender') }} : {{ emailSenderClient }} </p>
                <div class="col-12">
                  <div
                    v-if="webinarCommunicationPreviewContent"
                    class="mb-4 pb-4"
                    v-html="webinarCommunicationPreviewContent"
                  />
                  <loader v-else />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              {{ $translator.trans( 'Close' ) }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="isOpenItem"
      class="row"
    >
      <small
        v-if="isSmsType"
        class="my-2"
      >{{ $translator.trans('An SMS is 160 characters long. If your message exceeds 160 characters, several SMS messages will be sent for each 160-character block.') }}</small>
      <div class="col-7">
        <div class="row">
          <div class="col-md-8 col-lg-6">
            <div class="form__item">
              <label for="user-global-model-convocation">{{ $translator.trans( 'Communication type' ) }}</label>
              <select
                id="user-global-model-convocation"
                v-model="webinarConvocation.convocationType"
                :disabled="isCanUpdate"
              >
                <option
                  v-for="(type, index) in typeWebinarConvocation"
                  :key="index"
                  :value="index"
                >
                  {{ type }}
                </option>
              </select>
            </div>
            <div
              v-if="!isSmsType"
              class="form__item"
            >
              <label
                class="form-label"
                for="user-connecteurs-name"
              >{{ $translator.trans( 'Subject of the e-mail' ) }}</label>
              <input
                id="user-connecteurs-name"
                v-model="webinarConvocation.subjectMail"
                :disabled="isCanUpdate"
                type="text"
                class="form-control"
              >
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div
              v-if="!isSmsType"
              class="form__item"
            >
              <label for="user-global-modele-convoc">
                {{ $translator.trans( 'Communication template' ) }}
              </label>
              <input
                id="user-global-modele-convoc"
                v-model="webinarConvocation.modalConvocationName"
                class="form-input"
                :disabled="true"
              >
            </div>
            <div class="form__item">
              <label for="user-convoc-send-date">
                {{ $translator.trans( 'Date and time of sending mail' ) }}
              </label>
              <div
                class="input-container d-flex align-items-center input-group"
              >
                <datetime
                  v-model="webinarConvocation.convocationDate"
                  :disabled="isCanUpdate"
                  class="input-group datetime-picker-primary w-100"
                  type="datetime"
                  :format="$dateTime.DATETIME_MED"
                  input-id="user-convoc-send-date"
                  input-class="form-control date inline"
                  :phrases="{ok: $translator.trans( 'OK' ), cancel: $translator.trans( 'Cancel' )}"
                  :use12-hour="false"
                  auto
                >
                  <template slot="after">
                    <div class="input-group-text d-flex align-items-center justify-content-center">
                      <img
                        src="/build/static/icons/calendar-date-green.svg"
                        class="calendar"
                      >
                    </div>
                  </template>
                </datetime>
              </div>
              <img
                v-if="isThankYouType"
                src="/build/static/icons/question.svg"
                data-bs-placement="left"
                data-bs-toggle="tooltip"
                :title="$translator.trans('Set the send date to at least 24 hours after the end of the session so that the attendance data can be retrieved.')"
              >
              <img
                v-if="isConfirmationType"
                src="/build/static/icons/question.svg"
                data-bs-placement="left"
                data-bs-toggle="tooltip"
                :title="$translator.trans('The email will be sent in response to a registration only from this date and time. They must therefore be synchronized with the dates and times of opening of registrations for the session.')"
              >
            </div>
          </div>
          <div
            v-if="isThankYouType"
            class="col-md-4 col-lg-4"
          >
            <div
              class="form__item"
              style="height: 66px"
            />
            <div class="form__item">
              <label for="user-global-model-convocation">{{ $translator.trans( 'Convocation at destination' ) }}</label>
              <select
                id="user-global-model-convocation"
                v-model="webinarConvocation.sendCommunicationTo"
                :disabled="isCanUpdate"
              >
                <option
                  v-for="(type, index) in statusSendTo"
                  :key="index"
                  :value="index"
                >
                  {{ type }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="d-flex mb-4">
          <div
            class="page-options-bar__item d-flex align-items-center"
            data-bs-toggle="modal"
            data-bs-target="#seeShortsCodes"
            role="button"
          >
            <span class="btn btn-primary btn-sm"><b>{{ $translator.trans( 'See the shorts codes' ) }}</b></span>
          </div>
          <div
            id="seeShortsCodes"
            class="modal fade"
            tabindex="-1"
          >
            <shorts-codes-modal />
          </div>
        </div>
        <div class="row">
          <div
            v-if="!isSmsType"
            class="col-md-12 col-lg-10"
          >
            <div class="form__item custom-block">
              <label for="user-convoc-custom-content">
                {{ $translator.trans( 'Message body' ) }}
                <img
                  src="/build/static/icons/question.svg"
                  data-bs-placement="left"
                  data-bs-toggle="tooltip"
                  :title="$translator.trans('Add a link or document for pre-session work, group-specific instructions, local phone numbers for participants in foreign countries. This content will appear in the pre-defined location in the invitation template if you requested it when setting up your account.')"
                >
              </label>
              <TinymceInput
                id="user-convocation-webinar-custom-content"
                :name="'user-convocation-webinar-custom-content'"
                :on-change-callback="onChangePersonalizedContentCallback"
                :is-disabled="isCanUpdate"
              >
                <template #default-value>
                  {{ webinarConvocation.content }}
                </template>
              </TinymceInput>
            </div>
          </div>
          <template v-else>
            <div class="col-6">
              <div class="form__item">
                <label for="user-convoc-custom-content">
                  {{ $translator.trans( 'Message body' ) }}
                  <img
                    src="/build/static/icons/question.svg"
                    data-bs-placement="left"
                    data-bs-toggle="tooltip"
                    :title="$translator.trans('Add your message here. It will be sent by SMS to participants. 1 SMS = 160 characters')"
                  >
                </label>
                <textarea
                  v-model="webinarConvocation.content"
                  name="message"
                  style="height: 150px;"
                  required="required"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form__item">
                <label for="user-convoc-custom-content">
                  {{ $translator.trans( 'Sender' ) }}
                  <img
                    src="/build/static/icons/question.svg"
                    data-bs-placement="left"
                    data-bs-toggle="tooltip"
                    :title="$translator.trans('Sender name limited to 11 characters, without spaces or special characters')"
                  >
                </label>
                <input
                  v-model="webinarConvocation.sender"
                  type="text"
                  class="form-control"
                  max="11"
                  maxlength="11"
                  pattern="[a-zA-Z0-9]+"
                  @keydown="webinarConvocation.sender = webinarConvocation.sender.replace(/\s+|[^a-zA-Z0-9]/g, '')"
                >
                <small>{{ $translator.trans('Your sender name will look like this: %sender%', {sender: senderFormatted}) }}</small>
              </div>
            </div>
          </template>
        </div>

        <div
          v-if="isSmsType"
          class="row mt-2"
        >
          <div class="col-6 border rounded p-3">
            <div class="d-flex justify-content-between align-items-center">
              <span>{{ Math.ceil(webinarConvocation.content.length / charactersPerSms) }} SMS</span>
              <!--              <span>{{ currentSmsLength }} / {{ charactersPerSms }}</span>-->
            </div>
            <div
              class="progress"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="100"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div
                class="progress-bar"
                :style="{ width: (currentSmsLength/charactersPerSms)*100+ '%'} "
              />
            </div>
            <small>{{ $translator.trans('%characters% characters remaining before adding a new message', {characters: (charactersPerSms - currentSmsLength)+1}) }}</small>
          </div>
        </div>

        <div
          v-if="!isSmsType"
          class="row mb-2"
        >
          <div class="form__item mb-2">
            <label for="user-file">
              {{ $translator.trans( 'Attachment' ) }} (20 Mo)
            </label>
            <loader v-if="loaderSpinner" />
            <div
              v-else
              class="input-container d-flex align-items-center"
            >
              <div class="input-group">
                <div class="file-upload-container w-100">
                  <input
                    id="user-file"
                    type="file"
                    class="form-control w-100"
                    :disabled="isCanUpdate"
                    :accept="ALL_FORMATS_FORMATTED"
                    @change="onFileChange"
                  >
                </div>
              </div>
              <div class="input-actions">
                <img
                  src="/build/static/icons/question.svg"
                  data-bs-placement="left"
                  data-bs-toggle="tooltip"
                  :title="$translator.trans('The attachment will be added to the convocation sent to participants. Maximum size: 20Mb. Allowed formats: xls, xlsx, csv, ods, doc, docx, txt, pdf, jpg, png, ppt, pptx, odp, zip, rar.')"
                >
              </div>
            </div>
            <span
              class="mt-1"
              style="font-size: 14px"
            >{{ $translator.trans('File format:') }} {{ ALL_FORMATS_STRING }}</span>
            <div
              v-if="errorsAttachments !== null"
              class="invalid-feedback d-block"
            >
              {{ errorsAttachments }}
            </div>
            <div
              v-for="attachment in webinarConvocation.attachments"
              :key="attachment.id"
              class="input-container d-flex align-items-center"
            >
              <div class="input-group">
                <div class="w-100">
                  <a :href="$routing.generate('_session_attachment_download', { token: attachment.token })">{{ attachment.originalName }}</a>
                </div>
              </div>
              <div class="input-actions">
                <img
                  src="/build/static/icons/delete-filter.svg"
                  :title="$translator.trans('Remove the attachment')"
                  @click="removeAttachment(attachment.id)"
                >
              </div>
            </div>
          </div>

          <div
            v-if="isConfirmationType"
            class="mb-3 form__item"
          >
            <div class="form-check">
              <input
                id="communication_form_ics"
                v-model="webinarConvocation.ics"
                type="checkbox"
                name="communication_form_ics"
                class="inline form-check-input"
                style="height: 20px;"
              >
              <label
                class="form-check-label"
                for="communication_form_ics"
              >ICS</label>
            </div>
          </div>
        </div>
      </div>

      <sms-communication
        v-if="isSmsType"
        :webinar-convocation="webinarConvocation"
      />

      <div
        v-if="isInvitationType"
        class="col-5 mt-1"
        style="padding-right: 20px; border: 3px solid #000;"
      >
        <div class="d-flex justify-content-between mb-4 mt-2">
          <h4
            class="d-sm-none d-md-block me-2"
            style="text-align: left;"
          >
            {{ $translator.trans( 'Recipients' ) }}
          </h4>
          <div
            class="text-end"
            role="button"
            data-bs-auto-close="outside"
            data-bs-toggle="modal"
            data-bs-target="#listOfGuestsModal"
          >
            <a class="d-sm-none d-md-block me-3">{{ $translator.trans( 'List of guests' ) }} ({{ webinarConvocation.guests.length }})</a>
          </div>
        </div>
        <guests-upload-file
          :clients="[session.client]"
          :session-id="session.id"
          :restrictions="importRestrictions"
          :webinar-communication="webinarConvocation"
        />
        <guests-statistics
          :communication-id="webinarConvocation.id"
          :guests="webinarConvocation.guests"
        />
        <guests-list-modal
          :guests="webinarConvocation.guests"
          :webinar-communication="webinarConvocation"
        />
      </div>
    </div>
  </div>
</template>

<script>

import { mapGetters, mapState } from 'vuex'
import TinymceInput   from '../../ui/TinymceInput'
import { Datetime }   from 'vue-datetime'
import axios                   from 'axios'
import { routing, translator } from '../../../utils/app.utils'
import Loader                  from '../../ui/Loader.vue'
import GuestsListModal          from './GuestsListModal.vue'
import GuestsUploadFile         from './GuestsUploadFile.vue'
import GuestsStatistics     from './GuestsStatistics.vue'
import ShortsCodesModal from './ShortsCodesModal.vue'
import { ALL_FORMATS, ALL_FORMATS_FORMATTED, ALL_FORMATS_STRING } from '../../../utils/fileUpload.utils'
import * as bootstrap from 'bootstrap'
import SmsCommunication from './sms-communication/SmsCommunication.vue'

export default {
  name: 'CommunicationItem',
  components: {
    SmsCommunication,
    GuestsUploadFile,
    GuestsStatistics,
    GuestsListModal,
    TinymceInput,
    Datetime,
    ShortsCodesModal,
    Loader
  },
  props: {
    webinarCommunication: {
      type:     Object,
      required: true
    },
    typeWebinarConvocation: {
      type: Object,
      required: true
    },
    statusSendTo: {
      type: Object,
      required: true
    },
    isOpen: {
      type: Boolean,
      required: true
    },
    importRestrictions: {
      type: Object,
      required: false,
      default: () => { return {} }
    }
  },
  data () {
    return {
      ALL_FORMATS: ALL_FORMATS,
      ALL_FORMATS_STRING: ALL_FORMATS_STRING,
      ALL_FORMATS_FORMATTED: ALL_FORMATS_FORMATTED,
      convocationsModels : [],
      webinarCommunicationPreviewContent: null,
      previewCommunication: '#previewCommunication' + this.webinarCommunication.id,
      previewCommunicationId: 'previewCommunication' + this.webinarCommunication.id,
      webinarConvocation : this.webinarCommunication,
      personalizedContent : '',
      isOpenItem : this.isOpen,
      errorsAttachments : null,
      loaderSpinner: false,
      charactersPerSms: 160
    }
  },
  computed: {
    ...mapState('session', ['readOnly', 'errors']),
    ...mapState('client', ['client']),
    ...mapGetters({ session: 'session/getSession' }),
    isPersonalizedContentEmpty () {
      return !(this.webinarConvocation.content === '' || this.webinarConvocation.content === '<p><br data-mce-bogus="1"></p>' || this.webinarConvocation.content === null)
    },
    isAttachementsEmpty () {
      return !(this.webinarConvocation.attachments.length === 0)
    },
    isCanUpdate () {
      return (this.readOnly && !this.isThankYouType) || this.webinarConvocation.sent
    },
    emailSenderClient () {
      if (this.session.abstractProviderConfigurationHolder.client.senderEmail) {
        return this.session.abstractProviderConfigurationHolder.client.senderEmail
      }
      return 'manager@mylivesession.com'
    },
    isThankYouType () {
      return this.webinarConvocation.convocationType === 'thank_you'
    },
    isSmsType () {
      return this.webinarConvocation.convocationType === 'sms'
    },
    isInvitationType () {
      return this.webinarConvocation.convocationType === 'invitation'
    },
    isConfirmationType () {
      return this.webinarConvocation.convocationType === 'confirmation'
    },
    sendCommunicationToBadge () {
      switch (this.webinarConvocation.sendCommunicationTo) {
        case 'presences':
          return this.$translator.trans('Presents')
        case 'absences':
          return this.$translator.trans('Absents')
        default :
          return this.$translator.trans('Registered')
      }
    },
    senderFormatted () {
      const sender = this.webinarConvocation.sender.replace(/\s+|[^a-zA-Z0-9]/g, '')
      return sender.substring(0, 11)
    },
    currentSmsLength () {
      const totalCaracteres = this.webinarConvocation.content.length
      const reste = totalCaracteres % this.charactersPerSms
      return (totalCaracteres === 0) ? '0' : ((reste === 0) ? this.charactersPerSms : reste)
    }
  },
  watch: {
    isOpen (newValue, oldValue) {
      this.isOpenItem = newValue
      const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    }
  },
  mounted () {
    this.convocationsModels = this.session.abstractProviderConfigurationHolder.client.convocations
  },
  methods: {
    openCommunicationPreviewModal () {
      this.webinarCommunicationPreviewContent = null
      return axios.get(routing.generate('_session_communication_webinar_preview', { id: this.webinarConvocation.id }))
        .then((response) => {
          if (response.data.code === 200) {
            this.webinarCommunicationPreviewContent = response.data.message.content
          }
        })
    },
    onChangePersonalizedContentCallback (event, editor) {
      this.webinarConvocation.content = editor.getBody().innerHTML
    },
    addField (event, input, fieldType) {
      if (event.target.attributes.readonly !== undefined) {
        return
      }

      fieldType.push('')
    },
    removeField (event, index, fieldType) {
      if (event.target.attributes.readonly !== undefined) {
        return
      }

      fieldType.splice(index, 1)
    },
    onFileChange (e) {
      const files = e.target.files || e.dataTransfer.files

      if (!files.length) {
        return
      }
      this.addAttachments(files[0])
    },
    removeAttachment (attachmentId) {
      const index = this.webinarConvocation.attachments.findIndex((attachment) => {
        return attachment.id === attachmentId
      })
      if (index < 0) {
        return
      }
      axios.get(routing.generate('_session_attachment_delete_session', { id: this.session.id, attachmentId: attachmentId }))
        .then(() => {
          this.webinarConvocation.attachments.splice(index, 1)
        })
    },
    closeOrOpen () {
      this.isOpenItem = !this.isOpenItem
      setTimeout(() => {
        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })
      }, 100)
    },
    typeConvocation (type) {
      switch (type) {
        case 'reminder': {
          return this.$translator.trans('Reminder')
        }
        case 'confirmation': {
          return this.$translator.trans('Confirmation')
        }
        case 'thank_you': {
          return this.$translator.trans('Thank You')
        }
        case 'invitation': {
          return this.$translator.trans('Invitation')
        }
        case 'sms': {
          return this.$translator.trans('SMS')
        }
      }
      return this.typeWebinarConvocation.type
    },
    deleteCommunication (idCommunication, communicationName) {
      const route   = this.$routing.generate('_delete_communication_webinar', { id: idCommunication, communicationName: communicationName })

      this.processing = true

      this.$axios
        .get(route)
        .then(() => {
          window.location.href = this.$routing.generate('_session_get', { id: this.session.id, tabName: 'SessionCommunicationTab' })
        })
        .catch(() => {
          const message = this.$translator.trans('Unable to add communication')
          alert(message)
        })
        .finally(() => {
          this.processing = false
        })
    },
    addAttachments (attachmentFile) {
      this.loaderSpinner = true
      const formData = new FormData()
      formData.append('file', attachmentFile)
      formData.append('format', ALL_FORMATS)

      this.errorsAttachments = null

      axios.post(
        routing.generate('_session_attachment_upload'),
        formData,
        {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }
      ).then((response) => {
        this.webinarConvocation.attachments.push(response.data.message)
        this.loaderSpinner = false
      }).catch((error) => {
        this.loaderSpinner = false
        if ('data' in error.response && 'message' in error.response.data && 'text' in error.response.data.message) {
          this.errorsAttachments = error.response.data.message.text
        } else {
          this.errorsAttachments = translator.trans('Attachment could not be uploaded for unknown reason.')
        }
      })
    }
  }
}
</script>

<style scoped>
.overme {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
