<template>
  <div class="table-content data-list data-list__row-small mb-3">
    <alert
      v-if="messageAlert"
      :text="messageAlert"
      :type="typeAlert"
    />
    <div class="data-list__row">
      <div class="row__data">
        <div
          :style="{ backgroundColor: badgeBackgroundColor }"
          class="badge badge-sm"
        >
          {{ evaluationType }}
        </div>
      </div>
      <div class="row__data">
        {{ evaluationItem.evaluation.title }}
      </div>
      <div class="row__data" />
      <div class="row__data">
        <span
          v-if="participantRolesErrorData"
          class="text-danger"
        >
          {{ $translator.trans('Unable to load data of respondents') }}

        </span>
        <span v-else-if="participantRoles">{{ $translator.trans('%answer_percentil%% of respondents (%answer%/%total%)',
                                                                {
                                                                  answer_percentil: answerPercentile,
                                                                  answer: answer,
                                                                  total: total
                                                                })
        }}</span>
        <span v-else>
          <loader />
        </span>
      </div>
      <div class="row__data">
        <div
          v-if="evaluationItem.sendAt"
          class="icon-container"
        >
          <img
            alt="picto email"
            class="email-icon"
            src="/build/static/icons/email.svg"
          >
        </div>
        <div
          v-if="evaluationItem.sendAt"
          class="content-container"
        >
          <span>
            {{ evaluationItem.sendAt|formatDate("datetime_med") }}
          </span>
          <div class="badge-container">
            <div
              v-if="evaluationItem.sent"
              class="badge badge-sm bg-primary"
            >
              <b>{{ $translator.trans('Sent') }}</b>
            </div>
            <div
              v-else-if="evaluationItem.sendAt"
              class="badge badge-sm bg-program"
            >
              <b>{{ $translator.trans('Scheduled') }}</b>
            </div>
          </div>
        </div>
      </div>
      <div
        v-if="participantRoles"
        class="row__data option"
      >
        <img
          v-if="isOpenItem"
          alt="picto tree closed"
          class="cursor-pointer"
          src="/build/static/icons/tree-closed.svg"
          @click="closeOrOpen"
        >
        <img
          v-else
          alt="picto tree opened"
          class="cursor-pointer"
          src="/build/static/icons/tree-opened.svg"
          @click="closeOrOpen"
        >
        <div class="drop-menu-container">
          <div class="icn-option">
            <img
              alt="picto options white"
              src="/build/static/icons/options-white.svg"
            >
          </div>
          <ul class="dropdown-menu-inner">
            <li>
              <loader v-if="processing" />
              <a
                v-else
                class="dropdown-item"
                role="button"
                @click="deleteEvaluation()"
              >
                <img
                  alt="picto trash small"
                  class="me-2"
                  src="/build/static/icons/trash-small.svg"
                >
                <b>{{ $translator.trans('Delete') }}</b>
              </a>
            </li>
            <li v-if="evaluationItem.sendAt">
              <loader v-if="processingCancel" />
              <a
                v-else
                class="dropdown-item"
                role="button"
                @click="cancelSendingEvaluationMail()"
              >
                <img
                  alt="picto trash small"
                  class="me-2"
                  src="/build/static/icons/cross-small-green.svg"
                >
                <b>{{ $translator.trans('Cancel sending') }}</b>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      v-if="isOpenItem"
      class="row"
    >
      <div class="row">
        <div class="col-3">
          <div class="form__item">
            <label for="user-global-model-convocation">{{ $translator.trans( 'Evaluation type' ) }}</label>
            <select
              id="user-global-model-convocation"
              v-model="evaluationItem.evaluationType"
              :disabled="readOnly"
            >
              <option
                v-for="(type) in EvaluationTypes"
                :key="type.value"
                :value="type.value"
              >
                {{ $translator.trans(type.name) }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="form__item">
            <label for="user-global-model-convocation">
              {{ $translator.trans( 'Evaluation template' ) }}
            </label>
            <select
              id="user-global-model-convocation"
              v-model="evaluationItem.evaluation"
              :disabled="readOnly"
            >
              <option
                v-for="(evaluationModel) in evaluationsModals"
                :key="evaluationModel.id"
                :value="evaluationModel"
              >
                {{ evaluationModel.title }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-2 mt-4">
          <div class="row">
            <div
              :data-bs-target="'#qrCodeBlock'+ evaluationItem.id"
              class="qrCode col-2"
              data-bs-toggle="modal"
              role="button"
            >
              <img
                alt="picto qr code"
                class="mt-2"
                src="/build/static/icons/qr-code.svg"
              >
            </div>
            <div
              v-clipboard:copy="$routing.generate('_evaluation_session_lobby', {id: evaluationSession.id}, true)"
              v-clipboard:success="onCopy"
              :class="{ 'copied mt-2' : copyStatus }"
              class="copy col-2"
              role="button"
            >
              <img
                v-if="!copyStatus"
                alt="picto copy"
                class="mt-2"
                src="/build/static/icons/copy-green.svg"
              >
            </div>
            <div
              :data-bs-target="'#previewBlock' + keyEvaluationPreview"
              class="col-2"
              data-bs-toggle="modal"
              role="button"
            >
              <img
                alt="picto view"
                class="mt-2"
                src="/build/static/icons/view-green.svg"
              >
            </div>
          </div>
        </div>
        <div class="col page-options-bar justify-content-end">
          <div class="d-flex">
            <div
              :data-bs-target="'#send-email-evaluation' + evaluationItem.id"
              class="page-options-bar__item d-flex align-items-center"
              data-bs-toggle="modal"
              role="button"
              @click="modalTitleSendMail = 'message'"
            >
              <img
                class="me-2"
                src="/build/static/icons/send-message.svg"
              >
              <span class="d-sm-none d-md-block"><b>{{ $translator.trans( 'Sending' ) }}</b></span>
            </div>
            <div
              v-if="evaluationItem.sendAt"
              class="icon-container"
            >
              <img
                alt="picto email"
                class="email-icon mt-2"
                src="/build/static/icons/email.svg"
              >
            </div>
            <div
              v-if="evaluationItem.sendAt"
              class="content-container"
            >
              <span>
                {{ evaluationItem.sendAt|formatDate("datetime_med") }}
              </span>
              <div class="badge-container">
                <div
                  v-if="evaluationItem.sent"
                  class="badge badge-sm bg-primary"
                >
                  <b>{{ $translator.trans('Sent') }}</b>
                </div>
                <div
                  v-else-if="evaluationItem.sendAt"
                  class="badge badge-sm bg-program"
                >
                  <b>{{ $translator.trans('Scheduled') }}</b>
                </div>
              </div>
            </div>
            <div v-if="evaluationItem.sendAt && !evaluationItem.sent">
              <img
                alt="picto edit"
                class="email-icon mt-2"
                :title="$translator.trans('Edit sending date')"
                data-bs-placement="left"
                :data-bs-target="'#send-email-evaluation' + evaluationItem.id"
                data-bs-toggle="modal"
                role="button"
                src="/build/static/icons/edit-small-green.svg"
                style="margin-left: 25px"
                width="15"
                @click="modalTitleSendMail = 'timeSendDate'"
              >
              <loader v-if="processingCancel" />
              <img
                v-else
                alt="picto delete"
                :title="$translator.trans('Cancel sending')"
                class="email-icon mt-2"
                role="button"
                data-bs-placement="left"
                data-bs-toggle="tooltip"
                src="/build/static/icons/cross-small-green.svg"
                style="margin-left: 5px"
                width="15"
                @click="cancelSendingEvaluationMail"
              >
            </div>
            <div
              id="addEvaluation"
              class="modal fade"
              tabindex="-1"
            >
              <evaluation-session-add-modal />
            </div>
          </div>
        </div>
      </div>
      <div
        id="nav-presence-with-eval"
        class="tab-pane fade show active col-10 mt-8"
      >
        <div
          v-if="hasParticipantResponses"
          class="d-flex justify-content-end mb-2"
        >
          <button
            class="d-flex align-items-center send-block ps-0 mt-10"
            type="button"
            @click="openEvaluationSynthesis()"
          >
            <img
              class="me-2"
              src="/build/static/icons/open-target-green.svg"
            >
            <span>{{ $translator.trans('Response synthesis') }}</span>
          </button>
        </div>
        <fieldset class="form__fieldset fieldset-secondary wrapper-eval">
          <div
            v-if="!participantRoles.participants"
            class="mx-auto text-center"
          >
            <p>{{ $translator.trans('Loading a list of participants') }}</p>
            <loader />
          </div>
          <div v-else>
            <evaluation-session-result
              :participant-roles="participantRoles"
            />
            <evaluation-session-participants-result
              :evaluation-session="evaluationSession"
              :participant-roles="participantRoles"
            />
          </div>
        </fieldset>
      </div>
    </div>
    <div
      :id="'qrCodeBlock'+ evaluationItem.id"
      class="modal fade"
      tabindex="-1"
    >
      <!--      === MODAL ===   -->
      <q-r-code-block
        :title="$translator.trans('QR evaluation Code')"
        :url="$routing.generate('_evaluation_session_lobby', {id: evaluationSession.id}, true)"
      />
      <!--      === MODAL ===   -->
    </div>
    <div
      :id="'previewBlock' + keyEvaluationPreview"
      class="modal fade"
      tabindex="-1"
    >
      <!--      === MODAL ===   -->
      <preview-evaluation-modal
        :key="keyEvaluationPreview"
        :locale="session.language"
        :survey-id-selected="keyEvaluationPreview"
      />
      <!--      === MODAL ===   -->
    </div>
    <send-link-evaluation-to-participant-modal
      :evaluation-session="evaluationSession"
      :id-modal="'send-email-evaluation' + evaluationItem.id"
      :trainees="session.traineesOnly"
      :first-modal-show="modalTitleSendMail"
    />
  </div>
</template>

<script>

import { mapGetters, mapState } from 'vuex'
import { ALL_FORMATS_FORMATTED, ALL_FORMATS_STRING } from '../../../utils/fileUpload.utils'
import Alert   from '../../ui/Alert.vue'
import Loader  from '../../ui/Loader.vue'
import EvaluationSessionParticipantsResult from './evaluationSession/EvaluationSessionParticipantsResult.vue'
import EvaluationSessionResult  from './evaluationSession/EvaluationSessionResult.vue'
import PreviewEvaluationModal from './evaluation/PreviewEvaluationModal.vue'
import QRCodeBlock   from './QRCodeBlock.vue'
import SendLinkEvaluationToParticipantModal from './SendLinkEvaluationToParticipantModal.vue'
import {
  EVALUATION_KNOWLEDGE,
  EVALUATION_COLD,
  EVALUATION_HOT,
  EVALUATION_ACQUIRED,
  EVALUATION_POSITIONING,
  EVALUATION_OTHER
} from '../../../store/module/session'
import EvaluationSessionAddModal from './EvaluationSessionAddModal.vue'

export default {
  name: 'EvaluationSessionItem',
  components: {
    EvaluationSessionAddModal,
    Alert,
    EvaluationSessionParticipantsResult,
    EvaluationSessionResult,
    Loader,
    SendLinkEvaluationToParticipantModal,
    PreviewEvaluationModal,
    QRCodeBlock
  },
  props: {
    evaluationSession: {
      type:     Object,
      required: true
    },
    isOpen: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      readOnly : true,
      isOpenItem : false,
      errorsAttachments : null,
      ALL_FORMATS_STRING: ALL_FORMATS_STRING,
      ALL_FORMATS_FORMATTED: ALL_FORMATS_FORMATTED,
      evaluationItem: this.evaluationSession,
      evaluationsModals: [],
      loaderSpinner: false,
      participantRoles: null,
      modalTitleSendMail: 'message',
      processing: false,
      processingCancel: false,
      EvaluationTypes: [
        {
          name: 'Knowledge',
          value: EVALUATION_KNOWLEDGE
        },
        {
          name: 'Cold',
          value: EVALUATION_COLD
        },
        {
          name: 'Hot',
          value: EVALUATION_HOT
        },
        {
          name: 'Acquired',
          value: EVALUATION_ACQUIRED
        },
        {
          name: 'Positioning',
          value: EVALUATION_POSITIONING
        },
        {
          name: 'Other',
          value: EVALUATION_OTHER
        }
      ],
      copyStatus: false,
      updateIntervalId: null,
      participantRolesErrorData: null,
      keyEvaluationPreview: this.evaluationSession.evaluation.surveyId,
      messageAlert: null,
      typeAlert: null
    }
  },
  computed: {
    ...mapState('session', ['errors']),
    ...mapGetters({ session: 'session/getSession' }),
    badgeBackgroundColor () {
      switch (this.evaluationItem.evaluationType) {
        case EVALUATION_KNOWLEDGE:
          return '#E98BA0'
        case EVALUATION_COLD:
          return '#b6743b'
        case EVALUATION_HOT:
          return '#b465e7'
        case EVALUATION_ACQUIRED :
          return '#fcdb04'
        case EVALUATION_POSITIONING :
          return '#c5d554'
        default:
          return '#98e898'
      }
    },
    total () {
      return this.participantRoles.total
    },
    answer () {
      return this.participantRoles.answer
    },
    answerPercentile () {
      if (this.total === 0) {
        return 0
      }
      return Math.round((this.answer * 100) / this.total)
    },
    hasParticipantResponses () {
      if (!this.participantRoles || !this.participantRoles.participants) {
        return false
      }
      return this.participantRoles.participants.some(participant =>
        participant.evaluationSessionAnswers.some(answer =>
          answer.evaluationProviderSession.id === this.evaluationItem.id
        )
      )
    },
    evaluationType () {
      switch (this.evaluationItem.evaluationType) {
        case EVALUATION_KNOWLEDGE:
          return this.$translator.trans('Knowledge')
        case EVALUATION_COLD:
          return this.$translator.trans('At cold')
        case EVALUATION_HOT:
          return this.$translator.trans('At hot')
        case EVALUATION_ACQUIRED :
          return this.$translator.trans('Acquired')
        case EVALUATION_POSITIONING :
          return this.$translator.trans('Positioning')
        case EVALUATION_OTHER :
          return this.$translator.trans('Other')
        default:
          return ''
      }
    },
    isCanUpdate () {
      return this.evaluationItem.sent
    }
  },
  watch: {
    isOpen (newValue) {
      this.isOpenItem = newValue
    }
  },
  mounted () {
    this.evaluationsModals = this.session.client.evaluations
    this.isOpenItem = this.isOpen
    this.fetchParticipantRoles()
    // Définir l'intervalle de mise à jour
    this.updateIntervalId = setInterval(() => {
      this.fetchParticipantRoles()
    }, 5000) // 5000 millisecondes = 5 secondes
  },
  beforeDestroy () {
    // Supprimer l'intervalle de mise à jour
    if (this.updateIntervalId) {
      clearInterval(this.updateIntervalId)
    }
  },
  methods: {
    fetchParticipantRoles () {
      this.$axios.get(this.$routing.generate('_get_only_participant_evaluation_session', { id: this.evaluationSession.id }))
        .then((response) => {
          this.participantRolesErrorData = null
          this.participantRoles = response.data.message
        })
        .catch((error) => {
          this.participantRolesErrorData = error.response.data.message
        })
    },
    onCopy: function () {
      this.copyStatus = true
      setTimeout(() => { this.copyStatus = false }, 5000)
    },
    closeOrOpen () {
      this.isOpenItem = !this.isOpenItem
    },
    deleteEvaluation () {
      const route   = this.$routing.generate('_delete_evaluation_session', { id: this.evaluationSession.id })
      this.processing = true

      this.$axios
        .get(route)
        .then(() => {
          window.location.href = this.$routing.generate('_session_get', { id: this.session.id, tabName: 'SessionEvaluationsTab' })
        })
        .catch(() => {
          this.messageAlert = this.$translator.trans('Unable to delete evaluation')
          this.typeAlert = 'danger'
        })
        .finally(() => {
          this.processing = false
        })
    },
    cancelSendingEvaluationMail () {
      const route   = this.$routing.generate('_cancel_sending_email_evaluation_provider_session', { id: this.evaluationSession.id })
      this.processingCancel = true
      this.$axios
        .post(route)
        .then(() => {
          window.location.href = this.$routing.generate('_session_get', { id: this.session.id, tabName: 'SessionEvaluationsTab' })
        })
        .catch(() => {
          this.messageAlert = this.$translator.trans('Unable to cancel sending email')
          this.typeAlert = 'danger'
        })
        .finally(() => {
          this.processingCancel = false
        })
    },
    openEvaluationSynthesis () {
      window.open(this.$routing.generate('_provider_session_evaluation_synthesis', { id: this.evaluationSession.id }), '_blank')
    }
  }
}
</script>
<style scoped>
.copy.copied:after {
  content: url('../../../../static/icons/copy-black.svg') !important;
}

.row__data {
  display: flex;
  align-items: center; /* Centre verticalement les enfants */
}

.icon-container {
  /* Ajustez selon vos besoins pour l'espace autour de l'icône */
  flex: 0 0 auto; /* Ne pas grandir, ne pas rétrécir, base auto */
  padding-right: 20px; /* Espace entre l'icône et le contenu à droite */
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espacer la date et le badge */
}

.badge-container {
  margin-top: 2px; /* Ajustez selon l'espace souhaité entre la date et le badge */
}

</style>
