<template>
  <fieldset class="form__fieldset fieldset-secondary wrapper-eval">
    <div class="row mb-30">
      <div class="col-lg-8">
        <legend>{{ $translator.trans( 'Evaluations' ) }}</legend>
      </div>
      <div class="col-lg-4">
        <!--        <div class="form-group d-flex align-items-center justify-content-end">
          <label>{{ $translator.trans( 'External evaluation' ) }}</label>
          <div class="wrapper-switch">
            <label
              class="switch"
              for="switch-eval"
            >
              <input
                id="switch-eval"
                type="checkbox"
                name="switch-eval"
              >
              <span class="slider round" />
            </label>
          </div>
        </div>-->
      </div>
    </div>
    <div
      id="external-eval"
      class="row"
      style="display: none;"
    >
      <div class="col-lg-12 eval-checked mb-30">
        <div class="form__item">
          <label for="user-global-add-file-eval">{{ $translator.trans( 'Add an evaluation file' ) }}</label>
          <div class="input-container d-flex align-items-center">
            <div class="input-group">
              <div class="file-upload-container w-100">
                <input
                  id="user-global-add-file-eval"
                  type="file"
                  class="form-control w-100"
                >
              </div>
            </div>
            <div class="input-actions">
              <img
                src="/build/static/icons/question.svg"
                alt="Infobulle"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="Tooltip"
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 eval-checked">
        <div class="form__item">
          <label for="user-global-eval-and-session-input">{{ $translator.trans( 'End of session evaluation form' ) }}</label>
          <div class="d-flex align-items-center">
            <input
              id="user-global-eval-and-session-input"
              type="text"
              name=""
              class="form-control user-global-eval-and-session"
            >
            <span
              class="copy"
              :title="$translator.trans('The evaluation provides an assessment of the session by the participants. The evaluation form will be available in 3 ways : as a  QR code  or/and as a web link with live acces,s which will open in the participants\'browser and/or as a  link (the same one) sent to the participants by e-mail. The animator will have access to the link from his or her email convocation or directly from the session form.')"
            />
            <div class="input-group-text d-flex align-items-center justify-content-center">
              <img
                src="/build/static/icons/open-target.svg"
                alt="picto open target"
                class=""
              >
            </div>
            <img
              src="/build/static/icons/question.svg"
              alt="Infobulle"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              title="Tooltip"
            >
          </div>
        </div>
      </div>
    </div>
    <div
      id="form-eval-end-session"
      class="row mb-30"
    >
      <div class="col-lg-12">
        <div class="form__item">
          <label for="user-global-eval-end-session">
            {{ $translator.trans( 'End of session evaluation form' ) }}
          </label>
          <div class="d-flex align-items-center">
            <select
              id="user-global-eval-end-session"
              v-model="sessionEvaluationForm"
              :disabled="readOnly"
              class="user-global-eval-and-session-select limit-text-display"
              @change="setEvaluationForm"
            >
              <option
                v-for="evaluation in evaluations"
                :key="evaluation.id"
                :value="evaluation.id"
              >
                {{ evaluation.title }}
              </option>
            </select>
            <span
              v-if="!incommingEvaluationChange"
              class="qrCode"
              data-bs-target="#qrCodeBlock"
              data-bs-toggle="modal"
              role="button"
            />
            <span
              v-else
              class="qrCode-disabled"
            />
            <span
              v-if="!incommingEvaluationChange"
              v-clipboard:copy="$routing.generate('_session_evaluation_lobby', {id: session.id}, true)"
              v-clipboard:success="onCopy"
              class="copy"
              :class="{ 'copied' : copyStatus }"
            />
            <span
              v-else
              class="copy-disabled"
            />
            <div
              v-if="session.evaluations.length !== 0"
              class="input-group-text d-flex align-items-center justify-content-center"
              data-bs-target="#previewBlock"
              data-bs-toggle="modal"
              role="button"
            >
              <img
                src="/build/static/icons/view.svg"
                alt="picto view"
              >
            </div>
            <div
              v-else
              class="input-group-text d-flex align-items-center justify-content-center view-disabled"
              role="button"
            >
              <img
                src="/build/static/icons/view-white.svg"
                alt="picto view"
              >
            </div>
            <img
              src="/build/static/icons/question.svg"
              alt="Infobulle"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('The evaluation provides an assessment of the session by the participants. The evaluation form will be available in 3 ways : as a  QR code  or/and as a web link with live acces,s which will open in the participants\'browser and/or as a  link (the same one) sent to the participants by e-mail. The animator will have access to the link from his or her email convocation or directly from the session form.')"
              aria-label="Tooltip"
            >
          </div>
        </div>
        <div
          v-if="session.evaluations.length !== 0"
          id="previewBlock"
          class="modal fade"
          tabindex="-1"
        >
          <!--      === MODAL ===   -->
          <preview-evaluation-modal
            :key="session.evaluations[0].surveyId"
            :locale="session.language"
            :survey-id-selected="session.evaluations[0].surveyId"
          />
          <!--      === MODAL ===   -->
        </div>
        <div
          id="qrCodeBlock"
          class="modal fade"
          tabindex="-1"
        >
          <!--      === MODAL ===   -->
          <q-r-code-block
            :title="$translator.trans('QR evaluation Code')"
            :url="$routing.generate('_session_evaluation_lobby', {id: session.id}, true)"
          />
          <!--      === MODAL ===   -->
        </div>
        <div class="mt-2">
          <alert
            v-if="incommingEvaluationChange"
            type="warning"
            :text="$translator.trans( 'Veuillez enregistrer la session pour prendre en compte le changement de formulaire d\'évaluation.' )"
          />
        </div>
        <button
          v-if="!incommingEvaluationChange"
          type="button"
          class="d-flex align-items-center send-block ps-0 mt-10"
          data-bs-toggle="modal"
          data-bs-target="#send-email-evaluation"
        >
          <img
            src="/build/static/icons/send-green.svg"
            alt="picto send green"
            class="me-2"
          >
          <span>{{ $translator.trans( 'Send link to participants' ) }}</span>
        </button>
        <button
          v-else
          type="button"
          class="d-flex align-items-center send-block ps-0 mt-10"
        >
          <img
            src="/build/static/icons/send-grey.svg"
            alt="picto send green"
            class="me-2"
          >
          <span class="disabled">{{ $translator.trans( 'Send link to participants' ) }}</span>
        </button>
      </div>
    </div>

    <send-link-to-participant-present-modal
      id-modal="send-email-evaluation"
      :trainees="session.traineesOnly"
    />

    <div
      v-if="!participantRoles.participants"
      class="mx-auto text-center"
    >
      <p>{{ $translator.trans('Loading a list of participants') }}</p>
      <loader />
    </div>
    <div v-else>
      <evaluation-result
        :participant-roles="participantRoles"
      />
      <evaluation-participants-result
        :participant-roles="participantRoles"
      />
    </div>
  </fieldset>
</template>

<script>

import { mapGetters, mapState } from 'vuex'
import Alert from '../../ui/Alert'
import QRCodeBlock from './QRCodeBlock'
import EvaluationResult from './evaluation/EvaluationResult'
import EvaluationParticipantsResult from './evaluation/EvaluationParticipantsResult'
import PreviewEvaluationModal from './evaluation/PreviewEvaluationModal'
import SendLinkToParticipantPresentModal from './SendLinkToParticipantPresentModal'
import Loader from '../../ui/Loader.vue'

export default {
  name: 'EvaluationBlock',
  components: {
    Loader,
    SendLinkToParticipantPresentModal,
    PreviewEvaluationModal,
    EvaluationParticipantsResult,
    Alert,
    QRCodeBlock,
    EvaluationResult
  },
  data () {
    return {
      evaluations: [],
      initialEvaluationForm: '',
      sessionEvaluationForm: '',
      copyStatus: false,
      participantRoles: {}
    }
  },
  computed: {
    ...mapState('session', ['readOnly']),
    ...mapGetters({ session: 'session/getSession' }),
    incommingEvaluationChange () {
      return (this.session.evaluations.length === 0 && this.sessionEvaluationForm === '') ||
        ((this.evaluations.length > 0 && this.session.evaluations.length > 0) && (this.sessionEvaluationForm !== this.initialEvaluationForm))
    }
  },
  mounted () {
    this.evaluations = this.session.client.evaluations

    if (this.session.evaluations[0] !== undefined) {
      this.initialEvaluationForm = this.sessionEvaluationForm = this.session.evaluations[0].id
    }

    this.$axios.get(this.$routing.generate('_get_only_participant_presence_and_evaluation', { id: this.session.id })).then((response) => {
      this.participantRoles = response.data.message
    })
  },
  methods: {
    setEvaluationForm () {
      let evaluationSelected = null
      this.evaluations.forEach((value, index) => {
        if (value.id === this.sessionEvaluationForm) {
          evaluationSelected = value
        }
      })

      this.session.evaluations = [
        evaluationSelected
      ]
    },
    onCopy: function () {
      this.copyStatus = true
      setTimeout(() => { this.copyStatus = false }, 5000)
    }
  }
}
</script>

<style scoped>
.copy.copied:after {
  content: url('../../../../static/icons/copy-black.svg') !important;
}
</style>
