<template>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          id="exampleModalLabel"
          class="modal-title"
        >
          {{ $translator.trans( 'Add new evaluation' ) }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        />
      </div>
      <div class="modal-body">
        <div class="col-md-8 col-lg-8">
          <div class="form__item">
            <label for="user-global-model-convocation">{{ $translator.trans( 'Evaluation type' ) }}</label>
            <select
              id="user-global-model-convocation"
              v-model="evaluation.type"
            >
              <option
                v-for="(evaluationType) in EvaluationTypes"
                :key="evaluationType.value"
                :value="evaluationType.value"
              >
                {{ $translator.trans(evaluationType.name) }}
              </option>
            </select>
          </div>
          <div class="form__item">
            <label for="user-global-model-convocation">
              {{ $translator.trans( 'Evaluation template' ) }}
            </label>
            <select
              id="user-global-model-convocation"
              v-model="evaluation.model"
            >
              <option
                v-for="(evaluationModel) in evaluationsModals"
                :key="evaluationModel.id"
                :value="evaluationModel.id"
              >
                {{ evaluationModel.title }}
              </option>
            </select>
          </div>
        </div>
        <span v-if="error">
          <alert
            type="danger"
            :text="error"
          />
        </span>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-light"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            {{ $translator.trans('Close') }}
          </button>
          &nbsp;
          <submit-button
            :processing="processing"
            @click="addEvaluation"
          >
            {{ $translator.trans( 'Add' ) }}
          </submit-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SubmitButton   from '../../ui/SubmitButton'
import Alert from '../../ui/Alert'
import { EVALUATION_KNOWLEDGE, EVALUATION_COLD, EVALUATION_HOT, EVALUATION_ACQUIRED, EVALUATION_POSITIONING }      from '../../../store/module/session'

export default {
  name:       'EvaluationSessionAddModal',
  components: { SubmitButton, Alert },
  data () {
    return {
      processing: false,
      error: null,
      evaluation:{
        model: null,
        type: null
      },
      EvaluationTypes: [
        {
          name: 'Positioning',
          value: EVALUATION_POSITIONING
        },
        {
          name: 'Knowledge',
          value: EVALUATION_KNOWLEDGE
        },
        {
          name: 'Cold',
          value: EVALUATION_COLD
        },
        {
          name: 'Hot',
          value: EVALUATION_HOT
        },
        {
          name: 'Acquired',
          value: EVALUATION_ACQUIRED
        }
        /* {
          name: 'Other',
          value: EVALUATION_OTHER
        } */
      ],
      evaluationsModals: null
    }
  },
  computed:   {
    ...mapGetters('session', { session: 'getSession' })
  },
  mounted () {
    this.evaluationsModals = this.session.client.evaluations
  },
  methods:    {
    addEvaluation () {
      const route   = this.$routing.generate('_add_evaluation_session', { id: this.session.id, modelId: this.evaluation.model })

      this.processing = true

      this.$axios
        .post(route, this.evaluation)
        .then(() => {
          window.location.href = this.$routing.generate('_session_get', { id: this.session.id, tabName: 'SessionEvaluationsTab' })
        })
        .catch((error) => {
          this.error = this.$translator.trans(error.response.data.message.text)
        })
        .finally(() => {
          this.processing = false
        })
    }
  }
}
</script>
