<template>
  <div>
    <div class="d-flex justify-content-between mb-4 mt-2">
      <h4
        class="d-sm-none d-md-block me-2"
        style="text-align: left;"
      >
        {{ $translator.trans( 'Sending statistics' ) }}
      </h4>
      <a
        class="d-flex align-items-center text-end"
        :href="$routing.generate('_guests_export_file', {'webinarConvocationId': communicationId })"
        target="_blank"
      >
        <img
          src="/build/static/icons/export.svg"
          class="me-2"
          :alt="$translator.trans('Export sending statistics')"
        >
        <span
          class="d-sm-none d-md-block text-dark"
          style="flex: 1;"
        >{{ $translator.trans('Export sending statistics') }}</span>
      </a>
    </div>
    <div
      class="justify-content-between mb-4 mt-2"
      style="font-size: 0.95rem; font-weight: 600;"
    >
      {{ $translator.trans('Once your invitation emails have been sent, find the information relating to this sending here: number of emails delivered, number of recipients who opened the email, who clicked on it or who unsubscribed from your mailing list.') }}
    </div>
    <div
      v-if="loaderActive"
      class="d-flex align-items-center justify-content-center mx-auto"
    >
      <loader />
    </div>
    <div v-else>
      <div class="d-flex justify-content-center mb-6 mt-2">
        <div style="width: 300px;">
          <div style="text-align: center;">
            <span style="font-size: 1.75rem; font-weight: 600;">{{ invitationStatisticsGuests.numberRegistered }}</span> / {{ guests.length }}
          </div>
          <div style="text-align: center;">
            {{ $translator.trans('Registered') }}
          </div>
        </div>
        <div style="width: 300px;">
          <div style="text-align: center;">
            <span style="font-size: 1.75rem; font-weight: 600;">{{ invitationStatisticsGuests.numberDelivered }}</span> / {{ guests.length }}
          </div>
          <div style="text-align: center;">
            {{ $translator.trans('Delivered') }}
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mb-6 mt-2">
        <div style="width: 300px;">
          <div style="text-align: center;">
            <span style="font-size: 1.75rem; font-weight: 600;">{{ invitationStatisticsGuests.numberUnsubscribes }}</span>
          </div>
          <div style="text-align: center;">
            {{ $translator.trans('Unsubscribes') }}
          </div>
        </div>
        <div style="width: 300px;">
          <div style="text-align: center;">
            <span style="font-size: 1.75rem; font-weight: 600;">{{ invitationStatisticsGuests.numberOpened }}</span>
          </div>
          <div style="text-align: center;">
            {{ $translator.trans('Open') }}
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mb-3 mt-2">
        <div style="width: 300px;">
          <div style="text-align: center;">
            <span style="font-size: 1.75rem; font-weight: 600;">{{ invitationStatisticsGuests.numberClicked }}</span>
          </div>
          <div style="text-align: center;">
            {{ $translator.trans('Clicked') }}
          </div>
        </div>
        <div style="width: 300px;">
          <div style="text-align: center;">
            <span style="font-size: 1.75rem; font-weight: 600;">{{ invitationStatisticsGuests.numberBounces }}</span>
          </div>
          <div style="text-align: center;">
            {{ $translator.trans('Not issued') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import Loader from '../../ui/Loader.vue'

export default {
  name: 'GuestsStatistics',
  components: { Loader },
  props: {
    communicationId: {
      type: Number,
      required: true
    },
    guests: {
      type: Array,
      required: false,
      default: () => []
    }
  },
  data () {
    return {
      loaderActive: false,
      invitationStatisticsGuests: []
    }
  },
  computed: {

  },
  created () {
    this.invitationStatistics()
  },
  methods: {
    invitationStatistics () {
      this.loaderActive = true
      this.$axios.get(this.$routing.generate('_webinar_invitation_statistics', { id: this.communicationId }))
        .then((response) => {
          this.invitationStatisticsGuests = response.data.message
          this.loaderActive = false
        }).catch(() => {
          this.loaderActive = false
        })
      return this.invitationStatisticsGuests
    }
  }
}
</script>

<style scoped>

</style>
