<template>
  <div
    id="listOfGuestsModal"
    class="modal fade"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog filter-modal">
      <div class="modal-content">
        <div class="modal-header px-4 py-3">
          <h5 class="modal-title">
            {{ $translator.trans( 'List of guests' ) }}
          </h5>
          <span
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div class="modal-body">
          <div class="page-options-bar__item__search with-result">
            <label for="searchInSession">
              <img
                src="/build/static/icons/search.svg"
                alt=""
              >
            </label>
            <input
              id="searchInSession"
              v-model="searchTerm"
              type="search"
              name="searchInSession"
              :placeholder="$translator.trans('Search for a guest')"
            >
          </div>
          <br><br>
          <div
            v-if="guests.length > 0"
            class="data-list"
          >
            <div class="data-list__header">
              <div class="data-list__header__item">
                {{ $translator.trans( 'Email' ) }}
              </div>
              <div class="data-list__header__item">
                {{ $translator.trans( 'First name' ) }}
              </div>
              <div class="data-list__header__item">
                {{ $translator.trans( 'Last name' ) }}
              </div>
              <div class="data-list__header__item">
                {{ $translator.trans( 'Date of importing' ) }}
              </div>
              <div class="data-list__header__item option" />
            </div>
            <div class="table-content data-list__row-small">
              <div
                v-for="guest in filteredGuests"
                :key="guest.id"
                class="data-list__row text-dark"
                :class="{ 'alert-session': showAlert(guest) }"
              >
                <div class="row__data">
                  {{ guest.email }}
                </div>
                <div class="row__data">
                  {{ guest.firstName }}
                </div>
                <div class="row__data">
                  {{ guest.lastName }}
                </div>
                <div class="row__data">
                  <span>{{ guest.createdAt|formatDate('datetime_med') }}</span>
                </div>
                <div class="row__data option">
                  <a
                    v-show="showAlert(guest)"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                    class="session-warning"
                    :title="$translator.trans('The invitation email has not been sent yet due to an invalid email address or the recipient\'s email address being unsubscribed.')"
                    role="button"
                    data-bs-original-title="Alerte"
                  >
                    <img src="/build/static/icons/alert-session.svg">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            v-else
            class="d-flex justify-content-center"
          >
            <h5>{{ $translator.trans('The guests list is empty') }} 🫣!</h5>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-light"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            {{ $translator.trans('Close') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'GuestsListModal',
  components: {  },
  props: {
    guests: {
      type: Array,
      required: false,
      default: () => []
    },
    webinarCommunication: {
      type:     Object,
      required: true
    }
  },
  data () {
    return {
      searchTerm: ''
    }
  },
  computed: {
    filteredGuests () {
      return this.filterGuests()
    }
  },
  methods: {
    filterGuests () {
      const term = this.searchTerm.toLowerCase()
      return this.guests.filter((guest) => {
        const emailMatch = guest.email && guest.email.toLowerCase().includes(term)
        const firstNameMatch = guest.firstName && guest.firstName.toLowerCase().includes(term)
        const lastNameMatch = guest.lastName && guest.lastName.toLowerCase().includes(term)

        return emailMatch || firstNameMatch || lastNameMatch
      })
    },
    showAlert (guest) {
      return (!guest.emailSent && this.webinarCommunication.sent)
    }
  }
}
</script>

<style scoped>
.restrictions{
  font-size: .7rem;
}
</style>
