<template>
  <form class="form">
    <div
      v-if="!webinarCommunication.sent"
      class="justify-content-between mb-4 mt-2"
      style="font-size: 0.95rem; font-weight: 600;"
    >
      {{ $translator.trans('Add the recipients of your invitation email by adding an import file.') }}
    </div>
    <div
      v-else
      class="justify-content-between mb-4 mt-2"
      style="font-size: 0.95rem; font-weight: 600;"
    >
      {{ $translator.trans('The invitation has been sent, you cannot update the guest list.') }}
    </div>
    <div class="row px-2">
      <div class="form__item mb-3 col-12 justify-content-between">
        <div class="form__item mb-0">
          <span
            class="d-sm-none d-md-block me-2"
            style="text-align: left;"
          >{{ $translator.trans( 'Import guests' ) }}</span>
        </div>
        <div class="form__item mb-0">
          <a
            href="/archives/Model_Import_Guests.xlsx"
            target="_blank"
          >{{ $translator.trans('File template') }}</a>
        </div>
        <input
          id="exampleFormControlFile1"
          ref="file"
          class="form-control w-100"
          type="file"
          :disabled="webinarCommunication.sent"
          @change="handleFileUpload()"
        >
      </div>
    </div>
    <div class="row px-2">
      <small class="col-12 mb-3 restrictions">
        {{ $translator.trans('Maximum file size: %size%', {'size': maxFileSize }) }} |
        {{ $translator.trans('File format: %extensions%', {'extensions': allowedExtension }) }} |
        {{ $translator.trans('Maximum number of lines: %allowed%', {'allowed': allowedMaxRow}) }}
      </small>
    </div>
    <div class="row mr-20">
      <div class="col-12 p-0">
        <div class="d-flex justify-content-end align-items-center">
          <div
            v-if="showMessage"
            class="text-danger"
          >
            <span v-if="!readyToImport">{{ $translator.trans('Issue in the import file') }} </span>
            <span v-else-if="errorOccurred !== null">{{ $translator.trans(errorOccurred) }} </span>
          </div>
          <submit-button
            :disabled="!isValid"
            :processing="loaderSpinner"
            @click="submitFile"
          >
            {{ $translator.trans('Import') }}
          </submit-button>
        </div>
      </div>
    </div>
    <hr>
  </form>
</template>

<script>

import SubmitButton from '../../ui/SubmitButton.vue'

export default {
  components: { SubmitButton },
  props: {
    clients: {
      type: Array,
      required: false,
      default: () => []
    },
    sessionId: {
      type: Number,
      required: true
    },
    restrictions: {
      type: Object,
      required: false,
      default: () => { return {} }
    },
    webinarCommunication: {
      type:     Object,
      required: true
    }
  },
  data () {
    return {
      file: '',
      selectedClient: null,
      loaderSpinner: false,
      stateSubmitButton: true,
      showMessage: false,
      readyToImport: true,
      clientsData: this.clients,
      errorOccurred: null
    }
  },
  computed: {
    maxFileSize () {
      if ('max_file_size' in this.restrictions) {
        return this.restrictions.max_file_size
      }

      return 5 + ' MB'
    },
    allowedExtension () {
      if ('allowed_extension' in this.restrictions) {
        return this.restrictions.allowed_extension.toUpperCase()
      }

      return 'XLS, XLSX'
    },
    allowedMaxRow () {
      if ('allowed_max_row' in this.restrictions) {
        return this.restrictions.allowed_max_row
      }

      return 2000
    },
    isValid () {
      return typeof this.file === 'object' && !this.loaderSpinner
    }
  },
  mounted () {
    this.selectedClient = this.clientsData[0].id
  },
  methods: {
    submitFile () {
      const formData = new FormData()
      formData.append('file', this.file)
      formData.append('client', this.selectedClient)
      formData.append('webinarConvocation', this.webinarCommunication.id)

      this.loaderSpinner = true
      this.stateSubmitButton = false
      this.errorOccurred = null
      this.$axios.post(this.$routing.generate('_guests_import_file'),
        formData,
        {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }
      )
        .then(() => {
          window.location.href = this.$routing.generate('_session_get', { id: this.sessionId, tabName: 'SessionCommunicationTab' })
        })
        .catch((error) => {
          this.errorOccurred = error.response.data
          throw new Error(error.response.data)
        })
        .finally(() => {
          this.loaderSpinner = false
          this.stateSubmitButton = true
          this.showMessage = true
        })
    },
    handleFileUpload () {
      this.file = this.$refs.file.files[0]
    }
  }
}
</script>

<style scoped>
.restrictions{
  font-size: .7rem;
}
</style>
