<template>
  <div
    v-if="trainee.lastConvocationSent || trainee.lastCommunicationSent"
    role="button"
    @click="openPreview"
  >
    <img
      class="me-4"
      data-bs-toggle="tooltip"
      data-bs-placement="right"
      :title="$translator.trans('View convocation')"
      src="/build/static/icons/newsletter.svg"
    >
  </div>
</template>

<script>
import { routing } from '../../../utils/app.utils'

export default {
  name: 'PreviewConvocation',
  props: {
    trainee: {
      type: Object,
      required: true
    }
  },
  methods: {
    openPreview () {
      window.open(routing.generate('_trainee_convocation_show', { token: this.trainee?.providerSessionAccessToken?.token ?? this.trainee.token }), '_blank')
    }
  }
}
</script>
