
<template>
  <div>
    <div class="text-center">
      <qrcode-vue
        :value="value"
        :size="size"
        level="H"
        class="mb-3"
      />
      <span
        class="sub-qr-code-url"
      >
        {{ url }}
      </span>
    </div>
  </div>
</template>

<script>
import QrcodeVue from 'qrcode.vue'

export default {
  components: {
    QrcodeVue
  },
  props: {
    url: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      value: this.url,
      size: 290
    }
  }
}
</script>
