
<template>
  <div class="modal-dialog modal-dialog-centered w-25">
    <div class="modal-content">
      <div class="modal-header row">
        <h5
          id="exampleModalLabel"
          class="modal-title row"
        >
          {{ title }}
        </h5>
        <button
          type="button"
          class="btn-close row"
          data-bs-dismiss="modal"
          aria-label="Close"
        />
        <span
          class="row wrap"
        >
          {{ $translator.trans('Scan the QR Code with your smartphone') }}
        </span>
      </div>
      <div class="modal-body text-center">
        <qrcode-vue
          :value="value"
          :size="size"
          level="H"
          class="mb-3"
        />
        <span
          class="sub-qr-code-url"
        >
          {{ url }}
        </span>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          {{ $translator.trans( 'Close' ) }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import QrcodeVue from 'qrcode.vue'

export default {
  components: {
    QrcodeVue
  },
  props: {
    title: {
      type: String,
      require: true,
      default: ''
    },
    url: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      value: this.url,
      size: 350
    }
  }
}
</script>
