<template>
  <fieldset class="form__fieldset fieldset-secondary wrapper-presence">
    <div class="row mb-30">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-6">
            <legend>{{ $translator.trans('Replay') }}</legend>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form__item">
            <label for="videoPlatform">{{ $translator.trans('Hosting platform') }}</label>
            <select
              id="videoPlatform"
              v-model="session.replayVideoPlatform"
              class="form-control"
              @change="changePlatform"
            >
              <option
                v-for="(platform, index) in videoPlatforms"
                :key="index"
                :value="platform.value"
              >
                {{ $translator.trans(platform.label) }}
              </option>
            </select>
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              :title="$translator.trans('Selection of the video platform in which the replay will be broadcast.')"
            >
          </div>
          <div class="form__item">
            <label for="urlKey">{{ $translator.trans(getUrlKeyLabel) }}</label>
            <input
              id="urlKey"
              v-model="session.replayUrlKey"
              name="name"
              type="text"
              class="name form-control"
              @keyup="changePlatform"
            >
          </div>
          <div
            v-if="session.replayVideoPlatform === webinarReplayPlatformOther"
            class="form__item mb-3 col-12 justify-content-between"
          >
            <label
              for="information"
              class="form__item mb-0"
            >
              {{ $translator.trans("Video picture") }}
            </label>
            <input
              id="photo"
              ref="photo"
              class="form-control w-90"
              type="file"
              :accept="IMAGE_FORMATS_FORMATTED"
              @change="uploadFile($event,'photo')"
            >
            <tooltip
              :text="$translator.trans('The video picture will be displayed on the registration page replay when you chose a other platform relay, Recommended size: 1900x1200 pixels')"
            />
            <span
              class="mt-1"
              style="font-size: 14px"
            >{{ $translator.trans('File format:') }} {{ IMAGE_FORMATS_STRING }}</span>
            <div
              v-if="errors.photo"
              class="invalid-feedback d-block"
            >
              {{ errors.photo }}
            </div>
          </div>
          <div
            v-if="session.replayVideoPlatform === webinarReplayPlatformOther && session.photoReplay"
            class="form-check"
          >
            <input
              id="user-global-session-replayLayoutPlayButton"
              v-model="session.replayLayoutPlayButton"
              name="user-global-session-replayLayoutPlayButton"
              type="checkbox"
              class="form-check-input"
              :disabled="!session.photoReplay"
            >

            <label
              for="user-global-session-replayLayoutPlayButton"
              class="form-label form-check-label"
            >{{ $translator.trans('Display player layout') }}</label>
          </div>
          <!--          <p><i> {{ $translator.trans(translateHelpMessagePlatforms) }}</i></p>-->
        </div>
      </div>
    </div>
    <div class="row mb-30">
      <div class="col-lg-12">
        <loader
          v-if="loading.photo"
        />
        <template v-else>
          <div class="ratio ratio-16x9 video-responsive">
            <div
              v-if="session.replayLayoutPlayButton && session.photoReplay && session.replayVideoPlatform === webinarReplayPlatformOther"
              class="layout-player"
            >
              <img
                src="/build/static/icons/white-play-button.svg"
                alt=""
              >
            </div>
            <img
              v-if="session.replayVideoPlatform === webinarReplayPlatformOther && session.photoReplay"
              :src="photoUri"
              class="img-fluid"
              alt=""
            >
            <img
              v-if="session.replayVideoPlatform === webinarReplayPlatformOther && !session.photoReplay"
              src="/build/static/show-replay.png"
              class="img-fluid"
              alt=""
            >
            <iframe
              v-if="session.replayVideoPlatform !== webinarReplayPlatformOther"
              class="bg-black"
              :src="linkToVideo"
            />
          </div>
        </template>
      </div>
    </div>
  </fieldset>
</template>

<script>

import { mapGetters } from 'vuex'

import {
  CATEGORY_SESSION_WEBINAR,
  WEBINAR_REPLAY_PLATFORM_VIMEO,
  WEBINAR_REPLAY_PLATFORM_AC,
  WEBINAR_REPLAY_PLATFORM_OTHER,
  WEBINAR_REPLAY_PLATFORM_YOUTUBE,
  WEBINAR_REPLAY_PLATFORM_DAILYMOTION
} from '../../../store/module/session'
import Tooltip from '../../ui/Tooltip.vue'
import Loader from '../../ui/Loader.vue'
import { IMAGE_FORMATS, IMAGE_FORMATS_FORMATTED, IMAGE_FORMATS_STRING } from '../../../utils/fileUpload.utils'

export default {
  name: 'ReplayBlock',
  components: { Loader, Tooltip },
  data () {
    return {
      IMAGE_FORMATS: IMAGE_FORMATS,
      IMAGE_FORMATS_STRING: IMAGE_FORMATS_STRING,
      IMAGE_FORMATS_FORMATTED: IMAGE_FORMATS_FORMATTED,
      categoryWebinar: CATEGORY_SESSION_WEBINAR,
      webinarReplayPlatformVimeo: WEBINAR_REPLAY_PLATFORM_VIMEO,
      webinarReplayPlatformAC: WEBINAR_REPLAY_PLATFORM_AC,
      webinarReplayPlatformOther: WEBINAR_REPLAY_PLATFORM_OTHER,
      webinarReplayPlatformYoutube: WEBINAR_REPLAY_PLATFORM_YOUTUBE,
      webinarReplayPlatformDailymotion: WEBINAR_REPLAY_PLATFORM_DAILYMOTION,
      linkToVideo: '',
      showValidButton: false,
      helpVimeoKey: 'In order for the replay to be available, go to your Vimeo platform settings : in the \'Privacy\' section, the link should not be \'unlisted.\'',
      helpACKey: 'You can distribute the recording link to your participants. Don\'t forget to make it public from the Adobe Connect interface so that your participants can access it without logging in.',
      helpOtherKey: 'You can broadcast the link to the recording to your participants. Don\'t forget to make it public from the video platform interface so that your participants can access it without identifying themselves.',
      helpKey: '',
      loading: {
        photo: false
      },
      errors: {
        photo: false
      }
    }
  },
  computed: {
    ...mapGetters({ session: 'session/getSession', videoPlatforms: 'session/videoPlatform' }),
    translateHelpMessagePlatforms () {
      if (this.session.replayVideoPlatform === this.webinarReplayPlatformVimeo) {
        return this.helpVimeoKey
      } else if (this.session.replayVideoPlatform === this.webinarReplayPlatformAC) {
        return this.helpACKey
      } else {
        return this.helpOtherKey
      }
    },
    getUrlKeyLabel () {
      return this.currentPlatform.description
    },
    currentPlatform () {
      return this.videoPlatforms.find(platform => platform.value === this.session.replayVideoPlatform)
    },
    photoUri () {
      return '/uploads/registration_page_template/' + this.session.photoReplay
    }
  },
  watch: {
    'session.replayLayoutPlayButton': function (newVal, oldVal) {
      if (newVal !== oldVal) {
        this.$emit('show-save-button')
      }
    },
    'session.replayUrlKey': function (newVal, oldVal) {
      if (newVal !== oldVal) {
        this.$emit('show-save-button')
      }
    },
    'session.replayVideoPlatform': function (newVal, oldVal) {
      if (newVal !== oldVal) {
        this.$emit('show-save-button')
      }
    }
  },
  created () {
    if (this.session.replayVideoPlatform === null) {
      this.session.replayVideoPlatform = this.webinarReplayPlatformVimeo
    }
    this.changePlatform()
  },
  methods: {
    changePlatform () {
      // FOR THE TESTS : 'https://player.vimeo.com/video/203809526'
      if (this.session.replayVideoPlatform !== WEBINAR_REPLAY_PLATFORM_OTHER && this.session.replayUrlKey !== '') {
        this.linkToVideo = this.currentPlatform.url + this.session.replayUrlKey
      } else {
        this.linkToVideo = this.session.replayUrlKey
      }
    },
    validURL (str) {
      const pattern = new RegExp('^(https?:\\/\\/)?' + // protocol
          '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
          '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR ip (v4) address
          '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
          '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
          '(\\#[-a-z\\d_]*)?$', 'i') // fragment locator
      return !!pattern.test(str)
    },
    updateFile (src, file) {
      switch (src) {
        case 'photo':
          this.session.photoReplay = file
          break
      }
    },
    uploadFile (e, src) {
      this.loading[src] = true
      const files = e.target.files || e.dataTransfer.files
      if (files.length !== 1) {
        return
      }
      const formData = new FormData()
      formData.append('file', files[0])
      formData.append('format', IMAGE_FORMATS)
      const vm = this
      vm.error = null
      this.$axios.post(this.$routing.generate('_provider_session_replay_image_upload_files', { id : this.session.id }), formData, { headers: { 'Content-Type': 'multipart/form-data' } })
        .then((response) => {
          this.updateFile(src, response.data.message.filetarget)
          this.loading[src] = false
        }).catch((error) => {
          this.loading[src] = false
          if ('response' in error && 'data' in error.response && 'message' in error.response.data && 'text' in error.response.data.message) {
            vm.error = error.response.data.message.text
            this.errors[src] = error.response.data.message.text
          } else {
            vm.error = this.$translator.trans('The ' + src + ' cannot be put online for an unknown reason.')
          }
        })
    }
  }
}
</script>

<style scoped>
.copy.copied:after {
  content: url('../../../../static/icons/copy-black.svg') !important;
}
</style>
