<template>
  <fieldset class="form__fieldset fieldset-secondary wrapper-presence">
    <div>
      <alert
        v-if="errorMessage"
        :text="$translator.trans('An error occurred while generating the statistics. Please try again later.')"
        type="danger"
      />
      <div style="display: flex; justify-content: space-between;">
        <div>
          <legend>{{ $translator.trans('Statistics') }}</legend>
        </div>
        <loader
          v-if="processing"
        />
        <div
          v-else
          class="text-end"
          role="button"
          @click="download()"
        >
          <legend>
            <img
              src="/build/static/icons/download.svg"
              style="padding-right: 5px"
              alt=""
            > {{ $translator.trans('Upload') }}
          </legend>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center row">
        <div
          v-if="loaderActive"
          class="d-flex align-items-center justify-content-center"
          style="border-radius: 60px; background-color: #80BC00; width: 120px; height: 120px"
        >
          <div class="loader" />
        </div>
        <div
          v-else
          class="d-flex align-items-center justify-content-center"
          style="border-radius: 60px;background-color: #80BC00;width: 120px;height: 120px"
        >
          <h1>{{ replayStatisticsShow }}</h1>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <br>
          {{ $translator.trans('Number of times the replay was viewed offline.') }}
        </div>
      </div>
    </div>
  </fieldset>
</template>

<script>

import { mapGetters } from 'vuex'
import Loader from '../../ui/Loader.vue'
import Alert from '../../ui/Alert.vue'
export default {
  name: 'ReplayStatisticsBlock',
  components: { Alert, Loader },
  data () {
    return {
      replayStatisticsShow: 0,
      loaderActive: true,
      errorMessage: false,
      processing: false
    }
  },
  computed: {
    ...mapGetters({ session: 'session/getSession', videoPlatforms: 'session/videoPlatform' })
  },
  mounted () {
    this.replayStatistics()
  },
  methods: {
    replayStatistics () {
      this.$axios.get(this.$routing.generate('_replay_statistics', { id: this.session.id }))
        .then((response) => {
          this.replayStatisticsShow = response.data.message
          this.loaderActive = false
        }).catch(() => {
          this.loaderActive = false
        })
      return this.replayStatisticsShow
    },
    download () {
      this.linkDownload = null
      this.processing = true
      this.$axios.post(this.$routing.generate('_session_generate_replay_statistics', { id: this.session.id }))
        .then((response) => {
          const url = this.$routing.generate('_download_exports', {
            token: response.data.message
          })
          this.errorMessage = null
          window.open(url, '_blank')
        })
        .catch((error) => {
          this.errorMessage = error.response.data.message.text
        })
        .finally(() => {
          this.processing = false
        })
    }
  }
}
</script>

<style scoped>
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #80BC00;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
