<template>
  <div
    :id="idModal"
    class="modal fade"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h3
            class="text-center w-100"
          >
            {{ $translator.trans( 'Send link to participants' ) }}
          </h3>
        </div>
        <div class="modal-body pt-4">
          <alert
            v-if="errorModal !== ''"
            type="danger"
            :text="errorModal"
          />
          <label>
            {{ $translator.trans( 'Trainee(s)' ) }}
            <sup
              class="required text-danger"
              :title="$translator.trans('Required')"
            >*</sup>
          </label>
          <ul>
            <li
              v-for="trainee in trainees"
              :key="trainee.id"
            >
              <input
                :id="trainee.id"
                v-model="selectedTrainee"
                :value="trainee.id"
                name="trainee"
                type="checkbox"
              >
              <label :for="trainee.id">
                <span>
                  {{ trainee.participant.firstName }} {{ trainee.participant.lastName }}
                </span>
              </label>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <submit-button
            :processing="clickSendLink"
            @click="sendEmailToSelectedParticipants"
          >
            {{ $translator.trans('Send') }}
          </submit-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'
import {
  sendLinkToEvaluationFormByEmailToSelectedParticipant,
  sendLinkToSignatureFormByEmailToSelectedParticipant
}                     from '../../../utils/evaluations.utils'
import Alert          from '../../ui/Alert'
import SubmitButton   from '../../ui/SubmitButton'

export default {
  name: 'SendLinkToParticipantPresentModal',
  components: {
    Alert,
    SubmitButton
  },
  props: {
    idModal: {
      type: String,
      required: true
    },
    trainees: {
      type: Array,
      required: false,
      default: () => []
    }
  },
  data () {
    return {
      errorModal: '',
      selectedTrainee: this.initPresentTrainee(),
      clickSendLink: false,
      sendEmailLinkMethod: ''
    }
  },
  computed: {
    ...mapGetters({ session: 'session/getSession' })
  },
  methods: {
    sendEmailToSelectedParticipants () {
      this.clickSendLink = true

      if (this.selectedTrainee.length === 0) {
        this.errorModal = this.$translator.trans('No participants are selected')
        this.clickSendLink = false
        return
      }

      switch (this.idModal) {
        case 'send-email-signature':
          this.sendEmailLinkMethod = sendLinkToSignatureFormByEmailToSelectedParticipant
          break
        case 'send-email-evaluation':
          this.sendEmailLinkMethod = sendLinkToEvaluationFormByEmailToSelectedParticipant
          break
        default:
          this.sendEmailLinkMethod = ''
          break
      }

      if (this.sendEmailLinkMethod !== '') {
        this.sendEmailLinkMethod(this.session.id, this.selectedTrainee.join(','))
          .catch(error => {
            this.errorModal = error.response.data.message.text
            this.clickSendLink = false
          })
          .then(
            () => window.location.href = this.$routing.generate('_session_get', { id: this.session.id, tabName: 'SessionAttendanceTab' })
          )
      }
    },
    initPresentTrainee: function () {
      const traineesPresents = []

      this.trainees.forEach((trainee) => {
        if (trainee.presenceStatus) {
          traineesPresents.push(trainee.id)
        }
      })

      return traineesPresents
    }
  }
}
</script>
