<template>
  <div
    :id="idModal"
    aria-hidden="true"
    class="modal fade"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark">
            {{ $translator.trans( 'Send evaluation link to participants' ) }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div class="modal-body">
          <div
            id="nav-tab-user"
            class="nav nav-tabs mb-3"
            role="tablist"
            style="border-bottom: 1px solid #E5E5E5;"
          >
            <button
              id="message-tab"
              :class="[{
                'active' : modalShow === 'message'
              }]"
              class="nav-link ps-0"
              data-bs-toggle="tab"
              role="tab"
              type="button"
              @click="modalShow = 'message'"
            >
              {{ $translator.trans('Message') }}
            </button>
            <button
              id="recipient-tab"
              :class="[{
                'active' : modalShow === 'recipient'
              }]"
              class="nav-link ps-0"
              data-bs-toggle="tab"
              role="tab"
              type="button"
              @click="modalShow = 'recipient'"
            >
              {{ $translator.trans('Recipient') }}
            </button>
          </div>
          <div v-if="modalShow === 'message'">
            <schedule-evaluation-mail-modal
              :evaluation-item="evaluationSession"
            />
          </div>
          <div v-if="modalShow=== 'recipient'">
            <div class="d-flex mb-5">
              <div class="page-options-bar__item pr col-6">
                <div class="page-options-bar__item__search with-result">
                  <label for="searchInParticipant">
                    <img src="/build/static/icons/search.svg">
                  </label>
                  <input
                    id="searchInParticipant"
                    v-model="searchQuery"
                    :placeholder="$translator.trans('Search by full name or email')"
                    name="searchInParticipant"
                    type="search"
                  >
                  <div
                    :style="{ 'margin-right': filteredTraineesCount > 6 ? '30px' : '40px'}"
                    class="search-sessions-counter"
                  >
                    <b>{{ filteredTraineesCount }}</b>
                    &nbsp;&nbsp;{{ $translator.trans('found participant.s') }}
                  </div>
                </div>
              </div>
              <div class="session-numbers d-flex align-items-center col-3">
                <div class="session-numbers__groups d-flex align-items-center">
                  <img
                    alt="picto groupe"
                    src="/build/static/icons/groupe-black.svg"
                  >
                  &nbsp;&nbsp;{{ $translator.trans('Selected participants') }} ({{ selectedTraineesCount }})
                </div>
              </div>
              <div
                class="session-numbers d-flex align-items-center col-3 justify-content-end"
                style="padding-right: 20px"
                @click="selectOrDeselectAllTrainees"
              >
                <div
                  class="session-numbers__groups d-flex align-items-center"
                  role="button"
                >
                  <a class="d-sm-none d-md-block me-3">
                    <img
                      v-if="!areAllSelected"
                      alt="picto groupe"
                      src="/build/static/icons/check-green.svg"
                    >
                    <img
                      v-else
                      alt="picto groupe"
                      src="/build/static/icons/cross-green.svg"
                    >
                    &nbsp;&nbsp;{{ $translator.trans(areAllSelected ? 'Deselect All' : 'Select All') }}</a>
                </div>
              </div>
            </div>
            <div style="max-height: 410px">
              <recycle-scroller
                :item-size="58"
                :items="filteredTrainees"
                class="vue-scroller"
                key-field="id"
              >
                <template #before>
                  <div
                    class="vue-scroller-header d-flex mb-3"
                    style="padding-left: 15px"
                  >
                    <div
                      class="vue-scroller-header-element col-4"
                    >
                      {{ $translator.trans('Last name') }} {{ $translator.trans('First name') }}
                    </div>
                    <div class="vue-scroller-header-element col-4">
                      {{ $translator.trans('Email') }}
                    </div>
                    <div class="vue-scroller-header-element col-4" />
                  </div>
                </template>
                <template #default="{ item, index }">
                  <div
                    :class="['scroller-item d-flex justify-content-around', { 'highlight': isSelected(item.id), 'odd': (index%2!==0) }]"
                    @click="addOrRemoveUser(item.id)"
                  >
                    <div class="scroller-element">
                      {{ item.lastName }} {{ item.firstName }}
                    </div>
                    <div class="scroller-element">
                      {{ item.email }}
                    </div>
                    <div class="scroller-element">
                      <span
                        v-if="hasResponded(item)"
                      > {{ $translator.trans('Answer sent') }}</span>
                    </div>
                  </div>
                </template>
              </recycle-scroller>
            </div>
          </div>

          <div
            v-if="modalShow === 'timeSendDate'"
            class="session-fields-date__begin text-center"
            style="margin: 200px 0"
          >
            <div class="picto-container d-flex justify-content-center mb-4">
              <div class="picto d-flex align-items-center justify-content-center">
                <img
                  src="/build/static/icons/calendar-event.svg"
                  width="40"
                >
              </div>
            </div>
            <span>{{ $translator.trans('Enter the date and time the review was sent') }}</span>
            <div class="form-block d-flex align-items-center justify-content-center mt-4">
              <div class="form__item col-4">
                <div class="input-container d-flex align-items-center input-group">
                  <datetime
                    v-model="evaluationSessionData.sendAt"
                    :disabled="isCanUpdate"
                    :format="$dateTime.DATETIME_MED"
                    :phrases="{ok: $translator.trans( 'OK' ), cancel: $translator.trans( 'Cancel' )}"
                    :use12-hour="false"
                    auto
                    class="input-group datetime-picker-primary w-100"
                    input-class="form-control date inline"
                    input-id="user-convoc-send-date"
                    type="datetime"
                  >
                    <template slot="after">
                      <div class="input-group-text d-flex align-items-center justify-content-center">
                        <img
                          alt=""
                          class="calendar"
                          src="/build/static/icons/calendar-date-green.svg"
                        >
                      </div>
                    </template>
                  </datetime>
                </div>
                <img
                  :title="$translator.trans('The date and time the evaluation email was sent. If you do not complete this field, the email will not be sent. unless you send it manually.')"
                  alt=""
                  data-bs-placement="left"
                  data-bs-toggle="tooltip"
                  src="/build/static/icons/question.svg"
                >
              </div>
            </div>
          </div>
          <alert
            v-if="errorModal"
            :text="errorModal"
            type="danger"
          />
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-light"
            data-bs-dismiss="modal"
            type="button"
          >
            {{ $translator.trans('Exit') }}
          </button>

          <!-- Schedule button visible only in message mode -->
          <button
            v-show="modalShow === 'message' && !evaluationSession.sent "
            class="btn btn-info"
            type="button"
            @click="modalShow = 'timeSendDate'"
          >
            {{ $translator.trans('Schedule') }}
          </button>

          <!-- Schedule button for submission, with loading indication -->
          <submit-button
            v-show="modalShow === 'timeSendDate'"
            button-class="btn-info"
            :processing="clickSendLink"
            :disabled="isScheduleButtonDisabled"
            @click="scheduleShipment()"
          >
            {{ $translator.trans('Schedule') }}
          </submit-button>

          <!-- Next button for first step -->
          <button
            v-show="firstStep"
            class="btn btn-success"
            type="button"
            @click="modalShow = 'recipient'"
          >
            {{ $translator.trans('Next') }}
          </button>

          <!-- Send button to send the email, except in timeSendDate mode -->
          <submit-button
            v-show="modalShow !== 'timeSendDate' && !firstStep"
            :disabled="isSendButtonDisabled"
            :processing="clickSendLink"
            @click="sendEmailToSelectedParticipants"
          >
            {{ $translator.trans('Send') }}
          </submit-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'
import { routing }    from '../../../utils/app.utils'
import { Datetime }                                           from 'vue-datetime'
import Alert          from '../../ui/Alert'
import SubmitButton   from '../../ui/SubmitButton'
import ScheduleEvaluationMailModal from './ScheduleEvaluationMailModal.vue'

export default {
  name: 'SendLinkEvaluationToParticipantModal',
  components: {
    ScheduleEvaluationMailModal,
    Alert,
    Datetime,
    SubmitButton
  },
  props: {
    idModal: {
      type: String,
      required: true
    },
    trainees: {
      type: Array,
      required: false,
      default: () => []
    },
    evaluationSession: {
      type:     Object,
      required: true
    },
    firstModalShow: {
      type: String,
      required: false,
      default: 'message'
    }
  },
  data () {
    return {
      sendEvaluationAt: null,
      errorModal: null,
      isCanUpdate: false,
      searchQuery: '',
      selectedTrainee: this.initPresentTrainee(),
      modalShow: this.firstModalShow,
      evaluationSessionData: this.evaluationSession,
      clickSendLink: false,
      sendEmailLinkMethod: ''
    }
  },
  computed: {
    firstStep () {
      return this.modalShow === 'message' && this.isSendButtonDisabled
    },
    filteredTraineesCount () {
      return this.filteredTrainees.length
    },
    selectedTraineesCount () {
      return this.selectedTrainee.length
    },
    areAllSelected () {
      return this.filteredTrainees.length > 0 &&
             this.filteredTrainees.every(trainee => this.selectedTrainee.includes(trainee.id))
    },
    filteredTrainees () {
      return this.trainees.filter(trainee =>
        trainee.email.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
          trainee.firstName.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
          trainee.lastName.toLowerCase().includes(this.searchQuery.toLowerCase())
      )
    },
    isSendButtonDisabled () {
      return this.selectedTrainee.length === 0
    },
    isScheduleButtonDisabled () {
      return this.evaluationSessionData.sendAt === null || this.evaluationSessionData.sendAt === ''
    },
    ...mapGetters({ session: 'session/getSession' })
  },
  watch: {
    firstModalShow (val) {
      this.modalShow = val
    }
  },
  methods: {
    scheduleShipment () {
      this.clickSendLink = true
      if (this.isScheduleButtonDisabled) {
        this.errorModal = this.$translator.trans('The date and time the evaluation email was sent. If you do not complete this field, the email will not be sent. unless you send it manually.')
        this.clickSendLink = false
        return
      }
      this.$axios.post(routing.generate('_schedule_shipment_email_evaluation_provider_session', { id: this.evaluationSession.id, sendDate:this.evaluationSessionData.sendAt }))
        .catch(error => {
          this.errorModal = error.response.data.message
          this.clickSendLink = false
        })
        .then(() => {
          this.errorModal = null
          window.location.href = this.$routing.generate('_session_get', { id: this.session.id, tabName: 'SessionEvaluationsTab' })
        })
    },
    hasResponded (participant) {
      return participant.evaluationSessionAnswers.some(answer => answer.evaluationProviderSession.id === this.evaluationSession.id)
    },
    selectOrDeselectAllTrainees () {
      if (this.areAllSelected) {
        this.deselectAllTrainees()
      } else {
        this.selectAllTrainees()
      }
    },
    selectAllTrainees () {
      this.selectedTrainee = this.filteredTrainees.map(trainee => trainee.id)
    },
    deselectAllTrainees () {
      this.selectedTrainee = []
    },
    addOrRemoveUser (id) {
      if (this.selectedTrainee.indexOf(id) >= 0) {
        this.selectedTrainee.splice(this.selectedTrainee.indexOf(id), 1)
      } else {
        this.selectedTrainee.push(id)
      }
    },
    isSelected (id) {
      return this.selectedTrainee.indexOf(id) >= 0
    },
    sendEmailToSelectedParticipants () {
      this.clickSendLink = true
      if (this.selectedTrainee.length === 0) {
        this.errorModal = this.$translator.trans('No participants are selected')
        this.clickSendLink = false
        return
      }
      this.$axios.post(routing.generate('_send_email_evaluation_provider_session', { id: this.evaluationSession.id, participant:this.selectedTrainee.join(',') }))
        .catch(error => {
          this.errorModal = error.response.data.message
          this.clickSendLink = false
        })
        .then(() => {
          this.errorModal = null
          window.location.href = this.$routing.generate('_session_get', { id: this.session.id, tabName: 'SessionEvaluationsTab' })
        })
    },
    initPresentTrainee: function () {
      const traineesPresents = []

      this.trainees.forEach((trainee) => {
        if (trainee.presenceStatus) {
          traineesPresents.push(trainee.id)
        }
      })

      return traineesPresents
    }
  }
}
</script>
