<template>
  <pop-in
    :id="id"
    :title="$translator.trans('Send a message to subscribers')"
  >
    <template #content>
      <form
        class="form"
      >
        <div class="mb-3 form__item">
          <label
            for="name"
            class="form-label required"
          >
            {{ $translator.trans("Object") }}
          </label>
          <input
            v-model="sendEmailData.object"
            name="object"
            required="required"
            class="form-control"
          >
        </div>
        <div class="mb-3 form__item">
          <label
            for="name"
            class="form-label required"
          >
            {{ $translator.trans("Message") }}
          </label>
          <textarea
            v-model="sendEmailData.message"
            name="message"
            style="height: 150px"
            required="required"
            class="form-control"
          />
        </div>
        <div
          class="form__item mb-3 col-12 justify-content-between"
        >
          <label
            for="information"
            class="form__item mb-0"
          >
            {{ $translator.trans("Attachment") }} (20 Mo)
          </label>
          <input
            id="emailAttachment"
            ref="emailAttachment"
            class="form-control w-90"
            type="file"
            @change="handleFileUpload"
          >
          <div class="input-actions">
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('Add a zip if you have multiple times. Maximum size: 20Mb. Allowed formats: xls, xlsx, csv, ods, doc, docx, txt, pdf, jpg, png, ppt, pptx, odp, zip, rar.')"
            >
          </div>
        </div>
        <div
          v-if="loading"
          class="mx-auto text-center"
        >
          <p>{{ $translator.trans('Loading a list of participants') }}</p>
          <loader />
        </div>
        <div v-else>
          <div class="row">
            <div class="col-1" />
            <div class="col-5">
              <label
                for="name"
                class="form-label"
              >
                {{ $translator.trans("Lastname and firstname") }}
              </label>
            </div>
            <div class="col-6">
              <label
                for="name"
                class="form-label"
              >
                {{ $translator.trans("Email") }}
              </label>
            </div>
          </div>
          <br>
          <div
            v-for="ppsr in sendEmailData.ppsr"
            :key="ppsr.ppsrId"
          >
            <div class="row">
              <div class="col-1">
                <div class="mt-1 form__item">
                  <input
                    id="participantId"
                    v-model="ppsr.ppsrParticipantSend"
                    class="form-check-input"
                    style="height: 20px;"
                    type="checkbox"
                    checked="checked"
                  >
                </div>
              </div>
              <div class="col-5">
                <div class="mb-3 form__item">
                  <input
                    id="participantFullName"
                    v-model="ppsr.ppsrParticipantFullName"
                    name="participantFullName"
                    :disabled="true"
                    class="form-control"
                  >
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3 form__item">
                  <input
                    id="participantEmail"
                    v-model="ppsr.ppsrParticipantEmail"
                    name="participantEmail"
                    :disabled="true"
                    class="form-control"
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </template>
    <template #footer>
      <div
        v-if="sendedError"
        class="alert alert-dismissible align-items-start d-flex fade justify-content-between p-3 show"
        :class="`alert-warning`"
        role="alert"
      >
        {{ $translator.trans("An error occurred while sending emails") }}
      </div>

      <button
        type="button"
        class="btn btn-light"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        {{ $translator.trans('Close') }}
      </button>
      &nbsp;
      <submit-button
        type="button"
        class="btn btn-primary"
        data-bs-dismiss="modal"
        :processing="processing"
        @click="sendEmails"
      >
        {{ $translator.trans('Valid') }}
      </submit-button>
    </template>
  </pop-in>
</template>

<script>
import SubmitButton from '../../ui/SubmitButton.vue'
import PopIn from '../../ui/PopIn/PopIn.vue'
import Loader from '../../ui/Loader.vue'

export default {
  name: 'SendEmailToParticipantsModal',
  components: { Loader, PopIn, SubmitButton },
  props: {
    id: {
      type: String,
      required: true
    },
    session: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      processing: false,
      sended: false,
      sendedError: false,
      formData: {
        data: {},
        attachment: null
      },
      sendEmailData: {},
      modal: null,
      loading: false
    }
  },
  mounted () {
    this.loading = true

    const modal = document.getElementById(this.id)
    if (modal) {
      modal.addEventListener('shown.bs.modal',  async () => {
        const ppsrInfos = []
        this.loading = true

        this.$axios.get(this.$routing.generate('_get_only_participant_session_roles_by_session', { id: this.session.id })).then((response) => {
          response.data.message.forEach(ppsr => {
            const result = {
              ppsrParticipantSend: true,
              ppsrId: ppsr.id,
              ppsrParticipantId: ppsr.participant.id,
              ppsrParticipantUserId: ppsr.participant.user.id,
              ppsrParticipantFullName: ppsr.participant.fullName,
              ppsrParticipantEmail: ppsr.participant.email
            }
            ppsrInfos.push(result)
          })
          const indexedPpsrInfos = ppsrInfos.reduce((result, current) => {
            result[current.ppsrId] = current
            return result
          }, {})
          this.sendEmailData = {
            sessionId: this.session.id,
            object: null,
            message: null,
            attachment: null,
            ppsr: indexedPpsrInfos
          }
        }).finally(() => {
          this.loading = false
        })
      })
    }
  },
  methods: {
    handleFileUpload (event) {
      this.formData.attachment = event.target.files[0]
    },
    sendEmails (e, src) {
      this.processing = true
      this.sended = false
      this.sendedError = false
      const formData = new FormData()
      formData.append('data', JSON.stringify(this.sendEmailData))
      formData.append('attachment', this.formData.attachment)

      this.$axios.post(this.$routing.generate('_provider_session_send_email_participants'), formData, { headers: { 'Content-Type': 'multipart/form-data' } })
        .then((response) => {
          // this.updateFile(src, response.data.message.filetarget)
          this.$emit('endSendMessage')
          this.sended = true
        })
        .catch(() => {
          this.sendedError = true
        })
        .finally(() => {
          this.processing = false
        })
    }
  }
}
</script>
