<template>
  <div class="wrapper-header__infos">
    <div class="wrapper-header__infos__title d-flex align-items-center">
      <h1>
        {{ sessionTitle }}
        <a
          v-if="hasBounce"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          class="session-alert"
          :title="$translator.trans('One or more emails were not received by one or more participant')"
          role="button"
          :href="$routing.generate('_bounce_list_session_filtered', {id: session.id})"
        >
          <img src="/build/static/icons/alert-session.svg">
        </a>
      </h1>
      <!--      <img src="/build/static/icons/alert-session.svg" alt="picto warning alerte session" width="24" />-->
    </div>
    <p class="wrapper-header__infos__desc">
      {{ subTitleFormatted }}
    </p>

    <div class="wrapper-header__infos__updated mb-20">
      {{ editionInformations }}
    </div>
    <p
      v-if="session.subject !== null"
      class="alert alert-dismissible align-items-start d-flex fade justify-content-between p-3 show alert-info"
      style="margin-right: 20px;"
      data-bs-placement="left"
      data-bs-toggle="tooltip"
      :title="$translator.trans('When a session is linked to a topic, the session title is automatically replaced by the topic title, and a participant\'s invitation will start as soon as he or she registers.')"
    >
      {{
        $translator.trans('When a session is linked to a topic, the session title is automatically replaced by the topic title, and a participant\'s invitation will start as soon as he or she registers.')
      }}
    </p>
    <div class="data-list d-flex align-items-center">
      <span
        :class="badgebackgroundClass"
      >
        {{ $translator.trans(session.readableState) }}
      </span>
      <span
        v-if="session.sessionTest"
        class="btn btn-info btn-sm"
        style="margin-right: 20px;"
        data-bs-placement="left"
        data-bs-toggle="tooltip"
        :title="$translator.trans('This session is a test. It won t be billed or counted in statistics.')"
      >
        {{ $translator.trans('Test') }}
      </span>
      <div class="session-numbers d-flex align-items-center mr-20">
        <div class=" d-flex align-items-center">
          <span>{{ session.client.name }}</span>
        </div>
      </div>
      <div class="session-numbers d-flex align-items-center mr-20">
        <div class=" d-flex align-items-center">
          <img
            src="/build/static/icons/connector.svg"
          >
          <span style="padding-left: 3px">{{ session.abstractProviderConfigurationHolder.name }}</span>
        </div>
      </div>

      <div
        v-if="session.supportType !== 0"
        :class="['session-option mx-1', getHelpTaskColorClass(session.supportStatus)]"
        data-bs-toggle="tooltip"
        data-bs-placement="left"
        :title="$translator.trans(getSupportHelpTaskBtnTitle)"
        role="button"
        style="margin: 2px"
      >
        <img src="/build/static/icons/support-icn.svg">
      </div>
      <div
        v-if="session.assistanceType !== 0"
        :class="['session-option mx-1', getHelpTaskColorClass(session.assistanceStatus)]"
        data-bs-toggle="tooltip"
        data-bs-placement="left"
        :title="$translator.trans(getAssistanceHelpTaskBtnTitle)"
        role="button"
        style="margin: 2px"
      >
        <img src="/build/static/icons/assistance-icn.svg">
      </div>
      <div
        v-if="session.subject"
        :class="'session-option mx-1'"
        data-bs-toggle="tooltip"
        data-bs-placement="left"
        :title="session.titleAttachementModuleThemeSubject"
        role="button"
        style="margin: 2px"
        :data-bs-original-title="session.titleAttachementModuleThemeSubject"
      >
        <img src="/build/static/icons/parcours-formation.svg">
      </div>
      <div
        :class="'session-option mx-1'"
        data-bs-toggle="tooltip"
        data-bs-placement="left"
        :title=" $translator.trans(categoryIcons.title)"
        role="button"
        style="margin-right: 5px"
      >
        <img :src="categoryIcons.src">
      </div>

      <div
        class="session-numbers d-flex align-items-center"
        style="margin-left: 15px"
      >
        <div class="session-numbers__profile d-flex align-items-center">
          <img
            src="/build/static/icons/profile-black.svg"
            alt="picto profile"
          >
          {{ roles.animators }}
          <span />
        </div>
        <div class="session-numbers__groups d-flex align-items-center">
          <img
            src="/build/static/icons/groupe-black.svg"
            alt="picto groupe"
          >
          {{ roles.trainees }}
        </div>
      </div>
      <div
        v-if="session.additionalTimezones.length > 0"
        :class="'session-option'"
        data-bs-toggle="tooltip"
        data-bs-placement="left"
        :title="$translator.trans('international session')"
        role="button"
        style="margin-left: 15px"
      >
        <img
          src="/build/static/icons/international_session.svg"
          alt="international_session"
        >
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { DateTime } from 'luxon'

export default {
  name: 'SessionHeader',
  props: {
    hasBounce: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      categoryIcons: {},
      roles: {}
    }
  },
  computed: {
    ...mapGetters({ session: 'session/getSession' }),
    sessionTitle () {
      if (this.session.subject !== null) {
        return this.session.subject.name
      }
      return this.session.name
    },
    subTitleFormatted () {
      return this.$translator.trans('Reference n° %field_1% - %field_2%, %field_3% - Duration %field_4%', {
        field_1: this.session.ref,
        field_2: DateTime
          .fromISO(this.session.dateStart)
          .toLocaleString(DateTime.DATE_HUGE),
        field_3: DateTime
          .fromISO(this.session.dateStart)
          .toLocaleString(DateTime.TIME_SIMPLE),
        field_4: this.session.datesDiffString
      })
    },
    editionInformations () {
      return this.$translator.trans('Created on %field_1% by %field_2% - Modified on %field_3%', {
        field_1: DateTime
          .fromISO(this.session.createdAt)
          .toLocaleString(DateTime.DATE_MED),
        field_2: (this.creatorName),
        field_3: DateTime
          .fromISO(this.session.updatedAt)
          .toLocaleString(DateTime.DATE_MED)
      })
    },
    creatorName () {
      if (this.session.createdBy) {
        return (this.session.createdBy.lastName ?? '') + ' ' + (this.session.createdBy.firstName ?? '')
      }

      return ''
    },
    badgebackgroundClass () {
      let backgroundClasses = ''
      if (this.session.running) {
        backgroundClasses = ' bg-in-progress'
      } else if (this.session.readableState === 'Sent') {
        backgroundClasses = ' bg-primary'
      } else if (this.session.scheduled) {
        backgroundClasses = ' bg-program'
      }

      return 'mr-20 badge' + backgroundClasses
    },
    getAssistanceHelpTaskBtnTitle () {
      switch (this.session.assistanceStatus) {
        case 1:
          return 'Assistance started, the assistant is not yet present'
        case 2:
          return 'Assistance started, the assistant is present'
        case 3:
          return 'Assistance is finished'
        default:
          return 'Assistance is programmed'
      }
    },
    getSupportHelpTaskBtnTitle () {
      switch (this.session.supportStatus) {
        case 1:
          return 'Support available'
        case 3:
          return 'Support is finished'
        default:
          return 'Support is programmed'
      }
    }
  },
  mounted () {
    this.categoryIcons = this.iconCategory()
    this.$axios.get(this.$routing.generate('_session_get_participant_role_count', { id: this.session.id })).then((res) => {
      this.roles = res.data.message
    })
  },
  methods: {
    iconCategory () {
      const categoryInfo = {}
      switch (this.session.category) {
        case 1: {
          categoryInfo.title = 'Virtual Classroom'
          categoryInfo.src = '/build/static/icons/computer.svg'
          break
        }
        case 2: {
          categoryInfo.title = 'Meeting'
          categoryInfo.src = '/build/static/icons/reunion.svg'
          break
        }
        case 4: {
          categoryInfo.title = 'face-to-face training'
          categoryInfo.src = '/build/static/icons/sursite.svg'
          break
        }
        case 6: {
          categoryInfo.title = 'Blended session'
          categoryInfo.src = '/build/static/icons/online-training.svg'
          break
        }
        case 7: {
          categoryInfo.title = 'Webinar'
          categoryInfo.src = '/build/static/icons/webinar.svg'
          break
        }
      }
      return categoryInfo
    },
    getHelpTaskColorClass (helpTaskStatus) {
      switch (helpTaskStatus) {
        case 1:
          return 'warning'
        case 2:
          return 'success'
        default:
          return ''
      }
    }
  }
}
</script>
