<template>
  <div
    v-if="isMeetingType"
  >
    <div class="form__item col-6">
      <label for="user-global-nature">{{ $translator.trans('Nature') }}</label>
      <select
        id="user-global-nature"
        v-model="session.nature"
        :disabled="readOnly"
        @change="setSession"
      >
        <option
          v-for="(nature, key) in natures"
          :key="key"
          :value="key"
        >
          {{ $translator.trans( nature ) }}
        </option>
      </select>
      <img
        src="/build/static/icons/question.svg"
        alt="Infobulle"
        data-bs-toggle="tooltip"
        data-bs-placement="left"
        :title="$translator.trans('The nature of the training will be included in the training certificates')"
      >
    </div>
    <div class="form__item col-6">
      <label class="tiny-form-label">{{ $translator.trans('Objectives') }}</label>
      <div class="d-flex align-items-center mb-28 form__item w-100">
        <tags-input
          v-model="session.objectives"
          :tags-in="session.objectives"
          :read-only="readOnly"
          name="session-objectives"
          @change="setSession"
        />
        <img
          src="/build/static/icons/question.svg"
          alt="Infobulle"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          :title="$translator.trans('Provide the wording of the objectives to be validated at the end of the training')"
        >
      </div>
    </div>
    <div class="form-check">
      <input
        id="user-global-mixte"
        v-model="automaticSendingConfigClient"
        :disabled="readOnly || !session.isSendTrainingCertificatesClient"
        name="user-global-mixte"
        type="checkbox"
        class="form-check-input"
        @change="updateSendAuto()"
      >
      <label
        for="user-global-mixte"
        class="form-label form-check-label"
      >
        {{ $translator.trans( 'Automatic sending of certificates after the session to participants present only' ) }}
      </label>
      <img
        v-if="!session.isSendTrainingCertificatesClient"
        src="/build/static/icons/question.svg"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        :title="$translator.trans('This option must be enabled on your account. Contact the customer service if you want to activate it.')"
      >
      <img
        v-else
        src="/build/static/icons/question.svg"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        :title="$translator.trans('Every day at 11pm, for the past 24-hour sessions, individual training certificates will be automatically sent to each participant present.')"
      >
    </div>
    <!--    <div class="form__checklist">-->
    <!--      <div class="form-check">-->
    <!--        <input-->
    <!--          id="user-global-mixte"-->
    <!--          class="form-check-input"-->
    <!--          type="checkbox"-->
    <!--          value="mixte"-->
    <!--          checked-->
    <!--        >-->
    <!--        <label-->
    <!--          class="form-check-label"-->
    <!--          for="user-global-mixte"-->
    <!--        >Envoi automatique des attestations aux participants après la session</label>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</template>

<script>

import { mapGetters, mapState } from 'vuex'
import SessionTabMixin from '../../../mixin/SessionTabMixin'
import TagsInput       from '../../ui/TagsInput'

export default {
  name: 'SessionCertificatesTab',
  components: { TagsInput },
  mixins: [SessionTabMixin],
  props: {
    isMeetingType: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  data () {
    return {
      automaticSendingConfigClient : false
    }
  },
  computed: {
    ...mapState('session', ['readOnly']),
    ...mapGetters({ natures: 'session/natureValues' })
  },
  mounted () {
    this.automaticSendingConfigClient = this.session.automaticSendingTrainingCertificates && this.session.isSendTrainingCertificatesClient
  },
  methods: {
    updateSendAuto () {
      this.session.automaticSendingTrainingCertificates = this.automaticSendingConfigClient
    }
  }
}
</script>
