<template>
  <div>
    <fieldset>
      <div class="export-dropdown__tab-container">
        <div class="form-check">
          <input
            id="exportCertificates"
            v-model="reportSelected"
            :disabled="!sessionIsFinished ? 'disabled' : false"
            class="form-check-input"
            name="export-type"
            type="radio"
            value="certificate_report"
          >
          <label
            class="form-check-label"
            for="exportCertificates"
          >{{ $translator.trans('Certificates') }}</label>
          <img
            v-if="!sessionIsFinished"
            src="/build/static/icons/question.svg"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            :title="$translator.trans('Individual certificates will be available at the end of the session')"
          >
        </div>
        <!--        <div class="form-check">
          <input id="exportAlertes" class="form-check-input" name="export-type" type="radio">
          <label class="form-check-label" for="exportAlertes">{{ $translator.trans('teaching materials') }}</label>
        </div>-->
        <div
          v-if="isMeetingCategoryType"
          class="form-check"
        >
          <input
            id="exportErreurs"
            v-model="reportSelected"
            :disabled="!evaluationAnswersReportAvailable ? 'disabled' : false"
            class="form-check-input"
            name="export-type"
            type="radio"
            value="evaluation_answers_report"
          >
          <label
            class="form-check-label"
            for="exportErreurs"
          >
            {{ $translator.trans('Evaluations') }}
          </label>
          <img
            v-if="!evaluationReportAvailable"
            src="/build/static/icons/question.svg"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            :title="$translator.trans('There is no export of evaluations available yet')"
          >
        </div>
        <!--        <div class="form-check">
          <input id="exportInformations" class="form-check-input" name="export-type" type="radio">
          <label class="form-check-label" for="exportInformations">{{ $translator.trans('Registered') }}</label>
        </div>-->
        <div
          v-if="isMeetingCategoryType"
          class="form-check"
        >
          <input
            id="exportImportExport"
            v-model="reportSelected"
            class="form-check-input"
            name="export-type"
            type="radio"
            :checked="attendanceReportAvailable ? 'checked' : false"
            :disabled="!attendanceReportAvailable ? 'disabled' : false"
            value="attendance_report"
          >
          <label
            class="form-check-label"
            for="exportImportExport"
          >{{ $translator.trans('Attendances') }}</label>
          <img
            v-if="!attendanceReportAvailable"
            src="/build/static/icons/question.svg"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            :title="$translator.trans('The attendance report will be available 24 hours after the end of the session.')"
          >
        </div>
        <div
          v-if="isWebinarCategoryType"
          class="form-check"
        >
          <input
            id="exportRegistrantsExport"
            v-model="reportSelected"
            class="form-check-input"
            name="export-type"
            type="radio"
            value="export_registered_session"
          >
          <label
            class="form-check-label"
            for="exportRegistrantsExport"
          >{{ $translator.trans('to registrants') }}</label>
        </div>
      </div>
      <div
        v-if="exportIsAvailable"
        class="export-dropdown__detail"
      >
        <div class="export-dropdown__file-type">
          <label>
            {{ $translator.trans('Format') }}
          </label>
          <select
            class="form-select"
            name="export-format"
          >
            <option
              v-for="(model, index) in exportModelAvailable"
              :key="index"
              :value="model"
            >
              {{ model }}
            </option>
          </select>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="col export-dropdown__footer">
        <button
          class="btn"
          :class="{
            'btn-primary': exportIsAvailable,
            'btn-disabled': !exportIsAvailable,
            'disabled': !exportIsAvailable,
          }"
          :type="{
            submit: exportIsAvailable,
            button: !exportIsAvailable
          }"
        >
          {{ $translator.trans('Download') }}
        </button>
      </div>
    </fieldset>
  </div>
</template>

<script>

export default {
  name: 'SessionExportModal',
  props: {
    attendanceReportAvailable: {
      type: Boolean,
      required: true
    },
    sessionIsFinished: {
      type: Boolean,
      required: true
    },
    isMeetingCategoryType: {
      type: Boolean,
      required: true
    },
    isWebinarCategoryType: {
      type: Boolean,
      required: true
    },
    sessionId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      reportSelected: null,
      evaluationAnswersReportAvailable: null,
      evaluationReportAvailable: null
    }
  },
  computed: {
    exportIsAvailable () {
      switch (this.reportSelected) {
        case 'certificate_report':
          return this.sessionIsFinished
        case 'attendance_report':
          return this.attendanceReportAvailable
        case 'evaluation_report':
          return this.evaluationReportAvailable
        case 'evaluation_answers_report':
          return this.evaluationAnswersReportAvailable
        case 'export_registered_session':
          return 'export_registered_session'
        case null:
          return false
        default:
          return true
      }
    },
    exportModelAvailable () {
      let models = []
      switch (this.reportSelected) {
        case 'evaluation_answers_report':
          models = ['XLSX', 'PDF']
          break
        /* case 'evaluation_report':
          models = ['XLSX', 'PDF']
          break */
        case 'certificate_report':
          models = ['PDF']
          break
        case 'export_registered_session':
          models = ['XLSX', 'CSV']
          break
        default:
          models = ['PDF', 'XLSX']
      }

      return models
    }
  },
  mounted () {
    this.getEvaluationAnswersReportAvailable()
    // this.getEvaluationReportAvailable()
  },
  methods: {
    getEvaluationAnswersReportAvailable () {
      this.$axios.get(this.$routing.generate('_session_get_evaluation_report_available', { id: this.sessionId })).then((res) => {
        this.evaluationAnswersReportAvailable = res.data.message
      })
    }
    /* getEvaluationReportAvailable () {
      this.$axios.get(this.$routing.generate('_session_get_evaluation_session_report_available', { id: this.sessionId })).then((res) => {
        this.evaluationReportAvailable = res.data.message
      })
      // this.evaluationReportAvailable = true
    } */
  }
}
</script>

<style scoped lang="scss">
.btn-disabled {
  color: #bababa;
  background-color: #e5e5e5;
  border-color: #bababa;
  cursor: not-allowed;
}
</style>
