<template>
  <form
    id="nav-convoc"
    class="tab-pane fade active show"
  >
    <div
      v-if="hasWebinarConfirmationScheduled"
      class="warning"
    >
      <div
        class="alert alert-dismissible align-items-start d-flex fade justify-content-between p-3 show"
        :class="`alert-warning`"
        role="alert"
      >
        <div
          v-html="$translator.trans( 'Your session is in draft, no emails will go out until you validate it.<br>By clicking on Validate Draft, emails will be sent according to the dates you set.' )"
        />
        <div
          class="page-options-bar__item d-flex align-items-center"
          data-bs-toggle="modal"
          data-bs-target="#validateDraft"
          role="button"
        >
          <submit-button
            type="button"
            class="btn btn-primary"
          >
            {{ $translator.trans('Validate the draft') }}
          </submit-button>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <div>
        <p class="col fz-16 mb-28 text-muted">
          <i>{{ $translator.trans( 'To create your communication scheme, click on “Add” and select the email types and templates you want to add.' ) }}</i><br>
          <i>{{ $translator.trans( 'For each email, you can customize the subject, content, attachment and availability date (for confirmation) or sending date (for reminders and thank you).' ) }}</i><br>
          <i v-html="communicationHelpText" /><br>
        </p>
      </div>
      <div class="col page-options-bar justify-content-end">
        <div
          v-if="!isOpen"
          class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
          role="button"
          @click="openedAll"
        >
          <img src="/build/static/icons/tree-opened.svg">
          <span class="d-sm-none d-md-block ms-2">{{ $translator.trans('Unfold everything') }}</span>
        </div>
        <div
          v-else
          class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
          role="button"
          @click="closedAll"
        >
          <img src="/build/static/icons/tree-closed.svg">
          <span class="d-sm-none d-md-block ms-2">{{ $translator.trans('Fold everything') }}</span>
        </div>
        <div class="d-flex">
          <div
            class="page-options-bar__item d-flex align-items-center"
            data-bs-toggle="modal"
            data-bs-target="#addCommunication"
            role="button"
          >
            <img
              src="/build/static/icons/plus.svg"
              class="me-2"
            >
            <span class="d-sm-none d-md-block"><b>{{ $translator.trans( 'Add' ) }}</b></span>
          </div>
          <div
            id="addCommunication"
            class="modal fade"
            tabindex="-1"
          >
            <session-webinar-convocation-add-modal
              :convocations="convocationsModels"
              :type-webinar-convocation="typeWebinarConvocation"
            />
          </div>
        </div>
        <div class="d-flex">
          <div
            id="validateDraft"
            class="modal fade"
            tabindex="-1"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5
                    id="exampleModalLabel"
                    class="modal-title"
                  >
                    {{ $translator.trans( 'Validation of the Draft' ) }}
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  />
                </div>
                <div class="modal-body">
                  <p class="modal-title">
                    {{ $translator.trans('Do you want to validate the session?') }}
                  </p>
                </div>
                <div class="modal-footer bg-transparent">
                  <button
                    type="button"
                    class="btn btn-light"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  >
                    {{ $translator.trans('Close') }}
                  </button>
                  &nbsp;
                  <submit-button
                    type="button"
                    class="btn btn-primary"
                    :processing="processing"
                    @click="validateDraft"
                  >
                    {{ $translator.trans('validate the draft') }}
                  </submit-button>
                </div>
                <alert
                  v-if="error"
                  :text="error"
                  type="danger"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      v-for="webinarCommunications in communications"
      :key="webinarCommunications.id"
      class="table-content data-list data-list__row-small mb-3"
    >
      <communication-item
        :webinar-communication="webinarCommunications"
        :type-webinar-convocation="typeWebinarConvocation"
        :status-send-to="statusSendTo"
        :is-open="isOpen"
        :import-restrictions="importRestrictions"
      />
    </div>
  </form>
</template>

<script>

import { mapGetters, mapState }          from 'vuex'
import { DateTime }                      from 'luxon'
import { CATEGORY_SESSION_WEBINAR }      from '../../../store/module/session'
import SessionWebinarConvocationAddModal from './SessionWebinarConvocationAddModal'
import CommunicationItem                 from './CommunicationItem'
import SubmitButton from '../../ui/SubmitButton.vue'
import Alert from '../../ui/Alert.vue'

export default {
  name: 'SessionCommunicationTab',
  components: {
    Alert,
    SubmitButton,
    SessionWebinarConvocationAddModal,
    CommunicationItem
  },
  props: {
    importRestrictions: {
      type: Object,
      required: false,
      default: () => { return {} }
    }
  },
  data () {
    return {
      convocationsModels : [],
      personalizedContent : '',
      processing: false,
      error: null,
      typeWebinarConvocation : {
        confirmation : this.$translator.trans('Confirmation'),
        invitation : this.$translator.trans('Invitation'),
        reminder : this.$translator.trans('Reminder'),
        thank_you : this.$translator.trans('Thank You'),
        sms : this.$translator.trans('SMS')
      },
      statusSendTo : {
        all : this.$translator.trans('to registrants'),
        presences : this.$translator.trans('to the participants present'),
        absences : this.$translator.trans('to absent participants')
      },
      isOpen: false,
      communicationHelpText: this.$translator.trans('Is your communication scheme ready? Don\'t forget to test your emails by clicking on the three little "%icon%" dots (next to the Save button)', { icon: '<img src="/build/static/icons/more.svg">' })
    }
  },
  computed: {
    ...mapState('session', ['readOnly', 'errors']),
    ...mapGetters({ session: 'session/getSession' }),
    communications () {
      return [...this.session.webinarConvocation].sort((a, b) => {
        return DateTime.fromISO(a.convocationDate) - DateTime.fromISO(b.convocationDate)
      })
    },
    hasWebinarConfirmationScheduled () {
      return this.session.category === CATEGORY_SESSION_WEBINAR && this.session.readableState === 'Draft' && this.session.webinarConvocation.filter(communication => communication.convocationType === 'confirmation').length
    }
  },
  mounted () {
    this.convocationsModels = this.session.abstractProviderConfigurationHolder.client.convocations.filter((convocation) => convocation.status === true)
  },
  methods: {
    openedAll () {
      this.isOpen = true
    },
    closedAll () {
      this.isOpen = false
    },
    validateDraft () {
      const route   = this.$routing.generate('_validate_draft_communication_webinar', { id: this.session.id })
      this.processing = true
      this.$axios
        .post(route)
        .then(() => {
          window.location.href = this.$routing.generate('_session_get', { id: this.session.id, tabName: 'SessionCommunicationTab' })
        })
        .catch(() => {
          this.processing = true
          this.error = this.$translator.trans('An error occurred while validate a draft')
        })
        .finally(() => {
          this.processing = false
        })
    }
  }
}
</script>
