<template>
  <form
    id="nav-general"
    class="form tab-pane fade active show"
    role="tabpanel"
  >
    <alert
      v-if="convocationMissing"
      type="danger"
      :text="$translator.trans( 'You must choose a new convocation' )"
    />
    <alert
      v-if="isChangeDateOrDuration() && session.abstractProviderConfigurationHolder.type !== 'white_connector'"
      type="warning"
      :text="$translator.trans( 'Please note that invitations have already been sent for this session. Certain modifications (schedule and duration) will result in the sending of a corrective email to the participants.' )"
    />
    <alert
      v-if="isChangeDateOrDuration() && session.abstractProviderConfigurationHolder.type === 'white_connector'"
      type="warning"
      :text="$translator.trans( 'Please note that invitations have already been sent for this session. Certain modifications (schedule, duration and url virtual room) will result in the sending of a corrective email to the participants.' )"
    />

    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="form__item">
          <label
            for="user-global-intitule"
            class="required"
          >
            {{ $translator.trans('Title of the session') }}
          </label>
          <input
            v-if="session.subject"
            id="user-global-intitule"
            :value="session.subject.name"
            :disabled="true"
            type="text"
            :class="['form-control pe-5', {
              'is-invalid' : fieldHasAnError('session','name')
            }]"
            @change="validateField('name')"
            @keyup="validateField('name')"
          >
          <input
            v-else
            id="user-global-intitule"
            v-model="session.name"
            :disabled="readOnly"
            type="text"
            :class="['form-control pe-5', {
              'is-invalid' : fieldHasAnError('session','name')
            }]"
            @change="validateField('name')"
            @keyup="validateField('name')"
          >

          <span
            style="cursor: not-allowed;"
            :style="session.subject ? 'cursor: not-allowed;' : 'cursor: pointer;'"
            class="iaIcon"
            data-bs-placement="right"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Ask artificial intelligence to correct, shorten or generate a title for your session')"
            :disabled="session.subject"
            @click="openSessionIAModal"
          />

          <session-i-a-modal
            :session-title="session.name"
            :lang="session.language"
            :category="session.category"
            @choice-new-title="(title) => session.name = title"
          />

          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Up to 255 characters')"
            alt=""
          >
          <div
            v-for="error in getErrorOfField('session', 'name')"
            :key="error"
            class="invalid-feedback d-block"
          >
            {{ error }}
          </div>
        </div>
        <div class="form__item">
          <label for="user-global-category">{{ $translator.trans('Category') }}</label>
          <select
            id="user-global-category"
            v-model="session.category"
            :disabled="canUpdateCategory"
            @change="updateCategory()"
          >
            <option
              v-for="value in session.abstractProviderConfigurationHolder.client.categories"
              :key="getIdCategory(value)"
              :value="getIdCategory(value)"
            >
              {{ $translator.trans(value) }}
            </option>
          </select>
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Select the category according to the situation of the participants: Virtual class if they are all remote, Face-to-face for in-room training and Mixed if some will be grouped in a room and others connected remotely')"
            alt=""
          >
          <small v-if="isWebexRestMeeting">{{ $translator.trans('It is not possible to change the category when modifying a webex rest session.') }}</small>
        </div>
        <div class="row">
          <div class="col-md-5 col-lg-6">
            <div class="form__item mb-0">
              <label
                for="user-convoc-date"
                class="required"
              >
                {{ $translator.trans('Date') }}
              </label>
              <div class="input-container d-flex align-items-center">
                <datetime
                  v-model="session.dateStart"
                  class="input-group datetime-picker-primary"
                  type="datetime"
                  :disabled="readOnly"
                  :format="$dateTime.DATETIME_MED"
                  input-id="user-convoc-date"
                  :input-class="['date user-convoc-date form-control inline', {
                    'is-invalid' : fieldHasAnError('session','dateStart')
                  }]"
                  :phrases="{ok: $translator.trans( 'OK' ), cancel: $translator.trans( 'Cancel' )}"
                  :use12-hour="false"
                  auto
                >
                  <template slot="after">
                    <div class="input-group-text d-flex align-items-center justify-content-center">
                      <img
                        src="/build/static/icons/calendar-date-green.svg"
                        class="calendar"
                        alt=""
                      >
                    </div>
                  </template>
                </datetime>

                <!--                <div class="input-group">
                  <input
                    id="user-convoc-date"
                    v-model="dateStart"
                    type="datetime-local"
                    :class="['date user-convoc-date form-control inline', {
                      'is-invalid' : fieldHasAnError('session','dateStart')
                    }]"
                    @change="validateField('dateStart'); updateDataStart();"
                    @keyup="validateField('dateStart')"
                  >
                  <div class="input-group-text d-flex align-items-center justify-content-center">
                                        <img
                      src="/build/static/icons/calendar-date-green.svg"
                      class="calendar"
                      alt="calendar-date-green"
                    >
                  </div>
                </div>-->
              </div>
              <div
                class="d-flex justify-content-between me-4"
                style="font-size: 0.75rem;"
              >
                {{ translateTimeZone(session.client.timezone) }} ({{ calculateTimeDifference(session.client.timezone) }})
                <img
                  src="/build/static/icons/question.svg"
                  data-bs-placement="left"
                  data-bs-toggle="tooltip"
                  :title="$translator.trans('Time zone specified in your account file, Time zones added here will appear in the invitation for presenters and participants if the invitation is set up with time zones.')"
                  alt="question"
                >
              </div>
              <div
                v-for="error in getErrorOfField('session', 'dateStart')"
                :key="error"
                class="invalid-feedback d-block"
              >
                {{ error }}
              </div>
            </div>
          </div>
          <div class="col-md-7 col-lg-6">
            <div class="form__item">
              <label
                for="user-global-duration"
                class="required"
              >
                {{ $translator.trans('Duration') }}
              </label>
              <div class="input-group-container d-flex align-items-center">
                <input
                  id="user-global-duration"
                  v-model="session.datesDiffString"
                  :disabled="readOnly"
                  type="text"
                  maxlength="5"
                  pattern="[0-9]?[0-9][:|h][0-9][0-9]$"
                  :class="['user-global-duration form-control', {
                    'is-invalid' : fieldHasAnError('session','duration')
                  }]"
                  @change="validateField('duration')"
                  @keyup="validateField('duration')"
                >
                <span
                  v-if="session.language === 'fr'"
                  class="input-group-text"
                >h/min</span>
                <span
                  v-else
                  class="input-group-text"
                >h:min</span>
              </div>
              <div class="me-4 ms-auto">
                <a
                  v-if="!session.additionalTimezones.length"
                  href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#addTimezone"
                  style="font-size: 0.75rem"
                >{{ $translator.trans('Manage time zones') }}</a>
              </div>
              <div
                v-for="error in getErrorOfField('session', 'duration')"
                :key="error"
                class="invalid-feedback d-block"
              >
                {{ error }}
              </div>
            </div>
          </div>
        </div>
        <div
          v-if="session.additionalTimezones.length"
          class="mb-4 mt-4"
        >
          <div
            class="d-flex justify-content-between me-4"
            style="font-size: 0.75rem;"
          >
            <div>
              <div
                v-for="timezone in session.additionalTimezones"
                :key="timezone"
                class="mb-2"
                style="font-size: 0.75rem;"
              >
                {{ translateTimeZone(timezone) }}({{ calculateTimeDifference(timezone) }}) : {{ adjustDateForTimezone(session.dateStart, timezone,user.preferredLang) }}
              </div>
            </div>
            <a
              v-if="session.additionalTimezones.length"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#addTimezone"
            >{{ $translator.trans('Manage time zones') }}</a>
          </div>
        </div>
        <div
          id="addTimezone"
          class="modal fade"
          tabindex="-1"
          aria-hidden="true"
        >
          <session-add-timezones-modal
            id="addTimezone"
            referer="sessionedit"
            :session="session"
            :list-new-timezones="listNewTimezones"
          />
        </div>

        <div
          v-if="session.sessionPresential"
          class="form__item"
        >
          <label
            for="session-rest-lunch"
            class="required"
          >
            {{ $translator.trans('Rest') }}
          </label>
          <input
            id="session-rest-lunch"
            v-model="session.restlunch"
            type="number"
            :disabled="readOnly"
            @change="setSession"
          >
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Free nomenclature. If the field is left blank, a reference is automatically assigned in the format <PREFIX_CLIENT><ymdHis><2 random digits>')"
          >
        </div>
        <div class="form__item">
          <label for="user-global-reference">
            {{ $translator.trans('Reference') }}
          </label>
          <input
            id="user-global-reference"
            v-model="session.ref"
            :disabled="readOnly"
            type="text"
            @change="setSession"
          >
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Free nomenclature. If the field is left blank, a reference is automatically assigned in the format <PREFIX_CLIENT><ymdHis><2 random digits>')"
          >
        </div>
        <div class="form__item">
          <label
            for="user-global-lang"
            class="required"
          >
            {{ $translator.trans('Preferred language') }}
          </label>
          <select
            id="user-global-lang"
            v-model="session.language"
            :disabled="readOnly"
            :class="['form-control', {
              'is-invalid' : fieldHasAnError('session','language')
            }]"
            @change="validateField('language')"
            @keyup="validateField('language')"
          >
            <option
              v-for="(value, key) in languages"
              :key="key"
              :value="key"
            >
              {{ value }}
            </option>
          </select>
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('The choice of the session language will determine the available invitation model(s) and the audio conference profile (if hybrid or telephone is chosen as the audio connection type)')"
          >
        </div>
        <div
          v-for="error in getErrorOfField('session', 'language')"
          :key="error"
          class="invalid-feedback d-block"
        >
          {{ error }}
        </div>
        <div
          v-if="!isPresential"
          class="form__item"
        >
          <label
            for="user-global-connexion-type1"
            class="required"
          >
            {{ $translator.trans('Connection Type') }}
          </label>
          <select
            id="user-global-connexion-type1"
            v-model="session.convocation.categoryTypeAudio"
            :disabled="overLayerReadOnly"
            class="form-control"
            @change="setSession"
          >
            <option
              v-for="(value, key) in typesConnexion"
              :key="key"
              :value="key"
            >
              {{ value }}
            </option>
          </select>
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Decide how participants will be able to talk to each other:  Computer (only VOIP is available), Phone (only one conference call number will be available and VOIP will be disabled) or Hybrid to allow participants to choose between the 2 options (VOIP or Phone). Depending on your selection, the \'Convocation Template\' field will be filtered with compatible convocations')"
          >
        </div>
        <div
          v-if="session.category === categoryMixte"
          class="form__item"
        >
          <label
            for="session-location"
            class="required"
          >
            {{ $translator.trans('Place') }}
          </label>
          <input
            id="session-location"
            v-model="session.location"
            type="text"
            :disabled="readOnly"
            @change="setSession"
          >
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Free nomenclature. If the field is left blank, a reference is automatically assigned in the format <PREFIX_CLIENT><ymdHis><2 random digits>')"
          >
        </div>
        <div class="form__item">
          <!--          <label
            for="session-nbrdays"
            class="required"
          >
            {{ $translator.trans( 'Number of days' ) }}
          </label>
          <input
            id="session-nbrdays"
            v-model="session.nbrdays"
            type="number"
            @change="setSession"
            :disabled="readOnly"
          >
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Free nomenclature. If the field is left blank, a reference is automatically assigned in the format <PREFIX_CLIENT><ymdHis><2 random digits>')"
          >-->
        </div>
        <div class="form-check">
          <input
            id="user-global-session-test"
            v-model="session.sessionTest"
            :disabled="readOnly"
            name="user-global-session-test"
            type="checkbox"
            class="form-check-input"
          >
          <label
            for="user-global-session-test"
            class="form-label form-check-label"
          >
            {{ $translator.trans('Session test') }}
          </label>
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('A test session will not be counted in the statistics, nor billed. All emails sent for this session will contain information warning that this is a test session.')"
          >
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div
          v-if="isWebexMeeting"
          class="form__item"
        >
          <label for="webex-meeting-licence">{{ $translator.trans('Organizer license') }}</label>
          <select
            id="webex-meeting-licence"
            v-model="session.licence"
            name="webexLicence"
            :class="['form-control', {
              'is-invalid' : fieldHasAnError('session','licence')
            }]"
            :disabled="readOnly || session.abstractProviderConfigurationHolder.automaticLicensing"
            @change="validateField('licence')"
          >
            <option
              v-for="licence in session.abstractProviderConfigurationHolder.licences"
              :key="licence"
            >
              {{ licence }}
            </option>
          </select>
          <img
            src="/build/static/icons/question.svg"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            :title="$translator.trans('Specifies the license to be used for the session')"
          >
        </div>
        <div
          v-if="isWebexRestMeeting"
          class="form__item"
        >
          <label for="webex-rest-meeting-licence">{{ $translator.trans('Organizer license') }}</label>
          <select
            id="webex-rest-meeting-licence"
            v-model="session.licence"
            name="webexRestLicence"
            :class="['form-control', {
              'is-invalid' : fieldHasAnError('session','licence')
            }]"
            :disabled="readOnly || session.abstractProviderConfigurationHolder.automaticLicensing"
            @change="validateField('licence')"
          >
            <option
              v-for="licence in session.abstractProviderConfigurationHolder.licences"
              :key="licence"
            >
              {{ licence }}
            </option>
          </select>
          <img
            src="/build/static/icons/question.svg"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            :title="$translator.trans('Specifies the license to be used for the session')"
          >
        </div>
        <div class="form__item">
          <label for="user-global-case-number">
            {{ $translator.trans('Business Number') }}
          </label>
          <input
            id="user-global-case-number"
            v-model="session.businessNumber"
            :disabled="readOnly"
            type="text"
            @change="setSession"
          >
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Free nomenclature. Enter for example an order number, an account number or a project name')"
          >
        </div>

        <div class="form__item">
          <label class="tiny-form-label">
            {{ $translator.trans('Tags') }}
          </label>
          <tags-input
            v-model="session.tags"
            :tags-in="session.tags"
            :read-only="readOnly"
            :name="'session-tags'"
            @change="setSession"
          />
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Use tags to facilitate the search and analysis of sessions.')"
          >
        </div>

        <div class="mb-3 form__item">
          <label
            for="user-global-infos"
            class="form-label"
          >{{ $translator.trans('Informations') }}</label>
          <textarea
            v-model="session.information"
            name="user-global-infos"
            :disabled="readOnly"
            class="form-control"
            style="height: 60px"
            @change="setSession"
          />
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Free number of characters. Can contain information about the session, reference of the group of participants (ex => LIVE SESSION-CROLLES group)...')"
          >
        </div>
        <div class="form__item">
          <label for="user-global-origin">
            {{ $translator.trans('Origin') }}
          </label>
          <input
            id="user-global-origin"
            v-model="session.origin"
            type="text"
            readonly="readonly"
            disabled="disabled"
          >
        </div>
        <div
          v-if="!isWebexMeeting && !isWebexRestMeeting"
          style="height:66px;"
          class="form__item"
        />
        <div
          v-if="session.category !== categoryWebinar"
          class="form__item"
        >
          <label
            for="user-global-modele-convoc"
            class="required"
          >
            {{ $translator.trans('Convocation template') }}
          </label>
          <select
            id="user-global-modele-convoc"
            v-model="session.convocation.id"
            :disabled="readOnly"
            class="form-control"
            @change="setSession"
          >
            <option
              v-for="value in convocationsModels"
              :key="value.id"
              :value="value.id"
            >
              {{ value.name }}
            </option>
          </select>

          <span
            v-if="!canPreviewConvocation"
            class="view disabled"
          />

          <span
            v-else
            class="view"
            data-bs-target="#previewConvocation"
            data-bs-toggle="modal"
            role="button"
            @click="openConvocationPreviewModal"
          />
          <div
            id="previewConvocation"
            class="modal fade wb-bw"
            tabindex="-1"
          >
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable text-start">
              <div class="modal-content">
                <div class="modal-body session-created-body">
                  <div class="session-main-content-session pt-0 d-flex flex-column align-items-center">
                    <div class="session-content d-flex flex-column align-items-center">
                      <h2
                        class="session-title text-center d-block"
                        style="color: #000;"
                      >
                        {{ $translator.trans('Preview the convocation') }}
                      </h2>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div
                          v-if="convocationPreviewContent"
                          class="mb-4 pb-4"
                          v-html="convocationPreviewContent"
                        />
                        <loader v-else />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Decide how participants will be able to talk to each other:  Computer (only VOIP is available), Phone (only one conference call number will be available and VOIP will be disabled) or Hybrid to allow participants to choose between the 2 options (VOIP or Phone). Depending on your selection, the \'Convocation Template\' field will be filtered with compatible convocations')"
          >
        </div>
        <div
          v-if="session.category === categoryMixte"
          class="form__item"
        >
          <label
            for="session-rest-lunch"
            class="required"
          >
            {{ $translator.trans('Rest') }}
          </label>
          <input
            id="session-rest-lunch"
            v-model="session.restlunch"
            type="number"
            :disabled="readOnly"
            @change="setSession"
          >
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Free nomenclature. If the field is left blank, a reference is automatically assigned in the format <PREFIX_CLIENT><ymdHis><2 random digits>')"
          >
        </div>
      </div>
      <div
        v-if="session.sessionPresential"
        class="col-md-6 col-lg-4"
      >
        <fieldset
          class="form__fieldset fieldset-secondary mb-30"
        >
          <legend class="mb-4">
            {{ $translator.trans('Room') }}
          </legend>

          <div class="form__item">
            <label
              for="session-location"
            >
              {{ $translator.trans('Place') }}
            </label>
            <input
              id="session-location"
              v-model="session.location"
              type="text"
              :disabled="readOnly"
              @change="setSession"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('Free nomenclature. If the field is left blank, a reference is automatically assigned in the format <PREFIX_CLIENT><ymdHis><2 random digits>')"
            >
          </div>

          <div class="form__item">
            <label
              for="session-location"
            >
              {{ $translator.trans('Information for the animator') }}
            </label>
            <input
              id="session-information-for-animator"
              v-model="session.connectionInformation"
              type="text"
              :disabled="readOnly"
              @change="setSession"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('Free nomenclature. If the field is left blank, a reference is automatically assigned in the format <PREFIX_CLIENT><ymdHis><2 random digits>')"
            >
          </div>
        </fieldset>
      </div>
      <div
        v-if="!session.sessionPresential"
        class="col-md-6 col-lg-4"
      >
        <fieldset
          v-if="isAdobeConnect || isAdobeConnectWebinar"
          class="form__fieldset fieldset-secondary mb-30"
        >
          <legend class="mb-4">
            {{ $translator.trans('Room') }}
          </legend>
          <div
            v-if="session.category !== categoryWebinar"
            class="form__item"
          >
            <label for="user-global-meeting">
              {{ $translator.trans('Allowed to the meeting') }}
            </label>
            <select
              id="user-global-meeting"
              v-model="session.admittedSession"
              :disabled="readOnly"
              @change="setSession"
            >
              <option value="denied">
                {{ $translator.trans('Participants only') }}
              </option>
              <option value="remove">
                {{ $translator.trans('Participants and visitors authorized by a host') }}
              </option>
              <option value="view-hidden">
                {{ $translator.trans('All participants') }}
              </option>
            </select>
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('Indicates who is allowed to join the meeting')"
            >
          </div>
          <div class="form__item">
            <label for="user-global-model-room">
              {{ $translator.trans('Room template') }}
            </label>
            <input
              id="user-global-model-room"
              v-model="session.roomModelName"
              type="text"
              readonly="readonly"
              disabled="disabled"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('Field cannot be modified once the session is created.')"
            >
          </div>
          <div class="form__item">
            <label for="user-global-custom-url-room">
              {{ $translator.trans('URL') }}
            </label>
            <input
              id="user-global-custom-url-room"
              ref="urlPathInput"
              :value="session.fullUrlpath"
              type="text"
              readonly="readonly"
              disabled="disabled"
              @focus="$event.target.select()"
            >
            <span
              v-clipboard:copy="session.fullUrlpath"
              v-clipboard:success="onCopy"
              class="copy"
              :class="{ 'copied' : copyStatus }"
            />
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('Field cannot be modified once the session is created.')"
            >
          </div>
        </fieldset>
        <fieldset
          v-else-if="isWebexMeeting"
          class="form__fieldset fieldset-secondary mb-30"
        >
          <legend class="mb-4">
            {{ $translator.trans('Room') }}
          </legend>
          <div class="form__item">
            <label for="user-global-custom-url-room">
              {{ $translator.trans('URL') }}
            </label>
            <input
              id="user-global-custom-url-room"
              ref="urlPathInput"
              :value="session.meetingLink"
              type="text"
              readonly="readonly"
              disabled="disabled"
              @focus="$event.target.select()"
            >
            <span
              v-clipboard:copy="session.meetingLink"
              v-clipboard:success="onCopy"
              class="copy"
              :class="{ 'copied' : copyStatus }"
            />
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('Field cannot be modified once the session is created.')"
            >
          </div>
        </fieldset>
        <fieldset
          v-else-if="isWebexRestMeeting"
          class="form__fieldset fieldset-secondary mb-30"
        >
          <legend class="mb-4">
            {{ $translator.trans('Room') }}
          </legend>
          <div class="form__item">
            <label for="user-global-custom-url-room">
              {{ $translator.trans('URL') }}
            </label>
            <input
              id="user-global-custom-url-room"
              ref="urlPathInput"
              :value="session.meetingRestWebLink"
              type="text"
              readonly="readonly"
              disabled="disabled"
              @focus="$event.target.select()"
            >
            <span
              v-clipboard:copy="session.meetingRestWebLink"
              v-clipboard:success="onCopy"
              class="copy"
              :class="{ 'copied' : copyStatus }"
            />
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('Field cannot be modified once the session is created.')"
            >
          </div>
          <div
            v-if="session.providerAudio.codeAnimator !== null"
            class="form__item"
          >
            <label for="user-global-custom-audio-code-animtor">
              {{ $translator.trans('Host key') }}
            </label>
            <input
              id="user-global-custom-audio-code-animator"
              ref="urlPathInput"
              :value="session.providerAudio.codeAnimator"
              type="text"
              readonly="readonly"
              disabled="disabled"
              @focus="$event.target.select()"
            >
            <span
              v-clipboard:copy="session.providerAudio.codeAnimator"
              v-clipboard:success="onCopy"
              class="copy"
              :class="{ 'copied' : copyStatus }"
            />
          </div>
          <div class="form__item">
            <label for="user-global-custom-meeting-rest-number">
              {{ $translator.trans('Meeting number') }}
            </label>
            <input
              id="user-global-custom-meeting-rest-number"
              ref="urlPathInput"
              :value="session.meetingRestNumber"
              type="text"
              readonly="readonly"
              disabled="disabled"
              @focus="$event.target.select()"
            >
            <span
              v-clipboard:copy="session.meetingRestNumber"
              v-clipboard:success="onCopy"
              class="copy"
              :class="{ 'copied' : copyStatus }"
            />
          </div>
          <div class="form__item">
            <label for="user-global-custom-ùeeting-password">
              {{ $translator.trans('Meeting password') }}
            </label>
            <input
              id="user-global-custom-meeting-password"
              ref="urlPathInput"
              :value="session.meetingRestPassword"
              type="text"
              readonly="readonly"
              disabled="disabled"
              @focus="$event.target.select()"
            >
            <span
              v-clipboard:copy="session.meetingRestPassword"
              v-clipboard:success="onCopy"
              class="copy"
              :class="{ 'copied' : copyStatus }"
            />
          </div>
        </fieldset>
        <fieldset
          v-else-if="isMicrosoftTeams"
          class="form__fieldset fieldset-secondary mb-30"
        >
          <legend class="mb-4">
            {{ $translator.trans('Room') }}
          </legend>
          <div class="form__item">
            <label for="user-global-custom-url-room">
              {{ $translator.trans('URL') }}
            </label>
            <input
              id="user-global-custom-url-room"
              ref="urlPathInput"
              :value="session.joinWebUrl"
              type="text"
              readonly="readonly"
              disabled="disabled"
              @focus="$event.target.select()"
            >
            <span
              v-clipboard:copy="session.joinWebUrl"
              v-clipboard:success="onCopy"
              class="copy"
              :class="{ 'copied' : copyStatus }"
            />
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('Field cannot be modified once the session is created.')"
            >
          </div>
        </fieldset>
        <fieldset
          v-else-if="isWhiteConnector"
          class="form__fieldset fieldset-secondary mb-30"
        >
          <legend class="mb-4">
            {{ $translator.trans('Room') }}
          </legend>
          <div class="form__item">
            <label for="user-global-custom-url-room">
              {{ $translator.trans('URL') }}
            </label>
            <input
              id="user-global-white-custom-url-room"
              ref="whiteUrlPathInput"
              :value="session.joinSessionWebUrl"
              type="text"
              readonly="readonly"
              disabled="disabled"
              @focus="$event.target.select()"
            >
            <span
              v-clipboard:copy="session.joinSessionWebUrl"
              v-clipboard:success="onCopy"
              class="copy"
              :class="{ 'copied' : copyStatus }"
            />
          </div>
        </fieldset>
        <fieldset
          v-if="session.abstractProviderConfigurationHolder.type !== 'white_connector' && !session.sessionPresential"
          class="form__fieldset fieldset-secondary"
        >
          <legend class="mb-4">
            {{ $translator.trans('Audio') }}
          </legend>
          <div
            v-if="session.convocation.categoryTypeAudio !== '' &&
              session.convocation.categoryTypeAudio !== 'Computer'"
            class="form__item"
          >
            <label for="user-global-number">
              {{ $translator.trans('Number') }}
            </label>
            <input
              id="user-global-number"
              v-model="session.providerAudio.phoneNumber"
              type="text"
              readonly="readonly"
              class="user-global-phone-number form-control"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('Local phone number to dial. Depending on the countries in which the participants and/or the animator are located, local numbers can be provided to them on request to Live Session Customer Service')"
            >
            <div
              v-for="error in getErrorOfField('session', 'phoneNumber')"
              :key="error"
              class="invalid-feedback d-block"
            >
              {{ error }}
            </div>
          </div>
          <div
            v-if="session.convocation.categoryTypeAudio !== '' &&
              session.convocation.categoryTypeAudio !== 'Computer' && isAdobeConnect"
            class="form__item"
          >
            <label for="user-global-name">
              {{ $translator.trans('Name') }}
            </label>
            <input
              id="user-global-name"
              :value="$translator.trans(session.providerAudio.name)"
              type="text"
              readonly="readonly"
              @change="setSession"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('Name of the audio profile used. To modify/add an audio profile, please write to us at  serviceclient@live-session.fr')"
            >
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-12 col-xxl-6">
              <div
                v-if="session.convocation.categoryTypeAudio !== '' &&
                  session.convocation.categoryTypeAudio !== 'Computer' &&
                  session.providerAudio.meetingOneConferenceId !== null &&
                  session.convocation.typeAudio !== 'CALLIN'"
                class="form__item"
              >
                <label for="user-global-meetingone-conference-id">
                  {{ $translator.trans('MeetingOne Conference Id') }}
                </label>
                <input
                  id="user-global-meetingone-conference-id"
                  :value="session.providerAudio.meetingOneConferenceId"
                  type="text"
                  readonly="readonly"
                  @change="setSession"
                  @submit="validateField"
                >
                <img
                  src="/build/static/icons/question.svg"
                  data-bs-placement="left"
                  data-bs-toggle="tooltip"
                  :title="$translator.trans('Conference id to be entered to join the audio MeetingOne conference associated with the session')"
                >
              </div>
              <div
                v-if="session.convocation.categoryTypeAudio !== '' &&
                  session.convocation.categoryTypeAudio !== 'Computer' &&
                  session.providerAudio.codeParticipant !== null"
                class="form__item"
              >
                <label for="user-global-code-participant">
                  {{ $translator.trans('Participant code') }}
                </label>
                <input
                  id="user-global-code-participant"
                  :value="session.providerAudio.codeParticipant"
                  type="text"
                  readonly="readonly"
                  @change="setSession"
                  @submit="validateField"
                >
                <img
                  src="/build/static/icons/question.svg"
                  data-bs-placement="left"
                  data-bs-toggle="tooltip"
                  :title="$translator.trans('Conference code to be entered to join the audio conference associated with the session')"
                >
              </div>
            </div>
            <div class="col-md-6 col-lg-12 col-xxl-6">
              <div
                v-if="session.convocation.categoryTypeAudio !== '' &&
                  session.convocation.categoryTypeAudio !== 'Computer' &&
                  session.providerAudio.codeAnimator !== null"
                class="form__item"
              >
                <label for="user-global-code-animator">
                  {{ $translator.trans('Animator code') }}
                </label>
                <input
                  id="user-global-code-animator"
                  :value="session.providerAudio.codeAnimator"
                  type="text"
                  readonly="readonly"
                  @change="setSession"
                >
                <img
                  src="/build/static/icons/question.svg"
                  data-bs-placement="left"
                  data-bs-toggle="tooltip"
                  :title="$translator.trans('The animator enters this Pin code to open the conference audio service to the participants. It must not be communicated to them')"
                >
              </div>
            </div>
          </div>
          <div class="form__item">
            <label for="user-global-audio">
              {{ $translator.trans('Audio Provider') }}
            </label>
            <input
              id="user-global-audio"
              :value="translatedTypeAudio"
              type="text"
              readonly="readonly"
              @change="setSession"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('This is the audio provider chosen to create your session. To add/edit an audio provider, please contact serviceclient@live-session.fr')"
            >
          </div>
        </fieldset>
      </div>
    </div>

    <template
      v-if="session.abstractProviderConfigurationHolder.type === 'white_connector' && !isHelpTaskDetails && !session.sessionPresential"
    >
      <div
        class="row"
      >
        <div class="col-md-12 col-lg-8">
          <div
            class="alert alert-info alert-dismissible container"
          >
            {{
              $translator.trans('The creation of your session is done directly in the virtual classroom software. You then retrieve the link of the virtual room in the \'Virtual room URL\' field. Your link is not yet available? You can continue to create your session, it will remain in \'Draft\' status, it will be active as soon as you add the virtual classroom link')
            }}
          </div>
        </div>
      </div>
      <div
        class="row"
      >
        <div class="col-md-6 col-lg-4">
          <div
            class="form__item"
          >
            <label for="session-white-url">
              {{ $translator.trans('Url virtual room') }}
            </label>
            <input
              id="session-white-url"
              v-model="session.joinSessionWebUrl"
              type="text"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('You can add the URL of the virtual room here. This information will be included in the invitation.')"
            >
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div
            class="form__item"
          >
            <label for="session-white-url">
              {{ $translator.trans('Connection informations for the animator') }}
            </label>
            <textarea
              id="session-white-url"
              v-model="session.connectionInformation"
            />
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('Additional information for the animator about connecting to the virtual room')"
            >
          </div>
        </div>
      </div>
    </template>
  </form>
</template>

<script>
import { Datetime } from 'vue-datetime'
import FormValidationMixin from '../../../mixin/FormValidationMixin'
import SessionTabMixin from '../../../mixin/SessionTabMixin'
import Alert from '../../ui/Alert'
import TagsInput from '../../ui/TagsInput'
import Loader from '../../ui/Loader'
import { mapState } from 'vuex'
import {
  CATEGORY_SESSION_PRESENTIAL,
  CATEGORY_SESSION_MIXTE,
  CATEGORY_SESSION_REUNION,
  CATEGORY_SESSION_FORMATION,
  CATEGORY_SESSION_WEBINAR, CONNECTION_TYPE_PRESENTIAL, CONNECTION_TYPE_TELEPHONE, CONNECTION_TYPE_HYBRID,
  CONNECTION_TYPE_COMPUTER
} from '../../../store/module/session'
import { DateTime } from 'luxon'
import SessionAddTimezonesModal from './SessionAddTimezonesModal.vue'
import {
  calculateTimeDifference,
  adjustDateForTimezone
}
  from '../../../utils/session-additionals-timezones-selector.utils'
import SessionIAModal from './SessionIAModal/SessionIAModal.vue'
import { PRESENTIAL_AUDIO_CATEGORY_TYPE } from '../../../store/module/sessionWizard'

export default {
  name: 'SessionGeneralTab',
  components: {
    SessionIAModal,
    SessionAddTimezonesModal,
    Alert,
    TagsInput,
    Datetime,
    Loader
  },
  mixins: [FormValidationMixin, SessionTabMixin],
  props: {
    isHelpTaskDetails: {
      type: Boolean,
      required: false,
      default: false
    },
    listNewTimezones: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    user: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      languages: {
        fr: 'Français',
        en: 'Anglais'
      },
      currentIndex: 0,
      copyStatus: false,
      typesConnexion: {
        Computer: this.$translator.trans(CONNECTION_TYPE_COMPUTER),
        Telephone: this.$translator.trans(CONNECTION_TYPE_TELEPHONE),
        Hybrid: this.$translator.trans(CONNECTION_TYPE_HYBRID),
        Presential: this.$translator.trans(CONNECTION_TYPE_PRESENTIAL)
      },
      categoryPresential: CATEGORY_SESSION_PRESENTIAL,
      categoryMixte: CATEGORY_SESSION_MIXTE,
      categoryWebinar: CATEGORY_SESSION_WEBINAR,
      sessionDateStart: null,
      sessionDuration: null,
      sessionJoinSessionWebUrl: null,
      sessionConnectionInformation: null
    }
  },
  computed: {
    ...mapState('session', ['readOnly']),
    overLayerReadOnly () {
      if (this.session.category === CATEGORY_SESSION_WEBINAR) {
        return true
      } else {
        return this.readOnly
      }
    },
    convocationsModels () {
      const convocationsModel = Object.values(this.session.abstractProviderConfigurationHolder.client.convocations)
      return convocationsModel.filter((convocation) => {
        return (convocation.categoryTypeAudio === this.session.convocation.categoryTypeAudio &&
           convocation.languages === this.session.language &&
           this.sameConnectorType(convocation)
        ) || (convocation.audioCategoryType === PRESENTIAL_AUDIO_CATEGORY_TYPE && this.session.category === CATEGORY_SESSION_PRESENTIAL)
      })
    },
    convocationMissing () {
      return this.convocationsModels.filter((convocation) => {
        return convocation.id === this.session.convocation.id
      }).length === 0
    },
    canPreviewConvocation () {
      return this.session.convocation !== null
    },
    translatedTypeAudio () {
      if (this.session.convocation.typeAudio === 'VOIP only') {
        return this.$translator.trans(this.session.convocation.typeAudio)
      }
      return this.session.convocation.typeAudio
    },
    canUpdateCategory () {
      return this.readOnly || this.session.readableState === 'Running' || this.isWebexRestMeeting
    },
    isPresential () {
      return this.session.category === CATEGORY_SESSION_PRESENTIAL
    }
  },
  mounted () {
    this.sessionDateStart = DateTime.fromISO(this.session.dateStart)
      .toLocaleString(DateTime.DATETIME_FULL)
    this.sessionDuration = this.session.duration
    if (this.session.abstractProviderConfigurationHolder.type === 'white_connector') {
      this.sessionJoinSessionWebUrl = this.session.joinSessionWebUrl
      this.sessionConnectionInformation = this.session.connectionInformation
    }
  },
  methods: {
    isChangeDateOrDuration () {
      let isChange = false
      const dateStart = DateTime.fromISO(this.session.dateStart)
        .toLocaleString(DateTime.DATETIME_FULL)
      if (this.session.running || this.session.readableState === 'Sent') {
        if (this.sessionDateStart !== dateStart || this.sessionDuration !== this.session.duration) {
          isChange = true
        }
        if (this.session.abstractProviderConfigurationHolder.type === 'white_connector' && this.session.readableState === 'Sent') {
          if (this.sessionJoinSessionWebUrl !== this.session.joinSessionWebUrl) {
            isChange = true
          }
        }
      }
      return isChange
    },
    validateField (field, parentField) {
      let fieldValue = ''
      if (parentField) {
        fieldValue = this.session[parentField][field] ?? ''
      } else {
        fieldValue = this.session[field] ?? ''
      }

      switch (field) {
        case 'name':
          if (fieldValue === '' || fieldValue == null) {
            this.$store.commit('formError/addFieldError', {
              name: field,
              errors: [this.$translator.trans('Field "%field%" canno\'t be empty', { field: field }, 'validators')],
              identifier: 'session'
            })
          }
          break
        case 'dateStart':
          if (fieldValue === '' || fieldValue == null) {
            this.$store.commit('formError/addFieldError', {
              name: field,
              errors: [this.$translator.trans('Field "%field%" canno\'t be empty', { field: field }, 'validators')],
              identifier: 'session'
            })
          } else if (isNaN(Date.parse(fieldValue))) {
            this.$store.commit('formError/addFieldError', {
              name: field,
              errors: [this.$translator.trans('Field "%field%" is not a valid date', { field: field }, 'validators')],
              identifier: 'session'
            })
          }
          break
        case 'language':
          if (fieldValue === '' || fieldValue == null) {
            this.$store.commit('formError/addFieldError', {
              name: field,
              errors: [this.$translator.trans('Field "%field%" canno\'t be empty', { field: field }, 'validators')],
              identifier: 'session'
            })
          } else if (!['en', 'fr'].includes(fieldValue)) {
            this.$store.commit('formError/addFieldError', {
              name: field,
              errors: [this.$translator.trans('The language selected in the field "%field%" is not valid', { field: field }, 'validators')],
              identifier: 'session'
            })
          }
          break
        case 'duration':
          const pattern = /[0-9]?[0-9][:|h][0-9][0-9]$/
          const regex = new RegExp(pattern)
          fieldValue = this.session.datesDiffString
          if (fieldValue === '' || fieldValue == null) {
            this.$store.commit('formError/addFieldError', {
              name: field,
              errors: [this.$translator.trans('Field "%field%" canno\'t be empty', { field: field }, 'validators')],
              identifier: 'session'
            })
            fieldValue = ''
          } else if (!regex.test(fieldValue)) {
            this.$store.commit('formError/addFieldError', {
              name: field,
              errors: [this.$translator.trans('Field "%field%" is not a valid duration', { field: this.$translator.trans(field) }, 'validators')],
              identifier: 'session'
            })
          }
          fieldValue = fieldValue.slice(0, -9)
          break
        case 'licence':
          if (fieldValue === '' || fieldValue == null) {
            this.$store.commit('formError/addFieldError', {
              name: field,
              errors: [this.$translator.trans('Field "%field%" canno\'t be empty', { field: field }, 'validators')],
              identifier: 'session'
            })
          }
          break
      }

      this.setSession()
    },
    formatDateStringForDateTimeInput (dateString) {
      if (dateString === undefined || dateString === null) {
        return ''
      }

      return dateString.slice(0, -9)
    },
    updateDataStart () {
      this.session.dateStart = this.dateStart
      this.setSession()
    },
    onCopy: function (e) {
      this.copyStatus = true
      setTimeout(() => {
        this.copyStatus = false
      }, 5000)
    },
    getIdCategory (category) {
      switch (category) {
        case 'Virtual classroom' :
          return CATEGORY_SESSION_FORMATION
        case 'Meeting' :
          return CATEGORY_SESSION_REUNION
        case 'face-to-face training' :
          return CATEGORY_SESSION_PRESENTIAL
        case 'Blended training' :
          return CATEGORY_SESSION_MIXTE
        case 'Webinar' :
          return CATEGORY_SESSION_WEBINAR
      }
    },
    updateCategory () {
      if (this.session.category === CATEGORY_SESSION_PRESENTIAL) {
        this.session.convocation.categoryTypeAudio = CONNECTION_TYPE_PRESENTIAL
        if (this.convocationsModels.length > 0) {
          this.session.convocation.id = this.convocationsModels[0].id
        }
      }
      this.setSession()
    },
    calculateTimeDifference (timezone) {
      return calculateTimeDifference(timezone)
    },
    adjustDateForTimezone (datetime, timezone, language) {
      return adjustDateForTimezone(datetime, timezone, language)
    },
    sameConnectorType (convocation) {
      if (!convocation.connectorType || !this.session.abstractProviderConfigurationHolder.type) {
        return false
      }
      return convocation.connectorType.replace(/-/g, '_') === this.session.abstractProviderConfigurationHolder.type
    },
    openSessionIAModal () {
      if (!this.session.subject) {
        this.$bootstrap.Modal.getOrCreateInstance('#sessionIAModal').show()
      }
    },
    translateTimeZone (timeZone) {
      if (typeof this.listNewTimezones[timeZone] === 'undefined') {
        return timeZone
      }
      return this.listNewTimezones[timeZone]
    }
  }
}
</script>

<style scoped>
.copy {
  cursor: pointer;
}

.copy:after {
  position: absolute;
  height: 16px;
  top: 33px;
}

.copy:after {
  content: url('../../../../static/icons/copy-black.svg');
  width: 16px;
  right: 42px;
}

.copy.copied:after {
  content: url('../../../../static/icons/copy-green.svg');
}
</style>
