<template>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header px-4 py-3">
        <h5
          id="exampleModalLabel"
          class="modal-title"
        >
          {{ $translator.trans( 'Users list' ) }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        />
      </div>
      <div
        class="modal-body"
        style="padding-top: 5px"
      >
        <div
          id="nav-tab-user"
          class="nav nav-tabs mb-3"
          role="tablist"
          style="border-bottom: 1px solid #E5E5E5;"
        >
          <button
            id="participants-tab"
            class="nav-link ps-0"
            :class="[{
              'active' : !GroupModal
            }]"
            data-bs-toggle="tab"
            type="button"
            role="tab"
            @click="GroupModal = false"
          >
            {{ $translator.trans('Participants') }}
          </button>
          <button
            id="groups-tab"
            class="nav-link ps-0"
            :class="[{
              'active' : GroupModal
            }]"
            data-bs-toggle="tab"
            type="button"
            role="tab"
            @click="GroupModal = true"
          >
            {{ $translator.trans('Groups') }}
          </button>
        </div>
        <members-selector
          v-if="!GroupModal"
          :loading="!loaded"
          :webex-licence="session.licence"
        />
        <groups-participants-selector
          v-else
          :loading="!loaded"
        />
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-end">
          <div class="title-selected-participants d-flex align-items-center">
            <h6>
              {{ $translator.trans( 'Number of subscribers' ) }} <strong>({{ finalNumberSession }})</strong>
            </h6>
          </div>
          <tooltip
            class="mx-3"
            :text="$translator.trans('If a participant appears more than once in the list of participants and/or in one or more groups, he/she will only be counted once.')"
          />
          <button
            type="button"
            class="btn btn-light ms-2"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            {{ $translator.trans('Undo') }}
          </button>
          &nbsp;
          <submit-button
            :processing="processing"
            @click="addUser"
          >
            {{ $translator.trans( 'Valid' ) }}
          </submit-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SubmitButton   from '../../ui/SubmitButton'
import MembersSelector from '../members-selector/MembersSelector'
import GroupsParticipantsSelector from '../groups-selector/GroupsParticipantsSelector.vue'
import Tooltip from '../../ui/Tooltip.vue'

export default {
  name:       'SessionAddParticipantsModal',
  components: { Tooltip, GroupsParticipantsSelector, MembersSelector, SubmitButton },
  data () {
    return {
      processing: false,
      GroupModal: false
    }
  },
  computed:   {
    ...mapGetters('sessionMembersSelector', { membersOfSession: 'getMembersOfSession', loaded: 'isLoaded', groupsOfSession: 'getGroupsOfSession', finalNumberSession: 'getFinalNumberSession' }),
    ...mapGetters('session', { session: 'getSession' })
  },
  methods:    {
    addUser () {
      const route   = this.$routing.generate('_session_update_participants', { id: this.session.id })
      const members = this.membersOfSession
      const groups = this.groupsOfSession

      this.processing = true

      this.$axios
        .post(route, { participants: members, clientId: this.session.client.id, groups: groups })
        .then(() => {
          window.location.href = this.$routing.generate('_session_get', { id: this.session.id })
        })
        .catch(() => {
          const message = this.$translator.trans('Unable to save changes')
          alert(message)
        })
        .finally(() => {
          this.processing = false
        })
    }
  }
}
</script>
