<template>
  <div>
    <form
      v-if="isWebinar"
      id="nav-replay"
      class="tab-pane fade show active"
    >
      <div class="row">
        <alert
          v-if="success"
          :text="success"
          type="success"
        />
        <div
          v-if="isUpdatedPublishedReplay && session.finished"
          class="warning"
        >
          <alert
            v-if="error"
            :text="error"
            type="danger"
          />
          <div
            class="alert alert-dismissible align-items-start d-flex fade justify-content-between p-3 show"
            :class="`alert-warning`"
            role="alert"
          >
            <div v-html="$translator.trans( 'You have modified the Replay configuration. Don\'t forget to save your changes.' )" />
            <div
              class="page-options-bar__item d-flex align-items-center"
              role="button"
            >
              <submit-button
                type="button"
                class="btn btn-primary"
                :processing="processing"
                @click="saveUpdatedFiled"
              >
                {{ $translator.trans('Save') }}
              </submit-button>
            </div>
          </div>
        </div>
        <div class="search-switch mb-3">
          <label
            class="switch"
            for="publishedReplay"
          >
            <input
              id="publishedReplay"
              v-model="session.publishedReplay"
              type="checkbox"
              name="publishedReplay"
              class="switch-preference"
              :disabled="canPublishReplay"
            >
            <span class="slider round" />
          </label>
          {{ $translator.trans('Publish the replay on the') }}
          <a
            role="button"
            class="text-primary"
            @click="updateTab('SessionSelfRegistrationTab')"
          > {{ $translator.trans('registration page') }} </a>
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('The Replay will only be published and available on the registration page if the session is in Completed status.')"
            alt=""
          >
        </div>
        <div class="search-switch mb-4">
          <label
            class="switch"
            for="accessParticipantReplay"
          >
            <input
              id="accessParticipantReplay"
              v-model="session.accessParticipantReplay"
              type="checkbox"
              name="accessParticipantReplay"
              class="switch-preference"
              :disabled="canPublishReplay"
            >
            <span class="slider round" />
          </label>
          {{ $translator.trans('Access restricted to') }}
          <a
            role="button"
            class="text-primary"
            @click="updateTab('SessionParticipantsTab')"
          > {{ $translator.trans('session registrants') }} </a>
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('New visitors to the registration page will not be able to register to view the replay.')"
            alt=""
          >
        </div>
        <div class="col-md-12 col-lg-6">
          <replay-block
            @show-save-button="showSaveButton()"
          />
        </div>
        <div class="col-md-8 col-lg-4">
          <replay-statistics-block />
        </div>
      </div>
    </form>
  </div>
</template>

<script>

import SubmitButton          from '../../ui/SubmitButton.vue'
import ReplayBlock           from './ReplayBlock'
import ReplayStatisticsBlock from './ReplayStatisticsBlock.vue'
import { mapGetters }        from 'vuex'
import Alert                 from '../../ui/Alert.vue'

export default {
  name: 'SessionReplayTab',
  components: {
    SubmitButton,
    Alert,
    ReplayBlock,
    ReplayStatisticsBlock
  },
  props: {
    isWebinar: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  data () {
    return {
      processing: false,
      success: null,
      isUpdatedPublishedReplay: false,
      error: null
    }
  },
  computed: {
    ...mapGetters({ session: 'session/getSession', videoPlatforms: 'session/videoPlatform' }),
    canPublishReplay () {
      return !(this.session.replayUrlKey && this.session.registrationPageTemplate && this.session.finished)
    }
  },
  watch: {
    'session.accessParticipantReplay': function (newVal, oldVal) {
      if (newVal !== oldVal) {
        this.showSaveButton()
      }
    },
    'session.publishedReplay': function (newVal, oldVal) {
      if (newVal !== oldVal) {
        this.showSaveButton()
      }
    }
  },
  methods: {
    showSaveButton () {
      this.success = null
      this.error = null
      this.isUpdatedPublishedReplay = true
    },
    updateTab (tab) {
      this.$emit('change-active-tab', tab)
    },
    saveUpdatedFiled () {
      const route   = this.$routing.generate('_validate_replay_updated', { id: this.session.id })
      this.processing = true
      this.success = null
      this.$axios
        .post(
          route, {
            accessParticipantReplay: this.session.accessParticipantReplay,
            publishedReplay: this.session.publishedReplay,
            replayUrlKey: this.session.replayUrlKey,
            replayLayoutPlayButton: this.session.replayLayoutPlayButton,
            replayVideoPlatform: this.session.replayVideoPlatform
          }
        )
        .then(() => {
          this.isUpdatedPublishedReplay = false
          this.error = null
          this.success = this.$translator.trans('The replay configuration has been saved.')
        })
        .catch(() => {
          this.processing = true
          this.success = null
          this.error = this.$translator.trans('An error occurred while saving the replay configuration. Please try again later.')
        })
        .finally(() => {
          this.processing = false
        })
    }
  }
}
</script>
