<template>
  <div
    :class="['data-list__row', {
      'alert-session': hasBounceAlert
    }]"
  >
    <div class="row__data">
      {{ participantRole.participant.firstName }}
    </div>
    <div class="row__data">
      {{ participantRole.participant.lastName }}
    </div>
    <div
      v-if="fullDisplay"
      class="row__data mr-20"
    >
      {{ participantRole.participant.email }}
    </div>
    <div
      v-if="fullDisplay && sessionHaveGroups()"
      class="row__data mr-20"
    >
      <span
        v-for="group in participantRole.groupsParticipants"
        :key="group.id"
        class="badge bg-program"
        style="margin: 5px"
      >
        {{ group.name }}
      </span>
    </div>
    <div
      v-if="session.category === 6"
      class="row__data"
    >
      <select
        v-model="roleObject.situationMixte"
        class="form-control form-select-sm w-100"
        name="participant-situation"
        :disabled="!actionWheel || readOnly"
        @change="updateParticipantSituation"
      >
        <option
          v-for="(index, value) in situationMixte"
          :key="index"
          :value="value"
        >
          {{ $translator.trans(index) }}
        </option>
      </select>
    </div>
    <div
      v-if="fullDisplay"
      class="row__data"
    >
      <!--                <div class="badge bg-indicator">Signé et évalué</div>-->
    </div>

    <div class="row__data d-flex align-items-end">
      <slot name="pictos-actions" />
      <div>
        <a
          v-if="hasBounceAlert"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          class="session-alert"
          :title="$translator.trans('One or more emails were not received by the participant')"
          role="button"
          :href="$routing.generate('_bounce_list_user_filtered', {id: participantRole.participant.userId})"
        >
          <img src="/build/static/icons/alert-session.svg">
        </a>
      </div>
    </div>

    <div
      v-if="actionWheel"
      class="row__data option small-item"
    >
      <div class="drop-menu-container">
        <div class="icn-option">
          <img src="/build/static/icons/options-white.svg">
        </div>
        <ul class="dropdown-menu-inner">
          <li>
            <a
              class="dropdown-item"
              :href="$routing.generate('_participant_edit', {'id': participantRole.participant.userId})"
            >
              <img
                src="/build/static/icons/edit-small-green.svg"
                class="me-2"
              >
              <b>{{ $translator.trans('Edit') }}</b>
            </a>
          </li>
          <li>
            <a
              v-if="'update_participant' in userActions && userActions.update_participant && !isLicense()"
              class="dropdown-item"
              :href="$routing.generate('_unregister_participant', {'id': participantRole.id})"
            >
              <img
                src="/build/static/icons/small-ban-green.svg"
                class="me-2"
              >
              <b>{{ $translator.trans('Unregister') }}</b>
            </a>
          </li>
          <li>
            <a
              v-if="findInLicence"
              class="dropdown-item"
              data-bs-toggle="modal"
              :data-bs-target="'#confirmationPopIn_set_as_licence_'+participantRole.id.toString()"
              href="#"
            >
              <img
                src="/build/static/icons/personal-green.svg"
                class="me-2"
              >
              <b>{{ $translator.trans('Set as Licence') }}</b>
            </a>
          </li>
        </ul>
      </div>
      <pop-in
        v-if="findInLicence"
        :id="'confirmationPopIn_set_as_licence_'+participantRole.id.toString()"
        :title="$translator.trans('Set as Licence')"
      >
        <template #content>
          <p v-if="session.readableState === 'Sent'">
            {{ $translator.trans('You will define this participant as the person who will have the privilege of opening the Microsoft Teams session. Other hosts will be able to join the session once this person has logged in.') }}
            {{ $translator.trans('An email will be sent to all animators to inform them of this change.') }}
          </p>
          <p v-else>
            {{ $translator.trans('You will define this participant as the person who will have the privilege of opening the Microsoft Teams session. Other hosts will be able to join the session once this person has logged in.') }}
          </p>
        </template>
        <template #footer>
          <button
            type="button"
            class="btn btn-light"
            data-bs-dismiss="modal"
          >
            {{ $translator.trans('Cancel') }}
          </button>
          &nbsp;<Loader v-if="setAsLicenseLoading" />
          <button
            v-else
            type="button"
            class="btn btn-module-main btn-primary"
            @click="setParticipantAsLicense"
          >
            {{ $translator.trans('Validate') }}
          </button>
        </template>
      </pop-in>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import _ from 'lodash'
import PopIn from '../../ui/PopIn/PopIn.vue'
import Loader from '../../ui/Loader.vue'

export default {
  name: 'SessionParticipantListItem',
  components: { Loader, PopIn },
  props: {
    participantRole: {
      type: Object,
      required: true
    },
    fullDisplay: {
      type: Boolean,
      required: false,
      default: true
    },
    actionWheel: {
      type: Boolean,
      required: false,
      default: true
    },
    bouncedMails: {
      type: Array,
      required: false,
      default: () => []
    }
  },
  data () {
    return {
      setAsLicenseLoading: false,
      roleObject : this.participantRole,
      situationMixte: {
        1: 'remotely',
        2: 'face-to-face'
      }
    }
  },
  computed: {
    ...mapState('session', ['readOnly', 'userActions']),
    ...mapGetters({ session: 'session/getSession', sessionIsLoaded: 'session/sessionIsLoaded' }),
    hasBounceAlert () {
      for (let i = 0; i < this.bouncedMails.length; i++) {
        if (this.bouncedMails[i].session !== null && this.bouncedMails[i].session.id === this.session.id && this.bouncedMails[i].email === this.participantRole.email) {
          return true
        }
      }
      return false
    },
    participant () {
      return _.find(this.participantRoles, { id: this.participantRole.id })
    },
    findInLicence () {
      if (this.session.abstractProviderConfigurationHolder.type === 'microsoft_teams_event') {
        if (this.participantRole.role === 'animator') {
          // eslint-disable-next-line no-prototype-builtins
          if (this.session.abstractProviderConfigurationHolder.licences.hasOwnProperty(this.participantRole.participant.email)) {
            if (this.session.licence !== this.participantRole.participant.email) {
              if (this.session.abstractProviderConfigurationHolder.licences[this.participantRole.participant.email].licenceAttributed === '') {
                return true
              } else {
                if (this.session.abstractProviderConfigurationHolder.licences[this.participantRole.participant.email].licenceAttributed !== this.session.licence) {
                  return true
                }
              }
            }
          }
        }
      }
      return false
    }
  },
  methods: {
    updateParticipantSituation () {
      this.roleObject.distantial = this.situationMixte[this.roleObject.situationMixte] === 'remotely'
      this.roleObject.presential = !this.roleObject.distantial
      switch (this.roleObject.role) {
        case 'animator':
          this.$store.commit('session/updateOneAnimatorOnly', this.roleObject)
          break
        case 'trainee':
          this.$store.commit('session/updateOneTraineeOnly', this.roleObject)
          break
      }
    },
    isLicense () {
      if (this.session.abstractProviderConfigurationHolder.type === 'adobe_connect') {
        return this.session.abstractProviderConfigurationHolder.automaticLicensing &&
            this.participantRole.participant.email in this.session.abstractProviderConfigurationHolder.licences &&
            this.session.abstractProviderConfigurationHolder.licences[this.participantRole.participant.email].shared
      }
      return this.session.licence === this.participantRole.participant.email
    },
    sessionHaveGroups () {
      return this.session.groupsParticipants.length > 0
    },
    setParticipantAsLicense () {
      if (this.setAsLicenseLoading) return
      this.setAsLicenseLoading = true
      this.$axios.get(this.$routing.generate('_set_as_license_participant', { id: this.participantRole.id })).then(() => {
        window.location.reload()
      })
    }
  }
}
</script>
