<template>
  <div>
    <form
      v-if="isMeetingType"
      id="nav-presence-with-eval"
      class="tab-pane fade show active"
    >
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <attendance-block />
        </div>
        <div class="col-md-12 col-lg-6">
          <evaluation-block />
        </div>
      </div>
    </form>
  </div>
</template>

<script>

import EvaluationBlock from './EvaluationBlock'
import AttendanceBlock from './AttendanceBlock'

export default {
  name: 'SessionAttendanceEvaluationsTab',
  components: {
    EvaluationBlock,
    AttendanceBlock
  },
  props: {
    isMeetingType: {
      type: Boolean,
      required: false,
      default: true
    }
  }
}
</script>
