<template>
  <div>
    <h2>{{ $translator.trans('Catalog') }}</h2>
    <div id="nav-required-fields">
      <div class="row mb-13">
        <div
          v-if="!isSelfRegisteringEnabled"
        >
          <div class="alert alert-warning alert-dismissible">
            {{ $translator.trans('You do not have access to the catalog. To activate it, please contact your sales representative.') }}
          </div>
        </div>
        <div class="col-md-12 mb-5">
          {{ $translator.trans('By adding a topic and a subject you make the session automatically visible and available in the self-registration module of your account') }}
          <br>
        </div>
        <div class="col-lg-6">
          <div class="form__item">
            <label for="sessionModule">{{ $translator.trans( 'Module of session' ) }}</label>
            <select
              id="sessionModule"
              v-model="sessionModule"
              :disabled="!isSelfRegisteringEnabled"
              name="sessionModule"
              class="form-control"
              @change="validateField('sessionModule', $event)"
            >
              <option :value="null" />
              <option
                v-for="value in clientModulesData"
                :key="value.id"
                :value="value.id"
              >
                {{ value.name }}
              </option>
            </select>
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('Module to which the session is attached')"
            >
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form__item">
            <label for="sessionTheme">{{ $translator.trans( 'Theme of session' ) }}</label>
            <select
              id="sessionTheme"
              v-model="sessionTheme"
              :disabled="!isSelfRegisteringEnabled"
              name="sessionTheme"
              class="form-control"
              @change="validateField('sessionTheme', $event)"
            >
              <option
                v-for="value in clientThemesData"
                :key="value.id"
                :value="value.id"
              >
                {{ value.name }}
              </option>
            </select>
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('Theme to which the session topic is related')"
            >
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form__item">
            <label for="sessionSubject">{{ $translator.trans('Subject') }}</label>
            <select
              id="sessionSubject"
              v-model="sessionSubject"
              :disabled="!isSelfRegisteringEnabled"
              name="langSelected"
              class="form-control"
              @change="(event) => {validateField('sessionSubject', event); onChangeSubject()}"
            >
              <option
                v-for="value in clientSubjectsData"
                :key="value.id"
                :value="value.id"
              >
                {{ value.name }}
              </option>
            </select>
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('Subject to which the session is associated')"
            >
            <small v-if="disableSubjectReplayOnSave">{{ $translator.trans('The replay associated with the topic will be deactivated when the changes are saved.') }}</small>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form__item">
            <label for="subscriptionMax">{{ $translator.trans('Max number') }}</label>
            <input
              id="subscriptionMax"
              v-model="session.subscriptionMax"
              name="name"
              type="number"
              class="name form-control"
              :disabled="readOnlyDataSelfRegistration"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('Maximum number of participants per session. Registration is no longer possible once this threshold is reached. 0=unlimited registration.')"
            >
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form__item">
            <label for="alertLimit">{{ $translator.trans('Limit of alert') }}</label>
            <input
              id="alertLimit"
              v-model="session.alertLimit"
              name="alertLimit"
              type="number"
              class="name form-control"
              :disabled="readOnlyDataSelfRegistration"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('Number of registered participants at which point the color of the sessions change to indicate that they are almost full.')"
            >
          </div>
        </div>
      </div>
    </div>
    <session-registration-page />
    <confirmation-pop-in
      :id="'delete_session_'"
      :title="$translator.trans('A Replay is currently published for this topic')"
      :content="$translator.trans(&quot;People with access to the \&quot;%catalog%\&quot; catalog are currently viewing a replay of a session on the \&quot;%subject%\&quot; topic.<br/><br/>The presence of the replay does not allow the creation of a new session.<br/><br/>If you wish to create a new session for this topic, we will deactivate the replay for you.<br/><br/>If you wish to keep the replay, please note that this session cannot be associated with this topic.&quot;, {catalog: sessionModuleName, subject: sessionSubjectName})"
      :confirm="onConfirmConfirmationPopIn"
      :cancel="onCancelConfirmationPopIn"
      :cancel-message="$translator.trans('Keep the replay')"
      :confirm-message="$translator.trans('Create this new session')"
      size="lg"
    />
  </div>
</template>

<script>

import { mapGetters, mapState } from 'vuex'
import SessionTabMixin from '../../../mixin/SessionTabMixin'
import SessionRegistrationPage from './registration-page/SessionRegistrationPage.vue'
import ConfirmationPopIn from '../../ui/PopIn/ConfirmationPopIn.vue'

export default {
  name: 'SessionSelfRegistrationTab',
  components: { ConfirmationPopIn, SessionRegistrationPage },
  mixins: [SessionTabMixin],
  props: {
    clientModules: {
      type: Array,
      required: false,
      default: () => []
    }
  },
  data () {
    return {
      clientModulesData: this.clientModules,
      clientThemesData: [],
      clientSubjectsData: [],
      sessionModule: null,
      sessionModuleName: null,
      sessionTheme: null,
      sessionSubject: null,
      oldSessionSubject: null,
      sessionSubjectName: null,
      readOnlyDataSelfRegistration: true,
      disableSubjectReplayOnSave: false
    }
  },
  computed: {
    ...mapGetters({ session: 'session/getSession' }),
    ...mapState('session', ['readOnly']),
    isSelfRegisteringEnabled () {
      return this.session.client.selfRegistering.enabled
    }
  },
  created () {
    this.session.disableSubjectReplayOnSave = false
    this.loadData()
  },
  methods: {
    transformSubjectsForDisplay (indexModule) {
      return this.clientThemesData[this.clientModulesData[indexModule].themes
        .findIndex(theme => theme.id === this.sessionTheme)].subjects
    },
    loadData () {
      if (this.session.subject) {
        this.sessionSubject = this.oldSessionSubject = this.session.subject.id
        this.sessionTheme = this.session.subject.themeId
        this.sessionModule = this.session.subject.moduleId

        const indexModule = this.clientModulesData.map(function (o) { return o.id }).indexOf(this.sessionModule)
        this.clientThemesData = this.clientModulesData[indexModule].themes
        this.clientSubjectsData = this.transformSubjectsForDisplay(indexModule)
        this.readOnlyDataSelfRegistration = false
      }
    },
    validateField (field, event) {
      const indexModule = this.clientModulesData.map(function (o) { return o.id }).indexOf(this.sessionModule)
      const indexTheme = field === 'sessionModule' ? null : this.clientModulesData[indexModule].themes.map(function (o) { return o.id }).indexOf(this.sessionTheme)
      const indexSubject = field !== 'sessionSubject' ? null : this.clientThemesData[indexTheme].subjects.map(subject => subject.id).indexOf(this.sessionSubject)
      switch (field) {
        case 'sessionModule':
          if (this.sessionModule !== null) {
            this.clientThemesData = this.clientModulesData[this.clientModulesData.map(function (o) { return o.id }).indexOf(this.sessionModule)].themes
            this.readOnlyDataSelfRegistration = false
            this.session.subscriptionMax = this.clientModulesData[this.clientModulesData.map(function (o) { return o.id }).indexOf(this.sessionModule)].subscriptionMax
            this.session.alertLimit = this.clientModulesData[this.clientModulesData.map(function (o) { return o.id }).indexOf(this.sessionModule)].alertLimit
          } else {
            this.clientThemesData = []
            this.clientSubjectsData = []
            this.session.subject = null
            this.session.subscriptionMax = 0
            this.session.alertLimit = 0
            this.readOnlyDataSelfRegistration = true
          }
          break
        case 'sessionTheme':
          this.clientSubjectsData = []
          if (this.sessionTheme !== null) {
            this.clientSubjectsData = this.transformSubjectsForDisplay(indexModule)
          }
          break
        case 'sessionSubject':
          this.session.subject = this.clientSubjectsData[indexSubject]
          break
      }
    },
    onChangeSubject () {
      const module = this.clientModulesData.find(subject => subject.id === this.sessionModule)
      if (module) {
        const indexTheme = this.clientModulesData[this.clientModulesData.indexOf(module)].themes.map(function (o) { return o.id }).indexOf(this.sessionTheme)
        const subject = this.clientThemesData[indexTheme].subjects.find(subject => subject.id === this.sessionSubject)
        this.sessionSubjectName = subject.name
        this.sessionModuleName = module.name
        if (subject.videoReplay?.published) {
          const modal = this.$bootstrap.Modal.getOrCreateInstance(document.getElementById('confirmationPopIn_delete_session_'))
          modal.show()
        } else {
          this.session.disableSubjectReplayOnSave = this.disableSubjectReplayOnSave = false
        }
      }
    },
    onConfirmConfirmationPopIn () {
      this.session.disableSubjectReplayOnSave = this.disableSubjectReplayOnSave = true
    },
    onCancelConfirmationPopIn () {
      this.sessionSubject = this.oldSessionSubject
      this.session.disableSubjectReplayOnSave = this.disableSubjectReplayOnSave = false
    }
  }
}
</script>
