<template>
  <div class="accordion-item">
    <h2
      :id="'flush-heading-' + index"
      class="accordion-header"
    >
      <div
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        :data-bs-target="'#flush-collapse-' + index"
        aria-expanded="false"
        :aria-controls="'flush-collapse-' + index"
      >
        <span>
          {{ userFullName }}
        </span>
        <div
          class="d-flex justify-content-end"
        >
          <div class="session-btn-signature-access">
            <a
              v-if="sessionRole.session.running || sessionRole.session.finished"
              href="#"
              class="btn btn-primary"
              role="button"
            >
              <span v-if="!sessionRole.session.fullDaySession"> <!-- Sur une demi-journée -->
                <span v-if="sessionRole.countSignatures > 0">
                  {{ $translator.trans('Signed') }}
                </span>
                <span v-else>
                  {{ $translator.trans('To sign') }}
                </span>
              </span>
              <span v-else> <!-- Sur une journée complète -->
                <span v-if="sessionRole.countSignatures > 1">
                  {{ $translator.trans('Signed') }}
                </span>
                <span v-else-if="sessionRole.countSignatures === 1">
                  {{ $translator.trans('To complete') }}
                </span>
                <span v-else>
                  {{ $translator.trans('To sign') }}
                </span>
              </span>
            </a>
            <a
              v-else
              href="#"
              class="btn btn-light btn-disabled"
            >
              <span>
                {{ $translator.trans('To sign') }}
              </span>
            </a>
          </div>
        </div>
      </div>
    </h2>
  </div>
</template>

<script>
export default {
  name: 'SessionsDocumentsAttendeeListItem',
  props: {
    sessionRole: {
      type: Object,
      required: false,
      default: () => { return {} }
    },
    index: {
      type: String,
      required: true
    }
  },
  computed: {
    userFullName () {
      return this.sessionRole.participant.user.firstName + ' ' + this.sessionRole.participant.user.lastName
    }
  }
}
</script>
