<template>
  <div
    id="accordionSignature"
    class="d-flex flex-column"
  >
    <div
      v-if="fillEmail"
      class="page-options-bar-none mb-5"
    >
      <div v-responsive.lg.xl>
        <div
          class="d-flex part-1"
          style="padding-left: 50px"
        >
          <div class="page-options-bar__item pr">
            <div class="page-options-bar__item__search with-result">
              <label for="searchInParticipant">
                <img src="/build/static/icons/search.svg">
              </label>
              <input
                id="searchInParticipant"
                v-model="globalParticipantSearchInput"
                type="search"
                name="searchInParticipant"
                :placeholder="$translator.trans('Find your email')"
                style="background: #FFFFFF"
                @keydown="globalSearchParticipants"
              >
            </div>
          </div>
        </div>
      </div>
      <div v-responsive.md>
        <div class="d-flex part-1">
          <div class="page-options-bar__item pr">
            <div class="page-options-bar__item__search with-result">
              <label for="searchInParticipant">
                <img src="/build/static/icons/search.svg">
              </label>
              <input
                id="searchInParticipant"
                v-model="globalParticipantSearchInput"
                type="search"
                name="searchInParticipant"
                :placeholder="$translator.trans('Find your email')"
                style="background: #FFFFFF"
                @keydown="globalSearchParticipants"
              >
            </div>
          </div>
        </div>
      </div>
      <div v-responsive.sm.xs>
        <div
          class="page-options-bar__item__search with-result"
          style="width: 100px;"
        >
          <label for="searchInParticipant">
            <img src="/build/static/icons/search.svg">
          </label>
          <input
            id="searchInParticipant"
            v-model="globalParticipantSearchInput"
            type="search"
            name="searchInParticipant"
            :placeholder="$translator.trans('Find your email')"
            style="background: #FFFFFF; width: 300px; "
            @keydown="globalSearchParticipants"
          >
        </div>
      </div>
      <div
        v-if="fined === '1'"
        class="alert alert-warning alert-dismissible container mb-4"
      >
        {{ $translator.trans('We do not have this email in the list of subscribers. Please check that there is no error in the email and that it is indeed the email used for your registration.') }}
      </div>
    </div>
    <template
      v-for="(sessionRole, index) in participantRolesData"
    >
      <sessions-documents-attendee-list-item
        :key="'list-item-' + index"
        :session-role="sessionRole"
        :index="''+index"
      />
      <signature-accordion-details
        :key="'accordion-detail-' + index"
        :session-role="sessionRole"
        :index="''+index"
      />
    </template>
  </div>
</template>

<script>

import SessionsDocumentsAttendeeListItem from './SessionsDocumentsAttendeeListItem'
import SignatureAccordionDetails from './signature/SignatureAccordionDetails'
import _ from 'lodash'
import { isValidEmail } from '../../../self-subscription-hub/login-register/rules-visualizer/email-checker.utils'

export default {
  name: 'SessionsDocumentsAttendeeList',
  components: { SignatureAccordionDetails, SessionsDocumentsAttendeeListItem },
  props: {
    sessionsRoles: {
      type: Array,
      required: false,
      default: () => { return [] }
    },
    idSession: {
      type: Number,
      required: true
    },
    fillEmail: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  data () {
    return {
      globalParticipantSearchInput: '',
      participantRolesData: this.sessionsRoles,
      fined: '0'
    }
  },
  methods: {
    globalSearchParticipants: _.debounce(function () {
      if (isValidEmail(this.globalParticipantSearchInput)) {
        this.$axios.get(this.$routing.generate('_session_evaluation_lobby_filter_search', { id:this.idSession, search:this.globalParticipantSearchInput }))
          .then(response => {
            if (response.data.length === 0) {
              this.fined = '1'
            } else {
              this.fined = '2'
            }
            this.participantRolesData = response.data
          })
      } else {
        this.participantRolesData = null
      }
    }, 250)
  }
}
</script>
