<template>
  <div>
    <form
      id="nav-convoc"
      class="tab-pane fade active show"
    >
      <div class="d-flex align-items-center">
        <div>
          <p class="col fz-16 mb-28 text-muted">
            <i>{{ $translator.trans( 'To create your evaluation scheme, click on “Add” and select the evaluation types and modal you want to add.' ) }}</i><br>
            <i>{{ $translator.trans( 'For each evaluation, you can customize the content of mail.' ) }}</i><br>
          </p>
        </div>
        <div class="col page-options-bar justify-content-end">
          <div
            v-if="!isOpen"
            class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
            role="button"
            @click="openedAll"
          >
            <img src="/build/static/icons/tree-opened.svg">
            <span class="d-sm-none d-md-block ms-2">{{ $translator.trans('Unfold everything') }}</span>
          </div>
          <div
            v-else
            class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
            role="button"
            @click="closedAll"
          >
            <img src="/build/static/icons/tree-closed.svg">
            <span class="d-sm-none d-md-block ms-2">{{ $translator.trans('Fold everything') }}</span>
          </div>
          <div class="d-flex">
            <div
              class="page-options-bar__item d-flex align-items-center"
              data-bs-toggle="modal"
              data-bs-target="#addEvaluation"
              role="button"
            >
              <img
                src="/build/static/icons/plus.svg"
                class="me-2"
              >
              <span class="d-sm-none d-md-block"><b>{{ $translator.trans( 'Add' ) }}</b></span>
            </div>
            <div
              id="addEvaluation"
              class="modal fade"
              tabindex="-1"
            >
              <evaluation-session-add-modal />
            </div>
          </div>
        </div>
      </div>
      <div
        v-for="evaluation in session.evaluationsProviderSession"
        :key="evaluation.id"
        class="table-content data-list data-list__row-small mb-3"
      >
        <evaluation-session-item
          :evaluation-session="evaluation"
          :is-open="isOpen"
        />
      </div>
    </form>
  </div>
</template>

<script>

import EvaluationSessionItem     from './EvaluationSessionItem.vue'
import EvaluationSessionAddModal from './EvaluationSessionAddModal.vue'
import { mapGetters }            from 'vuex'

export default {
  name: 'SessionEvaluationsTab',
  components: {
    EvaluationSessionAddModal,
    EvaluationSessionItem
  },
  props: {
    isMeetingType: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  data () {
    return {
      convocationsModels : [],
      personalizedContent : '',
      processing: false,
      error: null,
      isOpen: false
    }
  },
  computed:   {
    ...mapGetters('session', { session: 'getSession' })
  },
  methods: {
    openedAll () {
      this.isOpen = true
    },
    closedAll () {
      this.isOpen = false
    }
  }
}
</script>
