<template>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          id="exampleModalLabel"
          class="modal-title"
        >
          {{ $translator.trans( 'Add new Communication' ) }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        />
      </div>
      <div class="modal-body">
        <div class="col-md-8 col-lg-8">
          <div class="form__item">
            <label for="user-global-model-convocation">{{ $translator.trans( 'Communication type' ) }}</label>
            <select
              id="user-global-model-convocation"
              v-model="communicationType"
            >
              <option
                v-for="(type, index) in typeWebinarConvocation"
                :key="index"
                :value="index"
              >
                {{ type }}
              </option>
            </select>
          </div>
          <div
            v-if="communicationType !== 'sms'"
            class="form__item"
          >
            <label for="user-global-model-convocation">
              {{ $translator.trans( 'Communication template' ) }}
            </label>
            <select
              id="user-global-model-convocation"
              v-model="communicationModel"
            >
              <option
                v-for="(value) in convocations"
                :key="value.id"
                :value="value.id"
              >
                {{ value.name }}
              </option>
            </select>
          </div>
        </div>
        <span v-if="error">
          <alert
            type="danger"
            :text="error"
          />
        </span>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-light"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            {{ $translator.trans('Close') }}
          </button>
          &nbsp;
          <submit-button
            :processing="processing"
            @click="addCommunication"
          >
            {{ $translator.trans( 'Add' ) }}
          </submit-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SubmitButton   from '../../ui/SubmitButton'
import Alert from '../../ui/Alert'

export default {
  name:       'SessionWebinarConvocationAddModal',
  components: { SubmitButton, Alert },
  props: {
    convocations: {
      type: Array,
      required: true
    },
    typeWebinarConvocation: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      processing: false,
      error: null,
      communicationModel: null,
      communicationType: null
    }
  },
  computed:   {
    ...mapGetters('sessionMembersSelector', { membersOfSession: 'getMembersOfSession', loaded: 'isLoaded' }),
    ...mapGetters('session', { session: 'getSession' })
  },
  methods:    {
    addCommunication () {
      const route   = this.$routing.generate('_add_communication_webinar', { id: this.session.id, idConvocation: this.communicationModel, type : this.communicationType })

      this.processing = true

      this.$axios
        .post(route)
        .then(() => {
          window.location.href = this.$routing.generate('_session_get', { id: this.session.id, tabName: 'SessionCommunicationTab' })
        })
        .catch(() => {
          this.error = this.$translator.trans('you cannot create a new confirmation if a confirmation is already created')
        })
        .finally(() => {
          this.processing = false
        })
    }
  }
}
</script>
