<template>
  <div>
    <form
      v-if="isMeetingType"
      id="nav-presence-with-eval"
      class="tab-pane fade show active"
    >
      <attendance-block />
    </form>
  </div>
</template>

<script>

import AttendanceBlock from './AttendanceBlock'

export default {
  name: 'SessionAttendanceTab',
  components: {
    AttendanceBlock
  },
  props: {
    isMeetingType: {
      type: Boolean,
      required: false,
      default: true
    }
  }
}
</script>
