<template>
  <activities
    route="_activity_session_list_next"
    :params="{id: session.id}"
    :user="user"
    view="session"
  />
</template>

<script>

import SessionTabMixin from '../../../mixin/SessionTabMixin'
import Activities      from '../../activites/Activities'
import currentUserMixin from '../../../mixin/CurrentUserMixin.vue'

export default {
  name: 'SessionActivityLogTab',
  components: { Activities },
  mixins: [SessionTabMixin, currentUserMixin]
}
</script>
