<template>
  <div>
    <div class="row">
      <div class="col-5 mb-30">
        <fieldset class="form__fieldset fieldset-secondary">
          <legend class="mb-4">
            {{ $translator.trans('Assistance') }}
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('This service ensures the session runs smoothly with a Live Session facilitator who logs in %assistanceStart% minutes before the start of the session either for %assistanceDuration% minutes (launch assistance) or for the full duration (total assistance). The Live session facilitator will answer the animator’s questions before managing the participants\' connections. Other types of assistance are possible: pedagogical assistance (when a trainer is learning to use the tool), and co-animation in case of multiple activities in the session', {'assistanceStart': services.assistanceStart, 'assistanceDuration': services.assistanceDuration})"
            >
          </legend>
          <div class="row">
            <div class="col-lg-12">
              <div
                v-if="services.assistanceType === 0"
              >
                <div class="alert alert-warning alert-dismissible">
                  {{ $translator.trans('Your contract does not include assistance. To benefit from this service, please contact you Live Session sales representative.') }}
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div id="client_services_tab_form_assistanceType">
                    <div class="form-check">
                      <input
                        id="client_services_tab_form_assistanceType_0"
                        v-model="session.assistanceType"
                        type="radio"
                        name="client_services_tab_form[assistanceType]"
                        class="form-check-input"
                        checked="checked"
                        value="0"
                        :disabled="!canEditAssistanceType || readOnly"
                      >
                      <label
                        class="form-check-label"
                        for="client_services_tab_form_assistanceType_0"
                      >{{ $translator.trans('No assistance') }}</label>
                      <img
                        src="/build/static/icons/question.svg"
                        data-bs-placement="left"
                        data-bs-toggle="tooltip"
                        :title="$translator.trans('Your contract does not include assistance. If you would like to benefit from this service, please contact your Live Session sales representative')"
                      >
                    </div>
                    <div class="form-check">
                      <input
                        id="client_services_tab_form_assistanceType_2"
                        v-model="session.assistanceType"
                        type="radio"
                        name="client_services_tab_form[assistanceType]"
                        class="form-check-input"
                        value="2"
                        :disabled="!canEditAssistanceType || readOnly"
                      >
                      <label
                        class="form-check-label"
                        for="client_services_tab_form_assistanceType_2"
                      >{{ $translator.trans('Launch') }}</label>
                      <img
                        src="/build/static/icons/question.svg"
                        data-bs-placement="left"
                        data-bs-toggle="tooltip"
                        :title="$translator.trans('A Customer Service representative logs into the virtual classroom 30 minutes before the start of the session for a total duration of 60 minutes. He/she assists the trainer in his/her manipulations and welcomes the participants. He can help them solve any connection problems')"
                      >
                    </div>
                    <div class="form-check">
                      <input
                        id="client_services_tab_form_assistanceType_3"
                        v-model="session.assistanceType"
                        type="radio"
                        name="client_services_tab_form[assistanceType]"
                        class="form-check-input"
                        value="3"
                        :disabled="!canEditAssistanceType || readOnly"
                      >
                      <label
                        class="form-check-label"
                        for="client_services_tab_form_assistanceType_3"
                      >{{ $translator.trans('Total assistance') }}</label>
                      <img
                        src="/build/static/icons/question.svg"
                        data-bs-placement="left"
                        data-bs-toggle="tooltip"
                        :title="$translator.trans('A Customer Service representative logs into the virtual classroom 30 minutes before the start of the session for the entire duration. He/she assists the trainer in his/her manipulations and handles any problems that may arise throughout the session.')"
                      >
                    </div>
                    <div class="form-check">
                      <input
                        id="client_services_tab_form_assistanceType_4"
                        v-model="session.assistanceType"
                        type="radio"
                        name="client_services_tab_form[assistanceType]"
                        class="form-check-input"
                        value="4"
                        :disabled="!canEditAssistanceType || readOnly"
                      >
                      <label
                        class="form-check-label"
                        for="client_services_tab_form_assistanceType_4"
                      >{{ $translator.trans('Educational') }}</label>
                      <img
                        src="/build/static/icons/question.svg"
                        data-bs-placement="left"
                        data-bs-toggle="tooltip"
                        :title="$translator.trans('This service allows a newly trained trainer to be accompanied during his/her 1st virtual classroom animation. An expert Customer Service representative logs in 30 minutes before the session starts for the total duration and performs a 30-minute debrief after the end of the session.')"
                      >
                    </div>
                    <div class="form-check">
                      <input
                        id="client_services_tab_form_assistanceType_5"
                        v-model="session.assistanceType"
                        type="radio"
                        name="client_services_tab_form[assistanceType]"
                        class="form-check-input"
                        value="5"
                        :disabled="!canEditAssistanceType || readOnly"
                      >
                      <label
                        class="form-check-label"
                        for="client_services_tab_form_assistanceType_5"
                      >{{ $translator.trans('Co-animation') }}</label>
                      <img
                        src="/build/static/icons/question.svg"
                        data-bs-placement="left"
                        data-bs-toggle="tooltip"
                        :title="$translator.trans('This service allows the trainer to delegate some animation activities to the Customer Service representative , welcoming participants, explaining the interaction modes in the virtual classroom, manipulations during the session, time management, animation during educational activities. It is recommended when the animator has little or no training in facilitation tools')"
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="col-lg-8"
                  style="font-size: 0.875rem;"
                >
                  <div
                    v-if="getService.assists.length !== 0"
                  >
                    <strong>{{ $translator.trans('Person in charge of the assistance') }}</strong>
                    <ul class="activity-log__list-container mb-4">
                      <li
                        v-for="assist in getService.assists"
                        :key="assist"
                      >
                        - {{ assist }}
                      </li>
                    </ul>
                    <strong>{{ $translator.trans('Effective duration of the assistance service') }} :</strong> {{ formatDuration(getService.assistsDurationTotal) }}
                  </div>
                  <div
                    v-if="session.assistanceType !== assistanceNo && getService.assists.length === 0"
                    class="alert alert-warning alert-dismissible container mb-4"
                  >
                    {{ $translator.trans('No provider assigned for this service') }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col-5 mb-30">
        <fieldset class="form__fieldset fieldset-secondary">
          <legend class="mb-4">
            {{ $translator.trans('Participant support') }}
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('This service allows participants to contact support in case of problems. A phone number and an email will be added to the convocation.')"
            >
          </legend>
          <div
            v-if="services.supportType === supportNo"
          >
            <div class="alert alert-warning alert-dismissible">
              {{ $translator.trans('Your contract does not include participating support. If you would like to benefit from this service, please contact your Live Session sales advisor.') }}
            </div>
          </div>
          <div
            v-if="alertSupport !== null"
            class="alert alert-warning alert-dismissible"
          >
            {{ alertSupport }}
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form__checklist">
                <div class="form-check">
                  <input
                    id="support-participants-none"
                    v-model="session.supportType"
                    class="form-check-input"
                    type="radio"
                    name="support-participants"
                    value="0"
                    :disabled="services.supportType === supportNo || readOnly"
                    @change="checkSession"
                  >
                  <label
                    class="form-check-label"
                    for="support-participants-none"
                  >{{ $translator.trans('No support') }}</label>
                </div>
                <div class="form-check">
                  <input
                    id="support-participants-lancement"
                    v-model="session.supportType"
                    class="form-check-input"
                    type="radio"
                    name="support-participants"
                    value="2"
                    :disabled="services.supportType === supportNo || (services.standardHours.active && !services.outsideStandardHours.active) || readOnly"
                    @change="checkSession"
                  >
                  <label
                    class="form-check-label"
                    for="support-participants-lancement"
                  >{{ $translator.trans('Launch') }}</label>
                </div>
                <div class="form-check mb-30">
                  <input
                    id="support-participants-total"
                    v-model="session.supportType"
                    class="form-check-input"
                    type="radio"
                    name="support-participants"
                    value="3"
                    :disabled="(services.supportType === supportNo || readOnly)"
                    @change="checkSession"
                  >
                  <label
                    class="form-check-label"
                    for="support-participants-total"
                  >{{ $translator.trans('Total') }}</label>
                </div>
              </div>
            </div>
            <div
              class="col-lg-8"
              style="font-size: 0.875rem;"
            >
              <div
                v-if="getService.support.length != 0"
              >
                <strong>{{ $translator.trans('Person in charge of support') }}</strong>
                <ul class="activity-log__list-container mb-4">
                  <li
                    v-for="assist in getService.support"
                    :key="assist"
                  >
                    - {{ assist }}
                  </li>
                </ul>
                <strong>{{ $translator.trans('Effective duration of the support service') }} :</strong> {{ formatDuration(getService.supportDurationTotal) }}
              </div>
              <div
                v-if="session.assistanceType !== supportNo && getService.support.length === 0"
                class="alert alert-warning alert-dismissible container mb-4"
              >
                {{ $translator.trans('No provider assigned for this service') }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form__checklist">
              <legend class="mb-15">
                {{ $translator.trans('Schedules') }}
              </legend>
              <p class="fz-12 mb-2 text-muted">
                <i>
                  {{
                    $translator.trans(
                      'Participant support is available at the following standard times: from %morning_start% to %morning_end% and from %afternoon_start% to %afternoon_end%.',
                      { morning_start: standardHours.morningStart, morning_end: standardHours.morningEnd, afternoon_start: standardHours.afternoonStart, afternoon_end: standardHours.afternoonEnd}
                    )
                  }}
                  <template v-if="'outsideStandardHours' in services && services.outsideStandardHours.active">
                    {{
                      $translator.trans(
                        'Participant support is also available outside of standard hours: from %early_start% to %early_end%, from %lunch_start% to %lunch_end% and from %evening_start% to %evening_end%.',
                        { early_start: outsideHours.earlyStart, early_end: outsideHours.earlyEnd, lunch_start: outsideHours.lunchStart, lunch_end: outsideHours.lunchEnd, evening_start: outsideHours.eveningStart, evening_end: outsideHours.eveningEnd}
                      )
                    }}
                  </template>
                </i>
              </p>
              <div class="form-check">
                <input
                  id="support-participants-outside-hour-standard"
                  v-model="session.outsideStandardHours.active"
                  class="form-check-input"
                  type="checkbox"
                  :disabled="!services.outsideStandardHours.active || readOnly"
                  @change="checkSession"
                >
                <label
                  class="form-check-label"
                  for="support-participants-hour-standard"
                >{{ $translator.trans('Outside standard hours') }}</label>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <SessionLogBook
      v-if="logBookAnswers.length > 0"
      :answers="logBookAnswers"
    />
  </div>
</template>

<script>

import SessionTabMixin from '../../../mixin/SessionTabMixin'
import { mapGetters, mapState } from 'vuex'
import { DateTime } from 'luxon'
import {
  ENUM_ASSISTANCE_NO, ENUM_ASSISTANCE_TYPE,
  ENUM_SUPPORT_NO, ENUM_SUPPORT_TYPE
} from '../../../utils/services.utils'
import SessionLogBook from './SessionLogBook'
import { ENUM_NO } from '../../../utils/provider-configuration-holder.utils'

export default {
  name: 'SessionServicesTab',
  components: { SessionLogBook },
  mixins: [SessionTabMixin],
  props: {
    clientServices: {
      type: Object,
      required: false,
      default: () => { return {} }
    }
  },
  data () {
    return {
      alertSupport: null,
      activeTab:          this.tabName,
      services:           this.clientServices,
      assistanceNo: ENUM_ASSISTANCE_NO,
      supportNo: ENUM_SUPPORT_NO,
      assistantsList: {
        assists: [],
        support: [],
        assistsDurationTotal: 0,
        supportDurationTotal: 0
      }
    }
  },
  computed: {
    ...mapGetters({ session: 'session/getSession' }),
    ...mapState('session', ['readOnly']),
    standardHours () {
      return {
        morningStart: this.$options.filters.formatDate(this.services.standardHours.startTimeAM, 'hours_minutes'),
        morningEnd: this.$options.filters.formatDate(this.services.standardHours.endTimeAM, 'hours_minutes'),
        afternoonStart: this.$options.filters.formatDate(this.services.standardHours.startTimePM, 'hours_minutes'),
        afternoonEnd: this.$options.filters.formatDate(this.services.standardHours.endTimePM, 'hours_minutes')
      }
    },
    outsideHours () {
      return {
        earlyStart: this.$options.filters.formatDate(this.services.outsideStandardHours.startTimeAM, 'hours_minutes'),
        earlyEnd: this.$options.filters.formatDate(this.services.outsideStandardHours.endTimeAM, 'hours_minutes'),
        lunchStart: this.$options.filters.formatDate(this.services.outsideStandardHours.startTimeLH, 'hours_minutes'),
        lunchEnd: this.$options.filters.formatDate(this.services.outsideStandardHours.endTimeLH, 'hours_minutes'),
        eveningStart: this.$options.filters.formatDate(this.services.outsideStandardHours.startTimePM, 'hours_minutes'),
        eveningEnd: this.$options.filters.formatDate(this.services.outsideStandardHours.endTimePM, 'hours_minutes')
      }
    },
    logBookAnswers () {
      return this.session.assistanceLogBook
    },
    getService () {
      this.session.helpNeeds.forEach(helpNeed => {
        helpNeed.helpTasks.forEach(helpTask => {
          if (helpNeed.type === ENUM_ASSISTANCE_TYPE) {
            this.assistantsList.assists.push(helpTask.user.firstName + ' ' + helpTask.user.lastName)
            this.assistantsList.assistsDurationTotal += helpTask.durationReal
          } else if (helpNeed.type === ENUM_SUPPORT_TYPE) {
            this.assistantsList.support.push(helpTask.user.firstName + ' ' + helpTask.user.lastName)
            this.assistantsList.supportDurationTotal += helpTask.durationReal
          }
        })
      })
      return this.assistantsList
    },
    ENUM_NO () {
      return ENUM_NO
    }
  },
  created () {
    this.canEditAssistanceType()
  },
  beforeMount () {
    this.checkSession()
  },
  mounted () {
    this.$store.commit('client/setClientServices', this.clientServicesData)
  },
  methods: {
    canEditAssistanceType () {
      return this.services.assistanceType !== this.assistanceNo && !this.readOnly
    },
    checkSession () {
      const sessionDateStart = this.dateTimeFromSave(this.session.dateStart)
      const sessionDateEnd  = this.dateTimeFromSave(this.session.dateStart).plus({ minutes: parseInt(this.session.duration) })
      this.$axios.get(this.$routing.generate('_session_get_details_support', { id_client: this.session.client.id, sessionDateStart: sessionDateStart.toISO(), sessionDateEnd : sessionDateEnd.toISO(), typeSupport: this.session.supportType, standardHoursActive: this.session.standardHours, outsideStandardHoursActive: this.session.outsideStandardHours  }))
        .then(response => {
          this.alertSupport = response.data.alertSupport
        })
    },
    dateTimeFromSave (myDate) {
      return DateTime
        .fromISO(myDate)
    },
    formatDuration (duration) {
      const hours = Math.floor(duration / 60)
      const minutes = duration % 60
      const minutesString = minutes < 10 ? `0${minutes}` : `${minutes}`
      const formattedDuration = `${hours}.${minutesString}`
      return `${formattedDuration} (${hours}h${minutesString}min)`
    }
  }
}
</script>
