<template>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header px-4 py-3">
        <h5
          id="exampleModalLabel"
          class="modal-title"
        >
          {{ $translator.trans( 'Timezones list' ) }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        />
      </div>
      <div
        class="modal-body"
        style="text-align: left;"
      >
        <additionals-timezones-selector
          :loading="true"
          :session="session"
          :list-new-timezones="listNewTimezones"
        />
        <div
          v-if="referer === 'sessionedit'"
          class="mt-3 d-flex justify-content-end"
        >
          <submit-button
            :processing="processing"
            @click="addTimezones"
          >
            {{ $translator.trans( 'Add' ) }}
          </submit-button>
        </div>
        <div
          v-else
          class="mt-3 d-flex justify-content-end"
        >
          <button
            class="btn btn-primary"
            data-bs-dismiss="modal"
          >
            <span>{{ $translator.trans( 'Add' ) }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SubmitButton from '../../ui/SubmitButton'
import AdditionalsTimezonesSelector from '../additionals-timezones-selector/AdditionalsTimezonesSelector'
// import {mapGetters} from "vuex";
export default {
  name: 'SessionAddTimezonesModal',
  components: {
    SubmitButton,
    AdditionalsTimezonesSelector
  },
  props: {
    id: {
      type: String,
      required: true
    },
    session: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    listNewTimezones: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    referer: {
      type: String, // wizardcreate | sessionedit
      required: true
    }
  },
  data () {
    return {
      processing: false,
      modal: null,
      selectedTimezones: []
    }
  },
  computed: {

  },
  mounted () {
    // this.getListNewAdditionalsTimezones()
    this.modal = new this.$bootstrap.Modal(document.getElementById(this.id))
    this.selectedTimezones = this.$store.getters['sessionAdditionalsTimezonesSelector/getTimezonesOfSession']
  },
  methods: {
    addTimezones () {
      const route = this.$routing.generate('_session_update_additionals_timezones', { id: this.session.id })
      const timezones = this.selectedTimezones

      this.processing = true

      this.$axios
        .post(route, { timezones: timezones })
        .then(() => {
          window.location.href = this.$routing.generate('_session_get', { id: this.session.id })
        })
        .catch(() => {
          const message = this.$translator.trans('Unable to save changes')
          alert(message)
        })
        .finally(() => {
          this.processing = false
        })
    },
    getListNewAdditionalsTimezones () {
      this.$axios.post(this.$routing.generate('_session_get_list_new_additionals_timezones', { id: this.session.id }))
        .catch((error) => {
          if ('message' in error.response.data) {
            this.error = error.response.data.message.text
          }
        }).then((response) => {
        }).finally(() => {
        })
    }
  }
}
</script>
