<template>
  <form
    id="nav-convoc"
    class="tab-pane fade active show"
    role="tabpanel"
  >
    <div
      v-if="!session.client.enableSendEmail"
    >
      <div class="alert alert-warning alert-dismissible">
        {{ $translator.trans('Access information emails (convocation, reminders, cancellation...) will not be sent by Mylivesession Manager. They have been disabled in your account settings. Probably, users will receive login information sent by another application.') }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <!--        <div class="form__item">
          <label for="user-global-modele-convoc">
            {{ $translator.trans( 'Convocation template' ) }}
          </label>
          <div class="input-group">
            <select
              id="user-global-modele-convoc"
              v-model="session.convocation.id"
              class="form-select"
              @change="setSession"
            >
              <option
                  v-for="(value, key) in convocationsModels"
                  :key="value.id"
                  :value="value.id"
              >
                {{ value.name }}
              </option>
            </select>
            <span class="view" />
          </div>
        </div>-->
        <div class="form__item">
          <label for="user-convoc-send-date">
            {{ $translator.trans( 'Date and hour of sending convocations' ) }}
          </label>
          <div
            v-if="!session.isConvocationSent"
            class="input-container d-flex align-items-center"
          >
            <div class="input-group">
              <datetime
                v-model="session.notificationDate"
                :disabled="canUpdateNotificationDate"
                class="input-group datetime-picker-primary w-100"
                type="datetime"
                :format="$dateTime.DATETIME_MED"
                input-id="user-convoc-send-date"
                input-class="form-control date inline"
                :phrases="{ok: $translator.trans( 'OK' ), cancel: $translator.trans( 'Cancel' )}"
                :use12-hour="false"
                auto
              >
                <template slot="after">
                  <div class="input-group-text d-flex align-items-center justify-content-center">
                    <img
                      src="/build/static/icons/calendar-date-green.svg"
                      class="calendar"
                    >
                  </div>
                </template>
              </datetime>
            </div>
            <div class="input-actions">
              <img
                src="/build/static/icons/question.svg"
                data-bs-placement="left"
                data-bs-toggle="tooltip"
                :title="$translator.trans('By default, the date and time for sending out iconvocations  have been defined in your account settings. However, you can change them for this specific session')"
              >
            </div>
          </div>
          <div
            v-else
            class="input-container d-flex align-items-center"
          >
            <div class="input-group">
              <input
                id="user-convoc-send-date"
                :value="session.notificationDate|formatDate('datetime_med')"
                type="text"
                readonly="readonly"
                disabled="disabled"
                class="date form-control inline"
              >
              <div class="input-group-text d-flex align-items-center justify-content-center">
                <img
                  src="/build/static/icons/calendar-date-green.svg"
                  class="calendar"
                >
              </div>
            </div>
          </div>
        </div>
        <h3 class="mt-56 mb-3">
          {{ $translator.trans( 'Date and hour of sending reminder' ) }}
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('By default, the date and time for sending out reminders  have been defined in your account settings. However, you can change them for this specific session')"
          >
          <img
            src="/build/static/icons/add-filter.svg"
            alt="picto add filter"
            :title="$translator.trans('Add a new reminder date')"
            class="add-filter cursor-pointer ms-3"
            @click="addField($event, input, session.dateOfSendingReminders)"
          >
        </h3>
        <div
          v-for="(input, index) in session.dateOfSendingReminders"
          :key="`reminderDateInput-${index}`"
          class="form__item date-rappel-block"
        >
          <div class="input-container d-flex align-items-center">
            <div class="input-group">
              <datetime
                v-model="session.dateOfSendingReminders[index]"
                :disabled="readOnly"
                class="input-group datetime-picker-primary w-100"
                type="datetime"
                :format="$dateTime.DATETIME_MED"
                :input-id="`user-convoc-date-rappel-${index}`"
                input-class="form-control date inline"
                :phrases="{ok: $translator.trans( 'OK' ), cancel: $translator.trans( 'Cancel' )}"
                :use12-hour="false"
                auto
              >
                <template slot="after">
                  <div class="input-group-text d-flex align-items-center justify-content-center">
                    <img
                      src="/build/static/icons/calendar-date-green.svg"
                      class="calendar"
                    >
                  </div>
                </template>
              </datetime>
            </div>
            <div class="input-actions">
              <img
                src="/build/static/icons/delete-filter.svg"
                alt="picto delete filter"
                @click="removeField($event, index, session.dateOfSendingReminders)"
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <loader v-if="loader" />
        <div
          v-else
          class="form__item"
        >
          <label for="user-file">
            {{ $translator.trans( 'Attachment' ) }} (20 Mo)
          </label>
          <div class="input-container d-flex align-items-center">
            <div class="input-group">
              <div class="file-upload-container w-100">
                <input
                  id="user-file"
                  type="file"
                  class="form-control w-100"
                  :accept="ALL_FORMATS_FORMATTED"
                  @change="onFileChange"
                >
              </div>
            </div>
          </div>
          <span
            class="mt-1"
            style="font-size: 14px"
          >{{ $translator.trans('File format:') }} {{ ALL_FORMATS_STRING }}</span>
          <div
            v-if="errors.attachments !== null"
            class="invalid-feedback d-block"
          >
            {{ errors.attachments }}
          </div>
          <div
            v-for="attachment in session.attachments"
            :key="attachment.id"
            class="input-container d-flex align-items-center"
          >
            <div
              v-if="attachment.fileName !== 'empty'"
              class="input-container d-flex align-items-center"
            >
              <div class="input-group">
                <div class="w-100">
                  <a :href="$routing.generate('_session_attachment_download', { token: attachment.token })">{{ attachment.originalName }}</a>
                </div>
              </div>
              <div class="input-actions">
                <img
                  src="/build/static/icons/delete-filter.svg"
                  :title="$translator.trans('Remove the attachment')"
                  @click="removeAttachment(attachment.id)"
                >
              </div>
            </div>
            <div
              v-else
            >
              <div class="text-muted">
                {{ attachment.originalName }}
              </div>
            </div>
          </div>
          <div><i>{{ $translator.trans('To meet our digital ecology approach, attachments are kept for 30 days after the end of the session.') }}</i></div>
        </div>
        <!--
        <div class="row">
          <div class="form-container">
            <div class="form__checklist">
              <div class="form-check">
                <input
                  id="user-convoc-send-email"
                  v-model="session.sendInvitationEmails"
                  class="form-check-input"
                  type="checkbox"
                >
                <label
                  class="form-check-label"
                  for="user-convoc-send-email"
                >
                  {{ $translator.trans( 'Send the convocation emails' ) }}
                </label>
              </div>
              <div class="form-check">
                <input
                  id="user-convoc-send-rappel"
                  v-model="session.enableSendRemindersToAnimators"
                  class="form-check-input"
                  type="checkbox"
                >
                <label
                  class="form-check-label"
                  for="user-convoc-send-rappel"
                >
                  {{ $translator.trans( 'Sending reminders to animators' ) }}
                </label>
              </div>
            </div>
          </div>
        </div>-->
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form__item custom-block">
          <label for="user-convoc-custom-content">
            {{ $translator.trans( 'Custom content' ) }}
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('Add a link or document for pre-session work, group-specific instructions, local phone numbers for participants in foreign countries. This content will appear in the pre-defined location in the invitation template if you requested it when setting up your account.')"
            >
          </label>
          <TinymceInput
            id="user-convoc-custom-content"
            :name="'user-convoc-custom-content'"
            :on-change-callback="onChangePersonalizedContentCallback"
            :is-disabled="readOnly"
          >
            <template #default-value>
              {{ session.personalizedContent }}
            </template>
          </TinymceInput>
        </div>
        <!--        <div class="d-flex justify-content-end">-->
        <!--          <button class="btn btn-primary">-->
        <!--            {{ $translator.trans( 'Preview the convocation' ) }}-->
        <!--          </button>-->
        <!--        </div>-->
      </div>
    </div>
  </form>
</template>

<script>

import { mapGetters, mapState } from 'vuex'
import TinymceInput   from '../../ui/TinymceInput'
import { Datetime }   from 'vue-datetime'
import axios from 'axios'
import { routing, translator } from '../../../utils/app.utils'
import Loader from '../../ui/Loader.vue'
import { ALL_FORMATS, ALL_FORMATS_FORMATTED, ALL_FORMATS_STRING } from '../../../utils/fileUpload.utils'

export default {
  name: 'SessionConvocationsTab',
  components: {
    Loader,
    TinymceInput,
    Datetime
  },
  data () {
    return {
      ALL_FORMATS: ALL_FORMATS,
      ALL_FORMATS_STRING: ALL_FORMATS_STRING,
      ALL_FORMATS_FORMATTED: ALL_FORMATS_FORMATTED,
      convocationsModels : [],
      loader: false
    }
  },
  computed: {
    ...mapState('session', ['readOnly', 'errors']),
    ...mapGetters({ session: 'session/getSession' }),
    convocations: function () {
      return this.convocationsModels.filter((model) => {
        const connexionType = this.session.connexionTypeSession
        const language = this.session.language
        if (connexionType === 'Telephone' || connexionType === 'Hybrid') {
          return model.status && (model.typeAudio === 'PGi EMEA' || model.typeAudio === 'PGi NA' || model.typeAudio === 'InterCall' || model.typeAudio === 'MeetingOne EMEA' || model.typeAudio === 'MeetingOne NA') && model.languages === language
        } else {
          return model.status && (model.typeAudio === 'AUDIO VOIP' || model.typeAudio === null) && model.languages === language
        }
      })
    },
    canUpdateNotificationDate () {
      return this.readOnly || this.session.readableState === 'Sent'
    }
  },
  mounted () {
    this.convocationsModels = this.session.abstractProviderConfigurationHolder.client.convocations
  },
  methods: {
    setSession () {
      const curentConvocation = this.convocations.find((element) => element.id === this.session.convocation.id)
      if (curentConvocation) {
        this.session.convocation.languages = curentConvocation.languages
        this.session.convocation.name = curentConvocation.name
        this.session.convocation.status = curentConvocation.status
        this.session.convocation.typeAudio = curentConvocation.typeAudio
      }
      this.$store.commit('session/setSession', this.session)
    },
    onChangePersonalizedContentCallback (event, editor) {
      this.session.personalizedContent = editor.getBody().innerHTML
      this.setSession()
    },
    addField (event, input, fieldType) {
      if (event.target.attributes.readonly !== undefined) {
        return
      }

      fieldType.push('')
    },
    removeField (event, index, fieldType) {
      if (event.target.attributes.readonly !== undefined) {
        return
      }

      fieldType.splice(index, 1)
    },
    onFileChange (e) {
      this.loader = true
      const files = e.target.files || e.dataTransfer.files

      if (!files.length) {
        return
      }

      const formData = new FormData()
      formData.append('file', files[0])
      formData.append('format', ALL_FORMATS)

      axios.post(
        routing.generate('_session_attachment_upload'),
        formData,
        {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }
      ).then((response) => {
        this.$store.commit('session/addAttachmentsSuccess', response)
        this.loader = false
      }).catch((error) => {
        this.loader = false
        if ('data' in error.response && 'message' in error.response.data && 'text' in error.response.data.message) {
          this.$store.commit('session/addAttachmentsCatch', error.response.data.message.text)
        } else {
          this.$store.commit('session/addAttachmentsCatch', translator.trans('Attachment could not be uploaded for unknown reason.'))
        }
      })
    },
    removeAttachment (attachmentId) {
      this.$store.commit('session/removeAttachment', attachmentId)
    }
  }
}
</script>
