<template>
  <section>
    <alert
      v-if="updateSuccessfully"
      type="success"
      :text="$translator.trans( 'The session has been updated' )"
    />
    <div class="errors">
      <alert
        v-for="(error, index) in errors.form"
        :key="index"
        type="danger"
        :text="$translator.trans(error)"
      />
    </div>
    <div
      v-if="hasNoAudioAllowed()"
      class="warning"
    >
      <div
        class="alert alert-dismissible align-items-start d-flex fade justify-content-between p-3 show"
        :class="`alert-warning`"
        role="alert"
      >
        <div
          v-html="$translator.trans('No audio profile is available for this summon template in this time slot (at audio profile level)')"
        />
      </div>
    </div>
    <div
      v-if="hasWebinarWarning"
      class="warning"
    >
      <div
        class="alert alert-dismissible align-items-start d-flex fade justify-content-between p-3 show"
        :class="`alert-warning`"
        role="alert"
      >
        <div
          v-html="$translator.trans( 'Finalize the configuration of your session by adding a confirmation type communication.' )"
        />
      </div>
    </div>
    <nav>
      <div
        id="nav-tab-user"
        class="nav nav-tabs mb-3"
        role="tablist"
      >
        <template v-for="(tab, index) in tabList">
          <button
            v-if="tab.condition"
            :id="tab.name.toLocaleLowerCase() + '-tab'"
            :key="index"
            class="nav-link ps-0"
            :class="[{
              'active' : isActiveTab(tab.name)
            }]"
            data-bs-toggle="tab"
            :data-bs-target="'#-' + tab.name.toLocaleLowerCase() + '-tab'"
            type="button"
            role="tab"
            @click="changeActiveTab(tab.name)"
          >
            {{ $translator.trans(tab.title) }}
          </button>
        </template>
      </div>
    </nav>
    <div
      id="nav-tabContent"
      class="tab-content pb-4 pt-4"
    >
      <component
        :is="activeTab"
        v-if="loaded"
        :client-id="session.abstractProviderConfigurationHolder.client.id"
        v-bind="tabComponentBinding"
        :is-help-task-details="isHelpTaskDetails"
        :list-new-timezones="listNewTimezones"
        :user="user"
        :session="session"
        :import-restrictions="importRestrictions"
        @change-active-tab="changeActiveTab($event)"
      />
    </div>
  </section>
</template>

<script>
import SessionParticipantsTab from './SessionParticipantsTab'
import SessionGeneralTab               from './SessionGeneralTab'
import SessionCertificatesTab           from './SessionCertificatesTab'
import SessionConvocationsTab          from './SessionConvocationsTab'
import SessionCommunicationTab          from './SessionCommunicationTab'
import SessionAttendanceEvaluationsTab from './SessionAttendanceEvaluationsTab'
import SessionAttendanceTab from './SessionAttendanceTab'
import SessionEvaluationsTab from './SessionEvaluationsTab'
import SessionReplayTab                 from './SessionReplayTab'
import SessionServicesTab              from './SessionServicesTab'
import SessionSelfRegistrationTab      from './SessionSelfRegistrationTab'
import SessionActivityLogTab           from './SessionActivityLogTab'
import eventBus from '../../../eventBus'
import {
  adobeConnectSharedMeetingTemplate,
  PROVIDER_ADOBE_CONNECT
} from '../../../utils/adobe-connect-configuration-holder.utils'
import {
  adobeConnectWebinarSharedMeetingTemplate,
  PROVIDER_ADOBE_CONNECT_WEBINAR
} from '../../../utils/adobe-connect-webinar-configuration-holder.utils'
import FormValidationMixin from '../../../mixin/FormValidationMixin'
import Alert from '../../ui/Alert'
import {
  CATEGORY_SESSION_REUNION, CATEGORY_SESSION_WEBINAR
} from '../../../store/module/session'

export default {
  components: {
    Alert,
    SessionParticipantsTab,
    SessionGeneralTab,
    SessionConvocationsTab,
    SessionCommunicationTab,
    SessionAttendanceEvaluationsTab,
    SessionAttendanceTab,
    SessionEvaluationsTab,
    SessionReplayTab,
    SessionCertificatesTab,
    SessionServicesTab,
    SessionSelfRegistrationTab,
    SessionActivityLogTab
  },
  mixins: [FormValidationMixin],
  props: {
    session: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    tabName: {
      type: String,
      required: true
    },
    bouncedMails: {
      type: Array,
      required: false,
      default: () => []
    },
    sessionNatureValues: {
      type: Object,
      required: true
    },
    clientServices: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    clientModules: {
      type: Array,
      required: false,
      default: () => []
    },
    readOnly: {
      type: Boolean,
      required: true
    },
    showUpdateSuccess: {
      type: Boolean,
      required: false,
      default: false
    },
    userActions: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    user: {
      type: Object,
      required: true
    },
    isHelpTaskDetails: {
      type: Boolean,
      required: false,
      default: false
    },
    listNewTimezones: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    importRestrictions: {
      type: Object,
      required: false,
      default: () => { return {} }
    }
  },
  data () {
    return {
      loaded: false,
      isMeetingType: true,
      isWebinar: false,
      activeTab: this.tabName,
      updateSuccessfully: this.showUpdateSuccess,
      sessionData: this.session,
      clientServicesData: this.clientServices,
      clientModulesData: this.clientModules
    }
  },
  computed: {
    tabList () {
      return [
        {
          title: 'Participants',
          name: 'SessionParticipantsTab',
          condition: true
        },
        {
          title: 'General',
          name: 'SessionGeneralTab',
          condition: true
        },
        {
          title: 'Convocations',
          name: 'SessionConvocationsTab',
          condition: !this.isWebinar
        },
        {
          title: 'Communication',
          name: 'SessionCommunicationTab',
          condition: this.isWebinar
        },
        /* {
          title: 'Attendance & evaluations',
          name: 'SessionAttendanceEvaluationsTab',
          condition: this.isMeetingType
        }, */
        {
          title: 'Attendance',
          name: 'SessionAttendanceTab',
          condition: this.isMeetingType
        },
        {
          title: 'Evaluations',
          name: 'SessionEvaluationsTab',
          condition: this.isMeetingType
        },
        {
          title: 'Replay',
          name: 'SessionReplayTab',
          condition: this.isWebinar
        },
        {
          title: 'Certificates',
          name: 'SessionCertificatesTab',
          condition: this.isMeetingType
        },
        {
          title: 'Services',
          name: 'SessionServicesTab',
          condition: true
        },
        {
          title: 'Registration',
          name: 'SessionSelfRegistrationTab',
          condition: true
        },
        {
          title: 'Activity log',
          name: 'SessionActivityLogTab',
          condition: true
        }
      ]
    },
    tabComponentBinding () {
      switch (this.activeTab) {
        case 'SessionParticipantsTab':
          return {
            bouncedMails: this.bouncedMails,
            session: this.session
          }
        case 'SessionServicesTab':
          return { clientServices: this.clientServices }
        case 'SessionAttendanceEvaluationsTab':
          return { isMeetingType: this.isMeetingType }
        case 'SessionAttendanceTab':
          return { isMeetingType: this.isMeetingType }
        case 'SessionEvaluationsTab':
          return { isMeetingType: this.isMeetingType }
        case 'SessionCertificatesTab':
          return { isMeetingType: this.isMeetingType }
        case 'SessionSelfRegistrationTab':
          return { clientModules: this.clientModulesData }
        case 'SessionActivityLogTab':
          return { user: this.user }
        default:
          return {}
      }
    },
    hasWebinarWarning () {
      return this.session.category === CATEGORY_SESSION_WEBINAR && !this.session.webinarConvocation.filter(communication => communication.convocationType === 'confirmation').length
    }
  },
  mounted () {
    this.$store.commit('currentUser/setCurrentUser', this.user)
    eventBus.$on('SESSION_UPDATED', () => {
      window.location.href = this.$routing.generate('_session_get', {
        id: this.session.id,
        tabName: this.activeTab,
        updateSuccessfully: true
      })
    })

    if (this.session.abstractProviderConfigurationHolder.provider === PROVIDER_ADOBE_CONNECT) {
      adobeConnectSharedMeetingTemplate(this.session.abstractProviderConfigurationHolder.id)
        .then(sharedMeetingTemplates => {
          let roomModelName = ''
          sharedMeetingTemplates.forEach((item) => {
            if (item.uniq_identifier === this.session.roomModel) {
              roomModelName = item.name
            }
          })

          this.sessionData.roomModelName = roomModelName
        })
    }

    if (this.session.abstractProviderConfigurationHolder.provider === PROVIDER_ADOBE_CONNECT_WEBINAR) {
      adobeConnectWebinarSharedMeetingTemplate(this.session.abstractProviderConfigurationHolder.id)
        .then(sharedMeetingTemplates => {
          let roomModelName = ''
          sharedMeetingTemplates.forEach((item) => {
            if (item.uniq_identifier === this.session.roomModel) {
              roomModelName = item.name
            }
          })

          this.sessionData.roomModelName = roomModelName
        })
    }

    this.$store.commit('session/readOnly', this.readOnly)
    this.$store.commit('session/setSession', this.sessionData)
    this.$store.commit('session/setNatureValues', this.sessionNatureValues)
    this.$store.commit('session/userActions', this.userActions)
    this.isMeetingType = this.session.category !== CATEGORY_SESSION_REUNION
    this.isWebinar = this.session.category === CATEGORY_SESSION_WEBINAR

    this.loaded = true
  },
  methods: {
    changeActiveTab (tabName) {
      this.activeTab = tabName
    },
    isActiveTab (tabName) {
      return this.activeTab === tabName
    },
    deleteFormError: function (error) {
      this.errors.form.splice(this.errors.form.indexOf(error), 1)
    },
    hasNoAudioAllowed () {
      let isNotAllowedAudioAndDraft = false
      if (this.session.providerAudio === null) {
        isNotAllowedAudioAndDraft = true
      } else {
        if (this.session.providerAudio.providerAudioType === null && this.session.aDraft && this.session.convocation.categoryTypeAudio !== 'Computer') {
          isNotAllowedAudioAndDraft = true
        }
      }
      return isNotAllowedAudioAndDraft
    }
  }
}
</script>
