<template>
  <div
    id="nav-participants"
    aria-labelledby="nav-participants-tab"
    class="form tab-pane fade show active"
    role="tabpanel"
  >
    <div class="d-flex part-1">
      <div class="page-options-bar__item pr">
        <div class="page-options-bar__item__search with-result">
          <label for="searchInParticipant">
            <img src="/build/static/icons/search.svg">
          </label>
          <input
            id="searchInParticipant"
            v-model="globalParticipantSearchInput"
            type="search"
            name="searchInParticipant"
            :placeholder="$translator.trans('Search registrants')"
            @input="searchParticipantsUpdated"
          >
          <div class="search-sessions-counter">
            <b>{{ countResultAnimators }}</b>
            &nbsp;&nbsp;{{ $translator.trans('found animator.s') }}
            <br>
            <b>{{ countResultTrainees }}</b>
            &nbsp;&nbsp;{{ $translator.trans('found participant.s') }}
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="!isHelpTaskDetails"
      class="page-options-bar justify-content-end"
    >
      <div class="d-flex">
        <!--                <div class="page-options-bar__item d-flex align-items-center" role="button" data-bs-toggle="dropdown"-->
        <!--                    aria-expanded="false">-->
        <!--                  <img src="/build/static/icons/send-message.svg" class="me-2">-->
        <!--                  <span class="d-sm-none d-md-block"><b>Envoyer</b></span>-->
        <!--                </div>-->
        <!--                <ul class="dropdown-menu dropdown-menu-end">-->
        <!--                  <li><button class="dropdown-item d-flex align-items-center" type="button"><img src="/build/static/icons/send-green.svg" alt="picto send green"><span>Envoyer un email aux participants</span></button></li>-->
        <!--                  <li><button class="dropdown-item d-flex align-items-center" type="button"><img src="/build/static/icons/send-green.svg" alt="picto send green"><span>Envoyer les attestations de formation</span></button></li>-->
        <!--                </ul>-->
        <!--                <div class="page-options-bar__item d-flex align-items-center" role="button">-->
        <!--                  <img src="/build/static/icons/import.svg" height="20" class="me-2">-->
        <!--                  <span class="d-sm-none d-md-block"><b>Importer</b></span>-->
        <!--                </div>-->
        <div class="d-flex part-2 me-5">
          <div
            data-bs-toggle="modal"
            data-bs-target="#send_email_"
            role="button"
          >
            <img
              src="/build/static/icons/send-message.svg"
              class="me-2"
            >
            {{ $translator.trans( 'Sending' ) }}
          </div>
        </div>
        <send-email-to-participants-modal
          id="send_email_"
          :session="session"
          @endSendMessage="endSendMessageProcess"
        />
        <div
          v-if="'update_participant' in userActions && userActions.update_participant"
          class="d-flex part-2"
        >
          <div
            class="btn-group export-dropdown"
            :title="$translator.trans('Download the import file template')"
          >
            <div
              class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              role="button"
              data-bs-auto-close="outside"
            >
              <img src="/build/static/icons/import.svg">
              <span class="d-sm-none d-md-block me-2">{{ $translator.trans( 'Import' ) }}</span>
            </div>
            <users-upload-file
              :clients="[session.client]"
              :referer="'/participant/list'"
              :restrictions="importRestrictions"
            />
          </div>
        </div>
        <div
          v-if="'update_participant' in userActions && userActions.update_participant"
          class="page-options-bar__item d-flex align-items-center"
          data-bs-toggle="modal"
          data-bs-target="#addParticipant"
          role="button"
        >
          <img
            src="/build/static/icons/plus.svg"
            class="me-2"
          >
          <span class="d-sm-none d-md-block"><b>{{ $translator.trans( 'Manage' ) }}</b></span>
        </div>
        <div
          id="addParticipant"
          class="modal fade"
          tabindex="-1"
        >
          <session-add-participants-modal />
        </div>
      </div>
    </div>
    <alert
      v-if="sendingEmailSuccess"
      :text="$translator.trans( 'The emails sended with success')"
      type="success"
    />
    <transition
      v-for="message in flashBackMessages"
      :key="message"
      name="fade"
    >
      <alert
        :text="$translator.trans( 'The convocation was sent to %userName% for the session %session%' , {
          userName: message,
          session: session.name
        })"
        type="success"
      />
    </transition>
    <div
      class="row"
      :class="{'mt-5': isHelpTaskDetails}"
    >
      <div class="col-lg-12">
        <div class="data-list table-participants">
          <span>
            <h3 class="mb-2">
              {{ $translator.trans( 'Hosts' ) }}
            </h3>

            <div class="data-list__header">
              <div class="data-list__header__item ps-0">
                {{ $translator.trans( 'First name' ) }}
              </div>
              <div class="data-list__header__item">
                {{ $translator.trans( 'Last name' ) }}
              </div>
              <div class="data-list__header__item">
                {{ $translator.trans( 'Email' ) }}
              </div>
              <div
                v-if="sessionHaveGroups()"
                class="data-list__header__item"
              />
              <div
                v-if="session.category === 6"
                class="data-list__header__item"
              >
                {{ $translator.trans('Blended training') }}
              </div>
              <div class="data-list__header__item" />
              <div class="data-list__header__item" />
              <div class="data-list__header__item small-item" />
            </div>
            <alert
              v-if="allAnimators.length === 0"
              type="danger"
              :text="$translator.trans( 'There is no trainer for this session' )"
            />
            <div
              v-else
              class="table-content data-list__row-small"
            >
              <session-participant-list-item
                v-for="animator in allAnimators"
                :key="animator.id"
                :participant-role="animator"
                :action-wheel="true"
                :bounced-mails="bouncedMails"
                class="data-list__row"
              >
                <template #pictos-actions>
                  <div v-if="'send_convocation' in userActions && userActions.send_convocation && session.client.enableSendEmail">
                    <a
                      @click="convocationSend(animator)"
                    >
                      <loader
                        v-if="sendingEmail[animator.id] === 'sending'"
                        style="padding-right: 13px;"
                      />
                      <img
                        v-else
                        data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        :title="$translator.trans(sendingEmail[animator.id] !== 'sent' ? 'Send the convocation' : 'Convocation sent')"
                        class="me-4"
                        :src="sendingEmail[animator.id] !== 'sent' ? '/build/static/icons/email.svg' : '/build/static/icons/check-participant.svg'"
                      >
                    </a>
                  </div>
                  <preview-convocation :trainee="animator" />
                  <!--                  <div>
                      <img class="me-4" src="/build/static/icons/newsletter.svg">
                    </div>-->
                  <div class="d-flex flex-row align-items-center">
                    <loader
                      v-if="presenceLoader[animator.id]"
                      style="margin-right: 1rem"
                    />
                    <template v-else>
                      <a
                        v-if="!animator.manualPresenceStatus"
                        role="button"
                        @click="manualPresenceOrNot(animator)"
                      >
                        <img
                          data-bs-toggle="tooltip"
                          data-bs-placement="right"
                          :title="$translator.trans('Mark as present')"
                          class="me-4"
                          src="/build/static/icons/user-add.svg"
                        >
                      </a>
                      <a
                        v-if="animator.manualPresenceStatus"
                        role="button"
                        @click="manualPresenceOrNot(animator)"
                      >
                        <img
                          data-bs-toggle="tooltip"
                          data-bs-placement="right"
                          :title="$translator.trans('Undo as present')"
                          class="me-4"
                          src="/build/static/icons/a-check.svg"
                        >
                      </a>
                    </template>
                    <span
                      v-if="isLicense(animator)"
                      class="badge bg-primary"
                      data-bs-toggle="tooltip"
                      data-bs-placement="right"
                      :title="showLicenceAttribute"
                    >
                      {{ $translator.trans('Licence') }}
                    </span>
                    <span
                      v-if="isOrganizerForThisConnector(animator) && !isLicense(animator)"
                      class="badge bg-primary"
                      data-bs-toggle="tooltip"
                      data-bs-placement="right"
                    >
                      {{ $translator.trans('Organizer') }}
                    </span>
                    <!--                    <div class="pastille align-self-center"></div>-->
                  </div>
                </template>
              </session-participant-list-item>
            </div>
          </span>
          <section
            v-if="processingAnimator"
            class="d-flex justify-content-center align-items-center"
          >
            <loader class="mb-4 pb-4" />
          </section>

          <div class="mt-4" />
          <div class="data-list table-participants">
            <span>
              <h3 class="mb-2">
                {{ $translator.trans( 'Participants' ) }}
              </h3>
              <div class="data-list__header">
                <div class="data-list__header__item ps-0">
                  {{ $translator.trans( 'First name' ) }}
                </div>
                <div class="data-list__header__item">
                  {{ $translator.trans( 'Last name' ) }}
                </div>
                <div class="data-list__header__item">
                  {{ $translator.trans( 'Email' ) }}
                </div>
                <div
                  v-if="sessionHaveGroups()"
                  class="data-list__header__item"
                />
                <div
                  v-if="session.category === 6"
                  class="data-list__header__item"
                />
                <div class="data-list__header__item" />
                <div class="data-list__header__item" />
                <div class="data-list__header__item small-item" />
              </div>
              <alert
                v-if="allParticipants.length === 0"
                type="danger"
                :text="$translator.trans( 'There are no participants for this session' )"
              />
              <div
                v-else
                class="table-content data-list__row-small"
              >
                <session-participant-list-item
                  v-for="trainee in allParticipants"
                  :key="trainee.id"
                  :participant-role="trainee"
                  :action-wheel="true"
                  :bounced-mails="bouncedMails"
                >
                  <template #pictos-actions>
                    <div v-if="'send_convocation' in userActions && userActions.send_convocation && session.client.enableSendEmail">
                      <a
                        @click="convocationSend(trainee)"
                      >
                        <loader
                          v-if="sendingEmail[trainee.id] === 'sending'"
                          style="padding-right: 13px;"
                        />
                        <img
                          v-else
                          data-bs-toggle="tooltip"
                          data-bs-placement="right"
                          :title="$translator.trans(sendingEmail[trainee.id] !== 'sent' ? 'Send the convocation' : 'Convocation sent')"
                          class="me-4"
                          :src="sendingEmail[trainee.id] !== 'sent' ? '/build/static/icons/email.svg' : '/build/static/icons/check-participant.svg'"
                        >
                      </a>
                    </div>
                    <preview-convocation :trainee="trainee" />
                    <div class="d-flex flex-row align-items-center">
                      <loader
                        v-if="presenceLoader[trainee.id]"
                        style="margin-right: 1rem"
                      />
                      <template v-else>
                        <a
                          v-if="!trainee.manualPresenceStatus"
                          role="button"
                          @click="manualPresenceOrNot(trainee)"
                        >
                          <img
                            data-bs-toggle="tooltip"
                            data-bs-placement="right"
                            :title="$translator.trans('Mark as present')"
                            class="me-4"
                            src="/build/static/icons/user-add.svg"
                          >
                        </a>
                        <a
                          v-if="trainee.manualPresenceStatus"
                          role="button"
                          @click="manualPresenceOrNot(trainee)"
                        >
                          <img
                            data-bs-toggle="tooltip"
                            data-bs-placement="right"
                            :title="$translator.trans('Undo as present')"
                            class="me-4"
                            src="/build/static/icons/a-check.svg"
                          >
                        </a>
                      </template>
                      <span
                        v-if="isOrganizerForThisConnector(trainee)"
                        class="badge bg-primary"
                        data-bs-toggle="tooltip"
                        data-bs-placement="right"
                      >
                        {{ $translator.trans('Organizer') }}
                      </span>
                    </div>
                    <!--                      <div class="pastille align-self-center"></div>-->
                  </template>
                </session-participant-list-item>
              </div>
            </span>
            <section
              v-if="processingTrainee"
              class="d-flex justify-content-center align-items-center"
            >
              <loader class="mb-4 pb-4" />
            </section>
            <span
              v-else-if="noMoreResult"
              class="d-flex justify-content-end align-items-center text-muted"
            >
              {{ $translator.trans('End of result') }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { mapGetters, mapState } from 'vuex'
import SessionTabMixin             from '../../../mixin/SessionTabMixin'
import { findAllUserForAClient }   from '../../../utils/session-members-selector.utils'
import Alert                       from '../../ui/Alert'
import SessionAddParticipantsModal from './SessionParticipantsAddModal'
import SessionParticipantListItem  from './SessionParticipantListItem'
import SendEmailToParticipantsModal from './SendEmailToParticipantsModal'
import PreviewConvocation from './PreviewConvocation'
import Loader from '../../ui/Loader.vue'
import _ from 'lodash'
import UsersUploadFile from '../../users/UsersUploadFile.vue'

export default {
  name:       'SessionParticipantsTab',
  components: {
    UsersUploadFile,
    PreviewConvocation,
    Alert,
    SessionParticipantListItem,
    SessionAddParticipantsModal,
    SendEmailToParticipantsModal,
    Loader
  },
  mixins: [SessionTabMixin],
  props:      {
    importRestrictions: {
      type: Object,
      required: false,
      default: () => { return {} }
    },
    clientId: {
      type:     Number,
      required: false,
      default:  null
    },
    preSearch: {
      type: String,
      required: false,
      default: ''
    },
    bouncedMails: {
      type: Array,
      required: false,
      default: () => []
    },
    isHelpTaskDetails: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      globalParticipantSearchInput: this.preSearch,
      processingTrainee:            false,
      processingAnimator:           false,
      noMoreResult:                 false,
      secondCall:                   false,
      countResultTrainees:          0,
      countResultAnimators:         0,
      lastResult:                   0,
      allParticipants:              {},
      allAnimators:                 {},
      sendingEmail: {},
      sendingEmailSuccess: false,
      flashBackMessages: {},
      presenceLoader: {},
      showLicenceAttribute: null
    }
  },
  computed:   {
    ...mapGetters({ sessionIsLoaded: 'session/sessionIsLoaded' }),
    ...mapState('session', ['readOnly', 'userActions'])
  },
  watch:      {
    sessionIsLoaded (loaded) {
      this.setMembersOfSession(loaded)
    }
  },
  created () {
    this.setMembersOfSession(this.sessionIsLoaded)
    this.setGroupsOfSession(this.sessionIsLoaded)
  },
  mounted () {
    const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    const vm = this
    tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new vm.$bootstrap.Tooltip(tooltipTriggerEl)
    })
    this.newSearchAnimators()
    this.newSearchParticipants()
    window.onscroll = _.debounce(() => {
      const windowHeight = Math.ceil(document.documentElement.scrollTop + window.innerHeight)
      const offsetHeight  = document.documentElement.offsetHeight
      const bottomOfWindow = windowHeight >= offsetHeight

      if (bottomOfWindow && !this.noMoreResult) {
        this.fetchNewParticipants()
      }
    }, 300)
  },
  methods: {
    endSendMessageProcess () {
      this.sendingEmailSuccess = true
    },
    convocationSend (user) {
      this.$set(this.sendingEmail, user.id, 'sending')
      this.$axios.get(this.$routing.generate('_convocation_send', { id: user.id })).then((response) => {
        this.$set(this.sendingEmail, user.id, 'sent')
        this.$set(this.flashBackMessages, user.id, user.fullName)
        setTimeout(() => {
          this.$delete(this.flashBackMessages, user.id)
        }, 6 * 1000)
      }).catch(() => {
        this.$delete(this.flashBackMessages, user.id)
      })
    },
    setMembersOfSession (loaded) {
      if (loaded) {
        this.$store.commit('sessionMembersSelector/setMembersOfSession', this.session.participantRoles)
        findAllUserForAClient(this.session.client.id)
          .then((users) => {
            this.$store.commit('sessionMembersSelector/setAvailableUsers', users)
          })
      }
    },
    setGroupsOfSession (loaded) {
      if (loaded) {
        this.$store.commit('sessionMembersSelector/setGroupsOfSession', this.session.groupsParticipants)
        this.$store.commit('sessionMembersSelector/setAvailableGroups', this.session.client.groups)
      }
    },
    isLicense (animator) {
      if (this.session.abstractProviderConfigurationHolder.type === 'adobe_connect') {
        if (this.session.abstractProviderConfigurationHolder.automaticLicensing &&
            animator.participant.email in this.session.abstractProviderConfigurationHolder.licences &&
            this.session.abstractProviderConfigurationHolder.licences[animator.participant.email].shared) {
          this.showLicenceAttribute = this.$translator.trans('This is the person who will have the privilege of opening the session, even in the presence of other registered hosts. To choose another person, add another "Organizer" participant and choose "Set as License" in the participant options.')
          return true
        } else {
          return false
        }
      } else if (this.session.abstractProviderConfigurationHolder.type === 'microsoft_teams_event') {
        if (this.session.abstractProviderConfigurationHolder.licences[animator.participant.email]) {
          if (this.session.licence === this.session.abstractProviderConfigurationHolder.licences[animator.participant.email].licenceAttributed) {
            this.showLicenceAttribute = this.$translator.trans('This is the person who will have the privilege of opening the session, even in the presence of other registered hosts. To choose another person, add another "Organizer" participant and choose "Set as License" in the participant options.')
            return true
          } else {
            this.showLicenceAttribute = this.$translator.trans('This is the person who will have the privilege of opening the session, even in the presence of other registered hosts. To choose another person, add another "Organizer" participant and choose "Set as License" in the participant options.')
            return this.session.licence === animator.participant.email
          }
        } else {
          return false
        }
      }
      this.showLicenceAttribute = animator.participant.email
      return this.session.licence === animator.participant.email
    },
    searchParticipantsUpdated: _.debounce(function () {
      this.newSearchAnimators()
      this.newSearchParticipants()
    }, 300),
    newSearchParticipants () {
      this.processingTrainee = true
      this.$axios.get(this.$routing.generate(
        '_fetch_participant_session_list',
        { id: this.session.id, search: this.globalParticipantSearchInput, firstResult: 0, needCount: 1 }
      )).then((response) => {
        this.allParticipants   = response.data.participants
        this.countResultTrainees       = response.data.count
        this.lastResult        = this.allParticipants.length
        this.noMoreResult      = false
        this.processingTrainee = false
        this.secondCall        = true
      }).catch(() => {
        this.processingTrainee = false
      })
    },
    fetchNewParticipants () {
      if (this.secondCall) {
        this.processingTrainee = true
        this.$axios.get(this.$routing.generate(
          '_fetch_participant_session_list',
          { id: this.session.id, search: this.globalParticipantSearchInput, firstResult: this.lastResult, needCount: 0 }
        )).then((response) => {
          if (response.data.participants.length === 0) {
            this.noMoreResult = true
          }
          this.allParticipants   = [...this.allParticipants, ...response.data.participants]
          this.lastResult        = this.allParticipants.length
          this.processingTrainee = false
        }).catch(() => {
          this.processingTrainee = false
        })
      }
    },
    newSearchAnimators () {
      this.processingAnimator = true
      this.$axios.get(this.$routing.generate(
        '_fetch_animator_session_list',
        { id: this.session.id, search: this.globalParticipantSearchInput }
      )).then((response) => {
        this.allAnimators = response.data.participants
        this.countResultAnimators = response.data.count
        this.processingAnimator = false
      }).catch(() => {
        this.processingAnimator = false
      })
    },
    manualPresenceOrNot (participant) {
      this.$set(this.presenceLoader, participant.id, true)

      const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      tooltipTriggerList.forEach((tooltipTriggerEl) => {
        const tooltip = this.$bootstrap.Tooltip.getOrCreateInstance(tooltipTriggerEl)
        tooltip.hide()
      })

      this.$axios.get(this.$routing.generate('_participant_update_manual_presence_status', { id: participant.id, presence: !participant.manualPresenceStatus ? 1 : 0, tabName: 'SessionParticipantsTab' }))
        .then((response) => {
          participant.manualPresenceStatus = !participant.manualPresenceStatus
          this.$set(this.presenceLoader, participant.id, false)
        }).catch(() => {})
    },
    sessionHaveGroups () {
      return this.session.groupsParticipants.length > 0
    },
    isOrganizerForThisConnector (ppsr) {
      return this.session.abstractProviderConfigurationHolder?.licences?.[ppsr.email] ?? false
    }
  }
}
</script>
