<template>
  <div class="row">
    <div class="col-lg-12">
      <legend class="table-services mb-4">
        {{ $translator.trans('Log Book') }}
      </legend>
      <div class="data-list">
        <div class="data-list__header">
          <div class="data-list__header__item ps-0">
            {{ $translator.trans('Created By') }}
          </div>
          <div class="data-list__header__item ps-0">
            {{ $translator.trans('Created at') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Number of web logins') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Total number of logins') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Problems faced by the participants') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Problems faced by the animator') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Feeling of the assistant') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Description') }}
          </div>
        </div>
        <div class="table-content data-list__row-small">
          <div
            v-for="answer in answers"
            :key="answer.animator"
            class="data-list__row"
          >
            <div class="row__data">
              {{ answer.animator.name }}
            </div>
            <div class="row__data">
              {{ answer.replyDateTime }}
            </div>
            <div class="row__data">
              {{ answer[5]['value'] }}
            </div>
            <div class="row__data">
              {{ answer[6]['value'] }}
            </div>
            <div class="row__data">
              {{ answer[7]['displayValue'] }}
            </div>
            <div class="row__data">
              {{ answer[8]['displayValue'] }}
            </div>
            <div class="row__data">
              {{ answer[9]['displayValue'] }}
            </div>
            <div class="row__data">
              {{ answer[10]['value'] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SessionLogBook',
  props: {
    answers: {
      type: Array,
      required: false,
      default: () => []
    }
  }
}
</script>

<style scoped>

</style>
