<template>
  <div>
    <h2>{{ $translator.trans( 'Common' ) }}</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm convocation-shorts-codes">
        <thead>
          <tr>
            <th>Short code</th>
            <th>{{ $translator.trans( 'Description' ) }}</th>
            <th class="example">
              {{ $translator.trans( 'Example' ) }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="shortCode in shortCodesCommon"
            :key="shortCode.code"
          >
            <td><code>{{ shortCode.code }}</code></td>
            <td>{{ $translator.trans( shortCode.title ) }}</td>
            <td
              v-html="shortCode.example"
            />
          </tr>
        </tbody>
      </table>
    </div>
    <h2>{{ $translator.trans( 'Conditions' ) }}</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm convocation-shorts-codes">
        <thead>
          <tr>
            <th>Short code</th>
            <th>{{ $translator.trans( 'Description' ) }}</th>
            <th class="example">
              {{ $translator.trans( 'Example' ) }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="shortCode in conditionShortCodes"
            :key="shortCode.code"
          >
            <td><code>{{ shortCode.code }}</code></td>
            <td>{{ $translator.trans( shortCode.title ) }}</td>
            <td
              v-html="shortCode.example"
            />
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>

export default {
  name:       'ShortsCodesEvaluationMailModal',
  data () {
    const shortCodesCommonConst = [
      { code: '__name__', title: 'Session title', example: '<small> ' + this.$translator.trans('My session title') + ' </small>' },
      { code: '__duration__', title: 'Duration of the session', example: '<span class="badge badge-sm bg-primary">FR</span> <small>09h55m</small><br><span class="badge badge-sm bg-primary">EN</span> <small>09:55</small>' },
      { code: '__date_start__', title: 'Start date in "day/month/year" format', example: '<span class="badge badge-sm bg-primary">FR</span> <small>14/08/2021</small><br><span class="badge badge-sm bg-primary">EN</span> <small>2021/08/14</small>' },
      { code: '__date_start_time_zone__', title: 'Displays the list of time zones for the session start date', example: '<div><span class="badge badge-sm bg-primary">FR</span> <ul> <li> Europe/Paris (GMT +02:00) : 10:08 (21/08/2022) </li> <li> Asia/Magadan (GMT +11:00) : 19:08 (21/08/2023)  </li> </ul></div><div><span class="badge badge-sm bg-primary">EN</span> <ul> <li> Europe/Paris (GMT +02:00) : 10:08 am (2022/08/21) </li> <li> Asia/Magadan (GMT +11:00) : 07:08 pm (2023/08/21) </li> </ul></div>' },
      { code: '__date_start_year__', title: 'Year of the start date in 4 digit format', example: '<small>2021</small>' },
      { code: '__date_start_month__', title: 'Month of the start date in 2 digit format', example: '<small>08</small>' },
      { code: '__date_start_month_text__', title: 'Month of the start date in letter and automatically translated into the language', example: '<span class="badge badge-sm bg-primary">FR</span> <small>Août</small><br><span class="badge badge-sm bg-primary">EN</span> <small>August</small>' },
      { code: '__date_start_day__', title: 'Day of the start date in 2 digit format', example: '<small>14</small>' },
      { code: '__date_start_day_text__', title: 'Day of the start date in letter and automatically translated into the language', example: '<span class="badge badge-sm bg-primary">FR</span> <small>Samedi</small><br><span class="badge badge-sm bg-primary">EN</span> <small>Saturday</small>' },
      { code: '__date_start_day_suffixed__', title: 'Day of the start date format 1 or 2 digits followed by (st, nt, rd or th for English) or (er, ème for French)', example: '<span class="badge badge-sm bg-primary">FR</span> <small>14ème</small><br><span class="badge badge-sm bg-primary">EN</span> <small>14th</small>' },
      { code: '__hour_start__', title: 'hour:minute of the start date in 24h format', example: '<small>09:08</small>' },
      { code: '__hour_start_12h__', title: 'hour:minute of the start date format 12h followed by (am or pm in English) or (matin ou après-midi in French)', example: '<span class="badge badge-sm bg-primary">FR</span> <small>21:08 après-midi</small><br><span class="badge badge-sm bg-primary">EN</span> <small>09:08 pm</small>' },
      { code: '__hour_end__', title: 'hour:minute of the end date in 24h format', example: '<small>19:08</small>' },
      { code: '__hour_end_12h__', title: 'hour:minute of the end date format 12h followed by (am or pm in English) or (matin ou après-midi in French)', example: '<span class="badge badge-sm bg-primary">FR</span> <small>07:08 après-midi</small><br><span class="badge badge-sm bg-primary">EN</span> <small>07:08 pm</small>' },
      { code: '__langue__', title: 'Session language', example: '<span class="badge badge-sm bg-primary">FR</span> <small>français</small><br><span class="badge badge-sm bg-primary">EN</span> <small>English</small>' },
      { code: '__evaluation_link__', title: 'Evaluation access link for group', example: '<small>http://managerpp300.mylivesession.com/session/evaluation/lobby-evaluation-session/1</small>' },
      { code: '__evaluation_link_personally__', title: 'Personal access link to the assessment', example: '<small>http://managerpp300.mylivesession.com/session/evaluation/answer-session/1/participant/aGNlVjIyd2RTZ3BITG9jQU41dhRUZ1ZTVkajg9</small>' },
      { code: '__username__', title: 'User name in "First Name LAST NAME" format', example: '<small>Prénom NOM</small>' },
      { code : '__nbr_days__', title: 'Number of days', example: '<small>1</small>' },
      { code : '__rest_lunch__', title: 'Rest', example: '<small>180</small>' },
      { code : '__location__', title: 'Place', example: '<small>Paris</small>' },
      { code : '__animator_list__', title: 'List of animators', example: '<ul style="list-style-type: disc;"><li>Prénom NOM</li> <li>Prénom NOM</li></ul>' },
      { code: '__objectifs__', title: 'List of objectifs', example: '<ul style="list-style-type: disc;"><li>Objectif N°1</li> <li>Objectif N°2</li></ul>' }
    ]
    const conditionShortCodesConst = [
      { code: '__if_is_animator__', title: 'Start of the conditional block for animators only', example: '<pre>__if_is_animator__<br>   ' + this.$translator.trans('Text displayed for animators only') + '<br>__if_end__</pre>' },
      { code: '__if_is_participant__', title: 'Start of the conditional block for particpants only', example: '<pre>__if_is_participant__<br>  ' + this.$translator.trans('Text displayed for participants only') + '<br>__if_end__</pre>' },
      { code: '__if_end__', title: 'End of the conditionnal block', example: 'N/A' },
      { code: '__if_is_presential_session__', title: 'Start of conditional block for sessions with the "face to face" category only', example: '<pre>__if_is_presential_session__<br>  ' + this.$translator.trans('Text displayed for face to face sessions only') + '<br>__if_end__</pre>' },
      { code: '__if_is_mixte_session__', title: 'Start of conditional block for sessions with the "Mixed" category only', example: '<pre>__if_is_mixte_session__<br>  ' + this.$translator.trans('Text displayed for mixed sessions only') + '<br>__if_end__</pre>' },
      { code: '__if_is_distantial_participant__', title: 'Start of conditional block for remote participants only', example: '<pre>__if_is_distantial_participant__<br>  ' + this.$translator.trans('Text displayed for remote participants only') + '<br>__if_end__</pre>' },
      { code: '__if_is_presential_participant__', title: 'Start of conditional block for face-to-face participants only', example: '<pre>__if_is_presential_participant__<br>  ' + this.$translator.trans('Text displayed for face to face participants only') + '<br>__if_end__</pre>' }
    ]
    return {
      shortCodesCommon: shortCodesCommonConst,
      conditionShortCodes: conditionShortCodesConst
    }
  }
}
</script>
