<template>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header px-4 py-3">
        <h5
          id="exampleModalLabel"
          class="modal-title"
        >
          {{ $translator.trans( 'Shorts codes of convocations' ) }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        />
      </div>
      <div class="modal-body">
        <h2>{{ $translator.trans( 'Common' ) }}</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm convocation-shorts-codes">
            <thead>
              <tr>
                <th>Short code</th>
                <th>{{ $translator.trans( 'Description' ) }}</th>
                <th class="example">
                  {{ $translator.trans( 'Example' ) }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="shortCode in shortCodesCommon"
                :key="shortCode.code"
              >
                <td><code>{{ shortCode.code }}</code></td>
                <td>{{ $translator.trans( shortCode.title ) }}</td>
                <td
                  v-html="shortCode.example"
                />
              </tr>
            </tbody>
          </table>
        </div>
        <h2>{{ $translator.trans( 'Adobe Connect' ) }}</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm convocation-shorts-codes">
            <thead>
              <tr>
                <th>Short code</th>
                <th>{{ $translator.trans( 'Description' ) }}</th>
                <th class="example">
                  {{ $translator.trans( 'Example' ) }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="shortCode in shortCodesAdobeConnect"
                :key="shortCode.code"
              >
                <td><code>{{ shortCode.code }}</code></td>
                <td>{{ $translator.trans( shortCode.title ) }}</td>
                <td
                  v-html="shortCode.example"
                />
              </tr>
            </tbody>
          </table>
        </div>
        <h2>{{ $translator.trans( 'Webex Meeting' ) }}</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm convocation-shorts-codes">
            <thead>
              <tr>
                <th>Short code</th>
                <th>{{ $translator.trans( 'Description' ) }}</th>
                <th class="example">
                  {{ $translator.trans( 'Example' ) }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="shortCode in shortCodesWebexMeeting"
                :key="shortCode.code"
              >
                <td><code>{{ shortCode.code }}</code></td>
                <td>{{ $translator.trans( shortCode.title ) }}</td>
                <td
                  v-html="shortCode.example"
                />
              </tr>
            </tbody>
          </table>
        </div>
        <h2>{{ $translator.trans( 'Microsoft Teams' ) }}</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm convocation-shorts-codes">
            <thead>
              <tr>
                <th>Short code</th>
                <th>{{ $translator.trans( 'Description' ) }}</th>
                <th class="example">
                  {{ $translator.trans( 'Example' ) }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="shortCode in shortCodesMicrosoftTeams"
                :key="shortCode.code"
              >
                <td><code>{{ shortCode.code }}</code></td>
                <td>{{ $translator.trans( shortCode.title ) }}</td>
                <td
                  v-html="shortCode.example"
                />
              </tr>
            </tbody>
          </table>
        </div>
        <h2>{{ $translator.trans( 'Microsoft Teams Event' ) }}</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm convocation-shorts-codes">
            <thead>
              <tr>
                <th>Short code</th>
                <th>{{ $translator.trans( 'Description' ) }}</th>
                <th class="example">
                  {{ $translator.trans( 'Example' ) }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="shortCode in shortCodesMicrosoftTeamsEvent"
                :key="shortCode.code"
              >
                <td><code>{{ shortCode.code }}</code></td>
                <td>{{ $translator.trans( shortCode.title ) }}</td>
                <td
                  v-html="shortCode.example"
                />
              </tr>
            </tbody>
          </table>
        </div>
        <h2>{{ $translator.trans( 'White connector' ) }}</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm convocation-shorts-codes">
            <thead>
              <tr>
                <th>Short code</th>
                <th>{{ $translator.trans( 'Description' ) }}</th>
                <th class="example">
                  {{ $translator.trans( 'Example' ) }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="shortCode in shortCodesWhiteConnector"
                :key="shortCode.code"
              >
                <td><code>{{ shortCode.code }}</code></td>
                <td>{{ $translator.trans( shortCode.title ) }}</td>
                <td
                  v-html="shortCode.example"
                />
              </tr>
            </tbody>
          </table>
        </div>
        <h2>{{ $translator.trans( 'Conditions' ) }}</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm convocation-shorts-codes">
            <thead>
              <tr>
                <th>Short code</th>
                <th>{{ $translator.trans( 'Description' ) }}</th>
                <th class="example">
                  {{ $translator.trans( 'Example' ) }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="shortCode in conditionShortCodes"
                :key="shortCode.code"
              >
                <td><code>{{ shortCode.code }}</code></td>
                <td>{{ $translator.trans( shortCode.title ) }}</td>
                <td
                  v-html="shortCode.example"
                />
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name:       'ShortsCodesModal',
  data () {
    const shortCodesCommonConst = [
      { code: '__name__', title: 'Session title', example: '<small> ' + this.$translator.trans('My session title') + ' </small>' },
      { code: '__duration__', title: 'Duration of the session', example: '<span class="badge badge-sm bg-primary">FR</span> <small>09h55m</small><br><span class="badge badge-sm bg-primary">EN</span> <small>09:55</small>' },
      { code: '__date_start__', title: 'Start date in "day/month/year" format', example: '<span class="badge badge-sm bg-primary">FR</span> <small>14/08/2021</small><br><span class="badge badge-sm bg-primary">EN</span> <small>2021/08/14</small>' },
      { code: '__date_start_time_zone__', title: 'Displays the list of time zones for the session start date', example: '<div><span class="badge badge-sm bg-primary">FR</span> <ul> <li> Europe/Paris (GMT +02:00) : 10:08 (21/08/2022) </li> <li> Asia/Magadan (GMT +11:00) : 19:08 (21/08/2023)  </li> </ul></div><div><span class="badge badge-sm bg-primary">EN</span> <ul> <li> Europe/Paris (GMT +02:00) : 10:08 am (2022/08/21) </li> <li> Asia/Magadan (GMT +11:00) : 07:08 pm (2023/08/21) </li> </ul></div>' },
      { code: '__date_start_year__', title: 'Year of the start date in 4 digit format', example: '<small>2021</small>' },
      { code: '__date_start_month__', title: 'Month of the start date in 2 digit format', example: '<small>08</small>' },
      { code: '__date_start_month_text__', title: 'Month of the start date in letter and automatically translated into the language', example: '<span class="badge badge-sm bg-primary">FR</span> <small>Août</small><br><span class="badge badge-sm bg-primary">EN</span> <small>August</small>' },
      { code: '__date_start_day__', title: 'Day of the start date in 2 digit format', example: '<small>14</small>' },
      { code: '__date_start_day_text__', title: 'Day of the start date in letter and automatically translated into the language', example: '<span class="badge badge-sm bg-primary">FR</span> <small>Samedi</small><br><span class="badge badge-sm bg-primary">EN</span> <small>Saturday</small>' },
      { code: '__date_start_day_suffixed__', title: 'Day of the start date format 1 or 2 digits followed by (st, nt, rd or th for English) or (er, ème for French)', example: '<span class="badge badge-sm bg-primary">FR</span> <small>14ème</small><br><span class="badge badge-sm bg-primary">EN</span> <small>14th</small>' },
      { code: '__hour_start__', title: 'hour:minute of the start date in 24h format', example: '<small>09:08</small>' },
      { code: '__hour_start_12h__', title: 'hour:minute of the start date format 12h followed by (am or pm in English) or (matin ou après-midi in French)', example: '<span class="badge badge-sm bg-primary">FR</span> <small>21:08 après-midi</small><br><span class="badge badge-sm bg-primary">EN</span> <small>09:08 pm</small>' },
      { code: '__hour_end__', title: 'hour:minute of the end date in 24h format', example: '<small>19:08</small>' },
      { code: '__hour_end_12h__', title: 'hour:minute of the end date format 12h followed by (am or pm in English) or (matin ou après-midi in French)', example: '<span class="badge badge-sm bg-primary">FR</span> <small>07:08 après-midi</small><br><span class="badge badge-sm bg-primary">EN</span> <small>07:08 pm</small>' },
      { code: '__langue__', title: 'Session language', example: '<span class="badge badge-sm bg-primary">FR</span> <small>français</small><br><span class="badge badge-sm bg-primary">EN</span> <small>English</small>' },
      { code: '__login_url__', title: 'User access link', example: '<small>https://manager.mylivesession.com/session/access/p3s2P+BwKrxAy*TqHULs%26%25W8</small>' },
      { code: '__username__', title: 'User name in "First Name LAST NAME" format', example: '<small>Prénom NOM</small>' },
      { code: '__personalized_content__', title: 'Custom content to fill in in session details', example: '<small><h6>Cras faucibus sapien eros</h6><br/><p>Et pellentesque elit tristique eget. <u>Fusce scelerisque nisl et nunc tempor feugiat.</u> Quisque feugiat pharetra dui, <i>eget gravida mi. Sed condimentum suscipit vestibulum.</i> Pellentesque vitae magna sagittis, <b>aliquet sem in</b>, sollicitudin purus. Nunc elementum lorem ac quam viverra ultricies.</p></small>' },
      { code: '__addevent_url__', title: 'Link to add an event to calendar', example: '<small>https://manager.mylivesession.com/session/add-to-calendar/p3s2P+BwKrxAy*TqHULs%26%25W8</small>' },
      { code : '__animator_access_link__', title: 'Link to access the session. The animator can not update, but can send convocation or act on the presence.', example: '<small>https://manager.mylivession.com/session/1?token=token</small>' },
      { code : '__eval_prest_pres__', title: 'Link to access the evaluation', example: '<small>https://manager.mylivession.com/session/evaluation/lobby/1?</small>' },
      { code : '__releve_pres__', title: 'Link to access the remote signature', example: '<small>https://manager.mylivession.com/attendance/signature/lobby/1</small>' },
      { code : '__nbr_days__', title: 'Number of days', example: '<small>1</small>' },
      { code : '__rest_lunch__', title: 'Rest', example: '<small>180</small>' },
      { code : '__location__', title: 'Place', example: '<small>Paris</small>' },
      { code : '__animator_list__', title: 'List of animators', example: '<ul style="list-style-type: disc;"><li>Prénom NOM</li> <li>Prénom NOM</li></ul>' },
      { code: '__objectifs__', title: 'List of objectifs', example: '<ul style="list-style-type: disc;"><li>Objectif N°1</li> <li>Objectif N°2</li></ul>' },
      { code: '__session_replay__', title: 'Replay of session', example: '<small>https://app.mylivesession.com/weblink/live-session-/74/replay/token</small>' }
    ]
    const shortCodesAdobeConnectConst = [
      { code: '__room_url__', title: 'Virtual room access url provided by Adobe', example: '<small>https://livesession2.adobeconnect.com/attzbfivzn/</small>' },
      { code: '__audio_real_number__', title: 'Conference phone number as entered in the Account form OR by default the number provided by Adobe', example: '<small>04xxxxxxxx</small>' },
      { code: '__audio_shared_number__', title: 'Conference phone number provided by Adobe', example: '<small>0808xxxxxxx</small>' },
      { code: '__audio_animator_code__', title: 'Code Pin Animator', example: '<small>54878744</small>' },
      { code: '__audio_participant_code__', title: 'Conference code', example: '<small>264678</small>' },
      { code: '__audio_meetingone_conference_id__', title: 'Audio MeetingOne Conference Id', example: '<small>741258</small>' },
      { code: '__licence_adobe_connect_email__', title: 'Adobe Connect license email', example: '' },
      { code: '__licence_adobe_connect_password__', title: 'Adobe Connect license password', example: '' }
    ]
    const shortCodesWebexMeetingConst = [
      { code: '__audio_real_number__', title: 'Conference phone number as entered in the Account form OR by default the number provided by Webex Meeting', example: '<small>+33 1 70 xx xx xx</small>' },
      { code: '__audio_animator_code__', title: 'Code Pin Animator', example: '<small>712 xxx</small>' },
      { code: '__audio_animator_code_concat__', title: 'Code Pin Animator without space', example: '<small>712xxx</small>' },
      { code: '__audio_participant_code__', title: 'Conference code', example: '<small>274 xxxx xxxx</small>' }
    ]
    const shortCodesMicrosoftTeamsConst = [
      { code: '__licence_microsoft_teams_email__', title: 'Microsoft Teams license email', example: '<small>ingenierie@76tszc.onmicrosoft.com</small>' },
      { code: '__licence_microsoft_teams_password__', title: 'Microsoft Teams license password', example: '<small>123456</small>' },
      { code: '__audio_real_number__', title: 'Conference phone number as entered in the Account form OR by default the number provided by Webex Meeting', example: '<small>+33 1 70 xx xx xx</small>' },
      { code: '__audio_animator_code__', title: 'Code Pin Animator', example: '<small>712 xxx</small>' },
      { code: '__audio_participant_code__', title: 'Conference code', example: '<small>274 xxxx xxxx</small>' },
      { code: '__host_opening_session_name__', title: 'The firstname and lastname of the person who has the privilege of opening the session', example: '<small>Inge Nierie</small>' },
      { code: '__host_opening_session_email__', title: 'The email of the person who has the privilege of opening the session', example: '<small>ingenierie@76tszc.onmicrosoft.com</small>' },
      { code: '__host_opening_session_password__', title: 'The password for opening the session', example: '<small>ZXufGBCkvLXglxoKO</small>' }
    ]
    const shortCodesMicrosoftTeamsEventConst = [
      { code: '__licence_microsoft_teams_event_email__', title: 'Microsoft Teams Event license email', example: '<small>ingenierie@76tszc.onmicrosoft.com</small>' },
      { code: '__licence_microsoft_teams_event_password__', title: 'Microsoft Teams Event license password', example: '<small>123456</small>' },
      { code: '__audio_real_number__', title: 'Conference phone number as entered in the Account form OR by default the number provided by Webex Meeting', example: '<small>+33 1 70 xx xx xx</small>' },
      { code: '__audio_animator_code__', title: 'Code Pin Animator', example: '<small>712 xxx</small>' },
      { code: '__audio_participant_code__', title: 'Conference code', example: '<small>274 xxxx xxxx</small>' },
      { code: '__host_opening_session_name__', title: 'The firstname and lastname of the person who has the privilege of opening the session', example: '<small>Inge Nierie</small>' },
      { code: '__host_opening_session_email__', title: 'The email of the person who has the privilege of opening the session', example: '<small>ingenierie@76tszc.onmicrosoft.com</small>' },
      { code: '__host_opening_session_password__', title: 'The password for opening the session', example: '<small>ZXufGBCkvLXglxoKO</small>' }
    ]
    const shortCodesWhiteConnectorConst = [
      { code: '__room_url_universal__', title: 'Virtual room access url provided by other softer', example: '<small>https://vimeo.com/attzbfivzn/</small>' },
      { code: '__connection_information_universal__', title: 'Login information for the presenter', example: '<small>123456</small>' }
    ]
    const conditionShortCodesConst = [
      { code: '__if_is_animator__', title: 'Start of the conditional block for animators only', example: '<pre>__if_is_animator__<br>   ' + this.$translator.trans('Text displayed for animators only') + '<br>__if_end__</pre>' },
      { code: '__if_is_participant__', title: 'Start of the conditional block for particpants only', example: '<pre>__if_is_participant__<br>  ' + this.$translator.trans('Text displayed for participants only') + '<br>__if_end__</pre>' },
      { code: '__if_end__', title: 'End of the conditionnal block', example: 'N/A' },
      { code: '__if_is_presential_session__', title: 'Start of conditional block for sessions with the "face to face" category only', example: '<pre>__if_is_presential_session__<br>  ' + this.$translator.trans('Text displayed for face to face sessions only') + '<br>__if_end__</pre>' },
      { code: '__if_is_mixte_session__', title: 'Start of conditional block for sessions with the "Mixed" category only', example: '<pre>__if_is_mixte_session__<br>  ' + this.$translator.trans('Text displayed for mixed sessions only') + '<br>__if_end__</pre>' },
      { code: '__if_is_distantial_participant__', title: 'Start of conditional block for remote participants only', example: '<pre>__if_is_distantial_participant__<br>  ' + this.$translator.trans('Text displayed for remote participants only') + '<br>__if_end__</pre>' },
      { code: '__if_is_presential_participant__', title: 'Start of conditional block for face-to-face participants only', example: '<pre>__if_is_presential_participant__<br>  ' + this.$translator.trans('Text displayed for face to face participants only') + '<br>__if_end__</pre>' },
      { code: '__if_is_an_adobe_connect_session__', title: 'Start of conditional block for Adobe Connect session only', example: '<pre>__if_is_an_adobe_connect_session__<br>  ' + this.$translator.trans('Text displayed for Adobe Connect session only') + '<br>__if_end__</pre>' },
      { code: '__if_is_a_webex_meeting_session__', title: 'Start of conditional block for Webex Meeting session only', example: '<pre>__if_is_a_webex_meeting_session__<br>  ' + this.$translator.trans('Text displayed for Webex Meeting session only') + '<br>__if_end__</pre>' },
      { code: '__if_is_a_microsoft_teams_session__', title: 'Conditional block start for Microsoft Teams session only', example: '<pre>__if_is_a_microsoft_teams_session__<br>  ' + this.$translator.trans('Text displayed for Microsoft Teams session only') + '<br>__if_end__</pre>' },
      { code: '__if_is_a_universal_connector_session__', title: 'Conditional block start for Connector universal session only', example: '<pre>__if_is_a_universal_connector_session__<br>  ' + this.$translator.trans('Text displayed for Universal Connector session only') + '<br>__if_end__</pre>' },
      { code: '__if_is_a_microsoft_teams_shared_licence__', title: 'Conditional block start for Microsoft Teams shared license only', example: '<pre>__if_is_a_microsoft_teams_shared_licence__<br>  ' + this.$translator.trans('Text displayed for Microsoft Teams shared licences only.') + '<br>__if_end__</pre>' },
      { code: '__if_is_an_adobe_connect_shared_licence__', title: 'Conditional block start for Adobe Connect shared license only', example: '<pre>__if_is_an_adobe_connect_shared_licence__<br>  ' + this.$translator.trans('Text displayed for Adobe Connect shared license only.') + '<br>__if_end__</pre>' }
    ]
    return {
      shortCodesCommon: shortCodesCommonConst,
      shortCodesAdobeConnect: shortCodesAdobeConnectConst,
      shortCodesWebexMeeting: shortCodesWebexMeetingConst,
      shortCodesMicrosoftTeams: shortCodesMicrosoftTeamsConst,
      shortCodesMicrosoftTeamsEvent: shortCodesMicrosoftTeamsEventConst,
      shortCodesWhiteConnector: shortCodesWhiteConnectorConst,
      conditionShortCodes: conditionShortCodesConst
    }
  }
}
</script>
