{% extends 'main.html.twig' %}
{% set routeActive = '_registration_page_index' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('registration-page-index') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('registration-page-index') }}
{% endblock %}
{% block main %}
    <div class="page-title">
        <h1>{{ title|trans }}</h1>
    </div>
    <div class="col-md-12">
        {% include('flash_messages.html.twig') %}
    </div>
    <div id="registration-page-index">
        <registration-page-index
                :client="{{ client|serialize('json', {'groups': 'read_client'}) }}"
                :list-registration-page-templates="{{ listRegistrationPageTemplates|serialize('json', {'groups': 'ui:registration_page_template:read'}) }}"
                :is-admin="{{ is_granted('ROLE_ADMIN')?'true':'false' }}"
                :clients="{{ clients|serialize('json', {'groups': 'read_client'}) }}"
        ></registration-page-index>
    </div>
{% endblock %}