{% extends 'blank_page.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('base-registration-page') }}
{% endblock %}

{% block base_body %}
    <div class="landing-page">
        <div class="container-bg-img min-vh-100 min-vw-100 d-flex justify-content-center align-items-center">
            <div class="content-main h-100 position-relative overflow-hidden mx-auto text-center">
                <div class="logo-container">
                    <img src="{{ asset('build/static/LiveSessionLogo.svg') }}" alt="logo Live Session">
                </div>
                <h1 class="heading-landing-1 mb-3">{{ 'The page you are looking for is no longer available.'|trans }}</h1>
                <small class="style-p">
                    <span>{{ 'For more information, you can contact our customer service by email at'|trans }}</span>
                    <span class="fw-bold">serviceclient@live-session.fr</span>
                    <span>{{ 'or by phone at'|trans }}</span>
                    <span class="fw-bold">+33 (0)970 440 168.</span>
                </small>
            </div>
        </div>
    </div>
{% endblock %}
