.page-options-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    @media (max-width: $xl ) {

        flex-direction: column;

        .part-1, .part-2 {
            width: 100%;
            margin-bottom: $_margin-sm;
        }
    }

    &__item {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }

        &__search {
            position: relative;

            &.with-result {
                input[type=search] {
                    border-bottom-right-radius:0;
                }

                .search-sessions-counter {
                    display: block;
                }

                .search-sessions-filter {
                    display: block;
                }
            }

            label {
                position: absolute;
                left: 20px;
                height: 48px;
                display: flex;
                align-items: center;
            }

            input[type=search] {
                height: 48px;
                width: 500px;
                background-color: $gray-300;
                border-radius: 25px;
                border: none;
                display: block;
                background-clip: padding-box;
                appearance: none;
                outline: none;
                transition: $transition-base;
                padding: 0 70px 0 50px;

                @media (max-width: $xl ) {
                    width: 550px;
                }
            }

            .search-sessions-counter {
                @include font-size(12px);
                position: absolute;
                bottom:-32px;
                right: 0;
                background-color: $gray-300;
                display: flex;
                align-items: center;
                border-radius: 0 0 15px 15px;
                padding: 4px 15px 10px 15px;
            }
        }

        .search-switch {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }

        &__filters {
            height: 48px;
            border-radius: 24px 24px 0 0;
            background-color: $gray-300;
            display: flex;
            align-items: center;
            padding: 0 $_padding;
            width: 100px;
        }
    }

    .search-sessions-filter {
        &:first-letter {
            text-transform: uppercase;
        }

        @include font-size(12px);
        background-color: $gray-300;
        display: block;
        align-items: center;
        border-radius: 0 0 24px 24px;
        padding: 6px 15px;
    }
}

.session-display {
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 $_padding-sm;
    border-radius: 24px;
    background-color: $gray-300;

    &__item {
        @include circle(35px);
        @extend %d-flex-center;
        margin: 0 5px;
        background-color: $gray-300;

        img {
            filter: brightness(0);
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover, &:focus, &:active, &.active {
            background-color: $primary;
            img {
                filter: brightness(100);
            }
        }
    }
}
