// user-nav.scss

.user-nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transition: $transition-base;

    &__overlay {
        position: fixed;
        background-color: rgba($white, 0);
        transition: $transition-base;
    }

    &__container {
        position: fixed;
        width: 338px;
        height: 100vh;
        left: calc(100% + 10px); // 10px = largeur de l'ombre
        padding: 30px;
        background-color: $gray-300;
        border-left: $_border;
        transition: $transition-base;
        box-shadow: $box-shadow;
    }

    &__user-nav-closer {
        width: $_thumb-pressure-zone;
        height: $_thumb-pressure-zone;
        @extend %d-flex-center;
        position: absolute;
        top: $_margin-sm;
        right: $_margin-sm;
    }

    &__title {
        @include font-size(20px);
        font-weight: 700;
    }

    &__subtitle {
        font-weight: 600;
    }

    &__account-switch-link {
        @include font-size(12px);
    }

    &__account-sub-link {
        @include font-size(12px);
    }

    &__list-item-container {
        list-style: none;
        margin-top: $_margin-lg;
        padding-left: 0;
    }

    &__item {
        &:not(:last-of-type) {
            margin-bottom: $_margin;
        }

        a {
            display: flex;
            align-items: center;
            font-weight: 600;
            color: $black;

            &:hover {
                color: $primary;
            }
        }

        i {
            font-style: italic;
            margin-left: 5px;
        }

        img {
            margin-right: $_margin-sm;
        }
    }
}

// lorsque la user-nav est ouverte, on lui
// ajoute la classe "user-nav--is-open". Et tous ces
// enfants prennent les propriétés qui suivent:
.user-nav--is-open {
    z-index: 1000;

    .user-nav {
        &__overlay {
            background-color: rgba($white, 0.8);
            width: 100%;
            height: 100%;
        }

        &__container {
            transform: translateX(-100%);
        }
    }
}
