$_primary-btn-height: 48px;

.primary-btn {
    @extend %d-iflex-center;
    height: $_primary-btn-height;
    padding: 0 $input-btn-padding-x;
    @include colors-bc($primary, $white);
    border-radius: $btn-border-radius;
    box-shadow: $btn-primary-box-shadow;
    transition: $transition-base;
    border: none;

    &:hover,
    &:focus {
        box-shadow: none !important;
        @include colors-bc($gray-500, $white);
    }

    &:active {
        box-shadow: none !important;
        @include colors-bc($gray-100, $white);
    }
}

.form-check-input {
    border-color: $_border-color;

    &:checked[type="radio"] {
        background-image: none;
        border-color: $_border-color;
        background: radial-gradient(circle, rgba(128, 188, 0, 1) 49%, rgba(255, 255, 255, 1) 51%);
    }

    &:checked[type="checkbox"] {
        position: relative;
        background: $white;
        background-image: none;
        border-color: $_border-color;

        &:after {
            @extend %pos-abs-center;
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 1px;
            background: $primary;
        }
    }
}

.btn {
    @extend %d-iflex-center;
    transition: $transition-base;

    &-light {
        background-color: rgba(black, 0.06);
        color: $black;
        border: solid $border-width transparent;

        &:hover,
        &:focus,
        &:active {
            @include colors-bc($black, $white);
            border: $border-width solid transparent;
            box-shadow: none !important;
        }
    }

    &-white {
        background-color: $white;
        color: $black;
        border: solid $border-width transparent;

        &:hover,
        &:focus,
        &:active {
            background-color: $white;
            color: $primary;
            box-shadow: none !important;
        }
    }
}

.btn-sm {
    @extend .btn;
    padding: .25rem $_padding-sm;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px !important;
    height: 27px !important;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider:before {
            transform: translateX(23px);
            background-color: $primary;
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        transition: 0.2s;
        border: 1px solid rgba(black, 0.15);
        border-radius: 34px;

        &:before {
            position: absolute;
            content: "";
            height: 21px;
            width: 21px;
            left: 2px;
            bottom: 2px;
            background-color: $gray-500;
            transition: 0.2s;
            border-radius: 50%;
        }

        &.not-allowed {
            cursor: not-allowed;
        }
    }
}

//Custom btn

.btn-primary {
    background-color: $primary;
    color:#fff;

    &:focus, &:hover {
        box-shadow: none !important;
        @include colors-bcb($gray-500, $white, $gray-500)
    }

    &:active, &.active {
        box-shadow: none !important;
        @include colors-bcb($gray-100, $white, $gray-100)
    }
}


.badge {
    display: inline-block;
    cursor: default;
    padding: 8px 15px;
    @include font-size(12px);
    font-weight: 600;
    line-height: 1;
    color: $white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 4px;
    background-color: #8C8D8E;

    &-sm {
        padding: .35em .65em;
    }

    &.bg-alert { background-color: $red !important; }
    &.bg-primary { background-color: $primary-soft !important; }
    &.bg-in-progress { background-color: $purple !important; }
    &.bg-program { background-color: $cyan !important; color:#000; }
    &.bg-indicator { background-color: #fff !important; color:#000; border: 1px solid $gray-500; }
}

.btn-sm, .btn-group-sm > .btn, .btn-group-sm > .btn-sm {
    padding: .10rem 10px;
}

.btn-disabled {
    cursor: not-allowed;
}
