@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'icomoon';
    src:  url('../../assets/fonts/icomoon.eot');
    src:  url('../../assets/fonts/icomoon.eot') format('embedded-opentype'),
      url('../../assets/fonts/icomoon.ttf') format('truetype'),
      url('../../assets/fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

h1 {
    @include font-size(36px);
    font-weight: 600;
    margin: 0;
}

h3 {
    @include font-size(18px);
    font-weight: 600;
}