
// FORMULAIRES
.form {
    input,
    select,
    textarea {
      &[readonly="readonly"] {
        cursor: not-allowed;
      }
    }

    .form-subtitle {
      @include font-size(18px);
      font-weight: 700;
    }

    &__checklist,
    &__item {
      margin-bottom: 30px;

      label,
      [aria-label="label-title"] {
        @include font-size(12px);
        margin-bottom: 3px;
        font-weight: 600;
        width: 100%;
      }

      sup {
        margin-left: 5px;
        color: $red;
      }
    }

    &__checklist {
      label {
        @include font-size(14px);
      }
    }

    .file-upload-container {
        width: calc(100% - 26px);
        position: relative;

        &:after {
            position: absolute;
            top:1px;
            right: 1px;
            background-image: url("../static/icons/data-upload.svg");
            background-repeat: no-repeat;
            background-position: center center;
            height: 43px;
            width: 44px;
        }

        input[type=file] {
            width: 100%;
        }
    }

    .input-group-container {
        width: calc(100% - 26px);
    }


    .placeholder .input-group-text {
      background-color: $gray-300;
      color: rgba(black, .3);
      border-color: $_border-color;
    }

    &__item {
      //height: 60px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;

      input,
      select,
      textarea {

        background-color: #fff;

        &:not(.inline) {
          height: 45px;
          padding: $_padding-sm;
          border: $_border;
          width: calc(100% - 26px);
          @include font-size(14px);
          border-radius: 0;

          &:focus {
            outline: none;
            border: $border-width solid $primary;
          }

          &.limit-text-display {
            padding-right: 15%;
            text-overflow: ellipsis;
          }
        }
      }

      select {
        @extend .form-select;
      }

      img {
        width: 16px;
        margin-left: $_margin-sm;
      }

      .input-group-text {
        padding: $_padding-sm;
        height: 45px;
      }

        &.schedule-field{ height: auto; }
    }

    &__textarea-container {
      height: inherit;

      textarea {
        height: 105px;
        resize: none;
      }
    }

    &__fieldset {
      &.fieldset-primary {
        background-color: rgba($primary, 0.1);
        border: $border-width solid rgba($primary, 0.4);

        legend img {
          margin-right: 5px;
        }
      }

      &.fieldset-secondary {
        background-color:  $gray-300;
        border: $border-width solid $_border-color;
      }

      border-radius: $_border-radius;
      padding: $_padding;

      legend {
        @include font-size(16px);
        font-weight: 700;
      }

      h4 {
        @include font-size(14px);
        font-weight: 700;
      }
    }

    .form-item-in-paragraph[type="number"] {
      max-width: 55px;
      &.large {
        max-width: 75px;
      }
    }

    .action {
        text-align: right;
    }

    label.required::after {
      content: " *";
      color: red;
    }
  }

  .form-control {
    padding: 0.375rem 10px;
  }

  .form-select {
    padding: 0.375rem 30px 0.375rem 10px;
    background-position: right 10px center;
    border-radius: 0;
  }

  .form-check-label {
    @include font-size(14px);
    font-weight: 400 !important;
  }


  .tiny-form-label {
    @include font-size(12px);
        margin-bottom: 3px;
        font-weight: 600;
        width: 100%;
  }


  //FORM GROUP
  .form-group {
    label {
      font-size: 0.75rem;
      margin-bottom: 3px;
      font-weight: 600;
      width: 100%;
    }

    .form-control {
      height: 45px;
      padding: 10px;
      border: 1px solid #dedede;
      font-size: 0.875rem;
      background-color: #fff;
      border-radius: 0;
    }
  }

  .form-select {
    height: 45px;
    border: 1px solid #dedede;
    font-size: 0.875rem;
  }

  .view-mode {
      input[disabled],
      select:disabled,
      .form-select:disabled,
      .input-group-text,
      textarea:disabled {
      background-color: #f6f6f6;
      border-color: #f6f6f6;
      cursor: inherit ;
      background-image: none ;
      color: #212529;
    }
  }
