p {
  margin-top: 0;
}

b,
strong {
  font-weight: 600;
}

hr {
  background-color: rgba($black, 0.1);
  opacity: 1;
}

label {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.main-logo {
  display: inline-flex;
  align-items: center;
  gap: 12px;

  img:first-child {
    width: 23px;
  }
  img:last-child {
    width: 160px;
  }
}

.bubble-notification {
  position: absolute;
  top: -5px;
  right: -5px;
  @include circle(20px);
  @include colors-bc($red, $white);
  @extend %d-flex-center;

  font-size: 0.625rem;
  font-weight: 900;
}

.bubble-information {
  @include colors-bc(#a2d142, $white);
  @extend %d-flex-center;

  //position: absolute;
  //right: -22px;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 10px;

  font-size: 0.625rem;
  font-weight: bold;
}

.connected-indicator {
  @include circle(8px);
  background-color: $gray-500;

  &.connected {
    background-color: $blue;
  }
}

.pr {
  position: relative !important;
}

.tooltip {
  @include font-size(12px);
}

.table {
  @include font-size(14px);

  > :not(caption) > * > * {
    border-bottom-width: 0;
    padding: $_padding 0.5rem;
  }
}

.btn {
  padding: 0.375rem $_padding;
  border-radius: 20px;
  font-weight: 600;
  @include font-size(14px);
  color: $white;
}

.input-group-text {
  padding: 0.375rem 0.5rem;
  background-color: $white;
  border: $border-width solid $gray-500;
}

.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-left: none;
}

.primary-colored-list {
  list-style: none;

  & li::before {
    content: "\2022";
    color: $primary;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}

.notif-dropdown {
  top:60px;
  right: 220px !important;
  width: 300px !important;
}

.notif-dropdown-overflow {
  padding: 1rem;
  max-height: 400px;
  overflow-y: auto;
  padding-bottom: 60px !important;
}

.notif-dropdown-content {
  display: inline-flex;
  padding: 0;
}

.notif-dropdown-content-bullet {
  width:25px;
  padding-right: 5px;
}

.notif-dropdown-content-message {
  padding-bottom:20px;
}

.fz-12 {
  @include font-size(12px);
}

.fz-14 {
  @include font-size(14px);
}

.fz-16 {
  @include font-size(16px);
}

.fz-18 {
  @include font-size(18px);
}

.fw-bold {
  font-weight: 600;
}

.lh-35 {
  line-height: 35px;
}

.mb-6 {
  margin-bottom: 5rem;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-34 {
  margin-bottom: 34px;
}

.mb-39 {
  margin-bottom: 39px;
}

.mb-42 {
  margin-bottom: 42px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-13 {
  margin-bottom: 13px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-21 {
  margin-top: 21px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-56 {
  margin-top: 56px;
}

.mr-20 {
  margin-right: 20px;
}

.form-item-in-paragraph {
  height: 30px;
  border: $_border;
  padding: 0 5px;
  text-align: right;
  @-moz-document url-prefix() {
    line-height: 1;
  }

  &:focus {
    outline: none;
    border-color: $primary;
  }

  &.inline {
    display: inline;
    width: auto;
  }
}

.list-group {
  border-radius: 0;
  overflow-y: scroll;
  border: $_border;

  li {
    height: 45px;
    padding-top: 13px;
    padding-bottom: 13px;
    @extend %d-flex-v-center;
    border: none;
  }

  &.list-alternate-bg-color li:nth-child(odd) {
    background-color: $gray-300;
  }
}

[disabled],
.not-allowed {
  cursor: not-allowed;
}

.current-border-color {
  border-color: $_border-color !important;
}


.admin {
  &-text-color {
    color:$admin !important;
  }
  &-border-color {
    border-color: $admin !important;
  }
  &-background-color {
    background-color: $admin !important;
  }
}

mark, .mark {
  padding: .2em;
  background-color: #efefef;
}


.table {
  @include font-size(14px);

  thead th {
    font-size: 0.875rem;
    color: #7d8592;
    font-weight: 400;
    padding: 10px 20px;
  }

  > :not(caption) > * > * {
    padding: 20px;
  }
}

.datetime-picker-primary {
  .vdatetime-popup__header,
  .vdatetime-calendar__month__day--selected > span > span,
  .vdatetime-calendar__month__day--selected:hover > span > span {
    background: #80BC00;
    text-align: center;
  }

  .vdatetime-year-picker__item--selected,
  .vdatetime-time-picker__item--selected,
  .vdatetime-popup__actions__button {
    color: #80BC00;
  }
}

.bg-teal {
  background-color: #84E1EC !important;
}

.wb-bw {
  word-break: break-word;
}

select {
  text-overflow: ellipsis;
  padding-right: 40px !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

#nav-presence-with-eval .modal .modal-default .modal-content .modal-body {
  padding: 30px !important;
  background: transparent !important;
}

.data-list .row__data .modal-default {
  font-size: 1rem !important;
}

.data-list .row__data .drop-menu-container .modal {
  font-size: 1rem !important;
}

.vdatetime-calendar__month {
  height: 317px;
}

.video-responsive {
  text-decoration: none;
  position: relative;
  .layout-player {
    position: absolute;
    z-index: 100;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 50%;
      max-height: 60px;
    }
  }
}

.iaIcon {
  cursor: pointer;
  &:after {
    position: absolute;
    height: 24px;
    top: 33px;
    content: url('../static/icons/ai.svg');
    width: 24px;
    right: 42px;
  }
}

.title-underline {
    position: relative;
  display: inline-block;
    &:after {
        position: absolute;
        content: '';
        width: 109%;
        height: 4px;
        background: #e5e5e5;
        bottom:-3px;
        left: 1%;
    }

  &.title-underline-primary {
    &:after {
      background: #80BC00;
    }
  }
}
