.login-body {
    background: $gray-300;
    position: relative;
}

.login-photo {
    object-fit: cover;
    width: 100%;
    height: 30vh;
}

.login-header {
    padding: 30px;
    display: flex;
    justify-content: space-between;

    &__swap-language {
        @extend %d-iflex-v-center;
        gap: $_margin-sm;
        color: $text-color;
    }
}

.login-main {
    width: 100%;
    max-width: 440px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 $_padding;

    &__logo {
        @include circle(100%);
        box-sizing: border-box;
        border: $_border;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $_margin;
        width: 88px;
        height: 88px;
        margin-left: auto;
        margin-right: auto;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        legend {
            @include font-size(16px);
            margin-bottom: $_margin;
        }

        .input-group-container {
            width: 100%;
            border-radius: $_border-radius;
            border: $_border;
            background-color: $white;
        }

        .input-group {
            input {
                border-radius: 0;
                height: 60px;
                width: 100%;
                max-width: 440px;
                border: none;
                background-color: transparent;
            }

            &[class*="input-password"] {
                position: relative;
                margin-top: -1px;

                img {
                    position: absolute;
                    right: $_margin-sm;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    padding: $_padding-sm;
                }
            }

            &:last-child {
                border-top: $_border;
            }
        }

        button {
            margin: $_margin 0;
            align-self: flex-end;
        }

        [class*="helpers"] {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            [class*="user-saving-mail"] {
                @include font-size(14px);
                & * {
                    cursor: pointer;
                }
            }

            [class*="password-getter"] {
                @include font-size(12px);
                transition: $transition-base;
                &:hover {
                    color: $black;
                }
            }
        }
    }

    &__description {
        margin-top: $_margin;
        @include font-size(14px);
        font-weight: 100;
        text-align: center;

        b {
            font-weight: 700;
        }
    }
}

.login-footer {
    width: 100%;
    @include font-size(12px);
    @extend %d-flex-center;
    gap: $_margin-sm;
    padding: $_padding;

    hr {
        height: 1px;
        width: 10px;
        transform: rotate(90deg);
    }

    a {
        color: $text-color;
        transition: $transition-base;
        &:hover {
            color: $primary;
        }
    }
}

@media screen and (min-width: $lg) {
    .login-body {
        height: 100vh;
    }

    .login-main {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
    }

    .login-photo {
        float: right;
        height: 100vh;
        width: 50vw;
    }

    .login-footer {
        position: absolute;
        bottom: 0;
        width: 50%;
    }
}
