%d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%d-iflex-center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

%d-flex-v-center {
    display: flex;
    align-items: center;
}

%d-iflex-v-center {
    display: inline-flex;
    align-items: center;
}

%pos-abs-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

%pos-abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

%pos-abs-center-y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

%round-icon-with-border {
    border: $border-width solid $gray-600;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: $white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
}

%round-icon-alert {
    background-image: url("../static/icons/alerte-info.svg");
}
%round-icon-error {
    background-image: url("../static/icons/minus-filter.svg");
}
%round-icon-delete-filter {
    background-image: url("../static/icons/trash-filter.svg");
}
%round-icon-import-export {
    background-image: url("../static/icons/add-filter.svg");
}
%round-icon-information {
    background-image: url("../static/icons/info.svg");
}
%round-icon-notification {
    background-image: url("../static/icons/edit-filter.svg");
}
%round-icon-user-action-filter {
    background-image: url("../static/icons/user-filter.svg");
}
%round-icon-system-action-filter {
    background-image: url("../static/icons/clock.svg");
}
%round-icon-import-action-filter {
    background-image: url("../static/icons/import-filter.svg");
}
%round-icon-export-action-filter {
    background-image: url("../static/icons/export-filter.svg");
}