.left-navigation {
    position: fixed;
    top: 20px;
    left: 0;
    bottom: 0;
    width: 280px;

    @media (max-width: $xl ) {
        left: -100%;
    }

    .main-logo {
        text-align: center;
        margin-bottom: 30px;
    }

    .support-footer {
        position: absolute;
        left: 40px;
        bottom: 20px;
        text-align: center;
    }
}



.global {
    padding-left: 280px;
    padding-right: $_padding-lg;

    @media (max-width: $xl ) {
        padding-left: $_padding-lg;
    }
}


.header {
    position: fixed;
    top:0;
    right: 0;
    padding: $_padding $_padding-lg 0 0;
    background-color: #fff;
    width: 100%;
    text-align: right;
    z-index: 5;
    
    @media screen and (min-width: $xl ) {
        width: calc(100% - 280px);
    }
}

main {
    padding-top: 150px;
    margin-bottom: 5rem;

    .page-title {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        line-height: 1;

        .primary-btn {
            margin-left: auto;
        }

        .more-btn {
            margin-left: $_margin;
            width: $_thumb-pressure-zone;
            height: $_thumb-pressure-zone;
            @extend %d-iflex-center;
        }
    }
}