$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// --- LAYOUT
  $_padding:                        20px;
  $_padding-sm:                     $_padding / 2;
  $_padding-lg:                     $_padding * 2;
  $input-btn-padding-x:             $_padding;
  $input-btn-padding-x-sm:          $_padding / 2;
  $input-btn-padding-x-lg:          $_padding * 2;

  $_margin:                         20px;
  $_margin-sm:                     $_margin / 2;
  $_margin-lg:                     $_margin * 2;
  $headings-margin-bottom:          0;
  $paragraph-margin-bottom:         0;
  // $legend-margin-bottom:            0;
  // $form-label-margin-bottom:        0;
  // $tooltip-margin:                  0;
  $enable-caret:                  false !default;
  $_thumb-pressure-zone: 40px;

// --- APPAREANCE
  // ------ basic colors
  $white:                           #fff !default;
  $gray-100:                        #cccccc !default;
  $gray-200:                        #FCFCFC !default;
  $gray-300:                        #F6F6F6 !default;
  $gray-400:                        #ebebeb !default;
  $gray-450:                        #878787 !default;
  $gray-500:                        #DBDBDB !default;
  $gray-600:                        #c2bbbb !default;
  $gray-700:                        #7D8592 !default;
  $gray-800:                        #3f4043 !default;
  $blue:                            #188DFF !default;
  $red:                             #F01414 !default;
  $orange:                          #FFBC15 !default;
  $green:                           #80BC00 !default;
  $yellow:                          #f8f403 !default;
  $teal:                            #429F96 !default;
  $cyan:                            #84E1EC !default;
  $success:                         #6CC91F !default;
  $black:                           #000 !default;
  $error:                           $red;
  $warn:                            $orange;
  $purple:                          #3c00bc !default;
  $primary-soft:                    #a2d142 !default;

  // ------- specific colors
  $primary:                           $green !default;
  $yellow:                            $yellow !default;
  $secondary:                         $black !default;
  $text-color:                        $gray-800 !default;
  $admin :                          #429f96;
  $input-btn-focus-color:             none !default;
  $modal-bg-col:                      $gray-400;
  $_border-color:                   #DEDEDE !default;
  $popover-border-color:              $_border-color;
  $_shadow-color:                     rgba($black, .15) !default;
  $info:                              $blue !default;
  // ------ borders
  $_border-radius:                    4px;
  $btn-border-radius:                 $_border-radius;
  $_border:                           1px solid $_border-color;
  $border-width:                      1px !default;
  $form-check-input-border-radius:    0 !default;

  //Alert
  $alert-border-width:                $border-width !default;
  $alert-border-scale:                -90% !default;
  $alert-color-scale:                 0 !default;
  $alert-bg-scale:                    -95% !default;
  $alert-padding-y:                   $_padding !default;
  $alert-padding-x:                   $_padding !default;


  // ------ shadows
  $box-shadow:                        0 0 10px $_shadow-color;
  $btn-box-shadow:                    0 6px 12px 0 $_shadow-color;
  $btn-primary-box-shadow:            0 6px 12px 0 rgba($primary, 0.23) !default;

// --- TEXT
$input-btn-font-size:                14px !default;
$title-font :                        "Nunito", sans-serif;
$font-family-sans-serif:             $title-font;
$text-muted:                         $gray-450 !default;
$custom-file-text: (
  en: 'Browse',
  fr: 'Choisir',
) !default;

// --- ACCORDION
$accordion-padding-y:                     1rem;
$accordion-padding-x:                     1.25rem;
$accordion-color:                         $black;
$accordion-bg:                            $gray-300;
$accordion-border-width:                  $border-width;
$accordion-border-color:                  $gray-300;
$accordion-border-radius:                  $_border-radius;
$accordion-inner-border-radius:           subtract($accordion-border-radius, $accordion-border-width);

$accordion-body-padding-y:                $accordion-padding-y;
$accordion-body-padding-x:                $accordion-padding-x;

$accordion-button-padding-y:              $accordion-padding-y;
$accordion-button-padding-x:              $accordion-padding-x;
$accordion-button-color:                  $accordion-color;
$accordion-button-bg:                     $accordion-bg;
// $accordion-transition:                    $btn-transition, border-radius .15s ease;
// $accordion-button-active-bg:              tint-color($component-active-bg, 90%);
// $accordion-button-active-color:           shade-color($primary, 10%);

// $accordion-button-focus-border-color:     $input-focus-border-color;
// $accordion-button-focus-box-shadow:       $btn-focus-box-shadow;

// $accordion-icon-width:                    1.25rem;
$accordion-icon-color:                    $accordion-color;
// $accordion-icon-active-color:             $accordion-button-active-color;
// $accordion-icon-transition:               transform .2s ease-in-out;
// $accordion-icon-transform:                rotate(-180deg);

// $accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
// $accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

// --- ANIMATION
$transition-base:             all .3s ease-in-out !default;
// $transition-fade:             opacity .15s linear !default;
// // scss-docs-start collapse-transition
// $transition-collapse:         height .35s ease !default;



$link-decoration:                   inherit !default;
$link-hover-decoration:             none !default;

$custom-select-indicator:           url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7'><path fill='#000' d='M10.280712,0.305312993 L5.98771202,4.59831299 L1.69471202,0.305312993 C1.30233313,-0.0736592162 0.678627244,-0.0682393806 0.292893445,0.317494418 C-0.0928403531,0.703228216 -0.0982601888,1.32693411 0.280712021,1.71931299 L5.28071202,6.71931299 C5.67121187,7.10969493 6.30421217,7.10969493 6.69471202,6.71931299 L11.694712,1.71931299 C11.9546686,1.46823852 12.0589246,1.0964351 11.9674092,0.746805669 C11.8758937,0.397176238 11.6028488,0.124131277 11.2532193,0.0326158368 C10.9035899,-0.0588996039 10.5317865,0.0453564089 10.280712,0.305312993 Z'/></svg>") !default;

$modal-md:                          650px !default;


// ---- TAB NAV
$nav-link-padding-y:                .8rem;
$nav-link-padding-x:                .8rem;
$nav-link-font-size:                1rem;
$nav-link-font-weight:              700;
$nav-link-color:                    $black;
$nav-link-hover-color:              $primary;
$nav-link-disabled-color:           $gray-600;

$nav-tabs-border-color:             $gray-600;
$nav-tabs-border-radius:            $_border-radius;
$nav-tabs-link-active-color:        $primary;
$nav-tabs-link-active-border-color: transparent transparent $gray-600;

$nav-pills-border-radius:           $_border-radius;

$input-border-radius:               0 !default;
$form-select-border-radius:         0 !default;


//TABLE
$table-striped-bg-factor:     .05;
$table-striped-bg:            #f6f6f6;
//PopOver
$popover-box-shadow:                0 0 10px rgba(0,0,0,.15);
$popover-border-color:              #dedede;
$popover-header-bg:                 #f6f6f6;
$popover-header-color:              #212529;
