h1, .h1 { font-size: 1.375rem; }
h2, .h2 { font-size: 1.325rem; }
h3, .h3 { font-size: 1.3rem; }
h4, .h4 { font-size: 1.275rem; }
h5, .h5 { font-size: 1.25rem; }
h6, .h6 { font-size: 1rem; }
body { font-size: 0.75rem; }

.table {
  > :not(caption) > * > * {
    padding: 0.5rem;
  }
  
  .th { text-align: left; }
}

/* Fix for grid for wkhtmltopdf */
.row {
  display: -webkit-box; /* wkhtmltopdf uses this one */
  display: flex;
  -webkit-box-pack: center; /* wkhtmltopdf uses this one */
  justify-content: center;
}

.row > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.row > div:last-child {
  margin-right: 0;
}

.hr {
  border:0;
  border-top:1px solid #000;
}

.ul {
  list-style-type: disc;
  
  > .li {
    display: list-item;
  }
}