/** Define the margins of your page **/
@page {
  margin: 100px 40px;
}

body, h1, h3 {
  font-family: sans-serif;
}
p {
  font-size: 12px;
  font-family: sans-serif;
}

header {
  position: fixed;
  top: -100px;
  left: 0px;
  right: 0px;
  height: 10px;
  
  /** Extra personal styles **/
  color: white;
  text-align: center;
  line-height: 20px;
}

footer {
  position: fixed;
  bottom: -20px;
  left: 0px;
  right: 0px;
  height: 20px;
  
  /** Extra personal styles **/
  color: white;
  text-align: center;
  line-height: 20px;
}