<template>
  <div
    data-bs-toggle="modal"
    :data-bs-target="'#simple_pop_in_' + session.ref"
    role="button"
    class="activity-log__list-btn btn-sm btn-primary"
  >
    {{ $translator.trans('View saved data') }}
    <simple-pop-in
      :id="session.ref"
      :title="$translator.trans('Deletion history')"
    >
      <template #content>
        <div class="session-created-body">
          <div class="session-main-content-session pt-0 d-flex flex-column align-items-center">
            <div class="session-recap-blocks">
              <div class="row">
                <div class="col-6">
                  <div class="session-recap-blocks__container">
                    <h3
                      class="mb-30"
                      style="color: #000;"
                    >
                      {{ $translator.trans('General') }}
                    </h3>
                    <resume-item
                      :name="$translator.trans('Name')"
                      :value="session.name"
                    />
                    <resume-item
                      :name="$translator.trans('Reference')"
                      :value="session.ref"
                    />
                    <resume-item
                      :name="$translator.trans('Category')"
                      :value="category"
                    />
                    <resume-item
                      :name="$translator.trans('Date')"
                      :value="dateStart"
                    />
                    <resume-item
                      :name="$translator.trans('Duration')"
                      :value="duration"
                    />
                    <resume-item
                      :name="$translator.trans('deleted the')"
                      :value="deletedAt"
                    />
                    <resume-item
                      :name="$translator.trans('Deleted by')"
                      :value="activity.user.fullName"
                    />
                    <resume-item
                      :name="$translator.trans('Deletion origin')"
                      :value="origin"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="session-recap-blocks__container">
                    <h3
                      class="mb-30"
                      style="color: #000;"
                    >
                      {{ $translator.trans('Participant') }}
                    </h3>
                    <table
                      v-if="session.participants.length > 0"
                      class="table table-striped table-hover mb-5"
                    >
                      <thead>
                        <tr>
                          <th data-field="fullname">
                            {{ $translator.trans('Last name') }} {{ $translator.trans('First name') }}
                          </th>
                          <th data-field="email">
                            {{ $translator.trans('Email') }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="participant in session.participants"
                          :key="participant.id"
                        >
                          <td>{{ participant.name }}</td>
                          <td>{{ participant.email }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="session-recap-blocks__container">
                    <h3
                      class="mb-30"
                      style="color: #000;"
                    >
                      {{ $translator.trans('Animator') }}
                    </h3>
                    <table
                      v-if="session.animators.length > 0"
                      class="table table-striped table-hover mb-5"
                    >
                      <thead>
                        <tr>
                          <th data-field="fullname">
                            {{ $translator.trans('Last name') }} {{ $translator.trans('First name') }}
                          </th>
                          <th data-field="email">
                            {{ $translator.trans('Email') }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="animator in session.animators"
                          :key="animator.id"
                        >
                          <td>{{ animator.name }}</td>
                          <td>{{ animator.email }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </simple-pop-in>
  </div>
</template>

<script>
import { DateTime } from 'luxon'
import { activityOriginToLabel } from '../../../../utils/activities.utils'
import SimplePopIn from '../../../ui/PopIn/SimplePopIn.vue'
import ResumeItem from '../../../sessions/wizard/step-validate/ResumeItem.vue'

export default {
  name: 'ModalSessionDeleteInfo',
  components: { ResumeItem, SimplePopIn },
  props: {
    activity: {
      type: Object,
      required: true
    }
  },
  computed: {
    session () {
      return this.activity.infos.session
    },
    deletedAt () {
      return DateTime.fromISO(this.activity.createdAt).toLocaleString(DateTime.DATETIME_MED)
    },
    origin () {
      return this.$translator.trans(activityOriginToLabel(this.activity.origin))
    },
    duration () {
      return (Math.round(this.session.duration / 60)) + 'h' + (this.session.duration % 60) + ((this.session.duration % 60) < 10 ? '0' : '')
    },
    dateStart () {
      return DateTime.fromISO(this.session.dateStart).toLocaleString(DateTime.DATETIME_MED)
    },
    category () {
      const category = {
        1: 'Virtual Classroom',
        2: 'Meeting',
        3: 'Test',
        4: 'Face-to-face',
        5: 'Webinar'
      }
      if (this.session.category in category) {
        return this.$translator.trans(category[this.session.category])
      }
      return this.$translator.trans('Unkonwn')
    }
  }
}
</script>

<style scoped>

</style>
