<template>
  <div
    data-bs-toggle="modal"
    :data-bs-target="'#simple_pop_in_send_email_to_participants_' + activity.id"
    role="button"
    class="activity-log__list-btn btn-sm btn-primary"
  >
    {{ $translator.trans('See the list of participants') }}
    <simple-pop-in
      :id="'send_email_to_participants_'+activity.id"
      :title="$translator.trans('List of participants who have received the evaluation email')"
      size="xl"
      style="color: #000000;"
    >
      <template #content>
        <div class="session-created-body">
          <div class="session-main-content-session pt-0 d-flex flex-column align-items-center">
            <div class="session-content d-flex flex-column align-items-center w-100">
              <table
                class="table table-striped table-hover mb-5"
              >
                <thead>
                  <tr>
                    <th data-field="Edited_field">
                      #
                    </th>
                    <th data-field="Edited_field">
                      {{ activity.infos.participants.length }} {{ $translator.trans('Trainee.s') }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(participant, index) in activity.infos.participants"
                    :key="index"
                  >
                    <td>{{ index+1 }}</td>
                    <td>{{ participant }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </template>
    </simple-pop-in>
  </div>
</template>

<script>

import SimplePopIn from '../../../ui/PopIn/SimplePopIn.vue'

export default {
  name: 'ModalEmailSendToParticipants',
  components: { SimplePopIn },
  props: {
    activity: {
      type: Object,
      required: true
    }
  }
}
</script>
