<template>
  <div
    data-bs-toggle="modal"
    :data-bs-target="'#simple_pop_in_updatedFields_' + activity.id"
    role="button"
    class="activity-log__list-btn btn-sm btn-primary"
  >
    {{ $translator.trans('See status') }}
    <simple-pop-in
      :id="'updatedFields_'+activity.id"
      :title="$translator.trans('Export request status')"
      :size="350"
      style="color: #000000;"
    >
      <template #content>
        <div class="session-created-body">
          <div class="session-main-content-session pt-0 d-flex flex-column align-items-center">
            <div class="session-content d-flex flex-column align-items-center">
              <h6>{{ $translator.trans('The status of the task is currently:') }} {{ checkStatus() }}</h6>
            </div>
          </div>
        </div>
      </template>
    </simple-pop-in>
  </div>
</template>

<script>

import SimplePopIn from '../../../ui/PopIn/SimplePopIn.vue'

export default {
  name: 'ModalSessionUpdateInfo',
  components: { SimplePopIn },
  props: {
    activity: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      statusTask: ''
    }
  },
  methods: {
    checkStatus () {
      const route   = this.$routing.generate('_deferred_actions_task_check_status', { id: this.activity.infos.deferredActionsTaskId })
      this.$axios
        .post(route)
        .then((response) => {
          this.statusTask = this.$translator.trans(response.data.message.statusTask +  ' deferred task')
          // window.location.href = this.$routing.generate('_session_get', { id: this.session.id, tabName: 'SessionCommunicationTab' })
        })
        .catch(() => {
        })
        .finally(() => {
        })

      return this.statusTask
    }
  }
}
</script>
