<template>
  <div
    data-bs-toggle="modal"
    :data-bs-target="'#simple_pop_in_updatedFields_' + activity.id"
    role="button"
    class="activity-log__list-btn btn-sm btn-primary"
  >
    {{ $translator.trans('View modified fields') }}
    <simple-pop-in
      :id="'updatedFields_'+activity.id"
      :title="$translator.trans('Modified field.s')"
    >
      <template #content>
        <div class="session-created-body">
          <div class="session-main-content-session pt-0 d-flex flex-column align-items-center">
            <div class="session-content d-flex flex-column align-items-center">
              <table
                class="table table-striped table-hover mb-5"
              >
                <thead>
                  <tr>
                    <th data-field="Edited_field">
                      {{ $translator.trans('Field.s updated') }}
                    </th>
                    <th data-field="Old_value">
                      {{ $translator.trans('Old.s Data.s') }}
                    </th>
                    <th data-field="New_Value">
                      {{ $translator.trans('New.s Data.s') }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(updatedField, index) in activity.infos.updatedFields"
                    :key="index"
                  >
                    <td>{{ $translator.trans(updatedField.transKey) }}</td>
                    <td>{{ $translator.trans(updatedField.oldValue) }}</td>
                    <td>{{ $translator.trans(updatedField.newValue) }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </template>
    </simple-pop-in>
  </div>
</template>

<script>

import SimplePopIn from '../../../ui/PopIn/SimplePopIn.vue'

export default {
  name: 'ModalSessionUpdateInfo',
  components: { SimplePopIn },
  props: {
    activity: {
      type: Object,
      required: true
    }
  }
}
</script>
