<template>
  <div
    data-bs-toggle="modal"
    :data-bs-target="'#simple_pop_in_import_info_' + activity.id"
    role="button"
    class="activity-log__list-btn btn-sm btn-primary"
  >
    {{ $translator.trans('View report') }}
    <simple-pop-in
      :id="'import_info_'+activity.id"
      :title="$translator.trans('View report')"
    >
      <template #content>
        <div class="session-created-body">
          <div
            class="session-main-content-session pt-0 d-flex flex-column"
          >
            <div
              class="session-content d-flex flex-column "
              style="max-width: 1100px"
            >
              <h3
                v-if="activity.infos.typeImport === 'ImportSessions'"
                class="session-title d-block text-secondary"
                style="max-width: 700px"
              >
                {{ $translator.trans('Here is the result of importing sessions') }}
              </h3>
              <h3
                v-else
                class="session-title d-block text-secondary"
                style="max-width: 700px"
              >
                {{ $translator.trans('Here is the result of importing users') }}
              </h3>
              <div
                class="text-secondary"
                style="margin-left: 20px"
              >
                <div class="Error">
                  <div
                    v-if="activity.infos.infosResult.error"
                  >
                    😔
                    <span style="color:#F01414; font-size: 15px;">
                      {{ Object.keys(activity.infos.infosResult.error).length }} {{ $translator.trans('Error.s') }}
                    </span>
                    <div
                      v-for="(Error, index) in activity.infos.infosResult.error"
                      :key="index"
                      class="activity-log__list-content"
                      style="font-size: 1rem; width: auto; word-wrap: break-word;"
                      v-html="translate(Error)"
                    />
                  </div>
                  <div
                    v-else
                  >
                    😔
                    <span style="color:#F01414; font-size: 15px;">
                      0 {{ $translator.trans('Error.s') }}
                    </span>
                    <h6>{{ $translator.trans('Everything went well!') }} 👌 </h6>
                  </div>
                </div>
                <br>
                <div class="warning">
                  <div
                    v-if="activity.infos.infosResult.warning"
                  >
                    🙄
                    <span style="color:#84E1EC; font-size: 15px;">
                      {{ Object.keys(activity.infos.infosResult.warning).length }} {{ $translator.trans('Warning.s') }}
                    </span>
                    <div
                      v-for="(warning, index) in activity.infos.infosResult.warning"
                      :key="index"
                      class="activity-log__list-content"
                      style="font-size: 1rem; width: auto; word-wrap: break-word;"
                      v-html="translate(warning)"
                    />
                  </div>
                  <div
                    v-else
                  >
                    🙄
                    <span style="color:#84E1EC; font-size: 15px;">
                      0 {{ $translator.trans('Warning.s') }}
                    </span>
                    <h6>{{ $translator.trans('Nothing to report.') }} 🤓 </h6>
                  </div>
                </div>
                <br>
                <div class="success">
                  <div
                    v-if="activity.infos.infosResult.success"
                  >
                    <img
                      src="/build/static/email/SadFaceEmoji.png"
                    >
                    🙂
                    <span style="color:#80BC00; font-size: 15px;">
                      {{ Object.keys(activity.infos.infosResult.success).length }} {{ $translator.trans('success.s') }}
                    </span>
                    <div
                      v-for="(success, index) in activity.infos.infosResult.success"
                      :key="index"
                      class="activity-log__list-content"
                      style="font-size: 1rem; width: auto; word-wrap: break-word;"
                      v-html="translate(success)"
                    />
                  </div>
                  <div
                    v-else
                  >
                    🙂
                    <span style="color:#80BC00; font-size: 15px;">
                      0 {{ $translator.trans('success.s') }}
                    </span>
                    <h6>{{ $translator.trans('The import did not go as planned.') }} 🤔 </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </simple-pop-in>
  </div>
</template>

<script>

import SimplePopIn from '../../../ui/PopIn/SimplePopIn.vue'

export default {
  name: 'ModalImportInfo',
  components: { SimplePopIn },
  props: {
    activity: {
      type: Object,
      required: true
    }
  },
  methods: {
    translate (data) {
      if (this.activity.infos.typeImport === 'ImportSessions') {
        return '( ' + this.$translator.trans('Line session file %numlinefile%', { numlinefile : data.numlinefile }) + ') ' + this.$translator.trans(data.message.key, data.message.params)
      } else {
        return '( ' + this.$translator.trans('User file line %numlinefile%', { numlinefile : data.numlinefile }) + ') ' + this.$translator.trans(data.message.key, data.message.params)
      }
    }
  }
}
</script>
