.wrapper-header {
    & .wrapper-header__infos {
        color: #0A1629;
        & .wrapper-header__infos__title {
            & h1 {
                @include font-size(36px);
                @include line-height(39px);
                font-weight: bold;
                margin-right: 6px;
            }
        }
        & .wrapper-header__infos__notifications {
            & .wrapper-header__infos__notifications__errors-mails {
                margin-right: 40px;
            }
            & .wrapper-header__infos__notifications__errors-mails span,
            & .wrapper-header__infos__notifications__errors-sessions span {
                @include font-size(16px);
                font-weight: 700;
                color: #0A1629;
            }
        }
    }
}

.wrapper-content-sessions {
    h2 {
        @include font-size(25px);
        @include line-height(24px);
        color: #0A1629;
        font-weight: 700;
    }
    & .wrapper-content-sessions__current {
        & .wrapper-content-sessions__current__title {
            & .wrapper-content-sessions__current__title__count {
                @include circle(22px);
                background-color: $green;
                & span {
                    @include font-size(12px);
                    @include line-height(16px);
                    color: $white;
                    font-weight: 900;
                }
            }
            & .wrapper-content-sessions__current__title__new {
                margin-left: auto;
                @include font-size(16px);
                @include line-height(17px);
                font-weight: 700;
            }
        }
        & .data-list {
            & .table-content {
                border: 1px solid #efefef;
                border-radius: 6px;
                overflow-y: scroll;
                max-height: 500px;
            }
        }
        & .wrapper-content-sessions__current__all {
            & a {
                font-weight: 700;
            }
        }
    }
    & .activity-log {
        color: $black;
        & .activity-log__item {
            & .activity-log__list-container {
                & .activity-log__list-item-information {
                    border-radius: 6px;
                    border: none;
                    background-color: $gray-300;
                    & .round {
                        @include circle(20px);
                        background-color: $white;
                        border: 1px solid #C3C4C5;
                        position: absolute;
                        top: 7%;
                        left: -30px;
                        & .round__inside {
                            @include circle(10px);
                            background-color: $white;
                        }
                        & .round__inside.green {
                            background-color: $green;
                        }
                        & .round__inside.red {
                            background-color: #FC0A0A;
                        }
                        & .round__inside.blue {
                            background-color: #247ED9;
                        }
                    }
                    & .activity-log__list-txt-container {
                        & h3,
                        & .activity-log__list-content {
                            font-weight: normal;
                        }
                        & h3 {
                            @include font-size(16px);
                            @include line-height(17px);
                            font-weight: 700;
                        }
                        & .activity-log__list-content {
                            @include font-size(14px);
                            @include line-height(22px);
                            word-break: break-word;
                        }
                    }
                    & .activity-log__list-hour {
                        top: 9%;
                    }
                    & .activity-log__list-hour {
                        text-align: right;
                        left: -130px;
                        & b {
                            @include font-size(16px);
                            @include line-height(18px);
                            color: rgba($color: #000000, $alpha: 0.42);
                            font-weight: 700;
                        }
                        & span {
                            @include font-size(14px);
                            @include line-height(18px);
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
    & .wrapper-content-sessions__current-stats {
        margin-right: 2rem;
        & .wrapper-content-sessions__current-stats__infos {
            border: 1px solid #DEDEDE;
            background-color: $gray-300;
            padding: 1rem;
            & .wrapper-content-sessions__current-stats__infos__table {
                & table {
                    border: 1px solid #DEDEDE;
                    background-color: $white;
                }
            }
            & .wrapper-content-sessions__current__all {
                & a {
                    font-weight: 700;
                }
            }
        }
    }
}
