<h1>Common</h1>
<hr>
<p>Name: __name__</p>
<p>Duration: __duration__</p>
<p>Date start: __date_start__</p>
<p>Date start year only: __date_start_year__</p>
<p>Date start month only: __date_start_month__</p>
<p>Date start month humanized: __date_start_month_text__</p>
<p>Date start day only: __date_start_day__</p>
<p>Date start day humanized: __date_start_day_text__</p>
<p>Date start day only with suffix: __date_start_day_suffixed__</p>
<p>Hour start only: __hour_start__</p>
<p>Hour start only on 12H format: __hour_start_12h__</p>
<p>Hour end only: __hour_end__</p>
<p>Hour end only on 12H format: __hour_end_12h__</p>
<p>Langue: __langue__</p>
<p>Login url: __login_url__</p>
<p>Custom content: <code>__content__</code></p>
<p>Custom content: <code>__personalized_content__</code></p>
<p>Username (Firstname LASTNAME): __username__</p>
<p>Sale URL: __salle_url__</p>
<p>Place: __lieu__</p>
__if_is_animator__
	<p>This is displayed if it's an animator</p>
    <p>Animator link : __animator_access_link__</p>
    <p>Remote signature link: __releve_pres__</p>
    <p>Evaluation link : __eval_prest_pres__</p>
__if_end__
__if_is_participant__
	<p>This is displayed if it's a participant</p>
__if_end__
<p>Add event URL: __addevent_url__</p>
__if_eval_url_exist__
	<p>
		This is display if an eval url exist
		Evaluation URL: __eval_url__
	</p>
__if_end__
__if_object_url_exist__
<p>
	This is display if an object eval url exist
	Object URL: __object_url__
</p>
__if_end__
<p>Acquis link: __acquis_link__</p>
<p>Animator access link: __animator_access_link__</p>
<p>Objectifs presential: __objectifs_pres__</p>
<p>Releve presential: __releve_pres__</p>
<p>Prestation evaluation: __eval_prest_pres__</p>
<p>Days number: __nbr_days__</p>
<p>Invalid short code: __invalid_short_code__</p>

__if_is_an_adobe_connect_session__
<h1>Adobe Connect</h1>
<hr>
<p>Audio real number: __audio_real_number__</p>
<p>Audio shared number: __audio_shared_number__</p>
<p>Audio animator code: __audio_animator_code__</p>
<p>Audio participant code: __audio_participant_code__</p>
<p>Audio MeetingOne Conference Id: __audio_meetingone_conference_id__</p>
__if_end__

__if_is_a_webex_meeting_session__
<h1>Webex meeting</h1>
<hr>
<p>Audio real number: __audio_real_number__</p>
<p>Audio animator code: __audio_animator_code__</p>
<p>Audio animator code concat: __audio_animator_code_concat__</p>
<p>Audio participant code: __audio_participant_code__</p>
__if_end__
