{% extends 'emails/base_manager_client.html.twig' %}

{% block content %}
    <h4>
    {% trans with {'%configurationHolderName%': configurationHolderName } into lang %}
        For the connector %configurationHolderName%
    {% endtrans %}
    </h4>
    {% if showMinLess %}
        <p>
            {% trans with {'%thresholdMin%': thresholdMin } into lang %}
                Here is the List of slots which have less than %thresholdMiddle% license.s available.s
            {% endtrans %} :
        </p>
        {% for day in daysToSendMail %}
            {% if  day.status == 'alert' %}
                {% set time = day.time|trans  %}
                <i>
                    {% trans with {'%thresholdMin%':  thresholdMiddle ,'%date%': day.date, '%time%': time , '%numberLicensesAvailable%': day.numberLicensesAvailable} into lang %}
                        - On %date% %time%, you have %numberLicensesAvailable% license.s left
                    {% endtrans %}
                </i>
            {% endif %}
        {% endfor %}
        <br>
    {% endif %}
    {% if showMediumLess %}
        {% if showMinLess %}
            <p>
                {% trans with {'%thresholdMin%': thresholdMiddle} into lang %}
                    And here is the List of slots which have less than %thresholdMiddle% license.s available.s
                {% endtrans %} :
            </p>
        {% else %}
            <p>
                {% trans with {'%thresholdMin%': thresholdMiddle} into lang %}
                    Here is the List of slots which have less than %thresholdMiddle% license.s available.s
                {% endtrans %} :
            </p>
        {% endif %}

        {% for day in daysToSendMail %}
            {% if  day.status == 'warning' %}
                {% set time = day.time|trans  %}
                <i>
                    {% trans with {'%date%': day.date, '%time%': time, '%numberLicensesAvailable%': day.numberLicensesAvailable } into lang %}
                        - On %date% %time%, you have %numberLicensesAvailable% license.s left
                    {% endtrans %}
                </i>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}

{#// MANAGER#}
