<template>
  <div>
    <dashboard-filter
      :clients="clients"
      :query="query"
    />
    <div class="my-5" />
    <dashboard-statistics :statistics="general" />
    <div class="my-4" />
    <dashboard-alert-list :alerts="alerts" />
  </div>
</template>

<script>
import DashboardStatistics from './DashboardStatistics.vue'
import DashboardAlertList from './DashboardAlert/DashboardAlertList.vue'
import DashboardFilter from './DashboardFilter.vue'

export default {
  name: 'CustomerServiceDashboard',
  components: { DashboardFilter, DashboardAlertList, DashboardStatistics },
  props: {
    clients: {
      type: Array,
      required: true,
      default: () => []
    },
    alerts: {
      type: Object,
      required: true,
      default: () => {
      }
    },
    general: {
      type: Object,
      default: () => {
      }
    },
    query: {
      type: Object,
      default: () => {
      }
    }
  }
}
</script>
