<template>
  <form
    class="container-fluid py-1"
    method="post"
    @submit="formSubmit"
  >
    <div class="row">
      <div class="col-sm">
        <label>
          {{ $translator.trans('From') }}
        </label>
        <div class="input-container d-flex align-items-center">
          <date-time-input
            v-model="filter.startDate"
            :placeholder="$translator.trans('From')"
            type="date"
          />
        </div>
      </div>
      <div class="col-sm">
        <label>
          {{ $translator.trans('To') }}
        </label>
        <div class="input-container d-flex align-items-center">
          <date-time-input
            v-model="filter.endDate"
            :placeholder="$translator.trans('To')"
            type="date"
          />
        </div>
      </div>
      <div class="col-sm">
        <label>
          {{ $translator.trans('Client') }}
        </label>
        <div class="input-container d-flex align-items-center">
          <select
            v-model="filter.client"
            class="form-control form-select-sm w-100"
            name="filter-origin"
          >
            <option
              value="null"
              selected
            >
              {{ $translator.trans('All selected customers') }}
            </option>
            <option
              v-for="(client) in clients"
              :key="client.id"
              :value="client.id"
            >
              {{ client.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm mt-auto">
        <div class="input-container d-flex align-items-center">
          <button
            type="submit"
            class="btn btn-primary"
          >
            {{ $translator.trans('Filter') }}
          </button>
          <div class="mx-1" />
          <a
            type="submit"
            class="btn btn-light"
            :href="$routing.generate('_dashboard_sc')"
          >
            {{ $translator.trans('Reset filters') }}
          </a>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import DateTimeInput from '../../ui/DateTimeInput.vue'
import { DateTime } from 'luxon'

export default {
  name: 'DashboardFilter',
  components: { DateTimeInput },
  props: {
    clients: {
      type: Array,
      required: true
    },
    query: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      filter: {
        startDate: this.query.startDate,
        endDate: this.query.endDate,
        client: this.query.client
      },
      format: DateTime
    }
  },
  mounted () {
    const searchURL = new URL(window.location)
    Object.keys(this.filter).forEach((key) => {
      const value = searchURL.searchParams.get(key)
      if (value) this.filter[key] = value
    })
  },
  methods: {
    formSubmit (event) {
      event.preventDefault()
      window.location.href = this.$routing.generate('_dashboard_sc', {
        startDate: this.filter.startDate ?? null,
        endDate: this.filter.endDate ?? null,
        client: this.filter.client
      })
    }
  }
}
</script>
