<template>
  <div>
    <dashboard-indicator :statistics="statistics" />
    <dashboard-service :statistics="statistics" />
  </div>
</template>

<script>
import DashboardIndicator from './Indicator/DashboardIndicator.vue'
import DashboardService from './Service/DashboardService.vue'

export default {
  name: 'DashboardStatistics',
  components: { DashboardService, DashboardIndicator },
  props: {
    statistics: {
      type: Object,
      default: () => {
      }
    }
  }
}
</script>
