<template>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="wrapper-content-dashboard-stats__session__content__count__total reduced-centered">
      <h4>{{ $translator.trans(transformTitle) }}</h4>
    </div>
    <div class="wrapper-content-dashboard-stats__session__content__count__round green d-flex align-items-center justify-content-center">
      <span data-testselector="count_session">{{ value }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DashboardStatisticsCard',
  props: {
    title: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    }
  },
  computed: {
    transformTitle () {
      return this.title.split('nbr').pop()
    }
  }
}
</script>
