<template>
  <div class="top-bar__item d-flex align-items-center me-2">
    <div
      id="top-bar-search-dropdown"
      class="top-bar__search"
    >
      <input
        id="global-search"
        v-model="globalSearchValue"
        class="dropdown-toggle"
        type="search"
        :placeholder="$translator.trans('Search a participant, a session...')"
        aria-expanded="false"
        data-bs-auto-close="outside"
        @keydown="toggleDropDownSearch"
        @click="toggleDropDownSearch"
        @input="globalSearch"
      >
      <label
        for="global-search"
        aria-label="recherche globale"
        role="button"
      >
        <img
          src="/build/static/icons/search-white.svg"
          height="18"
          class="label-icon"
        >
      </label>
      <div
        id="global-search-dropdown"
        v-click-outside="closeDropdown"
        :class="['dropdown-menu dropdown-menu-lg-start top-bar__search-dropdown' , {
          'show' : showDropDownSearch
        }]"
      >
        <div class="row search-dropdown__header">
          <div class="form-check">
            <input
              id="futur-and-daily-sessions"
              v-model="allowOutdated"
              class="form-check-input me-2"
              type="checkbox"
              @input="globalSearch"
            >
            <label
              class="form-check-label"
              for="futur-and-daily-sessions"
            >
              {{ $translator.trans('Sessions of the date and future') }}
            </label>
          </div>
        </div>
        <div class="row search-dropdown__main">
          <div class="col-sm-4 search-dropdown__user-part">
            <div class="row search-dropdown__main-content">
              <h3>{{ $translator.trans('Users') }}</h3>
              <ul class="primary-colored-list">
                <li
                  v-for="user in usersFound.slice(0, 10)"
                  :key="user.id"
                >
                  <a
                    :href="$routing.generate( '_participant_edit', {id: user.id} )"
                  >
                    {{ user.firstName }} {{ user.lastName }}
                  </a>
                </li>
              </ul>
            </div>
            <div class="row search-dropdown__main-footer">
              <div
                v-if="usersFound.length > 0"
              >
                <a
                  :href="$routing.generate( '_participant_list', {'pre-search': globalSearchValue} )"
                >
                  <img src="/build/static/icons/open-small.svg">
                  {{ $translator.trans('See the %count% found users', { count: usersFound.length }) }}
                </a>
              </div>
              <div
                v-else
              >
                <a>
                  {{ $translator.trans('No user found') }}
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-8 search-dropdown__session-part">
            <div class="row search-dropdown__main-content">
              <h3>Sessions</h3>
              <ul class="primary-colored-list">
                <li
                  v-for="session in sessionsFound.slice(0, 10)"
                  :key="session.id"
                >
                  <a
                    :href="$routing.generate( '_session_get', {id: session.id} )"
                  >
                    {{ session.name }} - {{ formatDate(session.dateStart) }}
                  </a>
                </li>
              </ul>
            </div>
            <div class="row search-dropdown__main-footer">
              <div
                v-if="sessionsFound.length > 0"
              >
                <a
                  :href="$routing.generate( '_session_viewer', {'pre-search': globalSearchValue, 'allow-outdated': !allowOutdated} )"
                >
                  <img
                    src="/build/static/icons/open-small.svg"
                    alt=""
                  >
                  {{ $translator.trans('See the %count% found sessions', { count: sessionsFound.length }) }}
                </a>
              </div>
              <div
                v-else
              >
                <a>
                  {{ $translator.trans('No sessions found') }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import _ from 'lodash'
import { DateTime }   from 'luxon'
import { launchTheGlobalSearch } from '../../utils/global-search-bar.utils'

export default {
  name: 'MainGlobalSearchBar',
  data () {
    return {
      globalSearchValue: '',
      allowOutdated: true,
      showDropDownSearch: false,
      sessionsFound: [],
      usersFound: []
    }
  },
  methods: {
    toggleDropDownSearch () {
      if (this.globalSearchValue !== '') {
        this.showDropDownSearch = true
      }
    },
    closeDropdown () {
      this.showDropDownSearch = false
    },
    globalSearch: _.debounce(function () {
      launchTheGlobalSearch(this.globalSearchValue, !this.allowOutdated)
        .then(response => {
          this.usersFound = response.data[1]
          this.sessionsFound = response.data[0]
        })
    }, 250),
    formatDate (date) {
      return DateTime.fromISO(date).toLocaleString(DateTime.DATETIME_MED)
    }
  }
}
</script>

<style scoped lang="css">
</style>
