<template>
  <div
    :class="['scroller-item-member-list d-flex justify-content-around', { 'highlight': isSelected, 'odd': (index%2!==0) }]"
    @click="$emit('click', user.id)"
  >
    <div class="scroller-element">
      {{ user.lastName }} {{ user.firstName }}
    </div>
    <div class="scroller-element">
      <span
        v-if="isOrganizerForThisConnector"
        class="badge bg-primary p-1"
      >{{ $translator.trans( 'Organizer' ) }} </span>
      <span class="d-block">{{ user.email }}</span>
    </div>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  name:  'MembersListItem',
  props: {
    user: {
      type: Object,
      required: true
    },
    isSelected: {
      type: Boolean,
      required: true
    },
    index: {
      type: Number,
      required: true
    }
  },
  computed: {
    ...mapGetters('session', { session: 'getSession' }),
    isOrganizerForThisConnector () {
      return this.session.abstractProviderConfigurationHolder?.licences?.[this.user.email] ?? false
    }
  }
}
</script>

<style>
.scroller-item-member-list {
  background-color: #F6F6F6;
  border-bottom: 1px solid #fff;

  padding: 18px 20px;
  display: flex;
  align-items: center;
  font-size: .875rem;
  cursor: pointer;
  //background: blue;
}
.scroller-item-member-list.odd {
  background-color: rgba(255, 255, 255, 0.2);
  //background: red;
}
.scroller-item-member-list.highlight {
  background-color: rgba(128,188,0,0.2);
  border-bottom: 1px solid #fff;
}
.scroller-item-member-list.scroller-element {
  flex: 1 1 0px;
}
</style>
