<template>
  <div style="height: 300px">
    <DynamicScroller
      class="vue-scroller"
      :items="users"
      :min-item-size="68"
      key-field="id"
    >
      <template #before>
        <div class="vue-scroller-header d-flex justify-content-around">
          <div class="vue-scroller-header-element">
            {{ $translator.trans( 'Last name' ) }} {{ $translator.trans( 'First name' ) }}
          </div>
          <div class="vue-scroller-header-element">
            {{ $translator.trans( 'Email' ) }}
          </div>
        </div>
      </template>
      <template #default="{ item, index, active }">
        <DynamicScrollerItem
          :item="item"
          :active="active"
          :data-index="index"
        >
          <available-members-list-item
            :user="user(item.id)"
            :index="index"
            :is-selected="userInPartOfSelection(item.id)"
            @click="addOrRemoveUserInSelection"
          />
        </DynamicScrollerItem>
      </template>
    </DynamicScroller>
  </div>
</template>

<script>
import _                        from 'lodash'
import { mapState }             from 'vuex'
import {
  getUsersNotRegisteredOnSessionAndMatchWithSearchQuery,
  retrieveUser
}                               from '../../../utils/session-members-selector.utils'
import AvailableMembersListItem from './AvailableMembersListItem'

export default {
  name:       'MembersList',
  components: { AvailableMembersListItem },
  computed:   {
    ...mapState('sessionMembersSelector', ['currentSelection', 'membersOfSession', 'query']),
    users () {
      return getUsersNotRegisteredOnSessionAndMatchWithSearchQuery(this.membersOfSession, this.query)
    }
  },
  methods:    {
    user (userID) { return retrieveUser(userID) },
    addOrRemoveUserInSelection (userId) {
      if (this.currentSelection.indexOf(userId) >= 0) {
        this.currentSelection.splice(this.currentSelection.indexOf(userId), 1)
      } else {
        this.currentSelection.push(this.user(userId))
      }
    },
    userInPartOfSelection (userId) {
      return _.find(this.currentSelection, { id: userId }) !== undefined
    }
  }
}
</script>

<style scoped>
.vue-scroller {
  height: 100%;
}

.vue-scroller-header {
  padding:     18px 20px;
  font-size:   0.875rem;
  line-height: 1rem;
  color:       rgba(66, 66, 72, 0.45);
  font-weight: bold;
}

.vue-scroller-header-element {
  flex: 1 1 0px;
}
</style>
