<template>
  <table class="table-selected-participants">
    <thead>
      <tr>
        <th
          class="p-3 fw-bold opacity-50"
          style="width: 37%;"
          data-field="fullname"
        >
          {{ $translator.trans( 'Last name' ) }} {{ $translator.trans( 'First name' ) }}
        </th>
        <th
          class="p-3 fw-bold opacity-50"
          style="width: 37%;"
          data-field="email"
        >
          {{ $translator.trans( 'Email' ) }}
        </th>
        <th
          class="p-3 fw-bold opacity-50"
          style="width: 26%;"
          data-field="role"
        >
          {{ $translator.trans( 'Role' ) }}
        </th>
        <th
          class="p-3 fw-bold opacity-50"
          style="width: 10%;"
          data-field="action"
        />
      </tr>
    </thead>
    <tbody>
      <members-list-item
        v-for="user in membersOfSession"
        :key="user.id"
        :user="user"
        :is-a-webex-licence="webexLicence === user.email"
        @roleChange="changeRoleOfMemberSession(user.user_id, ...arguments)"
      />
    </tbody>
  </table>
</template>

<script>
import { mapGetters }  from 'vuex'
import MembersListItem from './MembersListItem'

export default {
  name:       'MembersList',
  components: { MembersListItem },
  props:      {
    webexLicence: {
      type:     String,
      required: false,
      default:  ''
    }
  },
  computed:   {
    ...mapGetters('sessionMembersSelector', { membersOfSession: 'getMembersOfSession' })
  },
  methods:    {
    changeRoleOfMemberSession (userId, role) {
      this.$store.commit('sessionMembersSelector/changeRoleOfMemberSession', { userId, role })
    }
  }
}
</script>

<style>
.table-selected-participants {
  table-layout: fixed ;
  width: 100% ;
}
td {
  width: 10% ;
}
</style>
