<template>
  <div class="session-content-blocks">
    <div class="row">
      <div class="col-5">
        <div class="session-content-blocks__container">
          <div class="searchbar-participants d-flex align-items-center mb-3">
            <img src="/build/static/icons/search.svg">
            <input
              id="participants-search"
              v-model="query"
              type="search"
              :placeholder="$translator.trans('Search for a participant')"
              @input="updateUserSearch"
            >
          </div>
          <available-members-list v-if="!loading" />
          <div
            v-else
            class="d-flex justify-content-center align-items-center"
            style="height: 300px;"
          >
            <loader />
          </div>
        </div>
      </div>
      <div class="col-1 container-add-participants text-center">
        <div
          class="add-participants-btn"
          @click="passSelectionAsMemberOfSession"
        >
          <img src="/build/static/icons/green-round-whith-chevron.svg">
        </div>
      </div>
      <div class="col-6">
        <div
          id="session-content-blocks-added-user"
          class="session-content-blocks__container"
        >
          <div class="title-selected-participants d-flex align-items-center mb-37">
            <h3 class="me-2">
              {{ $translator.trans( 'Selected participants' ) }}
            </h3>
            <div
              :class="roundSize"
              class="d-flex align-items-center justify-content-center"
            >
              <span id="number-selected-participants">{{ membersOfSession.length }}</span>
            </div>
          </div>
          <div
            class="tag-information-container"
            :style="{ 'margin-bottom': groupsOfSession.length > 0 ? '10px' : '38px' }"
          >
            <div
              v-for="group in groupsOfSession"
              :key="group.id"
              class="tag-information d-flex align-items-center"
              style="margin-right: 10px"
            >
              <div class="tag-information d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <span class="group-info">{{ group.name }} ({{ group.numberUsers }})</span>
                  <img
                    style="margin-left: 5px"
                    role="button"
                    src="/build/static/icons/cross.svg"
                    width="10"
                    alt=""
                    @click="removeGroupAsAMemberOfSession(group.id)"
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="table-scroll-container">
            <members-list :webex-licence="webexLicence" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _                    from 'lodash'
import { mapState }         from 'vuex'
import Loader               from '../../ui/Loader'
import AvailableMembersList from './AvailableMembersList'
import MembersList          from './MembersList'

export default {
  name:       'MembersSelector',
  components: { MembersList, AvailableMembersList, Loader },
  props:      {
    loading: {
      type:    Boolean,
      default: true
    },
    webexLicence: {
      type:     String,
      required: false,
      default:  ''
    }
  },
  data () {
    return {
      query: ''
    }
  },
  computed: {
    ...mapState('sessionMembersSelector', ['users', 'loaded', 'membersOfSession', 'groupsOfSession']),
    roundSize () {
      if (this.membersOfSession.length <= 99) {
        return 'ten'
      } else if (this.membersOfSession.length <= 999) {
        return 'hundred'
      } else {
        return 'thousand'
      }
    }
  },
  methods:  {
    updateUserSearch: _.debounce(function () {
      this.$store.commit('sessionMembersSelector/setQuery', this.query)
    }),
    passSelectionAsMemberOfSession () {
      this.$store.dispatch('sessionMembersSelector/passSelectionAsMemberOfSession')
    },
    removeGroupAsAMemberOfSession (groupId) {
      this.$store.commit('sessionMembersSelector/removeParticipantOfGroupSelected', groupId)
      this.$store.commit('sessionMembersSelector/removeGroupAsAGroupOfSession', groupId)
    }
  }
}
</script>

<style scoped>
.searchbar-participants {
  margin-top:    1px;
  margin-bottom: 31px;
}
</style>
