<template>
  <tr>
    <td
      class="p-3"
      style="vertical-align: middle;"
    >
      <span
        class="d-block"
        style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
      >{{ user.lastName }}</span>
      <span
        class="d-block"
        style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
      >{{ user.firstName }}</span>
    </td>
    <td
      class="p-3"
      style="vertical-align: middle;"
    >
      <span
        class="d-block"
        style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
      >{{ user.email }}</span>
      <span
        v-if="isAWebexLicence"
        class="badge bg-primary p-1"
      >{{ $translator.trans( 'Licence' ) }}<br></span>
      <span
        v-if="isOrganizerForThisConnector && !isAWebexLicence"
        class="badge bg-primary p-1"
      >{{ $translator.trans( 'Organizer' ) }}<br></span>
    </td>
    <td class="p-3">
      <select
        v-model="role"
        class="form-select"
        @change="$emit('roleChange', role)"
      >
        <option value="trainee">
          {{ $translator.trans( 'Trainee' ) }}
        </option>
        <option value="animator">
          {{ $translator.trans( 'Animator' ) }}
        </option>
      </select>
    </td>
    <td
      class="p-3"
      style="text-align: center; vertical-align: middle;"
    >
      <div class="btn-unsubscribe ms-0">
        <img
          src="/build/static/icons/user-delete.svg"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          :data-bs-original-title="$translator.trans('Unsubscribe')"
          :aria-label="$translator.trans('Unsubscribe')"
          width="15"
          style="cursor: pointer;"
          @click="removeUserAsAMemberOfSession"
        >
      </div>
    </td>
  </tr>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  name:  'MembersListItem',
  props: {
    user:            {
      type:     Object,
      required: true
    },
    isAWebexLicence: {
      type:     Boolean,
      required: true
    }
  },
  data () {
    return {
      role: this.user.role
    }
  },
  computed: {
    ...mapGetters('session', { session: 'getSession' }),
    isOrganizerForThisConnector () {
      return this.session.abstractProviderConfigurationHolder?.licences?.[this.user.email] ?? false
    }
  },
  methods: {
    removeUserAsAMemberOfSession () {
      this.$store.commit('sessionMembersSelector/removeUserAsAMemberOfSession', this.user.user_id)
    }
  }
}
</script>

<style scoped>
.form-select {
  width: 120px;
}
</style>
