<template>
  <form
    class="container-fluid py-1"
    method="post"
    @submit="formSubmit"
  >
    <div class="row">
      <div class="col-sm">
        <label>
          {{ $translator.trans('From') }}
        </label>
        <div class="input-container d-flex align-items-center">
          <date-time-input
            v-model="filter.startDate"
            :placeholder="$translator.trans('From')"
            type="date"
          />
        </div>
      </div>
      <div class="col-sm">
        <label>
          {{ $translator.trans('To') }}
        </label>
        <div class="input-container d-flex align-items-center">
          <date-time-input
            v-model="filter.endDate"
            :placeholder="$translator.trans('To')"
            type="date"
          />
        </div>
      </div>
      <div class="col-sm mt-auto">
        <div class="input-container d-flex align-items-center">
          <button
            type="submit"
            class="btn btn-primary"
          >
            {{ $translator.trans('Filter') }}
          </button>
          <div class="mx-1" />
          <a
            type="submit"
            class="btn btn-light"
            :href="$routing.generate(route)"
          >
            {{ $translator.trans('Reset filters') }}
          </a>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import DateTimeInput from '../../../ui/DateTimeInput.vue'
import { DateTime } from 'luxon'

export default {
  name: 'BillingFilter',
  components: { DateTimeInput },
  props: {
    query: {
      type: Object,
      default: () => {}
    },
    route: {
      type: String,
      default: () => '_billing_claimant'
    }
  },
  data () {
    return {
      filter: {
        startDate: this.query.startDate,
        endDate: this.query.endDate
      },
      format: DateTime
    }
  },
  mounted () {
    const searchURL = new URL(window.location)
    Object.keys(this.filter).forEach((key) => {
      const value = searchURL.searchParams.get(key)
      if (value) this.filter[key] = value
    })
  },
  methods: {
    formSubmit (event) {
      event.preventDefault()
      window.location.href = this.$routing.generate(this.route, {
        startDate: this.filter.startDate ?? null,
        endDate: this.filter.endDate ?? null
      })
    }
  }
}
</script>
