<template>
  <div>
    <div
      class="data-list__row"
      style="min-height: 30px; height: 30px;"
      xclass="{ 'alert-session': hasBounceAlert }"
    >
      <div class="row__data">
        {{ dataBilling.name }}
      </div>
      <div class="row__data">
        {{ dataBilling.acronym }}
      </div>
      <div class="row__data" />
      <div class="row__data">
        {{ dataBilling.quantity }}
      </div>
      <div class="row__data">
        {{ dataBilling.hs.toFixed(2) }} ({{ dataBilling.hs_convert }})
      </div>
      <div class="row__data">
        {{ dataBilling.hhs.toFixed(2) }} ({{ dataBilling.hhs_convert }})
      </div>
      <div class="row__data">
        {{ dataBilling.cancelledMinus24 }}
      </div>
      <!--      <div class="row__data">-->
      <!--        {{ dataBilling.billed }} &euro;-->
      <!--      </div>-->

      <div class="row__data option" />
    </div>
    <div
      class="data-list__row"
      style="background-color: #fcfcfc;  min-height: 30px; height: 30px;"
      xclass="{ 'alert-session': hasBounceAlert }"
    >
      <div class="row__data" />
      <div class="row__data" />
      <div class="row__data">
        {{ $translator.trans('Assistance') }}
      </div>
      <div class="row__data">
        {{ dataBilling.assistance.quantity }}
      </div>
      <div class="row__data">
        {{ dataBilling.assistance.hs.toFixed(2) }} ({{ dataBilling.assistance.hs_convert }})
      </div>
      <div class="row__data">
        {{ dataBilling.assistance.hhs.toFixed(2) }} ({{ dataBilling.assistance.hhs_convert }})
      </div>
      <div class="row__data">
        {{ dataBilling.assistance.cancelledMinus24 }}
      </div>
      <!--      <div class="row__data">-->
      <!--        {{ dataBilling.assistance.billed }} &euro;-->
      <!--      </div>-->

      <div class="row__data option" />
    </div>
    <div
      class="data-list__row"
      style="background-color: #fcfcfc;  min-height: 30px; height: 30px;"
      xclass="{ 'alert-session': hasBounceAlert }"
    >
      <div class="row__data" />
      <div class="row__data" />
      <div class="row__data">
        {{ $translator.trans('Support') }}
      </div>
      <div class="row__data">
        {{ dataBilling.support.quantity }}
      </div>
      <div class="row__data">
        {{ dataBilling.support.hs.toFixed(2) }} ({{ dataBilling.support.hs_convert }})
      </div>
      <div class="row__data">
        {{ dataBilling.support.hhs.toFixed(2) }} ({{ dataBilling.support.hhs_convert }})
      </div>
      <div class="row__data">
        {{ dataBilling.support.cancelledMinus24 }}
      </div>
      <!--      <div class="row__data">-->
      <!--        {{ dataBilling.support.billed }} &euro;-->
      <!--      </div>-->

      <div class="row__data option" />
    </div>
    <div
      class="data-list__row"
      style="background-color: #fcfcfc;  min-height: 30px; height: 30px;"
      xclass="{ 'alert-session': hasBounceAlert }"
    >
      <div class="row__data" />
      <div class="row__data" />
      <div class="row__data">
        {{ $translator.trans('Services provided') }}
      </div>
      <div class="row__data">
        {{ dataBilling.directNeed.quantity }}
      </div>
      <div class="row__data">
        {{ dataBilling.directNeed.hs.toFixed(2) }} ({{ dataBilling.directNeed.hs_convert }})
      </div>
      <div class="row__data">
        {{ dataBilling.directNeed.hhs.toFixed(2) }} ({{ dataBilling.directNeed.hhs_convert }})
      </div>
      <div class="row__data">
        {{ dataBilling.directNeed.cancelledMinus24 }}
      </div>
      <!--      <div class="row__data">-->
      <!--        {{ dataBilling.support.billed }} &euro;-->
      <!--      </div>-->

      <div class="row__data option" />
    </div>
  </div>
</template>

<script>
/* import SessionListItemDropdownMenu            from './SessionListItemDropdownMenu'
import ParticipantSessionListItemDropdownMenu from '../ParticipantSessionListItemDropdownMenu'
import ParticipantSessionListItemAction       from '../ParticipantSessionListItemAction'
import SessionListItemAction                  from './SessionListItemAction' */
import { mapGetters } from 'vuex'
/* import {
  CATEGORY_SESSION_WEBINAR
} from '../../../store/module/session' */

export default {
  components: {
    /* SessionListItemAction,
    ParticipantSessionListItemAction,
    ParticipantSessionListItemDropdownMenu,
    SessionListItemDropdownMenu */
  },
  props: {
    dataBilling: {
      type: Object,
      required: true,
      default: () => {}
    },
    isAdmin: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  data () {
    return {
      animators: []
    }
  },
  computed: {
    ...mapGetters({ currentUser: 'currentUser/getCurrentUser' })
  },
  mounted () {

  },
  methods: {

  }
}
</script>
