<template>
  <section>
    <billing-filter
      :query="query"
      :route="route"
    /><br>
    <div class="data-list">
      <div class="data-list__header">
        <div
          v-if="isAdmin"
          class="data-list__header__item"
        >
          {{ $translator.trans('Name') }}
        </div>
        <div
          v-if="isAdmin"
          class="data-list__header__item"
        >
          {{ $translator.trans('Acronym') }}
        </div>
        <div
          v-if="isAdmin"
          class="data-list__header__item"
        >
          {{ $translator.trans('Type') }}
        </div>
        <div
          v-if="!isAdmin"
          class="data-list__header__item"
        >
          {{ $translator.trans('Month') }} / {{ $translator.trans('Year') }}
        </div>
        <div
          v-if="!isAdmin"
          class="data-list__header__item"
        >
          {{ $translator.trans('Type') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Quantity') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Standard Duration') }} (h)
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Duration Plus') }} (h)
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Cancelled') }} {{ inf24 }}
        </div>
        <!--        <div class="data-list__header__item">
          {{ $translator.trans('Invoiced') }}
        </div>-->
        <!--        <div class="data-list__header__item row" />
        <div class="data-list__header__item" />-->
        <div class="data-list__header__item option" />
      </div>
      <div class="table-content">
        <div
          v-if="!isAdmin"
          id="billing-view-claimant-list-item"
        >
          <billing-view-claimant-list-item
            v-for="month in allDataBillingClaimant.claimantView"
            :key="month"
            :data-billing="month"
            :is-admin="isAdmin"
          />
        </div>
        <div
          v-else
          id="billing-view-s-a-list-item"
        >
          <billing-view-s-a-list-item
            v-for="presta in allDataBillingClaimant.saView"
            :key="presta"
            :data-billing="presta"
            :is-admin="isAdmin"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import BillingViewClaimantListItem from './BillingViewClaimantListItem'
import BillingViewSAListItem from './BillingViewSAListItem'
import BillingFilter from './BillingFilter'

export default {
  name: 'BillingClaimantList',
  components: { BillingViewClaimantListItem, BillingViewSAListItem, BillingFilter },
  props: {
    allDataBillingClaimant: {
      type: Object,
      required: true,
      default: () => {}
    },
    isAdmin: {
      type: Boolean,
      required: false,
      default: () => false
    },
    query: {
      type: Object,
      default: () => {
      }
    },
    route: {
      type: String,
      default: () => '_billing_claimant'
    }
  },
  data () {
    return {
      inf24: '(<24h)'
    }
  },
  computed: {
    ...mapGetters({ currentUser: 'currentUser/getCurrentUser' })
  }
}
</script>

<style scoped lang="css">
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
</style>
