{% extends 'main.html.twig' %}
{% set routeActive = '_activity_list' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('activities') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('activities') }}
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <div id="activities">
        <activities :clients="{{ clients|serialize('json', {'groups': 'filter:view'}) }}"
                    :client="{{ client|serialize('json', {'groups': 'read_client'}) }}"
                    :user="{{ app.user | serialize('json', {'groups': 'read_grouped_activities'}) }}"
                    :is-super-admin='{{ is_granted('ROLE_HOTLINE_CUSTOMER_SERVICE') ? 'true' : 'false' }}'>

        </activities>
    </div>
{% endblock %}
