<template>
  <div
    id="synthese-answers"
    class="row mb-24"
  >
    <div class="col-lg-12">
      <div class="encadre d-flex align-items-center justify-content-between">
        <div>
          <p>
            {{
              $translator.trans('%answer_percentil%% of respondents (%answer%/%total%)',
                                {
                                  answer_percentil: answerPercentile,
                                  answer: answer,
                                  total: total
                                })
            }}
          </p>
        </div>
      </div>
      <template v-if="answer > 0">
        <button
          type="button"
          class="d-flex align-items-center send-block ps-0 mt-10"
          @click="openEvaluationSynthesis()"
        >
          <img
            src="/build/static/icons/open-target-green.svg"
            class="me-2"
          >
          <span>{{ $translator.trans('Response synthesis') }}</span>
        </button>
      </template>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'EvaluationResult',
  props : {
    participantRoles: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters({ session: 'session/getSession' }),
    total () {
      return this.participantRoles.total
    },
    answer () {
      return this.participantRoles.answer
    },
    answerPercentile () {
      if (this.total === 0) {
        return 0
      }
      return Math.round((this.answer * 100) / this.total)
    }
  },
  methods: {
    openEvaluationSynthesis () {
      window.open(this.$routing.generate('_session_evaluation_synthesis', { id: this.session.id }), '_blank')
    }
  }
}
</script>
