<template>
  <div class="data-list__row">
    <div class="row__data">
      {{ participant.participant.fullName }}
    </div>
    <div class="row__data">
      {{ humanizeRole }}
    </div>
    <div class="row__data d-flex justify-content-end">
      <template v-if="hasResponded">
        <img
          src="/build/static/icons/open-target.svg"
          :data-bs-target="'#' + idModal"
          data-bs-toggle="modal"
          role="button"
        >
        <div
          :id="idModal"
          class="modal fade"
          tabindex="-1"
        >
          <!--      === MODAL ===   -->
          <preview-evaluation-modal
            :key="session.evaluations[0].surveyId"
            :survey-id-selected="session.evaluations[0].surveyId"
            :locale="session.language"
            :answer="answer"
            :title-modal="$translator.trans('Answer of %participant%', {'participant': participant.participant.fullName})"
          />
          <!--      === MODAL ===   -->
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import PreviewEvaluationModal from './PreviewEvaluationModal'

export default {
  name: 'EvaluationParticipantResultLineItem',
  components: { PreviewEvaluationModal },
  props: {
    participant: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters({ session: 'session/getSession' }),
    idModal () {
      return 'previewModal' + this.participant.id
    },
    humanizeRole () {
      if (this.participant.role === 'animator') {
        return this.$translator.trans('Animator')
      }
      return this.$translator.trans('Participant')
    },
    answer () {
      return this.participant.answers[this.session.evaluations[0].id]?.answer.data
    },
    hasResponded () {
      return !!(Object.keys(this.participant.answers).length) && this.participant.answers[this.session.evaluations[0].id]
    }
  }
}
</script>

<style scoped>

</style>
