<template>
  <div
    id="table-participants-eval"
    class="row"
  >
    <div class="col-lg-12">
      <div class="data-list table-participants">
        <div class="table-content data-list__row-small">
          <evaluation-participant-result-line-item
            v-for="participant in participantRoles.participants"
            :key="participant.id"
            :participant="participant"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import EvaluationParticipantResultLineItem from './EvaluationParticipantResultLineItem'
import { mapGetters } from 'vuex'

export default {
  name: 'EvaluationParticipantsResult',
  components: { EvaluationParticipantResultLineItem },
  props: {
    participantRoles: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters({ session: 'session/getSession' })
  }
}
</script>

<style scoped>

</style>
