<template>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          id="exampleModalLabel"
          class="modal-title"
        >
          {{ title }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        />
      </div>
      <div class="modal-body">
        <div class="session-detail-signature">
          <div class="session-detail-signature-content pt-0">
            <div class="session-content">
              <div class="session-form">
                <live-session-survey
                  :survey-id="surveyIdSelected"
                  :locale="locale"
                  :answer="answer"
                  :preview="true"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          {{ $translator.trans( 'Close' ) }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import LiveSessionSurvey from '../../../Survey/LiveSessionSurvey'

export default {
  name: 'PreviewEvaluationModal',
  components: { LiveSessionSurvey },
  props: {
    surveyIdSelected: {
      type: String,
      required: true
    },
    locale: {
      type: String,
      required: true
    },
    answer: {
      type: Object,
      default: () => {}
    },
    titleModal: {
      type: String,
      required: false,
      default: null
    }
  },
  computed: {
    title () {
      return this.titleModal ? this.titleModal : this.$translator.trans('Preview of the evaluation questionnaire')
    }
  }
}
</script>
