.data-roof {
	width:100%;
    box-sizing: border-box;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;

    display:flex;
    align-items: center;
    transition: $transition-base;

    @media (max-width: $lg ) {
        display: block;
        padding: $_padding-sm;
    }

    &__tile {
        width: 150px;
        margin-right: 5px;
        &:first-child {
            padding-left: 0;
        }

        .tile__content {
            height: 200px;
            border: 1px solid black;
            border-radius: 3px;
            position: relative;
            padding-top: 10px;

            .content__image {
                height: 75px;
                width: 100%;
                padding: 10px;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }

            &:hover {
                .icn-option {
                    visibility: visible;
                    opacity: 1;
                }
            }

            .drop-menu-container {
                position: absolute;
                right: -16px;
                top: -16px;

                @media (max-width: $lg ) {
                    position: static;
                    margin-left: $_margin-sm;
                }
            }

            .icn-option {
                display: flex;
                justify-content: center;
                align-items: center;
                @include circle(36px);
                border: 3px solid $white;
                background-color: $black;
                color: $white;
                cursor: pointer;
                visibility: hidden;
                opacity: 0;

                @media (max-width: $lg ) {
                    display: flex;

                }
            }
        }

        .tile__footer {
            text-align: center;
        }

    }
}


