// modal.scss
// Destiné à ...

.modal-dialog-scrollable .modal-content {
    overflow-y: auto !important;
}

.modal-content {
    box-shadow: $box-shadow;
    border: $_border;

    .modal-body {
        padding: 30px;
    }

    .modal-header {
        margin: 0;
        padding: 30px;
        padding-bottom: $_padding;
        border-bottom: $border-width solid $modal-bg-col;

        .modal-title {
            margin-bottom: 0;
            line-height: 1.5;
            @include font-size(20px);
            font-weight: 600;

            small {
                display: block;
                font-size: .75rem;
            }
          }
    }

    .modal-footer {
        padding: .75rem 30px;
        padding-right: 30px;
    background-color: $modal-bg-col;
        padding-right: calc(30px - .65rem);
    }
}


.filter-modal {
    max-width:  960px;

    .filter-modal-col {
        width: 230px;
        background-color:  $gray-200;
        border-right: $_border;
        align-self: stretch;
        padding: $_padding-lg $_padding $_padding $_padding;
    }

    .filter-modal-container {
        .modal-header {
            height: 80px;
        }

        .filter-modal-body {
            padding: 30px;
            @include font-size(14px);
        }
    }

    .filter-add-line {
        display: flex;
        align-items: center;
        padding: $_padding-sm 0;
    }
}
