// activity_log.scss

$_log-position: 50px;
$_log-transform-position: 0 - $_log-position;

.activity-log {
    position: relative;
    left: $_log-position;
    width: calc(100% - #{$_log-position});

    &__list-title {
        position: sticky;
        top: 67px; // = height de la top bar -1px
        transform: translateX($_log-transform-position); // = (0px - left) de .activy-log
        width: calc(100% + #{$_log-position});
        padding: $_padding;
        padding-left: 80px;
        @include font-size(18px);
        font-weight: 700;
        background-color: $white;
        z-index: 1;
        margin-bottom: 10px;
    }

    &__list-container {
        list-style-type: none;
        padding-left: 30px;
        margin-bottom: 60px;
    }

    &__list-item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: $_margin-sm;
        padding: 15px;
        border: $_border;
        @include font-size(12px);

        &:not(:last-child) {
            border-bottom: none;
        }

        img {
            left: -33px;
            @extend %pos-abs-center-y;
            border: $_border;
            @include circle(21px);
            background-color: $white;
            padding: 1px;
            cursor: help;
        }

        @media screen and (min-width: $md) {
            flex-direction: row;
        }
    }

    &__list-content {
        font-weight: 600;
    }

    &__list-btn-container {
        display: flex;
        align-items: center;
        gap: $_margin-sm;

        @media screen and (max-width: $sm) {
            flex-wrap: wrap;
        }
    }

    &__list-btn {
        @include font-size(12px);
    }

    &__list-hour {
        @extend %pos-abs-center-y;
        left: -80px;
        @include font-size(14px);
        font-weight: 300;
        color: $gray-700;
    }

    &:after {
        content: "";
        position: absolute;
        height: calc(100% - 150px);
        left: 10px;
        top: 105px;
        z-index: -1;
        border-left: $border-width dashed $gray-600;
    }
}
