.data-list {
	width:100%;
    box-sizing: border-box;
    margin-bottom: 0;

    &__header {
        display: flex;
        padding-bottom: $_padding-sm;
        flex: 1 1 20%;

        @media (max-width: $lg ) {
            display: none;
        }
        

        &__item {
            @include font-size(14px);
            color: $gray-700;
            flex: 1 1 20%;
            padding: 0 $_padding-sm;
            text-overflow: ellipsis;
            width: 20ch;
            overflow: hidden;
            
            &.option {
                max-width: 3rem;
                min-width: 3rem;
            }

            &.small-item {
                max-width: 100px;
            }

            + .widgetNews__content__header__item {
                max-width: 40%;
                flex: 1 1 40%;
            }
        }
    }

    &__row {
        display:flex;
        align-items: center;
        background: $gray-300;
        min-height: 90px;
        border-radius: 4px;
        margin-bottom: 5px;
        transition: $transition-base;

        @media (max-width: $lg ) {
            display: block;
            padding: $_padding-sm;
        }

        
        &.alert-session {
            background-color: rgba($color: $red, $alpha: .15);

            &:hover {
                background-color: rgba($color: $red, $alpha: .25); 
            }
        }

        &:hover {
            background-color: rgba(#E9E9E9, .8); 
            
            .row__data .icn-option {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .row__data {
        + .widgetNews__content {
            max-width: 40%;
            flex: 1 1 40%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        @include font-size(14px);
        line-height: 20px;
        position: relative;
        flex: 1 1 20%;
        padding: 0 $_padding-sm;
        text-overflow: ellipsis;
        width: 20ch;
        overflow: hidden;

        @media (max-width: $lg ) {
            padding: 5px $_padding-sm; 
        }

        a {
            color: $black;
            text-decoration: none;
        }
    
        &:first-child {
            //padding-left: $_padding;
            //
            //@media (max-width: $lg ) {
            //    padding-left: $_padding-sm;
            //}
        }
    
        &.date {
            b {
                font-weight: 800;
            }
        }
    
        &.option {
            text-align: right;
            display: flex;
            justify-content: end;
            align-items: center;
            min-height: 90px;
            padding-right: 35px;
            overflow: visible;
            max-width: 3rem;
            min-width: 3rem;
    
            &.small-item {
                max-width: 100px;
            }

            @media (max-width: $lg ) {
                padding-right: 0;
                min-height: auto;
            }

            .drop-menu-container {
                position: absolute;
                right: -16px;

                @media (max-width: $lg ) {
                    position: static;
                    margin-left: $_margin-sm;
                }
            }
        }
    
    
        .icn-option {
            display: flex;
            justify-content: center;
            align-items: center;
            @include circle(36px);
            border: 3px solid $white;
            background-color: $black;
            color: $white;
            cursor: pointer; 
            visibility: hidden;
            opacity: 0;
                        
            @media (max-width: $lg ) {
               display: flex;
               
            }
        }
    }


    .badge {
        display: inline-block;
        padding: 8px 15px;
        @include font-size(12px);
        font-weight: 600;
        line-height: 1;
        color: $white;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 4px;
        background-color: #8C8D8E;

        &-sm {
            padding: .35em .65em;
        }

        &.bg-alert { background-color: $red; }
        &.bg-primary { background-color: $primary; }
        &.bg-program { background-color: $cyan; color:#000; }
        &.bg-indicator { background-color: #fff; color:#000; border: 1px solid $gray-500; }
    }

}

.data-list__row-small {
    .data-list__row,
    .row__data.option {
        min-height: 60px;
    }

    .data-list__row:last-child {
        margin-bottom: 0;
    }
}

.data-list__row-small {
    .data-list__row,
    .row__data.option {
        min-height: 60px;
    }

    .data-list__row:last-child {
        margin-bottom: 0;
    }
}




//ICNS
.opened-room {
    @extend %d-flex-center;
    margin-right: $_margin-sm;
    border-radius: 4px;
    @include font-size(12px);
    padding: 0 12px;
    color: $white;
    background-color: $blue;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 30px;
    
    .icon { margin-right: 3px; }
    svg use { fill: $white; }
}

.session-option {
    @include circle(30px);
    @extend %d-flex-center;
    background-color: $gray-400;

    &.success { background-color: $success; }
    &.warning { background-color: $orange; }
    .icon { width: 16px; }
}

.session-warning {
    margin-left: $_margin-sm;

    .icon { width: 16px; }
    svg use { fill: $red; }
}

