.dropdown-menu {
    box-shadow: $box-shadow;
    border: $_border;
    @include font-size(14px);
    min-width: 200px;

    &.dropdown-menu-list {
        overflow: hidden;
        padding: 0;

        .dropdown-item {
            border-bottom: $border-width solid $gray-400;
            padding: 12px 1rem;

            &:hover, &:focus {
                background-color: $gray-300;
            }

            &.active, &:active {
                color: $primary;
                background-color: $gray-300;
            }

            &-footer {
                background-color: $gray-300;
                display: flex;
                align-items: center;
            }
        }
    }

    .dropdown-item {
        &:hover, &:focus {
            background-color: $gray-300;
        } 
    }
}

.drop-menu-container {

    &:hover {
        .dropdown-menu-inner {
            display: block;
        }
    }

    .dropdown-menu-inner {
        position: absolute;
        z-index: 1000;
        display: none;
        min-width: 10rem;
        padding: $_padding-sm $_padding;
        margin: 0;
        @include font-size(14px);
        list-style: none;
        background-color: $white;
        background-clip: padding-box;
        border: $_border;
        border-radius: $_border-radius;
        right: -10px;
        box-shadow: $box-shadow;

        @media (max-width: $xl ) {
            right: initial;
            bottom: 100%;
        }

        .dropdown-item {
            display: block;
            width: 100%;
            clear: both;
            font-weight: 400;
            color: $black;
            text-align: inherit;
            text-decoration: none;
            white-space: nowrap;
            background-color: transparent;
            padding: 3px 0;
            display: flex;
            align-items: center;

            .icon {
                width: 12px;
                height: auto;
                margin-right: $_margin-sm;
            }

            &:hover, &:focus, &:active {
                text-decoration: none;
            }
        }
    }
}