.star-ratings {
  unicode-bidi: bidi-override;
  color: #ccc;
  font-size: 32px;
  position: relative;
  margin: 0;
  padding: 0;

  .fill-ratings {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;

    &[data-fill] {
      width: var(--rating-data-fill);
    }

    // Allows us to grab the width of the span elements
    span {
      display: inline-block;
    }
  }
  .empty-ratings {
    padding: 0;
    display: block;
    z-index: 0;
  }
}