<ul>
    {% for timezone in timezones %}
        {% set dateformat = langue == "en" ? 'h:i a (Y/m/d)' : 'H:i (d/m/Y)' %}
        <li>{{ timezone }} (GMT {{ datestart|date('P', timezone) }}) : {{ datestart|date(dateformat, timezone) }}</li>
    {% endfor %}
</ul>
