<template>
  <div>
    <div
      v-if="dataSign === ''"
    >
      <button
        type="button"
        class="btn btn-primary d-flex align-items-center m-auto"
        data-bs-toggle="modal"
        :data-bs-target="'#signatureModal-' + index"
      >
        <img
          src="/build/static/icons/pen-white.svg"
          alt="picto pen white"
          class="me-2"
        >
        <span>
          {{ $translator.trans('Sign') }}
        </span>
      </button>
    </div>
    <div
      v-else
    >
      <img
        :src="dataSign"
        height="60"
      >
    </div>
    <div
      :id="'signatureModal-' + index"
      :ref="'signatureModalComponent-'+ index"
      class="modal fade"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <div class="d-flex flex-column align-items-start">
              <h5
                id="exampleModalLabel"
                class="modal-title"
              >
                {{ $translator.trans(`%fullname%'s sign-up`, {fullname: userFullName}) }}
              </h5>
              <span>
                {{ sessionRole.session.ref }} - {{ formatHeaderDate(sessionRole.session.dateStart) }}
              </span>
            </div>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            />
          </div>
          <div class="modal-body">
            <alert
              v-if="errorSign !== null"
              type="danger"
              :text="errorSign"
            />
            <VueSignaturePad
              :id="'signature-' + index"
              ref="signaturePad"
              :key="index"
              width="100%"
              height="184px"
              :options="options"
              :class="['modal-body__signature d-flex align-items-center justify-content-center']"
            />
            <img
              src="/build/static/icons/edit-small-green.svg"
              alt="picto pen white"
              class="sign-pen-clear me-2"
              :title="$translator.trans('Erase signature')"
              @click="undo()"
            >
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              @click="save()"
            >
              {{ $translator.trans('Valid') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { DateTime } from 'luxon'
import Alert from '../../../ui/Alert'

export default {
  name: 'SignatureModal',
  components: {
    Alert
  },
  props: {
    sessionRole: {
      type: Object,
      required: false,
      default: () => { return {} }
    },
    index: {
      type: String,
      required: true
    },
    modalDate: {
      type: String,
      required: true
    },
    dayPartIndicator: {
      type: String,
      required: false,
      default: 'AM'
    }
  },
  data: () => ({
    dataSign: '',
    signatures: [],
    options: {
      penColor: '#000'
    },
    errorSign: null
  }),
  computed: {
    userFullName () {
      return this.sessionRole.participant.user.firstName + ' ' + this.sessionRole.participant.user.lastName
    }
  },
  mounted () {
    this.signatures = this.sessionRole.signatures
    this.$refs[`signatureModalComponent-${this.index}`].addEventListener('show.bs.modal', () => {
      this.open()
    })

    this.dataSign = this.dataSignIfAlreadySign()
  },
  methods: {
    dataSignIfAlreadySign () {
      let dataSigns = []

      dataSigns = this.signatures.filter((signature) => {
        return (signature.dayPartIndicator === this.dayPartIndicator &&
        signature.signatureForTheSessionOf === this.modalDate)
      })

      if (dataSigns.length > 0) {
        return dataSigns[0].signature
      }

      return ''
    },
    open () {
      setTimeout(() => {
        this.$nextTick(() => {
          this.$refs.signaturePad.resizeCanvas()
        })
      }, 500)
    },
    undo () {
      this.$refs.signaturePad.clearSignature()
    },
    save () {
      const { isEmpty, data } = this.$refs.signaturePad.saveSignature()

      if (!isEmpty) {
        const formSign = {
          signatureForTheSessionOf: this.sessionRole.session.dateStart,
          dayPartIndicator: this.dayPartIndicator,
          signature: data
        }

        this.$axios.post(this.$routing.generate('_session_signature_ppsr_save', { token: this.sessionRole.providerSessionAccessToken.token }),
          JSON.stringify(formSign),
          {
            headers: {
              'Content-Type': 'application/json; charset=utf-8'
            }
          }
        ).catch((error) => {
          if ('message' in error.response.data) {
            this.errorSign = error.response.data.message.text
          } else {
            this.errorSign = this.$translator.trans('An unknown error occurred while signing.')
          }
        }).then(() => {
          if (this.errorSign == null) {
            this.dataSign = data
          }
        })
      }
    },
    formatHeaderDate (date) {
      if (this.dayPartIndicator === 'AM') {
        return DateTime.fromISO(date).toLocaleString(DateTime.DATE_FULL) + ' ' + this.$translator.trans('Morning (before 1pm)')
      } else {
        return DateTime.fromISO(date).toLocaleString(DateTime.DATE_FULL) + ' ' + this.$translator.trans('Afternoon (after 1pm)')
      }
    },
    getSignatureIfAlreadySigned (date) {
      return false
    }
  }
}
</script>
