<template>
  <div
    v-if="session.running || session.finished"
    :id="'flush-collapse-' + index"
    class="accordion-collapse collapse"
    :aria-labelledby="'flush-heading-' + index"
    data-bs-parent="#accordionSignature"
  >
    <div class="accordion-body">
      <table class="table table-bordered">
        <thead>
          <tr
            v-if="session.fullDaySession"
          >
            <th scope="col" />
            <th
              scope="col"
              class="text-center"
            >
              {{ $translator.trans('Morning (before 1pm)') }}
            </th>
            <th
              scope="col"
              class="text-center"
            >
              {{ $translator.trans('Afternoon (after 1pm)') }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-if="session.fullDaySession"
          >
            <th>
              {{ formatDay(session.dateStart) }}
            </th>
            <td class="text-center">
              <signature-modal
                :index="'AM-' + index"
                :session-role="sessionRole"
                :modal-date="session.dateStart"
                :day-part-indicator="'AM'"
              />
            </td>
            <td class="text-center">
              <signature-modal
                :index="'PM-' + index"
                :session-role="sessionRole"
                :modal-date="session.dateStart"
                :day-part-indicator="'PM'"
              />
            </td>
          </tr>
          <tr
            v-else
          >
            <th>
              {{ formatDay(session.dateStart) }}
            </th>
            <td class="text-center">
              <signature-modal
                :index="'AM-' + index"
                :session-role="sessionRole"
                :modal-date="session.dateStart"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { DateTime } from 'luxon'
import SignatureModal from './SignatureModal'

export default {
  name: 'SignatureAccordionDetails',
  components: { SignatureModal },
  props: {
    sessionRole: {
      type: Object,
      required: false,
      default: () => { return {} }
    },
    index: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      session: this.sessionRole.session
    }
  },
  methods: {
    formatDay (date) {
      return DateTime.fromISO(date)
        .toLocaleString(DateTime.DATE_MED)
    }
  }
}
</script>
