<template>
  <div class="form">
    <alert
      v-if="success"
      :text="$translator.trans('The subject has been saved successfully')"
      type="success"
    />

    <module-edit-subject-general-information />
    <module-edit-subject-program-and-speakers />
    <module-edit-subject-replay />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Alert from '../../../ui/Alert.vue'
import ModuleEditSubjectGeneralInformation from '../EditSubject/ModuleEditSubjectGeneralInformation.vue'
import ModuleEditSubjectProgramAndSpeakers from '../EditSubject/ModuleEditSubjectProgramAndSpeakers.vue'
import ModuleEditSubjectReplay from '../EditSubject/ModuleEditSubjectReplay.vue'

export default {
  name: 'EditSubjectForm',
  components: { ModuleEditSubjectReplay, ModuleEditSubjectProgramAndSpeakers, ModuleEditSubjectGeneralInformation, Alert },
  computed: {
    ...mapState('process', ['success']),
    ...mapState('editSubject', ['subject', 'categoryAvailable'])
  }
}
</script>
