<template>
  <form
    v-if="moduleForm !== null"
    class="form"
  >
    <div
      v-if="Object.keys(clients).length > 1"
      class="mb-3 form__item"
    >
      <label
        for="client"
        class="form-label required"
      >{{ $translator.trans('Account') }}</label>
      <select
        v-model="moduleForm.client.id"
        name="client"
        required="required"
        class="form-control"
      >
        <option
          v-for="client in clients"
          :key="client.id"
          :value="client.id"
        >
          {{ client.name }}
        </option>
      </select>
      <div
        v-if="'client' in formErrors"
        class="invalid-feedback d-block"
      >
        {{ formErrors.client }}
      </div>
    </div>
    <div class="mb-3 form__item">
      <label
        for="name"
        class="form-label required"
      >{{ $translator.trans('Name') }}</label>
      <input
        v-model="moduleForm.name"
        name="name"
        required="required"
        class="form-control"
      >
      <div
        v-if="'name' in formErrors"
        class="invalid-feedback d-block"
      >
        {{ formErrors.name }}
      </div>
    </div>
    <div class="mb-3 form__item">
      <label
        for="domain"
        class="form-label required"
      >{{ $translator.trans('Domain' ) }}</label>
      <input
        v-model="moduleForm.domain"
        name="domain"
        required="required"
        class="form-control"
      >
      <tooltip :text="$translator.trans('To customize the module login/registration link')" />
      <div
        v-if="'domain' in formErrors"
        class="invalid-feedback d-block"
      >
        {{ formErrors.domain }}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="mb-4 form__item">
          <label
            for="subscriptionMax"
            class="form-label required"
          >{{ $translator.trans('Max number' ) }}</label>
          <input
            v-model="moduleForm.subscriptionMax"
            name="subscriptionMax"
            type="number"
            required="required"
            class="form-control"
          >
          <tooltip :text="$translator.trans('maximum number of participants  who can register')" />
          <div
            v-if="'subscriptionMax' in formErrors"
            class="invalid-feedback d-block"
          >
            {{ formErrors.subscriptionMax }}
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="mb-4 form__item">
          <label
            for="alertLimit"
            class="form-label required"
          >{{ $translator.trans('Limit of alert' ) }}</label>
          <input
            v-model="moduleForm.alertLimit"
            name="alertLimit"
            type="number"
            required="required"
            class="form-control"
          >
          <tooltip :text="$translator.trans('Show the number of remaining seats to alert the user that there is almost no availability')" />
          <div
            v-if="'alertLimit' in formErrors"
            class="invalid-feedback d-block"
          >
            {{ formErrors.alertLimit }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>{{ $translator.trans('Closing of registrations') }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <small>{{ $translator.trans('You can choose to close registrations one or more days before the session to freeze the list of participants.') }}</small>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <div class="form-check">
          <input
            id="close-subscriptions"
            v-model="moduleForm.closeSubscriptions"
            class="form-check-input mr-2 mt-2"
            type="checkbox"
            @change="checkCloseSubscriptions()"
          >
          <label
            class="form-check-label pe-lg-1"
            for="close-subscriptions"
          >{{ $translator.trans('Close subscriptions') }}</label>

          <input
            v-model="moduleForm.closeSubscriptionsBeforeNbrDays"
            name="closeSubscriptionsBeforeNbrDays"
            type="number"
            min="1"
            max="15"
            class="assistance-time-field form-item-in-paragraph support-type-required inline form-control"
            :disabled="!moduleForm.closeSubscriptions"
          >
          <label
            for="closeSubscriptionsBeforeNbrDays"
            class="form-check-label pe-lg-1"
          >{{ $translator.trans('day(s) before the start of the session' ) }}</label>
          <tooltip :text="$translator.trans('Example: For a session scheduled for November 6 at 2 p.m., close the session 2 days before returning any registrations that are impossible from November 4 at 1:59 p.m.')" />
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div
        class="form__item"
      >
        <label
          for="client"
          class="form-label required"
        >{{ $translator.trans('Language') }}</label>
        <select
          v-model="moduleForm.lang"
          name="lang"
          required="required"
          class="form-control"
        >
          <option
            v-for="language in languagesList"
            :key="language.value"
            :value="language.value"
          >
            {{ $translator.trans(language.label) }}
          </option>
        </select>
        <div
          v-if="'lang' in formErrors"
          class="invalid-feedback d-block"
        >
          {{ formErrors.client }}
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-12"
        style="margin-bottom: 10px"
      >
        <p>{{ $translator.trans('Type of access') }}</p>
      </div>
      <div class="col-sm-10">
        <div
          class="form-check"
          style="margin-bottom: 10px"
        >
          <input
            id="public-option"
            v-model="moduleForm.public"
            type="radio"
            :value="true"
            name="public-option"
          >
          <label
            class="form-check-label"
            for="public-option"
          >{{ $translator.trans( 'Public catalog' ) }}</label>
          <p style="font-size: 10px;">
            {{ $translator.trans('The catalog pages can be accessed directly, but you need to create an account to register for a session.') }}
          </p>
        </div>
        <div class="form-check">
          <input
            id="private-option"
            v-model="moduleForm.public"
            type="radio"
            :value="false"
            name="public-option"
          >
          <label
            class="form-check-label"
            for="private-option"
          >{{ $translator.trans( 'Catalog accessible with login' ) }}</label>
          <p style="font-size: 10px;">
            {{ $translator.trans('Create an account is required to access the catalog.') }}
          </p>
        </div>
      </div>
      <div
        v-if="'public' in formErrors"
        class="invalid-feedback d-block"
      >
        {{ formErrors.public }}
      </div>
    </div>
    <br>
    <div
      v-if="canSwitchActiveState"
      class="mb-3 form__item d-flex align-content-center"
    >
      <div class="me-2">
        {{ $translator.trans('Enable') }} :
      </div>
      <div class="search-switch">
        <label
          class="switch"
          for="switch-active-state"
          @click="changeActiveState"
        >
          <input
            v-model="moduleForm.active"
            type="checkbox"
            name="switch-active-state"
          >
          <span class="slider round" />
        </label>
      </div>
      <div
        v-if="'active' in formErrors"
        class="invalid-feedback d-block"
      >
        {{ formErrors.active }}
      </div>
    </div>
  </form>
</template>

<script>
import { mapState }     from 'vuex'
import Tooltip from '../../../ui/Tooltip'

export default {
  name: 'ModuleForm',
  components: { Tooltip },
  props: {
    canSwitchActiveState: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      moduleForm: null,
      errorLogo: null
    }
  },
  computed: {
    ...mapState('module', ['module', 'clients']),
    ...mapState('process', ['formErrors', 'saving']),
    languagesList () {
      return [
        {
          value: 'fr',
          label: 'French'
        },
        {
          value: 'en',
          label: 'English'
        }
      ]
    }
  },
  watch: {
    module (newValue, oldValue) {
      this.moduleForm = newValue
    }
  },
  mounted () {
    this.moduleForm = this.module
  },
  methods: {
    changeActiveState () {
      this.moduleForm.active = !this.moduleForm.active
    },
    updateLogo (logo) {
      this.moduleForm.logo = logo
    },
    checkCloseSubscriptions () {
      if (!this.moduleForm.closeSubscriptions) {
        this.moduleForm.closeSubscriptionsBeforeNbrDays = 1
      }
    }
  }
}
</script>

<style scoped>
input[name=switch-active-state] {
  height: auto !important;
}
</style>
