{% extends 'connectors/cisco/webex_base.xml.twig' %}

{% block body_content %}
    <meetingKey>{{ meetingKey }}</meetingKey>
    <attendeeName>{{ fullName }}</attendeeName>
    <attendeeEmail>{{ email }}</attendeeEmail>
{% endblock %}