<?xml version="1.0" encoding="UTF-8"?>
<serv:message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <header>
        <securityContext>
            <siteName>{{ configurationHolder.siteName }}</siteName>
            <webExID>{{ configurationHolder.username }}</webExID>
            <password>{{ configurationHolder.password }}</password>
        </securityContext>
    </header>
    <body>
        <bodyContent
                xsi:type="java:com.webex.service.binding.{{ webexAction }}">
            {% block body_content %}
            {% endblock %}
            {% if webexAction == 'history.LstmeetingattendeeHistory' %}
                <listControl>
                    <serv:startFrom>1</serv:startFrom>
                    <serv:maximumNum>1000</serv:maximumNum>
                    <serv:listMethod>OR</serv:listMethod>
                </listControl>
            {% endif %}
            
        </bodyContent>
    </body>
</serv:message>