{% extends 'connectors/cisco/webex_base.xml.twig' %}

{% block body_content %}
    {% if meeting.meetingPassword is not empty %}
        <accessControl>
            <meetingPassword>{{ meeting.meetingPassword }}</meetingPassword>
        </accessControl>
    {% endif %}
    {% if meeting.meetingKey is not empty %}
        <meetingkey>{{meeting.meetingKey}}</meetingkey>
    {% endif %}
    <metaData>
        <confName>{{ meeting.name }}</confName>
    </metaData>
    <remind>
        <enableReminder>0</enableReminder>
        <sendEmail>0</sendEmail>
        <sendMobile>0</sendMobile>
    </remind>
    <participants>
        {% if meeting.maximumUserCount is not null %}
            <maxUserNumber>{{ meeting.maximumUserCount }}</maxUserNumber>
        {% endif %}
    </participants>
    <schedule>
        <startDate>{{ meeting.dateStart|date('m/d/Y H:i:s', meeting.client.timezone) }}</startDate>
        <duration>{{ meetingDuration }}</duration>
        {% if configurationHolder.defaultOptions['optionOpenTime'] is defined %}
            <openTime>{{ configurationHolder.defaultOptions['optionOpenTime']|number_format * 60 }}</openTime>
        {% else %}
            <openTime>{{ meeting.openTime }}</openTime>
        {% endif %}
        {% if configurationHolder.defaultOptions['optionJoinTeleconfBeforeHost'] is defined %}
            <joinTeleconfBeforeHost>{{ configurationHolder.defaultOptions['optionJoinTeleconfBeforeHost'] }}</joinTeleconfBeforeHost>
        {% else %}
            <joinTeleconfBeforeHost>true</joinTeleconfBeforeHost>
        {% endif %}
        <hostWebExID>{{ meeting.licence }}</hostWebExID>
    </schedule>
    <telephony>
        <telephonySupport>CALLIN</telephonySupport>
        <intlLocalCallIn>1</intlLocalCallIn>
    </telephony>
    <enableOptions>
        <attendeeList>1</attendeeList>
        <javaClient>0</javaClient>
        <nativeClient>0</nativeClient>
        <chat>1</chat>
        <poll>1</poll>
        <audioVideo>1</audioVideo>
        <fileShare>1</fileShare>
        <presentation>1</presentation>
        <applicationShare>1</applicationShare>
        <desktopShare>1</desktopShare>
        <webTour>1</webTour>
        <annotation>1</annotation>
        <importDocument>1</importDocument>
        <saveDocument>0</saveDocument>
        <printDocument>0</printDocument>
        <pointer>1</pointer>
        <switchPage>0</switchPage>
        <fullScreen>0</fullScreen>
        <thumbnail>0</thumbnail>
        <zoom>0</zoom>
        <copyPage>0</copyPage>
        <rcAppShare>1</rcAppShare>
        <rcDesktopShare>1</rcDesktopShare>
        <rcWebTour>1</rcWebTour>
        <voip>1</voip>
        <autoDeleteAfterMeetingEnd>0</autoDeleteAfterMeetingEnd>
        <displayQuickStartHost>0</displayQuickStartHost>
        <displayQuickStartAttendees>0</displayQuickStartAttendees>
        <supportQandA>1</supportQandA>
        <supportFeedback>1</supportFeedback>
        <supportBreakoutSessions>1</supportBreakoutSessions>
        <supportRemoteComputer>1</supportRemoteComputer>
        <supportShareWebContent>1</supportShareWebContent>
        <supportUCFRichMedia>1</supportUCFRichMedia>
        <supportPanelists>1</supportPanelists>
        <multiVideo>0</multiVideo>
        <HQvideo>1</HQvideo>
        <HDvideo>1</HDvideo>
    </enableOptions>
    <attendeeOptions>
        <request>0</request>
        <registration>0</registration>
        <auto>0</auto>
        <participantLimit>0</participantLimit>
    </attendeeOptions>
{% endblock %}