{% extends 'connectors/cisco/webex_base.xml.twig' %}

{% block body_content %}
    <attendeeEmail>
        <email>{{ participantSessionRole.participant.email }}</email>
        <sessionKey>{{ participantSessionRole.session.meetingKey }}</sessionKey>
    </attendeeEmail>
{% endblock %}