{% extends 'connectors/cisco/webex_base.xml.twig' %}

{% block body_content %}
    <person>
        <name>{{ participantSessionRole.participant.name }}</name>
        <email>{{ participantSessionRole.participant.email }}</email>
        <type>VISITOR</type>
    </person>
    {% if participantSessionRole.role == 'ANIMATOR' %}
        <role>HOST</role>
    {% else %}
        <role>ATTENDEE</role>
    {% endif %}
    <sessionKey>{{ participantSessionRole.session.meetingKey }}</sessionKey>
{% endblock %}
