<template>
  <div class="container-fluid px-3 py-3 position-relative main-ls-footer">
    <div class="row">
      <div class="col-12 col-lg-8 main-ls-footer-left">
        <div
          class="d-flex h-100 flex-lg-row flex-column justify-content-center justify-content-lg-start align-items-center"
        >
          <div>
            <img
              class="img-logo img-fluid pt-2"
              src="/build/static/email/logo-ls.png"
              alt=""
            >
          </div>
          <div class="text-center ms-0 ms-lg-5 mt-2 mt-lg-0">
            <a
              href="https://live-session.fr/nos-produits-formations/mylivesession-manager/"
              class="mail d-block d-lg-inline-block"
            >{{ $translator.trans('Using Mylivesession Manager') }}</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 main-ls-footer-right mt-3 mt-lg-0">
        <div class="d-flex align-items-center h-100 justify-content-center justify-content-lg-end">
          <small class="text-muted ls-footer-right-links">
            <a
              href="#"
              class="text px-2"
            >{{ $translator.trans('General conditions of use') }}</a>
            <span class="d-none d-lg-inline">|</span>
            <a
              href="https://live-session.fr/Confidentialite/"
              class="text px-2"
            >{{ $translator.trans('Confidentially') }}</a>
            <span class="d-none d-lg-inline">|</span>
            <a
              href="https://live-session.fr/mentions-legales/"
              class="text px-2"
            >{{ $translator.trans('Legal notices') }}</a>
          </small>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RegistrationPageLSFooter'
}
</script>

<style scoped>

</style>
