<template>
  <div
    :class="getCssClass"
    class="w-100 h-100 position-relative py-3 text-center d-flex justify-content-center flex-column"
  >
    <ul
      class="d-inline-block"
    >
      <li
        v-for="(social, index) in ['facebook', 'twitter', 'linkedin', 'instagram']"
        :key="index"
        class="d-inline-block mx-1"
      >
        <a
          v-if="page.blockLowerBanner[social+'Link']"
          :href="page.blockLowerBanner[social+'Link']"
          target="_blank"
        >
          <img
            class="logo"
            :src="'/build/static/icons/'+ social + '.svg'"
            :alt="social"
          >
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'RegistrationPageFooterSocial',
  props: {
    page: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    getCssClass () {
      return {
        'align-items-center align-items-sm-start': this.page.blockLowerBanner.socialNetworksCheck && (this.page.blockLowerBanner.legalNoticeCheck || this.page.blockLowerBanner.privacyCheck) && !this.page.blockGraphicalCharter.logoUri,
        'align-items-center align-items-sm-end': !(this.page.blockLowerBanner.legalNoticeCheck || this.page.blockLowerBanner.privacyCheck) && this.page.blockGraphicalCharter.logoUri
      }
    }
  }
}
</script>

<style scoped>

</style>
