<template v-if="page.blockLowerBanner.legalNoticeCheck || page.blockLowerBanner.privacyCheck">
  <div
    :class="getCssClass"
    class="w-100 h-100 position-relative py-3 d-flex align-items-center flex-column flex-sm-row fw-normal text-muted"
  >
    <a
      v-if="page.blockLowerBanner.privacyCheck"
      :href="getPrivacyLink"
      target="_blank"
      class="text px-2 text-primary-hover"
    >{{ page.blockLowerBanner.privacyText }}</a>
    <span
      v-if="page.blockLowerBanner.legalNoticeCheck && page.blockLowerBanner.privacyCheck"
      class="d-none d-sm-block"
    >|</span>
    <a
      v-if="page.blockLowerBanner.legalNoticeCheck"
      :href="getLegalNoticeLink"
      target="_blank"
      class="text px-2 text-primary-hover"
    >{{ page.blockLowerBanner.legalNoticeText }}</a>
  </div>
</template>

<script>
export default {
  name: 'RegistrationPageFooterLegal',
  props: {
    page: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    getCssClass () {
      return {
        'justify-content-end': !this.page.blockLowerBanner.socialNetworksCheck || !this.page.blockGraphicalCharter.logoUri,
        'justify-content-center': this.page.blockLowerBanner.socialNetworksCheck && this.page.blockGraphicalCharter.logoUri
      }
    },
    getLegalNoticeLink () {
      if (this.page.blockLowerBanner.legalNoticeUrlCheck) {
        return this.page.blockLowerBanner.legalNoticeUrl
      }
      if (this.page.blockLowerBanner.legalNoticeFileCheck) {
        return this.page.blockLowerBanner.legalNoticeFileUri
      }

      return '#'
    },
    getPrivacyLink () {
      if (this.page.blockLowerBanner.privacyUrlCheck) {
        return this.page.blockLowerBanner.privacyUrl
      }
      if (this.page.blockLowerBanner.privacyFileCheck) {
        return this.page.blockLowerBanner.privacyFileUri
      }

      return '#'
    }
  }
}
</script>

<style scoped>

</style>
