<template>
  <div class="nq-footer position-relative px-3">
    <div class="d-flex flex-md-row flex-column justify-content-around align-content-stretch w-100 nq-footer-table">
      <div
        v-if="page.blockGraphicalCharter.logoUri"
        :class="isNotLegalNoticeOrPrivacyOrNotSocialNetworks ? 'footer-left-pos' : 'text-center'"
        class="col-md-4 col-12 position-relative py-3 d-block nq-footer-table-cell footer-left my-auto"
      >
        <img
          v-if="page.blockGraphicalCharter.logoUri"
          class="img-logo img-fluid mx-auto"
          :src="page.blockGraphicalCharter.logoUri"
          :alt="page.client.name"
        >
      </div>

      <div
        v-if="isNotSocialNetworksAndNotLegalNoticeOrPrivacy"
        class="col-md-4 col-12 nq-footer-table-cell 1"
      />

      <div
        v-if="isSocialNetworksAndNotLegalNoticeOrPrivacyAndLogoUri"
        class="col-md-4 col-12 nq-footer-table-cell 2"
      />

      <div
        v-if="page.blockLowerBanner.socialNetworksCheck"
        class="col-md-4 col-12 nq-footer-table-cell footer-right"
      >
        <registration-page-footer-social
          :page="page"
        />
      </div>

      <div
        v-if="isNotLogoUriAndSocialNetworksAndLegalNoticeOrPrivacy"
        class="col-md-4 col-12 nq-footer-table-cell 3"
      />

      <div
        v-if="isLegalNoticeOrPrivacy"
        class="col-md-4 col-12 footer-middle nq-footer-table-cell"
      >
        <registration-page-footer-legal
          :page="page"
        />
      </div>
    </div>
  </div>
</template>

<script>
import RegistrationPageFooterSocial from './RegistrationPageFooterSocial.vue'
import RegistrationPageFooterLegal from './RegistrationPageFooterLegal.vue'

export default {
  name: 'RegistrationPageFooter',
  components: { RegistrationPageFooterLegal, RegistrationPageFooterSocial },
  props: {
    page: {
      type: Object,
      default: () => ({})
    },
    socials: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    isNotLegalNoticeOrPrivacyOrNotSocialNetworks () {
      return !(this.page.blockLowerBanner.legalNoticeCheck || this.page.blockLowerBanner.privacyCheck) || !this.page.blockLowerBanner.socialNetworksCheck
    },
    isNotSocialNetworksAndNotLegalNoticeOrPrivacy () {
      return !this.page.blockLowerBanner.socialNetworksCheck && !(this.page.blockLowerBanner.legalNoticeCheck || this.page.blockLowerBanner.privacyCheck)
    },
    isSocialNetworksAndNotLegalNoticeOrPrivacyAndLogoUri () {
      return this.page.blockLowerBanner.socialNetworksCheck && !(this.page.blockLowerBanner.legalNoticeCheck || this.page.blockLowerBanner.privacyCheck) && this.page.blockGraphicalCharter.logoUri
    },
    isNotLogoUriAndSocialNetworksAndLegalNoticeOrPrivacy () {
      return !this.page.blockGraphicalCharter.logoUri && this.page.blockLowerBanner.socialNetworksCheck && (this.page.blockLowerBanner.legalNoticeCheck || this.page.blockLowerBanner.privacyCheck)
    },
    isLegalNoticeOrPrivacy () {
      return this.page.blockLowerBanner.legalNoticeCheck || this.page.blockLowerBanner.privacyCheck
    }
  }
}
</script>

<style scoped>

</style>
