<template>
  <div class="btn-group export-dropdown">
    <div
      v-if="contentSettings.openedThemes.length === 0"
      class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      role="button"
      data-bs-auto-close="outside"
      @click="openedAll"
    >
      <img src="/build/static/icons/tree-opened.svg">
      <span class="d-sm-none d-md-block ms-2">{{ $translator.trans('Unfold everything') }}</span>
    </div>
    <div
      v-else
      class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      role="button"
      data-bs-auto-close="outside"
      @click="closedAll"
    >
      <img src="/build/static/icons/tree-closed.svg">
      <span class="d-sm-none d-md-block ms-2">{{ $translator.trans('Fold everything') }}</span>
    </div>
    <div
      class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      role="button"
      data-bs-auto-close="outside"
      @click="createTheme"
    >
      <img src="/build/static/icons/plus.svg">
      <span class="d-sm-none d-md-block ms-2">{{ $translator.trans('Add a topic') }}</span>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ContentAction',
  computed: {
    ...mapState('module', ['contentSettings'])
  },
  methods: {
    closedAll () {
      this.$store.commit('module/closeAll')
    },
    openedAll () {
      this.$store.commit('module/openAll')
    },
    createTheme () {
      this.$store.commit('module/newTheme')
    }
  }
}
</script>

<style scoped>

</style>
