<template>
  <div class="table-content data-list data-list__row-small">
    <div class="data-list__header">
      <div class="data-list__header__item" />
      <div class="data-list__header__item">
        {{ $translator.trans( 'Title' ) }}
      </div>
      <div class="data-list__header__item">
        {{ $translator.trans( 'duration' ) }}
      </div>
      <div class="data-list__header__item">
        {{ $translator.trans( 'Start date' ) }}
      </div>
      <div class="data-list__header__item">
        {{ $translator.trans( 'Remaining seats' ) }}
      </div>
      <div class="data-list__header__item">
        {{ $translator.trans( 'Number of participants' ) }}
      </div>
      <div class="data-list__header__item">
        {{ $translator.trans( 'Code' ) }}
      </div>
      <div class="data-list__header__item">
        {{ $translator.trans( 'Link code' ) }}
      </div>
      <div class="data-list__header__item">
        {{ $translator.trans( 'Status' ) }}
      </div>
      <div class="data-list__header__item option" />
    </div>
    <template v-for="theme in themes">
      <theme-list-item
        :key="'theme' + theme.id"
        :theme="theme"
      />
      <template v-if="contentSettings.openedThemes.includes(theme.id)">
        <template v-for="subject in sortedSubjects(theme.id)">
          <subject-list-item
            :key="'subject' + subject.id"
            :subject="subject"
          />
          <template v-if="contentSettings.openedSubjects.includes(subject.id)">
            <template v-for="session in subject.sessions">
              <session-list-item
                v-if="sessionIds.includes(session.id)"
                :key="'session' + session.id"
                :session="session"
              />
            </template>
          </template>
        </template>
      </template>
    </template>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import ThemeListItem from './ThemeListItem'
import SubjectListItem from './SubjectListItem'
import SessionListItem from './SessionListItem'

export default {
  name: 'ContentList',
  components: { SessionListItem, SubjectListItem, ThemeListItem },
  computed: {
    ...mapState('module', ['contentSettings']),
    ...mapGetters({ themes: 'module/filteredThemes', subjectIds: 'module/filteredSubjectIds', sessionIds: 'module/filteredSessionIds' }),
    sortedSubjects () {
      return (themeId) => {
        const theme = this.themes.find(theme => theme.id === themeId)
        if (!theme || !theme.subjects) return []

        return theme.subjects
          .filter(subject => this.subjectIds.includes(subject.id))
          .sort((a, b) => a.orderInModule - b.orderInModule)
      }
    }
  }
}
</script>

<style scoped>

</style>
