<template>
  <div class="d-flex part-1">
    <div class="page-options-bar__item pr">
      <div class="page-options-bar__item__search">
        <label for="searchInSession">
          <img src="/build/static/icons/search.svg">
        </label>
        <input
          id="searchInSession"
          v-model="search"
          type="search"
          name="searchInSession"
          :placeholder="placeholder"
        >
      </div>
      <div
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        :title="$translator.trans('Theme and active subject')"
        class="search-switch"
        :data-bs-original-title="$translator.trans('Theme and active subject')"
      >
        <label
          for="switch-session-search"
          class="switch"
        >
          <input
            id="switch-session-search"
            v-model="includeDisable"
            type="checkbox"
            name="switch-session-search"
          >
          <span class="slider round" />
        </label>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ContentSearch',
  computed: {
    ...mapState('module', ['contentSettings']),
    placeholder () {
      if (this.contentSettings.includeDisable) {
        return this.$translator.trans('All themes and subject')
      } else {
        return this.$translator.trans('Enabled themes and subject')
      }
    },
    search: {
      get () {
        return this.contentSettings.search
      },
      set (newValue) {
        this.$store.commit('module/contentSettings', { search: newValue })
        this.$store.commit('module/openAll')
      }
    },
    includeDisable: {
      get () {
        return !this.contentSettings.includeDisable
      },
      set (newValue) {
        this.$store.commit('module/contentSettings', { includeDisable: !this.contentSettings.includeDisable })
      }
    }
  }
}
</script>

<style scoped>

</style>
