<template>
  <div class="page-options-bar__item">
    <div class="dropdown">
      <div
        class="page-options-bar__item__filters"
        role="button"
        data-bs-toggle="dropdown"
        data-bs-auto-close="outside"
      >
        <img
          v-if="true"
          src="/build/static/icons/filter-primary.svg"
        >
        <img
          v-else
          src="/build/static/icons/filter.svg"
        >

        <img
          src="/build/static/icons/filter-opened.svg"
          class="ms-3"
        >
      </div>
      <div
        class="dropdown-menu dropdown-menu-end dropdown-menu-list dropdown-filter-activity-log overflow-hidden"
      >
        <fieldset class="row dropdown-filter-activity-log__checkbox-container">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-4">
                  {{ $translator.trans('Session status') }}
                </div>
                <div class="col-8">
                  <select
                    v-model="sessionStatus"
                    class="form-control form-select-sm w-100"
                  >
                    <option :value="true">
                      {{ $translator.trans('Only current and upcoming sessions') }}
                    </option>
                    <option :value="false">
                      {{ $translator.trans('All sessions') }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="row">
          <div class="export-dropdown__footer">
            <button
              class="export-dropdown__submit-btn"
              @click="resetFilters"
            >
              {{ $translator.trans('Reset') }}
            </button>
          </div>
        </fieldset>
        <!-- end  -->
      </div>
    </div>
    <!--- si filtre actif -->
    <div class="search-sessions-filter">
      {{ subFilter }}
    </div>
    <!-- end -->
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ContentFilter',
  computed: {
    ...mapState('module', ['contentSettings']),
    sessionStatus: {
      get () {
        return this.contentSettings.onlyCurrentSession
      },
      set (newValue) {
        this.$store.commit('module/contentSettings', { onlyCurrentSession: newValue })
      }
    },
    subFilter () {
      if (this.contentSettings.onlyCurrentSession) {
        return this.$translator.trans('Only current and upcoming sessions')
      } else {
        return this.$translator.trans('All sessions')
      }
    }
  },
  methods: {
    resetFilters () {
      this.$store.commit('module/contentSettings', { onlyCurrentSession: true })
    }
  }
}
</script>

<style scoped>

</style>
