<template>
  <div class="page-options-bar mb-3">
    <content-search />
    <content-filter />
    <content-action />
  </div>
</template>

<script>
import ContentSearch from './contentSearch'
import ContentAction from './contentAction'
import ContentFilter from './ContentFilter'
export default {
  name: 'ContentTop',
  components: { ContentFilter, ContentAction, ContentSearch }
}
</script>

<style scoped>

</style>
