<template>
  <a
    class="data-list__row text-black"
    :href="$routing.generate('_session_get', {id: session.id})"
    target="_blank"
  >
    <div class="row__data d-flex justify-content-end">
      <div class="badge badge-sm bg-info">
        {{ $translator.trans('Session') }}
      </div>
    </div>
    <div class="row__data">
      {{ session.titleAttachementSubject || session.name }}
    </div>
    <div class="row__data">
      {{ session.datesDiffString }}
    </div>
    <div class="row__data">
      {{ session.dateStart|formatDate("datetime_med") }}
    </div>
    <div class="row__data">
      {{ subscriptionMaxNumber }}
    </div>
    <div class="row__data">
      {{ numberTraineesOnly }}
    </div>
    <div class="row__data">
      {{ session.ref }}
    </div>
    <div class="row__data" />
    <div class="row__data">
      {{ status }}
    </div>
    <div class="row__data option">
      <div class="drop-menu-container">
        <div class="icn-option">
          <img src="/build/static/icons/options-white.svg">
        </div>
        <ul class="dropdown-menu-inner">
          <li>
            <a
              class="dropdown-item"
              :href="$routing.generate( '_session_get', {id: session.id} )"
              target="_blank"
            >
              <img
                src="/build/static/icons/eye-green.svg"
                class="me-2"
              >
              <b>{{ $translator.trans('View') }}</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </a>
</template>

<script>
export default {
  name: 'SessionListItem',
  props: {
    session: {
      type: Object,
      required: true
    }
  },
  computed: {
    status () {
      if (this.session.running) {
        return this.$translator.trans('Running')
      } else if (this.session.scheduled) {
        if (this.session.readableState === 'Sent') {
          return this.$translator.trans('Sent')
        } else {
          return this.$translator.trans('Scheduled')
        }
      } else {
        return this.$translator.trans('Finished')
      }
    },
    duration () {
      return (Math.round(this.session.duration / 60)) + 'h' + (this.session.duration % 60) + ((this.session.duration % 60) < 10 ? '0' : '')
    },
    subscriptionMaxNumber () {
      if (this.session.subscriptionMax === 0) {
        return this.$translator.trans('Unlimited')
      } else {
        return this.session.subscriptionMax - this.numberTraineesOnly + ' / ' + this.session.subscriptionMax
      }
    },
    numberTraineesOnly () {
      return this.session.traineesOnly.length
    }
  }
}
</script>

<style scoped>
.ms-10 {
  margin-left: 6rem !important
}

.ps-10 /deep/ {
  padding-left: 6rem !important
}
</style>
