<template>
  <div class="data-list__row">
    <div class="row__data d-flex">
      <div class="row__data d-flex">
        <div class="row w-100 align-items-center">
          <div class="col-5">
            <div
              class="circle-badge"
              data-bs-toggle="tooltip"
              :data-bs-title="$translator.trans('Appears in position %position% in the catalog', {position: subject.orderInModule})"
            >
              {{ subject.orderInModule }}
            </div>
          </div>
          <div class="col-4 badge badge-sm bg-program">
            {{ $translator.trans('Subject') }}
          </div>
        </div>
      </div>
    </div>
    <div class="row__data">
      {{ subject.name }}
    </div>
    <div class="row__data">
      {{ duration }}
    </div>
    <div class="row__data" />
    <div class="row__data" />
    <div class="row__data" />
    <div class="row__data">
      {{ subject.code }}
    </div>
    <div class="row__data">
      {{ subject.importCode }}
    </div>
    <div class="row__data">
      {{ status }}
    </div>
    <div class="row__data option">
      <img
        v-if="isOpen"
        class="cursor-pointer"
        src="/build/static/icons/tree-closed.svg"
        @click="closeSubject"
      >
      <img
        v-else
        class="cursor-pointer"
        src="/build/static/icons/tree-opened.svg"
        @click="openSubject"
      >
      <div class="drop-menu-container">
        <confirmation-pop-in
          :id="'delete_subject_'+subject.id.toString()"
          :title="$translator.trans('Removal of the subject')"
          :content="$translator.trans('Do you want to delete this subject ?')"
          :confirm="removeSubject"
        />
        <div class="icn-option">
          <img src="/build/static/icons/options-white.svg">
        </div>
        <ul class="dropdown-menu-inner">
          <li>
            <a
              class="dropdown-item"
              href="#"
              @click="updateSubject"
            >
              <img
                src="/build/static/icons/edit-small-green.svg"
                class="me-2"
              >
              <b>{{ $translator.trans('Edit') }}</b>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              data-bs-toggle="modal"
              :data-bs-target="'#confirmationPopIn_delete_subject_'+subject.id.toString()"
              href="#"
            >
              <img
                src="/build/static/icons/trash-small.svg"
                class="me-2"
                width="10"
              >
              <b>{{ $translator.trans('Delete') }}</b>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              data-bs-toggle="modal"
              :data-bs-target="'#changeOrderModal_'+subject.id"
              href="#"
            >
              <img
                src="/build/static/icons/order-change.svg"
                class="me-2"
                width="16"
              >
              <b>{{ $translator.trans('Change order') }}</b>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <subject-change-order-modal
      :subject="subject"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { deleteSubject } from '../../../../../repository/selfsubscription/subject'
import ConfirmationPopIn from '../../../../ui/PopIn/ConfirmationPopIn.vue'
import SubjectChangeOrderModal from '../../../../ui/modal/SubjectChangeOrderModal.vue'

export default {
  name: 'SubjectListItem',
  components: { SubjectChangeOrderModal, ConfirmationPopIn },
  props: {
    subject: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState('module', ['contentSettings']),
    isOpen () {
      return this.contentSettings.openedSubjects.includes(this.subject.id)
    },
    status () {
      if (this.subject.active) {
        return this.$translator.trans('Active')
      } else {
        return this.$translator.trans('Inactive')
      }
    },
    duration () {
      return (Math.floor(this.subject.duration / 60)) + 'h' + (this.subject.duration % 60) + ((this.subject.duration % 60) < 10 ? '0' : '')
    }
  },
  mounted () {
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    new Array(...tooltipTriggerList).map(tooltipTriggerEl => new this.$bootstrap.Tooltip(tooltipTriggerEl))
  },
  methods: {
    openSubject () {
      this.$store.commit('module/openSubject', this.subject.id)
    },
    closeSubject () {
      this.$store.commit('module/closeSubject', this.subject.id)
    },
    editSubject () {
      this.$store.commit('module/editSubject', this.subject)
    },
    updateSubject () {
      open(this.$routing.generate('_module_create_or_edit_subject', { id: this.subject.moduleId, themeId: this.subject.themeId, subjectId: this.subject.id }), '_self')
    },
    removeSubject () {
      deleteSubject(this.subject)
    }
  }
}
</script>

<style scoped>
.circle-badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(106, 177, 253, 0.63);
  color: #000000;
  font-size: 12px;
}
</style>
