<template>
  <div
    ref="subjectModale"
    aria-hidden="true"
    class="modal fade show text-black"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ title }}
          </h5>
        </div>
        <div class="modal-body">
          <alert
            v-if="errorModal"
            type="danger"
            :text="errorModal"
          />
          <form
            v-if="subjectForm !== null"
            class="form"
          >
            <div class="mb-3 form__item">
              <label
                for="name"
                class="form-label required"
              >{{ $translator.trans('Name') }}</label>
              <input
                v-model="subjectForm.name"
                name="name"
                required="required"
                class="form-control"
              >
              <div
                v-if="'name' in formErrors"
                class="invalid-feedback d-block"
              >
                {{ formErrors.name }}
              </div>
            </div>
            <div class="mb-3 form__item">
              <label
                for="description"
                class="form-label required"
              >{{ $translator.trans('Description' ) }}</label>
              <textarea
                v-model="subjectForm.description"
                name="description"
                required="required"
                class="form-control"
                style="height: 100px;"
              />
              <div
                v-if="'description' in formErrors"
                class="invalid-feedback d-block"
              >
                {{ formErrors.description }}
              </div>
            </div>
            <div class="mb-3 form__item">
              <label
                for="code"
                class="form-label required"
              >{{ $translator.trans('Code' ) }}</label>
              <input
                v-model="subjectForm.code"
                name="code"
                required="required"
                class="form-control"
              >
              <div
                v-if="'code' in formErrors"
                class="invalid-feedback d-block"
              >
                {{ formErrors.code }}
              </div>
            </div>
            <div class="mb-3 form__item">
              <label
                for="category"
                class="form-label required"
              >{{ $translator.trans('Category' ) }}</label>
              <select
                v-model="subjectForm.categorySession"
                name="category"
                required="required"
                class="form-control"
              >
                <option
                  v-for="category in categoryAvailable"
                  :key="category"
                  :value="convertCategoryToId(category)"
                >
                  {{ $translator.trans(category) }}
                </option>
              </select>
              <div
                v-if="'category' in formErrors"
                class="invalid-feedback d-block"
              >
                {{ formErrors.category }}
              </div>
            </div>
            <div class="row">
              <div class="col-4 mb-3 form__item d-flex align-content-center">
                <label class="form-label inline required me-2">
                  {{ $translator.trans('Enable') }} :
                </label>
                <div class="search-switch">
                  <label
                    class="switch"
                    for="switch-active-state"
                    @click="changeActiveState"
                  >
                    <input
                      v-model="subjectForm.active"
                      type="checkbox"
                      name="switch-active-state"
                    >
                    <span class="slider round" />
                  </label>
                </div>
                <div
                  v-if="'active' in formErrors"
                  class="invalid-feedback d-block"
                >
                  {{ formErrors.active }}
                </div>
              </div>
              <div class="col-4 mb-3 form__item d-flex align-content-center">
                <label
                  for="duration"
                  class="form-label inline required"
                >
                  {{ $translator.trans('Duration') }} :
                </label>
                <input
                  v-model="subjectForm.duration"
                  type="number"
                  name="duration"
                  required="required"
                  class="form-control inline"
                >
                <div
                  v-if="'duration' in formErrors"
                  class="invalid-feedback d-block"
                >
                  {{ formErrors.duration }}
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <loader v-if="saving" />
          <button
            v-else
            class="btn btn-primary"
            type="button"
            @click="saveSubject"
          >
            {{ $translator.trans('Valid') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Alert from '../../../../ui/Alert'
import { mapState } from 'vuex'
import { saveSubject } from '../../../../../repository/selfsubscription/subject'
import Loader         from '../../../../ui/Loader'
import store from '../../../../../store'

export default {
  name: 'SubjectModale',
  components: { Alert, Loader },
  data () {
    return {
      subjectForm: null,
      modal: null
    }
  },
  computed: {
    ...mapState('module', ['subject', 'categoryAvailable']),
    ...mapState('process', ['errorModal', 'formErrors', 'saving']),
    title () {
      return (this.subject !== null && 'id' in this.subject) ?  this.$translator.trans('Update subject') : this.$translator.trans('New subject')
    }
  },
  watch: {
    subject (newValue, oldValue) {
      this.subjectForm = newValue
      if (newValue === null) {
        this.modal.hide()
      } else {
        this.modal.show()
      }
    }
  },
  mounted () {
    this.modal = this.$bootstrap.Modal.getOrCreateInstance(this.$refs.subjectModale)
    this.$refs.subjectModale.addEventListener('hide.bs.modal', event => {
      this.$store.commit('module/updateSubject', null)
      store.commit('process/endSaving')
    })
  },
  methods: {
    saveSubject () {
      saveSubject(this.subjectForm)
    },
    changeActiveState () {
      this.subject.active = !this.subjectForm.active
    },
    convertCategoryToId (category) {
      switch (category) {
        case 'Virtual classroom': return 1
        case 'Blended training': return 6
        case 'face-to-face training': return 4
        case 'Meeting': return 2
        case 'Webinar': return 7
      }
    }
  }
}
</script>

<style scoped>
.form-label.inline {
  width: auto !important;
}
input[name=switch-active-state] {
  height: auto !important;
}
input[name=switch-private-access] {
  height: auto !important;
}
</style>
