<template>
  <div class="data-list__row">
    <div class="row__data d-flex justify-content-start">
      <div class="badge badge-sm bg-primary">
        {{ $translator.trans('Theme') }}
      </div>
    </div>
    <div class="row__data">
      {{ theme.name }}
    </div>
    <div class="row__data" />
    <div class="row__data" />
    <div class="row__data" />
    <div class="row__data" />
    <div class="row__data">
      {{ theme.code }}
    </div>
    <div class="row__data" />
    <div class="row__data">
      {{ status }}
    </div>
    <div class="row__data option">
      <img
        v-if="isOpen"
        class="cursor-pointer"
        src="/build/static/icons/tree-closed.svg"
        @click="closeTheme"
      >
      <img
        v-else
        class="cursor-pointer"
        src="/build/static/icons/tree-opened.svg"
        @click="openTheme"
      >
      <div class="drop-menu-container">
        <confirmation-pop-in
          :id="'delete_theme_'+theme.id.toString()"
          :title="$translator.trans('Removal of the theme')"
          :content="$translator.trans('Do you want to delete this theme ?')"
          :confirm="removeTheme"
        />
        <div class="icn-option">
          <img src="/build/static/icons/options-white.svg">
        </div>
        <ul class="dropdown-menu-inner">
          <li>
            <a
              class="dropdown-item"
              href="#"
              @click="createSubject"
            >
              <img
                src="/build/static/icons/plus-green.svg"
                class="me-2"
              >
              <b>{{ $translator.trans('Add a subject') }}</b>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              @click="editTheme"
            >
              <img
                src="/build/static/icons/edit-small-green.svg"
                class="me-2"
              >
              <b>{{ $translator.trans('Edit') }}</b>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              data-bs-toggle="modal"
              :data-bs-target="'#confirmationPopIn_delete_theme_'+theme.id.toString()"
            >
              <img
                src="/build/static/icons/trash-small.svg"
                class="me-2"
              >
              <b>{{ $translator.trans('Delete') }}</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { deleteTheme } from '../../../../../repository/selfsubscription/theme'
import ConfirmationPopIn from '../../../../ui/PopIn/ConfirmationPopIn.vue'

export default {
  name: 'ThemeListItem',
  components: { ConfirmationPopIn },
  props: {
    theme: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState('module', ['contentSettings']),
    isOpen () {
      return this.contentSettings.openedThemes.includes(this.theme.id)
    },
    status () {
      if (this.theme.active) {
        return this.$translator.trans('Active')
      } else {
        return this.$translator.trans('Inactive')
      }
    }
  },
  methods: {
    openTheme () {
      this.$store.commit('module/openTheme', this.theme.id)
    },
    closeTheme () {
      this.$store.commit('module/closeTheme', this.theme.id)
    },
    editTheme () {
      this.$store.commit('module/editTheme', this.theme)
    },
    removeTheme () {
      deleteTheme(this.theme)
    },
    createSubject () {
      open(this.$routing.generate('_module_create_or_edit_subject', { id: this.theme.moduleId, themeId: this.theme.id }), '_self')
    }
  }
}
</script>

<style scoped>

</style>
