<template>
  <div
    ref="themeModale"
    aria-hidden="true"
    class="modal fade show text-black"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ title }}
          </h5>
        </div>
        <div class="modal-body">
          <alert
            v-if="errorModal"
            type="danger"
            :text="errorModal"
          />
          <form
            v-if="themeForm !== null"
            class="form"
          >
            <div class="mb-3 form__item">
              <label
                for="name"
                class="form-label required"
              >{{ $translator.trans('Name') }}</label>
              <input
                v-model="themeForm.name"
                name="name"
                required="required"
                class="form-control"
              >
              <div
                v-if="'name' in formErrors"
                class="invalid-feedback d-block"
              >
                {{ formErrors.name }}
              </div>
            </div>
            <div class="mb-3 form__item">
              <label
                for="description"
                class="form-label required"
              >{{ $translator.trans('Description' ) }}</label>
              <textarea
                v-model="themeForm.description"
                name="description"
                required="required"
                class="form-control"
                style="height: 100px;"
              />
              <div
                v-if="'description' in formErrors"
                class="invalid-feedback d-block"
              >
                {{ formErrors.description }}
              </div>
            </div>
            <div class="mb-3 form__item">
              <label
                for="code"
                class="form-label required"
              >{{ $translator.trans('Code' ) }}</label>
              <input
                v-model="themeForm.code"
                name="code"
                required="required"
                class="form-control"
              >
              <div
                v-if="'code' in formErrors"
                class="invalid-feedback d-block"
              >
                {{ formErrors.code }}
              </div>
            </div>
            <div class="mb-3 form__item d-flex align-content-center">
              <div class="me-2">
                {{ $translator.trans('Enable') }} :
              </div>
              <div class="search-switch">
                <label
                  class="switch"
                  for="switch-active-state"
                  @click="changeActiveState"
                >
                  <input
                    v-model="themeForm.active"
                    type="checkbox"
                    name="switch-active-state"
                  >
                  <span class="slider round" />
                </label>
              </div>
              <div
                v-if="'enable' in formErrors"
                class="invalid-feedback d-block"
              >
                {{ formErrors.description }}
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <loader v-if="saving" />
          <button
            v-else
            class="btn btn-primary"
            type="button"
            @click="saveTheme"
          >
            {{ $translator.trans('Valid') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Alert from '../../../../ui/Alert'
import { mapState } from 'vuex'
import { saveTheme } from '../../../../../repository/selfsubscription/theme'
import Loader         from '../../../../ui/Loader'
import store from '../../../../../store'

export default {
  name: 'ThemeModale',
  components: { Loader, Alert },
  data () {
    return {
      themeForm: null,
      modal: null
    }
  },
  computed: {
    ...mapState('module', ['theme']),
    ...mapState('process', ['errorModal', 'formErrors', 'saving']),
    title () {
      return (this.theme !== null && 'id' in this.theme) ?  this.$translator.trans('Update theme') : this.$translator.trans('New theme')
    }
  },
  watch: {
    theme (newValue, oldValue) {
      this.themeForm = newValue
      if (newValue === null) {
        this.modal.hide()
      } else {
        this.modal.show()
      }
    }
  },
  mounted () {
    this.modal = this.$bootstrap.Modal.getOrCreateInstance(this.$refs.themeModale)
    this.$refs.themeModale.addEventListener('hide.bs.modal', event => {
      this.$store.commit('module/updateTheme', null)
      store.commit('process/endSaving')
    })
  },
  methods: {
    saveTheme () {
      saveTheme(this.themeForm)
    },
    changeActiveState () {
      this.themeForm.active = !this.themeForm.active
    }
  }
}
</script>

<style scoped>
input[name=switch-active-state] {
  height: auto !important;
}
</style>
