<template>
  <div class="wrapper-header d-flex align-items-start justify-content-between">
    <div class="wrapper-header__infos">
      <div class="wrapper-header__infos__title d-flex align-items-center">
        <h1>{{ subject.name }}</h1>
      </div>
      <div class="wrapper-header__infos__updated mb-20">
        {{ editionInformations }}
      </div>
      <div class="mt-4">
        <span
          class="btn text-black"
          style="background-color: #E6E6E6"
          data-bs-placement="left"
          data-bs-toggle="tooltip"
          :title="$translator.trans('Name of costumer to which the subject is linked')"
        >
          {{ subject.clientTitle }}
        </span>
        <span
          class="btn text-black"
          style="background-color: #E6E6E6"
          data-bs-placement="left"
          data-bs-toggle="tooltip"
          :title="$translator.trans('Name of the module to which the subject is linked')"
        >
          {{ subject.moduleTitle }}
        </span>
        <span
          class="btn text-black"
          style="background-color: #E6E6E6"
          data-bs-placement="left"
          data-bs-toggle="tooltip"
          :title="$translator.trans('Name of the theme to which the subject is linked')"
        >
          {{ subject.themeTitle }}>
        </span>
      </div>
    </div>

    <div class="wrapper-header__actions d-flex flex-column align-items-end justify-content-between mt-3">
      <div class="wrapper-header__actions__save-and-more d-flex align-items-center">
        <submit-button
          class="primary-btn"
          :processing="saving"
          @click="submit"
        >
          <img
            alt="check-white image"
            src="/build/static/icons/check-white.svg"
            class="me-2"
          >
          {{ $translator.trans('Save') }}
        </submit-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { DateTime } from 'luxon'
import { saveSubject } from '../../../../repository/selfsubscription/subject'
import SubmitButton from '../../../ui/SubmitButton.vue'

export default {
  name: 'ModuleEditSubjectHeader',
  components: { SubmitButton },
  computed: {
    ...mapState('editSubject', ['subject']),
    ...mapState('process', ['saving']),
    editionInformations () {
      return this.$translator.trans('Created on %field_1% - Modified on %field_2%', {
        field_1: DateTime
          .fromISO(this.subject.createdAt)
          .toLocaleString(DateTime.DATE_MED),
        field_2: DateTime
          .fromISO(this.subject.updatedAt)
          .toLocaleString(DateTime.DATE_MED)
      })
    }
  },
  methods: {
    submit () {
      saveSubject(this.subject).then((res) => {
        if (!this.subject.id) {
          window.location = this.$routing.generate('_module_create_or_edit_subject', { id: res.moduleId, themeId: res.themeId, subjectId: res.id })
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
