<template>
  <div class="form__fieldset fieldset-secondary mt-5">
    <h3 style="padding-bottom: 10px">
      {{ $translator.trans('General information') }}
    </h3>
    <div class="row">
      <div class="col-3 mt-1 mb-1 form__item d-flex align-content-center">
        <label class="form-label inline required">
          {{ $translator.trans('Enable') }} :
        </label>
        <div class="search-switch">
          <label
            class="switch"
            for="switch-active-state"
            @click="changeActiveState"
          >
            <input
              v-model="subject.active"
              type="checkbox"
              name="switch-active-state"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="mb-3 form__item">
          <label
            for="name"
            class="form-label required"
          >{{ $translator.trans('Name') }}</label>
          <input
            v-model="subject.name"
            name="name"
            required="required"
            class="form-control pe-5"
          >
          <span
            class="iaIcon iaIcon-subject"
            data-bs-placement="right"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Ask artificial intelligence to correct, shorten or generate a title for your subject')"
            @click="openSubjectIAModal"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3 form__item">
          <label
            for="code"
            class="form-label required"
          >{{ $translator.trans('Code') }}</label>
          <input
            v-model="subject.code"
            name="code"
            required="required"
            class="form-control"
          >
          <tooltip
            :text="$translator.trans('The function of the code is to create a link between the session and the subject during the present session import process in the import model file. You are free to choose its unique form. It must be at least 6 characters long. Ex LS20230428LXOBDII.')"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3 form__item">
          <label
            for="category"
            class="form-label required"
          >{{ $translator.trans('Category') }}</label>
          <select
            v-model="subject.categorySession"
            name="category"
            required="required"
            class="form-control"
          >
            <option
              v-for="category in categoryAvailable"
              :key="category"
              :value="convertCategoryToId(category)"
            >
              {{ $translator.trans(category) }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-2 mb-3 form__item d-flex align-content-center">
        <label
          for="duration"
          class="form-label required"
        >
          {{ $translator.trans('Duration') }}
          <small>({{ $translator.trans('in minute') }})</small>
        </label>
        <input
          v-model="subject.duration"
          type="number"
          name="duration"
          required="required"
          class="form-control"
        >
      </div>
    </div>

    <module-edit-subject-i-a-modal />

    <div class="row">
      <div class="mb-3 form__item col-md-7 col-lg-7">
        <label
          for="description"
          class="form-label required"
        >{{ $translator.trans('Description') }}</label>
        <div class="position-relative">
          <TinymceInput
            name="description"
            required="required"
            style="padding-right: 26px"
            :on-change-callback="(_, editor) => subject.description = editor.getBody().innerHTML"
          >
            <template #default-value>
              {{ subject.description }}
            </template>
          </tinymceinput>
          <img
            style="position:absolute;top: 8px;right: 32px;width: 24px; height: 24px; z-index: 1000"
            type="button"
            src="/build/static/icons/ai.svg"
            data-bs-placement="right"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Ask artificial intelligence to generate a description for your subject')"
            alt=""
            @click="openDescriptionIAModal"
          >
        </div>
      </div>

      <module-edit-subject-description-i-a-modal
        @update-description="updateNewDescription"
      />

      <div class="col-md-5 col-lg-5">
        <loader v-if="loading.illustration" />
        <template v-else>
          <div>
            <div
              v-if="subject.program.illustration === null"
              class="form__item col-12 justify-content-between mb-0"
            >
              <div class="form__item mb-0">
                <label>{{ $translator.trans('Illustration') }}</label>
              </div>
              <input
                id="registration-page-template-drawing"
                ref="illustration"
                class="form-control w-90"
                type="file"
                :accept="IMAGE_FORMATS_FORMATTED"
                @change="uploadFile($event,'illustration')"
              >
              <img
                src="/build/static/icons/question.svg"
                data-bs-placement="left"
                data-bs-toggle="tooltip"
                :title="$translator.trans('Recommended size L: 200px, H: 358px')"
              >
            </div>
            <div
              v-else
              class="mb-0 form__item"
            >
              <img
                class="img-fluid"
                style="width:250px;"
                :src="illustrationUri"
              >
              <div
                class="text-center cursor-pointer mt-2"
                @click="changeFile('illustration')"
              >
                <img src="/build/static/icons/delete-filter.svg">
                {{ $translator.trans('Change illustration') }}
              </div>
            </div>
            <span
              class="mt-1"
              style="font-size: 14px"
            >{{ $translator.trans('File format:') }} {{ IMAGE_FORMATS_STRING }}</span>
            <div
              v-if="errors.illustration"
              class="invalid-feedback d-block"
            >
              {{ errors.illustration }}
            </div>
          </div>

          <div class="form__item mt-4">
            <label for="subject_link">{{ $translator.trans('Diffuse this topic from the catalog to benefit everyone.') }}</label>
            <div class="d-flex w-100 align-items-center">
              <input
                id="subject_link"
                style="background: #E6E6E6;"
                disabled="disabled"
                name="subject_link"
                class="form-control"
                type="text"
                :value="webLink"
              >
              <span
                class="input-group-text text-center"
                style="background: #E6E6E6;"
              >
                <button
                  v-clipboard:copy="webLink"
                  v-clipboard:success="onCopy"
                  class="btn m-0 p-0"
                  :class="{ 'copied' : copyStatus }"
                >
                  <img
                    style="margin-left: 0"
                    :src="'/build/static/icons/copy-green.svg'"
                  >
                </button>
              </span>
              <span
                class="input-group-text text-center"
                style="background: #E6E6E6;"
              >
                <button
                  class="btn m-0 p-0"
                  @click="openRegistrationPage"
                >
                  <img
                    style="margin-left: 0"
                    src="/build/static/icons/view.svg"
                    alt="picto view"
                  >
                </button>
              </span>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import Tooltip from '../../../ui/Tooltip.vue'
import Loader from '../../../ui/Loader.vue'
import TinymceInput from '../../../ui/TinymceInput.vue'
import ModuleEditSubjectDescriptionIAModal from './modal/ModuleEditSubjectDescriptionIAModal.vue'
import { mapState } from 'vuex'
import tinymce from '../../../../../js/tinymce.min'
import { IMAGE_FORMATS, IMAGE_FORMATS_FORMATTED, IMAGE_FORMATS_STRING } from '../../../../utils/fileUpload.utils'
import ModuleEditSubjectIAModal from './modal/ModuleEditSubjectIAModal.vue'

export default {
  name: 'ModuleEditSubjectGeneralInformation',
  components: { ModuleEditSubjectIAModal, ModuleEditSubjectDescriptionIAModal, TinymceInput, Loader, Tooltip },
  data () {
    return {
      IMAGE_FORMATS: IMAGE_FORMATS,
      IMAGE_FORMATS_STRING: IMAGE_FORMATS_STRING,
      IMAGE_FORMATS_FORMATTED: IMAGE_FORMATS_FORMATTED,
      loading: {
        illustration: false
      },
      errors: {
        illustration: false
      },
      copyStatus: false
    }
  },
  computed: {
    ...mapState('editSubject', ['subject', 'categoryAvailable']),
    illustrationUri: function () {
      return this.subject.program.illustrationUri
    },
    webLink () {
      return location.origin + this.$routing.generate('_self_subscription_hub_home_subject', { clientName: this.subject.slugClient, domain: this.subject.moduleDomain, subject: this.subject.id })
    }
  },
  methods: {
    changeActiveState () {
      this.subject.active = !this.subject.active
    },
    openDescriptionIAModal () {
      this.$bootstrap.Modal.getOrCreateInstance('#ModuleEditSubjectDescriptionIAModal').show()
    },
    openSubjectIAModal () {
      this.$bootstrap.Modal.getOrCreateInstance('#ModuleEditSubjectIAModal').show()
    },
    updateNewDescription (description) {
      const textarea = document.querySelector('textarea[name="description"]')
      tinymce.get(textarea.id).setContent(description)
      this.subject.description = description
      this.$bootstrap.Modal.getOrCreateInstance('#ModuleEditSubjectDescriptionIAModal').hide()
    },
    updateFile (src, file, preview) {
      switch (src) {
        case 'illustration':
          this.subject.program.illustration = file
          this.subject.program.illustrationUri = preview
          break
      }
    },
    uploadFile (e, src) {
      this.loading[src] = true
      const files = e.target.files || e.dataTransfer.files

      if (files.length !== 1) {
        return
      }

      const formData = new FormData()
      formData.append('file', files[0])
      formData.append('format', IMAGE_FORMATS)

      const vm = this
      vm.error = null
      this.$axios.post(this.$routing.generate('_module_upload_subject_illustration'), formData, { headers: { 'Content-Type': 'multipart/form-data' } })
        .then((response) => {
          this.updateFile(src, response.data.message.filetarget, response.data.message.previewUri)
          this.loading[src] = false
        }).catch((error) => {
          this.loading[src] = false
          if ('response' in error && 'data' in error.response && 'message' in error.response.data && 'text' in error.response.data.message) {
            vm.error = error.response.data.message.text
            this.errors[src] = error.response.data.message.text
          } else {
            vm.error = this.$translator.trans('The ' + src + ' cannot be put online for an unknown reason.')
          }
        })
    },
    changeFile (src) {
      this.updateFile(src, null)
    },
    convertCategoryToId (category) {
      switch (category) {
        case 'Virtual classroom':
          return 1
        case 'Blended training':
          return 6
        case 'face-to-face training':
          return 4
        case 'Meeting':
          return 2
        case 'Webinar':
          return 7
      }
    },
    onCopy: function (e) {
      this.copyStatus = true
      setTimeout(() => {
        this.copyStatus = false
      }, 5000)
    },
    openRegistrationPage () {
      window.open(this.webLink, '_blank')
    }
  }
}

</script>

<style>
.iaIcon-subject::after {
  height: 24px;
  width: 24px;
  top: 32px;
  right: 38px;
}
</style>
