<template>
  <div v-if="initialized">
    <module-edit-subject-header />
    <edit-subject-form />
  </div>
</template>

<script >
import EditSubjectForm from '../Form/EditSubjectForm.vue'
import ModuleEditSubjectHeader from './ModuleEditSubjectHeader.vue'

export default  {
  name: 'ModuleEditSubject',
  components: {
    ModuleEditSubjectHeader,
    EditSubjectForm
  },
  props: {
    module: {
      type: Object,
      required: true
    },
    subject: {
      type: Object,
      required: true
    },
    categoryAvailable: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      initialized: false
    }
  },
  mounted () {
    this.$store.commit('editSubject/subject', this.subject)
    this.$store.commit('editSubject/categoryAvailable', this.categoryAvailable)
    this.$store.commit('editSubject/module', this.module)
    this.$nextTick(() => {
      this.initialized = true
    })
  }
}
</script>
