<template>
  <div class="btn-group export-dropdown">
    <div
      v-if="subject.videoReplay === null"
      class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
      role="button"
      @click="createVideo"
    >
      <img src="/build/static/icons/plus.svg">
      <span
        :class="['d-sm-none d-md-block ms-2', {
          'text-muted': subject.videoReplay,
        }]"
      >{{ $translator.trans('Add the replay') }}</span>
    </div>

    <div
      v-else
      class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
      role="button"
      data-bs-toggle="modal"
      :data-bs-target="'#confirmationPopIn_delete_video_'+subject.videoReplay.id.toString()"
    >
      <img src="/build/static/icons/cross.svg">
      <span
        :class="['d-sm-none d-md-block ms-2', {
          'text-muted': !subject.videoReplay,
        }]"
      >{{ $translator.trans('Delete the replay') }}</span>
      <confirmation-pop-in
        :id="'delete_video_'+subject.videoReplay.id.toString()"
        :title="$translator.trans('Removal of the replay')"
        :content="$translator.trans('Do you want to delete this replay ?')"
        :confirm-message="$translator.trans('Delete')"
        :confirm="removeVideo"
      />
    </div>

    <module-edit-subject-replay-modal
      :video="video"
      :video-platforms="videoPlatforms"
      :catalogs-replay="module.catalogsReplay"
      :card-template-design="module.templateDesign"
      :is-replay="true"
      @save-video="saveVideo"
    />
  </div>
</template>

<script>
import ConfirmationPopIn            from '../../../ui/PopIn/ConfirmationPopIn.vue'
import ModuleEditSubjectReplayModal from './modal/ModuleEditSubjectReplayModal.vue'
import { mapGetters, mapState }     from 'vuex'
import { deleteVideo }              from '../../../../repository/selfsubscription/video'

export default {
  name: 'ModuleEditSubjectReplayAction',
  components: { ConfirmationPopIn, ModuleEditSubjectReplayModal },
  computed: {
    ...mapState('editSubject', ['video', 'subject']),
    ...mapGetters({ videoPlatforms: 'module/videoPlatforms' }),
    ...mapGetters('editSubject', ['module'])
  },
  methods: {
    createVideo () {
      if (!this.subject.videoReplay) {
        this.$store.commit('process/resetSaving')
        this.$store.commit('editSubject/newVideo')
        this.$bootstrap.Modal.getOrCreateInstance('#ModuleEditSubjectReplayModal').show()
      }
    },
    removeVideo () {
      deleteVideo(this.subject.videoReplay).then(() => {
        this.$emit('onDeleteReplay')
      })
    },
    saveVideo (response) {
      this.$store.commit('editSubject/saveVideo', response)
    }
  }
}
</script>
