<template>
  <div v-if="subject">
    <div class="form__fieldset fieldset-secondary mt-5">
      <h3 class="mb-4">
        {{ $translator.trans('Program and speakers') }}
      </h3>
      <div class="row">
        <div class="col-lg-6">
          <div class="form__item">
            <module-edit-subject-speakers
              :subject="subject"
            />
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form__item">
            <label
              for="program"
              class="form-label"
            >{{ $translator.trans('Program') }}</label>
            <div class="position-relative">
              <TinymceInput
                id="program"
                name="program"
                class="w-100"
                style="padding-right: 26px"
                :on-change-callback="(event, editor) => subject.program.description = editor.getBody().innerHTML"
              >
                <template #default-value>
                  {{ subject.program.description }}
                </template>
              </tinymceinput>
              <img
                style="position:absolute;top: 8px;right: 32px;width: 24px; height: 24px; z-index: 1000"
                type="button"
                src="/build/static/icons/ai.svg"
                data-bs-placement="right"
                data-bs-toggle="tooltip"
                :title="$translator.trans('Ask artificial intelligence to generate a program for your subject')"
                alt=""
                @click="openProgramIAModal"
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <module-edit-subject-program-i-a-modal
      @update-description="updateNewDescription"
    />
  </div>
</template>

<script >
import ModuleEditSubjectSpeakers from './Speakers/ModuleEditSubjectSpeakers.vue'
import ModuleEditSubjectProgramIAModal from './modal/ModuleEditSubjectProgramIAModal.vue'
import TinymceInput from '../../../ui/TinymceInput.vue'
import { mapState } from 'vuex'
import tinymce from '../../../../../js/tinymce.min'

export default {
  name: 'ModuleEditSubjectProgramAndSpeakers',
  components: { TinymceInput, ModuleEditSubjectProgramIAModal, ModuleEditSubjectSpeakers },
  computed : {
    ...mapState('editSubject', ['categoryAvailable', 'subject'])
  },
  methods: {
    openProgramIAModal () {
      this.$bootstrap.Modal.getOrCreateInstance('#ModuleEditSubjectProgramIAModal').show()
    },
    updateNewDescription (description) {
      const textarea = document.querySelector('textarea[name="program"]')
      tinymce.get(textarea.id).setContent(description)
      this.subject.program.description = description
      this.$bootstrap.Modal.getOrCreateInstance('#ModuleEditSubjectProgramIAModal').hide()
    }
  }
}
</script>
