<template>
  <div v-if="subject">
    <div class="form__fieldset fieldset-secondary mt-5">
      <div class="d-flex justify-content-between align-content-center">
        <div>
          <h3>
            {{ $translator.trans('Replay') }}
          </h3>
        </div>
        <module-edit-subject-replay-action @onDeleteReplay="onDeleteReplay" />
      </div>
      <div class="mt-2">
        <span>{{ $translator.trans('If you have no future sessions related to your topic, you can publish a recording of one of your sessions.') }}</span>
        <alert
          v-if="subject.futureSessions"
          :text="$translator.trans('Future sessions are available in your catalog. To publish the replay, please first unlink these sessions from your catalog.')"
          type="info"
        />
        <alert
          v-if="errorModal"
          :text="$translator.trans(errorModal)"
          type="danger"
        />
        <div
          class="search-switch d-flex justify-content-start align-items-center mt-2"
        >
          <div class="search-switch me-3">
            <label
              class="switch"
              for="switch-active-state"
              @click="changeActiveState"
            >
              <input
                v-model="published"
                type="checkbox"
                name="switch-active-state"
                disabled
              >
              <span class="slider round" />
            </label>
          </div>
          <div class="me-2">
            {{ $translator.trans('Publish the replay on') }}
            <span
              class="text-primary"
              role="button"
              @click="openPreview"
            >{{ $translator.trans('your catalog') }}</span>
          </div>
        </div>
      </div>
      <video-list-item
        v-if="subject.videoReplay"
        :video="subject.videoReplay"
        @onDeleteReplay="onDeleteReplay"
        @onUpdateReplay="onUpdateReplay"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import ModuleEditSubjectReplayAction from './ModuleEditSubjectReplayAction.vue'
import VideoListItem from '../Editor/VideoListItem.vue'
import Alert from '../../../ui/Alert.vue'

export default {
  name: 'ModuleEditSubjectReplay',
  components: {
    Alert,
    VideoListItem,
    ModuleEditSubjectReplayAction
  },
  data () {
    return {
      published: false
    }
  },
  computed: {
    ...mapState('editSubject', ['subject']),
    ...mapState('process', ['errorModal'])
  },
  mounted () {
    this.published = this.subject.videoReplay ? this.subject.videoReplay.published : false
  },
  methods: {
    openPreview () {
      open(this.$routing.generate('_self_subscription_hub_home', { clientName: this.subject.slugClient, domain: this.subject.moduleDomain }), '_blank')
    },
    changeActiveState () {
      if (!this.subject.videoReplay || this.subject.futureSessions) return
      this.published = this.subject.videoReplay.published = !this.subject.videoReplay.published
    },
    onDeleteReplay () {
      this.$store.commit('editSubject/deleteVideo')
      this.published = false
    },
    onUpdateReplay (video) {
      this.$store.commit('editSubject/updateVideo', video)
      this.$bootstrap.Modal.getOrCreateInstance('#ModuleEditSubjectReplayModal').show()
    }
  }
}
</script>

<style scoped>

</style>
