{% extends 'main.html.twig' %}
{% set routeActive = '_group_list' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('group-edit') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('group-edit') }}
{% endblock %}

{% block main %}
    <a class="button" href="{{ url('_group_list') }}">
        {{ 'Back' | trans }}
    </a>
    <div id="group-participant-edit">
        <group-participant-edit  :group-participant="{{ groupParticipant|serialize('json', {'groups': ['read_groups', 'read_users']}) }}"
            :is-super-admin='{{ is_granted('ROLE_ADMIN') ? 'true' : 'false' }}'
            :clients="{{ clients|serialize('json', {'groups': 'read_groups'}) }}"
            :all-users="{{ allUsers|serialize('json', {'groups': 'read_users'}) }}"
            :all-groups-client="{{ allGroupsClient|serialize('json', {'groups': 'read_groups'}) }}"
           ></group-participant-edit>
    </div>
    
{% endblock %}