{% extends 'main.html.twig' %}
{% set routeActive = '_group_list' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('groups-list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('groups-list') }}
{% endblock %}

{% block main %}
    <div id="groups-list">
        <groups-list
                :is-super-admin='{{ is_granted('ROLE_ADMIN') ? 'true' : 'false' }}'
                :clients="{{ clients|serialize('json', {'groups': 'read_groups'}) }}"
                {% if preSearch is defined and preSearch is not null %}
                    :pre-search="'{{ preSearch }}'"
                {% endif %}
        />
    </div>
{% endblock %}
