<template>
  <aside class="bg-light">
    <div class="container">
      <div class="row p-3">
        <div class="d-flex justify-content-center">
          <button
            class="btn btn-nav btn-nav-module-main mx-1 nav-item py-2 px-3"
            :class="{active: filter.view === 'Current'}"
            @click="changeView('Current')"
          >
            {{ $translator.trans('My incoming sessions') }}
          </button>
          <button
            class="btn btn-nav btn-nav-module-main mx-1 nav-item py-2 px-3"
            :class="{active: filter.view === 'Previous'}"
            @click="changeView('Previous')"
          >
            {{ $translator.trans('My subscription historic') }}
          </button>
        </div>
      </div>
    </div>
  </aside>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'OverviewViewSelector',
  data () {
    return {
      currentView: 'Current'
    }
  },
  computed: {
    ...mapState('selfSubscription', ['filter'])
  },
  methods: {
    changeView (view) {
      this.$store.commit('selfSubscription/view', view)
    }
  }
}
</script>

<style scoped>

</style>
