<template>
  <section>
    <div
      v-if="module.personalization.sessionsBanner"
      :class="['module-banner module-banner-session', {
        ['background-position-' + module.personalization.sessionsBannerPosition]: module.personalization.sessionsBannerPosition,
      }]"
    />

    <div
      :class="['col bg-light p-3 py-2 text-center d-block', {
        'd-lg-none': !module.personalization.sessionsTitle || !module.personalization.sessionsDescription,
      }]"
    >
      <h1 class="fw-bold mb-0 d-block d-lg-none">
        {{ $translator.trans(module.personalization.sessionsTitle, {}, 'self-subscription') }}
      </h1>
      <aside v-if="module.personalization.sessionsDescription">
        <div class="container pt-2">
          <div class="col-auto col-md-5 mx-auto">
            {{ $translator.trans(module.personalization.sessionsDescription, {}, 'self-subscription') }}
          </div>
        </div>
      </aside>
    </div>
  </section>
</template>

<script>

import { mapState } from 'vuex'

export default {
  name: 'OverviewHeader',
  computed: {
    ...mapState('selfSubscription', ['module'])
  }
}
</script>

<style scoped>

</style>
