{% extends 'emails/base_email.html.twig' %}

{% block core_email %}
    <p>
        <i>
            {% trans into lang %}
                This is an automated e-mail from Mylivesession Manager.
            {% endtrans %}
        </i>
    </p>
    <br/>

    <p>
        <i>
            {% trans with { '%user%': userConcerned.fullname, '%email%': userConcerned.email } into lang %}
                An error occured while trying to extract user GDPR datas for user %user% $%email%
            {% endtrans %}
        </i>
    </p>
    <br/>

    <p>{% trans into lang %}Regards{% endtrans %},
        <br/>
        {% trans into lang %}
            Mylivesession Manager Team
        {% endtrans %}
    </p>
{% endblock %}

{#// MANAGER#}
