{% extends 'emails/base_email.html.twig' %}

{% block core_email %}
    <p>
        <i>
            {% trans into lang %}
                This is an automated e-mail from Mylivesession Manager.
            {% endtrans %}
        </i>
    </p>
    <br/>

    <p>
        <i>
            {% trans into lang %}
                Your request for extraction of your personal data is available.
            {% endtrans %}
            {% trans into lang %}
                To download it use the following link :
            {% endtrans %}<br>
            <i>({% trans into lang %}
                The link below is valid only once.
                {% endtrans %})</i>
            <a href="{{ absolute_url(path('_download_exports', {'token': tokenFile})) }}" target="_blank"  mc:disable-tracking>
                {{ absolute_url(path('_download_exports', {'token': tokenFile})) }}
            </a>
        </i>
    </p>
    <br/>

    <p>{% trans into lang %}Regards{% endtrans %},
        <br/>
        {% trans into lang %}
            Mylivesession Manager Team
        {% endtrans %}
    </p>
{% endblock %}

{#// MANAGER#}
