#header {
  border-bottom: 1px solid #E6E6E6;

  &.nq-header {
    background: #F8F8F8;

    .img-logo {
      max-height: 4.81rem;
    }

    #header-action {
      border-left: 1px solid #E6E6E6;
      width: 13rem;

      @include media-breakpoint-down(sm) {
        width: 100% !important;
        height: 50px !important;
        border-bottom: 1px solid #E6E6E6 !important;
      }

      ul li {
        a {
          border-bottom: 1px solid #E6E6E6;
          font-size: 13px;
          line-height: 16px;

          .logo {
          }

          svg {
            width: 16px;
            height: 16px;
          }
        }

        &:last-child > a {
          border: 0;

          @include media-breakpoint-down(sm) {
            border-left: 1px solid #E6E6E6 !important;
          }
        }

        .tel {
          color: #876aab;
        }
      }
    }
  }
}
