.resume-webinar {
  background-size: cover !important;
  background-position-y: -3rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/build/static/default-header-portal.png') no-repeat center center;

  .resume-webinar-container {
    margin: 90px 0;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;

    @include media-breakpoint-up(sm) {
      width: 500px;
    }

    @include media-breakpoint-up(md) {
      width: 600px;
    }

    @include media-breakpoint-up(lg) {
      width: 800px;
    }

    .resume-webinar-content {
      min-height: 300px;
      height: auto;

      .picture-webinar-container {
        @include media-breakpoint-down(sm) {
          height: 200px;
        }
        .picture-webinar-content {
          background: var(--picture-webinar-content) no-repeat center center;
          background-size: cover;
        }
      }
    }

    .resume-webinar-infos {
      .resume-webinar-desc {
        h2 {
          font-size: 26px;
          color: #bc68c4;
          line-height: 32px;
        }

        h6 {
          color: #bc68c4;
        }

        .infos ul {
          li svg {
            width: 16px;
            height: 16px;
          }
          .info-session i {
            font-size: 22px;
          }

          .text {
            font-size: 14px;
          }
        }
      }

      .resume-webinar-form {
        .form-group {
          border-radius: 10px;
          .input-group {
            .input-group-append {
              .event-subscribe-btn {
                border-radius: 0;
                padding: 10px;
                height: 45px;
              }
            }
          }
        }

      }
    }
  }
}


.about-part-webinar {
  .nq-container-webinar {
    @include media-breakpoint-up(md) {
      width: 730px;
    }

    @include media-breakpoint-up(xl) {
      width: 1200px;
    }

    .nq-description {
      @include media-breakpoint-up(md) {
        width: 730px;
      }
      .nq-rte {
        b {
          font-weight: bold;
        }

        i {
          font-style: italic;
        }

        u {
          text-decoration: underline;
        }
      }
    }

    .nq-stakeholders ul li {
      @include media-breakpoint-up(sm) {
        width: 25%;
      }

      width: 100%;
      .stakeholder-photo img {
        max-height: 6.25rem;
      }
    }
  }
}
