<template>
  <aside
    v-if="module.personalization.faqDescription"
    class="bg-light"
  >
    <div class="container p-5">
      <div class="col-auto col-md-5 text-center mx-auto">
        {{ $translator.trans(module.personalization.faqDescription, {}, 'self-subscription') }}
      </div>
    </div>
  </aside>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'FAQDescription',
  computed: {
    ...mapState('selfSubscription', ['module'])
  }
}
</script>

<style scoped>

</style>
