<template>
  <div class="card mb-4 subject-card">
    <div class="card-body">
      <div class="card-title mb-0 d-flex justify-content-between align-items-center">
        <strong>{{ entry.question }}</strong>
        <div>
          <button
            class="action btn rounded-circle btn-module-main btn-round-action"
            @click="extended = !extended"
          >
            <i
              v-if="extended"
              class="icon icon-minus"
            />
            <i
              v-else
              class="icon icon-plus"
            />
          </button>
        </div>
      </div>
      <div
        v-if="extended"
        style="white-space: pre-line"
        v-html="entry.answer"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'FAQEntry',
  props: {
    entry: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      extended: false
    }
  }
}
</script>

<style scoped>

</style>
