<template>
  <div
    :class="['col bg-light p-3 py-2 text-center d-block', {
      'd-lg-none': !module.personalization.faqTitle || !module.personalization.faqDescription,
    }]"
  >
    <h1 class="fw-bold mb-0">
      {{ $translator.trans(module.personalization.faqTitle, {}, 'self-subscription') }}
    </h1>
    <aside v-if="module.personalization.faqDescription">
      <div class="container pt-2">
        <div class="col-auto col-md-5 mx-auto">
          {{ $translator.trans(module.personalization.faqDescription, {}, 'self-subscription') }}
        </div>
      </div>
    </aside>
  </div>
</template>

<script>

import { mapState } from 'vuex'

export default {
  name: 'FAQHeader',
  computed: {
    ...mapState('selfSubscription', ['module'])
  }
}
</script>

<style scoped>

</style>
