<template>
  <main class="row mt-4 mx-0 p-0">
    <div class="col">
      <div class="container">
        <f-a-q-entry
          v-for="entry in faqs"
          :key="entry.id"
          :entry="entry"
        />
      </div>
    </div>
  </main>
</template>

<script>
import { mapState } from 'vuex'
import FAQEntry from './FAQEntry'

export default {
  name: 'FAQList',
  components: { FAQEntry },
  computed: {
    ...mapState('selfSubscription', ['module']),
    faqs () {
      return this.module.faqs.filter(faq => {
        return faq.active
      })
    }
  }
}
</script>

<style scoped>
</style>
