<template>
  <div class="row">
    <div class="col-12 mb-13">
      <fieldset class="form__fieldset fieldset-secondary">
        <div class="row">
          <div class="col">
            <div class="mb-3 form__item">
              <label
                for="client_services_tab_form_commitment"
                class="form-label required"
              >{{ $translator.trans('Commitment contractual') }}</label><input
                id="client_services_tab_form_commitment"
                model="clientServices.commitment"
                type="number"
                name="client_services_tab_form[commitment]"
                required="required"
                class="assistance-type-required form-control"
                aria-describedby="client_services_tab_form_commitment_help"
                readonly="readonly"
              ><img
                class="form-text mb-0"
                src="/build/static/icons/question.svg"
                :alt="$translator.trans('Number of parallel assistance that our consultants will provide')"
                title=""
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                data-bs-delay="300"
                :data-bs-original-title="$translator.trans('Number of parallel assistance that our consultants will provide')"
                :aria-label="$translator.trans('Number of parallel assistance that our consultants will provide')"
              >
            </div>
          </div>
        </div>
        <div class="row">
          <h4 class="mb-2">
            {{ $translator.trans('Notification of assistance on request') }}
          </h4>
          <p class="fz-12 mb-3 text-muted">
            <i>
              {{ $translator.trans('Alert a recipient by email when a manager schedules on-demand assistance') }}
            </i>
          </p>
          <div class="mb-3 form__item">
            <label
              for="client_services_tab_form_emailToNotifyForAssistance"
              class="form-label"
            >{{ $translator.trans('Email notification') }}</label><input
              id="client_services_tab_form_emailToNotifyForAssistance"
              model="services.emailToNotifyForAssistance"
              type="email"
              name="client_services_tab_form[emailToNotifyForAssistance]"
              class="assistance-type-required form-control"
            >
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</template>

<script>

export default {
  name: 'ClientServiceContractualCommitment'
}
</script>

<style scoped>

</style>
