<template>
  <div class="row">
    <div class="col-12">
      <fieldset class="form__fieldset fieldset-primary">
        <legend class="mb-4">
          <img
            src="/build/static/icons/contacts.svg"
            alt="contacts"
          >
          {{ $translator.trans('Support') }}
        </legend>
        <p class="fz-12 mb-3">
          <i>
            {{ $translator.trans("Information visible in the Additional Session Services section: You can have user support, but it will always be subject to confirmation from Live Session as to its feasibility.") }}
          </i>
        </p>
        <div>
          <h4 class="mb-2">
            Support Participant
          </h4>
          <div class="mb-3">
            <div class="form-check">
              <input
                id="client_services_tab_form_dedicatedSupport"
                v-model="services.dedicatedSupport"
                type="checkbox"
                name="client_services_tab_form[dedicatedSupport]"
                class="form-check-input"
                :readonly="readOnly"
              >
              <label
                class="form-check-label"
                for="client_services_tab_form_dedicatedSupport"
              >{{ $translator.trans('Active dedicated support') }}</label>
            </div>
          </div>
          <div class="mb-3 form__item">
            <label
              for="client_services_tab_form_mailSupport"
              class="form-label required"
            >{{ $translator.trans('Email') }}</label><input
              id="client_services_tab_form_mailSupport"
              v-model="services.mailSupport"
              type="email"
              name="client_services_tab_form[mailSupport]"
              required="required"
              class="dedicatedSupport-type-required form-control"
              :readonly="readOnly"
            >
          </div>
          <div class="mb-3 form__item">
            <label
              for="client_services_tab_form_phoneSupport"
              class="form-label required"
            >{{ $translator.trans('Phone no') }}
            </label>
            <input
              id="client_services_tab_form_phoneSupport"
              v-model="services.phoneSupport"
              type="text"
              name="client_services_tab_form[phoneSupport]"
              required="required"
              class="dedicatedSupport-type-required form-control"
              :readonly="readOnly"
            >
          </div>
        </div>
        <div>
          <h4 class="mb-2">
            Support gestionaire
          </h4>
          <div class="mb-3 form__item">
            <label
              for="client_services_tab_form_mailManager"
              class="form-label required"
            >{{ $translator.trans('Email') }}</label><input
              id="client_services_tab_form_mailManager"
              v-model="services.mailManager"
              type="email"
              name="client_services_tab_form[mailSupportmailManager]"
              required="required"
              class="dedicatedSupport-type-required form-control"
              :readonly="readOnly"
            >
          </div>
          <div class="mb-3 form__item">
            <label
              for="client_services_tab_form_phoneManager"
              class="form-label required"
            >{{ $translator.trans('Phone no') }}
            </label>
            <input
              id="client_services_tab_form_phoneManager"
              v-model="services.phoneManager"
              type="text"
              name="client_services_tab_form[phoneManager]"
              required="required"
              class="dedicatedSupport-type-required form-control"
              :readonly="readOnly"
            >
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</template>

<script>

export default {
  name: 'ClientSupportDedicated',
  props: {
    clientServices: {
      type: Object,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      services: this.clientServices
    }
  }
}
</script>

<style scoped>

</style>
