<template>
  <div class="row">
    <div class="col-12">
      <fieldset class="form__fieldset fieldset-secondary">
        <legend class="mb-4">
          {{ $translator.trans('Assistances') }}
        </legend>
        <h4 class="mb-2">
          <label class="required">{{ $translator.trans('Availability') }}</label>
        </h4>
        <div class="mb-5">
          <fieldset class="mb-3">
            <div id="client_services_tab_form_assistanceType">
              <div class="form-check">
                <input
                  id="client_services_tab_form_assistanceType_0"
                  v-model="services.assistanceType"
                  type="radio"
                  name="client_services_tab_form[assistanceType]"
                  class="form-check-input"
                  checked="checked"
                  value="0"
                  :readonly="readOnly"
                >
                <label
                  class="form-check-label"
                  for="client_services_tab_form_assistanceType_0"
                >{{ $translator.trans('No assistance') }}</label>
              </div>
              <div class="form-check">
                <input
                  id="client_services_tab_form_assistanceType_1"
                  v-model="services.assistanceType"
                  type="radio"
                  name="client_services_tab_form[assistanceType]"
                  class="form-check-input"
                  value="1"
                  :readonly="readOnly"
                >
                <label
                  class="form-check-label"
                  for="client_services_tab_form_assistanceType_1"
                >{{ $translator.trans('Available on demand') }}</label>
              </div>
              <div class="form-check">
                <input
                  id="client_services_tab_form_assistanceType_2"
                  v-model="services.assistanceType"
                  type="radio"
                  name="client_services_tab_form[assistanceType]"
                  class="form-check-input"
                  value="2"
                  :readonly="readOnly"
                >
                <label
                  class="form-check-label"
                  for="client_services_tab_form_assistanceType_2"
                >{{ $translator.trans('Launch assistance for each session') }}</label>
              </div>
            </div>
          </fieldset>
        </div>

        <h4 class="mb-2">
          {{ $translator.trans('Launch assistance for each session') }}
        </h4>

        <p class="fz-12 mb-5 text-muted">
          <i>
            {{ $translator.trans('Information visible in the Additional Services section of the sessions: You can customize the duration and start time of the launch assistance') }}
          </i>
        </p>

        <div class="row">
          <div class="col-md-6 col-lg-12 col-xxl-6">
            <div class="mb-3 form__item">
              <label
                for="client_services_tab_form_assistanceDuration"
                class="form-label required"
              >{{ $translator.trans('Duration of assistance (min)') }}</label><input
                id="client_services_tab_form_assistanceDuration"
                v-model="services.assistanceDuration"
                type="number"
                name="client_services_tab_form[assistanceDuration]"
                required="required"
                maxlength="2"
                pattern=".{1,}"
                class="assistance-type-required form-control"
                :readonly="readOnly"
              >
            </div>
          </div>
          <div class="col-md-6 col-lg-12 col-xxl-6">
            <div class="mb-3 form__item">
              <label
                for="client_services_tab_form_assistanceStart"
                class="form-label required"
              >{{ $translator.trans('Start of the assistance (min)') }}</label><input
                id="client_services_tab_form_assistanceStart"
                v-model="services.assistanceStart"
                type="number"
                name="client_services_tab_form[assistanceStart]"
                required="required"
                maxlength="2"
                pattern=".{1,}"
                class="assistance-type-required form-control"
                :readonly="readOnly"
              >
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</template>

<script>

export default {
  name: 'ClientServiceAssistances',
  props: {
    clientServices: {
      type: Object,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      services: this.clientServices
    }
  }
}
</script>

<style scoped>

</style>
