<template>
  <div class="row">
    <div class="col-12">
      <fieldset class="form__fieldset fieldset-secondary">
        <legend class="mb-4">
          {{ $translator.trans('Participant support') }}
        </legend>
        <p class="fz-12 mb-5 text-muted">
          <i>
            {{ $translator.trans('The terms of your service contract define the availability of support for participants. When support is available for a session, dedicated support contact information will be available to participants.') }}
          </i>
        </p>
        <h4 class="mb-2">
          <label>{{ $translator.trans('Type of Contract') }}</label>
        </h4>
        <fieldset class="mb-3">
          <div
            id="client_services_tab_form_supportType"
            class="mb-2"
          >
            <div class="form-check">
              <input
                id="client_services_tab_form_supportType_Lump_sum_contract"
                v-model="services.lumpSumContract"
                type="checkbox"
                name="client_services_tab_form[Lump_sum_contract]"
                class="form-check-input"
              >
              <label
                class="form-check-label"
                for="client_services_tab_form_supportType_Lump_sum_contract"
              >{{ $translator.trans('Lump-sum contract') }}
              </label>
            </div>
          </div>
        </fieldset>
        <h4 class="mb-2">
          <label class="required">{{ $translator.trans('Availability') }}</label>
        </h4>
        <fieldset class="mb-3">
          <div
            id="client_services_tab_form_supportType"
            class="mb-2"
          >
            <div class="form-check">
              <input
                id="client_services_tab_form_supportType_0"
                v-model="services.supportType"
                type="radio"
                name="client_services_tab_form[supportType]"
                class="form-check-input"
                checked="checked"
                value="0"
              >
              <label
                class="form-check-label"
                for="client_services_tab_form_supportType_0"
              >{{ $translator.trans('No support') }}</label>
            </div>
            <div class="form-check">
              <input
                id="client_services_tab_form_supportType_1"
                v-model="services.supportType"
                type="radio"
                name="client_services_tab_form[supportType]"
                class="form-check-input"
                checked="checked"
                value="1"
                :disabled="!services.standardHours.active"
              >
              <label
                class="form-check-label"
                for="client_services_tab_form_supportType_1"
              >{{ $translator.trans('Available on demand') }}</label>
            </div>
            <div class="form-check">
              <input
                id="client_services_tab_form_supportType_3"
                v-model="services.supportType"
                type="radio"
                name="client_services_tab_form[supportType]"
                class="form-check-input"
                checked="checked"
                value="3"
                :disabled="!services.standardHours.active"
              >
              <label
                class="form-check-label"
                for="client_services_tab_form_supportType_3"
              >{{ $translator.trans('Launch support') }}</label>
            </div>
            <div class="form-check">
              <input
                id="client_services_tab_form_supportType_2"
                v-model="services.supportType"
                type="radio"
                name="client_services_tab_form[supportType]"
                class="form-check-input"
                checked="checked"
                value="2"
                :disabled="!services.standardHours.active"
              >
              <label
                class="form-check-label"
                for="client_services_tab_form_supportType_2"
              >{{ $translator.trans('Total support') }}</label>
            </div>
          </div>
        </fieldset>

        <div class="row mb-4">
          <h4 class="mb-2">
            {{ $translator.trans('Schedules') }}
          </h4>
          <div class="form-check">
            <input
              id="client_services_tab_form_standardHours_active"
              v-model="services.standardHours.active"
              type="checkbox"
              name="client_services_tab_form[standardHours][active]"
              class="support-type-required form-check-input"
              @change="updateHours"
            >
            <label
              class="form-check-label"
              for="client_services_tab_form_standardHours_active"
            >{{ $translator.trans('Standard hours') }}</label>
          </div>

          <p class="fz-14 mb-4">
            {{ $translator.trans('Our consultants are available') }} {{ $translator.trans('by') }} <input
              id="client_services_tab_form_standardHours_startTimeAM"
              v-model="standardHoursStartTimeAM"
              type="time"
              name="client_services_tab_form[standardHours][startTimeAM]"
              class="assistance-time-field form-item-in-paragraph support-type-required inline"
              :disabled="!services.standardHours.active"
            > {{ $translator.trans('at') }} <input
              id="client_services_tab_form_standardHours_endTimeAM"
              v-model="standardHoursEndTimeAM"
              type="time"
              name="client_services_tab_form[standardHours][endTimeAM]"
              class="assistance-time-field form-item-in-paragraph support-type-required inline"
              :disabled="!services.standardHours.active"
            > {{ $translator.trans('and by') }} <input
              id="client_services_tab_form_standardHours_startTimePM"
              v-model="standardHoursStartTimePM"
              type="time"
              name="client_services_tab_form[standardHours][startTimePM]"
              class="assistance-time-field form-item-in-paragraph support-type-required inline"
              :disabled="!services.standardHours.active"
            > {{ $translator.trans('at') }} <input
              id="client_services_tab_form_standardHours_endTimePM"
              v-model="standardHoursEndTimePM"
              type="time"
              name="client_services_tab_form[standardHours][endTimePM]"
              class="assistance-time-field form-item-in-paragraph support-type-required inline"
              :disabled="!services.standardHours.active"
            >
            {{ $translator.trans('(schedules can be customized according to the contract)') }}
          </p>

          <div class="form-check">
            <input
              id="client_services_tab_form_outsideStandardHours_active"
              v-model="services.outsideStandardHours.active"
              type="checkbox"
              name="client_services_tab_form[outsideStandardHours][active]"
              class="support-type-required form-check-input"
              :disabled="!services.standardHours.active"
            >
            <label
              class="form-check-label"
              for="client_services_tab_form_outsideStandardHours_active"
            >{{ $translator.trans('outside standard working hours') }}</label>
          </div>

          <p class="fz-14 mb-4">
            {{ $translator.trans('Our consultants are available') }}<br>
            {{ $translator.trans('by') }} <input
              id="client_services_tab_form_outsideStandardHours_startTimeAM"
              v-model="outsideStandardHoursStartTimeAM"
              type="time"
              name="client_services_tab_form[outsideStandardHours][startTimeAM]"
              class="support-time-field form-item-in-paragraph support-type-required inline"
              :disabled="!services.standardHours.active"
            > {{ $translator.trans('at') }} <input
              id="client_services_tab_form_outsideStandardHours_endTimeAM"
              v-model="outsideStandardHoursEndTimeAM"
              type="time"
              name="client_services_tab_form[outsideStandardHours][endTimeAM]"
              class="support-time-field form-item-in-paragraph support-type-required inline"
              :disabled="!services.standardHours.active"
            > <br>
            {{ $translator.trans('and by') }} <input
              id="client_services_tab_form_outsideStandardHours_startTimeLH"
              v-model="outsideStandardHoursStartTimeLH"
              type="time"
              name="client_services_tab_form[outsideStandardHours][startTimeLH]"
              class="support-time-field form-item-in-paragraph support-type-required inline"
              :disabled="!services.standardHours.active"
            > {{ $translator.trans('at') }} <input
              id="client_services_tab_form_outsideStandardHours_endTimeLH"
              v-model="outsideStandardHoursEndTimeLH"
              type="time"
              name="client_services_tab_form[outsideStandardHours][endTimeLH]"
              class="support-time-field form-item-in-paragraph support-type-required inline"
              :disabled="!services.standardHours.active"
            > <br>
            {{ $translator.trans('and by') }} <input
              id="client_services_tab_form_outsideStandardHours_startTimePM"
              v-model="outsideStandardHoursStartTimePM"
              type="time"
              name="client_services_tab_form[outsideStandardHours][startTimePM]"
              class="support-time-field form-item-in-paragraph support-type-required inline"
              :disabled="!services.standardHours.active"
            > {{ $translator.trans('at') }} <input
              id="client_services_tab_form_outsideStandardHours_endTimePM"
              v-model="outsideStandardHoursEndTimePM"
              type="time"
              name="client_services_tab_form[outsideStandardHours][endTimePM]"
              class="support-time-field form-item-in-paragraph support-type-required inline"
              :disabled="!services.standardHours.active"
            ><br>
            {{ $translator.trans('by') }} <select
              id="client_services_tab_form_outsideSupportType"
              v-model="services.outsideSupportType"
              name="client_services_tab_form[outsideSupportType]"
              class="form-item-in-paragraph support-type-required inline form-select"
              :disabled="!services.standardHours.active"
            >
              <option
                value="0"
                selected="selected"
              >
                {{ $translator.trans('The session launch') }}
              </option><option value="1">
                {{ $translator.trans('The full session') }}
              </option>
            </select>
          </p>

          <p class="fz-14">
            {{ $translator.trans('Our consultants are engaged') }} <input
              id="client_services_tab_form_timeBeforeSession"
              v-model="services.timeBeforeSession"
              type="number"
              name="client_services_tab_form[timeBeforeSession]"
              required="required"
              maxlength="2"
              pattern=".{1,}"
              class="form-item-in-paragraph support-type-required inline form-control"
            > {{ $translator.trans('minutes') }}
            <span class="advisor-for-lunch-session">
              {{ $translator.trans('before the session starts for') }} <input
                id="client_services_tab_form_timeSupportDurationSession"
                v-model="services.timeSupportDurationSession"
                type="number"
                name="client_services_tab_form[timeSupportDurationSession]"
                required="required"
                maxlength="2"
                pattern=".{1,}"
                class="form-item-in-paragraph support-type-required inline form-control"
              > {{ $translator.trans('minutes') }}.
            </span>
            <span class="advisor-for-full-session d-none">
              {{ $translator.trans('before and until the end of the session.') }}
            </span>
          </p>
        </div>
        <!--        <h4 class="mb-2">
          {{ $translator.trans('Notification of support on request') }}
        </h4>
        <p class="fz-12 mb-3 text-muted">
          <i>
            {{ $translator.trans('Alert a recipient by email when a manager schedules on-demand support') }}
          </i>
        </p>
        <div class="mb-3 form__item">
          <label
            for="client_services_tab_form_emailToNotifyForSupport"
            class="form-label"
          >{{ $translator.trans('Email notification') }}</label><input
            id="client_services_tab_form_emailToNotifyForSupport"
            v-model="services.emailToNotifyForSupport"
            type="email"
            name="client_services_tab_form[emailToNotifyForSupport]"
            class="support-type-required form-control"
          >
        </div>-->
      </fieldset>
    </div>
  </div>
</template>

<script>

import { DateTime } from 'luxon'

export default {
  name: 'ClientSupportParticipants',
  props: {
    clientServices: {
      type: Object,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      services: this.clientServices
    }
  },
  computed: {
    standardHoursStartTimeAM: {
      get () {
        return this.dateFromSave(this.services.standardHours.startTimeAM)
      },
      set (value) {
        this.services.standardHours.startTimeAM = this.dateToSave(value)
      }
    },
    standardHoursEndTimeAM: {
      get () {
        return this.dateFromSave(this.services.standardHours.endTimeAM)
      },
      set (value) {
        this.services.standardHours.endTimeAM = this.dateToSave(value)
      }
    },
    standardHoursStartTimePM: {
      get () {
        return this.dateFromSave(this.services.standardHours.startTimePM)
      },
      set (value) {
        this.services.standardHours.startTimePM = this.dateToSave(value)
      }
    },
    standardHoursEndTimePM: {
      get () {
        return this.dateFromSave(this.services.standardHours.endTimePM)
      },
      set (value) {
        this.services.standardHours.endTimePM = this.dateToSave(value)
      }
    },
    outsideStandardHoursStartTimeAM: {
      get () {
        return this.dateFromSave(this.services.outsideStandardHours.startTimeAM)
      },
      set (value) {
        this.services.outsideStandardHours.startTimeAM = this.dateToSave(value)
      }
    },
    outsideStandardHoursEndTimeAM: {
      get () {
        return this.dateFromSave(this.services.outsideStandardHours.endTimeAM)
      },
      set (value) {
        this.services.outsideStandardHours.endTimeAM = this.dateToSave(value)
      }
    },
    outsideStandardHoursStartTimeLH: {
      get () {
        return this.dateFromSave(this.services.outsideStandardHours.startTimeLH)
      },
      set (value) {
        this.services.outsideStandardHours.startTimeLH = this.dateToSave(value)
      }
    },
    outsideStandardHoursEndTimeLH: {
      get () {
        return this.dateFromSave(this.services.outsideStandardHours.endTimeLH)
      },
      set (value) {
        this.services.outsideStandardHours.endTimeLH = this.dateToSave(value)
      }
    },
    outsideStandardHoursStartTimePM: {
      get () {
        return this.dateFromSave(this.services.outsideStandardHours.startTimePM)
      },
      set (value) {
        this.services.outsideStandardHours.startTimePM = this.dateToSave(value)
      }
    },
    outsideStandardHoursEndTimePM: {
      get () {
        return this.dateFromSave(this.services.outsideStandardHours.endTimePM)
      },
      set (value) {
        this.services.outsideStandardHours.endTimePM = this.dateToSave(value)
      }
    }
  },
  methods: {
    dateFromSave (myDate) {
      return DateTime
        .fromISO(myDate)
        .toLocaleString(DateTime.TIME_24_SIMPLE)
    },
    dateToSave (value) {
      const splitValue = value.split(':')
      const newDateTime = DateTime.local(1970, 1, 1, parseInt(splitValue[0]), parseInt(splitValue[1]))
      return newDateTime.toISO()
    },
    updateHours () {
      if (!this.services.standardHours.active) {
        this.services.outsideStandardHours.active = false
        this.services.supportType = 0
      }
    }
  }
}
</script>

<style scoped>

</style>
