<template>
  <div
    ref="registrationPageTemplateModale"
    aria-hidden="true"
    class="modal fade show text-black"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ $translator.trans('Creation of a template page') }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div class="modal-body">
          <alert
            v-if="errorModal"
            type="danger"
            :text="errorModal"
          />
          <alert
            v-if="success && creatTemplate"
            type="success"
            :text="$translator.trans('The registration page has been well created')"
          />
          <registration-page-template-form />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-light"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            {{ $translator.trans('Close') }}
          </button>
          <loader v-if="saving" />
          <button
            v-else
            class="btn btn-primary"
            type="button"
            @click="saveTemplate"
          >
            {{ $translator.trans('Valid') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Alert from '../ui/Alert.vue'
import Loader from '../ui/Loader.vue'
import store from '../../store'
import { createTemplate } from '../../repository/registrationpage/template'
import RegistrationPageTemplateForm from './Form/RegistrationPageTemplateForm.vue'

export default {
  name: 'RegistrationPageTemplateModale',
  components: { RegistrationPageTemplateForm, Alert, Loader },
  data () {
    return {
      modal: null,
      creatTemplate: false
    }
  },
  computed: {
    ...mapState('template', ['template']),
    ...mapState('process', ['errorModal', 'saving', 'success'])
  },
  watch: {
    template (newValue, oldValue) {
      if (newValue === null) {
        this.modal.hide()
      } else {
        this.modal.show()
      }
    }
  },
  mounted () {
    this.modal = this.$bootstrap.Modal.getOrCreateInstance(this.$refs.registrationPageTemplateModale)
    this.$refs.registrationPageTemplateModale.addEventListener('hide.bs.modal', event => {
      this.$store.commit('template/updateTemplate', null)
      store.commit('process/endSaving')
    })
  },
  methods: {
    saveTemplate () {
      this.creatTemplate = true
      createTemplate(this.template)
    }
  }
}
</script>
