<template>
  <div>
    <div
      class="data-list__row"
    >
      <div class="row__data">
        <a
          class="row__data text-black flex-grow-0"
          :href="$routing.generate('_registration_page_template_edit', {id: template.id})"
        >
          <img
            class="rounded-circle template-logo"
            style=""
            :style="'border-color:' + template.blockGraphicalCharter.backgroundColorBanner + ' ' + template.blockGraphicalCharter.backgroundColorBanner + ' ' + template.blockGraphicalCharter.colorButton + ' ' + template.blockGraphicalCharter.colorButton"
            :src="logoUri"
          >
        </a>
      </div>
      <div class="row__data">
        <a
          class="row__data text-black flex-grow-0"
          :href="$routing.generate('_registration_page_template_edit', {id: template.id})"
        >
          {{ template.name }}
        </a>
      </div>
      <div class="row__data">
        {{ template.client.name }}
      </div>
      <div class="row__data">
        {{ template.description }}
      </div>
      <div class="row__data">
        {{ $translator.trans(humanizeStatus) }}
      </div>
      <div class="row__data">
        <a
          :href="$routing.generate('_registration_page_template_preview', {id: template.id})"
          target="_blank"
        >
          <img
            src="/build/static/icons/eye-green.svg"
            class="me-2"
          >
        </a>
      </div>
      <div class="row__data option">
        <registration-page-viewer-list-item-action :template="template" />
      </div>
    </div>
  </div>
</template>

<script>
import RegistrationPageViewerListItemAction from './RegistrationPageViewerListItemAction'
import { mapGetters } from 'vuex'

export default {
  name: 'RegistrationPageViewerListItem',
  components: { RegistrationPageViewerListItemAction },
  props: {
    template: {
      type: Object,
      required: true
    },
    isAdmin: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  computed: {
    ...mapGetters({ currentUser: 'currentUser/getCurrentUser' }),
    logoUri: function () {
      return this.template.blockGraphicalCharter.logoUri
    },
    humanizeStatus: function () {
      return this.template.active ? 'Active' : 'Inactive'
    }
  },
  mounted () {

  },
  methods: {

  }
}
</script>
<style scoped>
  .template-logo {
    width: 75px;
    height:75px;
    padding: 10px;
    border: 3px solid black;
    object-fit: contain
  }
</style>
