<template>
  <div class="drop-menu-container">
    <confirmation-pop-in
      :id="'delete_template_'+template.id.toString()"
      :title="$translator.trans('Removal of the template')"
      :content="$translator.trans('Do you want to delete this template?')"
      :confirm="deleteTemplate"
    />
    <confirmation-pop-in
      :id="'switch_active_template_'+template.id.toString()"
      :title="$translator.trans(template.active ? 'Deactivation of the template' : 'Activation of the template')"
      :content="$translator.trans(template.active ? 'Do you want to disable this template?' : 'Do you want to enable this template?')"
      :confirm="changeActiveState"
    />
    <div class="icn-option">
      <img src="/build/static/icons/options-white.svg">
    </div>
    <ul class="dropdown-menu-inner">
      <li>
        <a
          class="dropdown-item"
          :href="$routing.generate('_registration_page_template_edit', {id: template.id})"
        >
          <img src="/build/static/icons/eye-green.svg">
          <b class="ms-2">{{ $translator.trans('View') }}</b>
        </a>
      </li>
      <li>
        <div
          class="dropdown-item cursor-pointer"
          data-bs-toggle="modal"
          :data-bs-target="'#confirmationPopIn_delete_template_'+template.id.toString()"
        >
          <img src="/build/static/icons/trash-small.svg">
          <b class="ms-2">{{ $translator.trans('Delete') }}</b>
        </div>
      </li>
      <li>
        <div
          class="dropdown-item cursor-pointer"
          data-bs-toggle="modal"
          :data-bs-target="'#confirmationPopIn_switch_active_template_'+template.id.toString()"
        >
          <img src="/build/static/icons/small-ban-green.svg">
          <b class="ms-2">
            <template v-if="template.active">{{ $translator.trans('Deactivate') }}</template>
            <template v-else>{{ $translator.trans('Activate') }}</template>
          </b>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import { deleteTemplate, updateTemplate } from '../../repository/registrationpage/template'
import ConfirmationPopIn from '../ui/PopIn/ConfirmationPopIn.vue'

export default {
  name: 'RegistrationPageViewerListItemAction',
  components: { ConfirmationPopIn },
  props: {
    template: {
      type: Object,
      required: true
    }
  },
  methods: {
    deleteTemplate () {
      deleteTemplate(this.template.id)
    },
    changeActiveState () {
      const template = this.template
      template.active = !this.template.active
      updateTemplate(this.template)
    }
  }
}
</script>

<style scoped>

</style>
