<template>
  <div>
    <div class="col-md-12 mb-5">
      <em>
        {{ $translator.trans('Find here all the templates for registration pages.') }}
      </em>
      <br>
    </div>
    <registration-page-option
      :filtered-count="filteredTemplates.length"
      @updateSearch="updateSearchQuery"
    />
    <br><br>
    <div class="data-list">
      <div class="data-list__header">
        <div class="data-list__header__item  flex-grow-0">
          {{ $translator.trans('Logo') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Name') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Account') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Description') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Status') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Page') }}
        </div>
        <div class="data-list__header__item option" />
      </div>
      <div class="table-content">
        <registration-page-viewer-list-item
          v-for="template in filteredTemplates"
          :key="template.id"
          :is-admin="isAdmin"
          :template="template"
        />
      </div>
    </div>
  </div>
</template>
<script>
import RegistrationPageOption from './list/RegistrationPageOption.vue'
import RegistrationPageViewerListItem from './RegistrationPageViewerListItem'
export default {
  name: 'RegistrationPageViewer',
  components: { RegistrationPageOption, RegistrationPageViewerListItem },
  props: {
    listRegistrationPageTemplates: {
      type: Array,
      required: true
    },
    isAdmin: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  data () {
    return {
      searchQuery: ''
    }
  },
  computed: {
    filteredTemplates () {
      return this.listRegistrationPageTemplates.filter(template =>
        template.name.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
          template.description.toLowerCase().includes(this.searchQuery.toLowerCase())
      )
    }
  },
  methods: {
    updateSearchQuery (query) {
      this.searchQuery = query
    }
  }
}
</script>
