<template>
  <div>
    <div v-if="listingView">
      <registration-page-viewer
        :is-admin="isAdmin"
        :list-registration-page-templates="listRegistrationPageTemplates"
      />
    </div>
    <div v-else>
      <registration-page-not-yet-activated />
    </div>
  </div>
</template>
<script>
import RegistrationPageNotYetActivated from './RegistrationPageNotYetActivated.vue'
import RegistrationPageViewer from './RegistrationPageViewer.vue'
export default {
  name: 'RegistrationPageIndex',
  components: { RegistrationPageViewer, RegistrationPageNotYetActivated },
  props: {
    client: {
      type: Object,
      required: true
    },
    listRegistrationPageTemplates: {
      type: Array,
      required: true
    },
    isAdmin: {
      type: Boolean,
      required: false,
      default: () => false
    },
    clients: {
      type: Array,
      required: false,
      default: () => []
    }
  },
  computed: {
    listingView () {
      return this.isAdmin || this.client.enableRegistrationPage
    }
  },
  mounted () {
    this.$store.commit('template/clients', this.clients)
  }
}
</script>
