<template>
  <div class="d-flex w-100 h-full">
    <div class="text-center w-50 mx-auto">
      <h1>{{ $translator.trans('Add the registration page to your account.') }}</h1>
      <i class="pt-5">
        {{ $translator.trans('The registration page is not yet activated on your account. Contact your Live Session sales representative to activate it.') }}
      </i>
    </div>
  </div>
</template>
<script>
export default {
  name: 'RegistrationPageNotYetActivated'
}
</script>
