<template>
  <div
    class="card"
  >
    <div class="card login-wrapper card-body">
      <h1 class="text-center mx-2 my-4">
        {{ title }}
      </h1>
      <div class="text-center">
        <img
          class="logo-module img-fluid"
          :src="fullPathLogo"
          :alt="'Logo' + module.client.name "
          height="800"
          style="width: 90%; max-height: 80px; object-fit: contain;"
        >
      </div>
      <h1 class="text-center mx-2 my-4">
        {{ module.description }}
      </h1>
      <slot />
      <div class="row mt-3 mx-auto">
        <slot name="footer" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'BaseAuthHub',
  props: {
    module: {
      type: Object,
      required: true
    },
    title: {
      type: String,
      required: false,
      default: 'Authentification'
    }
  },
  computed: {
    fullPathLogo () {
      return '/uploads/self_subscription_logo/' + this.module.logo
    }
  }
}
</script>
