<template>
  <div>
    <div
      class="card"
      style="width: 400px;"
    >
      <div class="card login-wrapper card-body">
        <div class="text-center m-4">
          <img
            class="logo-module img-fluid"
            :src="fullPathLogo"
            :alt="'Logo' + module.client.name "
            style=""
          >
        </div>
        <h1 class="text-center mx-2 my-4">
          {{ module.description }}
        </h1>
        <nav
          v-if="'' === resetToken"
          class="nav d-flex justify-content-center align-items-center my-4"
        >
          <button
            class="btn btn-nav btn-nav-module-main me-2 nav-item"
            :class="formClass('LoginForm')"
            @click="updateForm('LoginForm')"
          >
            {{ $translator.trans('Login') }}
          </button>
          <button
            class="btn btn-nav btn-nav-module-main nav-item"
            :class="formClass('RegisterForm')"
            @click="updateForm('RegisterForm')"
          >
            {{ $translator.trans('Registration') }}
          </button>
        </nav>
        <alert
          v-if="resettingPassword"
          type="info"
          :text="$translator.trans('Your password has been reset, you can now log in.')"
        />
        <alert
          v-if="resetRequest"
          type="info"
          :text="$translator.trans('If the email address entered is linked to a user, a password reset link will be sent to it. This action is only available once every 3 minutes.')"
        />
        <alert
          v-if="haveManagerAccounts"
          :text="$translator.trans('Your account has a client manager account on Mylivesession Manager, your password will be reset for access to the self-registration module and the account.s where you are client manager.')"
          type="warning"
        />
        <component
          :is="currentForm"
          v-if="!invalidResetToken"
          v-bind="componentProps"
        />
        <div v-else>
          <alert
            type="warning"
            :text="$translator.trans('Your password reset link has expired or is no longer valid, you can request a new one by clicking on the link below.')"
            is-closable="false"
          />
        </div>
        <div
          class="row mt-3 mx-auto"
        >
          <template v-if="isLoginForm">
            <span class="col-sm text-muted">{{ $translator.trans('No account?') }}</span>
            <div
              class="col-sm"
              @click="updateForm('RegisterForm')"
            >
              <a
                href="#"
              >{{ $translator.trans('Register now!') }}</a>
            </div>
          </template>
          <template v-else-if="isRegisterForm">
            <span class="text-muted text-center">{{ $translator.trans('You have an account?') }}</span>
            <div
              class="col-sm text-center"
              @click="updateForm('LoginForm')"
            >
              <a
                href="#"
              >{{ $translator.trans('Login now!') }}</a>
            </div>
          </template>
          <template v-else-if="resetToken && invalidResetToken">
            <reset-password-link
              :module="module"
              over-write-text="Request a new link"
            />
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LoginForm    from './LoginForm'
import RegisterForm from './RegisterForm'
import PasswordRequestForm from './PasswordRequestForm'
import Alert from '../../components/ui/Alert'
import ResetPasswordLink from './ResetPasswordLink.vue'

export default {
  name: 'LoginAndRegister',
  components: {
    LoginForm,
    RegisterForm,
    PasswordRequestForm,
    Alert,
    ResetPasswordLink
  },
  props: {
    module: {
      type: Object,
      required: true
    },
    csrfToken: {
      type: String,
      required: true
    },
    error: {
      type: String,
      required: true
    },
    resetRequest: {
      type: String,
      required: false,
      default: 'exemple@live-session.fr'
    },
    resetToken: {
      type: String,
      required: false,
      default: null
    },
    invalidResetToken: {
      type: Boolean,
      required: true,
      default: false
    },
    haveManagerAccounts: {
      type: Boolean,
      required: true,
      default: false
    },
    resettingPassword : {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      currentForm : this.resetToken !== '' ? 'PasswordRequestForm' : 'LoginForm',
      errorMessage: this.error
    }
  },
  computed: {
    isLoginForm () {
      return this.currentForm === 'LoginForm'
    },
    isRegisterForm () {
      return this.currentForm === 'RegisterForm'
    },
    fullPathLogo () {
      return '/uploads/self_subscription_logo/' + this.module.logo
    },
    componentProps () {
      const props = {
        module: this.module,
        'csrf-token': this.csrfToken
      }
      if (this.resetToken !== '') {
        props.token = this.resetToken
      }
      return props
    }
  },
  methods: {
    formClass (targetForm) {
      return  {
        active : targetForm === this.currentForm
      }
    },
    updateForm (form) {
      this.currentForm = form
    }
  }
}
</script>
