<template>
  <form
    :action="$routing.generate('_app_login')"
    method="post"
    class="mt-4"
  >
    <div class="mb-3">
      <label
        for="login-email"
        class="form-label"
      >{{ $translator.trans('Email address') }}</label>
      <input
        id="login-email"
        name="username"
        type="email"
        class="form-control"
        :placeholder="$translator.trans('Email address')"
      >
    </div>
    <div class="mb-3">
      <label
        for="login-password"
        class="form-label"
      >{{ $translator.trans('Password') }}</label>
      <div class="input-group mb-2">
        <input
          id="login-password"
          name="password"
          :type="passwordFieldType"
          class="form-control"
          :placeholder="$translator.trans('Password') "
        >
        <span
          class="input-group-text see-password"
          :class="{active: showPassword}"
          @click="showPassword = !showPassword"
        >
          <i class="icon icon-eye" />
        </span>
      </div>
      <small>
        <reset-password-link :module="module" />
      </small>
    </div>
    <div class="mb-3">
      <div class="form-check">
        <input
          id="login-remember-me"
          name="remember-me"
          class="form-check-input"
          type="checkbox"
        >
        <label
          class="form-check-label"
          for="login-remember-me"
        >
          {{ $translator.trans('Remember me') }}
        </label>
        <img
          src="/build/static/icons/question.svg"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          :title="$translator.trans('By checking this box, you will be automatically connected to the application for 24 hours without having to log in each time.')"
        >
      </div>
    </div>

    <div class="mb-3 text-center">
      <input
        type="hidden"
        name="csrf_token"
        :value="csrfToken"
      >
      <input
        type="hidden"
        name="domain"
        :value="module.domain"
      >
      <input
        type="hidden"
        name="slugclient"
        :value="module.slugClient"
      >
      <button
        class="btn btn-module-main"
        type="submit"
      >
        {{ $translator.trans('Sign in') }}
      </button>
      <br>
      <p
        class="pt-2"
        style="font-size: 14px"
      >
        {{ $translator.trans('No account?') }} <a
          :href="$routing.generate( '_self_subscription_hub_sign_up', {'clientName': module.client.slug, 'domain': module.domain} )"
        >
          {{ $translator.trans('Sign Up') }}
        </a>
      </p>
    </div>
  </form>
</template>
<script>
import ResetPasswordLink from './ResetPasswordLink'
export default {
  name: 'LoginForm',
  components: { ResetPasswordLink },
  props: {
    module: {
      type: Object,
      required: true
    },
    csrfToken: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      showPassword: false
    }
  },
  computed: {
    passwordFieldType () {
      return this.showPassword
        ? 'text'
        : 'password'
    }
  }
}
</script>
