<template>
  <base-auth-hub
    :module="module"
    :title="$translator.trans('Login')"
  >
    <alert
      v-if="resettingPassword"
      type="info"
      :text="$translator.trans('Your password has been reset, you can now log in.')"
    />
    <alert
      v-if="resetRequest"
      type="info"
      :text="$translator.trans('If the email address entered is linked to a user, a password reset link will be sent to it. This action is only available once every 3 minutes.')"
    />
    <LoginForm
      :module="module"
      :csrf-token="csrfToken"
    />
  </base-auth-hub>
</template>
<script>
import LoginForm from './LoginForm.vue'
import Alert from '../../components/ui/Alert.vue'
import BaseAuthHub from './BaseAuthHub.vue'

export default {
  name: 'Login',
  components: { BaseAuthHub, Alert, LoginForm },
  props: {
    module: {
      type: Object,
      required: true
    },
    csrfToken: {
      type: String,
      required: true
    },
    error: {
      type: String,
      required: true
    },
    resetRequest: {
      type: String,
      required: false,
      default: 'exemple@live-session.fr'
    },
    resettingPassword: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>
