<template>
  <form
    ref="resetRequestForm"
    class="mt-4"
  >
    <alert
      v-if="error"
      type="danger"
      :text="$translator.trans('Passwords are not the same')"
    />
    <div class="input-group mb-4">
      <input
        id="register-password"
        ref="password"
        v-model="password"
        name="register-password"
        :type="passwordFieldType"
        class="form-control"
        :placeholder="$translator.trans('Password')"
      >
      <span
        class="input-group-text see-password"
        :class="{active: showPassword}"
        @click="showPassword = !showPassword"
      >
        <i class="icon icon-eye" />
      </span>
    </div>
    <PasswordRulesVisualizer :password="password" />
    <div class="mb-4">
      <input
        id="register-confirm-password"
        ref="confirm"
        v-model="confirm"
        name="register-confirm-password"
        type="password"
        class="form-control"
        :placeholder="$translator.trans('Confirm the password')"
      >
      <div v-if="confirm !== null && confirm !== password">
        {{ $translator.trans('Passwords are not the same') }}
      </div>
    </div>
    <div class="mb-3 text-center">
      <loader v-if="saving" />
      <button
        v-else
        class="btn btn-module-main"
        type="button"
        :disabled="!isValid"
        @click="submitResetRequest()"
      >
        {{ $translator.trans('Reset') }}
      </button>
    </div>
  </form>
</template>

<script>

import Alert from '../../components/ui/Alert'
import PasswordRulesVisualizer from './rules-visualizer/PasswordRulesVisualizer'
import { matchWithAllRequirements } from './rules-visualizer/password-checker.utils'
import Loader from '../../components/ui/Loader'

export default {
  name: 'ResetForm',
  components: {
    Loader,
    PasswordRulesVisualizer,
    Alert
  },
  props: {
    module: {
      type: Object,
      required: true
    },
    csrfToken: {
      type: String,
      required: true
    },
    token: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      saving: false,
      error: false,
      errorKnown: '',
      showPassword: false,
      password: '',
      confirm: null
    }
  },
  computed: {
    passwordFieldType () {
      return this.showPassword
        ? 'text'
        : 'password'
    },
    isValid () {
      return matchWithAllRequirements(this.password) && this.password === this.confirm
    }
  },
  methods: {
    submitResetRequest () {
      const formData = new FormData()
      formData.append('password', this.password)
      formData.append('confirm', this.confirm)

      this.saving = true
      this.error = false
      this.$axios.post(this.$routing.generate('_self_subscription_hub_password_reset', { clientName: this.module.slugClient, domain: this.module.domain, token: this.token }), formData)
        .then(response => {
          window.location.href = response.data.message.location
        })
        .catch((error) => {
          this.saving = false
          this.error = true
          if ('message' in error.response.data) {
            this.errorKnown = error.response.data.message
          }
          window.scrollTo(0, 0)
        })
    }
  }
}
</script>
