<template>
  <update-password-form />
</template>

<script>

import UpdatePasswordForm from '../../components/security/UpdatePasswordForm'

export default {
  name: 'ResetForm',
  components: {
    UpdatePasswordForm
  }
}
</script>
