<template>
  <form
    ref="registrationForm"
    class="mt-4"
    @submit.prevent="submitRegistration"
  >
    <register-form-part
      :module="module"
    />

    <alert
      v-if="errorMessage"
      type="danger"
      :text="$translator.trans(errorMessage)"
    />

    <div class="text-center">
      <button
        type="submit"
        class="btn btn-module-main"
      >
        {{ $translator.trans('Register') }}
      </button>
      <p
        class="pt-2 text-center"
        style="font-size: 14px"
      >
        <a
          :href="$routing.generate( '_self_subscription_hub_login', {'clientName': module.client.slug, 'domain': module.domain} )"
        >
          {{ $translator.trans('Log in') }}
        </a>
      </p>
    </div>
  </form>
</template>

<script>
import Alert from '../../components/ui/Alert'
import RegisterFormPart from '../RegisterFormPart/RegisterFormPart.vue'

export default {
  name: 'RegisterForm',
  components: {
    RegisterFormPart,
    Alert
  },
  props: {
    module: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      errorMessage: ''
    }
  },
  methods: {
    submitRegistration () {
      this.$emit('submit-form', (error) => {
        if (error) {
          this.errorMessage = 'Mandatory fields are missing.'
          return
        }

        const formData = new FormData(this.$refs.registrationForm)
        const registrationFormJson = JSON.stringify(this.module.registrationForm)
        formData.append('register-form-responses', registrationFormJson)

        this.$axios.post(this.$routing.generate('_self_subscription_hub_register', {
          clientName: this.module.slugClient,
          domain: this.module.domain
        }), formData)
          .then((response) => {
            window.location.href = this.$routing.generate('_self_subscription_hub_home', {
              clientName: this.module.slugClient,
              domain: this.module.domain
            })
          })
          .catch((error) => {
            if ('message' in error.response.data) {
              this.errorMessage = error.response.data.message.text
            }
            window.scrollTo(0, 0)
          })
      })
    }
  }
}
</script>
