<template>
  <base-auth-hub
    :module="module"
    :title="$translator.trans('Registration')"
  >
    <RegisterForm :module="module" />
  </base-auth-hub>
</template>
<script>
import RegisterForm from './RegisterForm.vue'
import BaseAuthHub from './BaseAuthHub.vue'

export default {
  name: 'Register',
  components: { BaseAuthHub, RegisterForm },
  props: {
    module: {
      type: Object,
      required: true
    }
  }
}
</script>
