<template>
  <div>
    <a
      class="cursor-pointer"
      @click="open"
    >{{ $translator.trans(overWriteText) }}</a>
    <div
      ref="resetPasswordModal"
      aria-hidden="true"
      class="modal fade show text-black"
      role="dialog"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1>{{ $translator.trans('Find your password') }}</h1>
          </div>
          <div class="modal-body">
            <alert
              v-if="error"
              type="danger"
              :text="error"
            />
            <div class="d-flex flex-column align-content-center justify-content-center">
              <div class="mb-3">
                <label
                  for="login-email"
                  class="form-label"
                >{{ $translator.trans('Email address') }}</label>
                <input
                  id="login-email"
                  v-model="email"
                  name="email"
                  type="email"
                  class="form-control"
                  :placeholder="$translator.trans('Email address')"
                >
                <EmailRulesVisualizer
                  class="mt-1"
                  :email="email"
                />
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <a
              class="cursor-pointer"
              @click="close"
            >{{ $translator.trans('Close') }}</a>
            <button
              class="btn btn-module-main ms-1"
              @click="sendPasswordResetMail"
            >
              {{ $translator.trans('Reset your password') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Alert from '../../components/ui/Alert'
import EmailRulesVisualizer from './rules-visualizer/EmailRulesVisualizer'
import * as emailCheckerUtils from './rules-visualizer/email-checker.utils'

export default {
  name: 'ResetPasswordLink',
  components: { EmailRulesVisualizer, Alert },
  props: {
    module: {
      type: Object,
      required: true
    },
    overWriteText: {
      type: String,
      default: 'Forgot your password?'
    }
  },
  data () {
    return {
      email: '',
      modal: null,
      error: null
    }
  },
  mounted () {
    this.modal = this.$bootstrap.Modal.getOrCreateInstance(this.$refs.resetPasswordModal)
  },
  methods: {
    ...emailCheckerUtils,
    sendPasswordResetMail (event) {
      event.stopPropagation()
      event.preventDefault()
      if (this.isValidEmail(this.email)) {
        window.location.href = this.$routing.generate('_self_subscription_hub_password_reset_request', { clientName: this.module.slugClient, domain: this.module.domain, username: this.email })
      }
    },
    open () {
      this.modal.show()
    },
    close () {
      this.modal.hide()
    }
  }
}
</script>

<style scoped>

</style>
