<template>
  <base-auth-hub
    :module="module"
    :title="$translator.trans('Reset of your password')"
  >
    <alert
      v-if="haveManagerAccounts && !invalidResetToken"
      :text="$translator.trans('Your account has a client manager account on Mylivesession Manager, your password will be reset for access to the self-registration module and the account.s where you are client manager.')"
      type="warning"
    />
    <alert
      v-if="!resetToken || invalidResetToken"
      type="warning"
      :text="$translator.trans('Your password reset link has expired or is no longer valid, you can request a new one by clicking on the link below.')"
    />
    <ResetForm
      v-else
      :module="module"
      :csrf-token="csrfToken"
      :token="resetToken"
    />
    <template #footer>
      <reset-password-link
        v-if="invalidResetToken"
        :module="module"
        over-write-text="Request a new link"
      />
    </template>
  </base-auth-hub>
</template>
<script>
import ResetForm from './PasswordRequestForm.vue'
import Alert from '../../components/ui/Alert.vue'
import ResetPasswordLink from './ResetPasswordLink.vue'
import BaseAuthHub from './BaseAuthHub.vue'

export default {
  name: 'ResetPassword',
  components: { BaseAuthHub, ResetPasswordLink, Alert, ResetForm },
  props: {
    module: {
      type: Object,
      required: true
    },
    csrfToken: {
      type: String,
      required: true
    },
    resetToken: {
      type: String,
      required: true
    },
    invalidResetToken: {
      type: Boolean,
      required: true,
      default: false
    },
    haveManagerAccounts: {
      type: Boolean,
      required: true,
      default: false
    }
  }
}
</script>
