.session-detail-signature{
    height: 100%;
    background-color: $gray-300;
    & .session-main-header {
        background-color: $white;
        padding: 27px 36px 27px 33px;

        & .session-main-details {
            & .session-main-details__logo {
                margin-right: 22px;
            }
            & .session-main-details__infos {
                & h2 {
                    @include font-size(20px);
                    @include line-height(22px);
                    font-weight: bold;
                }
                & div {
                    margin-top: 5px;
                }
                & span,
                & button  {
                    @include font-size(12px);
                    @include line-height(13px);
                }
                & button {
                    font-weight: bold;
                }
            }
        }
    }
    & .session-detail-signature-content {
        padding-top: 107px;
        & .session-content {
            width: 100%;
            max-width: 600px;
            & .session-title {
                & h2 {
                    @include font-size(24px);
                    @include line-height(26px);
                    font-weight: 700;
                    color: $black;
                }
            }
            & .session-desc {
                & p {
                    @include font-size(20px);
                    @include line-height(22px);
                    font-weight: 300;
                    color: rgba($color: #000000, $alpha: 0.85);
                }
            }
        }
        & .accordion-signature {
            width: 100%;
            max-width: 720px;
            border: 1px solid $_border-color;
            & .accordion-item {
                border-bottom: unset;
            }
            & .accordion-button {
                & span {
                    min-width: 12rem;
                    font-weight: normal;
                }
                & span + div {
                    width: 100%;
                }
            }
            & .accordion-button:not(.collapsed) {
                color: $black;
                background-color: #EAEAEA;
                & span {
                    font-weight: 700;
                }
            }
            & .accordion-button:after {
                background: none;
            }
            & .accordion-body {
                background-color: #EAEAEA;
                & table {
                    background-color: $white;
                    & th,
                    & td {
                        vertical-align: middle;
                    }
                    & th {
                        color: $black;
                    }
                }
                & .modal-dialog {
                    max-width: 545px;
                    & .modal-header {
                        & .modal-title {
                            @include font-size(20px);
                            @include line-height(22px);
                            font-weight: 700;
                            margin-bottom: 8px;
                        }
                        & span {
                            @include font-size(12px);
                            @include line-height(13px);
                        }
                    }
                    & .modal-body {
                        position: relative;
                        & .modal-body__signature {
                            height: 184px;
                            background-color: #D8D8D8;
                            & span {
                                @include font-size(30px);
                                @include line-height(33px);
                                font-weight: 300;
                                color: rgba($color: #000000, $alpha: 0.09);
                            }
                        }
                    }
                    & .modal-body {
                        & .sign-pen-clear {
                            cursor: pointer;
                            float: right;
                            position: relative;
                            top: -20px;
                        }
                    }
                }
            }
            & .session-btn-form-eval-end-session {
                margin-right: 18px;
            }
        }
        & .accordion-signature-without-border {
            width: 100%;
            max-width: 720px;
            & .accordion-button {
                & span {
                    min-width: 12rem;
                    font-weight: normal;
                }
                & span + div {
                    width: 100%;
                }
            }
            & .accordion-button:not(.collapsed) {
                color: $black;
                background-color: #EAEAEA;
                & span {
                    font-weight: 700;
                }
            }
            & .accordion-button:after {
                background: none;
            }
            & .accordion-body {
                background-color: #EAEAEA;
                & table {
                    background-color: $white;
                    & th,
                    & td {
                        vertical-align: middle;
                    }
                    & th {
                        color: $black;
                    }
                }
                & .modal-dialog {
                    max-width: 545px;
                    & .modal-header {
                        & .modal-title {
                            @include font-size(20px);
                            @include line-height(22px);
                            font-weight: 700;
                            margin-bottom: 8px;
                        }
                        & span {
                            @include font-size(12px);
                            @include line-height(13px);
                        }
                    }
                    & .modal-body {
                        position: relative;
                        & .modal-body__signature {
                            height: 184px;
                            background-color: #D8D8D8;
                            & span {
                                @include font-size(30px);
                                @include line-height(33px);
                                font-weight: 300;
                                color: rgba($color: #000000, $alpha: 0.09);
                            }
                        }
                    }
                    & .modal-body {
                        & .sign-pen-clear {
                            cursor: pointer;
                            float: right;
                            position: relative;
                            top: -20px;
                        }
                    }
                }
            }
            & .session-btn-form-eval-end-session {
                margin-right: 18px;
            }
        }
        & .session-content {
            width: 100%;
            max-width: 600px;
            & .session-title {
                & h2 {
                    @include font-size(20px);
                    @include line-height(22px);
                    color: #0A1629;
                    font-weight: 700;
                }
            }
            & .session-desc {
                & p {
                    @include font-size(14px);
                    @include line-height(24px);
                    color: #0A1629;
                }
            }
            & .session-form {
                & .marks {
                    & .legend {
                        @include font-size(14px);
                        @include line-height(16px);
                        color: $black;
                        font-weight: normal;
                        & sup {
                            color: $red;
                        }
                    }
                    & .form__fieldset {
                        & .legend {
                            font-size: 1rem;
                            font-weight: 700;
                        }
                    }
                }
                & .fieldset-tertiary {
                    background-color:  $white;
                    border: $border-width solid $_border-color;
                    & textarea {
                        height: 105px;
                        width: 100%;
                        resize: none !important;
                        &:focus {
                            outline: none;
                            border: $border-width solid $primary;
                        }
                    }
                    & input[type=text] {
                        width: 100%;
                        &:focus {
                            outline: none;
                            border: $border-width solid $primary;
                        }
                    }
                    & .form__item__rating {
                        padding: 5px;
                        width: 30px;
                        border: $border-width solid $black;
                        border-left: 0px;
                        text-align: center;
                        &:first-of-type {
                            border-left: $border-width solid $black;
                        }
                        &.active {
                            border: $border-width solid $primary;
                        }
                    }
                    & .form__item__switch {
                        display: flex;
                        & .slider:before {
                            background-color: #80BC00;
                        }
                        &.switch-checked {
                            & .slider:before {
                                -webkit-transform: translateX(23px);
                                transform: translateX(23px);
                            }
                        }
                        & .switch-label {
                            @extend .me-2;
                            @extend .ms-2;
                            color: #80BC00;
                            &.switch-label-disabled {
                                color: $gray-500;
                            }
                        }
                        &.switch-unknown {
                            & .slider:before {
                                -webkit-transform: translateX(11px);
                                transform: translateX(11px);
                                background-color: $gray-500;
                            }

                            & .switch-label {
                                color: $gray-500;
                            }
                        }
                    }
                }
            }
        }
    }
}

.session-btn-signature-access {
    & .modal-dialog {
        max-width: 545px;

        & .modal-header {
            & .modal-title {
                @include font-size(20px);
                @include line-height(22px);
                font-weight: 700;
                margin-bottom: 8px;
            }

            & span {
                @include font-size(12px);
                @include line-height(13px);
            }
        }

        & .modal-body {
            position: relative;

            & .modal-body__signature {
                height: 184px;
                background-color: #D8D8D8;

                & span {
                    @include font-size(30px);
                    @include line-height(33px);
                    font-weight: 300;
                    color: rgba($color: #000000, $alpha: 0.09);
                }
            }
        }

        & .modal-body:after {
            content: url('../../../static/icons/edit-small-green.svg');
            width: 12px;
            height: 12px;
            position: absolute;
            right: 40px;
            bottom: 43px;
            cursor: pointer;
        }
    }
}
