.wrapper-header {
    & .wrapper-header__infos {
        color: #0A1629;
        & .wrapper-header__infos__title {
            & h1 {
                @include font-size(36px);
                @include line-height(39px);
                font-weight: bold;
                margin-right: 6px;
            }
        }
        & .wrapper-header__infos__desc,
        & .wrapper-header__infos__updated {
            @include line-height(24px);
        }
        & .wrapper-header__infos__desc {
            @include font-size(16px);
            font-weight: 600;
        }
        & .wrapper-header__infos__updated {
            @include font-size(10px);
        }
        & .data-list {
            & .opened-room {
                margin-right: 20px;
                & img {
                    margin-right: 4px;
                }
            }
            & .session-option {
                @include circle(34px);
            }
            & .session-parcours-formation,
            & .session-numbers {
                background-color: #E7E7E7;
                @include half-circle(30px);
                padding: 8px 16px;
            }
            & .session-parcours-formation {
                & img {
                    margin-right: 9px;
                }
            }
            & .session-numbers {
                & .session-numbers__profile {
                    margin-right: 18px;
                    & img {
                        margin-right: 6px;
                    }
                }
                & .session-numbers__groups {
                    & img {
                        margin-right: 8px;
                    }
                }
            }
        }
    }
    & .wrapper-header__actions {
        min-height: 144px;
        & .wrapper-header__actions__save-and-more {
            & a {
                margin-right: 26px;
            }
            & .more-btn + .dropdown-menu li img {
                margin-right: 8px;
            }
            & .more-btn + .dropdown-menu li span {
                @include line-height(25px);
                font-weight: 600;
            }
            & .more-btn + .dropdown-menu li:last-child {
                & img {
                    margin-left: 5px;
                }
                & span {
                    color: $teal;
                }
            }
        }
        & .wrapper-header__actions__download {
            & img {
                margin-right: 11px;
            }
            & span {
                font-weight: bold;
            }
        }
        & .wrapper-header__actions__download + .dropdown-menu  {
            & .export-dropdown__tab-container {
                & .form-check-label {
                    @include line-height(16px);
                    font-weight: 600px;
                }
                & .form-check-input:checked + .form-check-label {
                    color: $black;
                }
            }
        }
    }
}

#session-export-modal {
    & .btn-disabled {
        cursor: not-allowed;
    }
}

.page-options-bar__item + .dropdown-menu li img {
    margin-right: 8px;
}

.page-options-bar__item + .dropdown-menu li span {
    @include line-height(25px);
    font-weight: 600;
}

/** STYLE TAB PARTICIPANTS **/
.table-participants {
    & .table-content {
        & .data-list__row {
            & .row__data {
                & img {
                    cursor: pointer;
                }
                & .badge.bg-indicator {
                    border: 1px solid rgba(151,151,151,0.25);
                    border-radius: 15px;
                }
                & .pastille {
                    @include circle(12px);
                    background-color: $gray-700;
                }
                & .pastille.connected {
                    background-color: #3EE0FA;
                }
            }
        }
    }
}
#addParticipant {
    & .modal-dialog {
        width: 100%;
        max-width: 1400px;
        & .modal-content {
            & .modal-header {
                & .modal-title {
                    @include font-size(20px);
                    @include line-height(27px);
                    font-weight: 700;
                    color: $black;
                }
            }
            & .modal-body {
                & .session-content-blocks {
                    & .container-add-participants {
                        margin: auto 0;
                        & img {
                            cursor: pointer;
                        }
                    }
                    & .session-content-blocks__container {
                        padding: 28px 0 0 0;
                        background-color: $white;
                        border: 1px solid #E9E9E9;

                        & .searchbar-participants {
                            padding: 13px;
                            background-color: $gray-300;
                            border-radius: 154px;
                            margin-left: 20px;
                            margin-right: 20px;
                            & img {
                                margin-right: 11px;
                            }
                            & #participants-search {
                                border: none;
                                background: none;
                                font-family: var(--bs-font-sans-serif);
                                @include font-size(16px);
                                @include line-height(17px);
                                opacity: 50%;
                                width: 100%;
                            }
                        }

                        & .table-scroll-container {
                            @include overflow-table(300px);
                        }

                        & .table-participants,
                        & .table-selected-participants {
                            width: 100%;
                            & thead {
                                & tr {
                                    & th {
                                        padding: 18px 20px;
                                        @include font-size(14px);
                                        @include line-height(16px);
                                        color: rgba($color: #424248, $alpha: 0.45);
                                    }
                                }
                            }
                            & tbody {
                                & tr {
                                    border-bottom: 1px solid $white;
                                    & td {
                                        padding: 18px 20px;
                                        @include font-size(14px);
                                        @include line-height(24px);
                                        color: $black;
                                    }
                                }
                                & tr:nth-child(odd):not(.highlight) {
                                    background-color: $gray-300;
                                }
                                & tr:nth-child(even):not(.highlight) {
                                    background-color: rgba($color: $white, $alpha: 0.2);
                                }
                            }
                        }

                        & .table-participants {
                            & tbody {
                                & tr {
                                    cursor: pointer;
                                }
                                & tr.highlight {
                                    background-color: rgba(128,188,0,0.2);
                                }
                            }
                        }
                        & .tag-information {
                            background-color: #E7E7E7;
                            @include half-circle(30px);
                            padding: 4px 4px;
                        }
                        .tag-information-content-blocks__container {
                            display: flex;
                            flex-direction: column;
                        }
                        
                        /* Container pour les éléments session-numbers */
                        .tag-information-container {
                            display: flex; /* Alignement horizontal */
                            overflow-x: auto; /* Défilement horizontal */
                            white-space: nowrap; /* Empêche le passage à la ligne des éléments */
                            margin-bottom: 10px;
                            margin-left: 10px;
                        }
                        
                        /* Style pour chaque élément session-numbers */
                        .tag-information {
                            flex: 0 0 auto; /* Empêche les éléments de se rétrécir */
                            display: flex; /* Pour aligner les éléments internes */
                            align-items: center; /* Alignement vertical des éléments internes */
                        }
                        .group-info {
                            font-size: 11px; /* Ajustez la taille de la police selon vos besoins */
                            color: #000000; /* Couleur du texte */
                            font-weight: normal /* Poids de la police */
                            /* Ajoutez d'autres styles ici si nécessaire */
                        }
                        & .title-selected-participants {
                            margin-top: 18px;
                            margin-bottom: 10px;
                            & h3 {
                                @include font-size(18px);
                                @include line-height(16px);
                                font-weight: bold;
                                margin-left: 20px;
                            }
                            & h3 + div {
                                background-color: $green;

                                &.ten {
                                    @include circle(18px);
                                }

                                &.hundred {
                                    @include circle(26px);
                                }

                                &.thousand {
                                    @include circle(34px);
                                }
                            }

                            & h3 + div span {
                                color: $white;
                                @include font-size(12px);
                                @include line-height(16px);
                                font-weight: 900;
                            }
                        }
                        & .table-selected-participants {
                            & select {
                                @include font-size(14px);
                                @include line-height(21px);
                                color: $black;
                                border-color:  $_border-color;
                                background-color: $white;
                            }
                            & .btn-unsubscribe {
                                cursor: pointer;
                                margin-left: 70px;
                            }
                        }

                    }

                    & .session-btn-access-next-step {
                        margin-top: 18px;
                    }
                }
            }
        }
    }
}

#create-session-wizard {
    & .session-content-blocks {
        & .container-add-participants {
            margin: auto 0;
            & img {
                cursor: pointer;
            }
        }
        & .session-content-blocks__container {
            padding: 28px 0 0 0;
            background-color: $white;
            border: 1px solid #E9E9E9;

            & .searchbar-participants {
                padding: 13px;
                background-color: $gray-300;
                border-radius: 154px;
                margin-left: 20px;
                margin-right: 20px;
                & img {
                    margin-right: 11px;
                }
                & #participants-search {
                    border: none;
                    background: none;
                    font-family: var(--bs-font-sans-serif);
                    @include font-size(16px);
                    @include line-height(17px);
                    opacity: 50%;
                    width: 100%;
                }
            }

            & .table-scroll-container {
                @include overflow-table(300px);
            }

            & .table-participants,
            & .table-selected-participants {
                width: 100%;
                & thead {
                    & tr {
                        & th {
                            padding: 18px 20px;
                            @include font-size(14px);
                            @include line-height(16px);
                            color: rgba($color: #424248, $alpha: 0.45);
                        }
                    }
                }
                & tbody {
                    & tr {
                        border-bottom: 1px solid $white;
                        & td {
                            padding: 18px 20px;
                            @include font-size(14px);
                            @include line-height(24px);
                            color: $black;
                        }
                    }
                    & tr:nth-child(odd):not(.highlight) {
                        background-color: $gray-300;
                    }
                    & tr:nth-child(even):not(.highlight) {
                        background-color: rgba($color: $white, $alpha: 0.2);
                    }
                }
            }

            & .table-participants {
                & tbody {
                    & tr {
                        cursor: pointer;
                    }
                    & tr.highlight {
                        background-color: rgba(128,188,0,0.2);
                    }
                }
            }
            & .tag-information {
                background-color: #E7E7E7;
                @include half-circle(30px);
                padding: 4px 4px;
            }
            .tag-information-content-blocks__container {
                display: flex;
                flex-direction: column;
            }

            /* Container pour les éléments session-numbers */
            .tag-information-container {
                display: flex; /* Alignement horizontal */
                overflow-x: auto; /* Défilement horizontal */
                white-space: nowrap; /* Empêche le passage à la ligne des éléments */
                margin-bottom: 10px;
                margin-left: 10px;
            }

            /* Style pour chaque élément session-numbers */
            .tag-information {
                flex: 0 0 auto; /* Empêche les éléments de se rétrécir */
                display: flex; /* Pour aligner les éléments internes */
                align-items: center; /* Alignement vertical des éléments internes */
            }
            .group-info {
                font-size: 11px; /* Ajustez la taille de la police selon vos besoins */
                color: #000000; /* Couleur du texte */
                font-weight: normal /* Poids de la police */
                /* Ajoutez d'autres styles ici si nécessaire */
            }
            & .title-selected-participants {
                margin-top: 18px;
                margin-bottom: 10px;
                & h3 {
                    @include font-size(18px);
                    @include line-height(16px);
                    font-weight: bold;
                    margin-left: 20px;
                }
                & h3 + div {
                    background-color: $green;

                    &.ten {
                        @include circle(18px);
                    }

                    &.hundred {
                        @include circle(26px);
                    }

                    &.thousand {
                        @include circle(34px);
                    }
                }

                & h3 + div span {
                    color: $white;
                    @include font-size(12px);
                    @include line-height(16px);
                    font-weight: 900;
                }
            }
            & .table-selected-participants {
                & select {
                    @include font-size(14px);
                    @include line-height(21px);
                    color: $black;
                    border-color:  $_border-color;
                    background-color: $white;
                }
                & .btn-unsubscribe {
                    cursor: pointer;
                    margin-left: 70px;
                }
            }

        }

        & .session-btn-access-next-step {
            margin-top: 18px;
        }
    }
}

#RegisteredParticipantGroupModal {
    & .modal-dialog {
        width: 100%;
        max-width: 1400px;
        & .modal-content {
            & .modal-header {
                & .modal-title {
                    @include font-size(20px);
                    @include line-height(27px);
                    font-weight: 700;
                    color: $black;
                }
            }
            & .modal-body {
                & .session-content-blocks {
                    & .container-add-participants {
                        margin: auto 0;
                        & img {
                            cursor: pointer;
                        }
                    }
                    & .session-content-blocks__container {
                        padding: 28px 0 0 0;
                        background-color: $white;
                        border: 1px solid #E9E9E9;
                        
                        & .searchbar-participants {
                            padding: 13px;
                            background-color: $gray-300;
                            border-radius: 154px;
                            margin-left: 20px;
                            margin-right: 20px;
                            & img {
                                margin-right: 11px;
                            }
                            & #participants-search {
                                border: none;
                                background: none;
                                font-family: var(--bs-font-sans-serif);
                                @include font-size(16px);
                                @include line-height(17px);
                                opacity: 50%;
                                width: 100%;
                            }
                        }
                        
                        & .table-scroll-container {
                            @include overflow-table(300px);
                        }
                        
                        & .table-participants,
                        & .table-selected-participants {
                            width: 100%;
                            & thead {
                                & tr {
                                    & th {
                                        padding: 18px 20px;
                                        @include font-size(14px);
                                        @include line-height(16px);
                                        color: rgba($color: #424248, $alpha: 0.45);
                                    }
                                }
                            }
                            & tbody {
                                & tr {
                                    border-bottom: 1px solid $white;
                                    & td {
                                        padding: 18px 20px;
                                        @include font-size(14px);
                                        @include line-height(24px);
                                        color: $black;
                                    }
                                }
                                & tr:nth-child(odd):not(.highlight) {
                                    background-color: $gray-300;
                                }
                                & tr:nth-child(even):not(.highlight) {
                                    background-color: rgba($color: $white, $alpha: 0.2);
                                }
                            }
                        }
                        
                        & .table-participants {
                            & tbody {
                                & tr {
                                    cursor: pointer;
                                }
                                & tr.highlight {
                                    background-color: rgba(128,188,0,0.2);
                                }
                            }
                        }
                        
                        & .title-selected-participants {
                            margin-top: 18px;
                            margin-bottom: 48px;
                            & h3 {
                                @include font-size(18px);
                                @include line-height(16px);
                                font-weight: bold;
                                margin-left: 20px;
                            }
                            & h3 + div {
                                background-color: $green;
                                
                                &.ten {
                                    @include circle(18px);
                                }
                                
                                &.hundred {
                                    @include circle(26px);
                                }
                                
                                &.thousand {
                                    @include circle(34px);
                                }
                            }
                            
                            & h3 + div span {
                                color: $white;
                                @include font-size(12px);
                                @include line-height(16px);
                                font-weight: 900;
                            }
                        }
                        & .table-selected-participants {
                            & select {
                                @include font-size(14px);
                                @include line-height(21px);
                                color: $black;
                                border-color:  $_border-color;
                                background-color: $white;
                            }
                            & .btn-unsubscribe {
                                cursor: pointer;
                                margin-left: 15px;
                            }
                        }
                    }
                    & .session-btn-access-next-step {
                        margin-top: 18px;
                    }
                }
            }
        }
    }
}

#addTimezone {
    & .modal-dialog {
        width: 100%;
        max-width: 1400px;
        & .modal-content {
            & .modal-header {
                & .modal-title {
                    @include font-size(20px);
                    @include line-height(27px);
                    font-weight: 700;
                    color: $black;
                }
            }
            & .modal-body {
                & .session-content-blocks {
                    & .container-add-participants {
                        margin: auto 0;
                        & img {
                            cursor: pointer;
                        }
                    }
                    & .session-content-blocks__container {
                        padding: 28px 0 0 0;
                        background-color: $white;
                        border: 1px solid #E9E9E9;

                        & .searchbar-participants {
                            padding: 13px;
                            background-color: $gray-300;
                            border-radius: 154px;
                            margin-left: 20px;
                            margin-right: 20px;
                            & img {
                                margin-right: 11px;
                            }
                            & #participants-search {
                                border: none;
                                background: none;
                                font-family: var(--bs-font-sans-serif);
                                @include font-size(16px);
                                @include line-height(17px);
                                opacity: 50%;
                                width: 100%;
                            }
                        }

                        & .table-scroll-container {
                            @include overflow-table(300px);
                        }

                        & .table-participants,
                        & .table-selected-participants {
                            width: 100%;
                            & thead {
                                & tr {
                                    & th {
                                        padding: 18px 20px;
                                        @include font-size(14px);
                                        @include line-height(16px);
                                        color: rgba($color: #424248, $alpha: 0.45);
                                    }
                                }
                            }
                            & tbody {
                                & tr {
                                    border-bottom: 1px solid $white;
                                    & td {
                                        padding: 18px 20px;
                                        @include font-size(14px);
                                        @include line-height(24px);
                                        color: $black;
                                    }
                                }
                                & tr:nth-child(odd):not(.highlight) {
                                    background-color: $gray-300;
                                }
                                & tr:nth-child(even):not(.highlight) {
                                    background-color: rgba($color: $white, $alpha: 0.2);
                                }
                            }
                        }

                        & .table-participants {
                            & tbody {
                                & tr {
                                    cursor: pointer;
                                }
                                & tr.highlight {
                                    background-color: rgba(128,188,0,0.2);
                                }
                            }
                        }

                        & .title-selected-participants {
                            margin-top: 18px;
                            margin-bottom: 48px;
                            & h3 {
                                @include font-size(18px);
                                @include line-height(16px);
                                font-weight: bold;
                                margin-left: 20px;
                            }
                            & h3 + div {
                                background-color: $green;

                                &.ten {
                                    @include circle(18px);
                                }

                                &.hundred {
                                    @include circle(26px);
                                }

                                &.thousand {
                                    @include circle(34px);
                                }
                            }

                            & h3 + div span {
                                color: $white;
                                @include font-size(12px);
                                @include line-height(16px);
                                font-weight: 900;
                            }
                        }
                        & .table-selected-participants {
                            & select {
                                @include font-size(14px);
                                @include line-height(21px);
                                color: $black;
                                border-color:  $_border-color;
                                background-color: $white;
                            }
                            & .btn-unsubscribe {
                                cursor: pointer;
                                margin-left: 70px;
                            }
                        }

                    }

                    & .session-btn-access-next-step {
                        margin-top: 18px;
                    }
                }
            }
        }
    }
}

/** STYLE TAB GENERAL **/
#nav-general {
    & .form__fieldset {
        padding-bottom: unset;
    }
    & .form__item img {
        cursor: pointer;
    }
    & .form__item sup {
        color: unset;
    }
    & .user-convoc-date {
        border-right: unset;
    }
    & .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback),
    & .user-global-duration + .input-group-text  {
        border-left: none;
    }
    & .user-global-duration + .input-group-text {
        background-color: $gray-300;
        color: rgba($color: #000000, $alpha: 0.3);
    }
    & select#user-global-modele-convoc {
        background-position: right 40px center;
    }
    & select#user-global-modele-convoc+span.view {
        cursor: pointer;
    }
    & select#user-global-modele-convoc + span.view:after {
        content: url('../../../static/icons/eye-green.svg');
        width: 16px;
        height: 12px;
        position: absolute;
        top: 33px;
        right: 37px;
        z-index: 10;
    }
}

/** STYLE TAB CONVOCATIONS **/
#nav-convoc {
    & .form__item {
        & .input-container {
            width: 100%;
        }
        & .input-group {
            width: 90%;
        }
        & .input-group input.date {
            border-right: unset;
        }
        & .input-actions {
            width: 10%;
            & img {
                cursor: pointer;
            }
        }
        & select#user-global-modele-convoc {
            background-position: right 40px center;
        }
        & select#user-global-modele-convoc+span.view {
            cursor: pointer;
        }
        & select#user-global-modele-convoc + span.view:after {
            content: url('../../../static/icons/eye-green.svg');
            width: 16px;
            height: 12px;
            position: absolute;
            top: 11px;
            right: 11px;
            z-index: 10;
        }
    }
    & .form__item.date-rappel-block {
        margin-bottom: unset;
        margin-top: 10px;
        align-items: flex-end;
    }
    & .form__item.custom-block {
        height: unset;
        margin-bottom: 10px;
    }
    & .form-container .form__checklist #user-convoc-send-email:checked:after {
        background: $teal;
    }
    & .tox-statusbar__branding {
        display: none;
    }
}

/** STYLE TAB PRESENCE & EVALUATIONS**/
#nav-presence-with-eval {
    & .form__item {
        margin-bottom: unset;
        & label + div {
            width: 100%;
        }
        & .input-group-text,
        & .qrCode,
        & .copy {
            cursor: pointer;
        }
        & .copy-disabled,
        & .qrCode-disabled,
        & .view-disabled{
            cursor: not-allowed;
        }
        & .qrCode:after,
        & .copy:after,
        & .copy-disabled:after,
        & .qrCode-disabled:after {
            position: absolute;
            height: 16px;
            top: 33px;
        }
        & .qrCode:after {
            content: url('../../../static/icons/qr-code.svg');
            width: 16px;
            right: 115px;
        }
        & .copy:after {
            content: url('../../../static/icons/copy-green.svg');
            width: 14px;
            right: 85px;
        }
        & .copy-disabled:after {
            content: url('../../../static/icons/copy-grey.svg');
            width: 14px;
            right: 85px;
        }
        & .qrCode-disabled:after {
            content: url('../../../static/icons/qr-code-grey.svg');
            width: 16px;
            right: 115px;
        }
        & .input-group-text {
            border: 1px solid #DEDEDE;
            border-left: 0;
            background-color: #EFEFEF;
            width: 45px;
            & img {
                margin-left: unset;
            }
        }
        & select {
            background-position: right 73px center;
        }

    }
    & .encadre {
        border: 1px solid rgba($color: #3F8CFF, $alpha: 0.10);
        border-radius: 4px;
        background-color: rgba($color: #3F8CFF, $alpha: 0.10);
        padding: 10px;
        & p {
            @include font-size(14px);
            @include line-height(16px);
            color: $black;
            & span {
                font-weight: 700;
            }
        }
    }
    & .send-block {
        border: unset;
        background-color: unset;
        & img {
            margin-left: unset;
        }
        & span {
            @include font-size(12px);
            @include line-height(24px);
            font-weight: 700;
            color: $black;

            &.disabled {
                color: #D8D8D8;
                cursor: not-allowed;
            }
        }
    }
    & .table-participants {
        @include overflow-table(367px);
        border: 1px solid $_border-color;
        & .data-list__row {
            min-height: 45px;
        }
        & .data-list__row:nth-child(odd) {
            background-color: $gray-300;
        }
        & .data-list__row:nth-child(even) {
            background-color: $white;
        }
    }
    & .wrapper-presence,
    & .wrapper-eval {
        & .form-group {
            & label {
                @include font-size($input-btn-font-size);
                width: unset;
                margin-right: 8px;
                margin-bottom: unset;
            }
        }
    }
    & .wrapper-presence {
        & .wrapper-presence__available,
        & .wrapper-presence__info {
            @include font-size(12px);
            @include line-height(13px);
            font-style: italic;
            font-weight: 700;
        }

        & .wrapper-presence__available {
            color: rgba($color: #000000, $alpha: 0.6);
        }

        & .wrapper-presence__info {
            color: $black;
            & a {
                color: unset;
                text-decoration: underline;
            }
        }
    }
    & .modal {
        & .modal-content {
            & .modal-body {
                background-color: #F7F7F7;
                padding-top: 64px;
                overflow-wrap: anywhere;
                & .session-content {
                    width: 100%;
                    max-width: 600px;
                    & .session-title {
                        & h2 {
                            @include font-size(20px);
                            @include line-height(22px);
                            color: #0A1629;
                            font-weight: 700;
                        }
                    }
                    & .session-form {
                        & .marks {
                            & legend {
                                @include font-size(14px);
                                @include line-height(16px);
                                color: $black;
                                font-weight: normal;
                                & sup {
                                    color: $red;
                                }
                            }
                        }
                        & .fieldset-tertiary {
                            background-color:  $white;
                            border: $border-width solid $_border-color;
                        }
                    }
                }

                & .sub-qr-code-url {
                    font-size: x-small;
                }
            }
            & .modal-footer {
                & .btn.close {
                    background-color: #B7B7B7;
                }
            }
        }
    }
    & #formEvalSynthModal {
        & .session-form {
            & .form__checklist {
                color: $black;
                & span:not(.percent) {
                    min-width: 105px;
                    @include font-size(14px);
                }
                & span.yes {
                    min-width: 30px;
                }
                & span.percent {
                    @include font-size(8px);
                    @include line-height(9px);
                    font-weight: 700;
                }
            }
        }
        & .btn.download-data {
            color: $black;
        }
    }
}

/** STYLE TAB ATTESTATION **/
#nav-attestation {
    & .vue-tags-input {
        width: 100%;
    }
    & .vue-tags-input + img {
        margin-left: 10px;
    }
}

/** STYLE TAB SERVICES **/
#nav-services {
    & .form__fieldset {
        height: 100%;
    }
    & .encadre {
        border: 1px solid rgba(63,140,255,0.1);
        border-radius: 4px;
        background-color: rgba(63,140,255,0.1);
        padding: 10px;
        @include font-size(14px);
        @include line-height(19px);
    }
    & .table-services {
        @include font-size(18px);
        @include line-height(16px);
        font-weight: bold;
        color: $black;
    }
    & .row__data {
        & p {
            @include font-size(12px);
            @include line-height(15px);
            padding: 14px 0;
        }
    }
}

/** STYLE TAB ACTIVITY LOG **/
#nav-activity-log {
    & .activity-log__list-title {
        padding-top: unset;
        padding-bottom: unset;
        padding-right: unset;
        font-weight: 700;
    }
    & .activity-log__list-content {
        color: $black;
    }
}
