<template>
  <div class="session-recap-blocks__container mb-30">
    <h3 class="mb-30">
      {{ $translator.trans('Animator.s') }}
    </h3>
    <div
      v-if="animators.length > 0"
      class="table-scroll-container"
    >
      <table class="table table-striped table-hover mb-5">
        <thead>
          <tr>
            <th data-field="fullname">
              {{ $translator.trans('Last name') }} {{ $translator.trans('First name') }}
            </th>
            <th data-field="email">
              {{ $translator.trans('Email') }}
            </th>
            <th
              v-if="parseInt(sessionToSaved.category) === categoryMixte"
              data-field="situation"
            >
              {{ $translator.trans('Blended training') }}
            </th>
          </tr>
        </thead>
        <tbody>
          <participant-resume-line
            v-for="animator in animators"
            :key="animator.user_id"
            :user-id="animator.user_id"
          />
        </tbody>
      </table>
    </div>
    <div v-else>
      <alert
        type="warning"
        :text="$translator.trans('No animator')"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters }        from 'vuex'
import Alert                 from '../../../ui/Alert'
import ParticipantResumeLine from './ParticipantResumeLine'
import {
  CATEGORY_SESSION_PRESENTIAL,
  CATEGORY_SESSION_MIXTE
} from '../../../../store/module/session'

export default {
  name: 'AnimatorResume',
  components: { ParticipantResumeLine, Alert },
  data () {
    return {
      categoryPresential: CATEGORY_SESSION_PRESENTIAL,
      categoryMixte: CATEGORY_SESSION_MIXTE
    }
  },
  computed: {
    ...mapGetters('sessionWizard', ['sessionToSaved', 'animators'])
  }
}
</script>

<style scoped>
  .table-scroll-container {
    max-height: 300px;
    overflow-y: auto;
  }
</style>
