<template>
  <div class="session-recap-blocks__container mb-30">
    <h3 class="mb-30">
      {{ $translator.trans('Audio') }}
    </h3>
    <resume-item
      :name="$translator.trans('Connection Type')"
      :value="connectionTypeLabel"
    />
    <resume-item
      v-if="clientData.provider.type === 'adobe-connect'"
      :name="$translator.trans('Audio Provider')"
      :value="audioProviderLabel"
    />
  </div>
</template>

<script>
import ResumeItem from './ResumeItem'
import { mapState } from 'vuex'
export default {
  name: 'AudioResume',
  components: { ResumeItem },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'clientData']),
    convocation () {
      if (this.sessionToSaved.convocation in this.clientData.convocationsListClient) {
        return this.clientData.convocationsListClient[this.sessionToSaved.convocation]
      }
      return null
    },
    connectionTypeLabel () {
      if (this.audioCategoryType === null) {
        return ''
      }

      const typesConnexion = {
        Computer:this.$translator.trans('Computer'),
        Telephone:this.$translator.trans('Telephone'),
        Hybrid:this.$translator.trans('Hybrid')
      }

      if (!(this.sessionToSaved.audioCategoryType in typesConnexion)) {
        return ''
      }

      return typesConnexion[this.sessionToSaved.audioCategoryType]
    },
    audioProviderLabel () {
      if (this.convocation === null) {
        return ''
      }

      if (this.convocation.audioType === null) {
        return 'AUDIO INTERCALL'
      }

      const audios = {
        InterCall:'AUDIO INTERCALL',
        'PGi NA':'AUDIO PGI',
        'PGi NA':'AUDIO PGI',
        'AUDIO CALLIN':'AUDIO CALLIN',
        'MEETINGONE EMEA':'AUDIO MEETINGONE EMEA',
        'MeetingOne NA':'AUDIO MEETINGONE NA',
        'AUDIO VOIP':'AUDIO VOIP'
      }

      return audios[this.convocation.audioType]
    }
  }
}
</script>

<style scoped>

</style>
