<template>
  <div class="session-recap-blocks__container mb-30">
    <h3 class="mb-30">
      {{ $translator.trans('Convocation') }}
    </h3>
    <resume-item
      :name="$translator.trans('Convocation template')"
      :value="convocationName"
    />
    <resume-item
      :name="$translator.trans('Date and hour of sending convocations')"
      :value="convocationDate"
    />
    <resume-item
      :name="$translator.trans('Date and hour of sending reminder')"
      :value="remindersDate"
    />
  </div>
</template>

<script>
import ResumeItem from './ResumeItem'
import { mapState } from 'vuex'
import { DateTime } from 'luxon'
export default {
  name: 'ConvocationResume',
  components: { ResumeItem },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'clientData']),
    convocationName () {
      if (this.sessionToSaved.convocation in this.clientData.convocationsListClient) {
        return this.clientData.convocationsListClient[this.sessionToSaved.convocation].name
      }
      return ''
    },
    convocationDate () {
      if (this.sessionToSaved.notificationDate !== null && this.sessionToSaved.notificationDate.length > 0) {
        return DateTime.fromISO(this.sessionToSaved.notificationDate).toLocaleString(DateTime.DATETIME_MED)
      }
      return ''
    },
    remindersDate () {
      const reminders = []
      if (this.sessionToSaved.dateOfSendingReminders.length > 0) {
        const orderedReminders = this.sessionToSaved.dateOfSendingReminders.map(x => x).sort((a, b) => a >= b)
        for (const index in orderedReminders) {
          reminders.push(DateTime.fromISO(orderedReminders[index]).toLocaleString(DateTime.DATETIME_MED))
        }
      }
      return reminders.join(', ')
    }
  }
}
</script>
