<template>
  <div class="session-content d-flex flex-column align-items-center">
    <div class="session-title text-center">
      <h2>{{ $translator.trans('Validate the session') }}</h2>
    </div>
    <div class="session-desc mb-60 text-center">
      <p
        v-if="!isWebinarCategory"
        class="text-center"
      >
        {{ $translator.trans('Check here all the information about your session before validating or editing it.') }}
      </p>
      <p
        v-else
        class="text-center"
      >
        {{ $translator.trans('Check here all the information about your session (because it will not be validated right away, but once the communication scheme is defined)') }}
      </p>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { CATEGORY_SESSION_WEBINAR } from '../../../../store/module/session'

export default {
  name: 'CreateSessionWizardValidateHeader',
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved']),
    isWebinarCategory () {
      return this.sessionToSaved.category === CATEGORY_SESSION_WEBINAR
    }
  }
}
</script>

<style scoped>

</style>
