<template>
  <div class="session-recap-blocks">
    <div class="row">
      <div class="col-lg-6">
        <general-resume
          :list-new-timezones="listNewTimezones"
          :user="user"
        />
        <audio-resume />
        <convocation-resume v-if="!isWebinarCategory" />
        <evaluation-resume />
      </div>
      <div class="col-lg-6">
        <room-resume-white-connector v-if="showRoomResumeWhiteConnector" />
        <room-resume v-if="showRomResume" />
        <self-registration-resume />
        <animator-resume />
        <participant-resume />
        <group-participant-resume />
      </div>
      <div class="session-actions-buttons d-flex flex-column align-items-end mb-30 w-100">
        <div class="col">
          <alert
            v-if="errorMessage"
            type="danger"
            :text="errorMessage"
          />
        </div>
        <div
          v-if="!validResume && sessionToSaved.category !== CATEGORY_SESSION_PRESENTIAL"
        >
          <div class="alert alert-info">
            {{ $translator.trans('Validation of the session is only possible if the URL of the virtual room is entered. Otherwise, only saving your session in draft mode is possible.') }}
          </div>
        </div>
        <div class="session-actions-buttons__main d-flex align-items-center mb-20">
          <a
            href="#"
            class="btn btn-light me-3"
            role="button"
            @click="editSession"
          >{{ $translator.trans('Edit') }}</a>
          <submit-button
            class="primary-btn"
            :processing="submitting"
            :disabled="!validResume"
            @click="validateSession(false)"
          >
            <img
              src="/build/static/icons/check-white.svg"
              class="me-2"
            >
            {{ $translator.trans('Validate the session') }}
          </submit-button>
        </div>
        <div class="session-actions-buttons__save d-flex align-items-center mb-20">
          <a
            href="#"
            class="d-flex align-items-center"
            :processing="submitting"
            @click="validateSession(true)"
          >
            <img
              src="/build/static/icons/save.svg"
              alt="picto save"
              width="20"
              class="me-2"
            >
            {{ $translator.trans('Save as draft') }}
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState }           from 'vuex'
import axios                  from 'axios'
import SubmitButton           from '../../../ui/SubmitButton'
import GeneralResume          from './GeneralResume'
import SelfRegistrationResume from './SelfRegistrationResume'
import AudioResume            from './AudioResume'
import ConvocationResume      from './ConvocationResume'
import EvaluationResume       from './EvaluationResume'
import RoomResume             from './RoomResume'
import AnimatorResume         from './AnimatorResume'
import ParticipantResume      from './ParticipantResume'
import Alert                  from '../../../ui/Alert'
import { CATEGORY_SESSION_PRESENTIAL, CATEGORY_SESSION_WEBINAR } from '../../../../store/module/session'
import RoomResumeWhiteConnector from './RoomResumeWhiteConnector'
import { PROVIDER_WHITE_CONNECTOR } from '../../../../utils/white-configuration-holder.utils'
import GroupParticipantResume from './GroupParticipantResume.vue'

export default {
  name: 'CreateSessionWizardValidateResume',
  components: {
    RoomResumeWhiteConnector,
    SelfRegistrationResume,
    SubmitButton,
    Alert,
    ParticipantResume,
    GroupParticipantResume,
    AnimatorResume,
    RoomResume,
    ConvocationResume,
    EvaluationResume,
    AudioResume,
    GeneralResume
  },
  props: {
    listNewTimezones: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      errorMessage: null,
      submitting: false,
      CATEGORY_SESSION_PRESENTIAL: CATEGORY_SESSION_PRESENTIAL
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'stepWizard', 'clientData', 'user']),
    isWebinarCategory () {
      return this.sessionToSaved.category === CATEGORY_SESSION_WEBINAR
    },
    showRomResume () {
      return this.clientData.provider.type === 'adobe-connect' && !this.isWebinarCategory
    },
    showRoomResumeWhiteConnector () {
      return this.clientData.provider.type === PROVIDER_WHITE_CONNECTOR
    },
    validResume () {
      if (this.clientData.provider.type === PROVIDER_WHITE_CONNECTOR) {
        if (this.sessionToSaved.category !== CATEGORY_SESSION_PRESENTIAL) {
          if (typeof (this.sessionToSaved.joinSessionWebUrl) === 'undefined' || this.sessionToSaved.joinSessionWebUrl == null || this.sessionToSaved.joinSessionWebUrl === '') {
            return false
          }
        }
      }
      return true
    }
  },
  methods: {
    editSession () {
      this.stepWizard.current = 'createSession'
      this.stepWizard.previous = 'selectDate'
      this.stepWizard.bullet = {
        selectDate: true,
        createSession: true,
        selectParticipants: false,
        validSession: false
      }
    },
    validateSession (draft) {
      this.submitting = true
      return axios.post(
        this.$routing.generate('_session_save', { draft: draft }),
        this.sessionToSaved,
        { headers: { 'Content-Type': 'application/x-www-form-urlencoded' } }
      ).then((response) => {
        if ('data' in response &&
          'code' in response.data &&
          response.data.code === 200 &&
          'message' in response.data
        ) {
          if ('success' in response.data.message) {
            this.sessionToSaved.id = response.data.message.sessionId
            // this.sessionToSaved.providerAudio = response.data.message.
            this.stepWizard.current = 'success'
            this.stepWizard.previous = null
            this.stepWizard.bullet = {
              selectDate: false,
              createSession: false,
              selectParticipants: false,
              validSession: false
            }

            if (!response.data.message.success) {
              this.stepWizard.warnings = response.data.message.warnings
            }
          } else if ('message' in response.data.message) {
            this.errorMessage = this.$translator.trans(response.data.message.message)
          } else {
            this.errorMessage = this.$translator.trans('An unknown error occurred while creating the session.')
          }
        }
      }).catch((error) => {
        if (Object.hasOwnProperty.call(error.response.data, 'message') && Object.hasOwnProperty.call(error.response.data.message, 'text')) {
          this.errorMessage = this.$translator.trans(error.response.data.message.text)

          let fieldsMessage = ''
          if (Object.hasOwnProperty.call(error.response.data.message, 'data') && typeof error.response.data.message === 'object') {
            for (const [key, value] of Object.entries(error.response.data.message.data)) {
              fieldsMessage += `${key}: ${this.$translator.trans(value)}\n`
            }

            this.errorMessage = this.errorMessage + ' ' + fieldsMessage
          }
        } else {
          this.errorMessage = this.$translator.trans('An unknown error occurred while creating the session.')
        }
      })
        .finally(() => {
          this.submitting = false
        })
    }
  }
}
</script>
