<template>
  <div class="session-recap-blocks__container mb-30">
    <h3 class="mb-30">
      {{ $translator.trans('Evaluation') }}
    </h3>
    <resume-item
      :name="$translator.trans('Evaluation form')"
      :value="EvaluationFormName"
    />
  </div>
</template>

<script>
import ResumeItem from './ResumeItem'
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'EvaluationResume',
  components: { ResumeItem },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'clientData']),
    ...mapGetters({ evaluationsForms: 'sessionWizard/evaluationsForms' }),
    EvaluationFormName () {
      let evaluationResume = ''
      if (this.sessionToSaved.evaluations[0] !== undefined) {
        this.evaluationsForms.forEach((value, index) => {
          if (value.id === this.sessionToSaved.evaluations[0]) {
            evaluationResume = value.title
          }
        })
      }
      return evaluationResume
    }
  }
}
</script>

<style scoped>

</style>
