<template>
  <div class="session-recap-blocks__container mb-30">
    <h3 class="mb-30">
      {{ $translator.trans('General') }}
    </h3>
    <resume-item
      :name="$translator.trans('Name')"
      :value="chooseNameSession"
    />
    <resume-item
      :name="$translator.trans('Reference')"
      :value="sessionToSaved.reference"
    />
    <resume-item
      :name="$translator.trans('Category')"
      :value="category"
    />
    <resume-item
      :name="$translator.trans('Date')"
      :value="dateStart"
      :timezone="clientData.timezone"
      :list-new-timezones="listNewTimezones"
      :add-timezones="sessionToSaved.additionalTimezones.length"
    />
    <div class="session-recap-blocks__container__encadre">
      <div v-if="sessionToSaved.additionalTimezones.length !== 0">
        <div class="row d-flex align-items-center">
          <div class="col-lg-3" />
          <div class="col-lg-9 d-flex">
            <span> + {{ sessionToSaved.additionalTimezones.length }} {{ $translator.trans('timezone.s') }} </span>
          </div>
        </div>
      </div>

      <SessionAdditionalsTimezones
        v-for="(timezone, index) in sessionToSaved.additionalTimezones"
        :key="index"
        :timezone="timezone"
        :user="user"
        :list-new-timezones="listNewTimezones"
        :date-start="sessionToSaved.dateStart"
      />
    </div>
    <div class="session-recap-blocks__container__encadre">
      <resume-item
        :name="$translator.trans('Duration')"
        :value="sessionToSaved.duration"
      />
    </div>
    <resume-item
      :name="$translator.trans('Session language')"
      :value="language"
    />
    <resume-item
      :name="$translator.trans('Connector')"
      :value="connectorName"
    />
    <resume-item
      :name="$translator.trans('Business Number')"
      :value="sessionToSaved.businessNumber"
    />
    <resume-item
      :name="$translator.trans('Tags')"
      :value="tags"
    />
    <resume-item
      :name="$translator.trans('information')"
      :value="sessionToSaved.information"
    />
    <div
      v-if="clientData.provider.automaticLicensing"
      class="col"
    >
      <alert
        type="info"
        :text="$translator.trans('This account has an automatic allocation of organizer licenses. You do not have the possibility to choose the organizer license yourself')"
      />
    </div>
  </div>
</template>

<script>
import Alert from '../../../ui/Alert'
import ResumeItem from './ResumeItem'
import { mapState } from 'vuex'
import { DateTime } from 'luxon'
import { getDetailsFromSubject } from '../../../../utils/selfSubscrption.utils'
import SessionAdditionalsTimezones from './SessionAdditionalsTimezones'

export default {
  name: 'GeneralResume',
  components: { ResumeItem, Alert, SessionAdditionalsTimezones },
  props: {
    listNewTimezones: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    user: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      subscriptionMaxValue: null,
      alertLimitValue: null
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'clientData']),
    dateStart () {
      return DateTime.fromISO(this.sessionToSaved.dateStart).toLocaleString(DateTime.DATETIME_MED)
    },
    language () {
      const lang = {
        fr: 'French',
        en: 'English'
      }
      return this.$translator.trans(lang[this.sessionToSaved.lang])
    },
    tags () {
      return this.sessionToSaved.tags.join(', ')
    },
    category () {
      const category = {
        1: 'Virtual Classroom',
        2: 'Meeting',
        3: 'Test',
        4: 'Face-to-face',
        7: 'Webinar'
      }
      if (this.sessionToSaved.sessionTest) {
        return this.$translator.trans('Virtual classroom') + ' - ' + this.$translator.trans('Test')
      } else {
        return this.$translator.trans(category[this.sessionToSaved.category])
      }
    },
    chooseNameSession () {
      if (this.sessionToSaved.subject !== null) {
        return getDetailsFromSubject(this.clientData, this.sessionToSaved.subject).subjectName
      } else {
        return this.sessionToSaved.title
      }
    },
    connectorName () {
      let connectorName = null
      this.clientData.connectors.forEach((element) => {
        if (element.id === this.sessionToSaved.configurationHolder) {
          connectorName = element.name
        }
      })
      return connectorName
    }
  }
}
</script>

<style scoped>

</style>
