<template>
  <div class="session-recap-blocks__container mb-30">
    <h3 class="mb-30">
      {{ $translator.trans('Group.s') }}
    </h3>
    <div
      v-if="allGroups.length > 0"
      class="table-scroll-container"
    >
      <table class="table table-striped table-hover mb-5">
        <thead>
          <tr>
            <th data-field="name">
              {{ $translator.trans( 'Name' ) }}
            </th>
            <th data-field="number">
              {{ $translator.trans( 'Number of participants' ) }}
            </th>
            <th />
          </tr>
        </thead>
        <tbody>
          <group-participant-resume-line
            v-for="group in allGroups"
            :key="group.group_id"
            :group-participant="group"
          />
        </tbody>
      </table>
    </div>
    <div v-else>
      <alert
        type="warning"
        :text="$translator.trans('No groups')"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters }        from 'vuex'
import Alert                 from '../../../ui/Alert'
import GroupParticipantResumeLine from './GroupParticipantResumeLine'
import {
  CATEGORY_SESSION_PRESENTIAL,
  CATEGORY_SESSION_MIXTE
} from '../../../../store/module/session'

export default {
  name: 'GroupParticipantResume',
  components: { GroupParticipantResumeLine, Alert },
  data () {
    return {
      categoryPresential: CATEGORY_SESSION_PRESENTIAL,
      categoryMixte: CATEGORY_SESSION_MIXTE
    }
  },
  computed: {
    ...mapGetters('sessionWizard', ['sessionToSaved', 'allGroups'])
  }
}
</script>

<style scoped>
  .table-scroll-container {
    max-height: 300px;
    overflow-y: auto;
  }
</style>
