<template>
  <tr>
    <td>{{ groupParticipant.name }}</td>
    <td>
      {{ groupParticipant.numberUsers }}
    </td>
    <td>
      <a
        :href="$routing.generate('_group_edit', {id: groupParticipant.group_id})"
        target="_blank"
      >
        <img src="/build/static/icons/open-target.svg">
      </a>
    </td>
  </tr>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'GroupParticipantResumeLine',
  props: {
    groupParticipant: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      situationMixte: {
        1: 'remotely',
        2: 'face-to-face'
      }
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved'])
  }
}
</script>
