<template>
  <tr>
    <td>{{ user.lastName }} {{ user.firstName }}</td>
    <td>
      <span
        v-if="isAWebexLicence() || isAWebexRestLicence()"
        class="badge bg-primary p-1"
      >{{ $translator.trans('Licence') }}<br></span>
      {{ user.email }}
    </td>
    <td v-if="parseInt(sessionToSaved.category) === 6">
      {{ $translator.trans(situationMixte[participant.situationMixte]) }}
    </td>
  </tr>
</template>

<script>
import { mapState } from 'vuex'
import _ from 'lodash'

export default {
  name: 'ParticipantResumeLine',
  props: {
    userId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      situationMixte: {
        1: 'remotely',
        2: 'face-to-face'
      }
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'users']),
    user () {
      return this.users[this.userId]
    },
    participant () {
      return _.find(this.sessionToSaved.participants, { user_id: this.userId })
    }
  },
  methods: {
    isAWebexLicence () {
      return this.sessionToSaved.licence === this.user.email
    },
    isAWebexRestLicence () {
      return this.sessionToSaved.licence === this.user.email
    }
  }
}
</script>
