<template>
  <div
    :style="{'border-bottom': timezone !== null ? 'none !important' : ''}"
    class="session-recap-blocks__container__encadre"
  >
    <div class="row d-flex align-items-center">
      <div class="col-lg-3">
        <label>{{ name }}</label>
      </div>
      <div
        :class="name === 'Date' ? 'col-lg-9 d-flex' : 'col-lg-9'"
      >
        <span v-if="value !== null && value.length > 0">{{ value }}</span>
        <span v-else>N/A</span>
        <div
          v-if="name === 'Date'"
          style="padding-left:20px; width: 20rem;"
        >
          <span
            v-if="timezone !== null"
          >
            {{ translateTimeZone(timezone) }} ({{ calculateTimeDifference(timezone) }})
          </span><br>
          <!--          <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('Heure normale de l\'Atlantique')"
          >-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  calculateTimeDifference
}
  from '../../../../utils/session-additionals-timezones-selector.utils'

export default {
  name: 'ResumeItem',
  props: {
    name: {
      type: String,
      required: true
    },
    value: {
      type: String,
      required: false,
      default: ''
    },
    timezone: {
      type: String,
      required: false,
      default: null
    },
    addTimezones: {
      type: Number,
      required: false,
      default: 0
    },
    listNewTimezones: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  methods: {
    calculateTimeDifference (timezone) {
      return calculateTimeDifference(timezone)
    },
    translateTimeZone (timeZone) {
      if (typeof this.listNewTimezones[timeZone] === 'undefined') {
        return timeZone
      }
      return this.listNewTimezones[timeZone]
    }
  }
}
</script>
