<template>
  <div class="session-recap-blocks__container mb-30">
    <h3 class="mb-30">
      {{ $translator.trans('Room') }}
    </h3>
    <resume-item
      :name="$translator.trans('Admitted to the meeting')"
      :value="admittedLabel"
    />
    <resume-item
      :name="$translator.trans('Room template')"
      :value="roomModelName"
    />
    <resume-item
      :name="$translator.trans('Customised URL')"
      :value="sessionToSaved.url"
    />
  </div>
</template>

<script>
import ResumeItem from './ResumeItem'
import { mapState } from 'vuex'
export default {
  name: 'RoomResume',
  components: { ResumeItem },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'clientData']),
    roomModelName () {
      /* if (
        this.sessionToSaved.defaultModelId !== null &&
          this.sessionToSaved.defaultModelId !== '' &&
          this.sessionToSaved.defaultModelId in this.clientData.provider.roomModels
      ) {
        return this.clientData.provider.roomModels[this.sessionToSaved.defaultModelId].name
      } */
      if (
        this.sessionToSaved.defaultModelId !== null &&
          this.sessionToSaved.defaultModelId !== ''
      ) {
        const roomModel = this.clientData.provider.allRoomModels.find(
          (model) => model.uniq_identifier === this.sessionToSaved.defaultModelId
        )
        return roomModel ? roomModel.name : ''
      }

      return ''
    },
    admittedLabel () {
      if (this.sessionToSaved.accessType === 'denied') {
        return this.$translator.trans('Participants only')
      } else if (this.sessionToSaved.accessType === 'remove') {
        return this.$translator.trans('Participants and visitors authorized by a host')
      } else {
        return this.$translator.trans('Everyone\'s')
      }
    }
  }
}
</script>

<style scoped>

</style>
