<template>
  <div class="session-recap-blocks__container mb-30">
    <h3 class="mb-30">
      {{ $translator.trans('Room') }}
    </h3>

    <resume-item
      :name="$translator.trans('Url virtual room')"
      :value="roomUrl"
    />
    <!--    <resume-item
      :name="$translator.trans('Connection informations for the animator')"
      :value="connectionInformation"
    />-->
  </div>
</template>

<script>
import ResumeItem from './ResumeItem'
import { mapState } from 'vuex'
export default {
  name: 'RoomResumeWhiteConnector',
  components: { ResumeItem },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'clientData']),
    roomUrl () {
      if (
        this.sessionToSaved.joinSessionWebUrl !== null &&
          this.sessionToSaved.joinSessionWebUrl !== ''
      ) {
        return this.sessionToSaved.joinSessionWebUrl
      }
      return ''
    },
    connectionInformation () {
      if (
        this.sessionToSaved.connectionInformation !== null &&
          this.sessionToSaved.connectionInformation !== ''
      ) {
        return this.sessionToSaved.connectionInformation
      }
      return ''
    }
  }
}
</script>

<style scoped>

</style>
