<template>
  <div class="session-recap-blocks__container mb-30">
    <h3 class="mb-30">
      {{ $translator.trans('Registration') }}
    </h3>
    <hr>
    <div v-if="sessionToSaved.subject !== null">
      <h5 class="mb-4">
        {{ $translator.trans('Catalog') }}
      </h5>
      <resume-item
        :name="$translator.trans('Module')"
        :value="detailsSubject.moduleName"
      />
      <resume-item
        :name="$translator.trans('Theme')"
        :value="detailsSubject.themeName"
      />
      <resume-item
        :name="$translator.trans('Subject')"
        :value="detailsSubject.subjectName"
      />
      <resume-item
        :name="$translator.trans('Max number')"
        :value="sessionToSaved.subscriptionMax.toString()"
      />
      <resume-item
        :name="$translator.trans('Limit of alert')"
        :value="sessionToSaved.alertLimit.toString()"
      />
    </div>
    <div v-if="sessionToSaved.registrationPageTemplate !== null">
      <h5 class="mb-4">
        {{ $translator.trans('Registration page') }}
      </h5>
      <resume-item
        :name="$translator.trans('Template name')"
        :value="humanizeTemplate"
      />
    </div>
  </div>
</template>

<script>
import ResumeItem from './ResumeItem'
import { mapState, mapGetters } from 'vuex'
import { getDetailsFromSubject } from '../../../../utils/selfSubscrption.utils'

export default {
  name: 'SelfRegistrationResume',
  components: { ResumeItem },
  data () {
    return {
      subscriptionMaxValue: null,
      alertLimitValue: null
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'clientData']),
    ...mapGetters('sessionWizard', ['activeTemplates']),
    detailsSubject () {
      if (this.sessionToSaved.subject) {
        return getDetailsFromSubject(this.clientData, this.sessionToSaved.subject)
      }
      return ''
    },
    humanizeTemplate () {
      const template = this.activeTemplates.find((template) => template.id === this.sessionToSaved.registrationPageTemplate)
      if (template) {
        return template.name
      }
      return this.sessionToSaved.registrationPageTemplate
    }
  }
}
</script>

<style scoped>

</style>
