<template>
  <div>
    <div class="row d-flex align-items-center">
      <div
        v-if="!large"
        class="col-lg-3"
      />
      <div
        :class="['d-flex', {
          'col-lg-12': large,
          'col-lg-9': !large
        }]"
      >
        <span :class="{'small-text mr-auto': large}">{{ translateTimeZone(timezone) }} ({{ calculateTimeDifference(timezone) }}) :  {{
          adjustDateForTimezone(dateStart, timezone,user.preferredLang)
        }} </span>
      </div>
    </div>
  </div>
</template>

<script>
import {
  calculateTimeDifference,
  adjustDateForTimezone
}
  from '../../../../utils/session-additionals-timezones-selector.utils'

export default {
  name: 'SessionAdditionalsTimezones',
  props: {
    timezone: {
      type: String,
      required: true,
      default: ''
    },
    dateStart: {
      type: String,
      required: true
    },
    listNewTimezones: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    user: {
      type: Object,
      required: true
    },
    large: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  methods: {
    calculateTimeDifference (timezone) {
      return calculateTimeDifference(timezone)
    },
    adjustDateForTimezone (datetime, timezone, language) {
      return adjustDateForTimezone(datetime, timezone, language)
    },
    translateTimeZone (timeZone) {
      if (typeof this.listNewTimezones[timeZone] === 'undefined') {
        return timeZone
      }
      return this.listNewTimezones[timeZone]
    }
  }
}
</script>

<style>
.small-text {
  font-size: .7rem !important;
}
</style>
