<footer class="d-flex justify-content-center align-items-center flex-column row mx-4 mb-1">
	<div class="col text-center">
		<a target="_blank" href="https://live-session.fr/nos-produits-formations/mylivesession-manager/">
			<img class="logo m-3" src="{{ asset('/build/static/logo_mls.svg') }}" alt="Logo Mylivesession Manager" height="50">
		</a>
		<button class="btn d-lg-none" id="toogleFooter">
			<img src="{{ asset('/build/static/icons/up-arrow.svg') }}" alt="Logo Mylivesession Manager" height="24">
		</button>
	</div>
	<div id="toogleItems" class="d-none d-lg-block">
		<div class="links text-center col">
			<span>&copy; Live Session</span><span class="mx-2">|</span>
			<a href="mailto:contact@live-session.fr">contact@live-session.fr</a><span class="mx-2">|</span>
			<a href="tel:+33970407907">+33 970 407 907</a>
		</div>
		<div class="links text-center col mt-1">
			<a href="https://live-session.fr/Confidentialite/" target="_blank">{{ 'Privacy'|trans() }}</a><span class="mx-2">|</span>
			<a href="https://live-session.fr/mentions-legales/" target="_blank">{{ 'Legal notices'|trans() }}</a>
		</div>
	</div>
</footer>

<script>
	const toogle = document.getElementById('toogleFooter')
	toogle.addEventListener('click', () => {
		const toogleItems = document.getElementById('toogleItems')
		toogleItems.classList.toggle('d-none')
		document.getElementById('toogleFooter').style.transform = toogleItems.classList.contains('d-none') ? 'rotate(0deg)' : 'rotate(180deg)'

	})
</script>
