{% if module.showClientLogo or module.showClientContactDetails %}
    <nav class="navbar bg-light p-0">
        <div
                class="container-fluid justify-content-between flex-column flex-md-row p-2 p-sm-0"
                style="padding-left: 20px !important; padding-right: 20px !important;"
        >
            {% if module.showClientLogo %}
                <img
                    class="img-fluid py-2"
                    src="{{ asset('uploads/client_logo/' ~ module.client.logo) }}"
                    alt="Logo {{ module.client.name }}"
                    height="40"
                >
            {% endif %}
            <div class="" style="width: 50px;"></div>
            {% if module.dedicatedSupportClient.isActive and module.showClientContactDetails %}
                <div class="d-flex align-items-center justify-content-center flex-column flex-md-row mt-2 mt-sm-0" style="height: 40px">
                    <span class="d-inline-flex justify-content-start align-items-center me-sm-4">
                        <i class="icon icon-header-phone me-2 text-primary"></i>
                        <small>
                            <a href="tel:{{ module.dedicatedSupportClient.phoneSupport }}" class="link-dark">{{ module.dedicatedSupportClient.phoneSupport }}</a>
                        </small>
                    </span>
                        <span class="d-inline-flex justify-content-start align-items-center">
                        <i class="icon icon-header-mail me-2 text-primary"></i>
                        <small> <a href="mailto:{{ module.dedicatedSupportClient.mailSupport }}"
                                   class="link-dark">{{ module.dedicatedSupportClient.mailSupport }}</a></small>
                    </span>
                </div>
            {% endif %}
        </div>
    </nav>
{% endif %}