<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ asset('build/static/self-subscription-hub/icons/dist/ss.css') }}">
		{{ encore_entry_link_tags('base-self-subscription-hub') }}

		{% block stylesheet %}
			<style>
				.icon:before { color: {{ module.mainColor}}; }
				.icon-disabled:before { color: #cccccc; }
				.icon-danger:before { color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important}
				.bg-module-main > .icon:before { color: white; }
				.btn-module-main > .icon:before { color: white; }
				.self-subscription-hub .days-wrapper .day-card > .action.btn > .icon:before { color: #ffffff; }

				.datetime-picker-primary .vdatetime-popup__body .vdatetime-calendar__month {
					height: 317px;
				}

				.datetime-picker-primary .vdatetime-popup__header {
					text-align: center;
				}

				.datetime-picker-primary .vdatetime-popup__header,
				.datetime-picker-primary .vdatetime-calendar__month__day--selected > span > span,
				.datetime-picker-primary .vdatetime-calendar__month__day--selected:hover > span > span {
					background: {{ module.mainColor}};
				}

				.datetime-picker-primary .vdatetime-year-picker__item--selected,
				.datetime-picker-primary .vdatetime-time-picker__item--selected,
				.datetime-picker-primary .vdatetime-popup__actions__button {
					color: {{ module.mainColor}};
				}

				.form-control:focus {
					border-color: {{ module.mainColor }};
					box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 0 0.25rem rgba({{ module.mainColor|hexToRgb }}, 0.25);
				}

				a { color: {{ module.secondaryColor }}; }
				a:hover { color: {{ module.mainColor }}; }
				.alert-danger a { color: white; }
				.module-main-color { color: {{ module.mainColor }}; }
				.module-secondary-color { color: {{ module.secondaryColor }}; }

				.btn-check:checked + .btn.btn-nav.active, .btn-check:active + .btn.btn-nav.active, .btn.btn-nav.active:active, .btn.btn-nav.active.active, .btn.btn-nav.active.dropdown-toggle.show {
					color: {{ module.mainColor }};
					background-color: transparent;
					border-color: {{ module.mainColor }};
				}

				.background-position-center { background-position: center !important; }
				.background-position-left { background-position: left !important; }
				.background-position-right { background-position: right !important; }

				.btn-navigation-module {
					cursor: pointer;
					position: relative;
					margin-bottom: .5rem;
				}
				.btn-navigation-module span {
					font-weight: bolder;
				}
				.btn-navigation-module::before {
					content: '';
					position: absolute;
					bottom: -4px;
					left: -5px;
					width: 0;
					height: 4px;
					background: {{ module.mainColor }};
					transition: 0.1s ease-in-out;
				}
				@media (max-width: 992px) {
					.btn-navigation-module::before {
						left: 0;
					}
					.btn-navigation-module:hover::before, .btn-navigation-module.active::before {
						width: 100% !important;
					}
				}
				.btn-navigation-module:hover::before, .btn-navigation-module.active::before {
					width: 110%;
				}

				.btn-module-main:disabled, .btn-module-main.disabled {
					color: #000;
					background-color: {{ module.mainColor }};
					border-color: {{ module.mainColor }};
					filter: brightness(0.95);
				}

				.self-subscription-hub main {
					background-image: url(
					{{ asset('build/static/self-subscription-hub/bg_shape.svg') }}),
					linear-gradient({{ module.mainColor }}, {{ module.secondaryColor }});
				}

				.bg-module-main { background-color: {{ module.mainColor }}; }
				.border-module-main { border: 1px solid {{ module.mainColor }}; }

				.outline-module-main {
					border: 1px solid {{ module.mainColor }};
					color: black;
				}

				.btn.btn-nav-module-main.active {
					border: 1px solid {{ module.mainColor }} !important;
					color: {{ module.mainColor }} !important;
					fill: {{ module.mainColor }} !important;
				}

				.btn.btn-module-main {
					background-color: {{ module.mainColor }};
					color: white;
					border: none;
				}

				.btn.btn-module-main:hover {
					opacity: .8;
					transform: scale(1.025);
					box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
				}

				.text-module-main { color: {{ module.mainColor }}; }
				.fill-module-main { fill: {{ module.mainColor }}; }
				.dropdown-toggle::after { color: {{ module.mainColor }}; }

				.self-subscription-hub .days-wrapper .day-card.active {
					border: 2px solid {{ module.mainColor }};
					box-shadow: inset 0 0 0.5rem {{ module.mainColor }};
				}

				.slick-dots {
				    position: initial !important;
				}
			</style>
		{% endblock %}
	</head>
	<body class="self-subscription-hub">
		<div class="container-fluid p-0">
			{% block body %}{% endblock %}
		</div>

		{{ encore_entry_script_tags('base-self-subscription-hub') }}
		{% block javascript %}{% endblock %}

		<script>
			const userPreferredTimezone = '{{ app.user.client.timezone|default(null) }}';
			const userPreferredLocale = '{{ app.user.preferredLang|default(null) }}';
		</script>
	</body>
</html>
