{% extends 'self-subscription/hub/base.html.twig' %}

{% block title %}
	{{ module.client.name }}
{% endblock %}

{% block stylesheet %}
	<style>
		:root {
			--header-banner: url({{ selfSubscriptionModuleLogoUri ~ module.banner }});
			--replay-banner: url({{ selfSubscriptionModuleLogoUri ~ module.personalization.replayBanner }});
			--sessions-banner: url({{ selfSubscriptionModuleLogoUri ~ module.personalization.sessionsBanner }});
			--training-banner: url({{ selfSubscriptionModuleLogoUri ~ module.personalization.trainingBanner }});
		}
	</style>
	{{ parent() }}
	{{ encore_entry_link_tags('ss-home') }}
{% endblock %}

{% block body %}
	<div id="module-user-hub">
		<module-user-hub
				:module="{{ module|serialize('json', {'groups': 'ui:module:hub'}) }}"
				:subjects="{{ subjects|serialize('json', {'groups': 'ui:subjects:hub'}) }}"
				csrf-token="{{ csrf_token('authenticate') }}"
				error="{{ error }}"
				:all-user-subscriptions="{{ allUserSubscriptions|serialize('json', {'groups': 'read_session'}) }}"
				page="{{ page }}"
				:user="{{ user|serialize('json', {'groups': 'ui:user:hub'}) }}"
				:embed="{{ isEmbed|default(false) is same as true ? 'true' : 'false' }}"
				:only-one-subject="{{ onlyOneSubject|serialize('json', {'groups': 'ui:subjects:hub'}) }}"
		></module-user-hub>
	</div>
	{% if not isEmbed|default(false) %}
		{{ include('self-subscription/hub/_footer.html.twig') }}
	{% endif %}
{% endblock %}

{% block javascript %}
	{{ encore_entry_script_tags('ss-home') }}
	<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
{% endblock %}
