{% extends 'self-subscription/hub/base.html.twig' %}

{% block title %}
    {{ module.client.name }}
{% endblock %}

{% block body %}
    {{ include('self-subscription/hub/_header.html.twig') }}
    <main class="row px-0 mx-0">
        <div class="col">
            <div class="container" id="self-subscription-login" style="max-width: 500px">
                <login
                        :module="{{ module|serialize('json', {'groups': 'ui:module:read'}) }}"
                        csrf-token="{{ csrf_token('authenticate') }}"
                        error="{{ error }}"
                        reset-request="{{ passwordRequest }}"
                        :resetting-password="{{ resettingPassword is same as true ? 'true' : 'false' }}"
                ></login>
            </div>
        </div>
    </main>
    {{ include('self-subscription/hub/_footer.html.twig') }}
{% endblock %}

{% block javascript %}
{{ encore_entry_script_tags('self-subscription-login') }}
{% endblock %}
