{% extends 'self-subscription/hub/base.html.twig' %}

{% block title %}
    {{ module.client.name }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    {{ encore_entry_link_tags('ss-home') }}
{% endblock %}

{% block body %}
    {{ include('self-subscription/hub/_header.html.twig') }}
    <main class="row px-0 mx-0">
        <div class="col">
            <div class="container" id="self-subscription-register" style="max-width: 500px">
                <register
                        :module="{{ module|serialize('json', {'groups': 'ui:module:read'}) }}"
                ></register>
            </div>
        </div>
    </main>
    {{ include('self-subscription/hub/_footer.html.twig') }}
{% endblock %}

{% block javascript %}
{{ encore_entry_script_tags('self-subscription-register') }}
{% endblock %}
