{% extends 'self-subscription/hub/base.html.twig' %}

{% block title %}
    {{ module.client.name }}
{% endblock %}

{% block body %}
    {{ include('self-subscription/hub/_header.html.twig') }}
    <main class="row px-0 mx-0">
        <div class="col">
            <div class="container" id="self-subscription-reset-password" style="max-width: 500px">
                <reset-password
                        :module="{{ module|serialize('json', {'groups': 'ui:module:read'}) }}"
                        csrf-token="{{ csrf_token('authenticate') }}"
                        reset-token="{{ resetToken }}"
                        :invalid-reset-token="{{ invalidResetToken is same as true ? 'true' : 'false' }}"
                        :have-manager-accounts="{{ haveManagerAccounts is same as true ? 'true' : 'false' }}"
                ></reset-password>
            </div>
        </div>
    </main>
    {{ include('self-subscription/hub/_footer.html.twig') }}
{% endblock %}

{% block javascript %}
{{ encore_entry_script_tags('self-subscription-reset-password') }}
{% endblock %}
