<template>
  <div class="btn-group export-dropdown">
    <div
      class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
      role="button"
      data-bs-auto-close="outside"
      data-bs-toggle="modal"
      data-bs-target="#categoryReplayModale"
    >
      <img src="/build/static/icons/plus.svg">
      <span class="d-sm-none d-md-block ms-2">{{ $translator.trans('Add a new category') }}</span>
    </div>
  </div>
</template>

<script>

export default {
  name: 'CategoryReplayAction'
}
</script>

<style scoped>

</style>
