<template>
  <div class="row mt-4">
    <alert
      v-if="error"
      :text="error"
      type="danger"
    />
    <alert
      v-if="successMessage"
      :text="successMessage"
      type="success"
    />
    <div class="table-content data-list data-list__row-small">
      <div class="data-list__header">
        <div class="data-list__header__item">
          {{ $translator.trans('Category') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Creation date') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Status') }}
        </div>
        <div class="data-list__header__item option" />
      </div>
      <template v-for="category in module.catalogsReplay">
        <div
          :key="category.id"
          class="data-list__row"
        >
          <div class="row__data">
            {{ category.categoryName }}
          </div>
          <div class="row__data">
            {{ category.createdAt|formatDate("datetime_med") }}
          </div>
          <div class="row__data">
            <span
              v-if="category.active"
              class="badge bg-primary"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('This category is active. It will be counted in statistics.')"
            >
              {{ humanizeStatus(category.active) }}
            </span>
            <span
              v-else
              class="badge"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('This category is inactive. It will not be counted in statistics.')"
            >
              {{ humanizeStatus(category.active) }}
            </span>
          </div>
          <div class="row__data option">
            <div class="drop-menu-container">
              <div class="icn-option">
                <img src="/build/static/icons/options-white.svg">
              </div>
              <ul
                class="dropdown-menu-inner"
                style="height: 98px"
              >
                <!--  26px par <li> + 20px de padding  -->
                <loader
                  v-if="processing"
                  class="d-flex align-items-center justify-content-center text-center mx-auto my-auto h-100"
                />
                <template v-else>
                  <li>
                    <a
                      class="dropdown-item"
                      role="button"
                      data-bs-auto-close="outside"
                      href="#"
                      data-bs-toggle="modal"
                      data-bs-target="#categoryReplayUpdateModale"
                      @click="updateCatalogToEdit(category)"
                    >
                      <img
                        src="/build/static/icons/edit-small-green.svg"
                        class="me-2"
                      >
                      <b>{{ $translator.trans('Edit') }}</b></a>
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      role="button"
                      @click="updateStatus(category)"
                    >
                      <img
                        src="/build/static/icons/small-ban-green.svg"
                        class="me-2"
                      >
                      <b v-if="category.active">{{ $translator.trans('Deactivate') }}</b>
                      <b v-else>{{ $translator.trans('Activate') }}</b>
                    </a>
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      role="button"
                      @click="deleteCategory(category)"
                    >
                      <img
                        src="/build/static/icons/trash-small.svg"
                        class="me-2"
                      >
                      <b>{{ $translator.trans('Delete') }}</b>
                    </a>
                  </li>
                </template>
              </ul>
            </div>
          </div>
          <category-replay-update-modale />
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import CategoryReplayUpdateModale from './CategoryReplayUpdateModale.vue'
import Loader from '../../../ui/Loader.vue'
import Alert from '../../../ui/Alert.vue'

export default {
  name: 'CategoryListItem',
  components: { Alert, Loader, CategoryReplayUpdateModale },
  props: {},
  data () {
    return {
      processing: false,
      error: null,
      successMessage: null
    }
  },
  computed: {
    ...mapState('module', ['module']),
    ...mapGetters({ videoPlatforms: 'module/videoPlatforms' })
  },
  methods: {
    humanizeStatus (status) {
      if (status === false) {
        return this.$translator.trans('Inactive')
      }
      if (status === true) {
        return this.$translator.trans('Active')
      }
    },
    updateCatalogToEdit (category) {
      this.$store.commit('module/updateCategoryToEdit', { category })
    },
    updateStatus (category) {
      this.processing = true
      this.$axios.post(this.$routing.generate('_update_status_catalog_replay', { id: category.id }))
        .catch((error) => {
          if ('message' in error.response.data) {
            this.error = this.$translator.trans(error.response.data.message.text)
          }
        })
        .then((response) => {
          this.successMessage = this.$translator.trans(response.data.message.message)
          this.error = null
          category.active = !category.active
        })
        .finally(() => {
          this.processing = false
          this.error = null
        })
    },
    deleteCategory (category) {
      this.processing = true
      this.$axios.post(this.$routing.generate('_delete_catalog_replay', { id: category.id }))
        .catch((error) => {
          if ('message' in error.response.data) {
            this.error = this.$translator.trans(error.response.data.message.text)
          }
        })
        .then((response) => {
          this.successMessage = this.$translator.trans(response.data.message.message)
          this.error = null
          this.$store.commit('module/deleteCategory', { category })
        })
        .finally(() => {
          this.processing = false
          this.error = null
        })
    }
  }

}
</script>

<style scoped>
.row__data.small {
  max-width: 6rem;
  min-width: 6rem;
}
</style>
