<template>
  <div
    id="categoryReplayUpdateModale"
    ref="categoryReplayUpdateModale"
    aria-hidden="true"
    class="modal fade show text-black"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ $translator.trans('Update category') }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div class="modal-body">
          <div class="form__item">
            <label for="categoryName">{{ $translator.trans('Category Name') }}</label>
            <input
              id="categoryName"
              v-model="categoryName"
              name="name"
              type="text"
              maxlength="50"
              class="form-control"
            >
          </div>
          <alert
            v-if="error"
            type="danger"
            :text="error"
          />
          <alert
            v-if="successMessage"
            :text="successMessage"
            type="success"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-light"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            {{ $translator.trans('Cancel') }}
          </button>
          <loader v-if="processing" />
          <button
            v-else
            class="btn btn-primary"
            type="button"
            @click="addCategoryReplay"
          >
            {{ $translator.trans('Update category') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import Alert                             from '../../../ui/Alert'
import { mapState }          from 'vuex'
import Loader                            from '../../../ui/Loader'

export default {
  name: 'CategoryReplayUpdateModale',
  components: { Loader, Alert },
  propos: {
  },
  data () {
    return {
      successMessage: null,
      processing: false,
      error: null,
      modal: null,
      categoryName: '',
      oldCategoryName: ''
    }
  },
  computed: {
    ...mapState('module', ['module', 'categoryReplay'])
  },
  watch: {
    categoryReplay (newValue) {
      this.categoryName = newValue.category.categoryName
    }
  },
  mounted () {
    this.modal = this.$bootstrap.Modal.getOrCreateInstance(this.$refs.categoryReplayUpdateModale)
  },
  methods: {
    addCategoryReplay () {
      this.processing = true
      this.$axios.post(this.$routing.generate('_update_catalog_replay', { id: this.categoryReplay.category.id, categoryName: this.categoryName  }))
        .catch((error) => {
          if ('message' in error.response.data) {
            this.error = this.$translator.trans(error.response.data.message.text)
          }
        })
        .then((response) => {
          this.successMessage = this.$translator.trans(response.data.message.message)
          const categoryReplay = response.data.message.categoryReplay
          this.error = null
          this.$store.commit('module/updateCategoryReplay', { categoryReplay })
        })
        .finally(() => {
          this.processing = false
          this.error = null
        })
    }
  }
}
</script>

<style scoped>
input[name=switch-active-state] {
  height: auto !important;
}
</style>
