<template>
  <div>
    <content-top />
    <content-list />
    <theme-modale />
    <subject-modale />
  </div>
</template>

<script>
import ThemeModale from './Content/ThemeModale'
import SubjectModale from './Content/SubjectModale'
import ContentTop from './Content/contentTop'
import ContentList from './Content/ContentList'

export default {
  name: 'ContentTab',
  components: { ContentList, ContentTop, SubjectModale, ThemeModale }
}
</script>

<style scoped>
  /deep/.flex-basis-auto {
    flex-basis: auto;
  }
</style>
