<template>
  <div class="row">
    <div class="col d-flex justify-content-end align-items-center mb-2">
      <div class="text-end me-3">
        <p v-if="module.personalization.enabledFaq">
          {{ $translator.trans('The "FAQ" menu is enabled.') }}
        </p>
        <p v-else>
          {{ $translator.trans('The "FAQ" menu is disabled.') }}
        </p>
        <p v-if="module.personalization.enabledFaq">
          {{ $translator.trans('It is visible in the catalog') }}
        </p>
        <p v-else>
          {{ $translator.trans('It is not visible in the catalog') }}
        </p>
      </div>
      <div class="search-switch d-flex">
        <label
          class="switch"
          for="switch-active-state"
          @click="() => module.personalization.enabledFaq = !module.personalization.enabledFaq"
        >
          <input
            v-model="module.personalization.enabledFaq"
            type="checkbox"
            name="switch-active-state"
          >
          <span class="slider round" />
        </label>
      </div>
    </div>
    <div class="btn-group export-dropdown justify-content-end">
      <div
        class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        role="button"
        data-bs-auto-close="outside"
        @click="createFAQ"
      >
        <img src="/build/static/icons/plus.svg">
        <span class="d-sm-none d-md-block ms-2">{{ $translator.trans('Add') }}</span>
      </div>
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex'

export default {
  name: 'FAQAction',
  computed: {
    ...mapState('module', ['module'])
  },
  methods: {
    createFAQ () {
      this.$store.commit('module/newFAQ')
    }
  }
}
</script>

<style scoped>

</style>
