<template>
  <div class="data-list__row">
    <div class="row__data">
      {{ faq.question }}
    </div>
    <div
      class="row__data"
      v-html="faq.answer"
    />
    <div class="row__data small">
      {{ statusText }}
    </div>
    <div class="row__data option">
      <div class="drop-menu-container">
        <confirmation-pop-in
          :id="'delete_faq_'+faq.id.toString()"
          :title="$translator.trans('Removal of the FAQ')"
          :content="$translator.trans('Do you want to delete this FAQ?')"
          :confirm="removeFAQ"
        />
        <div class="icn-option">
          <img src="/build/static/icons/options-white.svg">
        </div>
        <ul class="dropdown-menu-inner">
          <li>
            <a
              class="dropdown-item"
              href="#"
              @click="editFAQ"
            >
              <img
                src="/build/static/icons/edit-small-green.svg"
                class="me-2"
              >
              <b>{{ $translator.trans('Edit') }}</b>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              data-bs-toggle="modal"
              :data-bs-target="'#confirmationPopIn_delete_faq_'+faq.id.toString()"
              href="#"
            >
              <img
                src="/build/static/icons/trash-small.svg"
                class="me-2"
              >
              <b>{{ $translator.trans('Delete') }}</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { deleteFAQ } from '../../../../repository/selfsubscription/faq'
import ConfirmationPopIn from '../../../ui/PopIn/ConfirmationPopIn.vue'

export default {
  name: 'FAQListItem',
  components: { ConfirmationPopIn },
  props: {
    faq: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState('module', ['contentSettings']),
    statusText () {
      if (this.faq.active) {
        return this.$translator.trans('Active')
      } else {
        return this.$translator.trans('Inactive')
      }
    }
  },
  methods: {
    editFAQ () {
      this.$store.commit('module/editFAQ', this.faq)
    },
    removeFAQ () {
      deleteFAQ(this.faq)
    }
  }
}
</script>

<style scoped>
.row__data.small {
  max-width: 6rem;
  min-width: 6rem;
}
</style>
