<template>
  <div
    ref="faqModale"
    aria-hidden="true"
    class="modal fade show text-black"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ title }}
          </h5>
        </div>
        <div class="modal-body">
          <alert
            v-if="errorModal"
            type="danger"
            :text="errorModal"
          />
          <form
            v-if="faqForm !== null"
            class="form"
          >
            <div class="mb-3 form__item">
              <label
                for="name"
                class="form-label required"
              >{{ $translator.trans('Question') }}</label>
              <input
                v-model="faqForm.question"
                name="name"
                required="required"
                class="form-control"
              >
              <div
                v-if="'name' in formErrors"
                class="invalid-feedback d-block"
              >
                {{ formErrors.question }}
              </div>
            </div>

            <div class="mb-3 form__item">
              <label
                for="code"
                class="form-label required"
              >{{ $translator.trans('Answer' ) }}</label>
              <TinymceInput
                :name="'question'"
                :on-change-callback="(event, editor) => faqForm.answer = editor.getBody().innerHTML"
              >
                <template #default-value>
                  {{ faqForm.answer }}
                </template>
              </TinymceInput>
              <div
                v-if="'content' in formErrors"
                class="invalid-feedback d-block"
              >
                {{ formErrors.content }}
              </div>
            </div>

            <div class="mb-3 form__item d-flex align-content-center">
              <div class="me-2">
                {{ $translator.trans('Enable') }} :
              </div>
              <div class="search-switch">
                <label
                  class="switch"
                  for="switch-active-state"
                  @click="changeActiveState"
                >
                  <input
                    v-model="faqForm.active"
                    type="checkbox"
                    name="switch-active-state"
                  >
                  <span class="slider round" />
                </label>
              </div>
              <div
                v-if="'enable' in formErrors"
                class="invalid-feedback d-block"
              >
                {{ formErrors.content }}
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <loader v-if="saving" />
          <button
            v-else
            class="btn btn-primary"
            type="button"
            @click="saveFAQ"
          >
            {{ $translator.trans('Valid') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Alert from '../../../ui/Alert'
import { mapState } from 'vuex'
import { saveFAQ } from '../../../../repository/selfsubscription/faq'
import Loader         from '../../../ui/Loader'
import store from '../../../../store'
import TinymceInput from '../../../ui/TinymceInput.vue'

export default {
  name: 'FAQModale',
  components: { TinymceInput, Loader, Alert },
  data () {
    return {
      faqForm: null,
      modal: null
    }
  },
  computed: {
    ...mapState('module', ['faq']),
    ...mapState('process', ['errorModal', 'formErrors', 'saving']),
    title () {
      return (this.faq !== null && 'id' in this.faq) ?  this.$translator.trans('Update FAQ') : this.$translator.trans('New FAQ')
    }
  },
  watch: {
    faq (newValue, oldValue) {
      this.faqForm = newValue
      if (newValue === null) {
        this.modal.hide()
      } else {
        this.modal.show()
      }
    }
  },
  mounted () {
    this.modal = this.$bootstrap.Modal.getOrCreateInstance(this.$refs.faqModale)
    this.$refs.faqModale.addEventListener('hide.bs.modal', event => {
      this.$store.commit('module/updateFAQ', null)
      store.commit('process/endSaving')
    })
  },
  methods: {
    saveFAQ () {
      saveFAQ(this.faqForm)
    },
    changeActiveState () {
      this.faqForm.active = !this.faqForm.active
    }
  }
}
</script>

<style scoped>
input[name=switch-active-state] {
  height: auto !important;
}
</style>
