<template>
  <div class="page-options-bar">
    <div class="d-flex part-1">
      <div class="page-options-bar__item pr">
        <div class="page-options-bar__item__search with-result">
          <label for="searchInSession">
            <img src="/build/static/icons/search.svg">
          </label>
          <input
            id="searchInSession"
            v-model="searchText"
            type="search"
            name="searchInSession"
            :placeholder="searchPlaceholder"
          >
          <div class="search-sessions-counter">
            <b>{{ faqs.length }}</b>&nbsp;{{ $translator.trans('found faq.s') }}
          </div>
        </div>

        <div
          id="tooltipSwitchSessionSearch"
          class="search-switch"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          :title="$translator.trans('Change the search on faq')"
        >
          <label
            class="switch"
            for="switch-session-search"
          >
            <input
              id="switch-session-search"
              v-model="searchStatus"
              type="checkbox"
              name="switch-session-search"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'FAQSearch',
  computed: {
    ...mapGetters({ faqs: 'module/activeFAQs' }),
    ...mapState('module', ['faqSettings']),
    searchText: {
      get () {
        return this.faqSettings.searchText
      },
      set (newValue) {
        this.$store.commit('module/faqSearch', { searchText: newValue })
      }
    },
    searchStatus: {
      get () {
        return this.faqSettings.searchStatus
      },
      set (newValue) {
        this.$store.commit('module/faqSearch', { searchStatus: newValue })
      }
    },
    searchPlaceholder () {
      if (this.searchStatus) {
        return this.$translator.trans('Search in enabled questions')
      } else {
        return this.$translator.trans('Search in all questions')
      }
    }
  }
}
</script>

<style scoped>

</style>
