<template>
  <div>
    <div class="d-flex flex-row-reverse justify-content-between align-content-center mb-3">
      <f-a-q-action />
      <f-a-q-search />
    </div>
    <div class="data-list">
      <div class="data-list__header">
        <div class="data-list__header__item">
          {{ $translator.trans('Question') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Answer') }}
        </div>
        <div class="data-list__header__item small">
          {{ $translator.trans('Status') }}
        </div>
        <div class="data-list__header__item option" />
      </div>
      <div class="table-content">
        <f-a-q-list-item
          v-for="faq in faqs"
          :key="faq.id"
          :faq="faq"
        />
      </div>
      <f-a-q-modale />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import FAQListItem from './FAQListItem'
import FAQModale from './FAQModale'
import FAQAction from './FAQAction'
import FAQSearch from './FAQSearch'

export default {
  name: 'FAQTab',
  components: { FAQSearch, FAQModale, FAQListItem, FAQAction },
  computed: {
    ...mapGetters({ faqs: 'module/activeFAQs' })
  }
}
</script>

<style scoped>
.data-list__header__item.small {
  max-width: 6rem;
  min-width: 6rem;
}
</style>
