<template>
  <div class="row">
    <div class="col-6">
      <module-form :can-switch-active-state="true" />
    </div>
    <div class="col-6">
      <div class="d-flex flex-row flex-wrap align-content-center justify-content-between align-items-center">
        <label for="comment">{{ $translator.trans("Incorporate this code") }}</label>
        <button
          v-clipboard:copy="embedLink"
          class="btn btn-primary"
          :disabled="!module.public"
          :class="{ 'copied' : copyStatus }"
        >
          Copier le code
        </button>
      </div>
      <small>{{ $translator.trans('Embed a code on your site to instantly display a list of all your available training courses, giving your visitors a complete and up-to-date overview of your training offerings.') }}</small>
      <p
        v-if="!module.public"
        class="mt-2"
      >
        {{ $translator.trans('To be able to incorporate the catalog on your site, your catalog must have a public access type') }}
      </p>
      <textarea
        id="comment"
        v-model="embedLink"
        class="form-control embed-link"
        rows="5"
        disabled
      />
    </div>
  </div>
</template>

<script>
import ModuleForm       from '../Form/ModuleForm'
import { mapState }     from 'vuex'
export default {
  name: 'GeneralTab',
  components: { ModuleForm },
  data () {
    return {
      copyStatus: false
    }
  },
  computed: {
    ...mapState('module', ['module']),
    embedLink () {
      return "<iframe src='" + location.origin + this.$routing.generate('_self_subscription_hub_home_embed', { clientName: this.module.slugClient, domain: this.module.domain }) + "' width='100%' height='100%' frameborder='0' allowfullscreen></iframe>"
    }
  }
}
</script>

<style scoped>
.embed-link {
  resize: none;
}
</style>
