<template>
  <div>
    <loader v-if="loading" />
    <template v-else>
      <module-header />
      <alert
        v-if="error"
        class="mt-4"
        type="danger"
        :text="error"
      />
      <alert
        v-if="success"
        class="mt-4"
        :text="$translator.trans('The module has been successfully modified')"
        type="success"
      />
      <module-tabs-navigation
        :tabs="tabs"
      />
      <component
        :is="currentView"
      />
    </template>
  </div>
</template>

<script>
import ModuleHeader from './ModuleHeader'
import { mapGetters, mapState } from 'vuex'
import Loader from '../../../ui/Loader'
import ModuleTabsNavigation from './ModuleTabsNavigation'
import GeneralTab from './GeneralTab'
import ContentTab from './ContentTab'
import ReplayTab from './ReplayTab.vue'
import WhiteListTab from './WhiteListTab'
import BlackListTab from './BlackListTab'
import FAQTab from './FAQTab'
import StatisticsTab from './StatisticsTab'
import AppearanceTab from './Appearance/AppearanceTab.vue'
import Alert from '../../../ui/Alert.vue'
import RegisteredTab from './RegisteredTab.vue'
import FormCustomTab from './FormCustom/FormCustomTab.vue'
export default {
  name: 'ModuleEditor',
  components: {
    Alert,
    StatisticsTab,
    ReplayTab,
    FAQTab,
    BlackListTab,
    WhiteListTab,
    ContentTab,
    GeneralTab,
    FormCustomTab,
    ModuleTabsNavigation,
    Loader,
    ModuleHeader,
    RegisteredTab,
    AppearanceTab
  },
  props: {
    module: {
      type: Object,
      required: true
    },
    importRestrictions: {
      type: Object,
      required: false,
      default: () => { return {} }
    },
    categoryAvailable: {
      type: Array,
      required: true
    },
    statistics: {
      type: Object,
      required: true
    },
    displayClient: {
      type: Boolean,
      required: true
    },
    viewTab: {
      type: String,
      required: false,
      default: 'GeneralTab'
    }
  },
  computed: {
    ...mapState('process', ['loading', 'success', 'error']),
    ...mapGetters({ currentView: 'module/getView' }),
    tabs () {
      return [
        { id: 'ModuleGeneraleTab', component: 'GeneralTab', name: this.$translator.trans('General') },
        { id: 'ModuleContentTab', component: 'ContentTab', name: this.$translator.trans('Content') },
        { id: 'ModuleFormCustomTab', component: 'FormCustomTab', name: this.$translator.trans('Form') },
        { id: 'ModuleWhitelistTab', component: 'WhiteListTab', name: this.$translator.trans('White list') },
        { id: 'ModuleBlacklistTab', component: 'BlackListTab', name: this.$translator.trans('Black list') },
        { id: 'ModuleAppearanceTab', component: 'AppearanceTab', name: this.$translator.trans('Personalization') },
        { id: 'ModuleStatisticsTab', component: 'StatisticsTab', name: this.$translator.trans('Statistics') },
        { id: 'ModuleReplayTab', component: 'ReplayTab', name: this.$translator.trans('Video') },
        { id: 'ModuleFAQTab', component: 'FAQTab', name: this.$translator.trans('FAQ') },
        { id: 'ModuleRegisteredTab', component: 'RegisteredTab', name: this.$translator.trans('Registrants') }
      ]
    }
  },
  mounted () {
    this.$store.commit('module/updateModule', this.module)
    this.$store.commit('module/uploadStatistics', this.statistics)
    this.$store.commit('module/displayClient', this.displayClient)
    this.$store.commit('module/importRestrictions', this.importRestrictions)
    this.$store.commit('module/categoryAvailable', this.categoryAvailable)
    this.$store.commit('module/changeView', this.viewTab)
    this.$store.commit('process/loading', false)
  }
}
</script>
