<template>
  <nav>
    <div
      id="nav-tab-user"
      class="nav nav-tabs mb-3"
      role="tablist"
    >
      <div
        v-for="(tab) in tabs"
        :key="tab.id"
        class="position-relative"
      >
        <button
          :id="tab.id"
          :key="tab.id"
          class="nav-link ps-0 bg-transparent border-0"
          :class="[{
            'active' : currentView === tab.component
          }]"
          data-bs-toggle="tab"
          type="button"
          role="tab"
          @click="changeActiveTab(tab.component)"
        >
          {{ tab.name }}
        </button>
        <div
          v-if="formErrors[tab.component]"
          class="bubble-notification"
        >
          !
        </div>
      </div>
      <button
        class="nav-link ps-0 ms-auto"
        @click="openPreview"
      >
        {{ $translator.trans('Previsualization') }}
        <img
          src="/build/static/icons/open-target-green.svg"
          class="me-2"
        >
      </button>
    </div>
  </nav>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'ModuleTabsNavigation',
  props: {
    tabs: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      currentTab: this.tabs[0].component
    }
  },
  computed: {
    ...mapState('module', ['module']),
    ...mapState('process', ['formErrors']),
    ...mapGetters({ currentView: 'module/getView' })
  },
  methods: {
    changeActiveTab (tab) {
      this.$store.commit('module/changeView', tab)
    },
    openPreview () {
      open(this.$routing.generate('_self_subscription_hub_home', { clientName: this.module.slugClient, domain: this.module.domain }), '_blank')
    }
  }
}
</script>

<style scoped>

</style>
