<template>
  <div class="wrapper-header d-flex align-items-start justify-content-between">
    <div class="wrapper-header__infos">
      <div class="wrapper-header__infos__title d-flex align-items-center">
        <h1>{{ module.name }}</h1>
      </div>
      <p class="wrapper-header__infos__desc" />
      <div class="wrapper-header__infos__updated mb-39">
        <template v-if="module.createdBy !== null">
          {{
            $translator.trans('Created on %created_at% by %created_by% - Modified on %updated_at% by %updated_by%', {
              'created_at': humanizeCreatedDate,
              'updated_at': humanizeUpdatedDate,
              'created_by': module.createdBy.fullName,
              'updated_by': module.updatedBy.fullName
            })
          }}
        </template>
        <template v-else>
          {{
            $translator.trans('Created on %created_at% - Modified on %updated_at%', {
              'created_at': humanizeCreatedDate,
              'updated_at': humanizeUpdatedDate
            })
          }}
        </template>
      </div>
      <div
        v-if="displayClient"
        class="data-list d-flex align-items-center"
      >
        <div class="session-numbers d-flex align-items-center mr-20">
          <div class="d-flex align-items-center">
            <span>{{ module.client.name }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-header__actions d-flex flex-column align-items-end justify-content-between mt-3">
      <div class="wrapper-header__actions__save-and-more d-flex align-items-center">
        <submit-button
          class="primary-btn"
          :processing="saving"
          @click="saveModule"
        >
          <img
            alt="check-white image"
            src="/build/static/icons/check-white.svg"
            class="me-2"
          >
          {{ $translator.trans('Save') }}
        </submit-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { updateModule } from '../../../../repository/selfsubscription/module'
import SubmitButton from '../../../ui/SubmitButton.vue'

export default {
  name: 'ModuleHeader',
  components: { SubmitButton },
  computed: {
    ...mapState('module', ['module', 'displayClient']),
    ...mapState('process', ['saving']),
    humanizeCreatedDate () {
      return this.$options.filters.formatDate(this.module.createdAt, 'datetime_med')
    },
    humanizeUpdatedDate () {
      return this.$options.filters.formatDate(this.module.updatedAt, 'datetime_med')
    }
  },
  methods: {
    saveModule () {
      updateModule(this.module)
    }
  }
}
</script>

<style>
.wrapper-header__actions {
  min-height: auto !important;
}
</style>
