<template>
  <div>
    <div class="page-options-bar">
      <div class="d-flex part-1">
        <div class="page-options-bar__item pr">
          <div class="page-options-bar__item__search with-result">
            <label for="searchInSession">
              <img src="/build/static/icons/search.svg">
            </label>
            <input
              id="searchInSession"
              v-model="searchText"
              type="search"
              name="searchInSession"
              :placeholder="searchPlaceholder"
            >
            <div class="search-sessions-counter">
              <b>{{ filteredRegisteredUsers.length }}</b>&nbsp;{{ $translator.trans('found registered.s') }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="loaderUser"
      class="data-list"
    >
      <div class="data-list__header">
        <div class="data-list__header__item">
          {{ $translator.trans('First name') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Last name') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Email') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Reference') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Last Authentication') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Added on') }}
        </div>
      </div>
      <div class="table-content">
        <div
          v-for="registered in filteredRegisteredUsers"
          :key="registered.id"
        >
          <div class="data-list__row">
            <div class="row__data">
              {{ registered.user.firstName }}
            </div>
            <div class="row__data">
              {{ registered.user.lastName }}
            </div>
            <div class="row__data">
              {{ registered.user.email }}
            </div>
            <div class="row__data">
              {{ registered.user.reference }}
            </div>
            <div class="row__data">
              {{ registered.lastAuthenticationAt|formatDate("datetime_med") }}
            </div>
            <div class="row__data">
              {{ registered.createdAt|formatDate("datetime_med") }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      v-else
      class="text-center mt-5"
    >
      <loader />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import axios from 'axios'
import { routing } from '../../../../utils/app.utils'
import Loader from '../../../ui/Loader.vue'

export default {
  name: 'RegisteredTab',
  components: { Loader },
  data () {
    return {
      registeredUser: [],
      searchText: '',
      loaderUser : false,
      searchPlaceholder: this.$translator.trans('Search in registered users')
    }
  },
  computed: {
    ...mapState('module', ['module']),
    filteredRegisteredUsers () {
      if (!this.searchText) return this.registeredUser
      const searchTextLower = this.searchText.toLowerCase()

      return this.registeredUser.filter((user) => {
        return user.user.firstName.toLowerCase().includes(searchTextLower) ||
            user.user.lastName.toLowerCase().includes(searchTextLower) ||
            user.user.email.toLowerCase().includes(searchTextLower)
      })
    }
  },
  mounted () {
    this.loadRegistered()
  },
  methods: {
    loadRegistered () {
      axios.get(routing.generate('_get_registered_user_module', { id: this.module.id }))
        .then((response) => {
          if (response.data.code === 200) {
            this.registeredUser = response.data.message
            this.loaderUser = true
          }
        })
    }
  }
}
</script>

<style scoped>
.data-list__header__item.small {
  max-width: 6rem;
  min-width: 6rem;
}
</style>
