<template>
  <div
    id="replayModale"
    ref="replayModale"
    aria-hidden="true"
    class="modal fade show text-black"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog modal-lg">
      <div
        v-if="success"
        class="modal-content"
      >
        <div class="modal-header">
          <h3 class="d-flex mb-2 text-primary">
            {{ $translator.trans(firstMessageSuccessful) }}
          </h3>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            @click="initialVideo()"
          />
        </div>
        <div class="modal-body text-center">
          <h1> 😉 🎥 </h1>
          <br>
          <h3 class="text-success">
            {{ $translator.trans(secondMessageSuccessful) }}
          </h3>
          <br>
          <p>
            {{ $translator.trans(endMessageSuccessful) }}
          </p>
        </div>
        <div
          v-if="video"
          class="row mb-30"
        >
          <div class="col-lg-12">
            <div
              v-if="video.urlKey"
              class="video-responsive text-center"
            >
              <a
                v-if="video.platform === webinarReplayPlatformOther"
                :href="activeLinkToVideo"
                target="_blank"
              >
                <img
                  v-if="video.photoReplay"
                  :src="photoUri"
                  style="width: 100%;"
                  alt=""
                >
                <img
                  v-else
                  src="/build/static/show-replay.png"
                  style="width: 100%;"
                  alt=""
                >
              </a>
              <iframe
                v-else
                :src="activeLinkToVideo"
                width="640"
                height="360"
                frameborder="0"
                allowfullscreen
              />
            </div>
            <div
              v-if="video.urlKey"
              style="margin-left: 80px"
            >
              <h1>{{ video.title }}</h1>
              <p style="font-size: 20px">
                {{ video.description }}
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-light"
            data-bs-dismiss="modal"
            aria-label="Close"
            @click="initialVideo()"
          >
            {{ $translator.trans('Exit') }}
          </button>
          <button
            class="btn btn-primary"
            type="button"
            @click="initialVideo()"
          >
            {{ $translator.trans('Add another video') }}
          </button>
        </div>
      </div>
      <div
        v-else
        class="modal-content"
      >
        <div class="modal-header">
          <h5 class="modal-title">
            {{ title }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            @click="initialVideo()"
          />
        </div>
        <div class="modal-body">
          <alert
            v-if="errorModal"
            type="danger"
            :text="errorModal"
          />
          <fieldset v-if="video">
            <div class="row mb-30">
              <div
                class="form__item"
                style="margin-bottom: 10px"
              >
                <label for="videoPlatform">{{ $translator.trans('Hosting platform') }}</label>
                <select
                  id="videoPlatform"
                  v-model="video.platform"
                  class="form-control"
                  @change="changePlatform"
                >
                  <option
                    v-for="(platform, index) in videoPlatforms"
                    :key="index"
                    :value="platform.value"
                  >
                    {{ $translator.trans(platform.label) }}
                  </option>
                </select>
                <img
                  src="/build/static/icons/question.svg"
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  :title="$translator.trans('Selection of the video platform in which the replay will be broadcast.')"
                  alt=""
                >
              </div>
              <div
                v-if="currentPlatform"
                class="form__item"
                style="margin-bottom: 10px"
              >
                <label for="urlKey">{{ $translator.trans(getUrlKeyLabel) }}</label>
                <input
                  id="urlKey"
                  v-model="video.urlKey"
                  name="urlKey"
                  type="text"
                  class="form-control"
                  @keyup="changePlatform"
                >
              </div>
              <div
                v-if="currentPlatform"
                class="form__item"
                style="margin-bottom: 10px"
              >
                <label for="videoTitle">{{ $translator.trans('Titre of the video') }}</label>
                <input
                  id="videoTitle"
                  v-model="video.title"
                  name="name"
                  type="text"
                  maxlength="50"
                  class="form-control"
                >
              </div>
              <div
                v-if="currentPlatform"
                class="form__item"
                style="margin-bottom: 10px"
              >
                <label for="videoDescription">{{ $translator.trans('Video description') }}</label>
                <textarea
                  id="videoDescription"
                  v-model="video.description"
                  class="form-control"
                  maxlength="400"
                  style="min-height: 100px"
                />
              </div>
              <div
                v-if="currentPlatform"
                class="form__checklist"
              >
                <label for="catalogCheckbox_">{{ $translator.trans('Category') }}</label>
                <div class="form__checklist__item">
                  <div
                    v-for="catalog in activeCatalogs"
                    :key="catalog.id"
                    class="form-check"
                  >
                    <input
                      :id="'catalogCheckbox_' + catalog.id"
                      v-model="video.catalogsReplay"
                      type="checkbox"
                      class="form-check-input mr-2 mt-2"
                      :value="catalog.id"
                    >
                    <label
                      class="form-check-label pe-lg-1 mt-1"
                      :for="'catalogCheckbox_' + catalog.id"
                    >
                      {{ catalog.categoryName }}
                    </label>
                  </div>
                </div>
              </div>
              <loader v-if="loading.photo" />
              <template v-else>
                <div
                  v-if="video.platform === webinarReplayPlatformOther"
                  class="form__item mb-3 col-12 justify-content-between"
                >
                  <label
                    for="information"
                    class="form__item mb-0"
                  >
                    {{ $translator.trans("Video picture") }}
                  </label>
                  <input
                    id="photo"
                    ref="photo"
                    class="form-control w-90"
                    type="file"
                    :accept="IMAGE_FORMATS_FORMATTED"
                    @change="uploadFile($event,'photo')"
                  >
                  <tooltip
                    :text="$translator.trans('The video picture will be displayed on the registration page replay when you chose a other platform relay, Recommended size: 1900x1200 pixels')"
                  />
                  <span
                    class="mt-1"
                    style="font-size: 14px"
                  >{{ $translator.trans('File format:') }} {{ IMAGE_FORMATS_STRING }}</span>
                  <div
                    v-if="errors.photo"
                    class="invalid-feedback d-block"
                  >
                    {{ errors.photo }}
                  </div>
                </div>
              </template>
              <!--              <p><i> {{ $translator.trans(translateHelpMessagePlatforms) }}</i></p>-->
            </div>
            <div class="row mb-30">
              <div class="col-lg-12">
                <div
                  v-if="video.urlKey"
                  class="video-responsive text-center"
                >
                  <a
                    v-if="video.platform === webinarReplayPlatformOther"
                    :href="activeLinkToVideo"
                    target="_blank"
                  >
                    <img
                      v-if="video.photoReplay"
                      :src="photoUri"
                      style="width: 100%;"
                      alt=""
                    >
                    <img
                      v-else
                      src="/build/static/show-replay.png"
                      style="width: 100%;"
                      alt=""
                    >
                  </a>
                  <iframe
                    v-else
                    :src="activeLinkToVideo"
                    width="640"
                    height="360"
                    frameborder="0"
                    allowfullscreen
                  />
                </div>
                <div
                  v-if="video.urlKey"
                  class="text-center"
                >
                  <h1>{{ video.title }}</h1>
                  <p style="font-size: 20px">
                    {{ video.description }}
                  </p>
                </div>
              </div>
            </div>
            <div v-if="video.urlKey">
              <div class="search-switch">
                <label
                  class="switch"
                  for="published"
                >
                  <input
                    id="published"
                    v-model="video.published"
                    type="checkbox"
                    name="published"
                    class="switch-preference"
                  >
                  <span class="slider round" />
                </label>
                {{ $translator.trans('Publish the replay') }}
                <img
                  src="/build/static/icons/question.svg"
                  data-bs-placement="left"
                  data-bs-toggle="tooltip"
                  :title="$translator.trans('Publishing the replay allows you to broadcast the recording on the promotion page of your event.')"
                  alt=""
                >
              </div>
              <small>{{ $translator.trans('Publishing the replay allows you to broadcast the recording on the promotion page of your event.') }}</small>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-light"
            data-bs-dismiss="modal"
            aria-label="Close"
            @click="initialVideo()"
          >
            {{ $translator.trans('Cancel') }}
          </button>
          <loader v-if="saving" />
          <button
            v-else
            class="btn btn-primary"
            type="button"
            @click="saveVideo"
          >
            {{ $translator.trans(title) }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  REPLAY_PLATFORM_OTHER, REPLAY_PLATFORM_VIMEO

} from '../../../../store/module/module'
import Alert                             from '../../../ui/Alert'
import { mapState, mapGetters }          from 'vuex'
import Loader                            from '../../../ui/Loader'
import Tooltip                           from '../../../ui/Tooltip.vue'
import { saveVideo } from '../../../../repository/selfsubscription/video'
import { IMAGE_FORMATS, IMAGE_FORMATS_FORMATTED, IMAGE_FORMATS_STRING } from '../../../../utils/fileUpload.utils'

export default {
  name: 'ReplayModale',
  components: { Tooltip, Loader, Alert },
  propos: {
  },
  data () {
    return {
      IMAGE_FORMATS: IMAGE_FORMATS,
      IMAGE_FORMATS_STRING: IMAGE_FORMATS_STRING,
      IMAGE_FORMATS_FORMATTED: IMAGE_FORMATS_FORMATTED,
      faqForm: null,
      videoForm: null,
      modal: null,
      linkToVideo: '',
      helpVimeoKey: 'In order for the replay to be available, go to your Vimeo platform settings : in the \'Privacy\' section, the link should not be \'unlisted.\'',
      helpOtherKey: 'You can broadcast the link to the recording to your participants. Don\'t forget to make it public from the video platform interface so that your participants can access it without identifying themselves.',
      webinarReplayPlatformOther: REPLAY_PLATFORM_OTHER,
      webinarReplayPlatformVimeo: REPLAY_PLATFORM_VIMEO,
      loading: {
        photo: false
      },
      errors: {
        photo: false
      }
    }
  },
  computed: {
    ...mapGetters({ videoPlatforms: 'module/videoPlatforms' }),
    ...mapState('module', ['module', 'video', 'isUpdateVideo']),
    ...mapState('process', ['errorModal', 'formErrors', 'saving', 'success']),
    translateHelpMessagePlatforms () {
      if (this.video.platform === this.webinarReplayPlatformVimeo) {
        return this.helpVimeoKey
      } else {
        return this.helpOtherKey
      }
    },
    activeCatalogs () {
      return this.module.catalogsReplay.filter(catalog => catalog.active)
    },
    title () {
      return (this.video !== null && 'id' in this.video) ?  this.$translator.trans('Update Video') : this.$translator.trans('New Video')
    },
    photoUri () {
      return '/uploads/self_subscription_logo/' + this.video.photoReplay
    },
    currentPlatform () {
      return this.videoPlatforms.find(platform => platform.value === this.video.platform)
    },
    getUrlKeyLabel () {
      if (this.currentPlatform) {
        return this.currentPlatform.description
      }
      return ''
    },
    firstMessageSuccessful () {
      if (!this.isUpdateVideo) {
        return 'Successful video addition!'
      } else {
        return 'Successful video update!'
      }
    },
    secondMessageSuccessful () {
      if (!this.isUpdateVideo) {
        return 'THANK YOU FOR ADDING YOUR VIDEO'
      } else {
        return 'THE VIDEO HAS BEEN UPDATED ON THE REPLAY PAGE'
      }
    },
    endMessageSuccessful () {
      if (!this.isUpdateVideo) {
        return 'Congratulations on adding the video! Your videos are now accessible from your catalog replay. We hope it will bring value to users. If you have other videos to share, feel free to add them as well.'
      } else {
        return 'Congratulations on updating the video! Your videos are now accessible from your catalog replay. We hope it will bring value to users. If you have other videos to share, feel free to add them as well.'
      }
    },
    activeLinkToVideo () {
      if (this.video) {
        if (this.video.platform !== REPLAY_PLATFORM_OTHER && this.video.urlKey !== '') {
          return this.currentPlatform.url + this.video.urlKey
        } else {
          return this.video.urlKey
        }
      }
      return ''
    }
  },
  watch: {
    video (newValue, oldValue) {
      this.videoForm = newValue
      if (newValue === null) {
        this.modal.hide()
      } else {
        this.modal.show()
      }
    }
  },
  created () {
    if (this.video) {
      if (this.video.platform === null) {
        this.video.platform = this.webinarReplayPlatformVimeo
      }
      this.changePlatform()
    }
  },
  mounted () {
    this.modal = this.$bootstrap.Modal.getOrCreateInstance(this.$refs.replayModale)
    /* this.$refs.replayModale.addEventListener('hide.bs.modal', event => {
      this.$store.commit('module/updateVideo', null)
      store.commit('process/endSaving')
    }) */
  },
  methods: {
    changePlatform () {
      // FOR THE TESTS : 'https://player.vimeo.com/video/203809526'
      if (this.video.platform !== REPLAY_PLATFORM_OTHER && this.video.urlKey !== '') {
        this.linkToVideo = this.currentPlatform.url + this.video.urlKey
      } else {
        this.linkToVideo = this.video.urlKey
      }
    },
    saveVideo () {
      saveVideo(this.video)
    },
    updateFile (src, file) {
      switch (src) {
        case 'photo':
          this.video.photoReplay = file
          break
      }
    },
    uploadFile (e, src) {
      this.loading[src] = true
      const files = e.target.files || e.dataTransfer.files
      if (files.length !== 1) {
        return
      }
      const formData = new FormData()
      formData.append('file', files[0])
      formData.append('format', IMAGE_FORMATS)
      const vm = this
      vm.error = null
      this.$axios.post(this.$routing.generate('_video_replay_image_upload_files'), formData, { headers: { 'Content-Type': 'multipart/form-data' } })
        .then((response) => {
          this.updateFile(src, response.data.message.filetarget)
          this.loading[src] = false
        }).catch((error) => {
          this.loading[src] = false
          if ('response' in error && 'data' in error.response && 'message' in error.response.data && 'text' in error.response.data.message) {
            vm.error = error.response.data.message.text
            this.errors[src] = error.response.data.message.text
          } else {
            vm.error = this.$translator.trans('The ' + src + ' cannot be put online for an unknown reason.')
          }
        })
    },
    initialVideo () {
      this.$store.commit('process/resetSaving')
      this.$store.commit('module/newVideo')
    }
  }
}
</script>

<style scoped>
input[name=switch-active-state] {
  height: auto !important;
}
.form__checklist__item {
  overflow-y: auto;
  max-height: 200px; /* Ajustez cette valeur en fonction de vos besoins */
}
</style>
