<template>
  <div>
    <div class="d-flex justify-content-between align-content-center">
      <div class="mb-3 form__item flex-column align-items-start">
        <label
          for="menu_item[banner]"
          class="form-label required fs-5 mb-0"
        >{{ $translator.trans('Style of presentation cards') }}</label>
        <small>{{ $translator.trans("Customize the look of your videos page by choosing the style of your presentation cards") }}</small>
        <ul class="d-flex justify-content-between mt-2">
          <li class="form-check mx-2">
            <label
              class="form-check-label"
              for="templateSquare"
            >{{ $translator.trans('Square') }}</label>
            <input
              id="templateSquare"
              v-model="module.templateDesign"
              type="radio"
              name="templateDesign"
              class="form-check-input inline"
              value="square"
              checked
            >
          </li>
          <li class="form-check mx-2">
            <label
              class="form-check-label"
              for="templateRounded"
            >{{ $translator.trans('Rounded') }}</label>
            <input
              id="templateRounded"
              v-model="module.templateDesign"
              type="radio"
              name="templateDesign"
              class="form-check-input inline"
              value="rounded"
            >
          </li>
        </ul>
      </div>
      <video-action />
    </div>
    <div class="d-flex justify-content-between align-content-center">
      <video-search />
    </div>
    <div class="row mt-28">
      <video-list-item
        v-for="video in videosReplay"
        :key="video.id"
        :video="video"
        @onDeleteReplay="onDeleteReplay"
        @onUpdateReplay="onUpdateReplay"
      />
    </div>
    <div class="d-flex justify-content-between align-content-center mt-28">
      <h3 class="mb-3">
        {{ $translator.trans('Categories') }}
      </h3>
      <category-replay-action />
      <category-replay-modale />
    </div>
    <div
      ref="categoryListSection"
      class="category-list-section"
    >
      <category-list-item />
    </div>
  </div>
</template>

<script>

import { mapState, mapGetters } from 'vuex'
import CategoryReplayModale             from './CategoryReplayModale.vue'
import VideoAction from './VideoAction.vue'
import VideoListItem from './VideoListItem.vue'
import CategoryListItem from './CategoryListItem.vue'
import {
  REPLAY_PLATFORM_OTHER, REPLAY_PLATFORM_VIMEO

} from '../../../../store/module/module'
import VideoSearch from './VideoSearch.vue'
import CategoryReplayAction from './CategoryReplayAction.vue'

export default {
  name: 'ReplayTab',
  components: {
    CategoryReplayAction,
    CategoryReplayModale,
    VideoListItem,
    VideoSearch,
    CategoryListItem,
    VideoAction
  },
  data () {
    return {
      webinarReplayPlatformOther: REPLAY_PLATFORM_OTHER,
      webinarReplayPlatformVimeo: REPLAY_PLATFORM_VIMEO,
      replayModal: null
    }
  },
  computed: {
    ...mapState('module', ['module', 'statistics']),
    ...mapGetters({ videosReplay: 'module/activeVideo' }),
    ...mapState('process', ['formErrors', 'saving'])
  },
  methods: {
    onDeleteReplay (id) {
      this.$store.commit('module/deleteVideo', id)
    },
    onUpdateReplay (video) {
      this.$bootstrap.Modal.getOrCreateInstance('#ModuleEditSubjectReplayModal').show()
      this.$store.commit('module/updateVideo', video)
    }
  }
}
</script>

<style scoped>

</style>
