<template>
  <div>
    <div class="wrapper-content-sessions__current-stats__infos__table table-responsive row">
      <div class="col-3">
        <h5>{{ $translator.trans('Sessions') }}</h5>
        <br>
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <td>{{ $translator.trans('Sessions Created') }}</td>
              <td>{{ statistics.sessionCreateNumber }} </td>
            </tr>
            <tr>
              <td style="padding-left: 50px">
                {{ $translator.trans('Unlimited.s') }}
              </td>
              <td>{{ statistics.sessionUnlimitedNumber }} </td>
            </tr>
            <tr>
              <td>{{ $translator.trans('Sessions Sent') }}</td>
              <td>{{ statistics.sessionSentNumber }} </td>
            </tr>
            <tr>
              <td style="padding-left: 50px">
                {{ $translator.trans('Complete.s') }}
              </td>
              <td>{{ statistics.sessionCompletedNumber }} </td>
            </tr>
            <tr>
              <td style="padding-left: 50px">
                {{ $translator.trans('Available') }}
              </td>
              <td>{{ statistics.sessionAvailableNumber }} </td>
            </tr>
            <tr>
              <td>{{ $translator.trans('Sessions Finished') }}</td>
              <td>{{ statistics.sessionFinishedNumber }} </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-3">
        <h5>{{ $translator.trans('Participants') }}</h5>
        <br>
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <td>{{ $translator.trans('Places available') }}</td>
              <td>{{ statistics.participantsPlacesAvailableNumber }} </td>
            </tr>
            <tr>
              <td>{{ $translator.trans('Registration') }}</td>
              <td>{{ statistics.participantsRegisteredNumber }} </td>
            </tr>
            <tr>
              <td>{{ $translator.trans('Unique registrants') }}</td>
              <td>{{ statistics.participantsUniqueRegisteredNumber }} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex'

export default {
  name: 'StatisticsTab',
  computed: {
    ...mapState('module', ['module', 'statistics'])
  }
}
</script>

<style scoped>

</style>
