<template>
  <div
    :class="['card replay-item p-0 mx-auto my-2', {
      'self-rounded': templateDesign === 'rounded',
      'self-square': templateDesign === 'square'
    }]"
  >
    <div
      data-bs-auto-close="outside"
      data-bs-toggle="modal"
      :data-bs-target="user.isGuestUser ? '#LoginReplaySelfSubscriptionModal' : '#ShowReplayVideoModal'"
      @click="newViewerReplay()"
    >
      <div
        class="ratio ratio-16x9"
        style="pointer-events: none"
      >
        <img
          v-if="video.urlKey && video.platform === webinarReplayPlatformOther && video.photoReplay"
          :src="photoUri()"
          style="object-fit: cover"
          alt=""
        >
        <img
          v-if="video.urlKey && video.platform === webinarReplayPlatformOther && !video.photoReplay"
          src="/build/static/show-replay.png"
          alt=""
        >
        <iframe
          v-if="video.urlKey && video.platform !== webinarReplayPlatformOther"
          class="bg-black"
          :src="linkToVideo"
        />
      </div>
    </div>
    <div class="card-body p-3">
      <h5 class="card-title fw-bold overme mb-3">
        {{ video.title }}
      </h5>
      <p
        class="card-text overme"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        :title="video.description"
      >
        {{ video.description }}
      </p>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapState } from 'vuex'
import { newViewerReplay } from '../../../../repository/selfsubscription/video'
import { REPLAY_PLATFORM_OTHER, REPLAY_PLATFORM_VIMEO, splitUrlKeyByPlatform } from '../../../../store/module/module'

export default {
  name: 'VideoListShow',
  props: {
    video: {
      type: Object,
      required: true
    },
    templateDesign: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      webinarReplayPlatformOther: REPLAY_PLATFORM_OTHER,
      webinarReplayPlatformVimeo: REPLAY_PLATFORM_VIMEO
    }
  },
  computed: {
    ...mapState('selfSubscription', ['user']),
    ...mapGetters({ videoPlatforms: 'module/videoPlatforms' }),
    currentPlatform () {
      return this.videoPlatforms.find(platform => platform.value === this.video.platform)
    },
    linkToVideo () {
      if (this.video.platform !== REPLAY_PLATFORM_OTHER && this.video.urlKey !== '') {
        return this.currentPlatform.url + this.getCodeFromUrl
      } else {
        return this.video.urlKey
      }
    },
    getCodeFromUrl () {
      return splitUrlKeyByPlatform(this.video.urlKey, this.video.platform)
    }
  },
  methods: {
    photoUri () {
      return '/uploads/self_subscription_logo/' + this.video.photoReplay
    },
    newViewerReplay () {
      if (this.user.isGuestUser) return false
      this.$store.commit('module/updateLinkToVideo', this.linkToVideo)
      this.$store.commit('module/updateVideoSelected', this.video)
      newViewerReplay(this.video)
    }
  }

}
</script>

<style scoped>
.self-rounded {
  overflow: hidden;
}

.self-square {
  border-radius: 0.25rem;
}

.overme {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
