<template>
  <div
    class="card p-0 m-2"
    style="width: 24rem; height: 28rem;"
  >
    <div class="ratio ratio-16x9">
      <img
        v-if="video.urlKey && video.platform === webinarReplayPlatformOther && video.photoReplay"
        class="img-fluid"
        :src="photoUri()"
        alt=""
      >
      <img
        v-if="video.urlKey && video.platform === webinarReplayPlatformOther && !video.photoReplay"
        class="img-fluid"
        src="/build/static/show-replay.png"
        alt=""
      >
      <iframe
        v-if="video.urlKey && video.platform !== webinarReplayPlatformOther"
        class="bg-black"
        :src="linkToVideo"
      />
    </div>
    <div class="card-body">
      <h5 class="card-title fw-bold overme">
        {{ video.title }}
      </h5>
      <p class="card-text overme">
        {{ video.description }}
      </p>
    </div>
    <div class="card-footer bg-transparent border-top-0">
      <ul class="d-flex justify-content-evenly">
        <li>
          <button
            type="button"
            class="btn"
            @click="updateVideo(video)"
          >
            <img src="/build/static/icons/edit-small-green.svg">
          </button>
        </li>
        <li>
          <button
            type="button"
            class="btn"
            data-bs-toggle="modal"
            :data-bs-target="'#confirmationPopIn_delete_video_'+video.id.toString()"
          >
            <img src="/build/static/icons/delete-filter.svg">
          </button>
        </li>
      </ul>
    </div>
    <confirmation-pop-in
      :id="'delete_video_'+video.id.toString()"
      :title="$translator.trans('Removal of the video')"
      :content="$translator.trans('Do you want to delete this video ?')"
      :confirm-message="$translator.trans('Delete')"
      :confirm="removeVideo"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { REPLAY_PLATFORM_OTHER, REPLAY_PLATFORM_VIMEO, splitUrlKeyByPlatform } from '../../../../store/module/module'
import ConfirmationPopIn from '../../../ui/PopIn/ConfirmationPopIn.vue'
import { deleteVideo } from '../../../../repository/selfsubscription/video'

export default {
  name: 'VideoListItem',
  components: { ConfirmationPopIn },
  props: {
    video: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      webinarReplayPlatformOther: REPLAY_PLATFORM_OTHER,
      webinarReplayPlatformVimeo: REPLAY_PLATFORM_VIMEO
    }
  },
  computed: {
    ...mapGetters({ videoPlatforms: 'module/videoPlatforms' }),
    currentPlatform () {
      return this.videoPlatforms.find(platform => platform.value === this.video.platform)
    },
    linkToVideo () {
      if (this.video.platform !== REPLAY_PLATFORM_OTHER && this.video.urlKey !== '') {
        return this.currentPlatform.url + this.getCodeFromUrl
      } else {
        return this.video.urlKey
      }
    },
    getCodeFromUrl () {
      return splitUrlKeyByPlatform(this.video.urlKey, this.video.platform)
    }
  },
  methods: {
    removeVideo () {
      deleteVideo(this.video).then((response) => {
        this.$emit('onDeleteReplay', response)
      })
    },
    photoUri () {
      return '/uploads/self_subscription_logo/' + this.video.photoReplay
    },
    updateVideo (video) {
      this.$emit('onUpdateReplay', video)
    }
  }

}
</script>

<style scoped>
.overme {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
