<template>
  <div class="row">
    <div class="col d-flex justify-content-end align-items-center mb-2">
      <div class="text-end me-3">
        <p v-if="module.personalization.enabledReplay">
          {{ $translator.trans('The "Video" menu is enabled.') }}
        </p>
        <p v-else>
          {{ $translator.trans('The "Video" menu is disabled.') }}
        </p>
        <p v-if="module.personalization.enabledReplay">
          {{ $translator.trans('It is visible in the catalog') }}
        </p>
        <p v-else>
          {{ $translator.trans('It is not visible in the catalog') }}
        </p>
      </div>
      <div class="search-switch d-flex">
        <label
          class="switch"
          for="switch-active-state"
          @click="() => module.personalization.enabledReplay = !module.personalization.enabledReplay"
        >
          <input
            v-model="module.personalization.enabledReplay"
            type="checkbox"
            name="switch-active-state"
          >
          <span class="slider round" />
        </label>
      </div>
    </div>
    <div class="btn-group export-dropdown justify-content-end">
      <div
        class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
        role="button"
        @click="scrollToCategoryList"
      >
        <img
          src="/build/static/icons/sort-ascending_d.svg"
          alt=""
        >
        <span class="d-sm-none d-md-block ms-2">{{ $translator.trans('Categories') }}</span>
      </div>
      <div
        class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
        role="button"
        @click="createVideo"
      >
        <img
          src="/build/static/icons/plus.svg"
          alt=""
        >
        <span class="d-sm-none d-md-block ms-2">{{ $translator.trans('Add new video') }}</span>
      </div>
    </div>

    <module-edit-subject-replay-modal
      :video="video"
      :video-platforms="videoPlatforms"
      :catalogs-replay="module.catalogsReplay"
      :card-template-design="module.templateDesign"
      :is-replay="false"
      @save-video="saveVideo"
      @initialize="initialize"
    />
  </div>
</template>

<script>

import { mapGetters, mapState } from 'vuex'
import ModuleEditSubjectReplayModal from '../EditSubject/modal/ModuleEditSubjectReplayModal.vue'

export default {
  name: 'VideoAction',
  components: { ModuleEditSubjectReplayModal },
  computed: {
    ...mapState('module', ['module', 'video']),
    ...mapGetters({ videoPlatforms: 'module/videoPlatforms' })
  },
  methods: {
    createVideo () {
      this.$store.commit('process/resetSaving')
      this.$store.commit('module/newVideo')
      this.$bootstrap.Modal.getOrCreateInstance('#ModuleEditSubjectReplayModal').show()
    },
    scrollToCategoryList () {
      const categoryListSection = this.$parent.$refs.categoryListSection
      if (categoryListSection) {
        categoryListSection.scrollIntoView({ behavior: 'smooth' })
      }
    },
    saveVideo (response) {
      this.$store.commit('module/saveVideo', response)
    },
    initialize () {
      this.$store.commit('process/resetSaving')
      this.$store.commit('module/newVideo')
    }
  }
}
</script>

<style scoped>

</style>
