<template>
  <div class="btn-group export-dropdown">
    <div
      class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
      role="button"
      @click="createFAQ"
    >
      <img src="/build/static/icons/plus.svg">
      <span class="d-sm-none d-md-block ms-2">{{ $translator.trans('Add') }}</span>
    </div>
  </div>
</template>

<script>

export default {
  name: 'TemplateFaqAction',
  methods: {
    createFAQ () {
      this.$store.commit('template/newFAQ')
    }
  }
}
</script>

<style scoped>

</style>
