<template>
  <div class="row">
    <div class="col-12">
      <alert
        v-if="error"
        type="danger"
        :text="error"
      />
      <div class="d-flex align-items-center">
        <div class="col page-options-bar justify-content-end">
          <div
            v-if="contentTemplate.openedBlocks.length === 0"
            class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
            role="button"
            @click="openedAll"
          >
            <img
              src="/build/static/icons/tree-opened.svg"
              alt="opened-tree"
            >
            <span class="d-sm-none d-md-block ms-2">{{ $translator.trans('Unfold everything') }}</span>
          </div>
          <div
            v-else
            class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
            role="button"
            @click="closedAll"
          >
            <img
              src="/build/static/icons/tree-closed.svg"
              alt="closed"
            >
            <span class="d-sm-none d-md-block ms-2">{{ $translator.trans('Fold everything') }}</span>
          </div>
        </div>
      </div>

      <div
        id="registration-page-template-graphical-charte"
        class="table-content data-list data-list__row-small mb-3"
      >
        <registration-page-template-graphical-charter />
      </div>

      <div
        id="registration-page-template-upper-banner"
        class="table-content data-list data-list__row-small mb-3"
      >
        <registration-page-template-upper-banner
          @tab-change="changeTab"
        />
      </div>

      <div
        id="registration-page-template-description"
        class="table-content data-list data-list__row-small mb-3"
      >
        <registration-page-template-description />
      </div>

      <div
        id="registration-page-template-lower-banner"
        class="table-content data-list data-list__row-small mb-3"
      >
        <registration-page-template-lower-banner />
      </div>
    </div>
  </div>
</template>

<script>

import RegistrationPageTemplateGraphicalCharter       from '../../Form/RegistrationPageTemplateGraphicalCharter'
import RegistrationPageTemplateUpperBanner       from '../../Form/RegistrationPageTemplateUpperBanner'
import RegistrationPageTemplateLowerBanner       from '../../Form/RegistrationPageTemplateLowerBanner.vue'
import RegistrationPageTemplateDescription       from '../../Form/RegistrationPageTemplateDescription'
import Alert            from '../../../ui/Alert'
import { mapState }     from 'vuex'
export default {
  name: 'CustomTab',
  components: { RegistrationPageTemplateGraphicalCharter, RegistrationPageTemplateUpperBanner, RegistrationPageTemplateLowerBanner, RegistrationPageTemplateDescription, Alert },
  computed: {
    ...mapState('template', ['template', 'contentTemplate']),
    ...mapState('process', ['error', 'saving'])
  },
  methods: {
    openedAll () {
      this.$store.commit('template/openAll')
    },
    closedAll () {
      this.$store.commit('template/closeAll')
    },
    changeTab (componentTab) {
      this.$emit('tab-change', componentTab)
    }
  }
}
</script>

<style scoped>

</style>
