<template>
  <div class="row">
    <h3>{{ $translator.trans('Customize the registration form') }}</h3>
    <br><br>
    <div class="col-md-12 mb-28">
      <em>
        {{ $translator.trans("You can easily build your registration form using intuitive 'drag and drop' functionality to organize questions and add your own custom questions. You can customize each question field to suit your needs and save changes when you're done. With this feature, you can create a unique registration form for your business or organization, collecting the exact information you need from your customers") }}
      </em>
      <br>
    </div>
    <br><br><br>
    <div class="col-3">
      <fieldset class="form__fieldset fieldset-secondary">
        <legend class="mb-4">
          {{ $translator.trans('Standard Questions') }}
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Standard Questions')"
            alt=""
          >
          <br><br>
          <div>
            <draggable
              :list="standardQuestions"
              group="questions"
            >
              <div
                v-for="(element) in standardQuestions"
                :key="element.name"
                class="form-control position-relative"
                style="margin-bottom: 10px; height: 60px; cursor: move"
              >
                <img
                  class="position-absolute"
                  style="left: 1px; top: 0; bottom: 0; margin: auto 0; width: 16px; height: 16px; opacity: .5"
                  src="/build/static/icons/draggable.svg"
                  alt=""
                >
                <div>
                  <div class="ms-3">
                    <span>
                      <strong>{{ $translator.trans(element.question) }}</strong>
                    </span>
                    <p>{{ $translator.trans(humanizeInputType(element.type)) }}</p>
                  </div>
                </div>
              </div>
            </draggable>
          </div>
          <div
            v-if="standardQuestions.length > 0"
            class="text-center col"
            role="button"
            @click="addAllQuestions()"
          >
            <br><br>
            <img
              src="/build/static/icons/plus-green.svg"
              alt=""
            >
            <span style="color: #6cc91f">{{ $translator.trans('Add all questions') }}</span>
          </div>
        </legend>
      </fieldset>
    </div>
    <div
      class="col-4 mb-30"
      style="margin-right: 50px; margin-left: 20px"
    >
      <fieldset class="form__fieldset">
        <legend class="mb-4">
          {{ $translator.trans('Form') }}
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Assistance')"
          >
          <br><br>
          <div class="col">
            <div class="row">
              <div
                class="col-1"
              />
              <div class="col">
                {{ $translator.trans('Question') }}
              </div>
              <div
                class="col-1"
                style="margin-right: 60px"
              >
                {{ $translator.trans('Obligatory') }}
              </div>
            </div>
            <hr><br>
            <div
              class="row"
              style="margin-bottom: 20px; height: 50px"
            >
              <div
                class="col-1"
              />
              <div class="col">
                <strong>1 . {{ $translator.trans('Email') }}</strong>
                <br>
                <div style="margin-left: 20px">
                  {{ $translator.trans(humanizeInputType('email')) }}
                </div>
              </div>
              <div
                class="col-1"
                style="margin-top: 10px"
              >
                <input
                  checked
                  disabled="disabled"
                  type="checkbox"
                  class="form-check-input"
                >
              </div>
              <hr>
            </div>
            <div
              class="row"
              style="margin-bottom: 20px; height: 50px"
            >
              <div
                class="col-1"
              />
              <div class="col">
                <strong>2 . {{ $translator.trans('First name') }}</strong>
                <br>
                <div style="margin-left: 20px">
                  {{ $translator.trans(humanizeInputType('text')) }}
                </div>
              </div>
              <div
                class="col-1"
                style="margin-top: 10px"
              >
                <input
                  checked
                  disabled="disabled"
                  type="checkbox"
                  class="form-check-input"
                >
              </div>
              <hr>
            </div>
            <div
              class="row"
              style="margin-bottom: 20px; height: 50px"
            >
              <div class="col-1" />
              <div class="col">
                <strong>3 . {{ $translator.trans('Last name') }}</strong>
                <br>
                <div style="margin-left: 20px">
                  {{ $translator.trans(humanizeInputType('text')) }}
                </div>
              </div>
              <div
                class="col-1"
                style="margin-top: 10px"
              >
                <input
                  checked
                  disabled="disabled"
                  type="checkbox"
                  class="form-check-input"
                >
              </div>
              <hr>
            </div>
            <draggable
              :list="template.registrationForm"
              group="questions"
            >
              <div
                v-if="template.registrationForm.length === 0"
                style="border-bottom: 2px dashed #c4c4c4; height: 70px; margin-left: 50px"
                class="text-center"
              >
                {{ $translator.trans('Drop your questions here') }}
              </div>
              <div
                v-for="(element, index) in template.registrationForm"
                v-else
                :key="element.name"
                class="row"
                style="margin-bottom: 10px; cursor: move"
              >
                <span
                  class="col-1"
                  style="margin-top: 5px"
                >
                  <img
                    style="left: 0; top: 0; bottom: 0; margin: auto 0; width: 16px; height: 16px; opacity: .5"
                    src="/build/static/icons/draggable.svg"
                    alt=""
                  >
                </span>
                <div class="col">
                  <strong>{{ index + 4 }}. {{ $translator.trans(element.question) }}</strong>
                  <span
                    v-if="!element.standard"
                    class="col-1 ms-1"
                    data-bs-toggle="modal"
                    data-bs-target="#addOrUpdateCustomQuestionModal"
                    role="button"
                    style="margin-top: 5px"
                    @click="showUpdateQuestion(index)"
                  >
                    <img
                      src="/build/static/icons/edit-small-green.svg"
                      alt=""
                    >
                  </span>
                  <br>
                  <p style="margin-left: 20px">
                    {{ $translator.trans(humanizeInputType(element.type)) }}
                  </p>
                  <div
                    v-if="isAvailableOptions(element)"
                    style="margin-left: 20px"
                  >
                    <strong>{{ $translator.trans('Options') }}:</strong>
                    <ul>
                      <li
                        v-for="(optionRead, indexOption) in element.options"
                        :key="indexOption"
                        style="margin-left: 30px"
                      >
                        <span>{{ optionRead.response }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div
                  class="col-1"
                  style="margin-top: 10px"
                >
                  <input
                    v-model="element.obligatory"
                    type="checkbox"
                    class="form-check-input"
                  >
                </div><hr>
              </div>
            </draggable>
          </div>
        </legend>
        <br><br>
        <div
          class="text-center"
          role="button"
        >
          <span
            v-if="template.registrationForm.length > 0"
            style="color: #6c757d; margin-right: 30px"
            @click="emptyFormQuestions()"
          > X {{ $translator.trans('Reset') }}</span>
          <img
            src="/build/static/icons/plus-green.svg"
            data-bs-toggle="modal"
            data-bs-target="#addOrUpdateCustomQuestionModal"
            alt=""
          >
          <span
            data-bs-toggle="modal"
            data-bs-target="#addOrUpdateCustomQuestionModal"
            style="color: #6cc91f"
            @click="reseatNewQuestion()"
          >{{ $translator.trans('Add a custom question') }}</span>
        </div>
      </fieldset>
    </div>
    <div class="col-4">
      <fieldset class="form__fieldset fieldset-secondary">
        <legend class="mb-4">
          {{ $translator.trans('Preview of the form') }}
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Preview of the form')"
            alt=""
          >
          <br><br>
          <form class="form">
            <div class="mb-3 form__item">
              <input
                name="email"
                type="email"
                style="background: #f5f3f3;"
                :placeholder="$translator.trans('Email')+ ' *'"
                class="form-control"
              >
            </div>
            <div
              class="mb-3 form__item"
            >
              <input
                name="name"
                style="background: #f5f3f3;"
                :placeholder="$translator.trans('Firstname')+ ' *'"
                class="form-control"
              >
            </div>
            <div class="mb-3 form__item">
              <input
                name="name"
                style="background: #f5f3f3;"
                :placeholder="$translator.trans('Lastname')+ ' *'"
                class="form-control"
              >
            </div>
            <div
              v-for="(element, index) in template.registrationForm"
              :key="index"
            >
              <div
                v-if="element.type === 'text'"
                class="form__item"
                style="margin-bottom: 12px"
              >
                <input
                  :placeholder="placeholderInputType(element)"
                  class="form-control"
                >
              </div>
              <div
                v-if="element.type === 'textarea'"
                class="form__item"
                style="margin-bottom: 12px"
              >
                <textarea
                  :placeholder="placeholderInputType(element)"
                  class="form-control"
                  style="min-height: 80px"
                />
              </div>
              <div
                v-else-if="element.type === 'email'"
                class="form__item"
                style="margin-bottom: 12px"
              >
                <input
                  :placeholder="placeholderInputType(element)"
                  type="email"
                  class="form-control"
                >
              </div>
              <div
                v-else-if="element.type === 'number'"
                class="form__item"
                style="margin-bottom: 12px"
              >
                <input
                  :placeholder="placeholderInputType(element)"
                  type="number"
                  class="form-control"
                >
              </div>
              <div
                v-else-if="element.type === 'date'"
                class="form__item col-6"
                style="margin-bottom: 12px"
              >
                <date-time-input
                  :placeholder="placeholderInputType(element)"
                />
              </div>
              <div
                v-else-if="element.type === 'select'"
                class="form__item"
                style="margin-bottom: 12px"
              >
                <label>{{ placeholderInputType(element) }}</label>
                <select class="form-control">
                  <option
                    v-for="(value, indexValue) in element.options"
                    :key="indexValue"
                    :value="value.response"
                  >
                    {{ value.response }}
                  </option>
                </select>
              </div>

              <div
                v-else-if="element.type === 'radio'"
                style="margin-left: 10px;margin-bottom: 12px"
              >
                <label>{{ placeholderInputType(element) }}</label>
                <div
                  v-for="(value, indexValue) in element.options"
                  :key="indexValue"
                  class="col"
                  style="margin-left: 10px"
                >
                  <input
                    v-model="myRadioShow"
                    type="radio"
                    :value="value.response"
                    class="form-check-input ms-1"
                  >
                  <label for="all-users">{{ $translator.trans( value.response) }}</label>
                </div>
              </div>
              <div
                v-else-if="element.type === 'checkbox'"
                style="margin-left: 10px;margin-bottom: 12px"
              >
                <label>{{ placeholderInputType(element) }}</label>
                <div
                  v-for="(value, indexValue) in element.options"
                  :key="indexValue"
                  class="col"
                  style="margin-left: 10px"
                >
                  <input
                    v-model="selectedCheckboxShow"
                    type="checkbox"
                    :value="value.response"
                    class="form-check-input ms-1"
                  >
                  <label>{{ $translator.trans( value.response) }}</label>
                </div>
              </div>
            </div>
            <div class="form-check">
              <input
                id="user-is-licence-for-webex"
                type="checkbox"
                class="form-check-input check-webex"
              >
              <label
                class="form-check-label"
                v-html="$translator.trans(messageAcceptCondition)"
              />
            </div>
          </form>
        </legend>
      </fieldset>
    </div>
    <div
      id="addOrUpdateCustomQuestionModal"
      ref="addOrUpdateCustomQuestionModal"
      class="modal fade"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              v-if="isUpdate"
              id="exampleModalLabel"
              class="modal-title"
            >
              {{ $translator.trans( 'Update a question' ) }}
            </h5>
            <h5
              v-else
              id="exampleModalLabel"
              class="modal-title"
            >
              {{ $translator.trans( 'Add a new custom question' ) }}
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            />
          </div>
          <div class="modal-body">
            <div class="col-md-8 col-lg-8">
              <div class="form__item">
                <label for="user-global-model-convocation">{{ $translator.trans( 'Input type' ) }}</label>
                <select
                  v-model="newQuestion.type"
                >
                  <option
                    v-for="(type) in inputTypes"
                    :key="type"
                    :value="type"
                  >
                    {{ $translator.trans(humanizeInputType(type)) }}
                  </option>
                </select>
              </div>
              <div class="form__item">
                <label for="user-global-model-convocation">
                  {{ $translator.trans( 'Label of question' ) }}
                </label>
                <input
                  v-model="newQuestion.question"
                  type="text"
                  :placeholder="$translator.trans('Question')"
                >
              </div>
              <div
                v-if="isAvailableOptions(newQuestion)"
                class="form__item"
                style="margin-left: 25px"
              >
                <label for="user-global-model-convocation">
                  {{ $translator.trans( 'Options' ) }}:
                </label>

                <span
                  v-for="(option, index) in newQuestion.options"
                  :key="index"
                  class="col-12"
                  style="margin-bottom: 10px"
                >
                  <div class="row">
                    <div class="col me-3">
                      <input
                        v-model="option.response"
                        type="text"
                        :placeholder="$translator.trans('Option ') + (index+1)"
                      >
                    </div>
                    <div class="col-1 me-3">
                      <img
                        style="margin-top: 15px"
                        src="/build/static/icons/minus-filter.svg"
                        alt=""
                        @click="removeOption(index)"
                      >
                    </div>
                  </div>
                </span>
                <br><br>
                <span
                  style="color: #6cc91f"
                  role="button"
                  @click="addNewOption()"
                >
                  <img
                    src="/build/static/icons/plus-green.svg"
                    alt=""
                  >
                  {{ $translator.trans('Add a nw option') }}</span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="justify-content-end">
              <button
                type="button"
                class="btn btn-light"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                {{ $translator.trans('Close') }}
              </button>
              <submit-button
                v-if="isUpdate"
                @click="updateQuestion()"
              >
                {{ $translator.trans( 'To update' ) }}
              </submit-button>
              <submit-button
                v-else
                @click="addNewQuestion()"
              >
                {{ $translator.trans( 'Add' ) }}
              </submit-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import DateTimeInput           from '../../../ui/DateTimeInput.vue'
import draggable               from 'vuedraggable'
import { mapState }            from 'vuex'
import SubmitButton            from '../../../ui/SubmitButton.vue'
export default {
  name: 'FormCustomTab',
  components: { DateTimeInput, SubmitButton, draggable  },
  data () {
    return {
      drag: false,
      standardQuestions: [
        { question: 'Professional phone', order: 1, response: '', type: 'tel', obligatory: false, displayed: false, standard: true, options: [{ response: '' }] },
        { question: 'Company Name', order: 2, response: '', type: 'text', obligatory: false, displayed: false, standard: true, options: [{ response: '' }] },
        { question: 'Fonction', order: 3, response: '', type: 'text', obligatory: false, displayed: false, standard: true, options: [{ response: '' }] },
        { question: 'Address 1', order: 4, response: '', type: 'text', obligatory: false, displayed: false, standard: true, options: [{ response: '' }] },
        { question: 'Address 2', order: 5, response: '', type: 'text', obligatory: false, displayed: false, standard: true, options: [{ response: '' }] },
        { question: 'City', order: 6, response: '', type: 'text', obligatory: false, displayed: false, standard: true, options: [{ response: '' }] },
        { question: 'Dept./Prov.', order: 7, response: '', type: 'text', obligatory: false, displayed: false, standard: true, options: [{ response: '' }] },
        { question: 'CP/Zip code', order: 8, response: '', type: 'text', obligatory: false, displayed: false, standard: true, options: [{ response: '' }] },
        { question: 'Country/region', order: 9, response: '', type: 'text', obligatory: false, displayed: false, standard: true, options: [{ response: '' }] },
        { question: 'Number of employees', order: 10, response: '', type: 'text', obligatory: false, displayed: false, standard: true, options: [{ response: '' }] }
      ],
      isUpdate: false,
      saving: false,
      myRadioShow: null,
      selectedCheckboxShow: [],
      newQuestion: {
        type: 'text',
        obligatory: false,
        displayed: true,
        order: 0,
        standard: false,
        response: '',
        options: [
          { response: '' }
        ],
        question: ''
      },
      inputTypes: ['checkbox', 'date', 'select', 'radio', 'number', 'text', 'email', 'textarea', 'tel'],
      messageAcceptCondition: 'I agree to the <strong><a href="https://live-session.fr/confidentialite/" target="_blank"> Live Session Terms and Conditions </a></strong> and acknowledge that I have been informed and consent to the processing of my personal data detailed in the <strong><a href="https://live-session.fr/mentions-legales/" target="_blank"> Live Session Privacy Policy </a></strong>.'
    }
  },
  computed: {
    ...mapState('template', ['template'])
  },
  methods: {
    isAvailableOptions (element) {
      return element.type === 'checkbox' || element.type === 'radio' || element.type === 'select'
    },
    humanizeInputType (type) {
      switch (type) {
        case 'text':
          return 'One line text boxes'
        case 'email':
          return 'Mail-type text box'
        case 'number':
          return 'Number box'
        case 'date':
          return 'Date'
        case 'checkbox':
          return 'Check box'
        case 'radio':
          return 'Radio button'
        case 'select':
          return 'Dropdown list'
        case 'textarea':
          return 'Multi-line text box'
        case 'tel':
          return 'Phone number text box'
      }
    },
    showUpdateQuestion (questionIndex) {
      this.isUpdate = true
      this.newQuestion = this.template.registrationForm[questionIndex]
    },
    updateQuestion () {
      this.isUpdate = false
      this.reseatNewQuestion()
      const modal = this.$bootstrap.Modal.getOrCreateInstance(this.$refs.addOrUpdateCustomQuestionModal)
      modal.hide()
    },
    addNewQuestion () {
      this.newQuestion.order = this.template.registrationForm.length + 1
      this.template.registrationForm.push(this.newQuestion)
      this.reseatNewQuestion()
      this.isUpdate = false
      const modal = this.$bootstrap.Modal.getOrCreateInstance(this.$refs.addOrUpdateCustomQuestionModal)
      modal.hide()
    },
    addAllQuestions () {
      this.template.registrationForm.splice(0, 0, ...this.standardQuestions)
      this.standardQuestions = []
    },
    emptyFormQuestions () {
      this.standardQuestions.splice(0, 0, ...this.template.registrationForm)
      this.template.registrationForm = []
    },
    addNewOption () {
      this.newQuestion.options.push({})
    },
    removeOption (index) {
      this.newQuestion.options.splice(index, 1)
    },
    reseatNewQuestion () {
      this.isUpdate = false
      this.newQuestion = {
        type: 'text',
        obligatory: false,
        displayed: true,
        order: 0,
        standard: false,
        response: '',
        options: [{ response: '' }],
        question: ''
      }
    },
    placeholderInputType (element) {
      if (element.obligatory) {
        return this.$translator.trans(element.question) + ' *'
      } else {
        return this.$translator.trans(element.question)
      }
    }
  }
}
</script>
