<template>
  <div class="row">
    <div class="col-6">
      <template-form :can-switch-active-state="true" />
    </div>
  </div>
</template>

<script>

import TemplateForm       from '../../Form/RegistrationPageTemplateForm'
import { mapState }     from 'vuex'
export default {
  name: 'GeneralTab',
  components: { TemplateForm },
  computed: {
    ...mapState('template', ['template']),
    ...mapState('process', ['error', 'saving'])
  }
}
</script>

<style scoped>

</style>
