<template>
  <div>
    <div class="row px-2">
      <div class="form__item mb-3 col-12">
        <label>{{ $translator.trans('File') }}</label>
        <input
          id="exampleFormControlFile1"
          ref="file"
          class="form-control w-100"
          type="file"
          @change="handleFileUpload()"
        >
      </div>
    </div>
    <div class="row px-2">
      <small class="col-12 mb-3 restrictions">
        {{ $translator.trans('Maximum file size: %size%', {'size': maxFileSize }) }}<br>
        {{ $translator.trans('File format: %extensions%', {'extensions': allowedExtension }) }}<br>
        {{ $translator.trans('Maximum number of lines: %allowed%', {'allowed': allowedMaxRow}) }}<br><br>

        {{ $translator.trans('File template') }} <a
          href="/archives/Model_Import_Mail_White_Dark_List_Standard.xlsx"
          target="_blank"
        >xlsx</a>
      </small>
    </div>
    <div class="row export-dropdown__footer">
      <div class="col-12 p-0">
        <div class="d-flex justify-content-end align-items-center">
          <submit-button
            :disabled="!isValid"
            :processing="saving"
            @click="submitFile"
          >
            {{ $translator.trans('Import') }}
          </submit-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import store          from '../../../../store'
import { translator } from '../../../../utils/app.utils'
import { mapState } from 'vuex'
import SubmitButton   from '../../../ui/SubmitButton'

export default {
  name: 'ImportListMalFile',
  components: { SubmitButton },
  props: {
    restrictions: {
      type: Object,
      required: true
    },
    typeList: {
      type: String,
      required: false,
      default: () => ''
    },
    template: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      file: '',
      loaderSpinner: false,
      readyToImport: true
    }
  },
  computed: {
    ...mapState('process', ['saving']),
    maxFileSize () {
      if ('max_file_size' in this.restrictions) {
        return this.restrictions.max_file_size
      }

      return 5 + ' MB'
    },
    allowedExtension () {
      if ('allowed_extension' in this.restrictions) {
        return this.restrictions.allowed_extension.toUpperCase()
      }

      return 'XLS, XLSX'
    },
    allowedMaxRow () {
      if ('allowed_max_row' in this.restrictions) {
        return this.restrictions.allowed_max_row
      }

      return 2000
    },
    isValid () {
      return typeof this.file === 'object' && !this.loaderSpinner
    }
  },
  methods: {
    submitFile () {
      const formData = new FormData()
      formData.append('file', this.file)
      store.commit('process/initSaving', true)
      this.$axios.post(this.$routing.generate('_template_white_black_list_import_file', { id: this.template.id, typeList: this.typeList }),
        formData,
        {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }
      )
        .then((response) => {
          store.commit('process/endSaving', false)
          store.commit('template/updateTemplate',  response.data)
        })
        .catch((error) => {
          const payload = { error: translator.trans('The file can not be imported for an unknown error') }
          if ('response' in error && 'data' in error.response && typeof error.response.data === 'object' && 'message' in error.response.data && 'text' in error.response.data.message) {
            payload.error = error.response.data.message.text
          }
          store.commit('process/errorSaving', payload)
        })
    },
    handleFileUpload () {
      this.file = this.$refs.file.files[0]
    }
  }
}
</script>

<style scoped>
.restrictions{
  font-size: .7rem;
}
</style>
