<template>
  <div>
    <div class="d-flex flex-row-reverse justify-content-between align-content-center mb-3">
      <template-faq-action />
    </div>
    <div class="data-list">
      <div class="data-list__header">
        <div class="data-list__header__item">
          {{ $translator.trans('Question') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Answer') }}
        </div>
        <div class="data-list__header__item small">
          {{ $translator.trans('Status') }}
        </div>
        <div class="data-list__header__item option" />
      </div>
      <div class="table-content">
        <template-faq-list-item
          v-for="faq in faqs"
          :key="
            faq.id"
          :faq="faq"
        />
      </div>
      <template-faq-modal />
    </div>
  </div>
</template>

<script>
import TemplateFaqAction from './faq/TemplateFaqAction.vue'
import TemplateFaqModal from './faq/TemplateFaqModal.vue'
import { mapGetters } from 'vuex'
import TemplateFaqListItem from './faq/TemplateFaqListItem.vue'

export default {
  name: 'TemplateFaqTab',
  components: {
    TemplateFaqListItem,
    TemplateFaqModal,
    TemplateFaqAction
  },
  computed: {
    ...mapGetters({ faqs: 'template/activeFAQs' })
  },
  methods: {}
}
</script>

<style scoped>
.data-list__header__item.small {
  max-width: 6rem;
  min-width: 6rem;
}
</style>
