<template>
  <nav>
    <div
      id="nav-tab-template"
      class="nav nav-tabs mb-3"
      role="tablist"
    >
      <button
        v-for="(tab) in tabs"
        :id="tab.id"
        :key="tab.id"
        class="nav-link ps-0"
        :class="[{
          'active' : currentTab === tab.component
        }]"
        data-bs-toggle="tab"
        type="button"
        role="tab"
        @click="changeActiveTab(tab.component)"
      >
        {{ tab.name }}
      </button>
      <button
        class="nav-link ps-0 ms-auto"
        @click="openPreview"
      >
        {{ $translator.trans('Previsualization') }}
        <img
          src="/build/static/icons/open-target-green.svg"
          class="me-2"
        >
      </button>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'TemplateTabsNavigation',
  props: {
    tabs: {
      type: Array,
      required: true
    },
    templateId: {
      type: Number,
      required: true
    },
    currentTabUpdated: {
      type: String,
      required: false,
      default: ''
    }
  },
  data () {
    return {
      currentTab: this.tabs[0].component
    }
  },
  watch: {
    currentTabUpdated (newValue) {
      this.currentTab = newValue
    }
  },
  methods: {
    changeActiveTab (tab) {
      this.currentTab = tab
      this.$emit('tab-change', tab)
    },
    openPreview () {
      open(this.$routing.generate('_registration_page_template_preview', { id: this.templateId }), '_blank')
    }
  }
}
</script>

<style scoped>

</style>
