<template>
  <div>
    <loader v-if="loading" />
    <template v-else>
      <template-header />
      <alert
        v-if="success"
        type="success"
        :text="$translator.trans('The changes to the registering page have been taken into account.')"
      />
      <template-tabs-navigation
        :tabs="tabs"
        :template-id="registrationPageTemplate.id"
        :current-tab-updated="componentTab"
        @tab-change="changeTab"
      />
      <alert
        v-if="error"
        type="danger"
        :text="error"
      />
      <component
        :is="componentTab"
        :template-id="registrationPageTemplate.id"
        @tab-change="changeTab"
      />
    </template>
  </div>
</template>

<script>
import TemplateHeader from './TemplateHeader'
import { mapState } from 'vuex'
import Loader from '../../../ui/Loader'
import TemplateTabsNavigation from './TemplateTabsNavigation'
import GeneralTab from './GeneralTab'
import FormCustomTab from './FormCustomTab'
import CustomTab from './CustomTab'
import Alert from '../../../ui/Alert.vue'
import TemplateFaqTab from './TemplateFaqTab.vue'
import TemplateSessionsTab from '../TemplateSessionsTab.vue'
import TemplateWhiteListTab from '../TemplateWhiteListTab.vue'
import TemplateBlackListTab from '../TemplateBlackListTab.vue'

export default {
  name: 'TemplateEditor',
  components: {
    Alert,
    CustomTab,
    GeneralTab,
    FormCustomTab,
    TemplateTabsNavigation,
    Loader,
    TemplateHeader,
    TemplateFaqTab,
    TemplateSessionsTab,
    TemplateWhiteListTab,
    TemplateBlackListTab
  },
  props: {
    registrationPageTemplate: {
      type: Object,
      required: true
    },
    importRestrictions: {
      type: Object,
      required: false,
      default: () => { return {} }
    }
  },
  data () {
    return {
      componentTab: 'GeneralTab'
    }
  },
  computed: {
    ...mapState('process', ['error', 'loading', 'success']),
    tabs () {
      return [
        { id: 'TemplateGeneralTab', component: 'GeneralTab', name: this.$translator.trans('General') },
        { id: 'TemplateCustomTab', component: 'CustomTab', name: this.$translator.trans('Customization') },
        { id: 'TemplateFormCustomTab', component: 'FormCustomTab', name: this.$translator.trans('Form') },
        { id: 'TemplateWhiteListTab', component: 'TemplateWhiteListTab', name: this.$translator.trans('White list') },
        { id: 'TemplateBlackListTab', component: 'TemplateBlackListTab', name: this.$translator.trans('Black list') },
        { id: 'TemplateFaqTab', component: 'TemplateFaqTab', name: this.$translator.trans('FAQ') },
        { id: 'TemplateSessionsTab', component: 'TemplateSessionsTab', name: this.$translator.trans('Sessions') }
      ]
    }
  },
  mounted () {
    this.$store.commit('template/updateTemplate', this.registrationPageTemplate)
    this.$store.commit('process/loading', false)
    this.$store.commit('template/importRestrictions', this.importRestrictions)
  },
  methods: {
    changeTab (componentTab) {
      this.componentTab = componentTab
    }
  }
}
</script>
