<template>
  <div class="wrapper-header d-flex align-items-start justify-content-between">
    <div class="wrapper-header__infos">
      <div class="wrapper-header__infos__title d-flex align-items-center">
        <h1>{{ template.name }}</h1>
      </div>
      <p class="wrapper-header__infos__desc" />
      <div class="wrapper-header__infos__updated mb-39">
        <template v-if="template.createdBy !== null">
          {{
            $translator.trans('Created on %created_at% by %created_by% - Modified on %updated_at% by %updated_by%', {
              'created_at': humanizeCreatedDate,
              'updated_at': humanizeUpdatedDate,
              'created_by': template.createdBy.fullName,
              'updated_by': template.updatedBy.fullName
            })
          }}
        </template>
        <template v-else>
          {{
            $translator.trans('Created on %created_at% - Modified on %updated_at%', {
              'created_at': humanizeCreatedDate,
              'updated_at': humanizeUpdatedDate
            })
          }}
        </template>
      </div>
      <div
        v-if="displayClient"
        class="data-list d-flex align-items-center"
      >
        <div class="session-numbers d-flex align-items-center mr-20">
          <div class="d-flex align-items-center">
            <span>{{ template.client.name }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-header__actions d-flex flex-column align-items-end justify-content-between mt-3">
      <div class="wrapper-header__actions__save-and-more d-flex align-items-center">
        <loader v-if="saving" />
        <button
          v-else
          class="btn primary-btn btn-primary"
          @click="saveTemplate"
        >
          <span>
            <img
              alt="check-white image"
              src="/build/static/icons/check-white.svg"
              class="me-2"
            >
            {{ $translator.trans('Save') }}
          </span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { updateTemplate } from '../../../../repository/registrationpage/template'
import Loader       from '../../../ui/Loader.vue'

export default {
  name: 'TemplateHeader',
  components: { Loader },
  computed: {
    ...mapState('template', ['template', 'displayClient']),
    ...mapState('process', ['error', 'saving']),
    humanizeCreatedDate () {
      return this.$options.filters.formatDate(this.template.createdAt, 'datetime_med')
    },
    humanizeUpdatedDate () {
      return this.$options.filters.formatDate(this.template.updatedAt, 'datetime_med')
    }
  },
  methods: {
    saveTemplate () {
      updateTemplate(this.template)
    }
  }
}
</script>

<style>
.wrapper-header__actions {
    min-height: auto !important;
}
</style>
