<template>
  <form @submit.prevent="addCredit">
    <div class="form__item mt-3 mb-3">
      <div class="input-group">
        <input
          v-model="credit"
          class="form-control inline"
          type="number"
          required
          min="1"
        >
        <button
          type="submit"
          class="primary-btn"
        >
          <loader
            v-if="processing"
            class="me-1"
          />
          <template v-else>
            <img
              src="/build/static/icons/save-for-later-white.svg"
              class="me-1"
            >
            {{ $translator.trans('Add credits') }}
          </template>
        </button>
      </div>

      <div
        v-if="saved"
        class="text-primary mt-2"
      >
        {{ $translator.trans('Credits have been added with success') }}
      </div>
      <div
        v-if="errorMessage"
        class="text-danger"
      >
        {{ $translator.trans(errorMessage) }}
      </div>
    </div>
  </form>
</template>

<script>
import { mapState } from 'vuex'
import Loader from '../../../ui/Loader.vue'

export default {
  name: 'SmsBillingAddCredit',
  components: { Loader },
  data () {
    return {
      credit: 0,
      processing: false,
      saved: false,
      errorMessage: null
    }
  },
  computed: {
    ...mapState('client', ['client'])
  },
  methods: {
    addCredit () {
      this.processing = true
      this.saved = false
      this.errorMessage = null

      if (this.credit ===  0) {
        this.processing = false
        this.errorMessage = this.$translator.trans('Your input is zero. Please enter a valid value. Thank you.')
      }

      this.$axios.post(this.$routing.generate('_client_credit_sms_add', { id: this.client.id }), { credit: this.credit })
        .then((response) => {
          this.processing = false
          this.saved = true
          this.credit = 0
          this.errorMessage = null

          const data = response.data.message
          this.client.creditSms = data.allowedCredit
          this.client.creditAllocationsSms.push(JSON.parse(data.creditAllocation))
        }).catch(() => {
          this.processing = false
          this.errorMessage = this.$translator.trans('An error has occurred')
        })
    }
  }
}
</script>

<style scoped>

</style>
