<template>
  <div class="col-12 wrapper-content-dashboard-stats">
    <div class="wrapper-content-dashboard-stats__session__content d-flex justify-content-around">
      <div class="wrapper-content-dashboard-stats__session__content__count my-2">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <div class="wrapper-content-dashboard-stats__session__content__count__total reduced-centered">
            <h4>{{ $translator.trans('Added credit.s') }}</h4>
          </div>
          <div class="wrapper-content-dashboard-stats__session__content__count__round bg-green d-flex align-items-center justify-content-center">
            <span>{{ countAddCreditAllocationsSms }}</span>
          </div>
        </div>
      </div>

      <div class="wrapper-content-dashboard-stats__session__content__count my-2 ms-5">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <div class="wrapper-content-dashboard-stats__session__content__count__total reduced-centered">
            <h4>{{ $translator.trans('Remaining credit.s') }}</h4>
          </div>
          <div class="wrapper-content-dashboard-stats__session__content__count__round bg-teal d-flex align-items-center justify-content-center">
            <span>{{ client.creditSms }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex'

export default {
  name: 'SmsBillingStatistics',
  computed: {
    ...mapState('client', ['client']),
    countAddCreditAllocationsSms () {
      return this.client.creditAllocationsSms.reduce((accumulator, currentValue) => {
        return accumulator + currentValue.allowedCredit
      }, 0)
    }
  }
}
</script>
