<template>
  <div class="data-list">
    <div class="data-list__header">
      <div class="data-list__header__item ps-3">
        {{ $translator.trans( 'Date Added' ) }}
      </div>
      <div class="data-list__header__item">
        {{ $translator.trans( 'Credits' ) }}
      </div>
    </div>
    <div class="data-list table-content data-list__row-small">
      <div
        v-for="creditAllocation in clientCreditAllocations"
        :key="creditAllocation.id"
        class="data-list__row"
      >
        <div class="row__data">
          {{ creditAllocation.createdAt|formatDate("datetime_med") }}
        </div>
        <div class="row__data">
          {{ creditAllocation.allowedCredit }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'SmsBillingAllocationList',
  computed: {
    ...mapState('client', ['client']),
    clientCreditAllocations () {
      return [...this.client.creditAllocationsSms].sort((a, b) => {
        return new Date(b.createdAt) - new Date(a.createdAt)
      })
    }
  }
}
</script>
