<template>
  <div class="row">
    <div class="col-12 mt-5">
      <h4>{{ $translator.trans('Add SMS credits') }}</h4>
      <sms-billing-add-credit />
      <sms-billing-allocation-list />
    </div>
  </div>
</template>

<script>
import SmsBillingAddCredit from './SmsBillingAddCredit.vue'
import SmsBillingAllocationList from './SmsBillingAllocationList.vue'

export default {
  name: 'SmsBilling',
  components: { SmsBillingAllocationList, SmsBillingAddCredit }
}
</script>

<style scoped>

</style>
