<template>
  <div>
    <h3>{{ $translator.trans('Room') }}</h3>
    <div class="row">
      <div class="col-lg-6">
        <div class="form__item">
          <label for="admittedSession">{{ $translator.trans('Admitted to the meeting') }}<sup :title="$translator.trans('Required')">*</sup></label>
          <select
            id="admittedSession"
            v-model="sessionToSaved.accessType"
            name="admittedSession"
            :class="['form-control', {
              'is-invalid' : !errorsFields.admittedSession.notnull['is-valid']
            }]"
            @change="validateField()"
          >
            <option value="denied">
              {{ $translator.trans( 'Participants only' ) }}
            </option>
            <option value="remove">
              {{ $translator.trans( 'Participants and visitors authorized by a host' ) }}
            </option>
            <option value="view-hidden">
              {{ $translator.trans( 'Everyone\'s' ) }}
            </option>
          </select>
          <img
            src="/build/static/icons/question.svg"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            :title="$translator.trans('Choose  how your participants will access the virtual room: as guests with the session URL (=everyone),  as guests accepted by the animator (=Visitors authorized by a host) or as registered users with a login and a password (= participants only).This latter option is preferred if you wish to obtain accurate attendance reports and issue regulatory training certifications.')"
          >
          <div
            v-if="!errorsFields.admittedSession.notnull['is-valid']"
            class="invalid-feedback d-block"
          >
            {{ errorsFields.admittedSession.notnull.message }}
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form__item">
          <label for="roomModel">{{ $translator.trans('Room template') }}<sup :title="$translator.trans('Required')" /></label>
          <select
            id="roomModel"
            v-model="sessionToSaved.defaultModelId"
            name="roomModel"
            :class="['form-control', {
              'is-invalid' : !errorsFields.roomModel.notnull['is-valid']
            }]"
            @change="validateField()"
          >
            <option
              v-for="model in clientData.provider.roomModels"
              :key="model.uniq_identifier"
              :value="model.uniq_identifier"
            >
              {{ model.name }}
            </option>
          </select>
          <img
            src="/build/static/icons/question.svg"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            :title="$translator.trans('Choose the room template you want from the templates that have been previously created in Adobe Connect>Shared Meetings>Shared Templates. If the field is left blank, the default template will be applied and no resources will be loaded into the room.To create a new template, go to your Adobe Connect account>Shared Meetings>Shared Templates.')"
          >
          <div
            v-if="!errorsFields.roomModel.notnull['is-valid']"
            class="invalid-feedback d-block"
          >
            {{ errorsFields.roomModel.notnull.message }}
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form__item">
          <label for="urlPath">{{ $translator.trans('Customised URL') }}<sup :title="$translator.trans('Required')" /></label>
          <input
            id="urlPath"
            v-model="sessionToSaved.url"
            name="urlPath"
            type="text"
            class="roomModel form-control"
          >
          <img
            src="/build/static/icons/question.svg"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            :title="$translator.trans('You can customize the session URL... By leaving this field blank, a random url will be generated automatically')"
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'CreateSessionAdobeConnectWebinar',
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'stepWizard', 'clientData']),
    ...mapState('sessionWizardCreation', ['errorsFields', 'formSuccess'])
  },
  methods: {
    validateField () {
      this.$store.dispatch('sessionWizardCreation/validateFields')
        .then(() => {
          this.$emit('errorTabs', { tab: 'general', success: this.formSuccess })
        })
    }
  }
}
</script>
