<template>
  <div>
    <h3>{{ $translator.trans('Room') }}</h3>
    <div class="row">
      <div
        v-if="!isWebinarCategory"
        class="col-lg-6"
      >
        <div class="form__item">
          <label for="admittedSession">{{ $translator.trans('Admitted to the meeting') }}<sup :title="$translator.trans('Required')">*</sup></label>
          <select
            id="admittedSession"
            v-model="sessionToSaved.accessType"
            name="admittedSession"
            :class="['form-control', {
              'is-invalid' : !errorsFields.admittedSession.notnull['is-valid']
            }]"
            @change="validateField()"
          >
            <option value="denied">
              {{ $translator.trans( 'Participants only' ) }}
            </option>
            <option value="remove">
              {{ $translator.trans( 'Participants and visitors authorized by a host' ) }}
            </option>
            <option value="view-hidden">
              {{ $translator.trans( 'Everyone\'s' ) }}
            </option>
          </select>
          <img
            src="/build/static/icons/question.svg"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            :title="$translator.trans('Choose  how your participants will access the virtual room: as guests with the session URL (=everyone),  as guests accepted by the animator (=Visitors authorized by a host) or as registered users with a login and a password (= participants only).This latter option is preferred if you wish to obtain accurate attendance reports and issue regulatory training certifications.')"
          >
          <div
            v-if="!errorsFields.admittedSession.notnull['is-valid']"
            class="invalid-feedback d-block"
          >
            {{ errorsFields.admittedSession.notnull.message }}
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div
          class="mb-1 d-flex justify-content-between"
          style="font-size: 0.75rem; font-weight: 600; width: calc(100% - 26px);"
        >
          <label
            for="roomModel"
            style=""
          >{{ $translator.trans('Room template') }}<sup :title="$translator.trans('Required')" /></label>
          <div
            v-if="nameFolderDefaultRoomModel !== null || sessionToSaved.folderDefaultRoom !== null"
            style="color: #80BC00;"
          >
            <img
              src="/build/static/icons/cross.svg"
              role="button"
              style="margin-right: 10px"
              @click="resetFilter()"
            >{{ nameFilter }}
          </div>
          <div
            v-if="showChildComponent"
            class="export-dropdown__opener page-options-bar__item d-flex"
            style="margin-right: 0px; display: inline-flex;"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            role="button"
            data-bs-auto-close="outside"
          >
            <div
              v-if="nameFolderDefaultRoomModel === null"
            >
              <img
                src="/build/static/icons/filter.svg"
                style="width:15px;"
                alt=""
              >
            </div>
            <div
              v-else
            >
              <img
                src="/build/static/icons/filter-primary.svg"
                style="width:15px;"
                alt=""
              >
            </div>
            <span
              class="d-sm-none d-md-block ms-2"
              style="font-size: 0.75rem; font-weight: 600;"
            >{{ $translator.trans('View subfolders') }}</span>
          </div>
          <model-custom-from-animators-a-c
            v-if="showChildComponent"
            :client-id="sessionToSaved.clientId"
            :configuration-holder-id="sessionToSaved.configurationHolder"
            :folder-default-room-sco-id="sessionToSaved.folderDefaultRoom"
            @custom-room-change="updateSharedMeetingTemplate"
            @update-folder-default-room="updateFolderDefaultRoom"
            @showFilterFolder="handleShowFilterFolder"
            @folder-animator-name="folderAnimatorName"
          />
        </div>
        <div class="form__item">
          <select
            id="roomModel"
            v-model="sessionToSaved.defaultModelId"
            name="roomModel"
            :class="['form-control', {
              'is-invalid' : !errorsFields.roomModel.notnull['is-valid']
            }]"
            @change="validateField()"
          >
            <option
              v-for="model in listRoomModels"
              :key="model.uniq_identifier"
              :value="model.uniq_identifier"
            >
              {{ model.name }}
            </option>
          </select>
          <img
            src="/build/static/icons/question.svg"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            :title="$translator.trans('Choose the room template you want from the templates that have been previously created in Adobe Connect>Shared Meetings>Shared Templates. If the field is left blank, the default template will be applied and no resources will be loaded into the room.To create a new template, go to your Adobe Connect account>Shared Meetings>Shared Templates.')"
          >
          <div
            v-if="!errorsFields.roomModel.notnull['is-valid']"
            class="invalid-feedback d-block"
          >
            {{ errorsFields.roomModel.notnull.message }}
          </div>
        </div>
      </div>
      <div
        v-if="!isWebinarCategory"
        class="col-lg-6"
      >
        <div class="form__item">
          <label for="urlPath">{{ $translator.trans('Customised URL') }}<sup :title="$translator.trans('Required')" /></label>
          <input
            id="urlPath"
            v-model="sessionToSaved.url"
            name="urlPath"
            type="text"
            class="roomModel form-control"
          >
          <img
            src="/build/static/icons/question.svg"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            :title="$translator.trans('You can customize the session URL... By leaving this field blank, a random url will be generated automatically')"
            alt=""
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { CATEGORY_SESSION_WEBINAR } from '../../../../../store/module/session'
import ModelCustomFromAnimatorsAC from '../../../../configuration-holder/ModelCustomFromAnimatorsAC'
import { adobeConnectSharedMeetingTemplate } from '../../../../../utils/adobe-connect-configuration-holder.utils'

export default {
  name: 'CreateSessionAdobeConnect',
  components: { ModelCustomFromAnimatorsAC },
  data () {
    return {
      listRoomModels: {},
      showChildComponent: true,
      nameFolderDefaultRoomModel: null
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'stepWizard', 'clientData']),
    ...mapState('sessionWizardCreation', ['errorsFields', 'formSuccess']),
    isWebinarCategory () {
      return this.sessionToSaved.category === CATEGORY_SESSION_WEBINAR
    },
    nameFilter () {
      if (this.nameFolderDefaultRoomModel) {
        return this.nameFolderDefaultRoomModel
      } else {
        return this.sessionToSaved.folderDefaultRoom
      }
    }
  },
  created () {
    adobeConnectSharedMeetingTemplate(this.sessionToSaved.configurationHolder)
      .then(sharedMeetingTemplates => {
        this.listRoomModels  = sharedMeetingTemplates
      })
  },
  methods: {
    validateField () {
      this.$store.dispatch('sessionWizardCreation/validateFields')
        .then(() => {
          this.$emit('errorTabs', { tab: 'general', success: this.formSuccess })
        })
    },
    updateSharedMeetingTemplate (meetingTemplates) {
      if (meetingTemplates.length !== 0) {
        this.listRoomModels = meetingTemplates
      }
    },
    handleShowFilterFolder (value) {
      this.showChildComponent = value
    },
    updateFolderDefaultRoom (folderDefaultRoomModel) {
      this.sessionToSaved.folderDefaultRoom = folderDefaultRoomModel
    },
    folderAnimatorName (value) {
      this.nameFolderDefaultRoomModel = value
    },
    resetFilter () {
      this.sessionToSaved.folderDefaultRoom = null
    }
  }
}
</script>
