<template>
  <div>
    <div
      class="row"
    >
      <div class="col">
        <alert
          type="info"
          :text="$translator.trans('You assign the privilege to open the Microsoft Teams session to this participant. Other presenters will be able to join the session once this person is connected. If you are using shared licenses, you can leave the field blank, and an available license will automatically be assigned to the session.')"
        />
      </div>
    </div>
    <div
      class="row"
    >
      <div class="col-lg-6">
        <div class="form__item">
          <label for="microsoftTeamsEventLicence">{{ $translator.trans('Organizer license') }}</label>
          <alert
            v-if="!clientData.provider.automaticLicensing && clientData.provider.licences.length === 0"
            :text="$translator.trans('Please note that no licenses are available for this time slot.')"
            type="warning"
          />
          <template v-else>
            <select
              id="microsoftTeamsEventLicence"
              v-model="sessionToSaved.licence"
              name="microsoftTeamsEventLicence"
              :class="['form-control', {
                'is-invalid' : !errorsFields.licence.notnull['is-valid']
              }]"
              @change="changeLicence($event)"
            >
              <option
                v-for="(licenceKey, licence) in filteredLicences"
                :key="licenceKey"
                :value="licenceKey.attributed ? licenceKey.licenceAttributed : licence"
                @click="sessionToSaved.licenceEmailUserTeams = licence"
              >
                {{ licence }}
              </option>
            </select>
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('Specifies the license to be used for the session')"
            >
            <div
              v-if="!errorsFields.licence.notnull['is-valid']"
              class="invalid-feedback d-block"
            >
              {{ errorsFields.licence.notnull.message }}
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Alert        from '../../../../ui/Alert'

export default {
  name: 'CreateSessionMicrosoftTeamsEvent',
  components: { Alert },
  data () {
    return {
      filteredLicences: [],
      selectedLicenceKey: null,
      selectedLicenceValue: null
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'clientData']),
    ...mapState('sessionWizardCreation', ['errorsFields', 'formSuccess']),
    clientLicences () {
      return this.clientData.provider.licences
    }
  },
  watch: {
    clientLicences: 'filterLicences'
  },
  mounted () {
    this.filterLicences()
  },
  methods: {
    validateField () {
      this.$store.dispatch('sessionWizardCreation/validateFields')
        .then(() => {
          this.$emit('errorTabs', { tab: 'general', success: this.formSuccess })
        })
    },
    changeLicence (event) {
      this.sessionToSaved.licenceEmailUserTeams = event.target.options[event.target.options.selectedIndex].text
      this.validateField()
    },
    filterLicences () {
      const filteredLicences = Object.entries(this.clientLicences)
        .filter(([key, licence]) => {
          return (
            (licence.shared === false && licence.attributed === false) ||
                licence.attributed === true
          )
        })
        .reduce((obj, [key, value]) => {
          obj[key] = value
          return obj
        }, {})

      this.filteredLicences = filteredLicences
    }
  }
}
</script>
