<template>
  <div>
    <h3>{{ $translator.trans('Room') }}</h3>
    <div class="row">
      <div class="col-lg-12">
        <div
          class="alert alert-info alert-dismissible container"
        >
          {{ $translator.trans('The creation of your session is done directly in the virtual classroom software. You then retrieve the link of the virtual room in the \'Virtual room URL\' field. Your link is not yet available? You can continue to create your session, it will remain in \'Draft\' status, it will be active as soon as you add the virtual classroom link') }}
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-6"
      >
        <div class="form__item">
          <label for="urlPath">{{ $translator.trans('Url virtual room') }}</label>
          <input
            id="urlPath"
            v-model="sessionToSaved.joinSessionWebUrl"
            name="joinSessionWebUrl"
            type="text"
            class="roomModel form-control"
          >
          <img
            src="/build/static/icons/question.svg"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            :title="$translator.trans('You can add the URL of the virtual room here. This information will be included in the invitation.')"
          >
        </div>
      </div>
      <div
        class="col-lg-6"
      >
        <div class="form__item">
          <label for="connectionInformation">{{ $translator.trans('Connection informations for the animator') }}</label>
          <textarea
            id="connectionInformation"
            v-model="sessionToSaved.connectionInformation"
            name="connectionInformation"
            type="text"
            class="roomModel form-control"
          />
          <img
            src="/build/static/icons/question.svg"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            :title="$translator.trans('Additional information for the animateur about connecting to the virtual room')"
          >
        </div>
      </div>
    </div>
    <!--    <div
      v-if="clientData.provider.automaticLicensing"
      class="row"
    >
      <div class="col">
        <alert
          type="info"
          :text="$translator.trans('This account has an automatic allocation of organizer licenses. You do not have the possibility to choose the organizer license yourself')"
        />
      </div>
    </div>
    <div
      v-else
      class="row"
    >
      <div class="col-lg-6">
        <div class="form__item">
          <label for="whiteConnectorLicence">{{ $translator.trans('Organizer license') }}</label>
          <select
            id="whiteConnectorLicence"
            v-model="sessionToSaved.licence"
            name="whiteConnectorLicence"
            :class="['form-control', {
              'is-invalid' : !errorsFields.licence.notnull['is-valid']
            }]"
            @change="validateField()"
          >
            <option
              v-for="licence in clientData.provider.licences"
              :key="licence"
            >
              {{ licence }}
            </option>
          </select>
          <img
            src="/build/static/icons/question.svg"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            :title="$translator.trans('Specifies the license to be used for the session')"
          >
          <div
            v-if="!errorsFields.licence.notnull['is-valid']"
            class="invalid-feedback d-block"
          >
            {{ errorsFields.licence.notnull.message }}
          </div>
        </div>
      </div>
    </div>-->
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'CreateSessionWhiteConnector',
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'clientData']),
    ...mapState('sessionWizardCreation', ['errorsFields', 'formSuccess'])
  },
  methods: {
    validateField () {
      this.$store.dispatch('sessionWizardCreation/validateFields')
        .then(() => {
          this.$emit('errorTabs', { tab: 'general', success: this.formSuccess })
        })
    }
  }
}
</script>
