<template>
  <div>
    <h3>{{ $translator.trans('Room') }}</h3>
    <div class="row">
      <div class="col-lg-12">
        <div
          class="alert alert-info alert-dismissible container"
        >
          {{ $translator.trans("One small step to activate your session: enter your training address. Not yet available? No problem! You can continue, but your session will remain in \"Draft\" status until you enter the training address.") }}
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-6"
      >
        <div class="form__item">
          <label for="location">{{ $translator.trans('Place') }}</label>
          <input
            id="location"
            v-model="sessionToSaved.location"
            name="location"
            type="text"
            class="roomModel form-control"
          >
          <img
            src="/build/static/icons/question.svg"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            :title="$translator.trans('You can add the URL of the virtual room here. This information will be included in the invitation.')"
          >
        </div>
      </div>
      <div
        class="col-lg-6"
      >
        <div class="form__item">
          <label for="connectionInformation">{{ $translator.trans('Information for the animator') }}</label>
          <textarea
            id="connectionInformation"
            v-model="sessionToSaved.connectionInformation"
            name="connectionInformation"
            type="text"
            class="roomModel form-control"
          />
          <img
            src="/build/static/icons/question.svg"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            :title="$translator.trans('Additional information for the animateur about connecting to the virtual room')"
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'CreateSessionWhiteConnectorFaceToFace',
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'clientData']),
    ...mapState('sessionWizardCreation', ['errorsFields', 'formSuccess'])
  },
  methods: {
    validateField () {
      this.$store.dispatch('sessionWizardCreation/validateFields')
        .then(() => {
          this.$emit('errorTabs', { tab: 'general', success: this.formSuccess })
        })
    }
  }
}
</script>
