<template>
  <div>
    <div
      v-if="clientData.provider.automaticLicensing"
      class="row"
    >
      <div class="col">
        <alert
          type="info"
          :text="$translator.trans('This account has an automatic allocation of organizer licenses. You do not have the possibility to choose the organizer license yourself')"
        />
      </div>
    </div>
    <div
      v-else
      class="row"
    >
      <div class="col-lg-6">
        <div class="form__item">
          <label for="microsoftTeamsLicence">{{ $translator.trans('Organizer license') }}</label>
          <alert
            v-if="!clientData.provider.automaticLicensing && clientData.provider.licences.length === 0"
            :text="$translator.trans('Please note that no licenses are available for this time slot.')"
            type="warning"
          />
          <template v-else>
            <select
              id="microsoftTeamsLicence"
              v-model="sessionToSaved.licence"
              name="microsoftTeamsLicence"
              :class="['form-control', {
                'is-invalid' : !errorsFields.licence.notnull['is-valid']
              }]"
              @change="validateField()"
            >
              <option
                v-for="(key, licence) in clientData.provider.licences"
                :key="licence"
              >
                {{ licence }}
              </option>
            </select>
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('Specifies the license to be used for the session')"
            >
            <div
              v-if="!errorsFields.licence.notnull['is-valid']"
              class="invalid-feedback d-block"
            >
              {{ errorsFields.licence.notnull.message }}
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Alert        from '../../../../ui/Alert'

export default {
  name: 'CreateSessionMicrosoftTeams',
  components: { Alert },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'clientData']),
    ...mapState('sessionWizardCreation', ['errorsFields', 'formSuccess'])
  },
  methods: {
    validateField () {
      this.$store.dispatch('sessionWizardCreation/validateFields')
        .then(() => {
          this.$emit('errorTabs', { tab: 'general', success: this.formSuccess })
        })
    }
  }
}
</script>
