<template>
  <div
    class="wrapper-content-dashboard-stats__session wrapper-container h-100"
  >
    <div
      class="wrapper-content-dashboard-stats__session__title d-flex align-items-center justify-content-between"
    >
      <h2>{{ $translator.trans('Feeling of assistants') }}</h2>
    </div>
    <div
      class="wrapper-content-dashboard-stats__session__content d-flex justify-content-center align-items-center h-100"
    >
      <div class="wrapper-content-sessions__current-stats__infos__table table-responsive col-12">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <td>
                <img
                  src="/build/static/icons/grin-beam.svg"
                  class="me-2"
                  style="width: 20px;"
                ><!--<img src="/build/static/icons/star.svg">-->
              </td>
              <td>{{ $translator.trans('RessentiPositif') }}</td>
              <td>{{ positiveFeeling }}</td>
            </tr>
            <tr>
              <td>
                <img
                  src="/build/static/icons/sad-tear.svg"
                  class="me-2"
                  style="width: 20px;"
                >
              </td>
              <td>{{ $translator.trans('RessentiNegatif') }}</td>
              <td>{{ negativeFeeling }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DashboardIndicatorFeelingAssistants',
  props: {
    positiveFeeling: {
      type: String,
      default: '0',
      require: true
    },
    negativeFeeling: {
      type: String,
      default: '0',
      require: true
    }
  }
}
</script>
