<template>
  <div
    class="wrapper-content-dashboard-stats__session wrapper-container"
    style="min-height: 240px"
  >
    <div
      class="wrapper-content-dashboard-stats__session__title d-flex align-items-center justify-content-between mb-30"
    >
      <h2>{{ $translator.trans('Sessions') }}</h2>
    </div>
    <div class="wrapper-content-dashboard-stats__session__content d-flex">
      <div class="wrapper-content-dashboard-stats__session__content__count col-lg-12 col-xxl-5">
        <div
          class="wrapper-content-dashboard-stats__session__content__count__round d-flex align-items-center justify-content-center"
        >
          <span>{{ sessions }}</span>
        </div>
      </div>
      <div class="wrapper-content-sessions__current-stats__infos__table table-responsive col-lg-12 col-xxl-7">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <td>{{ $translator.trans('Animators') }}</td>
              <td>{{ animators }}</td>
            </tr>
            <tr>
              <td>{{ $translator.trans('Trainees') }}</td>
              <td>{{ participants }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <small>{{ $translator.trans('Includes cancelled sessions') }}</small>
  </div>
</template>

<script>
export default {
  name: 'DashboardSessionIndicator',
  props: {
    sessions: {
      type: Number,
      default: 0,
      require: true
    },
    animators: {
      type: Number,
      default: 0,
      require: true
    },
    participants: {
      type: Number,
      default: 0,
      require: true
    }
  }
}
</script>
