<template>
  <div>
    <h3 class="mb-3">
      {{ $translator.trans('Indicator') }}
    </h3>
    <div
      id="wrapper-content-dashboard-stats"
      class="wrapper-content-dashboard-stats"
    >
      <div class="row mb-30">
        <div class="col-lg-12 col-xl-6 col-xxl-4">
          <dashboard-session-indicator
            :sessions="statistics.nbrSession"
            :animators="statistics.nbrAnimators"
            :participants="statistics.nbrTrainees"
          />
          <!-- TODO AJOUTER LE NOMBRE DE PARTICIPANT -->
        </div>
        <div class="col-lg-12 col-xl-6 col-xxl-4">
          <!-- TODO AJOUTER LA MOYENNE GLOBAL DE L'ASSISTANCE -->
          <dashboard-session-quality-assistance :average="statistics.averageEvaluationsAssistants" />
        </div>
        <div class="col-lg-12 col-xl-6 col-xxl-4">
          <!-- TODO AJOUTER LA MOYENNE GLOBAL DE L'ASSISTANCE -->
          <dashboard-indicator-feeling-assistants
            :negative-feeling="statistics.averageNegativeFeeling"
            :positive-feeling="statistics.averagePositiveFeeling"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DashboardSessionIndicator from './DashboardIndicatorSessionIndicator.vue'
import DashboardSessionQualityAssistance from './DashboardIndicatorQualityAssistance.vue'
import DashboardIndicatorFeelingAssistants from './DashboardIndicatorFeelingAssistants.vue'

export default {
  name: 'DashboardIndicator',
  components: { DashboardIndicatorFeelingAssistants, DashboardSessionQualityAssistance, DashboardSessionIndicator },
  props: {
    statistics: {
      type: Object,
      default: () => ({}),
      require: true
    }
  }
}
</script>
