<template>
  <div
    class="wrapper-content-dashboard-stats__session wrapper-container h-100"
  >
    <div
      class="wrapper-content-dashboard-stats__session__title d-flex align-items-center justify-content-between"
    >
      <h2>{{ $translator.trans('Quality of assistance') }}</h2>
    </div>
    <div
      class="wrapper-content-dashboard-stats__session__content d-flex justify-content-center align-items-center h-100"
    >
      <div class="wrapper-content-dashboard-stats__session__title text-center">
        <h2>{{ $translator.trans('Global average') }}</h2>
        <h3 class="mt-2">
          {{ average.toFixed(2) }}
        </h3>
        <!--        <star-rating :rating="average" />-->
        <div class="align-items-center">
          <div v-html="roundAndDisplayStars()" />
          <!--          <div v-for="i in 4" :key="i">
            <img :src="getStarImage(i)" style="width: 20px;" />
          </div>-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'DashboardSessionQualityAssistance',
  props: {
    average: {
      type: String,
      default: '0',
      require: true
    }
  },
  /* data () {
    return {
      note: 3.76
    }
  }, */
  methods: {
    roundAndDisplayStars: function () {
      const roundedScore = Math.round(parseFloat(this.average) * 2) / 2 // arrondi à 0.5
      const starCount = Math.min(Math.max(roundedScore, 0), 4) // plage de notes de 1 à 4
      const fullStarCount = Math.floor(starCount) // nombre d'étoiles pleines
      const hasHalfStar = (starCount - fullStarCount) > 0 // détermine s'il y a une demi-étoile
      let starDisplay = '<div>'

      for (let i = 1; i <= fullStarCount; i++) {
        starDisplay += '<img src="/build/static/icons/star.svg" style="width: 20px;" alt="Full Star"> ' // étoile pleine
      }
      if (hasHalfStar) {
        starDisplay += '<img src="/build/static/icons/rating.svg" style="width: 20px;" alt="Half Star"> ' // demi-étoile
      }
      for (let i = 1; i <= (4 - fullStarCount - (hasHalfStar ? 1 : 0)); i++) {
        starDisplay += '<img src="/build/static/icons/star-vide.svg" style="width: 20px;" alt="Blank Star"> ' // étoile vide
      }
      starDisplay += '</div>'
      return starDisplay
    }
  }
}
</script>
