@import "day-wrapper/day_wrapper";
@import "subject/subject";

.self-subscription-hub #ss-home {
	& > .card {
		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}

.module-banner {
	background-position: 50%!important;
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background: var(--header-banner) #FFF;

	.module-container {
		margin: 90px 0;
		background: rgba(255, 255, 255, 1);
		border-radius: 10px;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.24);
		width: 646px;

		.module-content {
			height: auto;
		}

		.module-infos {
			padding: 33px 40px 40px;

			.heading-replay {
				position: relative;
				color: #D0021B;
				font-size: 14px;
				font-weight: bold;
				text-transform: uppercase;
				text-align: center;
				display: flex;
				justify-content: center;
				align-content: center;
			}

			.module-desc {
				h2 {
					font-size: 26px;
					line-height: 32px;
				}

				.infos ul {
					li {
						svg, img {
							width: 24px;
							height: 24px;
						}
					}
					.info-session i {
						font-size: 22px;
					}

					.text {
						font-weight: bold;
						font-size: 16px;
						line-height: 19px;
					}
				}
			}

			.module-form {
				.form-group {
					border-radius: 10px;
					.input-group {
						.input-group-append {
							.event-subscribe-btn {
								border-radius: 0;
								padding: 10px;
								height: 45px;
							}
						}
					}
				}

			}
		}
	}
}
