@import "variables";
@import "bootstrap/bootstrap";
@import "fonts";
@import "form";
@import "header";
@import "main/main";
@import "home";
@import "vue-slick-carousel/vue-slick-carousel";
@import "../styles_speakers";


.cursor-pointer {
	cursor: pointer;
}

.w-32 {
	width: 32% !important;
}

.fs-7 {
	font-size: 0.75rem !important;
}

.form-control {
	&.inline {
		display: inline;
		width: auto;
	}
}

.self-subscription-hub {
	background: $c-white;

	.navbar-module-logo {
		width: 100px;
		height: 100px;
		object-fit: contain;
	}

	.preview-module-logo {
		height: 150px;
		width: 50%;
		object-fit: contain;
	}

	.navbar {
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
	}

	i[class^=icon]{
		&.reverse {
			transform: scaleX(-1);
		}
		text-decoration-line: none !important;
	}

	h1 {
		font-size: 1.5rem;
		font-weight: normal;
		line-height: 1.35;
	}

	footer {
		border-top: 1px solid $c-white-dark-10;

		.logo {
			width: 20rem;

			@include media-breakpoint-down(sm) {
				width: auto;
			}
		}
	}

	.rules-visualiser {
		ul {
			padding-left: 0;

			> li {
				text-align: left;
				list-style: none;
			}
		}

	}

	.home-title {
		font-size: 2rem;
		margin: 1.5rem 1rem;
	}

	hr {
		background: $c-white-dark-20;
	}

	.btn:focus {
		outline: none !important;
		box-shadow: none !important;
	}

	.alert {
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 10px 25px;
		font-size: 15px;
		line-height: 1.4667;
		border-radius: 25px;

		&-danger {
			background: #E53107;
			color: #fff;
		}

		&-success {
			background: #80BC00;
			color: #fff;
		}

		&-warning {
			background: #fff9e6;
			color: #000;
		}

		&-info {
			color: #055160;
			background-color: #cff4fc;
			border-color: #b6effb;
		}

	}

	.btn-round-action {
		width: 3.2rem;
		height: 3.2rem;
		font-size: 1.8rem;
		padding: 0;
	}
}

.vdatetime-input {
	background-color: $white;
	border: $border-width solid $gray-500;
	border-radius: 1.5rem !important;
}

.vdatetime-popup {
	z-index: 10000 !important;
}
.vdatetime-overlay {
	z-index: 9999 !important;
}

.module-illustration-container {
	@include media-breakpoint-down(sm) {
		height: 200px;
	}
	.module-illustration-content {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
