<template>
  <div
    id="formEvalSynthModal"
    ref="surveyModalComponent"
    class="modal fade"
    tabindex="-1"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="d-flex flex-column align-items-start">
            <h5
              id="exampleModalLabel"
              class="modal-title"
            >
              {{ $translator.trans('End-of-session evaluation form') }}
            </h5>
            <span>{{ $translator.trans('Evaluation after session - Synthesis') }}</span>
          </div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div class="modal-body d-flex justify-content-center">
          <div class="d-flex flex-column align-items-center w-100">
            <div class="session-title text-center">
              <h2>{{ session.name }}</h2>
            </div>
            <div class="session-desc mb-34 mt-10 text-center">
              <p class="text-center">
                {{ $translator.trans('Reference n° %field_1% - %field_2% - Duration %field_3%', {field_1: session.ref, field_2: dateStartLocalized, field_3: session.datesDiffString}) }}
              </p>
            </div>
            <div class="session-form">
              <live-session-survey-analytics
                ref="surveyChartModal"
                :evaluation-id="evaluationId"
                :survey-id="surveyId"
                :answers="answers"
                :locale="session.locale"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
          >
            {{ $translator.trans('Close') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import LiveSessionSurveyAnalytics from '../../../Survey/LiveSessionSurveyAnalytics'

export default {
  name: 'EvaluationSynthesisModal',
  components: { LiveSessionSurveyAnalytics },
  computed: {
    ...mapGetters({ session: 'session/getSession' }),
    evaluationId () {
      return this.session.evaluations[0].id
    },
    surveyId () {
      return this.session.evaluations[0].surveyId
    },
    dateStartLocalized () {
      return this.$options.filters.formatDate(this.session.dateStart, 'datetime_med')
    },
    answers () {
      const answers = []
      this.session.participantRoles.forEach(role => {
        if (this.evaluationId in role.answers) {
          answers.push(role.answers[this.evaluationId].answer.data)
        }
      })
      return answers
    }
  },
  mounted () {
    this.$refs.surveyModalComponent.addEventListener('show.bs.modal', () => {
      this.$refs.surveyChartModal.updateChart()
    })
  }
}
</script>

<style scoped>
  .session-form {
    width: 100%;
  }
</style>
