<template>
  <div
    id="synthese-answers"
    class="row mb-24"
  >
    <div class="col-lg-12">
      <div class="encadre d-flex align-items-center justify-content-between">
        <div>
          <p>
            {{
              $translator.trans('%answer_percentil%% of respondents (%answer%/%total%)',
                                {
                                  answer_percentil: answerPercentile,
                                  answer: answer,
                                  total: total
                                })
            }}
          </p>
        </div>
      </div>
      <template v-if="answer > 0" />
    </div>
  </div>
</template>

<script>

export default {
  name: 'EvaluationSessionResult',
  props : {
    participantRoles: {
      type: Object,
      required: true
    }
  },
  computed: {
    total () {
      return this.participantRoles.total
    },
    answer () {
      return this.participantRoles.answer
    },
    answerPercentile () {
      if (this.total === 0) {
        return 0
      }
      return Math.round((this.answer * 100) / this.total)
    }
  },
  methods: {

  }
}
</script>
