<template>
  <div class="data-list__row">
    <div class="row__data">
      {{ participant.participant.fullName }}
    </div>
    <div class="row__data">
      {{ humanizeRole }}
    </div>
    <div class="row__data d-flex justify-content-end">
      <template v-if="hasResponded">
        <img
          src="/build/static/icons/open-target.svg"
          :data-bs-target="'#' + idModal"
          data-bs-toggle="modal"
          role="button"
        >
        <div
          :id="idModal"
          class="modal fade"
          tabindex="-1"
        >
          <!--      === MODAL ===   -->
          <preview-evaluation-session-modal
            :key="evaluationSession.evaluation.surveyId"
            :survey-id-selected="evaluationSession.evaluation.surveyId"
            :locale="session.language"
            :answer="answer"
            :title-modal="$translator.trans('Answer of %participant%', {'participant': participant.participant.fullName})"
          />
          <!--      === MODAL ===   -->
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import PreviewEvaluationSessionModal from './PreviewEvaluationSessionModal'

export default {
  name: 'EvaluationSessionParticipantResultLineItem',
  components: { PreviewEvaluationSessionModal },
  props: {
    participant: {
      type: Object,
      required: true
    },
    evaluationSession: {
      type:     Object,
      required: true
    }
  },
  computed: {
    ...mapGetters({ session: 'session/getSession' }),
    idModal () {
      return 'previewModal' + this.evaluationSession.id + this.participant.id
    },
    humanizeRole () {
      if (this.participant.role === 'animator') {
        return this.$translator.trans('Animator')
      }
      return this.$translator.trans('Participant')
    },
    answer () {
      return this.correspondingAnswer
    },
    hasResponded () {
      return this.participant.evaluationSessionAnswers.some(answer => answer.evaluationProviderSession.id === this.evaluationSession.id)
    },
    correspondingAnswer () {
      const foundSessionAnswer = this.participant.evaluationSessionAnswers.find(answer =>
        answer.evaluationProviderSession && answer.evaluationProviderSession.id === this.evaluationSession.id
      )
      return foundSessionAnswer ? foundSessionAnswer.answer.data : []
    }
  }
}
</script>

<style scoped>

</style>
