<template>
  <div
    id="table-participants-eval"
    class="row"
  >
    <div class="col-lg-12">
      <div class="data-list table-participants">
        <div class="table-content data-list__row-small">
          <evaluation-session-participant-result-line-item
            v-for="participant in participantRoles.participants"
            :key="participant.id"
            :participant="participant"
            :evaluation-session="evaluationSession"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import EvaluationSessionParticipantResultLineItem from './EvaluationSessionParticipantResultLineItem'

export default {
  name: 'EvaluationSessionParticipantsResult',
  components: { EvaluationSessionParticipantResultLineItem },
  props: {
    participantRoles: {
      type: Object,
      required: true
    },
    evaluationSession: {
      type:     Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
