<template>
  <div>
    <div
      class="collapsed row"
    >
      <div
        class="col-4"
        style="padding-top: 10px"
      >
        <span>{{ userFullName }}</span>
      </div>
      <div class="d-flex justify-content-end col-8">
        <div class="session-btn-form-eval-end-session">
          <div v-if="providerSession.evaluationsProviderSession.length !== 0 && participantRole.answers.length !== 0">
            {{ $translator.trans('Answer sent') }}
          </div>
          <div v-else-if="providerSession.evaluationsProviderSession.length !== 0 && providerSession.evaluationAvailable">
            <a
              :href="$routing.generate( '_participant_evaluation_answer', {'id': providerSession.evaluationsProviderSession[0].id ,'token': participantRole.providerSessionAccessToken.token} )"
              class="btn primary-button d-flex align-items-center"
            >
              <img
                src="/build/static/icons/open-target-white.svg"
                alt="picto open target white"
                class="me-2"
              >
              <span>{{ $translator.trans('Open the quiz') }}</span>
            </a>
          </div>
          <div v-else>
            <a
              class="btn btn-light d-flex align-items-center"
              role="button"
            >
              <img
                src="/build/static/icons/open-target-white.svg"
                alt="picto open target white"
                class="me-2"
              >
              <span>{{ $translator.trans('Open the quiz') }} </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    participantRole: {
      type: Object,
      required: true
    },
    providerSession: {
      type: Object,
      required: true
    }
  },
  computed: {
    userFullName () {
      return this.participantRole.participant.user.firstName + ' ' + this.participantRole.participant.user.lastName
    }
  }
}
</script>

<style>
.form__fieldset {
  background: transparent !important;
  border: none !important;
}
#sv-nav-complete {
  padding-left: 40px !important;
  margin-right: auto !important;
}
.btn-primarydd {
  background: red !important;
  color: whitesmoke;
  border-color: var(--primary-color) !important;
}
</style>
