<template>
  <div
    id="evaluationSignature"
    class="d-flex flex-column"
  >
    <div class="page-options-bar-none">
      <div
        v-if="!participantRolesData[0]"
        v-responsive.lg.xl
      >
        <div class="d-flex part-1">
          <div class="page-options-bar__item pr">
            <div class="page-options-bar__item__search with-result">
              <!--              <label for="searchInParticipant">
                <img src="/build/static/icons/search.svg">
              </label>-->
              <input
                id="searchInParticipant"
                v-model="globalParticipantSearchInput"
                type="search"
                name="searchInParticipant"
                class="px-4"
                :placeholder="$translator.trans('Email used for registration')"
                style="background: #FFFFFF; border-radius: 50px"
              >
            </div>
          </div>
        </div>
      </div>

      <button
        v-if="!participantRolesData[0]"
        type="button"
        :disabled="!isValidEmail(globalParticipantSearchInput)"
        class="btn primary-button mt-21 mb-20 px-4"
        @click="globalSearchParticipants"
      >
        Suivant
      </button>

      <div v-responsive.md>
        <div class="d-flex part-1">
          <div class="page-options-bar__item pr">
            <div class="page-options-bar__item__search with-result">
              <label for="searchInParticipant">
                <img src="/build/static/icons/search.svg">
              </label>
              <input
                id="searchInParticipant"
                v-model="globalParticipantSearchInput"
                type="search"
                name="searchInParticipant"
                :placeholder="$translator.trans('Find your email')"
                style="background: #FFFFFF"
                @keydown="globalSearchParticipants"
              >
            </div>
          </div>
        </div>
      </div>

      <div v-responsive.sm.xs>
        <div class="d-flex part-1">
          <div class="page-options-bar__item__search with-result">
            <label for="searchInParticipant">
              <img src="/build/static/icons/search.svg">
            </label>
            <input
              id="searchInParticipant"
              v-model="globalParticipantSearchInput"
              type="search"
              name="searchInParticipant"
              :placeholder="$translator.trans('Find your email')"
              style="background: #FFFFFF;width: 300px;"
              @keydown="globalSearchParticipants"
            >
          </div>
        </div>
      </div>
    </div>

    <div
      v-if="finded == '1'"
      class="alert alert-warning alert-dismissible container mb-4"
    >
      {{ $translator.trans('We do not have this email in the list of subscribers. Please check that there is no error in the email and that it is indeed the email used for your registration.') }}
    </div>

    <div
      v-if="participantRolesData[0]"
      class="mb-3"
    >
      <p>{{ $translator.trans('%participant%, you have %count% questions waiting to be answered.', { participant: participantRolesData[0].participant.user.firstName + ' ' + participantRolesData[0].participant.user.lastName, count: participantRolesData[0].session.evaluationsProviderSession.length }) }}</p>
    </div>
    <section class="align-items-center mt-2">
      <!--        ingenierie@live-session.fr      -->
      <div class="data-lists align-items-center">
        <div class="table-contents align-items-center">
          <evaluation-lobby-list-item
            v-for="participant in participantRolesData"
            :key="participant.id"
            :provider-session="providerSession"
            :participant-role="participant"
          />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { isValidEmail }        from '../../self-subscription-hub/login-register/rules-visualizer/email-checker.utils'
import EvaluationLobbyListItem from './EvaluationLobbyListItem'
import _                       from 'lodash'

export default {
  name: 'EvaluationLobby',
  components: { EvaluationLobbyListItem },
  props: {
    client: {
      type: Object,
      required: true
    },
    providerSession: {
      type: Object,
      required: true
    },
    participantRoles: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      globalParticipantSearchInput: '',
      participantRolesData: this.participantRoles,
      finded: '0'
    }
  },
  methods: {
    isValidEmail,
    globalSearchParticipants: _.debounce(function () {
      if (isValidEmail(this.globalParticipantSearchInput)) {
        this.$axios.get(this.$routing.generate('_session_evaluation_lobby_filter_search', { id:this.providerSession.id, search:this.globalParticipantSearchInput }))
          .then(response => {
            if (response.data.length === 0) {
              this.finded = '1'
            } else {
              this.finded = '2'
            }
            this.participantRolesData = response.data
          })
      } else {
        this.participantRolesData = null
      }
    }, 250)
  }
}
</script>

<style scoped lang="css">
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
</style>
