<template>
  <div class="row">
    <div class="col-12">
      <h6 class="mb-3 form-subtitle">
        {{ $translator.trans('Type of billing') }}
      </h6>

      <div
        v-if="success"
        class="text-primary mt-2"
      >
        {{ $translator.trans('Billing settings have been saved') }}
      </div>

      <div
        v-if="errorMessage !== null"
        class="text-danger mt-2"
      >
        {{ errorMessage }}
        <template v-if="'client' in errors">
          <ul v-if="'client' in errors">
            <li
              v-for="(error, key) in errors"
              :key="key"
            >
              {{ key }} - {{ error }}
            </li>
          </ul>
        </template>
      </div>

      <input
        id="input-billing-mode-session"
        v-model="billingMode"
        type="radio"
        name="billing-mode"
        :value="0"
        class="form-check-input"
      >
      <label for="input-billing-mode-session">{{ $translator.trans('Consumption (end of month)') }}</label>
      <input
        id="input-billing-mode-credit"
        v-model="billingMode"
        type="radio"
        name="billing-mode"
        :value="1"
        class="form-check-input ms-4"
      >
      <label for="input-billing-mode-credit">{{ $translator.trans('Session credit') }}</label>
      <input
        id="input-billing-mode-credit-participant"
        v-model="billingMode"
        type="radio"
        name="billing-mode"
        :value="2"
        class="form-check-input ms-4"
      >
      <label for="input-billing-mode-credit-participant">{{ $translator.trans('Participant credits') }}</label>
      <div
        v-if="'billingMode' in errors"
        class="text-danger"
      >
        {{ errors.billingMode }}
      </div>
      <div class="text-end mt-3">
        <button
          type="submit"
          class="primary-btn"
          @click="saveBillingSettings"
        >
          <loader
            v-if="saving"
            class="me-1"
          />
          <img
            v-else
            src="/build/static/icons/check-white.svg"
            class="me-1"
          >
          {{ $translator.trans('Save') }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Loader from '../../ui/Loader'
import { mapState } from 'vuex'

export default {
  name: 'BillingModeForm',
  components: { Loader },
  data () {
    return {
      billingMode: 0,
      saving: false,
      errorMessage: null,
      errors: {},
      success: false
    }
  },
  computed: {
    ...mapState('client', ['client'])
  },
  mounted () {
    this.billingMode = this.client.billingMode
  },
  methods: {
    saveBillingSettings () {
      this.saving = true
      this.success = false
      this.errorMessage = null
      this.errors = {}
      this.$axios.post(
        this.$routing.generate('_client_save_billing_settings', { id: this.client.id }),
        {
          billingMode: this.billingMode
        }
      ).then((response) => {
        this.saving = false
        this.success = true
        this.client.billingMode = this.billingMode
      }).catch((error) => {
        this.saving = false
        if (!('response' in error) || !('data' in error.response) || !('message' in error.response.data) || !('text' in error.response.data.message)) {
          this.errorMessage = this.$translator.trans('An error has occurred')
          return
        }

        const data = error.response.data.message
        this.errorMessage = this.$translator.trans(data.text)

        if ('data' in data) {
          this.errors = data.data
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
