<template>
  <div class="row">
    <div
      v-if="isParticipantsBillingMode"
      class="col-md-12 mb-5"
    >
      <em>
        {{ $translator.trans('A credit is counted as soon as a participant is registered for a session. Participants registered for sessions with the following status: test, draft, cancelled, deleted are not counted as credits') }}
      </em>
      <br>
    </div>
    <div
      v-else-if="isSessionsBillingMode"
      class="col-md-12 mb-5"
    >
      <em>
        {{ $translator.trans('A credit is counted as soon as a session is created. Sessions with the following status: test, draft, cancelled, deleted are not counted as credits') }}
      </em>
      <br>
    </div>
    <div class="col-12 mt-5 wrapper-content-dashboard-stats">
      <div
        v-if="!isParticipantsBillingMode"
        class="wrapper-content-dashboard-stats__session__content d-flex justify-content-around"
      >
        <div
          v-if="isSessionsBillingMode"
          class="wrapper-content-dashboard-stats__session__content__count my-2"
        >
          <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="wrapper-content-dashboard-stats__session__content__count__total reduced-centered">
              <h4>{{ $translator.trans('Added credit.s') }}</h4>
            </div>
            <div class="wrapper-content-dashboard-stats__session__content__count__round bg-green d-flex align-items-center justify-content-center">
              <span>{{ client.allowedCredit }}</span>
            </div>
          </div>
        </div>
        <div class="wrapper-content-dashboard-stats__session__content__count my-2 ms-5">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="wrapper-content-dashboard-stats__session__content__count__total reduced-centered">
              <h4>{{ $translator.trans('Sessions created') }}</h4>
            </div>
            <div class="wrapper-content-dashboard-stats__session__content__count__round bg-teal d-flex align-items-center justify-content-center">
              <span>{{ client.currentSessionCount }}</span>
            </div>
          </div>
        </div>
        <div
          v-if="isSessionsBillingMode"
          class="wrapper-content-dashboard-stats__session__content__count my-2 ms-5"
        >
          <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="wrapper-content-dashboard-stats__session__content__count__total reduced-centered">
              <h4>{{ $translator.trans('Remaining credit.s') }}</h4>
            </div>
            <div class="wrapper-content-dashboard-stats__session__content__count__round bg-teal d-flex align-items-center justify-content-center">
              <span>{{ client.remainingCredit }}</span>
            </div>
          </div>
        </div>
      </div>
      <div
        v-else
        class="wrapper-content-dashboard-stats__session__content d-flex justify-content-around"
      >
        <div class="wrapper-content-dashboard-stats__session__content__count my-2">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="wrapper-content-dashboard-stats__session__content__count__total reduced-centered">
              <h4>{{ $translator.trans('Added credit.s') }}</h4>
            </div>
            <div class="wrapper-content-dashboard-stats__session__content__count__round bg-green d-flex align-items-center justify-content-center">
              <span>{{ client.allowedCreditParticipants }}</span>
            </div>
          </div>
        </div>
        <div class="wrapper-content-dashboard-stats__session__content__count my-2 ms-5">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="wrapper-content-dashboard-stats__session__content__count__total reduced-centered">
              <h4>{{ $translator.trans('Registered participants') }}</h4>
            </div>
            <div class="wrapper-content-dashboard-stats__session__content__count__round bg-teal d-flex align-items-center justify-content-center">
              <span>{{ client.currentParticipantsCount }}</span>
            </div>
          </div>
        </div>
        <div class="wrapper-content-dashboard-stats__session__content__count my-2 ms-5">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="wrapper-content-dashboard-stats__session__content__count__total reduced-centered">
              <h4>{{ $translator.trans('Remaining credit.s') }}</h4>
            </div>
            <div class="wrapper-content-dashboard-stats__session__content__count__round bg-teal d-flex align-items-center justify-content-center">
              <span>{{ client.remainingCreditParticipants }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'BillingStatistics',
  computed: {
    ...mapState('client', ['client']),
    isSessionsBillingMode: function () {
      return this.client.billingMode === 1
    },
    isParticipantsBillingMode: function () {
      return this.client.billingMode === 2
    }
  }
}
</script>
