<template>
  <div class="form__item mt-3 mb-3">
    <div class="input-group">
      <input
        v-model="credit"
        class="form-control inline"
        type="number"
      >
      <span
        class="input-group-text bg-primary text-white cursor-pointer"
        @click="addCredit"
      >
        <loader
          v-if="processing"
          class="me-1"
        />
        <img
          v-else
          src="/build/static/icons/save-for-later-white.svg"
          class="me-1"
        >
        {{ $translator.trans('Add credits') }}
      </span>
    </div>
    <div
      v-if="saved"
      class="text-primary mt-2"
    >
      {{ $translator.trans('Credits have been added with success') }}
    </div>
    <div
      v-if="errorMessage"
      class="text-danger mt-2"
    >
      {{ $translator.trans(errorMessage) }}
    </div>
  </div>
</template>

<script>
import Loader from '../../ui/Loader'
import { mapState } from 'vuex'

export default {
  name: 'CreditAdd',
  components: { Loader },
  data () {
    return {
      credit: 0,
      processing: false,
      saved: false,
      errorMessage: null
    }
  },
  computed: {
    ...mapState('client', ['client'])
  },
  methods: {
    addCredit () {
      this.processing = true
      this.saved = false
      this.errorMessage = null

      if (this.credit ===  0) {
        this.processing = false
        this.errorMessage = this.$translator.trans('Your input is zero. Please enter a valid value. Thank you.')
      } else {
        this.$axios.get(this.$routing.generate('_client_credit_add', { id: this.client.id, credit: this.credit }))
          .then((response) => {
            this.processing = false
            this.saved = true
            this.credit = 0
            this.errorMessage = null

            const data = response.data.message

            switch (this.client.billingMode) {
              case 1:
                this.client.allowedCredit = data.allowedCredit
                this.client.remainingCredit = data.remainingCredit
                this.client.creditAllocations.push(JSON.parse(data.creditAllocation))
                break
              case 2:
                this.client.allowedCreditParticipants = data.allowedCredit
                this.client.remainingCreditParticipants = data.remainingCredit
                this.client.creditAllocationsParticipants.push(JSON.parse(data.creditAllocation))
                break
            }
            this.client.expirationDateCredits = data.expirationDateCredits
          }).catch(() => {
            this.processing = false
            this.errorMessage = this.$translator.trans('An error has occurred')
          })
      }
    }
  }
}
</script>
