<template>
  <div class="data-list__row">
    <div class="row__data">
      {{ creditAllocation.createdAt|formatDate("datetime_med") }}
    </div>
    <div class="row__data">
      {{ creditAllocation.allowedCredit }}
    </div>
    <div class="row__data">
      {{ expirationDate|formatDate("datetime_med") }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'CreditAllocationItem',
  props: {
    creditAllocation: {
      type: Object,
      required: true
    },
    expirationDate: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
