<template>
  <div class="row">
    <div class="col-12 mt-5">
      <h4>{{ $translator.trans('Credit additions') }}</h4>
      <credit-add />
      <credit-allocation-list />
    </div>
  </div>
</template>

<script>
import CreditAdd from './CreditAdd'
import { mapState } from 'vuex'
import CreditAllocationList from './CreditAllocationList'

export default {
  name: 'CreditHistory',
  components: { CreditAllocationList, CreditAdd },
  computed: {
    ...mapState('client', ['client'])
  }
}
</script>
