<template>
  <div>
    <br>
    <div class="col-md-12 mb-5">
      <em>
        {{ $translator.trans('End date of validity of credits. After this date, the remaining credits will be lost. By default, credits are valid for 1 year.') }}
      </em>
      <br>
    </div>
    <div class="data-list">
      <div class="data-list__header">
        <div class="data-list__header__item ps-3">
          {{ $translator.trans( 'Date Added' ) }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans( 'Credits' ) }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans( 'Expiration date' ) }}
        </div>
      </div>
      <div class="data-list table-content data-list__row-small">
        <credit-allocation-item
          v-for="creditAllocation in creditAllocations"
          :key="creditAllocation.id"
          :credit-allocation="creditAllocation"
          :expiration-date="client.expirationDateCredits"
        />
      </div>
    </div>
  </div>
</template>

<script>
import CreditAllocationItem from './CreditAllocationItem'
import { mapState } from 'vuex'
export default {
  name: 'CreditAllocationList',
  components: { CreditAllocationItem },
  computed: {
    ...mapState('client', ['client']),
    creditAllocations () {
      switch (this.client.billingMode) {
        case 1:
          return this.client.creditAllocations.slice().reverse()
        case 2:
          return this.client.creditAllocationsParticipants.slice().reverse()
        default:
          return []
      }
    }
  }
}
</script>
