<template>
  <div>
    <div class="mb-2">
      <div class="d-flex align-items-center justify-content-between">
        <h5>{{ $translator.trans( 'Sending statistics' ) }}</h5>
        <a
          href="#"
        >{{ $translator.trans('Export sending statistics') }}</a>
      </div>
    </div>

    <loader v-if="statistics === null" />
    <div v-else>
      <div class="d-flex justify-content-center mt-5">
        <div style="width: 300px;">
          <div style="text-align: center;">
            <span style="font-size: 1.75rem; font-weight: 600;">{{ deliveredSms }}</span> / {{ participants.participantsWhoCanReceiveSms }}
          </div>
          <div style="text-align: center;">
            {{ $translator.trans('Delivered') }}
          </div>
        </div>
        <div style="width: 300px;">
          <div style="text-align: center;">
            <span style="font-size: 1.75rem; font-weight: 600;">{{ statistics }}</span>
          </div>
          <div style="text-align: center;">
            {{ $translator.trans('Not issued') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'
import Loader from '../../../ui/Loader.vue'

export default {
  name: 'SmsCommunicationStatistics',
  components: { Loader },
  props: {
    participants: {
      type: Object,
      required: true
    },
    webinarConvocation: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      statistics: null
    }
  },
  computed: {
    ...mapGetters({ session: 'session/getSession' }),
    deliveredSms () {
      if (!this.webinarConvocation.sent) return 0
      return this.participants.participantsWhoCanReceiveSms - this.statistics
    }
  },
  mounted () {
    this.$axios.get(this.$routing.generate('_webinar_sms_statistics', { id: this.session.id })).then((response) => {
      this.statistics = response.data.message
    })
  }

}
</script>
