<template>
  <div class="col-5 p-2 border">
    <div class="mb-2">
      <div class="d-flex align-items-center justify-content-between">
        <h5>{{ $translator.trans('Example of an SMS with %count% characters.', {'count': smsExample.length}) }}</h5>
        <a
          href="#"
          data-bs-toggle="modal"
          data-bs-target="#test_sms_communication_modal"
        >{{ $translator.trans('Test my sms') }}</a>
      </div>
      <p class="mt-2">
        {{ smsExample }}
      </p>
      <hr>
    </div>

    <div class="mb-2">
      <p>
        {{ $translator.trans('Of your %participants% participants, %paritipantsWhoCanReceiveMessage% will be able to receive the message because their telephone number is valid.', {participants: participants.totalParticipants,
                                                                                                                                                                                     paritipantsWhoCanReceiveMessage: participants.participantsWhoCanReceiveSms}) }}
      </p>
      <hr>
    </div>

    <sms-communication-statistics
      :participants="participants"
      :webinar-convocation="webinarConvocation"
    />

    <test-sms-communication-modal :communication="webinarConvocation" />
  </div>
</template>

<script>
import TestSmsCommunicationModal from '../../../ui/modal/TestSmsCommunicationModal.vue'
import { routing } from '../../../../utils/app.utils'
import { mapGetters } from 'vuex'
import SmsCommunicationStatistics from './SmsCommunicationStatistics.vue'

export default {
  name: 'SmsCommunication',
  components: { SmsCommunicationStatistics, TestSmsCommunicationModal },
  props: {
    webinarConvocation: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      participants: {
        totalParticipants: 0,
        participantsWhoCanReceiveSms: 0
      }
    }
  },
  computed: {
    ...mapGetters({ session: 'session/getSession' }),
    ...mapGetters({ currentUser: 'currentUser/getCurrentUser' }),
    smsExample () {
      return this.$translator.trans('Hello %name%, The webinar "%title%" is about to start. Join by clicking on the link in your invitation.', { title: this.session.title, name: this.currentUser.firstName })
    }
  },
  mounted () {
    if (this.webinarConvocation.convocationType === 'sms') {
      this.$nextTick(() => {
        this.$axios.get(routing.generate('_participant_who_can_receive_sms', { session: this.session.id }))
          .then((response) => {
            this.participants = response.data.message
          })
      })
    }
  }
}
</script>
