<template>
  <div class="row">
    <alert
      v-if="successMessage !== ''"
      type="success"
      :text="successMessage"
    />
    <alert
      v-if="errorsFields.formSubmit !== ''"
      type="danger"
      :text="errorsFields.formSubmit"
    />

    <div class="col-4">
      <h6 class="mb-3 form-subtitle">
        {{ $translator.trans('Add a new evaluation form') }}
      </h6>
      <div class="row">
        <div class="col-10">
          <div class="form__item">
            <label
              for="title"
              class="required"
            >
              {{ $translator.trans('Title') }}
            </label>
            <input
              id="title"
              v-model="title"
              type="text"
              :class="['name form-control', {
                'is-invalid' : displayError('title')
              }]"
              @input="validateField()"
            >
            <div
              v-if="displayError('title')"
              class="invalid-feedback d-block"
            >
              {{ errorsFields.title.notnull.message }}
            </div>
          </div>
        </div>
        <div class="col-10">
          <div class="form__item">
            <label
              for="survey-id"
              class="required"
            >
              {{ $translator.trans('Form ID') }}
            </label>
            <input
              id="survey-id"
              v-model="surveyId"
              type="text"
              :class="['name form-control', {
                'is-invalid' : displayError('surveyId')
              }]"
              :disabled="surveyUpdated !== null"
              @input="validateField()"
            >
            <div
              v-if="displayError('surveyId')"
              class="invalid-feedback d-block"
            >
              {{ errorsFields.surveyId.notnull.message }}
            </div>
          </div>
        </div>
        <div class="col-10">
          <div class="form__item">
            <label for="organization-id">
              {{ $translator.trans('Organizations ID') }}
              <img
                src="/build/static/icons/question.svg"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                :title="$translator.trans('Paste here the link of the evaluation form created on Survey JS')"
              >
            </label>
            <input
              id="organization-id"
              v-model="organizationId"
              type="text"
              class="form-control"
              :disabled="surveyUpdated !== null"
              @input="validateField()"
            >
          </div>
        </div>
        <div class="col-10">
          <button
            :class="['btn float-end', {
              'btn-primary': errorsFields.formSuccess,
              'btn-light' : !errorsFields.formSuccess
            }]"
            @click="addNewSurveyForm"
          >
            <template v-if="surveyUpdated !== null">
              <img
                src="/build/static/icons/check-white.svg"
                class="me-2"
              >
              {{ $translator.trans('Save') }}
            </template>
            <template v-else>
              <img
                src="/build/static/icons/plus-white.svg"
                class="me-2"
              >
              {{ $translator.trans('Add') }}
            </template>
          </button>
        </div>
      </div>
    </div>

    <div class="col-8">
      <h6 class="mb-3 form-subtitle">
        {{ $translator.trans('Evaluation forms associated with the account') }}
      </h6>

      <div class="data-list">
        <div class="data-list__header">
          <div class="data-list__header__item">
            {{ $translator.trans('Name') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Form ID') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Organisation ID') }}
          </div>
          <div class="data-list__header__item option" />
        </div>
        <div class="table-content data-list__row-small">
          <div
            v-for="survey in surveys"
            :key="survey.id"
            class="data-list__row"
          >
            <div class="row__data">
              {{ survey.title }}
            </div>
            <div class="row__data">
              {{ survey.surveyId }}
            </div>
            <div class="row__data">
              {{ survey.organizationId }}
            </div>
            <div class="row__data option">
              <div class="drop-menu-container">
                <div class="icn-option">
                  <img src="/build/static/icons/options-white.svg">
                </div>
                <ul class="dropdown-menu-inner">
                  <li>
                    <a
                      class="dropdown-item"
                      href="#"
                      @click="editSurveyForm(survey)"
                    >
                      <img
                        src="/build/static/icons/edit-small-green.svg"
                        class="me-2"
                      >
                      <b>{{ $translator.trans('Edit') }}</b>
                    </a>
                    <a
                      class="dropdown-item"
                      href="#"
                      @click="deleteSurveyForm(survey)"
                    >
                      <img
                        src="/build/static/icons/trash-small.svg"
                        class="me-2"
                      >
                      <b>{{ $translator.trans('Delete') }}</b>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { addNewEvaluationsForm, deleteEvaluationsForm } from '../../utils/evaluations.utils'
import { translator } from '../../utils/app.utils'
import Alert from '../ui/Alert'

export default {
  components: {
    Alert
  },
  props: {
    client: {
      type: Number,
      required: true
    },
    surveysData: {
      type: Array,
      required: false,
      default: () => []
    }
  },
  data () {
    return {
      successMessage: '',
      title: '',
      surveyId: '',
      organizationId: '',
      surveyUpdated: null,
      surveys: this.surveysData,
      errorsFields: {
        title: {
          notnull: {
            'is-valid': true,
            message: translator.trans('The title of the evaluation form cannot be empty')
          }
        },
        surveyId: {
          notnull: {
            'is-valid': true,
            message: translator.trans('The Form ID field must not be blank')
          }
        },
        formSubmit: '',
        formSuccess: false
      }
    }
  },
  methods: {
    addNewSurveyForm () {
      if (!this.errorsFields.formSuccess) {
        return
      }

      const newSurvey = {}
      newSurvey.title = this.title
      newSurvey.surveyId = this.surveyId
      newSurvey.organizationId = this.organizationId
      if (this.surveyUpdated) {
        newSurvey.id = this.surveyUpdated.id
      }

      addNewEvaluationsForm(this.client, newSurvey)
        .catch(error => {
          this.errorsFields.formSubmit = error.response.data.message.text
        })
        .then(response => {
          this.successMessage = response.data.message.join(', ')

          if (this.surveyUpdated) {
            this.surveyUpdated.title = this.title
            this.surveyUpdated = null
          } else {
            this.surveys.push(newSurvey)
          }

          this.title = this.surveyId = this.organizationId = ''
          this.errorsFields.formSuccess = false
        })
    },
    editSurveyForm (survey) {
      this.surveyUpdated = survey
      this.title = survey.title
      this.surveyId = survey.surveyId
      this.organizationId = survey.organizationId
    },
    deleteSurveyForm (survey) {
      deleteEvaluationsForm(this.client, survey)
        .catch(error => {
          this.errorsFields.formSubmit = error.response.data.message.text
        })
        .then(response => {
          this.successMessage = response.data.message.join(', ')

          this.surveys.forEach((element, index) => {
            if (element.title === survey.title && element.surveyId === survey.surveyId) {
              this.surveys.splice(index, 1)
            }
          })
        })
    },
    validateField () {
      let formSuccess = true

      if (typeof (this.title) === 'undefined' || this.title == null || this.title === '') {
        this.errorsFields.title.notnull['is-valid'] = false
        formSuccess = false
      } else {
        this.errorsFields.title.notnull['is-valid'] = true
      }

      if (typeof (this.surveyId) === 'undefined' || this.surveyId == null || this.surveyId === '') {
        this.errorsFields.surveyId.notnull['is-valid'] = false
        formSuccess = false
      } else {
        this.errorsFields.surveyId.notnull['is-valid'] = true
      }

      this.errorsFields.formSuccess = formSuccess
    },
    displayError (field) {
      return !this.errorsFields[field].notnull['is-valid']
    }
  }
}
</script>

<style scoped>
</style>
