<template>
  <div>
    <div class="collapsed row">
      <div
        class="col-4"
        style="padding-top: 10px"
      >
        <span>{{ userFullName }}</span>
      </div>
      <div class="d-flex justify-content-end col-8">
        <div class="session-btn-form-eval-end-session">
          <div v-if="haveAnswer">
            {{ $translator.trans('Answer sent') }}
          </div>
          <div v-else-if="providerSession.evaluationAvailable">
            <a
              :href="$routing.generate( '_participant_evaluation_session_answer', {'id': evaluationProviderSession.id ,'token': participantRole.providerSessionAccessToken.token} )"
              class="btn btn-primary d-flex align-items-center"
            >
              <img
                src="/build/static/icons/open-target-white.svg"
                alt="picto open target white"
                class="me-2"
              >
              <span>{{ $translator.trans('Open the quiz') }}</span>
            </a>
          </div>
          <div v-else>
            <a class="btn btn-light d-flex align-items-center">
              <img
                src="/build/static/icons/open-target-white.svg"
                alt="picto open target white"
                class="me-2"
              >
              <span>{{ $translator.trans('Open the quiz') }} </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    participantRole: {
      type: Object,
      required: true
    },
    providerSession: {
      type: Object,
      required: true
    },
    evaluationProviderSession: {
      type: Object,
      required: true
    }
  },
  computed: {
    userFullName () {
      return this.participantRole.participant.user.firstName + ' ' + this.participantRole.participant.user.lastName
    },
    haveAnswer () {
      return this.participantRole.evaluationSessionAnswers.some(answer => answer.evaluationProviderSession.id === this.evaluationProviderSession.id)
    }
  }
}
</script>

<style scoped lang="css">
  .zonecolor {
    display: block;
    width: 25px;
    height: 25px;
  }
</style>
