<template>
  <table class="table-selected-participants">
    <thead>
      <tr>
        <th data-field="fullname">
          {{ $translator.trans( 'Timezones of the session' ) }}
        </th>
        <th data-field="email">
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <additionals-timezones-list-item
        v-for="(timezone) in timezonesOfSession"
        :key="timezone"
        :timezone="timezone"
        :list-new-timezones="listNewTimezones"
      />
    </tbody>
  </table>
</template>

<script>
import { mapGetters }  from 'vuex'
import AdditionalsTimezonesListItem from './AdditionalsTimezonesListItem'

export default {
  name:       'MembersList',
  components: {
    AdditionalsTimezonesListItem
  },
  props:      {
    session: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    listNewTimezones: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  computed:   {
    ...mapGetters('sessionAdditionalsTimezonesSelector', { timezonesOfSession: 'getTimezonesOfSession' })
  }
}
</script>
