<template>
  <tr>
    <td>
      {{ translateTimeZone(timezone) }} ({{ calculateTimeDifference(timezone) }})
    </td>
    <td>
      <div class="btn-unsubscribe">
        <img
          src="/build/static/icons/delete-filter.svg"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          :data-bs-original-title="$translator.trans('Unsubscribe')"
          :aria-label="$translator.trans('Unsubscribe')"
          width="15"
          @click="removeTimezoneAsATimezoneOfSession"
        >
      </div>
    </td>
  </tr>
</template>

<script>
import {
  calculateTimeDifference
}
  from '../../../utils/session-additionals-timezones-selector.utils'

export default {
  name:  'AdditionalsTimezonesListItem',
  props: {
    timezone: {
      type: String,
      required: true
    },
    listNewTimezones: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  methods: {
    removeTimezoneAsATimezoneOfSession () {
      this.$store.commit('sessionAdditionalsTimezonesSelector/removeTimezoneAsATimezoneOfSession', this.timezone)
    },
    calculateTimeDifference (timezone) {
      return calculateTimeDifference(timezone)
    },
    translateTimeZone (timeZone) {
      if (typeof this.listNewTimezones[timeZone] === 'undefined') {
        return timeZone
      }
      return this.listNewTimezones[timeZone]
    }
  }
}
</script>

<style scoped>
.form-select {
  width: 120px;
}
</style>
