<template>
  <div class="session-content-blocks">
    <div class="row">
      <div class="col-5">
        <div
          class="session-content-blocks__container"
        >
          <div class="searchbar-participants d-flex align-items-center mb-37">
            <img src="/build/static/icons/search.svg">
            <input
              id="participants-search"
              v-model="query"
              type="search"
              :placeholder="$translator.trans('Search for a timezone')"
              @input="updateTimezoneSearch"
            >
          </div>
          <available-additionals-timezones-list
            v-if="loading"
            :session="session"
            :list-new-timezones="timezonesToSelected"
          />
          <div
            v-else
            class="d-flex justify-content-center align-items-center"
            style="height: 300px;"
          >
            <loader />
          </div>
        </div>
      </div>
      <div class="col-1 container-add-participants text-center">
        <div
          class="add-timezone-btn"
          @click="passSelectionAsTimezoneOfSession"
        >
          <img src="/build/static/icons/green-round-whith-chevron.svg">
        </div>
      </div>
      <div class="col-6">
        <div
          id="session-content-blocks-added-user"
          class="session-content-blocks__container"
        >
          <div class="title-selected-participants d-flex align-items-center mb-37">
            <h3 class="me-2">
              {{ $translator.trans( 'Selected timezones' ) }}
            </h3>
            <div
              :class="roundSize"
              class="d-flex align-items-center justify-content-center"
            >
              <span id="number-selected-timezones">{{ timezonesOfSession.length }}</span>
            </div>
          </div>
          <div class="table-scroll-container">
            <additionals-timezones-list
              :session="session"
              :list-new-timezones="listNewTimezones"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _                    from 'lodash'
import { mapState }         from 'vuex'
import Loader               from '../../ui/Loader'
import AvailableAdditionalsTimezonesList from './AvailableAdditionalsTimezonesList'
import AdditionalsTimezonesList          from './AdditionalsTimezonesList'

export default {
  name:       'AdditionalsTimezonesSelector',
  components: {
    AdditionalsTimezonesList,
    AvailableAdditionalsTimezonesList,
    Loader
  },
  props:      {
    loading: {
      type:    Boolean,
      default: true
    },
    session: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    listNewTimezones: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      query: ''
    }
  },
  computed: {
    ...mapState('sessionAdditionalsTimezonesSelector', ['loaded', 'timezonesOfSession']),
    roundSize () {
      if (this.session.additionalTimezones.length <= 99) {
        return 'ten'
      } else if (this.session.additionalTimezones.length <= 999) {
        return 'hundred'
      } else {
        return 'thousand'
      }
    },
    timezonesToSelected () {
      const filteredTimezones = {}

      for (const [key, value] of Object.entries(this.listNewTimezones)) {
        if (
          !this.session.additionalTimezones.includes(value.split(' ').join('_')) &&
            !this.timezonesOfSession.includes(value)
        ) {
          filteredTimezones[key] = value
        }
      }
      return filteredTimezones
    }
  },
  mounted () {
    this.$store.commit('sessionAdditionalsTimezonesSelector/setTimezonesOfSession', this.session.additionalTimezones)
  },
  methods:  {
    updateTimezoneSearch: _.debounce(function () {
      this.$store.commit('sessionAdditionalsTimezonesSelector/setQuery', this.query)
    }),
    passSelectionAsTimezoneOfSession () {
      this.$store.dispatch('sessionAdditionalsTimezonesSelector/passSelectionAsTimezoneOfSession')
    }
  }
}
</script>

<style scoped>
.searchbar-participants {
  margin-top:    1px;
  margin-bottom: 31px;
}
</style>
