<template>
  <div style="height: 300px">
    <recycle-scroller
      class="vue-scroller"
      :items="timezonesArrayNew"
      :item-size="58"
      :key-field="'value'"
    >
      <template #before>
        <div class="vue-scroller-header d-flex justify-content-around">
          <div class="vue-scroller-header-element">
            {{ $translator.trans( 'Timezones' ) }}
          </div>
        </div>
      </template>
      <template #default="{ item, index }">
        <available-additionals-timezones-list-item
          :timezone="item"
          :index="index"
          :is-selected="timezoneInPartOfSelection(item.value)"
          @click="addOrRemoveTimezoneInSelection"
        />
      </template>
    </recycle-scroller>
  </div>
</template>

<script>
import _                        from 'lodash'
import { mapState }             from 'vuex'
import {
  getTimezonesNotRegisteredOnSessionAndMatchWithSearchQuery
}                               from '../../../utils/session-additionals-timezones-selector.utils'
import AvailableAdditionalsTimezonesListItem from './AvailableAdditionalsTimezonesListItem'

export default {
  name:       'AvailableAdditionalsTimezonesList',
  components: { AvailableAdditionalsTimezonesListItem },
  props:      {
    session: {
      type: Object,
      default: () => ({})
    },
    listNewTimezones: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      timezonesArray: []
    }
  },
  computed:   {
    ...mapState('sessionAdditionalsTimezonesSelector', ['currentSelection', 'timezonesOfSession', 'query']),
    timezonesArrayNew () {
      const receivedData = this.listNewTimezones
      return getTimezonesNotRegisteredOnSessionAndMatchWithSearchQuery(Object.keys(receivedData).map(key => ({ label: receivedData[key], value: key })), this.query)
    }
  },
  methods:    {
    addOrRemoveTimezoneInSelection (timezone) {
      if (this.currentSelection.indexOf(timezone) >= 0) {
        this.currentSelection.splice(this.currentSelection.indexOf(timezone), 1)
      } else {
        this.currentSelection.push(timezone)
      }
    },
    timezoneInPartOfSelection (timezone) {
      return _.find(this.currentSelection, function (timezoneSelection) {
        return timezoneSelection === timezone
      }) !== undefined
    }
  }
}
</script>

<style scoped>
.vue-scroller {
  height: 100%;
}

.vue-scroller-header {
  padding:     18px 20px;
  font-size:   0.875rem;
  line-height: 1rem;
  color:       rgba(66, 66, 72, 0.45);
  font-weight: bold;
}

.vue-scroller-header-element {
  flex: 1 1 0px;
}
</style>
