<template>
  <div
    :class="['scroller-item d-flex justify-content-around', { 'highlight': isSelected, 'odd': (index%2!==0) }]"
    @click="$emit('click', timezone.value)"
  >
    <div class="scroller-element">
      {{ timezone.label }} ({{ calculateTimeDifference(timezone.value) }})
    </div>
  </div>
</template>

<script>
// import moment from 'moment-timezone'
import {
  calculateTimeDifference
}
  from '../../../utils/session-additionals-timezones-selector.utils'
// const momentTimezone = moment.default || moment

export default {
  name:  'AdditionalsTimezonesListItem',
  props: {
    timezone: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    isSelected: {
      type: Boolean,
      required: false
    },
    index: {
      type: Number,
      required: false,
      default: null
    }
  },
  methods: {
    calculateTimeDifference (timezone) {
      return calculateTimeDifference(timezone)
    }
  }
}
</script>

<style>
.scroller-item {
  background-color: #F6F6F6;
  border-bottom: 1px solid #fff;

  padding: 18px 20px;
  display: flex;
  align-items: center;
  font-size: .875rem;
  cursor: pointer;
}
.scroller-item.odd {
  background-color: rgba(255, 255, 255, 0.2);
}
.scroller-item.highlight {
  background-color: rgba(128,188,0,0.2);
  border-bottom: 1px solid #fff;
}
.scroller-element {
  flex: 1 1 0px;
}
</style>
