<template>
  <div class="wrapper-content-dashboard-stats wrapper-content-dashboard-stats__session wrapper-container">
    <h3>{{ $translator.trans('Alerts') }}</h3>
    <hr>
    <div
      v-for="(val, key) in alerts"
      :key="key"
    >
      <dashboard-alert-item
        :title="key"
        :values="val"
      />
    </div>
  </div>
</template>

<script>
import DashboardAlertItem from './DashboardAlertItem.vue'

export default {
  name: 'DashboardAlertList',
  components: { DashboardAlertItem },
  props: {
    alerts: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style scoped>

</style>
