<template>
  <div class="my-2">
    <h4>{{ $translator.trans(transformTitle) }}</h4>
    <alert
      v-if="values.length === 0"
      :text="$translator.trans('No alerts were found for this selection')"
      type="info"
    />
    <div
      v-for="(val, key) in values"
      :key="key"
    >
      <div
        v-for="(content, alert) in val"
        :key="alert"
      >
        <div v-if="alert === 'doubleBooking'">
          <div
            v-html="$translator.trans(doubleBookingTrans, {
              time_session: content.timeSession,
              url_session: content.urlSession,
              user: content.userFullname,
              session: content.sessionName,
              date: content.sessionDateStart
            })"
          />
        </div>
        <div v-else-if="alert === 'sessionsCanceledWithAssist'">
          <div
            v-html="$translator.trans(sessionsCanceledWithAssistTrans, {
              time_session: content.timeSession,
              url_session: content.urlSession,
              assistant: content.userFullname,
              session: content.name,
            })"
          />
        </div>
        <div v-else-if="alert === 'sessionsWaitDirectNeed'">
          <div
            v-html="$translator.trans(sessionsWaitDirectNeedTrans, {
              time_session: content.timeSession,
              url_session: content.urlSession,
              session: content.name,
            })"
          />
        </div>
        <div v-else-if="alert === 'sessionsWaitAssist'">
          <div
            v-html="$translator.trans(sessionsWaitAssistTrans, {
              time_session: content.timeSession,
              url_session: content.urlSession,
              client_name: content.clientName,
              url_client: content.urlClient,
              session: content.name,
            })"
          />
        </div>
        <div v-else-if="alert === 'sessionsWaitSupport'">
          <div
            v-html="$translator.trans(sessionsWaitSupportTrans, {
              time_session: content.timeSession,
              url_session: content.urlSession,
              session: content.name,
            })"
          />
        </div>
      </div>

      <!--      <component
        :is="'DashboardError'+ucFirst(title)"
        :error="val"
      />-->
    </div>
  </div>
</template>

<script>
import Alert from '../../../ui/Alert.vue'

export default {
  name: 'DashboardAlertItem',
  components: { Alert },
  props: {
    title: {
      type: String,
      default: ''
    },
    values: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      doubleBookingTrans: '- %time_session% - User %user% is an overlay on session <a href="%url_session%">%session%</a> on schedule %date%',
      sessionsCanceledWithAssistTrans: '- %time_session% - The <a href="%url_session%">%session%</a> session with the %assistant% assistant has been cancelled',
      sessionsWaitDirectNeedTrans: '- %time_session% - The <a href="%url_session%">%session%</a> session is waiting for direct need',
      sessionsWaitAssistTrans: '- %time_session% - <a href="%url_client%">%client_name%</a> - The <a href="%url_session%">%session%</a> session is waiting for an assistant',
      sessionsWaitSupportTrans: '- %time_session% - The <a href="%url_session%">%session%</a> session is waiting for an support'
    }
  },
  computed: {
    transformTitle () {
      const title = this.title.split(/(?=[A-Z])/).join(' ')
      return this.ucFirst(title)
    }
  },
  methods: {
    ucFirst (word) {
      return word.charAt(0).toUpperCase() + word.slice(1)
    }
  }
}
</script>

<style scoped>

</style>
