<template>
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="d-flex mb-2 text-primary">
        {{ $translator.trans(firstMessageSuccessful) }}
      </h3>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      />
    </div>
    <div class="modal-body text-center">
      <h1> 😉 🎥 </h1>
      <br>
      <h3 class="text-success">
        {{ $translator.trans(secondMessageSuccessful) }}
      </h3>
      <br>
      <p>
        {{ $translator.trans(endMessageSuccessful) }}
      </p>
    </div>

    <video-list-show
      v-if="video"
      style="width: 24rem"
      :template-design="cardTemplateDesign"
      :video="video"
    />
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-light"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        {{ $translator.trans('Exit') }}
      </button>
      <button
        v-if="!video.subjectId"
        class="btn btn-primary"
        type="button"
        @click="$emit('initialize')"
      >
        {{ $translator.trans('Add another video') }}
      </button>
    </div>
  </div>
</template>

<script>
import VideoListShow from '../../Editor/VideoListShow.vue'

export default {
  name: 'ModuleEditSubjectReplayModalSuccess',
  components: { VideoListShow },
  props: {
    video: {
      type: Object,
      default: () => {
        return {}
      }
    },
    isUpdateVideo: {
      type: Boolean,
      default: false
    },
    cardTemplateDesign: {
      type: String,
      default: 'square',
      required: false
    },
    isReplay: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    firstMessageSuccessful () {
      if (!this.video.id) {
        return this.isReplay ? 'Successful replay addition!' : 'Successful video addition!'
      } else {
        return this.isReplay ? 'Successful replay update!' : 'Successful video update!'
      }
    },
    secondMessageSuccessful () {
      if (!this.video.id) {
        return this.isReplay ? 'THANK YOU FOR ADDING YOUR REPLAY' : 'THANK YOU FOR ADDING YOUR VIDEO'
      } else {
        return this.isReplay ? 'THANK YOU FOR UPDATING YOUR REPLAY' : 'THANK YOU FOR UPDATING YOUR VIDEO'
      }
    },
    endMessageSuccessful () {
      if (!this.video.id) {
        return this.isReplay
          ? 'Congratulations on the addition of replay! Replay is now available on your catalog. We hope this will bring value to users.'
          : 'Congratulations on adding the video! Your videos are now accessible from your catalog replay. We hope it will bring value to users. If you have other videos to share, feel free to add them as well.'
      } else {
        return this.isReplay
          ? 'Congratulations on the replay update! Replay is now available on your catalog. We hope this will bring value to users.'
          : 'Congratulations on adding the video! Your videos are now accessible from your catalog replay. We hope it will bring value to users. If you have other videos to share, feel free to add them as well.'
      }
    }
  }
}
</script>

<style scoped>

</style>
