<template>
  <div
    :id="'ModuleEditSubjectIAModal'"
    class="modal fade wb-bw"
    tabindex="-1"
  >
    <div
      class="modal-dialog modal-dialog-centered modal-dialog-scrollable text-start modal-default"
      :class="{[`modal-${'normal'}`]: 'normal'}"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark">
            {{ $translator.trans('Ask artificial intelligence') }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div class="modal-body pb-0">
          <div
            id="nav-tab-ia"
            class="nav nav-tabs mb-3 justify-content-around"
            role="tablist"
          >
            <template v-for="(action, index) in actionList">
              <button
                :id="action.name.toLocaleLowerCase() + '-tab'"
                :key="index"
                data-bs-toggle="tab"
                :data-bs-target="'#-' + action.name.toLocaleLowerCase() + '-tab'"
                type="button"
                role="tab"
                class="nav-link ps-0"
                :class="[{
                  'active' : isActiveTab(action.component),
                  'disabled': !subject.name
                }]"
                @click="changeActiveTab(action.component)"
              >
                {{ $translator.trans(action.name) }}
              </button>
            </template>
          </div>
        </div>
        <component
          :is="activeTab"
          class="tab"
          :initial-value="subject.name"
          :lang="module.lang"
          @cancel="cancel"
          @validate="validate"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ModuleEditSubjectIAModalCorrect from './ModuleEditSubjectIAModal/ModuleEditSubjectIAModalCorrect.vue'
import { mapState } from 'vuex'
import ModuleEditSubjectIAModalShorten from './ModuleEditSubjectIAModal/ModuleEditSubjectIAModalShorten.vue'
import ModuleEditSubjectIAModalGenerate from './ModuleEditSubjectIAModal/ModuleEditSubjectIAModalGenerate.vue'
import { saveSubject } from '../../../../../repository/selfsubscription/subject'

export default {
  name: 'ModuleEditSubjectIAModal',
  components: {
    ModuleEditSubjectIAModalCorrect,
    ModuleEditSubjectIAModalShorten,
    ModuleEditSubjectIAModalGenerate
  },
  data () {
    return {
      activeTab: null
    }
  },
  computed: {
    ...mapState('editSubject', ['subject', 'module']),
    actionList () {
      return [
        {
          name: 'Correct',
          component: 'ModuleEditSubjectIAModalCorrect'
        },
        {
          name: 'Shorten',
          component: 'ModuleEditSubjectIAModalShorten'
        },
        {
          name: 'Generate',
          component: 'ModuleEditSubjectIAModalGenerate'
        }
      ]
    }
  },
  watch: {
    'subject.name' (newVal, oldVal) {
      if (newVal) {
        this.activeTab = 'ModuleEditSubjectIAModalCorrect'
      }
    }
  },
  mounted () {
    this.activeTab = this.subject.name ? 'ModuleEditSubjectIAModalCorrect' : 'ModuleEditSubjectIAModalGenerate'
  },
  methods: {
    changeActiveTab (tabName) {
      this.activeTab = tabName
    },
    isActiveTab (tabName) {
      return this.activeTab === tabName
    },
    cancel () {
      this.$bootstrap.Modal.getOrCreateInstance('#ModuleEditSubjectIAModal').hide()
    },
    validate (title) {
      this.subject.name = title
      this.$bootstrap.Modal.getOrCreateInstance('#ModuleEditSubjectIAModal').hide()
      if (this.subject.id) {
        saveSubject(this.subject)
      }
    }
  }
}
</script>

<style scoped>

</style>
