<template>
  <div
    :id="'ModuleEditSubjectProgramIAModal'"
    class="modal fade wb-bw"
    tabindex="-1"
  >
    <div
      class="modal-dialog modal-dialog-centered modal-dialog-scrollable text-start modal-default"
      :class="{[`modal-${'normal'}`]: 'normal'}"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark">
            {{ $translator.trans('Generate your Program using artificial intelligence') }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <form
          class="form"
          @submit.prevent="onSubmit"
        >
          <div class="modal-body">
            <small>{{ $translator.trans('Program generation takes into account your existing session data, as well as any additional information you may have provided.') }}</small>
            <div class="form__item mt-3">
              <label
                for="name"
                class="form-label disabled"
              >{{ $translator.trans('Title') }}</label>
              <input
                v-model="subject.name"
                name="name"
                class="disabled form-control"
                disabled
              >
            </div>

            <div class="form__item">
              <label
                for="description"
                class="form-label disabled"
              >{{ $translator.trans('Description') }}</label>
              <textarea
                v-model="subjectDescription"
                name="description"
                rows="5"
                cols="33"
                style="height: 100px"
                class="disabled form-control"
                disabled
              />
            </div>

            <div class="form__item">
              <label
                for="name"
                class="form-labe disabledl"
              >{{ $translator.trans('Duration') }}</label>
              <input
                v-model="readableDuration"
                name="duration"
                class="disabled form-control"
                disabled
              >
            </div>

            <div class="form__item">
              <label
                for="name"
              >{{ $translator.trans('Tell us more about it') }}</label>
              <textarea
                v-model="data.additionalInformation"
                name="description"
                rows="5"
                cols="33"
                style="height: 100px"
              />
            </div>

            <div class="form__item">
              <label for="additional_comment required">
                {{ $translator.trans('Program format') }}
              </label>
              <input-select-button
                :options="optionsProgramFormat"
                :default-value="$translator.trans('Chapitré')"
                name="program_format"
                @change="changeInputSelectButtonProgramFormat"
              />
            </div>

            <div class="form__item">
              <label for="additional_comment required">
                {{ $translator.trans('Choose your tone') }}
              </label>
              <input-select-button
                :options="options"
                :default-value="$translator.trans('Professional')"
                name="tone"
                @change="changeInputSelectButtonTone"
              />
            </div>

            <div class="row align-items-center">
              <div class="col-9">
                <div class="form__item d-flex mb-0">
                  <div class="me-2">
                    {{ $translator.trans('Using emoji') }}
                  </div>
                  <div class="search-switch d-flex">
                    <label
                      class="switch"
                      for="switch-active-state"
                      @click="changeActiveState"
                    >
                      <input
                        v-model="data.emoji"
                        type="checkbox"
                        name="switch-active-state"
                      >
                      <span class="slider round" />
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer bg-transparent">
            <button
              type="button"
              class="btn btn-light"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              {{ $translator.trans('Cancel') }}
            </button>
            <loader
              v-if="processing"
            />
            <button
              v-else
              class="btn btn-primary"
            >
              {{ $translator.trans('Generate') }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Loader from '../../../../ui/Loader.vue'
import InputSelectButton from '../../../../ui/InputSelectButton.vue'
import { mapGetters } from 'vuex'
import { generateCatalogSubjectProgram } from '../../../../../repository/chatgpt'

export default {
  name: 'ModuleEditSubjectProgramIAModal',
  components: { InputSelectButton, Loader },
  data () {
    return {
      data: {
        additionalInformation: '',
        programFormat: this.$translator.trans('Chapitré'),
        tone: this.$translator.trans('Professional'),
        emoji: false
      },
      processing: false
    }
  },
  computed: {
    ...mapGetters('editSubject', ['readableDuration', 'subject']),
    options () {
      return [
        {
          label: this.$translator.trans('Professional'),
          value: this.$translator.trans('Professional')
        },
        {
          label: this.$translator.trans('Convivial'),
          value: this.$translator.trans('Convivial')
        },
        {
          label: this.$translator.trans('Courtois'),
          value: this.$translator.trans('Courtois')
        }
      ]
    },
    optionsProgramFormat () {
      return [
        {
          label: this.$translator.trans('Chapitré'),
          value: this.$translator.trans('Chapitré')
        },
        {
          label: this.$translator.trans('Detailed'),
          value: this.$translator.trans('Detailed')
        }
      ]
    },
    subjectDescription () {
      const div = document.createElement('div')
      div.innerHTML = this.subject.description
      const text = div.textContent || div.innerText || ''

      return text
    }
  },
  methods: {
    onSubmit () {
      this.processing = true
      generateCatalogSubjectProgram(Object.assign(this.data, {
        name: this.subject.name,
        description: this.subject.description,
        duration: this.readableDuration
      }), this.subject)
        .then((response) => {
          this.$emit('update-description', response)
          this.processing = false
        })
    },
    changeActiveState () {
      this.data.emoji = !this.data.emoji
    },
    changeInputSelectButtonProgramFormat (value) {
      this.data.programFormat = value
    },
    changeInputSelectButtonTone (value) {
      this.data.tone = value
    }
  }
}
</script>
