<template>
  <div
    id="ModuleEditSubjectReplayModal"
    class="modal fade"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <module-edit-subject-replay-modal-success
        v-if="success"
        :card-template-design="cardTemplateDesign"
        :video="form"
        :is-update-video="true"
        :is-replay="isReplay"
        @initialize="initialize"
      />
      <form
        v-else
        class="modal-content"
        @submit.prevent="saveVideo"
      >
        <div class="modal-header">
          <h5
            id="exampleModalLabel"
            class="modal-title"
          >
            {{ title }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div class="modal-body">
          <alert
            v-if="errorModal"
            type="danger"
            :text="errorModal"
          />
          <fieldset v-if="video">
            <div
              class="form__item"
              style="margin-bottom: 10px"
            >
              <label
                class="required"
                for="videoPlatform"
              >{{ $translator.trans('Hosting platform') }}</label>
              <select
                id="videoPlatform"
                v-model="form.platform"
                class="form-control"
                required
                @change="changePlatform"
              >
                <option
                  v-for="(platform, index) in videoPlatforms"
                  :key="index"
                  :value="platform.value"
                >
                  {{ $translator.trans(platform.label) }}
                </option>
              </select>
              <img
                src="/build/static/icons/question.svg"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                :title="$translator.trans(isReplay ? 'Selection of the video platform in which the replay will be broadcast.' : 'Selection of the video platform in which the video will be broadcast.')"
                alt=""
              >
            </div>

            <template v-if="currentPlatform">
              <div
                class="form__item"
                style="margin-bottom: 10px"
              >
                <label
                  class="required form-label"
                  for="urlKey"
                >{{ $translator.trans(getUrlKeyLabel) }}</label>
                <input
                  id="urlKey"
                  v-model="form.urlKey"
                  name="urlKey"
                  type="text"
                  class="form-control"
                  required
                  @keyup="changePlatform"
                >
                <img
                  src="/build/static/icons/question.svg"
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  :title="$translator.trans('The key to the video is found in its URL and is made up of a string of case-sensitive alphanumeric characters. In the following example, the key is located at the end of the string to the right of the = character https://youtu.be/VBNUwMd_eF6?si=VGyTTNlMh6Q6pZ_N')"
                  alt=""
                >
              </div>

              <div
                class="form__item"
                style="margin-bottom: 10px"
              >
                <label
                  class="required form-label"
                  for="videoTitle"
                >{{ $translator.trans(isReplay ? 'Replay title' : 'Video title') }}</label>
                <input
                  id="videoTitle"
                  v-model="form.title"
                  name="name"
                  type="text"
                  required
                  maxlength="50"
                  class="form-control"
                >
                <max-length-input
                  max="50"
                  :value="form.title"
                />
              </div>

              <div
                class="form__item"
                style="margin-bottom: 10px"
              >
                <label
                  class="form-label"
                  for="videoDescription"
                >{{ $translator.trans(isReplay ? 'Replay description' : 'Video description') }}</label>
                <textarea
                  id="videoDescription"
                  v-model="form.description"
                  class="form-control"
                  maxlength="180"
                  style="min-height: 100px"
                />
                <max-length-input
                  max="180"
                  :value="form.description"
                />
              </div>

              <div
                v-if="!form.subjectId"
                class="form__checklist"
              >
                <label for="catalogCheckbox_">{{ $translator.trans('Category') }}</label>
                <alert
                  v-if="activeCatalogs.length === 0"
                  :text="$translator.trans('No category available')"
                  type="info"
                />
                <div class="form__checklist__item">
                  <div
                    v-for="catalog in activeCatalogs"
                    :key="catalog.id"
                    class="form-check"
                  >
                    <input
                      :id="'catalogCheckbox_' + catalog.id"
                      v-model="form.catalogsReplay"
                      type="checkbox"
                      class="form-check-input mr-2 mt-2"
                      :value="catalog.id"
                    >
                    <label
                      class="form-check-label pe-lg-1 mt-1"
                      :for="'catalogCheckbox_' + catalog.id"
                    >
                      {{ catalog.categoryName }}
                    </label>
                  </div>
                </div>
              </div>

              <loader v-if="loading.photo" />
              <template v-else>
                <div
                  v-if="form.platform === webinarReplayPlatformOther"
                  class="form__item mb-3 col-12 justify-content-between"
                >
                  <label
                    for="information"
                    class="form__item mb-0"
                  >
                    {{ $translator.trans("Video picture") }}
                  </label>
                  <input
                    id="photo"
                    ref="photo"
                    class="form-control w-90"
                    type="file"
                    :accept="IMAGE_FORMATS_FORMATTED"
                    @change="uploadFile($event,'photo')"
                  >
                  <tooltip
                    :text="$translator.trans('The video picture will be displayed on the registration page replay when you chose a other platform relay, Recommended size: 1900x1200 pixels')"
                  />
                  <span
                    class="mt-1"
                    style="font-size: 14px"
                  >{{ $translator.trans('File format:') }} {{ IMAGE_FORMATS_STRING }}</span>
                  <div
                    v-if="errors.photo"
                    class="invalid-feedback d-block"
                  >
                    {{ errors.photo }}
                  </div>
                </div>
              </template>
            </template>

            <video-list-show
              v-if="form.urlKey"
              style="width: 24rem"
              :template-design="cardTemplateDesign"
              :video="form"
            />

            <div
              v-if="video.urlKey && !video.subjectId"
              class="form__item mt-3"
              style="margin-bottom: 10px"
            >
              <div class="search-switch d-flex align-items-center">
                <label
                  class="switch me-2"
                  for="published"
                >
                  <input
                    id="published"
                    v-model="form.published"
                    type="checkbox"
                    name="published"
                    class="switch-preference"
                  >
                  <span class="slider round" />
                </label>
                {{ $translator.trans('Publish the replay') }}
                <img
                  src="/build/static/icons/question.svg"
                  data-bs-placement="left"
                  data-bs-toggle="tooltip"
                  :title="$translator.trans('Publishing the replay allows you to broadcast the recording on the promotion page of your event.')"
                  alt=""
                >
              </div>
              <small>{{ $translator.trans('Publishing the replay allows you to broadcast the recording on the promotion page of your event.') }}</small>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-light"
            data-bs-dismiss="modal"
          >
            {{ $translator.trans('Cancel') }}
          </button>
          <loader v-if="saving" />
          <button
            v-else
            class="btn btn-primary"
            type="submit"
          >
            {{ $translator.trans(title) }}
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import {
  REPLAY_PLATFORM_OTHER,
  REPLAY_PLATFORM_VIMEO
} from '../../../../../store/module/module'
import Loader from '../../../../ui/Loader.vue'
import { saveVideo } from '../../../../../repository/selfsubscription/video'
import VideoListShow from '../../Editor/VideoListShow.vue'
import Tooltip from '../../../../ui/Tooltip.vue'
import { IMAGE_FORMATS, IMAGE_FORMATS_FORMATTED, IMAGE_FORMATS_STRING } from '../../../../../utils/fileUpload.utils'
import ModuleEditSubjectReplayModalSuccess from './ModuleEditSubjectReplayModalSuccess.vue'
import Alert from '../../../../ui/Alert.vue'
import MaxLengthInput from '../../../../ui/MaxLengthInput.vue'

export default {
  name: 'ModuleEditSubjectReplayModal',
  components: { MaxLengthInput, Alert, ModuleEditSubjectReplayModalSuccess, Tooltip, VideoListShow, Loader },
  props: {
    video: {
      type: Object,
      default: () => {},
      required: false
    },
    videoPlatforms: {
      type: Array,
      default: () => {}
    },
    catalogsReplay: {
      type: Array,
      required: true
    },
    cardTemplateDesign: {
      type: String,
      default: 'square',
      required: false
    },
    isReplay: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      loading: {
        photo: false
      },
      errors: {
        photo: null
      },
      webinarReplayPlatformOther: REPLAY_PLATFORM_OTHER,
      webinarReplayPlatformVimeo: REPLAY_PLATFORM_VIMEO,
      IMAGE_FORMATS: IMAGE_FORMATS,
      IMAGE_FORMATS_STRING: IMAGE_FORMATS_STRING,
      IMAGE_FORMATS_FORMATTED: IMAGE_FORMATS_FORMATTED,
      modal: null,
      saving: false,
      success: false,
      form: {}
    }
  },
  computed: {
    ...mapState('process', ['errorModal']),
    title () {
      return (this.form !== null && 'id' in this.form) ? this.$translator.trans(this.isReplay ? 'Update Replay' : 'Update Video') : this.$translator.trans(this.isReplay ? 'New Replay' : 'New Video')
    },
    currentPlatform () {
      return this.videoPlatforms.find(platform => platform.value === this.form.platform)
    },
    getUrlKeyLabel () {
      if (this.currentPlatform) {
        return this.currentPlatform.description
      }
      return ''
    },
    activeCatalogs () {
      return this.catalogsReplay.filter(catalog => catalog.active)
    }
  },
  watch: {
    video () {
      this.form = Object.assign({}, this.video)
      this.changePlatform()
    }
  },
  mounted () {
    this.form = Object.assign({}, this.video)
    this.modal = this.$bootstrap.Modal.getOrCreateInstance('#ModuleEditSubjectReplayModal')
    document.getElementById('ModuleEditSubjectReplayModal').addEventListener('hidden.bs.modal', () => {
      this.saving = false
      this.success = false
    })
  },
  methods: {
    changePlatform () {
      // FOR THE TESTS : 'https://player.vimeo.com/video/203809526'
      if (this.form.platform !== REPLAY_PLATFORM_OTHER && this.form.urlKey !== '') {
        this.linkToVideo = this.currentPlatform.url + this.form.urlKey
      } else {
        this.linkToVideo = this.form.urlKey
      }
    },

    saveVideo () {
      // https://youtu.be/02uNx46uO0A?si=tVAT3rhWz57yv1li
      this.saving = true
      saveVideo(this.form).then(response => {
        this.$emit('save-video', response)
        this.saving = false
        this.success = true
      })
    },
    updateFile (src, file) {
      switch (src) {
        case 'photo':
          this.form.photoReplay = file
          break
      }
    },
    uploadFile (e, src) {
      this.loading[src] = true
      const files = e.target.files || e.dataTransfer.files
      if (files.length !== 1) {
        return
      }
      const formData = new FormData()
      formData.append('file', files[0])
      formData.append('format', IMAGE_FORMATS)
      const vm = this
      vm.error = null
      this.$axios.post(this.$routing.generate('_video_replay_image_upload_files'), formData, { headers: { 'Content-Type': 'multipart/form-data' } })
        .then((response) => {
          this.updateFile(src, response.data.message.filetarget)
          this.loading[src] = false
        }).catch((error) => {
          this.loading[src] = false
          if ('response' in error && 'data' in error.response && 'message' in error.response.data && 'text' in error.response.data.message) {
            vm.error = error.response.data.message.text
            this.errors[src] = error.response.data.message.text
          } else {
            vm.error = this.$translator.trans('The ' + src + ' cannot be put online for an unknown reason.')
          }
        })
    },
    initialize () {
      this.$emit('initialize')
    }
  }
}
</script>
