<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script>
            // https://wkhtmltopdf.org/usage/wkhtmltopdf.txt - Section : Footers And Headers
            function replacePDFInfo() {
                var pdfInfo = {};
                var query_strings_from_url = document.location.search.substring(1).split('&');
                for (var query_string in query_strings_from_url) {
                    if (query_strings_from_url.hasOwnProperty(query_string)) {
                        var temp_var = query_strings_from_url[query_string].split('=', 2);
                        pdfInfo[temp_var[0]] = decodeURI(temp_var[1]);
                    }
                }

                var css_selector_classes = ['page', 'frompage', 'topage', 'webpage', 'section', 'subsection', 'date', 'isodate', 'time', 'title', 'doctitle', 'sitepage', 'sitepages'];
                for (var css_class in css_selector_classes) {
                    if (css_selector_classes.hasOwnProperty(css_class)) {
                        var element = document.getElementsByClassName(css_selector_classes[css_class]);
                        for (var j = 0; j < element.length; ++j) {
                            element[j].textContent = pdfInfo[css_selector_classes[css_class]];
                        }
                    }
                }
            }
        </script>
    </head>
    <body onload="replacePDFInfo()">
        <footer>
            <div style="color: grey; font-size: 8px;">
                <div style="display: inline-block; width: 10%;"><span class="page"></span>/<span class="sitepages"></span></div>
                <div style="display: inline-block; width: 88%;text-align: right;">
                    {{ 'Session N° %reference%'|trans({'%reference%': session.ref }) }} |
                    {{ 'Document generated on'|trans }} <span class="isodate">{{ date() | dateOnly }}</span> {{ 'at'|trans }} <span class="time">{{ date() | hourOnly }}</span> |
                    {{ 'Powered by Mylivesession Manager'|trans }}
                </div>
            </div>
            {% if client.footer %}
                <img style="width: 100%; height: auto;" src="{{ pdf_upload_url(vich_uploader_asset(client, 'footerFile')) }}" alt="logo"/>
            {% else %}
                <img style="width: 100%; height: auto;" src="{{ pdf_upload_url(asset('archives/certificat_footer_vide_info.png')) }}" alt="logo"/>
            {% endif %}
        </footer>
    </body>
</html>