<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        {% if client.header %}
            <img style="width: 100%; height: auto;" src="{{ pdf_upload_url(vich_uploader_asset(client, 'headerFile')) }}" alt="logo"/>
        {% else %}
            <img style="width: 100%; height: auto;" src="{{ pdf_upload_url(asset('archives/certificat_header_vide_info.png')) }}" alt="logo"/>
        {% endif %}
    </body>
</html>