{% if app.user is defined and app.user is not null %}
    {% set lang = app.user.preferredLang %}
{% else %}
    {% set lang = session.language %}
{% endif %}

{% extends 'base_pdf.html.twig' %}

{% set client = session.client %}

{% block base_body %}
    <br/>
    <h1>{{ 'Evaluations'|trans }}</h1>
    <hr/>

    <h3>{{ (session.isSessionTest) ? 'Test | ' | trans : '' }}{{ session.name }}</h3>
    <h6 style="margin: 20px">
        {% set dateStartLocalized = session.dateStart()|format_datetime('full', 'short', locale=locale) %}
        {{ 'Reference n° %field_1% - %field_2% - Duration %field_3%' | trans({
            '%field_1%': session.ref,
            '%field_2%': dateStartLocalized,
            '%field_3%': session.datesDiffString()
        }) }}
    </h6>
    <h6 style="margin: 20px">{{ 'Category'|trans }} : {{ session.category.label }} - {{ 'Business Number'|trans }} : {{ session.businessNumber }}</h6>
    <br/><br/>

    {% for extractedData in extractedDataMacro %}
        {% if extractedData is not empty %}
            <h6 style="margin: 20px">{{ 'Name of evaluation form'|trans }} : {{ extractedData[0].title }} </h6>
            <table class="table table-striped mb-5">
                <thead>
                <tr>
                    <th class="text-start">{{ 'Questions'|trans }}</th>
                    <th class="text-start">{{ 'Responses'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for data in extractedData %}
                    <tr style="background-color: #9b9b9b">
                        <td><strong>{{ data.lastName|upper }} {{ data.firstName|capitalize }} :  {{ data.email|capitalize }}</strong></td>
                        <td>{{ data.replyDate|format_datetime('full', 'short', locale=lang) }}</td>
                    </tr>
                    {% for answer in data.answer.plainData %}
                        <tr>
                            <td>{{answer.title}}</td>
                            <td>{{answer.displayValue}}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
            <br/><br/>
        {% endif %}
    {% endfor %}

    <p>
        <u>{{ 'Made to serve and assert what is right'|trans }}</u><br/>
        {{ 'At %place%, the %date%'|trans({
            '%place%': client.organisationCity,
            '%date%': "now"|date('d/m/Y')
        }) }}<br/>
        {{ client. organisationLegalRepresentative}}, {{ client.organisationFunctionLegalRepresentative }}
    </p>

    {% if client.organizationStamp %}
        <img src="{{ pdf_upload_url(vich_uploader_asset(client, 'organizationStampFile')) }}" alt="logo" style="max-height: 100px"/>
    {% endif %}

{% endblock base_body %}
