{% extends 'main.html.twig' %}
{% set routeActive = '_licenses_available' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('licenses-available') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('licenses-available') }}
{% endblock %}


{% block main %}
    <div>
        <h1>{{ title | trans}}</h1>
    </div>
    <div class="row">
        <div id="licenses-available">
            <licenses-available
                :configurations-holder="{{ configurationsHolder | serialize('json', {'groups': 'read_session'})  }}"
            >
            </licenses-available>
        </div>
    </div>
{% endblock %}
