<p>
	<a
		href="{{ end_point_domain ~ '/archives/PolitiqueRGPD-LIVESESSION-MLSM.pdf' }}"
		target="_blank"
		style="color:#000;"
	>
		{% trans %}
			Privacy
		{% endtrans %}
	</a>
	&nbsp;&nbsp;|&nbsp;&nbsp;
	<a
		href="https://live-session.fr/mentions-legales/"
		target="_blank"
		style=" color:#000;"
	>
		{% trans %}
			Legal notices
		{% endtrans %}
	</a>
</p>
<br/>

<p style="font-size: 10px; color:#3F4043;">
	Live Session | Centre Kasbé, Cidex 112F, 38920 Crolles, France<br>
	{% trans %}Copyright © 2022 Live Session and / or its affiliates. All rights reserved.{% endtrans %}<br>
	{{ 'Sent to' | trans }} <a  href="mailto:{{ email.to[0].address }}" style=" color:#000;">{{ email.to[0].address }}</a>
	{% if client is defined %}
		{% trans with {'%client%': client } %} for the "%client%" account {% endtrans %}<br>
	{% endif %}
</p>
