{% apply inline_css %}
	<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Live Session</title>
		</head>
		
		<body style="background-color: #F7F7F7;font-family: 'Nunito', sans-serif; padding: 60px 0 0 0; margin:0; ">
			<table width="100%" height="100%" border="0" align="center" cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td align="center" valign="top">
							<table width="560" border="0" cellspacing="0" cellpadding="0">
								<tbody>
									{% block body %}
									{% endblock %}
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</body>
	</html>
{% endapply %}