{% extends 'emails/base_email_without_ls_header.html.twig' %}

{% set lang = session.language %}

{% block core_email %}
    {% block sessionIsTestInformation %}
        {% if session is defined and session.isSessionTest %}
            <p><b>{{ 'Warning, this is a test mail and the data may be wrong'|trans({}, null, lang) }}</b></p>
        {% endif %}
    {% endblock %}

    {% block content %}{{ content | raw }}{% endblock %}
{% endblock %}
