{% extends 'emails/base_email_with_client_logo_header.html.twig' %}

{% set lang = lang is defined ? lang : participant.user.preferredLang %}

{% block core_email %}
    <p>{{ 'Hello %username%'|trans({'%username%': participant.fullName }, null, lang) }}</p>
    <p><i>{{ 'This is an automated e-mail from Mylivesession Manager.'|trans({}, null, lang) }}</i></p>
    <br/>

    {% block sessionIsTestInformation %}
        {% if session is defined and session.isSessionTest %}
            <p><b>{{ 'Warning, this is a test mail and the data may be wrong'|trans({}, null, lang) }}</b></p>
        {% endif %}
    {% endblock %}

    {% block content %}{% endblock %}

    <p>
        {% set phone = client.services.phoneSupport | default( '' ) %}
        {% set mail = client.services.mailSupport | default( support_mail ) %}
        {{ 'If you think this email is a mistake or if you need additional information, please do not hesitate to contact us'|trans({ '%client_phone%': phone , '%client_mail%': mail }, null, lang) }}
        {{ phone }} <a href="mailto:{{ mail }}" target="_blank">{{ mail }}</a>
    </p>

    <p>
        {{ 'Regards'|trans({}, null, lang) }},
        <br/>
        {{ 'Mylivesession Manager Team'|trans({}, null, lang) }}
    </p>
{% endblock %}
