{% extends 'emails/_layout.html.twig' %}

{% if user is defined and user is not null %}
    {% set lang = user.preferredLang %}
{% endif %}

{% block body %}
    <tr>
        <td style="padding-bottom: 40px; text-align: center;">
            <a href="{{ absolute_url(path('_app_login')) }}">
                <img src="{{ end_point_domain~'/build/static/email/logo-ls.png' }}">
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="{{ end_point_domain~'/build/static/email/email-header.png' }}">
            <table width="560" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="overflow-wrap: anywhere; background-color: #fff; border: 1px solid #E9E9E9; border-top:none; padding:0 20px 30px 20px; font-size: 14px; line-height: 1.5;">
                            {% block core_email %}
                            {% endblock %}
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 40px 20px 0; text-align: center; font-size: 12px; line-height: 1.5;">
                        {% block core_manager_support %}
                        {% endblock %}
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 40px 20px; text-align: center; font-size: 12px; line-height: 1.5;">
                            {% include 'emails/_footer.html.twig' %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
{% endblock %}
