{% extends 'emails/base_email.html.twig' %}

{% if user is defined and user is not null %}
    {% set lang = user.preferredLang %}
{% elseif session is defined and session is not null %}
    {% set lang = session.language %}
{% else %}
    {% set lang = client.defaultLang %}
{% endif %}

{% block core_email %}
    {% block sessionIsTestInformation %}
        {% if session is defined and session.isSessionTest %}
            <p><b>{{ 'Session test, Warning, this is a test mail and the data may be wrong'|trans({}, null, lang) }}</b></p>
        {% endif %}
    {% endblock %}
    <br/>
    {% if user is defined and user is not null %}
        <p>{{ 'Hello %username%'|trans({'%username%': user.fullName}, null, lang) }},</p>
    {% else %}
        <p>{{ 'Hello %username%'|trans({'%username%': ''}, null, lang) }},</p>
    {% endif %}
    <p><i>> {{ 'This is an automated e-mail from Mylivesession Manager.'|trans({}, null, lang) }}</i></p>
    <div>
        {% block content %}{% endblock %}
    </div>
    <br/>
    <p>
        {{ 'Mylivesession Manager Team'|trans({}, null, lang) }}
    </p>
{% endblock %}

{% block core_manager_support %}
    {% if client is defined and client.services.phoneManager and client.services.mailManager %}
        {{ "Do you have a problem? Have a question? Don't hesitate to contact us"|trans({}, null, lang)}} {{ client.services.phoneManager }}, {{ client.services.mailManager }}
    {% endif %}
{% endblock %}
