{% extends 'emails/_layout.html.twig' %}

{% block body %}
    {% if client.logo is not empty %}
        <tr>
            <td style="padding-bottom: 40px; text-align: center;">
                <img src="{{ end_point_domain ~ asset( client_logo_directory ~ client.logo ) }}" alt="{{ client.name }}">
            </td>
        </tr>
    {% endif %}
    <tr>
        <td>
            <table width="560" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="overflow-wrap: anywhere; background-color: #fff; border: 1px solid #E9E9E9; border-top:none; padding:0 20px 30px 20px; font-size: 14px; line-height: 1.5;">
                            {% block core_email %}
                            {% endblock %}

                            <div style="padding-top: 40px">
                                {% if client is defined and (client.services.phoneSupport and client.services.mailSupport) %}
                                    {{ "Do you have a problem? Have a question? Don't hesitate to contact us"|trans({}, null, lang)}}  {{ client.services.phoneSupport }}, {{ client.services.mailSupport }}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 40px 20px; text-align: center; font-size: 12px; line-height: 1.5;">
                            {% include 'emails/_footer.html.twig' %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
{% endblock %}
