{% extends 'emails/base_email.html.twig' %}
{% block core_email %}
    <p>
        Ci-joint, la liste des clients gestionnaires des comptes actifs mise à jour.
    </p>
    <p>Date: <span>{{ date }}</span></p>
    <p>Cordialement</p>
{% endblock %}
