{% extends 'emails/base_email.html.twig' %}

{% block core_email %}
    <p>
        <i>
            {% trans into lang %}
                This is an automated e-mail from Mylivesession Manager.
            {% endtrans %}
        </i>
    </p>
    <br/>

    <p>
        <i>
            {% trans with {'%session%': session.getName(), '%route%': routeSession} into lang %}
                The session is scheduled outside the standard hours. Support will be provided during the standard hours in accordance with your contract. To benefit from this service, you can adjust the  <a href="%route%">%session%</a> session hours.
            {% endtrans %}
        </i>
    </p>
    <br/>

    <p>{% trans into lang %}Regards{% endtrans %},
        <br/>
        {% trans into lang %}
            Mylivesession Manager Team
        {% endtrans %}
    </p>
{% endblock %}
