{% extends 'emails/base_email.html.twig' %}

{% block core_email %}
    <p>
        <i>
            {% trans into lang %}
                This is an automated e-mail from Mylivesession Manager.
            {% endtrans %}
        </i>
    </p>
    <br/>

    <p>
        <i>
            {% trans with {'%session%': session.getName(), '%route%': routeSession} into lang %}
                Une nouvelle demande d'assistance pour la session <a href="%route%">%session%</a>.
            {% endtrans %}
        </i>
    </p>
    <br/>

    <p>{% trans into lang %}Regards{% endtrans %},
        <br/>
        {% trans into lang %}
            Mylivesession Manager Team
        {% endtrans %}
    </p>
{% endblock %}

