{% extends 'emails/base_email.html.twig' %}

{% block core_email %}
    <div>
        <br><br>Bonjour,<br><br>Je vous invite à mon événement qui aura lieu le 1er mai 2023. Veuillez trouver ci-joint l'invitation au format ICS.<br><br>Cordialement,<br><br>John Doe
    </div>
{% endblock %}
