{% extends 'emails/base_email.html.twig' %}
{% block core_email %}
    <p>
        Chers membres de l'équipe d'ingénierie et du support, <br><br>

        Je vous écris pour vous informer qu'il y a eu des problèmes d'exécution des tâches d'importation récemment, et nous devons attirer votre attention sur cette question. De plus, nous aimerions partager avec vous les détails des tâches qui doivent être traitées.
        <br>
        Nous avons constaté que certaines tâches programmées n'ont pas été exécutées correctement. nous avons identifié la personne responsable pour cette tâche à traiter. Voici les détails :
        <br><br>
    </p>

    <ul>
        {% for task in tasks %}
            <li>
                L'utilisateur <strong>{{ task.userName }}</strong> de "{{ task.clientName }}" a une tâche à suivre:
                <ul>
                    <li>Nom de fichier : {{ task.fileOrigin }}</li>
                    <li>Type d'import : {{ task.type }}</li>
                    <li>ID de la tâche : {{ task.idTask }}</li>
                </ul>
            </li>
        {% endfor %}
    </ul>

    <p>
        Nous vous demandons de bien vouloir prendre en charge la vérification de résultats de tâche et de veiller à ce qu'elle soit traitée dans les meilleurs délais. Si vous avez des questions ou besoin d'informations supplémentaires, n'hésitez pas à contacter l'équipe IT.
        <br>
        Nous vous remercions par avance pour votre attention et votre engagement à suivre ces tâches <br><br>
    </p>
    <p>Date: <span>{{ date }}</span></p>
    <p>Cordialement</p>
{% endblock %}
