<template>
  <div class="row">
    <div class="col-12">
      <!--      <h6 class="mb-3 form-subtitle">
        {{ $translator.trans('Type of billing') }}
      </h6>-->

      <div
        class="alert alert-dismissible align-items-start d-flex fade justify-content-between p-3 show"
        :class="`alert-warning`"
        role="alert"
      >
        {{ $translator.trans( 'Here you will find tailor-made developments that have been made especially for your customer account. If you want a custom development. You can contact your sales advisor to analyze your needs.' ) }}
      </div>

      <div
        v-if="isFirstFinanceSelectedClient"
      >
        <div class="search-switch">
          <label
            class="switch"
            :for="enabledSalesForce"
          >
            <input
              :id="enabledSalesForce"
              v-model="client.specialCustomisation.enabledSalesForce"
              type="checkbox"
              :name="enabledSalesForce"
              class="switch-preference"
            >
            <span class="slider round" />
          </label>
          {{ $translator.trans("Query the Salesforce database to automatically update the referrer's email") }}
        </div>
      </div>
      <div
        v-if="isIfcamSelectedClient"
      >
        <div>
          <label>
            {{ $translator.trans("Custom session import template") }} :
          </label>
          <a
            href="/archives/Model_Import_Sessions_Ifcam.xlsx"
            target="_blank"
          >{{ $translator.trans('File template IFCAM') }}</a>
        </div>
        <div>
          <label>
            {{ $translator.trans("Custom participants import template") }} :
          </label>
          <a
            href="/archives/Model_Import_Participants_Ifcam.xlsx"
            target="_blank"
          >{{ $translator.trans('File template IFCAM') }}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import {
  ID_CLIENT_IFCAM
} from '../../../store/module/clientServices'

export default {
  name: 'TailoredModeForm',
  data () {
    return {
      saving: false,
      errorMessage: null,
      errors: {},
      success: false
    }
  },
  computed: {
    ...mapState('client', ['client']),
    isIfcamSelectedClient () {
      return this.client.id === ID_CLIENT_IFCAM
    },
    isFirstFinanceSelectedClient () {
      return this.client.name === 'First Finance'
    }
  },
  methods: {

  }
}
</script>

<style scoped>

</style>
