<template>
  <div>
    <p>{{ participantName }}, </p>
    <live-session-evaluation-answer
      :survey-id="surveyId"
      :locale="locale"
      :answer="JSON.parse(answer)"
      @submitted="handleSubmitForm"
    />
    <button
      class="btn btn-outline-primary rounded p-2 px-3 mt-3"
      style="margin-left: 40px"
      @click="returnToLobby"
    >
      {{ $translator.trans('Back') }}
    </button>
  </div>
</template>

<script>
import LiveSessionEvaluationAnswer from '../../Survey/LiveSessionEvaluationAnswer.vue'

export default {
  name: 'ParticipantForm',
  components: { LiveSessionEvaluationAnswer },
  props: {
    evaluationId: {
      type: Number,
      required: true
    },
    participantToken: {
      type: String,
      required: true
    },
    surveyId: {
      type: String,
      required: true
    },
    locale: {
      type: String,
      required: true
    },
    answer: {
      type: String,
      required: true
    },
    sessionId: {
      type: Number,
      required: true
    },
    participantName: {
      type: String,
      required: true
    }
  },
  methods: {
    handleSubmitForm (survey) {
      const toSaved = {}
      toSaved.data = survey.data
      toSaved.plainData = survey.getPlainData()

      this.$axios.post(this.$routing.generate('_participant_evaluation_save', { id: this.evaluationId, token: this.participantToken }),
        JSON.stringify(toSaved),
        {
          headers: {
            'Content-Type': 'application/json; charset=utf-8'
          }
        }
      )
    },
    returnToLobby () {
      window.location.href = this.$routing.generate('_session_evaluation_lobby', { id: this.sessionId })
    }
  }
}
</script>

<style>
.btn-outline-primary {
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.btn-outline-primary:hover {
  background-color: var(--primary-color) !important;
  color: white !important;
}
.btn-outline-primary:focus {
  box-shadow: none !important;
}
</style>
