<template>
  <header class="session-main-header d-flex align-items-center justify-content-between">
    <div class="session-main-details d-flex align-items-center">
      <div class="session-main-details__logo">
        <a
          :href="$routing.generate('_session_viewer')"
          class="main-logo d-flex align-items-center"
        >
          <img src="/build/static/symbole-logo-live-session.svg">
          <img src="/build/static/logo-live-session.png">
        </a>
      </div>
      <div class="session-main-details__infos">
        <h2>{{ $translator.trans('Session creation') }} - {{ user.firstName }} {{ user.lastName }}</h2>

        <span>{{ $translator.trans('Assisted creation') }}</span>
      </div>
    </div>
    <div class="session-main-cancel-creation">
      <a
        :href="$routing.generate('_session_viewer')"
        class="d-flex align-items-center cancel-link"
      ><span>{{ $translator.trans('Cancel creation') }}</span><img src="/build/static/icons/creation-close.svg"></a>
    </div>
  </header>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'CreateSessionWizardHeader',
  computed: {
    ...mapState('sessionWizard', ['user'])
  }
}
</script>
