<template>
  <section>
    <div class="session-content d-flex flex-column align-items-center">
      <div class="session-title text-center">
        <h2>{{ $translator.trans('Select a date') }}</h2>
      </div>
      <div class="session-desc mb-28 text-center">
        <p class="text-center" />
      </div>

      <div class="row">
        <div
          v-if="clients.length > 1"
          id="create-session-wizard-step-2-selectclient"
          class="col"
        >
          <div class="session-fields-date d-flex align-items-center mb-28 admin-border-color admin-text-color">
            <div class="session-fields-date__begin text-center">
              <div class="picto-container d-flex justify-content-center">
                <div class="picto d-flex align-items-center justify-content-center admin-border-color">
                  <img
                    src="/build/static/icons/admin-icon-color.svg"
                    width="15"
                  >
                </div>
              </div>
              <span>{{ $translator.trans('Select an account') }}</span>
              <div class="form-block d-flex align-items-center justify-content-center">
                <select
                  id="selectClient"
                  v-model="sessionToSaved.clientId"
                  name="selectClient"
                  class="form-control"
                  @change="changeClient"
                >
                  <option
                    v-for="client in clients"
                    :key="client.id"
                    :value="client.id"
                  >
                    {{ client.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        v-if="clientData.billingMode === 1"
        class="session-encadre d-flex align-items-center"
      >
        <div class="session-encadre__info d-flex flex-column">
          <span>{{ $translator.trans('Information about your package') }}</span>
          <p
            v-if="clientData.remainingCredit > clientData.notificationCreditExhausted"
            v-html="$translator.trans('You still have %remainingCredit% credit. Contact your Live Session advisor.', {remainingCredit: clientData.remainingCredit, totalCredit: clientData.allowedCredit})"
          />
          <p
            v-else-if="clientData.remainingCredit > 1"
            v-html="$translator.trans('You still have %remainingCredit% credit. Contact your Live Session advisor.', {remainingCredit: clientData.remainingCredit, totalCredit: clientData.allowedCredit})"
          />
          <p
            v-else-if="clientData.remainingCredit > 0"
            v-html="$translator.trans('You still have %remainingCredit% credit. Contact your Live Session Customer Service.', {remainingCredit: clientData.remainingCredit, totalCredit: clientData.allowedCredit})"
          />
          <p
            v-else
            v-html="$translator.trans('You have no credit left. Contact your Live Session advisor.', {remainingCredit: clientData.remainingCredit, totalCredit: clientData.allowedCredit})"
          />
        </div>
      </div>

      <div class="session-desc mb-28 text-center">
        <p class="text-center" />
      </div>

      <div id="create-session-wizard-step-2">
        <div class="session-fields-date d-flex align-items-center mb-28">
          <div class="session-fields-date__begin text-center">
            <div class="picto-container d-flex justify-content-center">
              <div class="picto d-flex align-items-center justify-content-center">
                <img
                  src="/build/static/icons/calendar-event.svg"
                  width="15"
                >
              </div>
            </div>
            <span>{{ $translator.trans('Enter the duration and start time of your session') }}</span>
            <div class="form-block d-flex align-items-center justify-content-center">
              <label for="dateStart">{{ $translator.trans( 'On' ) }}</label>
              <datetime
                v-model="sessionToSaved.dateStart"
                class="input-group datetime-picker-primary"
                type="datetime"
                :format="$dateTime.DATETIME_SHORT"
                input-id="dateStart"
                :input-class="['dateStart form-control', {
                  'is-invalid' : !errorsFields.dateStart.notnull['is-valid']
                }]"
                :phrases="{ok: $translator.trans( 'OK' ), cancel: $translator.trans( 'Cancel' )}"
                :use12-hour="false"
                auto
                :min-datetime="$dateTime.now().minus({ days: 1 }).toISO()"
              />
            </div>
            <div
              v-if="!errorsFields.dateStart.notnull['is-valid']"
              class="invalid-feedback d-block"
            >
              {{ errorsFields.dateStart.notnull.message }}
            </div>
            <div>
              <div style="margin-right: 55px;">
                <span>{{ translateTimeZone(clientData.timezone) }} ({{ calculateTimeDifference(clientData.timezone) }})</span>
              </div>
              <div style="margin-right: 30px;">
                <a
                  href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#addTimezone"
                >Ajouter des fuseaux horaires</a>
              </div>
              <div
                id="addTimezone"
                class="modal fade"
                tabindex="-1"
                aria-hidden="true"
              >
                <session-add-timezones-modal
                  id="addTimezone"
                  referer="wizardcreate"
                  :session="sessionToSaved"
                  :list-new-timezones="listNewTimezones"
                />
              </div>
            </div>

            <div
              v-if="sessionToSaved.additionalTimezones.length !== 0"
              class="mt-2"
            >
              <!--              <div class="row d-flex align-items-center">
                <div class="col-lg-3" />
                <div class="col-lg-9 d-flex">
                  <span> + {{ sessionToSaved.additionalTimezones.length }} {{ $translator.trans('timezone.s') }} </span>
                </div>
              </div>-->

              <SessionAdditionalsTimezones
                v-for="(timezone, index) in sessionToSaved.additionalTimezones"
                :key="index"
                :timezone="timezone"
                :user="user"
                :list-new-timezones="listNewTimezones"
                :date-start="sessionToSaved.dateStart"
                :large="true"
              />
            </div>
          </div>
          <div class="session-fields-date__duration text-center">
            <div class="picto-container d-flex justify-content-center">
              <div class="picto picto-clock d-flex align-items-center justify-content-center">
                <img
                  src="/build/static/icons/clock.svg"
                  width="15"
                >
              </div>
            </div>
            <span>{{ $translator.trans('Enter the duration of your session') }}</span>
            <div class="form-block d-flex align-items-center justify-content-center">
              <input
                id="duration"
                v-model="sessionToSaved.duration"
                name="duration"
                type="text"
                placeholder="00h00"
                maxlength="5"
                pattern="[0-9]?[0-9]h[0-9][0-9]$"
                style="width:105px; padding: 0px;"
                :class="['duration form-control', {
                  'is-invalid' : !errorsFields.duration.notnull['is-valid'],
                  'is-invalid' : !errorsFields.duration.regex['is-valid']
                }]"
                @change="validateField()"
                @keyup="validateField()"
              >
              <label for="duration">{{ $translator.trans('hour(s)') }}</label>
            </div>
            <div
              v-if="!errorsFields.duration.notnull['is-valid']"
              class="invalid-feedback d-block"
            >
              {{ errorsFields.duration.notnull.message }}
            </div>
            <div
              v-if="!errorsFields.duration.regex['is-valid']"
              class="invalid-feedback d-block"
            >
              {{ errorsFields.duration.regex.message }}
            </div>
          </div>
        </div>
        <div class="session-btn-access-next-step text-end">
          <button
            :disabled="!success || !canCreateSessionOnClient"
            class="btn"
            :class="{
              disabled: (!success || !canCreateSessionOnClient),
              'btn-primary': (success && canCreateSessionOnClient),
              'btn-link': (!success || !canCreateSessionOnClient),
            }"
            role="button"
            @click="changeStepWizard()"
          >
            {{ $translator.trans('Next') }}
          </button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import FormValidationMixin                               from '../../../mixin/FormValidationMixin'
import { mapState }                                      from 'vuex'
import { Datetime }                                           from 'vue-datetime'
import { handleClientDefaultDataForTheSessionCreationWizard } from '../../../utils/provider-configuration-holder.utils'
import SessionAddTimezonesModal from '../../../components/sessions/view-tab/SessionAddTimezonesModal'
import {
  calculateTimeDifference
}
  from '../../../utils/session-additionals-timezones-selector.utils'
import SessionAdditionalsTimezones from './step-validate/SessionAdditionalsTimezones.vue'

export default {
  components: {
    SessionAdditionalsTimezones,
    Datetime,
    SessionAddTimezonesModal
  },
  mixins:     [FormValidationMixin],
  props: {
    listNewTimezones: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    user: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      success: false,
      errorsFields: {
        dateStart: {
          notnull: {
            'is-valid': true,
            message: this.$translator.trans('Session start date cannot be blank')
          }
        },
        duration: {
          notnull: {
            'is-valid': true,
            message: this.$translator.trans('The duration of the session cannot be empty')
          },
          regex: {
            'is-valid': true,
            message: this.$translator.trans('Session length format must be HH:MM')
          }
        }
      }
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'stepWizard', 'clients', 'clientData']),
    canCreateSessionOnClient () {
      return this.clientData.billingMode !== 1 || this.clientData.remainingCredit > 0
    }
  },
  mounted () {
    handleClientDefaultDataForTheSessionCreationWizard(this.sessionToSaved.clientId)
    this.validateField()
  },
  methods: {
    changeClient () {
      handleClientDefaultDataForTheSessionCreationWizard(this.sessionToSaved.clientId)
    },
    calculateTimeDifference (timezone) {
      return calculateTimeDifference(timezone)
    },
    changeStepWizard () {
      handleClientDefaultDataForTheSessionCreationWizard(this.sessionToSaved.clientId)
      if (!this.canCreateSessionOnClient) {
        return
      }

      this.stepWizard.userLoaded = false
      this.stepWizard.groupLoaded = false
      this.stepWizard.current = 'createSession'
      this.stepWizard.previous = 'selectDate'
      this.stepWizard.bullet = {
        selectDate: true,
        createSession: true,
        selectParticipants: false,
        validSession: false
      }
    },
    validateField () {
      let formSuccess = true
      if (typeof (this.sessionToSaved.dateStart) === 'undefined' || this.sessionToSaved.dateStart == null) {
        this.errorsFields.dateStart.notnull['is-valid'] = false
        formSuccess = false
      } else {
        this.errorsFields.dateStart.notnull['is-valid'] = true
      }

      if (typeof (this.sessionToSaved.duration) === 'undefined' || this.sessionToSaved.duration == null) {
        this.errorsFields.duration.notnull['is-valid'] = false
        formSuccess = false
      } else {
        this.errorsFields.duration.notnull['is-valid'] = true
      }

      const regex = /[0-9]?[0-9]h[0-9][0-9]$/
      if (!regex.test(this.sessionToSaved.duration)) {
        this.errorsFields.duration.regex['is-valid'] = false
        formSuccess = false
      } else {
        this.errorsFields.duration.regex['is-valid'] = true
      }

      this.success = formSuccess
    },
    translateTimeZone (timeZone) {
      if (typeof this.listNewTimezones[timeZone] === 'undefined') {
        return timeZone
      }
      return this.listNewTimezones[timeZone]
    }
  }
}
</script>
