<template>
  <main class="session-main-content d-flex flex-column align-items-center">
    <div class="login-main__logo">
      <img src="/build/static/single-logo.svg">
    </div>
    <div class="session-title">
      <h2>{{ $translator.trans('Session creation') }}</h2>
    </div>
    <div class="session-desc mb-28">
      <p class="text-center">
        {{ $translator.trans('Create your session in guided mode or semi-automatic mode') }}
      </p>
    </div>
    <div>
      <section>
        <div class="session-choice mb-28">
          <div
            class="btn-group"
            role="group"
          >
            <a>
              <button
                type="button"
                class="btn btn-light session-choice-btn btn-session-choice-type"
                :class="{ active: !selectedByImport }"
                @click="selectCreation('tunnel')"
              >
                <div class="d-flex flex-column align-items-center">
                  <span class="mb-20">{{ $translator.trans('Assisted session creation') }}</span>
                  <img
                    src="/build/static/icons/creation-assiste.svg"
                  >
                </div>
              </button>
            </a>
            <button
              type="button"
              class="btn btn-light session-choice-btn btn-session-choice-type"
              :class="{ active: selectedByImport }"
              @click="selectCreation('import')"
            >
              <div class="d-flex flex-column align-items-center">
                <span class="mb-20">{{ $translator.trans('Import one or more sessions') }}</span>
                <img
                  src="/build/static/icons/creation-import.svg"
                >
              </div>
            </button>

            <div
              v-if="selectedByImport"
              id="importSessionsModal"
              class="modal fade"
              tabindex="-1"
              aria-labelledby="importSessionsModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header px-4 py-3">
                    <h5
                      class="modal-title"
                    >
                      {{ $translator.trans('Import one or more sessions') }}
                    </h5>
                    <span
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    />
                  </div>
                  <div
                    class="modal-body p-0"
                  >
                    <import-session-file
                      :clients="Object.values(clients)"
                      :restrictions="restrictions"
                      class="container mt-3"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column">
          <div class="align-self-end">
            <button
              v-if="!selectedByImport"
              class="btn btn-primary"
              role="button"
              @click="changeStepWizard()"
            >
              {{ $translator.trans('Next') }}
            </button>
            <a
              v-if="selectedByImport"
              class="btn btn-primary"
              role="button"
              data-bs-toggle="modal"
              data-bs-target="#importSessionsModal"
            >{{ $translator.trans('Next') }}</a>
          </div>
        </div>
      </section>
    </div>
  </main>
</template>

<script>
import { mapState }      from 'vuex'
import ImportSessionFile from '../ImportSessionFile'

export default {
  components: { ImportSessionFile },
  data () {
    return {
      selectedByImport: false
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'stepWizard', 'clientId', 'clients', 'restrictions'])
  },
  methods: {
    changeStepWizard () {
      this.stepWizard.current = 'selectDate'
      this.stepWizard.bullet.selectDate = true
    },
    selectCreation (type) {
      (type === 'tunnel') ? this.selectedByImport = false : this.selectedByImport = true
    }
  }
}
</script>
