<template>
  <div class="session-created-body">
    <template v-if="isSimplePage">
      <div class="session-main-logo">
        <a
          :href="$routing.generate('_session_viewer')"
          class="main-logo d-flex flex-column align-items-center"
        >
          <img src="/build/static/symbole-logo-live-session.svg">
          <img src="/build/static/logo-live-session.png">
        </a>
      </div>
      <div
        v-if="stepWizard.current==='selectType'"
        class="session-main-cancel-creation"
      >
        <a
          :href="$routing.generate('_session_viewer')"
          class="d-flex align-items-center cancel-link"
        ><span>{{ $translator.trans('Cancel creation') }}</span><img src="/build/static/icons/creation-close.svg"></a>
      </div>
      <create-session-wizard-select-type v-if="stepWizard.current==='selectType'" />
      <create-session-wizard-success v-if="stepWizard.current==='success'" />
    </template>
    <template v-else>
      <create-session-wizard-header />
      <main class="session-main-content-session d-flex flex-column align-items-center">
        <create-session-wizard-bullets />
        <create-session-wizard-select-date
          v-if="stepWizard.current==='selectDate'"
          :list-new-timezones="listNewTimezones"
          :user="user"
        />
        <create-session-wizard-create-session v-else-if="stepWizard.current==='createSession'" />
        <create-session-wizard-select-participants
          v-else-if="stepWizard.current==='selectParticipants'"
          @update-add-modal="stepWizard.current = 'selectParticipantsGroups'"
        />
        <Create-session-wizard-select-participants-groups
          v-else-if="stepWizard.current==='selectParticipantsGroups'"
          @update-add-modal="stepWizard.current = 'selectParticipants'"
        />
        <template v-else-if="stepWizard.current==='validSession'">
          <create-session-wizard-validate-header />
          <create-session-wizard-validate-resume
            :list-new-timezones="listNewTimezones"
          />
        </template>
      </main>
    </template>
  </div>
</template>

<script>
import { mapState }                                           from 'vuex'
import CreateSessionWizardBullets                             from './bullets/CreateSessionWizardBullets'
import CreateSessionWizardHeader                              from './CreateSessionWizardHeader'
import CreateSessionWizardSelectDate                          from './CreateSessionWizardSelectDate'
import CreateSessionWizardSelectParticipants                  from './step-add-participants/CreateSessionWizardSelectParticipants'
import CreateSessionWizardSelectType                          from './CreateSessionWizardSelectType'
import CreateSessionWizardCreateSession from './step-create-session/CreateSessionWizardCreateSession'
import CreateSessionWizardValidateHeader from './step-validate/CreateSessionWizardValidateHeader'
import CreateSessionWizardValidateResume from './step-validate/CreateSessionWizardValidateResume'
import CreateSessionWizardSuccess from './step-success/CreateSessionWizardSuccess'
import store from '../../../store'
import CreateSessionWizardSelectParticipantsGroups from './step-add-participants-groups/CreateSessionWizardSelectParticipantsGroups.vue'

export default {
  components: {
    CreateSessionWizardSelectParticipantsGroups,
    CreateSessionWizardSuccess,
    CreateSessionWizardValidateResume,
    CreateSessionWizardValidateHeader,
    CreateSessionWizardBullets,
    CreateSessionWizardHeader,
    CreateSessionWizardSelectType,
    CreateSessionWizardSelectDate,
    CreateSessionWizardCreateSession,
    CreateSessionWizardSelectParticipants
  },
  props: {
    listNewTimezones: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    clients: {
      type: Array,
      required: true
    },
    restrictions: {
      type: Object,
      required: false,
      default: () => { return {} }
    },
    user: {
      type: Object,
      required: true
    },
    targetClientForCurrentUser: {
      type: Number,
      required: true
    },
    sessionNatureValues: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      file: '',
      loaderSpinner: false,
      GroupModal: false,
      stateSubmitButton: true,
      showMessage: false,
      readyToImport: true
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'stepWizard']),
    isSimplePage () {
      return ['selectType', 'success'].includes(this.stepWizard.current)
    }
  },
  mounted () {
    store.commit('sessionWizard/initWizard', {
      clientId: this.targetClientForCurrentUser,
      clients: this.clients,
      restrictions: this.restrictions,
      user: this.user,
      sessionNatureValues: this.sessionNatureValues
    })
  }
}
</script>
