.session-created-body {
    height: 100%;
    //background: $gray-300;
    & .session-main-logo {
        position: absolute;
        top: 20px;
        left: 30px;
        width: 161px;
    }
    & .session-main-content {
        padding-top: 174px;
        & .login-main__logo {
            margin-bottom: 28px;
        }
        & .session-title {
            margin-bottom: 14px;
            & h2 {
                @include font-size(36px);
                @include line-height(39px);
                font-weight: bold;
                color: $black;
            }
        }
        & .session-desc {
            & p {
                @include font-size($input-btn-font-size);
                @include line-height(16px);
                font-weight: 300;
                color: $black;
                max-width: 440px;
            }
        }
        & .session-btn-access-my_account {
            & a {
                @include font-size(16px);
                @include line-height(17px);
                font-weight: bold;
            }
        }
        & .session-btn-create-new-session {
            & a {
                & img {
                    margin-right: 6px;
                }
                & span {
                    @include font-size(16px);
                    @include line-height(17px);
                    color: $black;
                    font-weight: bold;
                }
            }
        }
        
    }
}