.session-created-body {
    height: 100%;
    //background-color: $gray-300;
    & .session-main-header {
        background-color: $white;
        padding: 27px 36px 27px 33px;
        
        & .session-main-details {
            & .session-main-details__logo {
                margin-right: 22px;
            }
            & .session-main-details__infos {
                & h2 {
                    @include font-size(20px);
                    @include line-height(22px);
                    font-weight: bold;
                }
                & div {
                    margin-top: 5px;
                }
                & span,
                & button  {
                    @include font-size(12px);
                    @include line-height(13px);
                }
                & button {
                    font-weight: bold;
                }
            }
        }

        & .session-main-cancel-creation {
            position: relative;
            top: unset;
            right: unset;
            & .cancel-link {
                & span {
                    margin-right: 10px;
                    @include font-size(16px);
                    @include line-height(17px);
                    font-weight: bold;
                    color: $black;
                }
                
            }
        }
    }
    
    & .session-main-content-session {
        padding-top: 60px;
        & .session-steps {
            margin-bottom: 130px;
            width: 100%;
            max-width: 1200px;
            & .session-steps__step {
                width: 100%;
                & img {
                    margin-bottom: 9px;
                }
                & span {
                    @include font-size(12px);
                    @include line-height(15px);
                    font-weight: 600;
                }
            }
            & .session-steps__step.active {
                & span {
                    font-weight: bold;
                }
            }
            & .sep {
                width: 100%;
                height: 1px;
                background-color: #D8D8D8;
                align-self: flex-start;
                margin-top: 12px;
            }
            & .sep.active {
                background-color: $green;
            }
        }
        & .session-container {
            width: 100%;
            max-width: 1400px;

            & nav {
                & .nav-tabs {
                    min-width: 145px;
                    border: unset;
                    & .nav-link {
                        border-radius: unset;
                        border: none;
                        @include font-size(12px);
                        @include line-height(13px);
                        color: rgba($color: #000000, $alpha: 0.57);
                    }  
                    & .nav-link:hover,
                    & .nav-link:focus {
                        border-color: #E9E9E9;
                        border-right: unset;
                    background-color: $white;
                        position: relative;
                    }
                    & .nav-link:hover:after,
                    & .nav-link:focus:after,
                    & .nav-link.active:after, 
                    & .nav-item.show .nav-link:after  {
                        content: '-';
                        width: 1px;
                        height: 100%;
                        color: $white;;
                        background-color: $white;
                        position: absolute;
                        top: 0;
                        right: -1px;
                    }
                    & .nav-link.active, 
                    & .nav-item.show .nav-link {
                        border-radius: unset;
                        border-left : 1px solid #E9E9E9;
                        border-top : 1px solid #E9E9E9;
                        border-bottom : 1px solid #E9E9E9;
                        border-right: 0;
                        color: rgba($color: #000000, $alpha: 1);
                        font-weight: 600;
                        position: relative;
                    }
                    & .session-btn-access-next-step {
                        margin-right: 0.8rem;
                        margin-top: 17px;
                        & a {
                            @include font-size($input-btn-font-size);
                            @include line-height(16px);
                            font-weight: bold;
                        }
                    }
                }
            }

            & .tab-content {
                width: 100%;
                background-color: $white;
                border: 1px solid #E9E9E9;
                padding: 30px 30px 36px 30px;

                & #nav-required-fields {
                    & label {
                        & sup {
                            color: unset;
                        }
                    }
                    & h3 {
                        @include font-size(16px);
                        @include line-height(17px);
                        font-weight: bold;
                        margin-bottom: 14px;
                    }
                    & select#user-global-modele-convoc {
                        background-position: right 40px center;
                    }
                    & select#user-global-modele-convoc + span.view {
                        cursor: pointer;
                    }
                    & select#user-global-modele-convoc + span.view:after {
                        content: url('../../../static/icons/eye-green.svg');
                        width: 16px;
                        height: 12px;
                        position: absolute;
                        top: 33px;
                        right: 40px;
                    }
                    & select#user-global-modele-convoc + span.disabled:after {
                        content: url('../../../static/icons/view.svg');
                    }
                }

                & #nav-general,
                & #nav-attestation {
                    & .vue-tags-input {
                        width: 100%;
                    }
                    & .vue-tags-input + img {
                        margin-left: 10px;
                    }
                }

                & #nav-general {
                    & #user-global-infos {
                        height: 135px;
                    }
                }

                & #nav-attestation {
                    & .form__checklist {
                        & label {
                            font-weight: unset;
                        }
                    }
                }

                & #nav-auto-inscription {
                    & p {
                        @include font-size(12px);
                        @include line-height(13px);
                    }
                }

                & #nav-eval {
                    & .form-group {
                        & label {
                            @include font-size($input-btn-font-size);
                            width: unset;
                            margin-right: 8px;
                            margin-bottom: unset;
                        }
                    }
                    & .form__item {
                        & label + div {
                            width: 100%;
                        }
                        & .user-global-eval-and-session,
                        & .user-global-add-file-eval {
                            background-position: right 45px center;
                        }
                        & .user-global-eval-and-session + span.copy,
                        & .user-global-add-file-eval + span.upload {
                            cursor: pointer;
                        }
                        & .user-global-eval-and-session + span.copy:after,
                        & .user-global-add-file-eval + span.upload:after {
                            height: 16px;
                            position: absolute;
                            top: 33px;
                        }
                        & .user-global-eval-and-session + span.copy:after {
                            content: url('../../../static/icons/copy-green.svg');
                            width: 14px;
                            right: 85px;
                        }
                        & .user-global-add-file-eval + span.upload:after {
                            content: url('../../../static/icons/data-upload.svg');
                            width: 16px;
                            right: 45px;
                        }
                        & .input-group-text {
                            border: 1px solid  $_border-color;
                            border-left: 0;
                            background-color: #EFEFEF;
                            width: 45px;
                            cursor: pointer;

                            & img {
                                margin-left: unset;
                            }
                        }
                    }
                }

                & #nav-services {
                    & h3 {
                        @include font-size(18px);
                        @include line-height(16px);
                        font-weight: bold;
                    }
                    & .form__checklist {
                        & legend {
                            @include font-size(14px);
                            @include line-height(16px);
                            font-weight: bold;
                        }
                    }
                    & .form__item {
                        & .encadre {
                            border: 1px solid rgba($color: #3F8CFF, $alpha: 0.10);
                            background-color: rgba($color: #3F8CFF, $alpha: 0.10);
                            padding: 10px;
                            & p {
                                @include font-size(14px);
                                @include line-height(16px);
                            }
                        }
                    }
                }

                & #nav-convoc {
                    & h3 {
                        @include font-size(18px);
                        @include line-height(16px);
                        font-weight: bold;
                    }
                    & .form__item.date-rappel-block {
                        margin-bottom: unset;
                        margin-top: 10px;
                        align-items: flex-end;
                    }
                    & .form__item.custom-block {
                        height: unset;
                        margin-bottom: 10px;
                    }
                    & .form__item.custom-block + div > button {
                        @include font-size($input-btn-font-size);
                        @include line-height(16px);
                        font-weight: bold;
                    }
                    & .form__item {
                        & input[type="text"] {
                            border-right: unset;
                        }
                        & .input-container {
                            width: 100%;
                            & .input-group {
                                width: 90%;
                            }
                            & .input-actions {
                                margin-left: 10px;
                                width: 10%;

                                & img {
                                    cursor: pointer;
                                }
    
                                & .add-filter {
                                    margin-left: 5px;
                                }
                            }
                        }
                        & img.calendar {
                            cursor: pointer;
                        }
                        & img {
                            margin-left: unset;
                        }
                    }
                    & .form-container {
                        width: auto;
                        & .form__checklist {
                            & #user-convoc-send-email:checked:after {
                                background: $teal;
                            }
                        }
                    }
                    & .tox-statusbar__branding {
                        display: none;
                    }
                }
            }
        }
    }
}