.session-created-body {
    height: 100%;
    //background-color: $gray-300;
    & .session-main-header {
        background-color: $white;
        padding: 27px 36px 27px 33px;
        
        & .session-main-details {
            & .session-main-details__logo {
                margin-right: 22px;
            }
            & .session-main-details__infos {
                & h2 {
                    @include font-size(20px);
                    @include line-height(22px);
                    font-weight: bold;
                }
                & div {
                    margin-top: 5px;
                }
                & span,
                & button  {
                    @include font-size(12px);
                    @include line-height(13px);
                }
                & button {
                    font-weight: bold;
                }
            }
        }

        & .session-main-cancel-creation {
            position: relative;
            top: unset;
            right: unset;
            & .cancel-link {
                & span {
                    margin-right: 10px;
                    @include font-size(16px);
                    @include line-height(17px);
                    font-weight: bold;
                    color: $black;
                }
                
            }
        }
    }
    
    & .session-main-content-session {
        padding-top: 60px;
        & .session-steps {
            margin-bottom: 130px;
            width: 100%;
            max-width: 1200px;
            & .session-steps__step {
                width: 100%;
                & img {
                    margin-bottom: 9px;
                }
                & span {
                    @include font-size(12px);
                    @include line-height(15px);
                    font-weight: 600;
                }
            }
            & .session-steps__step.active {
                & span {
                    font-weight: bold;
                }
            }
            & .sep {
                width: 100%;
                height: 1px;
                background-color: #D8D8D8;
                align-self: flex-start;
                margin-top: 12px;
            }
            & .sep.active {
                background-color: $green;
            }
        }
        & .session-recap-blocks {
            width: 100%;
            max-width: 1400px;
            & .session-recap-blocks__container {
                padding: 30px 22px;
                background-color: $white;
                border: 1px solid #E9E9E9;
                & h3 {
                    @include font-size(18px);
                    @include line-height(16px);
                    font-weight: bold;
                }
                & .session-recap-blocks__container__encadre {
                    border-bottom: 1px solid #F0F0F0;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                }
                & .session-recap-blocks__container__encadre:last-child {
                    border-bottom: unset;
                }
                & .row {
                    font-family: 'Red Hat Display', sans-serif;
                    @include font-size(14px);
                    @include line-height(18px);
                    color: rgba($color: #000000, $alpha: 0.6);

                    & label {
                        font-weight: bold;
                    }

                    & span,
                    & a {
                        font-weight: 300;
                    }

                    & a {
                        color: rgba($color: #000000, $alpha: 0.6);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: block;
                    }
                }   
            }
            & .session-actions-buttons {
                & a {
                    @include font-size(16px);
                    @include line-height(17px);
                    font-weight: bold;
                }
                & .session-actions-buttons__save {
                    & a {
                        color: $black;
                    }
                }
            }
        }
    }
}