.session-created-body {
    height: 100%;
    //background: $gray-300;
    & .session-main-logo {
        position: absolute;
        top: 20px;
        left: 30px;
        width: 161px;
    }
    & .session-main-cancel-creation {
        position: absolute;
        top: 23px;
        right: 39px;
        & .cancel-link {
            & span {
                margin-right: 10px;
                @include font-size(16px);
                @include line-height(17px);
                font-weight: bold;
                color: $black;
            }

        }
    }
    & .session-main-content {
        padding-top: 174px;
        width: 100%;
        max-width: 440px;
        margin: 0 auto;
        & .login-main__logo {
            margin-bottom: 28px;
        }
        & .session-title {
            margin-bottom: 14px;
            & h2 {
                @include font-size(36px);
                @include line-height(39px);
                font-weight: bold;
                color: $black;
            }
        }
        & .session-desc {
            & p {
                @include font-size($input-btn-font-size);
                @include line-height(16px);
                font-weight: 300;
                color: $black;
                & span {
                    font-weight: bold;
                }
            }
        }
        & .session-choice {
            & button.session-choice-btn {
                border-radius: 0;
                border: 1px solid #E9E9E9;
                background-color: $white;
                width: 200px;
                height: 200px;
                margin-right: 1px;
                position: relative;
                &:after,
                &:active:after {
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                }
                &:after {
                    content: url('../../../static/icons/create-session-check.svg');
                }
                &:hover,
                &:focus,
                &:active,
                &.active {
                    background-color: $white;
                    border: 1px solid $green;
                }
                &:focus:after, &:active:after, &.active:after {
                    content: url('../../../static/icons/create-session-check-active.svg');
                }
                & span {
                    @include font-size(16px);
                    @include line-height(17px);
                    font-weight: bold;
                    color: $black;
                }
            }
        }
        & .session-btn-access-next-step {
            margin-right: 20px;
            & a {
                @include font-size(16px);
                @include line-height(17px);
                font-weight: bold;
            }
        }
    }
}
