.session-created-body {
    height: 100%;
    //background-color: $gray-300;
    & .session-main-header {
        background-color: $white;
        padding: 27px 36px 27px 33px;
        
        & .session-main-details {
            & .session-main-details__logo {
                margin-right: 22px;
            }
            & .session-main-details__infos {
                & h2 {
                    @include font-size(20px);
                    @include line-height(22px);
                    font-weight: bold;
                }
                & div {
                    margin-top: 5px;
                }
                & span,
                & button  {
                    @include font-size(12px);
                    @include line-height(13px);
                }
                & button {
                    font-weight: bold;
                }
            }
        }

        & .session-main-cancel-creation {
            position: relative;
            top: unset;
            right: unset;
            & .cancel-link {
                & span {
                    margin-right: 10px;
                    @include font-size(16px);
                    @include line-height(17px);
                    font-weight: bold;
                    color: $black;
                }
                
            }
        }
    }
    
    & .session-main-content-session {
        padding-top: 60px;
        & .session-steps {
            margin-bottom: 130px;
            width: 100%;
            max-width: 1200px;
            & .session-steps__step {
                width: 100%;
                & img {
                    margin-bottom: 9px;
                }
                & span {
                    @include font-size(12px);
                    @include line-height(15px);
                    font-weight: 600;
                }
            }
            & .session-steps__step.active {
                & span {
                    font-weight: bold;
                }
            }
            & .sep {
                width: 100%;
                height: 1px;
                background-color: #D8D8D8;
                align-self: flex-start;
                margin-top: 12px;
            }
            & .sep.active {
                background-color: $green;
            }
        }
        & .session-content-blocks {
            width: 100%;
            max-width: 1400px;
            
            & .container-add-participants {
                margin: auto 0;
                & img {
                    cursor: pointer;
                }
            }
            & .session-content-blocks__container {
                padding: 28px 0 0 0;
                background-color: $white;
                border: 1px solid #E9E9E9;

                & .searchbar-participants {
                    padding: 13px;
                    background-color: $gray-300;
                    border-radius: 154px; 
                    margin-left: 20px;
                    margin-right: 20px; 
                    & img {
                        margin-right: 11px;
                    }
                    & #participants-search {
                        border: none;
                        background: none;
                        font-family: var(--bs-font-sans-serif);
                        @include font-size(16px);
                        @include line-height(17px);
                        opacity: 50%;
                        width: 100%;
                    }
                }

                & .table-scroll-container {
                    @include overflow-table(300px);
                }

                & .table-participants,
                & .table-selected-participants {
                    width: 100%;
                    & thead {
                        & tr {
                            & th {
                                padding: 18px 20px;
                                @include font-size(14px);
                                @include line-height(16px);
                                color: rgba($color: #424248, $alpha: 0.45);
                            }
                        }
                    }
                    & tbody {
                        & tr {
                            border-bottom: 1px solid $white;
                            & td {
                                padding: 18px 20px;
                                @include font-size(14px);
                                @include line-height(24px);
                                color: $black;
                            }
                        }
                        & tr:nth-child(odd):not(.highlight) {
                            background-color: $gray-300;
                        }
                        & tr:nth-child(even):not(.highlight) {
                            background-color: rgba($color: $white, $alpha: 0.2);
                        }
                    }     
                }

                & .table-participants {
                    & tbody {
                        & tr {
                            cursor: pointer;
                        }
                        & tr.highlight {
                            background-color: rgba(128,188,0,0.2);
                        }
                    }
                }

                & .title-selected-participants {
                    margin-top: 18px;
                    margin-bottom: 48px;
                    & h3 {
                        @include font-size(18px);
                        @include line-height(16px);
                        font-weight: bold;
                        margin-left: 20px;
                    }
                    & h3 + div {
                        @include circle(16px);
                        background-color: $green;
                    }

                    & h3 + div span {
                        color: $white;
                        @include font-size(12px);
                        @include line-height(16px);
                        font-weight: 900;
                    }
                }
                & .table-selected-participants {
                    & select {
                        @include font-size(14px);
                        @include line-height(21px);
                        color: $black;
                        border-color:  $_border-color;
                        background-color: $white;
                        padding: 5px 9px;
                    }
                    & .btn-unsubscribe {
                        cursor: pointer;
                        margin-left: 70px;
                    }
                }
                
            }

            & .session-btn-access-next-step {
                margin-top: 18px;
            }
        }
    }
}