{% set isCustomerService = is_granted('ROLE_CUSTOMER_SERVICE')?true:false %}
{% set isHotlineCustomerService = is_granted('ROLE_HOTLINE_CUSTOMER_SERVICE')?true:false %}
{% set isAdmin = is_granted('ROLE_ADMIN')?true:false %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="Mylivesession Manager facilite la création et l’organisation des classes virtuelles avec Teams, Zoom,  Webex, Google Meet, Adobe Connect... et permet leur industrialisation" />
        <meta name="description" content="Mylivesession Manager facilitates the creation and organization of virtual classes with Teams, Zoom, Webex, Google Meet, Adobe Connect... and allows their industrialization" />
        <meta name="keywords" content="Classe virtuelle, Live session, Video live, Zoom, Microsoft Teams, Teams, Cisco Webex, Webex, Google Meet, Meet, Hangout, Adobe Connect" />
        <meta name="keywords" content="virtual class, live session, live video, Zoom, Microsoft Teams, Teams, Cisco Webex, Webex, Google Meet, Meet, Hangout, Adobe Connect" />
        {% block page_meta %}{% endblock %}

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <!-- Favicon -->

        <title>
            {% block title %}
                {% if title is not defined %}
                    {% set title = "" %}
                {% endif %}

                Mylivession Manager - {{ title|trans }}
            {% endblock %}
        </title>

        {{ encore_entry_link_tags('base') }}

        {% block stylesheets %}{% endblock %}
    </head>
    <body class="{% if body_classes is defined and body_classes is not null %}{{ body_classes }}{% endif %}{% block body_classes_block %}{% endblock %}">
        {% block base_body %}{% endblock %}

        {{ encore_entry_script_tags('base') }}

        {% block javascripts %}
            <script>
                const userPreferredTimezone = '{{ app.user.client.timezone|default(null) }}';
                const userPreferredLocale = '{{ app.user.preferredLang|default(null) }}';
            </script>
        {% endblock %}
    </body>
</html>
