<!DOCTYPE html>
{% if app.user is defined and app.user is not null %}
    {% set locale = app.user.preferredLang %}
{% elseif app.request.locale is defined and app.request.locale is not null %}
    {% set locale = app.request.locale %}
{% elseif lang is defined and lang is not null %}
    {% set locale = lang %}
{% else %}
    {% set locale = 'fr' %}
{% endif %}

{% apply inline_css %}
    <html lang="{{ locale }}">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{% block title %}{% endblock %}</title>
    
            {% for file in encore_entry_css_files('base') %}
                <link href="{{ pdf_upload_url(file) }}" rel="stylesheet" />
            {% endfor %}
            {% for file in encore_entry_css_files('styles-pdf') %}
                <link href="{{ pdf_upload_url(file) }}" rel="stylesheet" />
            {% endfor %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
            {# <link type="text/css" href="{{ end_point_domain~'/build/styles-session-pdf.css' }}" rel="stylesheet" /> #}
            {% block stylesheets %}
                <style>
                    /** Define the margins of your page **/
                    @page {
                        margin: 100px 40px;
                    }
                    
                    body, h1, h3 {
                        font-family: sans-serif;
                    }
                    p {
                        font-size: 10px;
                        font-family: sans-serif;
                    }
                    header {
                        position: fixed;
                        top: -100px;
                        left: 0px;
                        right: 0px;
                        height: 10px;
                        
                        /** Extra personal styles **/
                        color: white;
                        text-align: center;
                        line-height: 20px;
                    }
                    
                    footer {
                        position: fixed;
                        bottom: -20px;
                        left: 0px;
                        right: 0px;
                        height: 20px;
                        
                        /** Extra personal styles **/
                        color: white;
                        text-align: center;
                        line-height: 20px;
                    }
                </style>
            {% endblock %}
        </head>
        <body {% if body_classes is defined and body_classes is not null %}class="{{ body_classes }}"{% endif %}>
            {% block base_body %}
            {% endblock %}
        </body>
    </html>
{% endapply %}