{% extends 'base.html.twig' %}

{% block body_classes_block  %}session-created-body{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	<style>
		.primary-button {
			border: 1.5px solid {{ client.color }};
			background-color: {{ client.color }};
			color: #FFFFFF;
		}

		.primary-button:disabled {
			border-color: gray;
			background-color: transparent;
			color: gray;
		}
	</style>
{% endblock %}

{% block base_body %}
	<header class="session-main-header d-flex align-items-center justify-content-between py-2">
		<img style="max-height: 80px; object-fit: contain;" class="img-fluid" src="{{ asset( client_logo_directory ~ client.logo ) }}" alt="{{ client.name }}">
		<div class="session-main-details d-flex align-items-center">
			<div class="session-main-details__infos text-end">
				{% block header_content %}
					<h2 class="mb-2">{% block header_title %}{% endblock %}</h2>
					<div class="d-flex align-items-center justify-content-between">
						<span>{% block header_sub_title %}{% endblock %}</span>
					</div>
				{% endblock %}
			</div>
		</div>
	</header>
	
	<main class="session-detail-signature-content d-flex flex-column align-items-center pt-4">
		<div class="session-content d-flex flex-column align-items-center">
			<div class="session-title text-center">
				<h2>{% block content_title %}{% endblock %}</h2>
			</div>
			<div class="session-desc text-center mt-10 mb-20">
				<p class="text-center">{% block content_sub_title %}{% endblock %}</p>
			</div>
			{% block content %}
			{% endblock %}
		</div>
	</main>
	
	<footer class="blank-footer py-2 px-4">
		{% block blank_footer %}{% endblock %}
	</footer>

{% endblock %}