{% extends 'base.html.twig' %}

{% set body_classes = 'blank-page' %}
{% block base_body %}
	<header class="main-header d-flex justify-content-between align-items-center px-4 py-2">
		<div class="main-header-logo square"><img src="{{ asset('build/static/logo-live-session.svg') }}" alt="Mylivesession Manager" class="img-fluid"></div>
		<h2>{% block blank_title %}{% endblock %}</h2>
		<div class="square">
			<!-- TODO: Implement support button / data -->
		</div>
	</header>
	
	<main class="main-content d-flex flex-column align-items-center">
		<section class="logo p-4">
			{% if providerSession is not empty and providerSession.client.logo is not empty %}
				{% set blank_logo_client = blank_logo_client | default(providerSession.client.logo) %}
				<img class="img-fluid" style="max-width: 20rem" src="{{ asset( client_logo_directory ~ providerSession.client.logo ) }}" alt="{{ providerSession.client.name }}">
			{% endif %}
		</section>
		
		
		{% if providerSession is not empty %}
			<div class="main-content-content d-flex flex-column align-items-center">
				<div class="main-content-title text-center">
					<h2>{{ providerSession.name }}</h2>
				</div>
				<div class="main-content-desc text-center mt-10 mb-42">
					<p class="text-center">{% set dateStartLocalized = providerSession.dateStart()|format_datetime('full', 'short', locale=providerSession.language, timezone= providerSession.client.timezone) %}
						{{ '%field_2% - Duration %field_3%' | trans({
							'%field_2%': dateStartLocalized,
							'%field_3%': providerSession.datesDiffString()
						}) }}</p>
				</div>
			</div>
		{% endif %}
		<div class="main-content d-flex flex-column align-items-center">
			<div class="col-md-12">
				{% include('flash_messages.html.twig') %}
			</div>
			{% block blank_body %}{% endblock %}
		</div>
	</main>
	
	<footer class="blank-footer py-2 px-4">
		{% block blank_footer %}{% endblock %}
	</footer>

{% endblock %}