<section id="user-nav" class="user-nav">
    <div class="user-nav__overlay user-nav-toggler"></div>
    <div class="user-nav__container">
        <div class="user-nav__user-nav-closer user-nav-toggler" role="button">
            <img src="{{ asset('build/static/icons/cross.svg') }}" width="10" />
        </div>
        <h2 class="user-nav__title">
            <span>{{ userDisplayName(app.user) }}</span>
        </h2>
        <p class="user-nav__subtitle">{{ app.user.client.name }}</p>
        <div
                id="switch-account-select"
        >
            <switch-account-select
                :available-accounts="{{ userAvailableAccounts(app.user) }}"
                current-account="{{ app.user.id }}"
            />
        </div>
        <hr />
        <nav>
            <ul class="user-nav__list-item-container">
                <li class="user-nav__item">
                    <a href="{{ path('_user_profile') }}">
                        <img src="{{ asset('build/static/icons/profile.svg') }}" width="16" />
                        {{ 'My profile'|trans }}
                    </a>
                </li>
                {% if is_granted( 'ROLE_ADMIN' )  %}
                    <li class="user-nav__item">
                        <a href="{{ path('_client_list') }}">
                            <img src="{{ asset('build/static/icons/groupe.svg') }}" width="16" />
                            {{ 'Account settings'|trans }}
                        </a>
                    </li>
                {% elseif is_granted( 'ROLE_MANAGER' ) %}
                    <li class="user-nav__item">
                        <a href="{{ path('_client_edit', {'id': app.user.client.id}) }}">
                            <img src="{{ asset('build/static/icons/groupe.svg') }}" width="16" />
                            {{ 'Account settings'|trans }}
                        </a>
                    </li>
                {% endif %}
                <li class="user-nav__item">
                    <a href="{{ path('_password_update') }}">
                        <img src="{{ asset('build/static/icons/Lock.svg') }}" width="16" />
                        {{ 'Password'|trans }}
                    </a>
                </li>
                {% if not isCustomerService and not isHotlineCustomerService %}
                    <li class="user-nav__item">
                        <a href="{{ path('_user_preferences_profile') }}">
                            <img src="{{ asset('build/static/icons/alerte.svg') }}" width="16" />
                            {{ 'Notifications emails'|trans }}
                        </a>
                    </li>
                {% endif %}
                <li class="user-nav__item mb-4">
                    <a href="{{ path('_app_logout') }}">
                        <img src="{{ asset('build/static/icons/deconnexion.svg') }}" width="16" />
                        {{ 'Log out'|trans }}
                    </a>
                </li>
                <hr />
                <p>
                    <a
                            class="user-nav__account-sub-link m-2"
                            href="/archives/PolitiqueRGPD-LIVESESSION-MLSM.pdf"
                            target="_blank"
                    >
                        {{ 'Privacy' | trans }}
                    </a>
                    <a
                            class="user-nav__account-sub-link m-2"
                            href="https://live-session.fr/mentions-legales/"
                            target="_blank"
                    >
                        {{ 'Legal notices' | trans }}
                    </a>
                </p>
            </ul>
        </nav>
    </div>
</section>
<div class="left-navigation">
    <a href="#" class="main-logo">
        <img src="{{ asset('build/static/logoLiveSession.png') }}" alt="">
        <img src="{{ asset('build/static/LiveSessionLogo.svg') }}" alt="">
    </a>
    <nav class="side-bar-navigation">
        <ul class="main-nav">
            <li class="main-nav__item" id="dashboardNav">
                <a href="{{ path('_service_client') }}" class="collapsed single {{ (routeActive == '_service_client') ? 'active' : '' }}">
                    <img src="{{ asset('build/static/icons/green-round-whith-chevron.svg') }}" width="18">
                    <span>{{ 'Customer service portal'|trans }}</span>
                </a>
            </li>
            <li class="main-nav__item" id="dashboardNav">
                <a href="{{ path('_help_task_calendar_personal') }}" class="collapsed single {{ (routeActive == '_help_task_calendar_personal') ? 'active' : '' }}">
                    <img src="{{ asset('build/static/icons/tableau-de-bord.svg') }}" width="18">
                    <span>{{ 'My services'|trans }}</span>
                </a>
            </li>
            {% if is_granted( 'ROLE_CUSTOMER_SERVICE' ) and not is_granted( 'ROLE_ADMIN' )  %}
                <li class="main-nav__item" id="dashboardNav">
                    <a href="{{ path('_billing_claimant') }}" class="collapsed single {{ (routeActive == '_billing_claimant') ? 'active' : '' }}">
                        <img src="{{ asset('build/static/icons/fichier-facture.svg') }}" width="18">
                        <span>{{ 'My activities'|trans }}</span>
                    </a>
                </li>
            {% endif %}
            <li class="main-nav__item" id="dashboardNav">
                <a href="{{ path('_evaluation_animators_results') }}" class="collapsed single {{ (routeActive == '_evaluation_animators_results') ? 'active' : '' }}">
                    <img src="{{ asset('build/static/icons/participants.svg') }}" width="18">
                    <span>{{ 'Evaluation'|trans }}</span>
                </a>
            </li>
            <li class="main-nav__item" id="dashboardNav">
                <a href="{{ path('_log_book_results') }}" class="collapsed single {{ (routeActive == '_log_book_results') ? 'active' : '' }}">
                    <img src="{{ asset('build/static/icons/statistics.svg') }}" width="18">
                    <span>{{ 'Log Book'|trans }}</span>
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN')%}
                <li class="main-nav__item">
                    {% set adminMenuExpanded = false %}
                    {% if routeActive in ['_helper_list', '_help_need_calendar','_configuration_eval_logbook','_evaluation_animators_results'] %}
                        {% set adminMenuExpanded = true %}
                    {% endif %}

                    <a class="{{ adminMenuExpanded ? '' : 'collapsed' }}" data-bs-toggle="collapse" href="#adminNav" aria-expanded="{{ adminMenuExpanded ?? false }}">
                        <img src="{{ asset('build/static/icons/admin-icon-color.svg') }}" width="18">
                        {{ 'Admin'|trans }}
                    </a>
                    <ul class="main-nav__sub-item multi-collapse collapse {{ adminMenuExpanded ? 'show' : '' }} " id="adminNav">
                        <li>
                            <a href="{{ path('_dashboard_sc') }}" class="{{ (routeActive == '_dashboard_sc') ? 'admin' : '' }}"><span>{{ 'Dashboard'|trans }}</span></a>
                        </li>

                        <li>
                            <a href="{{ path('_helper_list') }}" class="{{ (routeActive == '_helper_list') ? 'active' : '' }}"><span>{{ 'Service providers'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="{{ path('_help_need_calendar') }}" class="{{ (routeActive == '_help_need_calendar') ? 'active' : '' }}"><span>{{ 'Planning'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="{{ path('_configuration_eval_logbook') }}" class="{{ (routeActive == '_configuration_eval_logbook') ? 'active' : '' }}"><span>{{ 'Configuration'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="{{ path('_billing_export_tpm') }}" class="{{ (routeActive == '_billing_export_tpm') ? 'active' : '' }}"><span>{{ 'Billing'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="{{ path(app.user.preferredInitialRoute) }}"><span>{{ 'Back'|trans }}</span></a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if is_granted('ROLE_HOTLINE_CUSTOMER_SERVICE')%}
                <li class="main-nav__item" id="dashboardNav">
                    <a href="{{ path('_session_viewer') }}" class="collapsed single">
                        <img src="{{ asset('build/static/icons/admin-round-whith-chevron.svg') }}" width="18">
                        <span class="admin-text-color">{{ 'Mylivesession Manager' }}</span>
                    </a>
                </li>
            {% endif %}
        </ul>

    </nav>

    <div id="billingModal" class="modal fade" tabindex="-1" aria-labelledby="billingModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header px-4 py-3">
                    <h5 class="modal-title">titi</h5>
                    <span type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                </div>
                <div class="modal-body p-0">
                    content
                </div>
            </div>
        </div>
    </div>

{#    <div class="support-footer">#}
{#        <a href="https://support.live-session.fr/portal/fr/kb/logiciels" target="_blank">#}
{#            <img src="{{ asset('build/static/support.svg') }}">#}
{#        </a>#}
{#    </div>#}
</div>
