{% for flash in app.flashes('success') %}
    {% include('flash_message.html.twig') with {type: 'success', text: (flash|trans|raw)} %}
{% endfor %}

{% for flash in app.flashes('error') %}
    {% include('flash_message.html.twig') with {type: 'danger', text: (flash|trans|raw)} %}
{% endfor %}

{% for flash in app.flashes('warning') %}
    {% include('flash_message.html.twig') with {type: 'warning', text: (flash|trans|raw)} %}
{% endfor %}

{% for flash in app.flashes('info') %}
    {% include('flash_message.html.twig') with {type: 'info', text: (flash|trans|raw)} %}
{% endfor %}

