<div class="alert alert-{{ type }} align-items-start d-flex fade justify-content-between p-3 show w-100" role="alert">
    {{ text }}
    <button type="button" class="btn-close d-block position-relative ps-3" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
