{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('user-avatar') }}
    {{ encore_entry_link_tags('main-global-searchbar') }}
    {{ encore_entry_link_tags('switch-account-select') }}
{% endblock %}

{% set routeActive = routeActive | default('') %}
{% set userLang = app.user.getPreferredLang()|default('fr') %}

{% block base_body %}
    {% block side_nav %}
        {% if disableNavigation is not defined or not disableNavigation %}
            {% if isCustomerService and not isHotlineCustomerService %}
                {% include 'customer_service_menu.html.twig' %}
            {% else %}
                {% include 'sidenav.html.twig' %}
            {% endif %}
        {% endif %}
    {% endblock %}
    <div class="global{% if disableNavigation is defined and disableNavigation %} ps-3{% endif %}">
        {% block top_nav %}
            {% if disableNavigation is not defined or not disableNavigation %}
                <div class="header">
                    {% if is_granted('ROLE_ADMIN') %}

                        {% if chatGPTService.getAllAlert.error %}
                            <div class="alert alert-danger p-3 show text-center" role="alert" style="margin-top: -20px">
                                {{ chatGPTService.getAllAlert.error }}
                            </div>
                        {% endif %}

                        {% if chatGPTService.getAllAlert.thresholdReached %}
                            <div class="alert alert-danger p-3 show text-center" role="alert" style="margin-top: -20px">
                                {{ 'Threshold limit reached for ChatGPT.'|trans }}
                            </div>
                        {% endif %}

                        {% for alert in webexRestMeetingService.remindExpireAccessToken %}
                            <div class="alert {{ alert.color}} p-3 show text-center" role="alert" style="margin-top: -20px">
                                {{ 'The connector %connector% token for the %account% expires on %date%.'|trans({'%connector%': alert.name, '%account%': alert.client, '%date%': alert.expireAt|date('d/m/Y')}) }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if  is_granted('ROLE_MANAGER') %}
                        {% if app.user.client.billingMode == constant('App\\Entity\\Client\\Client::BILLING_MODE_CREDIT')
                            and app.user.client.remainingCredit <= app.user.client.optionFromAlert(constant('App\\Entity\\Client\\Client::NOTIFICATION_NO_MORE_CREDIT_OPTION_LIMIT')) %}
                            {% if app.user.client.remainingCredit == 0 %}
                                <div class="alert alert-danger p-3 show text-center" role="alert"
                                     style="margin-top: -20px">
                                    {{ 'You have no credit left. Contact your Live Session advisor.'|trans({'%remainingCredit%': app.user.client.remainingCredit}) }}
                                </div>
                            {% elseif app.user.client.remainingCredit == 1 %}
                                <div class="alert alert-warning p-3 show text-center" role="alert"
                                     style="margin-top: -20px">
                                    {{ 'You still have %remainingCredit% credit. Contact your Live Session Customer Service.'|trans({'%remainingCredit%': app.user.client.remainingCredit}) }}
                                </div>
                            {% else %}
                                <div class="alert alert-warning p-3 show text-center" role="alert"
                                     style="margin-top: -20px">
                                    {{ 'You still have %remainingCredit% credit. Contact your Live Session advisor.'|trans({'%remainingCredit%': app.user.client.remainingCredit}) }}
                                </div>
                            {% endif %}
                        {% elseif app.user.client.billingMode == constant('App\\Entity\\Client\\Client::BILLING_MODE_PARTICIPANT')
                            and app.user.client.remainingCreditParticipants <= app.user.client.optionFromAlert(constant('App\\Entity\\Client\\Client::NOTIFICATION_NO_MORE_CREDIT_OPTION_LIMIT')) %}
                            {% if app.user.client.remainingCreditParticipants == 0 %}
                                <div class="alert alert-danger p-3 show text-center" role="alert"
                                     style="margin-top: -20px">
                                    {{ 'You have no credit left. Contact your Live Session advisor.'|trans({'%remainingCredit%': app.user.client.remainingCreditParticipants}) }}
                                </div>
                            {% elseif app.user.client.remainingCreditParticipants == 1 %}
                                <div class="alert alert-warning p-3 show text-center" role="alert"
                                     style="margin-top: -20px">
                                    {{ 'You still have %remainingCredit% credit. Contact your Live Session Customer Service.'|trans({'%remainingCredit%': app.user.client.remainingCreditParticipants}) }}
                                </div>
                            {% else %}
                                <div class="alert alert-warning p-3 show text-center" role="alert"
                                     style="margin-top: -20px">
                                    {{ 'You still have %remainingCredit% credit. Contact your Live Session advisor.'|trans({'%remainingCredit%': app.user.client.remainingCreditParticipants}) }}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <div class="top-bar">
                        {% set disableNotification = isCustomerService or isHotlineCustomerService %}
                        {% if isAdmin %}
                            {% set disableNotification = false %}
                        {% endif %}
                        {% if disableNotification is defined and not disableNotification %}
                            <!-- Search bar -->
                            <div id="main-global-searchbar">
                                <main-global-search-bar/>
                            </div>
                            <!-- Bounce counter -->
                            <div class="top-bar__item d-flex align-items-center me-4">
                                <a href="{{ path('_bounce_list') }}">
                                    <div class="pr" role="button">
                                        {% set bounceToCorrect = countBounceToCorrect() %}
                                        {% if bounceToCorrect > 0 %}
                                            <div class="bubble-notification">
                                                {{ bounceToCorrect }}
                                            </div>
                                        {% endif %}
                                        <img src="{{ asset('build/static/icons/email.svg') }}" height="18"/>
                                    </div>
                                </a>
                            </div>
                            <!-- Notification Bell -->
                            <div class="top-bar__item d-flex align-items-center me-4">
                                <div class="pr" role="button">
                                    <img id="bell-notifications" src="{{ asset('build/static/icons/notifications.svg') }}" height="18">
                                </div>
                                <div id="bell-notifications-dropdown"
                                     class="dropdown-menu dropdown-menu-lg-start top-bar__search-dropdown notif-dropdown">
                                    <div class="row search-dropdown__main">
                                        <div class="col-sm-12 search-dropdown__session-part">
                                            <div class="row search-dropdown__main-content notif-dropdown-overflow">
                                                <h3>{{ 'Alerts and errors'|trans }}</h3>
                                                {% for notification in getLastNotifications(app.user.client)|slice(0,8) %}
                                                    <div class="notif-dropdown-content">
                                                        <div class="notif-dropdown-content-bullet">
                                                            {% if notification.severity == 'alert' %}
                                                                <img src="{{ asset('build/static/icons/alerte-info.svg') }}"
                                                                     alt="">
                                                            {% elseif notification.severity == 'error' %}
                                                                <img src="{{ asset('build/static/icons/minus-filter.svg') }}"
                                                                     alt="">
                                                            {% endif %}
                                                        </div>
                                                        <div class="notif-dropdown-content-message">
                                                            {{ notification.infos.message.key|trans(notification.infos.message.params)|raw }}
                                                            <br/>
                                                            <span class="text-muted"><em>{{ notification.createdAt|format_datetime('full', 'short', locale=userLang) }}</em></span>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="row search-dropdown__main-footer">
                                                <a href="{{ path('_activity_list', {'filter': 'notifications'}) }}">
                                                    <img src="{{ asset('build/static/icons/open-small.svg') }}" alt="">
                                                    {{ 'See the <span>{{ count }}</span> found notifications'|trans({'{{ count }}': countNotifications(app.user.client)})|raw }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="top-bar__item d-flex align-items-center me-5">
                            <a href="https://support.live-session.fr/portal/fr/kb/logiciels" target="_blank">
                                <div class="pr" role="button">
                                    <img src="{{ asset('build/static/icons/question-dark.svg') }}" alt="{{ 'Help'|trans }}" height="14">
                                </div>
                            </a>
                        </div>

                        <!-- Avatar connected user -->
                        <div id="user-nav-opener" class="top-bar__item d-flex align-items-center user-nav-toggler">
                            <b class="me-2 small">{{ app.user.client.name }}</b>
                            {% include 'users/avatar.html.twig' with {'size': 50} %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}

        {% block body %}
            <main {% if disableNavigation is defined and disableNavigation %}class="pt-3"{% endif %}>
                {% block main %}
                {% endblock %}
            </main>
        {% endblock %}
    </div>

    {% block modals %}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('user-avatar') }}
    {{ encore_entry_script_tags('main-global-searchbar') }}
    {{ encore_entry_script_tags('switch-account-select') }}
{% endblock %}
