{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('user-avatar') }}
    {{ encore_entry_link_tags('switch-account-select') }}
    {{ encore_entry_link_tags('link-export-sessions-viewer') }}
{% endblock %}

{% set routeActive = routeActive | default('') %}
{% set userLang = app.user.getPreferredLang()|default('fr') %}

{% block base_body %}
    {% block side_nav %}
        {% if disableNavigation is not defined or not disableNavigation  %}
            {% include 'customer_service_menu.html.twig' %}
        {% endif %}
    {% endblock %}
    <div class="global{% if disableNavigation is defined and disableNavigation %} ps-3{% endif %}">
        {% block top_nav %}
            {% if disableNavigation is not defined or not disableNavigation  %}
                <div class="header">
                    <div class="top-bar">
                        <!-- Notification Bell -->
                        <div class="top-bar__item d-flex align-items-center me-5">
                            {% set disableNotification = isCustomerService or isHotlineCustomerService %}
                            {% if disableNotification is defined and not disableNotification %}
                                <div class="pr" role="button">
                                    <img id="bell-notifications" src="{{ asset('build/static/icons/notifications.svg') }}" height="18">
                                </div>
                            {% endif %}
                            <div id="bell-notifications-dropdown"
                                 class="dropdown-menu dropdown-menu-lg-start top-bar__search-dropdown notif-dropdown">
                                <div class="row search-dropdown__main">
                                    <div class="col-sm-12 search-dropdown__session-part">
                                        <div class="row search-dropdown__main-content notif-dropdown-overflow">
                                            <h3>{{ 'Alerts and errors'|trans }}</h3>
                                            {% for notification in getLastNotifications(app.user.client)|slice(0,8) %}
                                                <div class="notif-dropdown-content">
                                                    <div class="notif-dropdown-content-bullet">
                                                        {% if notification.severity == 'alert' %}
                                                            <img src="{{ asset('build/static/icons/alerte-info.svg') }}" alt="">
                                                        {% elseif notification.severity == 'error' %}
                                                            <img src="{{ asset('build/static/icons/minus-filter.svg') }}" alt="">
                                                        {% endif %}
                                                    </div>
                                                    <div class="notif-dropdown-content-message">
                                                        {{ notification.infos.message.key|trans(notification.infos.message.params)|raw }}<br/>
                                                        <span class="text-muted"><em>{{ notification.createdAt|format_datetime('full', 'short', locale=userLang) }}</em></span>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="row search-dropdown__main-footer">
                                            <a href="{{ path('_activity_list', {'filter': 'notifications'}) }}">
                                                <img src="{{ asset('build/static/icons/open-small.svg') }}" alt="">
                                                {{ 'See the <span>{{ count }}</span> found notifications'|trans({'{{ count }}': countNotifications(app.user.client)})|raw }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="top-bar__item d-flex align-items-center me-5">
                            <a href="https://support.live-session.fr/portal/fr/kb/logiciels" target="_blank">
                                <div class="pr" role="button">
                                    <img src="{{ asset('build/static/icons/question-dark.svg') }}" alt="{{ 'Help'|trans }}" height="14">
                                </div>
                            </a>
                        </div>

                        <!-- Avatar connected user -->
                        <div id="user-nav-opener" class="top-bar__item d-flex align-items-center user-nav-toggler">
                            <b class="me-2 small">{{ app.user.client.name }}</b>
                            {% include 'users/avatar.html.twig' with {'size': 50} %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}

        {% block body %}
            <main {% if disableNavigation is defined and disableNavigation %}class="pt-3"{% endif %}>
                {% block main %}
                {% endblock %}
            </main>
        {% endblock %}
    </div>

    {% block modals %}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('user-avatar') }}
    {{ encore_entry_script_tags('switch-account-select') }}
    {{ encore_entry_script_tags('link-export-sessions-viewer') }}
{% endblock %}
