{% extends 'base_onhold.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% set routeActive = routeActive | default('') %}
{% set userLang = app.user.getPreferredLang()|default('fr') %}

{% block base_body %}
    {% block side_nav %}
        {% include 'sidenav_onhold.html.twig' %}
    {% endblock %}
    <div class="global{% if disableNavigation is defined and disableNavigation %} ps-3{% endif %}">
        {% block top_nav %}
            {% if disableNavigation is not defined or not disableNavigation %}
                <div class="header">
                    {% if is_granted('ROLE_ADMIN') %}

                    {% endif %}
                    {% if  is_granted('ROLE_MANAGER') %}

                    {% endif %}
                </div>
            {% endif %}
        {% endblock %}

        {% block body %}
            <main {% if disableNavigation is defined and disableNavigation %}class="pt-3"{% endif %}>
                {% block main %}
                {% endblock %}
            </main>
        {% endblock %}
    </div>

    {% block modals %}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
