<section id="user-nav" class="user-nav">
    <div class="user-nav__overlay user-nav-toggler"></div>
    <div class="user-nav__container">
        <div class="user-nav__user-nav-closer user-nav-toggler" role="button">
            <img src="{{ asset('build/static/icons/cross.svg') }}" width="10" />
        </div>
        <h2 class="user-nav__title">
            <span>{{ userDisplayName(app.user) }}</span>
        </h2>
        <p class="user-nav__subtitle">{{ app.user.client.name }}</p>
        <div
            id="switch-account-select"
        >
            <switch-account-select
                :available-accounts="{{ userAvailableAccounts(app.user) }}"
                current-account="{{ app.user.id }}"
            />
        </div>
        <hr />
        <nav>
            <ul class="user-nav__list-item-container">
                <li class="user-nav__item">
                    <a href="{{ path('_user_profile') }}">
                        <img src="{{ asset('build/static/icons/profile.svg') }}" width="16" />
                        {{ 'My profile'|trans }}
                    </a>
                </li>
                {% if is_granted( 'ROLE_HOTLINE_CUSTOMER_SERVICE' )  %}
                    <li class="user-nav__item">
                        <a href="{{ path('_client_list') }}">
                            <img src="{{ asset('build/static/icons/groupe.svg') }}" width="16" />
                            {{ 'Account settings'|trans }}
                        </a>
                    </li>
                {% elseif is_granted( 'ROLE_MANAGER' ) %}
                    <li class="user-nav__item">
                        <a href="{{ path('_client_edit', {'id': app.user.client.id}) }}">
                            <img src="{{ asset('build/static/icons/groupe.svg') }}" width="16" />
                            {{ 'Account settings'|trans }}
                        </a>
                    </li>
                {% endif %}
                <li class="user-nav__item">
                    <a href="{{ path('_password_update') }}">
                        <img src="{{ asset('build/static/icons/Lock.svg') }}" width="16" />
                        {{ 'Password'|trans }}
                    </a>
                </li>
                <li class="user-nav__item">
                    <a href="{{ path('_user_preferences_profile') }}">
                        <img src="{{ asset('build/static/icons/alerte.svg') }}" width="16" />
                        {{ 'Notifications emails'|trans }}
                    </a>
                </li>
                <li class="user-nav__item mb-4">
                    <a href="{{ path('_app_logout') }}">
                        <img src="{{ asset('build/static/icons/deconnexion.svg') }}" width="16" />
                        {{ 'Log out'|trans }}
                    </a>
                </li>
                <hr />
                <p>
                    <a
                        class="user-nav__account-sub-link m-2"
                        href="/archives/PolitiqueRGPD-LIVESESSION-MLSM.pdf"
                        target="_blank"
                    >
                        {{ 'Privacy' | trans }}
                    </a>
                    <a
                        class="user-nav__account-sub-link m-2"
                        href="https://live-session.fr/mentions-legales/"
                        target="_blank"
                    >
                        {{ 'Legal notices' | trans }}
                    </a>
                </p>
            </ul>
        </nav>
    </div>
</section>
<div class="left-navigation">
    <a href="{{ url('_dashboard_index') }}" class="main-logo">
        <img src="{{ asset('build/static/symbole-logo-live-session.svg') }}" alt="">
        <img src="{{ asset('build/static/logo-live-session.png') }}" alt="">
    </a>
    <nav class="side-bar-navigation">
        <ul class="main-nav">
            <li class="main-nav__item" id="dashboardNav">
                <a href="{{ path('_dashboard_index') }}" class="collapsed single {{ (routeActive == '_dashboard_index') ? 'active' : '' }}">
                    <img src="{{ asset('build/static/icons/tableau-de-bord.svg') }}" width="18">
                    <span>{{ 'Dashboard'|trans }}</span>
                </a>
            </li>
            <li class="main-nav__item">
                {% set sessionMenuExpanded = false %}
                {% if routeActive in ['_session_viewer','_licenses_available'] %}
                    {% set sessionMenuExpanded = true %}
                {% endif %}

                <a class="{{ sessionMenuExpanded ? '' : 'collapsed' }}" data-bs-toggle="collapse" href="#sessionNav" aria-expanded="{{ sessionMenuExpanded ?? false }}">
                    <img src="{{ asset('build/static/icons/session.svg') }}" width="18">
                    {{ 'Sessions'|trans }}
                </a>
                <ul class="main-nav__sub-item multi-collapse collapse {{ sessionMenuExpanded ? 'show ' : '' }}" id="sessionNav">
                    <li>
                        <a href="{{ url('_session_create_from_wizard') }}"><span>{{ 'New'|trans }}</span></a>
                    </li>
                    <li>
                        {% set isASessionViewList = ( routeActive == '_session_viewer' and not app.request.query.has('viewer')) %}
                        <a href="{{ path('_session_viewer') }}"  class="{{ (isASessionViewList) ? 'active' : '' }}"><span>{{ 'List'|trans }}</span></a>
                    </li>
                    <li>
                        {% set isASessionViewCalendar = ( routeActive == '_session_viewer' and app.request.query.has('viewer') and app.request.query.get( 'viewer' ) == 'calendar') %}
                        <a href="{{ path('_session_viewer', {'viewer': 'calendar'}) }}"  class="{{ (isASessionViewCalendar) ? 'active' : '' }}"><span>{{ 'Agenda'|trans }}</span></a>
                    </li>
                    {% if app.user.client.licensesAvailable.enabled %}
                        <li>
                            <a href="{{ path('_licenses_available') }}" class="collapsed single {{ (routeActive == '_licenses_available') ? 'active' : '' }}">
                                <span>{{ 'Licenses'|trans }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {# <li>
                        <a href="##"><span>{{ 'Tags'|trans }}</span></a>
                    </li> #}
                </ul>
            </li>
                <li class="main-nav__item">
                    {% set participantsMenuExpanded = false %}
                    {% if routeActive in ['_participant_list', '_group_list'] %}
                        {% set participantsMenuExpanded = true %}
                    {% endif %}
                    <a class="{{ participantsMenuExpanded ? '' : 'collapsed' }}" data-bs-toggle="collapse" href="#participantsNav" aria-expanded="{{ participantsMenuExpanded ?? false }}">
                        <img src="{{ asset('build/static/icons/participants.svg') }}" width="18">
                        {{ 'Participants'|trans }}
                    </a>
                    <ul class="main-nav__sub-item multi-collapse collapse {{ participantsMenuExpanded ? 'show ' : '' }}" id="participantsNav">
                        <li>
                            <a href="{{ path('_participant_list') }}" class="{{ (routeActive == '_participant_list') ? 'active' : '' }}"><span>{{ 'Directory'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="{{ path('_group_list') }}" class="{{ (routeActive == '_group_list') ? 'active' : '' }}"><span>{{ 'Group'|trans }}</span></a>
                        </li>
{#                        <li>#}
{#                            <a class="{{ (routeActive == '_group_list') ? 'active' : '' }}"><span>{{ 'Group (soon)'|trans }}</span></a>#}
{#                        </li>#}
                    </ul>
                </li>
            {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_MANAGER') and (app.user.client.selfRegistering.enabled or app.user.client.enableRegistrationPage)) %}
                <li class="main-nav__item">
                    {% set registeringMenuExpanded = false %}
                    {% if routeActive in ['_module_list', '_registration_page_index'] %}
                        {% set registeringMenuExpanded = true %}
                    {% endif %}
                    <a class="{{ registeringMenuExpanded ? '' : 'collapsed' }}" data-bs-toggle="collapse" href="#registerNav" aria-expanded="{{ registeringMenuExpanded ?? false }}">
                        <img src="{{ asset('build/static/icons/parcours-formation.svg') }}" width="18">
                        {{ 'Registration'|trans }}
                    </a>
                    <ul class="main-nav__sub-item multi-collapse collapse {{ registeringMenuExpanded ? 'show ' : '' }}" id="registerNav">
                        {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_MANAGER') and app.user.client.selfRegistering.enabled) %}
                            <li>
                                <a href="{{ path('_module_list') }}"  class="{{ (routeActive == '_module_list') ? 'active' : '' }}"><span>{{ 'Catalog'|trans }}</span></a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_MANAGER') and app.user.client.enableRegistrationPage) %}
                            <li>
                                <a href="{{ path('_registration_page_index') }}"  class="{{ (routeActive == '_registration_page_index') ? 'active' : '' }}"><span>{{ 'Page'|trans }}</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            <li class="main-nav__item">
                {% set activitiesMenuExpanded = false %}
                {% if routeActive in ['_npai_list', '_widget_news_index'] %}
                    {% set activitiesMenuExpanded = true %}
                {% endif %}

                <a class="{{ activitiesMenuExpanded ? '' : 'collapsed' }}" data-bs-toggle="collapse" href="#activitiesNav" aria-expanded="{{ activitiesMenuExpanded ?? false }}">
                    <img src="{{ asset('build/static/icons/clock-menu.svg') }}" width="18">
                    {{ 'Activities'|trans }}
                </a>
                <ul class="main-nav__sub-item multi-collapse collapse {{ activitiesMenuExpanded ? 'show ' : '' }}" id="activitiesNav">
                    <li>
                        <a href="{{ path('_activity_list') }}" class="collapsed single {{ (routeActive == '_activity_list') ? 'active' : '' }}">
                            <span>{{ 'Logbook'|trans }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('_bounce_list') }}"  class="{{ (routeActive == '_npai_list') ? 'active' : '' }}"><span>{{ 'Invalid emails'|trans }}</span></a>
                    </li>
                    <li>
                        <a href="{{ path('_widget_news_index') }}"  class="{{ (routeActive == '_widget_news_index') ? 'active' : '' }}"><span>{{ 'News'|trans }}</span></a>
                    </li>
                </ul>
            </li>
            <li class="main-nav__item">
                {% set statisticsMenuExpanded = false %}
                {% if routeActive in ['_sessions_evaluations_home', '_statistics'] %}
                    {% set statisticsMenuExpanded = true %}
                {% endif %}

                <a class="{{ statisticsMenuExpanded ? '' : 'collapsed' }}" data-bs-toggle="collapse" href="#statNav" aria-expanded="{{ statisticsMenuExpanded ?? false }}">
                    <img src="{{ asset('build/static/icons/statistiques.svg') }}" width="18">
                    {{ 'Statistics'|trans }}
                </a>

                <ul class="main-nav__sub-item multi-collapse collapse {{ statisticsMenuExpanded ? 'show ' : '' }}" id="statNav">
                    <li>
                        <a href="{{ path('_statistics') }}" class="collapsed single {{ (routeActive == '_statistics') ? 'active' : '' }}"><span>{{ 'Usage'|trans }}</span></a>
                    </li>
                    <li>
                        <a href="{{ url('_sessions_evaluations_home') }}" class="{{ (routeActive == '_sessions_evaluations_home') ? 'active' : '' }}"><span>{{ 'Evaluations'|trans }}</span></a>
                    </li>
                </ul>
            </li>
            {% if is_granted('ROLE_ADMIN')%}
                <li class="main-nav__item">
                    {% set adminMenuExpanded = false %}
                    {% if routeActive in ['_user_list', '_client_list', '_chatgpt_openai_home_page'] %}
                        {% set adminMenuExpanded = true %}
                    {% endif %}

                    <a class="{{ adminMenuExpanded ? '' : 'collapsed' }}" data-bs-toggle="collapse" href="#adminNav" aria-expanded="{{ adminMenuExpanded ?? false }}">
                        <img src="{{ asset('build/static/icons/admin-icon-color.svg') }}" width="18">
                        {{ 'Admin'|trans }}
                    </a>
                    <ul class="main-nav__sub-item multi-collapse collapse {{ adminMenuExpanded ? 'show' : '' }} " id="adminNav">
                        <li>
                            <a href="{{ path('_user_list') }}" class="{{ (routeActive == '_user_list') ? 'admin' : '' }}"><span>{{ 'Administrators'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="{{ path('_client_list') }}" class="{{ (routeActive == '_client_list') ? 'admin' : '' }}"><span>{{ 'Accounts'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="{{ path('_chatgpt_openai_home_page') }}" class="{{ (routeActive == '_chatgpt_openai_home_page') ? 'admin' : '' }}"><span>{{ 'OpenAI (GPT)'|trans }}</span></a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if is_granted('ROLE_HOTLINE_CUSTOMER_SERVICE')%}
                <li class="main-nav__item" id="dashboardNav">
                    <a href="{{ path('_service_client') }}" class="collapsed single {{ (routeActive == '_service_client') ? 'active' : '' }}">
                        <img src="{{ asset('build/static/icons/admin-round-whith-chevron.svg') }}" width="18">
                        <span class="admin-text-color">{{ 'Customer service portal'|trans }}</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
