<section id="user-nav" class="user-nav">
    <div class="user-nav__overlay user-nav-toggler"></div>
    <div class="user-nav__container">
        <div class="user-nav__user-nav-closer user-nav-toggler" role="button">
            <img src="{{ asset('build/static/icons/cross.svg') }}" width="10" />
        </div>
        <h2 class="user-nav__title">
            <span>{{ userDisplayName(app.user) }}</span>
        </h2>
        <p class="user-nav__subtitle">{{ app.user.client.name }}</p>
        <div
            id="switch-account-select"
        >
            <switch-account-select
                :available-accounts="{{ userAvailableAccounts(app.user) }}"
                current-account="{{ app.user.id }}"
            />
        </div>
        <hr />
        <nav>

        </nav>
    </div>
</section>
<div class="left-navigation">
    <a href="{{ url('_dashboard_index') }}" class="main-logo">
        <img src="{{ asset('build/static/symbole-logo-live-session.svg') }}" alt="">
        <img src="{{ asset('build/static/logo-live-session.png') }}" alt="">
    </a>
    <nav class="side-bar-navigation">
        <ul class="main-nav">
            {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_MANAGER') and (app.user.client.selfRegistering.enabled or app.user.client.enableRegistrationPage)) %}

            {% endif %}
            {% if is_granted('ROLE_ADMIN')%}

            {% endif %}
        </ul>
    </nav>
</div>
