{% extends 'base_wizard.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('user-avatar') }}
{% endblock %}

{% set routeActive = routeActive | default('') %}

{% set body_classes = 'session-created-body' %}
{% block base_body %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('user-avatar') }}
{% endblock %}