{% extends "ui/popIn.html.twig" %}

{% block popInId %}twigConfirmationPopIn_{{ id }}{% endblock %}
{% block popInTitle %}{{ title }}{% endblock %}
{% block popInContent %}{{ content }}{% endblock %}
{% block popInFooter %}
    <button
            class="btn btn-light"
            data-bs-dismiss="modal"
    >
        {{ cancelMessage|default('Cancel')|trans }}
    </button>
    &nbsp;
    <a
            class="btn btn-primary"
            data-bs-dismiss="modal"
            onclick="window.location = '{{ confirmUrl }}';"
    >
        {{ confirmMessage|default("Validate")|trans }}
    </a>
{% endblock %}


