<div class="modal fade" id="{% block popInId %}{% endblock %}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable text-start modal-default">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% block popInTitle %}{% endblock %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% block popInContent %}{% endblock %}
            </div>
            <div class="modal-footer bg-transparent">
                {% block popInFooter %}{% endblock %}
            </div>
        </div>
    </div>
</div>