<template>
  <div class="row mt-5">
    <div class="position-relative d-flex align-items-center justify-content-start">
      <h3>{{ $translator.trans('Menu') }}</h3>
      <span class="bubble-information ms-2">4</span>
    </div>

    <div class="row mt-3">
      <menu-personalization-formation />
      <menu-personalization-replay />
      <menu-personalization-my-session />
      <menu-personalization-f-a-q />
    </div>
  </div>
</template>

<script >
import MenuPersonalizationMySession from './MySession/MenuPersonalizationMySession.vue'
import MenuPersonalizationReplay from './Replay/MenuPersonalizationReplay.vue'
import MenuPersonalizationFormation from './Formation/MenuPersonalizationFormation.vue'
import MenuPersonalizationFAQ from './FAQ/MenuPersonalizationFAQ.vue'

export default {
  name: 'MenuPersonalization',
  components: {
    MenuPersonalizationFAQ,
    MenuPersonalizationMySession,
    MenuPersonalizationReplay,
    MenuPersonalizationFormation
  }
}
</script>
