@font-face {
	font-family: 'Poppins';
	src: url("../../static/self-subscription-hub/fonts/Poppins/Poppins-Light.woff2") format("woff2"), url("../../static/self-subscription-hub/fonts/Poppins/Poppins-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url("../../static/self-subscription-hub/fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("../../static/self-subscription-hub/fonts/Poppins/Poppins-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url("../../static/self-subscription-hub/fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"), url("../../static/self-subscription-hub/fonts/Poppins/Poppins-SemiBold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}