@import "variables";

.self-subscription-hub nav {
	border-bottom: 1px solid $c-white-dark-10;

	.logo  {
		max-height: 2.6rem;
	}

	.header-links {
		i.icon {
			font-size: 2rem;
		}

		.list-group-item {
			border: none;
		}
	}
}
