@use "sass:color";

$c-accent: #80BC00;
$c-accent-light-10: color.adjust($c-accent, $lightness: 10%);
$c-white: #fff;
$c-white-dark-5: color.adjust($c-white, $lightness: -5%);
$c-white-dark-10: color.adjust($c-white, $lightness: -10%);
$c-white-dark-15: color.adjust($c-white, $lightness: -15%);
$c-white-dark-20: color.adjust($c-white, $lightness: -20%);
$c-black: color-contrast($c-white);

$icon-font-size: 2rem;