@import "day-wrapper/day_wrapper";
@import "subject/subject";

.self-subscription-hub #ss-home {
	& > .card {
		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}

.module-banner {
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	text-align: center;
}

.module-banner-replay {
	background-image: var(--replay-banner);
}

.module-banner-session {
	background-image: var(--sessions-banner);
}

.module-banner-training {
	background-image: var(--training-banner);
}