@import "variables";
@import "bootstrap/bootstrap";
@import "fonts";
@import "form";
@import "header";
@import "main/main";
@import "home";
@import "vue-slick-carousel/vue-slick-carousel";
@import "../styles_speakers";


.cursor-pointer {
	cursor: pointer;
}

.w-32 {
	width: 32% !important;
}

.fs-7 {
	font-size: 0.75rem !important;
}

.fs-9 {
	font-size: 0.9rem !important;
}

.form-control {
	&.inline {
		display: inline;
		width: auto;
	}
}

.self-subscription-hub {
	background: $c-white;

	.navbar-module-logo {
		width: 100px;
		height: 100px;
		object-fit: contain;
	}

	.logo-module {
		max-width: 16rem;
	}

	@media (max-width: 350px) {
		.logo-module {
			max-width: 12rem;
		}
	}

	.preview-module-logo {
		height: 150px;
		width: 50%;
		object-fit: contain;
	}

	.navbar {
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
	}

	i[class^=icon]{
		&.reverse {
			transform: scaleX(-1);
		}
		text-decoration-line: none !important;
	}

	h1 {
		font-size: 1.5rem;
		font-weight: normal;
		line-height: 1.35;
	}

	footer {
		border-top: 1px solid $c-white-dark-10;

		.logo {
			width: 15rem;

			@include media-breakpoint-down(sm) {
				width: auto;
			}
		}
	}

	.rules-visualiser {
		ul {
			padding-left: 0;

			> li {
				text-align: left;
				list-style: none;
			}
		}

	}

	.home-title {
		font-size: 2rem;
		margin: 1.5rem 1rem;
	}

	hr {
		background: $c-white-dark-20;
	}

	.btn:focus {
		outline: none !important;
		box-shadow: none !important;
	}

	.alert-dismissible .btn-close{
		padding: 0;
	}

	.btn-round-action {
		width: 3.2rem;
		height: 3.2rem;
		font-size: 1.8rem;
		padding: 0;
	}
}

.vdatetime-input {
	background-color: $white;
	border: $border-width solid $gray-500;
	border-radius: 1.5rem !important;
}

.vdatetime-popup {
	z-index: 10000 !important;
}
.vdatetime-overlay {
	z-index: 9999 !important;
}

.module-illustration-container {
	@include media-breakpoint-down(sm) {
		height: 200px;
	}
	.module-illustration-content {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.col-video-custom {
	@media (min-width: 767.98px) and (max-width: 830px) {
		flex: 0 0 auto !important;
		width: 100% !important;
	}
}

.card.replay-item {
	width: 24rem;
	height: 25rem;
	@media (max-width: 381px) {
		width: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.landing-page {
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	font-family: 'Fira Sans', sans-serif;
	.container-bg-img {
		background: url("../../static/base-not-found-registration.jpg") no-repeat 0 30%;
		background-size: cover;
		.content-main {
			max-width: 70%;
			.logo-container {
				margin: 0 auto 55px auto;
				width: 300px;
			}
			.heading-landing-1 {
				font-weight: 600;
				font-style: normal;
				letter-spacing: .05em;
				font-size: 33px;
				line-height: 1em;
				color: #48494D;
				text-align: center;
				margin-bottom: 24px;
			}
		}
	}
}
