<template>
  <div>
    <div class="modal-body pt-0">
      <form
        class="form"
        @submit.prevent="shortenTitle"
      >
        <div class="row">
          <div
            class="form__item"
          >
            <label for="name required">
              {{ $translator.trans('Title of the subject') }}
            </label>
            <div class="col-9">
              <input
                id="name"
                v-model="title"
                name="name"
                type="text"
              >
            </div>

            <div class="col-3">
              <div class="wrapper-header__actions d-flex flex-column align-items-end justify-content-between">
                <div class="wrapper-header__actions__save-and-more d-flex align-items-center">
                  <loader v-if="saving" />
                  <button
                    v-else
                    class="btn primary-btn btn-primary"
                  >
                    {{ $translator.trans('Shorten') }}
                  </button>
                </div>
              </div>
            </div>

            <small>{{ $translator.trans('Initial value: %value%', {value: initialValue}) }}</small>
          </div>
        </div>

        <div v-if="success || error">
          <template v-for="(message, index) in actionMessage">
            <alert
              v-if="message.condition"
              :key="index"
              :type="message.type"
              :text="$translator.trans(message.text)"
            />
          </template>
        </div>
      </form>
    </div>
    <div class="modal-footer bg-transparent">
      <button
        type="button"
        class="btn btn-light"
        aria-label="Close"
        @click="cancel"
      >
        {{ $translator.trans('Cancel') }}
      </button>
      <submit-button
        type="button"
        class="btn btn-primary"
        :disabled="!success"
        @click="validate"
      >
        {{ $translator.trans('Valid') }}
      </submit-button>
    </div>
  </div>
</template>

<script>

import Loader from '../../../../../ui/Loader.vue'
import SubmitButton from '../../../../../ui/SubmitButton.vue'
import { shortenTitle } from '../../../../../../repository/chatgpt'
import Alert from '../../../../../ui/Alert.vue'

export default {
  name: 'ModuleEditSubjectIAModalShorten',
  components: { Alert, SubmitButton, Loader },
  props: {
    initialValue: {
      type: String,
      required: false,
      default: null
    },
    lang: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      title: this.initialValue,
      saving: false,
      success: false,
      error: null
    }
  },
  computed: {
    actionMessage () {
      return [
        {
          text: 'The text is perfect. No corrections at all!',
          type: 'info',
          condition: this.success && this.initialValue === this.title
        },
        {
          text: 'The text has been shortened. Click on "Validate" to update the session form field',
          type: 'info',
          condition: this.success && this.initialValue !== this.title
        },
        {
          text: 'Sorry, the shortening didn\'t go as planned. Please try again.',
          type: 'danger',
          condition: this.error
        }
      ]
    }
  },
  watch: {
    initialValue (value) {
      this.title = value
    }
  },
  methods: {
    shortenTitle () {
      this.saving = true
      shortenTitle(this.title, this.lang).then((response) => {
        this.saving = false
        this.success = true
        this.title = response
      }).catch(() => {
        this.loading = false
        this.error = true
      })
    },
    cancel () {
      this.$emit('cancel')
    },
    validate () {
      this.$emit('validate', this.title)
    }
  }
}
</script>
