<template>
  <div>
    <div class="modal-body pt-0">
      <form
        class="form"
        @submit.prevent="generateTitle"
      >
        <div
          class="form__item"
        >
          <label
            for="additional_comment"
            class="required"
          >
            {{ $translator.trans('Describe your subject') }}
          </label>
          <textarea
            id="additional_comment"
            v-model="data.additionalComment"
            name="additional_comment"
            rows="5"
            cols="33"
            style="height: 100px"
            required
          />
          <small>{{
            $translator.trans('Initial value: %value%', {value: initialValue || $translator.trans('Empty')})
          }}</small>
        </div>

        <div
          class="form__item"
        >
          <label for="additional_comment required">
            {{ $translator.trans('Choose your tone') }}
          </label>
          <input-select-button
            :options="toneOptions"
            :default-value="data.tone"
            name="tone"
            @change="changeInputSelectButtonProgramFormat"
          />
        </div>

        <div class="row align-items-center">
          <div class="col-9">
            <div class="form__item d-flex mb-0">
              <div class="me-2">
                {{ $translator.trans('Using emoji') }}
              </div>
              <div class="search-switch d-flex">
                <label
                  class="switch"
                  for="switch-active-state"
                  @click="changeActiveState"
                >
                  <input
                    v-model="data.emoji"
                    type="checkbox"
                    name="switch-active-state"
                  >
                  <span class="slider round" />
                </label>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="wrapper-header__actions d-flex flex-column align-items-end justify-content-between">
              <div class="wrapper-header__actions__save-and-more d-flex align-items-center">
                <loader v-if="saving" />
                <button
                  v-else
                  class="btn primary-btn btn-primary"
                >
                  {{ $translator.trans(choices.length ? 'Regenerate' : 'Generate') }}
                </button>
              </div>
            </div>
          </div>

          <div v-if="choices.length">
            <div style=" height: 1px; background: #f6f6f6; margin: 10px 0; " />
            <p>{{ $translator.trans('Three titles generated for you: the choice is yours!') }}</p>
            <ul
              class="mt-2"
            >
              <li
                v-for="(choice, index) in choices"
                :key="index"
                class="row py-3 border-bottom align-items-center"
                type="button"
                @click="selectChoice(index)"
              >
                <div class="col-1 ">
                  <div class="form-check">
                    <input
                      v-model="choose"
                      style="width: 16px; height: 16px; appearance: menulist-button !important;"
                      class="form-check-input p-1"
                      type="radio"
                      :value="index"
                    >
                  </div>
                </div>
                <div class="col-11 my-auto">
                  {{ choice }}
                </div>
              </li>
            </ul>
          </div>

          <div v-if="success || error">
            <template v-for="(message, index) in actionMessage">
              <alert
                v-if="message.condition"
                :key="index"
                :type="message.type"
                :text="$translator.trans(message.text)"
              />
            </template>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer bg-transparent">
      <button
        type="button"
        class="btn btn-light"
        aria-label="Close"
        @click="cancel"
      >
        {{ $translator.trans('Cancel') }}
      </button>
      <submit-button
        type="button"
        class="btn btn-primary"
        :disabled="choose === null"
        :class="{disabled: choose === null}"
        @click="validate"
      >
        {{ $translator.trans('Valid') }}
      </submit-button>
    </div>
  </div>
</template>

<script>

import Loader from '../../../../../ui/Loader.vue'
import SubmitButton from '../../../../../ui/SubmitButton.vue'
import { generateTitle } from '../../../../../../repository/chatgpt'
import InputSelectButton from '../../../../../ui/InputSelectButton.vue'
import { mapState } from 'vuex'
import Alert from '../../../../../ui/Alert.vue'

export default {
  name: 'ModuleEditSubjectIAModalGenerate',
  components: { Alert, InputSelectButton, SubmitButton, Loader },
  props: {
    initialValue: {
      type: String,
      required: false,
      default: null
    },
    lang: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      title: null,
      saving: false,
      success: false,
      error: null,
      data: {
        additionalComment: null,
        tone: this.$translator.trans('Professional'),
        category: null,
        emoji: false,
        lang: this.lang
      },
      choices: [],
      choose: null
    }
  },
  computed: {
    ...mapState('editSubject', ['subject']),
    toneOptions () {
      return [
        {
          label: this.$translator.trans('Professional'),
          value: this.$translator.trans('Professional')
        },
        {
          label: this.$translator.trans('Convivial'),
          value: this.$translator.trans('Convivial')
        },
        {
          label: this.$translator.trans('Courtois'),
          value: this.$translator.trans('Courtois')
        }
      ]
    },
    actionMessage () {
      return [
        {
          text: 'An error occurred while generating the title. Please try again later.',
          type: 'danger',
          condition: this.error
        }
      ]
    }
  },
  mounted () {
    this.data.category = this.subject.categorySession
  },
  methods: {
    generateTitle () {
      this.saving = true
      generateTitle(this.data).then((response) => {
        this.saving = false
        this.success = true
        this.choices = response
      }).catch(() => {
        this.saving = false
        this.success = false
        this.error = true
      })
    },
    cancel () {
      this.$emit('cancel')
    },
    validate () {
      this.$emit('validate', this.choices[this.choose])
    },
    changeActiveState () {
      this.data.emoji = !this.data.emoji
    },
    changeInputSelectButtonProgramFormat (value) {
      this.data.tone = value
    },
    selectChoice (choice) {
      this.choose = choice
    }
  }
}
</script>
