<template>
  <div>
    <confirmation-pop-in
      :id="'delete_invalid_email'+bounce.id.toString()"
      :title="$translator.trans('Deleting a invalid email')"
      :content="$translator.trans('Do you want to ignore this email from the invalid list?')"
      :confirm="ignoreBounce"
    />
    <a
      :href="$routing.generate('_user_bounce_edit', {user: bounce.user.id, bounce: bounce.id})"
      class="text-dark"
    >
      <div class="data-list__row">
        <div class="row__data">{{ bounce.email }}</div>
        <div class="row__data">
          <span
            v-if="bounce.mandrillEvent === 'mandrill.message.hard_bounce'"
            class="badge badge-sm bg-warning"
          >
            {{ $translator.trans(bounce.reason) }}
          </span>
          <span
            v-else-if="bounce.mandrillEvent === 'mandrill.message.soft_bounce'"
            class="badge badge-sm bg-warning"
          >
            {{ $translator.trans(bounce.reason) }}
          </span>
          <span
            v-else-if="bounce.mandrillEvent === 'mandrill.message.reject'"
            class="badge badge-sm bg-danger"
          >
            {{ $translator.trans(bounce.reason) }}
          </span>
          <span
            v-else-if="bounce.mandrillEvent === 'idfuse.message.hard'"
            class="badge badge-sm bg-warning"
          >
            {{ $translator.trans(bounce.reason) }}
          </span>
          <span
            v-else
            class="badge badge-sm"
          >
            {{ $translator.trans(bounce.reason) }}
          </span>
        </div>
        <!--        <div class="row__data">{{ $translator.trans(bounce.mailOrigin) }}</div>-->
        <div class="row__data">{{ bounce.createdAt|formatDate('datetime_med') }}</div>
        <!--        <div class="row__data">
          <span
            v-if="bounce.session"
          >
            {{ bounce.session.ref }}
          </span>
        </div>-->
        <div class="row__data">
          <span
            v-if="bounce.state === 1"
            class="btn btn-warning btn-sm"
          >
            {{ $translator.trans(bounce.readableState) }}
          </span>
          <span
            v-else-if="bounce.state === 2"
            class="btn btn-primary btn-sm"
          >
            {{ $translator.trans(bounce.readableState) }}
          </span>
          <span
            v-else
            class="btn btn-light btn-sm"
          >
            {{ $translator.trans(bounce.readableState) }}
          </span>
        </div>
        <div class="row__data option">
          <div class="drop-menu-container">
            <div class="icn-option">
              <img src="/build/static/icons/options-white.svg">
            </div>
            <ul class="dropdown-menu-inner">
              <li><a
                class="dropdown-item"
                :href="$routing.generate('_user_bounce_edit', {user: bounce.user.id, bounce: bounce.id})"
              >
                <img
                  src="/build/static/icons/edit-small-green.svg"
                  class="me-2"
                >
                <b>{{ $translator.trans('Edit') }}</b></a></li>
              <li><a
                class="dropdown-item"
                href="#"
                data-bs-toggle="modal"
                :data-bs-target="'#confirmationPopIn_delete_invalid_email'+bounce.id.toString()"
              >
                <img
                  src="/build/static/icons/trash-small.svg"
                  class="me-2"
                >
                <b>{{ $translator.trans('Ignore') }}</b></a></li>
            </ul>
          </div>
        </div>
      </div>
    </a>
  </div>
</template>

<script>

import ConfirmationPopIn from '../ui/PopIn/ConfirmationPopIn.vue'

export default {
  components: { ConfirmationPopIn },
  props: {
    bounce: {
      type: Object,
      required: true
    }
  },
  methods: {
    ignoreBounce () {
      window.location.href = this.$routing.generate('_bounce_ignore', { id: this.bounce.id })
    }
  }
}
</script>

<style scoped>

</style>
