<template>
  <div>
    <div class="page-options-bar">
      <div class="d-flex part-1">
        <div class="page-options-bar__item pr">
          <div class="page-options-bar__item__search with-result">
            <label for="searchInBounce">
              <img src="/build/static/icons/search.svg">
            </label>
            <input
              id="searchInBounce"
              v-model="globalBounceSearchInput"
              type="search"
              name="searchInBounce"
              :placeholder="$translator.trans('Search through invalid emails')"
              @input="globalSearchBounces"
            >
            <div class="search-sessions-counter">
              <b>{{ bouncesData.length }}</b>&nbsp;&nbsp;{{ $translator.trans('invalid email.s') }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <section>
      <div class="data-list">
        <div class="data-list__header justify-content-center">
          <div class="data-list__header__item">
            {{ $translator.trans('User email') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Cause') }}
          </div>
          <!--<div class="data-list__header__item">
            {{ $translator.trans('Origin') }}
          </div>-->
          <div class="data-list__header__item">
            {{ $translator.trans('Rejection date(s)') }}
          </div>
          <!--          <div class="data-list__header__item">
            {{ $translator.trans('Concerned session') }}
          </div>-->
          <div class="data-list__header__item">
            {{ $translator.trans('Status') }}
          </div>
          <div class="data-list__header__item option" />
        </div>
        <div class="table-content">
          <bounces-list-item
            v-for="bounce in bouncesData"
            :key="bounce.id"
            :bounce="bounce"
          />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import BouncesListItem from './BouncesListItem'
import _                       from 'lodash'

export default {
  components: { BouncesListItem },
  props: {
    bounces: {
      type: Array,
      required: false,
      default: () => []
    },
    preSearch: {
      type: String,
      required: false,
      default: ''
    }
  },
  data () {
    return {
      globalBounceSearchInput: '',
      bouncesData: this.bounces
    }
  },
  mounted () {
    if (this.preSearch !== undefined && this.preSearch !== '') {
      this.globalBounceSearchInput = this.preSearch
    }
  },
  methods: {
    globalSearchBounces: _.debounce(function () {
      this.$axios.get(
        this.$routing.generate('_bounce_global_search', { q: this.globalBounceSearchInput })
      ).then(response => {
        this.bouncesData = response.data
      })
    }, 250)
  }
}
</script>

<style scoped lang="css">
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
</style>
