.left-navigation .main-logo {
  flex-direction: column;
  padding-left: 30px;
}

.side-bar-navigation {

    .main-nav {
        padding: 0;
        width: 280px;

        &__item {
            list-style: none;
            margin-bottom: $_margin-sm;

            > a {
                padding-left: $_padding-lg;
                color: $black;
                font-weight: 500;
                display: flex;
                align-items: center;
                position: relative;
                width: 220px;
                line-height: 17px;
                height:  $_thumb-pressure-zone;
                border-radius: 0 $_border-radius $_border-radius 0;
                

                img {
                    margin-right: 15px;
                }


                &.collapsed {
                    color:$gray-700;

                    &::after {
                        transform: translate(10px, -50%) rotate(135deg);
                    }
                }

                &::after {
                    position: absolute;
                    top: 50%;
                    right: 30px;
                    transform: translate(10px, -50%) rotate(220deg);
                    width: 6px;
                    height: 6px;
                    border-style: solid;
                    border-right: $black;
                    border-bottom: $black;
                    content: "";
                    transition: $transition-base;
                }

                &.single {
                    &::after {
                        display: none;
                    }

                    &:hover, &:focus {
                        background-color: $gray-500;
                        color: $black;
                        max-width: 210px;
                    }

                    &:active, &.active {
                        background-color: $primary;
                        color: $white;
                    }   
                }

                &.admin {
                    background-color: $admin;
                    color: $white;
                }
            }
        }

        &__sub-item {
            padding: 0;

            a {
                display: flex;
                align-items: center;
                height: $_thumb-pressure-zone;
                border-radius: 0 $_border-radius $_border-radius 0;
                color: $black;
                @include font-size(14px);
                font-weight: 600;
                max-width: 180px;

                &:active, &.active {
                    background-color: $primary;
                    color: $white;
                }

                &:hover, &:focus {
                    background-color: $gray-500;
                    color: $black;
                }

                &.admin {
                    background-color: $admin;
                    color: $white;
                }

                span {
                    padding-left: 75px;
                }
            }
        }
    }
}