.top-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__item {
        height: 48px;
        display: flex;
        align-items: center;
    }

    .user-icon {
        @include circle(48px);
        @extend %d-flex-center;
        border: $border-width solid $primary;
        font-weight: 600;
    }


    &__search {
        position: relative;
        height: 48px;

        &:hover, &:focus, &:active {
            
            > label { background-color: $primary; }
            > label img { filter: brightness(100); }

            > input {
                width: 400px;
                padding: 0 30px;
                opacity: 1;
            }
        }

        > input {
            display: block;
            @include half-circle(48px);
            width: 40px;
            padding: 0;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;

            border: none;
            background-color: $gray-300;
            background-clip: padding-box;
            appearance: none;
            outline: none;
            transition: $transition-base;
            opacity: 0;
        }

        > label {
            @include circle(48px);
            @extend %d-flex-center;

            position:relative;
            z-index: 2;
            background-color: $white;
            transition: $transition-base;

            img {
                filter: brightness(0);
                transition: $transition-base;
            }

            &:hover, &:focus, &:active {
                background-color: $primary;
                img {
                    filter: brightness(100);
                }
            }
        }
    }
}