<template>
  <div class="wrapper-header__infos">
    <div class="wrapper-header__infos__title d-flex align-items-center">
      <h1>
        {{ finalOnHoldProviderSession.title }}
      </h1>
    </div>
    <p class="wrapper-header__infos__desc" />

    <div class="wrapper-header__infos__updated mb-20">
      <em>Chaque horaire donne lieu à une session MSLM. Pour chaque session, sélectionnez l'information nécessaire puis cliquez sur l'icon</em>
      <span
        class="primary-btn"
        style="width:40px; height:30px; margin:8px 0px 0px 5px;
                padding: 0 20px;
                background-color: #80BC00;
                color: #fff;
                border-radius: 4px;
                box-shadow: 0 6px 12px 0 rgba(128, 188, 0, 0.23);
                transition: all 0.3s ease-in-out;
                border: none;"
      >
        <img
          alt="check-white image"
          src="/build/static/icons/check-white.svg"
          class="me-2"
          style="margin-right:0px !important;"
        >
      </span>.
    </div>
  </div>
</template>

<script>

export default {
  name: 'DemandsListHeader',
  props: {
    onHoldProviderSession: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      finalOnHoldProviderSession: this.onHoldProviderSession
    }
  },
  computed: {

  },
  mounted () {

  },
  methods: {

  }
}
</script>
