<template>
  <div>
    <div
      class="data-list__row"
    >
      <div
        class="row__data"
        style="width:250px !important;"
      >
        <!--        <a
          v-if="slotDateData.sessionReference !== null"
          :href="$routing.generate('_session_get', {id: slotDateData.sessionId})"
          :title="slotDateData.sessionReference"
        >{{ slotDateData.sessionReference }}</a>-->
        {{ slotDateData.sessionReference }}
      </div>
      <div class="row__data">
        {{ finalOnHoldProviderSession.title }}
        <!--        <a
          :href="$routing.generate('_session_get', {id: session.id})"
          :title="session.client.name"
        >{{ session.client.name }}</a>-->
      </div>

      <div class="row__data date">
        {{ slotDateData.dateStart|formatDate('datetime_med') }}
        <br><small>
          {{ $translator.trans('Duration') + ' ' + slotDateData.diff }}
        </small>
      </div>

      <div class="row__data">
        <!--        <a
          href="#"
          data-bs-toggle="modal"
          :data-bs-target="'#sessions-participants-' + session.id"
          @click="loadParticipants()"
        >-->
        <span v-if="finalOnHoldProviderSession.traineesCount > 0">{{ finalOnHoldProviderSession.traineesCount }}</span>
        <span v-if="finalOnHoldProviderSession.traineesCount === 0">{{ $translator.trans('no participant') }}</span>
        <span v-else-if="finalOnHoldProviderSession.traineesCount === 1">{{ $translator.trans('participant') }}</span>
        <span v-else>{{ $translator.trans('participants') }}</span>
        <br>
        <span v-if="finalOnHoldProviderSession.animatorsCount > 0">{{ finalOnHoldProviderSession.animatorsCount }}</span>
        <span v-if="finalOnHoldProviderSession.animatorsCount === 0">{{ $translator.trans('no host') }}</span>
        <span v-else-if="finalOnHoldProviderSession.animatorsCount === 1">{{ $translator.trans('host') }}</span>
        <span v-else>{{ $translator.trans('hosts') }}</span>
        <!--</a>-->
      </div>
      <div class="row__data">
        <span v-if="finalOnHoldProviderSession.connectorType === 'adobe_connect_sco'">Adobe Connect</span>
        <span v-else>MS Teams</span>
      </div>
      <div
        v-if="finalOnHoldProviderSession.connectorType === 'adobe_connect_sco'"
        class="row__data"
        style="flex: 1 1 50% !important;"
      >
        <div style="display: flex; flex-wrap: wrap;">
          <select
            v-if="!processingValidation"
            v-model="slotDateData.modelACSelected"
            class="form-select form-control form-control-sm"
            :disabled="slotDateData.statusValidation === 2"
            style="width: 80%;"
          >
            <option
              v-for="(model, index) in modelsAdobeConnect"
              :key="index"
              :value="model.uniq_identifier"
            >
              {{ model.name }}
            </option>
          </select>
          <button
            v-if="!processingValidation"
            name="modelACSelect"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            :title="$translator.trans('Create the session')"
            class="primary-btn"
            style="width:40px; height:30px; margin:8px 0px 0px 5px;"
            processing="processing"
            :disabled="slotDateData.statusValidation === 2 || slotDateData.modelACSelected === null"
            role="button"
            @click="selectModelAC()"
          >
            <img
              alt="check-white image"
              src="/build/static/icons/check-white.svg"
              class="me-2"
              style="margin-right:0px !important;"
            >
          </button>
        </div>
        <section
          v-if="processingValidation"
          class="d-flex justify-content-center align-items-center"
        >
          <loader class="mb-4 pb-4" />
        </section>
      </div>
      <div
        v-if="finalOnHoldProviderSession.connectorType !== 'adobe_connect_sco'"
        class="row__data"
        style="flex: 1 1 50% !important;"
      >
        <div style="display: flex; flex-wrap: wrap;">
          <select
            v-if="!processingValidation"
            v-model="slotDateData.animatorTeamsSelected"
            class="form-select form-control form-control-sm"
            name="animatorSelect"
            :disabled="slotDateData.statusValidation === 2"
            change="selectAnimatorTeams()"
            style="width: 80%;"
          >
            <option
              v-for="(animator, index) in finalOnHoldProviderSession.participants.animators"
              :key="index"
              :value="animator.email"
            >
              {{ animator.email }}
            </option>
          </select>
          <button
            v-if="!processingValidation"
            class="primary-btn"
            style="width:40px; height:30px; margin:8px 0px 0px 5px;"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            :title="$translator.trans('Create the session')"
            processing="processing"
            :disabled="slotDateData.statusValidation === 2 || slotDateData.animatorTeamsSelected === null"
            role="button"
            @click="selectAnimatorTeams()"
          >
            <img
              alt="check-white image"
              src="/build/static/icons/check-white.svg"
              class="me-2"
              style="margin-right:0px !important;"
            >
          </button>
          <section
            v-if="processingValidation"
            class="d-flex justify-content-center align-items-center"
          >
            <loader class="mb-4 pb-4" />
          </section>
        </div>
      </div>
      <div class="row__data">
        <span
          v-if="slotDateData.statusValidation === 1"
          class="badge"
          style="background-color: #f9f830; color: #000000;"
        >{{ $translator.trans('To finalize') }}</span>
        <span
          v-else-if="slotDateData.statusValidation === 2"
          class="badge"
        >{{ $translator.trans('Scheduled') }}</span>
      </div>
      <div class="row__data row">
        <div
          title="Réunion"
          role="button"
          style="margin: 2px"
        >
          <img src="/build/static/icons/reunion.svg">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { routing } from '../../utils/app.utils'
import Loader from '../ui/Loader.vue'

export default {
  components: {
    Loader
  },
  props: {
    slotDate: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    onHoldProviderSession: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    modelsAdobeConnect: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      listRoomModels: {},
      finalOnHoldProviderSession: this.onHoldProviderSession,
      slotDateData: this.slotDate,
      selectedAnimator: null,
      nameFolderDefaultRoomModel: null,
      processingValidation: false
    }
  },
  computed: {

  },
  watch: {
    onHoldProviderSession (value) {
      this.finalOnHoldProviderSession = value
    }
  },
  mounted () {

  },
  methods: {
    selectAnimatorTeams () {
      this.processingValidation = true

      const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      tooltipTriggerList.forEach((tooltipTriggerEl) => {
        const tooltip = this.$bootstrap.Tooltip.getOrCreateInstance(tooltipTriggerEl)
        tooltip.hide()
      })

      return axios.get(routing.generate('_on_hold_provider_session_select_animator_teams', { id: this.finalOnHoldProviderSession.id, slodDateMegaId: this.slotDateData.megaId, animatorEmail: this.slotDateData.animatorTeamsSelected }))
        .then((response) => {
          if (response.data.code === 200) {
            this.finalOnHoldProviderSession = response.data.message.onHoldProviderSession
            this.slotDateData = response.data.message.slotDate
            this.processingValidation = false
            this.$emit('is-finalized-slot', this.finalOnHoldProviderSession)
          }
        })
    },
    selectModelAC () {
      this.processingValidation = true

      const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      tooltipTriggerList.forEach((tooltipTriggerEl) => {
        const tooltip = this.$bootstrap.Tooltip.getOrCreateInstance(tooltipTriggerEl)
        tooltip.hide()
      })

      return axios.get(routing.generate('_on_hold_provider_session_select_modelac', { id: this.finalOnHoldProviderSession.id, slodDateMegaId: this.slotDateData.megaId, modelACId: this.slotDateData.modelACSelected }))
        .then((response) => {
          if (response.data.code === 200) {
            this.finalOnHoldProviderSession = response.data.message.onHoldProviderSession
            this.slotDateData = response.data.message.slotDate
            // console.log(response.data.message.onHoldProviderSession)
            // console.log(response.data.message.slotDate)
            this.processingValidation = false
            this.$emit('is-finalized-slot', this.finalOnHoldProviderSession)
          }
        })
    }
  }
}
</script>
