<template>
  <section>
    <div>
      <demands-list-header
        :on-hold-provider-session="finalOnHoldProviderSession"
      />
    </div>
    <div class="row">
      <div
        class="col-md-3"
        style="margin-left: 11px; background-color: #F6F6F6; border: solid 1px #c5c5c5; margin-bottom: 20px;"
      >
        <div
          class="row"
          style="padding:20px 0px 20px 0px;"
        >
          <div class="col-md-6">
            <input
              id="input-connector-type-ac"
              v-model="finalOnHoldProviderSession.connectorType"
              type="radio"
              name="connector-type"
              value="adobe_connect_sco"
              class="form-check-input"
              :disabled="isNotValidAllSlotsDatesValue"
              @change="onChangeConnectorType"
            >
            <label for="input-connector-type-ac">{{ $translator.trans('adobe_connect') }}</label>
          </div>
          <div class="col-md-6">
            <input
              id="input-connector-type-mst"
              v-model="finalOnHoldProviderSession.connectorType"
              type="radio"
              name="connector-type"
              value="microsoft_teams_event"
              class="form-check-input"
              :disabled="isNotValidAllSlotsDatesValue"
              @change="onChangeConnectorType"
            >
            <label for="input-connector-type-mst">{{ $translator.trans('microsoft_teams') }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-9" />
    </div>

    <div class="data-list">
      <div class="data-list__header">
        <div class="data-list__header__item">
          {{ $translator.trans('Reference') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Title') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Date') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Participants') }}
        </div>
        <div class="data-list__header__item">
          {{ $translator.trans('Connector') }}
        </div>
        <div
          v-if="finalOnHoldProviderSession.connectorType === 'adobe_connect_sco'"
          class="data-list__header__item"
          style="flex: 1 1 50% !important;"
        >
          {{ $translator.trans('Room template') }}
        </div>
        <div
          v-if="finalOnHoldProviderSession.connectorType !== 'adobe_connect_sco'"
          class="data-list__header__item"
          style="flex: 1 1 50% !important;"
        >
          {{ $translator.trans('Licence') }}
        </div>
        <div class="data-list__header__item row" />
        <div class="data-list__header__item" />
      </div>

      <div class="table-content">
        <demands-list-item
          v-for="slot in finalOnHoldProviderSession.slotsDates"
          :key="slot.dateStart"
          :slot-date="slot"
          :on-hold-provider-session="finalOnHoldProviderSession"
          :models-adobe-connect="modelsAdobeConnect"
          @is-finalized-slot="updateModels"
        />
      </div>
    </div>
    <div class="session-btn-access-next-step text-end my-4">
      <!--      <a
          href="#"
          class="me-3"
          role="button"
          @click="backDemand"
      >{{ $translator.trans('Back') }}</a>-->
      <a
        class="button"
        :href="'https://www.ca-formassurances-iso.fr/admin_AVtFRkWHtz1/sessions_formations.php?sessionID=' + finalOnHoldProviderSession.megaUUID"
        style="margin-right: 20px;"
      >
        {{ $translator.trans('Back') }}
      </a>

      <button
        class="primary-btn"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        :title="!isValidAllSlotsDatesValue ? 'Pensez à bien créer chaque session.' : ''"
        :processing="submitting"
        :disabled="!isValidAllSlotsDatesValue"
        @click="finalizeDemand()"
      >
        <img
          src="/build/static/icons/check-white.svg"
          class="me-2"
        >
        {{ $translator.trans('Finalize') }}
      </button>
    </div>
  </section>
</template>

<script>
import DemandsListHeader from './DemandsListHeader'
import DemandsListItem from './DemandsListItem'
import axios from 'axios'
import { routing } from '../../utils/app.utils'

export default {
  name: 'DemandsList',
  components: { DemandsListHeader, DemandsListItem },
  props: {
    onHoldProviderSession: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    modelsAdobeConnect: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      errorMessage: null,
      submitting: false,
      finalOnHoldProviderSession: this.onHoldProviderSession,
      isNotValidAllSlotsDatesValue: false,
      isValidAllSlotsDatesValue: true
    }
  },
  computed: {
    /* isValidAllSlotsDates () {
      //Tous les slotsDates sont validés ?
      return false
    } */
  },
  mounted () {
    this.isNotValidAllSlotsDates()
    this.isValidAllSlotsDates()
  },
  methods: {
    onChangeConnectorType () {
      return axios.get(routing.generate('_on_hold_provider_session_select_connector_type', { id: this.finalOnHoldProviderSession.id, connectorType: this.finalOnHoldProviderSession.connectorType }))
        .then((response) => {
          if (response.data.code === 200) {
            this.finalOnHoldProviderSession = response.data.message.onHoldProviderSession
            // console.log(response.data.message.onHoldProviderSession)
          }
        })
    },
    isNotValidAllSlotsDates () {
      this.isNotValidAllSlotsDatesValue = false
      this.finalOnHoldProviderSession.slotsDates.forEach((value, index) => {
        if (value.statusValidation === 2) {
          // console.log("Retourne true et nous ne pouvons pas modifier !")
          this.isNotValidAllSlotsDatesValue = true
        }
      })
    },
    isValidAllSlotsDates () {
      this.isValidAllSlotsDatesValue = true
      this.finalOnHoldProviderSession.slotsDates.forEach((value, index) => {
        if (value.statusValidation === 1) {
          // console.log('Retourne false et nous ne pouvons pas cliquer sur le bouton | Finaliser | !')
          this.isValidAllSlotsDatesValue = false
        }
      })
      // console.log(this.isValidAllSlotsDatesValue)
    },
    updateModels (newFinalOnHoldProviderSession) {
      this.finalOnHoldProviderSession = newFinalOnHoldProviderSession
      this.isNotValidAllSlotsDatesValue = true
      this.isValidAllSlotsDates()
    },
    backDemand () {

    },
    finalizeDemand () {
      window.location.href = 'https://www.ca-formassurances-iso.fr/admin_AVtFRkWHtz1/sessions_formations.php?sessionID=' + this.finalOnHoldProviderSession.megaUUID
    }
  }
}
</script>

<style scoped lang="css">
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
</style>
