<template>
  <section>
    <!--    <alert
      v-if="updateSuccessfully"
      type="success"
      :text="$translator.trans( 'The session has been updated' )"
    />
    <div class="errors">
      <alert
        v-for="(error, index) in errors.form"
        :key="index"
        type="danger"
        :text="$translator.trans(error)"
      />
    </div>-->
    <div class="row">
      <div class="col-md-12" />
    </div>

    <div class="row">
      <div class="col-md-12" />
    </div>

    <demands-list
      :on-hold-provider-session="onHoldProviderSession"
      :models-adobe-connect="modelsAdobeConnect"
    />
  </section>
</template>

<script>
import DemandsList from './DemandsList'

export default {
  name: 'OnHoldProviderSessionViewer',
  components: {
    DemandsList
  },
  props: {
    onHoldProviderSession: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    modelsAdobeConnect: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  computed: {

  },
  mounted () {
  },
  methods: {

  }
}
</script>
