<template>
  <div class="row g-0">
    <div class="col border py-4 px-2 current-border-color">
      <h6 class="mb-4 ps-2 fw-bold">
        {{ $translator.trans( 'Audio' ) }}
      </h6>
      <div class="data-list">
        <div class="data-list__header">
          <div class="data-list__header__item ps-3">
            {{ $translator.trans( 'Name' ) }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans( 'Supplier' ) }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans( 'Conference Code' ) }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans( 'Phone' ) }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans( 'Preferred language' ) }}
          </div>
        </div>
        <div
          v-for="audio in audios"
          :key="audio.id"
          class="table-content data-list__row-small"
        >
          <a
            class="text-dark"
          >
            <div class="data-list__row">
              <div class="row__data">
                {{ audio.name }}
              </div>
              <div class="row__data">
                {{ audio.connectionType }}
              </div>
              <div class="row__data">
                {{ audio.profileIdentifier }}
              </div>
              <div class="row__data">
                <AdobeConnectTelephonyProfileNumberForm
                  v-model="audio.phoneNumber"
                  :audio="audio"
                  :read-only="readOnly"
                />
              </div>
              <div class="row__data">
                <AdobeConnectTelephonyProfileLanguageForm
                  v-model="audio.phoneLang"
                  :audio="audio"
                  :read-only="readOnly"
                />
              </div>
            </div>
          </a>
        </div>
        <div
          v-if="audios.length === 0"
          class="data-list__row"
        >
          <div class="row__data">
            {{ $translator.trans( 'No audio found' ) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import {
  adobeConnectTelephonyProfileList
}                                             from '../../utils/adobe-connect-configuration-holder.utils'
import AdobeConnectTelephonyProfileNumberForm from './AdobeConnectTelephonyProfileNumberForm'
import AdobeConnectTelephonyProfileLanguageForm from './AdobeConnectTelephonyProfileLanguageForm'

export default {
  name:       'AdobeConnectTelephonyProfileList',
  components: {
    AdobeConnectTelephonyProfileNumberForm,
    AdobeConnectTelephonyProfileLanguageForm
  },
  props:      {
    configurationHolderId: {
      type:     Number,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      audios: []
    }
  },
  created () {
    adobeConnectTelephonyProfileList(this.configurationHolderId)
      .then(audios => this.audios = audios)
  }
}
</script>
