<template>
  <form
    class="form row"
  >
    <div class="table-content data-list data-list__row-small mb-3">
      <div class="data-list__row">
        <div class="row__data flex-grow-0 flex-basis-auto">
          <div class="badge badge-sm bg-primary">
            Adobe Connect
          </div>
        </div>
        <div class="row__data">
          {{ connector.name }}
        </div>
        <div
          class="row__data"
          style="text-align: center;"
        >
          <div
            v-if="connector.archived"
            style="align-content: center; width: 300px;"
          >
            <span class="badge">{{ $translator.trans('Inactive') }}</span>
          </div>
        </div>
        <div class="row__data option">
          <img
            v-if="isOpen"
            class="cursor-pointer"
            src="/build/static/icons/tree-closed.svg"
            @click="closeConfigurationHolder"
          >
          <img
            v-else
            class="cursor-pointer"
            src="/build/static/icons/tree-opened.svg"
            @click="openConfigurationHolder"
          >
          <div class="drop-menu-container">
            <confirmation-pop-in
              :id="'delete_connector_'+connector.id.toString()"
              :title="$translator.trans('Removal of the connector')"
              :content="$translator.trans('Do you want to delete this connector?')"
              :confirm="removeConfigurationHolder"
            />
            <confirmation-pop-in
              :id="'archive_connector_'+connector.id.toString()"
              :title="$translator.trans('Connector archiving')"
              :content="$translator.trans('Do you want to archive this connector?')"
              :confirm="archiveConfigurationHolder"
            />
            <confirmation-pop-in
              :id="'unarchived_connector_'+connector.id.toString()"
              :title="$translator.trans('Connector unarchiving')"
              :content="$translator.trans('Do you want to unarchive this connector?')"
              :confirm="unarchivedConfigurationHolder"
            />
            <div class="icn-option">
              <img src="/build/static/icons/options-white.svg">
            </div>
            <ul class="dropdown-menu-inner">
              <li>
                <a
                  v-if="!connector.archived"
                  class="dropdown-item"
                  data-bs-toggle="modal"
                  :data-bs-target="'#confirmationPopIn_archive_connector_'+connector.id.toString()"
                  href="#"
                >
                  <img
                    src="/build/static/icons/small-ban-green.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Archive') }}</b>
                </a>
                <a
                  v-else
                  class="dropdown-item"
                  data-bs-toggle="modal"
                  :data-bs-target="'#confirmationPopIn_unarchived_connector_'+connector.id.toString()"
                  href="#"
                >
                  <img
                    src="/build/static/icons/small-ban-green.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Unarchive') }}</b>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  data-bs-toggle="modal"
                  :data-bs-target="'#confirmationPopIn_delete_connector_'+connector.id.toString()"
                  href="#"
                >
                  <img
                    src="/build/static/icons/trash-small.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Delete') }}</b>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div
        v-if="isOpen"
        class="row"
        style="--bs-gutter-x: 0;"
      >
        <!-- TODO: Uncomment in future-->
        <!--    <div class="provider-actions p-2">
          <img
            src="/build/static/icons/delete-filter.svg"
            role="button"
            @click.prevent="onClickRemove()"
          >
        </div>-->
        <template v-if="fieldHasAnError(connector.identifier,'global')">
          <alert
            v-for="error in getErrorOfField(connector.identifier, 'global')"
            :key="error"
            type="danger"
            :text="error"
          />
        </template>
        <div class="col-md-6 col-lg-4">
          <virtual-classroom-software-selector
            :provider="connector.provider"
            :disabled="connector.id !== null"
            @providerChange="providerChange"
          />
          <div class="mb-3 form__item">
            <label
              class="form-label"
              for="user-connecteurs-name"
            >{{ $translator.trans( 'Name' ) }}</label>
            <input
              id="user-connecteurs-name"
              v-model="connector.name"
              type="text"
              value=""
              class="form-control"
              :disabled="readOnly"
              @change="validateField('subdomain')"
              @keyup="validateField('subdomain')"
            >
          </div>
          <div class="mb-3 form__item">
            <label
              class="form-label"
              for="user-connecteurs-domain"
            >{{ $translator.trans( 'Subdomain' ) }}</label>
            <input
              id="user-connecteurs-domain"
              v-model="connector.subdomain"
              type="text"
              value=""
              :class="['form-control', {
                'is-invalid' : fieldHasAnError(connector.identifier,'subdomain')
              }]"
              :disabled="readOnly"
              @change="validateField('subdomain')"
              @keyup="validateField('subdomain')"
            >
            <div
              v-for="error in getErrorOfField(connector.identifier, 'subdomain')"
              :key="error"
              class="invalid-feedback d-block"
            >
              {{ error }}
            </div>
          </div>
          <div class="mb-3  form__item">
            <label
              class="form-label"
              for="user-connecteurs-connecteur-adobe-connect-id"
            >{{ $translator.trans( 'Connector ID' ) }}</label>
            <input
              id="user-connecteurs-connecteur-adobe-connect-id"
              v-model="connector.username"
              type="text"
              value=""
              :class="['form-control', {
                'is-invalid' : fieldHasAnError(connector.identifier,'username')
              }]"
              :disabled="readOnly"
              @change="validateField('username')"
              @keyup="validateField('username')"
            >
            <div
              v-for="error in getErrorOfField(connector.identifier, 'username')"
              :key="error"
              class="invalid-feedback d-block"
            >
              {{ error }}
            </div>
          </div>
          <div class="mb-3  form__item">
            <label
              class="form-label"
              for="user-connecteurs-password"
            >{{ $translator.trans( 'Password' ) }}</label>
            <input
              id="user-connecteurs-password"
              v-model="connector.password"
              type="password"
              value="xxxxxxxxx"
              :class="['form-control', {
                'is-invalid' : fieldHasAnError(connector.identifier,'password')
              }]"
              :disabled="readOnly"
            >
            <div
              v-for="error in getErrorOfField(connector.identifier, 'password')"
              :key="error"
              class="invalid-feedback d-block"
            >
              {{ error }}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="mb-3  form__item">
            <label
              class="form-label"
              for="user-connecteurs-connexion-type"
            >{{ $translator.trans( 'Default connection type' ) }}</label>
            <select
              id="user-connecteurs-connexion-type"
              v-model="connector.defaultConnexionType"
              :class="['form-control', {
                'is-invalid' : fieldHasAnError(connector.identifier,'defaultConnexionType')
              }]"
              :disabled="readOnly"
            >
              <option value="denied">
                {{ $translator.trans( 'Participants only' ) }}
              </option>
              <option value="remove">
                {{ $translator.trans( 'Participants and visitors authorized by a host' ) }}
              </option>
              <option value="view-hidden">
                {{ $translator.trans( 'Tout le monde' ) }}
              </option>
            </select>
            <div
              v-for="error in getErrorOfField(connector.identifier, 'defaultConnexionType')"
              :key="error"
              class="invalid-feedback d-block"
            >
              {{ error }}
            </div>
          </div>
          <div class="mb-3  form__item">
            <label
              class="form-label"
              for="user-connecteurs-birthday"
            >{{ $translator.trans( 'Date of birthday' ) }}</label>
            <input
              id="user-connecteurs-birthday"
              v-model="connector.birthday"
              :class="['form-control', {
                'is-invalid' : fieldHasAnError(connector.identifier,'birthday')
              }]"
              type="datetime-local"
              :disabled="readOnly"
            >
            <div
              v-for="error in getErrorOfField(connector.identifier, 'birthday')"
              :key="error"
              class="invalid-feedback d-block"
            >
              {{ error }}
            </div>
          </div>
          <div class="mb-3  form__item">
            <label
              class="form-label"
              for="user-connecteurs-licence-type"
            >{{ $translator.trans( 'License type' ) }}</label>
            <select
              id="user-connecteurs-licence-type"
              v-model="connector.licenceType"
              :class="['form-control', {
                'is-invalid' : fieldHasAnError(connector.identifier,'licenceType')
              }]"
              :disabled="readOnly"
            >
              <option value="1">
                {{ $translator.trans( 'Simultaneous' ) }}
              </option>
              <option value="2">
                {{ $translator.trans( 'Named' ) }}
              </option>
            </select>
            <div
              v-for="error in getErrorOfField(connector.identifier, 'licenceType')"
              :key="error"
              class="invalid-feedback d-block"
            >
              {{ error }}
            </div>
          </div>
          <div
            class="mb-0 d-flex justify-content-between"
            style="font-size: 0.75rem; font-weight: 600; width: calc(100% - 26px);"
          >
            <label
              class="form-label"
              for="user-connecteurs-default-room"
              style=""
            >{{ $translator.trans( 'Room by default' ) }}</label>
            <div
              v-if="nameFolderDefaultRoomModel !== null"
              style="color: #80BC00;"
            >
              <img
                src="/build/static/icons/cross.svg"
                role="button"
                style="margin-right: 10px"
                @click="resetFilter()"
              >{{ nameFolderDefaultRoomModel }}
            </div>
            <div
              v-if="showChildComponent"
              class="export-dropdown__opener page-options-bar__item d-flex"
              style="margin-right: 0px; display: inline-flex;"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              role="button"
              data-bs-auto-close="outside"
            >
              <div
                v-if="nameFolderDefaultRoomModel === null"
              >
                <img
                  src="/build/static/icons/filter.svg"
                  style="width:15px;"
                >
              </div>
              <div
                v-else
              >
                <img
                  src="/build/static/icons/filter-primary.svg"
                  style="width:15px;"
                >
              </div>
              <span
                class="d-sm-none d-md-block ms-2"
                style="font-size: 0.75rem; font-weight: 600;"
              >{{ $translator.trans('View subfolders') }}</span>
            </div>
            <model-custom-from-animators-a-c
              v-if="showChildComponent"
              :client-id="clientId"
              :configuration-holder-id="connector.id"
              :folder-default-room-sco-id="connector.folderDefaultRoom"
              @custom-room-change="updateSharedMeetingTemplate"
              @update-folder-default-room="updateFolderDefaultRoom"
              @showFilterFolder="handleShowFilterFolder"
              @folder-animator-name="folderAnimatorName"
            />
          </div>

          <div class="mb-3  form__item">
            <select
              id="user-connecteurs-default-room"
              v-model="connector.defaultRoom"
              :class="['form-control', {
                'is-invalid' : fieldHasAnError(connector.identifier,'defaultRoom')
              }]"
              :disabled="(Object.values(sharedMeetingTemplate).length === 0 || readOnly)"
            >
              <option
                v-for="value in sharedMeetingTemplate"
                :key="value.name"
                :value="value.uniq_identifier"
                :selected="connector.defaultRoom === value.uniq_identifier"
              >
                {{ value.name }}
              </option>
            </select>
            <div
              v-for="error in getErrorOfField(connector.identifier, 'defaultRoom')"
              :key="error"
              class="invalid-feedback d-block"
            >
              {{ error }}
            </div>
          </div>

          <div class="form__item">
            <label for="user-global-modele-convoc">
              {{ $translator.trans( 'Default convocation french' ) }}
            </label>
            <select
              id="user-global-modele-convoc"
              v-model="connector.defaultConvocation"
              :disabled="readOnly"
              class="form-control"
            >
              <option
                v-for="value in convocationsConnectorFr"
                :key="value.id"
                :value="value.id"
              >
                {{ value.name }}
              </option>
            </select>
          </div>
          <div class="form__item">
            <label for="user-global-modele-convoc">
              {{ $translator.trans( 'Default convocation english' ) }}
            </label>
            <select
              id="user-global-modele-convoc"
              v-model="connector.defaultConvocationEnglish"
              :disabled="readOnly"
              class="form-control"
            >
              <option
                v-for="value in convocationsConnectorEn"
                :key="value.id"
                :value="value.id"
              >
                {{ value.name }}
              </option>
            </select>
          </div>
          <!--<div class="form-check mt-4">
            <input
              id="open"
              v-model="connector.standardViewOnOpeningRoom"
              class="form-check-input"
              type="checkbox"
              :class="{
                'is-invalid' : fieldHasAnError(connector.identifier,'standardViewOnOpeningRoom')
              }"
              :disabled="readOnly"
            >
            <label
              class="form-label form-check-label"
              for="open"
            >{{ $translator.trans( 'Open the room with the standard view' ) }}</label>
            <div
              v-for="error in getErrorOfField(connector.identifier, 'standardViewOnOpeningRoom')"
              :key="error"
              class="invalid-feedback d-block"
            >
              {{ error }}
            </div>
          </div>-->
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="form-check mt-4">
            <input
              id="user-connecteurs-ms-teams-default-settings-open-roomautomaticLicensing"
              v-model="connector.automaticLicensing"
              name="user-connecteurs-default-settings-open-room"
              type="checkbox"
              class="form-check-input"
              :class="{ 'is-invalid' : fieldHasAnError(connector.identifier,'automaticLicensing') }"
            >
            <label
              class="form-label form-check-label"
              for="user-connecteurs-ms-teams-default-settings-open-roomautomaticLicensing"
            >
              {{ $translator.trans( 'Automatic allocation of licenses' ) }}
              <img
                src="/build/static/icons/question.svg"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                :title="$translator.trans('Check this box if you want the licenses to be allocated automatically. Participants with the Organizer tag correspond to participants who have an organizer account on the virtual classroom software. Participants with a License tag correspond to licenses that can be shared by several participants. If this option is checked and no Organizer facilitator is assigned to a session, then automatically a License facilitator will be assigned to the session.')"
              >
            </label>
            <error-form-display
              v-if="fieldHasAnError(connector.identifier,'automaticLicensing')"
              :errors="getErrorOfField(connector.identifier, 'automaticLicensing')"
            />
          </div>
          <div class="mb-1 d-flex justify-content-between">
            <label class="form-label fz-12 fw-bold">{{ $translator.trans( 'List of licenses' ) }}</label>
            <small class="fw-bold">
              <template v-if="connector.automaticLicensing">
                {{ numberOfSharedLicence }} {{ $translator.trans('shared license.s') }}
                -
                {{ numberOfOrganizatorLicence }} {{ $translator.trans('organizer.s') }}
                -
                <span v-if="numberOfLicenses > 0">{{ numberOfLicenses }}</span>
                <span v-if="numberOfLicenses === 0">{{ $translator.trans('no license') }}</span>
                <span v-else-if="numberOfLicenses === 1">{{ $translator.trans('license') }}</span>
                <span v-else>{{ $translator.trans('licenses') }}</span>
              </template>
              <template v-else>
                <span v-if="numberOfLicenses > 0">{{ numberOfLicenses }}</span>
                <span v-if="numberOfLicenses === 0">{{ $translator.trans('no license') }}</span>
                <span v-else-if="numberOfLicenses === 1">{{ $translator.trans('license') }}</span>
                <span v-else>{{ $translator.trans('licenses') }}</span>
              </template>
            </small>
          </div>
          <ul
            v-if="connector.automaticLicensing"
            class="list-group list-alternate-bg-color user-connecteurs__list-group"
          >
            <li
              v-for="value in sharedLicence"
              :key="value.user_id"
              class="list-group-item"
            >
              <div class="ms-2 ml-auto p-2 col-6">
                {{ value.name }}
              </div>
              <div class="ms-2 ml-auto p-2 badge badge-sm bg-primary">
                {{ $translator.trans('Licence') }}
              </div>
            </li>
          </ul>
          <ul
            v-else
            class="list-group list-alternate-bg-color user-connecteurs__list-group"
          >
            <li
              v-for="value in licences"
              :key="value.principalIdentifier"
              class="list-group-item"
              :value="value.principalIdentifier"
            >
              {{ value.name }}
            </li>
            <li
              v-if="Object.values(licences).length === 0"
              class="list-group-item"
            >
              {{ $translator.trans( 'Empty' ) }}
            </li>
          </ul>
        </div>

        <AdobeConnectTelephonyProfileList
          v-if="connector.provider === 'adobe-connect' && connector.id !== null"
          :configuration-holder-id="connector.id"
          class="pt-3"
          :read-only="readOnly"
        />
      </div>
    </div>
  </form>
</template>

<script>
import * as adobeConnectFactory from '../../factory/adobe-connect.factory'
import FormValidationMixin              from '../../mixin/FormValidationMixin'
import {
  adobeConnectLicences,
  adobeConnectSharedMeetingTemplate
}                                       from '../../utils/adobe-connect-configuration-holder.utils'
import AdobeConnectTelephonyProfileList from './AdobeConnectTelephonyProfileList'
import _                                     from 'lodash'
import VirtualClassroomSoftwareSelector from './VirtualClassroomSoftwareSelector'
import Alert                            from '../ui/Alert'
import { mapState }                     from 'vuex'
import {
  archiveConfigurationHolder,
  deleteConfigurationHolder,
  unarchivedConfigurationHolder
} from '../../repository/configurationHolder'
import ConfirmationPopIn from '../ui/PopIn/ConfirmationPopIn.vue'
import ModelCustomFromAnimatorsAC from './ModelCustomFromAnimatorsAC'

export default {
  name:       'AdobeConnectConfigurationHolderForm',
  components: { ConfirmationPopIn, Alert, VirtualClassroomSoftwareSelector, AdobeConnectTelephonyProfileList, ModelCustomFromAnimatorsAC },
  mixins:     [FormValidationMixin],
  props:      {
    connectorIn: {
      type:     Object,
      required: false,
      default:  null
    },
    readOnly: {
      type: Boolean,
      required: true
    },
    clientId: {
      type: Number,
      required: true
    },
    convocations: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      connector:             adobeConnectFactory.create(),
      sharedMeetingTemplate: {},
      licences:              [],
      showChildComponent: true,
      nameFolderDefaultRoomModel: null
    }
  },
  computed: {
    ...mapState('configurationHolders', ['configurationHolder', 'contentSettings']),
    isOpen () {
      return this.contentSettings.openedConfigurationHolders.includes(this.connector.id)
    },
    convocationsConnectorFr () {
      return this.convocations.filter(convocation =>
        convocation.connectorType === 'adobe-connect' && convocation.languages === 'fr'
      )
    },
    numberOfLicenses: function () {
      return Object.values(this.licences).length
    },
    sharedLicence: function () {
      return Object.fromEntries(Object.entries(this.connector.licences).filter(([email, licence]) => licence.shared))
    },
    organizatorLicence: function () {
      return Object.fromEntries(Object.entries(this.connector.licences).filter(([email, licence]) => !licence.shared))
    },
    numberOfSharedLicence: function () {
      return Object.keys(this.sharedLicence).length
    },
    numberOfOrganizatorLicence: function () {
      return Object.keys(this.organizatorLicence).length
    },
    convocationsConnectorEn () {
      return this.convocations.filter(convocation =>
        convocation.connectorType === 'adobe-connect' && convocation.languages === 'en'
      )
    }
  },
  created () {
    this.connector = this.connectorIn ?? adobeConnectFactory.create()
    this.connector.client = this.clientId

    adobeConnectSharedMeetingTemplate(this.connectorIn?.id)
      .then(sharedMeetingTemplates => {
        this.sharedMeetingTemplate = sharedMeetingTemplates

        if (this.connector.defaultRoom === null) {
          this.connector.defaultRoom = _.first(this.sharedMeetingTemplate)?.uniq_identifer
        }
      })

    adobeConnectLicences(this.connectorIn?.id).then(licences => this.licences = licences)
  },
  methods: {
    providerChange (event) {
      this.$emit('providerChange', event)
    },
    validateField (field) {
      const fieldValue    = this.connector[field] ?? ''
      const emailRegExp   = /^(\w+)@([\w-_]+)\.([\w-_]+)$/
      const domainRegeExp = /^([a-z0-9]+)([_-]*)([a-z0-9]+)$/
      let result

      switch (field) {
        case 'subdomain':
          result = domainRegeExp.test(fieldValue)
          if (!result) {
            this.$store.commit('formError/addFieldError', {
              name:       field,
              errors:     [this.$translator.trans('Invalid subdomain format')],
              identifier: this.connector.identifier
            })
          }
          break
        case 'username':
          result = emailRegExp.test(fieldValue)
          if (!result) {
            this.$store.commit('formError/addFieldError', {
              name:       field,
              errors:     [this.$translator.trans('Invalid email format')],
              identifier: this.connector.identifier
            })
          }
          break
      }
    },
    onClickRemove () {
      this.$emit('provider-remove')
    },
    openConfigurationHolder () {
      this.$store.commit('configurationHolders/openConfigurationHolder', this.connector.id)
    },
    closeConfigurationHolder () {
      this.$store.commit('configurationHolders/closeConfigurationHolder', this.connector.id)
    },
    removeConfigurationHolder () {
      deleteConfigurationHolder(this.connector)
    },
    archiveConfigurationHolder () {
      archiveConfigurationHolder(this.connector)
    },
    unarchivedConfigurationHolder () {
      unarchivedConfigurationHolder(this.connector)
    },
    updateSharedMeetingTemplate (meetingTemplates) {
      this.sharedMeetingTemplate = meetingTemplates
    },
    updateFolderDefaultRoom (folderDefaultRoomModel) {
      this.connector.folderDefaultRoom = folderDefaultRoomModel
    },
    handleShowFilterFolder (value) {
      this.showChildComponent = value
    },
    folderAnimatorName (value) {
      this.nameFolderDefaultRoomModel = value
    },
    resetFilter () {
      this.connector.folderDefaultRoom = null
    }
  }
}
</script>

<style lang="scss">
.provider-actions {
  text-align: end
}
</style>
