<template>
  <div class="d-flex justify-content-start align-items-center">
    <img
      v-if="!displayForm && !readOnly"
      class="m-2 pe-auto"
      src="/build/static/icons/edit-small-green.svg"
      @click.prevent="displayForm = !displayForm"
    >
    <img
      v-if="displayForm && !readOnly"
      class="m-2 pe-auto"
      src="/build/static/icons/cross-small.svg"
      @click.prevent="displayForm = !displayForm"
    >
    <span v-if="!displayForm">{{ language === null ? 'N/A' : language }}</span>
    <select
      v-if="displayForm"
      v-model="language"
      class="form-control form-select pe-auto"
      @input="updateValue($event.target.value)"
    >
      <option value="en">
        en
      </option>
      <option value="fr">
        fr
      </option>
    </select>
    <img
      v-if="displayForm"
      class="m-2 pe-auto"
      src="/build/static/icons/check.svg"
      @click.prevent="updateTelephonyProfileLanguage()"
    >
  </div>
</template>

<script>
import { adobeConnectTelephonyProfileUpdateLanguage } from '../../utils/adobe-connect-configuration-holder.utils'

export default {
  name: 'AdobeConnectTelephonyProfileLanguageForm',
  props: {
    audio: {
      type: Object,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      language: this.audio.phoneLang,
      displayForm: false
    }
  },
  methods: {
    updateTelephonyProfileLanguage () {
      adobeConnectTelephonyProfileUpdateLanguage(this.audio.id, this.language)
        .then(() => {
          this.displayForm = false
          alert(this.$translator.trans('Successful language change'))
        })
        .catch(() => alert(this.$translator.trans('Unable to change the audio Language')))
    },
    updateValue: function (value) {
      this.$emit('input', value)
      this.language = value
    }
  }
}
</script>
