<template>
  <div class="d-flex justify-content-start align-items-center">
    <img
      v-if="!displayForm && !readOnly"
      class="m-2"
      src="/build/static/icons/edit-small-green.svg"
      @click.prevent="displayForm = !displayForm"
    >
    <img
      v-if="displayForm && !readOnly"
      class="m-2"
      src="/build/static/icons/cross-small.svg"
      @click.prevent="displayForm = !displayForm"
    >
    <span v-if="!displayForm">{{ number === null ? 'N/A' : number }}</span>
    <input
      v-if="displayForm"
      class="form-control"
      :value="number"
      type="text"
      @input="updateValue($event.target.value)"
    >
    <img
      v-if="displayForm"
      class="m-2"
      src="/build/static/icons/check.svg"
      @click.prevent="updateTelephonyProfileNumber()"
    >
  </div>
</template>

<script>
import { adobeConnectWebinarTelephonyProfileUpdateNumber } from '../../utils/adobe-connect-webinar-configuration-holder.utils'

export default {
  name: 'AdobeConnectWebinarTelephonyProfileNumberForm',
  props: {
    audio: {
      type: Object,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      number: this.audio.phoneNumber,
      displayForm: false
    }
  },
  methods: {
    updateTelephonyProfileNumber () {
      adobeConnectWebinarTelephonyProfileUpdateNumber(this.audio.id, this.number)
        .then(() => {
          this.displayForm = false
          alert(this.$translator.trans('Number successfully changed'))
        })
        .catch(() => alert(this.$translator.trans('Unable to change the audio number')))
    },
    updateValue: function (value) {
      this.$emit('input', value)
      this.number = value
    }
  }
}
</script>
