<template>
  <form class="form row">
    <div class="table-content data-list data-list__row-small mb-3">
      <div class="data-list__row">
        <div class="row__data flex-grow-0 flex-basis-auto">
          <div class="badge badge-sm bg-primary">
            Webex Meeting
          </div>
        </div>
        <div class="row__data">
          {{ connector.name }}
        </div>
        <div
          class="row__data"
          style="text-align: center;"
        >
          <div
            v-if="connector.archived"
            style="align-content: center; width: 300px;"
          >
            <span class="badge">{{ $translator.trans('Inactive') }}</span>
          </div>
        </div>
        <div class="row__data option">
          <img
            v-if="isOpen"
            class="cursor-pointer"
            src="/build/static/icons/tree-closed.svg"
            @click="closeConfigurationHolder"
          >
          <img
            v-else
            class="cursor-pointer"
            src="/build/static/icons/tree-opened.svg"
            @click="openConfigurationHolder"
          >
          <div class="drop-menu-container">
            <confirmation-pop-in
              :id="'delete_connector_'+connector.id.toString()"
              :title="$translator.trans('Removal of the connector')"
              :content="$translator.trans('Do you want to delete this connector?')"
              :confirm="removeConfigurationHolder"
            />
            <confirmation-pop-in
              :id="'archive_connector_'+connector.id.toString()"
              :title="$translator.trans('Connector archiving')"
              :content="$translator.trans('Do you want to archive this connector?')"
              :confirm="archiveConfigurationHolder"
            />
            <confirmation-pop-in
              :id="'unarchived_connector_'+connector.id.toString()"
              :title="$translator.trans('Connector unarchiving')"
              :content="$translator.trans('Do you want to unarchive this connector?')"
              :confirm="unarchivedConfigurationHolder"
            />
            <div class="icn-option">
              <img src="/build/static/icons/options-white.svg">
            </div>
            <ul class="dropdown-menu-inner">
              <li>
                <a
                  v-if="!connector.archived"
                  class="dropdown-item"
                  data-bs-toggle="modal"
                  :data-bs-target="'#confirmationPopIn_archive_connector_'+connector.id.toString()"
                  href="#"
                >
                  <img
                    src="/build/static/icons/small-ban-green.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Archive') }}</b>
                </a>
                <a
                  v-else
                  class="dropdown-item"
                  data-bs-toggle="modal"
                  :data-bs-target="'#confirmationPopIn_unarchived_connector_'+connector.id.toString()"
                  href="#"
                >
                  <img
                    src="/build/static/icons/small-ban-green.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Unarchive') }}</b>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  data-bs-toggle="modal"
                  :data-bs-target="'#confirmationPopIn_delete_connector_'+connector.id.toString()"
                  href="#"
                >
                  <img
                    src="/build/static/icons/trash-small.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Delete') }}</b>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div
        v-if="isOpen"
        class="row"
      >
        <template v-if="fieldHasAnError(connector.identifier,'global')">
          <alert
            v-for="error in getErrorOfField(connector.identifier, 'global')"
            :key="error"
            type="danger"
            :text="error"
          />
        </template>
        <div class="col-md-6 col-lg-4">
          <virtual-classroom-software-selector
            :provider="connector.provider"
            :disabled="connector.id !== null"
            @providerChange="providerChange"
          />
          <div class="mb-3 form__item">
            <label
              class="form-label"
              for="user-connecteurs-name"
            >{{ $translator.trans( 'Name' ) }}</label>
            <input
              id="user-connecteurs-name"
              v-model="connector.name"
              name="user-connecteurs-name"
              type="text"
              class="form-control"
            >
          </div>
          <div class="mb-3 form__item">
            <label
              class="form-label"
              for="user-connecteurs-site-name"
            >{{ $translator.trans( 'Subdomain' ) }}</label>
            <input
              id="user-connecteurs-site-name"
              v-model="connector.siteName"
              name="user-connecteurs-site-name"
              type="text"
              class="form-control"
              :class="{ 'is-invalid' : fieldHasAnError(connector.identifier,'siteName') }"
            >
            <error-form-display
              v-if="fieldHasAnError(connector.identifier,'siteName')"
              :errors="getErrorOfField(connector.identifier, 'siteName')"
            />
          </div>
          <div class="mb-3  form__item">
            <label
              class="form-label"
              for="user-connecteurs-connecteur-webex-meeting-id"
            >{{ $translator.trans( 'Connector ID' ) }}</label>
            <input
              id="user-connecteurs-connecteur-webex-meeting-id"
              v-model="connector.username"
              name="user-connecteurs-connecteur-webex-meeting-id"
              type="text"
              class="form-control"
              :class="{ 'is-invalid' : fieldHasAnError(connector.username,'username')}"
            >
            <error-form-display
              v-if="fieldHasAnError(connector.username,'username')"
              :errors="getErrorOfField(connector.username, 'username')"
            />
          </div>
          <div class="mb-3  form__item">
            <label
              class="form-label"
              for="user-connecteurs-password"
            >{{ $translator.trans( 'Password' ) }}</label>
            <input
              id="user-connecteurs-password"
              v-model="connector.password"
              name="user-connecteurs-password"
              type="password"
              class="form-control"
              :class="{ 'is-invalid' : fieldHasAnError(connector.identifier,'password') }"
            >
            <error-form-display
              v-if="fieldHasAnError(connector.identifier,'password')"
              :errors="getErrorOfField(connector.identifier, 'password')"
            />
          </div>
          <div class="form__item">
            <label for="user-global-modele-convoc">
              {{ $translator.trans( 'Default convocation french' ) }}
            </label>
            <select
              id="user-global-modele-convoc"
              v-model="connector.defaultConvocation"
              :disabled="readOnly"
              class="form-control"
            >
              <option
                v-for="value in convocationsConnectorFr"
                :key="value.id"
                :value="value.id"
              >
                {{ value.name }}
              </option>
            </select>
          </div>
          <div class="form__item">
            <label for="user-global-modele-convoc">
              {{ $translator.trans( 'Default convocation english' ) }}
            </label>
            <select
              id="user-global-modele-convoc"
              v-model="connector.defaultConvocationEnglish"
              :disabled="readOnly"
              class="form-control"
            >
              <option
                v-for="value in convocationsConnectorEn"
                :key="value.id"
                :value="value.id"
              >
                {{ value.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="form-check mt-4">
            <input
              id="user-connecteurs-default-settings-open-room"
              v-model="connector.optionJoinTeleconfBeforeHost"
              name="user-connecteurs-default-settings-open-room"
              type="checkbox"
              class="form-check-input"
              :class="{ 'is-invalid' : fieldHasAnError(connector.identifier,'standardViewOnOpeningRoom') }"
            >
            <label
              class="form-label form-check-label"
              for="user-connecteurs-default-settings-open-room"
            >{{ $translator.trans( 'Opening of the room for participants in advance' ) }}</label>
            <error-form-display
              v-if="fieldHasAnError(connector.identifier,'optionJoinTeleconfBeforeHost')"
              :errors="getErrorOfField(connector.identifier, 'optionJoinTeleconfBeforeHost')"
            />
          </div>
          <div
            v-if="connector.optionJoinTeleconfBeforeHost"
            class="mb-3 form__item"
          >
            <label
              class="form-label"
              for="user-connecteurs-default-settings-open-minutes"
            >{{ $translator.trans('Open room in advance of :') }}</label>
            <div class="input-group input-group-container w-100">
              <input
                id="user-connecteurs-default-settings-open-minutes"
                v-model="connector.optionOpenTime"
                type="number"
                name="user-connecteurs-default-settings-open-minutes"
                class="inline form-control"
              >
              <span class="input-group-text">{{ $translator.trans('Min') }}</span>
            </div>
            <error-form-display
              v-if="fieldHasAnError(connector.identifier,'optionOpenTime')"
              :errors="getErrorOfField(connector.identifier, 'optionOpenTime')"
            />
          </div>
          <error-form-display
            v-if="fieldHasAnError(connector.identifier,'safetyTime')"
            :errors="getErrorOfField(connector.identifier, 'safetyTime')"
          />
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="form-check mt-4">
            <input
              id="user-connecteurs-webex-meeting-default-settings-open-roomautomaticLicensing"
              v-model="connector.automaticLicensing"
              name="user-connecteurs-default-settings-open-room"
              type="checkbox"
              class="form-check-input"
              :class="{ 'is-invalid' : fieldHasAnError(connector.identifier,'automaticLicensing') }"
            >
            <label
              class="form-label form-check-label"
              for="user-connecteurs-webex-meeting-default-settings-open-roomautomaticLicensing"
            >{{ $translator.trans( 'Automatic allocation of licenses' ) }}</label>
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              :title="$translator.trans('Check this box if you want the licenses to be allocated automatically. Participants with the Organizer tag correspond to participants who have an organizer account on the virtual classroom software. Participants with a License tag correspond to licenses that can be shared by several participants. If this option is checked and no Organizer facilitator is assigned to a session, then automatically a License facilitator will be assigned to the session.')"
            >
            <error-form-display
              v-if="fieldHasAnError(connector.identifier,'automaticLicensing')"
              :errors="getErrorOfField(connector.identifier, 'automaticLicensing')"
            />
          </div>
          <div
            v-if="connector.automaticLicensing"
            class="mb-3 form__item"
          >
            <label
              class="form-label"
              for="user-connecteurs-default-settings-safety-time"
            >{{ $translator.trans('Safety time') }}</label>
            <div class="d-flex w-100">
              <div class="input-group input-group-container w-100">
                <input
                  id="user-connecteurs-default-settings-safety-time"
                  v-model="connector.safetyTime"
                  type="number"
                  name="user-connecteurs-default-settings-safety-time"
                  class="inline form-control"
                  min="0"
                  step="1"
                >
                <span class="input-group-text">{{ $translator.trans('Min') }}</span>
              </div>
              <img
                src="/build/static/icons/question.svg"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                :title="$translator.trans('Decide how long time a same license should not be reallocated between the end of a session and the beginning of a new one')"
              >
            </div>
          </div>
          <div class="mb-1 d-flex justify-content-between">
            <label class="form-label fz-12 fw-bold">{{ $translator.trans( 'List of licenses' ) }}</label>
            <small class="fw-bold">
              <span v-if="numberOfLicenses > 0">{{ numberOfLicenses }}</span>
              <span v-if="numberOfLicenses === 0">{{ $translator.trans('no license') }}</span>
              <span v-else-if="numberOfLicenses === 1">{{ $translator.trans('license') }}</span>
              <span v-else>{{ $translator.trans('licenses') }}</span>
            </small>
          </div>
          <ul class="list-group list-alternate-bg-color user-connecteurs__list-group">
            <li
              v-for="value in licences"
              :key="value"
              class="list-group-item"
            >
              {{ value }}
            </li>
            <li
              v-if="Object.values(licences).length === 0"
              class="list-group-item"
            >
              {{ $translator.trans( 'Empty' ) }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import ErrorFormDisplay from './ErrorFormDisplay'
import VirtualClassroomSoftwareSelector from './VirtualClassroomSoftwareSelector'
import FormValidationMixin              from '../../mixin/FormValidationMixin'
import { webexLicences } from '../../utils/cisco-webex-configuration-holder.utils'
import Alert             from '../ui/Alert'
import { mapState }     from 'vuex'
import {
  archiveConfigurationHolder,
  deleteConfigurationHolder,
  unarchivedConfigurationHolder
} from '../../repository/configurationHolder'
import ConfirmationPopIn from '../ui/PopIn/ConfirmationPopIn.vue'

export default {
  name: 'CiscoWebexConfigurationHolderForm',
  components: { ConfirmationPopIn, Alert, VirtualClassroomSoftwareSelector, ErrorFormDisplay },
  mixins:     [FormValidationMixin],
  props: {
    connectorIn: {
      type:     Object,
      required: true
    },
    clientId: {
      type: Number,
      required: true
    },
    convocations: {
      type: Array,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      connector: null,
      licences: []
    }
  },
  computed: {
    ...mapState('configurationHolders', ['contentSettings']),
    isOpen () {
      return this.contentSettings.openedConfigurationHolders.includes(this.connector.id)
    },
    numberOfLicenses: function () {
      return Object.values(this.licences).length
    },
    convocationsConnectorFr () {
      return this.convocations.filter(convocation =>
        convocation.connectorType === 'cisco-webex' && convocation.languages === 'fr'
      )
    },
    convocationsConnectorEn () {
      return this.convocations.filter(convocation =>
        convocation.connectorType === 'cisco-webex' && convocation.languages === 'en'
      )
    }
  },
  created () {
    this.connector = this.connectorIn
    this.connector.client = this.clientId

    webexLicences(this.connectorIn?.id).then(licences => this.licences = licences)
  },
  methods: {
    providerChange (event) {
      this.$emit('providerChange', event)
    },
    openConfigurationHolder () {
      this.$store.commit('configurationHolders/openConfigurationHolder', this.connector.id)
    },
    closeConfigurationHolder () {
      this.$store.commit('configurationHolders/closeConfigurationHolder', this.connector.id)
    },
    removeConfigurationHolder () {
      deleteConfigurationHolder(this.connector)
    },
    archiveConfigurationHolder () {
      archiveConfigurationHolder(this.connector)
    },
    unarchivedConfigurationHolder () {
      unarchivedConfigurationHolder(this.connector)
    }
  }
}
</script>
