<template>
  <div
    ref="configurationHolderModale"
    aria-hidden="true"
    class="modal fade show text-black"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ title }}
          </h5>
        </div>
        <div class="modal-body">
          <alert
            v-if="errorModal"
            type="danger"
            :text="errorModal"
          />
          <form
            v-if="configurationHolderForm !== null"
            class="form"
          >
            <div class="mb-3 form__item">
              <label
                for="name"
                class="form-label required"
              >{{ $translator.trans('Name') }}</label>
              <input
                v-model="configurationHolderForm.name"
                name="name"
                required="required"
                class="form-control"
              >
              <div
                v-if="'name' in formErrors"
                class="invalid-feedback d-block"
              >
                {{ formErrors.question }}
              </div>
            </div>

            <div class="mb-3 form__item d-flex align-content-center">
              <div
                v-if="'enable' in formErrors"
                class="invalid-feedback d-block"
              >
                {{ formErrors.content }}
              </div>
            </div>

            <div
              class="mb-3 form__item"
              style=""
            >
              <label
                for="software-connector"
                class="form-label"
              >{{ $translator.trans( 'Virtual classroom software' ) }}</label>
              <select
                id="software-connector"
                v-model="configurationHolderForm.type"
                class="form-control"
              >
                <option value="adobe-connect">
                  Adobe connect
                </option>
                <option value="adobe-connect-webinar">
                  Adobe Connect Webinar
                </option>
                <option value="cisco-webex">
                  Webex Meeting
                </option>
                <option value="cisco-webex-rest">
                  Webex Meeting Rest
                </option>
                <option value="microsoft-teams">
                  Microsoft Teams
                </option>
                <option value="microsoft-teams-event">
                  Microsoft Teams Event
                </option>
                <option value="white-connector">
                  {{ $translator.trans( 'White Connector' ) }}
                </option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <loader v-if="saving" />
          <button
            v-else
            class="btn btn-primary"
            type="button"
            @click="saveConfigurationHolder"
          >
            {{ $translator.trans('Valid') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Alert from '../ui/Alert'
import { mapState } from 'vuex'
import { saveConfigurationHolder } from '../../repository/configurationHolder'
import Loader         from '../ui/Loader'
import store from '../../store'

export default {
  name: 'ConfigurationHolderModale',
  components: { Loader, Alert },
  props: {
    clientId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      configurationHolderForm: null,
      modal: null
    }
  },
  computed: {
    ...mapState('configurationHolders', ['configurationHolder']),
    ...mapState('process', ['errorModal', 'formErrors', 'saving']),
    title () {
      return (this.configurationHolder !== null && 'id' in this.configurationHolder) ?  this.$translator.trans('Update connector') : this.$translator.trans('New connector')
    }
  },
  watch: {
    configurationHolder (newValue, oldValue) {
      this.configurationHolderForm = newValue
      if (newValue === null) {
        this.modal.hide()
      } else {
        this.modal.show()
      }
    }
  },
  mounted () {
    this.modal = this.$bootstrap.Modal.getOrCreateInstance(this.$refs.configurationHolderModale)
    this.$refs.configurationHolderModale.addEventListener('hide.bs.modal', event => {
      this.$store.commit('configurationHolders/updateConfigurationHolder', null)
      store.commit('process/endSaving')
    })
  },
  methods: {
    saveConfigurationHolder () {
      saveConfigurationHolder(this.configurationHolderForm)
    }
  }
}
</script>
