<template>
  <div>
    <component
      :is="getComponentName"
      v-bind="configurationHolderProps"
      :read-only="readOnlyConnector"
      :client-id="clientId"
      :convocations="convocations"
      @providerChange="providerChange"
    />
  </div>
</template>

<script>
import { configurationHolder }               from '../../utils/utils'
import AdobeConnectConfigurationHolderForm   from './AdobeConnectConfigurationHolderForm'
import AdobeConnectWebinarConfigurationHolderForm from './AdobeConnectWebinarConfigurationHolderForm'
import CiscoWebexConfigurationHolderForm   from './CiscoWebexConfigurationHolderForm'
import CiscoWebexRestConfigurationHolderForm   from './CiscoWebexRestConfigurationHolderForm'
import MicrosoftTeamsConfigurationHolderForm from './MicrosoftTeamsConfigurationHolderForm'
import MicrosoftTeamsEventConfigurationHolderForm from './MicrosoftTeamsEventConfigurationHolderForm'
import WhiteConfigurationHolderForm from './WhiteConfigurationHolderForm'

export default {
  name: 'ConfigurationHolderComponent',
  components: { AdobeConnectConfigurationHolderForm, AdobeConnectWebinarConfigurationHolderForm, CiscoWebexConfigurationHolderForm, CiscoWebexRestConfigurationHolderForm, MicrosoftTeamsConfigurationHolderForm, MicrosoftTeamsEventConfigurationHolderForm, WhiteConfigurationHolderForm },
  props: {
    configurationHolder: {
      type: Object,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: true
    },
    clientId: {
      type: Number,
      required: true
    },
    convocations: {
      type: Array,
      required: true
    },
    isAdminManager: {
      type: Boolean,
      required: true
    }
  },
  computed: {
    getComponentName () {
      return configurationHolder.providerToComponentName(this.configurationHolder.provider)
    },
    configurationHolderProps () {
      const props = configurationHolder.providerToConfigurationHolderProps(this.configurationHolder)
      props.readOnly = this.readOnly
      return props
    },
    readOnlyConnector () {
      return this.readOnly && !this.isAdminManager
    }
  },
  methods: {
    providerChange (event) {
      this.$emit('providerChange', { identifier: this.configurationHolder.identifier, newProvider: event })
    }
  }
}
</script>

<style scoped>

</style>
