<template>
  <div class="row mb-5">
    <div
      v-if="success"
      class="p-3 alert alert-success mb-4"
    >
      {{ $translator.trans('Connector update done') }}
    </div>
    <!-- TODO: Uncomment in future-->
    <!--    <div>
      <img
        src="/build/static/icons/add-filter.svg"
        role="button"
        @click.prevent="addProviderConfigurationHolder()"
      >
    </div>-->
    <div
      class="mb-3 form__item"
      style="display: none"
    >
      {{ provider }}
      <label
        for="user-connecteurs-software"
        class="form-label"
      >{{ $translator.trans( 'Virtual classroom software' ) }}</label>
      <select
        id="user-connecteurs-software"
        v-model="provider"
        class="form-control"
        :disabled="readOnly"
      >
        <option value="adobe-connect">
          Adobe Connect
        </option>
        <option value="adobe-connect-webinar">
          Adobe Connect Webinar
        </option>
        <option value="cisco-webex">
          Webex Meeting
        </option>
        <option value="cisco-webex-rest">
          Webex Meeting Rest
        </option>
        <option value="microsoft-teams">
          Microsoft Teams
        </option>
        <option value="microsoft-teams-event">
          Microsoft Teams Event
        </option>
        <option value="white-connector">
          {{ $translator.trans( 'White Connector' ) }}
        </option>
      </select>
    </div>

    <div class="page-options-bar d-flex flex-row-reverse mb-3">
      <div class="btn-group export-dropdown">
        <div class="me-4">
          <b>{{ $translator.trans( 'Show active connector' ) }}</b>
          <label
            class="switch ms-1"
            for="show-active-models"
          >
            <input
              id="show-active-models"
              v-model="showAllConnector"
              type="checkbox"
              name="show-active-models"
            >
            <span class="slider round" />
          </label>
        </div>
        <div
          v-if="contentSettings.openedConfigurationHolders.length === 0"
          class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          role="button"
          data-bs-auto-close="outside"
          @click="openedAll"
        >
          <img src="/build/static/icons/tree-opened.svg">
          <span class="d-sm-none d-md-block ms-2">{{ $translator.trans('Unfold everything') }}</span>
        </div>
        <div
          v-else
          class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          role="button"
          data-bs-auto-close="outside"
          @click="closedAll"
        >
          <img src="/build/static/icons/tree-closed.svg">
          <span class="d-sm-none d-md-block ms-2">{{ $translator.trans('Fold everything') }}</span>
        </div>
        <div
          v-if="isAdmin"
          class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          role="button"
          data-bs-auto-close="outside"
          @click="createConfigurationHolder"
        >
          <img src="/build/static/icons/plus.svg">
          <span class="d-sm-none d-md-block ms-2">{{ $translator.trans('Add') }}</span>
        </div>
      </div>
    </div>
    <div
      v-for="configurationHolder in providerConfigurationHolders"
      :key="configurationHolder.id"
    >
      <configuration-holder-component
        v-if="!configurationHolder.archived || !showAllConnector"
        :client-id="client"
        :configuration-holder="configurationHolder"
        :read-only="readOnly"
        :convocations="convocations"
        :is-admin-manager="isAdminManager"
        @provider-remove="removeProviderConfigurationHolder(configurationHolder)"
        @providerChange="providerChange"
      />
    </div>
    <div class="action mt-4">
      <loader v-if="saving" />
      <button
        v-else-if="!readOnly || isAdminManager"
        type="submit"
        class="primary-btn"
        @click.prevent="$emit('submit'); submit()"
      >
        <img
          src="/build/static/icons/check-white.svg"
          class="me-2"
        >
        {{ $translator.trans( 'Save' ) }}
      </button>
    </div>
    <configuration-holder-modale
      :client-id="client"
    />
  </div>
</template>

<script>
import * as factory                          from '../../factory/factory'
import { PROVIDER_ADOBE_CONNECT }            from '../../utils/adobe-connect-configuration-holder.utils'
// import { PROVIDER_ADOBE_CONNECT_WEBINAR }            from '../../utils/adobe-connect-webinar-configuration-holder.utils'
import { updateProviderConfigurationHolder } from '../../utils/client.utils'
import ConfigurationHolderComponent from './ConfigurationHolderComponent'
import { mapState } from 'vuex'
import ConfigurationHolderModale from './ConfigurationHolderModale'
import Loader from '../ui/Loader'

export default {
  name:       'ConfigurationHolderForm',
  components: { Loader, ConfigurationHolderModale, ConfigurationHolderComponent },
  props:      {
    client:                    {
      type:     Number,
      required: true
    },
    clientConfigurationHolder: {
      type:     Array,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: true
    },
    isAdmin: {
      type: Boolean,
      required: true
    },
    convocations: {
      type: Array,
      required: true
    },
    isAdminManager: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      providerConfigurationHolders: [],
      provider: PROVIDER_ADOBE_CONNECT,
      showAllConnector: true,
      success: false,
      saving: false
    }
  },
  computed: {
    ...mapState('configurationHolders', ['contentSettings'])
  },
  created () {
    if (this.clientConfigurationHolder.length === 0) {
      this.addProviderConfigurationHolder()
    } else {
      this.clientConfigurationHolder
        .map(configurationHolder => this.providerConfigurationHolders.push(
          factory.createProviderConfigurationHolder(
            configurationHolder.provider,
            configurationHolder
          )
        ))
    }
    this.clientConfigurationHolders = this.clientConfigurationHolder
  },
  methods: {
    submit () {
      this.success = false
      this.saving = true
      updateProviderConfigurationHolder(this.client, this.providerConfigurationHolders)
        .then((response) => {
          this.saving = false
          if (typeof response !== 'undefined') {
            this.success = true
            this.$store.commit('formError/eraseError')
          }
        })
        .catch(error => {
          this.saving = false
          if (!Object.prototype.hasOwnProperty.call(error.response.data, 'message')) {
            this.addFormError(this.$translator.trans('An error has occurred'))
          } else {
            const fieldsErrors = error.response.data.message.data

            Object.keys(fieldsErrors).forEach(key => this.$store.commit('formError/addFieldError', {
              identifier: key,
              errors:     fieldsErrors[key]
            }))
          }
        })
    },
    addProviderConfigurationHolder () {
      const configurationHolder = factory.createProviderConfigurationHolder(this.provider, { client: this.client })

      this.providerConfigurationHolders.push(configurationHolder)
    },
    removeProviderConfigurationHolder (configurationHolder) {
      const index = this.providerConfigurationHolders.indexOf(configurationHolder)
      this.providerConfigurationHolders.splice(index, 1)
    },
    providerChange (event) {
      const configurationIndex = this.providerConfigurationHolders.findIndex(element => {
        return element.identifier = event.identifier
      })
      if (this.providerConfigurationHolders[configurationIndex].id === null) {
        const newConfigurationHolder = factory.createProviderConfigurationHolder(event.newProvider, { client: this.client })
        this.$set(this.providerConfigurationHolders, configurationIndex, newConfigurationHolder)
      }
    },
    closedAll () {
      this.$store.commit('configurationHolders/closeAll')
    },
    openedAll () {
      this.$store.commit('configurationHolders/openAll', this.clientConfigurationHolder)
    },
    createConfigurationHolder () {
      this.$store.commit('configurationHolders/newConfigurationHolder', this.client)
    }
  }
}
</script>
