<template>
  <div>
    <div
      v-for="error in errors"
      :key="error"
      class="text-danger"
      role="alert"
    >
      {{ error }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'ErrorFormDisplay',
  props: {
    errors: {
      type: Array,
      required: true
    }
  }
}
</script>
