<template>
  <form
    class="form dropdown-menu export-dropdown__content"
  >
    <div class="row px-2">
      <div
        class="form__item mb-2 col-12"
      >
        <label>{{ $translator.trans('Folders') }} </label>
        <select
          v-model="folderDefaultRoom"
          name="client-id"
          class="form-select form-control w-100"
          @change="getRoomModelFromScoFolderAnimator()"
        >
          <option
            v-for="folder in animatorsForRoomModel"
            :key="folder.uniq_identifier"
            :value="folder.uniq_identifier"
          >
            {{ folder.name }}
          </option>
        </select>
      </div>
    </div>
  </form>
</template>

<script>

import axios from 'axios'
import { routing } from '../../utils/app.utils'

export default {
  name: 'ModelCustomFromAnimatorsAC',
  props: {
    clientId: {
      type: Number,
      required: true
    },
    configurationHolderId: {
      type: Number,
      required: false,
      default: null
    },
    folderDefaultRoomScoId: {
      type:     Number,
      required: false,
      default: null
    }
  },
  data () {
    return {
      animatorsForRoomModel: [],
      folderDefaultRoom: this.folderDefaultRoomScoId
    }
  },
  watch: {
    folderDefaultRoomScoId (newValue) {
      this.folderDefaultRoom = newValue
      this.getRoomModelFromScoFolderAnimator()
    }
  },
  created () {
    this.getAnimatorsRoomModel(this.configurationHolderId)
    if (this.folderDefaultRoom) {
      this.$emit('update-folder-default-room', this.folderDefaultRoom)
      this.$emit('folder-animator-name', this.getNameScoFolderAnimator(this.folderDefaultRoom))
    }
  },
  methods: {
    getAnimatorsRoomModel (idConfigurationHolder) {
      axios.get(routing.generate('_animators_room_model', { id: idConfigurationHolder }))
        .then((response) => {
          if (response.data.code === 200) {
            this.animatorsForRoomModel = response.data.message.content
            if (Object.keys(response.data.message.content).length === 0) {
              this.$emit('showFilterFolder', false)
            } else {
              this.$emit('showFilterFolder', true)
            }
          }
        })
      this.getRoomModelFromScoFolderAnimator()
    },
    getRoomModelFromScoFolderAnimator () {
      this.$emit('update-folder-default-room', this.folderDefaultRoom)
      axios.get(routing.generate('_room_models_from_animator', { id: this.configurationHolderId, scoid: this.folderDefaultRoom }))
        .then((response) => {
          if (response.data.code === 200) {
            this.$emit('custom-room-change', response.data.message.content)
            this.$emit('folder-animator-name', this.getNameScoFolderAnimator(this.folderDefaultRoom))
          }
        })
    },
    getNameScoFolderAnimator (key) {
      if (this.animatorsForRoomModel[key]) {
        return this.animatorsForRoomModel[key].name
      }
      return null
    }
  }
}
</script>
