<template>
  <div class="mb-3 form__item">
    <label
      for="user-connecteurs-software"
      class="form-label"
    >{{ $translator.trans( 'Virtual classroom software' ) }}</label>
    <select
      id="user-connecteurs-software"
      class="form-control"
      :disabled="disabled"
      :value="provider"
      @change="changeProvider"
    >
      <option value="adobe-connect">
        Adobe Connect
      </option>
      <option value="adobe-connect-webinar">
        Adobe Connect Webinar
      </option>
      <option value="cisco-webex">
        Webex Meeting
      </option>
      <option value="cisco-webex-rest">
        Webex Meeting Rest
      </option>
      <option value="microsoft-teams">
        Microsoft Teams
      </option>
      <option value="microsoft-teams-event">
        Microsoft Teams Event
      </option>
      <option value="white-connector">
        {{ $translator.trans( 'White Connector' ) }}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  name: 'VirtualClassroomSoftwareSelector',
  props: {
    provider: {
      type: String,
      required: true
    },
    disabled: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  methods: {
    changeProvider (event) {
      this.$emit('providerChange', event.target.value)
    }
  }
}
</script>
