<template>
  <form class="form row">
    <div class="table-content data-list data-list__row-small mb-3">
      <div class="data-list__row">
        <div class="row__data flex-grow-0 flex-basis-auto">
          <div class="badge badge-sm bg-primary">
            {{ $translator.trans('White Connector') }}
          </div>
        </div>
        <div class="row__data">
          {{ connector.name }}
        </div>
        <div
          class="row__data"
          style="text-align: center;"
        >
          <div
            v-if="connector.archived"
            style="align-content: center; width: 300px;"
          >
            <span class="badge">{{ $translator.trans('Inactive') }}</span>
          </div>
        </div>
        <div class="row__data option">
          <img
            v-if="isOpen"
            class="cursor-pointer"
            src="/build/static/icons/tree-closed.svg"
            @click="closeConfigurationHolder"
          >
          <img
            v-else
            class="cursor-pointer"
            src="/build/static/icons/tree-opened.svg"
            @click="openConfigurationHolder"
          >
          <div class="drop-menu-container">
            <confirmation-pop-in
              :id="'delete_connector_'+connector.id.toString()"
              :title="$translator.trans('Removal of the connector')"
              :content="$translator.trans('Do you want to delete this connector?')"
              :confirm="removeConfigurationHolder"
            />
            <confirmation-pop-in
              :id="'archive_connector_'+connector.id.toString()"
              :title="$translator.trans('Connector archiving')"
              :content="$translator.trans('Do you want to archive this connector?')"
              :confirm="archiveConfigurationHolder"
            />
            <confirmation-pop-in
              :id="'unarchived_connector_'+connector.id.toString()"
              :title="$translator.trans('Connector unarchiving')"
              :content="$translator.trans('Do you want to unarchive this connector?')"
              :confirm="unarchivedConfigurationHolder"
            />
            <div class="icn-option">
              <img src="/build/static/icons/options-white.svg">
            </div>
            <ul class="dropdown-menu-inner">
              <li>
                <a
                  v-if="!connector.archived"
                  class="dropdown-item"
                  data-bs-toggle="modal"
                  :data-bs-target="'#confirmationPopIn_archive_connector_'+connector.id.toString()"
                  href="#"
                >
                  <img
                    src="/build/static/icons/small-ban-green.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Archive') }}</b>
                </a>
                <a
                  v-else
                  class="dropdown-item"
                  data-bs-toggle="modal"
                  :data-bs-target="'#confirmationPopIn_unarchived_connector_'+connector.id.toString()"
                  href="#"
                >
                  <img
                    src="/build/static/icons/small-ban-green.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Unarchive') }}</b>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  data-bs-toggle="modal"
                  :data-bs-target="'#confirmationPopIn_delete_connector_'+connector.id.toString()"
                  href="#"
                >
                  <img
                    src="/build/static/icons/trash-small.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Delete') }}</b>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div
        v-if="isOpen"
        class="row"
      >
        <template v-if="fieldHasAnError(connector.identifier,'global')">
          <alert
            v-for="error in getErrorOfField(connector.identifier, 'global')"
            :key="error"
            type="danger"
            :text="error"
          />
        </template>
        <div class="col-md-6 col-lg-4">
          <virtual-classroom-software-selector
            :provider="connector.provider"
            :disabled="connector.id !== null"
            @providerChange="providerChange"
          />
          <div class="mb-3 form__item">
            <label
              class="form-label"
              for="user-connecteurs-name"
            >{{ $translator.trans( 'Name' ) }}</label>
            <input
              id="user-connecteurs-name"
              v-model="connector.name"
              name="user-connecteurs-name"
              type="text"
              class="form-control"
            >
          </div>
          <div class="form__item">
            <label for="user-global-modele-convoc">
              {{ $translator.trans( 'Default convocation french' ) }}
            </label>
            <select
              id="user-global-modele-convoc"
              v-model="connector.defaultConvocation"
              :disabled="readOnly"
              class="form-control"
            >
              <option
                v-for="value in convocationsConnectorFr"
                :key="value.id"
                :value="value.id"
              >
                {{ value.name }}
              </option>
            </select>
          </div>
          <div class="form__item">
            <label for="user-global-modele-convoc">
              {{ $translator.trans( 'Default convocation english' ) }}
            </label>
            <select
              id="user-global-modele-convoc"
              v-model="connector.defaultConvocationEnglish"
              :disabled="readOnly"
              class="form-control"
            >
              <option
                v-for="value in convocationsConnectorEn"
                :key="value.id"
                :value="value.id"
              >
                {{ value.name }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="text-muted">
            {{ $translator.trans('By choosing the Universal Connector you will be able to use Mylivesession Manager with software that does not have native integration. When creating a session you will simply indicate the connection link to the virtual room and it will be automatically added to the convocations.') }}
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import VirtualClassroomSoftwareSelector from './VirtualClassroomSoftwareSelector'
import FormValidationMixin              from '../../mixin/FormValidationMixin'
import Alert             from '../ui/Alert'
import { mapState }     from 'vuex'
import {
  archiveConfigurationHolder,
  deleteConfigurationHolder,
  unarchivedConfigurationHolder
} from '../../repository/configurationHolder'
import ConfirmationPopIn from '../ui/PopIn/ConfirmationPopIn.vue'

export default {
  name: 'WhiteConfigurationHolderForm',
  components: { ConfirmationPopIn, Alert, VirtualClassroomSoftwareSelector },
  mixins:     [FormValidationMixin],
  props: {
    connectorIn: {
      type:     Object,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: true
    },
    clientId: {
      type: Number,
      required: true
    },
    convocations: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      connector: null
    }
  },
  computed: {
    ...mapState('configurationHolders', ['contentSettings']),
    isOpen () {
      return this.contentSettings.openedConfigurationHolders.includes(this.connector.id)
    },
    convocationsConnectorFr () {
      return this.convocations.filter(convocation =>
        convocation.connectorType === 'white-connector' && convocation.languages === 'fr'

      )
    },
    convocationsConnectorEn () {
      return this.convocations.filter(convocation =>
        convocation.connectorType === 'white-connector' && convocation.languages === 'en'
      )
    }
  },
  created () {
    this.connector = this.connectorIn
    this.connector.client = this.clientId

    this.connector.password = 'nopassword'
  },
  methods: {
    providerChange (event) {
      this.$emit('providerChange', event)
    },
    openConfigurationHolder () {
      this.$store.commit('configurationHolders/openConfigurationHolder', this.connector.id)
    },
    closeConfigurationHolder () {
      this.$store.commit('configurationHolders/closeConfigurationHolder', this.connector.id)
    },
    removeConfigurationHolder () {
      if (confirm(this.$translator.trans('Do you want to delete this connector?'))) {
        deleteConfigurationHolder(this.connector)
      }
    },
    archiveConfigurationHolder () {
      archiveConfigurationHolder(this.connector)
    },
    unarchivedConfigurationHolder () {
      unarchivedConfigurationHolder(this.connector)
    }
  }
}
</script>
