// dropdown-export.scss

.export-dropdown {
    &__opener {
        &:after {
            content: none;
        }
    }

    &__content {
        min-width: 275px;
        padding: $_padding 0 0 0;

        @media (min-width: $sm) {
            min-width: 375px;
        }
    }

    .row {
        margin: 0;
    }

    &__tab-container {
        padding-left: $_padding;
        margin-bottom: $_margin;

        [class*="form-check"]:not(:last-of-type) {
            margin-bottom: 6px;
        }
    }

    &__detail {
        padding: 0 $_padding;
        margin-bottom: $_margin;

        .input-group {
            border: $_border;
            * {
                border: none;
            }
        }

        .input-group:first-child {
            border-radius: $_border-radius $_border-radius 0 0;
        }

        .input-group:nth-child(2) {
            border-radius: 0 0 $_border-radius $_border-radius;
            border-top: none;
            margin-bottom: $_margin;
        }
    }

    &__mode {
        img {
            margin-left: 4px;
            position: relative;
            top: -1px;
        }
    }

    &__file-type {
        @extend %d-flex-v-center;
        justify-content: flex-start;
        margin-bottom: $_margin;

        select {
            flex: 1;
            margin-left: $_margin-sm;
        }
    }

    &__footer {
        height: 60px;
        padding: 0 $_padding;
        @extend %d-flex-v-center;
        justify-content: flex-end;

        background: $gray-300;
        border-radius: 0 0 $_border-radius $_border-radius;

        [class*="last-exports-btn"] {
            @extend %d-flex-v-center;
            color: $black;
            transition: $transition-base;
            margin-right: auto;

            &:hover {
                color: $primary;
            }
            img {
                margin-right: 5px;
            }
        }

        [class*="submit-btn"] {
            @extend .primary-btn;
            @include half-circle(30px);
            box-shadow: none;
            border: transparent;
        }
    }
}
