// dropdown-global-search.scss

.top-bar__search-dropdown {
    width: 80vw;
    max-width: 741px;
    padding: 0;
    right: 0;

    @media (max-width: $md ) {
        left: -40vw;
    }
    .row {
        margin: 0;
    }
}

.search-dropdown {
    &__header {
        padding: 0 $_padding;
        border-bottom: $_border;
        height: 57px;

        .form-check {
            @extend %d-flex-v-center;
            label {
                font-weight: 700;
                position: relative;
                top: 1px;
            }
        }
    }

    &__main {
        h3 {
            @include font-size(14px);
            font-weight: 700;
            margin-bottom: $_margin;
            padding-left: 0;
        }

        ul li {
            @include font-size(12px);
            &:last-child {
                margin-bottom: $_margin-lg;
            }
        }

        a {
            color: $black;
            transition: $transition-base;

            &:hover {
                color: $primary;
            }
        }

        [class*="-part"] {
            padding: 0;
            border-right: $_border;
            position: relative;

            &:last-child {
                border-right: 0;
            }
        }

        li {
            margin-bottom: $_margin-sm;
        }


        &-content {
            padding: $_padding;
        }

        &-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            padding: 0 $_padding;
            justify-content: space-between;
            background: $gray-300;
            border-radius: 0 0 $_border-radius $_border-radius;

            a {
                @extend %pos-abs-center-y;
                @include font-size(12px);
                padding: 0;
                width: 80%;

                img {
                    margin-right: 5px;
                }
            }
        }
    }
}
