// dropdown-filter.scss




// Dropdown filter de la page journal d'activité
$_gap: 5px;

.dropdown-filter-activity-log {
    width: 400px;

    &__checkbox-container {
        border-bottom: $-border;
        padding: $_padding;
        flex-wrap: wrap;
        gap: 5px;

        .form-check {
            padding: 0;
            padding-left: 7px;
            display: inline-flex;
            width: 175px; 
        }

        .form-check.filter- {
            &notification label:before {
                @extend %round-icon-notification;
            }
            &information label:before {
                @extend %round-icon-information;
            }
            &alert label:before {
                @extend %round-icon-alert;
            }
            &import_or_export label:before {
                @extend %round-icon-import-export;
            }
            &error label:before {
                @extend %round-icon-error;
            }
            &UserInterface label:before {
                @extend %round-icon-user-action-filter;
            }
            &Cron label:before {
                @extend %round-icon-system-action-filter;
            }
            &Import label:before {
                @extend %round-icon-import-action-filter;
            }
            &Export label:before {
                @extend %round-icon-export-action-filter;
            }
            &SessionDelete label:before {
                @extend %round-icon-delete-filter;
            }
        }

        input {
            visibility: hidden;

            &:checked + label {
                color: $primary;
                font-weight: 700;
            }
        }

        label {
            position: relative;
            margin-left: 30px;

            &:before {
                position: absolute;
                left: -30px;
                content: "";
                @extend %round-icon-with-border;
            }
        }
    }

    &__date-container {
        padding: $_padding;
        [class*="input-group-date"] {
            padding: 0;
        }
    }
}
