<template>
  <div>
    <div class="page-options-bar">
      <div class="d-flex part-1">
        <div class="page-options-bar__item pr">
          <div class="page-options-bar__item__search with-result">
            <label for="searchInSession">
              <img src="/build/static/icons/search.svg">
            </label>
            <input
              id="searchInSession"
              v-model="globalSessionSearchInput"
              type="search"
              name="searchInSession"
              :placeholder="searchInPastSessions ? $translator.trans('Search for current and upcoming sessions') : $translator.trans('Search in all sessions')"
              @keydown="globalSearchSessions"
            >
            <div class="search-sessions-counter">
              <b>{{ sessions.length }}</b>
              &nbsp;{{ $translator.trans('found session.s') }}
            </div>
          </div>

          <div
            id="tooltipSwitchSessionSearch"
            class="search-switch"
          >
            <label
              class="switch"
              for="switch-session-search"
            >
              <input
                id="switch-session-search"
                v-model="searchInPastSessions"
                type="checkbox"
                name="switch-session-search"
                @click="updatePastSessions"
              >
              <span
                class="slider round"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                :title="$translator.trans('Change the search on sessions')"
              />
            </label>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="loading"
      class="mx-auto text-center"
    >
      <loader />
    </div>
    <div v-else>
      <span
        v-if="!sessions.length"
        class="d-flex justify-content-center align-items-center text-muted mt-5"
      >
        {{ $translator.trans('No results found') }}
      </span>
      <sessions-list
        v-else
        :sessions="sessions"
      />
    </div>
  </div>
</template>
<script>
import SessionsList from '../../sessions/list/SessionsList.vue'
import Loader from '../../ui/Loader.vue'
import _ from 'lodash'

export default {
  name: 'TemplateSessionsTab',
  components: { Loader, SessionsList },
  props: {
    templateId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      sessions: [],
      loading: false,
      globalSessionSearchInput: null,
      searchInPastSessions: true,
      filtersSearch: {
        futureSessions: true
      }
    }
  },
  mounted () {
    this.globalSearchSessions()
  },
  methods: {
    updatePastSessions () {
      this.filtersSearch.futureSessions = !this.searchInPastSessions
      this.globalSearchSessions()
    },
    globalSearchSessions: _.debounce(function () {
      this.loading = true
      const searchUrl = this.$routing.generate('_session_get_sessions_from_registration_page', { id: this.templateId })
      const queryUrl = `?q=${this.globalSessionSearchInput}&allow-outdated=${!this.searchInPastSessions}`
      this.$axios.get(searchUrl + queryUrl)
        .then(response => {
          this.sessions = response.data.sessions
          this.loading = false
        })
    }, 250)
  }
}
</script>

<style scoped>

</style>
