<template>
  <div class="row">
    <!--    <alert
        v-if="success"
        type="success"
        :text="$translator.trans('The file was successfully imported.')"
    />-->
    <div class="btn-group export-dropdown justify-content-end">
      <div
        class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        role="button"
        data-bs-auto-close="outside"
      >
        <span class="d-sm-none d-md-block me-2">{{ $translator.trans('Import') }}</span>
        <img src="/build/static/icons/import.svg">
      </div>
      <form
        class="form dropdown-menu export-dropdown__content"
      >
        <import-list-mail-file
          :restrictions="importRestrictions"
          type-list="TemplateBlackListTab"
          :template="template"
        />
      </form>
    </div>
    <div class="col-md-12 mb-5">
      {{ $translator.trans('Blacklisted emails will be denied access to the registration page. The blacklist takes precedence over the whitelist') }}
    </div>
    <div class="col-5">
      <h6 class="mb-3 form-subtitle">
        {{ $translator.trans('Add a new blacklisted email') }}
      </h6>
      <div
        class="row"
        style="margin-top: 25px"
      >
        <div class="col-10">
          <div class="form__item">
            <label
              for="mail"
              class="required"
              style="font-size: 15px"
            >
              {{ $translator.trans('Email') }}
            </label>
            <input
              id="mail"
              v-model="mail"
              type="text"
              :class="['name form-control', {
                'is-invalid' : displayError('mail')
              }]"
              @input="validateField()"
            >
            <tooltip :text="$translator.trans('*@mydomain.com : emails from the domain \'mydomain.com\' are not allowed to register \n target@mydomaine.com : this email is not allowed to register.')" />
            <div
              v-if="displayError('mail')"
              class="invalid-feedback d-block"
            >
              {{ errorsFields.mail.notnull.message }}
            </div>
          </div>
        </div>
        <div class="col-10">
          <loader
            v-if="saving"
            class="float-end"
          />
          <submit-button
            v-else
            :class="['btn float-end', {
              'btn-primary': errorsFields.formSuccess,
              'btn-light' : !errorsFields.formSuccess
            }]"
            :disabled="!isValid"
            :processing="saving"
            @click="addNewBlackListeEntry"
          >
            <img
              src="/build/static/icons/plus-white.svg"
              class="me-2"
            >
            {{ $translator.trans('Add') }}
          </submit-button>
        </div>
      </div>
    </div>

    <div class="col-7">
      <h6 class="mb-3 form-subtitle">
        {{ $translator.trans('Blacklisted emails') }}
      </h6>

      <div class="data-list">
        <div class="data-list__header">
          <div class="data-list__header__item">
            {{ $translator.trans('Email') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Added on') }}
          </div>
          <div class="data-list__header__item option" />
        </div>
        <div class="table-content data-list__row-small">
          <div
            v-for="blackElement in sortedBlackList"
            :key="blackElement.id"
            class="data-list__row"
          >
            <confirmation-pop-in
              :id="'delete_blacklist_'+blackElement.id.toString()"
              :title="$translator.trans('Deleting a blacklist email')"
              :content="$translator.trans('Do you want to remove this email from the black list?')"
              :confirm="() => deleteBlackListeEntry(blackElement.id)"
            />
            <div class="row__data">
              {{ blackElement.prohibited }}
            </div>
            <div class="row__data">
              {{ blackElement.createdAt|formatDate("datetime_med") }}
            </div>
            <div class="row__data option">
              <div class="drop-menu-container">
                <div class="icn-option">
                  <img src="/build/static/icons/options-white.svg">
                </div>
                <ul class="dropdown-menu-inner">
                  <li>
                    <button
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      :data-bs-target="'#confirmationPopIn_delete_blacklist_'+blackElement.id.toString()"
                    >
                      <img
                        src="/build/static/icons/trash-small.svg"
                        class="me-2"
                      >
                      <b>{{ $translator.trans('Delete') }}</b>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex'
import { translator }    from '../../../utils/app.utils'
import ImportListMailFile from './Editor/ImportListMailFile'
// import Alert             from '../../ui/Alert'
import { addNewBlackListeEntry, deleteBlackListeEntry  } from '../../../repository/registrationpage/templateBlackList'
import SubmitButton  from '../../ui/SubmitButton'
import Loader from '../../ui/Loader'
import Tooltip from '../../ui/Tooltip'
import ConfirmationPopIn from '../../ui/PopIn/ConfirmationPopIn.vue'

export default {
  name: 'TemplateBlackListTab',
  components: {
    ConfirmationPopIn,
    Tooltip,
    Loader,
    ImportListMailFile,
    // Alert,
    SubmitButton
  },
  data () {
    return {
      mail: '',
      errorsFields: {
        mail: {
          notnull: {
            'is-valid': true,
            message: translator.trans('The field of the email form cannot be empty')
          }
        },
        formSubmit: '',
        formSuccess: false
      }
    }
  },
  computed: {
    ...mapState('template', ['template', 'importRestrictions']),
    ...mapState('process', ['saving', 'loading', 'success']),
    isValid () {
      return  this.mail !== '' && !this.loading
    },
    sortedBlackList () {
      return [...this.template.registrationPageTemplateBlackList].sort((a, b) => {
        return b.id - a.id
      })
    }
  },
  methods: {
    addNewBlackListeEntry () {
      addNewBlackListeEntry(this.template.id, this.mail)
    },
    deleteBlackListeEntry (idProhibited) {
      deleteBlackListeEntry(this.template.id, idProhibited)
    },
    validateField () {
      let formSuccess = true

      if (typeof (this.mail) === 'undefined' || this.mail == null || this.mail === '') {
        this.errorsFields.mail.notnull['is-valid'] = false
        formSuccess = false
      } else {
        this.errorsFields.mail.notnull['is-valid'] = true
      }
      this.errorsFields.formSuccess = formSuccess
    },
    displayError (field) {
      return !this.errorsFields[field].notnull['is-valid']
    }
  }
}
</script>

<style scoped>

</style>
