@import "../variables";

.self-subscription-hub .days-wrapper {
	margin-bottom: 4.2rem;
	
	.day-card {
		padding: 2rem;
		min-height: 28rem;
		margin: 1rem 1rem 3.2rem;
		border: 1px solid $c-white-dark-10;
		border-radius: 1rem;
		font-size: 1.2rem;
		position: relative;
		max-width: 20rem;

		&>* {text-align: center}
		>.number-of-day {
			font-size: 2.5rem;
			font-weight: bold;
		}
		.tiny-text {
			font-size: 1rem;
		}
		
		>.action.btn {
			position: absolute;
			bottom: -1.6rem;
			left: 50%;
			transform: translateX(-50%);
			width: 3.2rem;
			height: 3.2rem;
			padding: .5rem;
			font-size: 1.8rem;
			color: $c-white;
		}
		
		&.active {
			border-color: $c-accent;
			box-shadow: inset 0 0 .5rem $c-accent;
		}
		
		.hours{
			//width: 12rem;

			display: grid;
			grid-template-columns: repeat(3, auto);
			min-height: 90px;

			@media (max-width: 576px) {
				grid-template-columns: repeat(2, auto);
			}
			
			&> .badge {font-weight: normal;}
		}
		
		&:hover:not(.active){
			border-color: $c-white-dark-20;
			
			.action.btn {
				background: $c-white-dark-15;
				color: $c-white !important;
			}
		}
	}
	
	.day-carousel {
		.custom-arrow.slick-arrow {
			&:before{ content: none }
			color: $c-black;
			font-size: 1.5rem;
			width: 2.5rem;
			height: 2.2rem;
			text-align: center;
			bottom: -2rem;
			transform: none;
			top: inherit;
			
			&:hover {
				color: $c-accent;
			}
			
			&.slick-prev {
				left: 0;
				transform: scaleX(-1);
			}
			&.slick-next {
				right: 0;
			}
		}
	}
}