{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block header_block %}
    <header>
        {% block header %}
            <a id="logo" class="bg-light" href="https://github.com/nelmio/NelmioApiDocBundle">
                <img src="{{ asset('build/static/symbole-logo-live-session.svg') }}" alt="">
            </a>
        {% endblock header %}
    </header>
{% endblock header_block %}
