<template>
  <section>
    <div class="row">
      <div class="col">
        <h1 class="text-center my-3 mx-2">
          {{ $translator.trans('FAQ') }}
        </h1>
      </div>
    </div>

    <main class="container-fluid pt-1">
      <div class="col-auto col-md-10 mx-auto">
        <registration-page-faq-entry
          v-for="entry in template.activeFaqs"
          :key="entry.id"
          :entry="entry"
        />
      </div>
    </main>
  </section>
</template>

<script>
import RegistrationPageFaqEntry from './RegistrationPageFaqEntry.vue'

export default {
  name: 'RegistrationPageFaqMain',
  components: { RegistrationPageFaqEntry },
  props: {
    template: {
      type: Object,
      default: () => ({})
    }
  }
}
</script>
