<template>
  <div class="card mb-4 subject-card">
    <div class="card-body">
      <div class="card-title mb-0 d-flex justify-content-between align-items-center">
        <strong>{{ entry.question }}</strong>
        <div>
          <button
            class="action btn rounded-circle btn-module-main btn-round-action"
            @click="extended = !extended"
          >
            <img
              v-if="extended"
              src="/build/static/icons/white-minus.svg"
              alt=""
              width="24"
            >
            <img
              v-else
              src="/build/static/icons/white-plus.svg"
              alt=""
              width="24"
            >
          </button>
        </div>
      </div>
      <div
        v-if="extended"
        style="white-space: pre-line"
        v-html="entry.answer"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'RegistrationPageFaqEntry',
  props: {
    entry: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      extended: false
    }
  }
}
</script>

<style scoped>

</style>
