<template>
  <section>
    <div class="row">
      <div class="col-md-12 mb-3">
        <em>
          {{ $translator.trans('The services selected below (assistance and/or  participant support) are those defined in your account settings. If you want  to make any changes, please contact your Live Session sales representative.') }}
        </em>
      </div>
      <div class="col-lg-6">
        <fieldset class="form__fieldset fieldset-secondary">
          <legend class="mb-4">
            {{ $translator.trans('Assistances') }}
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('This service ensures the session runs smoothly with a Live Session facilitator who logs in %assistanceStart% minutes before the start of the session either for %assistanceDuration% minutes (launch assistance) or for the full duration (total assistance). The Live session facilitator will answer the animator’s questions before managing the participants\' connections. Other types of assistance are possible: pedagogical assistance (when a trainer is learning to use the tool), and co-animation in case of multiple activities in the session', {'assistanceStart': clientData.services.assistanceStart, 'assistanceDuration': clientData.services.assistanceDuration})"
            >
          </legend>
          <h4
            v-if="clientData.services.assistanceType !== 0"
            class="mb-2"
          >
            <label class="required">{{ $translator.trans('Availability') }}</label>
          </h4>
          <div class="mb-5">
            <fieldset class="mb-3">
              <div
                v-if="clientData.services.assistanceType === 0"
              >
                <div class="alert alert-warning alert-dismissible">
                  {{ $translator.trans('Your contract does not include assistance. To benefit from this service, please contact you Live Session sales representative.') }}
                </div>
              </div>
              <div id="client_services_tab_form_assistanceType">
                <div class="form-check">
                  <input
                    id="client_services_tab_form_assistanceType_0"
                    v-model="sessionToSaved.assistanceType"
                    type="radio"
                    name="client_services_tab_form[assistanceType]"
                    class="form-check-input"
                    checked="checked"
                    value="0"
                    :didabled="clientData.services.assistanceType === assistanceNo ? true : false"
                  >
                  <label
                    class="form-check-label"
                    for="client_services_tab_form_assistanceType_0"
                  >{{ $translator.trans('No assistance') }}</label>
                  <img
                    src="/build/static/icons/question.svg"
                    data-bs-placement="left"
                    data-bs-toggle="tooltip"
                    :title="$translator.trans('Your contract does not include assistance. If you would like to benefit from this service, please contact your Live Session sales representative')"
                  >
                </div>
                <div class="form-check">
                  <input
                    id="client_services_tab_form_assistanceType_2"
                    v-model="sessionToSaved.assistanceType"
                    type="radio"
                    name="client_services_tab_form[assistanceType]"
                    class="form-check-input"
                    value="2"
                    :disabled="clientData.services.assistanceType === assistanceNo ? true : false"
                  >
                  <label
                    class="form-check-label"
                    for="client_services_tab_form_assistanceType_2"
                  >{{ $translator.trans('Launch') }}</label>
                  <img
                    src="/build/static/icons/question.svg"
                    data-bs-placement="left"
                    data-bs-toggle="tooltip"
                    :title="$translator.trans('A Customer Service representative logs into the virtual classroom 30 minutes before the start of the session for a total duration of 60 minutes. He/she assists the trainer in his/her manipulations and welcomes the participants. He can help them solve any connection problems')"
                  >
                </div>
                <div class="form-check">
                  <input
                    id="client_services_tab_form_assistanceType_3"
                    v-model="sessionToSaved.assistanceType"
                    type="radio"
                    name="client_services_tab_form[assistanceType]"
                    class="form-check-input"
                    value="3"
                    :disabled="clientData.services.assistanceType === assistanceNo ? true : false"
                  >
                  <label
                    class="form-check-label"
                    for="client_services_tab_form_assistanceType_3"
                  >{{ $translator.trans('Total') }}</label>
                  <img
                    src="/build/static/icons/question.svg"
                    data-bs-placement="left"
                    data-bs-toggle="tooltip"
                    :title="$translator.trans('A Customer Service representative logs into the virtual classroom 30 minutes before the start of the session for the entire duration. He/she assists the trainer in his/her manipulations and handles any problems that may arise throughout the session.')"
                  >
                </div>
                <div class="form-check">
                  <input
                    id="client_services_tab_form_assistanceType_4"
                    v-model="sessionToSaved.assistanceType"
                    type="radio"
                    name="client_services_tab_form[assistanceType]"
                    class="form-check-input"
                    value="4"
                    :disabled="clientData.services.assistanceType === assistanceNo ? true : false"
                  >
                  <label
                    class="form-check-label"
                    for="client_services_tab_form_assistanceType_4"
                  >{{ $translator.trans('Educational') }}</label>
                  <img
                    src="/build/static/icons/question.svg"
                    data-bs-placement="left"
                    data-bs-toggle="tooltip"
                    :title="$translator.trans('This service allows a newly trained trainer to be accompanied during his/her 1st virtual classroom animation. An expert Customer Service representative logs in 30 minutes before the session starts for the total duration and performs a 30-minute debrief after the end of the session.')"
                  >
                </div>
                <div class="form-check">
                  <input
                    id="client_services_tab_form_assistanceType_5"
                    v-model="sessionToSaved.assistanceType"
                    type="radio"
                    name="client_services_tab_form[assistanceType]"
                    class="form-check-input"
                    value="5"
                    :disabled="clientData.services.assistanceType === assistanceNo ? true : false"
                  >
                  <label
                    class="form-check-label"
                    for="client_services_tab_form_assistanceType_5"
                  >{{ $translator.trans('Co-animation') }}</label>
                  <img
                    src="/build/static/icons/question.svg"
                    data-bs-placement="left"
                    data-bs-toggle="tooltip"
                    :title="$translator.trans('This service allows the trainer to delegate some animation activities to the Customer Service representative , welcoming participants, explaining the interaction modes in the virtual classroom, manipulations during the session, time management, animation during educational activities. It is recommended when the animator has little or no training in facilitation tools')"
                  >
                </div>
              </div>
            </fieldset>
          </div>
        </fieldset>
      </div>
      <div class="col-lg-6">
        <fieldset class="form__fieldset fieldset-secondary">
          <legend class="mb-4">
            {{ $translator.trans('Participant support') }}
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('This service allows participants to contact support in case of problems. A phone number and an email will be added to the convocation.')"
            >
          </legend>
          <div
            v-if="clientData.services.supportType === supportNo"
          >
            <div class="alert alert-warning alert-dismissible">
              {{ $translator.trans('Your contract does not include participating support. If you would like to benefit from this service, please contact your Live Session sales advisor.') }}
            </div>
          </div>
          <div
            v-if="alertSupport !== null"
            class="alert alert-warning alert-dismissible mb-5"
          >
            {{ alertSupport }}
          </div>
          <div class="mb-5">
            <div class="form-check">
              <input
                id="support-participants-none"
                v-model="sessionToSaved.supportType"
                class="form-check-input"
                type="radio"
                name="support-participants"
                value="0"
                @change="checkSession"
              >
              <label
                class="form-check-label"
                for="support-participants-none"
              >{{ $translator.trans('No support') }}</label>
            </div>
            <div class="form-check">
              <input
                id="support-participants-lancement"
                v-model="sessionToSaved.supportType"
                class="form-check-input"
                type="radio"
                name="support-participants"
                checked=""
                value="2"
                :disabled="disabledLunchSupport"
                @change="checkSession"
              >
              <label
                class="form-check-label"
                for="support-participants-lancement"
              >{{ $translator.trans('Launch') }}</label>
            </div>
            <div class="form-check mb-30">
              <input
                id="support-participants-total"
                v-model="sessionToSaved.supportType"
                class="form-check-input"
                type="radio"
                name="support-participants"
                checked=""
                value="3"
                :disabled="clientData.services.supportType === supportNo"
                @change="checkSession"
              >
              <label
                class="form-check-label"
                for="support-participants-total"
              >{{ $translator.trans('Total') }}</label>
            </div>
            <div class="form__checklist">
              <legend class="mb-2">
                {{ $translator.trans('Schedules') }}
              </legend>
              <p class="fz-12 mb-2 text-muted">
                <i>
                  {{
                    $translator.trans(
                      'Participant support is available at the following standard times: from %morning_start% to %morning_end% and from %afternoon_start% to %afternoon_end%.',
                      { morning_start: standardHours.morningStart, morning_end: standardHours.morningEnd, afternoon_start: standardHours.afternoonStart, afternoon_end: standardHours.afternoonEnd}
                    )
                  }}
                  <template v-if="'outsideStandardHours' in clientData.services && clientData.services.outsideStandardHours.active">
                    {{
                      $translator.trans(
                        'Participant support is also available outside of standard hours: from %early_start% to %early_end%, from %lunch_start% to %lunch_end% and from %evening_start% to %evening_end%.',
                        { early_start: outsideHours.earlyStart, early_end: outsideHours.earlyEnd, lunch_start: outsideHours.lunchStart, lunch_end: outsideHours.lunchEnd, evening_start: outsideHours.eveningStart, evening_end: outsideHours.eveningEnd}
                      )
                    }}
                  </template>
                </i>
              </p>
              <div class="form-check">
                <input
                  id="support-participants-hour-standard"
                  v-model="sessionToSaved.outsideStandardHoursActive"
                  class="form-check-input"
                  type="checkbox"
                  checked=""
                  :disabled="!clientData.services.outsideStandardHours.active"
                  @change="checkSession"
                >
                <label
                  class="form-check-label"
                  for="support-participants-hour-standard"
                  style="width:170px;"
                >{{ $translator.trans('outside standard working hours') }}</label>

                <img
                  src="/build/static/icons/question.svg"
                  data-bs-placement="left"
                  data-bs-toggle="tooltip"
                  :title="$translator.trans('In the event of a support request, your account may benefit from support outside standard hours.')"
                >
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import { DateTime } from 'luxon'
import {
  ENUM_ASSISTANCE_NO, ENUM_SUPPORT_LAUNCH,
  ENUM_SUPPORT_NO
}                   from '../../../../utils/services.utils'

export default {
  name: 'CreateSessionWizardCreateSessionServices',
  data () {
    return {
      alertSupport: null,
      assistanceNo: ENUM_ASSISTANCE_NO,
      supportNo: ENUM_SUPPORT_NO,
      supportLunch: ENUM_SUPPORT_LAUNCH
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'stepWizard', 'clientData']),
    ...mapState('sessionWizardCreation', ['errorsFields', 'formSuccess', 'validationDone']),
    standardHours () {
      return {
        morningStart: this.$options.filters.formatDate(this.clientData.services.standardHours.startTimeAM, 'hours_minutes'),
        morningEnd: this.$options.filters.formatDate(this.clientData.services.standardHours.endTimeAM, 'hours_minutes'),
        afternoonStart: this.$options.filters.formatDate(this.clientData.services.standardHours.startTimePM, 'hours_minutes'),
        afternoonEnd: this.$options.filters.formatDate(this.clientData.services.standardHours.endTimePM, 'hours_minutes')
      }
    },
    outsideHours () {
      return {
        earlyStart: this.$options.filters.formatDate(this.clientData.services.outsideStandardHours.startTimeAM, 'hours_minutes'),
        earlyEnd: this.$options.filters.formatDate(this.clientData.services.outsideStandardHours.endTimeAM, 'hours_minutes'),
        lunchStart: this.$options.filters.formatDate(this.clientData.services.outsideStandardHours.startTimeLH, 'hours_minutes'),
        lunchEnd: this.$options.filters.formatDate(this.clientData.services.outsideStandardHours.endTimeLH, 'hours_minutes'),
        eveningStart: this.$options.filters.formatDate(this.clientData.services.outsideStandardHours.startTimePM, 'hours_minutes'),
        eveningEnd: this.$options.filters.formatDate(this.clientData.services.outsideStandardHours.endTimePM, 'hours_minutes')
      }
    },
    disabledLunchSupport () {
      if (this.clientData.services.supportType === this.supportLunch) {
        return false
      }
      return this.clientData.services.supportType === this.supportNo || (this.clientData.services.standardHours.active && !this.clientData.services.outsideStandardHours.active)
    }
  },
  created () {
    this.checkSession()
  },
  methods: {
    checkSession () {
      const splitDuration = this.sessionToSaved.duration.split('h')
      const sessionDateStart = this.dateTimeFromSave(this.sessionToSaved.dateStart)
      const sessionDateEnd  = this.dateTimeFromSave(this.sessionToSaved.dateStart).plus({ hours: parseInt(splitDuration[0]), minutes: parseInt(splitDuration[1]) })
      this.$axios.get(this.$routing.generate('_session_get_details_support', { id_client: this.sessionToSaved.clientId, sessionDateStart: sessionDateStart.toISO(), sessionDateEnd : sessionDateEnd.toISO(), typeSupport: this.sessionToSaved.supportType, standardHoursActive: this.sessionToSaved.standardHoursActive, outsideStandardHoursActive: this.sessionToSaved.outsideStandardHoursActive  }))
        .then(response => {
          this.alertSupport = response.data.alertSupport
        })
      if (this.clientData.services.supportType === this.supportLunch) {
        this.sessionToSaved.supportType = 2
      }
    },
    dateTimeFromSave (myDate) {
      return DateTime
        .fromISO(myDate)
    }
  }
}
</script>
