<template>
  <div>
    <create-session-wizard-create-session-catalog />
    <create-session-wizard-create-session-registration-page />
  </div>
</template>

<script>
import CreateSessionWizardCreateSessionCatalog from './CreateSessionWizardCreateSessionCatalog.vue'
import CreateSessionWizardCreateSessionRegistrationPage from './CreateSessionWizardCreateSessionRegistrationPage.vue'

export default {
  name: 'CreateSessionWizardCreateSessionRegistration',
  components: { CreateSessionWizardCreateSessionRegistrationPage, CreateSessionWizardCreateSessionCatalog }
}
</script>
