<template>
  <section>
    <div id="nav-required-fields">
      <div class="row mb-13">
        <h2>{{ $translator.trans('Catalog') }}</h2>
        <div
          v-if="!isSelfRegisteringEnabled"
        >
          <div class="alert alert-warning alert-dismissible">
            {{ $translator.trans('You do not have access to the catalog. To activate it, please contact your sales representative.') }}
          </div>
        </div>
        <div
          v-if="isSelfRegisteringEnabled"
        >
          <div class="col-md-12 mb-3 alert alert-warning alert-dismissible">
            {{ $translator.trans('By adding a topic and a subject you make the session automatically visible and available in the self-registration module of your account') }}
          </div>
        </div>
        <hr>
        <div class="col-lg-6">
          <div class="form__item">
            <label for="sessionModule">{{ $translator.trans( 'Module of session' ) }}</label>
            <select
              id="sessionModule"
              v-model="sessionModule"
              :disabled="!isSelfRegisteringEnabled"
              name="sessionModule"
              class="form-control"
              @change="validateField('sessionModule')"
            >
              <option
                :value="null"
                selected
              />
              <option
                v-for="(value, index) in clientModules"
                :key="value.id"
                :value="index"
              >
                {{ value.name }}
              </option>
            </select>
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('Module to which the session is attached')"
            >
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form__item">
            <label for="sessionTheme">{{ $translator.trans( 'Theme of session' ) }}</label>
            <select
              id="sessionTheme"
              v-model="sessionTheme"
              name="sessionTheme"
              class="form-control"
              @change="validateField('sessionTheme')"
            >
              <option
                v-for="(value, index) in clientThemes"
                :key="value.id"
                :value="index"
              >
                {{ value.name }}
              </option>
            </select>
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('Theme to which the session topic is related')"
            >
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form__item">
            <label for="sessionSubject">{{ $translator.trans('Subject') }}</label>
            <select
              id="sessionSubject"
              v-model="sessionSubject"
              name="langSelected"
              class="form-control"
              @change="(event) => {validateField('sessionSubject', event); onChangeSubject()}"
            >
              <option
                v-for="(value, index) in clientSubjects"
                :key="value.id"
                :value="index"
              >
                {{ value.name }}
              </option>
            </select>
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('In this list there are only topics that do not have an associated replay')"
            >
            <small v-if="disableSubjectReplayOnSave">{{ $translator.trans('The replay associated with the topic will be deactivated when the changes are saved.') }}</small>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form__item">
            <label for="subscriptionMax">{{ $translator.trans('Max number') }}</label>
            <input
              id="subscriptionMax"
              v-model="sessionToSaved.subscriptionMax"
              name="name"
              type="number"
              class="name form-control"
              :disabled="readOnlyDataSelfRegistration"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('Maximum number of participants per session. Registration is no longer possible once this threshold is reached. 0=unlimited registration.')"
            >
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form__item">
            <label for="alertLimit">{{ $translator.trans('Limit of alert') }}</label>
            <input
              id="alertLimit"
              v-model="sessionToSaved.alertLimit"
              name="alertLimit"
              type="number"
              class="name form-control"
              :disabled="readOnlyDataSelfRegistration"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('Number of registered participants at which point the color of the sessions change to indicate that they are almost full.')"
            >
          </div>
        </div>
      </div>
    </div>
    <confirmation-pop-in
      :id="'delete_session_'"
      :title="$translator.trans('A Replay is currently published for this topic')"
      :content="$translator.trans(&quot;People with access to the \&quot;%catalog%\&quot; catalog are currently viewing a replay of a session on the \&quot;%subject%\&quot; topic.<br/><br/>The presence of the replay does not allow the creation of a new session.<br/><br/>If you wish to create a new session for this topic, we will deactivate the replay for you.<br/><br/>If you wish to keep the replay, please note that this session cannot be associated with this topic.&quot;, {catalog: sessionModuleName, subject: sessionSubjectName})"
      :confirm="onConfirmConfirmationPopIn"
      :cancel="onCancelConfirmationPopIn"
      :cancel-message="$translator.trans('Keep the replay')"
      :confirm-message="$translator.trans('Create this new session')"
      size="lg"
    />
  </section>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import ConfirmationPopIn from '../../../ui/PopIn/ConfirmationPopIn.vue'

export default {
  name: 'CreateSessionWizardCreateSessionCatalog',
  components: { ConfirmationPopIn },
  data () {
    return {
      clientModules : [],
      clientThemes: [],
      clientSubjects: [],
      sessionModule: null,
      sessionModuleName: null,
      sessionTheme: null,
      sessionSubject: null,
      sessionSubjectName: null,
      readOnlyDataSelfRegistration: true,
      disableSubjectReplayOnSave: false
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'stepWizard', 'clients', 'clientData']),
    ...mapState('sessionWizardCreation', ['errorsFields', 'formSuccess', 'validationDone']),
    ...mapGetters('sessionWizard', ['activeModules']),
    isSelfRegisteringEnabled () {
      return this.clientData.selfRegisteringEnabled
    }
  },
  created () {
    this.sessionToSaved.disableSubjectReplayOnSave = false
    this.loadModules()
  },
  methods: {
    loadModules () {
      this.clientModules = this.activeModules
    },
    validateField (field) {
      switch (field) {
        case 'sessionModule':
          if (this.sessionModule !== null) {
            this.clientThemes = this.clientModules[this.sessionModule].themes
            this.readOnlyDataSelfRegistration = false
            this.sessionToSaved.subscriptionMax = this.clientModules[this.sessionModule].subscriptionMax
            this.sessionToSaved.alertLimit = this.clientModules[this.sessionModule].alertLimit
          } else {
            this.clientThemes = []
            this.clientSubjects = []
            this.sessionToSaved.subject = null
            this.sessionToSaved.subscriptionMax = 0
            this.sessionToSaved.alertLimit = 0
            this.readOnlyDataSelfRegistration = true
          }
          break
        case 'sessionTheme':
          this.clientSubjects = []
          if (this.sessionTheme !== null) {
            this.clientSubjects = this.clientThemes[this.sessionTheme].subjects
          }
          break
        case 'sessionSubject':
          this.sessionToSaved.subject = this.clientSubjects[this.sessionSubject].id
          break
      }
    },
    onChangeSubject () {
      const module = this.clientModules[this.sessionModule]
      if (module) {
        const subject = this.clientSubjects[this.sessionSubject]
        this.sessionSubjectName = subject.name
        this.sessionModuleName = module.name
        if (subject.videoReplay?.published) {
          const modal = this.$bootstrap.Modal.getOrCreateInstance(document.getElementById('confirmationPopIn_delete_session_'))
          modal.show()
        } else {
          this.sessionToSaved.disableSubjectReplayOnSave = this.disableSubjectReplayOnSave = false
        }
      }
    },
    onConfirmConfirmationPopIn () {
      this.sessionToSaved.disableSubjectReplayOnSave = this.disableSubjectReplayOnSave = true
    },
    onCancelConfirmationPopIn () {
      this.sessionSubject = this.sessionToSaved.subject = null
      this.sessionToSaved.disableSubjectReplayOnSave = this.disableSubjectReplayOnSave = false
    }
  }
}
</script>
