<template>
  <section>
    <!--    <div
        v-if="isWhiteConnector"
        class="alert alert-warning alert-dismissible container"
    >
      {{ $translator.trans('The creation of your session is done directly in the virtual classroom software. You then retrieve the link of the virtual room in the \'Virtual room URL\' field. Your link is not yet available? You can continue to create your session, it will remain in \'Draft\' status, it will be active as soon as you add the virtual classroom link') }}
    </div>-->
    <div id="nav-required-fields">
      <div class="row mb-13">
        <div class="col-lg-6">
          <div class="form__item">
            <label for="name">
              {{ $translator.trans('Title of the session') }}
              <sup :title="$translator.trans('Required')">*</sup>
            </label>
            <input
              id="name"
              v-model="sessionToSaved.title"
              name="name"
              type="text"
              :class="['name form-control pe-5', {
                'is-invalid' : displayError('title')
              }]"
              @input="validateField()"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('Up to 128 characters')"
            >
            <div
              v-if="displayError('title')"
              class="invalid-feedback d-block"
            >
              {{ errorsFields.title.notnull.message }}
            </div>

            <span
              class="iaIcon"
              data-bs-placement="right"
              data-bs-toggle="tooltip"
              :title="$translator.trans('Ask artificial intelligence to correct, shorten or generate a title for your session')"
              @click="openSessionIAModal"
            />
            <session-i-a-modal
              :session-title="sessionToSaved.title"
              :create-session="true"
              :lang="sessionToSaved.lang"
              :category="sessionToSaved.category"
              @choice-new-title="(title) => sessionToSaved.title = title"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form__item">
            <label for="category">{{ $translator.trans('Category') }}
              <sup :title="$translator.trans('Required')">*</sup>
            </label>
            <select
              id="category"
              v-model="sessionToSaved.category"
              name="category"
              class="form-control"
              @change="updateCategory()"
            >
              <option
                v-for="value in clientData.categories"
                :key="getIdCategory(value)"
                :value="getIdCategory(value)"
              >
                {{ $translator.trans(value) }}
              </option>
            </select>
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('This field allows you to differentiate the use of Mylivesession Manager for virtual classroom training and remote meeting organization.')"
            >
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form__item">
            <label
              for="langSelected"
            >
              {{ $translator.trans('Preferred language') }}<sup :title="$translator.trans('Required')">*</sup>
            </label>
            <select
              id="langSelected"
              v-model="sessionToSaved.lang"
              name="langSelected"
              :class="['form-control', {
                'is-invalid' : displayError('lang')
              }]"
              @change="updateAudioConnexionType()"
            >
              <option
                v-for="(value, key) in languages"
                :key="key"
                :value="key"
              >
                {{ value }}
              </option>
            </select>
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('The choice of the session language will determine the available invitation model(s) and the audio conference profile (if hybrid or telephone is chosen as the audio connection type)')"
            >
            <div
              v-if="displayError('lang')"
              class="invalid-feedback d-block"
            >
              {{ errorsFields.lang.notnull.message }}
            </div>
          </div>
        </div>
        <div
          class="col-lg-6"
          style="margin-top:30px;"
        >
          <div class="form-check">
            <input
              id="user-global-session-test"
              v-model="sessionToSaved.sessionTest"
              name="user-global-session-test"
              type="checkbox"
              class="form-check-input"
            >
            <label
              for="user-global-session-test"
              class="form-label form-check-label"
            >
              {{ $translator.trans('Session test') }}
            </label>
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('A test session will not be counted in the statistics, nor billed. All emails sent for this session will contain information warning that this is a test session.')"
            >
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form__item">
            <label
              for="selectConnector"
            >
              {{ $translator.trans('Connector') }}<sup :title="$translator.trans('Required')">*</sup>
            </label>
            <select
              id="selectConnector"
              v-model="sessionToSaved.configurationHolder"
              name="selectConnector"
              class="form-control"
              @change="updateConnector(sessionToSaved.configurationHolder)"
            >
              <option
                v-for="connector in clientData.connectors"
                :key="connector.id"
                :value="connector.id"
              >
                {{ connector.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <h3 v-if="!isPresential">
        {{ $translator.trans('Audio') }}
      </h3>
      <div class="row mb-13">
        <div
          v-if="!isPresential"
          class="col-lg-6"
        >
          <div class="form__item">
            <label
              for="audioCategoryType"
            >
              {{ $translator.trans('Connection Type') }}<sup :title="$translator.trans('Required')">*</sup>
            </label>
            <select
              id="audioCategoryType"
              v-model="sessionToSaved.audioCategoryType"
              name="audioCategoryType"
              :class="['form-control', {
                'is-invalid' : displayError('audioCategoryType')
              }]"
              @change="updateAudioConnexionType()"
            >
              <option
                v-for="(value, key) in typesConnexion"
                :key="key"
                :value="key"
              >
                {{ value }}
              </option>
            </select>
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('Decide how participants will be able to talk to each other:  Computer (only VOIP is available), Phone (only one conference call number will be available and VOIP will be disabled) or Hybrid to allow participants to choose between the 2 options (VOIP or Phone). Depending on your selection, the \'Convocation Template\' field will be filtered with compatible convocations')"
            >
            <div
              v-if="displayError('audioCategoryType')"
              class="invalid-feedback d-block"
            >
              {{ errorsFields.audioCategoryType.notnull.message }}
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div
            v-if="!isWebinarCategory"
            class="form__item"
          >
            <label for="user-global-modele-convoc">{{ $translator.trans('Convocation template') }}<sup
              :title="$translator.trans('Required')"
            >*</sup></label>
            <select
              id="user-global-modele-convoc"
              v-model="sessionToSaved.convocation"
              name="modelConvocation"
              :class="['form-control', {
                'is-invalid' : displayError('modelConvocation')
              }]"
              @change="updateConvocationSession()"
            >
              <option
                v-for="convocation in convocations"
                :key="convocation.id"
                :value="convocation.id"
              >
                {{ convocation.name }}
              </option>
            </select>

            <span
              v-if="!canPreviewConvocation"
              class="view disabled"
            />
            <span
              v-else
              class="view"
              data-bs-target="#previewConvocation"
              data-bs-toggle="modal"
              role="button"
              @click="openConvocationPreviewModal"
            />
            <div
              id="previewConvocation"
              class="modal fade wb-bw"
              tabindex="-1"
            >
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable text-start">
                <div class="modal-content">
                  <div class="modal-body session-created-body">
                    <div class="session-main-content-session pt-0 d-flex flex-column align-items-center">
                      <div class="session-content d-flex flex-column align-items-center">
                        <h2
                          class="session-title text-center d-block"
                          style="color: #000;"
                        >
                          {{ $translator.trans('Preview the convocation') }}
                        </h2>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div
                            v-if="convocationPreviewContent"
                            class="mb-4 pb-4"
                            v-html="convocationPreviewContent"
                          />
                          <loader v-else />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <span
              class="view"
              :class="{disabled: sessionToSaved.convocation === null}"
            />
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('This is the convocation template to choose amont the different templates that may have been created on your account. To create and/or modify a convocation template, please write to serviceclient@live-session.fr')"
            >
            <div
              v-if="displayError('modelConvocation')"
              class="invalid-feedback d-block"
            >
              {{ errorsFields.modelConvocation.notnull.message }}
            </div>
            <div
              v-if="Object.keys(convocations).length <= 0"
              class="invalid-feedback d-block"
            >
              {{ $translator.trans('No convocation   template is available for this language and audio connection') }}
            </div>
          </div>
        </div>
      </div>

      <component
        :is="providerComponentName"
      />
    </div>
  </section>
</template>

<script>
import FormValidationMixin from '../../../../mixin/FormValidationMixin'
import { mapGetters, mapState } from 'vuex'
import { PROVIDER_ADOBE_CONNECT } from '../../../../utils/adobe-connect-configuration-holder.utils'
import { PROVIDER_ADOBE_CONNECT_WEBINAR } from '../../../../utils/adobe-connect-webinar-configuration-holder.utils'
import { PROVIDER_CISCO_WEBEX } from '../../../../utils/cisco-webex-configuration-holder.utils'
import { PROVIDER_CISCO_WEBEX_REST } from '../../../../utils/cisco-webex-rest-configuration-holder.utils'
import { PROVIDER_MICROSOFT_TEAMS } from '../../../../utils/microsoft-teams-configuration-holder.utils'
import { PROVIDER_MICROSOFT_TEAMS_EVENT } from '../../../../utils/microsoft-teams-event-configuration-holder.utils'
import { PROVIDER_WHITE_CONNECTOR } from '../../../../utils/white-configuration-holder.utils'
import CreateSessionAdobeConnect from './provider/CreateSessionAdobeConnect'
import CreateSessionAdobeConnectWebinar from './provider/CreateSessionAdobeConnectWebinar'
import CreateSessionWebexMeeting from './provider/CreateSessionWebexMeeting'
import CreateSessionWebexRestMeeting from './provider/CreateSessionWebexRestMeeting'
import CreateSessionMicrosoftTeams from './provider/CreateSessionMicrosoftTeams'
import CreateSessionMicrosoftTeamsEvent from './provider/CreateSessionMicrosoftTeamsEvent'
import CreateSessionWhiteConnector from './provider/CreateSessionWhiteConnector'
import axios from 'axios'
import Loader from '../../../ui/Loader'
import { routing } from '../../../../utils/app.utils'
import session, {
  CATEGORY_SESSION_FORMATION, CATEGORY_SESSION_MIXTE,
  CATEGORY_SESSION_PRESENTIAL,
  CATEGORY_SESSION_REUNION,
  CATEGORY_SESSION_WEBINAR, CONNECTION_TYPE_COMPUTER, CONNECTION_TYPE_HYBRID,
  CONNECTION_TYPE_PRESENTIAL, CONNECTION_TYPE_TELEPHONE
} from '../../../../store/module/session'
import CreateSessionWhiteConnectorFaceToFace from './provider/CreateSessionWhiteConnectorFaceToFace.vue'
import SessionIAModal from '../../view-tab/SessionIAModal/SessionIAModal.vue'

export default {
  name: 'CreateSessionWizardCreateSessionGeneral',
  components: {
    SessionIAModal,
    CreateSessionAdobeConnect,
    CreateSessionAdobeConnectWebinar,
    CreateSessionWebexMeeting,
    CreateSessionWebexRestMeeting,
    CreateSessionMicrosoftTeams,
    CreateSessionMicrosoftTeamsEvent,
    CreateSessionWhiteConnector,
    CreateSessionWhiteConnectorFaceToFace,
    Loader
  },
  mixins: [FormValidationMixin],
  data () {
    return {
      languages: {
        fr: 'Français',
        en: 'Anglais'
      },
      typesConnexion: {
        Computer:this.$translator.trans(CONNECTION_TYPE_COMPUTER),
        Telephone:this.$translator.trans(CONNECTION_TYPE_TELEPHONE),
        Hybrid:this.$translator.trans(CONNECTION_TYPE_HYBRID),
        Presential: this.$translator.trans(CONNECTION_TYPE_PRESENTIAL)
      },
      convocationPreviewContent: null
    }
  },
  computed: {
    session () {
      return session
    },
    ...mapState('sessionWizard', ['sessionToSaved', 'stepWizard', 'clientData']),
    ...mapState('sessionWizardCreation', ['errorsFields', 'formSuccess', 'validationDone']),
    ...mapGetters('sessionWizard', ['convocations']),
    isPresential () {
      return this.sessionToSaved.category === CATEGORY_SESSION_PRESENTIAL
    },
    providerComponentName () {
      if (this.clientData.provider.type === PROVIDER_ADOBE_CONNECT) {
        return 'CreateSessionAdobeConnect'
      } else if (this.clientData.provider.type === PROVIDER_ADOBE_CONNECT_WEBINAR) {
        return 'CreateSessionAdobeConnectWebinar'
      } else if (this.clientData.provider.type === PROVIDER_CISCO_WEBEX) {
        return 'CreateSessionWebexMeeting'
      } else if (this.clientData.provider.type === PROVIDER_CISCO_WEBEX_REST) {
        return 'CreateSessionWebexRestMeeting'
      } else if (this.clientData.provider.type === PROVIDER_MICROSOFT_TEAMS) {
        return 'CreateSessionMicrosoftTeams'
      } else if (this.clientData.provider.type === PROVIDER_MICROSOFT_TEAMS_EVENT) {
        return 'CreateSessionMicrosoftTeamsEvent'
      } else if (this.clientData.provider.type === PROVIDER_WHITE_CONNECTOR && this.sessionToSaved.category === CATEGORY_SESSION_PRESENTIAL) {
        return 'CreateSessionWhiteConnectorFaceToFace'
      }  else if (this.clientData.provider.type === PROVIDER_WHITE_CONNECTOR) {
        return 'CreateSessionWhiteConnector'
      } else {
        throw new Error('Unsupported provider: ' + this.clientData.provider.type)
      }
    },
    canPreviewConvocation () {
      return this.sessionToSaved.convocation !== null && !this.displayError('modelConvocation')
    },
    isWebinarCategory () {
      return this.sessionToSaved.category === CATEGORY_SESSION_WEBINAR
    }
  },
  mounted () {
    if (this.sessionToSaved.category === null) {
      this.sessionToSaved.category = this.getIdCategory(this.clientData.categories[0])
    }
    if (this.sessionToSaved.convocation === null) {
      this.updateDefaultConvocation()
    }
  },
  methods: {
    changeStepWizard () {
      this.stepWizard.current = 'selectParticipants'
      this.stepWizard.previous = 'createSession'
      this.stepWizard.bullet = {
        selectDate: true,
        createSession: true,
        selectParticipants: true,
        validSession: false
      }
    },
    updateDefaultConvocation () {
      this.clientData.connectors.forEach((connector) => {
        if (connector.id === this.sessionToSaved.configurationHolder) {
          this.sessionToSaved.convocation = connector.defaultConvocation
          if (this.clientData.convocationsListClient[this.sessionToSaved.convocation] !== undefined) {
            this.sessionToSaved.audioCategoryType = this.clientData.convocationsListClient[this.sessionToSaved.convocation].audioCategoryType
          }
        }
      })
    },
    updateAudioConnexionType () {
      if (this.convocations.length > 0) {
        this.sessionToSaved.convocation = this.convocations[0].id
      }
      this.validateField()
    },
    updateConvocationSession () {
      this.sessionToSaved.audioCategoryType = this.clientData.convocationsListClient[this.sessionToSaved.convocation].audioCategoryType
      this.validateField()
    },
    validateField () {
      this.$store.dispatch('sessionWizardCreation/validateFields')
    },
    displayError (field) {
      return !this.errorsFields[field].notnull['is-valid']
    },
    openConvocationPreviewModal () {
      this.convocationPreviewContent = null
      if (this.canPreviewConvocation) {
        return axios.get(routing.generate('_session_convocation_preview', { id: this.sessionToSaved.convocation }))
          .then((response) => {
            if (response.data.code === 200) {
              this.convocationPreviewContent = response.data.message.content
            }
          })
      }
    },
    getIdCategory (category) {
      switch (category) {
        case 'Virtual classroom' :
          return CATEGORY_SESSION_FORMATION
        case 'Meeting' :
          return CATEGORY_SESSION_REUNION
        case 'face-to-face training' :
          return CATEGORY_SESSION_PRESENTIAL
        case 'Blended training' :
          return CATEGORY_SESSION_MIXTE
        case 'Webinar' :
          return CATEGORY_SESSION_WEBINAR
      }
    },
    updateConnector (idConfigurationHolder) {
      this.updateDefaultConvocation()
      // let connectorTypeSelected = this.clientData.provider.type
      // console.log(connectorTypeSelected)
      // axios.get(routing.generate('_provider_get_informations', { id: idConfigurationHolder }))
      const paramsAxios = {
        id: idConfigurationHolder,
        dateStart: this.sessionToSaved.dateStart,
        duration: this.sessionToSaved.duration
      }
      axios.get(routing.generate('_provider_get_informations', paramsAxios))
        .then((response) => {
          if (response.data.code === 200) {
            this.$store.commit('sessionWizard/updateProviderInClientData', response.data.message.content)
            this.validateField()
            // connectorTypeSelected = response.data.message.content.type
          }
        })
      // Peut être mettre à jour la liste des licences dans un axios à part. Si c'est le cas bien prendre tous les connecteurs en compte
    },
    updateCategory () {
      if (this.sessionToSaved.category === CATEGORY_SESSION_PRESENTIAL) {
        this.sessionToSaved.audioCategoryType = CONNECTION_TYPE_PRESENTIAL
        this.updateAudioConnexionType()
      }
      this.validateField()
    },
    openSessionIAModal () {
      this.$bootstrap.Modal.getOrCreateInstance('#sessionIAModal').show()
    }
  }
}
</script>
