<template>
  <section>
    <div id="nav-required-fields">
      <div class="row mb-13">
        <h2>{{ $translator.trans('Registration page') }}</h2>
      </div>
      <div
        v-if="!isRegistrationPageEnabled"
      >
        <div class="alert alert-warning alert-dismissible">
          {{ $translator.trans('You do not have access to the registration page. To activate it, please contact your sales representative.') }}
        </div>
      </div>
      <hr>
      <p
        v-if="clientTemplates.length === 0 && isWebinar"
        class="mb-3"
      >
        {{ $translator.trans('You can customize the content of this page on the "Registration" tab of your session sheet and get the place to broadcast to your guests so that they can register for the event') }}
      </p>
      <p
        v-if="!isWebinar"
        class="mb-3 alert alert-warning alert-dismissible"
      >
        {{ $translator.trans('Adding a registration page is only possible on Webinar type sessions') }}
      </p>
      <div class="col-lg-6">
        <div class="form__item">
          <label for="sessionTemplate">{{ $translator.trans( 'Module of session' ) }}</label>
          <select
            id="sessionTemplate"
            v-model="sessionToSaved.registrationPageTemplate"
            :disabled="!isRegistrationPageEnabled || !isWebinar"
            name="sessionTemplate"
            class="form-control"
          >
            <option
              :value="null"
              selected
            />
            <option
              v-for="(value) in clientTemplates"
              :key="value.id"
              :value="value.id"
            >
              {{ value.name }}
            </option>
          </select>
          <img
            src="/build/static/icons/question.svg"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            :title="$translator.trans('The registration page templates are configured in the Registration page menu')"
          >
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import { CATEGORY_SESSION_WEBINAR } from '../../../../store/module/session'

export default {
  name: 'CreateSessionWizardCreateSessionRegistrationPage',
  data () {
    return {
      clientTemplates: [],
      sessionTemplate: null
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'clientData']),
    ...mapGetters('sessionWizard', ['activeTemplates']),
    isRegistrationPageEnabled () {
      return this.clientData.registrationPageEnabled
    },
    isWebinar () {
      return this.sessionToSaved.category === CATEGORY_SESSION_WEBINAR
    }
  },
  created () {
    this.loadModules()
  },
  methods: {
    loadModules () {
      this.clientTemplates = this.activeTemplates
      this.sessionTemplate = this.activeTemplates.length === 0 ? 0 : null
    }
  }
}
</script>
