<template>
  <div class="session-container d-flex mb-28 flex-column">
    <div
      class="alert alert-warning alert-dismissible container"
    >
      {{ $translator.trans('Fill in the fields using the information contained in the? Once the required fields are filled in, you can click directly on Next without having to go through the tabs below General as they will default to your account settings, unless you want to customize some of them  for this specific session') }}
    </div>
    <div class="d-flex">
      <nav>
        <div
          id="nav-tab"
          class="nav flex-column nav-tabs align-items-end"
          role="tablist"
        >
          <button
            v-for="(label, componentName) in allTabs"
            id="nav-home-tab"
            :key="componentName"
            class="nav-link"
            :class="{'active' : currentTab === componentName}"
            type="button"
            @click="currentTab = componentName"
          >
            {{ label }}
          </button>
        </div>
      </nav>
      <div
        id="nav-tabContent"
        class="tab-content"
      >
        <component
          v-bind="wizardTabProps"
          :is="currentTab"
        />
      </div>
    </div>
    <div class="session-btn-access-next-step text-end my-4">
      <a
        href="#"
        class="m-2"
        @click="changeStepWizard('previous')"
      >
        {{ $translator.trans('Back') }}
      </a>
      <button
        :class="['btn', {
          'btn-primary' : !btnIsDisabled
        }]"
        :style="styleBtnNoSuccess"
        :disabled="btnIsDisabled"
        role="button"
        @click="changeStepWizard('next')"
      >
        {{ $translator.trans('Next') }}
      </button>
    </div>
  </div>
</template>

<script>
import FormValidationMixin                               from '../../../../mixin/FormValidationMixin'
import CreateSessionWizardCreateSessionGeneral           from './CreateSessionWizardCreateSessionGeneral'
import CreateSessionWizardCreateSessionInformations      from './CreateSessionWizardCreateSessionInformations'
import CreateSessionWizardCreateSessionConvocations      from './CreateSessionWizardCreateSessionConvocations'
import CreateSessionWizardCreateSessionEvaluations       from './CreateSessionWizardCreateSessionEvaluations'
import CreateSessionWizardCreateSessionReports           from './CreateSessionWizardCreateSessionReports'
import CreateSessionWizardCreateSessionServices          from './CreateSessionWizardCreateSessionServices'
import { mapState }                                      from 'vuex'
import { CATEGORY_SESSION_WEBINAR } from '../../../../store/module/session'
import { PROVIDER_WHITE_CONNECTOR } from '../../../../utils/white-configuration-holder.utils'
import CreateSessionWizardCreateSessionRegistration from './CreateSessionWizardCreateSessionRegistration.vue'

export default {
  components: {
    CreateSessionWizardCreateSessionGeneral,
    CreateSessionWizardCreateSessionInformations,
    CreateSessionWizardCreateSessionConvocations,
    CreateSessionWizardCreateSessionEvaluations,
    CreateSessionWizardCreateSessionReports,
    CreateSessionWizardCreateSessionServices,
    CreateSessionWizardCreateSessionRegistration
  },
  mixins:     [FormValidationMixin],
  data () {
    return {
      currentTab: 'CreateSessionWizardCreateSessionGeneral',
      convocationOrCommunicationTabName: this.convocationOrCommunication(),
      allTabs: {
        CreateSessionWizardCreateSessionGeneral: this.$translator.trans('General'),
        CreateSessionWizardCreateSessionInformations: this.$translator.trans('Informations'),
        CreateSessionWizardCreateSessionConvocations: this.$translator.trans('Convocations'),
        CreateSessionWizardCreateSessionEvaluations: this.$translator.trans('Evaluations'),
        CreateSessionWizardCreateSessionReports: this.$translator.trans('Certificates'),
        CreateSessionWizardCreateSessionServices: this.$translator.trans('Services'),
        CreateSessionWizardCreateSessionRegistration: this.$translator.trans('Registration')
      }
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'stepWizard', 'clientData']),
    ...mapState('sessionWizardCreation', ['formSuccess']),
    styleBtnNoSuccess () {
      if (this.btnIsDisabled) {
        return 'background-color: #8C8D8E'
      }
      return ''
    },
    btnIsDisabled () {
      return !this.formSuccess
    },
    wizardTabProps () {
      return {}
    },
    isWebinarCategory () {
      return this.sessionToSaved.category === CATEGORY_SESSION_WEBINAR
    },
    isWhiteConnector () {
      return this.clientData.provider.type === PROVIDER_WHITE_CONNECTOR
    }
  },
  watch: {
    isWebinarCategory () {
      this.allTabs.CreateSessionWizardCreateSessionConvocations = this.convocationOrCommunication()
    }
  },
  methods: {
    changeStepWizard (direction) {
      switch (direction) {
        case 'next':
          this.stepWizard.current = 'selectParticipants'
          this.stepWizard.previous = 'createSession'
          this.stepWizard.bullet = {
            selectDate: true,
            createSession: true,
            selectParticipants: true,
            validSession: false
          }
          break
        case 'previous':
          this.stepWizard.current = 'selectDate'
          this.stepWizard.previous = 'selectType'
          this.stepWizard.bullet = {
            selectDate: true,
            createSession: false,
            selectParticipants: false,
            validSession: false
          }
          break
      }
    },
    convocationOrCommunication () {
      if (this.isWebinarCategory) {
        return this.$translator.trans('Communication')
      }
      return this.$translator.trans('Convocations')
    }
  }
}
</script>
