<template>
  <div id="nav-convoc">
    <div
      v-if="!isWebinarCategory"
      class="row"
    >
      <div class="col-lg-6">
        <div
          v-if="notificationDateReal"
        >
          <div class="alert alert-warning alert-dismissible">
            {{ $translator.trans('The convocations will be sent as soon as the session is created.') }}
          </div>
        </div>
        <div class="form__item">
          <label for="user-convoc-send-date">
            {{ $translator.trans( 'Date and hour of sending convocations' ) }}
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('By default, the date and time for sending out iconvocations  have been defined in your account settings. However, you can change them for this specific session')"
            >
          </label>
          <div
            v-if="!sessionToSaved.isConvocationSent"
            class="input-container d-flex align-items-center"
          >
            <div class="input-group">
              <datetime
                v-model="sessionToSaved.notificationDate"
                class="input-group datetime-picker-primary w-100"
                type="datetime"
                :format="$dateTime.DATETIME_MED"
                input-id="user-convoc-send-date"
                input-class="form-control date inline"
                :phrases="{ok: $translator.trans( 'OK' ), cancel: $translator.trans( 'Cancel' )}"
                :use12-hour="false"
                auto
              >
                <template slot="after">
                  <div class="input-group-text d-flex align-items-center justify-content-center">
                    <img
                      src="/build/static/icons/calendar-date-green.svg"
                      class="calendar"
                    >
                  </div>
                </template>
              </datetime>
            </div>
          </div>
        </div>

        <div class="form__item m-0">
          <label>
            {{ $translator.trans( 'Date and hour of sending reminder' ) }}
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('By default, the date and time for sending out reminders  have been defined in your account settings. However, you can change them for this specific session')"
            >
            <img
              src="/build/static/icons/add-filter.svg"
              alt="picto add filter"
              :title="$translator.trans('Add a new reminder date')"
              class="add-filter ms-3"
              @click="addField($event, input, sessionToSaved.dateOfSendingReminders)"
            >
          </label>
        </div>
        <div
          v-for="(input, index) in sessionToSaved.dateOfSendingReminders"
          :key="`reminderDateInput-${index}`"
          class="form__item date-rappel-block"
        >
          <div class="input-container d-flex align-items-center">
            <div class="input-group">
              <datetime
                v-model="sessionToSaved.dateOfSendingReminders[index]"
                class="input-group datetime-picker-primary w-100"
                type="datetime"
                :format="$dateTime.DATETIME_MED"
                :input-id="`user-convoc-date-rappel-${index}`"
                input-class="form-control date inline"
                :phrases="{ok: $translator.trans( 'OK' ), cancel: $translator.trans( 'Cancel' )}"
                :use12-hour="false"
                auto
              >
                <template slot="after">
                  <div class="input-group-text d-flex align-items-center justify-content-center">
                    <img
                      src="/build/static/icons/calendar-date-green.svg"
                      class="calendar"
                    >
                  </div>
                </template>
              </datetime>
            </div>
            <div class="input-actions">
              <img
                src="/build/static/icons/delete-filter.svg"
                alt="picto delete filter"
                :title="$translator.trans('Delete the reminder')"
                @click="removeField($event, index, sessionToSaved.dateOfSendingReminders)"
              >
            </div>
          </div>
        </div>

        <loader
          v-if="loading"
          :loading="loading"
        />
        <div
          v-else
          class="form__item mt-5"
        >
          <label for="user-file">
            {{ $translator.trans( 'Attachment' ) }} (20 Mo)
          </label>
          <div class="input-container d-flex align-items-center">
            <div class="input-group">
              <div class="file-upload-container w-100">
                <input
                  id="user-file"
                  type="file"
                  class="form-control w-100"
                  :accept="ALL_FORMATS_FORMATTED"
                  @change="onFileChange"
                >
              </div>
            </div>
            <div class="input-actions">
              <img
                src="/build/static/icons/question.svg"
                data-bs-placement="left"
                data-bs-toggle="tooltip"
                :title="$translator.trans('The attachment will be added to the convocation sent to participants. Maximum size: 20Mb. Allowed formats: xls, xlsx, csv, ods, doc, docx, txt, pdf, jpg, png, ppt, pptx, odp, zip, rar.')"
              >
            </div>
          </div>
          <span
            class="mt-1"
            style="font-size: 14px"
          >{{ $translator.trans('File format:') }} {{ ALL_FORMATS_STRING }}</span>
          <div
            v-if="errors.attachments !== null"
            class="invalid-feedback d-block"
          >
            {{ errors.attachments }}
          </div>
          <div
            v-for="attachment in attachments"
            :key="attachment.id"
            class="input-container d-flex align-items-center"
          >
            <div class="input-group">
              <div class="w-100">
                <a :href="$routing.generate('_session_attachment_download', { token: attachment.token })">{{ attachment.originalName }}</a>
              </div>
            </div>
            <div class="input-actions">
              <img
                src="/build/static/icons/delete-filter.svg"
                :title="$translator.trans( 'Remove the attachment' )"
                @click="removeAttachment(attachment.id)"
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form__item custom-block">
          <label for="user-convoc-custom-content">
            {{ $translator.trans( 'Custom content' ) }}
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('Add a link or document for pre-session work, group-specific instructions, local phone numbers for participants in foreign countries. This content will appear in the pre-defined location in the invitation template if you requested it when setting up your account.')"
            >
          </label>
          <TinymceInput
            id="user-convoc-custom-content"
            :name="'user-convoc-custom-content'"
            :on-change-callback="onChangePersonalizedContentCallback"
          >
            <template #default-value>
              {{ sessionToSaved.personalizedContent }}
            </template>
          </TinymceInput>
        </div>
      </div>
    </div>
    <div
      v-else
      class="row"
    >
      <p class="fz-16 mb-28 text-muted">
        <i>
          {{ $translator.trans( 'For webinars, the interaction with participants and facilitators is rendered by a communication scheme that includes' ) }} :
        </i>
      </p>
      <ul
        class="fz-16 mb-28 text-muted"
        style="list-style-type: circle; margin-left: 50px"
      >
        <i>
          <li>
            {{ $translator.trans( 'a confirmation email (mandatory)' ) }}
          </li>
          <li>
            {{ $translator.trans( 'one or more reminders (optional)' ) }}
          </li>
          <li>
            {{ $translator.trans( 'one or more thank you emails (optional)' ) }}
          </li>
        </i>
      </ul>
      <p class="fz-16 mb-28 text-muted">
        <i>
          {{ $translator.trans( 'You will define this scheme  after the session is created' ) }} : <br><br>
          {{ $translator.trans( 'In the “Communication” tab of the session form, you will add your registration confirmation, and optionally your reminder and thank you emails.' ) }}<br><br>
          {{ $translator.trans( 'Your webinar session remains in draft mode until the communication scheme is defined.' ) }}
        </i>
      </p>
    </div>
    <div class="row">
      <!--        <div class="form-container">
          <div class="form__checklist">
            <div class="form-check">
              <input
                id="user-convoc-send-email"
                v-model="sessionToSaved.sendInvitationEmails"
                class="form-check-input"
                type="checkbox"
              >
              <label
                class="form-check-label"
                for="user-convoc-send-email"
              >
                {{ $translator.trans( 'Send the convocation emails' ) }}
              </label>
            </div>
            <div class="form-check">
              <input
                id="user-convoc-send-rappel"
                v-model="sessionToSaved.enableSendRemindersToAnimators"
                class="form-check-input"
                type="checkbox"
              >
              <label
                class="form-check-label"
                for="user-convoc-send-rappel"
              >
                {{ $translator.trans( 'Sending reminders to animators' ) }}
              </label>
            </div>
          </div>
        </div>-->
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import { mapState } from 'vuex'
import TinymceInput from '../../../ui/TinymceInput'
import { Datetime } from 'vue-datetime'
import { CATEGORY_SESSION_WEBINAR } from '../../../../store/module/session'
import axios from 'axios'
import { routing, translator } from '../../../../utils/app.utils'
import Loader from '../../../ui/Loader.vue'
import { ALL_FORMATS, ALL_FORMATS_FORMATTED, ALL_FORMATS_STRING } from '../../../../utils/fileUpload.utils'

export default {
  name: 'CreateSessionWizardCreateSessionConvocations',
  components: {
    Loader,
    TinymceInput,
    Datetime
  },
  data () {
    return {
      ALL_FORMATS: ALL_FORMATS,
      ALL_FORMATS_STRING: ALL_FORMATS_STRING,
      ALL_FORMATS_FORMATTED: ALL_FORMATS_FORMATTED,
      loading: false,
      errorLoading: false
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'stepWizard', 'attachments', 'errors']),
    notificationDateReal () {
      return moment(this.sessionToSaved.notificationDate) < moment(new Date())
    },
    isWebinarCategory () {
      return this.sessionToSaved.category === CATEGORY_SESSION_WEBINAR
    }
  },
  methods: {
    onChangePersonalizedContentCallback (event, editor) {
      this.sessionToSaved.personalizedContent = editor.getBody().innerHTML
    },
    addField (event, input, fieldType) {
      if (event.target.attributes.readonly !== undefined) {
        return
      }

      fieldType.push('')
    },
    removeField (event, index, fieldType) {
      if (event.target.attributes.readonly !== undefined) {
        return
      }

      fieldType.splice(index, 1)
    },
    onFileChange (e) {
      this.loading = true
      const files = e.target.files || e.dataTransfer.files

      if (files.length !== 1) {
        return
      }

      const formData = new FormData()
      formData.append('file', files[0])
      formData.append('format', ALL_FORMATS)

      axios.post(
        routing.generate('_session_attachment_upload'),
        formData,
        {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }
      ).then((response) => {
        this.$store.commit('sessionWizard/addAttachmentsSuccess', response)
        this.loading = false
      }).catch((error) => {
        this.loading = false
        this.errorLoading = true
        if ('data' in error.response && 'message' in error.response.data && 'text' in error.response.data.message) {
          this.$store.commit('sessionWizard/addAttachmentsCatch', error.response.data.message.text)
        } else {
          this.$store.commit('sessionWizard/addAttachmentsCatch', translator.trans('Attachment could not be uploaded for unknown reason.'))
        }
      })
    },
    removeAttachment (attachmentId) {
      this.$store.commit('sessionWizard/removeAttachment', attachmentId)
    }
  }
}
</script>
