<template>
  <section>
    <div>
      <div class="form__item">
        <label for="user-global-nature">{{ $translator.trans('Nature') }}</label>
        <select
          id="user-global-nature"
          v-model="sessionToSaved.nature"
        >
          <option value="" />
          <option
            v-for="(nature, key) in natures"
            :key="key"
            :value="key"
          >
            {{ $translator.trans( nature ) }}
          </option>
        </select>
        <img
          src="/build/static/icons/question.svg"
          alt="Infobulle"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          :title="$translator.trans('Choose the desired training action')"
        >
      </div>
      <label class="tiny-form-label">{{ $translator.trans('Objectives') }}</label>
      <div class="d-flex align-items-center mb-28 form__item">
        <tags-input
          v-model="sessionToSaved.objectives"
          :tags-in="sessionToSaved.objectives"
          name="session-objectives"
        />
        <img
          src="/build/static/icons/question.svg"
          alt="Infobulle"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          :title="$translator.trans('Give the objectives that must be reached at the end of the training')"
        >
      </div>
      <div class="form-check">
        <input
          id="user-global-mixte"
          v-model="automaticSendingConfigClient"
          name="user-global-mixte"
          :disabled="!clientData.isSendAnAttestationAutomatically"
          type="checkbox"
          class="form-check-input"
          @change="updateSendAuto()"
        >
        <label
          for="user-global-mixte"
          class="form-label form-check-label"
        >
          {{ $translator.trans( 'Automatic sending of certificates after the session to participants present only' ) }}
        </label>
      </div>
      <!--      <div class="form__checklist">-->
      <!--        <div class="form-check">-->
      <!--          <input-->
      <!--            id="user-global-mixte"-->
      <!--            class="form-check-input"-->
      <!--            type="checkbox"-->
      <!--            value="mixte"-->
      <!--            checked-->
      <!--          >-->
      <!--          <label-->
      <!--            class="form-check-label"-->
      <!--            for="user-global-mixte"-->
      <!--          >Envoi automatique des attestations aux participants après la session</label>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </section>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import TagsInput                from '../../../ui/TagsInput'

export default {
  name: 'CreateSessionWizardCreateSessionReports',
  components: { TagsInput },
  data () {
    return {
      automaticSendingConfigClient : false
    }
  },
  computed: {
    ...mapGetters({ natures: 'sessionWizard/natures' }),
    ...mapState('sessionWizard', ['sessionToSaved', 'clientData'])
  },
  mounted () {
    this.automaticSendingConfigClient = this.sessionToSaved.automaticSendingTrainingCertificates && this.clientData.isSendAnAttestationAutomatically
  },
  methods: {
    updateSendAuto () {
      this.sessionToSaved.automaticSendingTrainingCertificates = this.automaticSendingConfigClient
    }
  }
}
</script>
