<template>
  <div
    id="nav-eval"
    role="tabpanel"
  >
    <!--    <div class="row mb-30">-->
    <!--      <div class="col-lg-4">-->
    <!--        <div class="form-group d-flex align-items-center">-->
    <!--          <label for="switch-session-search">-->
    <!--            {{ $translator.trans('External Evaluation') }}-->
    <!--          </label>-->
    <!--          <div class="search-switch ">-->
    <!--            <label-->
    <!--              class="switch"-->
    <!--              for="switch-session-search"-->
    <!--            >-->
    <!--              <input-->
    <!--                id="switch-session-search"-->
    <!--                type="checkbox"-->
    <!--                name="switch-session-search"-->
    <!--                @click="showExtEvaluation = !showExtEvaluation"-->
    <!--              >-->
    <!--              <span class="slider round" />-->
    <!--            </label>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="row">
      <div
        v-if="!showExtEvaluation"
        id="form-eval-select"
        class="col-lg-12"
      >
        <div class="form__item">
          <label for="user-global-eval-and-session-select">
            {{ $translator.trans('End of session evaluation form') }}
          </label>
          <div class="d-flex align-items-center">
            <select
              id="user-global-eval-and-session-select"
              v-model="sessionEvaluationForm"
              class="user-global-eval-and-session"
              @change="setEvaluationForm"
            >
              <option
                v-for="evaluation in evaluationsForms"
                :key="evaluation.id"
                :value="evaluation.id"
              >
                {{ evaluation.title }}
              </option>
            </select>
            <span
              class="copy"
              :title="$translator.trans('The evaluation provides an assessment of the session by the participants. The evaluation form will be available in 3 ways : as a  QR code  or/and as a web link with live acces,s which will open in the participants\'browser and/or as a  link (the same one) sent to the participants by e-mail. The animator will have access to the link from his or her email convocation or directly from the session form.')"
            />
            <div
              class="input-group-text d-flex align-items-center justify-content-center"
              data-bs-target="#previewBlock"
              data-bs-toggle="modal"
              role="button"
            >
              <img
                src="/build/static/icons/view.svg"
                alt="picto view"
              >
            </div>
            <img
              src="/build/static/icons/question.svg"
              alt="Infobulle"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              title="Tooltip"
            >
          </div>
        </div>
      </div>
      <div
        v-if="sessionToSaved.evaluations.length !== 0"
        id="previewBlock"
        class="modal fade"
        tabindex="-1"
      >
        <!--      === MODAL ===   -->
        <preview-evaluation-modal
          :key="evaluationsFormsByChoice[0].surveyId"
          :locale="'fr'"
          :survey-id-selected="evaluationsFormsByChoice[0].surveyId"
        />
        <!--      === MODAL ===   -->
      </div>
      <!--      <div-->
      <!--        v-else-->
      <!--        id="add-file-eval"-->
      <!--        class="col-lg-12 eval-checked"-->
      <!--      >-->
      <!--        <div class="form__item">-->
      <!--          <label for="user-global-add-file-eval">-->
      <!--            {{ $translator.trans('Add an evaluation file') }}-->
      <!--          </label>-->
      <!--          <div class="input-container d-flex align-items-center">-->
      <!--            <div class="input-group">-->
      <!--              <div class="file-upload-container w-100">-->
      <!--                <input-->
      <!--                  id="user-global-add-file-eval"-->
      <!--                  type="file"-->
      <!--                  class="form-control w-100"-->
      <!--                >-->
      <!--              </div>-->
      <!--            </div>-->
      <!--            <div class="input-actions">-->
      <!--              <img-->
      <!--                src="/build/static/icons/question.svg"-->
      <!--                alt="Infobulle"-->
      <!--                data-bs-toggle="tooltip"-->
      <!--                data-bs-placement="right"-->
      <!--                title="Tooltip"-->
      <!--              >-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      <div-->
      <!--        v-if="showExtEvaluation"-->
      <!--        id="form-eval-input"-->
      <!--        class="col-lg-12 eval-checked"-->
      <!--      >-->
      <!--        <div class="form__item">-->
      <!--          <label for="user-global-eval-and-session-input">-->
      <!--            {{ $translator.trans('Add an evaluation file') }}-->
      <!--          </label>-->
      <!--          <div class="d-flex align-items-center">-->
      <!--            <input-->
      <!--              id="user-global-eval-and-session-input"-->
      <!--              type="text"-->
      <!--              name=""-->
      <!--              class="form-control user-global-eval-and-session"-->
      <!--            >-->
      <!--            <span class="copy" />-->
      <!--            <div class="input-group-text d-flex align-items-center justify-content-center">-->
      <!--              <img-->
      <!--                src="/build/static/icons/open-target.svg"-->
      <!--                alt="picto open target"-->
      <!--              >-->
      <!--            </div>-->
      <!--            <img-->
      <!--              src="/build/static/icons/question.svg"-->
      <!--              alt="Infobulle"-->
      <!--              data-bs-toggle="tooltip"-->
      <!--              data-bs-placement="left"-->
      <!--              title="Tooltip"-->
      <!--            >-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import PreviewEvaluationModal from '../../view-tab/evaluation/PreviewEvaluationModal.vue'

export default {
  name: 'CreateSessionWizardCreateSessionEvaluations',
  components: { PreviewEvaluationModal },
  data () {
    return {
      showExtEvaluation: false,
      sessionEvaluationForm: ''
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'stepWizard']),
    ...mapState('sessionWizardCreation', ['errorsFields']),
    ...mapGetters({ evaluationsForms: 'sessionWizard/evaluationsForms' }),
    evaluationsFormsByChoice () {
      return this.evaluationsForms.filter(evaluation => evaluation.id === this.sessionToSaved.evaluations[0])
    }
  },
  mounted () {
    if (this.sessionToSaved.evaluations[0] !== undefined) {
      this.sessionEvaluationForm = this.sessionToSaved.evaluations[0]
    }
  },
  methods: {
    setEvaluationForm () {
      this.sessionToSaved.evaluations = [
        this.sessionEvaluationForm
      ]
    }
  }
}
</script>
