<template>
  <section>
    <div>
      <div class="row mb-13">
        <div class="col-lg-6">
          <div class="form__item">
            <label for="reference">{{ $translator.trans('Reference') }}</label>
            <input
              id="reference"
              v-model="sessionToSaved.reference"
              name="reference"
              type="text"
              :class="['form-control', {
                'is-invalid' : !errorsFields.reference.notnull['is-valid']
              }]"
              style="max-width: 475px;"
              @change="validateField()"
              @keyup="validateField()"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('Free nomenclature. If the field is left blank, a reference is automatically assigned in the format <PREFIX_CLIENT><ymdHis><2 random digits>')"
            >
            <div
              v-if="!errorsFields.reference.notnull['is-valid']"
              class="invalid-feedback d-block"
            >
              {{ errorsFields.reference.notnull.message }}
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form__item">
            <label for="tags">{{ $translator.trans('Tags') }}</label>
            <!--            <input
                id="tags"
                v-model="sessionToSaved.tags"
                name="tags"
                type="text"
                class="form-control"
                style="max-width: 475px;"
                @change="validateField()"
                @keyup="validateField()"
            >-->
            <tags-input
              v-model="sessionToSaved.tags"
              :tags-in="sessionToSaved.tags"
              name="tags"
              @change="validateField()"
            />
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('Use tags to facilitate the search and analysis of sessions.')"
            >
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form__item">
            <label for="businessNumber">{{ $translator.trans('Business Number') }}</label>
            <input
              id="businessNumber"
              v-model="sessionToSaved.businessNumber"
              name="businessNumber"
              type="text"
              class="form-control"
              style="max-width: 475px;"
              @change="validateField()"
              @keyup="validateField()"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('Free nomenclature. Enter for example an order number, an account number or a project name')"
            >
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form__item">
            <label for="information">{{ $translator.trans('Information') }}</label>
            <input
              id="information"
              v-model="sessionToSaved.information"
              name="information"
              type="text"
              class="form-control"
              @change="validateField()"
              @keyup="validateField()"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('Free number of characters. Can contain information about the session, reference of the group of participants (ex => LIVE SESSION-CROLLES group)...')"
            >
          </div>
        </div>

        <div
          v-if="sessionToSaved.category == categoryPresential || sessionToSaved.category == categoryMixte"
          class="col-lg-6"
        >
          <div class="form__item">
            <label for="restlunch">{{ $translator.trans('Rest') }}</label>
            <input
              id="restlunch"
              v-model="sessionToSaved.restlunch"
              name="restlunch"
              type="number"
              class="form-control"
              style="max-width: 475px;"
              @change="validateField()"
              @keyup="validateField()"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('Free nomenclature. Enter for example an order number, an account number or a project name')"
            >
          </div>
        </div>
        <div
          v-if="sessionToSaved.category == categoryPresential || sessionToSaved.category == categoryMixte"
          class="col-lg-6"
        >
          <div class="form__item">
            <label for="location">{{ $translator.trans('Place') }}</label>
            <input
              id="location"
              v-model="sessionToSaved.location"
              name="location"
              type="text"
              class="form-control"
              @change="validateField()"
              @keyup="validateField()"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('Free nomenclature. Enter for example an order number, an account number or a project name')"
            >
          </div>
        </div>
        <!--        <div
          v-if="sessionToSaved.category == categoryMixte"
          class="col-lg-6"
        >
          <div class="form__item">
            <label for="nbrdays">{{ $translator.trans('Number of days') }}</label>
            <input
              id="nbrdays"
              v-model="sessionToSaved.nbrdays"
              name="nbrdays"
              type="number"
              style="max-width: 475px;"
              class="form-control"
              @change="validateField()"
              @keyup="validateField()"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('Free number of characters. Can contain information about the session, reference of the group of participants (ex => LIVE SESSION-CROLLES group)...')"
            >
          </div>
        </div>-->
      </div>
    </div>
  </section>
</template>

<script>
import TagsInput           from '../../../ui/TagsInput'
import FormValidationMixin from '../../../../mixin/FormValidationMixin'
import { mapState } from 'vuex'
import {
  CATEGORY_SESSION_PRESENTIAL,
  CATEGORY_SESSION_MIXTE
} from '../../../../store/module/session'

export default {
  name: 'CreateSessionWizardCreateSessionInformations',
  components: {
    TagsInput
  },
  mixins:     [FormValidationMixin],
  data () {
    return {
      success: false,
      categoryPresential: CATEGORY_SESSION_PRESENTIAL,
      categoryMixte: CATEGORY_SESSION_MIXTE
    }
  },
  computed: {
    ...mapState('sessionWizard', ['sessionToSaved', 'stepWizard']),
    ...mapState('sessionWizardCreation', ['errorsFields'])
  },
  methods: {
    validateField () {
      this.$store.dispatch('sessionWizardCreation/validateFields')
    }
  }
}
</script>
