<template>
  <div class="row">
    <div class="col-md-1">
      <a :href="$routing.generate('_convocation_send', {id: sessionRole.id})">
        <img
          src="/build/static/icons/email.svg"
          :title="$translator.trans('Send the convocation')"
          class="me-4"
        >
      </a>
    </div>
    <div class="col">
      <a
        v-show="hasBounceAlert"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        class="session-warning"
        :title="$translator.trans('One or more emails were not received by one or more participant')"
        role="button"
        :href="$routing.generate('_bounce_list_user_filtered', {id: sessionRole.userId})"
      >
        <img src="/build/static/icons/alert-session.svg">
      </a>
    </div>
    <div class="col-md-1">
      <preview-convocation :trainee="trainee" />
    </div>
  </div>
</template>

<script>

import PreviewConvocation from './view-tab/PreviewConvocation'

export default {
  name: 'ParticipantSessionListItemAction',
  components: {
    PreviewConvocation
  },
  props: {
    sessionRole: {
      type: Object,
      required: false,
      default: () => { return {} }
    },
    hasBounceAlert: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      trainee: {
        id : this.sessionRole.id,
        lastConvocationSent: true,
        token: this.sessionRole.token
      }
    }
  }
}
</script>

<style scoped>

</style>
