<template>
  <div class="drop-menu-container">
    <div class="icn-option">
      <img src="/build/static/icons/options-white.svg">
    </div>
    <ul class="dropdown-menu-inner">
      <li>
        <a
          class="dropdown-item"
          :href="$routing.generate('_unregister_participant', {'id': sessionRole.id})"
        >
          <img
            src="/build/static/icons/eye-green.svg"
            class="me-2"
          >
          <b>{{ $translator.trans('Unsubscribe') }}</b></a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'ParticipantSessionListItemDropdownMenu',
  props: {
    sessionRole: {
      type: Object,
      required: false,
      default: () => { return {} }
    }
  }
}
</script>

<style scoped>

</style>
