<template>
  <form
    class="form dropdown-menu export-dropdown__content"
  >
    <import-session-file
      :clients="clients"
      :restrictions="restrictions"
    />
  </form>
</template>

<script>

import ImportSessionFile from './ImportSessionFile'

export default {
  name: 'SessionsUploadFile',
  components: { ImportSessionFile },
  props: {
    clients: {
      type: Array,
      required: false,
      default: () => []
    },
    restrictions: {
      type: Object,
      required: true
    }
  }
}
</script>
