<template>
  <div>
    <div class="session-desc mb-34 mt-10 text-center">
      <p class="text-center">
        {{ $translator.trans('Reference n° %field_1% - %field_2% - Duration %field_3%', {field_1: session.ref, field_2: dateStartLocalized, field_3: session.duration}) }}
      </p>
    </div>
    <div class="container session-form">
      <live-session-survey-analytics
        ref="surveyChartModal"
        :evaluation-id="evaluationId"
        :survey-id="surveyId"
        :answers="answers"
      />
    </div>
  </div>
</template>

<script>
import LiveSessionSurveyAnalytics from '../Survey/LiveSessionSurveyAnalytics.vue'

export default {
  name: 'SessionEvaluationSynthesis',
  components: { LiveSessionSurveyAnalytics },
  props: {
    session: {
      type: Object,
      required: true
    },
    evaluationProviderSession: {
      type: Object,
      required: true
    }
  },
  computed: {
    evaluationId () {
      // return this.session.evaluations[0].id
      return this.evaluationProviderSession.evaluation.id
    },
    surveyId () {
      // return this.session.evaluations[0].surveyId
      return this.evaluationProviderSession.evaluation.surveyId
    },
    dateStartLocalized () {
      return this.$options.filters.formatDate(this.session.dateStart, 'datetime_med')
    },
    answers () {
      const answers = []
      this.session.participantRoles.forEach(role => {
        role.evaluationSessionAnswers.forEach(answerParticipant => {
          if (answerParticipant.evaluationProviderSession.evaluation && this.evaluationId === answerParticipant.evaluationProviderSession.evaluation.id) {
            answers.push(answerParticipant.answer.data)
          }
        })
      })
      return answers
    }
    /* answers () {
      const answers = []
      this.session.participantRoles.forEach(role => {
        if (this.evaluationId in role.answers) {
          answers.push(role.answers[this.evaluationId].answer.data)
        }
      })
      return answers
    } */
  },
  mounted () {
    this.$refs.surveyChartModal.updateChart()
  }
}

</script>
