<template>
  <div>
    <div class="col-md-12 mb-5">
      <em>
        {{ $translator.trans('Find here all the sessions scheduled on your account') }}
      </em>
      <br>
    </div>
    <div class="page-options-bar">
      <div class="d-flex part-1">
        <div class="page-options-bar__item pr">
          <div class="page-options-bar__item__search with-result">
            <label for="searchInSession">
              <img src="/build/static/icons/search.svg">
            </label>
            <input
              id="searchInSession"
              v-model="globalSessionSearchInput"
              type="search"
              name="searchInSession"
              :placeholder="searchInPastSessions ? $translator.trans('Search for current and upcoming sessions') : $translator.trans('Search in all sessions')"
              @keydown="globalSearchSessions"
            >
            <div class="search-sessions-counter">
              <b>{{ sessionCount }}</b>
              &nbsp;{{ $translator.trans('found session.s') }}
            </div>
          </div>

          <div
            id="tooltipSwitchSessionSearch"
            class="search-switch"
          >
            <label
              class="switch"
              for="switch-session-search"
            >
              <input
                id="switch-session-search"
                v-model="searchInPastSessions"
                type="checkbox"
                name="switch-session-search"
                @click="updatePastSessions"
              >
              <span
                class="slider round"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                :title="$translator.trans('Change the search on sessions')"
              />
            </label>
          </div>
        </div>
        <div class="page-options-bar__item">
          <div class="dropdown">
            <div
              class="page-options-bar__item__filters"
              role="button"
              data-bs-auto-close="outside"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#filterModal"
            >
              <img
                v-if="true"
                src="/build/static/icons/filter-primary.svg"
              >
              <img
                v-else
                src="/build/static/icons/filter.svg"
              >

              <img
                src="/build/static/icons/filter-opened.svg"
                class="ms-3"
              >
            </div>
            <div
              class="dropdown-menu dropdown-menu-end dropdown-menu-list dropdown-filter-activity-log overflow-hidden"
            >
              <fieldset class="row dropdown-filter-activity-log__checkbox-container">
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-3">
                        {{ $translator.trans('Connector') }}
                      </div>
                      <div class="col-7">
                        <select
                          v-model="connectorSelected"
                          class="form-control form-select-sm w-100"
                          name="filter-action"
                          @change="globalSearchSessions"
                        >
                          <option
                            v-for="configurationHolder in allConfigurationHolder"
                            :key="configurationHolder.id"
                            :value="configurationHolder.id"
                          >
                            {{ configurationHolder.name }}
                          </option>
                        </select>
                      </div>
                      <div class="col-1">
                        <span class="evaluation-filter-help">
                          <img
                            src="/build/static/icons/question.svg"
                            data-bs-toggle="tooltip"
                            data-bs-placement="right"
                            :title="$translator.trans('Search by connector')"
                          >
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset class="row">
                <div class="export-dropdown__footer">
                  <button
                    class="export-dropdown__submit-btn"
                    @click="resetFilters"
                  >
                    {{ $translator.trans('Reset') }}
                  </button>
                </div>
              </fieldset>
              <!-- end  -->
            </div>
          </div>
          <!--- si filtre actif -->
          <div class="search-sessions-filter">
            <!--            {{ subFilter }}-->
          </div>
          <!-- end -->
        </div>
      </div>
      <div
        v-if="viewIsForSession"
        class="d-flex part-2"
      >
        <div class="page-options-bar__item d-flex align-items-center">
          <span class="d-sm-none d-xl-block me-2">{{ $translator.trans( 'Display' ) }}</span>
          <div class="session-display">
            <div
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              class="session-display__item"
              :class="{active: viewer === 'SessionsList'}"
              role="button"
              :title="$translator.trans('List')"
              @click="viewer='SessionsList'"
            >
              <img
                src="/build/static/icons/list-bullet-white.svg"
                height="16"
              >
            </div>
            <!--            <div class="session-display__item" :class="{active: viewer === 'SessionsList'}" role="button">-->
            <!--              <img src="/build/static/icons/cells-white.svg" height="16">-->
            <!--            </div>-->
            <div
              class="session-display__item"
              :class="{active: viewer === 'SessionsCalendar'}"
              role="button"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              :title="$translator.trans('Calendar')"
              @click="viewer='SessionsCalendar'"
            >
              <img
                src="/build/static/icons/calendar-white.svg"
                height="16"
              >
            </div>
          </div>
        </div>

        <div class="btn-group export-dropdown">
          <div
            class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            role="button"
            data-bs-auto-close="outside"
          >
            <span class="d-sm-none d-md-block me-2">{{ $translator.trans('Import') }}</span>
            <img src="/build/static/icons/import.svg">
          </div>
          <SessionsUploadFile
            :clients="clients"
            :referer="$routing.generate('_session_viewer')"
            :restrictions="importRestrictions"
          />
          <session-export />
        </div>
      </div>
    </div>
    <div
      v-if="showInfoFilter"
      class="alert alert-info alert-dismissible p-md-2 mb-4"
      role="alert"
    >
      <button
        type="button"
        class="btn-close p-2"
        @click="showInfoFilter = false"
      />
      <div class="alert__body">
        <p v-html="infoFilter" />
      </div>
    </div>
    <component
      :is="viewer"
      v-bind="viewerComponentBinding"
      @updateCalendarDate="updateCalendarDate"
    />

    <section
      v-if="processing"
      class="d-flex justify-content-center align-items-center"
    >
      <loader class="mb-4 pb-4" />
    </section>
    <span
      v-else-if="noMoreResult"
      class="d-flex justify-content-end align-items-center text-muted"
    >
      {{ $translator.trans('End of result') }}
    </span>
    <div
      id="filterModal"
      class="modal fade"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable filter-modal">
        <div class="modal-content">
          <div class="d-flex">
            <!--            <div class="filter-modal-col">-->
            <!--              <p class="mb-4">-->
            <!--                <b>{{ $translator.trans('My filters') }}</b>-->
            <!--              </p>-->
            <!--              <div class="d-flex align-items-center mb-3">-->
            <!--                <div class="flex-fill">-->
            <!--                  Ma recherche n°1-->
            <!--                </div>-->
            <!--                <a-->
            <!--                  href="##"-->
            <!--                  class="me-2"-->
            <!--                >-->
            <!--                  <img src="/build/static/icons/edit-filter.svg">-->
            <!--                </a>-->
            <!--                <a href="##">-->
            <!--                  <img src="/build/static/icons/delete-filter.svg">-->
            <!--                </a>-->
            <!--              </div>-->
            <!--              <div class="d-flex align-items-center mb-3">-->
            <!--                <div class="flex-fill">-->
            <!--                  Ma recherche n°2-->
            <!--                </div>-->
            <!--                <a-->
            <!--                  href="##"-->
            <!--                  class="me-2"-->
            <!--                >-->
            <!--                  <img src="/build/static/icons/edit-filter.svg">-->
            <!--                </a>-->
            <!--                <a href="##">-->
            <!--                  <img src="/build/static/icons/delete-filter.svg">-->
            <!--                </a>-->
            <!--              </div>-->
            <!--            </div>-->
            <div class="filter-modal-container flex-fill">
              <div class="modal-header">
                <h5
                  id="exampleModalLabel"
                  class="modal-title"
                >
                  {{ $translator.trans('Search filter') }}
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                />
              </div>
              <div class="filter-modal-body">
                <div class="d-flex align-items-center mb-4">
                  <p class="me-3">
                    <b>{{ $translator.trans('I am looking for in') }}</b>
                  </p>
                  <select
                    v-model="filtersSearch.futureSessions"
                    class="form-select w-50"
                  >
                    <option
                      :value="true"
                    >
                      {{ $translator.trans('Current and upcoming sessions') }}
                    </option>
                    <option
                      :value="false"
                    >
                      {{ $translator.trans('All sessions') }}
                    </option>
                  </select>
                </div>
                <div>
                  <p class="mb-3">
                    <b>{{ $translator.trans('Under the following conditions') }} :</b>
                  </p>

                  <div
                    v-for="(condition, indexCondition) in filtersSearch.conditions"
                    :key="condition.type"
                    class="filter-add-line"
                  >
                    <div
                      v-if="condition.type === ''"
                      class="filter-add-line"
                    >
                      <img
                        src="/build/static/icons/minus-filter.svg"
                        class="me-3 col-sm"
                        @click="deleteCondition(indexCondition)"
                      >
                      <select
                        v-model="condition.type"
                        class="form-select"
                      >
                        <option
                          v-for="(conditionSelect) in conditionsTypeFiltered"
                          :key="conditionSelect.value"
                          :value="conditionSelect.value"
                          :class="conditionSelect.classe"
                        >
                          {{ $translator.trans(conditionSelect.type) }}
                        </option>
                      </select>
                    </div>
                    <div
                      v-else
                    >
                      <img
                        src="/build/static/icons/minus-filter.svg"
                        class="me-3 col-sm"
                        @click="deleteCondition(indexCondition)"
                      >
                      <b> {{ $translator.trans(humanizeConditionType(condition)) }}</b>
                    </div>
                    <div
                      v-if="condition.type === 'date'"
                      class="filter-add-line"
                      style="padding-left: 50px"
                    >
                      <p class="px-3">
                        {{ $translator.trans('From') }}
                      </p>
                      <div class="input-group">
                        <datetime
                          v-model="filtersSearch.dateStart"
                          :placeholder="$translator.trans('To')"
                          class="input-group datetime-picker-primary"
                          type="datetime"
                          :format="$dateTime.DATETIME_MED"
                          input-id="user-convoc-date"
                          :input-class="['date user-convoc-date form-control inline']"
                          :phrases="{ok: $translator.trans( 'OK' ), cancel: $translator.trans( 'Cancel' )}"
                          :use12-hour="false"
                          auto
                        >
                          <template slot="after">
                            <div class="input-group-text d-flex align-items-center justify-content-center">
                              <img
                                src="/build/static/icons/calendar-date-green.svg"
                                class="calendar"
                              >
                            </div>
                          </template>
                        </datetime>
                      </div>
                      <p class="px-3">
                        {{ $translator.trans('To') }}
                      </p>
                      <div class="input-group">
                        <datetime
                          v-model="filtersSearch.dateEnd"
                          :placeholder="$translator.trans('To')"
                          class="input-group datetime-picker-primary"
                          type="datetime"
                          :format="$dateTime.DATETIME_MED"
                          input-id="user-convoc-date"
                          :input-class="['date user-convoc-date form-control inline']"
                          :phrases="{ok: $translator.trans( 'OK' ), cancel: $translator.trans( 'Cancel' )}"
                          :use12-hour="false"
                          auto
                        >
                          <template slot="after">
                            <div class="input-group-text d-flex align-items-center justify-content-center">
                              <img
                                src="/build/static/icons/calendar-date-green.svg"
                                class="calendar"
                              >
                            </div>
                          </template>
                        </datetime>
                      </div>
                    </div>
                    <div
                      v-else-if="condition.type === 'category'"
                      class="filter-add-line col"
                      style="padding-left: 50px"
                    >
                      <p class="col-2">
                        {{ $translator.trans('for type') }} :
                      </p>
                      <select
                        v-model="filtersSearch.categoryType"
                        name="category"
                        class="form-select col-sm"
                        style="max-width: 250px"
                        @change="selectAllChange"
                      >
                        <option
                          :value="1"
                          :nametext="$translator.trans('Virtual Classroom')"
                        >
                          {{ $translator.trans('Virtual Classroom') }}
                        </option>
                        <option
                          :value="6"
                          :nametext="$translator.trans('Blended training')"
                        >
                          {{ $translator.trans('Blended training') }}
                        </option>
                        <option
                          :value="4"
                          :nametext="$translator.trans('Face-to-face training')"
                        >
                          {{ $translator.trans('Face-to-face training') }}
                        </option>
                        <option
                          :value="2"
                          :nametext="$translator.trans('Meeting')"
                        >
                          {{ $translator.trans('Meeting') }}
                        </option>
                        <option
                          :value="7"
                          :nametext="$translator.trans('Webinar')"
                        >
                          {{ $translator.trans('Webinar') }}
                        </option>
                      </select>
                    </div>
                    <div
                      v-else-if="condition.type === 'account'"
                      class="filter-add-line col"
                      style="padding-left: 50px"
                    >
                      <p class="col-2">
                        :
                      </p>
                      <select
                        v-model="filtersSearch.client"
                        name="client"
                        class="form-select col-sm"
                        style="max-width: 250px"
                        @change="selectAllChange"
                      >
                        <option
                          v-for="client in clients"
                          :key="client.id"
                          :value="client.id"
                          :nametext="client.name"
                        >
                          {{ client.name }}
                        </option>
                      </select>
                    </div>
                    <div
                      v-else-if="condition.type === 'connector'"
                      class="filter-add-line col"
                      style="padding-left: 50px"
                    >
                      <p class="col-2">
                        {{ $translator.trans('name') }} :
                      </p>
                      <select
                        v-model="filtersSearch.connector"
                        name="configurationHolder"
                        class="form-select col-sm"
                        style="max-width: 400px"
                        @change="selectAllChange"
                      >
                        <option
                          v-for="configurationHolder in allConfigurationHolder"
                          :key="configurationHolder.id"
                          :value="configurationHolder.id"
                          :nametext="configurationHolder.name"
                        >
                          {{ configurationHolder.name }}
                        </option>
                      </select>
                    </div>
                    <div
                      v-else-if="condition.type === 'services'"
                      class="filter-add-line col"
                      style="padding-left: 50px"
                    >
                      <p class="col-2">
                        {{ $translator.trans('Type') }} :
                      </p>
                      <select
                        v-model="filtersSearch.serviceType"
                        name="services"
                        class="form-select col-sm"
                        style="max-width: 250px"
                        @change="selectAllChange"
                      >
                        <option
                          value="assistance"
                          :nametext="$translator.trans('Assistance')"
                        >
                          {{ $translator.trans('Assistance') }}
                        </option>
                        <option
                          value="support"
                          :nametext="$translator.trans('Support')"
                        >
                          {{ $translator.trans('Support') }}
                        </option>
                      </select>
                    </div>
                    <div
                      v-else-if="condition.type === 'status'"
                      class="filter-add-line col"
                      style="padding-left: 50px"
                    >
                      <p class="col-2">
                        {{ $translator.trans('is') }} :
                      </p>
                      <select
                        v-model="filtersSearch.statusSession"
                        name="statusSession"
                        class="form-select col-sm"
                        style="max-width: 250px"
                        @change="selectAllChange"
                      >
                        <option
                          value="Draft"
                          :nametext="$translator.trans('Draft')"
                        >
                          {{ $translator.trans('Draft') }}
                        </option>
                        <option
                          value="Scheduled"
                          :nametext="$translator.trans('Scheduled')"
                        >
                          {{ $translator.trans('Scheduled') }}
                        </option>
                        <option
                          value="Sent"
                          :nametext="$translator.trans('Sent')"
                        >
                          {{ $translator.trans('Sent') }}
                        </option>
                        <option
                          value="Running"
                          :nametext="$translator.trans('Running')"
                        >
                          {{ $translator.trans('Running') }}
                        </option>
                        <option
                          value="Finished"
                          :nametext="$translator.trans('Finished')"
                        >
                          {{ $translator.trans('Finished') }}
                        </option>
                        <option
                          value="Cancelled"
                          :nametext="$translator.trans('Cancelled')"
                        >
                          {{ $translator.trans('Cancelled') }}
                        </option>
                      </select>
                    </div>
                    <div
                      v-else-if="condition.type === 'registered'"
                      class="filter-add-line col"
                      style="padding-left: 50px"
                    >
                      <select
                        v-model="filtersSearch.registrationType"
                        name="attendees"
                        class="form-select col-sm"
                        style="max-width: 250px"
                        @change="selectAllChange"
                      >
                        <option
                          value="participantNumber"
                          :nametext="$translator.trans('Attendees count')"
                        >
                          {{ $translator.trans('Attendees count') }}
                        </option>
                        <option
                          value="animatorNumber"
                          :nametext="$translator.trans('Number of animators')"
                        >
                          {{ $translator.trans('Number of animators') }}
                        </option>
                      </select>
                      <p style="padding: 20px">
                        {{ $translator.trans('is') }}
                      </p>
                      <select
                        v-model="filtersSearch.operationCompare"
                        name="operationCompare"
                        class="form-select col-sm"
                        style="max-width: 80px"
                      >
                        <option
                          value="="
                        >
                          {{ equals }}
                        </option>
                        <option
                          value="<="
                        >
                          {{ lessOrEqual }}
                        </option>
                        <option
                          value=">="
                        >
                          {{ greaterOrEqual }}
                        </option>
                        <option
                          value=">"
                        >
                          {{ greater }}
                        </option>
                        <option
                          value="<"
                        >
                          {{ less }}
                        </option>
                      </select>
                      <input
                        v-model="filtersSearch.NumberCompare"
                        type="number"
                        class="form-control"
                        name="numberCompare"
                        style="max-width: 80px; margin-left: 50px"
                      >
                    </div>
                    <div
                      v-else-if="condition.type === 'registration'"
                      class="filter-add-line col"
                      style="padding-left: 50px"
                    >
                      <p style="padding: 20px">
                        {{ $translator.trans('In the') }}
                      </p>
                      <select
                        v-model="filtersSearch.registrationModal"
                        name="attendees"
                        class="form-select col-sm"
                        style="max-width: 250px"
                        @change="atUpdateRegistrationModal"
                      >
                        <option
                          value="catalog"
                        >
                          {{ $translator.trans('Catalog') }}
                        </option>
                        <option
                          value="page"
                        >
                          {{ $translator.trans('Page') }}
                        </option>
                      </select>
                      <p
                        v-if="filtersSearch.registrationModal"
                        style="padding: 20px"
                      >
                        {{ $translator.trans('next:') }}
                      </p>
                      <select
                        v-if="filtersSearch.registrationModal === 'catalog'"
                        v-model="filtersSearch.selectedRegistration"
                        name="selectedRegistration"
                        class="form-select col-sm"
                      >
                        <option
                          v-for="catalog in allCatalogs"
                          :key="catalog.id"
                          :value="catalog.id"
                        >
                          {{ catalog.name }}
                        </option>
                      </select>
                      <select
                        v-if="filtersSearch.registrationModal === 'page'"
                        v-model="filtersSearch.selectedRegistration"
                        name="selectedRegistration"
                        class="form-select col-sm"
                      >
                        <option
                          v-for="page in allRegistrationPageTemplates"
                          :key="page.id"
                          :value="page.id"
                        >
                          {{ page.name }}
                        </option>
                      </select>
                    </div>
                    <div
                      v-else-if="condition.type === 'test'"
                      class="filter-add-line col"
                      style="padding-left: 50px"
                    >
                      <select
                        v-model="filtersSearch.sessionTest"
                        name="sessionTest"
                        class="form-select col-sm"
                        style="max-width: 250px"
                      >
                        <option
                          value="true"
                        >
                          {{ $translator.trans('true') }}
                        </option>
                        <option
                          value="false"
                        >
                          {{ $translator.trans('false') }}
                        </option>
                      </select>
                    </div>
                    <div
                      v-else-if="condition.type === 'i\'m animator'"
                      class="filter-add-line col"
                      style="padding-left: 50px"
                    >
                      <input
                        type="hidden"
                        name="test"
                        :value="filtersSearch.sessionAnimator = currentUser.id"
                      >
                    </div>
                    <div
                      v-else-if="condition.type === 'tags'"
                      class="filter-add-line col-8"
                      style="padding-left: 50px"
                    >
                      <tags-input
                        v-model="filtersSearch.tags"
                        :tags-in="filtersSearch.tags"
                        :name="'search-tags'"
                      />
                    </div>
                  </div>
                  <div
                    class="filter-add-line"
                    role="button"
                    @click="addNewCondition()"
                  >
                    <img
                      src="/build/static/icons/add-filter.svg"
                      class="me-3"
                    >
                    <b>{{ $translator.trans('Add a condition') }}</b>
                  </div>
                </div>
              </div>
              <!--              <hr>-->
              <!--              <div class="filter-modal-body pt-3">-->
              <!--                <p class="mb-2">-->
              <!--                  <b>{{ $translator.trans('Save my filter') }}</b>-->
              <!--                </p>-->

              <!--                <div class="input-group mb-3 w-75">-->
              <!--                  <input-->
              <!--                    type="text"-->
              <!--                    class="form-control"-->
              <!--                    placeholder="Entrer le nom de votre nouvelle recherche"-->
              <!--                  >-->
              <!--                  <span class="input-group-text bg-primary pe-2">-->
              <!--                    <img src="/build/static/icons/save-for-later-white.svg">-->
              <!--                  </span>-->
              <!--                </div>-->
              <!--              </div>-->
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-light"
                  @click="resetFilterSessions()"
                >
                  {{ $translator.trans('Reset') }}
                </button>
                <loader v-if="processing" />
                <button
                  v-else
                  type="button"
                  class="btn btn-primary"
                  @click="filterSessions()"
                >
                  {{ $translator.trans('Filter') }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _                       from 'lodash'
import CurrentUserMixin                               from '../../mixin/CurrentUserMixin'
import { activityActionToLabel } from '../../utils/activities.utils'
import { getViewer }                                  from '../../utils/session-viewer.utils'
import SessionsCalendar        from './calendar/SessionsCalendar'
import SessionsList            from './list/SessionsList'
import SessionExport           from './SessionExport'
import SessionsUploadFile      from './SessionsUploadFile'
import Loader from '../ui/Loader'
import { Datetime }        from 'vue-datetime'
import { DateTime }        from 'luxon'
import TagsInput from '../ui/TagsInput.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'SessionsViewer',
  components: { TagsInput, Loader, SessionsList, SessionsUploadFile, SessionExport, SessionsCalendar, Datetime },
  mixins: [CurrentUserMixin],
  props: {
    clients: {
      type: Array,
      required: false,
      default: () => []
    },
    allConfigurationHolder: {
      type: Array,
      required: false,
      default: () => []
    },
    allRegistrationPageTemplates: {
      type: Array,
      required: false,
      default: () => []
    },
    allCatalogs: {
      type: Array,
      required: false,
      default: () => []
    },
    importRestrictions: {
      type: Object,
      required: false,
      default: () => { return {} }
    },
    view: {
      type: String,
      required: false,
      default: 'session'
    },
    searchUrl: {
      type: String,
      required: false,
      default: null
    },
    userSessionRoleMapping: {
      type: Object,
      required: false,
      default: () => { return {} }
    },
    bouncedMails: {
      type: Array,
      required: false,
      default: () => []
    },
    preSearch: {
      type: String,
      required: false,
      default: ''
    },
    allowOutdated: {
      type: Number,
      required: false,
      default: 0
    },
    userToken: {
      type: String,
      required: true
    },
    isAdmin: {
      type: Boolean,
      required: false,
      default: false
    },
    filterUserId: {
      type: Number,
      required: false,
      default: 0
    }
  },
  data () {
    return {
      globalSessionSearchInput: this.preSearch,
      sessionsData: [],
      searchInPastSessions: this.allowOutdated === 0,
      clientsData: this.clients,
      connectorSelected: null,
      processing: false,
      viewer: getViewer(),
      sessionCount: 0,
      lastResult: 0,
      noMoreResult: false,
      filtersSearch: {
        futureSessions : true,
        nameFilter : '',
        dateStart: null,
        dateEnd: null,
        categoryType: null,
        sessionAnimator: null,
        client : null,
        connector: null,
        sessionTest: null,
        tags: null,
        registrationType: null,
        registrationModal: null,
        operationCompare: null,
        selectedRegistration: null,
        NumberCompare: 0,
        serviceType: null,
        statusSession:null,
        conditions: [
          {
            type: ''
          }
        ]
      },
      equals : '=',
      lessOrEqual : '<=',
      greaterOrEqual : '>=',
      greater : '>',
      less : '<',
      conditionsType : [
        {
          type :'Category',
          value :'category',
          show : true,
          isOnlyAdminShow : false,
          classe :''
        },
        {
          type :'Account',
          value :'account',
          show : true,
          isOnlyAdminShow : true,
          classe :'admin-text-color'
        },
        {
          type :'Connector',
          value :'connector',
          show : true,
          isOnlyAdminShow : false,
          classe :''
        },
        {
          type :'Date',
          value :'date',
          show : true,
          isOnlyAdminShow : false,
          classe :''
        },
        {
          type: "I'm animator",
          value: "i'm animator",
          show: true,
          isOnlyAdminShow: false,
          classe: ''
        },
        {
          type :'Registration',
          value :'registration',
          show : true,
          isOnlyAdminShow : false,
          classe :''
        },
        {
          type :'Registered',
          value :'registered',
          show : true,
          isOnlyAdminShow : false,
          classe :''
        },
        {
          type :'Services',
          value :'services',
          show : true,
          isOnlyAdminShow : true,
          classe :'admin-text-color'
        },
        {
          type :'Test',
          value :'test',
          show : true,
          isOnlyAdminShow : false,
          classe :''
        },
        {
          type :'Status',
          value :'status',
          show : true,
          isOnlyAdminShow : false,
          classe :''
        },
        {
          type :'Tags',
          value :'tags',
          show : true,
          isOnlyAdminShow : false,
          classe :''
        }
      ],
      contentInfoFilter: '',
      sessionFiltered: false,
      clientFiltered: null,
      categoryFiltered: null,
      configurationHolderFiltered: null,
      servicesFiltered: null,
      statusSessionFiltered: null,
      attendeesFiltered: null,
      showInfoFilter: false
    }
  },
  computed: {
    ...mapGetters({ currentUser: 'currentUser/getCurrentUser' }),
    viewIsForSession () {
      return this.view !== 'participant'
    },
    conditionsTypeFiltered () {
      const conditionsTypeOpen = []
      this.conditionsType.forEach(condition => {
        if ((this.isAdmin === condition.isOnlyAdminShow || this.isAdmin) && !this.isSelectedCondition(condition.value)) {
          conditionsTypeOpen.push(condition)
          condition.show = true
        }
      })
      return conditionsTypeOpen.sort((a, b) =>  this.$translator.trans(a.type).localeCompare(this.$translator.trans(b.type)))
    },
    subFilter () {
      const activeFilters = []
      if (this.connectorSelected !== null) {
        const selectedConfigurationHolder = this.allConfigurationHolder.find((configurationHolder) => configurationHolder.id === this.connectorSelected)
        activeFilters.push(selectedConfigurationHolder.name)
      }
      if (activeFilters.length === 0) {
        return this.$translator.trans('no filter')
      } else {
        return activeFilters.join(' - ')
      }
    },
    viewerComponentBinding () {
      switch (this.viewer) {
        case 'SessionsList': return { sessions: this.sessionsData, view: this.view, userSessionRoleMapping: this.userSessionRoleMapping, bouncedMails: this.bouncedMails, isAdmin: this.isAdmin, connectorSelected: this.connectorSelected }
        case 'SessionsCalendar': return { sessions: this.sessionsData, userToken: this.userToken }
        default: return { sessions: this.sessionsData }
      }
    },
    infoFilter () {
      let content = '<strong>' + this.sessionCount + ' ' + this.$translator.trans('found session.s') + '</strong><br/>' + this.$translator.trans('With the following criteria :') + '<br/>'

      if (this.filtersSearch.futureSessions === true) {
        content += '<div style="padding-left: 20px"> - ' + this.$translator.trans('Search for current and upcoming sessions') + '</div>'
      } else {
        content += '<div style="padding-left: 20px"> - ' +  this.$translator.trans('All sessions') + '</div>'
      }
      if (this.filtersSearch.categoryType !== null) {
        content += '<div style="padding-left: 20px"> - ' + this.$translator.trans('Type of category') + ' "' + this.categoryFiltered + '"</div>'
      }
      if (this.globalSessionSearchInput !== '') {
        content += '<div style="padding-left: 20px"> - ' + this.$translator.trans('Search') + ' : "' + this.globalSessionSearchInput + '"</div>'
      }
      if (this.filtersSearch.client !== null) {
        content += '<div style="padding-left: 20px"> - ' + this.$translator.trans('Only for the account') + ' "' + this.clientFiltered + '"</div>'
      }
      if (this.filtersSearch.connector !== null) {
        content += '<div style="padding-left: 20px"> - ' + this.$translator.trans('With the connector') + ' "' + this.configurationHolderFiltered + '"</div>'
      }
      if (this.filtersSearch.tags !== null) {
        content += '<div style="padding-left: 20px"> - ' + this.$translator.trans('Searched tags') + ' "' + this.filtersSearch.tags + '"</div>'
      }
      if (this.filtersSearch.dateStart !== null && this.filtersSearch.dateEnd !== null) {
        content += '<div style="padding-left: 20px"> - ' + this.$translator.trans('From %datestart% to %dateend%', { datestart: DateTime.fromISO(this.filtersSearch.dateStart).toLocaleString(DateTime.DATE_FULL), dateend: DateTime.fromISO(this.filtersSearch.dateEnd).toLocaleString(DateTime.DATE_FULL) }) + '</div>'
      }
      if (this.filtersSearch.registrationType !== null) {
        content += '<div style="padding-left: 20px"> - ' + this.attendeesFiltered + ' ' + this.$translator.trans('registered is') + ' ' + this.filtersSearch.operationCompare + ' ' + this.filtersSearch.NumberCompare + '</div>'
      }
      if (this.filtersSearch.registrationModal !== null) {
        const modalTypeTranslations = {
          catalog: 'the catalog',
          page: 'the page'
        }

        const modalTypeTranslationKey = modalTypeTranslations[this.filtersSearch.registrationModal] || ''

        content += `<div style="padding-left: 20px"> - ${this.$translator.trans('In')} ${this.$translator.trans(modalTypeTranslationKey)} "${this.getNameSelectedRegistration()}"</div>`
      }
      if (this.filtersSearch.serviceType !== null) {
        content += '<div style="padding-left: 20px"> - ' + this.$translator.trans('Type of services') + ' "' + this.servicesFiltered + '"</div>'
      }
      if (this.filtersSearch.sessionTest !== null) {
        if (this.filtersSearch.sessionTest === 'true') {
          content += '<div style="padding-left: 20px"> - ' + this.$translator.trans('All session with the type "test"') + '</div>'
        } else {
          content += '<div style="padding-left: 20px"> - ' + this.$translator.trans('All session outside the type "test"') + '</div>'
        }
      }
      if (this.filtersSearch.sessionAnimator) {
        content += '<div style="padding-left: 20px"> - ' + this.$translator.trans('All the sessions where I am a animator') + '</div>'
      }
      if (this.filtersSearch.statusSession !== null) {
        content += '<div style="padding-left: 20px"> - ' + this.$translator.trans('With status') + ' "' + this.statusSessionFiltered + '"</div>'
      }

      return content
    }
  },
  mounted () {
    if (this.viewer === 'SessionsCalendar') {
      const startDate = new Date()
      startDate.setUTCHours(0, 0, 0, 0)
      startDate.setUTCDate(1)

      const endDate = new Date(startDate.getFullYear(), startDate.getMonth() + 1, 0)
      endDate.setUTCHours(23, 59, 59, 0)

      this.updateDate({
        start: startDate.toISOString(),
        end: endDate.toISOString()
      })
    }
    this.globalSearchSessions()
    window.onscroll = _.debounce(() => {
      const windowHeight = Math.ceil(document.documentElement.scrollTop + window.innerHeight)
      const offsetHeight  = document.documentElement.offsetHeight
      const bottomOfWindow = windowHeight >= offsetHeight

      if (bottomOfWindow && !this.noMoreResult && this.viewer === 'SessionsList') {
        this.fetchNewSessions()
      }
    }, 300)
  },
  methods: {
    updateDate (date) {
      if (!this.filtersSearch.conditions.find(condition => condition.type === 'date')) {
        this.filtersSearch.conditions.push({
          type: 'date'
        })
      }
      this.filtersSearch.dateStart = date.start
      this.filtersSearch.dateEnd = date.end
    },
    updateCalendarDate (date) {
      this.updateDate(date)
      this.filterSessions()
    },
    isSelectedCondition (condition) {
      let selected = false
      this.filtersSearch.conditions.forEach(existsCondition => {
        if (existsCondition.type === condition) {
          selected = true
        }
      })
      return selected
    },
    humanizeAction (action) {
      return this.$translator.trans(activityActionToLabel(action))
    },
    humanizeConditionType (condition) {
      return condition.type.charAt(0).toUpperCase() + condition.type.slice(1)
    },
    resetFilters () {
      this.connectorSelected = null
      this.globalSearchSessions()
    },
    updatePastSessions () {
      this.filtersSearch.futureSessions = !this.searchInPastSessions
      this.globalSearchSessions()
    },
    globalSearchSessions: _.debounce(function () {
      const searchUrl = this.searchUrl ? this.searchUrl : this.$routing.generate('_session_global_search')
      this.processing = true
      let queryUrl = `?q=${this.globalSessionSearchInput}&allow-outdated=${!this.searchInPastSessions}&configuration-holder=${this.connectorSelected}&filters-search=${JSON.stringify(this.filtersSearch)}`
      if (this.viewer === 'SessionsList') {
        queryUrl = queryUrl + '&need-count=1&first-result=0&viewer=SessionsList'
      } else {
        queryUrl = queryUrl + '&need-count=1&all=1&viewer=Calendar'
      }
      this.$axios.get(searchUrl + queryUrl)
        .then(response => {
          this.sessionsData = response.data.sessions
          this.sessionCount = response.data.count
          this.noMoreResult = false
          this.lastResult = this.sessionsData.length
          this.processing = false
          this.processing = false
        })
    }, 250),
    fetchNewSessions () {
      const searchUrl = this.searchUrl ? this.searchUrl : this.$routing.generate('_session_global_search')
      this.processing = true
      let queryUrl = `?q=${this.globalSessionSearchInput}&allow-outdated=${!this.searchInPastSessions}&configuration-holder=${this.connectorSelected}&filters-search=${JSON.stringify(this.filtersSearch)}`
      if (this.viewer === 'SessionsList') {
        queryUrl = queryUrl + `&need-count=0&first-result=${this.lastResult}&viewer=SessionsList`
      } else {
        queryUrl = queryUrl + '&need-count=0&all=1&viewer=Calendar'
      }
      this.$axios.get(searchUrl + queryUrl)
        .then(response => {
          if (response.data.sessions.length === 0) {
            this.noMoreResult = true
            this.processing = false
          } else {
            this.sessionsData = [...this.sessionsData, ...response.data.sessions]
            this.noMoreResult = false
            this.lastResult = this.sessionsData.length
            this.processing = false
          }
        }).catch(() => {
          this.processing = false
        })
    },
    addNewCondition () {
      const condition = {
        type: ''
      }
      this.filtersSearch.conditions.push(condition)
    },
    deleteCondition (index) {
      this.filtersSearch.conditions.splice(index, 1)
    },
    resetFilterSessions () {
      this.filtersSearch = {
        futureSessions:   true,
        nameFilter:       '',
        dateStart:        null,
        dateEnd:          null,
        categoryType:     null,
        sessionAnimator:  null,
        client:           null,
        connector:        null,
        sessionTest:      null,
        tags:      null,
        registrationType: null,
        registrationModal: null,
        selectedRegistration: null,
        operationCompare: null,
        NumberCompare:    0,
        serviceType:      null,
        statusSession:    null,
        conditions:       [
          {
            type: ''
          }
        ]
      }
      this.filterSessions()
    },
    filterSessions () {
      this.fulfillCondition()
      this.searchInPastSessions = this.filtersSearch.futureSessions
      const searchUrl = this.searchUrl ? this.searchUrl : this.$routing.generate('_session_global_search')
      this.processing = true
      let queryUrl = `?q=${this.globalSessionSearchInput}&allow-outdated=${!this.searchInPastSessions}&configuration-holder=${this.connectorSelected}&filters-search=${JSON.stringify(this.filtersSearch)}`
      queryUrl = queryUrl + '&need-count=1&first-result=0'
      this.$axios.get(searchUrl + queryUrl)
        .then(response => {
          this.sessionsData = response.data.sessions
          this.sessionCount = response.data.count
          this.noMoreResult = false
          this.lastResult = this.sessionsData.length
          this.processing = false
          this.showInfoFilter = true
          const modal = this.$bootstrap.Modal.getOrCreateInstance(document.getElementById('filterModal'))
          if (modal) {
            modal.hide()
          }
        }).catch(() => {
          this.processing = false
        })
    },
    fulfillCondition () {
      const conditionSelected = []
      this.filtersSearch.conditions.forEach(element =>
        conditionSelected.push(element.type)
      )
      this.conditionsType.forEach(condition => {
        if (!conditionSelected.includes(condition.value)) {
          switch (condition.value) {
            case 'category':
              this.filtersSearch.categoryType = null
              break
            case 'account':
              this.filtersSearch.client = null
              break
            case 'connector':
              this.filtersSearch.connector = null
              break
            case 'date':
              this.filtersSearch.dateStart = null
              this.filtersSearch.dateEnd = null
              break
            case 'registered':
              this.filtersSearch.registrationType = null
              this.filtersSearch.operationCompare = null
              this.filtersSearch.NumberCompare = 0
              break
            case 'services':
              this.filtersSearch.serviceType = null
              break
            case 'test':
              this.filtersSearch.sessionTest = null
              break
            case 'status':
              this.filtersSearch.statusSession = null
              break
            case 'tags':
              this.filtersSearch.tags = null
              break
            case "i'm animator":
              this.filtersSearch.sessionAnimator = null
              break
          }
        }
      })
    },
    selectAllChange (event) {
      switch (event.target.name) {
        case 'client': {
          this.clientFiltered = event.target.options[event.target.options.selectedIndex].getAttribute('nametext')
          break
        }
        case 'category': {
          this.categoryFiltered = event.target.options[event.target.options.selectedIndex].getAttribute('nametext')
          break
        }
        case 'configurationHolder': {
          this.configurationHolderFiltered = event.target.options[event.target.options.selectedIndex].getAttribute('nametext')
          break
        }
        case 'services': {
          this.servicesFiltered = event.target.options[event.target.options.selectedIndex].getAttribute('nametext')
          break
        }
        case 'statusSession': {
          this.statusSessionFiltered = event.target.options[event.target.options.selectedIndex].getAttribute('nametext')
          break
        }
        case 'attendees': {
          this.attendeesFiltered = event.target.options[event.target.options.selectedIndex].getAttribute('nametext')
          break
        }
      }
    },
    getNameSelectedRegistration () {
      switch (this.filtersSearch.registrationModal) {
        case 'catalog': {
          return this.allCatalogs.find((catalog) => catalog.id === this.filtersSearch.selectedRegistration).name
        }
        case 'page': {
          return this.allRegistrationPageTemplates.find((page) => page.id === this.filtersSearch.selectedRegistration).name
        }
      }
    },
    atUpdateRegistrationModal () {
      switch (this.filtersSearch.registrationModal) {
        case 'catalog': {
          if (this.allCatalogs.length > 0) {
            this.filtersSearch.selectedRegistration = this.allCatalogs[0].id
          } else {
            this.filtersSearch.registrationModal = null
          }
          break
        }
        case 'page': {
          if (this.allRegistrationPageTemplates.length > 0) {
            this.filtersSearch.selectedRegistration = this.allRegistrationPageTemplates[0].id
          } else {
            this.filtersSearch.registrationModal = null
          }
          break
        }
      }
    }
  }
}
</script>

<style scoped lang="css">
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
</style>
