<template>
  <span>
    <img
      id="SessionAccessRequestPasswordTooltip-help"
      src="/build/static/icons/question.svg"
      class="help"
      :title="$translator.trans('Click to know more')"
      @click="show = !show"
    ><br>
    <small
      v-if="show"
      class="text-muted text-justify"
    >
      {{ $translator.trans("This information applies to you if you are also required to log into the %domain% account.", {domain}) }}<br><br>

      {{ $translator.trans("Mylivesession Manager and the Adobe Connect account you usually use are closely linked. Your username and password to connect to these two online services must be the same.", {domain}) }}<br><br>

      {{ $translator.trans("When you first log in to a Mylivesession Manager session, you will customize your password (= update) on both Mylivesession Manager and %domain%", {domain}) }}<br><br>

      {{ $translator.trans("So it is this new password that will now allow you to log in to %domain%.", { domain}) }}
      {{ $translator.trans("Please note that your password is encrypted and at no time will our teams be able to view it. You will be the only one who knows him.") }}
    </small>
  </span>
</template>

<script>

export default {
  name: 'SessionAccessRequestPasswordTooltip',
  props: {
    domain: {
      type: String,
      required: true
    }
  },
  data () {
    return { show: false }
  }
}
</script>

<style scoped lang="scss">
  .help {
    &:hover,&:active {
      cursor: pointer;
    }
  }
</style>
