<template>
  <div class="btn-group export-dropdown">
    <div
      class="export-dropdown__opener page-options-bar__item d-flex align-items-center"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      role="button"
      data-bs-auto-close="outside"
    >
      <span class="d-sm-none d-md-block me-2">{{ $translator.trans('Export') }}</span>
      <img src="/build/static/icons/export.svg">
    </div>
    <form class="dropdown-menu export-dropdown__content">
      <fieldset class="row">
        <div class="col-sm-5 export-dropdown__tab-container">
          <div class="form-check">
            <input
              id="export-certificates"
              v-model="exports.type"
              class="form-check-input"
              type="radio"
              value="certificate_report"
            >
            <label
              class="form-check-label"
              for="export-certificates"
            >{{ $translator.trans( 'Certificates' ) }}</label>
          </div>
          <div class="form-check">
            <input
              id="export-evaluations"
              v-model="exports.type"
              class="form-check-input"
              type="radio"
              value="multi_evaluations_report"
            >
            <label
              class="form-check-label"
              for="export-evaluations"
            >{{ $translator.trans( 'Evaluations' ) }}</label>
          </div>
          <!--          <div class="form-check">
            <input
              id="export-inscrits"
              class="form-check-input"
              type="radio"
              name="export-type"
            >
            <label
              class="form-check-label"
              for="export-inscrits"
            >{{ $translator.trans( 'Registered' ) }}</label>
          </div>-->
          <div class="form-check">
            <input
              id="export-presences"
              v-model="exports.type"
              class="form-check-input"
              type="radio"
              value="attendance_report"
            >
            <label
              class="form-check-label"
              for="export-presences"
            >{{ $translator.trans( 'Attendances' ) }}</label>
          </div>
          <div class="form-check">
            <input
              id="export-session"
              v-model="exports.type"
              class="form-check-input"
              type="radio"
              value="sessions_export"
            >
            <label
              class="form-check-label"
              for="export-session"
            >{{ $translator.trans( 'Sessions' ) }}</label>
          </div>
          <div class="form-check">
            <input
              id="export-registered-session"
              v-model="exports.type"
              class="form-check-input"
              type="radio"
              value="export_registered_session"
              @click="updateTodayDate(true)"
            >
            <label
              class="form-check-label"
              for="export-registered-session"
            >{{ $translator.trans( 'Registered' ) }}</label>
          </div>
          <!--          <div class="form-check">-->
          <!--            <input-->
          <!--              id="export-doc-dedagogiques"-->
          <!--              class="form-check-input"-->
          <!--              type="radio"-->
          <!--              name="export-type"-->
          <!--            >-->
          <!--            <label-->
          <!--              class="form-check-label"-->
          <!--              for="export-doc-dedagogiques"-->
          <!--            >{{ $translator.trans( 'teaching materials' ) }}</label>-->
          <!--          </div>-->
        </div>
        <div class="col-sm-7 export-dropdown__detail">
          <div class="form__item mb-1">
            <div class="input-container d-flex align-items-center">
              <date-time-input
                v-model="exports.from"
                :placeholder="$translator.trans('From')"
                :disabled="exports.disabledDatePicker"
              />
            </div>
          </div>
          <div class="form__item mb-1">
            <div class="input-container d-flex align-items-center">
              <date-time-input
                v-model="exports.to"
                :placeholder="$translator.trans('To')"
                :disabled="exports.disabledDatePicker"
              />
            </div>
          </div>
          <div class="export-dropdown__file-type">
            <label>{{ $translator.trans('Export to') }}</label>
            <select
              v-model="exports.format"
              class="form-select form-control form-control-sm"
            >
              <option
                v-for="(model, index) in exportModelAvailable"
                :key="index"
                :value="model"
              >
                {{ model }}
              </option>
            </select>
          </div>
          <div
            v-if="exports.type !== 'sessions_export' && exports.type !== 'export_registered_session'"
            class="form-check export-dropdown__regroupement"
            :class="{disabled: !groupExportIsAvailable}"
          >
            <input
              id="export-dropdown-regroupement"
              v-model="exports.grouping"
              class="form-check-input"
              type="checkbox"
              :disabled="!groupExportIsAvailable"
              :class="{disabled: !groupExportIsAvailable}"
            >
            <label
              class="form-check-label"
              for="export-dropdown-regroupement"
            >
              {{ $translator.trans('Grouping') }}
              <img
                src="/build/static/icons/info.svg"
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                :title="$translator.trans('Generate an Excel (XLS) report where all attendance reports are grouped together in a single file.')"
              >
            </label>
          </div>
          <div
            v-if="exports.type === 'export_registered_session'"
            class="form-check"
            :class="{disabled: !groupExportIsAvailable}"
            @click="updateTodayDate(false)"
          >
            <input
              id="export-dropdown-registered-session"
              v-model="exports.sessionsToday"
              class="form-check-input"
              type="checkbox"
            >
            <label
              class="form-check-label"
              for="export-dropdown-registered-session"
            >
              {{ $translator.trans("Export today's sessions") }}
              <img
                src="/build/static/icons/info.svg"
              >
            </label>
          </div>
          <!--            <div class="form-check export-dropdown__daily-exportation">-->
          <!--              <input-->
          <!--                id="export-dropdown-daily-exportation"-->
          <!--                class="form-check-input"-->
          <!--                type="checkbox"-->
          <!--                value=""-->
          <!--              >-->
          <!--              <label-->
          <!--                class="form-check-label"-->
          <!--                for="export-dropdown-daily-exportation"-->
          <!--              >-->
          <!--                {{ $translator.trans('Export today\'s sessions') }}-->
          <!--              </label>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
      </fieldset>
      <fieldset class="row">
        <div class="col export-dropdown__footer">
          <span
            v-if="errorMessage !== null"
            class="text-danger mr-20"
          >
            {{ errorMessage }}
          </span>
          <!--                <a-->
          <!--                  class="export-dropdown__last-exports-btn"-->
          <!--                  role="button"-->
          <!--                >-->
          <!--                  <img-->
          <!--                    src="/build/static/icons/open-small.svg"-->
          <!--                  >-->
          <!--                  {{ $translator.trans('Last exports') }}-->
          <!--                </a>-->
          <button
            v-if="linkDownload !== null"
            class="btn btn-primary"
            @click.prevent="downloadExport"
          >
            {{ $translator.trans('Download File') }}
          </button>&nbsp;
          <submit-button
            :disabled="!isValid"
            :processing="processing"
            @click="submit"
          >
            {{ $translator.trans('Export') }}
          </submit-button>
        </div>
      </fieldset>
    </form>
  </div>
</template>

<script>
import DateTimeInput from '../ui/DateTimeInput'
import SubmitButton  from '../ui/SubmitButton'
import { mapGetters } from 'vuex'

export default {
  name:       'SessionExport',
  components: { DateTimeInput, SubmitButton },
  data () {
    return {
      errorMessage: null,
      processing: false,
      linkDownload: null,
      exports: {
        type: 'attendance_report',
        grouping: false,
        sessionsToday: false,
        disabledDatePicker: false,
        from: '',
        to: '',
        format: 'XLSX'
      }
    }
  },
  computed: {
    ...mapGetters({ currentUser: 'currentUser/getCurrentUser' }),
    isValid () {
      return ((this.exports.from !== null && this.exports.from.length > 0 &&
          this.exports.to !== null && this.exports.to.length > 0 &&
          !this.processing) || (this.exports.sessionsToday && this.exports.type === 'export_registered_session'))
    },
    groupExportIsAvailable () {
      return this.exports.format === 'XLSX'
    },
    exportModelAvailable () {
      let models = []
      switch (this.exports.type) {
        case 'certificate_report':
          models = ['PDF']
          break
        case 'sessions_export':
        case 'sessions_export_tpm':
          models = ['XLSX']
          break
        case 'multi_evaluations_report':
          models = ['XLSX', 'PDF']
          break
        case 'export_registered_session':
          models = ['XLSX', 'CSV']
          break
        default:
          models = ['PDF', 'XLSX', 'CSV']
      }

      return models
    }
  },
  watch: {
    'exports.type' () {
      this.exports.format = this.exportModelAvailable.length > 0
        ? this.exportModelAvailable[0]
        : null

      if (this.exports.type !== 'export_registered_session') {
        this.exports.sessionsToday = false
        this.exports.from = this.exports.to = ''
        this.exports.disabledDatePicker = false
      }
    }
  },
  methods: {
    downloadExport () {
      window.open(this.linkDownload, '_blank')
    },
    submit () {
      this.linkDownload = null
      this.processing = true
      const route = this.$routing.generate('_session_generate_archive')
      const routeExportsEvaluations = this.$routing.generate('_deferred_actions_task_export_evaluations_sessions')
      if (this.exports.type === 'multi_evaluations_report') {
        this.$axios.post(routeExportsEvaluations, this.exports)
          .then((response) => {
            window.location.href = this.$routing.generate('_session_viewer')
          })
          .catch((error) => {
            this.errorMessage = error.response.data.message.text
            throw new Error(error.response.data)
          })
          .finally(() => {
            this.processing = false
          })
      } else {
        this.$axios.post(route, this.exports)
          .then((response) => {
            const url = this.$routing.generate('_download_exports', {
              token: response.data.message
            })
            this.errorMessage = null
            this.linkDownload = url
          })
          .catch((error) => {
            this.errorMessage = error.response.data.message.text
          })
          .finally(() => {
            this.processing = false
          })
      }
    },
    updateTodayDate (stateSessionToday) {
      if (this.exports.sessionsToday === stateSessionToday) {
        const today = new Date()
        this.exports.from = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + (today.getDate())).slice(-2) + 'T00:00:00'
        this.exports.to = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + (today.getDate())).slice(-2) + 'T23:59:59'
        this.exports.disabledDatePicker = true
      } else {
        this.exports.disabledDatePicker = false
      }
    }
  }
}
</script>
