<template>
  <div>
    <div
      v-if="statusChangeForModal()"
    >
      <submit-button
        class="primary-btn"
        :processing="processing"
        role="button"
        data-bs-target="#confirmationPopIn_sentEmailId"
        data-bs-toggle="modal"
      >
        <img
          alt="check-white image"
          src="/build/static/icons/check-white.svg"
          class="me-2"
        >
        {{ $translator.trans( 'Save' ) }}
      </submit-button>

      <confirmation-pop-in
        id="sentEmailId"
        :title="$translator.trans('Sending a corrective email to participants')"
        :content="$translator.trans('Your session has been changed, you have the option to send a corrective email to participants with this new data. What would you like to do?')"
        :confirm="() => submitSession(true)"
        :cancel="() => submitSession(false)"
        cancel-message="Do not send email"
        confirm-message="Send an email"
      />
    </div>
    <div
      v-else
    >
      <submit-button
        class="primary-btn"
        :processing="processing"
        @click="submitSession(true)"
      >
        <img
          alt="check-white image"
          src="/build/static/icons/check-white.svg"
          class="me-2"
        >
        {{ $translator.trans( 'Save' ) }}
      </submit-button>
    </div>
  </div>
</template>

<script>

import FormValidationMixin from '../../mixin/FormValidationMixin'
import eventBus            from '../../eventBus'
import SubmitButton        from '../ui/SubmitButton'
import { mapGetters } from 'vuex'
import { DateTime } from 'luxon'
import ConfirmationPopIn from '../ui/PopIn/ConfirmationPopIn.vue'
import { saveSession } from '../../repository/session'

export default {
  name: 'SessionSubmit',
  components: { ConfirmationPopIn, SubmitButton },
  mixins:     [FormValidationMixin],
  data () {
    return {
      processing :false,
      changeDataTarget :false,
      sessionName: null,
      sessionLanguage: null,
      sessionPersonalizedContent: null,
      sessionDateStart: null,
      sessionDuration: null,
      modalShow: false,
      sessionJoinSessionWebUrl: null,
      sessionConnectionInformation: null,
      sessionLocation: null,
      sessionAnimatorInformation: null
    }
  },
  computed: {
    ...mapGetters({ session: 'session/getSession' })
  },
  mounted () {
    this.sessionName = this.session.name
    this.sessionLanguage = this.session.language
    this.sessionPersonalizedContent = this.session.personalizedContent

    this.sessionDateStart = DateTime.fromISO(this.session.dateStart)
      .toLocaleString(DateTime.DATETIME_FULL)
    this.sessionDuration = this.session.duration
    if (this.session.abstractProviderConfigurationHolder.type === 'white_connector') {
      this.sessionJoinSessionWebUrl = this.session.joinSessionWebUrl
      this.sessionConnectionInformation = this.session.connectionInformation
      this.sessionLocation = this.session.location
      this.sessionAnimatorInformation = this.session.sessionConnectionInformation
    }
  },
  methods: {
    statusChangeForModal () {
      let launchModal = false
      if (this.session.running || this.session.readableState === 'Sent') {
        if (this.sessionName !== this.session.name || this.sessionLanguage !== this.session.language || this.sessionPersonalizedContent !== this.session.personalizedContent || this.sessionConnectionInformation !== this.session.connectionInformation) {
          launchModal = true
        }
        const dateStart = DateTime.fromISO(this.session.dateStart)
          .toLocaleString(DateTime.DATETIME_FULL)
        if (this.sessionDateStart !== dateStart || this.sessionDuration !== this.session.duration) {
          launchModal = false
        }
        if (this.session.abstractProviderConfigurationHolder.type === 'white_connector' && this.session.readableState === 'Sent') {
          if (this.sessionJoinSessionWebUrl !== this.session.joinSessionWebUrl) {
            launchModal = false
          }
        }
      }
      this.modalShow = launchModal
      return launchModal
    },
    submitSession (sendEmail) {
      this.processing = true
      if (this.statusChangeForModal()) {
        this.modalShow = false
      }

      const session = this.$store.getters['session/getSession']

      saveSession(session, sendEmail).then((response) => {
        this.resetFormErrors()
        if ('data' in response && 'message' in response.data) {
          if ('success' in response.data.message && response.data.message.success) {
            eventBus.$emit('SESSION_UPDATED')
          } else if ('message' in response.data.message) {
            this.addFormError(response.data.message.message)
          } else {
            this.addFormError('An error occurred, session not updated')
          }
        } else {
          this.addFormError('An error occurred, session not updated')
        }
      })
        .catch((error) => {
          this.addFormError('An error occurred, the session was not updated.')

          if (error.response.data?.message?.text !== undefined) {
            this.addFormError(error.response.data?.message?.text)
          }
        })
        .finally(() => {
          this.processing = false
        })
    }
  }
}
</script>
