{% extends 'main.html.twig' %}
{% set routeActive = '_dashboard_index' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard-current-session') }}
    {{ encore_entry_link_tags('widget-news') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard-current-session') }}
    {{ encore_entry_script_tags('widget-news') }}
{% endblock %}

{% block main %}
    <header>
        <div class="wrapper-header d-flex align-items-start justify-content-between mb-5">
            <div class="wrapper-header__infos">
                <div class="wrapper-header__infos__title d-flex align-items-center mb-13">
                    <h1>{{ 'Hello %username%'|trans({'%username%': app.user.fullName}) }}</h1>
                </div>
                <div class="wrapper-header__infos__notifications d-flex align-items-center">
                    <div class="wrapper-header__infos__notifications__errors-mails d-flex align-items-center">
                        <img src="{{ asset('build/static/icons/error_email.svg') }}" class="me-2" />
                        <span>{{ '%count% mails in error'|trans({'%count%': countMailInError}) }}</span>
                        <img style="margin-left: 20px" src="{{ asset('build/static/icons/question.svg') }}" data-bs-placement="right" data-bs-toggle="tooltip" title="{{ "See the number of emails that have not reached their recipients for your today's and upcoming sessions in order to correct them and send their convocations as soon as possible"|trans }}">
                    </div>
                    <!--
                    <div class="wrapper-header__infos__notifications__errors-sessions d-flex align-items-center">
                        <img src="{{ asset('build/static/icons/error_session.svg') }}" class="me-2" />
                        <span>{{ '%count% errors onto your running and incoming session'|trans({'%count%': '12'}) }}</span>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </header>

    <div class="col-md-12">
        {% include('flash_messages.html.twig') %}
    </div>

    <section id="wrapper-content-sessions" class="wrapper-content-sessions wrapper-content-dashboard-stats">
        <div class="row">
            <div class="col-lg-12 col-xl-8 mr-auto">
                <div class="wrapper-content-sessions__current">
                    <div class="wrapper-content-sessions__current__title d-flex align-items-center">
                        <h2 class="me-2">{{ 'Running and incoming sessions'|trans }}</h2>
                        <div class="wrapper-content-sessions__current__title__count d-flex align-items-center justify-content-center">
                            <span data-testselector="global_count_session">{{ currentSession|length }}</span>
                        </div>
                        <a href="{{ url('_session_create_from_wizard') }}" class="primary-btn wrapper-content-sessions__current__title__new">
                            <img src="{{ asset('build/static/icons/plus-white.svg') }}" class="me-2"> {{ 'New'|trans }}
                        </a>
                    </div>
                    <div class="data-list mt-4" id="current-session">
                        <current-session
                            :current-session="{{ currentSession | serialize('json', {'groups': 'read_session_list'})}}"
                            :user="{{ app.user | serialize('json', {'groups': 'read_user_session_list'}) }}">
                        </current-session>
                    </div>
                    <div class="wrapper-content-sessions__current__all d-flex justify-content-end mt-30">
                        <a href="{{ url('_session_viewer') }}" class="btn btn-primary" role="button">{{ 'Display all running and incoming sessions'|trans }}</a>
                    </div>
                </div>

                <hr class="mt-56 mb-60">

                <div class="wrapper-content-dashboard-stats__session wrapper-container">
                    <div class="wrapper-content-sessions__current__title d-flex align-items-center mb-20">
                        <h2 class="me-2">{{ 'Running and incoming sessions statistics'|trans }}</h2>
                    </div>
                    <div class="wrapper-content-dashboard-stats__session__content d-flex">
                        <div class="wrapper-content-dashboard-stats__session__content__count col my-2">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <div class="wrapper-content-dashboard-stats__session__content__count__total reduced-centered">
                                    <h4>{{ 'Sessions'|trans }}</h4>
                                </div>
                                <div class="wrapper-content-dashboard-stats__session__content__count__round green d-flex align-items-center justify-content-center">
                                    <span data-testselector="count_session">{{ statistics.count_session }}</span>
                                </div>
                                <div class="wrapper-content-dashboard-stats__session__content__count__total reduced-centered d-flex align-items-center justify-content-center">
                                    <span data-testselector="tendancy_session">{{ calculateTendency(currentStatistics.count_session, pastStatistics.count_session) }}&nbsp;</span>
                                    <img src="{{ asset('build/static/icons/question.svg') }}" data-bs-placement="left" data-bs-toggle="tooltip" title="{{ 'This trend is calculated based on the next 30 days compared to the past 30 days'|trans }}">
                                </div>
                            </div>
                        </div>
                        <div class="wrapper-content-dashboard-stats__session__content__count col my-2">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <div class="wrapper-content-dashboard-stats__session__content__count__total reduced-centered">
                                    <h4>{{ 'Participants'|trans }}</h4>
                                </div>
                                <div class="wrapper-content-dashboard-stats__session__content__count__round bg-teal d-flex align-items-center justify-content-center">
                                    <span data-testselector="count_participant">{{ statistics.count_participant ?? 0 }}</span>
                                </div>
                                <div class="wrapper-content-dashboard-stats__session__content__count__total reduced-centered d-flex align-items-center justify-content-center">
                                    <span data-testselector="tendancy_participant">{{ calculateTendency(currentStatistics.count_participant|default(0), pastStatistics.count_participant|default(0)) }}&nbsp;</span>
                                    <img src="{{ asset('build/static/icons/question.svg') }}" data-bs-placement="left" data-bs-toggle="tooltip" title="{{ 'This trend is calculated based on the next 30 days compared to the past 30 days'|trans }}">
                                </div>
                            </div>
                        </div>
                        <div class="wrapper-content-dashboard-stats__session__content__count col my-2">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <div class="wrapper-content-dashboard-stats__session__content__count__total reduced-centered d-flex align-items-center justify-content-center">
                                    <h4>{{ 'Duration'|trans }}</h4>
                                    <img style="margin-left: 10px" src="{{ asset('build/static/icons/question.svg') }}" data-bs-placement="right" data-bs-toggle="tooltip" title="{{ 'Average session length calculated ...'|trans }}">
                                </div>
                                <div class="wrapper-content-dashboard-stats__session__content__count__round bg-teal d-flex align-items-center justify-content-center">
                                    <span data-testselector="average_duration">
                                        {% set duration = ( statistics.count_session == 0 ) ? 0 : (statistics.sum_duration / statistics.count_session) %}
                                        {{ duration|convertMinuteToReadable(app.user.client.defaultLang) }}
                                    </span>
                                </div>
                                <div class="wrapper-content-dashboard-stats__session__content__count__total reduced-centered d-flex align-items-center justify-content-center">
                                    <span data-testselector="total_duration">{{ 'Total duration :'|trans }} {{ statistics.sum_duration | default(0) |convertMinuteToReadable(app.user.client.defaultLang) }}</span>
                                    <img style="margin-left: 5px" src="{{ asset('build/static/icons/question.svg') }}" data-bs-placement="left" data-bs-toggle="tooltip" title="{{ "Cumulative duration of today's and upcoming sessions"|trans }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-content-sessions__current__all d-flex justify-content-end mt-2">
                        <a href="{{ path('_statistics') }}" class="btn btn-primary" role="button">{{ 'View statistics' | trans }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xl-3" id="widget-news">
                <widget-news
                    :widget-news="{{ widgetNews | serialize('json', {'groups': 'read_widget_news'})}}"
                    :is-admin="{{ is_granted('ROLE_ADMIN')?'true':'false' }}"
                >
                </widget-news>
            </div>
        </div>
    </section>
{% endblock %}
