<template>
  <div class="w-100">
    <label for="template_places">{{ $translator.trans( 'Speaker.s' ) }}</label>
    <registration-page-speakers-list
      :session="session"
      :speakers="speakers"
      @removeSpeaker="updateSpeakers"
    />
    <div>
      <div
        class="mt-4"
        :data-bs-toggle="!templateReadOnly && 'modal'"
        :data-bs-target="!templateReadOnly && '#create_speaker_'"
        role="button"
      >
        <img
          src="/build/static/icons/add-filter.svg"
          alt="picto add filter"
          :title="$translator.trans('Add a new reminder date')"
          class="add-filter ms-3"
          style="width:16px;"
        >
        {{ $translator.trans( 'Add a speaker' ) }}
      </div>
    </div>
    <session-registration-page-speakers-modal
      id="create_speaker_"
      :session="session"
      @saveSpeaker="updateSpeakers"
    />
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import RegistrationPageSpeakersList from './SessionRegistrationPageSpeakersList.vue'
import SessionRegistrationPageSpeakersModal from './SessionRegistrationPageSpeakersModal.vue'
export default {
  name: 'SessionRegistrationPageSpeakers',
  components: { SessionRegistrationPageSpeakersModal, RegistrationPageSpeakersList },
  props: {
    session: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      speakers: this.session.speakers
    }
  },
  computed: {
    ...mapGetters({ templateReadOnly: 'session/templateReadOnly' })
  },
  methods: {
    updateSpeakers (speakers) {
      this.speakers = speakers
    }
  }
}
</script>
