<template>
  <section>
    <alert
      v-if="error"
      :text="error"
      type="danger"
    />
    <alert
      v-if="success"
      :text="success"
      type="success"
    />
    <div
      v-if="isUpdatedRegistrationPageInfos && session.finished"
      class="warning"
    >
      <div
        class="alert alert-dismissible align-items-start d-flex fade justify-content-between p-3 show"
        :class="`alert-warning`"
        role="alert"
      >
        <div v-html="$translator.trans( 'You have modified the Registration page configuration. Don\'t forget to save your changes.' )" />
        <div
          class="page-options-bar__item d-flex align-items-center"
          role="button"
        >
          <submit-button
            type="button"
            class="btn btn-primary"
            :processing="processing"
            @click="saveUpdatedFiled"
          >
            {{ $translator.trans('Save') }}
          </submit-button>
        </div>
      </div>
    </div>
    <div id="nav-required-fields">
      <div class="row mb-13">
        <h2>{{ $translator.trans('Registration page') }}</h2>
      </div>
      <div
        v-if="session.sessionTest"
        class="alert alert-info alert-dismissible"
      >
        {{
          $translator.trans('This is a test session and no action is allowed. Please do not share the registration link with your participants.')
        }}
      </div>
      <div
        v-if="!isRegistrationPageEnabled"
      >
        <div class="alert alert-warning alert-dismissible">
          {{
            $translator.trans('You do not have access to the registration page. To activate it, please contact your sales representative.')
          }}
        </div>
      </div>
      <hr>
      <p
        v-if="!hasRegistrationPageTemplate && isWebinar"
        class="alert alert-warning alert-dismissible mb-3"
      >
        {{
          $translator.trans('You can customize the content of this page on the "Registration" tab of your session sheet and get the place to broadcast to your guests so that they can register for the event')
        }}
      </p>
      <p
        v-if="!isWebinar"
        class="mb-3 alert alert-warning alert-dismissible"
      >
        {{ $translator.trans('Adding a registration page is only possible on Webinar type sessions') }}
      </p>
      <div class="row">
        <div class="col-lg-6">
          <div class="form__item">
            <label for="sessionTemplate">{{ $translator.trans('Sample registration page') }}</label>
            <select
              id="sessionTemplate"
              v-model="templateId"
              :disabled="templateReadOnly"
              name="sessionTemplate"
              class="form-control"
              @change="onChangeTemplate()"
            >
              <option
                :value="null"
              >
                {{ $translator.trans('Disable registration page') }}
              </option>
              <option
                v-for="template in templates"
                :key="template.id"
                :value="template.id"
              >
                {{ template.name }}
              </option>
            </select>
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              :title="$translator.trans('The registration page templates are configured in the Registration page menu')"
              alt=""
            >
          </div>

          <div class="form__item">
            <label for="template_places">{{ $translator.trans('Number of places') }}</label>
            <input
              id="template_places"
              v-model="session.providerSessionRegistrationPage.places"
              :disabled="templateReadOnly"
              name="template_places"
              class="form-control"
              :placeholder="$translator.trans('Unlimited')"
              type="number"
              @keyup="updateFiledStatus()"
            >
          </div>

          <div class="form__item">
            <label for="template_description_2">{{ $translator.trans('Description') }}</label>
            <input
              id="template_description_2"
              v-model="session.providerSessionRegistrationPage.description2"
              :disabled="templateReadOnly"
              name="template_description_2"
              class="form-control"
              type="text"
              @keyup="updateFiledStatus()"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              :title="$translator.trans('Up to 255 characters')"
            >
          </div>

          <div class="form__item">
            <session-registration-page-speakers
              :session="session"
            />
          </div>

          <div class="form__item">
            <session-registration-page-images
              :session="session"
              @update-filed-status="updateFiledStatus()"
            />
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form__item">
            <label for="template_link">{{ $translator.trans('Link to the registration page') }}</label>
            <div class="d-flex w-100 align-items-center">
              <input
                id="template_link"
                style="background: #E6E6E6;"
                disabled="disabled"
                name="template_link"
                class="form-control"
                type="text"
                :value="webLink"
              >
              <span
                class="input-group-text text-center"
                style="background: #E6E6E6;"
              >
                <button
                  v-clipboard:copy="webLink"
                  v-clipboard:success="onCopy"
                  :disabled="!oldTemplate"
                  class="btn m-0 p-0"
                  :class="{ 'copied' : copyStatus }"
                >
                  <img
                    style="margin-left: 0"
                    :src="'/build/static/icons/copy-green.svg'"
                  >
                </button>
              </span>
              <span
                class="input-group-text text-center"
                style="background: #E6E6E6;"
              >
                <button
                  :disabled="!oldTemplate"
                  class="btn m-0 p-0"
                  @click="openRegistrationPage"
                >
                  <img
                    style="margin-left: 0"
                    src="/build/static/icons/view.svg"
                    alt="picto view"
                  >
                </button>
              </span>
            </div>
          </div>

          <div class="form__item">
            <label for="template_description">{{ $translator.trans('Program') }}</label>
            <div class="position-relative w-100">
              <TinymceInput
                id="description"
                name="description"
                :is-disabled="templateReadOnly"
                class="w-100"
                style="padding-right: 26px"
                :on-change-callback="onChangePersonalizedContentCallback"
              >
                <template #default-value>
                  {{ session.providerSessionRegistrationPage.description }}
                </template>
              </TinymceInput>
              <img
                style="position:absolute;top: 8px;right: 32px;width: 24px; height: 24px; z-index: 1000"
                :type="!templateReadOnly ? 'button' : 'default'"
                src="/build/static/icons/ai.svg"
                data-bs-placement="right"
                :data-bs-toggle="!templateReadOnly ? 'tooltip' : false"
                :title="!templateReadOnly ? $translator.trans('Ask artificial intelligence to generate a description for your session') : false"
                alt=""
                @click="openSessionProgramIAModal"
              >
            </div>
          </div>
          <session-registration-template-description-i-a-modal
            :session="session"
            @search-description="searchNewDescription"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import Alert                    from '../../../ui/Alert.vue'
import SubmitButton             from '../../../ui/SubmitButton.vue'
import TinymceInput from '../../../ui/TinymceInput.vue'
import SessionRegistrationPageSpeakers from './SessionRegistrationPageSpeakers.vue'
import SessionRegistrationPageImages from './SessionRegistrationPageImages'
import { CATEGORY_SESSION_WEBINAR } from '../../../../store/module/session'
import SessionRegistrationTemplateDescriptionIAModal
  from '../SessionIAModal/SessionRegistrationTemplateDescriptionIAModal.vue'
import tinymce from '../../../../../js/tinymce.min'

export default {
  name: 'SessionRegistrationPage',
  components: {
    SubmitButton,
    Alert,
    SessionRegistrationTemplateDescriptionIAModal,
    TinymceInput,
    SessionRegistrationPageSpeakers,
    SessionRegistrationPageImages
  },
  data () {
    return {
      oldTemplate: null,
      templateId: null,
      processing: false,
      success: null,
      isUpdatedRegistrationPageInfos: false,
      error: null,
      copyStatus: false
    }
  },
  computed: {
    ...mapState('session', ['readOnly']),
    ...mapGetters({
      session: 'session/getSession',
      templateReadOnly: 'session/templateReadOnly',
      animators: 'session/getSessionAnimators',
      templates: 'session/getActiveTemplate'
    }),
    isRegistrationPageEnabled () {
      return this.session.client.enableRegistrationPage
    },
    webLink () {
      if (this.oldTemplate && (this.session.scheduled || this.session.finished || this.session.running)) {
        return location.origin + this.$routing.generate('_registration_page_weblink_home', {
          client: this.session.client.slug,
          session: this.session.id
        })
      }
      return ''
    },
    hasRegistrationPageTemplate () {
      return this.session.client.registrationPageTemplates.length > 0
    },
    isWebinar () {
      return this.session.category === CATEGORY_SESSION_WEBINAR
    }
  },
  mounted () {
    this.oldTemplate = this.session.registrationPageTemplateId
    this.templateId = this.session.registrationPageTemplateId
  },
  methods: {
    updateFiledStatus () {
      this.isUpdatedRegistrationPageInfos = true
    },
    onChangePersonalizedContentCallback (event, editor) {
      this.updateFiledStatus()
      this.session.providerSessionRegistrationPage.description = editor.getBody().innerHTML
    },
    onCopy: function (e) {
      this.copyStatus = true
      setTimeout(() => {
        this.copyStatus = false
      }, 5000)
    },
    openRegistrationPage () {
      window.open(this.webLink, '_blank')
    },
    onChangeTemplate () {
      this.updateFiledStatus()
      if (this.templateId) {
        this.session.registrationPageTemplateId = this.templateId
      } else {
        this.session.registrationPageTemplateId = null
      }
    },
    openSessionProgramIAModal () {
      this.updateFiledStatus()
      if (!this.templateReadOnly) { this.$bootstrap.Modal.getOrCreateInstance('#SessionRegistrationTemplateDescriptionIAModal').show() }
    },
    searchNewDescription (description) {
      const textarea = document.querySelector('textarea[name="description"]')
      tinymce.get(textarea.id).setContent(description)
      this.session.providerSessionRegistrationPage.description = description
      this.$bootstrap.Modal.getOrCreateInstance('#SessionRegistrationTemplateDescriptionIAModal').hide()
    },
    saveUpdatedFiled () {
      const route   = this.$routing.generate('_validate_registration_page_updated', { id: this.session.id })
      this.processing = true
      this.success = null
      this.$axios
        .post(
          route, {
            providerSessionRegistrationPagePlaces: this.session.providerSessionRegistrationPage.places,
            providerSessionRegistrationPageDescription: this.session.providerSessionRegistrationPage.description,
            providerSessionRegistrationPageDescription2: this.session.providerSessionRegistrationPage.description2,
            registrationPageTemplateBanner: this.session.registrationPageTemplateBanner,
            registrationPageTemplateIllustration: this.session.registrationPageTemplateIllustration,
            registrationPageTemplateId: this.session.registrationPageTemplateId
          }
        )
        .then(() => {
          this.isUpdatedRegistrationPageInfos = false
          this.error = null
          this.success = this.$translator.trans('The registration page configuration has been saved.')
          window.location.href = this.$routing.generate('_session_get', { id: this.session.id, tabName: 'SessionSelfRegistrationTab' })
        })
        .catch(() => {
          this.processing = true
          this.success = null
          this.error = this.$translator.trans('An error occurred while saving the registration page configuration. Please try again later.')
        })
        .finally(() => {
          this.processing = false
        })
    }
  }
}
</script>
