<template>
  <div class="data-list">
    <div class="data-list__header">
      <div class="data-list__header__item">
        {{ $translator.trans('Action') }}
      </div>
      <div class="data-list__header__item">
        {{ $translator.trans('Name') }}
      </div>
      <div class="data-list__header__item">
        {{ $translator.trans('Profile picture') }}
      </div>
    </div>
    <div class="table-content">
      <div
        v-for="speaker in speakersList"
        :key="speaker.id"
      >
        <session-registration-page-speakers-list-item
          :speaker="speaker"
          :session="session"
        />
      </div>
    </div>
  </div>
</template>
<script>
import SessionRegistrationPageSpeakersListItem from './SessionRegistrationPageSpeakersListItem.vue'
export default {
  name: 'SessionRegistrationPageSpeakersList',
  components: { SessionRegistrationPageSpeakersListItem },
  props: {
    speakers: {
      type: Array,
      required: false,
      default: () => []
    },
    session: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      currentSpeaker: {},
      speakersList: this.speakers
    }
  },
  watch: {
    speakers (val) {
      this.speakersList = val
    }
  }
}
</script>
