<template>
  <div class="w-100">
    <label for="template_pictures">{{ $translator.trans( 'Pictures' ) }}</label>
    <!--    {{ registrationPageTemplateBanner }}<br>
    {{ registrationPageTemplateIllustration }}-->

    <div class="row">
      <div class="col-md-12 col-lg-12">
        <loader
          v-if="loading.banner"
        />
        <template v-else>
          <div
            v-if="mysession.registrationPageTemplateBanner === null"
            class="form__item mb-3 col-12 justify-content-between"
          >
            <div class="form__item mb-0">
              <label>{{ $translator.trans('Banner') }}</label>
            </div>
            <input
              id="registration-page-template-banner"
              ref="banner"
              class="form-control w-90"
              type="file"
              :accept="IMAGE_FORMATS_FORMATTED"
              :disabled="templateReadOnly"
              @change="uploadFile($event,'banner')"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('Recommended size L: 1920px, H: 223px')"
            >
          </div>
          <div
            v-else
            class="mb-0 form__item"
          >
            <img
              class="img-fluid"
              style="width:250px;"
              :src="bannerUriData"
            >
            <div
              class="text-center cursor-pointer mt-2"
              @click="deleteBanner()"
            >
              <img src="/build/static/icons/delete-filter.svg">
              {{ $translator.trans('Delete banner') }}
            </div>
          </div>
          <span
            class="mt-1"
            style="font-size: 14px"
          >{{ $translator.trans('File format:') }} {{ IMAGE_FORMATS_STRING }}</span>
          <div
            v-if="errors.banner"
            class="invalid-feedback d-block"
          >
            {{ errors.banner }}
          </div>
        </template>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-12">
        <loader
          v-if="loading.illustration"
        />
        <template v-else>
          <div
            v-if="mysession.registrationPageTemplateIllustration === null"
            class="form__item mb-3 col-12 justify-content-between"
          >
            <div class="form__item mb-0">
              <label>{{ $translator.trans('Illustration') }}</label>
            </div>
            <input
              id="registration-page-template-drawing"
              ref="illustration"
              class="form-control w-90"
              type="file"
              :accept="IMAGE_FORMATS_FORMATTED"
              :disabled="templateReadOnly"
              @change="uploadFile($event,'illustration')"
            >
            <img
              src="/build/static/icons/question.svg"
              data-bs-placement="left"
              data-bs-toggle="tooltip"
              :title="$translator.trans('Recommended size L: 200px, H: 358px')"
            >
          </div>
          <div
            v-else
            class="mb-0 form__item"
          >
            <img
              class="img-fluid"
              style="width:250px;"
              :src="illustrationUriData"
            >
            <div
              class="text-center cursor-pointer mt-2"
              @click="deleteIllustration()"
            >
              <img src="/build/static/icons/delete-filter.svg">
              {{ $translator.trans('Change drawing') }}
            </div>
          </div>
          <span
            class="mt-1"
            style="font-size: 14px"
          >{{ $translator.trans('File format:') }} {{ IMAGE_FORMATS_STRING }}</span>
          <div
            v-if="errors.illustration"
            class="invalid-feedback d-block"
          >
            {{ errors.illustration }}
          </div>
        </template>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import Loader from '../../../ui/Loader.vue'
import { IMAGE_FORMATS, IMAGE_FORMATS_FORMATTED, IMAGE_FORMATS_STRING } from '../../../../utils/fileUpload.utils'
export default {
  name: 'SessionRegistrationPageImages',
  components: { Loader },
  props: {
    session: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      IMAGE_FORMATS: IMAGE_FORMATS,
      IMAGE_FORMATS_STRING: IMAGE_FORMATS_STRING,
      IMAGE_FORMATS_FORMATTED: IMAGE_FORMATS_FORMATTED,
      mysession: this.session,
      registrationPageTemplateBanner: this.session.registrationPageTemplateBanner,
      registrationPageTemplateIllustration: this.session.registrationPageTemplateIllustration,
      bannerUriData: '/uploads/registration_page_template/' + this.session.registrationPageTemplateBanner,
      illustrationUriData: '/uploads/registration_page_template/' + this.session.registrationPageTemplateIllustration,
      loading: {
        banner: false,
        illustration: false
      },
      errors: {
        banner: null,
        illustration: null
      }
    }
  },
  computed: {
    ...mapGetters({ templateReadOnly: 'session/templateReadOnly' })
  },
  methods: {
    updatePictures (pictures) {
      this.pictures = pictures
    },
    updateFile (src, file, preview) {
      switch (src) {
        case 'banner':
          this.mysession.registrationPageTemplateBanner = file
          this.bannerUriData = preview
          this.$emit('update-filed-status')
          break
        case 'illustration':
          this.mysession.registrationPageTemplateIllustration = file
          this.illustrationUriData = preview
          this.$emit('update-filed-status')
          break
      }
      this.$store.commit('session/setSession', this.mysession)
    },
    uploadFile (e, src) {
      this.loading[src] = true
      const files = e.target.files || e.dataTransfer.files

      if (files.length !== 1) {
        return
      }

      const formData = new FormData()
      formData.append('file', files[0])
      formData.append('format', IMAGE_FORMATS)

      const vm = this
      vm.error = null
      this.$axios.post(this.$routing.generate('_provider_session_upload_graphical_files'), formData, { headers: { 'Content-Type': 'multipart/form-data' } })
        .then((response) => {
          this.updateFile(src, response.data.message.filetarget, response.data.message.previewUri)
          this.loading[src] = false
        }).catch((error) => {
          this.loading[src] = false
          if ('response' in error && 'data' in error.response && 'message' in error.response.data && 'text' in error.response.data.message) {
            vm.error = error.response.data.message.text
            this.errors[src] = error.response.data.message.text
          } else {
            vm.error = this.$translator.trans('The ' + src + ' cannot be put online for an unknown reason.')
          }
        })
    },
    deleteBanner (src) {
      this.$emit('update-filed-status')
      this.mysession.registrationPageTemplateBanner = null
    },
    deleteIllustration (src) {
      this.$emit('update-filed-status')
      this.mysession.registrationPageTemplateIllustration = null
    },
    changeFile (src) {
      this.updateFile(src, null)
    }
  }
}
</script>
