<template>
  <div class="data-list__row">
    <div class="row__data">
      <img
        src="/build/static/icons/delete-filter.svg"
        @click="removeSpeaker(speaker)"
      >
    </div>
    <div
      class="row__data"
      data-bs-toggle="modal"
      :data-bs-target="'#update_speaker_'+ speaker.id"
      role="button"
      @click="loadSpeaker(speaker)"
    >
      <div class="d-flex flex-column">
        <strong class="fw-bold">
          {{ speaker.name }}
        </strong>
        <small v-if="speaker.title">{{ speaker.title }}</small>
        <small
          v-if="speaker.information"
          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%"
        >{{ speaker.information }}</small>
      </div>
    </div>
    <div class="row__data">
      <img
        v-if="!speaker.photo || speaker.photo !== 'null'"
        :src="fullPathProfilePicture(speaker.photo)"
        class="rounded-circle module-logo"
        style="width: 3rem;"
      >
    </div>
    <session-registration-page-speakers-modal
      :id="'update_speaker_'+ speaker.id"
      :session="session"
      :speaker="speaker"
      @saveSpeaker="updateSpeakers"
    />
  </div>
</template>
<script>
import SessionRegistrationPageSpeakersModal from './SessionRegistrationPageSpeakersModal.vue'
export default {
  name: 'SessionRegistrationPageSpeakersListItem',
  components: { SessionRegistrationPageSpeakersModal },
  props: {
    speaker: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    session: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  methods: {
    fullPathProfilePicture (photo) {
      return '/uploads/registration_page_template/' + photo
    },
    loadSpeaker (speaker) {
      return this.currentSpeaker = speaker
    },
    removeSpeaker (speaker) {
      this.$axios.post(this.$routing.generate('_provider_session_speaker_remove', { id: speaker.id }))
        .then((response) => {
          this.updateSpeakers(response.data.message[0])
        })
        .finally(() => {})
    },
    updateSpeakers (speakers) {
      this.$emit('removeSpeaker', speakers)
    }
  }
}
</script>
