{% extends 'main.html.twig' %}

{% set routeActive = '_registration_page_index' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('registration-page-template-editor') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('registration-page-template-editor') }}
{% endblock %}

{% block main %}
    <a class="button" href="{{ url('_registration_page_index') }}">
        {{ 'Back' | trans }}
    </a>

    <div id="template-editor">
        <template-editor
            :import-restrictions="{{ importRestrictions | serialize }}"
            :registration-page-template="{{ registrationPageTemplate|serialize('json', {'groups': 'ui:registration_page_template:read'}) }}">
        </template-editor>
    </div>
{% endblock %}
