{% extends 'main.html.twig' %}

{% set routeActive = '_registration_page_template_landing' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <a class="button" href="{{ url('_dashboard_index') }}">
        {{ 'Back' | trans }}
    </a>
    <div class="page-title">
        <h1>{{ title|trans }}</h1>
    </div>
    <div class="col-md-12">
        {% include('flash_messages.html.twig') %}
    </div>

    <div>
        <i>Cette option permet de créer des modèles pour gérer les pages d'inscription des sessions de catégorie Webinar. Pour en bénéficier, rapprochez-vous de votre conseiller commercial Live Session au plus vite.</i>
    </div>

{% endblock %}
