<template>
  <div class="col">
    <div class="mb-3">
      <h5 class="fw-bold title-underline title-underline-primary">
        {{ $translator.trans('Firstname') }}
      </h5>
    </div>

    <div class="mb-4 form__item">
      <label
        for="menu_register_form.firstname.label"
        class="form-label"
      >{{ $translator.trans('Field label') }}</label>
      <input
        id="menu_register_form.firstname.label"
        name="menu_register_form.firstname.label"
        disabled
        class="form-control"
        :placeholder="$translator.trans('Firstname')"
      >
    </div>

    <div class="mb-4 form__item">
      <label
        for="menu_register_form.firstname.placeholder"
        class="form-label disabled"
      >{{ $translator.trans('Substitution text') }}</label>
      <input
        id="menu_register_form.firstname.placeholder"
        name="menu_register_form.firstname.placeholder"
        disabled
        class="form-control"
        :placeholder="$translator.trans('Firstname')"
      >
    </div>
  </div>
</template>
<script>
export default {
  name: 'RegisterFormAppearanceFirstname'
}
</script>
