<template>
  <div class="row mt-5">
    <div class="position-relative d-flex align-items-center justify-content-start">
      <div class="position-relative">
        <h3>{{ $translator.trans('Registration form') }}</h3>
        <small class="mt-2">{{
          $translator.trans('You can customise certain fields on your registration page. These changes will not have any impact on the fields in the participant form.')
        }}</small>
      </div>
    </div>

    <div class="row mt-3">
      <register-form-appearance-lastname />
      <register-form-appearance-firstname />
      <register-form-appearance-company />
      <register-form-appearance-email />
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import RegisterFormAppearanceLastname from './RegisterFormAppearanceLastname.vue'
import RegisterFormAppearanceFirstname from './RegisterFormAppearanceFirstname.vue'
import RegisterFormAppearanceCompany from './RegisterFormAppearanceCompany.vue'
import RegisterFormAppearanceEmail from './RegisterFormAppearanceEmail.vue'

export default {
  name: 'RegisterFormAppearance',
  components: {
    RegisterFormAppearanceEmail,
    RegisterFormAppearanceCompany,
    RegisterFormAppearanceFirstname,
    RegisterFormAppearanceLastname
  },
  computed: {
    ...mapState('module', ['module'])
  }
}
</script>
