<template>
  <div class="col">
    <div class="mb-4 form__item">
      <label
        for="menu_register_form.email.label"
        class="form-label"
      >{{ $translator.trans('Field label') }}</label>
      <input
        id="menu_register_form.email.label"
        v-model="module.emailLabel"
        name="menu_register_form.email.label"
        class="form-control"
        :placeholder="$translator.trans('E-mail address')"
      >
    </div>

    <div class="mb-4 form__item">
      <label
        for="menu_register_form.email.placeholder"
        class="form-label"
      >{{ $translator.trans('Substitution text') }}</label>
      <input
        id="menu_register_form.email.placeholder"
        v-model="module.emailPlaceholder"
        name="menu_register_form.email.placeholder"
        class="form-control"
        :placeholder="$translator.trans('E-mail address')"
      >
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
  name: 'RegisterFormAppearanceEmail',
  computed: {
    ...mapState('module', ['module'])
  }
}
</script>
