<template>
  <div class="col">
    <div class="mb-3">
      <h5 class="fw-bold title-underline title-underline-primary">
        {{ $translator.trans('Lastname') }}
      </h5>
    </div>

    <div class="mb-4 form__item">
      <label
        for="menu_register_form.lastname.label"
        class="form-label disabled"
      >{{ $translator.trans('Field label') }}</label>
      <input
        id="menu_register_form.lastname.label"
        name="menu_register_form.lastname.label"
        disabled
        class="form-control"
        :placeholder="$translator.trans('Lastname')"
      >
    </div>

    <div class="mb-4 form__item">
      <label
        for="menu_register_form.lastname.placeholder"
        class="form-label disabled"
      >{{ $translator.trans('Substitution text') }}</label>
      <input
        id="menu_register_form.lastname.placeholder"
        name="menu_register_form.lastname.placeholder"
        disabled
        class="form-control"
        :placeholder="$translator.trans('Lastname')"
      >
    </div>
  </div>
</template>
<script>
export default {
  name: 'RegisterFormAppearanceLastname'
}
</script>
