<div class="user-avatar">
    {% set profile_picture_path = app.user.profilePictureFilename is not null ? asset('uploads/profile_pictures/' ~ app.user.profilePictureFilename) : null %}
    <live-session-user-avatar
            user-name="{{ userDisplayName(app.user) }}"
            profile-picture-path="{{ profile_picture_path }}"
            {% if size is defined %}:size="{{ size }}"{% endif %}
    ></live-session-user-avatar>
</div>