<div class="modal fade" id="addAccountUser" tabindex="-1" aria-labelledby="addAccountUserFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAccountUserFormModalLabel">{{ 'New user'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {{ form_start(form, {'attr': {'class': 'form'}, 'method': 'POST', 'action': path('_client_edit_account_manager_create', {'id': client.id, 'tab-name': 'clientAccountManagerList'})}) }}
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.preferredLang) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.phone) }}
                        {{ form_row(form.roles) }}
                    </div>
                </div>

                {{ form_rest(form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ 'Close'|trans }}</button>
                <button type="submit" class="btn btn-primary">{{ button_label|default('Save')|trans  }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
