<div class="data-list__row">
    <div class="row__data"><a href="" title="">{{ user.first_name }}</a></div>
    <div class="row__data"><a href="" title="">{{ user.last_name }}</a></div>
    <div class="row__data"><a href="" title="">{{ user.email }}</a></div>
    <div class="row__data"><a href="" title="">{{ user.reference }}</a></div>
</div>