{% extends 'main.html.twig' %}
{% set routeActive = '_user_list' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('users-list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('users-list') }}
{% endblock %}

{% block main %}
    <div class="page-title">
        <h1>{{ title|trans }}</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="#" class="primary-btn" data-bs-toggle="modal" data-bs-target="#userAdminFormModal">
                <img alt="plus white picto" src="{{ asset('build/static/icons/plus-white.svg') }}" class="me-2">
                {{ 'New'|trans }}
            </a>
        {% endif %}
    </div>
    <div class="col-md-12 mb-3">
        <em>
            {{ "View the list of existing client managers and super administrators on the platform, edit them, delete them" | trans }} <br/>
        </em>
    </div>
    <div class="col-md-12">
        {% include('flash_messages.html.twig') %}
    </div>
    <div id="users-list">
        <users-list :users="{{ users|serialize('json', {'groups': 'read_user'}) }}" :display-role="true" />
    </div>
{% endblock %}

{% block modals %}
    {% if is_granted('ROLE_ADMIN') %}
        {{ render(controller('App\\Controller\\UserController::createNewAdmin')) }}
    {% endif %}
{% endblock %}
