{% extends 'main.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('preferences-profil-form') }}
{% endblock %}

{% block main %}
    <div class="page-title">
        <h1>{{ title|trans }}</h1>
    </div>

    <div class="col-md-12">
        {% include('flash_messages.html.twig') %}
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row m-6">
                <div class="row">
                    <div class="col-12" id="preferences-profil-form">
                        <preferences-profil-form
                                :client-preferences="{{ user.client.preferences|serialize('json', {'groups': 'read_client'}) }}"
                                :user-preferences="{{ user.preferences|serialize('json', {'groups': 'read_user'}) }}"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
