{% extends 'main.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="page-title">
        <h1>{{ title|trans }}</h1>
    </div>

    {{ form_start(form, {'attr': { 'class': 'form' }}) }}

    <div class="row m-6">
        <fieldset class="col-12 col-md-4">
            {% include 'flash_messages.html.twig' %}
            <fieldset class="mb-4">
                {% include 'users/avatar.html.twig' %}
            </fieldset>

            <fieldset>
                <div class="mb-3 form__item">
                    {{ form_label(form.profilePicture) }}
                    {{ form_widget(form.profilePicture) }}
                    {% if app.user.profilePictureFilename is not null %}
                    <div class="mt-2">
                        <a href="{{ url('_user_profile_remove_picture') }}" class="btn btn-warning btn-block float-end">{{ 'Remove the current profile picture'|trans }}</a>
                    </div>
                    {% endif %}
                    {{ form_errors(form.profilePicture) }}
                </div>

            </fieldset>

            {{ form_row(form) }}

            <div class="row mt-3">
                <div class="col-12">
                    <input type="submit" class="btn btn-primary float-end mt-3" value="{{ 'Edit'|trans }}">
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
