{% extends 'main.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('update-password') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('update-password') }}
{% endblock %}

{% block main %}
    <div class="page-title">
        <h1>{{ title|trans }}</h1>
    </div>
    <div class="col-md-12">
        {% include('flash_messages.html.twig') %}
    </div>
    <div class="col-md-4 mt-5">
        <form name="update_user_password_form" method="post">
            {{ form_errors(form.oldPassword) }}
            {{ form_widget(form.oldPassword, {'attr': {'class': 'form-control', 'placeholder': 'Old password'|trans}}) }}
            <div id="update-password-form">
                <update-password-form></update-password-form>
            </div>

            {{ form_row(form._token) }}
        </form>
    </div>
{% endblock %}
