{% extends 'main.html.twig' %}

{% set endUrl = {} %}
{% set user = app.request.attributes.get('user') %}
{% set userLang = app.user.getPreferredLang() %}
{% if (app.request.attributes.get('_route') == '_participant_edit' or app.request.attributes.get('_route') == '_participant_create') %}
    {% set backUrl = '_participant_list' %}
    {% set title = 'Participant' %}
{% elseif app.request.attributes.get('_route') == '_user_bounce_edit' %}
    {% set backUrl = '_bounce_list' %}
    {% set title = 'Participant' %}
{% elseif app.request.attributes.get('_route') == '_admin_edit' or app.request.attributes.get('_route') == '_admin_create' %}
    {% set backUrl = '_user_list' %}
    {% set title = 'Administrator' %}
{% else %}
    {%  if app.request.attributes.has('client') %}
        {% set client = app.request.attributes.get('client') %}
    {% elseif (app.request.attributes.has('user')) %}
        {% set client = user.client %}
    {% endif %}

    {% set backUrl = '_client_edit' %}
    {% set endUrl = {'id': client.id, 'tab-name': 'clientAccountManagerListTab'} %}
    {% set title = 'User' %}
{% endif %}

{% block stylesheets %}
    {{ encore_entry_link_tags('sessions-viewer') }}
    {{ encore_entry_script_tags('webex-licence-form') }}
    {{ encore_entry_script_tags('webex-rest-licence-form') }}
    {{ encore_entry_script_tags('adobe-licence-form') }}
    {{ encore_entry_script_tags('microsoft-teams-licence-form') }}
    {{ encore_entry_script_tags('microsoft-teams-event-licence-form') }}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('sessions-viewer') }}
    {{ encore_entry_script_tags('webex-licence-form') }}
    {{ encore_entry_script_tags('webex-rest-licence-form') }}
    {{ encore_entry_script_tags('adobe-licence-form') }}
    {{ encore_entry_script_tags('microsoft-teams-licence-form') }}
    {{ encore_entry_script_tags('microsoft-teams-event-licence-form') }}
    {{ parent() }}
{% endblock %}

{% block main %}
    {% if creationMode is not defined %}
        <div class="mb-2">
            <a class="button" href="{{ path(backUrl, endUrl) }}">
                {{ 'Back' | trans }}
            </a>
        </div>
    {% endif %}

    <header>
        <div class="wrapper-header d-flex align-items-start justify-content-between mb-4">
            <div class="wrapper-header__infos">
                {% if creationMode is not defined %}
                    <div class="wrapper-header__infos__title d-flex align-items-center">
                        <h1>{{ user.lastName|upper }} {{ user.firstName|capitalize }}</h1>
                    </div>
                    <div class="wrapper-header__infos__updated">
                        {{ 'Reference N°'|trans }}
                        {{ user.reference }}
                        -
                        {{ 'Created on %created_at% - Modified on %updated_at%' | trans({
                            '%created_at%': user.createdAt()|format_date('medium', locale=userLang),
                            '%updated_at%': user.updatedAt()|format_date('medium', locale=userLang)
                        }) }}
                    </div>
                    <div class="data-list d-flex align-items-center">
                        {% if is_granted( 'ROLE_ADMIN' ) %}
                            <div class="session-numbers d-flex align-items-center mr-20">
                                <div class="d-flex align-items-center">
                                    <span>{{ user.client.name }}</span>
                                </div>
                            </div>
                            {% set userLiscences = user.hasLicence %}
                            {% if userLiscences %}
                                {% set organizerToolip = 'This participant is an organizer for the connector-s:'|trans  %}
                                {% set organizerToolip = organizerToolip ~ ' ' ~ userLiscences|join(', ') %}
                                <span
                                    class="badge bg-primary mr-20"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="left"
                                    data-bs-html="true"
                                    title="{{ organizerToolip }}"
                                > {{ 'Organizer' | trans }}</span>
                            {% endif %}
                            {% set userHasLicenceShraed = user.hasLicenceShared %}
                            {% if userHasLicenceShraed %}
                                {% set liscenceSharedTooltip = 'This participant is in shared license for the connector-s:'|trans  %}
                                {% set liscenceSharedTooltip = liscenceSharedTooltip ~ ' ' ~ userHasLicenceShraed|join(', ') %}
                                <span
                                        class="badge bg-primary mr-20"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="left"
                                        data-bs-html="true"
                                        title="{{ liscenceSharedTooltip }}"
                                > {{ 'Shared license' | trans }}</span>
                            {% endif %}
                        {% endif %}
                    </div>
                {% else %}
                    {{ title|trans }}
                {% endif %}
            </div>
        </div>
    </header>

    <section>
        <nav>
            <div class="nav nav-tabs mb-5" id="nav-tab-user" role="tablist">
                <a class="nav-item nav-link ps-0 active" id="nav-general-tab" data-toggle="tab"
                   href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">{{ 'General' | trans }}
                </a>
                {% if creationMode is not defined %}
                    <a class="nav-item nav-link ps-0" id="nav-session-tab" data-toggle="tab"
                       href="#nav-session" role="tab" aria-controls="nav-session" aria-selected="true">{{ 'Sessions' | trans }}
                    </a>
                {% endif %}
                {% if is_granted( 'ROLE_ADMIN' ) and (
                    (webexConfigurationHolders is defined and webexConfigurationHolders is not empty) or
                    (webexRestConfigurationHolders is defined and webexRestConfigurationHolders is not empty) or
                    (microsoftTeamsConfigurationHolders is defined and microsoftTeamsConfigurationHolders is not empty)  or
                    (microsoftTeamsEventConfigurationHolders is defined and microsoftTeamsEventConfigurationHolders is not empty)  or
                    (adobeConfigurationHolders is defined and adobeConfigurationHolders is not empty)
                ) %}
                    <a class="nav-item nav-link ps-0 admin-text-color" id="nav-connectors-tab" data-toggle="tab"
                       href="#nav-connectors" role="tab" aria-controls="nav-connectors" aria-selected="true">{{ 'Connectors' | trans }}
                    </a>
                {% endif %}
            </div>
        </nav>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% include 'flash_messages.html.twig' %}
        </div>
    </div>

    <div class="tab-content pb-4" id="nav-tab-client-form-tab">
        <div id="nav-general" class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav-general-tab" action="#general">
            <div class="col-md-12 mb-3">
                <em>
                    {{ "Find all user informations here" | trans }} <br/>
                </em>
            </div>
            {{ form_start(form, {'attr': {'class': 'form'}}) }}

            <div class="row m-6">
                <div class="col-12 col-md-6" >
                    {{ form_row(form.email) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.firstName) }}
                    {% if form.client is defined %}
                        {{ form_row(form.client) }}
                    {% endif %}
                    {% if form.emailReferrer is defined %}
                        {{ form_row(form.emailReferrer) }}
                    {% endif %}
                </div>
                <div class="col-12 col-md-6">
                    {% if form.company is defined %}
                        {{ form_row(form.company) }}
                    {% endif %}
                    {{ form_row(form.phone) }}
                    {{ form_row(form.preferredLang) }}
                    {% if form.company is defined %}
                        {{ form_row(form.information) }}
                    {% endif %}
                    {% if form.roles is defined %}
                        {{ form_row(form.roles) }}
                    {% endif %}
                </div>

                <div class="col-12 mt-3">
                    <input type="submit" class="btn btn-primary mb-3" name="save" value="{{ 'Save'|trans }}">
                </div>
            </div>

            {{ form_end(form)}}
        </div>

        {% if creationMode is not defined %}
            <div id="nav-session" class="tab-pane fade show" role="tabpanel" aria-labelledby="nav-session-tab" action="#session">
                {% set userSessionRoleMapping = ( sessionRoleMapping is empty ) ? '{}' : sessionRoleMapping|serialize('json') %}
                <section>
                    <div id="sessions-viewer">
                        <sessions-viewer
                            :is-admin="{{ is_granted('ROLE_ADMIN')?'true':'false' }}"
                            :user="{{ app.user | serialize('json', {'groups': 'read_user_session_list'}) }}"
                            :clients="{{ clients|serialize('json', {'groups': 'read_session_list'}) }}"
                            :user-session-role-mapping="{{ userSessionRoleMapping }}"
                            :bounced-mails="{{ bouncedMails|serialize('json', {'groups': 'read_participant'}) }}"
                            user-token="{{ app.user.token }}"
                            view="participant"
                            search-url="{{ path('_user_session_search', {id: app.request.attributes.get('user').id }) }}">
                        </sessions-viewer>
                    </div>
                </section>
            </div>
        {% endif %}

        {% if is_granted( 'ROLE_ADMIN' ) %}
            <div id="nav-connectors" class="tab-pane fade show" role="tabpanel" aria-labelledby="nav-connectors-tab" action="#connectors">
                <section>
                    {% if adobeConfigurationHolders is defined and adobeConfigurationHolders is not empty %}
                        <h3>{{ 'Adobe Connect organizer licence(s)'|trans }}</h3>
                        <div class="mt-2">
                            <div id="adobe-licence-form">
                                <adobe-licence-user-form
                                        :adobe-configuration-holders="{{ adobeConfigurationHolders|serialize('json', {'groups': 'read_adobe_user'}) }}"
                                        :user="{{ user | serialize('json', {'groups': 'read_adobe_user'}) }}"
                                        :read-only="{{ 'ROLE_ADMIN' in app.user.roles ? 'false' : 'true' }}"
                                ></adobe-licence-user-form>
                            </div>
                        </div>
                    {% endif %}
                    {% if webexConfigurationHolders is defined and webexConfigurationHolders is not empty %}
                        <h3>{{ 'Webex organizer licence(s)'|trans }}</h3>
                        <div class="mt-2">
                            <div id="webex-licence-form">
                                <webex-licence-user-form
                                    :webex-configuration-holders="{{ webexConfigurationHolders|serialize('json', {'groups': 'read_webex_user'}) }}"
                                    :user="{{ user | serialize('json', {'groups': 'read_webex_user'}) }}"
                                    :read-only="{{ 'ROLE_ADMIN' in app.user.roles ? 'false' : 'true' }}"
                                ></webex-licence-user-form>
                            </div>
                        </div>
                    {% endif %}
                    {% if webexRestConfigurationHolders is defined and webexRestConfigurationHolders is not empty %}
                        <h3>{{ 'Webex Rest organizer licence(s)'|trans }}</h3>
                        <div class="mt-2">
                            <div id="webex-rest-licence-form">
                                <webex-rest-licence-user-form
                                        :webex-rest-configuration-holders="{{ webexRestConfigurationHolders|serialize('json', {'groups': 'read_webex_rest_user'}) }}"
                                        :user="{{ user | serialize('json', {'groups': 'read_webex_rest_user'}) }}"
                                        :read-only="{{ 'ROLE_ADMIN' in app.user.roles ? 'false' : 'true' }}"
                                ></webex-rest-licence-user-form>
                            </div>
                        </div>
                    {% endif %}
                    {% if microsoftTeamsConfigurationHolders is defined and microsoftTeamsConfigurationHolders is not empty %}
                        <h3>{{ 'Microsoft Teams Organiser License(s)'|trans }}</h3>
                        <div class="mt-2">
                            <div id="microsoft-teams-licence-form">
                                <microsoft-teams-licence-user-form
                                        :microsoft-teams-configuration-holders="{{ microsoftTeamsConfigurationHolders|serialize('json', {'groups': 'read_microsoft_teams_user'}) }}"
                                        :user="{{ user | serialize('json', {'groups': 'read_microsoft_teams_user'}) }}"
                                        :read-only="{{ 'ROLE_ADMIN' in app.user.roles ? 'false' : 'true' }}"
                                ></microsoft-teams-licence-user-form>
                            </div>
                        </div>
                    {% endif %}
                    {% if microsoftTeamsEventConfigurationHolders is defined and microsoftTeamsEventConfigurationHolders is not empty %}
                        <h3>{{ 'Microsoft Teams Event Organiser License(s)'|trans }}</h3>
                        <div class="mt-2">
                            <div id="microsoft-teams-event-licence-form">
                                <microsoft-teams-event-licence-user-form
                                        :microsoft-teams-event-configuration-holders="{{ microsoftTeamsEventConfigurationHolders|serialize('json', {'groups': 'read_microsoft_teams_event_user'}) }}"
                                        :user="{{ user | serialize('json', {'groups': 'read_microsoft_teams_event_user'}) }}"
                                        :read-only="{{ 'ROLE_ADMIN' in app.user.roles ? 'false' : 'true' }}"
                                ></microsoft-teams-event-licence-user-form>
                            </div>
                        </div>
                    {% endif %}
                </section>
            </div>
        {% endif %}
    </div>
{% endblock %}
