{% extends 'blank_page_lobby_webinar.html.twig' %}

{% set userLang = app.user.getPreferredLang()|default('fr') %}

{% block body_classes_block %}
    {{ parent() }}
    session-detail-signature
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if error is not defined %}{{ encore_entry_link_tags('participant-form') }}{% endif %}

    <style>
        :root {
            --primary-color: {{ providerSession.client.color }};
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if error is not defined %}{{ encore_entry_script_tags('participant-form') }}{% endif %}
{% endblock %}

{% block header_title %}{{ title|trans }}{% endblock %}
{% block header_sub_title %}
    {% set dateStartLocalized = providerSession.dateStart()|format_datetime('full', 'short', locale=userLang) %}
    <span>{{ 'Reference n° %field_1% - %field_2% - Duration %field_3%'|trans({'%field_1%': providerSession.ref, '%field_2%': dateStartLocalized, '%field_3%': providerSession.datesDiffString}) }}</span>
{% endblock %}

{% block content_title %}{{ providerSession.name }}{% endblock %}

{% block content %}
    <div id="participant-form">
        <participant-form
                :evaluation-id="{{ evaluation.id }}"
                survey-id="{{ evaluation.surveyId }}"
                participant-token="{{ participantSessionRole.providerSessionAccessToken.token }}"
                participant-name="{{ participantSessionRole.firstName ~ ' ' ~ participantSessionRole.lastName }}"
                answer="{{ answer }}"
                locale="{{ providerSession.language }}"
                session-id="{{ providerSession.id }}">
        </participant-form>
    </div>
{% endblock %}
