<template>
  <div
    id="addOrUpdateCustomQuestionModal"
    ref="addOrUpdateCustomQuestionModal"
    class="modal fade"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5
            v-if="isUpdate"
            id="exampleModalLabel"
            class="modal-title"
          >
            {{ $translator.trans('Update a question') }}
          </h5>
          <h5
            v-else
            id="exampleModalLabel"
            class="modal-title"
          >
            {{ $translator.trans('Add a new custom question') }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div class="modal-body">
          <div class="col-md-8 col-lg-8">
            <div class="form__item">
              <label for="user-global-model-convocation">{{ $translator.trans('Input type') }}</label>
              <select
                v-model="newQuestion.type"
              >
                <option
                  v-for="(type) in inputTypes"
                  :key="type"
                  :value="type"
                >
                  {{ $translator.trans(utilHumanizeInputType(type)) }}
                </option>
              </select>
            </div>
            <div class="form__item">
              <label for="user-global-model-convocation">
                {{ $translator.trans('Label of question') }}
              </label>
              <input
                v-model="newQuestion.question"
                type="text"
                :placeholder="$translator.trans('Question')"
              >
            </div>
            <div
              v-if="utilsIsAvailableOptions(newQuestion)"
              class="form__item"
              style="margin-left: 25px"
            >
              <label for="user-global-model-convocation">
                {{ $translator.trans('Options') }}:
              </label>

              <span
                v-for="(option, index) in newQuestion.options"
                :key="index"
                class="col-12"
                style="margin-bottom: 10px"
              >
                <div class="row">
                  <div class="col me-3">
                    <input
                      v-model="option.response"
                      type="text"
                      :placeholder="$translator.trans('Option ') + (index+1)"
                    >
                  </div>
                  <div class="col-1 me-3">
                    <img
                      style="margin-top: 15px"
                      src="/build/static/icons/minus-filter.svg"
                      alt=""
                      @click="removeOption(index)"
                    >
                  </div>
                </div>
              </span>
              <br><br>
              <span
                style="color: #6cc91f"
                role="button"
                @click="addNewOption()"
              >
                <img
                  src="/build/static/icons/plus-green.svg"
                  alt=""
                >
                {{ $translator.trans('Add a nw option') }}</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="justify-content-end">
            <button
              type="button"
              class="btn btn-light"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              {{ $translator.trans('Close') }}
            </button>
            <submit-button
              v-if="isUpdate"
              @click="updateQuestion()"
            >
              {{ $translator.trans('To update') }}
            </submit-button>
            <submit-button
              v-else
              @click="addNewQuestion()"
            >
              {{ $translator.trans('Add') }}
            </submit-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SubmitButton from '../SubmitButton.vue'
import { mapState } from 'vuex'
import { utilHumanizeInputType, utilsIsAvailableOptions } from '../../../store/module/module'

export default {
  name: 'AddOrUpdateCustomQuestionModal',
  components: { SubmitButton },
  props: {
    isUpdate: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      newQuestion: {
        type: 'text',
        obligatory: false,
        displayed: true,
        order: 0,
        standard: false,
        response: '',
        options: [
          { response: '' }
        ],
        question: ''
      },
      inputTypes: ['checkbox', 'date', 'select', 'radio', 'number', 'text', 'email', 'textarea', 'tel'],
      modal : null
    }
  },
  computed: {
    ...mapState('module', ['module'])
  },
  mounted () {
    this.modal = this.$bootstrap.Modal.getOrCreateInstance(this.$refs.addOrUpdateCustomQuestionModal)
    this.$refs.addOrUpdateCustomQuestionModal.addEventListener('show.bs.modal', () => {
      this.reseatNewQuestion()
    })
    this.$refs.addOrUpdateCustomQuestionModal.addEventListener('hidden.bs.modal', () => {
      this.$emit('updateUpdate', false)
      this.reseatNewQuestion()
    })
  },
  methods: {
    utilHumanizeInputType,
    utilsIsAvailableOptions,
    updateQuestion () {
      this.modal.hide()
    },
    addNewQuestion () {
      this.newQuestion.order = this.module.registrationForm.length + 1
      this.module.registrationForm.push(this.newQuestion)
      this.modal.hide()
    },
    addNewOption () {
      this.newQuestion.options.push({})
    },
    removeOption (index) {
      this.newQuestion.options.splice(index, 1)
    },
    reseatNewQuestion () {
      this.$emit('updateUpdate', false)
      this.newQuestion = {
        type: 'text',
        obligatory: false,
        displayed: true,
        order: 0,
        standard: false,
        response: '',
        options: [{ response: '' }],
        question: ''
      }
    }
  }
}
</script>

<style scoped>

</style>
