<template>
  <pop-in
    id="edit_form_items_catalog_modal_"
    :title="$translator.trans(title)"
  >
    <template #content>
      <component
        :is="currentView"
      />
    </template>
    <template #footer>
      <button
        type="button"
        class="btn btn-light"
        data-bs-dismiss="modal"
      >
        {{ $translator.trans('Close') }}
      </button>
      &nbsp;
      <button
        type="button"
        class="btn btn-module-main btn-primary"
        data-bs-dismiss="modal"
        @click="edit = true"
      >
        {{ $translator.trans('Edit') }}
      </button>
    </template>
  </pop-in>
</template>

<script>
import PopIn from '../PopIn/PopIn.vue'
import RegisterFormAppearanceEmail
  from '../../self-subscription/module/Editor/Appearance/RegistrationForm/RegisterFormAppearanceEmail.vue'
import RegisterFormAppearanceCompany
  from '../../self-subscription/module/Editor/Appearance/RegistrationForm/RegisterFormAppearanceCompany.vue'
import { mapState } from 'vuex'

export default {
  name: 'EditFormItemsCatalogModal',
  components: { RegisterFormAppearanceCompany, RegisterFormAppearanceEmail, PopIn },
  props: {
    field: {
      type: String,
      require: true,
      default: null
    }
  },
  data () {
    return {
      edit: false,
      title: 'Edit Form Items Catalog',
      views: {
        RegisterFormAppearanceCompany,
        RegisterFormAppearanceEmail
      },
      oldData: {
        company: {
          label: null,
          placeholder: null
        },
        email: {
          label: null,
          placeholder: null
        }
      },
      currentView: 'RegisterFormAppearanceEmail'
    }
  },
  computed: {
    ...mapState('module', ['module'])
  },
  watch: {
    field: function (newField) {
      switch (newField) {
        case 'company':
          this.currentView = 'RegisterFormAppearanceCompany'
          this.title = 'Company'
          break
        case 'email':
          this.currentView = 'RegisterFormAppearanceEmail'
          this.title = 'Email address'
          break
      }
    }
  },
  mounted () {
    this.oldData = {
      company: {
        label: this.module.companyLabel,
        placeholder: this.module.companyPlaceholder
      },
      email: {
        label: this.module.emailLabel,
        placeholder: this.module.emailPlaceholder
      }
    }
    document.getElementById('edit_form_items_catalog_modal_').addEventListener('hidden.bs.modal', () => {
      if (!this.edit) {
        this.module.emailLabel = this.oldData.email.label
        this.module.emailPlaceholder = this.oldData.email.placeholder
        this.module.companyLabel = this.oldData.company.label
        this.module.companyPlaceholder = this.oldData.company.placeholder
      }
      this.edit = false
    })
  }
}
</script>

<style scoped>

</style>
