<template>
  <div
    :id="'changeOrderModal_'+subject.id"
    class="modal fade"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="d-flex flex-column align-items-start">
            <h5
              id="exampleModalLabel"
              class="modal-title"
            >
              {{ $translator.trans('New position') }}
            </h5>
          </div>
          <button
            aria-label="Close"
            class="btn-close"
            data-bs-dismiss="modal"
            type="button"
          />
        </div>
        <div class="modal-body">
          <p>
            {{ $translator.trans('You can now change the order in which topics are displayed in the catalog. Enter the new position of your subject. If you enter a position that is already occupied, the current topics will be moved down from your new position.') }}
          </p>
          <div class="row mt-4">
            <div class="col-4">
              <div class="mb-3">
                <label
                  for="orderInput"
                  class="form-label"
                >{{ $translator.trans('New position') }}</label>
                <input
                  id="orderInput"
                  v-model="orderSubject"
                  type="number"
                  class="form-control"
                  min="1"
                  :placeholder="$translator.trans('e.g., 2')"
                >
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-light"
            data-bs-dismiss="modal"
            type="button"
          >
            {{ $translator.trans('Undo') }}
          </button>
          <button
            v-if="!saving"
            class="btn btn-primary"
            type="button"
            @click="changeOrder()"
          >
            {{ $translator.trans('Valid') }}
          </button>
          <loader v-else />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Loader from '../Loader.vue'

export default {
  name: 'SubjectChangeOrderModal',
  components: { Loader },
  props: {
    subject: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      orderSubject: this.subject.orderInModule,
      saving: false
    }
  },
  methods: {
    changeOrder () {
      this.saving = true
      this.$axios.post(this.$routing.generate('_update_order_subject'), { idSubject: this.subject.id, newOrder : this.orderSubject })
        .finally(() => {
          this.saving = false
          window.location.href = this.$routing.generate('_module_edit', { id: this.subject.moduleId, viewTab: 'ContentTab' })
        })
    }
  }
}

</script>

<style scoped>

</style>
