<template>
  <form
    action=""
    class="form"
    @submit.prevent="submit"
  >
    <pop-in
      id="test_sms_communication_modal"
      :title="$translator.trans('Test SMS Communication')"
    >
      <template #content>
        <alert
          v-if="response"
          :text="response"
          type="success"
        />
        <alert
          v-if="error"
          :text="error"
          type="danger"
        />
        <div class="mb-3 form__item">
          <label
            for="recipient"
            class="form-label required"
          >{{ $translator.trans('Recipient') }}
          </label>
          <input
            id="recipient"
            v-model="recipient"
            type="tel"
            name="recipient"
            required="required"
            class="form-control"
          >
        </div>
        <alert
          v-if="emptyContent"
          :text="$translator.trans('It is impossible to test the sending of the SMS because the message body is empty.')"
          type="warning"
        />
      </template>
      <template #footer>
        <button
          type="button"
          class="btn btn-light"
          data-bs-dismiss="modal"
        >
          {{ $translator.trans('Close') }}
        </button>
        &nbsp;
        <loader v-if="loader" />
        <button
          v-else
          type="submit"
          class="btn btn-module-main btn-primary"
          :disabled="emptyContent"
        >
          {{ $translator.trans('Send') }}
        </button>
      </template>
    </pop-in>
  </form>
</template>
<script>
import PopIn from '../PopIn/PopIn.vue'
import Loader from '../Loader.vue'
import Alert from '../Alert.vue'

export default {
  name: 'TestSmsCommunicationModal',
  components: { Alert, Loader, PopIn },
  props: {
    communication: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      recipient: null,
      response: null,
      error: null,
      loader: false
    }
  },
  computed: {
    emptyContent () {
      return this.communication.content.length === 0
    }
  },
  mounted () {
    document.getElementById('test_sms_communication_modal').addEventListener('hidden.bs.modal', this.clean)
  },
  methods: {
    submit () {
      this.loader = true
      this.response = this.error = null
      this.$axios.post(this.$routing.generate('_communication_webinar_test_sms', { id: this.communication.id }), {
        recipient: this.recipient
      }).then(response => {
        this.response = this.$translator.trans(response.data.message)
      }).catch((error) => {
        this.error = this.$translator.trans(error.response.data.message.text)
      }).finally(() => {
        this.loader = false
      })
    },
    clean () {
      this.recipient = null
      this.response = null
    }
  }
}
</script>
