<template>
  <div />
</template>

<script>
import  { BASE_OPTION_REFINERS } from '@fullcalendar/vue'
import fullcalendarLocales from '@fullcalendar/core/locales-all'
import resourceTimelinePlugin from '@fullcalendar/resource-timeline'
import { Calendar } from '@fullcalendar/core'

BASE_OPTION_REFINERS.schedulerLicenseKey = String

export default {
  name: 'AvailabilityAdmin',
  props: {
    costumerProviders: {
      type: Array,
      required: true
    },
    eventSources: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      showModal: false,
      selectedHelpNeedModal: null,
      periodSelected: false,
      periodDateStart: null,
      periodDateEnd: null,
      locale: 'fr',
      copyStatus: false,
      helpNeeds: [],
      error: null,
      filter: {},
      successMessage: null,
      activeTab: 'PlanificationTab'
    }
  },
  computed: {
    calendarOptions () {
      return {
        plugins: [resourceTimelinePlugin],
        schedulerLicenseKey: '0584417715-fcs-1675762107',
        locales: fullcalendarLocales,
        locale: this.locale,
        initialView: 'resourceTimelineDay',
        scrollTimeReset: false,
        resourceAreaHeaderContent: this.$translator.trans('Service providers'),
        height: 800,
        aspectRatio: 1.5,
        headerToolbar: {
          left: 'prev,next',
          center: 'title',
          right: 'resourceTimelineDay,resourceTimelineWeek,resourceTimelineMonth'
        },
        editable: true,
        resources: this.costumerProviders,
        events: this.eventSources,
        eventClick: function (info) {
          // TODO : console.log('Événement cliqué :', info.event)
        }
      }
    }
  },
  mounted () {
    const calendarEl = this.$el
    const calendar = new Calendar(calendarEl, this.calendarOptions)
    calendar.render()
  }
}
</script>
