<template>
  <div>
    <div class="d-flex">
      <h3 v-if="isAssistanceType">
        {{ $translator.trans( 'Actual times of assistance' ) }}
        <img
          src="/build/static/icons/question.svg"
          data-bs-placement="right"
          data-bs-toggle="tooltip"
          :title="$translator.trans('Indicate the actual time of the assistance if it is different from the time originally planned.')"
          alt=""
        >
      </h3>
      <h3 v-else-if="isDirectNeed">
        {{ $translator.trans( 'Actual times of support' ) }}
        <img
          src="/build/static/icons/question.svg"
          data-bs-placement="right"
          data-bs-toggle="tooltip"
          :title="$translator.trans('Indicate the actual time of the support if it is different from the time originally planned.')"
          alt=""
        >
      </h3>
      <img
        class="ms-auto"
        src="/build/static/icons/click.png"
        data-bs-placement="right"
        data-bs-toggle="tooltip"
        :title="$translator.trans(isNotAssistance ? 'Channel hotliner Cliq' : 'Channel assistance Cliq')"
        alt=""
        role="button"
        style="width: 50px;height: 50px"
        @click="openCliq"
      >
    </div>
    <alert
      v-if="successMessage"
      type="success"
      :text="successMessage"
    />
    <alert
      v-if="error"
      :text="error"
      type="danger"
    />
    <br>
    <div class="row col">
      <div
        class="col-lg-1"
        style="margin-top: 5px"
      >
        {{ $translator.trans('from') }} :
      </div>
      <div class="col-md-6 col-lg-4">
        <datetime
          v-model="dateStartHelpTask"
          class="input-group datetime-picker-primary"
          type="datetime"
          :placeholder="$translator.trans('From')"
          :format="$dateTime.DATETIME_MED"
          input-id="user-convoc-date"
          :input-class="['date user-convoc-date form-control inline']"
          :phrases="{ok: $translator.trans( 'OK' ), cancel: $translator.trans( 'Cancel' )}"
          :use12-hour="false"
          auto
        >
          <template slot="after">
            <div class="input-group-text d-flex align-items-center justify-content-center">
              <img
                src="/build/static/icons/calendar-date-green.svg"
                class="calendar"
              >
            </div>
          </template>
        </datetime>
      </div>
      <div
        class="col-lg-1"
        style="margin-top: 5px"
      >
        {{ $translator.trans('to') }} :
      </div>
      <div class="col-md-6 col-lg-4">
        <datetime
          v-model="dateEndHelpTask"
          :placeholder="$translator.trans('To')"
          class="input-group datetime-picker-primary"
          type="datetime"
          :format="$dateTime.DATETIME_MED"
          input-id="user-convoc-date"
          :input-class="['date user-convoc-date form-control inline']"
          :phrases="{ok: $translator.trans( 'OK' ), cancel: $translator.trans( 'Cancel' )}"
          :use12-hour="false"
          auto
        >
          <template slot="after">
            <div class="input-group-text d-flex align-items-center justify-content-center">
              <img
                src="/build/static/icons/calendar-date-green.svg"
                class="calendar"
              >
            </div>
          </template>
        </datetime>
      </div>
      <div class="col-md-6 col-lg-2">
        <button
          class="btn btn-primary"
          role="button"
          @click="updateRealDuration"
        >
          <loader
            v-if="processing"
          />
          <span v-else>
            {{ $translator.trans("Save") }}
          </span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { Datetime }        from 'vue-datetime'
import Loader from '../ui/Loader'
import Alert from '../ui/Alert'
import { CLIC_CHANNEL_HOTLINER, CLIQ_CHANNEL_ASSIST, TYPE_DIRECT_NEED, TYPE_SUPPORT } from '../../utils/services.utils'

export default {
  name: 'DurationRealHelpTask',
  components: { Loader, Datetime, Alert },
  props: {
    helpTask: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      disabledUpdateRealTime : false,
      processing : false,
      dateStartHelpTask : this.helpTask.startReal,
      dateEndHelpTask : this.helpTask.endReal,
      error: null,
      successMessage: null
    }
  },
  computed: {
    isAssistanceType () {
      return (this.helpTask.helpNeed.type === 1)
    },
    isDirectNeed () {
      return (this.helpTask.helpNeed.type === 0)
    },
    isSupportType () {
      return (this.helpTask.helpNeed.type === 2)
    },
    isNotAssistance () {
      return [TYPE_DIRECT_NEED, TYPE_SUPPORT].includes(this.helpTask.helpNeed.type)
    }
  },
  methods: {
    updateRealDuration () {
      this.processing = true
      this.$axios.post(this.$routing.generate('_help_task_update_real_duration', { id: this.helpTask.id, dateStartReal: this.dateStartHelpTask, dateEndReal: this.dateEndHelpTask }))
        .catch((error) => {
          if ('message' in error.response.data) {
            this.error = this.$translator.trans(error.response.data.message.text)
          }
        })
        .then((response) => {
          this.successMessage = this.$translator.trans(response.data.message)
        })
        .finally(() => {
          this.disabledUpdateRealTime = true
          this.processing = false
        })
    },
    openCliq () {
      if (this.isNotAssistance) {
        window.open(CLIC_CHANNEL_HOTLINER, '_blank')
      } else {
        window.open(CLIQ_CHANNEL_ASSIST, '_blank')
      }
    }
  }
}
</script>
