<template>
  <div class="row">
    <hr>
    <live-session-survey-analytics
      ref="surveyGraph"
      :survey-id="surveyId"
      :answers="answers"
    />
  </div>
</template>

<script>

import LiveSessionSurveyAnalytics from '../Survey/LiveSessionSurveyAnalytics'

export default {
  name: 'EvaluationPerformanceAnimatorAnswerList',
  components: { LiveSessionSurveyAnalytics },
  props: {
    allEvaluationPerformanceAnimatorAnswer: {
      type: Array,
      required: false,
      default: () => []
    },
    answers: {
      type: Array,
      required: false,
      default: () => []
    },
    surveyId: {
      type: String,
      required: true
    }
  },
  mounted () {
    this.$refs.surveyGraph.updateTabulator()
  }
}
</script>
