<template>
  <div>
    <live-session-survey
      :survey-id="surveyId"
      :locale="locale"
      :answer="JSON.parse(answer)"
      @submitted="handleSubmitForm"
    />
  </div>
</template>

<script>
import LiveSessionSurvey from '../Survey/LiveSessionSurvey'

export default {
  name: 'EvaluationPerformanceAnimator',
  components: { LiveSessionSurvey },
  props: {
    evaluationId: {
      type: Number,
      required: true
    },
    animatorToken: {
      type: String,
      required: true
    },
    surveyId: {
      type: String,
      required: true
    },
    locale: {
      type: String,
      required: true
    },
    answer: {
      type: String,
      required: true
    }
  },
  methods: {
    handleSubmitForm (survey) {
      const toSaved = {}
      toSaved.data = survey.data
      toSaved.plainData = survey.getPlainData()

      this.$axios.post(this.$routing.generate('_animator_evaluation_answer_save', { id: this.evaluationId, token: this.animatorToken }),
        JSON.stringify(toSaved),
        {
          headers: {
            'Content-Type': 'application/json; charset=utf-8'
          }
        }
      )
    }
  }
}
</script>
