<template>
  <div class="row">
    <hr>
    <alert
      v-if="success"
      :text="$translator.trans('The form has been successfully saved.')"
      type="success"
    />
    <alert
      v-if="error"
      :text="$translator.trans('An error has occurred. Please try again later.')"
      type="danger"
    />
    <div class="col-6">
      <h6 class="mb-3 form-subtitle">
        {{ $translator.trans('Assistance Evaluation Form') }}
      </h6>
      <div class="data-list">
        <div class="data-list__header">
          <div class="data-list__header__item">
            {{ $translator.trans('Name') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Form ID') }}
          </div>
          <div class="data-list__header__item option" />
        </div>
        <div class="table-content">
          <div class="data-list__row">
            <div class="row__data">
              {{ $translator.trans(evaluationPerformance.name) }}
            </div>
            <div class="row__data">
              {{ evaluationPerformance.id }}
            </div>
            <div
              class="row__data option"
              data-bs-target="#previewEvaluationPerformance"
              data-bs-toggle="modal"
              role="button"
            >
              <img
                src="/build/static/icons/view.svg"
                alt="picto view"
              >
            </div>
          </div>
          <div class="data-list__row">
            <div class="row__data">
              {{ $translator.trans(evaluationPerformanceEnglish.name) }}
            </div>
            <div class="row__data">
              {{ evaluationPerformanceEnglish.id }}
            </div>
            <div
              class="row__data option"
              data-bs-target="#previewEvaluationPerformanceEnglish"
              data-bs-toggle="modal"
              role="button"
            >
              <img
                src="/build/static/icons/view.svg"
                alt="picto view"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h6 class="mb-3 form-subtitle">
        {{ $translator.trans('Logbook form') }}
      </h6>
      <div class="data-list">
        <div class="data-list__header">
          <div class="data-list__header__item">
            {{ $translator.trans('Name') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Form ID') }}
          </div>
          <div class="data-list__header__item option" />
        </div>
        <div class="table-content">
          <div class="data-list__row">
            <div class="row__data">
              {{ $translator.trans(logBook.name) }}
            </div>
            <div class="row__data">
              {{ logBook.id }}
            </div>
            <div
              class="row__data option"
              data-bs-target="#previewLogBook"
              data-bs-toggle="modal"
              role="button"
            >
              <img
                src="/build/static/icons/view.svg"
                alt="picto view"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="previewLogBook"
      class="modal fade"
      tabindex="-1"
    >
      <!--      === MODAL ===   -->
      <preview-evaluation-modal
        :key="logBook.id"
        :locale="langue"
        :survey-id-selected="logBook.id"
      />
      <!--      === MODAL ===   -->
    </div>
    <div
      id="previewEvaluationPerformance"
      class="modal fade"
      tabindex="-1"
    >
      <!--      === MODAL ===   -->
      <preview-evaluation-modal
        :key="evaluationPerformance.id"
        :locale="langue"
        :survey-id-selected="evaluationPerformance.id"
      />
      <!--      === MODAL ===   -->
    </div>
    <div
      id="previewEvaluationPerformanceEnglish"
      class="modal fade"
      tabindex="-1"
    >
      <!--      === MODAL ===   -->
      <preview-evaluation-modal
        :key="evaluationPerformanceEnglish.id"
        :locale="langue"
        :survey-id-selected="evaluationPerformanceEnglish.id"
      />
      <!--      === MODAL ===   -->
    </div>
    <div class="col-6 text-center">
      <fieldset class="form__fieldset fieldset-tertiary">
        <legend class="mb-6">
          {{ $translator.trans('Form Zoho Desk show') }}
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="right"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Form Zoho Desk')"
            alt=""
          >
          <br><br>
          <div
            v-html="zohoDeskFormCurent"
          />
        </legend>
      </fieldset>
    </div>
    <div class="col-6">
      <fieldset class="form__fieldset fieldset-tertiary">
        <legend class="mb-6">
          {{ $translator.trans('Update Zoho Desk Form') }}
          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="right"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Form Zoho Desk')"
            alt=""
          >
          <br><br>
          <div>
            <label>{{ $translator.trans('HTML Code') }}</label>
            <textarea
              v-model="zohoDeskFormCurent"
              :placeholder="$translator.trans('HTML Code')"
              class="form-control"
              style="min-height: 800px"
            />
          </div>
        </legend>

        <button
          class="btn btn-primary float-end"
          type="button"
          @click="updateHTMLCode()"
        >
          <loader v-if="processing" />
          <span v-else> {{ $translator.trans('To update') }} </span>
        </button>
      </fieldset>
    </div>
  </div>
</template>

<script>

import PreviewEvaluationModal from '../sessions/view-tab/evaluation/PreviewEvaluationModal'
import Alert                  from '../ui/Alert.vue'
import Loader                 from '../ui/Loader.vue'

export default {
  name: 'EvaluationPerformanceLogbook',
  components: {
    Alert,
    Loader,
    PreviewEvaluationModal
  },
  props: {
    evaluationPerformance: {
      type: Object,
      required: false,
      default: () => {}
    },
    evaluationPerformanceEnglish: {
      type: Object,
      required: false,
      default: () => {}
    },
    zohoDeskForm: {
      type: Object,
      required: false,
      default: () => {}
    },
    logBook: {
      type: Object,
      required: false,
      default: () => {}
    },
    langue: {
      type: String,
      required: false,
      default: 'fr'
    }
  },
  data () {
    return {
      zohoDeskFormCurent: this.zohoDeskForm.codeHTML,
      processing: false,
      success: false,
      error: false
    }
  },
  methods: {
    updateHTMLCode () {
      this.processing = true
      this.error = false
      this.success = false
      const formData = new FormData()
      formData.append('codeHTML', this.zohoDeskFormCurent)
      this.$axios.post(this.$routing.generate('_update_html_code_form_zoho_desk'), formData)
        .then(() => {
          this.success = true
          this.processing = false
        })
        .catch(() => {
          this.error = true
          this.processing = false
        })
    }
  }
}
</script>
