<template>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        {{ helpNeedTitle }}
      </h5>
    </div>
    <div class="modal-body">
      <div v-if="'session' in helpNeed">
        <help-need-session-info-modal :session="helpNeed.session" />
      </div>
      <div
        v-if="helpNeed && helpNeed.helpTasks.length > 0"
        class="mb-3 mt-3"
      >
        <h4>{{ $translator.trans('Provider already assigned:') }}</h4>
        <div
          v-for="helpTask in helpNeed.helpTasks"
          :key="helpTask.id"
          class="d-flex align-items-center justify-content-between"
        >
          <div>{{ helpTask.user.fullName }} - {{ helpTask.user.email }}</div>
          <div
            class="cursor-pointer"
            @click="unassignedUserToHelpNeed(helpTask.id)"
          >
            <img src="/build/static/icons/delete-filter.svg">
          </div>
        </div>
      </div>
      <div>
        {{ $translator.trans('Assign the request to:') }}
      </div>
      <select
        v-model="selectedProvider"
        name="provider-assigned"
        class="form-select form-control w-100"
      >
        <option
          v-for="provider in availableProviders"
          :key="provider.id"
          :value="provider.id"
        >
          {{ provider.acronym }} - {{ provider.fullName }} - {{ provider.email }}
        </option>
      </select>
      <div
        v-if="helpNeed.additionalInformation && helpNeed.additionalInformation.clientIds"
        class="my-3"
      >
        <h4>{{ $translator.trans('Accounts') }}</h4>
        <div
          v-for="client in helpNeed.additionalInformation.clientIds"
          :key="client.id"
          class="d-flex align-items-center justify-content-between"
        >
          <div>{{ client.name }}</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-light"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        {{ $translator.trans('Close') }}
      </button>
      <loader
        v-if="processing"
      />
      <div v-else>
        <button
          v-if="isHelpDirectlyAssigned"
          type="button"
          class="btn btn-danger"
          @click="deleteAHelpNeed"
        >
          {{ $translator.trans('Delete the service') }}
        </button>
        <button
          class="btn btn-primary"
          data-bs-dismiss="modal"
          type="button"
          @click="assignedUserToHelpNeed"
        >
          {{ $translator.trans('Valid') }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { DateTime } from 'luxon'
import Loader       from '../ui/Loader.vue'
import HelpNeedSessionInfoModal from './HelpNeedSessionInfoModal'

export default {
  name: 'HelpNeedAssignementModal',
  components: { Loader, HelpNeedSessionInfoModal },
  props: {
    fullCalendarEvent: {
      type: Object,
      required: true
    },
    availableProviders: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      event: this.fullCalendarEvent.event,
      helpNeed: this.fullCalendarEvent.extendedProps,
      selectedProvider: null,
      processing: false
    }
  },
  computed: {
    isHelpDirectlyAssigned () {
      return this.fullCalendarEvent.extendedProps.type === 0
    },
    helpNeedTitle () {
      let title = this.fullCalendarEvent.title
      if (this.isHelpDirectlyAssigned) {
        title = this.$translator.trans('Services provided')
      }
      return this.$translator.trans('%field_1% - %field_2% from %field_3% to %field_4%', {
        field_1:  title,
        field_2: DateTime
          .fromISO(this.fullCalendarEvent.startStr)
          .toLocaleString(DateTime.DATE_HUGE),
        field_3: DateTime
          .fromISO(this.fullCalendarEvent.startStr)
          .toLocaleString(DateTime.TIME_SIMPLE),
        field_4: DateTime
          .fromISO(this.fullCalendarEvent.endStr)
          .toLocaleString(DateTime.TIME_SIMPLE)
      })
    }
  },
  watch: {
    fullCalendarEvent (newValue, oldValue) {
      this.event = newValue.event
      this.helpNeed = newValue.extendedProps
    }
  },
  methods: {
    assignedUserToHelpNeed () {
      this.processing = true
      this.$emit('assigned-user-to-help-need', this.selectedProvider)
      this.processing = false
    },
    unassignedUserToHelpNeed (helpTaskId) {
      this.processing = true
      this.$emit('unassigned-user-to-help-need', helpTaskId)
      this.processing = false
    },
    deleteAHelpNeed () {
      this.processing = true
      this.$emit('delete-a-help-need')
      this.processing = false
    }
  }
}
</script>

<style scoped>

</style>
