<template>
  <div
    class="w-100 dropdown"
    @mouseenter="displayAction"
    @mouseleave="hideAction"
  >
    <div :class="{'d-none': !actionVisible}">
      <div
        class="btn-group btn-group-sm border-1 position-absolute top-0 end-0"
        role="group"
      >
        <div
          type="button"
          class="btn bg-white btn-outline-dark text-black"
        >
          <img src="/build/static/icons/pen-black.svg">
        </div>
        <div
          v-if="!isHelpDirectlyAssigned"
          type="button"
          class="btn bg-white btn-outline-dark text-black"
          @click="openSession"
        >
          <img src="/build/static/icons/eye-black.svg">
        </div>
      </div>
    </div>

    <div class="d-flex">
      <div
        class="session-option session-option-small text-black fs-6 ml-1"
        :class="{
          'warning': args.event.extendedProps.status === 1,
          'success': args.event.extendedProps.status === 2
        }"
      >
        <template v-if="args.event.extendedProps.type === 1">
          A
        </template>
        <template v-else-if="args.event.extendedProps.type === 2">
          S
        </template>
        <template v-else>
          P
        </template>
      </div>
      <div class="text-wrap">
        &nbsp;
        {{ $translator.trans(humanizeTypeSupport(args.event.extendedProps.additionalInformation.serviceType)) }}
        &nbsp;
        {{ args.event.extendedProps.helpTasks.map(task => task.user.fullName).join(', ') }}

        <template v-if="args.event.extendedProps.additionalInformation && args.event.extendedProps.additionalInformation.clientIds">
          {{ args.event.extendedProps.additionalInformation.clientIds.map(client => client.name).join(', ') }}
        </template>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelpNeedCalendarDetail',
  props: {
    args: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      actionVisible: false
    }
  },
  computed: {
    isHelpDirectlyAssigned () {
      return this.args.event.extendedProps.type === 0
    }
  },
  methods: {
    displayAction () {
      this.actionVisible = true
    },
    hideAction () {
      this.actionVisible = false
    },
    humanizeTypeSupport (supportType) {
      switch (supportType) {
        case 'hotline': return 'Hotline'
        case 'csc1': return 'CSC 1'
        case 'csc2': return 'CSC 2'
      }
    },
    openSession (event) {
      event.preventDefault()
      event.stopPropagation()
      if (!this.isHelpDirectlyAssigned) {
        window.open(this.$routing.generate('_session_get', { id: this.args.event.extendedProps.session.id }), '_blank')
      }
    }
  }
}
</script>

<style scoped>
.session-option-small {
  width: 16px;
  height: 16px;
  border-radius: 8px;
}
</style>
