<template>
  <div>
    <alert
      v-if="successMessage"
      type="success"
      :text="successMessage"
    />
    <alert
      v-if="error"
      :text="error"
      type="danger"
    />
    <help-need-filter
      :clients="clients"
      :helper-users="helperUsers"
      @filterChange="filterChange"
    />
    <div
      id="searchInActiveUser"
      class="search-switch text-end"
    >
      <span
        v-if="searchInActiveUser"
      >
        {{ $translator.trans('Active Provider') }}
      </span>
      <span
        v-else
      >
        {{ $translator.trans('All Providers') }}
      </span>
      <label
        class="switch"
        for="switch-active-search"
      >
        <input
          id="switch-active-search"
          v-model="searchInActiveUser"
          type="checkbox"
          name="switch-session-search"
          @click="changeActiveUser"
        >
        <span
          class="slider round"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          :title="$translator.trans('All Providers / Active Provider')"
        />
      </label>
    </div>
    <nav>
      <div
        id="nav-tab-user"
        class="nav nav-tabs mb-3"
        role="tablist"
      >
        <button
          id="nav-planification-tab"
          class="nav-link ps-0"
          :class="[{
            'active' : isActiveTab('PlanificationTab')
          }]"
          data-bs-toggle="tab"
          data-bs-target="#nav-participants"
          type="button"
          role="tab"
          @click="changeActiveTab('PlanificationTab')"
        >
          {{ $translator.trans('Planification') }}
        </button>
        <button
          id="nav-availability-tab"
          class="nav-link"
          :class="[{
            'active' : isActiveTab('AvailabilityTab')
          }]"
          data-bs-toggle="tab"
          data-bs-target="#nav-general"
          type="button"
          role="tab"
          @click="changeActiveTab('AvailabilityTab')"
        >
          {{ $translator.trans('Availability') }}
        </button>
      </div>
    </nav>
    <full-calendar
      v-if="activeTab === 'PlanificationTab'"
      ref="calendar"
      :options="calendarOptions"
      class="ls-fullcalendar"
    >
      <template #eventContent="args">
        <help-need-calendar-detail :args="args" />
      </template>
    </full-calendar>

    <availability-admin
      v-if="activeTab === 'AvailabilityTab'"
      :costumer-providers="costumerProviders"
      :event-sources="eventSourcesCostumerProviders"
    />
    <div>
      <div
        ref="modalHelpTask"
        aria-hidden="true"
        class="modal fade show"
        role="dialog"
        tabindex="-1"
      >
        <div class="modal-dialog">
          <help-need-assignement-modal
            v-if="selectedHelpNeedModal"
            v-model="availableProviders"
            :full-calendar-event="selectedHelpNeedModal"
            :available-providers="availableProviders"
            @unassigned-user-to-help-need="unassignedUserToHelpNeed"
            @assigned-user-to-help-need="assignedUserToHelpNeed"
            @delete-a-help-need="deleteAHelpNeeds"
          />
        </div>
      </div>
    </div>
    <div>
      <div
        ref="massAssignmentModal"
        aria-hidden="true"
        class="modal fade show"
        role="dialog"
        tabindex="-1"
      >
        <div class="modal-dialog">
          <mass-assignment-modal
            v-if="periodSelected"
            :period-date-start="periodDateStart"
            :period-date-end="periodDateEnd"
            :languages="languages"
            :clients="clients"
            :helper-users="availableProviders"
            :help-need-informations-clients="helpNeedInformationsClients"
            @massAssignFinish="endMassAssignProcess"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FullCalendar, { BASE_OPTION_REFINERS } from '@fullcalendar/vue'
import fullcalendarLocales from '@fullcalendar/core/locales-all'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'
import luxon2Plugin from '@fullcalendar/luxon2'
import Alert from '../ui/Alert'
import { DateTime } from 'luxon'
import HelpNeedFilter from './HelpNeedFilter'
import HelpNeedCalendarDetail from './HelpNeedCalendarDetail'
import HelpNeedAssignementModal from './HelpNeedAssignementModal'
import MassAssignmentModal           from './MassAssignmentModal'
import AvailabilityAdmin           from './AvailabilityAdmin.vue'

BASE_OPTION_REFINERS.schedulerLicenseKey = String

export default {
  name: 'HelpNeed',
  components: {
    HelpNeedAssignementModal,
    HelpNeedCalendarDetail,
    HelpNeedFilter,
    FullCalendar,
    Alert,
    MassAssignmentModal,
    AvailabilityAdmin
  },
  props: {
    clients: {
      type: Array,
      required: true
    },
    helperUsers: {
      type: Array,
      required: true
    },
    languages: {
      type: Object,
      required: true
    },
    costumerProviders: {
      type: Array,
      required: true
    },
    eventSourcesCostumerProviders: {
      type: Array,
      required: true
    },
    activeUser: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      showModal: false,
      selectedHelpNeedModal: null,
      searchInActiveUser: false,
      periodSelected: false,
      periodDateStart: null,
      periodDateEnd: null,
      availableProviders: [],
      availableProvidersUsers: [],
      helpNeedInformationsClients: {},
      locale: 'fr',
      copyStatus: false,
      helpNeeds: [],
      error: null,
      filter: {},
      successMessage: null,
      activeTab: 'PlanificationTab'
    }
  },
  computed: {
    calendarOptions () {
      const vm = this
      return {
        plugins: [luxon2Plugin, dayGridPlugin, timeGridPlugin, interactionPlugin],
        schedulerLicenseKey: '0104497368-fcs-1644222333',
        titleFormat: 'LLLL d, yyyy',
        locales: fullcalendarLocales,
        locale: this.locale,
        navLinks: true,
        nowIndicator: true,
        selectable: true,
        dayMaxEvents: true,
        initialView: 'timeGridWeek',
        weekNumbers: true,
        eventMaxStack: 4,
        eventMinHeight: 15,
        scrollTime: '08:00:00',
        scrollTimeReset: false,
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay' // timeGridWeek5Days
        },
        eventSources: this.eventSources,
        eventClick: function (info) {
          info.jsEvent.preventDefault()

          vm.selectedHelpNeedModal = info.event

          const assignedUserIds = vm.selectedHelpNeedModal.extendedProps.helpTasks.map((helpTask) => {
            return helpTask.user.id
          })
          vm.availableProviders = vm.helperUsers.filter(user => !assignedUserIds.includes(user.id))
          vm.$axios.get(vm.$routing.generate('_list_available_provider_users', { start: vm.selectedHelpNeedModal.extendedProps.start, end: vm.selectedHelpNeedModal.extendedProps.end }))
            .then((response) => {
              if ('data' in response) {
                vm.availableProviders = response.data
              }
              const modal = vm.$bootstrap.Modal.getOrCreateInstance(vm.$refs.modalHelpTask)
              modal.show()
            }).catch((response) => {
              vm.error = vm.$translator.trans('An error occurred, please try again later.')
            })
        },
        eventDidMount: function (info) {
          if (info.event.extendedProps.background) {
            info.el.style.background = info.event.extendedProps.background
          }
          info.el.style['border-color'] = info.event.extendedProps.border
        },
        select: function (period) {
          vm.periodSelected = true
          vm.periodDateStart = DateTime.fromJSDate(period.start).toString()
          vm.periodDateEnd = DateTime.fromJSDate(period.end).toString()
          vm.$axios.get(vm.$routing.generate('_list_available_provider_users', { start: vm.periodDateStart, end: vm.periodDateEnd }))
            .then((response) => {
              if ('data' in response) {
                vm.availableProviders = response.data
              }
            }).catch((response) => {
              vm.error = vm.$translator.trans('An error occurred, please try again later.')
            })
          vm.$axios.get(vm.$routing.generate('_help_need_informations_get', { start: vm.periodDateStart, end: vm.periodDateEnd }))
            .then((response) => {
              if ('data' in response && 'message' in response.data) {
                vm.helpNeedInformationsClients = response.data.message
              }
              const modal = vm.$bootstrap.Modal.getOrCreateInstance(vm.$refs.massAssignmentModal)
              vm.$refs.massAssignmentModal.addEventListener('hide.bs.modal', event => {
                vm.periodDateStart = ''
                vm.periodDateEnd = ''
              })
              modal.show()
            }).catch((response) => {
              vm.error = vm.$translator.trans('An error occurred, please try again later.')
            })
        }
      }
    },
    eventSources () {
      const vm = this
      return [
        {
          events (event, callback) {
            vm.error = null
            const query = vm.filter
            query.start = event.startStr
            query.end = event.endStr
            vm.$axios.get(vm.$routing.generate('_help_need_calendar_get', query))
              .then((response) => {
                if ('data' in response && 'message' in response.data) {
                  callback(Array.from(response.data.message, (helpNeed) => {
                    let color = '#fcf800'
                    if (helpNeed.type !== 0) {
                      color = helpNeed.client.color
                    }
                    return {
                      id: helpNeed.id,
                      borderColor: color,
                      title: vm.titleFromType(helpNeed.type),
                      start: helpNeed.start,
                      end: helpNeed.end,
                      // url: this.$routing.generate('_session_get', { id: session.id }),
                      extendedProps: helpNeed,
                      background: (helpNeed.helpTasks.length === 0) ? 'repeating-linear-gradient(45deg, transparent, transparent 10px, #f0f0f0 10px, #f0f0f0 20px)' : '',
                      border: color
                    }
                  }))
                }
              }).catch((response) => {
                vm.error = vm.$translator.trans('An error occurred during the display of service requirements')
              })
          }
        }
      ]
    }
  },
  mounted () {
    this.searchInActiveUser = this.activeUser
  },
  methods: {
    changeActiveUser () {
      window.location.href = this.$routing.generate('_help_need_calendar', { active: !this.searchInActiveUser })
    },
    isActiveTab (tabName) {
      return this.activeTab === tabName
    },
    changeActiveTab (tabName) {
      this.activeTab = tabName
    },
    endMassAssignProcess () {
      this.refreshEvents()
      const modal = this.$bootstrap.Modal.getOrCreateInstance(this.$refs.massAssignmentModal)
      modal.hide()
    },
    filterChange (filter) {
      this.filter = filter
      this.refreshEvents()
    },
    refreshEvents () {
      this.$refs.calendar.getApi().refetchEvents()
    },
    classesFromType (type) {
      switch (type) {
        case 1:
          return ['session-status-primary']
        case 2:
          return ['session-status-cyan']
        default:
          return ['session-status-grey']
      }
    },
    titleFromType (type) {
      switch (type) {
        case 1:
          return this.$translator.trans('Assistance')
        case 2:
          return this.$translator.trans('Support')
        case 3:
          return this.$translator.trans('Customer requirement')
      }
    },
    assignedUserToHelpNeed (selectedProvider) {
      this.$axios.post(this.$routing.generate('_help_need_assigned_user', { id: this.selectedHelpNeedModal.id, userId: selectedProvider }))
        .catch((error) => {
          if ('message' in error.response.data) {
            this.error = error.response.data.message.text
          }
        }).then((response) => {
          this.successMessage = response.data.message.message
          const helpTask = response.data.message.helpTask
          const existingHelpTasks = this.selectedHelpNeedModal.extendedProps.helpTasks.map((helpTask) => helpTask.id)
          if (!existingHelpTasks.includes(helpTask.id)) {
            this.selectedHelpNeedModal.extendedProps.helpTasks.push(helpTask)
          }
        }).finally(() => {
          this.refreshEvents()
        })
    },
    deleteAHelpNeeds () {
      this.$axios.post(this.$routing.generate('_help_need_delete', { id: this.selectedHelpNeedModal.id }))
        .catch((error) => {
          if ('message' in error.response.data) {
            this.error = error.response.data.message.text
          }
        }).then((response) => {
          this.successMessage = response.data.message.message
        }).finally(() => {
          const modal = this.$bootstrap.Modal.getOrCreateInstance(this.$refs.modalHelpTask)
          modal.hide()
          this.refreshEvents()
        })
    },
    unassignedUserToHelpNeed (helpTaskId) {
      this.$axios.post(this.$routing.generate('_help_need_unassigned_user', { id: helpTaskId }))
        .catch((error) => {
          if ('message' in error.response.data) {
            this.error = error.response.data.message.text
          }
        }).then((response) => {
          this.successMessage = response.data.message.message
          const index = this.selectedHelpNeedModal.extendedProps.helpTasks.findIndex((helpTask) => helpTask.id === helpTaskId)
          this.selectedHelpNeedModal.extendedProps.helpTasks.splice(index, 1)
        }).finally(() => {
          this.refreshEvents()
        })
    }
  }
}
</script>

<style lang="scss">
@import "assets/scss/modules/fullcalendar/fullcalendar";
</style>
