<template>
  <div class="wrapper-header">
    <div
      v-if="session"
      class="wrapper-header__infos"
    >
      <div class="wrapper-header__infos__title d-flex align-items-center">
        <h1>{{ sessionTitle }}</h1>
      </div>

      <p
        v-if="session.subject !== null"
        class="text-muted"
      >
        {{ $translator.trans('When a session is linked to a subject, the title of that session is automatically replaced by the title of the subject.') }}
      </p>

      <p class="wrapper-header__infos__desc">
        {{ subTitleFormatted }}
      </p>

      <div class="wrapper-header__infos__updated">
        {{ editionInformations }}
      </div>

      <div class="data-list d-flex align-items-center">
        <span
          :class="badgebackgroundClass"
        >
          {{ $translator.trans(session.readableState) }}
        </span>

        <span
          v-if="session.sessionTest"
          class="btn btn-info btn-sm"
          style="margin-right: 20px;"
          data-bs-placement="left"
          data-bs-toggle="tooltip"
          :title="$translator.trans('This session is a test. It won t be billed or counted in statistics.')"
        >
          {{ $translator.trans('Test') }}
        </span>

        <div class="session-numbers d-flex align-items-center mr-20">
          <div class=" d-flex align-items-center">
            <span>{{ session.client.name }}</span>
          </div>
        </div>

        <div class="session-numbers d-flex align-items-center mr-20">
          <div class=" d-flex align-items-center">
            <span>{{ session.language }}</span>
          </div>
        </div>

        <div
          v-if="session.subject"
          :class="'session-option'"
          class="mr-20"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          :title="session.titleAttachementModuleThemeSubject"
          role="button"
          :data-bs-original-title="session.titleAttachementModuleThemeSubject"
        >
          <img src="/build/static/icons/parcours-formation.svg">
        </div>

        <div class="session-numbers d-flex align-items-center">
          <div class="session-numbers__profile d-flex align-items-center">
            <img
              src="/build/static/icons/profile-black.svg"
              alt="picto profile"
            >
            <span>{{ session.animatorsOnly.length }}</span>
          </div>
          <div class="session-numbers__groups d-flex align-items-center">
            <img
              src="/build/static/icons/groupe-black.svg"
              alt="picto groupe"
            >
            <span>{{ session.traineesOnly.length }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { DateTime } from 'luxon'

export default {
  name: 'HelpNeedSessionInfoModal',
  props: {
    session: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  computed: {
    sessionTitle () {
      if (this.session.subject !== null) {
        return this.session.subject.name
      }
      return this.session.name
    },
    subTitleFormatted () {
      return this.$translator.trans('Reference n° %field_1% - %field_2%, %field_3% - Duration %field_4%', {
        field_1: this.session.ref,
        field_2: DateTime
          .fromISO(this.session.dateStart)
          .toLocaleString(DateTime.DATE_HUGE),
        field_3: DateTime
          .fromISO(this.session.dateStart)
          .toLocaleString(DateTime.TIME_SIMPLE),
        field_4: this.session.datesDiffString
      })
    },
    editionInformations () {
      return this.$translator.trans('Created on %field_1% by %field_2% - Modified on %field_3%', {
        field_1: DateTime
          .fromISO(this.session.createdAt)
          .toLocaleString(DateTime.DATE_MED),
        field_2: (this.creatorName),
        field_3: DateTime
          .fromISO(this.session.updatedAt)
          .toLocaleString(DateTime.DATE_MED)
      })
    },
    creatorName () {
      if (this.session.createdBy) {
        return (this.session.createdBy.lastName ?? '') + ' ' + (this.session.createdBy.firstName ?? '')
      }

      return ''
    },
    badgebackgroundClass () {
      let backgroundClasses = ''
      if (this.session.running || this.session.readableState === 'Sent') {
        backgroundClasses = ' bg-primary'
      } else if (this.session.scheduled) {
        backgroundClasses = ' bg-program'
      }

      return 'mr-20 badge' + backgroundClasses
    }
  }
}
</script>

<style scoped>

</style>
