<template>
  <div class="wrapper-header mb-5">
    <div class="wrapper-header__infos mb-5">
      <div class="wrapper-header__infos__title d-flex align-items-center">
        <h1>
          {{ helpNeedTitle }}
        </h1>
      </div>
    </div>
    <div v-if="isDirectNeed">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <fieldset class="form__fieldset ps-0">
                <h1>
                  {{ $translator.trans(humanizeTypeSupport(helpNeed.additionalInformation.serviceType)) }}
                </h1>
                <span>{{ $translator.trans('Language') }} : {{ $translator.trans(humanizeLanguage(helpNeed.additionalInformation.language)) }}</span>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <fieldset class="form__fieldset ps-0">
                <h3>{{ $translator.trans('Account concerned') }} : {{ accountConcernedTitre }}</h3> <br>
                <div class="data-list">
                  <div class="table-content">
                    <div
                      v-for="(account, index) in accountConcerned"
                      :key="index"
                      class="data-list__row"
                    >
                      <div class="row__data">
                        <h4> {{ account }}</h4>
                      </div>
                      <div
                        class="row__data option"
                        role="button"
                        @click="openAccount(index)"
                      >
                        <img
                          src="/build/static/icons/view.svg"
                          alt="picto view"
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-10">
              <duration-real-help-task
                :help-task="helpTask"
              />
            </div>
          </div>
        </div>
        <div class="col">
          <fieldset class="form__fieldset">
            <div
              v-html="zohoDeskForm.codeHTML"
            />
          </fieldset>
        </div>
      </div>
    </div>

    <div v-if="helpNeed.type === 1">
      <hr>
      <div class="d-flex justify-content-start">
        <taking-assistance-button
          :help-task="helpTask"
        />
        <button
          v-if="isAssistanceType"
          class="btn btn-primary ms-3"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#logBook"
        >
          {{ $translator.trans('Log Book') }}
        </button>

        <div
          id="logBook"
          class="modal fade"
          tabindex="-1"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <live-session-survey
                  :survey-id="logBookSurveyId"
                  :locale="locale"
                  :answer="JSON.parse(answer)"
                  @submitted="handleSubmitForm"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Prise d'assistance ? -->
    <div
      v-if="isAssistanceType"
      class="justify-content-start col-6"
      style="margin-top: 35px"
    >
      <duration-real-help-task
        :help-task="helpTask"
      />
    </div>
    <hr v-if="isAssistanceType">
    <session-header
      v-if="!isDirectNeed"
      :has-bounce="false"
    />

    <session-tabs
      v-if="!isDirectNeed"
      :client-services="clientServices"
      :read-only="true"
      :session="session"
      :session-nature-values="sessionNatureValues"
      tab-name="SessionParticipantsTab"
      :is-help-task-details="true"
    />
  </div>
</template>

<script>

import LiveSessionSurvey      from '../Survey/LiveSessionSurvey'
import SessionHeader          from '../sessions/view-tab/SessionHeader'
import SessionTabs            from '../sessions/view-tab/SessionTabs'
import TakingAssistanceButton from './TakingAssistanceButton'
import DurationRealHelpTask   from './DurationRealHelpTask'
import { DateTime }           from 'luxon'

export default {
  name: 'HelpTaskDetails',
  components: { SessionHeader, SessionTabs, TakingAssistanceButton, DurationRealHelpTask, LiveSessionSurvey },
  props: {
    helpTask: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    session: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    clientServices: {
      type: Object,
      required: false,
      default: () => { return {} }
    },
    sessionNatureValues: {
      type: Object,
      required: true
    },
    logBookSurveyId: {
      type: String,
      required: true
    },
    locale: {
      type: String,
      required: true
    },
    answer: {
      type: Object,
      required: false,
      default: () => {}
    },
    isCustomerService: {
      type: Boolean,
      required: true
    },
    isAdmin: {
      type: Boolean,
      required: true
    },
    zohoDeskForm: {
      type: Object,
      required: false,
      default: () => {}
    },
    accountConcerned: {
      type: Object,
      required: false,
      default: () => {}
    }
  },
  data () {
    return {
      sessionData : this.session,
      helpNeed : this.helpTask.helpNeed,
      change: 0
    }
  },
  computed: {
    accountConcernedTitre () {
      if (this.accountConcerned.length === 0) {
        return this.$translator.trans('All accounts')
      }
      return ''
    },
    helpNeedTitle () {
      return this.$translator.trans('%field_1% - %field_2% from %field_3% to %field_4%', {
        field_1: this.readableType,
        field_2: DateTime
          .fromISO(this.helpNeed.start)
          .toLocaleString(DateTime.DATE_HUGE),
        field_3: DateTime
          .fromISO(this.helpNeed.start)
          .toLocaleString(DateTime.TIME_SIMPLE),
        field_4: DateTime
          .fromISO(this.helpNeed.end)
          .toLocaleString(DateTime.TIME_SIMPLE)
      })
    },
    readableType () {
      let readableType = ''
      switch (this.helpNeed.type) {
        case 0:
          readableType = this.$translator.trans('Services provided') + ' " ' + this.$translator.trans(this.humanizeTypeSupport(this.helpNeed.additionalInformation.serviceType)) + ' "'
          break
        case 1:
          readableType = 'Assistance'
          break
        case 2:
          readableType = 'Support'
          break
      }
      return this.$translator.trans(readableType)
    },
    isAssistanceType () {
      return (this.helpNeed.type === 1)
    },
    isDirectNeed () {
      return (this.helpNeed.type === 0)
    },
    isSupportType () {
      return (this.helpNeed.type === 2)
    }
  },
  mounted () {
    this.$store.commit('session/setSession', this.sessionData)
  },
  methods: {
    handleSubmitForm (survey) {
      const toSaved = {}
      toSaved.data = survey.data
      toSaved.plainData = survey.getPlainData()

      this.$axios.post(this.$routing.generate('_log_book_save', { id: this.helpTask.id }),
        JSON.stringify(toSaved),
        {
          headers: {
            'Content-Type': 'application/json; charset=utf-8'
          }
        }
      )
    },
    humanizeTypeSupport (typeSupport) {
      switch (typeSupport) {
        case 'hotline': return 'Hotline'
        case 'csc1': return 'CSC 1'
        case 'csc2': return 'CSC 2'
      }
    },
    humanizeLanguage (lang) {
      switch (lang) {
        case 'fr': return 'French'
        case 'en': return 'English'
      }
    },
    openAccount (clientId) {
      window.open(this.$routing.generate('_client_edit', { id: clientId, 'tab-name': 'clientServiceTab' }), '_blank')
    }
  }
}
</script>

<style scoped>

</style>
