<template>
  <div class="page-options-bar mb-3 d-block">
    <div class="dropdown">
      <div
        class="page-options-bar__item__filters"
        role="button"
        data-bs-toggle="dropdown"
      >
        <img
          v-if="isActiveFilter"
          src="/build/static/icons/filter-primary.svg"
        >
        <img
          v-else
          src="/build/static/icons/filter.svg"
        >
        <img
          src="/build/static/icons/filter-opened.svg"
          class="ms-3"
        >
      </div>
      <div class="dropdown-menu dropdown-menu-list overflow-hidden">
        <div class="row">
          <div class="col-12">
            <fieldset class="border-1 p-3">
              <div class="form__checklist m-0">
                <div class="form-check">
                  <input
                    id="filter-assistance"
                    v-model="filter.assistance"
                    class="form-check-input"
                    type="checkbox"
                    @change="filterChange"
                  >
                  <label
                    class="form-check-label"
                    for="filter-assistance"
                  >{{ $translator.trans('Assistance') }}</label>
                </div>
                <div class="form-check">
                  <input
                    id="filter-support"
                    v-model="filter.support"
                    class="form-check-input"
                    type="checkbox"
                    @change="filterChange"
                  >
                  <label
                    class="form-check-label"
                    for="filter-support"
                  >{{ $translator.trans('Support') }}</label>
                </div>
                <div class="form-check">
                  <input
                    id="filter-support"
                    v-model="filter.direct"
                    class="form-check-input"
                    type="checkbox"
                    @change="filterChange"
                  >
                  <label
                    class="form-check-label"
                    for="filter-support"
                  >
                    {{ $translator.trans('Staffing support') }}
                    <img
                      class="form-text mb-1"
                      src="/build/static/icons/question.svg"
                      data-bs-toggle="tooltip"
                      data-bs-placement="right"
                      :title="$translator.trans('CSCI, CSC2 and hotliner services')"
                    >
                  </label>
                </div>
              </div>
            </fieldset>
            <fieldset class="border-1 p-3">
              <div class="form__checklist m-0">
                <div class="form-check">
                  <input
                    id="filter-unassigned"
                    v-model="filter.unassigned"
                    class="form-check-input"
                    type="checkbox"
                    @change="filterChange"
                  >
                  <label
                    class="form-check-label"
                    for="filter-unassigned"
                  >{{ $translator.trans('Only unassigned service requirements') }}</label>
                </div>
              </div>
            </fieldset>
            <fieldset class="border-1 p-3">
              <div class="row">
                <div class="col-3">
                  {{ $translator.trans('Client') }}
                </div>
                <div class="col-9">
                  <select
                    v-model="filter.client"
                    class="form-control form-select-sm w-100"
                    name="filter-origin"
                    @change="filterChange"
                  >
                    <option
                      v-for="(client) in clients"
                      :key="client.id"
                      :value="client.id"
                    >
                      {{ client.name }}
                    </option>
                  </select>
                </div>
              </div>
            </fieldset>
            <fieldset class="border-1 p-3">
              <div class="row">
                <div class="col-3">
                  {{ $translator.trans('Provider service') }}
                </div>
                <div class="col-9">
                  <select
                    v-model="filter.helperUser"
                    class="form-control form-select-sm w-100"
                    name="filter-origin"
                    @change="filterChange"
                  >
                    <option
                      v-for="(helperUser) in helperUsers"
                      :key="helperUser.id"
                      :value="helperUser.id"
                    >
                      {{ helperUser.fullName }}
                    </option>
                  </select>
                </div>
              </div>
            </fieldset>
            <div class="export-dropdown__footer">
              <button
                class="export-dropdown__submit-btn"
                @click="resetFilters"
              >
                {{ $translator.trans('Reset') }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="search-sessions-filter d-inline">
      {{ subFilter }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelpNeedFilter',
  props: {
    clients: {
      type: Array,
      required: true
    },
    helperUsers: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      filter: {
        assistance: true,
        support: true,
        direct: true,
        unassigned: false,
        client: null,
        helperUser: null
      }
    }
  },
  computed: {
    isActiveFilter () {
      return true
    },
    subFilter () {
      const filter = []
      if (this.filter.assistance && this.filter.support && this.filter.direct) {
        filter.push(this.$translator.trans('Assistance') + ' & ' + this.$translator.trans('Support') + ' & ' + this.$translator.trans('Staffing support'))
      } else if (this.filter.assistance) {
        filter.push(this.$translator.trans('Assistance'))
      } else if (this.filter.support) {
        filter.push(this.$translator.trans('Support'))
      } else if (this.filter.direct) {
        filter.push(this.$translator.trans('Staffing support'))
      }
      if (this.filter.unassigned) {
        filter.push(this.$translator.trans('Unassigned needs'))
      }
      if (this.filter.client) {
        const client = this.clients.find(client => client.id === this.filter.client)
        filter.push(this.$translator.trans('Client') + ' : ' + client.name)
      }
      if (this.filter.helperUser) {
        const helperUser = this.helperUsers.find(helperUser => helperUser.id === this.filter.helperUser)
        filter.push(this.$translator.trans('Provider service') + ' : ' + helperUser.fullName)
      }
      return filter.join(' - ')
    }
  },
  methods: {
    resetFilters () {
      this.filter = {
        assistance: true,
        support: true,
        unassigned: false,
        client: null,
        helperUser: null
      }
      this.filterChange()
    },
    filterChange () {
      this.$emit('filterChange', {
        assistance: this.filter.assistance ? 1 : 0,
        support: this.filter.support ? 1 : 0,
        direct: this.filter.direct ? 1 : 0,
        unassigned: this.filter.unassigned ? 1 : 0,
        client: this.filter.client,
        helperUser: this.filter.helperUser
      })
    }
  }
}
</script>

<style scoped>
  fieldset {
    border-bottom: 1px solid #dedede;
    padding: 20px;
  }
</style>
