<template>
  <div>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#billingModal2"
    >
      {{ $translator.trans('Export') }}
    </button>

    <div
      id="billingModal2"
      class="modal fade"
      tabindex="-1"
      aria-labelledby="billingModal2Label"
      aria-hidden="true"
    >
      <sessions-export-modal />
    </div>
  </div>
</template>

<script>
import CurrentUserMixin                               from '../../mixin/CurrentUserMixin'
import { getViewer }                                  from '../../utils/session-viewer.utils'
import SessionsExportModal           from './SessionsExportModal'

export default {
  name: 'LinkExportSessionsViewer',
  components: { SessionsExportModal },
  mixins: [CurrentUserMixin],
  props: {
    userToken: {
      type: String,
      required: true
    },
    isAdmin: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      viewer: getViewer()
    }
  },
  computed: { }
}
</script>

<style scoped lang="css">
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
</style>
