<template>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        {{ $translator.trans('Staffing') }}
      </h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <div class="alert alert-info">
            {{ $translator.trans('Manual mass assignment only work for support need') }}
          </div>
        </div>
      </div>
      <div>
        <div style="margin: 15px">
          <input
            id="input-lump-sum-contract-mode"
            v-model="lumpSumContract"
            type="radio"
            name="not-lump-sum-contract-mode"
            :value="false"
            class="form-check-input"
          >
          <label for="input-lump-sum-contract-mode">{{ $translator.trans('Mass media assignment') }}</label>
        </div>
        <div style="margin: 15px">
          <input
            id="input-not-lump-sum-contract-mode"
            v-model="lumpSumContract"
            type="radio"
            name="lump-sum-contract-mode"
            :value="true"
            class="form-check-input"
          >
          <label for="input-not-lump-sum-contract-mode">{{ $translator.trans('Services to be provided') }}</label>
        </div>
      </div>
      <h4>{{ $translator.trans('Filter') }}</h4>
      <div class="row">
        <div class="col-6">
          <div
            v-if="startDate"
            class="mb-2"
          >
            <label>
              {{ $translator.trans('From') }}
            </label>
            <div class="input-container d-flex align-items-center">
              <date-time-input
                v-model="startDate"
                :format="format"
                :placeholder="$translator.trans('From')"
                type="datetime"
              />
            </div>
          </div>
          <div
            v-if="endDate"
            class="mb-2"
          >
            <label>
              {{ $translator.trans('To') }}
            </label>
            <div class="input-container d-flex align-items-center">
              <date-time-input
                v-model="endDate"
                :format="format"
                :placeholder="$translator.trans('To')"
                type="datetime"
              />
            </div>
          </div>
          <div class="mb-2">
            <label for="languageSelected">
              {{ $translator.trans('Language') }}
            </label>
            <div class="col">
              <select
                id="languageSelected"
                v-model="languageSelected"
                name="language-selected"
                class="form-select form-control w-50"
              >
                <option
                  v-for="(lang, key) in languages"
                  :key="key"
                  :value="key"
                >
                  {{ $translator.trans(lang) }}
                </option>
              </select>
            </div>
          </div>
          <div
            v-if="lumpSumContract"
            class="mb-2"
          >
            <label for="serviceTypeSelected">
              {{ $translator.trans('Type of service') }} *
            </label>
            <div class="col">
              <select
                id="serviceTypeSelected"
                v-model="serviceTypeSelected"
                name="language-selected"
                class="form-select form-control w-50"
              >
                <option
                  v-for="(type, key) in servicesTypes"
                  :key="key"
                  :value="key"
                >
                  {{ $translator.trans(type) }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div
          v-if="!lumpSumContract"
          class="col-6"
        >
          <div class="d-flex justify-content-between">
            <label>{{ $translator.trans('Accounts') }}</label>
            <img
              v-if="!allClientSelected"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              :title="$translator.trans('Select all customers')"
              src="/build/static/icons/check.svg"
              @click="selectAllClient"
            >
            <img
              v-else
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              :title="$translator.trans('Deselect all customers')"
              src="/build/static/icons/cross.svg"
              @click="unselectAllClient"
            >
          </div>
          <div
            class="table-scroll-container d-flex align-items-center row w-100"
            style="margin-top: 15px"
          >
            <div
              v-for="(client, key) in filteredClients"
              :key="client.id"
            >
              <div
                class="col"
                style="margin-left: 15px"
              >
                <label
                  class="form-label form-check-label"
                  @click="addOrRemoveClient(key, $event)"
                >
                  <input
                    v-if="isClientSelected(key)"
                    type="checkbox"
                    class="form-check-input"
                    :checked="isClientSelected(key)"
                    @click="addOrRemoveClient(key, $event)"
                  >
                  <input
                    v-else
                    type="checkbox"
                    class="form-check-input"
                    @click="addOrRemoveClient(key, $event)"
                  >
                  {{ client.name }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br>
      <div v-if="lumpSumContract">
        <div class="d-flex justify-content-between">
          <label>{{ $translator.trans('Accounts') }}</label>
          <img
            v-if="!allClientSelected"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            :title="$translator.trans('Select all customers')"
            src="/build/static/icons/check.svg"
            @click="selectAllClient"
          >
          <img
            v-else
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            :title="$translator.trans('Deselect all customers')"
            src="/build/static/icons/cross.svg"
            @click="unselectAllClient"
          >
        </div>
        <div
          class="table-scroll-container d-flex align-items-center row w-100"
          style="margin-top: 15px"
        >
          <div>
            <table
              class="table table-striped table-hover mb-5"
            >
              <thead>
                <tr>
                  <th data-field="Edited_field">
                    {{ $translator.trans('Name') }}
                  </th>
                  <th data-field="Old_value">
                    {{ $translator.trans('Nb Session.s') }}
                  </th>
                  <th data-field="New_Value">
                    {{ $translator.trans('Nb Participant.s') }}
                  </th>
                  <th data-field="New_Value">
                    {{ $translator.trans('Select') }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(client, key) in filteredClients"
                  :key="client.id"
                  role="button"
                  @click="addOrRemoveClient(key, $event)"
                >
                  <td>{{ client.name }}</td>
                  <td>{{ helpNeedInformationsClients[client.id].sessionCount }}</td>
                  <td>{{ helpNeedInformationsClients[client.id].participantsCount }}</td>
                  <td
                    @click="addOrRemoveClient(key, $event)"
                  >
                    <label
                      class="form-label form-check-label"
                      role="button"
                    >
                      <input
                        v-if="isClientSelected(key)"
                        type="checkbox"
                        class="form-check-input"
                        :checked="isClientSelected(key)"
                        @click="addOrRemoveClient(key, $event)"
                      >
                      <input
                        v-else
                        type="checkbox"
                        class="form-check-input"
                        @click="addOrRemoveClient(key, $event)"
                      >
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <br><br>
      <h4>{{ $translator.trans('Choosing providers') }}</h4>
      <br>
      <div class="row">
        <div class="col-12">
          <label>
            {{ $translator.trans('Provider service') }}
          </label>
          <div>
            <input
              v-model="searchUser"
              type="search"
              class="form-control"
              :placeholder="$translator.trans('Search')"
            >
          </div>
          <div
            class="table-scroll-container d-flex align-items-center row w-100"
            style="margin-top: 15px"
          >
            <div
              v-for="(helperUser, key) in filteredUser"
              :key="helperUser.id"
            >
              <div
                class="col"
                style="margin-left: 15px"
              >
                <label
                  :for="'user-select-assigne' + key"
                  class="form-label form-check-label elipsed"
                >
                  <input
                    :id="'user-select-assigne' + key"
                    name="user-select-assigne"
                    type="checkbox"
                    class="form-check-input"
                    :checked="helperUsersSelected.includes(helperUser.id)"
                    @change="addOrRemoveHelperUser(helperUser.id)"
                  >
                  {{ helperUser.reference }} - {{ helperUser.fullName }} - {{ helperUser.email }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-light"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        {{ $translator.trans('Close') }}
      </button>
      <loader v-if="saving" />
      <div v-else>
        <button
          v-if="!lumpSumContract"
          class="btn btn-primary"
          type="button"
          :disabled="!isValid"
          @click="massAssign"
        >
          {{ $translator.trans('Valid') }}
        </button>
        <button
          v-else
          class="btn btn-primary"
          type="button"
          :disabled="!isValidToAssignServiceDelivery"
          @click="assignServiceDelivery"
        >
          {{ $translator.trans('Valid') }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>

import DateTimeInput from '../ui/DateTimeInput'
import { DateTime } from 'luxon'
import { routing } from '../../utils/app.utils'
import Loader from '../ui/Loader'

export default {
  name: 'MassAssignmentModal',
  components: { Loader, DateTimeInput },
  props: {
    periodDateStart: {
      type: String,
      required: true
    },
    periodDateEnd: {
      type: String,
      required: true
    },
    languages: {
      type: Object,
      required: true
    },
    clients: {
      type: Array,
      required: true
    },
    helpNeedInformationsClients: {
      type: Object,
      required: false,
      default: () => {}
    },
    helperUsers: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      lumpSumContract: false,
      startDate: null,
      endDate: null,
      servicesTypes: {
        hotline: 'Hotline',
        csc1: 'CSC1',
        csc2: 'CSC2'
      },
      languageSelected: Object.keys(this.languages)[0],
      serviceTypeSelected: null,
      clientsSelected : [],
      helperUsersSelected : [],
      format: DateTime.DATETIME_MED,
      searchUser: '',
      saving: false
    }
  },
  computed: {
    isValid () {
      return this.clientsSelected.length > 0 && this.helperUsersSelected.length > 0
    },
    isValidToAssignServiceDelivery () {
      return this.helperUsersSelected.length > 0 && this.serviceTypeSelected !== null && this.startDate !== null && this.endDate !== null
    },
    allClientSelected () {
      return this.clientsSelected.length === this.filteredClients.length
    },
    filteredClients () {
      return this.clients.filter(client => {
        return client.services.lumpSumContract === this.lumpSumContract
      })
    },
    filteredUser () {
      if (this.searchUser === null || this.searchUser === '') {
        return this.helperUsers
      }

      return this.helperUsers.filter(user => {
        const infos = user.email.toLowerCase() + user.fullName.toLowerCase()
        return infos.indexOf(this.searchUser.toLowerCase()) > -1
      })
    }
  },
  watch: {
    periodDateStart (newValue) {
      this.startDate = newValue
    },
    periodDateEnd (newValue) {
      this.endDate = newValue
    },
    lumpSumContract () {
      this.clientsSelected = []
    }
  },
  mounted () {
    this.startDate = this.periodDateStart
    this.endDate = this.periodDateEnd
  },
  methods: {
    selectAllClient () {
      this.clientsSelected = JSON.parse(JSON.stringify((this.filteredClients)))
    },
    unselectAllClient () {
      this.clientsSelected = []
    },
    isClientSelected (key) {
      const currentClient = this.filteredClients[key]
      for (const clientIdx in this.clientsSelected) {
        const client = this.clientsSelected[clientIdx]
        if (client.id === currentClient.id) {
          return true
        }
      }
      return false
    },
    addOrRemoveClient (key, event) {
      event.stopPropagation()
      event.preventDefault()
      const currSelectedClients = JSON.parse(JSON.stringify((this.clientsSelected)))
      if (this.isClientSelected(key)) {
        const currentClient = this.filteredClients[key]
        let idx = null
        for (const clientIdx in this.clientsSelected) {
          const client = this.clientsSelected[clientIdx]
          if (client.id === currentClient.id) {
            idx = clientIdx
          }
        }
        if (idx !== null) {
          currSelectedClients.splice(idx, 1)
        }
      } else {
        currSelectedClients.push(this.filteredClients[key])
      }
      this.clientsSelected = currSelectedClients
    },
    addOrRemoveHelperUser (userId) {
      if (this.helperUsersSelected.includes(userId)) {
        this.helperUsersSelected.splice(this.helperUsersSelected.indexOf(userId, 1))
      } else {
        this.helperUsersSelected.push(userId)
      }
    },
    massAssign () {
      this.saving = true
      return this.$axios.post(routing.generate('_help_need_mass_assign'), {
        dateStart: this.startDate,
        dateEnd: this.endDate,
        lang: this.languageSelected,
        clientIds: this.clientsSelected.map(client => client.id).join(','),
        userIds: this.helperUsersSelected.join(',')
      }).then(() => {
        this.$emit('massAssignFinish')
        this.saving = false
        this.dateStart = null
        this.dateEnd = null
        this.lang = Object.keys(this.languages)[0]
        this.clientsSelected = []
        this.helperUsersSelected = []
      })
    },
    assignServiceDelivery () {
      this.saving = true
      return this.$axios.post(routing.generate('_help_need_assign_service_delivery'), {
        dateStart: this.startDate,
        dateEnd: this.endDate,
        lang: this.languageSelected,
        serviceType: this.serviceTypeSelected,
        clientIds: this.clientsSelected.map(client => client.id).join(','),
        userIds: this.helperUsersSelected.join(',')
      }).then(() => {
        this.$emit('massAssignFinish')
        this.saving = false
        this.dateStart = null
        this.dateEnd = null
        this.lang = Object.keys(this.languages)[0]
        this.clientsSelected = []
        this.helperUsersSelected = []
      })
    }
  }
}
</script>

<style scoped>
.table-scroll-container {
  max-height: 250px;
  overflow-y: auto;
}
.elipsed {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
</style>
