<template>
  <div class="modal-content">
    <div class="modal-header">
      <h5
        v-if="isUpdate"
        class="modal-title"
      >
        {{ $translator.trans('Update My availability') }}
      </h5>
      <h5
        v-else
        class="modal-title"
      >
        {{ $translator.trans('Declare My availability') }}
      </h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-6">
          <div
            v-if="startDate"
            class="mb-2"
          >
            <label>
              {{ $translator.trans('From') }}
            </label>
            <div class="input-container d-flex align-items-center">
              <date-time-input
                v-model="startDate"
                :format="format"
                :placeholder="$translator.trans('From')"
                type="datetime"
              />
            </div>
          </div>
          <div
            v-if="endDate"
            class="mb-2"
          >
            <label>
              {{ $translator.trans('To') }}
            </label>
            <div class="input-container d-flex align-items-center">
              <date-time-input
                v-model="endDate"
                :format="format"
                :placeholder="$translator.trans('To')"
                type="datetime"
              />
            </div>
          </div>
        </div>
      </div>
      <alert
        v-if="errorMessage"
        :text="errorMessage"
        type="danger"
      />
    </div>
    <div class="modal-footer">
      <loader
        v-if="saving"
      />
      <div v-else>
        <button
          type="button"
          class="btn btn-light"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          {{ $translator.trans('Close') }}
        </button>
        <button
          v-if="isUpdate"
          type="button"
          class="btn btn-danger"
          :disabled="errorMessage"
          @click="deleteAvailability"
        >
          {{ $translator.trans('Delete') }}
        </button>
        <button
          v-if="isUpdate"
          class="btn btn-primary"
          type="button"
          :disabled="errorMessage"
          @click="updateAvailability"
        >
          {{ $translator.trans('To update') }}
        </button>
        <button
          v-else
          class="btn btn-primary"
          type="button"
          @click="declareAvailabilities"
        >
          {{ $translator.trans('Valid') }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>

import DateTimeInput from '../ui/DateTimeInput'
import { DateTime } from 'luxon'
import { routing } from '../../utils/app.utils'
import Loader from '../ui/Loader'
import Alert from '../ui/Alert.vue'

export default {
  name: 'MyAvailabilitiesModal',
  components: { Alert, Loader, DateTimeInput },
  props: {
    periodDateStart: {
      type: String,
      required: true
    },
    periodDateEnd: {
      type: String,
      required: true
    },
    isUpdate: {
      type: Boolean,
      required: true
    },
    idAvailabilityToUpdate: {
      type: Number,
      required: false,
      default: null
    },
    userSelectedId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      lumpSumContract: false,
      startDate: null,
      endDate: null,
      format: DateTime.DATETIME_MED,
      saving: false,
      errorMessage: null
    }
  },
  computed: {
    isValid () {
      return true
    }
  },
  watch: {
    periodDateStart (newValue) {
      this.startDate = newValue
    },
    periodDateEnd (newValue) {
      this.endDate = newValue
    },
    idAvailabilityToUpdate () {
      this.errorMessage = null
    }
  },
  mounted () {
    this.startDate = this.periodDateStart
    this.endDate = this.periodDateEnd
  },
  methods: {
    declareAvailabilities () {
      this.saving = true
      return this.$axios.post(routing.generate('_declare_availabilities_customer_service'), {
        dateStart: this.startDate,
        dateEnd: this.endDate,
        user: this.userSelectedId
      }).then(() => {
        this.$emit('declareAvailabilities')
        this.saving = false
        this.dateStart = null
        this.dateEnd = null
      })
    },
    updateAvailability () {
      this.saving = true
      return this.$axios.post(routing.generate('_update_availability_customer_service'), {
        id: this.idAvailabilityToUpdate,
        dateStart: this.startDate,
        dateEnd: this.endDate
      }).then(() => {
        this.$emit('declareAvailabilities')
        this.saving = false
        this.dateStart = null
        this.dateEnd = null
      }).catch((error) => {
        this.saving = false
        if (!('response' in error) || !('data' in error.response) || !('message' in error.response.data) || !('text' in error.response.data.message)) {
          this.errorMessage = this.$translator.trans('An error has occurred, You cannot modify this availability.')
          return
        }
        const data = error.response.data.message
        this.errorMessage = this.$translator.trans(data.text)
      })
    },
    deleteAvailability () {
      this.saving = true
      return this.$axios.post(routing.generate('_delete_availability_customer_service'), {
        id: this.idAvailabilityToUpdate
      }).then(() => {
        this.$emit('declareAvailabilities')
        this.saving = false
        this.dateStart = null
        this.dateEnd = null
      }).catch((error) => {
        this.saving = false
        if (!('response' in error) || !('data' in error.response) || !('message' in error.response.data) || !('text' in error.response.data.message)) {
          this.errorMessage = this.$translator.trans('An error has occurred, You cannot delete this availability.')
          return
        }
        const data = error.response.data.message
        this.errorMessage = this.$translator.trans(data.text)
      })
    }
  }
}
</script>

<style scoped>
.table-scroll-container {
  max-height: 250px;
  overflow-y: auto;
}
.elipsed {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
</style>
