<template>
  <div>
    <alert
      v-if="error"
      :text="error"
      type="danger"
    />
    <div class="col-md-12 mb-28">
      <em>
        {{ $translator.trans("The availability declaration calendar is a practical tool that allows you to easily manage your time slots. You can use this interactive calendar to indicate your availability and inform live session of your schedule.") }}
      </em>
      <br>
      <em>
        {{ $translator.trans("To get started, all you need to do is select a specific area in the calendar. Once you have chosen the desired area, a window will open representing your availability. You can adjust the start and end times according to your preferences and validate your availability.") }}
      </em>
      <br>
      <em>
        {{ $translator.trans("If you wish to modify an availability already declared, you just have to click on the corresponding event in the calendar. A modification window will open, allowing you to modify the dates, start and end times according to your new schedules. Once the changes are made, simply save the changes and your availability will be updated, In case you are no longer available at a certain time, you can delete an availability with a single click on the same modification window.") }}
      </em>
      <br>
    </div>
    <div
      v-if="isAdmin"
      class="container text-center"
      style="padding: 50px"
    >
      <div class="col-12 form__item row align-items-center">
        <div class="col-auto">
          <h5 class="form-label required">
            {{ $translator.trans('Service providers') }}
          </h5>
        </div>
        <div class="col-6">
          <select
            v-model="userSelected"
            name="client"
            required="required"
            class="form-control"
            @change="changeUser()"
          >
            <option
              v-for="user in sortedCostumerProviders"
              :key="user.id"
              :value="user.id"
            >
              {{ user.reference }} | {{ user.fullName }} - {{ user.email }}
            </option>
          </select>
        </div>
        <div class="col-2">
          <a
            type="submit"
            class="btn btn-light"
            :href="$routing.generate('_help_task_calendar_availability')"
          >
            {{ $translator.trans('Reset filter') }}
          </a>
        </div>
      </div>
    </div>
    <full-calendar
      ref="calendar"
      :options="calendarOptions"
      class="ls-fullcalendar"
    />
    <div>
      <div
        ref="myAvailabilitiesModal"
        aria-hidden="true"
        class="modal fade show"
        role="dialog"
        tabindex="-1"
      >
        <div class="modal-dialog">
          <my-availabilities-modal
            v-if="periodSelected"
            :period-date-start="periodDateStart"
            :period-date-end="periodDateEnd"
            :is-update="isUpdateAvailabilitiesModal"
            :id-availability-to-update="idAvailabilityToUpdate"
            :user-selected-id="userSelectedId"
            @declareAvailabilities="endDeclareAvailabilitiesProcess"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FullCalendar, { BASE_OPTION_REFINERS } from '@fullcalendar/vue'
import fullcalendarLocales from '@fullcalendar/core/locales-all'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'
import luxon2Plugin from '@fullcalendar/luxon2'
import Alert from '../ui/Alert'
import { DateTime } from 'luxon'
import MyAvailabilitiesModal                  from './MyAvailabilitiesModal.vue'

BASE_OPTION_REFINERS.schedulerLicenseKey = String

export default {
  name: 'PersonalCalendarAvailabilityUser',
  components: {
    MyAvailabilitiesModal,
    FullCalendar,
    Alert
  },
  props: {
    userSelectedId: {
      type: Number,
      required: true
    },
    costumerProviders: {
      type: Array,
      required: true
    },
    isAdmin: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      locale: 'fr',
      error: null,
      periodSelected: false,
      periodDateStart: null,
      userSelected: null,
      periodDateEnd: null,
      costumerProvidersUsers : this.costumerProviders,
      isUpdateAvailabilitiesModal: false,
      idAvailabilityToUpdate: null
    }
  },
  computed: {
    sortedCostumerProviders () {
      return this.sortedCostumerProvidersUsers()
    },
    calendarOptions () {
      const vm = this
      return {
        plugins: [luxon2Plugin, dayGridPlugin, timeGridPlugin, interactionPlugin],
        schedulerLicenseKey: '0104497368-fcs-1644222333',
        titleFormat: 'LLLL d, yyyy',
        locales: fullcalendarLocales,
        locale: this.locale,
        navLinks: true,
        nowIndicator: true,
        selectable: true,
        dayMaxEvents: true,
        weekNumbers: true,
        eventMaxStack: 4,
        eventMinHeight: 15,
        scrollTime: '08:00:00',
        scrollTimeReset: false,
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay' // timeGridWeek5Days
        },
        initialView: 'timeGridWeek',
        eventSources: this.eventSources,
        eventClick: function (info) {
          info.jsEvent.preventDefault()
          const eventInfo = info.event.extendedProps
          vm.periodSelected = true
          vm.periodDateStart = eventInfo.start
          vm.periodDateEnd = eventInfo.end
          vm.isUpdateAvailabilitiesModal = true
          vm.idAvailabilityToUpdate = eventInfo.id
          const modal = vm.$bootstrap.Modal.getOrCreateInstance(vm.$refs.myAvailabilitiesModal)
          vm.$refs.myAvailabilitiesModal.addEventListener('hide.bs.modal', event => {
            vm.periodDateStart = ''
            vm.periodDateEnd = ''
            vm.idAvailabilityToUpdate = null
          })
          modal.show()
        },
        eventDidMount: function (info) {
          /* if (info.event.extendedProps.background) {
            info.el.style.background = info.event.extendedProps.background
          }
          info.el.style['border-color'] = info.event.extendedProps.border */
        },
        select: function (period) {
          vm.periodSelected = true
          vm.periodDateStart = DateTime.fromJSDate(period.start).toString()
          vm.periodDateEnd = DateTime.fromJSDate(period.end).toString()
          vm.isUpdateAvailabilitiesModal = false
          const modal = vm.$bootstrap.Modal.getOrCreateInstance(vm.$refs.myAvailabilitiesModal)
          vm.$refs.myAvailabilitiesModal.addEventListener('hide.bs.modal', event => {
            vm.periodDateStart = ''
            vm.periodDateEnd = ''
            vm.idAvailabilityToUpdate = null
          })
          modal.show()
        }
      }
    },
    eventSources () {
      const vm = this
      return [
        {
          events (event, callback) {
            vm.error = null
            vm.$axios.get(vm.$routing.generate('_availabilities_personal_calendar_get', { start: event.startStr, end: event.endStr, user: vm.userSelectedId }))
              .then((response) => {
                if ('data' in response && 'message' in response.data) {
                  callback(Array.from(response.data.message, (availabilityUser) => {
                    return {
                      id: availabilityUser.id,
                      start: availabilityUser.start,
                      color: '#bff8bf',
                      end: availabilityUser.end,
                      extendedProps: availabilityUser
                    }
                  }))
                }
              }).catch((response) => {
                vm.error = vm.$translator.trans('An error occurred during the display of availability')
              })
          }
        }
      ]
    }
  },
  mounted () {
    this.userSelected = this.userSelectedId
  },
  methods: {
    endDeclareAvailabilitiesProcess () {
      this.refreshEvents()
      const modal = this.$bootstrap.Modal.getOrCreateInstance(this.$refs.myAvailabilitiesModal)
      modal.hide()
    },
    refreshEvents () {
      this.$refs.calendar.getApi().refetchEvents()
    },
    classesFromType (type) {
      switch (type) {
        case 1:
          return ['session-status-primary']
        case 2:
          return ['session-status-cyan']
        default:
          return ['session-status-grey']
      }
    },
    titleFromType (type) {
      switch (type) {
        case 1:
          return this.$translator.trans('Assistance')
        case 2:
          return this.$translator.trans('Support')
        case 3:
          return this.$translator.trans('Customer requirement')
      }
    },
    sortedCostumerProvidersUsers () {
      return this.costumerProvidersUsers.sort((a, b) => {
        return a.fullName.localeCompare(b.fullName)
      })
    },
    changeUser () {
      window.location.href = this.$routing.generate('_help_task_calendar_availability', { userId: this.userSelected })
    }
  }
}
</script>

<style lang="scss">
@import "assets/scss/modules/fullcalendar/fullcalendar";
</style>
