<template>
  <div>
    <alert
      v-if="error"
      :text="error"
      type="danger"
    />
    <full-calendar
      ref="calendar"
      :options="calendarOptions"
      class="ls-fullcalendar"
    />

    <span
      class="d-flex w-100 p-3"
    >
      <img
        class="cursor-pointer p-2"
        src="/build/static/icons/calendar.svg"
      >
      <div
        class="pt-1 mr-20"
      >
        {{ webcalSessionURL }}
      </div>
      <span
        v-clipboard:copy="webcalSessionURL"
        v-clipboard:success="onCopy"
        class="copy mt-2"
        :class="{ 'copied' : copyStatus }"
      />
    </span>
  </div>
</template>

<script>
import FullCalendar, { BASE_OPTION_REFINERS } from '@fullcalendar/vue'
import fullcalendarLocales from '@fullcalendar/core/locales-all'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'
import luxon2Plugin from '@fullcalendar/luxon2'
import Alert from '../ui/Alert'

BASE_OPTION_REFINERS.schedulerLicenseKey = String

export default {
  name: 'PersonalCalendarHelpTask',
  components: {
    FullCalendar,
    Alert
  },
  props: {
    userToken: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      locale: 'fr',
      error: null,
      copyStatus: false
    }
  },
  computed: {
    calendarOptions () {
      return {
        plugins: [luxon2Plugin, dayGridPlugin, timeGridPlugin, interactionPlugin],
        schedulerLicenseKey: '0104497368-fcs-1644222333',
        titleFormat: 'LLLL d, yyyy',
        locales: fullcalendarLocales,
        locale: this.locale,
        navLinks: true,
        nowIndicator: true,
        initialView: 'timeGridWeek',
        dayMaxEvents: true,
        weekNumbers: true,
        eventMaxStack: 4,
        eventMinHeight: 15,
        scrollTime: '08:00:00',
        scrollTimeReset: false,
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay' // timeGridWeek5Days
        },
        eventSources: this.eventSources
      }
    },
    eventSources () {
      const vm = this
      return [
        {
          events (event, callback) {
            vm.error = null
            vm.$axios.get(vm.$routing.generate('_help_task_personal_calendar_get', {
              start: event.startStr,
              end: event.endStr
            }))
              .then((response) => {
                if ('data' in response && 'message' in response.data) {
                  const personal = Array.from(response.data.message.personal, (helpTask) => {
                    return {
                      id: helpTask.id,
                      classNames: vm.classesFromType(helpTask.helpNeed.type),
                      title: vm.titleFromType(helpTask.helpNeed),
                      start: helpTask.start,
                      end: helpTask.end,
                      url: vm.$routing.generate('_help_task_details', { id: helpTask.id }),
                      extendedProps: helpTask
                    }
                  })

                  const availabilities = Array.from(response.data.message.availabilities, (availabilityUser) => {
                    return {
                      id: availabilityUser.id,
                      start: availabilityUser.start,
                      color: '#bff8bf',
                      end: availabilityUser.end,
                      extendedProps: availabilityUser,
                      display: 'background'
                    }
                  })

                  const calendarEvents = [...availabilities, ...personal]

                  callback(calendarEvents)
                }
              }).catch((response) => {
                vm.error = vm.$translator.trans('An error occurred during the display of service requirements')
              })
          }
        }
      ]
    },
    webcalSessionURL () {
      return this.$routing.generate('_webcal_my_service', { token: this.userToken }, true).replace(/^https|http/g, 'webcal')
    }
  },
  methods: {
    classesFromType (type) {
      switch (type) {
        case 0:
          return ['session-status-yellow']
        case 1:
          return ['session-status-primary']
        case 2:
          return ['session-status-cyan']
        default:
          return ['session-status-grey']
      }
    },
    titleFromType (helpNeed) {
      switch (helpNeed.type) {
        case 0:
          return this.$translator.trans('Services provided') + ' ' + helpNeed.additionalInformation.serviceType
        case 1:
          return this.$translator.trans('Assistance')
        case 2:
          return this.$translator.trans('Support')
        case 3:
          return this.$translator.trans('Customer requirement')
      }
    },
    onCopy: function () {
      this.copyStatus = true
      setTimeout(() => { this.copyStatus = false }, 5000)
    }
  }
}
</script>

<style lang="scss">
@import "assets/scss/modules/fullcalendar/fullcalendar";
</style>
