<template>
  <div>
    <div class="row">
      <div class="col-2 mb-4">
        <input
          v-model="personalCalendarSelect"
          type="radio"
          value="services"
          class="form-check-input"
          :attrs="{
            id: 'personal-select-services',
            name: 'services'
          }"
          @change="onChange"
        >
        <label for="services">{{ $translator.trans('My services') }}</label>
      </div>
      <div class="col-2 mb-4">
        <input
          v-model="personalCalendarSelect"
          type="radio"
          value="availability"
          class="form-check-input"
          :attrs="{
            id: 'personal-select-availability',
            name: 'availability'
          }"
          @change="onChange"
        >
        <label for="availability">{{ $translator.trans('My availability') }}</label>
      </div>
    </div>
  </div>
</template>

<script>

import { routing } from '../../utils/app.utils'

export default {
  name: 'PersonalCalendarSelect',
  props: {
    selectView: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      personalCalendarSelect: this.selectView,
      locale: 'fr'
    }
  },
  computed: {},
  methods: {
    onChange () {
      switch (this.personalCalendarSelect) {
        case 'services':
          window.location.href = routing.generate('_help_task_calendar_personal')
          break
        case 'availability':
          window.location.href = routing.generate('_help_task_calendar_availability')
          break
      }
    }
  }
}
</script>
