<template>
  <div>
    <div class="modal-dialog">
      <form>
        <div class="modal-content">
          <div class="modal-header px-4 py-3">
            <h5 class="modal-title">
              {{ $translator.trans( 'Billing' ) }}
            </h5>
            <span
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            />
          </div>
          <div class="modal-body p-10">
            <div class="row">
              <div class="col-sm-5 export-dropdown__tab-container">
                <div
                  v-if="currentUser.anAdmin"
                  class="form-check"
                >
                  <input
                    id="export-session"
                    v-model="exports.type"
                    class="form-check-input"
                    type="radio"
                    value="sessions_export_tpm"
                  >
                  <label
                    class="form-check-label"
                    for="export-session"
                  >{{ $translator.trans( 'Sessions TPM' ) }}</label>
                </div>
              </div>
              <div class="col-sm-7 export-dropdown__detail">
                <div class="form__item mb-1">
                  <div class="input-container d-flex align-items-center">
                    <date-time-input
                      v-model="exports.from"
                      :placeholder="$translator.trans('From')"
                      :disabled="exports.disabledDatePicker"
                    />
                  </div>
                </div>
                <div class="form__item mb-1">
                  <div class="input-container d-flex align-items-center">
                    <date-time-input
                      v-model="exports.to"
                      :placeholder="$translator.trans('To')"
                      :disabled="exports.disabledDatePicker"
                    />
                  </div>
                </div>
                <!--                <div class="export-dropdown__file-type">
                  <label>{{ $translator.trans('Export to') }}</label>
                  <select
                      v-model="exports.format"
                      class="form-select form-control form-control-sm"
                  >
                    <option
                        v-for="(model, index) in exportModelAvailable"
                        :key="index"
                        :value="model"
                    >
                      {{ model }}
                    </option>
                  </select>
                </div>-->
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <span
              v-if="errorMessage !== null"
              class="text-danger mr-20"
            >
              {{ errorMessage }}
            </span>
            <button
              v-if="linkDownload !== null"
              class="btn btn-primary"
              @click.prevent="downloadExport"
            >
              {{ $translator.trans('Download File') }}
            </button>
            <submit-button
              :disabled="!isValid"
              :processing="processing"
              @click="submit"
            >
              {{ $translator.trans('Export') }}
            </submit-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import DateTimeInput from '../ui/DateTimeInput'
import SubmitButton  from '../ui/SubmitButton'
import { mapGetters } from 'vuex'

export default {
  name:       'SessionExportModal',
  components: { DateTimeInput, SubmitButton },
  data () {
    return {
      errorMessage: null,
      processing: false,
      linkDownload: null,
      exports: {
        type: 'sessions_export_tpm',
        grouping: false,
        sessionsToday: false,
        disabledDatePicker: false,
        from: '',
        to: '',
        format: 'XLSX'
      }
    }
  },
  computed: {
    ...mapGetters({ currentUser: 'currentUser/getCurrentUser' }),
    isValid () {
      return ((this.exports.from !== null && this.exports.from.length > 0 &&
          this.exports.to !== null && this.exports.to.length > 0 &&
          !this.processing) || (this.exports.sessionsToday && this.exports.type === 'export_registered_session'))
    },
    groupExportIsAvailable () {
      return this.exports.format === 'XLSX'
    },
    exportModelAvailable () {
      let models = []
      switch (this.exports.type) {
        case 'sessions_export_tpm':
          models = ['XLSX']
          break
        default:
          models = ['PDF', 'XLSX', 'CSV']
      }

      return models
    }
  },
  watch: {
    'exports.type' () {
      this.exports.format = this.exportModelAvailable.length > 0
        ? this.exportModelAvailable[0]
        : null

      if (this.exports.type !== 'export_registered_session') {
        this.exports.sessionsToday = false
        this.exports.from = this.exports.to = ''
        this.exports.disabledDatePicker = false
      }
    }
  },
  methods: {
    downloadExport () {
      window.open(this.linkDownload, '_blank')
    },
    submit () {
      this.linkDownload = null
      this.processing = true
      const route = this.$routing.generate('_session_generate_archive')
      this.$axios.post(route, this.exports)
        .then((response) => {
          const url = this.$routing.generate('_download_exports', {
            token: response.data.message
          })
          this.errorMessage = null
          this.linkDownload = url
          // window.open(url, '_blank')
        })
        .catch((error) => {
          this.errorMessage = error.response.data.message.text
        })
        .finally(() => {
          this.processing = false
        })
    },
    updateTodayDate (stateSessionToday) {
      if (this.exports.sessionsToday === stateSessionToday) {
        const today = new Date()
        this.exports.from = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + (today.getDate())).slice(-2) + 'T00:00:00'
        this.exports.to = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + (today.getDate())).slice(-2) + 'T23:59:59'
        this.exports.disabledDatePicker = true
      } else {
        this.exports.disabledDatePicker = false
      }
    }
  }
}
</script>
