<template>
  <div
    data-bs-toogle="tooltip"
    data-bs-placement="bottom"
    :title="$translator.trans('Start assistance')"
  >
    <div
      class="d-inline-block form-group"
    >
      <div class="taking-assistance-switch">
        <label
          class="switch"
          for="taking-assistance-switch"
        >
          <input
            id="taking-assistance-switch"
            name="taking-assistance-switch"
            type="checkbox"
            :checked="isAssistanceTaken"
            @click="takingAssistance"
          >
          <span class="slider round" />
        </label>
      </div>
    </div>
    <label
      class="d-inline-block align-middle h-50"
      for="taking-assistance-switch"
    >
      {{ $translator.trans("Taking assistance") }}
    </label>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'TakingAssistanceButton',
  props: {
    helpTask: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      initialAssistanceStatus: this.session.assistanceStatus
    }
  },
  computed: {
    ...mapGetters({ session: 'session/getSession' }),
    isAssistanceTaken () {
      return this.session.assistanceStatus === 2
    }
  },
  methods: {
    setSession () {
      this.$store.commit('session/setSession', this.session)
    },
    takingAssistance () {
      this.$axios.post(this.$routing.generate('_help_task_taking_assistance', { id: this.helpTask.id, isAlreadyTaken: this.isAssistanceTaken }))
        .then((response) => {
          this.session.assistanceStatus = response.data.message.session.assistanceStatus
          this.setSession()
        })
    }
  }
}
</script>
