<template>
  <div>
    <a
      :href="$routing.generate( '_user_helper_edit', {id: helper.id} )"
      class="text-dark"
    >
      <div
        class="data-list__row"
      >
        <div class="row__data"><span>{{ helper.firstName }} </span></div>
        <div class="row__data"><span>{{ helper.lastName }}</span></div>
        <div class="row__data"><span>{{ helper.email }}</span></div>
        <div class="row__data"><span>{{ helper.reference }}</span></div>
        <div class="row__data">
          <span v-if="helper.intern">{{ $translator.trans('Internal') }}</span>
          <span v-else>{{ $translator.trans('External') }}</span>
        </div>
        <div class="row__data d-flex align-items-end">
          <span
            v-if="helper.status"
            class="badge bg-primary mr-20"
          >
            {{ $translator.trans('Active') }}
          </span>
          <span
            v-else
            class="badge mr-20"
          >
            {{ $translator.trans('Inactive') }}
          </span>
        </div>

        <div class="row__data option">
          <div class="drop-menu-container">
            <div class="icn-option">
              <img src="/build/static/icons/options-white.svg">
            </div>
            <ul class="dropdown-menu-inner">
              <li>
                <a
                  class="dropdown-item"
                  :href="$routing.generate( '_user_helper_edit', {id: helper.id} )"
                >
                  <img
                    src="/build/static/icons/edit-small-green.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Edit') }}</b>
                </a>
              </li>
              <li
                v-if="helper.status"
              >
                <a
                  class="dropdown-item"
                  :href="$routing.generate( '_helper_deactivate_status', {id: helper.id} )"
                >
                  <img
                    src="/build/static/icons/trash-small.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Deactivate') }}</b>
                </a>
              </li>
              <li
                v-else
              >
                <a
                  class="dropdown-item"
                  :href="$routing.generate( '_helper_activate_status', {id: helper.id} )"
                >
                  <img
                    src="/build/static/icons/trash-small.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Activate') }}</b>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  :href="$routing.generate( '_helper_delete', {id: helper.id} )"
                >
                  <img
                    src="/build/static/icons/trash-small.svg"
                    class="me-2"
                  >
                  <b>{{ $translator.trans('Delete') }}</b>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </a>
  </div>
</template>

<script>

export default {
  props: {
    helper: {
      type: Object,
      required: true
    }
  }
}
</script>
