<template>
  <div>
    <div class="col-md-12 mb-5">
      <em>
        {{ $translator.trans('Find all active providers here. You can edit their information or delete it. You can also create new ones.') }}
      </em>
      <br>
    </div>
    <div class="page-options-bar">
      <div class="d-flex part-1">
        <div class="page-options-bar__item pr">
          <div class="page-options-bar__item__search with-result">
            <label for="searchInHelper">
              <img src="/build/static/icons/search.svg">
            </label>
            <input
              id="searchInHelper"
              v-model="globalHelperSearchInput"
              type="search"
              name="searchInHelper"
              :placeholder="$translator.trans('Search for participants')"
            >
            <div class="search-sessions-counter">
              <b>{{ helpersFiltered.length }}</b>&nbsp;&nbsp;{{ $translator.trans('found participant.s') }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <section>
      <div class="data-list">
        <div class="data-list__header">
          <div class="data-list__header__item">
            {{ $translator.trans('First name') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Last name') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Email') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Customer Service reference') }}
          </div>
          <div class="data-list__header__item">
            {{ $translator.trans('Internal / External') }}
          </div>
          <div class="data-list__header__item" />
          <div class="data-list__header__item option" />
        </div>
        <div class="table-content">
          <user-helper-list-item
            v-for="helper in helpersFiltered"
            :key="helper.id"
            :helper="helper"
          />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import UserHelperListItem from './UserHelperListItem'
import _          from 'lodash'

export default {
  components: { UserHelperListItem },
  props: {
    helpers: {
      type: Array,
      required: false,
      default: () => []
    },
    preSearch: {
      type: String,
      required: false,
      default: ''
    }
  },
  data () {
    return {
      globalHelperSearchInput: this.preSearch
    }
  },
  computed: {
    helpersFiltered () {
      const query = this.globalHelperSearchInput.toLowerCase()
      const helpersFiltered = _.filter(this.helpers, (current) => {
        return current.firstName.toLowerCase().includes(query) ||
          current.lastName.toLowerCase().includes(query) ||
          current.email.toLowerCase().includes(query)
      })

      return this.globalHelperSearchInput.length > 0
        ? helpersFiltered
        : this.helpers
    }
  }
}
</script>

<style scoped lang="css">
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
</style>
