<template>
  <div
    v-if="module !== null"
    class="form"
  >
    <top-banner-personalization />
    <menu-personalization />
    <graphic-chart-appearance />
  </div>
</template>
<script>
import { mapState } from 'vuex'
import GraphicChartAppearance from './GraphicChartAppearance.vue'
import TopBannerPersonalization from './TopBanner/TopBannerPersonalization.vue'
import MenuPersonalization from './MenuPersonalization/MenuPersonalization.vue'

export default {
  name: 'AppearanceTab',
  components: {
    MenuPersonalization,
    TopBannerPersonalization,
    GraphicChartAppearance
  },
  computed: {
    ...mapState('module', ['module'])
  }
}
</script>

<style>
label {
  cursor: default;
}
</style>
