<template>
  <div class="row mt-5">
    <h3>{{ $translator.trans('Graphical charter') }}</h3>
    <div class="row">
      <div class="col-6">
        <div class="row mt-3">
          <div class="mb-3 form__item">
            <div class="d-flex align-items-center position-relative">
              <label
                for="mainColor"
                class="form-label required mb-0"
              >{{ $translator.trans('Main color') }}</label>
              <span class="bubble-information ms-2">1</span>
            </div>

            <label><small>{{ $translator.trans('It must be dark enough for the white text to stand out with good contrast.') }}</small></label>

            <input
              v-model="module.mainColor"
              type="color"
              name="mainColor"
              required="required"
              class="form-control"
            >
            <div
              v-if="'mainColor' in formErrors"
              class="invalid-feedback d-block"
            >
              {{ formErrors.mainColor }}
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="mb-3 form__item">
            <div class="d-flex align-items-center position-relative">
              <label
                for="secondaryColor"
                class="form-label required mb-0"
              >{{ $translator.trans('Secondary color') }}</label>
              <span class="bubble-information ms-2">2</span>
            </div>
            <input
              v-model="module.secondaryColor"
              type="color"
              name="secondaryColor"
              required="required"
              class="form-control"
            >
            <div
              v-if="'secondaryColor' in formErrors"
              class="invalid-feedback d-block"
            >
              {{ formErrors.secondaryColor }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <img
          class="img-fluid"
          src="/build/static/self-subscription-hub/icons/graphic-chart.webp"
        >
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import { IMAGE_FORMATS, IMAGE_FORMATS_FORMATTED, IMAGE_FORMATS_STRING } from '../../../../../utils/fileUpload.utils'

export default {
  name: 'GraphicChartAppearance',
  data () {
    return {
      IMAGE_FORMATS: IMAGE_FORMATS,
      IMAGE_FORMATS_FORMATTED: IMAGE_FORMATS_FORMATTED,
      IMAGE_FORMATS_STRING: IMAGE_FORMATS_STRING,
      loading: {
        logo: false,
        banner: false
      },
      errorProcessing: {
        logo: false,
        banner: false
      }
    }
  },
  computed: {
    ...mapState('module', ['module', 'clients']),
    ...mapState('process', ['formErrors']),
    logoUri: function () {
      return this.module.logoUri
    },
    bannerUri: function () {
      return this.module.bannerUri
    },
    tooltip: function () {
      return this.$translator.trans('Maximum file size: %size%', { size: '2Mo.<br/>' }) +
          this.$translator.trans('File format: %extensions%', { extensions: IMAGE_FORMATS_STRING + '<br/>' }) +
          this.$translator.trans('Recommended width: %width%', { extensions: '455px' })
    }
  },
  methods: {
    updateFile (src, file, preview) {
      switch (src) {
        case 'logo':
          this.module.logo = file
          this.module.logoUri = preview
          break
        case 'banner':
          this.module.banner = file
          this.module.bannerUri = preview
          break
      }
    },
    uploadFile (e, src) {
      this.loading[src] = true
      const files = e.target.files || e.dataTransfer.files

      if (files.length !== 1) {
        return
      }

      const formData = new FormData()
      formData.append('file', files[0])
      formData.append('format', IMAGE_FORMATS)

      const vm = this
      vm.error = null
      this.$axios.post(this.$routing.generate('_module_upload_files'), formData, { headers: { 'Content-Type': 'multipart/form-data' } })
        .then((response) => {
          this.updateFile(src, response.data.message.filetarget, response.data.message.previewUri)
          this.loading[src] = false
        }).catch((error) => {
          this.loading[src] = false
          if ('response' in error && 'data' in error.response && 'message' in error.response.data && 'text' in error.response.data.message) {
            vm.error = error.response.data.message.text
            this.errorProcessing[src] = error.response.data.message.text
          } else {
            vm.error = this.$translator.trans('The ' + src + ' cannot be put online for an unknown reason.')
          }
        })
    },
    changeFile (src) {
      this.updateFile(src, null)
    },
    updateBanner (banner) {
      this.module.banner = banner
    }
  }
}
</script>
