<template>
  <div class="mt-5">
    <div>
      <h3>{{ $translator.trans('Menu') }}</h3>
    </div>
    <section class="mt-3">
      <div class="row">
        <div class="col-md-3">
          <div class="mb-3 form__item justify-content-between">
            <button
              type="button"
              class="btn btn-outline-primary"
              disabled
            >
              {{ module.personalization.trainingTitle }}
            </button>
          </div>
          <div class="mb-3 form__item">
            <label
              for="trainingTitle"
              class="form-label required"
            >{{ $translator.trans('Trainings page title') }}</label>
            <input
              v-model="module.personalization.trainingTitle"
              name="trainingTitle"
              class="form-control w-100"
            >
            <div
              v-if="'trainingTitle' in formErrors"
              class="invalid-feedback d-block"
            >
              {{ formErrors.personalization.trainingTitle }}
            </div>
          </div>
          <div class="mb-3 form__item">
            <label
              for="trainingDescription"
              class="form-label required"
            >{{ $translator.trans('Trainings page description') }}</label>
            <textarea
              v-model="module.personalization.trainingDescription"
              name="trainingDescription"
              class="form-control w-100"
              style="min-height: 120px"
            />
            <div
              v-if="'trainingDescription' in formErrors"
              class="invalid-feedback d-block"
            >
              {{ formErrors.personalization.trainingDescription }}
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="mb-3 form__item justify-content-between">
            <button
              type="button"
              class="btn btn-outline-primary"
              disabled
            >
              {{ module.personalization.replayTitle }}
            </button>
            <div class="search-switch d-flex">
              <label
                class="switch"
                for="switch-active-state"
                @click="() => module.personalization.enabledReplay = !module.personalization.enabledReplay"
              >
                <input
                  v-model="module.personalization.enabledReplay"
                  type="checkbox"
                  name="switch-active-state"
                >
                <span class="slider round" />
              </label>
            </div>
            <div
              v-if="'enabledTraining' in formErrors"
              class="invalid-feedback d-block"
            >
              {{ formErrors.personalization.enabledReplay }}
            </div>
          </div>
          <div class="mb-3 form__item">
            <label
              for="faqTitle"
              class="form-label required"
            >{{ $translator.trans('Replay page title') }}</label>
            <input
              v-model="module.personalization.replayTitle"
              name="replayTitle"
              class="form-control w-100"
            >
            <div
              v-if="'replayTitle' in formErrors"
              class="invalid-feedback d-block"
            >
              {{ formErrors.personalization.replayTitle }}
            </div>
          </div>

          <div class="mb-3 form__item">
            <label
              for="replayDescription"
              class="form-label required"
            >{{ $translator.trans('Replay page description') }}</label>
            <textarea
              v-model="module.personalization.replayDescription"
              name="replayDescription"
              class="form-control w-100"
              style="min-height: 120px"
            />
            <div
              v-if="'replayDescription' in formErrors"
              class="invalid-feedback d-block"
            >
              {{ formErrors.personalization.replayDescription }}
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="mb-3 form__item justify-content-between">
            <button
              type="button"
              class="btn btn-outline-primary"
              disabled
            >
              {{ module.personalization.sessionsTitle }}
            </button>
            <div class="search-switch d-flex">
              <label
                class="switch"
                for="switch-active-state"
                @click="() => module.personalization.enabledSessions = !module.personalization.enabledSessions"
              >
                <input
                  v-model="module.personalization.enabledSessions"
                  type="checkbox"
                  name="switch-active-state"
                >
                <span class="slider round" />
              </label>
            </div>
          </div>
          <div class="mb-3 form__item">
            <label
              for="faqTitle"
              class="form-label required"
            >{{ $translator.trans('My sessions title') }}</label>
            <input
              v-model="module.personalization.sessionsTitle"
              name="sessionsTitle"
              class="form-control w-100"
            >
            <div
              v-if="'sessionsTitle' in formErrors"
              class="invalid-feedback d-block"
            >
              {{ formErrors.personalization.sessionsTitle }}
            </div>
          </div>

          <div class="mb-3 form__item">
            <label
              for="sessionsDescription"
              class="form-label required"
            >{{ $translator.trans('My sessions description') }}</label>
            <textarea
              v-model="module.personalization.sessionsDescription"
              name="sessionsDescription"
              class="form-control w-100"
              style="min-height: 120px"
            />
            <div
              v-if="'sessionsDescription' in formErrors"
              class="invalid-feedback d-block"
            >
              {{ formErrors.personalization.sessionsDescription }}
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="mb-3 form__item justify-content-between">
            <button
              type="button"
              class="btn btn-outline-primary"
              disabled
            >
              {{ module.personalization.faqTitle }}
            </button>
            <div class="search-switch d-flex">
              <label
                class="switch"
                for="switch-active-state"
                @click="() => module.personalization.enabledFaq = !module.personalization.enabledFaq"
              >
                <input
                  v-model="module.personalization.enabledFaq"
                  type="checkbox"
                  name="switch-active-state"
                >
                <span class="slider round" />
              </label>
            </div>
            <div
              v-if="'enabledTraining' in formErrors"
              class="invalid-feedback d-block"
            >
              {{ formErrors.personalization.enabledFaq }}
            </div>
          </div>
          <div class="mb-3 form__item">
            <label
              for="faqTitle"
              class="form-label required"
            >{{ $translator.trans('FAQ page title') }}</label>
            <input
              v-model="module.personalization.faqTitle"
              name="faqTitle"
              class="form-control w-100"
            >
            <div
              v-if="'faqTitle' in formErrors"
              class="invalid-feedback d-block"
            >
              {{ formErrors.personalization.faqTitle }}
            </div>
          </div>

          <div class="mb-3 form__item">
            <label
              for="faqDescription"
              class="form-label required"
            >{{ $translator.trans('Faq description') }}</label>
            <textarea
              v-model="module.personalization.faqDescription"
              name="faqDescription"
              class="form-control w-100"
              style="min-height: 120px"
            />
            <div
              v-if="'faqDescription' in formErrors"
              class="invalid-feedback d-block"
            >
              {{ formErrors.personalization.faqDescription }}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { mapState } from 'vuex'

export default {
  name: 'PersonalizationAppearance',
  computed: {
    ...mapState('module', ['module']),
    ...mapState('process', ['formErrors'])
  },
  methods: {
    updateLogo (logo) {
      this.module.logo = logo
    }
  }
}
</script>
