<template>
  <div
    class="data-list__row"
    :style="{opacity: input.disabled ? 0.5 : 1}"
  >
    <div class="row__data">
      {{ $translator.trans(input.label) }}
    </div>
    <div class="row__data">
      <div v-if="input.disabled">
        {{ $translator.trans(input.label) }}
      </div>
      <input
        v-else
        v-model="module[input.name]"
        type="text"
        :name="input.name"
        required="required"
        class="form-control"
        :disabled="input.disabled"
      >
      <div
        v-if="input.name in formErrors"
        class="invalid-feedback d-block"
      >
        {{ formErrors[input.name] }}
      </div>
    </div>
    <div class="row__data">
      {{ $translator.trans(input.placeholder) }}
    </div>
    <div class="row__data">
      <div v-if="input.disabled">
        {{ $translator.trans(input.label) }}
      </div>
      <input
        v-else
        v-model="module[input.placeholderName]"
        type="text"
        :name="input.placeholderName"
        required="required"
        class="form-control"
        :disabled="input.disabled"
      >
      <div
        v-if="input.placeholderName in formErrors"
        class="invalid-feedback d-block"
      >
        {{ formErrors[input.placeholderName] }}
      </div>
    </div>
    <div class="row__data">
      {{ $translator.trans(input.type) }}
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'

export default {
  name: 'RegisterFormItemsAppearance',
  props: {
    input: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState('module', ['module']),
    ...mapState('process', ['formErrors'])
  }
}
</script>
