<template>
  <section>
    <subject-header
      :module="module"
    />
    <subject-search-area class="my-3" />
    <div class="container">
      <alert
        v-if="error"
        :text="error"
        type="danger"
      />
    </div>
    <subject-list
      :module="module"
      :csrf-token="csrfToken"
      :user="user"
    />
  </section>
</template>

<script>
import Alert             from '../components/ui/Alert.vue'
import SubjectHeader     from './subject/SubjectHeader'
import SubjectList       from './subject/SubjectList'
import SubjectSearchArea from './subject/SubjectSearchArea'
import { mapState } from 'vuex'
export default {
  name: 'Catalog',
  components: { Alert, SubjectSearchArea, SubjectList, SubjectHeader },
  props: {
    module: {
      type: Object,
      required: true
    },
    csrfToken: {
      type: String,
      required: false,
      default: ''
    },
    error: {
      type: String,
      required: true
    }
  },
  computed: {
    ...mapState('selfSubscription', ['user'])
  }
}
</script>

<style scoped>

</style>
