<template>
  <section>
    <f-a-q-header />
    <f-a-q-list />
  </section>
</template>

<script>
import FAQHeader from './faq/FAQHeader'
import FAQList from './faq/FAQList'

export default {
  name: 'FAQ',
  components: { FAQList, FAQHeader }
}
</script>

<style scoped>

</style>
