<template>
  <module-user-hub-no-longer-available v-if="!module.active" />
  <section v-else>
    <live-session-info v-if="!isEmbed" />
    <module-info v-if="!isEmbed" />
    <loader v-if="loading" />
    <template v-else>
      <catalog
        v-if="filter.view === 'Search'"
        :module="module"
        :csrf-token="csrfToken"
        :error="error"
      />
      <overview
        v-else-if="(filter.view === 'Current' || filter.view === 'Previous') && !isEmbed"
        :user="user"
      />
      <f-a-q v-else-if="filter.view === 'FAQ' && !isEmbed" />
      <replay-catalog
        v-else-if="filter.view === 'Replay' && !isEmbed"
        :csrf-token="csrfToken"
        :error="error"
      />
      <profile v-else-if="filter.view === 'Profile' && !isEmbed" />
    </template>
    <convocation-modal v-if="!isEmbed" />
    <add-to-calendar-modal v-if="!isEmbed" />
  </section>
</template>

<script>
import LiveSessionInfo    from './header/LiveSessionInfo'
import ModuleInfo         from './header/ModuleInfo'
import Catalog            from './Catalog'
import { mapState }       from 'vuex'
import Overview           from './Overview'
import Loader             from '../components/ui/Loader'
import FAQ                from './FAQ'
import Profile            from './Profile'
import ConvocationModal   from './subject/ConvocationModal'
import AddToCalendarModal from './subject/AddToCalendarModal'
import ReplayCatalog from './ReplayCatalog.vue'
import ModuleUserHubNoLongerAvailable from './ModuleUserHubNoLongerAvailable.vue'
export default {
  name: 'ModuleUserHub',
  components: {
    ModuleUserHubNoLongerAvailable,
    AddToCalendarModal,
    ConvocationModal,
    Profile,
    FAQ,
    ReplayCatalog,
    Loader,
    Overview,
    Catalog,
    ModuleInfo,
    LiveSessionInfo
  },
  props: {
    module: {
      type: Object,
      required: true
    },
    subjects: {
      type: Array,
      required: true
    },
    allUserSubscriptions: {
      type: Array,
      required: true
    },
    user: {
      type: Object,
      required: true
    },
    csrfToken: {
      type: String,
      required: false,
      default: ''
    },
    error: {
      type: String,
      required: true
    },
    page: {
      type: String,
      required: false,
      default: 'Search'
    },
    embed: {
      type: Boolean,
      required: false,
      default: false
    },
    onlyOneSubject: {
      type: Object,
      required: false,
      default: null
    }
  },
  computed: {
    ...mapState('selfSubscription', ['filter', 'isEmbed']),
    ...mapState('process', ['loading'])
  },
  mounted () {
    this.$store.dispatch('selfSubscription/initHub', { module: this.module, subjects: this.subjects, subscriptions: this.allUserSubscriptions, user: this.user })
    this.$store.commit('selfSubscription/view', this.page)
    this.$store.commit('selfSubscription/embed', this.embed)
    this.$store.commit('selfSubscription/onlyOneSubject', this.onlyOneSubject)
  }
}
</script>

<style scoped>

</style>
