<template>
  <section
    class="landing-page"
    style="height: calc(100vh - 300px);"
  >
    <div class="container-bg-img h-100 d-flex justify-content-center align-items-center">
      <div class="content-main">
        <div class="logo-container">
          <img
            src="/build/static/LiveSessionLogo.svg"
            class="me-1"
            alt="logo Live Session"
          >
        </div>
        <h1 class="heading-landing-1 mb-3">
          {{ $translator.trans('The catalog you are looking for is no longer available.') }}
        </h1>
        <!--          <small class="style-p">-->
        <!--            <span>For more information, you can contact our customer service by email at</span>-->
        <!--            <span class="fw-bold">serviceclient@live-session.fr</span>-->
        <!--            <span>or by phone at</span>-->
        <!--            <span class="fw-bold">+33 (0)970 440 168.</span>-->
        <!--          </small>-->
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ModuleUserHubNoLongerAvailable'
}
</script>
