<template>
  <section>
    <overview-header />
    <overview-view-selector class="my-3" />
    <subject-list
      :user="user"
      :module="module"
    />
  </section>
</template>

<script>
import SubjectList from './subject/SubjectList'
import OverviewHeader from './overview/OverviewHeader'
import OverviewViewSelector from './overview/OverviewViewSelector'
import { mapState } from 'vuex'
export default {
  name: 'Overview',
  components: { OverviewViewSelector, OverviewHeader, SubjectList },
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState('selfSubscription', ['filter', 'module'])
  }
}
</script>

<style scoped>

</style>
