<template>
  <section>
    <div class="">
      <div class="col">
        <h1 class="home-title text-center">
          {{ $translator.trans('My profile', {}, 'self-subscription') }}
        </h1>
      </div>
    </div>
    <main class="row">
      <div class="col">
        <div class="container w-32">
          <div class="card card-subject">
            <div class="card-body">
              <profile-image />
              <hr>
              <profile-form />
            </div>
          </div>
        </div>
      </div>
    </main>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import ProfileForm from './profile/ProfileForm'
import ProfileImage from './profile/ProfileImage'
export default {
  name: 'Profile',
  components: { ProfileImage, ProfileForm },
  computed: {
    ...mapState('selfSubscription', ['module'])
  }
}
</script>

<style scoped>

</style>
