<template>
  <div>
    <div
      v-if="module.personalization.replayBanner"
      :class="['module-banner module-banner-replay', {
        ['background-position-' + module.personalization.replayBannerPosition]: module.personalization.replayBannerPosition,
      }]"
    />

    <div
      :class="['col bg-light p-3 py-2 text-center d-block', {
        'd-lg-none': !module.personalization.replayTitle || !module.personalization.replayDescription,
      }]"
    >
      <h1 class="fw-bold mb-0 d-block d-lg-none">
        {{ $translator.trans(module.personalization.replayTitle, {}, 'self-subscription') }}
      </h1>
      <aside v-if="module.personalization.replayDescription">
        <div class="container pt-2">
          <div class="col-auto col-md-5 mx-auto">
            {{ $translator.trans(module.personalization.replayDescription, {}, 'self-subscription') }}
          </div>
        </div>
      </aside>
    </div>

    <replay-search-area class="my-3" />
    <div class="container">
      <alert
        v-if="error"
        :text="error"
        type="danger"
      />
    </div>
    <div class="container-xxl mb-3">
      <div class="row">
        <div
          v-for="video in filteredVideos"
          :key="video.id"
          class="col-xl-4 col-md-6 col-video-custom col-sm-12 mb-3"
        >
          <video-list-show
            :key="video.id"
            :video="video"
            :template-design="module.templateDesign"
          />
        </div>
      </div>
    </div>
    <login-replay-self-subscription-modal
      :module="module"
      :csrf-token="csrfToken"
    />
    <show-replay-video-modal />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import LoginReplaySelfSubscriptionModal from './subject/LoginReplaySelfSubscriptionModal.vue'
import ShowReplayVideoModal from './subject/ShowReplayVideoModal.vue'
import Alert from '../components/ui/Alert.vue'
import ReplaySearchArea from './subject/ReplaySearchArea.vue'
import VideoListShow from '../components/self-subscription/module/Editor/VideoListShow.vue'

export default {
  name: 'ReplayCatalog',
  components: {
    VideoListShow,
    ReplaySearchArea,
    Alert,
    LoginReplaySelfSubscriptionModal,
    ShowReplayVideoModal
  },
  props: {
    csrfToken: {
      type: String,
      required: false,
      default: ''
    },
    error: {
      type: String,
      required: true
    }
  },
  computed: {
    ...mapState('selfSubscription', ['module', 'user', 'filterReplay']),
    filteredVideos () {
      // Filter videos based on criteria in filterReplay
      return this.module.videosReplay.filter(video => {
        if (video.subjectId) return false
        if (!video.published) return false
        // Convert search text to lowercase for case-insensitive matching
        const textFilter = this.filterReplay.text.toLowerCase()

        // Map category filter values
        const categoryFilters = this.filterReplay.category.map(categoryId => categoryId)

        // Check if search text is included in the video title or description
        const textMatch = video.title.toLowerCase().includes(textFilter) || video.description.toLowerCase().includes(textFilter)

        // Check if at least one filtered category is present in video's catalogsReplay
        const categoryMatch = categoryFilters.length === 0 || categoryFilters.some(categoryId => video.catalogsReplay.includes(categoryId))

        // Return true if the video matches both the text and category filters
        return textMatch && categoryMatch
      })
    }
  },
  mounted () {
    const searcherUrl = decodeURI(new URLSearchParams(location.search).get('q'))
    if (searcherUrl !== 'null') {
      this.filterReplay.text = searcherUrl
    }
  }
}
</script>
