{% extends 'blank_page.html.twig' %}
{% block base_body %}
    <div class="row">
        <div class="row">
            <div class="col-sm d-flex justify-content-start">
                <a href="{{ url('_app_login') }}" class="login-header__logo main-logo">
                    <img src="{{ asset('build/static/symbole-logo-live-session.svg') }}" alt="">
                    <img src="{{ asset('build/static/logo-live-session.png') }}" alt="">
                </a>
            </div>
            <div class="col-sm d-flex justify-content-end">
                <div class="login-header__swap-language ">
                    <a href="{{ url('_change_locale', {'_locale': app.request.locale is same as 'fr' ? 'en' : 'fr'}) }}">
                        <img src="{{ asset('build/static/icons/swap-horizontal.svg') }}" alt="">
                    </a>
                    <p>{{ 'Preferred language' | trans }} (<span>{{ app.request.locale|upper }}</span>)</p>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div style="text-align: center;">
            <div class="container col-4 ">
                <div class="login-main__logo" >
                    <img  src="{{ asset('build/static/single-logo.svg') }}" >
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <h4 class="card-title">{{ 'YOU SHOULD NOT ARRIVE HERE' | trans}} :-) </h4>
                        <h5 class="card-title">{{ 'Error 404 - Page not found' | trans }}</h5>
                        <a href="javascript:history.back()">{{ 'Go back to the previous page'|trans }}</a>
                        <br>
                        <div style="color: #80bc00">
                            <p class="card-text">{{ 'Need for help' | trans}} ?</p>
                            <p class="card-text">{{'Call or email us if you prefer' | trans}} !</p>
                            <p class="card-text"><a href="tel:+33 970 440 168"> {{'Tel  +33 970 440 168' | trans}} </a> | <a href="mailto:serviceclient@live-session.fr"> {{'Email  serviceclient@live-session.fr' | trans}} </a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div style="text-align: center;">
            <a
                href="/archives/PolitiqueRGPD-LIVESESSION-MLSM.pdf"
                target="_blank"
            >
                {{ 'Privacy' | trans }}
            </a>
            <span>|</span>
            <a
                href="https://live-session.fr/mentions-legales/"
                target="_blank"
            >
                {{ 'Legal notices' | trans }}
            </a>
        </div>
    </div>

{% endblock %}
