<template>
  <div class="rules-visualizer row">
    <div class="col-12">
      <ul>
        <li :class="toClass(isValidEmail(email))">
          {{ $translator.trans('Be in email@domain.com format') }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import * as emailCheckerUtils from './email-checker.utils'

export default {
  name: 'EmailRulesVisualizer',
  props: {
    email: {
      type: String,
      required: true
    }
  },
  methods: {
    ...emailCheckerUtils,
    toClass (result) {
      return {
        'text-muted': !result,
        'text-success': result
      }
    }
  }
}
</script>
