<template>
  <div class="rules-visualizer row">
    <small class="pb-1">{{ $translator.trans('You message must contain:') }}</small>
    <div class="col-12 col-md-6 p-0">
      <ul class="mb-0">
        <li :class="toClass(containLowerLetter(password))">
          <small>{{ $translator.trans('One lowercase letter') }}</small>
        </li>
        <li :class="toClass(containUpperLetter(password))">
          <small>{{ $translator.trans('One uppercase letter') }}</small>
        </li>
        <li :class="toClass(containNumber(password))">
          <small>{{ $translator.trans('One number') }}</small>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-6 p-0">
      <ul>
        <li :class="toClass(containSpecialCharacters(password))">
          <small>{{ $translator.trans('One special character') }}</small>
        </li>
        <li :class="toClass(lengthIsMoreMinimal(password))">
          <small>{{ $translator.trans('8 characters minimum') }}</small>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import * as passwordCheckerUtils from './password-checker.utils'

export default {
  name: 'PasswordRulesVisualizer',
  props: {
    password: {
      type: String,
      required: true
    }
  },
  methods: {
    ...passwordCheckerUtils,
    toClass (result) {
      return {
        'text-muted': !result,
        'text-success': result
      }
    }
  }
}
</script>
