{% extends 'main.html.twig' %}

{% set routeActive = '_client_list' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('client-manager-list') }}
	{{ encore_entry_link_tags('collection-type') }}
	{{ encore_entry_link_tags('evaluations-form') }}
	{{ encore_entry_link_tags('presence-values-form') }}
	{{ encore_entry_link_tags('client-billing-tab') }}
	{{ encore_entry_link_tags('client-convocation-list') }}
	{{ encore_entry_link_tags('client-evaluation-mail-list') }}
	{{ encore_entry_link_tags('client-tailored-tab') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('tinymce-input') }}
	{{ encore_entry_script_tags('client-manager-list') }}
	{{ encore_entry_script_tags('client-form-tab') }}
	{{ encore_entry_script_tags('client-convocation-list') }}
	{{ encore_entry_script_tags('client-evaluation-mail-list') }}
	{{ encore_entry_script_tags('tags-input') }}
	{{ encore_entry_script_tags('collection-type') }}
	{{ encore_entry_script_tags('configuration-holder-form') }}
	{{ encore_entry_script_tags('evaluations-form') }}
	{{ encore_entry_script_tags('presence-values-form') }}
	{{ encore_entry_script_tags('preferences-form') }}
	{{ encore_entry_script_tags('client-tab-services') }}
	{{ encore_entry_script_tags('client-billing-tab') }}
	{{ encore_entry_script_tags('client-tailored-tab') }}

	<script>
		myFunction();
		function myFunction()
		{
			const fillEmail0 = document.getElementById('client_options_tab_form_fillEmail_0');
			const fillEmail1 = document.getElementById('client_options_tab_form_fillEmail_1');
			if (document.getElementById('client_options_tab_form_enableRemoteSignature').checked){
				fillEmail0.disabled = false;
				fillEmail1.disabled = false;
			} else {
				fillEmail0.disabled = true;
				fillEmail1.disabled = true;
			}
		}

		document.addEventListener("DOMContentLoaded", function () {
			// Sélectionnez les éléments radio senderTransporter
			var senderTransporterMandrill = document.getElementById('client_email_tab_form_senderTransporter_0');
			//var senderTransporterIDFuse = document.getElementById('client_email_tab_form_senderTransporter_1');
			var senderTransporterBrevo = document.getElementById('client_email_tab_form_senderTransporter_1');

			// Sélectionnez l'élément senderEmail
			var senderEmail = document.getElementById('client_email_tab_form_senderEmail');

			var senderEmailContainer = document.getElementById('block-senderEmail');
			var domainSenderEmail = document.getElementById('domain-senderEmail');

			senderTransporterMandrill.addEventListener("change", function () {
				senderEmail.style.display = 'block';
				domainSenderEmail.textContent = '@mylivesession.com';
				senderEmail.value = senderEmail.value.replace('@mylivesession.com', '');

				if (senderEmailContainer) {
					senderEmailContainer.style.display = 'block';
				}
			});

			senderTransporterBrevo.addEventListener("change", function () {
				senderEmail.style.display = 'block';
				domainSenderEmail.textContent = '@mylivesession.app';


				if (senderEmailContainer) {
					senderEmailContainer.style.display = 'block';
				}
			});

			if (senderTransporterMandrill) {
				if (senderTransporterMandrill.checked) {
					domainSenderEmail.textContent = '@mylivesession.com';
					senderEmail.value = senderEmail.value.replace('@mylivesession.com', '');
				}
			}

			if (senderTransporterBrevo) {
				if (senderTransporterBrevo.checked) {
					domainSenderEmail.textContent = '@mylivesession.app';
					senderEmail.value = senderEmail.value.replace('@mylivesession.app', '');
				}
			}
		});

	</script>
{% endblock %}

{% block main %}
	<div class="page-title">
		<h1>{{ client.name }}</h1>
		{% if client.active == false %}
			<a href="{{ path('_client_activate', {id: client.id}) }}" title="" class="primary-btn">
				{{ 'Activate'|trans }}</a>
		{% endif %}
	</div>
	{% if client.active == false %}
		<div class="alert alert-warning" role="alert">
			{{ 'This account is archived.'|trans }}
		</div>
	{% endif %}
	<div class="col-md-12">
		{% include('flash_messages.html.twig') %}
	</div>


	{% set generalTabName = tabName('ClientGeneralTabFormType') %}
	{% set organizationTabName = tabName('ClientOrganizationTabFormType') %}
	{% set servicesTabName = 'clientServiceTab' %}
	{% set connectorTabName = 'clientConnectorTab' %}
	{% set userTabName = 'clientAccountManagerListTab' %}
	{% set customizationTabName = tabName('ClientCustomizationTabFormType') %}
	{% set emailsTabName = tabName('ClientEmailTabFormType') %}
	{% set optionsTabName = tabName('ClientOptionsTabFormType') %}
	{% set evaluationsTabName = 'clientEvaluationsTab' %}
	{% set preferencesTabName = 'clientPreferencesTab' %}
	{% set billingTabName = 'clientBillingTab' %}
	{% set tailoredTabName = 'clientTailoredTab' %}

	<section id="client-form-tab">
		<nav>
			<div class="nav nav-tabs mb-5" id="nav-tab-user" role="tablist">
				{% set thisFormIsActive = ( activeTab == generalTabName ) ? 'active' %}
				<a class="nav-item nav-link ps-0 {{ thisFormIsActive }}" id="nav-general-tab" data-toggle="tab"
					href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">{{ 'General' | trans }}</a>

				{% set thisFormIsActive = ( activeTab == organizationTabName ) ? 'active' %}
				<a class="nav-item nav-link {{ thisFormIsActive }}" id="nav-organization-tab" data-toggle="tab" href="#nav-organization"
					role="tab" aria-controls="nav-organization" aria-selected="false">{{ 'Organization' | trans }}</a>

				{% set thisFormIsActive = ( activeTab == servicesTabName ) ? 'active' %}
				<a class="nav-item nav-link {{ thisFormIsActive }}" id="nav-services-tab" data-toggle="tab" href="#nav-services"
					role="tab" aria-controls="nav-organization" aria-selected="false">{{ 'Services' | trans }}</a>

				{% set thisTabIsActive = ( activeTab == connectorTabName ) ? 'active' %}
				<a class="nav-item nav-link {{ thisTabIsActive }}" id="nav-connector-tab" data-toggle="tab" href="#nav-connector"
					role="tab" aria-controls="nav-connector" aria-selected="false">{{ 'Connectors' | trans }}</a>

				{% set thisTabIsActive = ( activeTab == userTabName ) ? 'active' %}
				<a class="nav-item nav-link {{ thisTabIsActive }}" id="nav-users-tab" data-toggle="tab"
					href="#nav-users" role="tab" aria-controls="nav-users"
					aria-selected="false">{{ 'Users' | trans }}</a>

				{% set thisFormIsActive = ( activeTab == customizationTabName ) ? 'active' %}
				<a class="nav-item nav-link {{ thisFormIsActive }}" id="nav-customization-tab" data-toggle="tab"
					href="#nav-customization" role="tab" aria-controls="nav-customization"
					aria-selected="false">{{ 'Customization' | trans }}</a>

				{% set thisFormIsActive = ( activeTab == emailsTabName ) ? 'active' %}
				<a class="nav-item nav-link {{ thisFormIsActive }}" id="nav-emails-tab" data-toggle="tab"
					href="#nav-emails" role="tab" aria-controls="nav-emails"
					aria-selected="false">{{ 'Emails' | trans }}</a>

				{% set thisFormIsActive = ( activeTab == optionsTabName ) ? 'active' %}
				<a class="nav-item nav-link {{ thisFormIsActive }}" id="nav-options-tab" data-toggle="tab"
					href="#nav-options" role="tab" aria-controls="nav-options"
					aria-selected="false">{{ 'Options' | trans }}</a>

				{% set thisTabIsActive = ( activeTab == evaluationsTabName ) ? 'active' %}
				<a class="nav-item nav-link {{ thisTabIsActive }}" id="nav-evaluations-tab" data-toggle="tab"
				   href="#nav-evaluations" role="tab" aria-controls="nav-evaluations"
				   aria-selected="false">{{ 'Evaluations' | trans }}</a>

				{% set thisTabIsActive = ( activeTab == preferencesTabName ) ? 'active' %}
				<a class="nav-item nav-link {{ thisTabIsActive }}" id="nav-preferences-tab" data-toggle="tab"
				   href="#nav-preferences" role="tab" aria-controls="nav-preferences"
				   aria-selected="false">{{ 'Notifications' | trans }}</a>

				{% set thisTabIsActive = ( activeTab == billingTabName ) ? 'active' %}
				<a class="nav-item nav-link {{ thisTabIsActive }}" id="nav-billing-tab" data-toggle="tab"
				   href="#nav-billing" role="tab" aria-controls="nav-billing"
				   aria-selected="false">{{ 'Billing'|trans }}</a>

				{% set thisTabIsActive = ( activeTab == tailoredTabName ) ? 'active' %}
				<a class="nav-item nav-link {{ thisTabIsActive }}" id="nav-tailored-tab" data-toggle="tab"
				   href="#nav-tailored" role="tab" aria-controls="nav-tailored"
				   aria-selected="false">{{ 'Tailored'|trans }}</a>
			</div>
		</nav>

		<div class="tab-content pb-4" id="nav-tab-client-form-tab">
			<!--<editor-folder> General  -->
			{% set thisFormIsActive = ( activeTab == generalTabName ) ? 'active' %}
			{{ form_start(forms.clientGeneralForm, { 'attr' : {
				'class' : 'form tab-pane fade show ' ~ thisFormIsActive,
				'id' : 'nav-general',
				'role' : 'tabpanel',
				'aria-labelledby' : 'nav-general-tab',
				'action' : '?tab-name=' ~ generalTabName
			} }) }}
			{{ form_errors(forms.clientGeneralForm) }}
			<div class="row">
				<div class="col-md-6 col-lg-4">
					{{ form_row(forms.clientGeneralForm.name) }}
					{{ form_row(forms.clientGeneralForm.defaultLang) }}
				</div>
				<div class="col-md-6 col-lg-4">
					{{ form_row(forms.clientGeneralForm.timezone) }}
					{{ form_row(forms.clientGeneralForm.categories, { 'class' : 'form__checklist' }) }}
				</div>
				<div class="col-md-12 col-lg-4">
					<fieldset class="form__fieldset fieldset-primary">
						<legend class="mb-4">
							<img src="{{ asset('build/static/icons/contacts.svg') }}" alt="contacts">
							{{ 'Contacts' | trans }}
						</legend>
						<div class="row">
							{{ form_label(forms.clientGeneralForm.commercialContact) }}
							<div class="col-6">
								{{ form_row(forms.clientGeneralForm.commercialContact.email) }}
							</div>
							<div class="col-6">
								{{ form_row(forms.clientGeneralForm.commercialContact.telephone) }}
							</div>
						</div>
						<div class="row">
							{{ form_label(forms.clientGeneralForm.customerContact) }}
							<div class="col-6">
								{{ form_row(forms.clientGeneralForm.customerContact.email) }}
							</div>
							<div class="col-6">
								{{ form_row(forms.clientGeneralForm.customerContact.telephone) }}
							</div>
						</div>
					</fieldset>
				</div>
			</div>
			{% if readonly == false %}
				<div class="action mt-4">
					<button type="submit" title="" class="primary-btn">
						<img src="{{ asset('build/static/icons/check-white.svg') }}" class="me-2">
						{{ 'Save' | trans }}
					</button>
				</div>
			{% endif %}
			{{ form_end( forms.clientGeneralForm ) }}
			<!--</editor-folder>-->

			<!--<editor-folder> Organisme  -->
			{% set thisFormIsActive = ( activeTab == organizationTabName ) ? 'active' %}
			{{ form_start(forms.clientOrganizationForm, { 'attr' : {
				'class' : 'form tab-pane fade show fade ' ~ thisFormIsActive,
				'id' : 'nav-organization',
				'role' : 'tabpanel',
				'aria-labelledby' : 'nav-organization-tab',
				'action' : '?tab-name=' ~ organizationTabName
			} }) }}
			{{ form_errors(forms.clientOrganizationForm) }}
			<div class="row">
				<h6 class="mb-3 form-subtitle">{{ 'Organization' | trans }}</h6>
				<div class="col-md-6 col-lg-4">
					{{ form_row(forms.clientOrganizationForm.organisationName) }}
				</div>
				<div class="col-md-6 col-lg-4">
					{{ form_row(forms.clientOrganizationForm.organisationCompetentCommercialCourt) }}
				</div>
				<div class="col-md-6 col-lg-4">
					{{ form_row(forms.clientOrganizationForm.organisationTrainingActivityRegistrationNumber) }}
				</div>
				<div class="col-md-6 col-lg-4">
					{{ form_row(forms.clientOrganizationForm.organisationDefaultTrainingActionNature) }}
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="row">
						<div class="col-6">
							{{ form_row(forms.clientOrganizationForm.organisationCity, { 'attr': { 'class' : 'form__item' } }) }}
						</div>
						<div class="col-6">
							{{ form_row(forms.clientOrganizationForm.organisationDistrict, { 'attr': { 'class' : 'form__item' } }) }}
						</div>
					</div>
				</div>
				<h6 class="mb-3 form-subtitle">{{ 'Manager' | trans }}</h6>
				<div class="col-md-6 col-lg-4">
					{{ form_row(forms.clientOrganizationForm.organisationLegalRepresentative) }}
				</div>
				<div class="col-md-6 col-lg-4">
					{{ form_row(forms.clientOrganizationForm.organisationFunctionLegalRepresentative) }}
				</div>
			</div>
			{% if readonly == false %}
				<div class="action mt-4">
					<button type="submit" title="" class="primary-btn">
						<img src="{{ asset('build/static/icons/check-white.svg') }}" class="me-2">
						{{ 'Save' | trans }}
					</button>
				</div>
			{% endif %}
			{{ form_end( forms.clientOrganizationForm ) }}
			<!--</editor-folder>-->

			<!--<editor-folder> Services-->
			{% set thisTabIsActive = ( activeTab == servicesTabName ) ? 'active' %}
			<div class="form tab-pane fade show {{ thisTabIsActive }}" id="nav-services" role="tabpanel"
				 aria-labelledby="nav-services-tab">
				<!-- Assistance  -->
				<div class="col-12" id="client-tab-services">
					<client-tab-services
							:client-id="{{ client.id }}"
							:client-services="{{ client.services|serialize('json', {'groups': 'read_client_services'}) }}"
							:read-only="{{ readonly is same as true ? 'true' : 'false' }}">
					</client-tab-services>
				</div>
			</div>
			<!--</editor-folder>-->

			<!--<editor-folder> Connecteurs  -->
			{% set thisTabIsActive = ( activeTab == connectorTabName ) ? 'active' %}
			<div class="form tab-pane fade show {{ thisTabIsActive }}" id="nav-connector" role="tabpanel"
				 aria-labelledby="nav-connector-tab">
				<div id="configuration-holder-form">
					<configuration-holder-form
						:client="{{ client.id }}"
						:convocations="{{ convocations | serialize('json', {'groups': 'read_convocation'}) }}"
						:client-configuration-holder="{{ client.configurationHolders.values | serialize('json', {'groups' : 'read_configuration_holder' }) }}"
						:read-only="{{ readonly is same as true ? 'true' : 'false' }}"
						:is-admin="{{ is_granted('ROLE_ADMIN')?'true':'false' }}"
						:is-admin-manager="{{ is_granted('ROLE_ADMIN_MANAGER')?'true':'false' }}">
					</configuration-holder-form>
				</div>
			</div>
			<!--</editor-folder>-->

			<!--<editor-folder> Utilisateurs -->
			{% set thisTabIsActive = ( activeTab == userTabName ) ? 'active' %}
			<div class="form tab-pane fade show {{ thisTabIsActive }}" id="nav-users" role="tabpanel"
				 aria-labelledby="nav-users-tab">
				<div id="client-manager-list">
					<client-manager-list
						:users="{{ users|serialize('json', {'groups': 'read_user'}) }}"
						:client="{{ client|serialize('json', {'groups': 'read_client'}) }}"
						:read-only="{{ readonly is same as true ? 'true' : 'false' }}">
					</client-manager-list>
				</div>
			</div>
			<!--</editor-folder>-->

			<!--<editor-folder> Personnalisation -->
			{% set thisFormIsActive = ( activeTab == customizationTabName ) ? 'active' %}
			{{ form_start(forms.clientCustomizationForm, { 'attr' : {
				'class' : 'form tab-pane fade show ' ~ thisFormIsActive,
				'id' : 'nav-customization',
				'role' : 'tabpanel',
				'aria-labelledby' : 'nav-customization-tab',
				'action' : '?tab-name=' ~ customizationTabName
			} }) }}
			{{ form_errors(forms.clientCustomizationForm) }}
			<div class="row">
				<div class="col-md-6 col-lg-4">
					{{ form_row(forms.clientCustomizationForm.logoFile) }}
					{{ form_row(forms.clientCustomizationForm.headerFile) }}
					{{ form_row(forms.clientCustomizationForm.footerFile) }}
				</div>
				<div class="col-md-6 col-lg-4">
					{{ form_row(forms.clientCustomizationForm.organizationStampFile) }}
					{{ form_row(forms.clientCustomizationForm.sessionImportModelFile) }}
					{{ form_row(forms.clientCustomizationForm.traineesImportModelFile) }}
				</div>
				<div class="col-md-6 col-lg-4">
					{{ form_row(forms.clientCustomizationForm.closedRoomMessage) }}
					{{ form_row(forms.clientCustomizationForm.color) }}
				</div>
			</div>
			{% if readonly == false %}
				<div class="action mt-4">
					<button type="submit" title="" class="primary-btn">
						<img src="{{ asset('build/static/icons/check-white.svg') }}" class="me-2">
						{{ 'Save' | trans }}
					</button>
				</div>
			{% endif %}
			{{ form_end( forms.clientCustomizationForm ) }}
			<!--</editor-folder>-->

			<!--<editor-folder> Emails -->
			{% set thisFormIsActive = ( activeTab == emailsTabName ) ? 'active' %}
			{{ form_start(forms.clientEmailsForm, { 'attr' : {
				'class' : 'form tab-pane fade show fade ' ~ thisFormIsActive,
				'id' : 'nav-emails',
				'role' : 'tabpanel',
				'aria-labelledby' : 'nav-emails-tab',
				'action' : '?tab-name=' ~ emailsTabName
			} }) }}
			{% if not forms.clientEmailsForm.vars.valid %}
				<div class="row">
					<div class="col-12">
						{% include('flash_message.html.twig') with {type: 'danger', text: ('Check the error(s) before saving your changes' | trans)} %}
						{{ form_errors(forms.clientEmailsForm) }}
					</div>
				</div>
			{% endif %}
			<div class="row">
				<div class="col-md-4 col-lg-4">
					<h6 class="mb-3 form-subtitle">{{ 'Email sender' | trans }}</h6>
					<p class="text-muted fz-12 mb-5">{{ 'Each time an email is sent by Mylivesession Manager, the participant identifies it using the personalization information.' | trans }}</p>

					{{ form_row(forms.clientEmailsForm.senderName) }}

					<div class="form__item" id="block-senderEmail">
						{{ form_label(forms.clientEmailsForm.senderEmail) }}
						{{ form_errors(forms.clientEmailsForm.senderEmail) }}
						<div class="input-group input-group-container">
							{{ form_widget(forms.clientEmailsForm.senderEmail) }}
							<span class="input-group-text" id="domain-senderEmail">@mylivesession.com</span>
						</div>
						{{ form_help(forms.clientEmailsForm.senderEmail) }}
					</div>
					{{ form_row(forms.clientEmailsForm.replayToEmail) }}
				</div>

				<div class="col-md-4 col-lg-4">
					{{ form_row(forms.clientEmailsForm.emailOptions.sendACancellationEmailToTrainees) }}
					{{ form_row(forms.clientEmailsForm.emailOptions.sendAnUnsubscribeEmailToParticipants) }}
					{{ form_row(forms.clientEmailsForm.emailOptions.sendPresenceReportAfterSession) }}
				</div>

				<div class="col-md-4 col-lg-4">
					<div class="fz-14">
						{{ 'Transactional email carrier'|trans }} {{ form_help(forms.clientEmailsForm.senderTransporter) }}
					</div>
					<div class="form-check">
						{{ form_label(forms.clientEmailsForm.senderTransporter) }}
						{{ form_widget(forms.clientEmailsForm.senderTransporter) }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 mt-4 mb-5">
					<div class="form__fieldset fieldset-secondary">
						<div class="row">
							<div class="col-lg-6">
								<h6 class="mb-4 form-subtitle">{{ 'Sending of convocation / attendance report' | trans }}
								</h6>
								<p class="fz-14 mb-3">
									{{ form_label(forms.clientEmailsForm.emailScheduling.timeToSendConvocationBeforeSession) }}
									<br>{{ '(before the start of the session)' | trans }}
									{{ form_errors(forms.clientEmailsForm.emailScheduling.timeToSendConvocationBeforeSession) }}
								</p>

								<div class="row mb-4">
									{{ form_widget(forms.clientEmailsForm.emailScheduling.timeToSendConvocationBeforeSession) }}
									{{ form_help(forms.clientEmailsForm.emailScheduling.timeToSendConvocationBeforeSession) }}
								</div>

								<p class="fz-14 mb-3">
									{{ form_label(forms.clientEmailsForm.emailScheduling.timesToSendReminderBeforeSession) }}
									<br>{{ '(before the start of the session)' | trans }}
									{{ form_errors(forms.clientEmailsForm.emailScheduling.timesToSendReminderBeforeSession) }}
								</p>
								<section class="mb-4">
									{{ form_widget(forms.clientEmailsForm.emailScheduling.timesToSendReminderBeforeSession) }}
									{{ form_help(forms.clientEmailsForm.emailScheduling.timesToSendReminderBeforeSession) }}
								</section>

							</div>
							<div class="col-lg-6">
								<section class="mb-5 d-none">
									{{ form_row( forms.clientEmailsForm.emailScheduling.npaiAlertRecipients ) }}
									{{ form_errors( forms.clientEmailsForm.emailScheduling.npaiAlertRecipients ) }}
								</section>

								<h6 class="form-subtitle mb-0">{{ form_label(forms.clientEmailsForm.emailScheduling.timeToSendPresenceReportAfterSession) }}</h6>
								<br/>
								<p class="fz-14 mb-4">
									{{ form_errors(forms.clientEmailsForm.emailScheduling.timeToSendPresenceReportAfterSession) }}
								</p>

								<div class="row mb-2">
									{{ form_row(forms.clientEmailsForm.emailOptions.sendAnAttestationAutomatically) }}
								</div>

								<div class="row mb-4">
									{{ form_widget(forms.clientEmailsForm.emailScheduling.timeToSendPresenceReportAfterSession) }}
								</div>

								<section class="mb-5">
									<label class="tiny-form-label">{{ forms.clientEmailsForm.emailScheduling.presenceReportRecipients.vars.label | trans }}</label>
									{{ form_errors(forms.clientEmailsForm.emailScheduling.presenceReportRecipients) }}
									{{ form_widget(forms.clientEmailsForm.emailScheduling.presenceReportRecipients) }}
									{{ form_help(forms.clientEmailsForm.emailScheduling.presenceReportRecipients) }}
								</section>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12" id="client-convocation-list">
					<client-convocation-list
						:client="{{ client.id }}"
						:convocations="{{ convocations | serialize('json', {'groups': 'read_convocation'}) }}"
						:read-only="{{ readonly is same as true ? 'true' : 'false' }}">
					</client-convocation-list>
				</div>
				<div class="col-12" id="client-evaluation-mail-list">
					<client-evaluation-mail-list
							:evaluations-modal-mail="{{ evaluationsModalMail | serialize('json', {'groups': 'read_evaluation_modal'}) }}"
							:read-only="{{ readonly is same as true ? 'true' : 'false' }}">
					</client-evaluation-mail-list>
				</div>
			</div>
			{% if readonly == false %}
				<div class="action mt-4">
					<button type="submit" class="primary-btn">
						<img src="{{ asset('build/static/icons/check-white.svg') }}" class="me-2">
						{{ 'Save' | trans }}
					</button>
				</div>
			{% endif %}
			{{ form_end( forms.clientEmailsForm ) }}
			<!--</editor-folder>-->

			<!--<editor-folder> Options -->
			{% set thisFormIsActive = ( activeTab == optionsTabName ) ? 'active' %}
			{{ form_start(forms.clientOptionsForm, { 'attr' : {
				'class' : 'form tab-pane fade show fade ' ~ thisFormIsActive,
				'id' : 'nav-options',
				'role' : 'tabpanel',
				'aria-labelledby' : 'nav-options-tab',
				'action' : '?tab-name=' ~ optionsTabName
			} }) }}
			{{ form_errors(forms.clientOptionsForm) }}
			<div class="row">
				<div class="col-md-6 col-lg-4">
{#					{{ form_row(forms.clientOptionsForm.enableAssessmentAchievement, {'attr': {'class': 'inline'}}) }}#}
					<fieldset class="form__fieldset fieldset-secondary">
						<legend class="mb-4">{{ 'Digital sign-in' | trans }}</legend>
						<div onclick="myFunction()">
							{{ form_row(forms.clientOptionsForm.enableRemoteSignature, {'attr': {'class': 'inline'}})}}
						</div>
						<p class="fz-12 mb-5 text-muted">
							<i>
								{{ "You can enable digital signing so that participants sign electronically with their mouse or smartphone." | trans }}
								<br><br>
								{{ "The facilitator can choose to share the link to sign in the virtual classroom by copying and pasting the link into the chat module or by presenting the QR code." | trans }}
								<br><br>
								{{ "It will also be possible to send an email to participants by selecting the participants who attended the training." | trans }}
								<br><br>
								{{ "For security reasons the link will only be active during and after the training." | trans }}
							</i>
						</p>
						<p class="fz-12 text-muted">
							<i>
								{{ 'To choose the format of the link that participants will receive, select one of the following options' | trans }}
							</i>
							{{ form_row(forms.clientOptionsForm.fillEmail, {'attr': {'class': 'inline'}}) }}
						</p>

					</fieldset>
				</div>
				<div class="col-md-6 col-lg-4">
					<fieldset class="form__fieldset fieldset-secondary">
						<legend class="mb-4">{{ 'Registration' | trans }}</legend>
						{{ form_row(forms.clientOptionsForm.selfRegistering.enabled, {'attr': {'class': 'inline'}}) }}
						{{ form_row(forms.clientOptionsForm.selfRegistering.gdprInformation) }}
						{{ form_row(forms.clientOptionsForm.enableRegistrationPage, {'attr': {'class': 'inline'}}) }}
					</fieldset>
					<br><br>
					{{ form_row(forms.clientOptionsForm.enableSendEmail, {'attr': {'class': 'inline'}}) }}
					{{ form_row(forms.clientOptionsForm.enableAccessLinkOnExport, {'attr': {'class': 'inline'}}) }}
					{{ form_row(forms.clientOptionsForm.enableSendToReferrer, {'attr': {'class': 'inline'}}) }}
				</div>
				<div class="col-md-4 col-lg-4">
					<fieldset class="form__fieldset fieldset-secondary">
						<div class="row">
							<div class="col-md-5 col-lg-5">
								<legend class="mb-4">{{ 'Licenses available' | trans }}</legend>
							</div>
							<div class="col-md-6 col-lg-4">
								<img src="{{ asset('build/static/icons/question.svg') }}" data-bs-placement="right" data-bs-toggle="tooltip" title="{{ 'To control the number of licenses available for Webex connectors'|trans }}">
							</div>
						</div>
						{{ form_row(forms.clientOptionsForm.licensesAvailable.enabled, {'attr': {'class': 'inline'}}) }}
						<div class="col-md-12 col-lg-4">
							<div class="mb-1 form__item">
								{{ form_row(forms.clientOptionsForm.licensesAvailable.thresholdMiddle) }}
							</div>
							<div class="mb-1 form__item">
								{{ form_row(forms.clientOptionsForm.licensesAvailable.thresholdMin) }}
							</div>
						</div>
						<div class="mb-4">
							<div class="row">
								<div class="col-md-4 col-lg-4">
									{{ form_label(forms.clientOptionsForm.licensesAvailable.licensesReportRecipients) }}
									{{ form_errors(forms.clientOptionsForm.licensesAvailable.licensesReportRecipients) }}
								</div>
								<div class="col-md-1 col-lg-1">
									{{ form_help(forms.clientOptionsForm.licensesAvailable.licensesReportRecipients) }}
								</div>
							</div>
							{{ form_widget(forms.clientOptionsForm.licensesAvailable.licensesReportRecipients) }}
						</div>
					</fieldset>
				</div>
			</div>
			<div class="col-4" id="presence-values-form">
				<presence-values-form
						:client-configuration-holder="{{ client.configurationHolders.values | serialize('json', {'groups' : 'read_configuration_holder' }) }}"
				>
				</presence-values-form>
			</div>
			{% if readonly == false %}
				<div class="action mt-4">
					<button type="submit" class="primary-btn">
						<img src="{{ asset('build/static/icons/check-white.svg') }}" class="me-2">
						{{ 'Save' | trans }}
					</button>
				</div>
			{% endif %}
			{{ form_end( forms.clientOptionsForm ) }}
			<!--</editor-folder>-->

			<!--<editor-folder> Evaluations -->
			{% set thisTabIsActive = ( activeTab == evaluationsTabName ) ? 'active' %}
			<div class="form tab-pane fade show {{ thisTabIsActive }}" id="nav-evaluations" role="tabpanel"
				 aria-labelledby="nav-evaluations-tab">
				<div class="col-12" id="evaluations-form">
					<evaluation-form
						:client="{{ client.id }}"
						:surveys-data="{{ surveys|serialize('json', {'groups': 'read_evaluation'}) }}">
					</evaluation-form>
				</div>
			</div>
			<!--</editor-folder>-->

			<!--<editor-folder> Preferences -->
			{% set thisTabIsActive = ( activeTab == preferencesTabName ) ? 'active' %}
			<div class="form tab-pane fade show {{ thisTabIsActive }}" id="nav-preferences" role="tabpanel"
				 aria-labelledby="nav-preferences-tab">
				<div class="col-12" id="preferences-form">
					<preferences-form
						:client-id="{{ client.id }}"
						:client-preferences="{{ client.preferences|serialize('json', {'groups': 'read_client'}) }}">
					</preferences-form>
				</div>
			</div>
			<!--</editor-folder>-->

			<!--<editor-folder> Billing -->
			{% set thisTabIsActive = ( activeTab == billingTabName ) ? 'active' %}
			<div class="form tab-pane fade show {{ thisTabIsActive }}" id="nav-billing" role="tabpanel"
				 aria-labelledby="nav-billing-tab">
				<div id="client-billing">
					<client-billing :client-in="{{ client|serialize('json', {'groups': 'read_client'}) }}"/>
				</div>
			</div>
			<!--</editor-folder>-->

			<!--<editor-folder> Tailored -->
			{% set thisTabIsActive = ( activeTab == tailoredTabName ) ? 'active' %}
			<div class="form tab-pane fade show {{ thisTabIsActive }}" id="nav-tailored" role="tabpanel"
				 aria-labelledby="nav-tailored-tab">
				<div id="client-tailored">
					<client-tailored :client-in="{{ client|serialize('json', {'groups': 'read_client'}) }}"/>
				</div>
			</div>
			<!--</editor-folder>-->
		</div>

		<div class="col-md-12">
			{% include('flash_messages.html.twig') %}
		</div>
	</section>
{% endblock %}

{% block modals %}
	{% if is_granted('ROLE_MANAGER') %}
		{{ render(controller('App\\Controller\\ClientController::createAccountManager', {'id': client.id})) }}
	{% endif %}
{% endblock %}
