{% extends 'main.html.twig' %}

{% block main %}
<div class="page-title">
	<h1>
		{{ title|trans }}
		<img
			src="{{ asset('build/static/icons/question.svg') }}"
			data-bs-toggle="tooltip"
			data-bs-placement="right"
			title="{{ 'The information entered will be displayed and can be edited in the General tab once validated.' | trans({}, 'tooltips') }}"
		>
	</h1>
</div>

<section>
	{{ form_start(form, {'attr' : {'class' : 'form' }}) }}

	{{ form_row(form.general) }}

	<legend class="col-form-label required">
		{{ 'Customization' | trans }}
		<img
			src="{{ asset('build/static/icons/question.svg') }}"
			data-bs-toggle="tooltip"
			data-bs-placement="right"
			title="{{ 'Uploaded logos will appear on attendance reports, certificates of attendance and training certificates as chosen by the client' | trans({}, 'tooltips') }}"
		>
	</legend>

	{{ form_row(form.customization.logoFile) }}
	{{ form_row(form.customization.headerFile) }}
	{{ form_row(form.customization.footerFile) }}

	{{  form_rest(form) }}

	<div class="action mt-4">
		<button type="submit" title="" class="primary-btn">
			<img src="{{ asset('build/static/icons/plus-white.svg') }}" class="me-2">
			{{ 'Create' | trans }}
		</button>
	</div>
	{{ form_end(form) }}
</section>
{% endblock %}
