{% extends 'main.html.twig' %}
{% set routeActive = '_client_list' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('clients-list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('clients-list') }}
{% endblock %}

{% block main %}
    <div class="page-title">
        <h1>{{ 'Accounts'|trans }}</h1>
        <a href="{{ path('_client_create') }}" title="" class="primary-btn">
            <img src="{{ asset('build/static/icons/plus-white.svg') }}" class="me-2">
            {{ 'New'|trans }}</a>
    </div>
    <div class="col-md-12">
        {% include('flash_messages.html.twig') %}
    </div>
    <div class="col-md-12 mb-3">
        <em>
            {{ "Find here all the accounts already set up, create new accounts, archive inactive accounts or modify them" | trans }} <br/>
        </em>
    </div>
    <div id="clients-list">
        <clients-list :clients="{{ clients|serialize('json', {'groups': 'read_client'}) }}" />
    </div>
{% endblock %}
