<div class="data-list__row">
    <div class="row__data"><a href="" title="">{{ client.name }}</a></div>
    <div class="row__data"><a href="" title="">{{ client.subdomain }}</a></div>
    <div class="row__data"><a href="" title="">{{ client.color }}</a></div>
    <div class="row__data"><a href="" title="">{{ client.active }}</a></div>
</div>