{% extends 'emails/base_manager_client.html.twig' %}

{% block sessionIsTestInformation %}
    {% if session is defined and session.sessionTest %}
        {{ parent() }}
        <p><b>{{ 'This is the attendance report generated  for an account manager.'|trans }}</b></p>
    {% endif %}
{% endblock %}

{% block content %}
    <p>
        {{ 'I am pleased to send you the attendance report for the session entitled %name% which was held on %date% from %time%.'|trans(
            { '%name%': session.name, '%date%': session.dateStart|date('d/m/Y'), '%time%': session.dateStart|date('H:i') }, null, lang
        ) }}
    </p>
{% endblock %}

{#// MANAGER#}
