{% extends 'emails/base_manager_client.html.twig' %}

{% block content %}
    <p>
        {% trans with {'%client%': user.client.name } %}
            Your user account has been assigned to %client%. Your login information remains the same.
        {% endtrans %}
    </p>
    <p>
        {% trans %}
            Your initial account is your default account, i.e. the account you will access when you log into Mylivesession Manager.
        {% endtrans %}
    </p>
    <p>
        {% trans with {'%client%': user.client.name } %}
            To access the %client% account click on your profile, then on change account.
        {% endtrans %}
    </p>
    <p>
        {% trans %}
            If you wish to change your default account, click on your profile and select another default account.
        {% endtrans %}
    </p>
{% endblock %}

{#// MANAGER#}
