{% extends 'emails/base_manager_client.html.twig' %}

{% block content %}
    <p>
        {% trans with {'%email%': user.email } %}
            We received a request to reset your  %email% . account password.
        {% endtrans %}<br/>

        {% trans %}
            If you made this request, click on the link below.If not, you can skip this email
        {% endtrans %}
    </p>
    <br/>
    <p>
        <a href="{{ backUrl }}" style=" color:#669600;">
            {{ backUrl }}
        </a>
    </p>
{% endblock %}

{#// MANAGER#}
