{% extends 'emails/base_manager_client.html.twig' %}

{% block content %}
    <p>
        {% trans %}
            Your manager account has been created on Mylivesession Manager.
        {% endtrans %}
    </p>
    <p>
        {% trans %}
            Please choose a password to log in.
        {% endtrans %}
    </p>
    <p>
        {% trans %}Click{% endtrans %} <a href="{{ url('_password_reset_action', {token: user.passwordResetToken}) }}">{% trans %}here{% endtrans %}</a> {% trans %}to create it.{% endtrans %}
    </p>
    <p>
        <i>
            {% trans %}
                Your password is personal information. Be careful not to disclose it.
            {% endtrans %}
        </i>
    </p>
    <p>
        {% trans %}To log in, please go to{% endtrans %} <a href="{{ url('_app_login') }}">Mylivesession Manager</a>.
    </p>
{% endblock %}

{#// MANAGER#}
