{% extends 'emails/base_manager_client.html.twig' %}

{% block content %}
    <p>
        <i>
            {% trans into lang %}
                Here is the result of importing users
            {% endtrans %}
        </i>
    </p>
    <br/>

    <p>
        <span style="color:#F01414; font-size: 16px;">
            😔
            {{ dataEmail['error']|length }} {% trans into lang %}Error.s{% endtrans %}
        </span>
        <br/>

        {% for line in dataEmail['error'] %}
            &bull; ({% trans with {'%numlinefile%': line.infos['numlinefile']} into lang %}User file line %numlinefile%{% endtrans %}) {{ line.infos.message.key|trans(line.infos.message.params)|raw }}<br/>
        {% else %}
            &bull; {{ 'Everything went well!' | trans }} 👌
        {% endfor %}
    </p>

    <p>
        <span style="color:#84E1EC; font-size: 16px;">
            🙄
            {{ dataEmail['warning']|length }} {% trans into lang %}Warning.s{% endtrans %}
        </span>
        <br/>

        {% for line in dataEmail['warning'] %}
            &bull; ({% trans with {'%numlinefile%': line.infos['numlinefile']} into lang %}User file line %numlinefile%{% endtrans %}) {{ line.infos.message.key|trans(line.infos.message.params)|raw }}<br/>
        {% else %}
            &bull; {{ 'Nothing to report.' | trans }} 🤓
        {% endfor %}
    </p>

    <p>
        <span style="color:#80BC00; font-size: 16px;">
            🙂
            {{ dataEmail['success']|length }} {% trans into lang %}Success.es{% endtrans %}
        </span>
        <br/>

        {% for line in dataEmail['success'] %}
            &bull; ({% trans with {'%numlinefile%': line.infos['numlinefile']} into lang %}User file line %numlinefile%{% endtrans %}) {{ line.infos.message.key|trans(line.infos.message.params)|raw }}<br/>
        {% else %}
            &bull; {{ 'The import did not go as planned.' | trans }} 🤔

        {% endfor %}
    </p>
{% endblock %}

{#// MANAGER#}
