{% extends 'emails/base_manager_client.html.twig' %}

{% block sessionIsTestInformation %}
    {% if session is defined and session.sessionTest %}
        {{ parent() }}
        <p><b>{{ "This is the session cancellation email  generated for an account manager"|trans }}</b></p>
    {% endif %}
{% endblock %}

{% block content %}
    <p>
        <i>
            {% trans with {'%sessionName%': session.getName()} into lang %}
                Cancelling the  session <a href="%route%">%sessionName%</a>
            {% endtrans %}
        </i>
    </p>
{% endblock %}

{#// MANAGER#}
