<template>
  <div>
    <header>
      <div class="wrapper-header">
        <div class="wrapper-header__infos d-flex align-items-center justify-content-between">
          <div class="wrapper-header__infos__title align-items-center">
            <div class="page-options-bar mb-2">
              <div class="page-title">
                <h1>
                  {{ $translator.trans('Evaluations') }}
                </h1>
              </div>
              <div class="page-options-bar__item d-flex part-1">
                <statistics-evaluation-filter
                  :filters="filters"
                  :surveys-available="surveys"
                  @filter="handleFilter"
                />
              </div>
            </div>
            <div class="d-flex mb-3">
              <div class="page-options-bar__item d-flex align-items-center">
                <span class="d-sm-none d-xl-block me-2">
                  {{ $translator.trans('Display') }}
                </span>
                <div class="session-display">
                  <div
                    :class="['session-display__item', {
                      'active': isGraphDisplay
                    }]"
                    role="button"
                  >
                    <img
                      :alt="$translator.trans('Graphic view')"
                      :title="$translator.trans('Graphic view')"
                      height="16"
                      src="/build/static/icons/statistics.svg"
                      @click="filters.showTabulator = false; handleFilter(filters)"
                    >
                  </div>
                  <div
                    :class="['session-display__item', {
                      'active': !isGraphDisplay
                    }]"
                    role="button"
                  >
                    <img
                      :alt="$translator.trans('Table View')"
                      :title="$translator.trans('Table View')"
                      height="16"
                      src="/build/static/icons/tableau.svg"
                      @click="filters.showTabulator = true; handleFilter(filters)"
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="col-md-12 mb-1">
      <em>
        {{ $translator.trans('Find here, over a given period, once the sessions are completed, all the results of your satisfaction questonnaires in a graphical view. If you want to export them in Excel or csv format, click on the table view') }}
      </em>
    </div>
    <div>
      <live-session-survey-analytics
        ref="surveyGraph"
        :survey-id="surveyId"
        :answers="answerData"
      />
    </div>
  </div>
</template>

<script>

import StatisticsEvaluationFilter from './StatisticsEvaluationFilter'
import LiveSessionSurveyAnalytics from '../../Survey/LiveSessionSurveyAnalytics'

export default {
  name: 'StatisticsEvaluations',
  components: { StatisticsEvaluationFilter, LiveSessionSurveyAnalytics },
  props: {
    dateStart: {
      type: String,
      required:  true
    },
    dateEnd: {
      type: String,
      required:  true
    },
    surveyId: {
      type: String,
      required: false,
      default: ''
    },
    surveysAvailable: {
      type: Array,
      required: false,
      default: () => []
    },
    answers: {
      type: Array,
      required: true
    },
    showTabulator: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      surveys: this.surveysAvailable,
      filters: {
        from: this.dateStart,
        to: this.dateEnd,
        surveyId: this.surveyId,
        showTabulator: this.showTabulator
      }
    }
  },
  computed: {
    isGraphDisplay () {
      return this.filters.showTabulator === false
    },
    answerData () {
      const answerData = []
      this.answers.forEach((value, index) => {
        answerData.push(value.data)
      })

      return answerData
    }
  },
  mounted () {
    if (this.showTabulator === true) {
      this.$refs.surveyGraph.updateTabulator()
    } else {
      this.$refs.surveyGraph.updateChart()
    }
  },
  methods: {
    handleFilter (filtersData) {
      window.location.href = this.$routing.generate('_sessions_evaluations_home', filtersData)
    }
  }
}
</script>
