<template>
  <div class="page-options-bar">
    <div class="d-flex part-1">
      <div class="page-options-bar__item">
        <div class="dropdown">
          <div
            class="page-options-bar__item__filters"
            role="button"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
          >
            <img
              v-if="isActiveFilter"
              src="/build/static/icons/filter-primary.svg"
            >
            <img
              v-else
              src="/build/static/icons/filter.svg"
            >
            <img
              src="/build/static/icons/filter-opened.svg"
              class="ms-3"
            >
            <span class="evaluation-filter-help">
              <img
                src="/build/static/icons/question.svg"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                :title="$translator.trans('By default, the results displayed relate to the first evaluation form set up in your account for the last 30 days. You can customize this data by clicking on the filter.')"
              >
            </span>
          </div>
          <div
            class="dropdown-menu dropdown-menu-end dropdown-menu-list dropdown-filter-activity-log"
          >
            <fieldset class="row dropdown-filter-activity-log__date-container">
              <div class="input-group-date-horizontal">
                <div class="row">
                  <div
                    class="col-lg-6"
                  >
                    <date-time-input
                      v-model="filtersData.from"
                      :placeholder="$translator.trans('From')"
                    />
                  </div>
                  <div
                    class="col-lg-6"
                  >
                    <date-time-input
                      v-model="filtersData.to"
                      :placeholder="$translator.trans('To')"
                    />
                  </div>
                </div>
                <div class="form__item mt-4">
                  <label for="survey-form-filter">
                    {{ $translator.trans('Evaluation form') }}
                  </label>
                  <select
                    id="survey-form-filter"
                    v-model="filtersData.surveyId"
                    class="form-control form-select-sm w-100"
                  >
                    <option
                      v-for="survey in surveys"
                      :key="survey.id"
                      :value="survey.surveyId"
                      class="data-list__row"
                    >
                      {{ survey.title }}
                    </option>
                  </select>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="export-dropdown__footer">
                <submit-button
                  class="export-dropdown__submit-btn"
                  :processing="processing"
                  @click="handleSubmitFilter(filtersData)"
                >
                  {{ $translator.trans( 'Filter' ) }}
                </submit-button>
              </div>
            </fieldset>
            <!-- end  -->
          </div>
        </div>
        <!--- si filtre actif -->
        <div class="search-sessions-filter">
          {{ activeSearchFilters }}
        </div>
        <!-- end -->
      </div>
    </div>
  </div>
</template>

<script>

import DateTimeInput from '../../ui/DateTimeInput'
import SubmitButton from '../../ui/SubmitButton'
import { DateTime } from 'luxon'

export default {
  name: 'StatisticsEvaluationFilter',
  components: { DateTimeInput, SubmitButton },
  props: {
    filters: {
      type: Object,
      required: true
    },
    surveysAvailable: {
      type: Array,
      required: false,
      default: () => []
    }
  },
  data () {
    return {
      processing :false,
      surveys: this.surveysAvailable,
      filtersData: this.filters
    }
  },
  computed: {
    activeSearchFilters () {
      const activeFilters = []

      if (this.filtersData.from !== null && this.filtersData.from !== '') {
        const dateFrom = DateTime.fromISO(this.filtersData.from)
          .toLocaleString(DateTime.DATE_SHORT)
        activeFilters.push(this.$translator.trans('from') + ' ' + dateFrom)
      }

      if (this.filtersData.to !== null && this.filtersData.to !== '') {
        const dateTo = DateTime.fromISO(this.filtersData.to)
          .toLocaleString(DateTime.DATE_SHORT)

        activeFilters.push(this.$translator.trans('to') + ' ' + dateTo)
      }

      if (this.selectedSurvey !== null && this.selectedSurvey !== '') {
        const survey = this.selectedSurvey()
        activeFilters.push(survey.title)
      }

      if (this.filtersData.showTabulator === false) {
        activeFilters.push(
          this.$translator.trans('Graphic view')
        )
      } else {
        activeFilters.push(
          this.$translator.trans('Table View')
        )
      }

      if (activeFilters.length === 0) {
        return this.$translator.trans('no filter')
      } else {
        return activeFilters.join(' - ')
      }
    },
    isActiveFilter () {
      return (
        (this.filtersData.from !== null && this.filtersData.from !== '') ||
          (this.filtersData.to !== null && this.filtersData.to !== '')
      )
    }
  },
  methods: {
    handleSubmitFilter (filters) {
      this.$emit('filter', filters)
    },
    selectedSurvey () {
      let survey = null
      this.surveys.forEach((value, index) => {
        if (value.surveyId === this.filtersData.surveyId) {
          survey = value
        }
      })

      return survey
    }
  }
}
</script>

<style scoped lang="scss">
.dropdown-menu.dropdown-menu-list{overflow: inherit;}

.page-options-bar__item__filters {
  position: relative;

  .evaluation-filter-help {
    position: absolute;
    right: -1.5rem;
  }
}

</style>
