<template>
  <div class="col mb-3">
    <loader v-if="loading" />
    <template v-else>
      <div
        class="form__item mb-0 col-12"
      >
        <template v-if="module.personalization.sessionsBanner === null || module.personalization.sessionsBanner === ''">
          <input
            id="menu_item.mysession.banner"
            ref="banner"
            name="menu_item.mysession.banner"
            class="form-control"
            type="file"
            :accept="IMAGE_FORMATS_FORMATTED"
            @change="uploadFile($event,'banner')"
          >

          <img
            src="/build/static/icons/question.svg"
            data-bs-placement="left"
            data-bs-toggle="tooltip"
            :title="$translator.trans('Recommended size L: 1920px, H: 223px')"
          >
        </template>
        <template v-else>
          <img
            class="img-fluid"
            style="width:250px;"
            :src="bannerUri"
          >
          <div
            class="text-center cursor-pointer mt-2"
            @click="changeFile('banner')"
          >
            <img src="/build/static/icons/delete-filter.svg">
            {{ $translator.trans('Change banner') }}
          </div>
        </template>
      </div>
      <span
        class="mt-1"
        style="font-size: 14px"
      >{{ $translator.trans('File format:') }} {{ IMAGE_FORMATS_STRING }}</span>
      <div
        v-if="errorProcessing"
        class="invalid-feedback d-block"
      >
        {{ errorProcessing }}
      </div>
    </template>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Loader from '../../../../../../ui/Loader.vue'
import {
  IMAGE_FORMATS,
  IMAGE_FORMATS_FORMATTED,
  IMAGE_FORMATS_STRING
} from '../../../../../../../utils/fileUpload.utils'

export default {
  name: 'MenuPersonalizationMySessionBanner',
  components: { Loader },
  data () {
    return {
      IMAGE_FORMATS: IMAGE_FORMATS,
      IMAGE_FORMATS_FORMATTED: IMAGE_FORMATS_FORMATTED,
      IMAGE_FORMATS_STRING: IMAGE_FORMATS_STRING,
      loading: false,
      errorProcessing: false
    }
  },
  computed: {
    ...mapState('module', ['module', 'clients']),
    ...mapState('process', ['formErrors']),
    bannerUri: function () {
      return this.module.personalization.sessionsBannerUri
    },
    tooltip: function () {
      return this.$translator.trans('Maximum file size: %size%', { size: '2Mo.<br/>' }) +
          this.$translator.trans('File format: %extensions%', { extensions: IMAGE_FORMATS_STRING + '<br/>' }) +
          this.$translator.trans('Recommended width: %width%', { extensions: '455px' })
    }
  },
  methods: {
    updateFile (src, file, preview) {
      switch (src) {
        case 'banner':
          this.module.personalization.sessionsBanner = file
          this.module.personalization.sessionsBannerUri = preview
          break
      }
    },
    uploadFile (e, src) {
      this.loading = true
      const files = e.target.files || e.dataTransfer.files

      if (files.length !== 1) {
        return
      }

      const formData = new FormData()
      formData.append('file', files[0])
      formData.append('format', IMAGE_FORMATS)

      const vm = this
      vm.error = null
      this.$axios.post(this.$routing.generate('_module_upload_files'), formData, { headers: { 'Content-Type': 'multipart/form-data' } })
        .then((response) => {
          this.updateFile(src, response.data.message.filetarget, response.data.message.previewUri)
          this.loading = false
        }).catch((error) => {
          this.loading = false
          if ('response' in error && 'data' in error.response && 'message' in error.response.data && 'text' in error.response.data.message) {
            vm.error = error.response.data.message.text
            this.errorProcessing = error.response.data.message.text
          } else {
            vm.error = this.$translator.trans('The ' + src + ' cannot be put online for an unknown reason.')
          }
        })
    },
    changeFile (src) {
      this.updateFile(src, null)
    }
  }
}
</script>
