<template>
  <div class="col">
    <div class="mb-3 row">
      <div class="col-6">
        <h5 class="fw-bold title-underline title-underline-primary">
          {{ $translator.trans('My Sessions') }}
        </h5>
      </div>
      <div class="col-6">
        <div class="search-switch d-flex justify-content-end">
          <label
            class="switch"
            for="switch-active-state"
            @click="() => module.personalization.enabledSessions = !module.personalization.enabledSessions"
          >
            <input
              v-model="module.personalization.enabledSessions"
              type="checkbox"
              name="switch-active-state"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div class="mb-4 form__item">
      <label
        for="menu_item.mysession"
        class="form-label"
        :class="[{
          'required': module.personalization.enabledSessions,
        }]"
      >{{ $translator.trans('Menu item name') }}</label>
      <input
        id="menu_item.mysession"
        v-model="module.personalization.sessionsTitle"
        name="menu_item.mysession"
        :required="module.personalization.enabledSessions"
        class="form-control w-100"
        :placeholder="$translator.trans('My Sessions')"
      >
      <div
        v-if="formErrors['AppearanceTab'] && 'menu_item.mysession' in formErrors['AppearanceTab']"
        class="invalid-feedback d-block"
      >
        {{ formErrors['AppearanceTab']['menu_item.mysession'] }}
      </div>
    </div>

    <div class="mb-3 form__item">
      <div class="d-flex align-items-center position-relative">
        <label
          for="menu_item.mysession.banner"
          class="form-label mb-0"
        >{{ $translator.trans('Banner') }}</label>
        <span class="bubble-information ms-2">5</span>
      </div>
      <label for=""><small>{{ $translator.trans('Optional. On the small screen, keep:') }}</small></label>

      <ul class="d-flex justify-content-between w-100">
        <li class="form-check">
          <label
            class="form-check-label"
            for="menu_item.mysession.right"
          >{{ $translator.trans('the right side') }}</label>
          <input
            id="menu_item.mysession.right"
            v-model="module.personalization.sessionsBannerPosition"
            type="radio"
            name="menu_item.mysession"
            class="form-check-input inline"
            value="right"
          >
        </li>
        <li class="form-check">
          <label
            class="form-check-label"
            for="menu_item.mysession.center"
          >{{ $translator.trans('center') }}</label>
          <input
            id="menu_item.mysession.center"
            v-model="module.personalization.sessionsBannerPosition"
            type="radio"
            name="menu_item.mysession"
            class="form-check-input inline"
            value="center"
          >
        </li>
        <li class="form-check">
          <label
            class="form-check-label"
            for="menu_item.mysession.left"
          >{{ $translator.trans('left') }}</label>
          <input
            id="menu_item.mysession.left"
            v-model="module.personalization.sessionsBannerPosition"
            type="radio"
            name="menu_item.mysession"
            class="form-check-input inline"
            value="left"
          >
        </li>
      </ul>

      <menu-personalization-my-session-banner />
    </div>

    <div class="form__item mb-3">
      <div class="d-flex align-items-center position-relative">
        <label
          for="menu_item.mysession.description"
          class="form-label mb-0"
        >{{ $translator.trans('Page description' ) }}</label>
        <span class="bubble-information ms-2">6</span>
      </div>
      <textarea
        v-model="module.personalization.sessionsDescription"
        name="menu_item.mysession.description"
        class="form-control w-100"
        style="height: 100px"
        maxlength="200"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MenuPersonalizationMySessionBanner from './MenuPersonalizationMySessionBanner.vue'

export default {
  name: 'MenuPersonalizationMySession',
  components: { MenuPersonalizationMySessionBanner },
  computed: {
    ...mapState('module', ['module', 'clients']),
    ...mapState('process', ['formErrors'])
  }
}
</script>
