@import "assets/scss/self-subscription-hub/variables";

.self-subscription-hub main .login-wrapper {
	.logo {
		max-width: 30rem;
	}
	
	.see-password {
		cursor: pointer;
		
		&.active {
			color: $c-accent;
		}
	}
}