@import "assets/scss/self-subscription-hub/variables";
@import "login-register";

.self-subscription-hub main {
	padding-top: 4rem;
	padding-bottom: 4rem;
	background-position-y: -2px;
	
	background-image: url('../../../static/self-subscription-hub/bg_shape.svg'), linear-gradient($c-accent, $c-accent-light-10);
	background-repeat: no-repeat;
	background-size: cover;
}