<template>
  <line-chart
    :data="data"
    :labels="labels"
    border-color="#80BC00"
    background-color="rgba(128, 188, 0, 0.2)"
    :width="700"
  />
</template>

<script>
import LineChart from './LineChart'
export default {
  name: 'LineChartParticipant',
  components: { LineChart },
  props: {
    datasets: {
      type: Object,
      required: true
    }
  },
  computed: {
    data () {
      return Object.values(this.datasets)
    },
    labels () {
      return Object.keys(this.datasets)
    }
  }
}
</script>
