<template>
  <div class="wrapper-content-dashboard-stats__session wrapper-container">
    <div class="wrapper-content-dashboard-stats__session__title d-flex align-items-center justify-content-between mb-30">
      <h2>{{ $translator.trans('Number of views by video') }}</h2>
    </div>
    <div class="wrapper-content-dashboard-stats__session__content d-flex">
      <div class="wrapper-content-dashboard-stats__session__content__count col-lg-12 col-xxl-5">
        <div class="wrapper-content-dashboard-stats__session__content__count__round d-flex align-items-center justify-content-center">
          <span>{{ statisticsReplaysVideos.allViewer }}</span>
        </div>
        <div class="wrapper-content-dashboard-stats__session__content__count__total mb-30">
          {{ $translator.trans('Total of viewer') }}
        </div>
      </div>
      <div class="wrapper-content-dashboard-stats__session__content__count col-lg-12 col-xxl-5">
        <div class="wrapper-content-dashboard-stats__session__content__count__round d-flex align-items-center justify-content-center">
          <span>{{ statisticsReplaysVideos.allViewerUnique }}</span>
        </div>
        <div class="wrapper-content-dashboard-stats__session__content__count__total mb-30">
          {{ $translator.trans('Number of unique views') }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'NumberViewer',
  props: {
    statisticsReplaysVideos: {
      type: Object,
      required: true
    }
  }
}
</script>
