<template>
  <section
    id="wrapper-content-dashboard-stats"
    class="wrapper-content-dashboard-stats"
  >
    <div class="col-md-12 mb-3">
      <em>
        {{ $translator.trans('Find here, over a given period, all the statistics of your replay') }}
      </em>
    </div>
    <div class="row mb-30">
      <div class="col-lg-12 col-xl-6 col-xxl-4">
        <number-viewer
          :statistics-replays-videos="statisticsReplaysVideos"
        />
      </div>
      <div
        v-if="statisticsReplaysVideos.replayCategory.length !== []"
        class="col-lg-12 col-xl-6 col-xxl-8"
      >
        <replay-category
          :statistics-replays-videos="statisticsReplaysVideos"
        />
      </div>
    </div>
    <div v-if="statisticsReplaysVideos.videos !== []">
      <statistics-videos-replay
        :videos="statisticsReplaysVideos.videos"
      />
    </div>
  </section>
</template>

<script>

import NumberViewer from './NumberViewer.vue'
import ReplayCategory from './ReplayCategory.vue'
import StatisticsVideosReplay from './StatisticsVideosReplay.vue'

export default {
  name: 'ReplayTab',
  components: {
    StatisticsVideosReplay,
    ReplayCategory,
    NumberViewer
  },
  props: {
    statisticsReplaysVideos: {
      type: Object,
      required: true
    },
    statisticsSession: {
      type: Object,
      required: true
    }
  }
}
</script>
