<template>
  <div class="wrapper-content-sessions__current-stats wrapper-container">
    <div class="wrapper-content-dashboard-stats__session__title d-flex align-items-center mb-30">
      <h2>{{ $translator.trans('Number of views by category') }}</h2>
    </div>
    <div class="wrapper-content-sessions__current-stats__infos row align-items-center">
      <div class="col-lg-12 col-xl-6">
        <Pie-chart-statistics-replay
          id="replayCategoryChart"
          :statistics-replays-videos="statisticsReplaysVideos"
        />
      </div>
      <div class="wrapper-content-sessions__current-stats__infos__table table-responsive col-lg-12 col-xl-6">
        <table class="table table-striped table-hover custom-table">
          <thead>
            <tr>
              <th>{{ $translator.trans('Category') }}</th>
              <th>{{ $translator.trans('Total of viewer') }}</th>
              <th>{{ $translator.trans('Number of unique views') }}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(category, key) in statisticsReplaysVideos.replayCategory"
              :key="key"
            >
              <td>{{ $translator.trans(category.name) }}</td>
              <td class="text-center">
                {{ category.viewer }}
              </td>
              <td class="text-center">
                {{ category.viewerUnique }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import PieChartStatisticsReplay from './PieChartStatisticsReplay'

export default {
  name: 'ReplayCategory',
  components: {
    PieChartStatisticsReplay
  },
  props: {
    statisticsReplaysVideos: {
      type: Object,
      required: true
    }
  }
}
</script>
