<template>
  <div class="wrapper-content-sessions__current-stats wrapper-container">
    <div class="wrapper-content-dashboard-stats__session__title d-flex align-items-center mb-30">
      <h2>{{ $translator.trans('Breakdown of your sessions by category') }}</h2>
    </div>
    <div class="wrapper-content-sessions__current-stats__infos row align-items-center">
      <div class="col-lg-12 col-xxl-8">
        <Pie-chart-statistics-session
          id="sessionsCategoryChart"
          :statistics-session="statisticsSession"
        />
      </div>
      <div class="wrapper-content-sessions__current-stats__infos__table table-responsive col-lg-12 col-xxl-4">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <td> {{ $translator.trans('Virtual classroom') }}</td>
              <td>{{ statisticsSession.sessions.byCategory.Formation }}</td>
            </tr>
            <tr>
              <td>{{ $translator.trans('Meeting') }}</td>
              <td>{{ statisticsSession.sessions.byCategory.Meeting }}</td>
            </tr>
            <tr>
              <td>{{ $translator.trans('Face-to-face training') }}</td>
              <td>{{ statisticsSession.sessions.byCategory["Face-to-face"] }}</td>
            </tr>
            <tr>
              <td>{{ $translator.trans('Blended training') }}</td>
              <td>{{ statisticsSession.sessions.byCategory.Mixed }}</td>
            </tr>
            <tr>
              <td>{{ $translator.trans('Webinar') }}</td>
              <td>{{ statisticsSession.sessions.byCategory.Webinar }}</td>
            </tr>
            <tr>
              <td>{{ $translator.trans('Average scheduled time') }}</td>
              <td>{{ averageDuration }} {{ $translator.trans('hours') }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import PieChartStatisticsSession from './PieChartStatisticsSession'

export default {
  name: 'SessionCategory',
  components: {
    PieChartStatisticsSession
  },
  props: {
    statisticsSession: {
      type: Object,
      required: true
    }
  },
  computed: {
    averageDuration () {
      if (this.statisticsSession.sessions.total.count !== 0) {
        return Math.floor(((this.statisticsSession.sessions.total.duration / this.statisticsSession.sessions.total.count) / 60) * 100) / 100
      }
      return 0
    }
  }
}
</script>
