<template>
  <div class="wrapper-content-dashboard-stats__session wrapper-container">
    <div class="wrapper-content-dashboard-stats__session__title d-flex align-items-center justify-content-between mb-30">
      <h2>{{ $translator.trans('Sessions') }}</h2>
    </div>
    <div class="wrapper-content-dashboard-stats__session__content d-flex">
      <div class="wrapper-content-dashboard-stats__session__content__count col-lg-12 col-xxl-5">
        <div class="wrapper-content-dashboard-stats__session__content__count__round d-flex align-items-center justify-content-center">
          <span>{{ statisticsSession.sessions.total.count }}</span>
        </div>
        <div class="wrapper-content-dashboard-stats__session__content__count__total mb-30">
          {{ $translator.trans('Total of your sessions') }}
        </div>
      </div>
      <div class="wrapper-content-sessions__current-stats__infos__table table-responsive col-lg-12 col-xxl-7">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <td>{{ $translator.trans('Scheduled') }}</td>
              <td>{{ statisticsSession.sessions.byState.Scheduled }}</td>
            </tr>
            <tr>
              <td>{{ $translator.trans('Sent') }}</td>
              <td>{{ statisticsSession.sessions.byState.Sent }}</td>
            </tr>
            <tr>
              <td>{{ $translator.trans('Cancelled') }}</td>
              <td>{{ statisticsSession.sessions.byState.Cancelled }}</td>
            </tr>
            <tr>
              <td>{{ $translator.trans('Finished') }}</td>
              <td>{{ statisticsSession.sessions.byState.Finished }}</td>
            </tr>
            <tr>
              <td>{{ $translator.trans('Draft') }}</td>
              <td>{{ statisticsSession.sessions.byState.Draft }}</td>
            </tr>
            <tr>
              <td>{{ $translator.trans('Running') }}</td>
              <td>{{ statisticsSession.sessions.byState.Running }}</td>
            </tr>
          </tbody>
        </table>
        <br>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'SessionStatus',
  props: {
    statisticsSession: {
      type: Object,
      required: true
    }
  }
}
</script>
