<template>
  <div class="row mb-30">
    <div class="col-lg-12 col-xl-6">
      <div class="wrapper-container wrapper-margin-top">
        <div class="wrapper-content-dashboard-stats__session__title mb-30">
          <h2>{{ $translator.trans('Sessions count') }}</h2>
          <span>{{ $translator.trans('Sessions count of Virtual Classroom and face-to-face') }}</span>
        </div>
        <line-chart-sessions
          :datasets="statisticsSession.evolution.sessions"
        />
      </div>
    </div>
    <div class="col-lg-12 col-xl-6">
      <div class="wrapper-container">
        <div class="wrapper-content-dashboard-stats__session__title mb-30">
          <h2>{{ $translator.trans('Number of registrations (participants and presenters)') }}</h2>
          <span>{{ $translator.trans('Number of Virtual Classroom and Classroom registrations') }}</span>
        </div>
        <line-chart-participant
          :datasets="statisticsSession.evolution.participants"
        />
      </div>
    </div>
  </div>
</template>

<script>
import LineChartSessions from './LineChartSessions'
import LineChartParticipant from './LineChartParticipant'
export default {
  name: 'StatisticsEvolution',
  components: { LineChartParticipant, LineChartSessions },
  props: {
    statisticsSession: {
      type: Object,
      required: true
    }
  }
}
</script>
