<template>
  <div class="page-options-bar">
    <div class="d-flex part-1">
      <div class="page-options-bar__item">
        <div class="dropdown">
          <div
            class="page-options-bar__item__filters"
            role="button"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
          >
            <img
              v-if="isActiveFilter"
              src="/build/static/icons/filter-primary.svg"
            >
            <img
              v-else
              src="/build/static/icons/filter.svg"
            >
            <img
              src="/build/static/icons/filter-opened.svg"
              class="ms-3"
            >
          </div>
          <div
            class="dropdown-menu dropdown-menu-end dropdown-menu-list dropdown-filter-activity-log"
          >
            <fieldset class="row dropdown-filter-activity-log__date-container">
              <div class="input-group-date-horizontal">
                <div class="row">
                  <div
                    class="col-lg-6"
                  >
                    <date-time-input
                      v-model="from"
                      :placeholder="$translator.trans('From')"
                    />
                  </div>
                  <div
                    class="col-lg-6"
                  >
                    <date-time-input
                      v-model="to"
                      :placeholder="$translator.trans('To')"
                    />
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="export-dropdown__footer">
                <submit-button
                  class="export-dropdown__submit-btn"
                  :processing="processing"
                  @click="filter"
                >
                  {{ $translator.trans( 'Filter' ) }}
                </submit-button>
              </div>
            </fieldset>
            <!-- end  -->
          </div>
        </div>
        <!--- si filtre actif -->
        <div class="search-sessions-filter">
          {{ subFilter }}
        </div>
        <!-- end -->
      </div>
      <!--      <span class="evaluation-filter-help">-->
      <!--        <img-->
      <!--          src="/build/static/icons/question.svg"-->
      <!--          data-bs-toggle="tooltip"-->
      <!--          data-bs-placement="right"-->
      <!--          :title="$translator.trans('Filter by date')"-->
      <!--        >-->
      <!--      </span>-->
    </div>
  </div>
</template>

<script>

import DateTimeInput from '../ui/DateTimeInput'
import { DateTime } from 'luxon'
import SubmitButton        from '../ui/SubmitButton'

export default {
  name: 'StatisticsFiltered',
  components: { DateTimeInput, SubmitButton },
  props: {
    dateStart: {
      type: String,
      required:  true
    },
    dateEnd: {
      type: String,
      required:  true
    }
  },
  data () {
    return {
      from: this.dateStart,
      to: this.dateEnd,
      showDiv : false,
      processing :false
    }
  },
  computed: {
    subFilter () {
      const activeFilters = []
      if (this.from !== null && this.from !== '') {
        const dateFrom = DateTime.fromISO(this.from)
          .toLocaleString(DateTime.DATE_SHORT)
        activeFilters.push(this.$translator.trans('from') + ' ' + dateFrom)
      }
      if (this.to !== null && this.to !== '') {
        const dateTo = DateTime.fromISO(this.to)
          .toLocaleString(DateTime.DATE_SHORT)

        activeFilters.push(this.$translator.trans('to') + ' ' + dateTo)
      }
      if (activeFilters.length === 0) {
        return this.$translator.trans('no filter')
      } else {
        return activeFilters.join(' - ')
      }
    },
    isActiveFilter () {
      return (
        (this.from !== null && this.from !== '') ||
          (this.to !== null && this.to !== '')
      )
    }
  },
  methods: {
    filter () {
      window.location.href = this.$routing.generate('_statistics', { from: this.from, to: this.to })
    }
  }
}
</script>

<style scoped>
.dropdown-menu.dropdown-menu-list{overflow: inherit;}
</style>
