<template>
  <tr>
    <td>
      <a
        role="button"
        class="success"
        @click="openSource()"
      >{{ video.name }} </a>
    </td>
    <td>{{ video.date }}</td>
    <td>{{ translatedSource }}</td>
    <td>{{ video.modalName }}</td>
    <td>{{ video.viewer }}</td>
    <td>{{ video.viewerUnique }}</td>
  </tr>
</template>

<script>
export default {
  name: 'StatisticsVideosReplayLineItem',
  props: {
    video: {
      type: Object,
      required: true
    }
  },
  computed: {
    translatedSource () {
      switch (this.video.source) {
        case 'catalog':
          return this.$translator.trans('Catalog')
        case 'registrationPage':
          return this.$translator.trans('Registration page')
        default:
          return ''
      }
    },
    webLink () {
      switch (this.video.source) {
        case 'registrationPage':
          return location.origin + this.$routing.generate('_registration_page_weblink_home', {
            client: this.video.clientSlug,
            session: this.video.id
          })
        case 'catalog':
          return location.origin + this.$routing.generate('_self_subscription_hub_home', {
            clientName: this.video.clientSlug,
            domain: this.video.domain,
            page: 'replay',
            q: encodeURI(this.video.name)
          })
        default:
          return ''
      }
    }
  },
  methods: {
    openSource () {
      window.open(this.webLink, '_blank')
    }
  }
}
</script>
