<template>
  <section
    id="wrapper-content-dashboard-stats"
    class="wrapper-content-dashboard-stats"
  >
    <div class="row mb-30">
      <div class="col-lg-12">
        <div class="wrapper-content-dashboard-stats__participants-finished wrapper-container">
          <div class="wrapper-content-dashboard-stats__session__title mb-30">
            <h2>{{ $translator.trans('Participants and animators of completed sessions') }}</h2>
          </div>
          <div class="wrapper-content-dashboard-stats__participants-finished__table">
            <div class="wrapper-content-sessions__current-stats__infos__table table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col" />
                    <th scope="col">
                      {{ $translator.trans('Total') }}
                    </th>
                    <th scope="col">
                      {{ $translator.trans('Presents') }}
                    </th>
                    <th scope="col">
                      {{ $translator.trans('Absents') }}
                    </th>
                    <th scope="col">
                      {{ $translator.trans('Participation rate') }}
                    </th>
                    <th scope="col">
                      {{ $translator.trans('Average number of registrants') }}
                    </th>
                    <th scope="col">
                      {{ $translator.trans('Average number of attendees') }}
                    </th>
                    <th scope="col">
                      {{ $translator.trans('Maximum number of participants') }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <statistics-participants-line-item
                    :statistics="statisticsSession.participants.total"
                    :finished-session-count="numberOfFinishedSession"
                    title="all"
                  />
                  <statistics-participants-line-item
                    v-for="(categoryParticipantStatistics, category) in statisticsSession.participants.byCategory"
                    :key="category"
                    :statistics="categoryParticipantStatistics"
                    :finished-session-count="numberOfFinishedSession"
                    :title="category"
                  />
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

import StatisticsParticipantsLineItem from './StatisticsParticipantsLineItem'
export default {
  name: 'StatisticsParticipants',
  components: { StatisticsParticipantsLineItem },
  props: {
    statisticsSession: {
      type: Object,
      required: false,
      default: () => { return {} }
    }
  },
  computed: {
    numberOfFinishedSession () {
      return this.statisticsSession.sessions.byState.Finished
    }
  }
}
</script>
