<template>
  <section
    id="wrapper-content-dashboard-stats"
    class="wrapper-content-dashboard-stats"
  >
    <div class="row mb-30">
      <div class="col-lg-12">
        <div class="wrapper-content-dashboard-stats__participants-finished wrapper-container">
          <div class="wrapper-content-dashboard-stats__session__title mb-30">
            <h2>{{ $translator.trans('All video information') }}</h2>
          </div>
          <div class="wrapper-content-dashboard-stats__participants-finished__table">
            <div class="wrapper-content-sessions__current-stats__infos__table table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">
                      {{ $translator.trans('Title') }}
                    </th>
                    <th scope="col">
                      {{ $translator.trans('Date of creation') }}
                    </th>
                    <th scope="col">
                      {{ $translator.trans('Source') }}
                    </th>
                    <th scope="col">
                      {{ $translator.trans('Model Name') }}
                    </th>
                    <th scope="col">
                      {{ $translator.trans('Total of viewer') }}
                    </th>
                    <th scope="col">
                      {{ $translator.trans('Number of unique views') }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <statistics-videos-replay-line-item
                    v-for="(video, key) in sortedVideos"
                    :key="key"
                    :video="video"
                  />
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

import StatisticsVideosReplayLineItem from './StatisticsVideosReplayLineItem.vue'
export default {
  name: 'StatisticsVideosReplay',
  components: { StatisticsVideosReplayLineItem },
  props: {
    videos: {
      type: Object,
      required: false,
      default: () => { return {} }
    }
  },
  computed: {
    sortedVideos () {
      // Convertir les valeurs de l'objet en tableau
      const videosArray = Object.values(this.videos)

      // Trier le tableau en fonction du nombre de viewers (de manière décroissante)
      videosArray.sort((a, b) => b.viewer - a.viewer)

      // Retourner le tableau trié
      return videosArray
    }
  }
}
</script>
