<template>
  <tr>
    <td>{{ translatedTitle }}</td>
    <td>
      <span class="green">{{ statistics.count }}</span>
      <span
        v-if="statistics.test > 0"
        class="notif"
      >( + {{ statistics.test }} tests )</span>
    </td>
    <td>{{ statistics.attendees }}</td>
    <td>{{ statistics.absences }}</td>
    <td>{{ participationRate }}%</td>
    <td>{{ average }}</td>
    <td>{{ averageAttendance }}</td>
    <td>{{ statistics.max }}</td>
  </tr>
</template>

<script>
export default {
  name: 'StatisticsParticipantsLineItem',
  props: {
    statistics: {
      type: Object,
      required: true
    },
    finishedSessionCount: {
      type: Number,
      required: true
    },
    title: {
      type: String,
      required: true
    }
  },
  computed: {
    participationRate () {
      if (this.statistics.total === 0 || this.statistics.count === 0) {
        return 0
      }
      return Math.round((this.statistics.attendees / this.statistics.count) * 100)
    },
    average () {
      if (this.title === 'all') {
        if (this.statistics.finishedSessionCount === 0) {
          return 0
        }
        return Math.round(this.statistics.count / this.finishedSessionCount).toFixed(1)
      } else {
        if (this.statistics.finishedSession === 0) {
          return 0
        }
        return Math.round(this.statistics.count / this.statistics.finishedSession).toFixed(1)
      }
    },
    averageAttendance () {
      if (this.title === 'all') {
        if (this.statistics.finishedSessionCount === 0) {
          return 0
        }
        return Math.round(this.statistics.attendees / this.finishedSessionCount).toFixed(1)
      } else {
        if (this.statistics.finishedSession === 0) {
          return 0
        }
        return Math.round(this.statistics.attendees / this.statistics.finishedSession).toFixed(1)
      }
    },
    translatedTitle () {
      if (this.title === 'all') {
        return this.$translator.trans('All sessions')
      }
      if (this.title === 'Formation') {
        return this.$translator.trans('Virtual Classroom')
      }
      if (this.title === 'Face-to-face') {
        return this.$translator.trans('Face-to-face training')
      }
      return this.$translator.trans(this.title)
    }
  }
}
</script>
