<template>
  <div>
    <div class="wrapper-header mb-2">
      <div class="wrapper-header__infos d-flex align-items-center justify-content-between">
        <div class="wrapper-header__infos__title d-flex align-items-center mb-13">
          <div class="page-options-bar">
            <h1>{{ $translator.trans('Statistics') }}</h1>
          </div>
          <div class="page-options-bar__item">
            <statistics-filtered
              :date-start="dateStart"
              :date-end="dateEnd"
            />
          </div>
        </div>
        <!--          <div-->
        <!--            class="wrapper-header__infos__custom-stats d-flex align-items-center"-->
        <!--          >-->
        <!--            <span-->
        <!--              id="wrapper-header__infos__custom-stats__label"-->
        <!--              class="wrapper-header__infos__custom-stats__label me-3 page-options-bar"-->
        <!--            >{{ $translator.trans('Customized statistics') }}</span>-->
        <!--            <img-->
        <!--              class="page-options-bar"-->
        <!--              src="/build/static/icons/statistics.svg"-->
        <!--            >-->
        <!--          </div>-->
      </div>
    </div>
    <nav>
      <div
        id="nav-tab-user"
        class="nav nav-tabs mb-3"
        role="tablist"
      >
        <button
          v-for="(tab) in tabs"
          :id="tab.id"
          :key="tab.id"
          class="nav-link ps-0"
          :class="[{
            'active' : currentTab === tab.component
          }]"
          data-bs-toggle="tab"
          type="button"
          role="tab"
          @click="changeActiveTab(tab.component)"
        >
          {{ tab.name }}
        </button>
      </div>
    </nav>
    <component
      :is="currentTab"
      :statistics-session="statisticsSession"
      :statistics-replays-videos="statisticsReplaysVideos"
      :date-start="dateStart"
      :date-end="dateEnd"
    />
  </div>
</template>

<script>
import StatisticsSessions from '../statistics/StatisticsSessions'
import StatisticsParticipants from '../statistics/StatisticsParticipants'
import StatisticsFiltered from './StatisticsFiltered'
import StatisticsEvolution from './StatisticsEvolution'
import ReplayTab from './ReplayTab.vue'
import StatisticsSessionsTab from './StatisticsSessionsTab.vue'

export default {
  name: 'Statistics',
  components: { StatisticsEvolution, StatisticsFiltered, StatisticsSessions, StatisticsParticipants, ReplayTab, StatisticsSessionsTab },
  props: {
    statisticsSession: {
      type: Object,
      required: true
    },
    statisticsReplaysVideos: {
      type: Object,
      required: true
    },
    dateStart: {
      type: String,
      required:  true
    },
    dateEnd: {
      type: String,
      required:  true
    }
  },
  data () {
    return {
      currentTab: 'StatisticsSessionsTab'
    }
  },
  computed: {
    tabs () {
      return [
        { id: 'ModuleSessionTab', component: 'StatisticsSessionsTab', name: this.$translator.trans('Session') },
        { id: 'ModuleReplayTab', component: 'ReplayTab', name: this.$translator.trans('Replay') }
      ]
    }
  },
  methods: {
    changeActiveTab (tab) {
      this.currentTab = tab
    }
  }
}
</script>
