<template>
  <div>
    <div class="col-md-12 mb-3">
      <em>
        {{ $translator.trans('Find here, over a given period, all the statistics of your completed  sessions : their status, their distribution, the participation rate.') }}
      </em>
    </div>
    <statistics-sessions
      :statistics-session="statisticsSession"
    />
    <statistics-participants
      :statistics-session="statisticsSession"
    />
    <statistics-evolution
      :statistics-session="statisticsSession"
    />
  </div>
</template>

<script>

import StatisticsParticipants from './StatisticsParticipants.vue'
import StatisticsEvolution from './StatisticsEvolution.vue'
import StatisticsSessions from './StatisticsSessions.vue'

export default {
  name: 'StatisticsSessionsTab',
  components: {
    StatisticsSessions,
    StatisticsEvolution,
    StatisticsParticipants
  },
  props: {
    statisticsSession: {
      type: Object,
      required: true
    },
    dateStart: {
      type: String,
      required:  true
    },
    dateEnd: {
      type: String,
      required:  true
    }
  }
}
</script>
