<template>
  <section
    id="wrapper-content-dashboard-stats"
    class="wrapper-content-dashboard-stats"
  >
    <div class="row mb-30">
      <div class="col-lg-12 col-xl-6 col-xxl-4">
        <session-status
          :statistics-session="statisticsSession"
        />
      </div>
      <div class="col-lg-12 col-xl-6 col-xxl-8">
        <session-category
          :statistics-session="statisticsSession"
        />
      </div>
    </div>
  </section>
</template>

<script>

import SessionStatus from './SessionStatus'
import SessionCategory from './SessionCategory'

export default {
  name: 'StatisticsSessions',
  components: {
    SessionStatus,
    SessionCategory
  },
  props: {
    statisticsSession: {
      type: Object,
      required: true
    }
  }
}
</script>
