<template>
  <div class="col">
    <div class="mb-3 row">
      <div class="col-6">
        <h5 class="fw-bold title-underline title-underline-primary">
          {{ $translator.trans('FAQ') }}
        </h5>
      </div>
      <div class="col-6">
        <div class="search-switch d-flex justify-content-end">
          <label
            class="switch"
            for="switch-active-state"
            @click="() => module.personalization.enabledFaq = !module.personalization.enabledFaq"
          >
            <input
              v-model="module.personalization.enabledFaq"
              type="checkbox"
              name="switch-active-state"
            >
            <span class="slider round" />
          </label>
        </div>
      </div>
    </div>
    <div class="mb-4 form__item">
      <label
        for="menu_item.faq"
        class="form-label"
        :class="[{
          'required': module.personalization.enabledFaq,
        }]"
      >{{ $translator.trans('Menu item name') }}</label>
      <input
        id="menu_item.faq"
        v-model="module.personalization.faqTitle"
        name="menu_item.faq"
        :required="module.personalization.enabledFaq"
        class="form-control w-100"
        :placeholder="$translator.trans('FAQ')"
      >
      <div
        v-if="formErrors['AppearanceTab'] && 'menu_item.faq' in formErrors['AppearanceTab']"
        class="invalid-feedback d-block"
      >
        {{ formErrors['AppearanceTab']['menu_item.faq'] }}
      </div>
    </div>

    <!--    <div class="mb-3 form__item">-->
    <!--      <div class="d-flex align-items-start">-->
    <!--        <label for="menu_item.faq.banner" class="form-label required">{{ $translator.trans('Banner') }}</label>-->
    <!--        <span class="badge btn-sm bg-primary rounded">5</span >-->
    <!--      </div>-->
    <!--      <label for=""><small>{{$translator.trans('Optional. On the small screen, keep:')}}</small></label>-->

    <!--      <ul class="d-flex justify-content-between w-100">-->
    <!--        <li class="form-check">-->
    <!--          <label class="form-check-label" for="menu_item.faq.right">{{ $translator.trans('the right side') }}</label>-->
    <!--          <input type="radio" id="menu_item.faq.right" name="menu_item.faq" class="form-check-input inline" value="right">-->
    <!--        </li>-->
    <!--        <li class="form-check">-->
    <!--          <label class="form-check-label" for="menu_item.faq.center">{{$translator.trans('center')}}</label>-->
    <!--          <input type="radio" id="menu_item.faq.center" name="menu_item.faq" class="form-check-input inline" value="center">-->
    <!--        </li>-->
    <!--        <li class="form-check">-->
    <!--          <label class="form-check-label" for="menu_item.faq.left">{{$translator.trans('left')}}</label>-->
    <!--          <input type="radio" id="menu_item.faq.left" name="menu_item.faq" class="form-check-input inline" value="left">-->
    <!--        </li>-->
    <!--      </ul>-->

    <!--      <menu-personalization-f-a-q-banner/>-->
    <!--    </div>-->

    <div class="form__item mb-3">
      <div class="d-flex align-items-center position-relative">
        <label
          for="menu_item.faq.description"
          class="form-label mb-0"
        >{{ $translator.trans('Page description' ) }}</label>
        <span class="bubble-information ms-2">6</span>
      </div>
      <textarea
        v-model="module.personalization.faqDescription"
        name="menu_item.faq.description"
        class="form-control w-100"
        style="height: 100px"
        maxlength="200"
      />
      <small>{{ $translator.trans("To manage FAQ, click on tab") }} "<span
        class="link-primary"
        style="cursor: pointer"
        @click="$store.commit('module/changeView', 'FAQTab')"
      >{{ $translator.trans('FAQ') }}</span>"</small>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'MenuPersonalizationFAQ',
  computed: {
    ...mapState('module', ['module', 'clients']),
    ...mapState('process', ['formErrors'])
  }
}
</script>
