<template>
  <Survey :survey="survey" />
</template>

<script>
import 'survey-vue/survey.css'
import { Survey, Model } from 'survey-vue'

export default {
  name: 'LiveSessionSurvey',
  components: { Survey },
  props: {
    surveyId: {
      type: String,
      required: true
    },
    answer: {
      type: Object,
      default: () => {}
    },
    locale: {
      type: String,
      required: true
    },
    preview: {
      type: Boolean,
      default: false
    }
  },
  data () {
    const surveyJson = { surveyId: this.surveyId }
    const survey = new Model(surveyJson)
    survey.data = this.answer
    survey.locale = this.locale
    survey.onComplete.add(this.handleSubmitForm)
    survey.focusFirstQuestionAutomatic = false
    if (this.preview) {
      survey.mode = 'display'
    }
    survey.css = {
      root: 'session-form',
      footer: 'sv_nav d-flex justify-content-end align-items-center',
      navigation: {
        complete: 'sv_complete_btn btn btn-primary'
      },
      page: {
        root: 'sv_p_root marks',
        title: 'sv_page_title d-none',
        description: 'legend pb-1'
      },
      error: {
        root: 'sv_q_erbox invalid-feedback d-block'
      },
      row: 'sv_row form__fieldset fieldset-tertiary mb-20',
      question: {
        title: 'sv_q_title legend pb-3',
        content: ''
      },
      dropdown: {
        selectWrapper: 'sv_select_wrapper form__item'
      },
      boolean: {
        switch: 'sv-boolean__switch switch',
        slider: 'sv-boolean__slider slider round',
        item: 'sv-boolean form__item__switch',
        itemChecked: 'sv-boolean--checked checked switch-checked',
        itemIndeterminate: 'sv-boolean--indeterminate switch-unknown',
        itemDisabled: 'sv-boolean--disabled switch-unchecked',
        label: 'sv-boolean__label switch-label',
        disabledLabel: 'sv-boolean__label--disabled switch-label-disabled'
      },
      radiogroup: {
        itemControl: 'sv_q_radiogroup_control_item form-check-input me-2',
        label: 'sv_q_radiogroup_label form-check-label'
      },
      checkbox: {
        itemControl: 'sv_q_checkbox_control_item form-check-input me-2',
        label: 'sv_q_checkbox_label form-check-label'
      },
      rating: {
        item: 'sv_q_rating_item form__item__rating'
      }
    }

    return {
      survey: survey
    }
  },
  methods: {
    handleSubmitForm (survey) {
      this.$emit('submitted', survey)
    }
  }
}
</script>
