<template>
  <div>
    <div
      v-if="processing"
      class="d-flex justify-content-center"
    >
      <loader />
    </div>
    <div
      id="surveyResult"
    />
  </div>
</template>

<script>
import * as Survey          from 'survey-vue'
import * as SurveyAnalytics from 'survey-analytics'
import * as SurveyAnalyticsTabulator from 'survey-analytics/survey.analytics.tabulator'
import { mapGetters }       from 'vuex'
import Loader               from '../ui/Loader'
import jsPDF from 'jspdf'
import * as XLSX from 'xlsx'
import 'jspdf-autotable'

import 'survey-analytics/survey.analytics.css'
import 'tabulator-tables/dist/css/tabulator.css'
import 'survey-analytics/survey.analytics.tabulator.css'
import { getSurveyInfoFromPublicAPI } from '../../utils/evaluations.utils'

export default {
  name: 'LiveSessionSurveyAnalytics',
  components: { Loader },
  props: {
    evaluationId: {
      type: Number,
      required: false,
      default: null
    },
    surveyId: {
      type: String,
      required: true
    },
    answers: {
      type: Array,
      required: true
    },
    locale: {
      type: String,
      required: false,
      default: 'fr'
    }
  },
  data () {
    return {
      processing: false
    }
  },
  computed: {
    ...mapGetters({ session: 'session/getSession' })
  },
  mounted () {
    window.jsPDF = jsPDF
    window.XLSX = XLSX
  },
  methods: {
    getSurveyResultNode () {
      return document.getElementById('surveyResult')
    },
    updateChart () {
      this.processing = true
      this.getSurveyResultNode().innerHTML = ''

      setTimeout(() => {
        const  options = {
          haveCommercialLicense: true,
          labelTruncateLength: 27,
          allowDynamicLayout: false,
          allowHideQuestions: false
        }

        getSurveyInfoFromPublicAPI(this.surveyId)
          .then(response => {
            const survey = new Survey.Model(response.data)
            const visPanel = new SurveyAnalytics.VisualizationPanel(survey.getAllQuestions(), this.answers, options)
            visPanel.showHeader = true
            visPanel.locale = this.locale
            visPanel.render(this.getSurveyResultNode())
          })
          .finally(() => {
            this.processing = false
          })
      }, 500)
    },
    updateTabulator () {
      this.processing = true
      this.getSurveyResultNode().innerHTML = ''

      setTimeout(() => {
        const options = {
          haveCommercialLicense: true,
          labelTruncateLength: 27,
          allowDynamicLayout: false,
          allowHideQuestions: false,
          downloadButtons: ['xlsx', 'csv']
        }

        getSurveyInfoFromPublicAPI(this.surveyId)
          .then(response => {
            const survey = new Survey.Model(response.data)
            const surveyAnalyticsTabulator = new SurveyAnalyticsTabulator.Tabulator(
              survey,
              this.answers,
              options
            )
            surveyAnalyticsTabulator.locale = this.locale
            surveyAnalyticsTabulator.render(this.getSurveyResultNode())
          })
          .finally(() => {
            this.processing = false
          })
      }, 500)
    }
  }
}
</script>

<style>
.sa-visualizer__toolbar { display: none !important;}
</style>
