<template>
  <div class="data-roof align-items-start">
    <module-tile
      v-for="module in modules"
      :key="module.id"
      :module="module"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import ModuleTile from './ModuleTile'

export default {
  name: 'ModuleRoof',
  components: { ModuleTile },
  computed: {
    ...mapState('module', ['modules'])
  }
}
</script>
