<template>
  <div class="data-roof__tile">
    <div
      class="tile__content d-flex flex-column justify-content-between"
      :style="'border-color: ' + module.mainColor"
    >
      <div class="content__image">
        <img
          class="mx-auto d-block"
          :src="module.logoUri"
        >
      </div>
      <div class="d-flex justify-content-between">
        <div
          class="flex-grow-1"
          :style="'background-color: ' + module.mainColor"
        >
&nbsp;
        </div>
        <div
          class="flex-grow-1"
          :style="'background-color: ' + module.secondaryColor"
        >
&nbsp;
        </div>
      </div>
      <module-tile-action :module="module" />
    </div>
    <div class="tile__footer">
      <b>{{ module.name }}</b>
    </div>
  </div>
</template>

<script>
import ModuleTileAction from './ModuleTileAction'
export default {
  name: 'ModuleTile',
  components: { ModuleTileAction },
  props: {
    module: {
      type: Object,
      required: true
    }
  }
}
</script>

<style>

</style>
