<template>
  <div class="drop-menu-container">
    <confirmation-pop-in
      :id="'delete_module_'+module.id.toString()"
      :title="$translator.trans('Removal of the module')"
      :content="$translator.trans('Do you want to delete this module?')"
      :confirm="deleteModule"
    />
    <confirmation-pop-in
      :id="'switch_active_module_'+module.id.toString()"
      :title="$translator.trans(module.active ? 'Deactivation of the module' : 'Activation of the module')"
      :content="$translator.trans(module.active ? 'Do you want to disable this module?' : 'Do you want to enable this module?')"
      :confirm="changeActiveState"
    />
    <div class="icn-option">
      <img src="/build/static/icons/options-white.svg">
    </div>
    <ul class="dropdown-menu-inner">
      <li>
        <a
          class="dropdown-item"
          :href="$routing.generate('_module_edit', {id: module.id})"
        >
          <img src="/build/static/icons/eye-green.svg">
          <b class="ms-2">{{ $translator.trans('View') }}</b>
        </a>
      </li>
      <li>
        <div
          class="dropdown-item cursor-pointer"
          data-bs-toggle="modal"
          :data-bs-target="'#confirmationPopIn_delete_module_'+module.id.toString()"
        >
          <img src="/build/static/icons/trash-small.svg">
          <b class="ms-2">{{ $translator.trans('Delete') }}</b>
        </div>
      </li>
      <li>
        <div
          class="dropdown-item cursor-pointer"
          data-bs-toggle="modal"
          :data-bs-target="'#confirmationPopIn_switch_active_module_'+module.id.toString()"
        >
          <img src="/build/static/icons/small-ban-green.svg">
          <b class="ms-2">
            <template v-if="module.active">{{ $translator.trans('Deactivate') }}</template>
            <template v-else>{{ $translator.trans('Activate') }}</template>
          </b>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import { deleteModule, updateModule } from '../../../../repository/selfsubscription/module'
import ConfirmationPopIn from '../../../ui/PopIn/ConfirmationPopIn.vue'

export default {
  name: 'ModuleTileAction',
  components: { ConfirmationPopIn },
  props: {
    module: {
      type: Object,
      required: true
    }
  },
  methods: {
    deleteModule () {
      deleteModule(this.module.id)
    },
    changeActiveState () {
      const module = this.module
      module.active = !this.module.active
      updateModule(this.module)
    }
  }
}
</script>

<style scoped>

</style>
