<template>
  <div class="data-list__row">
    <a
      class="row__data text-black flex-grow-0"
      :href="$routing.generate('_module_edit', {id: module.id})"
    >
      <img
        class="rounded-circle module-logo"
        style=""
        :style="'border-color:' + module.mainColor + ' ' + module.mainColor + ' ' + module.secondaryColor + ' ' + module.secondaryColor"
        :src="module.logoUri"
      >
    </a>
    <a
      class="row__data text-black"
      :href="$routing.generate('_module_edit', {id: module.id})"
    >
      {{ module.name }}
    </a>
    <a
      v-if="Object.keys(clients).length > 1"
      class="row__data text-black"
      :href="$routing.generate('_module_edit', {id: module.id})"
    >
      {{ module.client.name }}
    </a>
    <a
      class="row__data text-black"
      :href="$routing.generate('_module_edit', {id: module.id})"
    >
      {{ module.description }}
    </a>
    <div class="row__data">
      <a
        :href="$routing.generate('_self_subscription_hub_home', {clientName: module.slugClient, domain: module.domain})"
        target="_blank"
      >
        {{ module.domain }}
        <img src="/build/static/icons/open-target.svg">
      </a>
    </div>
    <div class="row__data">
      {{ module.active ? $translator.trans('Active') : $translator.trans('Inactive') }}
    </div>
    <div class="row__data option">
      <module-tile-action :module="module" />
    </div>
  </div>
</template>

<script>
import ModuleTileAction from './ModuleTileAction'
import { mapState } from 'vuex'

export default {
  name: 'ModuleListItem',
  components: { ModuleTileAction },
  props: {
    module: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState('module', ['modules', 'clients'])
  }
}
</script>

<style scoped>
  .module-logo {
    width: 75px;
    height:75px;
    padding: 10px;
    border: 3px solid black;
    object-fit: contain
  }
</style>
