<template>
  <div class="module-content">
    <module-title />
    <module-action />
    <alert
      v-if="error"
      type="danger"
      :text="error"
    />
    <module-list v-if="view === 'List'" />
    <module-roof v-else />
  </div>
</template>

<script>
import ModuleTitle from './ModuleTitle'
import ModuleList from './ModuleList'
import ModuleAction from './ModuleAction'
import { getModules } from '../../../../repository/selfsubscription/module'
import { mapState } from 'vuex'
import ModuleRoof from './ModuleRoof'
import Alert from '../../../ui/Alert'
export default {
  name: 'ModuleViewer',
  components: { Alert, ModuleRoof, ModuleAction, ModuleList, ModuleTitle },
  props: {
    clients: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState('module', ['view']),
    ...mapState('process', ['error'])
  },
  mounted () {
    this.$store.commit('module/clients', this.clients)
    getModules()
  }
}
</script>

<style scoped>

</style>
