<template>
  <div class="data-list">
    <div class="data-list__header">
      <div class="data-list__header__item  flex-grow-0">
        {{ $translator.trans('Logo') }}
      </div>
      <div class="data-list__header__item">
        {{ $translator.trans('Name') }}
      </div>
      <div
        v-if="Object.keys(clients).length > 1"
        class="data-list__header__item"
      >
        {{ $translator.trans('Account') }}
      </div>
      <div class="data-list__header__item">
        {{ $translator.trans('Description') }}
      </div>
      <div class="data-list__header__item">
        {{ $translator.trans('Domain') }}
      </div>
      <div class="data-list__header__item">
        {{ $translator.trans('Status') }}
      </div>
      <div class="data-list__header__item option" />
    </div>
    <div class="table-content">
      <module-list-item
        v-for="module in modules"
        :key="module.id"
        :module="module"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import ModuleListItem from './ModuleListItem'

export default {
  name: 'ModuleList',
  components: { ModuleListItem },
  computed: {
    ...mapState('module', ['modules', 'clients'])
  }
}
</script>

<style scoped>

</style>
