<template>
  <div class="page-title">
    <em>
      {{ $translator.trans('Find here all the Catalogs.') }}
    </em>
    <br>
    <loader
      v-if="saving"
      style="margin-left: auto"
    />
    <div
      v-else
      class="primary-btn cursor-pointer"
      @click="createModule"
    >
      <img
        src="/build/static/icons/plus-white.svg"
        class="me-2"
      >
      {{ $translator.trans('New') }}
    </div>
    <module-modale />
  </div>
</template>

<script>
import ModuleModale from './ModuleModale'
import { mapState } from 'vuex'
import Loader         from '../../../ui/Loader'

export default {
  name: 'ModuleTitle',
  components: { ModuleModale, Loader },
  computed: {
    ...mapState('process', ['saving'])
  },
  methods: {
    createModule () {
      this.$store.commit('module/newModule')
    }
  }
}
</script>
