<template>
  <div class="d-flex part-2">
    <div class="page-options-bar__item d-flex align-items-center">
      <span class="d-sm-none d-xl-block me-2">{{ $translator.trans('Display') }}</span>
      <div class="session-display">
        <div
          class="session-display__item"
          :class="{'active': view === 'List'}"
          role="button"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          :data-bs-original-title="$translator.trans('List')"
          :aria-label="$translator.trans('List')"
          @click="changeView('List')"
        >
          <img
            src="/build/static/icons/list-bullet-white.svg"
            height="16"
          >
        </div>
        <div
          class="session-display__item"
          :class="{'active': view === 'Tile'}"
          role="button"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          :data-bs-original-title="$translator.trans('Tile')"
          :aria-label="$translator.trans('Tile')"
          @click="changeView('Tile')"
        >
          <img
            src="/build/static/icons/calendar-white.svg"
            height="16"
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ModuleDisplay',
  computed: {
    ...mapState('module', ['view'])
  },
  methods: {
    changeView (view) {
      this.$store.commit('module/updateView', view)
    }
  }
}
</script>

<style scoped>

</style>
