<template>
  <div class="d-flex part-1">
    <div class="page-options-bar__item pr">
      <div class="page-options-bar__item__search with-result">
        <label for="searchInModule"><img src="/build/static/icons/search.svg"></label>
        <input
          id="searchInModule"
          v-model="text"
          type="search"
          name="searchInModule"
          :placeholder="$translator.trans('Search in catalogs')"
          @input="searchModule"
        >
        <div class="search-sessions-counter">
          <loader
            v-if="loading"
            class="mb-0"
          />
          <template v-else>
            <b>{{ modules.length }}</b> {{ $translator.trans('catalog.s found.s') }}
          </template>
        </div>
      </div>
      <div
        id="tooltipSwitchSessionSearch"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title=""
        class="search-switch"
        :data-bs-original-title="$translator.trans('Active modules')"
      >
        <label
          for="switch-session-search"
          class="switch"
        >
          <input
            id="switch-session-search"
            v-model="onlyEnable"
            type="checkbox"
            name="switch-session-search"
            @change="searchModule"
          >
          <span class="slider round" />
        </label>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { getModules } from '../../../../repository/selfsubscription/module'
import Loader from '../../../ui/Loader'

export default {
  name: 'ModuleSearch',
  components: { Loader },
  data () {
    return {
      timeout: null,
      text: '',
      onlyEnable: true
    }
  },
  computed: {
    ...mapState('module', ['modules']),
    ...mapState('process', ['loading'])
  },
  methods: {
    searchModule () {
      if (this.timeout !== null) {
        clearTimeout(this.timeout)
      }
      this.timeout = setTimeout(() => {
        this.timeout = null
        getModules(this.$data)
      }, 200)
    }
  }
}
</script>
