<template>
  <div class="page-options-bar">
    <module-search />
    <!--    <module-display />-->
  </div>
</template>

<script>
import ModuleSearch from './ModuleSearch'

export default {
  name: 'ModuleAction',
  components: {  ModuleSearch }
}
</script>

<style scoped>

</style>
