<template>
  <div
    ref="moduleModale"
    aria-hidden="true"
    class="modal fade show text-black"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ $translator.trans('Creation of a catalog') }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div class="modal-body">
          <alert
            v-if="errorModal"
            type="danger"
            :text="errorModal"
          />
          <alert
            v-if="success"
            type="success"
            :text="$translator.trans('The module has been well created')"
          />
          <module-form />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-light"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            {{ $translator.trans('Close') }}
          </button>
          <loader v-if="saving" />
          <button
            v-else
            class="btn btn-primary"
            type="button"
            @click="saveModule"
          >
            {{ $translator.trans('Valid') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Alert from '../../../ui/Alert'
import ModuleForm from '../Form/ModuleForm'
import { mapState } from 'vuex'
import { createModule } from '../../../../repository/selfsubscription/module'
import Loader         from '../../../ui/Loader'
import store from '../../../../store'

export default {
  name: 'ModuleModale',
  components: { ModuleForm, Alert, Loader },
  data () {
    return {
      modal: null
    }
  },
  computed: {
    ...mapState('module', ['module']),
    ...mapState('process', ['errorModal', 'saving', 'success'])
  },
  watch: {
    module (newValue, oldValue) {
      if (newValue === null) {
        this.modal.hide()
      } else {
        this.modal.show()
      }
    }
  },
  mounted () {
    this.modal = this.$bootstrap.Modal.getOrCreateInstance(this.$refs.moduleModale)
    this.$refs.moduleModale.addEventListener('hide.bs.modal', event => {
      this.$store.commit('module/updateModule', null)
      store.commit('process/endSaving')
    })
  },
  methods: {
    saveModule () {
      createModule(this.module)
    }
  }
}
</script>
