<template>
  <article class="nq-wrapper-532 mx-auto mb-3 mb-sm-0 px-3 px-md-0 nq-stakeholders">
    <h2 class="nq-heading d-block text-center fs-3 lh-sm my-3 text-primary">
      {{ page.blockDescription.speakerTitle }}
    </h2>
    <ul
      v-for="(speakerContainer, speakerContainerKey) in statisticsData"
      :key="speakerContainerKey"
      class="d-block d-sm-flex flex-column flex-sm-row justify-content-center flex-wrap ps-0"
      style="list-style: none"
    >
      <li
        v-for="(speaker, key) in speakerContainer"
        :key="key"
        class="m-1"
      >
        <registration-page-speaker-item
          :is-preview="
            isPreview"
          :speaker="speaker"
        />
      </li>
    </ul>
  </article>
</template>

<script>
import RegistrationPageSpeakerItem from './RegistrationPageSpeakerItem.vue'

export default {
  name: 'RegistrationPageSpeaker',
  components: { RegistrationPageSpeakerItem },
  props: {
    speakers: {
      type: Array,
      default: () => []
    },
    page: {
      type: Object,
      default: () => ({})
    },
    isPreview: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    statisticsData () {
      const res = []
      let data = []
      let split = 3
      if (this.speakers.length >= 4) {
        split = 2
      }
      Object.entries(this.speakers).forEach(([key, value], i) => {
        data.push(value)
        if ((i + 1) % split === 0) {
          res.push(data)
          data = []
        }
      })
      if (data.length) {
        res.push(data)
      }
      return res
    }
  }
}
</script>

<style scoped>

</style>
