<template>
  <div
    id="RegistrationPageNewParticipantModal_new_participant"
    class="modal fade"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div
        v-if="!registrationSuccess"
        class="modal-content"
      >
        <div class="modal-header">
          <h3
            class="d-flex mb-2 text-primary"
          >
            {{ title }}
          </h3>
          <button
            aria-label="Close"
            class="btn-close"
            data-bs-dismiss="modal"
            type="button"
          />
        </div>
        <div class="modal-body">
          <p>{{ $translator.trans('To register, please complete the following details:') }}</p>
          <br>
          <form class="form">
            <div class="mb-3 form__item">
              <label for="">{{ $translator.trans('Email')+ ' *' }}</label>
              <input
                v-model="emailParticipant"
                :placeholder="$translator.trans('Email')+ ' *'"
                class="form-control"
                name="email"
                required="required"
                style="background: #f5f3f3;"
              >
              <div
                v-if="isInvalidEmail"
                class="invalid-feedback d-block"
              >
                {{ $translator.trans('Invalid email format') }}
              </div>
            </div>
            <div
              class="mb-3 form__item"
            >
              <label for="">{{ $translator.trans('First name')+ ' *' }}</label>
              <input
                v-model="firstname"
                :placeholder="$translator.trans('First name')+ ' *'"
                class="form-control"
                name="name"
                required="required"
                style="background: #f5f3f3;"
              >
              <div
                v-if="isFirstNameEmpty"
                class="invalid-feedback d-block"
              >
                {{ $translator.trans('Field can not be empty') }}
              </div>
            </div>
            <div class="mb-3 form__item">
              <label for="">{{ $translator.trans('Last name')+ ' *' }}</label>
              <input
                v-model="lastname"
                :placeholder="$translator.trans('Last name')+ ' *'"
                class="form-control"
                name="name"
                required="required"
                style="background: #f5f3f3;"
              >
              <div
                v-if="isLastNameEmpty"
                class="invalid-feedback d-block"
              >
                {{ $translator.trans('Field can not be empty') }}
              </div>
            </div>
            <div
              v-for="(element, index) in page.registrationForm"
              :key="index"
              class="mb-3"
            >
              <div
                v-if="element.type === 'text'"
                class="form__item"
                style="margin-bottom: 12px"
              >
                <label for="">{{ placeholderInputType(element) }}</label>
                <input
                  v-model="element.response"
                  :placeholder="placeholderInputType(element)"
                  class="form-control"
                  @input="isFormRegistrationValid()"
                >
              </div>
              <div
                v-if="element.type === 'textarea'"
                class="form__item"
                style="margin-bottom: 12px"
              >
                <label for="">{{ placeholderInputType(element) }}</label>
                <textarea
                  v-model="element.response"
                  :placeholder="placeholderInputType(element)"
                  class="form-control"
                  style="min-height: 80px"
                  @change="isFormRegistrationValid()"
                />
              </div>
              <div
                v-else-if="element.type === 'email'"
                class="form__item"
                style="margin-bottom: 12px"
              >
                <label for="">{{ placeholderInputType(element) }}</label>
                <input
                  v-model="element.response"
                  :placeholder="placeholderInputType(element)"
                  class="form-control"
                  type="email"
                  @change="isFormRegistrationValid()"
                >
              </div>
              <div
                v-else-if="element.type === 'number'"
                class="form__item"
                style="margin-bottom: 12px"
              >
                <label for="">{{ placeholderInputType(element) }}</label>
                <input
                  v-model="element.response"
                  :placeholder="placeholderInputType(element)"
                  class="form-control"
                  type="number"
                  @change="isFormRegistrationValid()"
                >
              </div>
              <div
                v-else-if="element.type === 'tel'"
                class="form__item"
                style="margin-bottom: 12px"
              >
                <label for="">{{ placeholderInputType(element) }}</label>
                <input
                  v-model="element.response"
                  :placeholder="placeholderInputType(element)"
                  class="form-control"
                  pattern="^(?:(?:\+|00)33|0)\s*[1-9](?:[\s.-]*\d{2}){4}$"
                  type="tel"
                  @change="isFormRegistrationValid()"
                >
              </div>
              <div
                v-else-if="element.type === 'date'"
                class="form__item col-6"
                style="margin-bottom: 12px"
              >
                <label for="">{{ placeholderInputType(element) }}</label>
                <date-time-input
                  v-model="element.response"
                  :placeholder="placeholderInputType(element)"
                  @change="isFormRegistrationValid()"
                />
              </div>

              <div
                v-else-if="element.type === 'select'"
                class="form__item"
                style="margin-bottom: 12px"
              >
                <label>{{ placeholderInputType(element) }}</label>
                <select
                  v-model="element.response"
                  class="form-control"
                  @change="isFormRegistrationValid()"
                >
                  <option
                    v-for="(value, indexValue) in element.options"
                    :key="indexValue"
                    :value="value.response"
                  >
                    {{ value.response }}
                  </option>
                </select>
              </div>

              <div
                v-else-if="element.type === 'radio'"
                style="margin-left: 10px;margin-bottom: 12px"
              >
                <label>{{ placeholderInputType(element) }}</label>
                <div
                  v-for="(value, indexValue) in element.options"
                  :key="indexValue"
                  class="col"
                  style="margin-left: 10px"
                >
                  <input
                    v-model="myRadioShow[index]"
                    :value="value.response"
                    class="form-check-input ms-1"
                    type="radio"
                    @change="updateInputRadioBoxValue(element,index)"
                  >
                  <label for="all-users">{{ $translator.trans(value.response) }}</label>
                </div>
              </div>
              <div
                v-else-if="element.type === 'checkbox'"
                style="margin-left: 10px;margin-bottom: 12px"
              >
                <label>{{ placeholderInputType(element) }}</label>
                <div
                  v-for="(value, indexValue) in element.options"
                  :key="indexValue+value"
                  class="col"
                  style="margin-left: 10px"
                >
                  <input
                    :id="'checkbox-'+indexValue"
                    v-model="selectedCheckboxShow[index]"
                    :value="value.response"
                    class="form-check-input ms-1"
                    type="checkbox"
                    @change="updateInputCheckboxValue(element,index)"
                  >
                  <label>{{ $translator.trans(value.response) }}</label>
                </div>
              </div>
            </div>
            <div class="form-check">
              <input
                id="accept-condition"
                v-model="acceptCondition"
                class="form-check-input"
                type="checkbox"
              >
              <label
                class="form-check-label"
                v-html="$translator.trans(messageAcceptCondition)"
              />
              <div
                v-if="isAcceptCondition"
                class="invalid-feedback d-block"
              >
                {{ $translator.trans('Field can not be empty') }}
              </div>
            </div>
          </form>
          <alert
            v-if="errorMessage"
            :text="errorMessage"
            type="danger"
          />
        </div>
        <div class="modal-footer bg-transparent">
          <button
            aria-label="Close"
            class="btn btn-light"
            data-bs-dismiss="modal"
            type="button"
          >
            {{ $translator.trans('Cancel') }}
          </button>
          &nbsp;
          <button
            :disabled="!isFormValid"
            class="btn btn-primary"
            type="submit"
            @click="clickConfirm"
          >
            <template v-if="isFinished">
              {{ $translator.trans('Voir le replay') }}
            </template>
            <template v-else>
              {{ $translator.trans('I VALID') }}
            </template>
          </button>
        </div>
      </div>
      <div
        v-else
        class="modal-content"
      >
        <div class="modal-header">
          <h3
            class="d-flex mb-2 text-primary"
          >
            {{ $translator.trans('Successful registration!') }}
          </h3>
          <button
            aria-label="Close"
            class="btn-close"
            data-bs-dismiss="modal"
            type="button"
          />
        </div>
        <div class="modal-body text-center">
          <h1> 🥰 </h1>
          <br>
          <h3 class="text-success">
            {{ $translator.trans('THANK YOU FOR YOUR REGISTRATION') }}
          </h3>
          <br>
          <p>
            <a
              class="text-primary"
              :href="$routing.generate('_session_add_to_calendar', {token: accessToken})"
            >📅 {{ $translator.trans('Add event to my calendar') }}</a>
          </p>
          <br>
          <p class="mb-2">
            {{
              $translator.trans("Good news: access details have been sent to your email address!  Please check your inbox to find them. If you don't see them after a few minutes, we recommend that you check your spam folder")
            }}
          </p>
          <div class="mb-2">
            <p class="mb-2">
              {{ $translator.trans("Need help? Our team will be delighted to help you:") }}
            </p>
            <div
              v-if="session.client.services.mailSupport || session.client.services.phoneSupport"
              class="d-flex justify-content-center"
            >
              <a
                v-if="session.client.services.mailSupport"
                :href="'mailto:'+session.client.services.mailSupport"
                class="text-primary mx-1"
              >✉️ {{ session.client.services.mailSupport }}</a>
              <a
                v-if="session.client.services.phoneSupport"
                :href="'tel:'+session.client.services.phoneSupport"
                class="text-primary mx-1"
              >📱 {{ session.client.services.phoneSupport }}</a>
            </div>
          </div>

          <p><strong>{{ $translator.trans('We look forward to welcoming you to our event.') }}</strong></p>
        </div>
        <div class="modal-footer bg-transparent">
          <button
            aria-label="Close"
            class="btn btn-light"
            data-bs-dismiss="modal"
            type="button"
          >
            {{ $translator.trans('Exit') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import {
  isValidEmail
} from '../../../self-subscription-hub/login-register/rules-visualizer/email-checker.utils'
import Alert from '../../ui/Alert.vue'
import DateTimeInput from '../../ui/DateTimeInput.vue'

export default {
  name: 'RegistrationPageNewParticipantModal',
  components: {
    DateTimeInput,
    Alert
  },
  props: {
    page: {
      type: Object,
      default: () => ({})
    },
    session: {
      type: Object,
      default: () => ({})
    },
    email: {
      type: String,
      required: false,
      default: ''
    },
    isFinished: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      title: this.$translator.trans('I\'m registering'),
      messageAcceptCondition: 'I agree to the <strong><a href="https://live-session.fr/confidentialite/" target="_blank"> Live Session Terms and Conditions </a></strong> and acknowledge that I have been informed and consent to the processing of my personal data detailed in the <strong><a href="https://live-session.fr/mentions-legales/" target="_blank"> Live Session Privacy Policy </a></strong>.',
      emailParticipant: this.email,
      lastname: '',
      firstname: '',
      company: '',
      showModal: true,
      processing: false,
      registrationSuccess: false,
      accessToken: null,
      errorMessage: null,
      isLastNameEmpty: false,
      isFirstNameEmpty: false,
      isInvalidEmail: false,
      acceptCondition: false,
      isAcceptCondition: false,
      formRegistrationValid: true,
      formValid: false,
      myRadioShow: {},
      selectedCheckboxShow: {},
      modal: null
    }
  },
  computed: {
    isFormValid () {
      this.checkStatusFiled()
      this.isFormRegistrationValid()
      return (this.emailParticipant) && (isValidEmail(this.emailParticipant) !== null) && this.lastname !== '' && this.firstname !== '' && this.acceptCondition && this.formRegistrationValid
    }
  },
  watch: {
    email () {
      this.emailParticipant = this.email
    }
  },
  mounted () {
    this.modal = new this.$bootstrap.Modal(document.getElementById('RegistrationPageNewParticipantModal_new_participant'))
    this.page.registrationForm.forEach((value, index) => {
      switch (value.type) {
        case 'checkbox':
          this.selectedCheckboxShow[index] = []
          break
      }
    })
  },
  methods: {
    clickConfirm () {
      this.processing = true
      if (!isValidEmail(this.emailParticipant)) {
        this.isInvalidEmail = true
      }
      if (this.lastname === '') {
        this.isLastNameEmpty = true
      }
      if (this.firstname === '') {
        this.isFirstNameEmpty = true
      }
      if (!this.acceptCondition) {
        this.isAcceptCondition = true
      }
      if (this.isFormValid) {
        this.$axios.post(this.$routing.generate(this.isFinished ? '_subscription_replay' : '_subscription_new_participant', {
          client: this.session.client.slug,
          session: this.session.id,
          email: this.emailParticipant,
          lastname: this.lastname,
          firstname: this.firstname,
          formAnswer: this.page.registrationForm
        }))
          .then((response) => {
            this.processing = false
            this.errorMessage = null
            if (this.isFinished) {
              open(response.data.message.replayLink, '_blank')
              this.modal.hide()
            } else {
              this.registrationSuccess = true
              this.accessToken = response.data.message.currentUser.token
              this.$emit('registration-success', response.data.message.currentUser)
            }
          }).catch((error) => {
            this.processing = false
            this.errorMessage = this.$translator.trans(error.response.data.message.text)
          })
      }
      return false
    },
    checkStatusFiled () {
      if ((this.emailParticipant) && isValidEmail(this.emailParticipant)) {
        this.isInvalidEmail = false
      }
      if (this.lastname !== '') {
        this.isLastNameEmpty = false
      }
      if (this.firstname !== '') {
        this.isFirstNameEmpty = false
      }
      if (this.acceptCondition) {
        this.isAcceptCondition = false
      }
    },
    placeholderInputType (element) {
      if (element.obligatory) {
        return this.$translator.trans(element.question) + ' *'
      } else {
        return this.$translator.trans(element.question)
      }
    },
    updateInputCheckboxValue (element, index) {
      element.response = this.selectedCheckboxShow[index]
      this.isFormRegistrationValid()
    },
    updateInputRadioBoxValue (element, index) {
      element.response = this.myRadioShow[index]
      this.isFormRegistrationValid()
    },
    isFormRegistrationValid () {
      if (this.page.registrationForm) {
        const formRegistrationValid = []
        this.page.registrationForm.forEach((element, index) => {
          switch (element.type) {
            case 'radio':
              if (element.obligatory) {
                if (typeof this.myRadioShow[index] === 'undefined') {
                  formRegistrationValid[index] = false
                  return false
                } else {
                  formRegistrationValid[index] = this.myRadioShow[index] !== null
                }
              }
              break
            case 'checkbox':
              if (element.obligatory) {
                if (typeof this.selectedCheckboxShow[index] === 'undefined') {
                  formRegistrationValid[index] = false
                } else if (this.selectedCheckboxShow[index].length === 0) {
                  formRegistrationValid[index] = false
                } else {
                  formRegistrationValid[index] = this.selectedCheckboxShow[index].length > 0
                }
              }
              break
            case 'tel': {
              if (element.obligatory) {
                if (element.response === '') {
                  formRegistrationValid[index] = false
                } else {
                  formRegistrationValid[index] = element.response !== ''
                }
                if (!/^(?:(?:\+|00)33|0)\s*[1-9](?:[\s.-]*\d{2}){4}$/.test(element.response)) {
                  formRegistrationValid[index] = false
                }
              }
              break
            }
            default:
              if (element.obligatory) {
                if (element.response === '') {
                  formRegistrationValid[index] = false
                } else {
                  formRegistrationValid[index] = element.response !== ''
                }
              }
              break
          }
        })
        this.formRegistrationValid = !formRegistrationValid.includes(false)
      }
      return this.formRegistrationValid
    }
  }
}
</script>
