<template>
  <header
    id="header"
    class="nq-header position-relative text-center d-flex justify-content-between align-content-center flex-sm-row flex-column-reverse"
  >
    <div
      id="header-action"
      class="bg-transparent d-none d-sm-block py-4"
    />

    <div
      id="logo"
      class="py-4"
    >
      <a
        href="#"
        :title="page.client.name"
      >
        <img
          v-if="page.blockGraphicalCharter.logoUri"
          class="img-logo img-fluid"
          :src="page.blockGraphicalCharter.logoUri"
          :alt="page.client.name"
        >
      </a>
      <span
        v-if="page.blockUpperBanner.catchphrase"
        class="baseline px-2"
      >
        {{ page.blockUpperBanner.catchphrase }}
      </span>
    </div>

    <div
      id="header-action"
      class="d-block"
      :class="(page.blockUpperBanner.needHelpCheck || page.blockUpperBanner.connexionHelpCheck) ? 'bordered' : 'bg-transparent'"
    >
      <ul
        v-if="page.blockUpperBanner.needHelpCheck || page.blockUpperBanner.connexionHelpCheck"
        class="d-table position-relative w-100 h-100 p-0"
      >
        <li
          v-if="page.blockUpperBanner.needHelpCheck"
          class="d-table-cell d-sm-table-row h-50"
        >
          <a class="px-3 d-table w-100 h-100">
            <span class="d-table-cell align-middle">
              <span class="icon me-1 d-inline-block align-middle">
                <img
                  v-if="page.blockUpperBanner.needHelpIconUri"
                  class="logo"
                  :src="page.blockUpperBanner.needHelpIconUri"
                  alt="call"
                  referrerpolicy="no-referrer"
                >
              </span>
              <span class="text d-inline-block align-middle">{{
                $translator.trans(page.blockUpperBanner.needHelp)
              }}</span>
              <span class="tel d-block align-middle text-primary">{{ page.blockUpperBanner.supportCoordinates }}</span>
            </span>
          </a>
        </li>
        <li
          v-if="page.blockUpperBanner.connexionHelpCheck && !disableHelpToConnect"
          class="d-table-cell d-sm-table-row h-50"
        >
          <a
            :href="faqsUri"
            target="_blank"
            class="px-3 d-table w-100 h-100"
          >
            <span class="d-table-cell align-middle">
              <span class="icon me-1 d-inline-block align-middle">
                <img
                  class="logo"
                  src="/build/static/icons/question-webinar.svg"
                  alt="info"
                  referrerpolicy="no-referrer"
                >
              </span>
              <span class="text d-inline-block align-middle">{{
                $translator.trans(page.blockUpperBanner.connexionHelp)
              }}</span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </header>
</template>

<script>
export default {
  name: 'RegistrationPageHeader',
  props: {
    page: {
      type: Object,
      default: () => ({})
    },
    isPreview: {
      type: Boolean,
      default: false
    },
    session: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    faqsUri () {
      if (this.isPreview) {
        return this.$routing.generate('_registration_page_template_faqs', { id: this.page.id })
      }
      return this.$routing.generate('_registration_page_weblink_faqs', {
        client: this.session.client.slug,
        session: this.session.id
      })
    },
    disableHelpToConnect () {
      return this.page.activeFaqs.length === 0
    }
  }
}
</script>
