<template>
  <div class="container">
    <div class="ratio ratio-16x9 video-responsive mx-auto">
      <a
        v-if="session.replayVideoPlatform === WEBINAR_REPLAY_PLATFORM_OTHER"
        :href="urlReplay"
        target="_blank"
      >
        <div class="layout-player">
          <img
            src="/build/static/icons/white-play-button.svg"
            alt=""
          >
        </div>
        <img
          v-if="session.photoReplay"
          :src="photoUri"
          class="img-fluid"
          alt=""
        >
        <img
          v-else
          src="/build/static/show-replay.png"
          class="img-fluid"
          alt=""
        >
      </a>
      <iframe
        v-if="session.replayVideoPlatform !== WEBINAR_REPLAY_PLATFORM_OTHER"
        :src="urlReplay"
      />
    </div>
  </div>
</template>

<script>
import { WEBINAR_REPLAY_PLATFORM_OTHER } from '../../../store/module/session'
import { mapGetters } from 'vuex'

export default {
  name: 'RegistrationPageVideo',
  props: {
    session: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    ...mapGetters({ videoPlatforms: 'session/videoPlatform' }),
    photoUri () {
      return '/uploads/registration_page_template/' + this.session.photoReplay
    },
    currentPlatform () {
      return this.videoPlatforms.find(platform => platform.value === this.session.replayVideoPlatform)
    },
    urlReplay () {
      if (this.session.replayVideoPlatform !== WEBINAR_REPLAY_PLATFORM_OTHER && this.session.replayUrlKey !== '') {
        return this.currentPlatform.url + this.session.replayUrlKey
      } else {
        return this.session.replayUrlKey
      }
    },
    WEBINAR_REPLAY_PLATFORM_OTHER () {
      return WEBINAR_REPLAY_PLATFORM_OTHER
    }
  }
}
</script>
