<template>
  <div>
    <div
      v-if="session.sessionTest"
      class="alert alert-info alert-dismissible text-center"
    >
      {{ $translator.trans('This is a test session and no action is allowed. Please do not share the registration link with your participants.') }}
    </div>
    <registration-page-header
      :page="template"
      :is-preview="isPreview"
      :session="session"
    />

    <registration-page-faq-main
      v-if="isFaqs"
      :template="template"
    />

    <registration-page-main
      v-else
      :session="session"
      :is-replay="isReplay"
      :is-preview="isPreview"
      :template="template"
    />

    <footer
      id="footer"
      style="left: 0;bottom: 0;width: 100%;"
    >
      <registration-page-footer
        v-if="isLogoUriOrSocialNetworksCheckOrLegalNoticeCheckOrPrivacyCheck"
        :page="template"
      />
      <registration-page-l-s-footer />
    </footer>
  </div>
</template>

<script>
import RegistrationPageHeader from './RegistrationPageHeader.vue'
import RegistrationPageFooter from './footer/RegistrationPageFooter.vue'
import RegistrationPageLSFooter from './footer/RegistrationPageLSFooter.vue'
import RegistrationPageMain from './RegistrationPageMain.vue'
import RegistrationPageFaqMain from '../faq/RegistrationPageFaqMain.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'RegistrationPage',
  components: {
    ...mapGetters({ faqs: 'template/activeFAQs' }),
    RegistrationPageFaqMain,
    RegistrationPageMain,
    RegistrationPageLSFooter,
    RegistrationPageFooter,
    RegistrationPageHeader
  },
  props: {
    template: {
      type: Object,
      default: () => ({})
    },
    session: {
      type: Object,
      default: () => ({})
    },
    isPreview: {
      type: Boolean,
      default: false
    },
    isReplay: {
      type: Boolean,
      default: false
    },
    isFaqs: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    isLogoUriOrSocialNetworksCheckOrLegalNoticeCheckOrPrivacyCheck () {
      return this.template.blockGraphicalCharter.logoUri || (this.template.blockLowerBanner.socialNetworksCheck || this.template.blockLowerBanner.legalNoticeCheck) || this.template.blockLowerBanner.privacyCheck
    }
  }
}
</script>
