<template>
  <div class="nq-description mx-auto mb-5">
    <h2 class="nq-heading d-block text-center fs-3 lh-sm my-3 text-primary">
      {{ page.blockDescription.descriptionTitle }}
    </h2>
    <div class="nq-rte">
      <p
        style="margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-size: 14px; line-height: 1.5625rem; color: rgb(72, 73, 77); font-family: Roboto, sans-serif;"
        v-html="session.providerSessionRegistrationPage.description"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'RegistrationPageAbout',
  props: {
    page: {
      type: Object,
      default: () => ({})
    },
    session: {
      type: Object,
      default: () => ({})
    }
  }
}
</script>

<style scoped>

</style>
