<template>
  <div class="d-flex mb-3 mb-sm-0 flex-column flex-column-row p-2 mx-auto">
    <span class="stakeholder-photo text-center d-inline-block align-top">
      <img
        v-if="speaker.photo"
        :src="isPreview ? speaker.photo : speaker.photoUri"
        :alt="speaker.name"
        class="img-fluid"
      >
      <img
        v-else
        :alt="speaker.name"
        src="/build/static/icons/avatar-default.svg"
      >
    </span>
    <span class="stakeholder-infos text-center d-inline-block align-top mt-1">
      <strong
        v-if="speaker.name"
        class="d-block author fs-6"
      >
        {{ speaker.name }}
      </strong>
      <span
        v-if="speaker.title"
        class="d-block"
      >
        {{ speaker.title }}
      </span>
      <span
        v-if="speaker.information"
        class="d-block job"
      >
        {{ speaker.information }}
      </span>
    </span>
  </div>
</template>

<script>
export default {
  name: 'RegistrationPageSpeakerItem',
  props: {
    speaker: {
      type: Object,
      default: () => ({})
    },
    isPreview: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped>

</style>
