<template>
  <main class="p-0 m-0">
    <section class="resume-webinar position-relative w-100 d-flex align-items-center justify-content-center">
      <article
        :class="template.blockGraphicalCharter.illustration || session.registrationPageTemplateIllustration ? 'resume-with-illustration' : ''"
        class="resume-webinar-container overflow-hidden mx-2 mx-sm-0 text-start"
      >
        <registration-page-banner
          :session="session"
          :page="template"
          :is-replay="isReplay"
          :is-preview="isPreview"
        />
      </article>
    </section>

    <section class="about-part-webinar px-3 pt-5 px-md-0 position-relative">
      <registration-page-video
        v-if="isReplay && session.replayUrlKey"
        :session="session"
      />
      <div
        class="nq-container-webinar mx-auto px-3 py-2"
      >
        <registration-page-about
          v-if="template.blockDescription.descriptionCheck"
          :page="template"
          :session="session"
        />
        <registration-page-speaker
          v-if="template.blockDescription.speakersCheck"
          :speakers="session.speakers"
          :page="template"
          :is-preview="isPreview"
        />
      </div>
    </section>
  </main>
</template>

<script>

import RegistrationPageAbout from './RegistrationPageAbout.vue'
import RegistrationPageSpeaker from './RegistrationPageSpeaker.vue'
import RegistrationPageBanner from './RegistrationPageBanner.vue'
import RegistrationPageVideo from './RegistrationPageVideo.vue'

export default {
  name: 'RegistrationPageMain',
  components: { RegistrationPageVideo, RegistrationPageAbout, RegistrationPageSpeaker, RegistrationPageBanner },
  props: {
    template: {
      type: Object,
      default: () => ({})
    },
    session: {
      type: Object,
      default: () => ({})
    },
    isPreview: {
      type: Boolean,
      default: false
    },
    isReplay: {
      type: Boolean,
      default: false
    }
  }
}
</script>
