<template>
  <div class="container-fluid">
    <div class="row h-100 p-0 resume-webinar-content h-auto">
      <div
        v-if="page.blockGraphicalCharter.illustration || session.registrationPageTemplateIllustration"
        class="col-12 col-sm-3 p-0 m-0 picture-webinar-container"
      >
        <div
          class="picture-webinar-content w-100 h-100"
        />
      </div>
      <div
        :class="page.blockGraphicalCharter.illustration || session.registrationPageTemplateIllustration ? 'col-sm-9' : 'col-sm-12'"
        class="col-12 col-sm-9 resume-webinar-infos"
      >
        <div
          v-if="isReplay"
          class="heading-replay mb-2"
        >
          <div class="d-flex align-items-center justify-content-center me-2">
            <img
              class="logo"
              src="/build/static/icons/replay.svg"
              alt="horloge"
              referrerpolicy="no-referrer"
              style="width: 19px; height: 19px"
            >
          </div>
          <span>replay</span>
        </div>

        <div class="row resume-webinar-desc m-0 p-0 h-100">
          <div
            :class="{
              'col-12 col-sm-12 text-center': isReplay
            }"
            class="col-12 col-sm-8 p-0 m-0"
          >
            <div class="title">
              <h2 class="d-flex mb-2 text-primary">
                {{ session.name }}
              </h2>
            </div>
          </div>
          <div
            :class="{
              'col-12 col-sm-12 text-center': isReplay
            }"
            class="col-12 col-sm-9 ps-0 me-auto"
          >
            <h6
              v-if="!isReplay"
              class="fst-italic mb-1 lh-sm text-primary"
            >
              {{ session.dateStart|formatDate('datetime_med') }}
            </h6>
            <p>
              {{ session.providerSessionRegistrationPage.description2 }}
            </p>
          </div>
          <div
            :class="{
              'col-12 col-sm-12 text-center': isReplay
            }"
            class="col-12 col-sm-3 p-0 m-sm-0 my-2"
          >
            <div class="d-flex infos ms-auto">
              <ul
                :class="{
                  'mx-auto my-auto': isReplay
                }"
                class="ps-0 ms-sm-auto ms-0"
                style="list-style-type: none"
              >
                <li
                  :class="{
                    'mb-3': !isReplay,
                    'mt-2': isReplay
                  }"
                  class="info-time"
                >
                  <span class="icon me-1 d-inline-block align-middle">
                    <img
                      class="logo"
                      src="/build/static/icons/clock-webinar.svg"
                      alt="horloge"
                      referrerpolicy="no-referrer"
                    >
                  </span>
                  <span class="text d-inline-block align-middle fw-bold lh-sm">{{ duration }}</span>
                </li>
                <li
                  v-if="!isReplay"
                  class="info-nbr mb-3"
                >
                  <span class="icon me-1 d-inline-block align-middle">
                    <img
                      class="logo"
                      src="/build/static/icons/groupe-webinar.svg"
                      alt="groupe-black"
                      referrerpolicy="no-referrer"
                    >
                  </span>
                  <span class="text d-inline-block align-middle fw-bold lh-sm">
                    <template v-if="session.providerSessionRegistrationPage.places === 0 || session.providerSessionRegistrationPage.places === null">
                      {{ $translator.trans('Unlimited') }}
                    </template>
                    <template v-else>
                      <template v-if="session.registrationPagePlaceAvailable === 0">
                        {{ $translator.trans('Complete') }}
                      </template>
                      <template v-else>
                        {{ $translator.trans('%count% places', { count: session.registrationPagePlaceAvailable }) }}
                      </template>
                    </template>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <form
            v-if="!isReplay"
            class="col-12 resume-webinar-form mt-auto p-0 m-0 pt-2"
            @submit="submitForm"
          >
            <div
              class="form-group overflow-hidden mt-3"
            >
              <h3
                v-if="session.finished && !session.publishedReplay"
                class="text-center"
              >
                {{ $translator.trans('The event is over.') }} 🙂
              </h3>
              <div
                v-else
                class="input-group"
              >
                <input
                  v-model="email"
                  style="background: #E6E6E6;"
                  class="form-inline-field form-control email-subscribe border-0"
                  type="email"
                  :placeholder="$translator.trans('My email')"
                  :disabled="!session.finished && session.sessionTest"
                  @input="mailIsValid()"
                >
                <div
                  class="input-group-append"
                >
                  <loader
                    v-if="processing"
                    class="btn btn-primary event-subscribe-btn text-uppercase"
                  />
                  <button
                    v-if="isNotHaveAccessToShowReplay"
                    class="btn btn-primary event-subscribe-btn text-uppercase"
                    role="button"
                    :disabled="true"
                  >
                    {{ $translator.trans('NOT REGISTERED') }}
                  </button>
                  <button
                    v-else-if="showButton && !newRegistration"
                    class="btn btn-primary event-subscribe-btn text-uppercase"
                    :data-bs-target="notRegistered ? '#RegistrationPageNewParticipantModal_new_participant' : null"
                    :data-bs-toggle="notRegistered ? 'modal' : null"
                    role="button"
                    :disabled="disableButton"
                    @click="session.finished && !notRegistered ? seeReplay() : null"
                  >
                    <template v-if="session.finished">
                      {{ $translator.trans('Watch the replay') }}
                    </template>
                    <template v-else>
                      {{ $translator.trans('I\'m registering') }}
                    </template>
                  </button>
                </div>
              </div>
            </div>
            <div>
              <p v-if="(currentUser && currentUser.id && newRegistration) && !isRegisteredAndSessionNotFinished">
                {{ $translator.trans('Thank you for registering!') }} <strong
                  style="cursor: pointer"
                  class="text-primary"
                  @click="resendCommunication()"
                >{{ $translator.trans('Send me back the access link!') }} 😊</strong>
              </p>
              <p v-if="isRegisteredAndSessionNotFinished">
                {{ $translator.trans('Email address already registered.') }} <strong
                  style="cursor: pointer"
                  class="text-primary"
                  @click="resendCommunication()"
                >{{ $translator.trans('Send me back the access link!') }} 😊</strong>
              </p>
              <alert
                v-else-if="isNotHaveAccessToShowReplay"
                class="mt-3"
                :text="$translator.trans( 'Your email does not match the one used when you registered. Check the email or contact the %client% team to gain access.', {
                  client: session.client.name
                } ) + '😕'"
                type="warning"
              />
              <alert
                v-else-if="errorMessageSendCommunication"
                type="danger"
                :text="errorMessageSendCommunication"
              />
              <alert
                v-if="messageSuccessSendCommunication"
                type="success"
                :text="$translator.trans('The link has been resent')"
              />
              <loader
                v-if="processingSendCommunication"
                class="me-1"
              />
            </div>
            <span v-if="hasNoPlaceAvailableAndNotFinished">
              {{
                $translator.trans('If you have already registered for the webinar, add your email to receive your login link again.')
              }}
            </span>
          </form>
        </div>
      </div>
    </div>

    <registration-page-new-participant-modal
      v-if="showModalRegistration"
      :page="page"
      :email="email"
      :session="session"
      :is-finished="session.finished"
      @registration-success="registrationSuccess"
    />
  </div>
</template>

<script>

import RegistrationPageNewParticipantModal from './RegistrationPageNewParticipantModal.vue'
import Loader from '../../ui/Loader.vue'
import { isValidEmail } from '../../../self-subscription-hub/login-register/rules-visualizer/email-checker.utils'
import Alert from '../../ui/Alert.vue'

export default {
  name: 'RegistrationPageBanner',
  components: {
    Alert,
    Loader,
    RegistrationPageNewParticipantModal
  },
  props: {
    session: {
      type: Object,
      default: () => ({})
    },
    page: {
      type: Object,
      default: () => ({})
    },
    isReplay: {
      type: Boolean,
      default: false
    },
    isPreview: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      email: null,
      errorMessage: null,
      errorMessageSendCommunication: null,
      messageSuccess: null,
      messageSuccessSendCommunication: null,
      currentUser: null,
      isDisabled: false,
      isInscrit: false,
      newRegistration: false,
      isNotHaveAccess: false,
      showModalRegistration: true,
      processing: false,
      processingSendCommunication: false,
      messageHeIsRegistered: 'You are already registered for this event.'
    }
  },
  computed: {
    showButton () {
      return (this.notRegisteredAndPlaceAvailableAndNotFinished || this.session.finished) && !this.processing
    },
    duration () {
      const hours = Math.floor(this.session.duration / 60)
      const minutes = this.session.duration % 60
      const formattedMinutes = minutes < 10 ? '0' + minutes : minutes
      return hours + 'h' + formattedMinutes
    },
    notRegistered () {
      return !this.isInscrit
    },
    notRegisteredAndPlaceAvailableAndNotFinished () {
      return !this.isInscrit && (this.session.registrationPagePlaceAvailable > 0 || this.session.providerSessionRegistrationPage.places === 0 || this.session.providerSessionRegistrationPage.places === null) && !this.session.finished
    },
    hasNoPlaceAvailableAndNotFinished () {
      return this.session.registrationPagePlaceAvailable <= 0 && this.session.providerSessionRegistrationPage.places !== 0  && this.session.providerSessionRegistrationPage.places !== null && !this.session.finished
    },
    isRegisteredAndSessionNotFinished () {
      return this.isInscrit && !this.session.finished
    },
    isNotHaveAccessToShowReplay () {
      return this.session.finished && this.isNotHaveAccess
    },
    disableButton () {
      if (!this.session.finished) {
        return !this.isDisabled
      } else {
        if (!this.isDisabled && this.isInscrit) {
          return false
        } else if (!this.isDisabled) {
          return true
        }
      }
      return false
    }
  },
  watch: {
    email () {
      this.newRegistration = false
    }
  },
  methods: {
    submitForm (e) {
      e.preventDefault()
    },
    checkInscritParticipant () {
      this.processing = true
      this.isNotHaveAccess = false
      this.$axios.get(this.$routing.generate('_check_participant_inscrit', {
        client: this.session.client.slug,
        session: this.session.id,
        email: this.email
      }))
        .then((response) => {
          this.processing = false
          this.errorMessage = null
          this.messageSuccess = true
          this.isInscrit = response.data.message.isInscrit
          this.showModalRegistration = !this.isInscrit
          this.isDisabled = !this.isInscrit
          if (this.isInscrit) {
            this.currentUser = response.data.message.currentUser
          }
          if (response.data.message.isNotHaveAccess) {
            this.isNotHaveAccess = response.data.message.isNotHaveAccess
          }
        }).catch(() => {
          this.processing = false
          this.errorMessage = this.$translator.trans('An error has occurred')
        })
    },
    mailIsValid () {
      if (this.email && isValidEmail(this.email) && !this.isPreview) {
        this.checkInscritParticipant()
      } else {
        if (this.isInscrit) this.isInscrit = false
        this.isDisabled = false
      }
    },
    resendCommunication () {
      this.processingSendCommunication = true
      if (this.currentUser) {
        this.$axios.post(this.$routing.generate('_resend_communication', {
          client: this.session.client.slug,
          session: this.session.id,
          currentUserId: this.currentUser.id
        })).then((response) => {
          this.processingSendCommunication = false
          this.errorMessageSendCommunication = null
          this.messageSuccessSendCommunication = true
        }).catch(() => {
          this.processingSendCommunication = false
          this.errorMessageSendCommunication = this.$translator.trans('An error has occurred')
          this.messageSuccessSendCommunication = false
        })
      }
    },
    seeReplay () {
      open(this.$routing.generate('_weblink_replay', {
        token: this.currentUser.token,
        client: this.session.client.slug,
        session: this.session.id
      }), '_blank')
    },
    registrationSuccess (data) {
      this.newRegistration = true
      this.currentUser = data
    }
  }
}
</script>

<style scoped>

</style>
