{% extends 'main.html.twig' %}

{% block main %}
    {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}

        {{ form_row(form.email) }}

        <input type="submit" value="Create">
    {{ form_end(form) }}
{% endblock %}