<div class="modal fade" id="userParticipantFormModal" tabindex="-1" aria-labelledby="userParticipantFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userParticipantFormModalLabel">{{ 'New participant'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {{ form_start(form, {'attr': {'class': 'form' ,'method': 'POST', 'action': path('_participant_create')}}) }}
            <div class="modal-body">
                {{ form_row(form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">{{ 'Close'|trans }}</button>
                <button type="submit" class="btn btn-primary">{{ button_label|default('Save')|trans  }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
