{% extends 'main.html.twig' %}
{% set routeActive = '_participant_list' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('users-participants-list') }}
    {{ encore_entry_link_tags('collection-type') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('users-participants-list') }}
    {{ encore_entry_script_tags('collection-type') }}
{% endblock %}

{% block main %}
    <div class="page-title">
        <h1>{{ title|trans }}</h1>
        {% if is_granted('ROLE_MANAGER') %}
            <a href="#" class="primary-btn" data-bs-toggle="modal" data-bs-target="#userParticipantFormModal">
                <img alt="plus white picto" src="{{ asset('build/static/icons/plus-white.svg') }}" class="me-2">
                {{ 'New'|trans }}
            </a>
        {% endif %}
    </div>
    <div class="col-md-12">
        {% include('flash_messages.html.twig') %}
    </div>
    <div id="users-participants-list">
        <users-participants-list
            :import-restrictions="{{ importRestrictions | serialize }}"
            :clients="{{ clients|serialize('json', {'groups': 'read_client'}) }}"
            :bounced-mails="{{ bouncedMails|serialize('json', {'groups': 'read_participant'}) }}"
            :is-super-admin='{{ is_granted('ROLE_ADMIN') ? 'true' : 'false' }}'
            {% if preSearch is defined and preSearch is not null %}
                :pre-search="'{{ preSearch }}'"
            {% endif %}
        />
    </div>
{% endblock %}

{% block modals %}
    {% if is_granted('ROLE_MANAGER') %}
        {{ render(controller('App\\Controller\\UserController::create')) }}
    {% endif %}
{% endblock %}
