<template>
  <div class="col">
    <div class="mb-3">
      <h5 class="fw-bold title-underline title-underline-primary">
        {{ $translator.trans('Trainings') }}
      </h5>
    </div>
    <div class="mb-4 form__item">
      <label
        for="menu_item.formation"
        class="form-label required"
      >{{ $translator.trans('Menu item name') }}</label>
      <input
        id="menu_item.formation"
        v-model="module.personalization.trainingTitle"
        name="menu_item.formation"
        required
        class="form-control w-100"
        :placeholder="$translator.trans('Trainings')"
      >
    </div>

    <div class="mb-3 form__item">
      <div class="d-flex align-items-center position-relative">
        <label
          for="menu_item.formation.banner"
          class="form-label mb-0"
        >{{ $translator.trans('Banner') }}</label>
        <span class="bubble-information ms-2">5</span>
      </div>
      <label for=""><small>{{ $translator.trans('Optional. On the small screen, keep:') }}</small></label>

      <ul class="d-flex justify-content-between w-100">
        <li class="form-check">
          <label
            class="form-check-label"
            for="menu_item.formation.right"
          >{{ $translator.trans('the right side') }}</label>
          <input
            id="menu_item.formation.right"
            v-model="module.personalization.trainingBannerPosition"
            type="radio"
            name="menu_item.formation"
            class="form-check-input inline"
            value="right"
          >
        </li>
        <li class="form-check">
          <label
            class="form-check-label"
            for="menu_item.formation.center"
          >{{ $translator.trans('center') }}</label>
          <input
            id="menu_item.formation.center"
            v-model="module.personalization.trainingBannerPosition"
            type="radio"
            name="menu_item.formation"
            class="form-check-input inline"
            value="center"
          >
        </li>
        <li class="form-check">
          <label
            class="form-check-label"
            for="menu_item.formation.left"
          >{{ $translator.trans('left') }}</label>
          <input
            id="menu_item.formation.left"
            v-model="module.personalization.trainingBannerPosition"
            type="radio"
            name="menu_item.formation"
            class="form-check-input inline"
            value="left"
          >
        </li>
      </ul>

      <menu-personalization-formation-banner />
    </div>

    <div class="form__item mb-3">
      <div class="d-flex align-items-center position-relative">
        <label
          for="menu_item.formation.description"
          class="form-label mb-0"
        >{{ $translator.trans('Page description' ) }}</label>
        <span class="bubble-information ms-2">6</span>
      </div>
      <textarea
        v-model="module.personalization.trainingDescription"
        name="menu_item.formation.description"
        class="form-control w-100"
        style="height: 100px"
        maxlength="200"
      />
    </div>
  </div>
</template>

<script>
import MenuPersonalizationFormationBanner from './MenuPersonalizationFormationBanner.vue'
import { mapState } from 'vuex'

export default {
  name: 'MenuPersonalizationFormation',
  components: { MenuPersonalizationFormationBanner },
  computed: {
    ...mapState('module', ['module', 'clients']),
    ...mapState('process', ['formErrors'])
  }
}
</script>
